[2021-05-27 12:10] taalexander opened #6469 "Backend configuration should have a field parametric_pulses which conveys the supported parametric pulses by the backend"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently, the [`assemble`](https://qiskit.org/documentation/stubs/qiskit.compiler.assemble.html) method accepts `parametric_pulses` argument, and if not set this value will be pulled from the `backend.configuration().parametric_pulses`. This field is automatically provided

[2021-05-27 14:31] peendebak commented on #6367
@enavarro51 That is indeed what I was looking for! The fact that the images are small is something the drawer cannot help off course. The second image already looks better btw!

Is there are PR for these improvements already?

[2021-05-27 14:33] eptru commented on #6465
Newcomer here. I am interested in taking this once we reach a decision! I can take the label issue at the same time.

[2021-05-27 14:34] rafal-pracht commented on #6469
@taalexander may I work on this issue?

[2021-05-27 14:46] peendebak commented on #6468
@howie-kuo Can you have a look at https://github.com/Qiskit/qiskit-terra/pull/6472? It adds a pass to remove small rotations. (have not tested it a lot yet)

[2021-05-27 14:53] enavarro51 commented on #6367
Unfortunately not. I've completed the work, but haven't submitted it yet as I'm waiting on several other PRs to get merged before mine goes through. The change required a significant reorg of the mpl drawer, so to avoid a lot of merge conflicts, I'm waiting for some intermediate PRs to get merged.

[2021-05-27 15:24] Avhijit-codeboy commented on #6436
Hi! I would like to work on this issue. Can you provide more context?

[2021-05-27 15:28] Avhijit-codeboy commented on #6441
Hi @desireevl !
I don't know to what extent I can understand the paper, but would love to give it a try and work with your team in implementing this algorithm.

[2021-05-27 15:31] Avhijit-codeboy commented on #6411
Hi @nonhermitian !

This is an interesting issue. I would love to fix this, but this is my first time contributing to Qiskit, so a lot of guidance will be helpful.

[2021-05-27 16:05] #5873 closed

[2021-05-27 16:09] kdk commented on #6468
This is an interesting one. Since the gates are parameterized (and we don't presently have bounds for circuit parameters), there is the possibility in general that the parameter value could be sufficiently large to make the rotation substantial, as you mentioned in the Qiskit slack. Once the parameter values are known, and the circuit is re-transpiled prior to device execution, these small rotatio

[2021-05-27 16:37] TheGupta2012 commented on #5748
Hey @nonhermitian
Can I have a go at this issue?

[2021-05-27 16:37] nonhermitian commented on #5748
Sure go for it!

[2021-05-27 16:40] kdk opened #6473 "Optimize1qGatesDecompositions does not optimize single (non-parameterized) epsilon rotations"
### Information

- **Qiskit Terra version**: main @ aceac9ea
- **Python version**: 3.6
- **Operating system**: osx 10.15.7

### What is the current behavior?

While looking into #6468 , `Optimize1qGatesDecompositions` will remove runs of (non-parameterized) single qubit gates if their net operation is sufficiently close to the identity, but will not do so for runs of only a single gate.

### Steps

[2021-05-27 16:47] mtreinish commented on #6473
We probably just need to add some tolerance to this line: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/passes/optimization/optimize_1q_decomposition.py#L83 basically just swap that with numpy `equiv` instead of `equals` (using approximation degree for the tolerance might make sense too)

[2021-05-27 17:39] kdk commented on #6005
Thanks for reporting @LaurinFischer . I believe this should have been resolved by #6266 , but please re-open if you're still seeing this behavior.

[2021-05-27 17:39] #6005 closed

[2021-05-27 17:59] TheGupta2012 commented on #5748
Hey @nonhermitian
Got the error and it was just a simple rounding off error in the `QuantumState` module particularly
`        return self._vector_to_dict(
            self.probabilities(qargs=qargs, decimals=decimals),
            self.dims(qargs),
            string_labels=True)`

The `decimals` argument was responsible for the number of digits we round off to and what I wanted to confirm once w

[2021-05-27 18:24] ajavadia commented on #6461
I think this should only work for classical circuits (circuits consisting of X and controlled versions of X like CX, CCX, etc.) Although other circuits may exist that have other gates and are yet classical, I think to start we can just raise an error if a truth table is requested for other circuits.

It will be nice to then have a truth table synthesis method as a follow-on. I think the oracle syn

[2021-05-27 18:37] BlackSamorez opened #6474 "Typo in error message of Hamiltonian gate QASM function"
#### Description

Possible typo in error message: "HamiltonianGate **h**as no QASM definition."

https://github.com/Qiskit/qiskit-terra/blob/57261183f2f49882e24d255b7b9a9ab1e1c6421e/qiskit/extensions/hamiltonian_gate.py#L116

[2021-05-27 19:45] nonhermitian commented on #5748
By default I would drop everything < 1e-15 as those are all floating point zeros.

[2021-05-28 00:14] #5649 closed

[2021-05-28 05:57] TharrmashasthaPV opened #6475 "Single classical bit conditioning breaks various functions"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+f6b2c43
- **Python version**: 3.7

### What is the current behavior?

The PR #6018 enables classical conditioning of gates on individual bits. However, as mentioned in that PR, this new feature breaks the following functions:

- [ ] Condition value validation required. Currently only the non-negativity condition of the condition value is che

[2021-05-28 06:12] howie-kuo commented on #6468
I have been exploring and come up with a alternative and possibly more informative case.
![image](https://user-images.githubusercontent.com/37124579/119937434-dd37d200-bfde-11eb-867c-e8bb371ebc2a.png)

in this case, we have two stages, the first sandwidges some operation between a rotate forward, and rotate back. Very common when implementing $HxH^\dagger$ type of operations and the small angle wa

[2021-05-28 07:21] TharrmashasthaPV opened #6477 "Error in computing number of connected components using qc.num_connected_components()"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+27e96cb
- **Python version**: 3.7

### What is the current behavior?

When we try to use `qc.num_connected_components()` on a circuit involving `c_if()`, in some cases, the function outputs `0` as the number of connected components. However, this is not possible since there has to be at least one component, the whole circuit itself.

### Ste

[2021-05-28 10:44] boschmitt commented on #6461
For anyone interested, I can help with this just this short project.

After giving some thought on how to go about implementing this, I came up with the following points to be aware of

- First, as you mentioned, we must use a classical reversible gate set, i.e., X and its controlled versions + Swap
- More importantly, we need to clarify one point: When you say `truth table`, Are you referring the

[2021-05-28 10:53] dlasecki opened #6479 "Initializing an empty PauliSumOp"
### What is the expected enhancement?

If I am not mistaken, there is currently no option to initialize an empty PauliSumOp object. Having such a possibility would be helpful in the following case for example.

Current way (there may be others):
[code]

Desired:
[code]

[2021-05-28 12:36] TheGupta2012 commented on #5784
Can I have a go at this @1ucian0 ?

[2021-05-28 12:45] 1ucian0 commented on #5784
Sure thing! Thanks!

[2021-05-28 12:49] taalexander commented on #6469
Certainly 😄 , assigned. Please feel free to ask any questions you may have.

[2021-05-28 13:00] #3201 closed

[2021-05-28 13:00] #3006 closed

[2021-05-28 13:37] rupeshknn commented on #6465
All the control gates, like cu, cp, cry etc all have `ctrl_state` so I guess it would be preferable to add the same to ccx

[2021-05-28 13:58] TheGupta2012 commented on #5748
Hey @nonhermitian
I tried to make a PR but since I updated the docs too, it fails on 1 of the lint tests. Was I not supposed to do that?

[2021-05-28 15:15] Jwala-1908 commented on #6412
I would like to work on this issue.

[2021-05-28 17:47] rafal-pracht commented on #6469
Thanks, @taalexander  this is my first terra issue so I would like to confirm what I should do:
1. You say about BackendConfiguration class, but it is abstract class. You mean QasmBackendConfiguration or PulseBackendConfiguration class?
2. In the constructor of configuration class I should tread parametric_pulses parameter as regular one (similar as hamiltonian) or as key attribute similar as (cha

[2021-05-28 20:48] EgrettaThula opened #6481 "Plots generated by plot_circuit_layout need to be more readable for multi-register circuits"
### What is the expected enhancement?
Plots generated by ```plot_circuit_layout``` display the qubits indices only. For multi-register circuits, this is not enough.
For example, if we have the circuit
[code]
And we use ```plot_circuit_layout``` to draw the virtual layout

[code]
The result will be
![layout1](https://user-images.githubusercontent.com/61508651/120039536-c492e080-c00d-11eb-9bc1-8fc65

[2021-05-28 21:23] #5879 closed

[2021-05-28 22:08] kdk commented on #6434
Thanks @zlatko-minev , agree this is a bug in the documentation. The OpenQASM 2.0 doc uses `:=` to denote equality up to a global phase, so maybe we can re-use that here with a note explaining the expected difference in global phase between a `U3` and it's implementation.

[2021-05-28 22:17] mohitd commented on #3789
I can take over this issue.

[2021-05-29 00:15] zlatko-minev commented on #6434
Great, yes because I wonder if it then affects the controlled version of the gate?

Sent from my iPhone

[2021-05-29 13:14] Cryoris commented on #5748
It looks like you forgot to run `black` on the files, that's why the linter fails 🙂

[2021-05-29 13:52] #6474 closed

[2021-05-29 23:42] singhmeet11 commented on #6466
Hi, can I work on this issue?

[2021-05-30 08:55] ShellyGarion opened #6484 "Readout Mitigator Classes"
### What is the expected behavior?

Add Readout Mitigator classes bases on the current code in ignis:
https://github.com/Qiskit/qiskit-ignis/tree/master/qiskit/ignis/mitigation

Add the following classes:
- `BaseReadoutMitgator` - base readout error mitigator class
- `CompleteReadoutMitigator` - readout mitigator class based on the A-matrix inversion method
- `TensoredReadoutMitigator` - readout m

[2021-05-31 08:02] Feigenbaum4669 commented on #6395
Hi, I created the[ pull request](https://github.com/Qiskit/qiskit-terra/pull/6458). The tests have passed. Please let me know in case something should be modified.

[2021-05-31 13:14] taalexander commented on #6469
1. I mean the QASMBackendConfiguration
2. As a keyword argument with default of `None`. If `None` is supplied the attribute should not be set.
3. See 2. 😄

[2021-05-31 14:19] kessler-frost commented on #6448
Hi @1ucian0,

While working on the issue I also observed that the `pdftocairo` library is used to convert a pdf into a PNG file and then `PIL` is used to "save" (convert?) that file into the desired format. After experimenting I found that, for example, a JPEG file obtained from the output of `pdftocairo` is slightly different than a JPEG file obtained from using the currently implemented method (

[2021-05-31 14:56] 1ucian0 commented on #6448
I think PIL is needed because `.draw()` returns a PIL Image that Jupyter notebooks display.

[2021-05-31 15:01] kessler-frost commented on #6448
Got it. My bad, I failed to see the bigger picture.

[2021-05-31 15:19] burgholzer commented on #5692
@yaelbh has there been any progress on integrating the equivalence checker?

[2021-05-31 15:46] yaelbh commented on #5692
@burgholzer Some time ago I updated the pull request, I began to fix sphinx errors, but had to move to more urgent tasks. Apart from the sphinx errors, I'm fine with the pull request in its current form. But I guess that the reviewers won't approve yet, and more discussion will be required, because I didn't address some of their comments, where I disagreed (most of my justifications are here: http

[2021-05-31 15:52] adekusar-drl commented on #6466
I don't mind, but I'm not in the development team :)

[2021-05-31 15:54] burgholzer commented on #5692
@yaelbh thanks for the update! I am looking forward to the moment where all the interfaces are fixed. Then I can start adapting the Python bindings for our QCEC equivalence checking tool so that it can be used from Qiskit.

[2021-05-31 18:10] EgrettaThula commented on #6481
I'm not sure what you mean by "transpile flattens to a single register", but the register names are already there in plot_circuit_layout.
Actually, I generated the image that uses different colors for different registers by adding a few lines of code to this method.

And the currently generated images have a very limited value in case of multi-register circuits.

[2021-06-01 08:42] mwessling90 commented on #6473
Hi, i am new and would like to work on this if thats ok.

[2021-06-01 08:45] ikkoham2 commented on #6479
How about
[code]

[2021-06-01 08:48] ikkoham2 commented on #6479
[code]
is better.

[2021-06-01 09:45] #5874 closed

[2021-06-01 13:09] qci-amos commented on #4694
it looks like this was fixed at some point:
https://github.com/Qiskit/qiskit-terra/blob/a2193a5c3df131775e1b2d0f2f8fe31dc035ae0c/qiskit/quantum_info/operators/measures.py#L70-L72

that is, it looks like a `QuantumChannel` is now an option for both `channel` and `target`.

[2021-06-01 13:09] #4694 closed

[2021-06-01 13:50] mtreinish opened #6493 "Performance regression caused by dagnode op property"
### Information

- **Qiskit Terra version**: main after https://github.com/Qiskit/qiskit-terra/commit/3c979ebd
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

After PR #6199 merged a regression was flagged on our nightly benchmarks for certain transpiler passes where we're accessing a dag node's op frequently. For example:

https://qiskit.github.io/qiskit/

[2021-06-01 15:11] rafal-pracht commented on #6469
Thanks @taalexander, I've just created PR https://github.com/Qiskit/qiskit-terra/pull/6494 .

[2021-06-01 15:28] kdk opened #6495 "Consolidate `bit_indices` as a circuit property"
I'm wondering if it makes sense to carry this around in the circuit object itself (maybe as a private). Pretty much anything that is going from a circuit to something else is now building this dict.

_Originally posted by @mtreinish in https://github.com/Qiskit/qiskit-terra/pull/5504#discussion_r583153333_

[2021-06-01 15:30] kdk opened #6496 "Deprecate implicit register creation from QuantumCircuit(int, int)"
### What is the expected enhancement?

Following #6069 , we should deprecate the implicit creation and attachment of a `QuantumRegister(N, 'q')` and `ClassicalRegister(M, 'c')` when a user calls `QuantumCircuit(N, M)`.

[2021-06-01 16:03] ajavadia commented on #2015
I would encourage rewriting the latex circuit drawer to leverage the `yquant` library:
https://arxiv.org/pdf/2007.12931.pdf
https://github.com/projekter/yquant

It is based on TikZ and pure TeX, and is extremely flexible and easy to use. I recently typeset all the figures in here using this library: https://arxiv.org/pdf/2104.14722.pdf

There are some features of Qiskit drawer such as "justify" or

[2021-06-01 16:27] enavarro51 commented on #6493
After a quick check, it looks like there are about 400 instances of some form of `node.op` in the code. I assume changing those to `node._op` is preferable to reverting #6199. If the change is preferred, I could take this on.

[2021-06-01 16:55] kdk commented on #6493
If possible, I'd prefer to only access `node._op` in the cases where we know `node.op` is causing a performance problem. Even then, this might be better fixed by restructuring the interface so access to a private attribute isn't needed, even for performance. (Maybe redefine `node.op` to be `Optional[Instruction]` that's not `None` if and only if `node.type == 'op'`, or separate sub-classes for `IO

[2021-06-01 17:11] mtreinish commented on #6493
That's my fault for a lack of precision in opening the issue. #6199 introduced a regression around `DAGNode.name` access, if you look at the benchmark I linked in the issue it's for cx cancellation which will be calling `DAGNode.name` for each node in the dag as part of: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/passes/optimization/cx_cancellation.py#L30 which is why we se

[2021-06-01 17:14] ajavadia commented on #6436
@Avhijit-codeboy thanks this already has people assigned to it.
The 3 issues linked here are needed for this to work, after which the release can go out.

[2021-06-01 17:51] enavarro51 commented on #6493
So in #6199, we deprecated the use of passing a `name` when instantiating a `DAGNode`. We then added the property approach to accessing the name to point it to _op.name. It looks like there are fewer than 100 cases of `node.name` used, mostly in the `passes`. How about if we change those `node.name`'s to `node._op.name` since that's where it's pointing to anyway.

[2021-06-01 19:59] IvanIsCoding commented on #6493
I can jump in an say that in my particular case at #6433, `@property` is used just for the setter and not for the getter. Hence, doing `node.op` and `node._op` are equivalent. [This might not be as straightfoward in this case.](https://github.com/Qiskit/qiskit-terra/blob/2eee56616d50a9e26756f855ef4aa0135920ad78/qiskit/dagcircuit/dagnode.py#L63)

The speedup by replacing `op`/`_op` and `qargs`/`_qa

[2021-06-02 13:29] Cryoris opened #6497 "Coefficients in Opflow Expectations are handled inconsistently"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

In opflow, states, operators, and expectation value can have coefficients. For example the following expression has a coefficient of 2 for the state and a the measurement operator a coefficient of 3:
[code]
which should evaluate to
[code]
Depending on which expectation val

[2021-06-02 17:48] TheGupta2012 commented on #5748
It's strange, I did run black on the file and the linter fails still. 😕

[2021-06-02 17:53] mtreinish commented on #6473
@mwessling90 sure, I've assigned the issue to you. Feel free to reach out if you need any help

[2021-06-02 17:55] atilsamancioglu opened #6499 "Grover's Migration from Aqua to Qiskit Terra"
### Informations

- **Qiskit version**: 0.26.0
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

Grover's algorithm does not behave as expected, at least does not take previously known as "Logical Expression" (now PhaseOracle) alphabetically. It runs fine in Aqua but not in Qiskit circuit library.

### Steps to reproduce the problem

[code]

### What is th

[2021-06-02 23:39] kdk commented on #6493
Out of curiosity, I ran the following through `timeit`:

[code]

| time per call | without slots | with slots |
|------|-----|-------|
|`c.foo` | 35.4 ns ± 1.5 ns | 26 ns ± 0.197 ns |
|`c.property_foo` | 119 ns ± 3.56 ns | 107 ns ± 2.5 ns |
| `c.cond_property_foo` | 159 ns ± 24 ns | 140 ns ± 2.86 ns |

(N.B. Python 3.6 on OSX 10.15 )

At least for this microbenchmark, it seems in general like `__s

[2021-06-03 03:11] ikkoham2 commented on #6497
What do you think this test case?
https://github.com/Qiskit/qiskit-terra/blob/main/test/python/opflow/test_aer_pauli_expectation.py#L105-L108

I think this is a bug in the spec 🤔

[2021-06-03 03:25] ikkoham commented on #6497
This means
[code]

This sqrt(2) is dropped in the current implementation.

[2021-06-03 03:45] ikkoham commented on #6497
In this test case, `(~StateFn(paulis_op) @ sum_zero).eval()` is `[0, 0, 1, 1]`.
It is a specification that expectations are inconsistent (I don't think it's good, but spec bug not implementation bug.).

[2021-06-03 04:05] ikkoham commented on #6497
For now, the bug itself will be fixed by my PR. But another specification issue (interpretation of SummedOp)  has not been resolved.

[2021-06-03 04:27] ikkoham commented on #6497
@Cryoris Hmm, I'm wondering how it should be. What do you think this output should be?
[code]

-12 or -6?

[2021-06-03 07:07] ikkoham opened #6501 "BasicAer's random seeds are shared in the job."
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

When one runs the list of quantum circuits with qasm_simulator and fixes the seed by seed_simulator, BasicAer uses the seed all over again, so BasicAer gives the same results.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The initializati

[2021-06-03 09:01] t-imamichi commented on #6501
This affects VQE when grouping is disabled because same quantum circuits are executed. As a result, the eigenvalues by VQE with BasicAer (grouping=False) are likely to be biased.

[2021-06-03 09:55] javabster commented on #4930
Hi @SauravMaheshkar the issue was only partly fixed by [Qiskit/qiskit#1026](Qiskit/qiskit#1026). the same change needs to be made in the release note [yaml file in qiskit-terra](https://github.com/Qiskit/qiskit-terra/blob/master/releasenotes/notes/0.15/Add-canonical-form-47e0466ed57640f3.yaml) as well. Happy to assign this issue to you if you would like to work on it?

[2021-06-03 11:24] SauravMaheshkar commented on #4930
Yeah I'd love to work on this 😊

[2021-06-03 13:17] dlasecki commented on #6479
@ikkoham2 Thanks, what you suggested works. But is it intuitive enough or shall we still introduce a proper constructor?

[2021-06-03 13:53] enavarro51 opened #6502 "Create binder styles tests for pulse"
### What is the expected enhancement?

As part of #6467, some old pulse image comparison tests that were being skipped were removed. These were in the file [test_pulse_visualization_output.txt](https://github.com/Qiskit/qiskit-terra/files/6592058/test_pulse_visualization_output.txt). The tests in this file may be useful when a #4544 binder style set of image comparison tests is created for pulse.

[2021-06-03 14:21] Cryoris commented on #6497
I think it should be -12. The `state` has a coefficient of 2 and since the state appears twice in the expectation value, the coefficient will be squared. In general, that would mean
[code]
Since opflow doesn't require states to be normalized we need to be careful upon handling these cases.

[2021-06-03 14:29] Cryoris commented on #6499
Good catch! That change was not intended (at least no silently). Thanks for reporting this, we're looking into it 👍🏻

[2021-06-03 14:31] ikkoham commented on #6497
I see. How about this case?
[code]
is 1/sqrt(2).
[code]
Should the output be `12 / sqrt(2)` or `6 / sqrt(2)`?

[2021-06-03 14:36] ikkoham commented on #6497
In my above example, `AerPauliExpectation()` doesn't know what the state is, so this has to be done at a later stage, either by CircuitSampler or eval. But, the return type of `AerPauliExpectation.convert()` is `CircuitStateFn`. It conflicts with CircuitStateFn's eval definition, so there's no way...

[2021-06-03 16:28] #6415 closed

[2021-06-03 16:54] mtreinish commented on #6493
Personally I think the subclass approach makes the most sense. That way we can avoid the property altogether. Having the explicit `type` attribute always seemed a bit weird.

[2021-06-03 19:03] manoelmarques opened #6504 "Handle Aer deprecation on AerPauliExpectation"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
AerPauliExpectation shows the following deprecate msg:
[code]

### Steps to reproduce the problem

### What is the expected behavior?
SaveExpectationValue / SaveExpectationValueVariance should be used instead.

### Suggested solutions

[2021-06-04 02:10] ikkoham2 commented on #6479
At least, this is a common method for opflow and qiskit_nature.operators. Opflow had it originally, but I imported it to Nature and I wrote this in [FermionicOp doc](https://qiskit.org/documentation/nature/stubs/qiskit_nature.operators.second_quantization.FermionicOp.html).

Personally, I don't prefer having many ways to do one thing. An implementation is a bit difficult: PauliSumOp assumes that n

[2021-06-04 03:26] ishworii commented on #6504
Can I work on this?

[2021-06-04 08:15] rafal-pracht commented on #6469
Hi @taalexander, there was an issue during azure pipeline.

![image](https://user-images.githubusercontent.com/55279376/120769395-5e322480-c51d-11eb-837d-3569f59eb8ac.png)

![image](https://user-images.githubusercontent.com/55279376/120769095-0e535d80-c51d-11eb-8474-ac3517126bb0.png)

Could you give me a hint where I can find the log of execution and how I can run this build locally to try to repr

[2021-06-04 08:57] javabster commented on #4930
fab! assigned to you @SauravMaheshkar, let us know if you have any questions 😄

[2021-06-04 12:15] taalexander commented on #6469
This seems like it may have been an issue with CI timing out, perhaps it is oversubscribed. I've kicked it off running again.

[2021-06-04 13:43] singhmeet11 commented on #6465
I would like to add that `x.py` inside standard gates already have that parameter for ccx gate so the problem is only there with `quantumcircuit.py`. And it only requires a small correction.

[2021-06-04 14:05] manoelmarques commented on #5743
If this issue replaces SnapshotExpectationValue with SaveExpectationValue in AerPauliExpectation, then this issue will also fix #6504

[2021-06-04 14:39] paniash opened #6509 "Adding migration guide for local repos to change branch from `master` to `main` to `README`"
### What is the expected behavior?

It would be a nice addition to add a migration guide for users with local repos to change from `master` to `main` as the default branch. Of course, one could always fork and clone the repo once again and this is just me being pedantic but it would be a nice addition nonetheless.

If one agrees, I'll be more than happy to open a PR. 😃

[2021-06-04 14:58] ajavadia opened #6510 "cannot load qasms containing delay"
e.g.

[code]

[2021-06-04 15:49] SauravMaheshkar commented on #4930
Thanks @javabster , opened up a PR #6512

[2021-06-04 16:33] a-freakish commented on #6465
New to quantum world. Would love to work on this issue.

[2021-06-04 16:43] a-freakish commented on #2304
I am new to the world of quantum computing and open source. I have good familiarity with python. I would love to work on this issue.

[2021-06-04 17:23] fs1132429 commented on #6473
I want to work on this issue if thats ok.

[2021-06-04 17:26] fs1132429 commented on #6465
I am new to open source contribution. I would like to contribute to this if its ok.

[2021-06-04 17:29] fs1132429 commented on #6434
I would like to work on this if its ok.

[2021-06-04 19:03] singhmeet11 commented on #6465
@iamsantanubanerjee As I can see, you have pulled another PR, which copies my exact same code. @1ucian0 Is this allowed?

As for what you suggested, I shall point out the reason I did not add, `label` parameter because issue #5098 clearly talks about how you they want to remove that particular parameter from all the gates. P.S look at my issue for the correct format(I am still getting some error f

[2021-06-04 19:15] iamsantanubanerjee commented on #6465
@singhmeet11 I had no intention to create another PR copying your exact same code. I am very new to open source contributions, but I am aware it isn't allowed. I was only experimenting with PRs. As you might see, I immediately closed my PR after a few minutes. Sorry if I made some mistake.

I later figure out the 'label' issue. Thanks for mentioning though.

[2021-06-04 19:40] singhmeet11 commented on #6465
No worries bro @iamsantanubanerjee , I was myself not sure about how this works, this is my 2nd pull request and 1st to terra . So I am also super new.

[2021-06-05 06:34] fs1132429 commented on #6469
Is this issue still open ? I am totally new to contributing and I would love to work on it.

[2021-06-05 06:35] fs1132429 commented on #6464
I am new to contributing and  I would love to work on this if its okay.

[2021-06-05 07:09] iamsantanubanerjee commented on #6411
@nonhermitian Can you share the steps to reproduce this problem?

[2021-06-05 07:53] singhmeet11 commented on #6465
@fs1132429 , @a-freakish I don't think that this issue will require any more corrections so you guys should checkout other ones.
P.S why don't one of you (and @iamsantanubanerjee ) take a look at #5098, it is also a good first issue and will require you to remove all the `label` parameters in the code from `quantumcircuit.py` and I think removing from standard gates will make it too permanent so m

[2021-06-05 08:11] a-freakish commented on #5472
I am new to quantum community and open source. I would love to work on this issue.

[2021-06-05 08:14] paniash commented on #5472
@a-freakish Hi! My exams just got over and I'm currently working on this. :-)

[2021-06-05 09:40] a-freakish commented on #6430
I am new to quantum computing and would love to work on this issue.

[2021-06-05 09:43] a-freakish commented on #5931
I am a newbie with a desire to learn. I would love to work on this issue.

[2021-06-05 09:49] a-freakish commented on #5351
I am new to quantum computing but can work efficiently with python. I would love to work on this issue If you think I can.

[2021-06-05 11:40] nonhermitian commented on #6411
Simply transpile the H gate using optimization level 0

[2021-06-05 12:58] john-judge commented on #5931
@a-freakish Great to hear, please do pick this one up! Let me know if you have any questions and I can try to answer.

[2021-06-05 13:25] Avhijit-codeboy commented on #6411
@nonhermitian I transpiled it with optimization level 0, but all I get is the `H` gate back
[code]
![image](https://user-images.githubusercontent.com/41890388/120893193-8e69e800-c62f-11eb-9935-cd5ad52c206c.png)

[2021-06-05 13:49] nonhermitian commented on #6411
Yeah sorry, you need to target an IBM backend or set the basis gates to be the same.

[2021-06-05 14:21] Avhijit-codeboy commented on #6411
By backend, do you mean the actual hardware or the simulator? `qasm_simulator` gave me the same output as above, and so did `basis_gates=['h']`

[2021-06-05 14:38] nonhermitian commented on #6411
A real backend

[2021-06-05 14:59] Avhijit-codeboy commented on #6411
I used `ibmq_belem` as the backend, and I got this error. What am I doing wrong? (the code is same as above)
[code]

[2021-06-05 15:32] nonhermitian commented on #6411
This works on the latest release:

[code]

If it is not working on master than it is a bug.

[2021-06-05 15:34] Avhijit-codeboy commented on #6411
Ah..I see. My bad, I was checking on `PyPi` version

[2021-06-05 15:35] nonhermitian commented on #6411
The latest pypi version should work.

[2021-06-05 15:44] Avhijit-codeboy commented on #6411
The latest is version number `0.26.2`, and I checked my code on this version. But I wasn't able to reproduce the problem.

[2021-06-05 15:48] nonhermitian commented on #6411
The IBM Quantum website is at Qiskit `0.26.2` and give me:

![image](https://user-images.githubusercontent.com/1249193/120897369-c6533a00-c5f3-11eb-9b0f-6555b878f4b3.png)

I am not sure what you are seeing or not

[2021-06-05 15:54] Avhijit-codeboy commented on #6411
I see. Wonder why I'm not getting it. Btw, I tried it on a Jupyter Notebook.
This is the full code
[code]

[2021-06-05 16:45] rafal-pracht commented on #6469
Hi @fs1132429, I made changes for this issue and there is an open CR. Now, we have some issues with the build.

[2021-06-05 16:54] TharrmashasthaPV commented on #5969
@1ucian0 . I think we can close this issue since this issue has been fixed in #5855 and #5551 as Edwin mentioned.

[2021-06-05 17:03] #5969 closed

[2021-06-05 17:03] 1ucian0 commented on #5969
Thanks! Closing.

[2021-06-05 18:45] rafal-pracht commented on #6469
@taalexander I've run build once again and It looks like that on the weekend there is less process run. Now, all checks pass. Thanks. :)

[2021-06-05 22:03] Feigenbaum4669 commented on #6395
Hi, I applied your suggestions @taalexander. No other suggestions were made. The [pull request](https://github.com/Qiskit/qiskit-terra/pull/6458) is ready.

[2021-06-06 06:23] fs1132429 commented on #6079
I am new and I would like to work on this issue if its ok.

[2021-06-06 06:27] fs1132429 commented on #5839
I am new and I would like to work on this issue if its okay.

[2021-06-06 10:03] singhmeet11 commented on #6466
I took a look at the issue and I am having a hard time and something came up, so if anyone is up to the task go ahead.

[2021-06-06 12:02] ishworii commented on #6455
Is it fixed?Can I work on it?

[2021-06-06 13:00] ishworii opened #6515 "Two Local 'reps' doesn't raise 'TypeError' for string input"
### Information

- **Qiskit Terra version**:0.17.2
- **Python version**:3.8.5
- **Operating system**:Linux Mint 20

### What is the current behavior?
When a string is supplied to reps parameter of TwoLocal , it tries raising ValueError which raises another error

### Steps to reproduce the problem
Working Example
[code]

### What is the expected behavior?
If possible the string value should be con

[2021-06-06 13:01] ishworii commented on #6515
Is it possible for me to work on this myself?

[2021-06-06 13:12] woodsp-ibm commented on #6515
Of course, that would be great if you could do a PR that fixes this - also please include a unit test that asserts the error that is thrown, when you pass in such a value, is as expected. That way we can make sure it continues to work as expected since evidently this was missed in the unit testing before. You will find a set of tests already for TwoLocal here https://github.com/Qiskit/qiskit-terra

[2021-06-06 13:51] woodsp-ibm commented on #6455
I do not believe anyone is looking at this - any PR would be linked back to the issue and there is none. Please, if you'd like to take a look at do so. Again a unit test, as I commented in the the issue you raised.

[2021-06-06 15:43] ishworii commented on #6515
Sorry , I am little confused. I have to fix that issue and write a unit test ? Can you explain? @woodsp-ibm

[2021-06-06 16:37] amitracal commented on #6079
I am actually working on it, can you please choose another one ?

[2021-06-06 16:51] fs1132429 commented on #6079
ok

[2021-06-07 01:07] ikkoham commented on #6497
6 (-6) is correct for the **current** spec, which may seem strange. This inconsistency is a spec issue.

[2021-06-07 04:51] fs1132429 commented on #2906
I would like to work on this if its okay. I am new to this.

[2021-06-07 04:54] fs1132429 commented on #5711
I would like to work on this if its ok. I am new to this.

[2021-06-07 04:57] fs1132429 commented on #5348
I am new to contributing but I would like to contribute to this if its ok.

[2021-06-07 04:59] fs1132429 commented on #5524
I would like to work on this issue if its ok. I am new to contributing.

[2021-06-07 05:02] ocareyde commented on #5711
I'm still working on it. I'm going to open a pull request tomorrow or the next day.

[2021-06-07 07:39] peendebak opened #6518 "Add support for abs to ParameterExpression"
### What is the expected enhancement?

The `ParameterExpression` supports common functions like `cos` and `sin`, but not `abs`. A minimal example:
[code]
Enhencemant: add `abs` to the `ParameterExpression` class.

Notes: Methods like `cos` have been added in this PR: https://github.com/Qiskit/qiskit-terra/pull/4854
There is an open PR to add relational operations for the `ParameterExpression` http

[2021-06-07 07:58] ishworii commented on #6515
I have implemented the change and written the unit test , how can I run tests locally? @ @woodsp-ibm

[2021-06-07 08:06] fs1132429 commented on #6434
I am new to contributing and would like to contribute to this isse if its okay.

[2021-06-07 08:46] javabster commented on #6465
Hi all! Thank-you for your interest in taking on this issue, it seems to be popular! As @singhmeet11 was the first one to open a PR for this issue I am formally assigning it to them (although in future please let the first person who asked to be assigned have a go at it first before opening your PR, or see if you can reach the original person on slack and work on it together 😄 ).

For everyone els

[2021-06-07 08:48] javabster commented on #2906
go for it @fs1132429! Assigning to you

[2021-06-07 09:09] javabster commented on #2906
@fs1132429 as there is already a PR #5446 that was opened previously, the best way to approach this issue would be to create a new branch by branching off of `septembrr:quantum-circuit-decompose-issue-2906`, then adding your new work to what has already been done. Then create a new PR against main 😄

[2021-06-07 09:16] javabster commented on #6464
Sure @fs1132429 assigning to you 😄

[2021-06-07 09:17] javabster commented on #6430
Thanks @a-freakish! Assigning to you 😄

[2021-06-07 09:47] mtreinish commented on #6430
This issue already has an open pr in progress: https://github.com/Qiskit/qiskit-terra/pull/6486

[2021-06-07 09:48] javabster commented on #6473
Thanks @fs1132429 but this issue has already been assigned to someone else, I saw you volunteered for a few other issues so I've assigned a couple others to you 😄

[2021-06-07 10:01] javabster commented on #2304
Hi @a-freakish as @mlarocca hasn't replied I will re-assign this to you, let us know if you have any questions 😄

[2021-06-07 10:57] mlarocca commented on #2304
Hello @javabster, sorry for the late reply!
I hadn't had a chance to make a lot of progress on this back in September, and then for some reason we forgot about this (I think in favor of other tasks).
It was an interesting one and I'd have loved to pick it up again, but at the same time I'm swamped right now and for a few more weeks, so I also meant to say that if @a-freakish has the time to tackle

[2021-06-07 11:29] javabster commented on #2304
Thanks for the update @mlarocca! 😃

[2021-06-07 12:07] #6347 closed

[2021-06-07 13:27] jamesphysics commented on #1237
@1ucian0 It seems to be dead again

[2021-06-07 16:05] sassan72 opened #6521 "AttributeError: 'numpy.ndarray' object has no attribute 'ry'"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-49-6c60566d6a4d> in <module>
     16     bias_corrected = bias + momentum * v_bias
     17     for j in range(batch_size):
---> 18         g, g_bias = gradients(var_corrected, feats_train_batch[j], y_train_batch[j], bias)
     19

[2021-06-08 03:15] riuriuriuriu opened #6525 "Bug in nakanishi_fujii_todo"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.9.4
- **Operating system**: macOS Big Sur

### What is the current behavior?
nakanishi_fujii_todo() optimizer fail to return `OptimizeResult` except in the case of `args = ()`.

### Steps to reproduce the problem
I tried to run the following code

[code]

and then I got the following error

[code]

### What is the expected

[2021-06-08 03:24] ishworii commented on #6515
@woodsp-ibm I have linked a PR, can you kindly review it?

[2021-06-08 05:00] ikkoham commented on #6525
@riuriuriuriu Thank you for reporting the issue. I think your suggestion is the correct direction.

@Qiskit/terra-core Could you add some labels? `mod: algorithms` and `good first issue`.

[2021-06-08 07:25] iamsantanubanerjee commented on #6525
Hi, I'd like to work on this issue. Can someone assign it to me?

[2021-06-08 07:27] Cryoris commented on #6521
Hi @sassan72, it's a bit difficult to read (or reproduce) the issue you're having. Would you mind describing it in more detail and maybe add a minimal working example?

[2021-06-08 07:42] Cryoris commented on #6497
For the above example I think it should be `6 / sqrt(2)` since
[code]
(though the name `obs` is misleading since it's not an observable but a state 😄).

I agree it's a spec issue. Maybe one solution would be to have a new return type for `AerPauliExpectation.convert()`.

[2021-06-08 08:12] #5167 closed

[2021-06-08 09:30] javabster commented on #6464
Hi @fs1132429 thank-you for taking on this issue, there are a few different ways you could approach this:

- Minimum approach: add a note in the SPSA docstring (in `qiskit-terra/qiskit/algorithms/optimizers/spsa.py`) saying that you should set the seed via algorithm_globals
- Best approach: for all algorithms that use algorithm_globals, add a note to their docstrings (requires some digging into th

[2021-06-08 10:12] Avhijit-codeboy commented on #6411
@nonhermitian Can I take up this issue?

[2021-06-08 10:15] nonhermitian commented on #6411
Sure thing

[2021-06-08 10:16] Avhijit-codeboy commented on #6411
Thanks!

[2021-06-08 10:21] singhmeet11 commented on #6465
Hi, I was not aware of the protocol, of how to approach the problem when someone has already made a comment but no one is assigned. So I waited for a week to see if anyone is going to try and fix the bug.
However, that being said I will make sure from now on that whichever bug I am working on has not been assigned to someone else or contact the people who have commented before me.

[2021-06-08 10:32] yoshida-ryuhei opened #6526 "The schematic plot is broken if I use space in tex style name."
### Information

- **Qiskit Terra version**: `{'qiskit-terra': '0.17.4', 'qiskit-aer': '0.8.2', 'qiskit-ignis': '0.6.0', 'qiskit-ibmq-provider': '0.13.1', 'qiskit-aqua': '0.9.1', 'qiskit': '0.26.2', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}`

- **Python version**: `python3.8.5 [ GCC 9.3.3]`
- **Operating system**: `Ubuntu 20.04.2 L

[2021-06-08 10:43] sassan72 commented on #6521
i have a quantum state like this:

def statepreparation(circuit, angle, wire):

    circuit.ry(angle[6], 0)

    control1 = RYGate(angle[5]).control(1, ctrl_state='1')
    circuit.append(control1, [0, 1])
    circuit.barrier()

    control2 = RYGate(angle[4]).control(1, ctrl_state='0')
    circuit.append(control2, [0, 1])
    circuit.barrier()

    control3 = RYGate(angle[3]).control(2, ctrl_state

[2021-06-08 10:49] sassan72 opened #6528 "controlled arbitrary gate"
i have a function which i can encode data with it.

![image](https://user-images.githubusercontent.com/22191884/121171935-6eb50880-c857-11eb-8ae7-dcb464481c46.png)

i want to design a controlled unitary gate with control is 0 qubit and my quantum state(statepreparation function) is my unitary gate.
simply speaking, i  want to have a unitary of statepreparation circuit.

![image](https://user-image

[2021-06-08 10:50] sassan72 commented on #6528
here is my statepreparation function:

def statepreparation(circuit, angle, wire):

    circuit.ry(angle[6], 0)
    #circuit.barrier()

    control1 = RYGate(angle[5]).control(1, ctrl_state='1')
    circuit.append(control1, [0, 1])
    #circuit.barrier()

    control2 = RYGate(angle[4]).control(1, ctrl_state='0')
    circuit.append(control2, [0, 1])
    #circuit.barrier()

    control3 = RYGate(an

[2021-06-08 10:53] Cryoris commented on #6521
From the above traceback it seems to me you mixed up the order of parameters in the call to `statepreparation`. Instead of
[code]
it should be
[code]

[2021-06-08 11:03] #6521 closed

[2021-06-08 11:56] idnm opened #6531 "Get gate from name."
### What is the expected behavior?

There are standard labels for gates like `cx`, `ry`, 'u3' etc. For example,  `qiskit.compiler.transpile` accepts a list of basis gates in this form. Currently the only way I know how to find out which label stays for which gate is to examine [circuit library](https://qiskit.org/documentation/apidoc/circuit_library.html) (and even there seems to be no clear mappi

[2021-06-08 13:20] chris-n-self opened #6533 "Documentation for `QuantumCircuit.assign_parameters` seems to be wrong"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.9.4
- **Operating system**: MacOS 10.14.6

### What is the current behavior?

The description of the `QuantumCircuit.assign_parameters` method in the [docs](https://qiskit.org/documentation/stubs/qiskit.circuit.QuantumCircuit.html#qiskit.circuit.QuantumCircuit.assign_parameters), says that:

but this does not seem to be th

[2021-06-08 15:36] Cryoris commented on #4675
It seems this issue has been fixed as by-product in 8f717d90a235dfa1d23b2be5171d4c31224c4ab3.  However that was only a superficial fix by increasing the lookup table for gates we can efficiently control. The correct way would be to improve the synthesis of controlled operations, I'll open a new issue for that.

[2021-06-08 15:36] #4675 closed

[2021-06-08 18:15] jlapeyre opened #6536 "Error in doc string for `QuantumCircuit.assing_parameters`"
In the following "True" should be replaced by "False"

https://github.com/Qiskit/qiskit-terra/blob/33e7448a22ccb74c3e2a288c242a1da411ab195e/qiskit/circuit/quantumcircuit.py#L2147-L2149

### Information

- **Qiskit Terra version**: 33e7448

[2021-06-08 19:25] hizqial opened #6538 "control_channels incorrect documentation in Pulse"
### What is the expected enhancement?
From the [Pulse documentation](https://qiskit.org/documentation/apidoc/pulse.html#channels) on Channels, the method `control_channels(*qubits)` is defined as "Return `AcquireChannel` for `qubit` on the active builder backend."

I expect the correct definition to be "Return `ControlChannel` for `qubit` on the active builder backend."

[2021-06-08 20:31] woodsp-ibm commented on #6504
@ikkoham Any chance you could take a look at this please.

[2021-06-08 21:13] nstamato opened #6540 "Error creating controlled unitary with nested QuantumCircuit objects."
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.7.4
- **Operating system**: Linux

### What is the current behavior?
If I try to create a controlled unitary from a QuantumCircuit which contains another QuantumCircuit, I get the error

`QiskitError: 'One or more instructions cannot be converted to a gate. "inner" is not a gate instruction'`

where "inner" is shown in the

[2021-06-08 21:45] singhmeet11 commented on #6397
I  think shifting the title a bit above would solve the problem. I would like to take the issue

[2021-06-08 21:50] singhmeet11 commented on #6412
I am super interested in taking this issue as I have been studying about decomposition of gates for sometime now. But, it would be really great if you could tell me one thing, how do we know that two quantum circuits are same. At first I was checking if the net unitary is same but as global phase has effect on the unitary, this test fails. The only way I can think of is going through each possible

[2021-06-09 01:01] ikkoham commented on #6504
Got it

[2021-06-09 01:49] RhnSharma commented on #6536
I would like to take this one.

[2021-06-09 01:52] #6525 closed

[2021-06-09 05:14] TheGupta2012 commented on #6518
Hey @peendebak
Shall I have a go at this issue?

[2021-06-09 05:26] TheGupta2012 commented on #6195
Hey @jaygambetta
Can I have a go at this issue?

[2021-06-09 06:29] Cryoris commented on #6540
That's due to the fact that Qiskit distinguishes operations in `Gate`s -- strictly unitary operations that e.g. can be controlled and inverted -- and `Instruction`s -- for everything else. E.g. an RY rotation is a `Gate` whereas a measurement would be a `Instruction`.

If you call `circuit1.append(circuit2)`, `circuit2` is casted to an `Instruction` and therefore cannot be controlled anymore. I ag

[2021-06-09 09:31] Cryoris opened #6542 "Improving the general ``Gate.control`` mechanism"
### What is the expected enhancement?

Improve the way we implement controls of general gates, e.g. by
1. checking whether the gate instance we try to control implements an efficient way to control (rather than hardcoding a list of which gates we know how to control in `add_control.py`)
2. improving the generic control mechanism for an arbitrary unitary that doesn't implement an efficient control

[2021-06-09 12:42] TheGupta2012 commented on #5784
@1ucian0 could you provide some help on how to get the circuit to be drawn with latex? I have fixed the errors in the `mpl` and the `text` drawers but seem to get the following error whenever I try to draw the circuit with latex -
`WARNING: Unable to compile latex. Is "pdflatex" installed? Skipping latex circuit drawing...`
`FileNotFoundError: [WinError 2] The system cannot find the file specified

[2021-06-09 12:44] 1ucian0 commented on #5784
You need a way to compile latex. Do you have pdflatex installed?

[2021-06-09 12:49] taalexander commented on #6538
Yes, I agree this is an issue.

[2021-06-09 13:02] TheGupta2012 commented on #5784
Yes, that's the problem. It is installed -
`Requirement already satisfied: pdflatex in e:\anaconda\envs\fixissue_env\lib\site-packages (0.1.3)` and then too it isn't working.

[2021-06-09 13:07] taalexander commented on #6469
Closed by #6496.

[2021-06-09 13:07] #6469 closed

[2021-06-09 13:09] taalexander commented on #5472
Excellent! Good luck @paniash 😄 , please let us know if you require any help.

[2021-06-09 13:09] #4930 closed

[2021-06-09 13:11] lcapelluto commented on #5524
Okay! Start from here: https://github.com/Qiskit/qiskit-terra/pull/5568
If you need tips on how to do that, let me know.

[2021-06-09 13:34] taalexander opened #6544 "Propagate limit_amplitude keyword argument to parametric pulses"
### What is the expected enhancement?
As described [here](https://github.com/Qiskit/qiskit-terra/pull/6345#pullrequestreview-666847848) the `limit_amplitude` keyword argument should be propagated to the constructor of existing parametric pulses.

For example,

[code]

[2021-06-09 13:55] Cryoris commented on #6533
Good catch! That's wrong, you're right. It should state

For you use-case, you could use a `ParameterVector`, then the index-order will be recognized.

[code]

[2021-06-09 14:45] ishworii commented on #6413
I would like to work on this.

[2021-06-09 14:57] woodsp-ibm opened #6547 "Opflow fails ((Z^I)@(X^X))@(Plus^Plus), but works with Aqua operators opflow"
With Aqua and Terra latest versions from main branches:

Here is what I find. Using Aqua operators, just looking at the first part as we see a difference that helps understand the final failure
[code]
using Terra opflow
[code]
Now Aqua - adding the `@(Plus^Plus)` to the expression to complete it as per the failure
[code]
where using Terra opflow it fails
[code]
this is in some to_circuit logic whe

[2021-06-09 15:28] #5857 closed

[2021-06-09 16:07] Cryoris commented on #6413
Great, I just assigned you @ishworii 👍🏼

[2021-06-09 16:07] fs1132429 commented on #6538
can I work on this if its ok?

[2021-06-09 16:52] #6515 closed

[2021-06-09 17:29] manoelmarques opened #6549 "Support TensoredMeasFitter in QuantumInstance"
### What is the expected enhancement?
Currently QuantumInstance supports as error mitigation input classes: `CompleteMeasFitter` and `TensoredMeasFitter`.
However, its implementation is incomplete in `measurement_error_mitigation.py`:
[code]

Support should be added for `TensoredMeasFitter`.

[2021-06-09 20:24] taalexander commented on #6538
Yes, assigned and reviewed your PR 😄. Thank you for the quick turnaround.

[2021-06-09 20:30] #6395 closed

[2021-06-09 23:25] #6538 closed

[2021-06-10 00:37] ikkoham commented on #6547
Thanks. I see. This is caused by `Pauli` symplectic refactoring.

[2021-06-10 05:49] ishworii commented on #6455
I tried creating a PR but it shows commits from earlier issue I was working on. How do I get around that? @Cryoris @woodsp-ibm

[2021-06-10 06:48] Cryoris commented on #6455
You can rebase, starting from the first commit you want to remove (say with the SHA `SHA_FIRST`) and then mark all commits with `drop` that you don't want:
[code]

[2021-06-10 08:16] ishworii commented on #6455
I am lost here. Can I instead delete my fork and refork and start over?

[2021-06-10 10:15] fs1132429 commented on #2906
@javabster Can you guide me how to create a branch by branching off of a PR. I tried several things but its not working.

[2021-06-10 10:39] fs1132429 commented on #5524
@lcapelluto I went through #5568 . Not really sure how to proceed. Can you guide me? I am new to contributing.

[2021-06-10 11:13] #6012 closed

[2021-06-10 12:31] #6464 closed

[2021-06-10 15:15] ishworii commented on #6019
I would like to work on this

[2021-06-10 17:10] fs1132429 commented on #2906
can anyone guide me how to proceed on adding support for the * wildcard, at the end of a string for circuit.decompose("circuit*") ?

[2021-06-10 20:39] #3789 closed

[2021-06-11 06:33] Cryoris commented on #6455
If you're talking about #6556 the commit history looks fine to me, you can leave that as is.

[2021-06-11 08:05] ishworii commented on #6455
@Cryoris I deleted my fork and did all from start

[2021-06-11 09:54] Jwala-1908 opened #6560 "Plotly graphing library for Qiskit visualizations."
### What is the expected enhancement?

Sometimes it is difficult to pinpoint where the arrow denoting the statevector is pointing on a Bloch Sphere,
like in the following case-

![bloch](https://user-images.githubusercontent.com/53686844/121589887-3f6bea80-ca55-11eb-8ebf-f5fc35bf3f23.png)

It is not clear (without additional input about the state) whether the arrow lies in the "xz"-plane or the "x

[2021-06-11 10:30] nonhermitian commented on #6560
The primary goal of Qiskit is circuit construction, compilation, and optimization, thus such tools are really out of scope for this package.  However, luckily what you want already exists:

https://nonhermitian.org/kaleido/tutorials/interactive/bloch_sphere.html

[2021-06-11 13:24] Jwala-1908 commented on #6560
Interesting! Kaleidoscope looks great, @nonhermitian . I think I had come across it a few months ago, but it slipped my mind. Thanks for sharing.

[2021-06-11 13:50] nonhermitian commented on #6560
No problem.  Closing this.

[2021-06-11 13:50] #6560 closed

[2021-06-11 15:13] Cryoris commented on #6198
I'll close this as this should've been fixed by #6210.

[2021-06-11 15:13] #6198 closed

[2021-06-11 19:09] #5690 closed

[2021-06-11 21:51] kdk commented on #6528
Hi @sassan72 , this should be possible by using the `.control(1)` method on your circuit. For example:
![image](https://user-images.githubusercontent.com/2241698/121752146-8ac9db80-cadd-11eb-985b-c8796c1f65f1.png)

[2021-06-12 04:09] SiddharthaMorales commented on #3425
Is this still an open issue?  I'm using contextlib and
what happens to me is that if I do a single excecute call outside a pool then my calls to execute inside the pool never finish.

[2021-06-12 15:46] #4981 closed

[2021-06-12 19:43] #6477 closed

[2021-06-13 01:14] jwoehr commented on #6544
`class Pulse` defaults `limit_amplitude` property to `True`.

Should that `True` value be the propagated as the default to `class ParametricPulse` and its specializations, or should it be as in this Issue's header, a default of `False`?

[2021-06-13 08:11] singhmeet11 commented on #6531
Hi, this looks like an interesting idea but in issue #5098 they wanna remove the `label` parameter from all the gates, so then this modification will be rendered useless, I think.

[2021-06-13 09:08] singhmeet11 commented on #5228
Can I work on this issue ??

[2021-06-13 12:10] Cryoris commented on #6531
In this PR we rather mean `name`, not `label`. The name of a gate is unique so you can construct it via name, however the label is essentially just for plotting. The label is being removed via #5098, but not the name. I'll rename this PR title to make this clearer.

[2021-06-13 16:07] 1ucian0 commented on #4823
Closing as qelib1.inc should not be extended. See https://github.com/Qiskit/qiskit-terra/issues/4312 and https://github.com/Qiskit/qiskit-terra/pull/6125

[2021-06-13 16:07] #4823 closed

[2021-06-14 11:30] eggerdj opened #6568 "Numerical instability with calibrations"
### Information

- **Qiskit Terra version**: commit 5ec42789171b001780239d9e03e5dba4e077aa40
- **Python version**: 3.8.5
- **Operating system**: Ubuntu

### What is the current behavior?

When adding calibrations to a circuit we can have situations where the numerical precision of the parameters cause transpiler issues.

### Steps to reproduce the problem

The following code works for the end ampl

[2021-06-14 11:54] catornow opened #6569 "ECR Gate with parameter"
Currently, the ECR Gate does not have a parameter:
[code]

An ECR Gate that depends on a parameter θ has the following circuit representation

[code]
and would allow the implementation of continuous-parameter echoed cross-resonance gates.
For this, the class ```ECRGate(Gate)``` would have to be adapted.

[2021-06-14 12:19] taalexander commented on #6544
The default value should be `True`. The example in the issue was intended to demonstrate how to disable amplitude checking.

[2021-06-14 12:43] ajavadia commented on #6569
In principle this is the right thing to do but it changes the compiler (compiling to theta=pi/2 is easier and done now). Perhaps related to https://github.com/Qiskit/qiskit-terra/pull/6551.

[2021-06-14 12:46] eggerdj commented on #6569
What would be the pragmatic thing to do if we want an ECR gate with a theta dependency?

[2021-06-14 13:11] ajavadia commented on #6569
I think the compiler needs to be able to compile to it. If it's continuous and your KAK decomposer works in Qiskit then great, if it's discrete then I think #6551 is needed.
And then for a backend that has a particular angle tuned up then we need a way for that to be reported. Unfortunately right now basis gates are reported by name. But that can be changed as part of #5629

[2021-06-14 14:12] arcjumper commented on #2753
yeah I a bumping into the same problem.

[2021-06-14 15:42] Jwala-1908 opened #6571 "`measure_all` to use existing classical reg instead of creating new"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

`qc.measure_all()` creates a new classical register to store measurements even if the circuit already has a classical register. As a consequence, plotting the experiment results also creates redundant x axis labels with extra characters corresponding to the unused classica

[2021-06-14 15:43] Jwala-1908 commented on #6571
Willing to work on this issue if action required.

[2021-06-14 15:49] Cryoris commented on #6571
I don't think `measure_all` should use an existing register. What if your existing register is already used to store some other intermediate information? Then you'd overwrite it by calling `measure_all`.

You could say: if a classical register of the right size exists that is also empty, use that. But IMO this is going a bit too far and you could just use `measure()` if you already have a classica

[2021-06-14 16:09] Jwala-1908 commented on #6571
Was suggesting it as an added flexibility. To account for intermediate information (which there mostly will be), the default value of the argument, say 'use_existing', can be made False.
I agree that checking used and unused register will be too much. Hence suggested a user-facing argument.

[2021-06-14 16:57] #3649 closed

[2021-06-14 17:37] enavarro51 commented on #5784
@TheGupta2012 I had this problem once and even though I had pdflatex installed I had to do an install of TeX Live in order to get everything working.

[2021-06-14 17:47] nonhermitian opened #6572 "Cannot transpile custom pulse gate over 5 qubits"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives:

[code]

The docs say it should do this if a calibration is not provided:

But here I have explicitly done so.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-06-14 18:05] blakejohnson commented on #6572
`add_calibration` says that it takes a tuple. What happens when you change that line to:
[code]
?

[2021-06-14 18:34] nonhermitian commented on #6572
The error still persists.  Also note that the tutorial uses lists:

https://qiskit.org/documentation/tutorials/circuits_advanced/05_pulse_gates.html

[2021-06-14 18:51] blakejohnson commented on #6572
I already see this problem when reducing it to 3 qubits rather than 5.

[2021-06-14 18:58] TimAlexisKoerner opened #6574 "Multiple smaller issues found in source code of qiskit/circuit/"
qiskit-terra version: 0.17.3
While digging through the qiskit/circuit code I found multiple smaller issues, none of them classifiable as a proper bug:

1.  qiskit-terra/qiskit/circuit/register.py
	- __init__() bits argument seems problematic since the register attribute does not get set
	- __getitem__() wrong error type in docsting / raised
2.  qiskit-terra/qiskit/circuit/instruction.py
	- multipl

[2021-06-14 19:20] TimAlexisKoerner opened #6575 "Drawing circuits with custom instructions"
### Information

- **Qiskit Terra version**:0.17.3
- **Python version**:3.9.4
- **Operating system**:Windows

### What is the current behavior?
Drawings of circuits with custom instruction using output mode text,
where the instructions are given bits in non-ascending order,
results in overflowing box representation.
![custominst_wrongorder](https://user-images.githubusercontent.com/83113669/121946

[2021-06-14 19:42] kdk commented on #6572
Is there any more of the traceback available?

[2021-06-14 19:44] nonhermitian commented on #6572
ger.py", line 165, in _run_this_pass
    new_dag = pass_.run(dag)
  File "/opt/conda/lib/python3.8/site-packages/qiskit/transpiler/passes/basis/unroll_3q_or_more.py", line 35, in run
    rule = node.op.definition.data
AttributeError: 'NoneType' object has no attribute 'data'

[2021-06-14 19:59] nonhermitian commented on #6572
The `unroll_custom` file has:

[code]

which is missing in the 3Q unroller.

[2021-06-14 20:05] kdk commented on #6572
Likewise for `CheckMap`.

[2021-06-14 22:11] kdk opened #6576 "Generalize `CXCancellation` optimization pass to generic gate-inverse pairs"
### What is the expected enhancement?

The `CXCancellation` pass currently only looks for adjacent CX-CX gates (on the same qubits) as opportunities for optimization, but it should support a broader set of both self-inverse gates and generic gate-inverse pairs.

One option (similar to what was done for `CXDirection` in #5609 ) would be to include in `CXCancellation` additional gate-inverse rules f

[2021-06-14 22:36] kdk opened #6577 "Add documentation for performance benchmark suite"
### What is the expected enhancement?

There is a collection of performance benchmarks covering qiskit-terra defined in https://github.com/Qiskit/qiskit/tree/master/test/benchmarks and published at https://qiskit.github.io/qiskit, based on https://asv.readthedocs.io/en/stable/ , that are not mentioned in either the user or contributor docs. We should document:
- how to find the published benchmark

[2021-06-14 22:49] ecpeterson commented on #6577
Thanks for tracking this!

[2021-06-15 03:43] ajavadia opened #6578 "subcircuit rewriting informed by gate errors"
The decision on whether to replace a gate or not should be made based on gate errors (reported by a backend), and if that is not available then based on whether the replacement makes the circuit shorter. None of the passes currently do this (prominent examples are `Optimize1qGatesDecomposition`, `UnitarySynthesis`, `BasisTranslator`, `TemplateMatching`)

e.g. recognize that `RZ.SX.RZ` is cheaper t

[2021-06-15 06:28] Cryoris commented on #6571
If the register already exists it's super straightforward to measure all bits into that register:
[code]
which is even shorter 😉

It's definitely a valid suggestion! However we don't want to add too much special functionality to the circuit, to avoid the code being incomprehensible (and harder to maintain). In this particular case I don't think there's a strong enough use-case, since the existing

[2021-06-15 07:03] Jwala-1908 commented on #6571
Okay! I think we can close this issue then.

[2021-06-15 07:25] #6571 closed

[2021-06-15 09:46] toural opened #6579 "Visualize state vector using circle notation"
### What is the expected behavior?

Quantum state circle visualization

The circle visualization allows to visualize the superposition of states of the qubits in the quantum system. Each state in the superposition is represented with a circle where the magnitud of the coefficient is depicted with the size of the radius and the relative phase with the arrow and the color using the QISKit color whee

[2021-06-15 10:56] ishworii commented on #6413
Can I just add an instance check and do something like this? @Cryoris @woodsp-ibm
[code]

[2021-06-15 12:46] 1ucian0 commented on #5536
I think the problem is about scoping. The following works:
[code]

[2021-06-15 12:48] 1ucian0 commented on #5536
We are moving towards leaving `qelib1.inc` fixed, following the paper definition. See #4312 and #6125

[2021-06-15 14:08] Cryoris commented on #6413
Yes 👍🏻 Though you probably have to copy the circuit to avoid it being used via reference.

[2021-06-15 14:14] ishworii commented on #6572
Is anyone working on this?

[2021-06-15 14:35] #6455 closed

[2021-06-15 16:12] chriseclectic opened #6583 "Flattened conditional circuits give incorrect results"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Flattening a conditional circuit gives incorrect results. It looks like the issue is probably in how the conditionals are implemented:

### Steps to reproduce the problem

Manually adding an additional registers to a teleport circuit works:

[code]

But composing and flatt

[2021-06-15 16:13] chriseclectic opened #6584 "Cannot convert condition in circuit with multiple classical registers to instruction"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Appending a circuit with multiple conditional registers to an instruction raises an exception (from `to_instruction` method), however using `compose` instead of `append` seems to work.

A related issue is that the "working" circuit from compose assembles to incorrect qobj

[2021-06-15 16:23] chriseclectic commented on #6583
Follow up building with a flat circuit this way looks to give correct result:
[code]

assembled qobj
[code]

[2021-06-15 21:57] woodsp-ibm commented on #6413
Additionally I think we should raise a deprecation warning if we go down the else path. Going forwards we just want to support QuantumCircuit and the logic there now for construct_circuit off an InitialState object is really now legacy to work with Aqua, which is now itself deprecated. So we need to keep it for the time being but it should be removed in the future.

[2021-06-15 22:06] kdk commented on #6583
I believe this is an issue in `QuantumCircuit.compose` failing to map the condition correctly from the two single-bit cregs in the input circuit onto the one larger creg on the output circuit. Before #6018 , it wouldn't have been possible to map these conditions and I would've expected `.compose` to raise similar to how `circuit_to_instruction(teleport_circuit())` currently raises: `"Cannot conver

[2021-06-15 22:15] kdk commented on #6584
For now, I think raising is the right behavior here. `Instruction` conditions can span a full `ClassicalRegister` or, after #6018, individual `Clbit`s, but not yet slices of registers. One possible short term workaround would be to repeat the conditional instruction, conditioned over the possible states of the remaining bits of the flat register, in sort of an 2^N-way `OR`, but this doesn't scale

[2021-06-15 22:16] woodsp-ibm commented on #6479
@dlasecki @ikkoham2 What is the outcome of this issue. I am unsure if it was resolved - can we close this off if it was resolved or agree/sort out what is needed if something still needs to be done.

[2021-06-15 22:28] kdk commented on #6577
Aer has https://github.com/Qiskit/qiskit-aer/blob/main/BENCHMARKING.md which covers many of the same details.

[2021-06-16 03:03] ishworii commented on #6568
Which qiskit version are you using, the above code ran fine on my build, with 0.9 and 0.95
I am using
`'0.18.0.dev0+25df5ba'
`, which I recently built from source.

[2021-06-16 03:29] ishworii commented on #6413
What should be the proper depreciation warning message?Can you give me some format or tell me how it should be? @Cryoris @woodsp-ibm

[2021-06-16 05:23] des137 opened #6586 "Method to unbind numerical values to build a parametric quantum circuit"
Currently, a method to bind _numerical values_ to a _parametric quantum circuit_ exists (i.e. `qc.bind_parameters(...)`), but the opposite method to unbind the _numerical values_ to build a _parametric quantum circuit_ does not.

### What is the expected behavior?
Given a QuantumCircuit object, there should exist a method that replaces all the numerical values with elements from a ParameterVector.

[2021-06-16 10:19] 1ucian0 commented on #5872
Hi @georgios-ts ! Any news?

[2021-06-16 11:36] #4645 closed

[2021-06-16 13:00] Cryoris commented on #6413
See: https://qiskit.org/documentation/contributing_to_qiskit.html#deprecation-warnings

[2021-06-16 13:09] Faridelnik commented on #6372
I solved this issue by doing:
circuit = circuit.bind_parameters({p: [0, 1, 2]}) # p is a ParameterVector

Then you can execute the circuit.

[2021-06-16 13:12] #6549 closed

[2021-06-16 13:36] eggerdj commented on #6568
See the commit specified above.

[2021-06-16 13:48] nkanazawa1989 commented on #6568
This seems to be an issue of data structure of circuit calibration field, i.e. this is a dictionary with the assigned parameter value as a part of key `Dict[gate name: str][Tuple[Tuple[qubit: int, ...], Tuple[parameter value: float, ...]], Schedule]`.

Perhaps this line?
https://github.com/Qiskit/qiskit-terra/blob/5fad07e9c537e7f254cbd099e129a1eb427176cd/qiskit/dagcircuit/dagcircuit.py#L231-L232

[2021-06-16 14:08] chriseclectic commented on #6584
@kdk In that case `compose` should also raise an error rather than appear to work (see the other issue for it returning incorrect result)

[2021-06-16 14:16] chriseclectic commented on #6504
Here is Aer PR for changing these pending warnings to actual deprecation warnings: https://github.com/Qiskit/qiskit-aer/pull/1270

[2021-06-16 15:40] dhruvbhq commented on #6544
Hi @taalexander, @jwoehr. May I work on this?

[2021-06-16 17:16] FelixTruger commented on #5710
Problem 2) was already resolved by #5705 which raises an error when parameterized circuits are converted to qasm. Hopefully, OpenQASM 3 will be able to represent parameterized circuits soon.

@dahlend This worked for me: `qk.QuantumCircuit.from_qasm_str('include "qelib1.inc";qreg q[1];U(0.0, 0.0, 0.0) q[0];')`
I just included qelib1.inc. but I think you're right that this should work without inclu

[2021-06-16 19:18] ajavadia opened #6591 "plot_histogram sort by value"
there's a `sort` argument in `plot_histogram()` which sorts according to the keys. But it would be useful to be able to sort according to the values (i.e. height of bars). Like put the most likely outcomes first and so on.

[2021-06-16 20:07] TharrmashasthaPV commented on #6583
I think that this trouble is not just with single-bit cregs. For instance take the following circuit
[code]
This circuit outputs `assemble(circ).experiments[0].instructions` as
[code]
This error seems to happen whenever a circuit `qc` containing a creg, say `c`, is composed to a circuit that contains a single creg whose size is larger than that of `c`.

As for the conditioning on single `Clbit`, c

[2021-06-16 20:22] jwoehr commented on #6544
It's open source, go ahead, @dhruvbhq

[2021-06-17 01:15] eptru commented on #6531
seems like an interesting and useful feature! I am interested in this if no one else has started working on it.

[2021-06-17 01:58] ikkoham commented on #6504
@chriseclectic Thanks you so much.

[2021-06-17 07:33] Cryoris commented on #6531
Sure, go ahead @eptru!

[2021-06-17 08:46] #6380 closed

[2021-06-17 09:17] tnemoz commented on #2015
In that case, wouldn't it be better to add an optional argument like `backend="qcircuit"` in the `circuit_drawer` option, only considered when the `output` argument is set to `latex` or `latex_source`, so that the user can choose between `qcircuit`, `quantikz` and `yquant`?

The rationale for this would be to let the user choose the framework they want to work with once the circuit has been export

[2021-06-17 09:23] tgag17 commented on #2307
Hi! Sorry, I was a bit preoccupied with some work and so wasn't able to make a PR. I will make at least a draft by this weekend. Thank you!

[2021-06-17 12:22] 1ucian0 commented on #6510
Delay is not a standard instruction in QASM2. However, you could declare it as opaque.
[code]

Loading this as a circuit will result in a custom opaque gate, which I think we could map to our delay instruction:
[code]
[code]

Notice that:
[code]
[code]

So, if I understand you correctly, the output of the last example should be:
[code]

[2021-06-17 12:28] sassan72 commented on #6528
thanks. it worked.

[2021-06-17 13:25] TheGupta2012 commented on #6586
Hey @des137 , do you mean then we get a single circuit, representative for the binding parameters that are present in our circuits?

[2021-06-17 13:40] kdk commented on #6412
Thanks for your interest @singhmeet11 ! (and sorry I didn't see your comment earlier.) It looks like this bug was already resolved as part of #4837 :

[code]

As to your question on how to assert the input and output circuits are the same, this is in general a difficult problem to solve (see e.g. #5692 for a proposed equivalence checker interface ) but for single qubit circuits, asserting the unit

[2021-06-17 13:40] #6412 closed

[2021-06-17 13:40] kdk commented on #6411
Thanks for your interest @Avhijit-codeboy ! Closing as this was already resolved as part of #4837 :

[code]

Please feel free to re-open if you're still seeing this behavior.

[2021-06-17 13:40] #6411 closed

[2021-06-17 13:41] kdk commented on #6495
There were also a few `with warnings.catch_warnings():` added in #6069 that should be resolved here.

[2021-06-17 13:52] kdk commented on #6586
Here's a quick implementation after discussion with @des137 that might serve as a good starting point (but would need to be made more robust):

[code]

A few questions:
- Should this method operate in-place or return a new circuit?
- Should the `ParameterVector` be created by the method, or passed by the user?
- For instructions that are already parameterized, should their existing `Parameter` be

[2021-06-17 14:48] raulotaolea opened #6595 "Qiskit job watchers doesn't support Jupyter Lab"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.7.8
- **Operating system**: macOS Big Sur

### What is the current behavior?
In Jupyter Lab, if I instance the job watcher tool it appears in the cell output instead of on the top left of the notebook.

### Steps to reproduce the problem
1. Open a [JupyterLab](https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/master?ur

[2021-06-17 20:25] #6336 closed

[2021-06-17 20:25] #6497 closed

[2021-06-18 07:55] #6528 closed

[2021-06-18 10:42] ishworii commented on #6574
Can I work on this?

[2021-06-18 12:34] TimAlexisKoerner commented on #6574
@ishworii Sure! Thank you.

[2021-06-18 14:51] #6314 closed

[2021-06-18 14:57] Cryoris commented on #6254
Closing this, as from above it turns out this is not a bug in the code but rather a bug in my user expectation 😉

[2021-06-18 14:57] #6254 closed

[2021-06-18 16:25] singhmeet11 commented on #6412
No problem

[2021-06-19 10:21] singhmeet11 commented on #6435
I would like to work on this

[2021-06-19 18:48] nbronn opened #6604 "Opflow fails if leading Pauli^0 in tensor product has a coefficient"
### Information

- **Qiskit version**: 0.26.0
- **Python version**: 3.9.4
- **Operating system**: Darwin

### What is the current behavior?

A useful expression when constructing Ising Hamiltonians with arbitrary numbers of qubits includes tensor products of the form

[code]

### Steps to reproduce the problem

However, when including a coefficient in the form of an `int`, `float` or `Parameter`,

[2021-06-20 09:34] boschmitt opened #6605 "Absolute tolerance on ZXZ one qubit decomposition"
While looking at the code for one qubit decomposition I found
a small difference between ZXZ decomposition and the other
ones ('ZYZ, XYX'):

https://github.com/Qiskit/qiskit-terra/blob/62383eb90e1d3fc9790ceef9789e8f842e671a1e/qiskit/quantum_info/synthesis/one_qubit_decompose.py#L320

The following diff show the difference between `_circuit_zyz`
and `_circuit_zxz`. Apart from the expected `RYGate`

[2021-06-20 10:33] singhmeet11 commented on #5228
Hi, @ajavadia could you please share your code.
I am actually having difficulty understanding how this works and what's the proper arguments that we need to pass to the transpiler passes. I know that `UnitarySynthesis` is applied upon unitary nodes and gives us gate in return so if I wanna apply it on a circuit I will start by using `Collect2qBlocks` and then use `ConsolidateBlocks` to get unitary

[2021-06-20 13:41] woodsp-ibm commented on #6604
In your expression what do you expect to happen - the same as without the `3*` prefix but now with coeff of 3 instead?

The operator character used for tensor i.e. `^`  is the xor in Python and has lower precedence than multiply so this
[code]
is evaluated the same as this
[code]

Now adding brackets so the whole lot is multiplied
[code]

@ikkoham FYI since this ends up in the TensorMixin in the c

[2021-06-20 18:22] nbronn commented on #6604
Yes, that was the expected behavior I was looking for. Since this is the correct order of operations, I will close the issue. Thanks!

[2021-06-20 18:22] #6604 closed

[2021-06-20 21:52] levbishop opened #6608 "Pylint not applied to tools directory"
Pylint is not applied to tools directory. Some of the tools are non-compliant with project style.

[2021-06-20 22:43] levbishop opened #6612 "Pylint not applied to examples/python/ibmq"
In making #6611 I noticed that the way we were applying pylint to the examples directory, as

    pylint -rn --disable='C0103, C0114, W0621' examples/python/*.py

only covers the top-level python directory but not the ibmq subdirectory. In #6597 I made the git path `:(glob,top)examples/python/*.py` rather than the more complete `:/examples/*.py` to avoid raising new pylint errors, but we should fi

[2021-06-20 23:53] levbishop commented on #6605
Well spotted. I took a look at this and I think the right thing is to add the `atol` for the zxz case as you suggest. Refactoring this as you describe makes sense to me, but I think @ajavadia might have some opinions about this kind of thing.

[2021-06-21 09:25] javabster commented on #5351
Thanks @a-freakish I'll assign to you 😄

[2021-06-21 10:38] #6465 closed

[2021-06-21 12:18] eendebakpt opened #6615 "Document behaviour of the qiskit passes run method"
### What is the expected enhancement?

The base method for the qiskit passes is defined as (see https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/basepasses.py#L69):
[code]
The different implementations of the passes often
* Return a new dag
* Either modify the `dag` argument in place, or make a copy

Enhancement:

* Document the expected behaviour of a pass implementation of `run

[2021-06-21 13:48] nonhermitian commented on #5920
It is possible in MPL using interactive mode in a notebook.  I had a demo of this functionality that I gave to @nkanazawa1989 some time ago (years?) that looked much like the current timeline plot, but then the actual pulse shapes would appear on mouseover.  Do it in JS would be a better solution though.

[2021-06-21 14:56] 1ucian0 opened #6616 "plot_circuit_layout output unexpected"
### What is the current behavior?

Consider the following backend:
[code]
![image](https://user-images.githubusercontent.com/766693/122782504-121f0800-d2b1-11eb-81ff-d74a260bbfd6.png)

Let's create a circuit with a layout:

[code]
![image](https://user-images.githubusercontent.com/766693/122782975-7346db80-d2b1-11eb-8996-7329528653b1.png)

The drawing is unexpected to me. The layout is non-trivial

[2021-06-21 18:19] Costor opened #6617 "transpile may produce wrong results when coupling restraints are present. Example ccx"
### Information
{'qiskit-terra': '0.17.1', 'qiskit-aer': '0.8.2', 'qiskit-ignis': '0.6.0', 'qiskit-ibmq-provider': '0.12.3', 'qiskit-aqua': '0.9.1', 'qiskit': '0.25.3', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}
Python 3.9.4
Windows 10 fully updated

### What is the current behavior?
When restricted to basis gates rz, sx, x, cx (the

[2021-06-21 18:37] dhruvbhq commented on #6544
Hi, I have raised a PR, but I have a query.

In the method validate_parameters of class Drag (derived from ParametricPulse), there is an assertion/check "Beta is too large: pulse amplitude norm exceeds 1". It is checking whether the value of 'Beta' causes the maximum amplitude to exceed 1. For now, I have bypassed this check in case 'limit_amplitude' is false, as in this case it doesn't make sense

[2021-06-21 22:10] jlapeyre commented on #6479
I think an approach to this that is uniform across qiskit would be great. There are a few use case with slightly different meanings. Their concepts of zero (and sometimes `one`) should be consistent.
* Comparison to zero or one. Is this instance an additive (multiplicative) identity?

* Initializing an accumulator.
    *   One disadvantage of using an object that represents zero for this is that i

[2021-06-22 02:55] ikkoham commented on #6479
In addition, I did not change the API when I added the mixins. Previously OperatorBase had such a functionality. https://github.com/Qiskit/qiskit-terra/blob/stable/0.17/qiskit/opflow/operator_base.py#L196-L199

[2021-06-22 11:15] dlasecki commented on #6479
I share the concern of @jlapeyre . It happens to me that I want to initialize an accumulator, add some terms to it (but possibly 0) and then call `reduce()`on the result. If nothing is accumulated then `reduce()` throws and error and I have to if it out...

[2021-06-22 11:20] ikkoham commented on #6479
@dlasecki empty op check is necessary in the case. I note that reduce is costly, so reduce should be minimal.

[2021-06-22 11:23] ikkoham commented on #6479
OperatorBase.zero() might be nice. This should be equal to 0 and 0.0, but is instance of OperatorBase.

[2021-06-22 11:30] dlasecki commented on #6479
Why would reducing an empty operator be costly?

[2021-06-22 11:32] ikkoham commented on #6479
that is not for empty op

[2021-06-22 14:26] kdk commented on #6617
Thanks for reporting this @Costor ! I believe this is a duplicate of #4608 (which has a draft pull request to address the issue #5280 .)

[2021-06-22 15:25] dhruvbhq commented on #6612
Hi! May I work on this?

[2021-06-22 15:55] enavarro51 commented on #5784
Hi, @TheGupta2012. I'm just checking to see if you're still working on this. If you're having problems with the latex drawer, you could submit a draft PR with your mpl and text changes. If there's anything else I can help with on the latex install, let me know.

[2021-06-22 16:54] Costor commented on #6617
yes #5280 looks very close (I can't judge on 4608).
However things might have become worse:
If I use the same example and same options on transpile as #5280 I get a different and wrong result:
![image](https://user-images.githubusercontent.com/24916587/122966706-eae83980-d389-11eb-8ba5-61f13058afba.png)

So: What is currently the work around for this problem: which options of transpile create corr

[2021-06-22 17:06] nonhermitian opened #6623 "Can create a delay gate with negative time"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
It is possible to make this:
[code]

### Steps to reproduce the problem

### What is the expected behavior?
Negative times should be caught.  It does however work on IBM HW but gives odd results.

### Suggested solutions
A simple if and raise would likely solve this.

[2021-06-22 17:13] TheGupta2012 commented on #5784
Hey @enavarro51  I did update my code for the issue but it was failing some local tests in `visualization`. Would you be able to help as to where I am going wrong in the updates?.
 `make test` fails in visualizations for `text` based circuits. All my `matplotlib` circuits do pass in the binder notebook given in the contributing guidelines but I don't know where to check for the `text` and the `lat

[2021-06-22 18:00] kdk commented on #6623
This can be handled in the `validate_parameter` method for `Delay`: https://github.com/Qiskit/qiskit-terra/blob/db3b35e/qiskit/circuit/delay.py#L69

[2021-06-22 19:14] levbishop commented on #6612
Sure, have at it

[2021-06-22 19:30] ajavadia commented on #6434
I think the documentation and the actual matrix definition in the code should be exactly equal.

For U this is correct:
<img width="411" alt="image" src="https://user-images.githubusercontent.com/8622381/122987298-70f68700-d36e-11eb-8239-cfe4f7b03efc.png">

For U3 this is correct:
<img width="389" alt="image" src="https://user-images.githubusercontent.com/8622381/122987475-a26f5280-d36e-11eb-8f62-

[2021-06-22 20:21] woodsp-ibm commented on #6384
@Cryoris Is this issue needed anymore - this was done by the Stateless VQE PR was it not?

[2021-06-22 20:22] #6608 closed

[2021-06-22 20:32] jlapeyre opened #6624 "Factor quantum_info-dependent code out of `opflow.AbelianGrouper`"
The code in [abelian_grouper.py](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/opflow/converters/abelian_grouper.py) does not depend in an essential way on any part of opflow. It could be factored out and moved to quantum_info, or to some organized code whose only qiskit dependency is quantum_info.  The opflow class could then call this factored-out code.

[2021-06-22 20:52] woodsp-ibm commented on #6624
Let me link this since it was about the grouping code Qiskit/retworkx#347 in that the groups being returned is not deterministic and under Aer, which uses the seed with RNG once per job, a change in ordering of groups, and hence the circuits that were executed to measure their expectations, led to different unit test outcomes.

[2021-06-22 21:00] mtreinish commented on #6624
While we working on the retworkx issue couldn't you just do `sorted()` on the output dict? The issue is the insertion order is unordered (because the underlying result object is a HashMap that doesn't define an order) so iteration order is different but the output should be deterministic, it's just a different insertion order.

[2021-06-22 21:06] mattwright99 commented on #6230
@AshwinKul28 @javabster Can i take this issue over?

[2021-06-22 22:44] levbishop commented on #6436
Do we need another issue for a PassManager to stitch together the pieces here? Or can that punt to a later release?

[2021-06-23 00:36] nstamato commented on #6540
Thanks for the suggestion @Cryoris. Indeed the `compose` workaround is the best option and works well, although it makes it a bit harder to control the level of granularity when drawing the circuit. But it sounds like my reported issue is actually behaving as expected, so happy to close this as an issue.

[2021-06-23 00:36] #6540 closed

[2021-06-23 01:02] jlapeyre commented on #6624
@irajput will be working on this.

[2021-06-23 08:43] javabster commented on #6230
@AshwinKul28 are you still working on this? If not please let us know so I can assign to @mattwright99 😄

[2021-06-23 12:02] Cryoris commented on #6384
Yep -- it was reduced to an interface 👍🏻

[2021-06-23 12:02] #6384 closed

[2021-06-23 13:10] nonhermitian opened #6627 "Equivilance between id and delay gates"
### What is the expected enhancement?
Currently there is no way to map an `id` gate to a `delay`.  This despite the fact that the QASM3 spec says this mapping should exist:

To support this behavior the `delay` gate should allow for a null value.  A backend that supports the `delay` gate should supply a default value, e.g. `backend.configuration().default_delay=XXX`, to substitute into the `delay`

[2021-06-23 13:47] mtreinish commented on #6436
I think for 0.18 just having the passes is enough, we can document an example pass manager in a tutorial on replicating QV64/QV128 with terra. We can look at adding a pass manager with everything in 0.19 because I think it would be good to do it with #5978

[2021-06-23 14:04] ikkoham commented on #6624
Thanks. Nice proposal. I think it is better after the internal data of `SparsePauliOp` is replaced by `PauliList`.

[2021-06-23 14:06] t-imamichi commented on #6624
FYI This is the issue Matthew mentioned https://github.com/Qiskit/retworkx/issues/347

[2021-06-23 14:29] nonhermitian opened #6628 "Optimization level 3 runs CSP layout solver regardless of number of qubits"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Optimization level 3 runs the `CSPLayout` routine regardless of the number of qubits.  On a 127Q system this takes ~50% of the total compilation time.

### Steps to reproduce the problem
Transpile a circuit over large numbers of qubits at `optimization_level=3`.

###

[2021-06-23 14:49] ikkoham opened #6630 "Performance profiling and benchmarking for algorithms"
### What is the expected behavior?

We need performance profiling of our codes to identify performance issues for algorithms such as VQE, QAOA, and QPE...

TODO:

- [ ] Pickup problems and algorithms for benchmarks
- [ ] Implement benchmarks (test/benchmarks?)

References:
- Terra's asv https://qiskit.github.io/qiskit/
- https://github.com/Qiskit/qiskit/tree/master/test/benchmarks

[2021-06-23 14:57] #6413 closed

[2021-06-23 15:37] nonhermitian opened #6631 "Compiling takes longer on subsequent transpiler calls."
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Trying to compile the circuit:

[code]

reveals that the commutation analysis pass runtime greatly increases on subsequent transpiler calls (here tested at optimization level = 2)

First call:

[code]

Second call:

[code]

Third call:

[code]

### Steps to reproduce

[2021-06-23 15:39] nonhermitian commented on #6628
I actually think this issue mirrors the same issue in https://github.com/Qiskit/qiskit-terra/issues/6631 as one gets longer runtimes depending on if the transpiler was called before.

[2021-06-23 15:42] nonhermitian commented on #6631
Actually it looks like everything takes longer.

[2021-06-23 15:45] nonhermitian commented on #6631
Actually I see the issue here, sorry.

[2021-06-23 15:45] #6631 closed

[2021-06-23 15:47] nonhermitian commented on #6628
Closing as well due to my error

[2021-06-23 15:47] #6628 closed

[2021-06-23 15:50] mtreinish commented on #6628
FWIW, we're looking at moving away from CSPlayout and replacing it with #6620 which should be significantly faster. But that won't be ready until 0.19 at the earliest (because it depends on some unreleased retworkx code).

[2021-06-23 17:16] #6262 closed

[2021-06-23 18:04] eggerdj opened #6632 "QuantumCircuit.append ignores calibrations"
### Information

- **Qiskit Terra version**: 06550512e30436c7bc9bbcf54e647694e198ac9a
- **Python version**: 3.8.5
- **Operating system**: Ubuntu

### What is the current behavior?

QuantumCircuit.append ignores calibrations.

### Steps to reproduce the problem

[code]
prints
[code]

### What is the expected behavior?

The calibrations of qc1 after the append should contain the calibrations of qc2,

[2021-06-23 19:43] ajavadia commented on #6605
Yes I agree. There's a good amount of duplication here and refactoring makes sense to me.

[2021-06-23 20:08] levbishop commented on #6605
If we could have a generic Euler fn that would also support XZX etc then @ewinston would be able to use it in #6581

[2021-06-23 20:55] nbronn opened #6633 "Parameter table not updated after circuit assignment"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.9.5
- **Operating system**: Darwin

### What is the current behavior?

When performing a circuit assignment, `_parameter_table` is not updated to remove the discarded instruction, causing certain methods to fail (i.e., `.copy()`).

### Steps to reproduce the problem

[code]
prints
[code]

Now, modify circuit by assignment

[2021-06-23 21:57] kdk commented on #6574
Thanks for looking in to these @TimAlexisKoerner ! A couple questions to clarify:

This is intentional as we are deprecating the `.register` attribute on `Bit` instances, but you're correct that it does leave us in an awkward position during the deprecation period where some `Bit` instances will have a `.register` and others won't.

The `QiskitError` on L163 should be `QiskitIndexError`, or someth

[2021-06-23 22:55] kdk commented on #6627
My interpretation of that section of the spec is somewhat different:

I take this to mean that there is an explicit difference (in the spec) between an `id` instruction (defined as a literal identity operation, which could presumably e.g. commute with other instructions or be optimized away) and a `delay` instruction (defined as an explicit wait time, which only on a noise-less device would implem

[2021-06-23 23:33] nonhermitian commented on #6627
Hmm ok. Will close then.

[2021-06-23 23:33] nonhermitian commented on #6627
Hmm ok. Will close then.

[2021-06-23 23:33] #6627 closed

[2021-06-24 06:48] Cryoris commented on #6633
Thanks for the report! I believe we had similar issues with append/compose but fixed them there as they are the primary methods for modifying the circuit.

@kdk Since the data attribute is used a lot internally (e.g. to append) do you have an idea of whether adding a parameter table update here could have a performance impact? If no it might be good that we add a safeguard, otherwise we should may

[2021-06-24 11:06] TimAlexisKoerner commented on #6574
@kdk thank you for the clarifications!
- Using QiskitIndexError instead of CircuitError for the __getitem__() register method L163 would be appropriate
- By unnecessary trailing commata in the instruction module I meant lines 295, 349, 358, 456. This may be a coding style I am unfamiliar with, I noticed that the commata were automatically changed in the IDE i use (pycharm). It is visible on github

[2021-06-24 12:57] jlapeyre commented on #6624
Yes. The first step would be to implement grouping for `PauliList` in quantum_info. This is independent of opflow.

[2021-06-25 01:52] mattwright99 commented on #6473
@javabster it looks like @mwessling90 might be MIA. Can I take over this issue?

[2021-06-25 03:46] #6447 closed

[2021-06-25 11:17] 1ucian0 commented on #6574
Here is `0.17/qiskit/circuit/instruction.py#L295`
https://github.com/Qiskit/qiskit-terra/blob/fa05da3fd8bd5ae95fc8dad08139edfa85378f93/qiskit/circuit/instruction.py#L295

There is no comma. Same with the rest of the lines. In any case, probably is because of [black](https://black.readthedocs.io/en/stable/).

[2021-06-25 11:30] 1ucian0 commented on #6574
If I understand this one correctly, https://github.com/Qiskit/qiskit-terra/pull/6639 should fix it.

[2021-06-25 17:47] antetoko opened #6735 "Optimization levels not minimizing CX gates"
### Informations

- **Qiskit version**: 0.27.0
- **Python version**: 3.6
- **Operating system**: macOS Big Sur version 11.4

### What is the current behavior?
[Untitled.md](https://github.com/Qiskit/qiskit/files/6717923/Untitled.md)

(see notebook above)

I was playing around with the optimization levels, and I think I discovered a bug.  The optimizer is adding CX gates, e.g. from level 0 to level

[2021-06-25 19:10] kdk commented on #6633
The fix here shouldn't have a substantial performance impact. All of our existing tooling (`append`,`compose`) should be updating the circuit through `QuantumCircuit._data` and manually handling `ParameterTable` updates. The bug here is with the validation we automatically do for setting/adding instructions through `QuantumCircuit.data` (without the `_`).

In https://github.com/Qiskit/qiskit-terra

[2021-06-25 20:41] kdk opened #6643 "QASM exporting for Delay gate does not preseve unit"
### Information

- **Qiskit Terra version**: main@62383eb9
- **Python version**: 3.6
- **Operating system**: osx 10.16

### What is the current behavior?

When exporting a `Delay` instruction with a `unit` other than `'dt'` as QASM 2, the unit information is not exported.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The output QASM should include unit informatio

[2021-06-25 23:26] #6591 closed

[2021-06-25 23:44] irajput opened #6645 "Incorrect elements in anti commutation graph for abelian grouping"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.9.5
- **Operating system**: macOS Big Sur

### What is the current behavior?
The _anti_commutation_graph function which is used by group_ops in AbelianGrouper sometimes returns anti commutation graphs which has edges with commutable operators instead of anti-commutable operators.

### Steps to reproduce the problem

[code]

[2021-06-26 01:57] #6510 closed

[2021-06-26 09:25] #6547 closed

[2021-06-26 10:41] nonhermitian opened #6646 "Faulty backends report orignal number of qubits not the number that can be used"
### Information

- **Qiskit Terra version**: lastest
- **Python version**:
- **Operating system**:

### What is the current behavior?
If the test backends are correctly formed, then the configuration files for faulty backends do not update the number of active qubits.  This leads to inconsistencies where the users sees ,e.g. 5, qubits but the coupling map supports (at most) 2.

[code]

Returns 5 b

[2021-06-26 10:49] nonhermitian opened #6647 "Cannot target certain sub-graphs on a faulty backend"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Building on #6646, if I use a 7-qubit mock Casablanca system with Q3 disabled so that it is now two 3Q cmaps then I cannot target the first sub-graph [0,1,2], only [4,5,6] works:

[code]
gives

TranspilerError: 'The initial_layout parameter refers to faulty or discon

[2021-06-27 08:56] dhruvbhq commented on #6501
Hi! May I work on this?

[2021-06-28 01:16] jlapeyre commented on #6645
I think it may not be worth fixing this bug. I don't know the origin anyway. It depends on how when the `PauliList` PR is merged (#5993) and when a PR for #6624 might be ready.

[2021-06-28 03:16] WiFisunset opened #6651 "Adding a function 'plot_state_surf' to qiskit.visualization"
### What is the expected behavior?

To show a surface plot of the quantum state (added to state_visualization.py).

Reference: https://matplotlib.org/stable/gallery/mplot3d/surface3d.html
![matlab-surf](https://user-images.githubusercontent.com/33338744/123574286-6d0aa080-d784-11eb-808f-74a99533581a.png)

[2021-06-28 05:34] ikkoham commented on #6645
This is not a bug. AbelianGrouper assumes qubit-wise commutativity, so XX and YY can't belong the same group.

[2021-06-28 07:21] ikkoham commented on #6501
@dhruvbhq Thank you. But please wait. I'm not sure if my suggestion is the right direction to fix it.

I think that BasicAer should be deprecated in the future (related to https://github.com/Qiskit/qiskit-terra/issues/4443), so this issue can be left. But, there may be people who run into the same problem, so I've created an issue.

@chriseclectic @mtreinish What do you think? What should we do?

[2021-06-28 12:00] javabster commented on #6473
Hi @mattwright99 sure I'll reassign to you as @mwessling90 is unresponsive 😄

[2021-06-28 13:33] jlapeyre commented on #6645
What does qubit-wise commutativity mean? Each pair of qubits must commute? Doesn't this mean only identical strings commute?

[2021-06-28 14:32] ikkoham commented on #6645
Yes. for example, XI and XX are qubit-wise commutable.
This concept is introduced in https://arxiv.org/abs/1704.05018.
They said grouping into TPB sets.

[2021-06-28 15:56] jlapeyre commented on #6645
What is the meaning of TPB? I see this acronym sometimes in qiskit comments, for example in the abelian_grouper.py.

[2021-06-28 16:17] TharrmashasthaPV commented on #6575
Hi @TimAlexisKoerner . I believe this issue has been resolved in PR #6242 . You should be able to see the fix in Qiskit Terra version 0.18.

[2021-06-28 18:29] #6572 closed

[2021-06-28 21:24] kdk commented on #5819
Surprisingly not, though maybe this is the bug. If `qargs is None`, it defaults to `[]` which will eventually raise an error from `Instruction.broadcast_arguments` for most instructions, but not `Barrier` (because it supports `qc.barrier()` with no `qargs`).

[2021-06-28 21:38] TimAlexisKoerner commented on #6575
Thank you for the notification, i will close this issue.

[2021-06-28 21:38] #6575 closed

[2021-06-28 23:21] kdk opened #6656 "Transpiler pass to convert SWAP-CX-SWAP to BridgeGate"
### What is the expected enhancement?

The bridge gate (definition in https://arxiv.org/pdf/1907.02686.pdf , ref. Fig. 2) allows for an effective CX gate across next-nearest-neighbors and has been shown to improve, in some cases substantially, the two-qubit output depth of routed circuits. With the exception of #1803 , the current in-tree routing passes are not aware of the bridge gate, and so, in

[2021-06-29 08:04] 1ucian0 commented on #6656
It would be great if the pass can be applied to the commutation graph.

For example:
[code]
(I'm not even sure if this is possible)

[2021-06-29 09:46] Nnayak3110 commented on #6623
how this is going @nonhermitian ?

[2021-06-29 10:11] Nnayak3110 commented on #6632
Any progress yet?

[2021-06-29 13:04] jyu00 opened #6660 "Support PauliGate in qpy"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Serializing a circuit with a PauliGate fails with

[code]

### Steps to reproduce the problem
[code]

### What is the expected behavior?
The circuit can be serialized.

Also the error message seems backwards - should have said `Invalid parameter type 'str' for gate 'PauliGa

[2021-06-29 14:15] boschmitt commented on #6656
In the the new version of `tweedledum` that will become a hard dependency for
`Qiskit-terra`(#6588), there is some experimental passes that can handle these
sort of optimization through coupling-constrained linear resynthesis:

[code]

[code]

I can also handle @1ucian0 example:

[code]

But if it won't be able to commute though "non-linear" gates (ex: `ZGate`):
[code]

[2021-06-29 14:21] mtreinish opened #6661 "Add final layout from property set to output circuit metadata"
### What is the expected enhancement?

Right now the routing passes all set the `final_layout` property in the property_set of the PassManager it's running in. This would be useful to expose to users that call `transpile()` so they know the layout the transpiler has set. We already preserve the circuit metadata for each transpiler pass explicitly for cases like this where we want to add attributes

[2021-06-29 19:15] jgermain48 commented on #2864
This still looks like an issue.  I am seeing it on a circuit I'm debugging.  I tried running the code above in this thread to see if it worked... and got similar errors to what was seen before:

ParameterView([Parameter(theta)])
ParameterView([Parameter(theta)])
/Users/juliegermain/Library/Application Support/JetBrains/PyCharmCE2020.3/scratches/QuantumResearch/scratch_1.py:12: DeprecationWarning:

[2021-06-29 20:44] #5744 closed

[2021-06-30 06:35] nkanazawa1989 opened #6663 "Assigned pulse parameter is not converted into complex value."
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
This crashes execution because `ParameterExpression` is not JSON serializable.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Assigned value should be converted into complex.

### Suggested solutions

Current format logic doesn't recognize

[2021-06-30 08:50] yaelbh opened #6666 "Delay instruction is perhaps not working"
### Information

- **Qiskit Terra version**: main, stable
- **Python version**: 3.9.5
- **Operating system**: Linux (Ubuntu)

### What is the current behavior?

Not sure if this issue belongs to the Terra repository or to another repository. I suspect that the machines ignore the delay instruction, because I don't see decoherence (i.e., excited qubits don't seem to tend towards the ground state as

[2021-06-30 08:52] yaelbh commented on #6666
Note that it's important to solve this issue, in order to enable characterization experiments in `qiskit-experiments`.  @ajavadia @coruscating

[2021-06-30 09:18] AlvinSeyir opened #6734 "PhaseOracle.from_dimacs_file() returns "Index out of range" error"
### Informations

- **Qiskit version = 0.26.2**:
- **Python version = 3.8.8**:
- **Operating system = Windows 10**:

### What is the current behavior?

I was trying to build a circuit for SAT problem with this configuration file.
[test_sim.zip](https://github.com/Qiskit/qiskit/files/6739566/test_sim.zip)
This cnf file proved to be solvable with Lingeling, which may mean that the content itself has

[2021-06-30 09:21] nonhermitian commented on #6666
It looks like the units are not understood.  Doing `dt` seems to work whereas `us` does not

[2021-06-30 09:27] nonhermitian commented on #6666
Actually I think any unit is is interpreted as `dt`.  The unit seems to do nothing.

[2021-06-30 09:34] nonhermitian commented on #6666
The circuit must be transpiled to go to `dt` after which it works.  This is a bit confusing because `delay` is in the basis set, so one would naively assume that it can be executed just like any other gate in the basis set can be.  There is nothing in the documentation that tells you this as well.

[2021-06-30 09:38] yaelbh commented on #6666
Yesterday I transpiled the circuit (the circuit then contained barriers, optimization level was 1); still I saw this phenomena in `athens` and `santiago`, but not in `armonk`. I'll try to reproduce.

[2021-06-30 09:50] nonhermitian commented on #6666
The behavior is reproducible across systems such as Athens.

[2021-06-30 10:36] nonhermitian opened #6667 "Setting instruction duration in transpile seems to do nothing."
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
should take forever to run but it does not.

### Steps to reproduce the problem

### What is the expected behavior?
I have not seen this feature before, but if it does what it says,

https://qiskit.org/documentation/stubs/qiskit.compiler.transpile.html#qiskit-

[2021-06-30 10:40] nonhermitian opened #6668 "Using unroller translation method gives error on simple circuits"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives

QiskitError: "Error decomposing node h: 'NoneType' object has no attribute 'global_phase'"

### Steps to reproduce the problem
Run above.  In this example it was targeting the IBM Athens system.

### What is the expected behavior?

### Suggested soluti

[2021-06-30 10:56] #6663 closed

[2021-06-30 11:17] nonhermitian opened #6669 "Transpiler does not error if delay not in basis_gates"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives

[code]

but `delay` is not a basis gate

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-06-30 11:52] nonhermitian commented on #5895
Is there any news on this front?  Doing circuits over 127Q quickly blows through the 8gb of memory on the IQX, i.e. memory is not freed, and I am assuming this is the cause.

[2021-06-30 13:07] #6660 closed

[2021-06-30 15:40] yaelbh commented on #6666
Consider the following code:
[code]

It works fine:
[code]

But removing 800 from the list of delays:
[code]

Can it be related to 800 being a multiple of 16 (thanks @eggerdj for the idea) ?  Replacing 800 by 784 gives an incorrect result. Replacing 784 by 800 again gives again a correct result - the behavior looks consistent - you need to have 800 around in order for everything to work.

P.S.  It

[2021-06-30 15:48] ajavadia commented on #6666
Just as a reference the transpiled circuits are in dt, e.g.
[code]

[2021-06-30 23:54] jwoehr commented on #6089
PR'ed as #6657

[2021-07-01 02:34] #6623 closed

[2021-07-01 04:10] #6504 closed

[2021-07-01 06:29] #6437 closed

[2021-07-01 14:46] #6333 closed

[2021-07-01 15:51] ajavadia commented on #6667
This will be used if you specify a `scheduling_method`. I agree the docs should say this.

Alternatively we make the passmanager take this info to mean scheduling is required. This is how e.g. coupling_map and basis_gates are used, even if you don't specify routing_method or translation_method. I think we should go with this.

[2021-07-01 16:12] ajavadia commented on #6668
agree this is a bug. it is caused by unconditional access to `gate.definition.global_phase` and `gate.definition.data`, not taking into account that a definition may be None.

Looks like introduced here: https://github.com/Qiskit/qiskit-terra/pull/6155
@georgios-ts can you take a look?

[2021-07-01 16:18] ajavadia commented on #6669
Yes this is the correct behavior. `delay` is a built-in instruction (in qiskit, as well as qasm3). Similar to `measure` and `reset` --- it is not a gate to be translatable to other gates and be a "basis".

I think if a user inserts a delay and sends it to a backend that doesn't understand delay, it should just be a runtime error for now, until the transpiler has a better notion of "instruction set

[2021-07-01 16:24] nonhermitian commented on #6669
Ok. I think then delay should not be in the basis set as it is now because what your saying is an implementation detail that a normal user is unaware of.

[2021-07-01 16:36] georgios-ts commented on #6668
I don't think this is really a bug but rather a limitation of the `Unroller` . It is described here  https://github.com/Qiskit/qiskit-terra/issues/5840#issuecomment-778311046 and the error message has since then improved.

[2021-07-01 17:12] nonhermitian commented on #6668
This is confusing. H is one of the most commonly used gates out there and yet it is expected to fail. It is even more confusing because "unrolling" is what the change to basis gates was called in the past. What is the point of this option if it fails on something so trivial?

[2021-07-01 20:03] 1ucian0 commented on #6669
I agree with @nonhermitian

This happens with all the instructions:
[code]

Qiskit needs a `custom_instructions` parameter (see, for example, `qasm_simulatorAer.get_backend('qasm_simulator').configuration().custom_instructions`), analogous to `basis_gates`.

I'm reopening this because this is actually a TODO in the code:

https://github.com/Qiskit/qiskit-terra/blob/cea50ed6f3bf6632a2f80c5e59756ebf

[2021-07-01 20:45] nonhermitian commented on #6669
It also brings up the question as to what the `supported_instructions` means in the IBM Quantum system config files:

[code]
[code]
`delay` is in the `basis_gates` and the `supported_instructions`.

Also there seems to be a mix between `supported_instructions`, `custom_instructions` and "built-in" instructions.

[2021-07-01 21:28] ajavadia commented on #6668
@georgios-ts Yes unroller is kind of pointless and should really be removed as a translation method (@kdk can we do this), but it did not raise this kind of error before the global phase additions.

Why can't it be fixed by just simply making sure that you don't access the global_phase unconditionally [here](https://github.com/Qiskit/qiskit-terra/blob/cea50ed6f3bf6632a2f80c5e59756ebf5461df21/qiski

[2021-07-01 22:53] ajavadia commented on #6669
No please, this is very ugly. I'm trying to get away from these strings and define a proper instruction set (https://github.com/Qiskit/qiskit-terra/issues/5774). Also "custom_instruction" doesn't make any sense for `delay`, delay is a fundamental thing like measure and reset.

No, it only happens with those you listed because those are all *not* gates. They cannot be translated to each other. "bas

[2021-07-01 23:07] ajavadia commented on #6461
I think it would be kind of interesting to find truth table for `f`, but I don't really know how to extract that from a given circuit. Here I just meant the simple case of given an n-qubit circuit, give me the 2**n-entry truth table.

[2021-07-01 23:07] nonhermitian commented on #6669
See any IBM Quantum system, e.g.

['id', 'rz', 'sx', 'x', 'cx', 'reset']

[2021-07-01 23:15] ajavadia commented on #6669
delay isn't in there. reset shouldn't have been added either, this is why "supported_instructions" was created.

I agree this distinction is non-obvious to the end user. But I think this needs documentation not change in transpiler behavior. And then cleaning the whole thing up in #5885

[2021-07-01 23:17] nonhermitian commented on #6669
Ok yeah by fault, it is reset I was thinking about, which is not a gate at all .

[2021-07-02 09:22] Cryoris opened #6674 "Gate with parameterized gate *and* phase is bound incorrectly"
### Information

- **Qiskit Terra version**: main @ a2cc56f82ebbfd83fb9dc87e9f5dd59eacba9709
- **Python version**: 3.7.9
- **Operating system**: macOS

### What is the current behavior?

A circuit that contains a gate with the same parameter both in a gate and the global phase does bind the parameters, but it still shows up as free in the bound circuit.

### Steps to reproduce the problem

[code]

[2021-07-02 11:46] Cryoris commented on #6385
This will be closed by #6545 but for serialization for Qiskit Runtime we'll have to add encoding and decoding logic in the provider.

[2021-07-02 12:55] #6385 closed

[2021-07-02 14:42] #6666 closed

[2021-07-02 15:12] enavarro51 commented on #6367
@peendebak Just to let you know there's now a PR for this - #6675. Don't know when it will get merged, but feel free to copy the qiskit.visualization.matplotlib.py code from my branch and run it with the current main, if you want to try it out.

[2021-07-02 16:34] mtreinish opened #6676 "Improve documentation for AlignMeasures and ValidatePulseGates transpiler passes"
### What is the expected enhancement?

In #6673 two new transpiler passes `AlignMeasures` and `ValidatePulseGates` were added. However, the documentation in these passes doesn't really describe anything about the passes, what they're used for, or how they are supposed to be used. Both only have a single line description about the pass (which basically mirrors the class name) and a comment about it

[2021-07-02 16:43] #6290 closed

[2021-07-02 17:02] jwoehr commented on #6089
- Currently merging locally but not pushing, in order to avoid CI activity.
- Next task is to duplicate qasm test code for the new qasm2 translator (`grammar` branch which was PR'ed)
- Not yet ready to hook the new qasm2 translator to the unified API so as not to complicated review.

[2021-07-02 19:59] ecpeterson opened #6677 "Inefficient 1Q sequences in -O3"
### Information

- **Qiskit Terra version**: 0.17
- **Python version**: 3.7
- **Operating system**: macOS Catalina

### What is the current behavior?

`synthesis(..., optimization_level=3, translation_method='synthesis')` emits programs with inefficient 1Q subsequences.

### Steps to reproduce the problem

Supply any sufficiently complex circuit (e.g., a quantum volume circuit) to the synthesis ro

[2021-07-02 20:26] mtreinish commented on #6677
I like the proposed solution of an analysis pass to detect for gates outside the basis and condition running the basis translation passes on that. We only added the `_unroll` piece to the optimization loop in https://github.com/Qiskit/qiskit-terra/pull/6133 and https://github.com/Qiskit/qiskit-terra/pull/5671 as a stop gap for two passes injecting gates outside the basis into the circuit, mainly c

[2021-07-03 15:50] jwoehr commented on #6169
I think the big problem with supporting `initialize` in OpenQASM 2 is that `QuantumCircuit.initialize()` can take a vector of complex amplitudes as in the [example](https://qiskit.org/documentation/stubs/qiskit.circuit.QuantumCircuit.html#qiskit.circuit.QuantumCircuit.initialize)
[code]
in the Qiskit Terra API Documentation. This sort of thing cannot easily be represented within the limited parame

[2021-07-03 23:58] omarcostahamido commented on #6169
Thank you @jwoehr and @1ucian0 .
I understand qasm is really simple and won't understand _np_ or that it is possibly more work to allow it to understand a vector of complex numbers. But _something_ is better than _nothing at all_...
In my work to rebuild the qsphere visualization using javascript and opengl inside Max, I just added a feature to my microqiskit object to pass the statevector as a si

[2021-07-04 01:45] jwoehr commented on #6169
Well, I've got a [working OpenQASM 2 translator](https://github.com/Qiskit/qiskit-terra/issues/6089) based on the ANTLR4 grammar for OpenQASM 3. It's pretty easy to extend, but I'm not sure how much I can get away with on [the current PR.](https://github.com/Qiskit/qiskit-terra/pull/6657).

Currently I'm working on the test suite.

The next thing I was thinking to add is parameterization of ransla

[2021-07-04 02:09] omarcostahamido commented on #6169
@jwoehr _what would I do without you?_
this sounds promising. And yes, I'm _all in_ to become early adopter of OpenQASM 3; we should all move that direction sooner or later. Keep me posted please :)

[2021-07-04 03:50] jwoehr commented on #6169
We'll have to see if this PR flies. OpenQASM 3 is a profoundly more complex environment; I'm just using a grammar file authored by the Qiskit team on the basis of _[OpenQASM 3: A broader and deeper quantum assembly language](https://arxiv.org/abs/2104.14722)_. As the language evolves I may have to subset that grammar to keep this OpenQASM 2 development manageable. However, it's possible that inste

[2021-07-04 09:12] yaelbh opened #6678 "Delay (sorry, again)"
### Information

- **Qiskit Terra version**: main
- **Python version**: 3.9.5
- **Operating system**: Linux

### What is the current behavior?

I've updated my Terra clone with the latest version, which includes the new pass. Still some circuits don't run correctly. I don't know if it's still related to the delay instruction.

### Steps to reproduce the problem

Consider the code:
[code]

It works

[2021-07-04 19:22] atmalik123 opened #6679 "AmplitudeEstimation question"
I'm trying to apply QAE to this circuit but I don't know how to get an actual value out of it, it just outputs this statement. Am I missing a parameter? Also, is num_eval the number of qubits in the circuit?

![image](https://user-images.githubusercontent.com/29261370/124397070-35937b00-dcd3-11eb-9b80-b09e6db7d6b8.png)

[2021-07-04 22:04] jwoehr commented on #6089
Had to do some pushes to clean up tests. Need to reach a baseline to rework test code to include Qasm2Loader API

[2021-07-05 07:07] Cryoris commented on #6679
You could check out one of the finance tutorials that use amplitude estimation: https://github.com/Qiskit/qiskit-finance/blob/main/docs/tutorials/03_european_call_option_pricing.ipynb.

All the algorithms take algorithmic specifications (like the number of evaluation/QFT qubits, that determine the accuracy of AE) in the initializer, and then have a method to execute the algorithm which takes the p

[2021-07-05 07:55] nkanazawa1989 commented on #6678
Oh I found alignment is missing in the execute function. We need to update this.

[2021-07-05 09:30] nkanazawa1989 commented on #6676
Thanks Matthew. I'm now looking for someone can review this PR.

[2021-07-05 10:11] Cryoris opened #6682 "``ScipyOptimizer`` options are overriden by default values"
### Information

- **Qiskit Terra version**:
- **Python version**: 3.7.9
- **Operating system**: macOS

### What is the current behavior?

The `ScipyOptimizer`s allow two ways to specify settings of an optimizer:
* directly as named arguments (e.g. `L_BFGS_B(maxiter=10)`)
* via an `options` argument (e.g. `L_BFGS_B(options={"maxiter": 10})`)

However using the second method via `options`, does not

[2021-07-05 13:12] yaelbh commented on #6678
`execute` is not updated anymore. Users need to set transpiler options to `alignment-16,  scheduling_method="alap"`. How do we make every user using `delay` know this? Especially considering that no error is triggered, so users may not know that the delay was no performed.

[2021-07-05 15:06] taalexander commented on #6568
Any bump on this?

[2021-07-06 08:31] eendebakpt opened #6684 "[RFC] Sorted histogram data"
### What is the expected enhancement?

The output of `Result.get_counts` is a dictionary with no particular order of the keys (although that depends a bit on the type of `Result`). For example the output of a GHZ state simulation is:
[code]
A better representation would be to sort the keys. Either according to the key, or according to the value:
[code]
Sorted according to value
[code]

Some questi

[2021-07-06 09:55] Rajan117 commented on #6684
I am a newcomer and recently got into learning QisKit. I would like to attempt fixing this.

[2021-07-06 09:58] Rajan117 commented on #3099
Newcomer here, recently started learning QisKit. Would not mind taking a crack at this.

[2021-07-06 11:17] eendebakpt commented on #6684
@Rajan117 That would be nice!

It might be as easy as adding the line at the end of the `get_counts` method of the `Result` class. Another option would be to do the sorted earlier in in processing, but that might be more complex.

[2021-07-06 15:09] lcapelluto opened #10671 "Add documentation on using Parameters with Schedules"
## Step 1: Update "Building Pulse Schedules" docs
In `tutorials/circuits_advanced/06_building_pulse_schedules.ipynb` ([see here](https://github.com/Qiskit/qiskit-tutorials/blob/master/tutorials/circuits_advanced/06_building_pulse_schedules.ipynb)) add a new section titled "`Schedule`s with Parameters".

In this section, answer these questions for your reader:
 - What is a `Parameter`? [documentati

[2021-07-06 15:22] atmalik123 commented on #6679
Thanks this is really helpful. Just one more question. I see an array of values; what are these values of?

[2021-07-06 16:06] HuangJunye opened #6687 "Modify a copy of instruction instead of the same instance in circuit.data in QuantumCircuit.qasm() method."
### What is the expected enhancement?

In `QuantumCircuit.qasm()` method, when id is added to the instruction name to make it unique if it is the same as an existing instruction. See: https://github.com/Qiskit/qiskit-terra/blob/34b8079844fb19ee719015681184233afb4f9f72/qiskit/circuit/quantumcircuit.py#L1465-L1468

It currently modifies the circuit data directly, which is not ideal. We could just st

[2021-07-06 20:09] #6438 closed

[2021-07-06 20:49] Hannah-Varekamp opened #6691 "GaussianSquare curve description has incorrect mean"
### Information

- **Qiskit Terra version**: whatever the documentation is using (not sure how to tell)
- **Python version**: 3
- **Operating system**: any

### What is the current behavior?
The description in the source code and documentation of the GaussianSquare class has

[code]

as part of the description of the curve shape.

### Steps to reproduce the problem
Look at the documentation at htt

[2021-07-06 20:58] naezzell opened #6712 "Cast circ to qasm via .qasm() fails when unitary added via circ.unitary()"
### Informations

- **Qiskit version**: 0.27.0
- **Python version**: 3.9.5
- **Operating system**: macOS Big Sur

### What is the current behavior?
Suppose I create a unitary of interest--say, a 3 qubit Haar random as follows
[code]
For those unaware, this just creates a 8 x 8 unitary matrix wrapped into the `qiskit.extensions.unitary.UnitaryGate` class, but a 8 x 8 numpy array would work just as

[2021-07-06 22:46] drewrisinger opened #6692 "[Visualization]: plot_histogram() mis-pairs states & labels when comparing data with ``number_to_keep=int``"
### Information

- **Qiskit Terra version**: 0.16.1, 0.17.4
- **Python version**: 3.7, 3.8
- **Operating system**: Linux

### What is the current behavior?

When the ``number_to_keep`` argument is added to ``qiskit.visualization.plot_histogram([data0, data1])``, the resulting states will be misaligned between the two results.

### Steps to reproduce the problem

[code]

Produces (using qiskit-terr

[2021-07-06 22:49] drewrisinger commented on #6692
ping @nonhermitian, he seems to have refactored the ``_plot_histogram_data()`` most recently

[2021-07-07 01:19] #6533 closed

[2021-07-07 07:13] singhmeet11 commented on #6682
I would like to contribute to this

[2021-07-07 08:03] Rajan117 commented on #6684
I will take a crack at it and see what I can do :) @eendebakpt

[2021-07-07 08:49] Rajan117 commented on #6684
Well I am struggling to even get a workable environment setup. When I do 'pip install -e .' in the environment I get this error
![image](https://user-images.githubusercontent.com/77441871/124729530-6c060b80-df08-11eb-9ec7-cf8a4b700283.png). I tried manually setting the owner of that file to my user but it did not work. For reference I am following this official QisKit guide. https://www.youtube.co

[2021-07-07 09:35] eendebakpt commented on #6684
@Rajan117 This error is not related to qiskit. It looks like a problem in your python environment. Can you create a virtual environment to work in? Google for `virtualenv`/`venv`  and have a look at https://docs.python.org/3/library/venv.html

[2021-07-07 10:38] #5998 closed

[2021-07-07 11:33] Cryoris commented on #6682
Great! How would you like to solve the issue? 🙂

[2021-07-07 11:35] Cryoris commented on #6679
The result contains a bunch of information, see https://qiskit.org/documentation/stubs/qiskit.algorithms.AmplitudeEstimationResult.html?highlight=amplitudeestimation#qiskit.algorithms.AmplitudeEstimationResult for the documentation.

Is there an attribute in particular you have a question about?

[2021-07-07 13:33] #6147 closed

[2021-07-07 14:08] atmalik123 commented on #6679
If I say result.estimation, does that give me the actual amplitude that QAE is calculating?

[2021-07-07 15:06] #6679 closed

[2021-07-07 16:12] apcarrik commented on #6691
If still available, I would like to pick this up as my first contribution to qiskit.

[2021-07-07 16:22] mtreinish opened #6694 "Reapply "Performance improvement for Collect2qBlocks" (#6534)"
### What is the expected enhancement?

Right before the 0.18.0 release we reverted #6534 as it was causing a nondeterministic CI failure for one test (see #6686 for more details). After the 0.18.0 release goes out and #6685 merges we should push a revert of the revert PR and reapply #6534 and get to the bottom of the failures since the performance improvement was good (and it also enables follow-o

[2021-07-07 16:32] kdk commented on #6460
Resolved as part of https://github.com/Qiskit/qiskit-ibmq-provider/pull/976 .

[2021-07-07 16:32] #6460 closed

[2021-07-07 17:23] Hannah-Varekamp commented on #6691
Thanks! It seems to be still available. I'm not sure where exactly someone needs to go to change the value but all the links I can find are in the original comment.

[2021-07-07 18:14] taalexander commented on #6691
Assigned @apcarrik 😄 . Pllease let me know if you have questions or need help.

[2021-07-07 18:37] apcarrik commented on #6691
Great, thanks!

[2021-07-07 20:22] #6676 closed

[2021-07-08 01:10] #3945 closed

[2021-07-08 01:10] #4943 closed

[2021-07-08 02:59] ajavadia opened #6702 "function to calculate 2-qubit gate depth"
### What is the expected behavior?
Currently `circuit.depth()` considers all gates in the circuit. In the context of present experiments 2-qubit gates are often much longer than 1-qubit gates, so a function `circuit.depth_2q_gates()` would be useful. This would be a better estimate of true depth cost. Of course the most accurate would be to schedule the circuit with the gate durations and look at

[2021-07-08 03:29] nkanazawa1989 commented on #6678
I think now backends report alignment and users don't need to take care of it. If you execute some circuit with delay on a backend reporting the alignment value, transpiler raises an error to ask one to set scheduling option. The problem here is we cannot pass this option from the execute API. Do we want to update execute @ajavadia ?

[2021-07-08 03:33] nkanazawa1989 commented on #6678
Sorry I misunderstood. `execute` can take `scheduling_method`. Users can get transpiler error and one can set `scheduling_method` to execute. I think this issue can be closed.

[2021-07-08 03:58] nkanazawa1989 commented on #6678
Backend will report alignment value in few weeks, so please keep this issue open until we get alignment from backend configuration. Then you can get proper error message when you try to run circuits with invalid delay.

[2021-07-08 05:53] nkanazawa1989 opened #6703 "Tox dies due to different version requirements"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

https://github.com/Qiskit/qiskit-terra/blob/ecde4971de74eb618c482c51c2cd86d868b8294a/requirements-dev.txt#L27

https://github.com/Qiskit/qiskit-terra/blob/ecde4971de74eb618c482c51c2cd86d868b8294a/requirements.txt#L14

### Steps to reproduce the problem

### What is the exp

[2021-07-08 06:18] t-imamichi commented on #6703
If tweedledum is included in requirements.txt, I don't think we have to include it again in requirements-dev.txt.

[2021-07-08 06:27] nkanazawa1989 commented on #6703
This issue was solved when I upgrade tox. Perhaps some version issue.

[2021-07-08 06:51] singhmeet11 commented on #6682
I think the methods mentioned in the issue itself are good paths to solve the given problem:
1. Simply remove `options` this will take away the problem.
2. Correct the `options` parameter by initialling the parameters to `None` and whatever other thing is required. - _I think this would be prefered as it provides more options to the user_

[2021-07-08 07:38] yaelbh commented on #6678
Here's a summary of what I understand will be the situation in a few weeks:
1. Circuits with delay instructions will have to be transpiled with `scheduling_method` set to something.
2. If `scheduling_method` is not set, the transpiler triggers an error message, which recommends to set `scheduling_method` to `alap`.

We should consider automatically setting `scheduling_method` to `alap` (if it's no

[2021-07-08 07:45] yaelbh commented on #6460
Note that, as a consequence, users who send circuits with id gates to backends that don't have id in their set of basis gates, will have to set the `scheduling_method` parameter (see #6678). And they will have to somehow know about it (they'll learn about it from the transpiler's error message, but I'm not sure if this is the best way to notify users about what they should do and how). Automatic s

[2021-07-08 09:14] mtreinish commented on #6703
Yeah this was a bug in #6588 it should have been deleted in the requirements-dev.txt in that pr. I actually caught this the other day and included the fix as part of #6652, so once that merges I'll close this.

[2021-07-08 10:07] yaelbh commented on #6678
Regarding #6460, if the delays are multiple of 16 dt then there will probably be no error

[2021-07-08 10:08] yaelbh commented on #6460
Actually what I wrote above is not true, as long as we make sure that the delays are multiples of 16

[2021-07-08 13:11] wagnersj opened #6706 "Getting saved statevectors"
### What is the expected enhancement?

Summary: Change `qiskit.result.get_statevector()` to retrieve any statevector saved with `save_statevector()` by specifying the label used.

Users can save the statevector at a midpoint in a `QuantumCircuit` run in a simulator by calling `save_statevector(label=label)`. However, retrieving the saved statevector from the `qiskit.result` object after simulation

[2021-07-08 13:58] JoshDumo commented on #6461
I think classical circuits become so called Permutation matrices when represented in matrix form. This then means we check for only one 1 entry per column, and its location index is the circuit output.

I have tried this out with X, CX and CCX so far, please check it out [here.](https://github.com/JoshDumo/QCircuitTruthTable/blob/main/UnitaryTruthTable.ipynb)

Maybe this is close to what we want?

[2021-07-08 15:26] atmalik123 opened #6708 "QAE Monte Carlo Paper Circuit"
I recently came across this very interesting paper (https://arxiv.org/pdf/2105.09100.pdf) and I've been trying to implement the circuit in qiskit, but I'm not sure if I'm doing it correctly and if the results make sense. Namely, I'm trying to replicate the two circuits below. The thing that confuses me is how the terms of the fourier series are incorporated. The paper says that
1-2QAE(0) = cosine

[2021-07-08 15:28] wagnersj opened #6709 "Remove save_state instructions when transpiling to backend that does not support them"
### What is the expected enhancement?

Summary: When transpiling a circuit with `save_state` instructions (such as those inserted into a circuit with the `save_statevector() function) to a backend that does not support it, remove/ignore them.

Users can save the statevector at the midpoint of a circuit by calling the `save_statevector()` function, which is useful for probing the circuit during sim

[2021-07-08 17:02] jyu00 opened #6710 "qpy not recognizing complex number as a parameter for Initialize"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**:
- **Operating system**:

### What is the current behavior?
When trying to serialize a QuantumCircuit using qpy, I got

[code]

### Steps to reproduce the problem
The circuit I used:

[code]

### What is the expected behavior?

### Suggested solutions

[2021-07-08 19:50] levbishop commented on #6473
Is this fixed by #6553 ?

[2021-07-08 19:52] levbishop commented on #6605
@boschmitt is there anything left here now that #6553 has merged?

[2021-07-08 19:54] kdk commented on #2864
Hi @jgermain48 , thanks for reporting this! This was tricky to track down, but I believe you're seeing an issue in aer, described here: https://github.com/Qiskit/qiskit-aer/issues/1249#issuecomment-876701368 .

[2021-07-08 20:26] mattwright99 commented on #6473
@levbishop I checked the logic and ran the tests again - same result as before. I will resolve the conflicts and update my PR so that this issue can be closed.

[2021-07-08 20:54] mtreinish commented on #6710
There are actually 2 bugs here. The first is that initialize takes it's statevector as a single parameter on init but stores it as a list internally. This is why we get the conversion error on `complex` because every other instruction that takes complex does it as a numpy array as a single parameter. The other half though is with `qft` (and I think all blueprint circuits from the circuit library)

[2021-07-09 07:59] Rajan117 commented on #6684
Thank you, I think I am all good now. I tried again today and got no errors (though I will be sure to tread lightly).

[2021-07-09 08:11] Rajan117 commented on #6684
@eendebakpt What is the easiest way to recreate your output?

[2021-07-09 09:03] javabster commented on #3099
go for it @Rajan117! I've assigned to you, let us know if you have any questions

[2021-07-09 09:07] javabster commented on #5711
Hi @ocareyde how is this going? Let us know if you have any questions 😄

[2021-07-09 09:31] javabster commented on #6230
Hi @mattwright99 it looks like @AshwinKul28 is MIA so I've reassigned to you, let us know if you have any questions 😄

[2021-07-09 11:56] LiquidGunay commented on #6702
I would like to pick this up as my first contribution to qiskit

[2021-07-09 12:05] nonhermitian commented on #6702
It would be nice to just have this do non-local gates in general rather than just 2Q. But I agree this is much needed.  Especially after the IBM Quantum basis gate change. One might have to be careful about things like conditional 1Q gates and what those might do to the depth even if not explicitly in the computation.

[2021-07-09 12:20] mattwright99 commented on #6230
@javabster Sounds good, thanks!

@nonhermitian I just wanted to double check before I start working on this issue but it seems that the fix here is essentially clearifying some documentation and setting the expected type to be a `set` instead of a `list`

[2021-07-09 12:27] singhsanskar202 commented on #6616
I would like to work on this issue.

[2021-07-09 12:59] nonhermitian commented on #6230
That is the fix that @ajavadia suggested yes.

[2021-07-09 13:28] cpossel opened #6714 "IndexError using QubitConverter to get a qubit operator"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.8.10
- **Operating system**: Windows 10

### What is the current behavior?

Script terminates with `IndexError` when converting a `ElectronicStructureProblem` to a qubit operator using `convert` method from a `QubitConverter` object.
Here is the whole traceback:
[code]

### Steps to reproduce the problem

Run the example f

[2021-07-09 13:48] mtreinish opened #6715 "Add back held release notes from 0.18.0"
### What is the expected enhancement?

As part of the 0.18.0 release prep in #6652 a couple release notes were held back (and removed from the repo to avoid reno thinking they should be applied to the 0.18.0 release) as they weren't fully implemented yet. The 2 release notes in question are

- `lo-freqs-circuit-c2ec161873eb4a68.yaml` which was added in #6167 and removed in https://github.com/Qiski

[2021-07-09 16:50] mattwright99 commented on #6230
@nonhermitian I found a new bug when calling `marginal_counts` with the default parameter `indices=None`:

[code]

This won't be a difficult fix so can I just include it in the PR for this ticket?

I think the best way to fix this would be to just return the `result` input at the very start of the function if `indices=None` becasue this funciton has no effect. Thoughts?

[2021-07-10 11:10] boschmitt commented on #6605
I only had time to briefly look over the changes, but looks like there is nothing left. Since it appears that was not a big problem to begin with, only a warning flag, I will simply close the issue.

[2021-07-10 11:10] #6605 closed

[2021-07-10 18:03] Rajan117 commented on #3099
Thanks.
I am using this code to reproduce the error.
`from qiskit import QuantumRegister, ClassicalRegister, QuantumCircuit
from qiskit.dagcircuit import DAGCircuit
from qiskit.converters import circuit_to_dag
from qiskit.visualization import dag_drawer

q = QuantumRegister(3, 'q')
c = ClassicalRegister(3, 'c')
circ = QuantumCircuit(q, c)
circ.h(q[0])
circ.cx(q[0], q[1])
circ.measure(q[0], c[0])
c

[2021-07-10 18:04] Rajan117 commented on #3099
I will be honest, I have had a lot of issues in setting up test environments to attempt fixing issues. Is there an easy way to do it?

[2021-07-11 19:09] eendebakpt commented on #6684
@Rajan117 A minimal example is:
[code]

[2021-07-11 22:42] #6708 closed

[2021-07-12 10:01] Cryoris commented on #6682
Ok, sounds good @singhmeet11 let's go with option 2 👍🏻

[2021-07-12 11:06] javabster commented on #3099
It's best to follow the steps outlined [here](https://qiskit.org/documentation/contributing_to_qiskit.html#installing-terra-from-source) for the best way to set up your environment (including `pip install -e .`)

[2021-07-12 12:12] javabster commented on #6616
Hi @singhsanskar202 it looks like there is already a PR open for this issue, feel free to help review the existing PR or pick up another issue 😄

[2021-07-12 13:37] adjs opened #6719 "transpiler changes the state generated by circ.uc with up_to_diagonal=True."
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.7.8
- **Operating system**: windows 10

### What is the current behavior?
transpiler changes the state generated by `circ.uc` with `up_to_diagonal=True`.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
transpiler should not change the output (at least up to a global phase)

### Suggested solu

[2021-07-12 14:39] Rajan117 commented on #6684
Alright, found the Result class and the method. Could not find the 'sample_counts' method in the Statevector class. Where can I find it as I am probably looking in the wrong place. My initial thought to fix this is to just reuse the implementation in the method to keep consistency.

[2021-07-12 15:17] ocareyde commented on #5711
Hi! I got super busy there this past month, but I'm going to work on it this week. I'm sure I will have questions within the next few days. Thank you!

[2021-07-12 15:30] Rajan117 commented on #6684
Not sure I can do it in one line. What data type is the key? It seems to be binary but is in quotes?

[2021-07-12 15:38] peendebak commented on #6684
The data type is `str` in the example, but that should not really matter. You can just sort it using the normal python sorting (see the example code on top of the issue)

[2021-07-12 16:05] VicentePerezSoloviev commented on #6702
Actually, the circuit depth is the number of non-parallel gates that are executed in the circuit secuentially. Thus, a conditional gate such as a CNOT is not a matter. If you consider it a unit in each qubit, it will be counted as a 1 unit, as they are executed in parallel. And if you consider it as a 1 gate, then there is no problem.
"The depth of a circuit is the number of distinct timesteps at

[2021-07-12 16:51] #6439 closed

[2021-07-12 16:57] nbronn opened #6721 "PauliTrotterEvolution does not recognize SummedOp of PauliSumOp as Paulis"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+732e887
- **Python version**: 3.9.4
- **Operating system**: Darwin

### What is the current behavior?

When converting an `EvolvedOp` operator from a Pauli Hamiltonian via `PauliTrotterEvolution`, the evolved Hamiltonian is not recognized as consisting only of Paulis in certain cases.

### Steps to reproduce the problem

[code]

[code]
print

[2021-07-12 19:17] #6436 closed

[2021-07-12 19:31] #6703 closed

[2021-07-12 21:05] kdk opened #6725 "`QuantumCircuit._check_dup_param_spec` becomes slow for many gates reusing few parameters"
### What is the expected enhancement?

When building a parameterized circuit where a large number of gates re-use a comparatively small number of parameters, `QuantumCircuit._check_dup_param_spec` becomes a performance bottleneck.

For example, `circuit_construction.ParameterizedCircuitConstructionBench.time_build_parameterized_circuit` takes 90s to build a 131k gate circuit with 8 distinct parame

[2021-07-12 21:43] kdk opened #6726 "`TimeUnitConversion` runs even if not using `scheduling_method`, `Delay` or pulse gates"
### What is the expected enhancement?

The transpiler pass `TimeUnitConversion` is included in the preset pass managers and will unconditionally copy all `Instruction`s in a circuit, which can become expense for larger circuits, even if not running any subsequent passes which would make use of `Instruction.duration`.

It would be good to either exit early (without modifying the dag) if `Instructio

[2021-07-12 21:51] kdk commented on #1163
With some hindsight, I think this is no longer correct, at least for some cases. e.g. for randomized benchmarking, or characterization experiments where in general circuits are large, there are many of them, and they require translation but little to no optimization, circuit <-> dag conversion can become a bottleneck and substantially slow down the transpilation process. (For example, the simple c

[2021-07-12 23:01] ajavadia commented on #6702
I think this can be accommodated with https://github.com/Qiskit/retworkx/pull/383.

I like the approach there which allows the user to provide the weight function so we don't have to make assumptions about use cases.

conditional gates take longer to execute as it takes the time to evaluate the condition plus execute the gate. Here "conditional" means conditioned on the value of a measured bit.

[2021-07-12 23:12] nonhermitian commented on #6702
Your going to get an overhead from the dag conversion. That is why the current depth uses the list data. Ideally this would be computed as gates are added / modified.

[2021-07-13 06:37] Kovi11Day commented on #6667
Hello, I am new here, can I look into this issue?

[2021-07-13 08:41] Rajan117 commented on #6684
I may have found an issue. I was editing the code for the return statement that occurs for a dictionary with size greater than 1. But the function returns at the point for a dictionary of size 1.
![image](https://user-images.githubusercontent.com/77441871/125420417-8e51bf20-596a-4d42-8d6a-41027a2af254.png)
![image](https://user-images.githubusercontent.com/77441871/125420450-0fc7c101-73ba-4aa7-841

[2021-07-13 08:43] Rajan117 commented on #6684
@peendebak I tried that but got an AttributeError: 'list' object has no attribute 'keys'. I think I need to reword it for dictionaries.

[2021-07-13 08:49] Rajan117 commented on #6684
My bad I misunderstood the code, it is actually outputs of a list of dictionaries also.

[2021-07-13 09:17] VicentePerezSoloviev commented on #6702
The easy way of implementing this function could be a similar function to circuit.depth() in which, you are able to set a different weight to the conditional gates. Then, you will obtain a different result only of the weight for this conditional gates is different from weight=1. Is this a good idea?

[2021-07-13 09:48] #6710 closed

[2021-07-13 10:08] Rajan117 commented on #6684
I think I may have done it.
![image](https://user-images.githubusercontent.com/77441871/125433832-f30e42e3-d815-4e92-80ec-b301fcfbf9c7.png)
![image](https://user-images.githubusercontent.com/77441871/125433942-8e41aeed-e757-4e41-9b46-a54d80d25b52.png)

[2021-07-13 10:09] Rajan117 commented on #6684
The whole time I overlooked how dict_list[0] is a dictionary, so all I needed to do was add '[0]'.

[2021-07-13 10:18] Rajan117 commented on #6684
![image](https://user-images.githubusercontent.com/77441871/125434946-f85baefe-3925-4f34-9a2f-0e5a0eae33dd.png)
How do I test my code? The QisKit YouTube tutorial does this but for me I get an error throw. What may I have missed?

[2021-07-13 12:40] TharrmashasthaPV opened #6731 "Error in reverse_bits() method when used with circuits with isolated qubits"
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.7

### What is the current behavior?

This follows #6574 . When a `QuantumCircuit` is initialized with isolates qubits there are some issues as follows

- [ ] `qc.reverse_bits()` returns an empty `QuantumCircuit` object with no qubits or clbits when `qc` has no gates.
- [ ] `qc.reverse_bits()` returns `list index out of rang

[2021-07-13 12:44] TharrmashasthaPV opened #6732 "Drawing error in circuits with isolated qubits"
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.7

### What is the current behavior?

When a `QuantumCircuit` is initialized as `QuantumCircuit([Qubit(), Qubit()])`, the `draw()` method has some errors

- [ ] `qc.draw('text')` draws the qubit labels as `_0`, `_1`, ... without a name.
- [ ] Latex and MPL drawers fail. (from #6574 )

### Steps to reproduce the problem

[cod

[2021-07-13 12:47] dlasecki opened #6733 "Migrate Trotterization to the new design of Quantum Time Evolution."
The goal of this issue is to migrate existing Trotterization implementation to a new design for quantum time evolution which unifies evolution and gradient interfaces throughout all possible algorithms, e.g. Trotterization, variational quantum time evolution approaches etc.

[2021-07-13 14:18] ajavadia opened #6736 "coupling_map.subgraph() creates extra nodes"
Trying to get a subgraph of this coupling map:

[code]

<img width="418" alt="image" src="https://user-images.githubusercontent.com/8622381/125465693-39b6c29f-bf4e-4399-8fac-7fa82acd0a50.png">

If I use retworkx directly to get the subgraph on 9 nodes, it gives me this which is correct I think:

[code]

![image](https://user-images.githubusercontent.com/8622381/125466722-037600b3-f217-48c7-9f71-f9

[2021-07-13 14:31] kdk commented on #6732
Using `_0:` for the text drawer was an attempt to mirror the existing convention of `{reg_name}_{reg_index}` with `_{circ_index}`, but I agree it's not clear that this is drawing a registerless bit and not just a bug. Suggestions welcome! (Maybe `__{circ_index}`?)

[2021-07-13 14:43] mtreinish commented on #6736
Right, so if we don't care about retaining node indices (and I agree that it breaks the assumptions of the `CouplingMap` class if we did retain the ids) then we can just remove https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/coupling.py#L118-L120 retworkx and this is fixed.

If for some reason (which I don't think there is any) we want to retain node ids (either by default or wi

[2021-07-13 14:44] kdk commented on #6735
Looking briefly, I'm not necessarily sure this is a bug. Running a few times at each optimization level, I get between 13-16 CX gates at `optimization_level=0`, and 14 at `optimization_level>=1`, which is not necessarily surprising given that transpilation utilizes several heuristics which are not guaranteed yield optimal circuits for any single metric.

For reference, here's an example 13-CX outp

[2021-07-13 15:22] ajavadia commented on #6736
Also I think the arg should be a set, not a list. Otherwise we have to renumber the ids based on the order passed, which could be a bit confusing I think. But I need to think about this a bit more.

[2021-07-13 16:07] mtreinish commented on #6736
At least for the retwork implementation the order of the list isn't preserved. The first thing it does is convert it to a `HashSet` internally and then uses that to create an internal iterator for a subset of the graph that is looped over to create a copy:

https://github.com/Qiskit/retworkx/blob/main/src/digraph.rs#L2389-L2417

I think that will preserve index sorted order, but I wouldn't count o

[2021-07-13 22:54] #6473 closed

[2021-07-13 23:44] msciwoj1 opened #6740 "Utilizing the symmetry of MCX/Toffoli gates for optimization"
### What is the current behavior?

I don't have much experience with Github, I hope this is the right place.

A Toffoli gate, or a double-controlled NOT, or a CCXGate, is its own inverse. However, its standard decomposition into CX and single unitary gates in the Qiskit library is not itself symmetric. Qiskit recognizes that the CCX gate is its own inverse, that is, applying the` .inverse()` metho

[2021-07-14 00:02] irajput commented on #6677
I'd be interested in working on this.

[2021-07-14 01:23] nonhermitian opened #6741 "Setting shots in execute no longer works"
### Information

- **Qiskit Terra version**: 0.28
- **Python version**:
- **Operating system**:

### What is the current behavior?
Setting the `shots` kwarg in execute is no longer obeyed:

[code]

gives 1024

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-07-14 01:26] nonhermitian commented on #6741
Perhaps it is not execute as this also does not work:

[code]

also gives 1024.

[2021-07-14 01:37] mtreinish commented on #6741
It's a bug (a pretty obvious one) in the base fake backend class: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/test/mock/fake_backend.py#L151 is missing a `**kwargs` so none of the runtime options are getting passed through.

[2021-07-14 01:42] nonhermitian commented on #6741
Hmm, this also does not work:

[code]
gives 1024.

Perhaps a second bug?

[2021-07-14 01:43] nonhermitian commented on #6741
Ahh scratch the above, not setting the variable of raw_counts

[2021-07-14 01:44] JoelHBierman opened #6742 "ImportError related to Tweedledum for Macosx-arm64"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.9.5
- **Operating system**: MacOS 11.4

### What is the current behavior?

Installing Terra 0.18.0 via published wheel file `qiskit_terra-0.18.0-cp39-cp39-macosx_10_9_universal2.whl` or building from source results in the following ImportError:

[code]

### Steps to reproduce the problem

Install Terra either via pip or bu

[2021-07-14 01:53] #5931 closed

[2021-07-14 05:54] t-imamichi opened #6744 "`transpile` raises `UserWarning` with custom `basis_gates`"
### What is the expected enhancement?

Information:
- **Qiskit Terra version**: latest
- **Python version**: 3.8.11
- **Operating system**: macOS 11.4

When I executed the following code, the warning message asks me to report it.
The transpilation result looks correct. I don't think it has to raise a warning.

[code]

output
[code]

[2021-07-14 09:39] #2906 closed

[2021-07-14 12:12] willemrc commented on #6742
Had the same error with my qiskit upgrade from 0.27.0 to 0.28.0 probably by updating terra (to 0.18.0?). The upgrade installed tweedledum 1.1.0 which failed as described. `pip install tweedledum` also resulted in a non importable tweedledum package on my M1, using Miniforge.
`pip install tweedledum==1.0.0` (not meeting terra 0.18.0 requirements) installed an importable tweedledum (didn't test qisk

[2021-07-14 12:28] jakelishman opened #6746 "`BasicQiskitTestCase` and `FullQiskitTestCase` do not enforce call behaviour consistently"
### Information

- **Qiskit Terra version**: 0.19.dev
- **Python version**: all
- **Operating system**: all

### What is the current behavior?

The main `QiskitTestClass` is bound to either `BasicQiskitTestClass` or `FullQiskitTestClass`, depending on whether `fixtures` and `testtools` are available, and if the `QISKIT_TEST_CAPTURE_STREAMS` environment variable is set.  These two classes have diff

[2021-07-14 12:31] jakelishman commented on #6746
See: Qiskit/qiskit-aer@fdf2cda, https://github.com/Qiskit/qiskit-terra/issues/6743#issuecomment-879825188

[2021-07-14 13:33] #6741 closed

[2021-07-14 15:53] irajput commented on #6726
I'd be interested in working on this. Would it be possible to assign this issue to me?

[2021-07-14 19:36] eendebakpt commented on #6684
@Rajan117 What do you mean by test? Locally you can run the qiskit tests from the command line with the command `tox -epy37`. If you make a PR tests will automatically be executed.

[2021-07-14 21:33] apcarrik commented on #6731
I'd be happy to work on this if no one else is.

[2021-07-14 22:53] tnemoz opened #6750 "Fix typos and adopt a single convention for writing fractions and using parentheses in the documentation for standard gates"
### What is the expected enhancement?
Make the LaTeX/Markdown consistent throughout the documentation and fix some typos.

### Details
When browsing the documentation for the standard gates, several typos/improvements can be done on the LaTeX/Markdown description of several gates. Furthermore, several conventions are used throughout the docs. For instance, in the [SXGate documentation](https://qis

[2021-07-15 07:13] TharrmashasthaPV commented on #6731
@apcarrik Yeah sure please go ahead and please feel free to leave a message if you need some help.😃

[2021-07-15 09:28] Rajan117 commented on #6684
@eendebakpt The QisKit guide said to run those tests but if they are done automatically then I will do a pull request. Thank you :)

[2021-07-15 09:50] Rajan117 commented on #6684
I made a pull request but it says I have to sign the CLA which I did by login into my Git account. However it still says I haven't signed it and that Rajan Rana is not a GitHub user.
![image](https://user-images.githubusercontent.com/77441871/125768288-bf24d19e-4e26-4658-bd4a-cf2655e8a6d8.png)
How do I fix this?

[2021-07-15 09:53] Rajan117 commented on #6684
![image](https://user-images.githubusercontent.com/77441871/125768631-7a112cb6-a650-493d-8022-03547e21ad58.png)
How do I sign it for the other me? I cannot see an email to add to my account.

[2021-07-15 09:54] Rajan117 commented on #3099
Thanks! Will give this another go over the weekend then :)

[2021-07-15 10:23] javabster commented on #6667
Sure go ahead @Kovi11Day I'll assign to you! Please make sure to refer to the [contributing guidelines](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md) while working on it. Let us know if you have any questions 😄

[2021-07-15 13:12] jakelishman commented on #6684
There's a couple of additional things to consider here.  First, the result of `get_counts()` isn't always directly a `dict` instance - sometimes it's an instance of `qiskit.results.counts.Counts` (which subclasses `dict`).  Second, while the order of `dict` entries is typically insertion order, this wasn't a full Python guarantee until 3.7, despite being an implementation detail of CPython 3.6.  S

[2021-07-15 13:40] nonhermitian commented on #6684
I am not sure I see the value here.  Namely there is no algorithmic reason to sort the keys.  In addition, the sort method is somewhat arbitrary, e.g. perhaps I want things sorted by Hamming weight (I personally often do) rather than by int representation.  Why not have a sort method on the `Counts` object itself?

[2021-07-15 17:04] zlatko-minev commented on #6434
@ajavadia , right, you are correct.

An enhancement for the beginner here could be to note that the sequence in the doc which states
![image](https://user-images.githubusercontent.com/15937254/125827831-f5c800e0-dab4-4a63-9134-d3929e936bc1.png)
does not equal the matrix rep given below in the docs:
![image](https://user-images.githubusercontent.com/15937254/125827861-4efe09d6-4e11-4eb1-ae62-015511

[2021-07-15 17:18] lcapelluto commented on #5524
Hi @fs1132429 , this one is a little bit tricky -- there might be another `good first issue` that isn't already partway done that you can try instead. That way, you can get the hang of contributing to open source first (and using github, if you haven't before) and then round back on this one later :)

[2021-07-15 19:20] awstasiuk opened #6754 "Mock Backend options do not get passed to the simulators"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.9.5
- **Operating system**: Windows 10

### What is the current behavior?
Mock backends, such as `FakeMelbourne` can have their options set via `set_options`, but the instantiated simulator only sees these options if they are passed via kwarg through the `run` method

### Steps to reproduce the problem
Instantiate a mock b

[2021-07-15 19:59] mtreinish commented on #6754
Thanks for opening an issue on this, but it's a duplicate of https://github.com/Qiskit/qiskit-terra/issues/6741 which has already been fixed on the `main` branch and backported to the stable branch for an upcoming 0.18.1 release. I'm going to close this accordingly, but please feel free to reopen it if I'm mistaken or there is more to discuss.

[2021-07-15 20:26] awstasiuk commented on #6754
I am aware of the kwarg fix, stumbled into myself while debugging. However, I believe the following is not addressed by the kwarg fix:
[code]

I would expect the above code to run the circuit with 100 shots, but I am fairly certain that it will still use the default number of shots, even though `backend.options` would indicate that `shots=100`.

[2021-07-15 20:46] mtreinish commented on #6754
Ah, I misread the issue (based on the title mostly). That's actually a more general issue with `execute` and not isolated to the fake backends or simulators. I actually have a fix proposed for this issue here: https://github.com/Qiskit/qiskit-terra/pull/6693 I'll reopen this and target that PR as fixing this.

[2021-07-16 08:53] TharrmashasthaPV commented on #6732
@kdk `__{circ_index}` does look like a good idea. But then I think we might also need a way to distinguish between registerless qubits and registerless clbits. For instance,
[code]
draws
[code]
which I feel might be confusing.

[2021-07-16 10:59] javabster commented on #6185
Proposed solution from discussion with @Cryoris:

It's a lot nicer for the user to be able to set by name so would be best if we could make that work. Also the current TwoLocal class uses a hard coded `valid_layers` dictionary to get the required gates which is not ideal. So we suggest the following:

- Remove `valid_layers` dictionary in `two_local.py` and instead import all the standard gates (s

[2021-07-16 15:13] eendebakpt commented on #6684
The value is mainly in printing the results for the user. I agree that the choice of sorting order is arbitrary. But any choice seems better than a random order.

[2021-07-16 15:16] apcarrik commented on #6731
Thanks @TharrmashasthaPV! For clarification, is the intent of passing a list of Qubits as an argument to `QuantumCircuit()` to create a `QuantumRegister` implicitly with them? Currently, it updates the `QuantumCircuit._qubits` and `QuantumCircuit._qubits_set` properties, but does not create a quantum register in the quantum circuit, which causes the issues in `QuantumCircuit.reverse_bits()` method

[2021-07-16 15:39] nonhermitian commented on #6684
I guess my point is that, lacking any computational reason for doing so, the sorting should be optional.

[2021-07-16 16:06] itoko commented on #6736
Reading this issue, I've noticed the difference between `subgraph()` and `reduce()`, two similar functions in `CouplingMap`. `subgraph()` does not care about the order of passed qubits while `reduce()` does.
[code]

Another issue, but we could consolidate these two functions into one adding optional args like `validate_connection` and `retain_ordering`. (To me, `subgraph` sounds like retaining nod

[2021-07-16 16:56] enavarro51 opened #6757 "pi_check does not convert param containing ParameterExpression of a float"
### Information

- **Qiskit Terra version**: current main
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is the current behavior?

Running this code with main from June 29th,
[code]
produces
![image](https://user-images.githubusercontent.com/16268251/125964884-f9438238-9d7e-42bb-8147-b982efc38083.png)
and using current main produces
![image](https://user-images.githubuserconten

[2021-07-16 17:16] lcapelluto commented on #4074
Closing as won't do

[2021-07-16 17:16] #4074 closed

[2021-07-16 17:26] lcapelluto commented on #6687
Grabbing this one for my intern, if that's alright :)

[2021-07-16 22:03] scapape commented on #6101
Hi @Atri22, are you still working on the issue? Otherwise I'd like to work on a fix based on @1ucian0 suggestions. Thanks! @javabster

[2021-07-17 00:33] HuangJunye commented on #6687
Yes, sure. Please go ahead :)

[2021-07-17 09:45] TharrmashasthaPV commented on #6731
@apcarrik Not exactly. The input to the circuit is a set of registerless qubits. And so we would like to keep the qubits that way without creating a quantumregister. I think currently `reverse_bits()` returns a circuit that only contains reversed registers. However, we need to fix it to also contain the reversed registerless qubits and registerless clbits without creating registers for them.

[2021-07-17 11:37] EgrettaThula opened #6760 "Use Isometry to implement Initialize instruction"
### What is the expected enhancement?
As per documentation, `Isometry` instruction can be used for **state preparation**.
On the other hand, `Initialize` instruction does its work by first resetting the qubits to `|0⟩` followed by an **state preparing** unitary.
That means `circ.initialize` is equivalent to `circ.reset` + `circ.iso`.

However, I noticed that using `Isometry` almost always results

[2021-07-17 21:18] enavarro51 commented on #6757
Follow up on the above. In the first case from 3 weeks ago,
param_str: 1.57079632679490
syms: {1.57079632679490}
Current main
param_str: 1.5707963267949
syms: {1.57079632679490}
So question is, why the reduced precision in param_str which comes from a ParameterExpression?

[2021-07-18 03:23] apcarrik commented on #6731
Ok, thanks for clarifying that.

[2021-07-18 20:08] RvveSplit opened #6763 "Make Gate Methods in the QuantumCircuit class return self for chain operations"
### What is the expected enhancement?
Make Gate Methods in the QuantumCircuit class return self for chain operations. Sorry if that isn't very clear; Here's an example: The cx, x, and h gates should return self (the QuantumCircuit instance they are a member of) so that this is possible: `qc = QuantumCircuit(3,3).x(0).x(1).h(0).cx(0,1).x(2).cx(1,2)` This functionality can also be seen in python's b

[2021-07-19 11:10] MartinBeseda commented on #6502
Dear @enavarro51 ,
Dear @taalexander ,

I'd have a look at this, if possible.

[2021-07-19 14:46] Cryoris commented on #6760
`Isometry` and `Initialize` use two different algorithms to construct the circuits. Rather than replace one with the other I think it would be better to keep synthesis part of `Initialize` (i.e. without the initial resets) in some class in Qiskit but have ``QuantumCircuit.initialize`` use the more efficient isometry instead.

[2021-07-19 15:50] LDongWang opened #6768 "Add Quantum Random Access Code(QRAC) feature map"
### What is the expected enhancement?

Implement `n`*(3,1,0.79) Quantum Random Access Code(QRAC) introduced by Chuang, as a new kind of feature map, which can encode `3n` bit feature string within `n` qubits, with the possibility 0.79.

Reference: https://arxiv.org/abs/quant-ph/0604061

[2021-07-19 17:57] jgermain48 commented on #1160
I think I'm seeing an issue associated with this.

I can't call the indexed classical register (ie r[0]) as shown as an option in your examples above...I have to make separate registers for each (ie r0).

When I try to use indexes to get to the classical register, I get errors like this....

Traceback (most recent call last):
  File "/Users/juliegermain/Library/Application Support/JetBrains/PyChar

[2021-07-19 18:11] jgermain48 opened #6769 "Seeing issue like previously closed on #6018"
### Information

- **Qiskit Terra version**: 0.17.3
- **Python version**: 3.8.8
- **Operating system**: macOS Big Sur version 11.4 (20F71)

### What is the current behavior?

I think I'm seeing an issue associated with this (closed issue #6018)

I can't call the indexed classical register (ie r[0]) as shown as an option in your examples above...I have to make separate registers for each (ie r0).

[2021-07-19 18:28] TharrmashasthaPV commented on #6769
Hi @jgermain48 . I think the feature of single bit conditioning was added in Qiskit Terra version 0.18.0. Could you try updating Qiskit Terra to the latest version and let us know if it still doesn't work?

[2021-07-19 22:23] #6757 closed

[2021-07-19 22:31] jgermain48 commented on #6769
I did update and the samples I sent now seem to work.  I'll give it a try in my larger program.

[2021-07-19 23:15] jgermain48 commented on #6769
Still a related error in my larger code.  When I try to draw the circuit via Matplotlib it works with the individually assigned classical bits.  But produces these errors when I try using indexed classical bits in the section of code that includes the c_if statement.  I'll paste those updated samples below.  Here are the errors produced:

Traceback (most recent call last):
  File "/Users/juliegerm

[2021-07-20 07:15] ocareyde commented on #5711
I was able to add the `to_gate` method to the `PrimitiveOp` subclasses that had `to_instruction` implemented: `CircuitOp`, `MatrixOp`, `PauliOp`, and `PauliSumOp`.

I would love to some feedback as well as some help with testing edge cases. Please let me know how I should approach this.. should I reach out to someone on Slack, or just submit a pull request?

[2021-07-20 09:12] javabster commented on #5711
Feel free to open a pull request @ocareyde (you can open it as a draft PR if you're still working on it) and then we can go from there 😄  Please also make sure to link your PR to this issue so it doesn't get lost

[2021-07-20 09:13] javabster commented on #6101
Hi @scapape it seems that @Atri22 is unresponsive so I will reassign to you. Let us know if you have any questions 😄

[2021-07-20 10:11] Rajan117 commented on #6684
I could add a argument to the get counts method that will return a sorted list if used?

[2021-07-20 10:12] Rajan117 commented on #6684
My PR failed the windows, mac and linux tests? Any help on that would be appreciated

[2021-07-20 10:50] jakelishman commented on #6684
Adding an optional keyword argument to `get_counts` I think is a fine solution.  There's an advantage to not having the user do it manually themselves, because the return value of `get_counts()` isn't necessarily exactly a `dict`; the natural
[code]
call would throw away the `dict` subclasses which normally get returned, which is surprising.

It's probably best to avoid sorting by default, and let

[2021-07-20 12:06] mrossinek opened #6772 "Support `Dict[str, OperatorBase]` for `aux_operators`"
### What is the expected enhancement?

We should add support for `Dict[str, Optional[OperatorBase]]` structures to be passed as `aux_operators` into our algorithms.

#### Motivation

Currently, both the `MinimumEigensolver` ([here](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/minimum_eigen_solvers/minimum_eigen_solver.py#L33)) and the `Eigensolver` ([here](https://github.com/

[2021-07-20 12:35] mrossinek commented on #6772
Another thought occurred to me: we should probably allow the dictionary values to also be a list:
[code]

[2021-07-20 13:12] woodsp-ibm commented on #6772
The original thinking is going to a dict instead of a List was that we create them at some level, which the final values are interpreted again at, but as the list progressed down the stack towards final execution at the algorithm some action(s) against the main operator may cause one or more aux ops to become 'invalid'. Eg symmetry reduction is where we encounter it as present where reducing/taper

[2021-07-20 16:12] Atri22 commented on #6101
Yes sir ,plz reassign the issue to him.

On Tue, 20 Jul 2021, 14:44 Abby Mitchell, ***@***.***> wrote:

[2021-07-20 18:07] lasys opened #6774 "CompleteMeasFitter leads to error in QuantumInstance"
### Information

- **Qiskit Terra version**: 0.18.0
- **Qiskit version**: 0.28.0
- **Python version**: 3.6.9
- **Operating system**: Linux

### What is the current behavior?

[code]

leads to:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

No error message.
Same code is working fine with terra version 0.17.4 on Qiskit version 0.27.0.

### Suggested solutio

[2021-07-20 18:11] irajput commented on #6677
I'd like to work on this!

[2021-07-20 19:37] mtreinish commented on #6475
I just added qpy serialization support to the list of things here. It was pointed out to me that trying to dump (and likely load too) a circuit with a single bit condition won't serialize correctly and error. The source is this line:

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/qpy_serialization.py#L699

because a `Clbit` object doesn't have a name. We might need a qpy format v

[2021-07-20 22:17] Rajan117 commented on #6684
I will give that a go then. Any idea why my pull request failed the tests? It failed the windows, mac and Linux ones. Not sure why a the code I changed would not effect that.

[2021-07-21 05:35] LDongWang commented on #6768
The FeatureMap class in qiskit.aqua will be deprecated, but there is no FeatureMap Class in qiskit.ml now, should us first implement it?

[2021-07-21 08:07] jakelishman commented on #6684
https://github.com/Qiskit/qiskit-terra/pull/6752#discussion_r673000337

[2021-07-21 08:31] TharrmashasthaPV commented on #6769
@jgermain48 The drawers for the single bit conditioning are not available yet as of v0.18.0. The text drawer is available in the main branch of Qiskit Terra but not yet in the stable 0.18.0. As for the MPL drawer, we are working on it ([https://github.com/Qiskit/qiskit-terra/pull/6259](https://github.com/Qiskit/qiskit-terra/pull/6259)).

[2021-07-21 09:03] eendebakpt opened #6777 "Incomplete documentation for VQE"
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is the current behavior?

The documentation for `VQE` (`qiskit.algorithms.VQE`) states that for the ansatz a parameterized quantumcircuit can be used. But when passed such a circuit, the class gives an error.

### Steps to reproduce the problem

A minimal example:
[code]

### Wh

[2021-07-21 11:41] jakelishman opened #6779 "QASM output of registerless Clbits and Qubits can shadow an existing name"
### Information

- **Qiskit Terra version**: 0.19.dev
- **Python version**: all
- **Operating system**: all

### What is the current behavior?

Unbound clbits and qubits are output in QASM into registers invariably called `regless`.  This is a valid identifier for other registers, and the same name is emitted whether or not clashes exist, presumably because `QuantumCircuit` usually keeps names uni

[2021-07-21 11:46] jakelishman commented on #6475
As I understand it, QASM 2 doesn't support conditional operations on anything other than a complete register, so the circuit
[code]
can't be translated into valid QASM 2.  I had intended to go around this by emitting additional 1-bit classical registers and copying the data, but there's also no classical assignment operation, so that doesn't work either.

In theory it is possible to emit valid QAS

[2021-07-21 12:04] woodsp-ibm commented on #6777
VQE in the past to have operator on the constructor but that is no longer the case so you are constructing it incorrectly see https://qiskit.org/documentation/stubs/qiskit.algorithms.VQE.html

The ansatz can indeed be a parameterized circuit. However the usual circuits supplied are Blueprint circuits, templates of how to build them if you will, that do not yet have the num_qubits set. Often, while

[2021-07-21 13:07] #6777 closed

[2021-07-21 13:42] jakelishman opened #6780 "Inconsistency in whether gates accept labels"
### Information

- **Qiskit Terra version**: 0.19.dev
- **Python version**: all
- **Operating system**: all

### What is the current behavior?

Not all defined `Gate` classes accept a label in their initialiser (e.g. `RXXGate`), and `QubitCircuit` is quite inconsistent on whether instruction methods accept a label: maybe about half (e.g. `QubitCircuit.x`) do, and about half (e.g. `QubitCircuit.h`)

[2021-07-21 13:56] eendebakpt opened #6781 "Add option for user supplied measurement error correction in QuantumInstance"
### What is the expected enhancement?

The `QuantumInstance` class can be supplied with a `measurement_error_mitigation_cls` (for example a `CompleteMeasFitter`). When executing the `QuantumInstance` then automatically a measurement error calibration will be performed and applied to any measurement result. This does require execution of the measurement error calibrations each time a `QuantumInstan

[2021-07-21 14:01] jond01 commented on #6434
Hi, I've also run through this problem and have a few points to add:

1. I think that qiskit defines U3 and U as the same gate:
https://github.com/Qiskit/qiskit-terra/blob/265530145033bc31a92fc6989be1e5e20de92252/qiskit/circuit/library/standard_gates/u.py#L98-L110
https://github.com/Qiskit/qiskit-terra/blob/265530145033bc31a92fc6989be1e5e20de92252/qiskit/circuit/library/standard_gates/u3.py#L98-L1

[2021-07-21 14:04] zlatko-minev commented on #6434
Thank you, @jond01 , this is well shown in your post. I would hope they are consistent as well to minimize down-the-road bugs in someone's code.

[2021-07-21 14:20] jond01 commented on #6435
I agree, except for the global phase (which is important), the off diagonals of
![image](https://user-images.githubusercontent.com/36337649/126503786-b17a5c46-7320-4b2e-b3d6-2521b056f126.png)
and
![image](https://user-images.githubusercontent.com/36337649/126503865-c50a48a0-e581-4f95-a4f1-90658e195d59.png)
do not concur.
I used the code in the gist below to check it:
https://gist.github.com/jond01

[2021-07-21 14:29] zlatko-minev commented on #6435
I imagine the reason that the gate definition above was given in terms of Rx Rz is because that’s how it’s implemented in the backend hardware gatedef. I think I recall that there is some minus sign are as well
Not sure …

Sent from my iPhone

[2021-07-21 15:30] enavarro51 commented on #6780
Actually there's some history here. See #5098 and the referenced PR's in that issue. I believe the decision was to remove labels from QuantumCircuit gate methods, but leave them in the gate class. So `qc.append(HGate(label='h1'))` will always work.

[2021-07-21 15:41] jakelishman commented on #6780
Ah cool, I missed that issue.  Thanks.  The `Gate` parts of this issue are valid, but as you say, the `QubitCircuit` bits were deicded in a different direction.

[2021-07-21 18:04] #6694 closed

[2021-07-21 19:21] lcapelluto commented on #6687
I have to give it up -- onboarding took up the time I was hoping to use on this. Apologies! I should have anticipated that

[2021-07-22 08:18] jond01 commented on #6435
Ok, I think that the following is a valid explanation:

## OpenQASM 2.0
U was defined as:
https://arxiv.org/pdf/1707.03429.pdf#page=5
![image](https://user-images.githubusercontent.com/36337649/126565311-34c202a9-2ac0-43d8-9039-18def165ee4e.png)

Instead of [qiskit's wrong definition](https://qiskit.org/documentation/stubs/qiskit.circuit.library.UGate.html) (even with global phase tolerance):
![im

[2021-07-22 14:59] ewinston opened #6787 "add basis translator as convenience method to QuantumCircuit"
### What is the expected enhancement?
Currently the `decompose` method of QuantumCircuit objects utilizes the Decompose transpiler pass to expand gates one level down according to their internally defined decomposition rules. Often, however, one would like to conveniently rewrite their circuit in terms of a specific set of gates. To do this we could add e.g. a `translate` method to QuantumCircuit

[2021-07-22 16:08] eendebakpt opened #6789 "Unreferenced variable CompleteMeasFitter"
### Information

- **Qiskit Nature version**: 0.1.4
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is the current behavior?

Running one of the algoritms results in an error `UnboundLocalError: local variable 'CompleteMeasFitter' referenced before assignment` due to a missing import.

### Steps to reproduce the problem

A minimal example is:
[code]

### What is the expected

[2021-07-22 16:09] woodsp-ibm commented on #6789
Duplicate of #6774

[2021-07-22 16:32] #6691 closed

[2021-07-22 19:41] #5904 closed

[2021-07-22 21:14] zlatko-minev commented on #6678
Is this issue resolved now on the cloud systems?

[2021-07-22 21:45] #6774 closed

[2021-07-22 21:45] #6789 closed

[2021-07-22 23:23] woodsp-ibm commented on #6768
The feature map circuits that presently exist are here https://github.com/Qiskit/qiskit-terra/tree/main/qiskit/circuit/library/data_preparation

[2021-07-22 23:33] jgermain48 opened #6791 "qasm_simulator no results from a circuit for histogram"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.8.8
- **Operating system**: macOS Big Sur version 11.4 (20F71)

### What is the current behavior?

Simulation fails to produce results.  Simulation worked on my circuit yesterday...but today it fails.  I don't think I've made any changes.  Will run on real hardware fine.

### Steps to reproduce the problem

Here is a scale

[2021-07-22 23:39] jgermain48 commented on #6791
looking at the code further the issue doesn't happen if I comment out this line...reason this method isn't compatible with the simulator (again thought this version of the circuit worked yesterday)

#shor_qc.append(init_gate,qd0)

[2021-07-23 15:44] eendebakpt opened #6793 "Warn against usage of VQE with certain combinations of options"
### What is the expected enhancement?

On [Advanced VQE usage](https://qiskit.org/documentation/tutorials/algorithms/04_vqe_advanced.html) several examples of VQE usage are shown. For example VQE can be used with the aer simulator as

[code]

The following code executes without warnings or errors, but does give incorrect answers
[code]
If would be good to warn the user (or generate an error) if su

[2021-07-23 18:14] nonhermitian opened #6795 "Document BIPMapper handles only trivial problems when using pip install CPLEX"
### What is the expected enhancement?

The BIPMapper only works on, for example, QV circuits with less than three qubits when using the version installed with `pip install cplex`.  Otherwise the following error is given:

DOcplexLimitsExceeded: **** Promotional version. Problem size limits exceeded, CPLEX code=1016

It should be documented somewhere that these limitations exist, and that a full li

[2021-07-23 18:20] nonhermitian commented on #6795
Actually I see that it does this:

although the limits are off for QV.

Closing

[2021-07-23 18:20] #6795 closed

[2021-07-23 19:47] woodsp-ibm commented on #6793
The 'include_custom' basically uses an custom instruction of Aer to compute the expectation where the outcome is ideal. Its faster than doing multiple circuits and gives an ideal result (no shot noise etc). This was not done by default as users wanted the simulator to mimic a real device by default - and only statevector, via this custom instruction, if explicitly provided.

If you take a configur

[2021-07-24 10:39] SarthakCh opened #6798 "IBMQ issue with getting connected to server every time of iteration if untouched for a few min"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
when IBMQ is closed for a longer time and reopens it lags and sometimes dose not even open the page to code. Have to wait and close all threads to IBMQ and then restart the process again so would like to see it fixed
Some times refreshing the space also dose not work and it

[2021-07-24 10:40] SarthakCh commented on #6798
would love to see it fixed

[2021-07-24 10:47] nonhermitian commented on #6798
So I am not sure if I follow correctly, but this seems to be the same issue that I have seen.  Namely if you submit at job (then grab it) and then put some length of time in between your next submission, seems to be on the order of minutes, then try to execute a job again you get this:

IBMQBackendApiError: 'Error submitting job: "(\'Connection aborted.\', ConnectionResetError(104, \'Connection re

[2021-07-24 10:49] SarthakCh commented on #6798
See i agree that but here refreshing also doesn't work and you have to
close all threads and wait sometime before you open again that's a huge
problem i feel.

On Sat, 24 Jul, 2021, 4:17 pm Paul Nation, ***@***.***> wrote:

[2021-07-26 07:25] Rajan117 commented on #6684
Awesome thanks :) I will see what I can do about allowing the user to provide  an arbitrary sort function or atleast an argument for a basic sort.

[2021-07-26 07:31] ikkoham commented on #6479
If there are no response, I think this issue and PR #6622 are closable

[2021-07-26 14:08] enavarro51 commented on #6732
@kdk @TharrmashasthaPV The `_` probably doesn't work as well in mpl and latex drawers, since the numbers there are subscripts. I think it would be best to have a solution common to the 3 drawers. I kind of like the raw numbers and maybe a `*` for classical. Like,
[code]
Any other non-alphanumeric character could be used. If we can get a consensus on this, I can make the change for all 3 drawers.

[2021-07-26 14:09] mtreinish commented on #6726
I took a look at this briefly on Friday and I'm removing the stable backport potential flag. The big performance issue here is the `TimeUnitConversion` pass and running on circuits when we're not scheduling. Trying to avoid it by tying the pass's execution to the presence of a set scheduling method breaks some unit tests which are validating the unit of delays in a circuit are adjusted to `dt`  wh

[2021-07-26 15:12] enavarro51 commented on #6531
Is this being worked on? If not, I can pick it up.

[2021-07-26 15:14] AbeerVaishnav13 opened #6804 "Problem in drawing circuit for conditional measurement using multiple classical registers"
### Information
The `qc.draw()` function does not draw the quantum circuit properly if we change the order of classical registers while initializing the `QuantumCircuit()` instance if there is a measurement in the circuit that is conditioned on the output of some other classical register.

- **Qiskit Terra version**:
[code]
- **Python version**: 3.8.6
- **Operating system**: MacOS

### What is the

[2021-07-26 15:40] eptru commented on #6531
Yeah sorry it took a bit longer. I will try to comp it this week.
________________________________
From: Edwin Navarro ***@***.***>
Sent: Monday, July 26, 2021 10:12:53 AM
To: Qiskit/qiskit-terra ***@***.***>
Cc: Rice ***@***.***>; Assign ***@***.***>
Subject: Re: [Qiskit/qiskit-terra] Get gate from name. (#6531)

Is this being worked on? If not, I can pick it up.

—
You are receiving this because

[2021-07-26 18:47] vtomole opened #6809 "Given an IBM Quantum experience job id, how do you get the logical to physical layout?"
This question is a copy of https://quantumcomputing.stackexchange.com/questions/17391/qiskit-logical-to-physical-qubit-mapping.

I have an `IBMQJob` object that I call `circuit = IBMQjob.circuits()[0]` on. The problem is that `circuit._layout` returns None.

### What is the expected behavior?
I should be able to call `circuit._layout.get_virtual_bits()` to get back a dictionary of the mapping  log

[2021-07-26 21:43] aeddins-ibm opened #6810 "inverse of conditional gate is not conditional"
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.9.5
- **Operating system**: mac

### What is the current behavior?

Calling the `inverse` method of a conditional X gate returns an unconditional X gate.

### Steps to reproduce the problem
<img width="373" alt="image" src="https://user-images.githubusercontent.com/60495383/127061829-e0ae0c7d-b5f3-4847-bb5a-3c3d1a130b6d.png"

[2021-07-27 09:53] dlasecki opened #6812 "Parameters not cleaned up in ParameterExpression"
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

Arithmetic of `ParameterExpression` does not clean up the content of `.parameters` if the ParameterExpression is not parametrized anymore. Might be confusing and lead to an accumulation of irrelevant parameters in longer computations.

### Steps to reproduce

[2021-07-27 09:59] dlasecki opened #6813 "ParameterExpression throws an error for gradients with complex coefficients."
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

When having a `ParameterExpression` with an imaginary unit, taking a gradient w.r.t. a parameter existing in a `ParameterExpression` results in an error.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Calculating a gradient

[2021-07-27 12:54] dlasecki opened #6815 "SparsePauliOp causes bugs in e.g. commutators."
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

The `SparsePauliOp` does not handle coefficients correctly or is used against its specification in opflow. With the help of @Cryoris we noticed the following:

[code]
which is probably the root of the problem with, e.g., the commutator below.

### Steps to r

[2021-07-27 14:03] nonhermitian opened #6816 "Cannot compose circuits with different numbers of measurements"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**:
- **Operating system**:

### What is the current behavior?
Compose fails when combining circuits with no measurements together with those that do, e.g.

[code]

gives:

CircuitError: "Trying to compose with another QuantumCircuit which has more 'in' edges."

while `+` works, but is deprecated in favor of `compose`.

### Step

[2021-07-27 15:06] nonhermitian commented on #6816
Ok, it makes sense although a bit confusing.  Namely, I cannot add a measurement circuit onto an ansatz, but rather I must append the needed measurement rotation gates to the ansatz itself before adding the measurements to it.  It would be nice if this could work if `self` has no cregs given that there is no ambiguity in that case and it is a common situation to be in.

[2021-07-27 15:11] kdk opened #6817 "`CouplingMap.reduce()` overlaps `CouplingMap.subgraph()`"
I just noticed there's a `.reduce()` method which does basically the same thing (without this bug). Is there a reason to have both?

_Originally posted by @ajavadia in https://github.com/Qiskit/qiskit-terra/issues/6738#issuecomment-882654278_

[2021-07-27 15:52] nonhermitian opened #6819 "Greatly simplify variational algorithm workflows"
### What is the expected enhancement?
The workflow for variational algorithms is very monolithic and not very flexible.  Instead it should be possible for users to create variational workflows that are flexible, explicit in what they do, and require minimal knowledge of custom classes.  For example, the following works:

[code]

Note that I have no need for a `quantum_instance`, no need to know wh

[2021-07-27 16:08] enavarro51 commented on #6804
I can work on this. It may affect all 3 circuit drawers. Thanks for finding it.

[2021-07-27 16:15] AbeerVaishnav13 commented on #6804
Hi @enavarro51 , thanks for taking this up!
I checked the "text" circuit drawer and the output of that looked fine to me. However, I didn't check the "latex" option. But anyway you can try both of them out yourself also once :)

[2021-07-27 16:22] Cryoris commented on #6815
Following up from a discussion with @chriseclectic, the solution is probably just to replace `SparsePauliOp` with `PauliList` in opflow. @ikkoham since you know these classes the best, could you maybe have a look? 🙂

[2021-07-27 16:44] #6736 closed

[2021-07-27 17:42] nonhermitian opened #6821 "Quantum instance job submission has infinite loop"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Submitting jobs via the `quantum_instance` has an infinite loop that does not exit unless the job was submitted correctly and a `job_id` can be grabbed:

https://github.com/Qiskit/qiskit-terra/blob/0c6890dc0ed55626e96ceb5c27234ed2116e76bb/qiskit/utils/run_circuits.py

[2021-07-28 05:40] nkanazawa1989 opened #6825 "Redefine backend usecase"
### What is the expected enhancement?

This proposes a change of the policy for the backend handling, namely, allowing directly overriding the backend defaults. Note that technically it is already possible since backend is mutable, but the transpiler is not designed to do that.

This doesn't request to change any public API. Just requesting to approve the use case of overriding a backend with qisk

[2021-07-28 06:41] Cryoris commented on #6819
For completeness, the VQE was actually refactored to simplify this a lot. But I'm not sure if you want to avoid using an algorithm class. So the snippet from above would look like
[code]

[2021-07-28 08:17] eggerdj commented on #6825
Thanks Naoki. This also makes sense to me. Some aspects of the backend should not be changed, e.g. coupling maps, etc. Others like qubit frequencies and the schedules in the instruction schedule map should be mutable. It of course depends a bit on the view one takes. A user running algorithms does not need a mutable backend and would see the backend as frozen. However, the picture becomes more nua

[2021-07-28 09:03] nonhermitian commented on #6819
So that is getting there.  Namely the need for custom wrapped optimizers is no longer there.  That is nice, as the wrapping never made any sense.  However the flexibility is still not there.  For example, feedback from people say they want things like the ability to change ansatz mid-execution, or varying the number of shots per function eval.  Both of those are easy to accomplish if you allow VQE

[2021-07-28 11:49] Cryoris commented on #6819
Yes agreed. We're working on a design for expectation value class that I think would resolve all above issues though. Some of the main designs we want to include are error mitigation, circuit caching + evaluation for different circuit parameters (so it's suitable for fast evaluation in context of variational algos) and an independence of the quantum instance.

Changing the ansatz mid-circuit is do

[2021-07-28 12:42] nonhermitian commented on #6381
I think the difference still is that you are hiding functionality in the `VQE` class.  I guess the ask is that the end user be able to construct an entire variational problem using Qiskit building blocks without having to go through the class interface.  This enables ultimate flexibility and should not be too much work given that the functionality obviously exists internally, but is tied up in cla

[2021-07-28 12:43] nonhermitian commented on #6819
I think the difference still is that you are hiding functionality in the `VQE` class.  I guess the ask is that the end user be able to construct an entire variational problem using Qiskit building blocks without having to go through the class interface.  This enables ultimate flexibility and should not be too much work given that the functionality obviously exists internally, but is tied up in cla

[2021-07-28 16:01] ewinston commented on #6810
I'm just curious about when this situation comes up and why it might not just warn due to the presence of measurement?

[2021-07-29 07:54] Cryoris commented on #6819
Yes, with the expectation value class we're currently working on that should be an easy feat. I'll make sure we keep this use case in mind 👍🏻

[2021-07-29 12:03] mtreinish opened #6830 "Nested flow control for Passmanagers"
### What is the expected enhancement?

Skimming through the pass manager code and reading the documentation (which is quite lacking) for building pass managers I do not see an option to nest flow control. The `FlowController` class is only attached to a set of passes which makes it impossible to apply an additional flow controller on a subset of those passes. For example the use case I have in min

[2021-07-29 13:44] mtreinish commented on #6825
There is nothing precluding this in the backend interface today and in fact some backends already work in a similar manner to this. For example, if you look at the `AerSimulator` backend it already dynamically configures things like this based on run time options. For example, if you can change the simulation method option (ie `backend.set_options(method= 'stabilizer')`) it adjusts the basis gates

[2021-07-29 14:30] nonhermitian commented on #6809
I do not think it is possible because as of right now the disassembler does attach it https://github.com/Qiskit/qiskit-terra/blob/be0ed5f7b1c3b4057af941be65a8ff84b90a16e4/qiskit/assembler/disassemble.py#L102

[2021-07-29 15:48] nkanazawa1989 commented on #6825
Thanks Matthew. So we can modify any part of backend object on our responsibility? And providers are not going to say which field is rewritable or not, i.e. if we override some non-rewritable field the job just fails.

I saw `BackendV2` PR but cannot find how this data is provided. Is is expected to be a private member so that we cannot override? Seems like we can override the basis gates iff a pr

[2021-07-29 20:07] mtreinish commented on #6595
Fixed by: https://github.com/Qiskit/qiskit-terra/pull/6598

[2021-07-29 20:07] #6595 closed

[2021-07-30 08:33] dlasecki opened #6838 "Migrate Variational Time Evolution PoC to the new design of Quantum Time Evolution."
The goal of this issue is to use the proof of concept code for Variational Time Evolution authored by @Zoufalc and migrate it to the new Variational Time Evolution framework.

[2021-07-30 10:13] jakelishman opened #6840 "`BlueprintCircuit` does not respect modifications when being rebuilt"
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

Derived classes of `BlueprintCircuit` will let the user modify the circuit without comment, for example by adding gates or registers, but anything that triggers a rebuild of the circuit will behave unpredicatbly, often overriding all modifications.

This issue

[2021-07-30 10:28] nonhermitian opened #6841 "Blueprintcircuits do not check argument validity upon construction"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
This should error but does not:

[code]

only later if I do something, e.g.:

[code]

does it complain.  Curiously after raising a `ValueError` the original `qc` is now an empty circuit (related to #6840 ?).

[code]

### Steps to reproduce the problem

### What is th

[2021-07-30 10:56] ikkoham commented on #6815
Yes. This will fix this issue. https://github.com/Qiskit/qiskit-terra/pull/6826

[2021-07-30 12:06] jakelishman opened #6842 "Installing `qiskit-terra[bip-mapper]` fails on Python 3.9"
### Information

- **Qiskit Terra version**: 0.18.0 (released)
- **Python version**: 3.9
- **Operating system**: certainly Mac, probably any

### What is the current behavior?

The Terra extra 'bip_mapper' requirements cannot be satisfied on Python 3.9, which means `pip install 'qiskit-terra[all]>=0.18'` cannot succeed.

### Steps to reproduce the problem

[code]

### What is the expected behavior

[2021-07-30 13:30] Cryoris commented on #6841
I think these are two points in this issue:
1. Raising an error for the invalid input: This doesn't raise an error because the circuit is only constructed when needed and not upon calling `__init__`. I think we generally rely on the user to pass the right type of input (since we have typehints) and therefore don't have instance-checks at initialization time which would catch this.
2. Modifying a b

[2021-07-30 13:32] Cryoris commented on #6840
I'd prefer option 1, because it doesn't include implicit casts to ordinary circuits 🙂

[2021-07-30 13:32] mtreinish commented on #6842
Yeah, CPLEX doesn't work on python 3.6 or python 3.9 on any platform, they also don't support 32bit platforms or aarch64. THe list of wheels is available at: https://pypi.org/project/cplex/#files

[2021-07-30 18:38] #6842 closed

[2021-07-30 18:49] dhruvbhq commented on #6830
Do you think this will be a good issue to get familiar with the transpiler code? If yes, I would like to try it.

[2021-07-30 20:29] enavarro51 commented on #6813
Perhaps it is. Seems to fix the problem. I can take this one.

[2021-07-30 23:10] varosy-mines opened #6848 "Warning statement upon compiling `cz` gate into `['h', 'cx', 'rz', 'sx', 'x']` gate set"
### Information

- **Qiskit Terra version**: `0.18.0`
- **Python version**: `3.9.6`
- **Operating system**: `Pop!_OS 21.04 x86_64`

### What is the current behavior?
Upon updating from version `0.17.4`, there is a substantially amount of additional warning printing upon compiling cz gates to the basis gate set: `['h', 'cx', 'rz', 'sx', 'x']`:

[code]

This doesn't appear to change the ability for