[2019-02-02 04:41] 1ucian0 commented on #1747
I will have a look. In the meanwhile, would you mind to post an example of what aliases suppose to do? It seems that there are no test for that parameter. Did you try using `layout.get_physical_bits()` or `layout.get_virtual_bits()`?

[2019-02-02 05:33] eddieschoute commented on #1742
It currently is already in a separate folder, so I wouldn't think that would result in extra separation.

[2019-02-02 10:17] nonhermitian commented on #1747
There is no usage example, or test for it.  However from the docstrings:
[code]
If the swap mapper fails then the layer that fails is passed to the error along with the `initial_layout`.  The `aliases` is building up registers from the `Layout` values, but has no idea what to do with the `int` values, and fails.  So just using the `Layout` values that are tuples of registers is really the fix.

[2019-02-02 14:44] ismaila-at-za-ibm commented on #1721
Thanks @alfrisch, for this. I am working on it and have made progress. The problems is not in `_rotations_to_disentangle` but in the fact that the global phase was intentionally not added.

[2019-02-02 15:18] jaygambetta commented on #1721
This is not an error or error. Global phase does not matter.

[2019-02-02 15:18] jaygambetta commented on #1721
@ajavadia we should close this and add to documentation or something.

[2019-02-02 15:19] #1733 closed

[2019-02-02 15:36] jaygambetta commented on #1620
yeah i see no reason for this to open. The documentation was referring to the contributing file

[2019-02-02 15:36] #1620 closed

[2019-02-02 15:38] #1621 closed

[2019-02-02 15:56] jaygambetta commented on #1448
@diego-plan9 can this be done for 0.8

[2019-02-02 15:57] jaygambetta commented on #1283
can this be done for 0.8

[2019-02-02 15:58] jaygambetta commented on #1632
can we close this up for 0.8

[2019-02-02 15:59] jaygambetta commented on #263
im going to close this as this is really a provider question now.

[2019-02-02 15:59] #263 closed

[2019-02-02 16:00] jaygambetta commented on #1716
This is good but it has to be done after the update to the compile interfaces. I will try and do it with that.

[2019-02-02 16:13] jaygambetta commented on #1047
@delapuente i think we should close this and move the information about the qobj to the new issue and track it there as we finish the qobj

[2019-02-02 16:58] #1688 closed

[2019-02-02 21:29] chunfuchen opened #1749 "The copy method of quantum circuit does not update the circuit name"
### Informations

- **Qiskit Terra version**: the master branch
- **Python version**: 3.7.1
- **Operating system**: macOS 10.13

### What is the current behavior?
The introduced `copy` method did not update the circuit name of the copy.

### Steps to reproduce the problem
Here is the script
[code]

[code]

The `res_qc` and `res_qc2` are the same since the `get_statevector` method retrieves results

[2019-02-03 07:33] jwoehr opened #1750 "More general example loading qasm"
### What is the expected enhancement?
More general example of loading and running a qasm file with command line arguments and options for qiskit-terra/examples/python

My suggestion attached.

Could be further enhanced by dealing with accounts and urls, currently  just does `IBMQ.load_accounts()`
I would be glad to work on this further and then submit a pull request.
[qasm_job.py.txt](https://gith

[2019-02-03 15:10] arilwan opened #1751 "No module named 'qiskit'"
Following QISKit Basics tutorial. This import failed:
i```
mport numpy as np
from qiskit import QuantumCircuit, ClassicalRegister, QuantumRegister
from qiskit import execute
[code]

[2019-02-03 23:17] jaygambetta commented on #1751
It looks like you have not install qiskit. Did you try `pip install qiskit`

[2019-02-03 23:44] jaygambetta commented on #1751
great. Yes, it only works with python 3.

[2019-02-04 02:17] ajavadia opened #1753 "[ENH] reverse order of operations when loading OpenQASM"
### What is the expected enhancement?
When applying an operation to a quantum register in OpenQASM code, the operations get loaded in an order where the last qubit is first. It would be nice to have this reversed.

Currently:
[code]
 Yields H on q[2] first, then q[1], then q[0]
[code]

[2019-02-04 14:13] Max-Reuter commented on #1697
I won't be able to work on this until next Monday. If someone wants to pick it up between now and then that'd be great.

[2019-02-04 14:13] Max-Reuter commented on #1711
I won't be able to work on this until next Monday. If someone wants to pick it up between now and then that'd be great.

[2019-02-04 14:59] dtmcclure commented on #829
@diego-plan9 this issue still has not been fixed: requirements.txt still lists scipy>=0.19, and qiskit.tools.qi.qi still tries to import unitary_group from scipy.stats

[2019-02-04 15:26] eddieschoute commented on #1742
I agree, Qiskit needs to be able to import from OpenQASM but this does not impact that ability. Qiskit needs methods like "read circuit from qasm" (which exists in various places), not "read qasm file to AST" (the `src/qasm` folder). What I propose is to split off the parser (which produces an AST) and leave in place the methods that interpret that AST to Qiskit objects.

[2019-02-04 16:05] maddy-tod commented on #1348
Is this an issue you still get? I can't seem to recreate it locally.

[2019-02-04 16:43] diego-plan9 commented on #829
Thanks for reporting, @dtmcclure - can you paste the version of `scipy` you have installed that is resulting in a problem?

 I'm reopening the issue so we can investigate further - and actually pinging  @ewinston as he might have more information. Based on https://github.com/Qiskit/qiskit-terra/pull/713/files#r214942849:

But it could be the case that the exclusion of 0.19.1 might not be enough.

[2019-02-04 17:42] ismaila-at-za-ibm commented on #1721
I agree that global phase has no measurable effect on a quantum state. However it may be useful to match the global phase of the requested initialization vector for testing purposes.
PR:
Addressed Issue #1721: Introduced a Gate for Global Phase adjustment
Designed a new gate that results in global phase change. Even though global phase has no measurable difference to a quantum outcome, it may be u

[2019-02-04 17:42] diego-plan9 commented on #1632
Yes - actually I think this issue represent the "pruning" work to be done before going for #1448. Does the current issue description represent the "desired contents" of the Qobj structure, or is it a checklist for reminding to review each field?

[2019-02-04 18:49] 1ucian0 opened #1760 "The QASM dumper in DAGCircuit needs more testing"
The issue #1747 put in evidence that the QASM dumper in DAGCircuit needs testing: `DAGCircuit.qasm(self, no_decls=False, qeflag=False, aliases=None, eval_symbols=False)`. Currently, we have no test for any of these parameters. The tests can be placed in `test/python/test_dagcircuit.py`, in its own class.

[2019-02-04 18:51] 1ucian0 commented on #1760
This is a good first issue. If you are interested on working on this, ping me.

[2019-02-04 20:06] jaygambetta commented on #829
Assign this to me I fix so it does not depended on this. Was on my todos.

[2019-02-04 20:48] 1ucian0 commented on #1747
The PR #1759 fixes this issue.

[2019-02-04 20:50] ewinston commented on #829
I thought this was in 0.19.0 but I couldn't find it. Maybe just change requirement to >=1.0.0?

[2019-02-04 21:07] dtmcclure commented on #829
Diego yeah I was using 0.19.0 and it could not find unitary_group. This is
consistent with the scipy source code:
Not present in 0.19.0:
https://github.com/scipy/scipy/blob/v0.19.0/scipy/stats/_multivariate.py
Present in 1.0.0:
https://github.com/scipy/scipy/blob/v1.0.0/scipy/stats/_multivariate.py

On Mon, Feb 4, 2019 at 3:50 PM ewinston <notifications@github.com> wrote:

[2019-02-05 02:45] #1753 closed

[2019-02-05 03:51] #1730 closed

[2019-02-06 08:42] alfrisch commented on #1677
This directory structure sounds good! For collaboration via git it is important to work on the translation on a file-by-file basis.
As long as we do not have this structure up and running, I think it would be better to link German and Japanese to the English doc by default as these versions are quite old and this might give a wrong impression.
Hitting a language button when there is no translated

[2019-02-06 14:40] nonhermitian opened #1769 "Cannot run compile with coupling_map and pass_manager twice"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Setup:
[code]
Running the following works the first time:
[code]
Attempting to run it again (in a notebook) gives the following error:
[code]
To get it to work again, it is not enough to create a new `pass_manager` but I also must reload the `coupling_map`:
[code]

[2019-02-06 17:02] ajavadia commented on #1658
I think in the interest of backwards-compatibility we will keep CompositeGate and properly deprecate it (see patch #1765 that restores it, @nelimee is right that it inadvertently broke).

But in general for the next release we will make it easier to drop a circuit inside another circuit, removing the need for composite gate.

[2019-02-06 17:24] 1ucian0 commented on #1162
ibmq is not tested in terra any more. So I'm closing this. Feel free to reopen if you think is still valid.

[2019-02-06 17:24] #1162 closed

[2019-02-06 18:04] 1ucian0 commented on #1092
I'm not sure if `as_dict` is a method anymore. Is this bug still valid? @peendebak @diego-plan9

[2019-02-06 18:14] 1ucian0 commented on #1220
That means, move `random_density_matrix` (and `__random_density*` to `qiskit/quantum_info` ?

[2019-02-06 18:16] #1658 closed

[2019-02-06 18:20] 1ucian0 commented on #652
FTR, DAGUnroller does not exist any more.

[2019-02-06 18:25] ajavadia commented on #1749
@chunfuchen also you can just retrieve result by index (of your execution list):
[code]

[2019-02-06 18:25] ewinston opened #1772 "get_*_nodes methods of DAGCircuit return inconsistent types"
`get_op_nodes` returns a list of node_id integers or a list of tuple of (node_id, data).
`get_gate_nodes` returns the same types as `get_op_nodes`
`get_named_nodes` returns a list of node_id integers
`get_2q_nodes` returns a list of node dictionaries
`get_3q_or_more_nodes` returns a list of tuples of (node_id, node dictionary).

### What is the expected enhancement?
For consistency perhaps these s

[2019-02-06 18:31] 1ucian0 commented on #1346
Not part of terra any more:
* `qiskit/backends/ibmq/api/ibmqconnector.py`
* `qiskit/unrollers/`
* `qiskit/backends/aer/aerprovider.py`

[2019-02-06 18:34] chunfuchen commented on #1749
Maybe I misunderstand the intention to have the `copy` method but I think the above script would be used if users want to save the line to create the same circuit and then add more gates on top of that.

I always used `qc2 = qc + QuantumCircuit()` to create another circuit with the same registers and gates but with different name.

@ajavadia yes, your suggestion works.

I can still use my old way

[2019-02-06 19:53] ajavadia commented on #205
@1ucian0 can you update the list here if it's still relevant? many of these tests no longer exist.

[2019-02-07 09:45] maddy-tod commented on #1503
Hi @godott thanks for these examples, I am having a look at this issue now. In your second example, what property of the 2nd DAG shows that the gates can be cancelled? I assume it is because they are in the same layer, and have the same input and output wires, is this correct?

[2019-02-07 10:26] diego-plan9 commented on #1092
Please see the comment at #1448, which linked this thread - this issue is part of the group that will become obsolete when that one is addressed.

[2019-02-07 14:44] ajavadia commented on #915
The error message was fixed in #1330.

And actually after #1643, the particular example in this thread will not throw an error (i.e. it is possible to measure a quantum register into a classical bit, as long as the quanutm register has length 1).

[2019-02-07 14:44] #915 closed

[2019-02-07 16:14] maddy-tod commented on #1749
The copy method was based on the request in #1688, and so was simply meant to be a deep copy of the circuit which suggests the name should be maintained. I think an approach such as the one @1ucian0 suggested could be beneficial though.

[2019-02-07 16:23] 1ucian0 commented on #1637
This issue was fixed at some point (I think, after the Layout object refactor https://github.com/Qiskit/qiskit-terra/pull/1740). In https://github.com/Qiskit/qiskit-terra/issues/1637 I added a test with the code from OP. @ryan-woo feel free to reopen if you consider that the issue is still there.

[2019-02-07 16:24] #1637 closed

[2019-02-07 16:30] 1ucian0 commented on #1772
I fully agree. A Note type is needed.

[2019-02-07 17:24] 1ucian0 commented on #1168
I renamed the issue to reflect that is a problem of the parser. Feel free to roll that back if you disagree.

[2019-02-07 17:27] 1ucian0 commented on #1503
The pass `CommutationTransformation` is not creating an equivalent DAG. Currently, our DAG is not a the same as a dependency graph. I understand the need of a dependency graph. This needs more discussion.

[2019-02-07 17:31] 1ucian0 commented on #683
An option is to have an analysis pass that makes the validation. Does it make sense?

[2019-02-07 17:32] godott commented on #1503
@maddy-tod @1ucian0 The DAG is less helpful than the property_set.

[2019-02-07 18:29] #1676 closed

[2019-02-07 18:53] 1ucian0 commented on #1572
I'm closing this because duplicate with #1697. This one was previous, but in #1697 there is a longer discussion and explanation. @ajavadia let me know if they are not the same.

[2019-02-07 18:53] #1572 closed

[2019-02-07 19:28] ajavadia commented on #1712
@nonhermitian any other ideas why this may be failing apart from ipywidgets?

[2019-02-07 19:53] nonhermitian commented on #1712
I have no idea. It is JavaScript at output. Perhaps a JavaScript blocker in the web?  What happens if browsers are switched?

[2019-02-07 22:54] attp commented on #1712
I have just tried this in Firefox, Safari and Chrome with no success.

[2019-02-07 23:35] nonhermitian commented on #1712
Ok, last try. Run this in terminal then check again:

jupyter nbextension enable --py widgetsnbextension

[2019-02-07 23:36] nonhermitian commented on #1712
Or maybe this if in virtual env

jupyter nbextension enable --py --sys-prefix widgetsnbextension

[2019-02-07 23:55] attp commented on #1712
Success! (not sure which of the enabling extension commands fixed the issue, I ran both)
![success](https://user-images.githubusercontent.com/9410731/52450449-21dd9c00-2b8f-11e9-9e87-05a7f2c09a5a.png)

[2019-02-07 23:59] nonhermitian commented on #1712
Ok great. I believe it was pip installing the widgets did not activate them.

[2019-02-08 01:52] #1711 closed

[2019-02-08 02:46] 1ucian0 commented on #1186
Closed via #1617

[2019-02-08 10:41] #1333 closed

[2019-02-08 11:18] maddy-tod commented on #1772
@1ucian0 have you started work on this? If not I would be keen to work on this.

[2019-02-08 14:31] 1ucian0 commented on #1566
This is part of a bigger problem that we have with composite gates, I think.

[2019-02-08 15:44] kdk commented on #861
#1778 implements qobj conditionals in terra, and skips two basic aer tests that should be un-skipped when BasicAer supports qobj-conditionals.

[2019-02-08 18:51] #1663 closed

[2019-02-09 03:50] #1712 closed

[2019-02-09 03:52] ajavadia commented on #1631
@jaygambetta please see if the above meets your needs, and if so close the issue.

[2019-02-09 11:34] ardeleanasm commented on #1566
Is there an alternative way to do it?

[2019-02-09 12:32] ardeleanasm commented on #329
@eddieschoute I saw that you use:
[code]
I'm using qiskit 0.7.2 and I didn't find an Unroller class. Can you please say what imports did you used and which version of qiskit?

[2019-02-09 14:35] eddieschoute commented on #329
It's in the opening post:

I think they moved unrollers or reworked them at some point recently.

[2019-02-09 14:36] ardeleanasm commented on #329
Thanks a lot!

[2019-02-09 14:47] amantamirat opened #1782 "Warrning of marshmallow"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.6
- **Operating system**: windows 10

### What is the current behavior?
I have updated qiskit module but unfortunately, it doesn't work it says "C:\Users\Aman\AppData\Local\Programs\Python\Python36-32\lib\site-packages\marshmallow\schema.py:364: ChangedInMarshmallow3Warning: strict=False is not recommended. In marshmallow

[2019-02-09 23:20] lerongil commented on #1782
This is a Just a Python warning about deprecated usage. It will be fixed in the next release. It should not prevent you from upgrading Qiskit or writing any code today.

[2019-02-10 01:33] ajavadia commented on #1782
Yes this is fixed via #1652 which will be visible in the next release.

[2019-02-10 01:33] #1782 closed

[2019-02-10 03:20] 1ucian0 commented on #1749
Is there a use case for coping with a new name? CC @nonhermitian, as the #1688 submitter. Otherwise, we can close this as `wont fix`

[2019-02-10 09:25] nonhermitian commented on #1749
I personally use the copy for creating circuits with and without measurements. I do not think that I have ever used the curcuit name as an index.

[2019-02-11 00:28] chunfuchen opened #1785 "Support the progress bar to another stream handler"
### What is the expected enhancement?
ProgressBar is a good visualization tool when you have tons of jobs running in the background.

Now, the progress bar will be printed in `sys.stdout`, I wonder that is it possible to add an argument to `TextProgressBar` to print the progress on `sys.stderr` or the other handler?
Then, users can control when the progress bar is displayed. (I know that users can

[2019-02-11 09:05] amantamirat commented on #1782
I used 'pip install -U qiskit' then everything goes wrong.
I can't run my code!!!!

[2019-02-11 18:07] Max-Reuter commented on #1697
@ajavadia could you outline a case where a `RecursionError` would be expected so I can set up a test for it please?

[2019-02-11 20:41] 1ucian0 commented on #1749
In that case, I would go with the optional parameter with the name, defaulting in the same name as source circuit. Agreed?

[2019-02-11 23:24] jwoehr commented on #1750
Addressed in Pull Request  #1790

[2019-02-12 01:50] 1ucian0 commented on #205
Update:

- [ ]  test/python/test_visualization.py: The method TestLatexSourceGenerator.random_circuit generates a random circuit (used in test_tiny_circuit, test_normal_circuit, test_deep_circuit, and test_huge_circuit.

- [ ] `test/python/test_quaternions.py`: Calls Numpy random.

- [ ] `test/python//test_qi.py`: Uses `random_density_matrix`, which does not have a seed.

- [ ] `test/python//quant

[2019-02-12 02:41] chunfuchen commented on #1749
I think it is good. @1ucian0

[2019-02-12 05:07] itoko opened #1791 "Layout.get_registers() does not return registers"
### Information
- **Qiskit Terra version**: 0.8.0
- **Python version**: 3.6
- **Operating system**: Mac

### What is the current behavior?
Layout.get_registers() returns (virtual) qubits:
[code]

### What is the expected behavior?
Layout.get_registers() returns (virtual quantum) registers:
[code]

### Suggested solutions
Change the implementation of Layout.get_registers() to:
[code]

Change the li

[2019-02-12 06:59] rraymondhp commented on #1677
About the japanese translation, we do agree, but the naming of root directory `nl` may need reconsideration as it looks like the name of a particular language (netherland?)

[2019-02-12 09:52] nonhermitian opened #1794 "Some StochasticSwap mapper tests too dependent on how random values are generated."
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The tests `test_overoptimization_case` and `test_congestion ` fail if the seed value is not explicitly set to `seed=13`, indicating that their success relies on having a very specific sequence of random numbers generated, e.g. setting `seed=123456` makes the test fai

[2019-02-12 15:13] #1707 closed

[2019-02-12 15:41] nonhermitian opened #1796 "Allow versioning to include git information if not using released version"
### What is the expected enhancement?

Currently there is no way to distinguish between the master branch dev version and a final release version.  Currently, for example, they would both be labeled as `0.8.0`.

It would be nice to have unreleased (dev) versions tagged with the git repo commit that they are pulled from.  This is done, for example in SciPy and NumPy, and it quite easy to implement.

[2019-02-12 16:33] #1785 closed

[2019-02-12 16:39] ewinston opened #1798 "fix text circuit drawer for unitary gates"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
exception is raised (TypeError) when attempting to draw circuit with unitary matrix gate.

### Steps to reproduce the problem
print circuit with unitary gate

### What is the expected behavior?
Draw a box with "unitary". Don't need to try displaying matrix.

### Suggested s

[2019-02-12 16:56] 1ucian0 commented on #1206
There are not that many currently:
[code]

[2019-02-12 18:43] 1ucian0 commented on #1772
go ahead @maddy-tod!

[2019-02-12 18:51] ajavadia commented on #1750
Hi @jwoehr, thank you for raising the issue and the associated pull request.

If I am not mistaken, what you are suggesting here seems like a script or utility for running QASM code, with some options. So in effect, it is a wrapper around the components of Qiskit Terra.

This kind of thing has been brought up in the past as well (e.g. see https://github.com/Qiskit/qiskit-terra/pull/242). Our appro

[2019-02-12 19:02] ajavadia commented on #1697
@Max-Reuter Nothing I know of at the moment can trigger a RecursionError. I was just saying in principle we should catch the error where the unroller does not terminate (unroller will be changed and expanded in the future). So no test needed at the moment.

[2019-02-12 19:54] jwoehr commented on #1750
Ok, I certainly can publish that on my own, thanks.

[2019-02-12 19:56] 1ucian0 commented on #205
The visualization part will be fixed with a better version of https://github.com/Qiskit/qiskit-terra/pull/1617 (i.e. meta-test for visualizers)

[2019-02-12 20:09] 1ucian0 commented on #1747
After https://github.com/Qiskit/qiskit-terra/pull/1781, the dag does not have a `qasm` method (see https://github.com/Qiskit/qiskit-terra/pull/1781/files#diff-d2039341ad623e4c82f0beeec0ad1f87L772) so I'm closing this bug, since it makes sense I think.

[2019-02-12 20:09] #1747 closed

[2019-02-12 20:17] 1ucian0 opened #1801 "When DAGCircuit.qasm() got replaced by QuantumCircuit.qasm() some features got lost"
After  https://github.com/Qiskit/qiskit-terra/pull/1781, `DAGCircuit` does not support `qasm` method and it was replaced by the method in `QuantumCircuit`. However, many parameters were supported before (see: https://github.com/Qiskit/qiskit-terra/pull/1781/files#diff-d2039341ad623e4c82f0beeec0ad1f87L772) that are not supported now.
[code]

[2019-02-12 20:26] #1750 closed

[2019-02-12 20:27] ajavadia commented on #1801
Yeah but are those parameters needed? They were not used anywhere in the code.

[2019-02-12 20:33] 1ucian0 commented on #1801
https://github.com/Qiskit/qiskit-terra/issues/1747

[2019-02-12 20:53] ajavadia commented on #1221
@jaygambetta Now we have support for dropping an arbitrary unitary into the circuit. What you are proposing for the quantum-information module should ideally use this, but obviously add methods for doing interesting things with the unitary.

[2019-02-12 20:55] ajavadia commented on #1801
Yeah I don't think we want to control qasm printing at that level. It should not be a smart function in my opinion. I did notice that one place where the aliases got used, but really no where else, and none of the other parameters were used either.

[2019-02-13 08:59] veenaiyuri commented on #1677
You are right. 'nl' does stand for Netherlands. How about 'lang' instead?
[code]

[2019-02-13 10:03] quantumjim opened #1804 "install failing for Binder and Colab"
### Information

Error occurs for builds using:
- https://colab.research.google.com
- https://mybinder.org

### What is the current behavior?

Full error from Colab below. Binder gives an identical exception.

[code]

### Steps to reproduce the problem

* See [this notebook](https://colab.research.google.com/drive/1DM4ac3mOsW7r8pT6v49rkxp28-69qAyB) on Colab.
* Try using the Binder for the tutorial

[2019-02-13 14:27] #1460 closed

[2019-02-13 18:04] diego-plan9 commented on #1804
Seems the same issue as https://github.com/Qiskit/qiskit/issues/78 (in the first line of the log, it seems to show it is attempting to install `qiskit-0.7.2.tar.gz`).

[2019-02-13 18:26] 1ucian0 commented on #875
okey.. at some point we over corrected this:
[code]
**but...**
[code]

[2019-02-13 18:26] #875 closed

[2019-02-13 18:29] 1ucian0 commented on #1801
Related, other possible use in #875

[2019-02-13 18:30] 1ucian0 opened #1807 "Custom gates are not extending circuit.definitions"
This is some sort of follow up from #875.

It seems that, at some point, we broke `circuit.definitions`:
[code]

[2019-02-13 20:58] 1ucian0 commented on #1769
Here is the explanation for this bug: each time that `q = QuantumRegister(20)` is called, a registry with different names is created. Based on that name, a layout is created when `StochasticSwap.run` is executed (by the transpiler) and the attribute `StochasticSwap.initial_layout` is set to the layout. Because the way that we handle passes, the second `StochasticSwap()` does not give you a fresh i

[2019-02-13 21:21] nonhermitian commented on #1769
A bit confused. If I create a new pass manager instance and add passes to it, should they not be new instances of the passes?

[2019-02-13 21:51] 1ucian0 commented on #1769
No. The cache is a class attribute of `MetaPass`. The pass manager is not involved.

[2019-02-13 22:44] nonhermitian commented on #1769
What is the use case fir this caching?

[2019-02-13 23:33] 1ucian0 commented on #1769
As part of the scheduling, passes are store in sets, such as `requires` and `preserves`. Therefore, they need to have equivalence between instances. Instead of doing like in other parts of the code and hack around the hash, we decided to return the same instance.

[2019-02-14 02:58] t-imamichi commented on #1804
As I reported in https://github.com/Qiskit/qiskit/issues/78, it is caused by pip==19. If we downgrade pip  into 18, `pip install` works.

[2019-02-14 03:02] #1804 closed

[2019-02-14 03:49] #1791 closed

[2019-02-14 10:49] diego-plan9 commented on #205
Reopening as #1800 was "partially fixing" this issue

[2019-02-14 11:09] nonhermitian commented on #205
I have to say I disagree with this idea. It should be a mix of both. Experience shows that letting tests be random can identify edge cases, or donains of invalidity. Indeed, several swap mapper errors have been found via random circuit generation.

[2019-02-14 11:21] yaelbh commented on #205
@nonhermitian Please see related comments https://github.com/Qiskit/qiskit-terra/issues/205#issuecomment-412488072 and https://github.com/Qiskit/qiskit-terra/issues/205#issuecomment-412510620.

[2019-02-14 11:28] nonhermitian commented on #205
I have no idea what fuzzying is, but it sounds like a fancy name for randomized testing, which agrees with my point above.

I would also say that finding bugs via randomized teststing out weighs the difficulty in determining if a new piece of code caused the error or not.  Given their random, and typically rare nature, they usually do not overlap with code that is actually modified in a PR, and ar

[2019-02-14 12:00] diego-plan9 commented on #1206
Actually that grepping seems to be missing some files - we are at ~70ish currently.

[2019-02-14 14:38] 1ucian0 commented on #205
The value of the test suite is in its reproducibility. If I modify code, and a test is not passing, there is something wrong with my modification. If a test fails _sometimes_, there is little information that I can extract from that fact.

In fuzzing, random inputs are provided to find the "edge cases" that you are referring in https://github.com/Qiskit/qiskit-terra/issues/205#issuecomment-4635881

[2019-02-14 14:48] jaygambetta commented on #205
I agree with Paul. There are cases in quantum where we need random for a reason. To test all possible states is not feasible

[2019-02-14 16:19] 1ucian0 commented on #205
I don't disagree with that. We need parallel infrastructure for it where we can preserve the reproducibility of the breaking state.

[2019-02-14 18:23] #1798 closed

[2019-02-14 18:53] 1ucian0 commented on #888
The issue #923 is an epic to refactor the parser. I think we should collect ideas first. Please, dump your  thoughts in #923 and, the meanwhile, I will put this one on hold. Thanks!

[2019-02-15 00:37] npdeep commented on #1384
@jaygambetta @1ucian0  I am new to this repo but if it's alright with you, I would love to take on this issue.

[2019-02-15 00:46] jaygambetta commented on #1384
sounds great.

[2019-02-15 02:38] jaygambetta opened #1812 "center labels on histogram"
### What is the expected enhancement?
can we center the x labels on the histogram when plotting more than one data set.

<img width="692" alt="image" src="https://user-images.githubusercontent.com/15731369/52830969-c6d10b00-30a0-11e9-926d-bc2b9042c1c7.png">

[2019-02-15 09:48] nonhermitian opened #1813 "CheckMap pass does not populate the results attribute"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Running:
[code]
always returns `{'is_swap_mapped': [], 'is_direction_mapped': []}` for the `results`.  It looks like the pass only populates the values as properties of a `PassManager`.

### Steps to reproduce the problem

### What is the expected behavior?
The resul

[2019-02-15 09:49] nonhermitian commented on #1743
I am closing this for now, as other parts of the compiler chain are blockers over this.

[2019-02-15 12:30] 1ucian0 commented on #1743
What's blocking?

[2019-02-15 12:35] nonhermitian commented on #1743
The DAG is the limiting factor in compile time at the moment. compose_back in particular. Therefore doing the trials in parallel is not the limiting factor at the moment.

[2019-02-15 13:10] maddy-tod commented on #1772
Should methods such as `DAGCircuit.ancestors(node)` be included in this change? Currently the method returns a list of node_id but it could be updated to return a list of `Node`s

[2019-02-15 14:01] 1ucian0 commented on #1772
yes, I think so.

[2019-02-15 14:41] kdk commented on #1769
I took a few minutes to get somewhat up to speed around the MetaPass cache, and it seems like here, the bug arises because the pass is holding internal state that is dependent on something other than the pass arguments. This breaks the assumption that the class name + `__init__` arguments are sufficient to uniquely identify a pass.

I think the answer here is to either restructure how `StochasticS

[2019-02-15 15:38] 1ucian0 opened #1814 "CompositeGate gate bindings need testing"
### What is the expected enhancement?

The PR https://github.com/Qiskit/qiskit-terra/pull/1765 partially reverts https://github.com/Qiskit/qiskit-terra/pull/1158 but now tests were added to exercise that code. Tests on why this code is needed should be added.

[2019-02-15 16:34] 1ucian0 commented on #1769
Good point. For your first suggestions, probably adding immutability to passes would be a way to help "enforcing" it.

[2019-02-15 21:22] ericrsong opened #1818 "Issue with drawing the circuit (Latex output)"
### Informations

- **Qiskit version**:
qiskit                   0.7.2
qiskit-aer               0.1.1
qiskit-aqua              0.4.1
qiskit-chemistry         0.4.2
qiskit-terra             0.7.0
- **Python version**: 3.7
- **Operating system**: windows 10 x64

### What is the current behavior?
When plotting the circuit, the barrier is not in the correct place when choosing the latex output.

Outpu

[2019-02-15 22:56] Bam17 opened #1817 "Can't import qiskit package !!"
(Qiskit) C:\Users\LENOVO>pip install --no-cache-dir qiskit
Collecting qiskit
  Downloading https://files.pythonhosted.org/packages/7a/4a/bc00cc835794bb5247146d895586284759fe8e726648cfbb2f977e484bec/qiskit-0.7.2.tar.gz
Requirement already satisfied: qiskit-terra<0.8,>=0.7 in d:\anaconda\envs\qiskit\lib\site-packages (from qiskit) (0.7.0)
Requirement already satisfied: qiskit-aer<0.2,>=0.1 in d:\ana

[2019-02-16 02:53] chetmurthy commented on #901
I think this is going to be very difficult to do in a sensible way.  Consider the code

[code]

This is valid, and parses the same as

[code]

To make sufficient changes to the AST to support comments basically *anywhere* that are part of the AST, is going to make it insanely ugly.  And it'll make the grammar a real mess, to boot.

But there is hope.  There is a more-or-less standard way of gettin

[2019-02-16 02:57] chetmurthy commented on #1168
I did a little investigation.  I took "highmem.qasm" and used "head -NN" to produce prefixes of the file of length 2^N, for N in [10...21].  Comparing the memory used for (e.g.) 2^20, 2^21 lines, and other pairs, I found that the per-line cost is about 2.6k bytes.  And this doesn't change much over this data-series.

So there's not some "bug", I fear.  Just really, really wasteful code.  Maybe it'

[2019-02-16 15:11] #1817 closed

[2019-02-16 19:30] jaygambetta commented on #1721
see comments in the pr.

[2019-02-16 19:30] #1721 closed

[2019-02-16 20:05] isolatedinformation opened #1820 "Mapper error when I try to execute QuantumCircuit as an object of a user defined class"
### Informations

- **Qiskit version**: 0.7.0
- **Python version**: 3.6.7
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
/home/varun/.local/lib/python3.6/site-packages/marshmallow/schema.py:364: ChangedInMarshmallow3Warning: strict=False is not recommended. In marshmallow 3.0, schemas will always be strict. See https://marshmallow.readthedocs.io/en/latest/upgrading.html#sc

[2019-02-17 00:26] chetmurthy commented on #888
Uh, I think this is a misunderstanding of the Dragonbook, and the basics of how compilers are written.

Ex 1: Yacc (and most parser-generator) grammars are LR(1).  This is a
subset of context-free.  It is well-understood that nearly all
semantic processing isn't context-free.  Sure.  But it is ALSO
well-understood that much semantic processing (e.g. checking for
variable-binding, well-typed-ness i

[2019-02-17 00:55] chetmurthy commented on #1168
TL;DR the wastefulness here is due to Python, and there's not much that can be done to fix it.

OK, I'm *pretty sure* that this isn't a bug in the Qasm Python code, nor in PLY (Python parser/lexer generator).  Here's a small test:
[code]
[N.B.  I disabled the declared-variable check ("verify_reg") in the parser, for this test]
See that line "deepcopy(c0c0)"?  It started as "deepcopy(cnot)", then "

[2019-02-18 10:48] maddy-tod commented on #1820
Hi @isolatedinformation could you provide some more information about the circuit you were trying to execute when this error occurred?

[2019-02-18 12:48] isolatedinformation commented on #1820
My circuit consisits of 9 qubits and 9 cbits to record thier outcomes. Basically, I was trying to simulate a noisy channel and perform error correction to retireve the initial message. The noisiness of the channel was tuned by a parameter \gamma. For diiferent values of \gamma, I wanted the statistics of the measuremnt outcome and plotted them. For instance, this attached image was the statistics

[2019-02-18 14:37] maddy-tod commented on #1807
I think this is due to #1781 as this removed the gate definitions from the DAG, so when the AST is converted into a DAG the information about gate definitions is lost.

[2019-02-18 16:31] 1ucian0 commented on #888
I think one of the main challenges here is that Qiskit tries to be very backend agnostic and the instruction set depends a lot on the backends. The internal DAG representation of the circuit is also moving that direction. I see Qasm as a Qiskit input to construct a DAG circuit, which care much less about instruction definition until the Qobj is constructed.

Possible, the way to go is to have many

[2019-02-18 16:42] 1ucian0 commented on #901
What do you mean by `q[0],q[1];` being valid?

It's my impression that the OpenQASM authors thought this way to add "metadata" to the gate definition:
[code]
I agree that might not be the best way to reach their goal. This kind of comment might be treat differently than `h q[0]; \\ comment` by the parser. I don't have any use case for their later use. But I would like to support the former.

[2019-02-18 17:22] 1ucian0 commented on #1813
I'm not sure I fully following you. I tried:
[code]

[2019-02-18 17:24] 1ucian0 commented on #1807
Thanks for hunting it down. Was that the intention @ajavadia ?

[2019-02-18 17:28] 1ucian0 commented on #1807
Related to https://github.com/Qiskit/qiskit-terra/issues/876

[2019-02-18 17:59] nonhermitian commented on #1813
The check map has a results attribute that one would assume holds the result, but does not. I see from your example that this is not actually used.

[2019-02-18 20:52] 1ucian0 commented on #1813
oh! I see. the attribute was left there by mistake. It's going to be removed in https://github.com/Qiskit/qiskit-terra/pull/1767/files#diff-b2fb08d7a3de675a90136cd23b548ea0L36.

[2019-02-18 20:52] #1813 closed

[2019-02-18 21:10] chetmurthy commented on #901
Arrrgh!  I didn't even *notice* that github took out the comment.  What I meant was that comments are valid anywhere, e.g. between the "," and the "q" in "cx q[0], q[1] ;"

Comments are valid between any two lexemes, and if you want a comment to be a token, then the modifications to the grammar to support that will be .... *painful*.  Whereas the method I suggest is both standard, and straightforw

[2019-02-18 22:54] pacomf opened #1822 "Branch `master` is failing"
Trying to build `master` at commit 495046d07471e64eab6ddbdfdf8bdef88f0c644f failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/178681589

[2019-02-19 09:13] pacomf opened #1823 "Branch `master` is failing"
Trying to build `master` at commit 495046d07471e64eab6ddbdfdf8bdef88f0c644f failed.
More info at: https://travis-ci.org/qiskit/qiskit-terra/builds/178681589

[2019-02-19 09:17] #1823 closed

[2019-02-19 10:08] delapuente opened #1825 "Automatic CI failure report informs more than once about the same error"
The tool for automatizing build failures is reporting the same error in two different issues.

The automatic report of master failures ensures the uniqueness based on a label called `master failing` but creating issues with labels is only allowed for users with push access. It seems the user for creating these issues did not have the correct permissions.

[2019-02-19 10:09] delapuente commented on #1825
Fixed by fixing permissions.

[2019-02-19 10:09] #1825 closed

[2019-02-19 10:58] diego-plan9 commented on #1822
Fixed via a [new rc of the ibmq provider](https://pypi.org/project/qiskit-ibmq-provider/0.1rc2/), as rc1 was lacking some commits and still depending on pre-qobj features - please upgrade the package if installed locally.

[2019-02-19 10:58] #1822 closed

[2019-02-19 12:09] mtreinish commented on #1818
This looks like a duplicate of #1724 which was already fixed on master. Can you test that #1727 fixes this for you? (it does for me locally)

[2019-02-19 12:20] mtreinish commented on #1796
Something I have proposed in another issue related to requirements is to adopt the use of [pbr](https://docs.openstack.org/pbr/latest/) which will handle the dev versioning automatically for us (it just looks at git) and make a lot of other things automatic.

It also should work well with cython (because of #1789 this is something to think about) via: https://copyninja.info/blog/cython_setuptools.

[2019-02-19 14:23] nonhermitian commented on #1796
So in general I think we should not add dependencies unless really needed.  Although I am not sure what the "a lot of other things" you mentioned are, at least in this case, we can follow the SciPy and NumPy people and use a simple `git` call: https://github.com/scipy/scipy/blob/6db252d0105ba6fe3b23dd10d7a0da17dac0ce53/setup.py#L63

The Cython build in #1789 is already working, and does not need a

[2019-02-19 14:42] jaygambetta opened #1827 "BaseJob submit"
### What is the expected behavior?

I would like to understand why it is required to have the submit function in the basejob. I notice this in needed in the  https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/creating_a_provider.ipynb and i am not sure we should require it.

[2019-02-19 15:28] 1ucian0 commented on #1348
@ajavadia can you confirm?

[2019-02-19 15:52] nonhermitian opened #1828 "Making custom backends is much more difficult than previous releases"
### What is the expected behavior?
In Terra-0.6 one could create a custom backend to compile against by simply doing:
[code]
Now it requires the following:
[code]

Creating custom, abstracted backends is very convenient for creating generic instances of circuits that can later be mapped to a given actual backend via `initial_layout`.  There should be a helper function that makes building these obj

[2019-02-19 15:58] ajavadia commented on #1828
The `FakeBackend` is already defined in qiskit.test.mock. Take a look at that file. It shows mocked versions of Tenerife, Rueschlikon, Tokyo.

So creating another one shouldn't be hard if you just derive from `FakeBackend`.

[2019-02-19 16:16] nonhermitian commented on #1828
True, that is where I got it from, but I should not need to know about `FakeBackend` (that is in a odd location to begin with) as well as the need to use `GateConfig` or `BackendConfiguation`.  I should be able to do something like `abstract_backend(n_qubits, coupling_map)` and have it do it for me.

[2019-02-19 16:26] nonhermitian opened #1831 "There needs to be a ApplyLayout pass"
### What is the expected enhancement?

The default `StochasticSwap` pass does not map a circuit from the logical (virtual) representation to the physical representation for running on hardware.  The previous `swap_mapper` pass used to do this.  As such, there needs to be an `ApplyLayout` pass that flattens the quantum registers and applies the layout to map to hardware for running on a physical ba

[2019-02-19 16:35] #1812 closed

[2019-02-19 16:46] kdk commented on #1348
I was able to reproduce (or maybe a similar error) on the same circuit on master / 5f4102a8065ebf1772cde0acf69f2010b970d569 , `len(qr)==len(cr)==4`,  python3.5 .

Error is `MapperError: 'swap_mapper failed: layer 3, sublayer 0'` from https://github.com/Qiskit/qiskit-terra/blob/5f4102a8065ebf1772cde0acf69f2010b970d569/qiskit/mapper/mapping.py#L374 .

[2019-02-19 16:48] mtreinish commented on #1701
@diego-plan9 did you do something to fix this? I'm seeing the results from appveyor being displayed on PRs now.

[2019-02-19 16:48] delapuente opened #1832 "Update CONTRIBUTING.rst with an entry about contributing with new swap passes"
Explain the special requirements of adding a new swap pass in the contributing guidelines.

[2019-02-19 17:19] diego-plan9 commented on #1701
Not really - I guess the credit will go to AppVeyor's team or a combination of mysterious factors  :grimacing: ! Thanks for noticing and reporting that the ticks are finally back, which means we can close the issue.

[2019-02-19 17:19] #1701 closed

[2019-02-19 18:05] #1749 closed

[2019-02-19 18:26] nonhermitian opened #1833 "python tools/report_ci_failure.py fails under AppVeyor"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-02-19 18:37] 1ucian0 commented on #901
My understanding of the specification is that comments are between `//` and line-end.

Probably my original post was wrongly trying to be too generic. Sorry. I'm only interested in the use case from the specification, about adding metadata to gates.

[2019-02-19 18:47] chetmurthy commented on #901
Comments *are* between `//` and line-end.

[2019-02-19 18:52] 1ucian0 commented on #901
oh! I see what you mean:
[code]
You are right.

[2019-02-19 19:51] #1461 closed

[2019-02-19 20:33] ericrsong commented on #1818
Sorry, yes. The Hadamard gate appears now. The barrier still seems to be not in the exact right place. But that's not a big issue.

![circuit](https://user-images.githubusercontent.com/47463894/53045374-728ca900-345b-11e9-998a-ceb481f48344.JPG)

Btw, there's an incompatibility between versions.
![incompatible](https://user-images.githubusercontent.com/47463894/53045433-99e37600-345b-11e9-9f6c-10fb

[2019-02-19 20:53] mtreinish commented on #1818
Yeah, the barrier placement can be pretty finicky. It's a known issue (and there is limits to what is doable there) because the latex package requires manually offsetting the barrier horizontally so we have to try to account for every spacing in the python code when generating the latex.

As for that error, it'll go away when we bump the major version on the `qiskit` package. The versioning on the

[2019-02-19 20:53] #1818 closed

[2019-02-19 21:18] ajavadia commented on #1828
maybe @diego-plan9 can comment on whether some of those fields can be turned into a default value if not provided. or if there's a way to turn off validation so the validator does not complain.

So would write something like:
[code]
Here you would only add the `BackendConfiguration` part compared to 0.6.

I'm open to moving FakeBackend elsewhere and highlighting its use. But this is all part of st

[2019-02-20 01:56] chetmurthy commented on #888
It would be -very- useful to understand the variation you expect to see in QASM and its variants.  If all the variation is in the instruction-set, and not in the syntax of gates and declaration of variables (e.g. bit-vectors), then it's very straightforward to define and implement QASM in such a way that it can be used for all these languages without any ambiguity or mess.

There is great value in

[2019-02-20 10:00] diego-plan9 commented on #1828
I'd rather turn the attention to:

Can you elaborate on the need for them, and the use case and scenarios/flow where the need arises? It might hint towards a different problem (the compilation process as a whole being too "bound" to a backend instance in some steps where just requiring the relevant pieces of data would be enough and more flexible). If that is the case and the need is common enough

[2019-02-20 10:04] nonhermitian commented on #1828
I basically solved this myself in #1837.  However, many times you want to create a custom topology and compile against it.  For example,  a linear chain 0 - 1 - 2 - 3 is an useful backend to have.  Compiling against this backend gives you generic circuits that you can then run on an actual device using the `initial_layout` to map.  I end up doing this all the time for quantum volume circuits, and

[2019-02-20 10:20] diego-plan9 commented on #1828
Can you share a minimal example of the relevant parts where you use a fake backend for that purpose?

[2019-02-20 10:24] nonhermitian commented on #1828
It is easy `compile(qv_circuits, backend=FakeBackend)`.  Then to run on a given device you would do `compile(qv_circuits, backend=RealBackend, initial_layout=[....])`

[2019-02-20 10:24] nonhermitian commented on #1828
I think #1837 really solves all the issues.

[2019-02-20 11:13] diego-plan9 commented on #1828
After some digging, it seems that the issue boils down to the need of specifying a `coupling_map` for the compilation process - and actually it can already be done in `master` by just calling:

[code]
(since it calls `transpile`, which only uses the backend for fetching `coupling_map` and `basis_gates` if they are not already supplied). Minor usability issues aside, if this is enough to cover the

[2019-02-20 11:50] quantumjim opened #1838 "BasicAer in 0.7 returns incorrect result"
### Information

- **Qiskit Terra version**: Terra 0.7.0, Qiskit 0.7.3
- **Python version**: 3.7.0
- **Operating system**: OSX

### What is the current behavior?

[code]
outputs `{'0': 1024}`, when it should clearly ouput `1`.

### Suggested solutions

Using Aer instead of BasicAer works.

[2019-02-20 15:53] nonhermitian commented on #1828
I am not sure why there is so much hesitation to expose to users a functionality that we use ourselves, but I will close this issue, and #1837 and just add the routine to my "user space"

[2019-02-20 15:53] #1828 closed

[2019-02-20 16:06] ajavadia commented on #1828
@jaygambetta also wants to change the `compile()` signature to not take a `backend`, it will only take the compilation options (e.g. basis_gates, coupling_map, etc.).. so then I think there will be less use for making an abstract backend. The reason they exist in tests is because they mock job responses.

[2019-02-20 16:12] mtreinish commented on #1838
Hmm, I ran that exact script locally and got:

[code]

Which is the expected result.

[2019-02-20 16:22] nonhermitian commented on #1828
No worries, I can add it to an addons package in the mean time

[2019-02-20 17:08] akosbudai opened #1839 "Bug in plot_state_city"
### Information

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.6.4
- **Operating system**: Windows 10 64-bit

### What is the current behavior?

qiskit.tools.visualization.plot_state_city() gives incorrectly aligned plots for some input states

### Steps to reproduce the problem

Create the state psi = np.array([1, 1]) / np.sqrt(2).
Plot plot_state_city(psi).

### What is the expected

[2019-02-20 19:13] 1ucian0 opened #1841 "property-based tests"
From the discussion in #1800, we conclude that we need tests to check properties (in opposition to fixed values). This is a proposal to address that need.

In the past, we used to add randomness to our test suite. For example, here:
[code]

This brings the problem of having non-deterministic tests and the retrieval of the falling input when when the test fails. My suggestion is to have a different

[2019-02-20 19:15] nonhermitian commented on #1838
Same as @mtreinish.

[2019-02-20 20:03] nonhermitian commented on #1841
I do not understand why we need this.  We just need to log the random inputs to recover an issue if it arises.  In the above example, the test should vary the length as well.  So the test should be improved, rather than creating a whole new test suite.  Of course, one can, and perhaps should, also add fixed seed tests as well here. I also think that the tests are overly complicated as it stands, a

[2019-02-20 20:44] 1ucian0 commented on #1841
A lot to unpack here. Let me know if I missing any of your points.

 #### Why can we just log the random input?

This is what I'm trying to address here: a way to recover the input and make sure it does not get lost in void. Alternative solutions are welcomed.

 #### Why can we just fix the seed and log it?

I'm not fully sure if the derivation function is the same in all the platforms/versions. I

[2019-02-21 08:50] quantumjim commented on #1838
I get the failure locally (which doesn't bother me much, because I use Aer).

I also get it at [Google Colab](https://colab.research.google.com/drive/1UFvcvvAExjVOZpxTjYV528rAmxuJLGDe) (which bothers me more, because I'm using it for exercise classes).

The same thing also happens [in Trinket](https://trinket.io/python3/ad709e4b4b).

I've downgraded to 0.6 as a workaround, but obviously that's not

[2019-02-21 09:12] nonhermitian commented on #1838
Can confirm that this is a bug in 0.7.  It does appear to be fixed in master though. I believe in #1624.

[2019-02-21 10:17] quantumjim commented on #1838
Any chance that this could be patched into stable? It's a bit embarrassing if I have to teach the course using 0.6, and it doesn't seem like a good idea to teach it out of master.

[2019-02-21 10:43] nonhermitian commented on #1838
@ajavadia ?

[2019-02-22 04:58] t-imamichi opened #1845 "Matplotlib circuit drawer raises IndexError if there is no gate in QuantumCircuit"
### Information

- **Qiskit Terra version**: 0.7.3
- **Python version**: 3.6.8
- **Operating system**: macOS HighSierra

### What is the current behavior?

If I try to draw a quantum circuit without any gate, the mpl drawer raises IndexError. The text drawer does not have this issue.

### Steps to reproduce the problem

[code]

[code]

### What is the expected behavior?

No IndexError.

### Sugges

[2019-02-22 04:59] t-imamichi commented on #1845
@nkanazawa1989 Can you check it?

[2019-02-22 05:02] t-imamichi opened #1846 "Text circuit drawer raises ValueError if an empty circuit is given"
### Information

- **Qiskit Terra version**: 0.7.3
- **Python version**: 3.6.8
- **Operating system**: macOS HighSierra

### What is the current behavior?

If I try to draw an empty circuit with the text drawer, it raises ValueError.

### Steps to reproduce the problem

[code]

[code]

### What is the expected behavior?

No ValueError.

### Suggested solutions

Check whether `names` is empty or no

[2019-02-22 07:06] t-imamichi commented on #1838
I confirmed that https://github.com/Qiskit/qiskit-terra/pull/1624 fixes this issue.

[code]

[code]

[2019-02-22 07:19] t-imamichi commented on #1838
@quantumjim It may be an option to use `LegacySimulators` instead of `BasicAer`. Although it shows a deprecation warning, it returns a correct result. Anyway, I think `Aer` is the best option.

[2019-02-22 12:22] itoko commented on #1831
The other swap mapper passes (`BasicSwap` and `LookaheadSwap`) also do not map circuit from the virtual representation to the physical one. We definitely need a function to do this. I think we have at least two options for the solution: 1) creating a new pass (`ApplyLayout`) as @nonhermitian proposed or 2) providing a utility function. Both solutions have pros and cons. (1) can easily tell when th

[2019-02-22 14:37] 1ucian0 commented on #1833
ping @delapuente ?

[2019-02-22 14:58] nonhermitian commented on #1833
I think this is because AppVeyor does not load`requirements-dev` that has the `PyGithub` that is needed here.

[2019-02-22 17:18] nonhermitian commented on #1831
So, I would say that the mapping from virtual to physical qubits should be explicit, i.e. there is a pass that does this.  This is more in line with the spirit of the transpiler where each pass does a simple task.  There is no reason why a swap mapper should actually do the map from virtual -> physical.  Indeed, one could, for example, just be exploring the characteristics of a swap mapper applied

[2019-02-22 19:20] 1ucian0 commented on #1846
Thanks for your report @t-imamichi !

I fixed this issue in https://github.com/Qiskit/qiskit-terra/pull/1849.

[2019-02-22 19:47] kdk opened #1851 "Should multi-graph dag nodes be DAGNodes?"
### What is the expected enhancement?
#1815 adds a `DAGNode` object as a public interface for exposing dag nodes outside of the `DAGCircuit` class, but does not change the internal structure of `dag.multi_graph`. Should `DAGCircuit` standardize the nodes of its `multi_graph` as instances of `DAGNode`?

Considerations:
1. Even though the `multi_graph` is technically internal, there are still a numb

[2019-02-22 20:09] nonhermitian commented on #1841
- **log the random input**: Instead of using `None` to seed if not explicitly given, call `np.randint(max(int32))`, save in logger.

- **fix seed and log it** - The NumPy random is platform independent if the seed is given.  This is why we can fix the seed on all platforms and have the test pass.  The version of the random generator has not changed, and the source itself was last changed in 2005.

[2019-02-22 20:30] nonhermitian opened #1852 "Check if circuit together with initial_layout satisfy topology without going to DAG"
### What is the expected enhancement?
Currently it is not possible to check if a circuit, together with an `initial_layout`, satisfy a given backend topology without going to DAG [we internally use `CheckMap` that is a transpiler pass].  For example, you may want to compile to a generic topology (as mentioned in #1828 and #1837) and then simply map to a physical realization of this topology via pa

[2019-02-22 20:41] #1623 closed

[2019-02-22 21:12] 1ucian0 commented on #1841
About the last point (which is the one that I feel more strongly about); do we agree with the following premise?

If you agree, I think the best way to implement that is by having them in a different suite. But I'm open to options. Let's close this point before moving to the others...

[2019-02-22 21:38] mtreinish commented on #1679
Closed with #1848

[2019-02-22 21:38] #1679 closed

[2019-02-22 23:33] nonhermitian commented on #1841
So I would agree in principle. However, I would say that finding an error is much more important than any inconvenience there might be to merging a PR. If the error is in fact unrelated, it can be logged and an issue created. A subsequent run of the tests should be clean (unless it is a frequent error, which of course could be caught via random testing) and the PR can be merged. So I agree with yo

[2019-02-23 03:38] #1846 closed

[2019-02-23 14:12] jaygambetta commented on #1838
@mtreinish can you patch this into 0.7 i think this should be as @quantumjim says.

[2019-02-24 13:20] jaygambetta commented on #1827
basically, i see why we have it as in the backend run we create a job instance and then submit the job  to be run. But what I don't get is why can the backend.run start the job and then once it has been started it creates the job instance.

[2019-02-24 13:25] jaygambetta commented on #1106
@mtreinish can we remove the Wigner functions. Then let's add them to the tutorial to give an example. I think they are not used enough to keep them in sync in the main repo.

[2019-02-24 13:27] jaygambetta commented on #1302
closing as we are not supporting the standard version.

[2019-02-24 13:27] #1302 closed

[2019-02-24 16:38] jaygambetta commented on #1631
sure we can use this code to do it but then i would still overload the `__repr__`. This being said i think it is important to also give some information like the number of circuits of the qobj (which cant be done with JSON) so i would make a function for this. I don't see why it is simpler to remember to go to dict and then go to print on it over a print option. Also this ties us to qobj being in

[2019-02-24 17:32] jaygambetta commented on #1827
Basically i see we do this following

1) launching a job: backend.run() -> job.submit() -> job.results()
2) retrieving a job: backend.get_job() -> job.results()

I would prefer to have

1) launching a job: backend.run() -> job.results()
2) retrieving a job: backend.get_job() -> job.results()

[2019-02-24 17:42] nonhermitian commented on #1827
This makes a bit more sense from the stand point that a backend does in fact run the job, and the job instance is just a ref for this.

[2019-02-24 20:04] jaygambetta commented on #1221
@ewinston how is this going. Can you sketch some of these things we discuss here?

[2019-02-24 20:29] jaygambetta commented on #829
@dtmcclure can you check now

[2019-02-25 01:57] dtmcclure commented on #829
Looking at the changes proposed in the PR, it appears they will fix the
problem once approved.

On Sun, Feb 24, 2019 at 3:29 PM Jay Gambetta <notifications@github.com>
wrote:

[2019-02-25 09:09] #829 closed

[2019-02-25 12:58] mtreinish commented on #1838
I've pushed a backport of #1624 to the stable branch here: https://github.com/Qiskit/qiskit-terra/pull/1859 we can merge that and release it as 0.7.1.

[2019-02-25 21:08] mtreinish commented on #1839
Just for completeness the current output looks like this:

![city_error](https://user-images.githubusercontent.com/2447371/53368740-86cb1d00-3917-11e9-8df5-e0a2df0b20f0.png)

[2019-02-25 21:39] mtreinish commented on #325
Just to point out this is in progress here: Qiskit/qiskit#30 there's one issue to debug related to installing qiskit. Once that's resolved and it merges we can work on running that on a continuous basis.

[2019-02-26 13:50] mtreinish commented on #946
I'm closing this bug because drawing an initial vector works fine now and has since we migrated to using the dag for visualization prior to 0.7. I've also updated the tutorial notebook to add back the previously removed drawing call: https://github.com/Qiskit/qiskit-tutorials/pull/533

[2019-02-26 13:50] #946 closed

[2019-02-26 21:51] #1839 closed

[2019-02-26 22:33] #1106 closed

[2019-02-27 03:00] ajavadia commented on #325
Ok let's close this as it will be tracked in the meta package and that's where benchmarks will live for the whole Qiskit project.

We will continue adding to these benchmarks overtime, and contributions are welcome.

[2019-02-27 03:00] #325 closed

[2019-02-27 19:30] derivation opened #1869 "plot_state_city() cuts off x/y axes tick labels"
### Information

- **Qiskit Terra version**: 0.8
- **Python version**: 3.6.8
- **Operating system**: macOS 10.14.3

### What is the current behavior?
`plot_state_city()` cuts off x/y axes tick labels

`plot_state_city()` is defined [here](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/_state_visualization.py)

### Steps to reproduce the problem

[code]

### What is t

[2019-02-27 19:49] mtreinish commented on #1869
Yeah I would just add a tight_layout() call to the end of the function. That's normally how I solve the cut off label problem

[2019-02-27 19:49] mtreinish commented on #1869
For reference the output with the labels cut off looks like this: ![test](https://user-images.githubusercontent.com/2447371/53518383-e99af080-3a9e-11e9-84e7-577c0919dd54.png)

[2019-02-27 21:15] dcmckayibm opened #1870 "Incorrect shaded barriers in mpl drawer"
Circuit with single qubit barriers on 2Q. The text drawn output is correct, but the mpl output is incorrect.

MPL (incorrect)

<img width="992" alt="image" src="https://user-images.githubusercontent.com/32201347/53523392-ae062380-3aaa-11e9-9c36-12f8ce2962bd.png">

Text (correct)

<img width="677" alt="image" src="https://user-images.githubusercontent.com/32201347/53523411-bfe7c680-3aaa-11e9-9716-d

[2019-02-27 22:24] rraymondhp opened #1871 "Error when combining multiple one-qubit gates into a single one-qubit gate"
### Information

- **Qiskit Terra version**: 0.7.3
- **Python version**: 3.7
- **Operating system**: Linux/MacOSX

### What is the current behavior?
The circuit of the shor algorithm in the tutorial cannot be compiled for real-device backends because of error in combining multiple one-qubit gates into a single one-qubit gate.
See the details here:
https://github.com/Qiskit/qiskit-tutorials/issues/

[2019-02-28 00:39] ajavadia commented on #1697
done in #1802

[2019-02-28 00:39] #1697 closed

[2019-02-28 01:50] ajavadia opened #1874 "Registers cannot be index with negative integers or slices"
### What is the expected enhancement?

It would be nice if the behavior mimicked python lists more. e.g.

[code]

[2019-02-28 01:54] eddieschoute commented on #1874
I support this issue. Probably the getitem method needs to be enhanced to support negative indices.

[2019-02-28 02:43] eddieschoute opened #1876 "Internal storage of qargs matters"
### Information

- **Qiskit Terra version**: 0.8.0 (master branch)
- **Python version**: 3.7.2
- **Operating system**: Arch Linux

### What is the current behavior?
I construct a custom n-controlled rotation-x gate and ideally, I'd represent this as NCRX(controls, target). However, because `controls` needs to be variadice, I end up with `NCRX(target, *controls)`.
Internally, I then stored this wit

[2019-02-28 15:19] #1833 closed

[2019-02-28 15:40] mtreinish commented on #1869
Hmm, actually I just checked the code we have a `tight_layout()` call in there already: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/_state_visualization.py#L339 so something else is going on. I'll have to dig more deeply.

[2019-02-28 15:58] mtreinish commented on #1870
So I've been looking at this a bit more and I'm not actually convinced the `mpl` output is wrong, it's just not aligned/justified the same way as the `text` version. The part which is confusing here is the barrier style, the dark grey shading isn't actually the barrier, it's the dotted line. To verify that I came up with this little test:

[code]

Which yielded:

![barrier-test](https://user-image

[2019-02-28 16:02] mtreinish commented on #1870
But, just out of curiosity I took a look look at the latex output from the same qasm generated circuit and that is really wrong on several fronts:

![latex](https://user-images.githubusercontent.com/2447371/53579824-4b636500-3b48-11e9-807f-2614683aef47.png)

[2019-02-28 16:35] delapuente commented on #1827
We already discussed this in #1046 and we agreed https://github.com/Qiskit/qiskit-terra/issues/1046#issuecomment-427792685 the submit action should be in the backend and the job should be no more than a container. Should we change it for `0.8.0`?

[2019-02-28 17:23] 1ucian0 commented on #1501
Our current DAG should not support `remove_edge` because the API operated through node operations. Being able to remove nodes allows to create "invalid" DAGs. I think #1768 should be reversed.

[2019-02-28 19:10] mtreinish commented on #1870
So the latex issue is it doesn't apparently know how to draw iden gates (which is where those double barriers come from, the gap is where an iden gate should be). That'll be easy to fix and I'll push a patch in a second. The horizontal spacing on the barriers will be a bit trickier

[2019-02-28 19:33] mtreinish opened #1881 "MapperError consistently raised trying to run qft with 8qubits on melbourne"
### Information

- **Qiskit Terra version**: Master
- **Python version**: 3.7
- **Operating system**: Linux

### What is the current behavior?

Running this script:

[code]

will always raise the following error:

`qiskit.mapper.exceptions.MapperError: 'swap_mapper failed: layer 25, sublayer 3'`

It's worth pointing out that for any other value of n_qubits (<=14 which is the number of qubits for t

[2019-02-28 19:39] nonhermitian commented on #1881
You may need to add some ancilla qubits to the circuit to have the mapper succeed.

[2019-02-28 19:47] mtreinish commented on #1881
I just tested it and yeah adding an ancilla qubit to the circuit does make the mapper work. But I still think there is potentially an issue here because the mapper works fine without an ancilla for the same circuit generation function with 1-7 and 9-14 qubits with that coupling map. It only fails when I use an 8 qubit register.

[2019-03-01 04:17] 1ucian0 opened #1882 "text circuit drawer draws some boxes loooong"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.6
- **Operating system**: MacOs

### What is the current behavior?

[code]
[code]

### What is the expected behavior?
[code]

[2019-03-01 14:57] nonhermitian commented on #1881
The above example actually works for me using master version.

[2019-03-01 15:02] nonhermitian commented on #1881
![qft_mel_compiled](https://user-images.githubusercontent.com/1249193/53646395-1834da80-3c09-11e9-9394-ab409e37230f.png)

[2019-03-01 18:22] mtreinish commented on #1881
Hmm, interesting. It fails very consistently on both my laptop and my desktop with the MapperError. Although they both run very similar software versions of everything. Linux x86_64 with Python 3.7.2

[2019-03-02 03:05] #1322 closed

[2019-03-03 02:34] #1845 closed

[2019-03-04 17:55] 1ucian0 opened #1887 "Terra high-level workflow and PassManager workflow"
During Qiskit Camp, there were a small discussion about how the high level API should look for a better workflow.
[code]

Chris made a case for changing the `run_config` header in the Qobj without running `assemble` via, for example, an `update_qobj(qobj, run_config)` function.

[2019-03-04 19:15] gregbyrd opened #1888 "BasicAer in 0.7.0, order of registers affects result"
### Information

- **Qiskit Terra version**: 0.7.0
- **Python version**:  3.7.2
- **Operating system**:  Windows 10

### What is the current behavior?

Using BasicAer qasm_simulator, the behavior of a circuit changes depending on the order in which quantum registers are added to the circuit.

I posted as an issue in [Qiskit/qiskit-aer#70](https://github.com/Qiskit/qiskit-aer/issues/70) but was tol

[2019-03-04 19:58] ajavadia commented on #1887
Jay and I discussed some more over the weekend, and we started to converge to something like this. Feel free to comment. PR #1856 is a start of this, but needs a couple follow-ups.

Couple notes:
- `TranspileConfig` is not quite the same as `BackendConfig`. Some things differ, for example what the initial layout should be, or what optimization level to apply. See example below.
- The API should be

[2019-03-04 20:10] jaygambetta commented on #1887
Sum changes a bit -- I still want to keep an `execute` as well that just takes lots of inputs so that this does not break old code. I dont think we should make people make the run_config and transpile_config by hand if they just want to change the shots.

[2019-03-04 20:17] jaygambetta commented on #1887
compile I just want to understand the use case. If it is the compile one run on different backends then I think we should encourage the user to give it a new run_config not just assume it will run on backend2.

[code]
of course we could assemble it again but if all we are changing is the header we should have a function for this so that it goes from O(N) to O(1).

[2019-03-04 20:32] ajavadia commented on #1888
Yes this works correctly on the master branch. The bug is the same as #1838.

If you are using the stable branch through pip, @mtreinish is preparing a fix for that which should be released soon, so you can update your installation.

[2019-03-04 20:32] #1888 closed

[2019-03-04 20:54] ajavadia commented on #1887
Ok I agree with this. My only thing about compile is backward compat, but I guess calling the transpiler then assembler isn't horrible.

Another fairly common use case is the high-level user who wants to run a circuit as-is. Now they would have to do the following. I don't have a problem with it, but some may think it's too much if they just want to skip the transpiler.

[code]

[2019-03-04 21:17] mtreinish commented on #1838
Ok, this should be fixed in qiskit-terra 0.7.1, the wheels (ie binaries with the legacy simulator) for mac and windows are still being built and will be uploaded shortly. But as long as you're not on those platforms or you don't need the legacy simulators it'll work for you now.

[2019-03-04 21:17] #1838 closed

[2019-03-04 21:20] mtreinish commented on #1838
Mac wheels are up now, just waiting on windows.

[2019-03-04 21:27] mtreinish commented on #1838
And now windows wheels are up.

[2019-03-04 23:25] jaygambetta commented on #1887
It is one extra line I am fine with this.

[2019-03-05 00:24] rizzeeb opened #1891 "Creating Your First Quantum Program in Qiskit Terra - Aer needs to be renamed to BasicAer"
### Information

- **Qiskit Terra version**: Current Version 0.8.0
- **Python version**: 3.7.2
- **Operating system**:

### What is the current behavior?
backend_sim = Aer.get_backend('qasm_simulator')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'Aer' is not defined

### Steps to reproduce the problem
Run the sample program listed in README

### What is

[2019-03-05 01:11] Woody1193 opened #1892 "Allow inheritance of QuantumRegister and ClassicalRegister"
Attempting to inherit from QuantumRegister or ClassicalRegister currently causes type errors in `instruction.py`'s constructor. There may be other areas that require updates to make this functionality viable.

[2019-03-05 07:31] maddy-tod commented on #1891
Hello @rizzeeb I have tried running the code in the README locally and it works for me. Do you have Qiskit Aer installed?

[2019-03-05 14:37] t-imamichi commented on #1870
mpl extends barrier to other qubits intentionally to fix https://github.com/Qiskit/qiskit-terra/issues/1703

[2019-03-05 15:47] mtreinish commented on #1796
Well it would handle all the versioning for us, not just dev versions. We actually remove an explicit version string completely and it uses git to determine the version. So if we tag a commit that becomes the version, or it does dev versioning compliant with [PEP440](https://www.python.org/dev/peps/pep-0440/) Which removes the need for a version.txt file and an making sure we update everything (it

[2019-03-05 15:50] mtreinish commented on #1796
That being said I'm not tied to using pbr we can easily embed something like what you linked from scipy in the setup.py. I just think the benefits pbr provides is worth adding an extra dep (it's why I use it on almost all my personal projects).

[2019-03-05 19:42] eddieschoute commented on #1887
I was mostly interested in the value that having a PassManager adds. Specifically, it seems that the `PassManager.run: DAG → DAG` is function composition of the `run: DAG → DAG` functions of each individual `Pass` with some control code. The control code is left unspecified in the above, so could you clarify how that is going to work? E.g. when you want to iterate certain groups of passes or do co

[2019-03-05 20:21] chriseclectic opened #1896 "Initialize instruction should unroll to reset + gates"
### What is the expected enhancement?

Make `initialize` a gate element that can be used directly in Aer simulators, and unrolled into reset + gates by the transpiler for devices and noisey simulations.

#### Current version
The (current) format for initialize as a `QuantumCircuit` method is `circ.initialize(statevec, qr)` to initialise a quantum register in a fixed state.

### Proposed changes

*

[2019-03-06 01:41] Woody1193 opened #1898 "Cannot create a numpy array of Registers"
### Information

Qiskit Terra version: 0.7.1
Python version: 3.5.6 (Anaconda)
Operating System: Windows 7

### What is the current behavior?

Attempting to call `append` or `concatenate` with a list of `Register` objects results in a NumPy array that contains integer values along with the `Register` objects.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

This shou

[2019-03-06 10:48] diego-plan9 commented on #1645
Please note the list is outdated and deprecations are missing (thanks @ajavadia for the edit!) - the original list was compiled after 179290f082a9c4b905402db8a60fe7bb899f79e8 .

[2019-03-06 11:09] nonhermitian opened #1903 "Provide better ergonomics for dealing with `JobStatus`"
### What is the expected enhancement?
In order to check the status of a job programmatically you need to do one of the following: `job.status().name == XXX` or:
[code]

So the actual status of a job is not a property / function  of the Job class but rather that of the `JobStatus` class.

The job status and possible error message should be strings returned from the Job instance itself

[2019-03-06 15:08] 1ucian0 commented on #1619
After some *in-person* discussions, here is the conclusion: **We are going to with option 2**.

Consider that:
 - In the future, we are planing to "glue" optimized DAGs, so the solution should be generic enough.
 - Passes should write in property set the swaps were done by the XSwap.
 - A new `RestoreOutputLayout` pass should add the swaps back at the end, based on the property.
 - It could be pos

[2019-03-06 15:08] #1619 closed

[2019-03-06 20:56] ajavadia commented on #1898
Just out of curiosity, why do you want to put QuantumRegisters in a numpy array?

[2019-03-06 22:02] xkwei1119 opened #1907 "rzz gate"
### Information

- **Qiskit Terra version**: 0.7.2
- **Python version**: 3.6.6
- **Operating system**: Windows 10

### What is the current behavior?

rzz gate appears to give incorrect results

### Steps to reproduce the problem

rzz gate rule defined in https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/extensions/standard/rzz.py

[code]

### What is the expected behavior?

I think it shou

[2019-03-07 04:46] Woody1193 commented on #1898
I was writing code to automate management of ancillary qubits and I was using numpy arrays to store the `QuantumRegisters` I was managing.

[2019-03-07 04:47] Woody1193 commented on #1898
I expect that quantum software components will be integrated into classical data structures more and more as we move forward so we should ensure that these operate as a programmer would expect them to when that happens.

[2019-03-07 17:09] ewinston commented on #1903
The JobStatus class, which inherits `Enum`, is just python's way of doing an enumerated type. A benefit of enumerated types is it avoids spelling mistakes in the code, so the later method you mentioned is probably preferred although a bit more cumbersome. Before the JobStatus class we had issues with capitalization and undocumented "states".

[2019-03-08 07:02] delapuente commented on #1903
For the record, the preferred way for checking the status is by doing:

[code]

[2019-03-08 08:58] nonhermitian commented on #1903
As this was summarily closed, I am guessing there is no interest in this topic.  So I will just clarify my point and leave it at that.

The `Job` class is not self-contained.  In order to get the status of a job, a new `JobStatus` class instance is created and the status of the original job class must be obtained from this other object.  The `Job` itself has no status.  In addition, the "preferred

[2019-03-08 11:50] delapuente commented on #1903
Fair points those related to loading `JobStatus` by default for better ergonomics. I'm reopening the issue with a different name reflecting the topic of the discussion. Thank you for clarifying.

[2019-03-08 15:43] 1ucian0 commented on #1435
Should it be "Need to test all transpiler transformation passes return the resulting DAG"?

[2019-03-08 15:49] 1ucian0 opened #1912 "DAG needs to be refactor"
One of the groups in Qiskit Camp was focused in improving the our current DAG. A lot of small issues accumulated around DAG and it's time for a big refactor to balance out the technical debt here:
 - Support DAGNodes objects (#1851)
 - A well-define DAG API:
   - We are accessing the internal multi-graph sometimes (it's better after PR #1897).
   - Some transformation are happening in place that s

[2019-03-08 16:19] 1ucian0 commented on #1501
Tagged as `wont fix`. Fell free to reopen it if think that I'm misunderstanding the issue.

[2019-03-08 16:19] #1501 closed

[2019-03-08 16:35] 1ucian0 opened #1913 "CommutationTransformation is not a valid pass"
The `CommutationTransformation` does not preserves the semantic of the DAG. I do think that the commutative DAG is useful for some transformation and we should have some form of support for it. However, this is probably a discussion for another time.

### Suggested solutions

I think, for now, the direct solution is to remove this pass. In the near future a commutative DAG can be storage in the pr

[2019-03-08 16:44] 1ucian0 opened #1914 "support a commutative DAG. Opinions?"
In #1503, @godott raises, as I see it, a valid point. Many passes, as gate cancelation, could make a good use of commutative set. The question now is how to support it. Ideas? Opinions?

[2019-03-08 16:48] 1ucian0 commented on #1503
I do understand that a commutative DAG is useful and supporting this structure should be address somehow. However it is not our current approach on the DAG where we need to hold invariants that conflict with `CommutationTransformation` output. I'm closing this issue as `wont fix` and moving the discussion to #1914. Your input is more than welcome there. Just to be clear, I do agree with your ultim

[2019-03-08 16:48] #1503 closed

[2019-03-08 17:25] 1ucian0 commented on #1851
No, the internal `multi_graph` can be whatever, as long as the `DAGCircuit` object exposes `DAGNode` objects.

We are working in removing access to the internal `multi_graph` (see #1897).

I'm not fully sure if this issue still makes sense in the context of the new DAG refactor #1912. Shall it be closed?

[2019-03-08 18:32] taalexander opened #1918 "Pulse command definition"
### What is the expected enhancement?
Implement a command definition object from the cmd_def as specified in the [Openpulse specification](https://arxiv.org/pdf/1809.03452.pdf) which will be used to schedule quantum circuits to pulse schedules. This will depend on the underdevelopment openpulse API for terra (#1901) and will be implemented as outlined in #1713.

[2019-03-08 19:11] taalexander opened #1919 "Pulse schedule (no conditionals)"
### What is the expected enhancement?
A schedule is a time-ordered collection of pulse channels, and commands, see #1713 for more information. The internal representation of the Schedule will go through two phases, no conditional and conditional. This issue targets the no-conditional phase and will have a temporary IR as just a tree of Schedules following the composite model.

This will be impleme

[2019-03-08 19:15] taalexander opened #1920 "Pulse visualizations"
### What is the expected enhancement?
For ease of experiment development, a full suite of visualization tools should accompany the pulse API. This should include visualizations for pulses, channels and schedules. See #1713. For more information.

This will be implemented in #1902.

[2019-03-08 20:12] taalexander opened #1921 "Basic pulse scheduler"
### What is the expected enhancement?
The Pulse API will supply a pulse `scheduler`, which in conjunction with the `CommandDefinition` (#1918) will allow compilation of `QuantumCircuit`s to a `PulseSchedule` (#1919). See #1713 for more information.

For v0.8 a simple pulse scheduler will naively compile a `QuantumCircuit` to a `PulseSchedule`. v0.9 will include a more advanced scheduler that utili

[2019-03-08 20:19] taalexander opened #1922 "Passmanager based pulse scheduler"
### What is the expected enhancement?
The pulse scheduler implemented to address #1921, worked in conjunction with the basic `PulseSchedule` where the internal representation (IR) was essentially a composite tree of schedules. With the introduction of the unified DAG/CFG IR (#1923). The scheduler should be redesigned to operate using passes of an extended `PassManager`.

[2019-03-08 20:20] nonhermitian commented on #1881
I have compiled this circuit 10,000 times with randomly picked seeds and it always works for me.

[2019-03-08 20:23] taalexander opened #1923 "Pulse schedule DAG internal representation"
### What is the expected enhancement?
The initial pulse schedule described by (#1919) contained a very basic internal representation (IR) which is insufficiently general to represent conditionals. The `PulseSchedule` will be enhanced to use a `DAG` as its internal representation and should inherit from the same base `DAG` as the `DAGCircuit`.

[2019-03-08 20:38] nonhermitian commented on #1881
Grabbing the latest master, the example does not even run anymore:

`TranspilerError: 'initial layout not supplied, and cannot be inferred from backend.'`

[2019-03-08 20:40] mtreinish commented on #1881
That error is being fixed by https://github.com/Qiskit/qiskit-terra/pull/1883

[2019-03-08 20:43] nonhermitian commented on #1881
Actually that error only pops up on Win 10.  On OSX, the latest master now gives the same result you mentioned earlier:

`MapperError: 'swap_mapper failed: layer 25, sublayer 3'`

I do not know why the same master has two different errors for the same code on different platforms, nor do I understand why it worked previously.

[2019-03-08 20:45] taalexander opened #1924 "Update RunConfig schema with pulse requirements"
### What is the expected enhancement?
Pulse experiments support additional configuration attributes at the top-level and per-experiment level. These are detailed on [pg.40 of the openpulse specification] (https://arxiv.org/pdf/1809.03452.pdf).

- [x] meas_level
- [x] pulse_library
- [x] memory_slot_size
- [x] meas_return
- [x] qubit_lo_freq
- [x] meas_lo_freq
- [x] rep_time

[2019-03-08 20:58] 1ucian0 commented on #728
Here is a list of DAG methods/attributes. Am I missing something? Comment!

### Currently supported
 - `node(node_id)`
Get the node data by node id
 - `qubits()`
Return a list of qubits as (QuantumRegister, index) pairs
 - `clbits()`:
Return a list of bits as (ClassicalRegister, index) pairs
 - `add_qreg(qreg)`
Add all wires in a quantum register.
 - `add_creg(creg)`
Add all wires in a classical r

[2019-03-08 21:07] taalexander opened #1925 "Pulse results schema"
### What is the expected enhancement?
Pulse experiments will return different `memory` data arrays for a given experiment depending on the `meas_level` and `meas_return`. The schemas should be updated to handle this along with terra postprocessing code. Note the arxiv specification version is currently out of date with respect to the internal version of the returned `memory` array shapes that shal

[2019-03-08 21:13] nonhermitian commented on #1881
The bug in the mapper was introduced with the merging of #1767.  So @1ucian0 should investigate it.

[2019-03-08 21:18] taalexander opened #1926 "Defaults schema"
### What is the expected enhancement?
With the new `defaults` endpoint for pulse a new schema implementation will be required. These are detailed on [pg.33 of the openpulse specification] (https://arxiv.org/pdf/1809.03452.pdf).

- [x] `qubit_freq_est`
- [x] `meas_freq_est`
- [x] `buffer`
- [x] `pulse_library`: Will be part of schedules that are part of `CommandDefinition`.
- [x] `cmd_def`: `Comman

[2019-03-08 21:34] taalexander opened #1927 "Qobj schema update for Pulse"
### What is the expected enhancement?
In order to support pulse, a number of updates to the Qobj are required. There should be an ABC `Qobj` from which `QASMQobj` and `PulseQobj` inherit.

The pulse qobj supports a different set of `Commands` compared to the qasm qobj `Instructions.  These are detailed on [pg.36 of the openpulse specification] (https://arxiv.org/pdf/1809.03452.pdf).  In addition i

[2019-03-08 21:43] taalexander opened #1928 "Qobj config schema"
What is the expected enhancement?
In order to support pulse, a number of updates to the `QobjConfigSchema` are required. There should be an ABC `QobjConfigSchema` from which `QASMQobjConfigSchema` and `PulseQobjSchema` inherit.

The pulse qobj supports a superset of configuration attributes with respect to qasm. These are detailed on [pg.32 of the openpulse specification] (https://arxiv.org/pdf/18

[2019-03-08 21:44] taalexander opened #1929 "Update Schema Implementations for pulse"
### What is the expected enhancement?
The following schemas and their implementations must be updated for pulse support.
- [x] `PulseQobj`: #1927
- [x] `ExperimentResult`, `ExperimentResultData`: #1925
- [x] `PulseRunConfig`: #1924
- [x] `QobjConfigSchema`: #1928
- [x] `Defaults`:  #1926

[2019-03-08 21:48] taalexander opened #1930 "Pulse assembler"
### What is the expected enhancement?
An assembler must be provided for pulse to take a `Schedule` to a `PulseQobj`.

[2019-03-08 21:54] taalexander opened #1931 "Pulse rescheduler"
### What is the expected enhancement?
The Pulse API will supply a pulse rescheduler, which will transpile `PulseSchedule`s to `PulseSchedule`s (#1919). The `rescheduler` will operate on the `DAGSchedule` (#1923) and process targeted passes from the `PassManager`.

[2019-03-08 22:06] taalexander opened #1932 "Sample pulse dunder methods"
### What is the expected enhancement?
The base output command for pulse is the `SamplePulse` and all other terra output pulses are eventually compiled to the `SamplePulse`. Internally the `SamplePulse` is a complex numpy array of samples. The `SamplePulse` should support being treated as a numpy array by implementing the proper numpy interface. See [NEP 22 — Duck typing for NumPy arrays](http://ww

[2019-03-08 22:10] taalexander opened #1933 "Standard pulse function library"
### What is the expected enhancement?
A library of standard `AnalyticPulses` (#1934) for quantum computing should be provided for users.

Pulses:
- [x] drag
- [x] gaussian
- [x] gaussian square
- [x] cosine
- [x] sine
- [x] delay
- [x] square
- [x] sawtooth
- [x] gaussian derivative

[2019-03-08 22:18] taalexander opened #1934 "Continuous function pulses"
### What is the expected enhancement?
A `ContinuousFunctionalPulse` will wrap a function that outputs a continuous complex scalar value as a function of `duration`. When wrapped with a `Sampler` (#1935) strategy it will output a `DiscreteFunctionalPulse`.

[2019-03-08 22:28] taalexander opened #1935 "Standard sampling library"
### What is the expected enhancement?
A library of standard `Sampler` (#1934) strategies should be provided for users that transform a continuous function of `t` into a `FunctionPulse`.

Pulses:
- [x] `left`
- [x] `right`
- [x] `mid_point`

[2019-03-08 22:33] taalexander opened #1936 "Standard pulse filtering library"
### What is the expected enhancement?
A library of standard `Filter`s (#1934) should be provided for users that transform a `DiscreteFunctionPulse` into another `DiscreteFunctionPulse`. For ease of implementation, we should try and exploit `scipy.signal`.

[2019-03-08 22:35] taalexander opened #1937 "Standard pulse library"
### What is the expected enhancement?
A collection of standard libraries for pulse experiment design.
- [x] pulse function library (#1933)
- [x] sampling strategy library (#1935)
- [ ] pulse filtering library (#1936)
- [ ] data analysis library
   - [x] signal processing
   - [ ] kerneling
   - [x] discrimination

[2019-03-09 07:46] ajavadia opened #1939 "text drawer should be enhanced for multi-qubit gates"
### What is the expected enhancement?

1. If I have a two-qubit box/gate and want to apply it to non-adjacent gates, the text drawer raises the following error:
[code]
We just need to indicate/mark those wires that the gate is acting upon, and then it will be clear.

2. This raises another issue. The order of wires can be different when the gate is applied, so the drawer should reflect that.

So I

[2019-03-09 08:09] ajavadia commented on #1501
@godott Luciano is right that the "DAG" should be a dataflow graph, showing the wires on which information flows from gate to gate. We need to create a separate "dependency graph" for commutations, but not modify the DAG in this way. A CNOT with one edge will be invalid in the DAG, but ok in the dependency graph.

@1ucian0 But I don't think we should remove the edge detector. That will not create

[2019-03-09 17:08] 1ucian0 commented on #1501
On Sat, Mar 9, 2019, 3:09 AM Ali Javadi-Abhari <notifications@github.com>
wrote:

Doesn't `successors()` cover that functionality?

[2019-03-09 17:16] ajavadia commented on #1501
No, that gives an iterator over successor nodes.
Here we want to ask "given CNOT2 is a successor of CNOT1, which wires (qubits) connect the two nodes?"..
Actually maybe just `node['qargs']` can be used here. @godott would that work?

[2019-03-09 17:32] ajavadia commented on #1891
I think @rizzeeb is right here. Terra should not depend on Aer (that's why BasicAer) exists, and this example is clearly a getting-started guide for Terra, not all of Qiskit.

[2019-03-09 17:47] ajavadia opened #1941 "mpl drawer cannot draw custom gates"
### What is the expected enhancement?
Currently only the text drawer is able to do this. This capability is useful when defining hiearchical circuits.

Also refer to #1939 for a discussion of how to draw these.

[2019-03-09 17:48] ajavadia opened #1942 "latex drawer cannot draw custom gates"
### What is the expected enhancement?
Currently only the text drawer is able to do this. This capability is useful when defining hiearchical circuits.

Also refer to #1939 for a discussion of how to draw these.

[2019-03-09 21:56] ajavadia opened #1943 "move initializer optimizations to transpiler"
### What is the expected enhancement?
The arbitrary state initializer is based on https://arxiv.org/abs/quant-ph/0406176v5, and it implements some of the optimizations that the paper talks about to reduce the depth. But the optimizations are ad-hoc, and they don't fully capture all optimization opportunities. We should make the synthesizer dumb, and relegate the optimizations to the transpiler.

F

[2019-03-10 01:59] #1907 closed

[2019-03-10 03:02] #652 closed

[2019-03-10 03:03] #654 closed

[2019-03-10 03:03] #676 closed

[2019-03-10 03:03] #721 closed

[2019-03-10 03:03] #753 closed

[2019-03-10 03:03] #852 closed

[2019-03-10 03:03] #1092 closed

[2019-03-10 03:41] #1448 closed

[2019-03-10 06:26] #1892 closed

[2019-03-10 06:34] ajavadia commented on #1914
Currently the commutation set is just dumped into the pass manager's `property_set`, and I think @godott is going to use that commutation set to write optimization passes (e.g. cancel non-adjacent CNOTs). It's a bit hacky, but works.

@godott can you come up with a case where an actual dependency graph would be useful? This will take some non-trivial amount of work to design.

[2019-03-10 06:36] ajavadia commented on #1913
I think it's fine to remove it, as the CommutationAnalysis pass is the main pass used for optimizations. The CommutationTransformation pass is not used. If we end up creating a new DependencyGraph structure, then a pass like this will be useful.

[2019-03-10 06:45] ajavadia commented on #1903
I see @nonhermitian's concern here, given that inquiring a job's status is a very common thing that the end user would like to do. But seems like `job.status().name()` does what you're asking?

It's true as mentioned that internally we should use an Enum, because for example I still can't remember whether the job status was 'Done' or 'DONE' or 'COMPLETED' or what.

About loading `JobStatus` by def

[2019-03-10 06:50] ajavadia commented on #1896
This wouldn't work because you have to pass a list of qubits, and qr is a `QuantumRegister` type.

But this would work:

There is a proposal to make QuantumRegister be a list of Qubits (#1647), but the implementation and implications are not trivial when I started doing it.

[2019-03-10 07:21] ajavadia commented on #1887
@eddieschoute I think your example does make things much simpler, and I do like simplicity, but consider the following cases that a pass manager has been used for:

1- A way for passes to communicate information to each other:
Examples:
   - run a pass that selects a layout (placement), and the following pass find the best swaps.
   - run a pass that finds commuting sets of gates, and the followin

[2019-03-10 07:36] ajavadia commented on #1478
No this is not KAK, it's just a single-qubit rotation merge. The comment is old and from Andrew. It says we should be allowed to remove small rotation angles. I think this is actually done now and can be closed (via #https://github.com/Qiskit/qiskit-terra/pull/1738).

It used to be that this would be optimized away:
[code]

But this would not:
[code]

Now both are.

[2019-03-10 07:36] #1478 closed

[2019-03-10 07:45] ajavadia commented on #1714
This is partially addressed by https://github.com/Qiskit/qiskit-ibmq-provider/pull/44, which adds these kwargs to IBMQ backends that are simulator. So you can submit your circuit and noise model to both local simulators and remote simulators.

But why do you want this for devices? i.e. why do you want to do
[code]
instead of just removing the kwarg and doing
[code]

I would say that the expected b

[2019-03-10 07:47] ajavadia commented on #1502
@maddy-tod can you take a crack at this one? I agree that it would be nice to have an iterator to all the nodes for a given wire (qubit or clbit), as sort of a schedule of things that happen on that qubit/clbit.

[2019-03-10 07:50] ajavadia commented on #1073
@1ucian0 i don't get this. what's the point of skipping these (what does it mean by "useful for refactoring purposes"). There are other tests of latex drawer and mpl drawer that we don't skip. I think we should remove the skip.

[2019-03-10 07:57] ajavadia commented on #995
I think this is solved now via https://github.com/Qiskit/qiskit-terra/pull/1082, which gives you handles to your jobs and you can get info from them.

Also the backend_monitor jupyter magic gives a broad overview of jobs run on a particular device in the past week, month, etc.

[2019-03-10 08:00] ajavadia commented on #803
@delapuente @diego-plan9 is this on anyone's radar? I don't quite get the issue, but do you think it should remain open?

[2019-03-10 08:01] ajavadia commented on #761
This is being done in Aer now.

[2019-03-10 08:16] ajavadia commented on #601
Updated list, all inheriting from QiskitError:

[code]

- Both`SchemaValidationError` and `QobjValidationError` are redundant.
- Both `TranspilerError` and `TranspilerAccessError` are redundant.
- We need to get rid of `ExtensionError`. The extensions will move under circuits.
- We need a `CircuitError`.
- `QiskitBackendNotFoundError` needs to drop `Qiskit` in the front.

@delapuente can you do th

[2019-03-10 08:18] ajavadia commented on #381
This issue is obsolete now since DAGs no longer carry a basis (its basis is whatever is inside it).

[2019-03-10 08:18] #381 closed

[2019-03-10 08:26] ajavadia commented on #970
@mtreinish is there any update on this? I think what you pasted above works in the sense that it makes sure no error is raised while executing the examples. Later on we may want to test some correctness aspects as well, but for now just need to make sure they're not broken.

[2019-03-10 08:27] ajavadia commented on #984
Done via #1884

[2019-03-10 08:27] #984 closed

[2019-03-10 08:28] ajavadia commented on #683
No because the transpiler does not know about a backend, only about the options it is transpiling to (like basis_gates and coupling_map).

Anyway this is the same as #1057

[2019-03-10 08:28] #683 closed

[2019-03-10 09:00] ajavadia commented on #1631
@jaygambetta The `__repr__` that you're asking for was added in #1865.

Though @nonhermitian I have to say this `__repr__` is really weird. I didn't get to review it before it was merged. With that PR, the qobj shows up like this:

```Qobj<2 qubits, 10 circuits, 1024 shots>```

First, this is an abuse of `__repr__` just to get it to show in a Jupyter notebook. `__repr__` is supposed to give an una

[2019-03-10 09:09] ajavadia commented on #1871
I'll look into it but that circuit won't run on a device anyway. It has a reset.

[2019-03-10 09:10] ajavadia commented on #1820
I think this is the same issue as #1871

[2019-03-10 11:22] nonhermitian commented on #1631
1) I would personally prefer to make the `__repr__` return something useful for the end user, rather than have it obey some Pythonista convention.  Indeed, one could modify the `__str__` but then you do not get the niceties such as having clean looking lists etc.  Following your suggestion, the `__repr__` should just be the `qobj_id`, since that will unambiguously, i.e. uniquely, identify the  Qob

[2019-03-10 12:21] 1ucian0 commented on #852
If I understand correctly, this issue was closed because is obsolete via #1909

[2019-03-10 13:27] jaygambetta commented on #852
yes

[2019-03-10 13:34] jaygambetta commented on #1631
not really we made `__repr__` a summary. I still want a printer for the reasons above, if you dont want to call it a printer we can call it a function `about`.

[2019-03-10 13:34] jaygambetta commented on #1631
also while I dont really like the summary lets keep it `circuits` as this is the unit of them.

[2019-03-10 14:32] jaygambetta commented on #995
There is still a difference. This is for all the backends and jobs where as the last one is just the jobs I have sent to the backend.

[2019-03-10 14:51] quantumjim commented on #1714
My motivation is that I have applications that can be run on various backends, with and without noise models. Inside those applications I need to perform the execution, and sometimes this requires a big block of `if`s and `try`s to deal with what is and isn't possible on all kinds of backends.

This will always be needed to some extent, I'm sure. But the easier it is, the better on the user. And a

[2019-03-10 15:36] nonhermitian opened #1945 "Initial_layout success should not depend on QuantumRegister name"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
It is not possible to use `initial_layout` unless you explicitly name the `QuantumRegister` or extract the automatically assigned name.

[code]
`KeyError: 'q'`

This is even worse for compiling multiple circuits because all circuits must have the same `QuantumRegiste

[2019-03-10 15:37] ajavadia commented on #761
reopening as the API to interact with the equivalence checker may end up in Terra

[2019-03-10 16:35] nonhermitian opened #1946 "Should be able to make a initial_layout using only integers in a list"
### What is the expected enhancement?
I have gone over this before, but it is again brought up due to #1945.  It should be possible to set an `initial_layout` using a list of just integers, no `(QuantumRegister, int)` tuples.  For example, when mapping a Bell circuit to qubits 3 and 4 on qx4 the follow are equivalent:

`layout = [None, None, None, (QuantumRegister(2, 'q'), 0), (QuantumRegister(2,

[2019-03-10 21:09] nonhermitian opened #1948 "initial_layout cannot be used in compile with circuits of differing qubit number"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
You can not use an `initial_layout` when circuits with differing numbers of qubits are input to compile.  This is true even the circuits are smaller than the size of the layout passed, i.e. the layout is valid for the subset of qubits in the smaller width circuits.
[

[2019-03-10 21:16] nonhermitian opened #1949 "Circuit widths should be checked before compiling for backend"
### What is the expected enhancement?
Since we allow fior different width circuits in compile / transpile the width of the circuits should be validated to fit on the backend that they are being compiled for BEFORE actually being compiled. This prevents compiling many circuits only to have an exception thrown because a later one is not compatible with the backend.

[2019-03-10 21:27] nonhermitian opened #1950 "Visualizations should allow for passing a Matplotlib axes instance"
### What is the expected enhancement?
Being able to pass an axes instance allows for easily using the visualzations in subplots and other types of figures where the figure instance is already generated

[2019-03-11 01:30] ajavadia opened #1951 "ghz example is failing in qobj"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?
[code]

[code]

Not sure what is causing this serialization error. @diego-plan9 can you take a look?

[2019-03-11 02:14] #1820 closed

[2019-03-11 02:14] #1871 closed

[2019-03-11 05:16] #978 closed

[2019-03-11 05:16] #1716 closed

[2019-03-11 05:19] ajavadia opened #1952 "need a disassembler to replace qobj_to_circuits"
### What is the expected enhancement?

We need a function `qiskit.compiler.disassemble()` that takes an assembled qobj and returns the components:
[code]

Currently we have a converter for this (`qobj_to_circuits`), but this is not really a conversion as the two entities are quite different. So this should be deprecated.

[2019-03-11 05:29] ajavadia opened #1953 "need function to get TranspileConfig for a backend"
### What is the expected enhancement?

The `qiskit.compiler.transpile()` function is to be decoupled from a monolithic `backend`, in favor of transpiling for some TranspileConfig options (basis_gates, coupling_map, initial_layout, optimization_level, etc.)

Still, we need a convenience function that makes it easy to get these TranspileConfig options from a backend.

[code]

this would populate a `

[2019-03-11 05:30] ajavadia commented on #1953
@jaygambetta in your PR you wrote this function as:
[code]

but what does it mean to return a `run_config`? if there's not an overwhelming usecase for this I'd rather keep the function returning a single output for ease of use.

[2019-03-11 05:35] ajavadia commented on #1887
@jaygambetta
another use case for the `compiler` is that it makes it much easier to debug a qobj.
for example it has happened to me multiple times that I do:
[code]
but my job fails. so then I make a tiny change (`execute -> compile`) and look inside the qobj.

Right now we have removed compile, and the signature of execute is quite different from that of transpile and assemble, which makes it cum

[2019-03-11 07:47] godott commented on #1914
@ajavadia  I think the `property_set ` and modified DAG are equivalent, thus anything can be done by the modified DAG can also be done by using the `property_set `. There might be cases where the modified DAG has a slight speed advantage, for example, this paper (https://arxiv.org/abs/1708.00023) used a modified DAG. I can't think of anything else.

[2019-03-11 07:53] godott commented on #1501
@ajavadia I think `node['qargs']` cannot be used. One example is that two CNOTs both apply on q1 and q2 but separated by a 1-qubit gate on q1. If you ask gate successor, it will tell you  CNOT2 is the successor of CNOT1. Then If you ask `node['qargs']`, it will tell you that these two CNOTs both apply on q1 and q2. Then we might get the false conclusion that CNOT2 is a successor of CNOT1 both on q

[2019-03-11 07:54] godott commented on #1501
Based on what @1ucian0 said, I agree that remover is not needed. I also agree with @ajavadia that detector is needed.

[2019-03-11 07:58] godott commented on #1914
My current understanding is that with the  `property_set` most of the problems are settled. The actual commutative DAG can provide: 1. better visualization 2. slight speed advantage on some problems. Both of these are not urgent. However, I did implement a commutative DAG in commutation_transformation() pass. Maybe we could remove that pass.

[2019-03-11 09:35] diego-plan9 commented on #1951
It seems quite similar to the errors in Aer that caused two tests to be skipped during the Qobj PR (as `IBMQProvider` contains also code very similar to Aer's to deal with noise model, etc) - I'll check with @chriseclectic as they can probably be handled at the same time.

[2019-03-11 09:59] nonhermitian commented on #1953
In my opinion this idea of throwing everything into a config object just makes our software harder to use.  The user has to learn yet another object.  There is some benefit for having less used options in a config, but things like `coupling_map` and `basis_gates` should not be in the config class.  The compile should probably look more like:

[code]

where everything else is in the config.  Then t

[2019-03-11 10:54] diego-plan9 commented on #803
It was mostly a follow-up to #697 indeed, but never took off. Since we don't really use network mocking in terra heavily since the split-off of ibmq, I agree it is safe to close - @delapuente and @1ucian0, feel free to reopen in the ibmq repository as needed!

[2019-03-11 10:54] #803 closed

[2019-03-11 14:02] eddieschoute commented on #1887
I think this would fit nicely into my formalism as well.
[code]
Now, admittedly, this is different from the DAG→DAG formalism. But I don't quite see how that would be nicely implemented in a pass either.
[code]

This can be defined as a function too. Any `default_pass_manager` equals the function `default_pass_manager.pass`. Therefore, it could be defined as function too. (Or perhaps as an argumen

[2019-03-11 14:12] nonhermitian commented on #1945
I think the first part is just me being stupid, as you can just use the initial QuantumRegister instance. So only the second part about multiple circuits is the issue.

[2019-03-11 14:13] t-imamichi commented on #1941
OK. I'll take a look at #1939 and discuss with @nkanazawa1989

[2019-03-11 17:23] #861 closed

[2019-03-11 17:33] ajavadia commented on #1951
a few other examples also fail. it seems the failure happens when trying to run on devices, not Aer.

[2019-03-11 18:35] 1ucian0 commented on #1073
This issue is about stop skipping them. When we had that attempt to have a meta test for the visualizers (https://github.com/Qiskit/qiskit-terra/pull/1617), we could close it. But we reverted it (https://github.com/Qiskit/qiskit-terra/pull/1780). Any way, the idea is to test the visualizers, not just to skip it.

[2019-03-11 18:37] diego-plan9 commented on #1951
Seems we are being too lax when handling `qobj.experiment.instructions.parameters`, and is rippling up when using types that cannot be serialized by default - will issue a PR shortly!

[2019-03-11 18:54] 1ucian0 commented on #1501
If I understand correctly, `self.dag.has_edge(1, 2)` can be rewritten as `2 in self.dag.successors(1)`. Am I missing something?

[2019-03-11 19:02] #1874 closed

[2019-03-11 20:53] ajavadia commented on #1501
ok i see.

So yeah maybe our API is lacking for this example you mention:
[code]

Seems like you want to get successors **per wire** (say for example for CNOT1, the successor on q[0] is Z and the successor on q[1] is CNOT2). Not just that Z and CNOT2 are successors.

[2019-03-11 21:17] godott commented on #1501
Right. But if we don't need a DAG for commutativity anymore, then this functionality is not required either.

[2019-03-11 22:29] aasfaw commented on #1882
For the record, this isn't a problem in Python 3.7.2. Wasn't able to reproduce it on my system.

[2019-03-12 03:06] ajavadia opened #1957 "latex circuit drawer needs a consistent visualization of cu1, crz, rzz"
### What is the expected enhancement?
Let's make sure the text, mpl and latex drawer have a consistent representation for these.

There are some bugs, for example the `latex` doesn't draw rzz at all.

And there are some inconsistencies, for example `mpl` draws rzz as a line and `text` draws it as a box.

After discussions with @jaygambetta, let's do it like this:

[code]

[code]

This just signifi

[2019-03-12 03:49] chriseclectic commented on #1193
Quantum channels module is now in PR #1915

[2019-03-12 13:21] taalexander commented on #1953
@ajavadia, Is a `RunConfig` not something like the number of `shots`, `rep_time`s, etc.? It can be used to guarantee that two different compiles will create Qobjs that run with the exact same runtime settings?
@nonhermitian, I think promoting specific configuration variables too first level could set a dangerous precedent for future variables.

[2019-03-12 14:30] #1951 closed

[2019-03-12 14:42] kdk commented on #1630
Closing in favor of #1952.

[2019-03-12 14:42] #1630 closed

[2019-03-12 14:43] 1ucian0 commented on #1957
https://github.com/Qiskit/qiskit-terra/pull/1960 fixes the text drawer.

[2019-03-13 14:44] #1939 closed

[2019-03-13 16:05] maddy-tod commented on #1891
It might also be worth updating the [Qiskit website](https://qiskit.org/terra) as this has the same code snippet on it.

[2019-03-13 18:05] Qutrit opened #1963 "Make Parallel Functions Able to Run on Multiple Nodes on a Cluster"
### What is the expected enhancement?
The expected enhancement is to make the parallel functions located in qiskit.tools.parallel able to run across multiple nodes in a cluster. Also, instead of CPU_COUNT = local_hardware_info()['cpus'], the functions should only use the cpus allocated to it by the job scheduler.

[2019-03-13 21:12] kdk commented on #1952
Just to clarify, since this is a first issue, am I right in thinking that the goal here is splitting out the run_config and user_qobj_header, not in covering differences in the qobj instruction and Terra circuit API (conditionals, memory/registers, bfuncs, ...) beyond what's already covered by `qobj_to_circuits`?

qobj has a superset of the functionality supported by the Terra circuits API, so a g

[2019-03-14 06:08] mtreinish commented on #1950
I agree, and this should be simple to do too. We should just add something like an `ax` kwarg to the plot functions (and the circuit drawer for the mpl output) and use that instead of instantiating a figure in the functions.

[2019-03-14 09:15] Woody1193 opened #1964 "QuantumRegister indexing is recursive and shouldn't be"
### Information

- **Qiskit Terra version**: 0.7.1
- **Python version**: 3.5.6
- **Operating system**: Windows 7

### Steps to reproduce the problem

[code]

### What is the current behavior?

When indexing a QuantumRegister, indexing can be done recursively and therefore infinitely.

[code]

### What is the expected behavior?

[code]

### Suggested solutions

My first suggestion would be to restr

[2019-03-14 15:09] nonhermitian opened #1965 "Two qubit KAK fails for CNOT input"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
This may be fixed by moving to quaternions `qiskit.quantum_info.operators.quaternions` rather than Euler angles

[2019-03-14 15:24] kdk commented on #1964
See also #1647, which raises a similar concern with the usability of `QuantumRegister`.

[2019-03-14 16:01] ajavadia opened #1966 "serialization rules need to be extended"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
#1959 reintroduced the specialized methods for serializing different data types. However a couple were missed.

[code]

This is currently causing Aer master to fail.

[2019-03-15 00:50] Woody1193 commented on #1964
@kdk The fixes that would address this issue would also address my issue. Should I close/delete this then? They're not exactly the same but the fix for #1647 would also fix mine.

[2019-03-15 01:09] #1193 closed

[2019-03-15 18:35] nonhermitian opened #1971 "[Requires Aer 0.2] BackendSchema list coupling_map as optional"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The schemas in `qiskit.providers.model` list `coupling_map` as an optional field in the `backend.configuration` when it is in fact required.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-03-18 13:21] kdk commented on #1964
@Woody1193 Great, I'll close this then.

[2019-03-18 13:21] #1964 closed

[2019-03-18 16:50] jwoehr opened #1978 "Add quiet= and to_err= to job monitor to suppress or redirect status messages."
### Add quiet= and to_err= to job monitor to suppress or redirect status messages.

If one captures output from a script, `qiskit.tools.monitor.job_monitor` (and its factor, `_text_checker`) spew extraneous info. Suppress with `quiet=True` or redirect to stderr with `to_err=True`.

[2019-03-18 21:55] #1966 closed

[2019-03-19 01:54] liupibm opened #1981 "flaw in the control flow logic"
The flaw is in https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/parallel.py

if os.getenv('QISKIT_IN_PARALLEL') == 'TRUE', the qiskit is literally expected to run in parallel, i.e., the if-branch should take the true branch. However, the current branch logic does not do this.

[code]

[2019-03-19 13:44] maddy-tod commented on #1501
The method introduced in #1975 (to fix #1502) provides an iterator over the gates on a given wire, so this would perform the functionality you described @ajavadia .

@1ucian0 you are correct, however by using `has_edge()` you can also specify if there is an edge on a given wire, which was what the original need was for (I don't know if this is still needed)

[2019-03-19 14:59] ajavadia commented on #1831
@nonhermitian can you please write an example here that failed? So it can be used to test the solution

[2019-03-19 15:04] aasfaw commented on #1891
The guide asks users to install qiskit using `pip install qiskit`, and that includes `BasicAer`. So the dependency is fine.

[2019-03-19 15:08] nonhermitian opened #1985 "cannot transpile circuit that is smaller than coupling map using passmanager"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Circuit:
[code]
This works:
[code]
This fails:
[code]
[code]

### Steps to reproduce the problem

### What is the expected behavior?
I would expect that the new pipeline works like the old one.

### Suggested solutions

[2019-03-19 15:15] nonhermitian opened #1986 "Inconsistant passmanager API"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently the layout is a pass in the passmanager, e.g. `pm.append(DenseLayout(coupling))`.  However, the coupling map is not a pass:
[code]
`TypeError: 'CouplingMap' object is not iterable`

This means that the passmanager is not self-contained; You have to call the

[2019-03-19 16:14] nonhermitian commented on #1986
Closing

[2019-03-19 16:14] #1986 closed

[2019-03-19 16:43] nonhermitian opened #1988 "circuits_to_qobj does not work"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-03-19 16:46] nonhermitian commented on #1981
Actually `os.getenv('QISKIT_IN_PARALLEL') = 'TRUE'` means that the `parallel_map` is already computing something in parallel, and a new parallel run should be conducted in serial

[2019-03-19 17:41] #1772 closed

[2019-03-19 17:46] kdk opened #1989 "optimize_1q_gates unit test failures"
Two unit test failures related to the `optimize_1q_gates` pass were uncovered while working on #1815. These were marked as `expectedFailure` since they weren't caused by the DAGNode PR, but they should be fixed.

[code]

[2019-03-19 17:54] nonhermitian opened #1990 "Matplotlib circuit drawer returns messy output"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**: OSX

`mpl.__version__ = 3.0.3`

### What is the current behavior?
<img width="258" alt="Screen Shot 2019-03-19 at 1 50 11 PM" src="https://user-images.githubusercontent.com/1249193/54629507-17e07000-4a4e-11e9-92cb-4237de85e312.png">
<img width="832" alt="Screen Shot 2019-03-19 at 1 50 28 PM" src="http

[2019-03-19 17:59] nonhermitian commented on #1831
It is hard to get a simple example to work because there are several bugs in the way.  However, here is a QV example:

[code]

`comp_qc` will not run on the backend e.g. `ibmq_16_melbourne` because the qubits are still virtual and have not been mapped to their physical qubits.  Relabeling qubits using the passmanager layout property does the correct mapping `pm.property_set._properties['layout']._

[2019-03-19 18:14] liupibm commented on #1981
thanks for the clarification.
will close it.

[2019-03-19 18:14] #1981 closed

[2019-03-19 20:36] 1ucian0 opened #1994 "dag.depth seems broken"
It seems that PR #1815 introduced a bug in `depth()`.
[code]

[2019-03-19 20:43] nonhermitian commented on #1994
Yes, the depth is zero.  The change to `QuantumCircuit` in #1993, that computes the depth without the DAG, is correct, i.e. 7.

[2019-03-19 21:24] 1ucian0 commented on #1994
The problems is that DAGNodes considers every node with the same name equal. I will have a look...

[2019-03-20 02:14] 1ucian0 commented on #1994
Probably the same issue that @kdk detected here https://github.com/Qiskit/qiskit-terra/pull/1815#issuecomment-474382798.

[2019-03-20 08:05] atilag commented on #1891
`pip install qiskit` should come with `Aer` on most of the platforms (Windows, Mac, Linux). There's a known problem with Windows + Miniconda3 + Python3  though, but otherwise, it should just work.

[2019-03-20 09:21] nonhermitian opened #1996 "Common DAG operations are slow"
### What is the expected enhancement?
As detailed in #1993, it is possible to quickly write code for computing the `depth`, `num_tensor_factors` etc, of a `QuantumCircuit` that is one to two orders of magnitude faster than the equivalent calls to the DAG.  These timings do not include circuit -> DAG conversion time, and as such indicate that many common DAG operations are markedly slow.

[2019-03-20 09:23] maddy-tod commented on #1994
@1ucian0, @kdk and I discussed it and he pointed out that equality in Python is meant to be for when two objects are semantically equivalent which those two `cx` gates are as they have the same parameters. This can easily be reverted by reintroducing the version of the `__eq__` method [here](https://github.com/maddy-tod/qiskit-terra/blob/8c9aa0550488e3dd660898dc5b1c0b9455a98280/qiskit/dagcircuit/_

[2019-03-20 09:38] nonhermitian opened #1997 "Calling compile, transpile, or execute gives dep warning"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Running `compile`, `transpile`, or `execute` gives depreciation warning:

[code]
[code]

### Steps to reproduce the problem
This appears to be caused by #1815.

### What is the expected behavior?
Our own code should not give depreciation warnings.

### Suggested solu

[2019-03-20 10:41] nonhermitian opened #1999 "DAG.num_tensor_factors gives incorrect result"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives 21.  However, the number of tensor factors can never be larger than the width of the circuit which is 20 in this example.  The correct number should be 1.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-03-20 11:25] maddy-tod commented on #1989
I think the issue with the second test is somewhere in the pass the constant `pi` is being converted into `3.141592` so when the comparison checks if the two nodes are the same, the parameters are not considered to be equal.

[2019-03-20 17:18] #1891 closed

[2019-03-20 18:39] kdk commented on #1994
Agree that the current `DAGNode` implementation of `__hash__`/`__eq__` is inconsistent. From https://docs.python.org/3/reference/datamodel.html#object.__hash__ ,

If we want `DAGNode`s to be used as the labels of the networkx graph, we need semantically equivalent gates (as in the example) to be `neq` so that they can be safely hashed and compared ( line `where u != v` in https://networkx.github.i

[2019-03-21 02:04] liupibm opened #2002 "parallel compilation is slower than serial compilation"
This is not really a bug, instead, it is a problem with Python's multiprocess support.
In short, the parallel compilation is usually slower than serial one.
For instance, I compiled and ran 32 circuits (LiH molecule), the parallel one takes 3.5 seconds while the serial one takes 2.9 seconds. Given the run takes the same time, the difference lies in the compilation.
I would suggest we do not enable

[2019-03-21 13:08] #1989 closed

[2019-03-21 13:23] kdk opened #2004 "optimize_1q_gates does not preserve circuit order"
Following #2000, the `Optimize1qGates` pass appends the 1q gate to the end of the DAG, rather than inserting it in place. e.g.

[code]

[2019-03-21 18:44] 1ucian0 commented on #1999
It seems like this issue is not a regression. I checking out code form Feb and the script from OP is still stdouting 21.

[2019-03-21 20:31] #2004 closed

[2019-03-21 21:49] nonhermitian commented on #2002
I am guessing that you are compiling / executing circuits for a simulator?

[2019-03-21 23:20] #1769 closed

[2019-03-22 14:03] nonhermitian commented on #2002
Assuming that my guess is correct, and you are compiling / executing for the simulators, the main issue is not the copying of circuits.  Indeed, compiling large width an depth circuits for hardware shows the expected speedups.  However, when compiling circuits for a simulator, there is not much work to do, so the overhead from spawning processes and transferring the data can actually slow things d

[2019-03-22 14:10] #1851 closed

[2019-03-22 15:03] liupibm commented on #2002
@nonhermitian yes, the speed is subject to (1) the gain of parallel compilation and (2) the overhead of the setup (e.g., creation/joining/data copying).

I did it for simulator, where the compilation takes short time.  The gain of parallel compilation does not beat the setup overhead (e.g., copying circuits), so I observed no speedup. I am sure it is the copying that incurs the high overhead becau

[2019-03-22 15:18] nonhermitian commented on #2002
Yes, so The solution is to not use parallel for circuits destined for simulators. So the solutions I mentioned previously will fix this issue.

[2019-03-22 15:19] liupibm commented on #2002
sure, thanks,

[2019-03-22 15:19] #2002 closed

[2019-03-23 03:39] #1997 closed

[2019-03-24 08:32] nonhermitian commented on #1999
So I think the issue here is that the DAG includes the classical register bits in the computation of tensor components.  So if I have a fully connected circuit, but I have 20 classical bits that I do not do measurements on, then the number of tensor factors will be 21 as given above.

So at first this makes no sense because the tensor components should just be a computation of whether or not my ci

[2019-03-24 09:27] nonhermitian opened #2009 "KAK decomposition fails for random circuit unitaries"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
Rarely works, usually gives one of:

`MapperError: 'two_qubit_kak: KAK decomposition does not return input unitary.'`
`ValueError: math domain error`
`MapperError: 'two_qubit_kak: Matrix A does not match xx,yy,zz decomposition.'`

However, this always works:

[2019-03-24 09:39] nonhermitian commented on #2009
This may be the same issue with the `euler_angles_1q` function as seen in #1965.

[2019-03-24 17:37] ajavadia commented on #1999
Interesting. I agree that in your conditional example, the 2 subsystems are no longer separable. So in that sense the classical bits should be taken into account. But can we also agree that reporting 21 as num_tensor_factors for that first example doesn't make sense? I think we should only report the tensors for qubits, but allow for classical bits to reduce the number of separable systems (not in

[2019-03-24 20:28] tigerjack opened #2010 "Matplotlib fails for mpl"
### Information

- **Qiskit Terra version**: latest from master
- **Python version**: 3.6
- **Operating system**: Linux 64bit
- **matplotlib version**:  3.0.2 and 3.0.3

### What is the current behavior?
Running `circuit_drawer(qc, filename='a.png', output='mpl')` with whatever circuit returns
[code]

[2019-03-25 00:51] #1502 closed

[2019-03-25 09:48] maddy-tod commented on #2010
This is fixed by #2001. @kdk or @1ucian0 could you please take a look and get that PR merged?

[2019-03-25 10:56] mtreinish commented on #1942
I'm a bit confused by how to start working and testing the implementation for this. Based on all the examples in #1939 this is dependent on #1816 before we can implement this. Or am I missing something?

[2019-03-25 11:32] mtreinish commented on #1988
I was just playing around with this locally and it looks like this can be fixed if we just remove the initialization of an empty RunConfig() when the run_config kwarg is None, in other words remove https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/converters/circuits_to_qobj.py#L46. The `assemble_circuits()` function knows how to handle not having a RunConfig() passed in.

Running the abov

[2019-03-25 13:27] mtreinish commented on #1942
I pushed up a branch (not a PR yet) with a WIP implementation for how this would be implemented here: https://github.com/mtreinish/qiskit-core/commit/e358db2bae6fa8193e896184d11e915453ee255c

Having an example script to add a custom gate to the circuit with current master (not a PR) would be ideal because then I can actually test this. The code in the latex module is hairy enough without actually

[2019-03-25 14:56] nonhermitian commented on #1999
Closing as I do not think this is a bug. See a discussion in #1993 that unifies the circuit properties with the DAG equivalents.

[2019-03-25 14:56] #1999 closed

[2019-03-25 14:56] bjader opened #2073 "Simulating a circuit with noise based on the Tokyo device causes a MapperError"
### Informations

- **Qiskit Aer version**: 0.1.0
- **Python version**: 3.7.2
- **Operating system**: Ubuntu 18.04.2
### What is the current behavior?
When trying to run a circuit with `noise_model` and `coupling_map` based off the Tokyo device, I encounter the following error:
[code]
This happens consistently over several attempts.
### Steps to reproduce the problem
Below is an adapted version of

[2019-03-25 14:59] ajavadia commented on #1942
Yeah #1816 needs to be merged to test this. That is close to being merged though.

You can maybe implement it on top of 1816 and test for now, rebase later.

[2019-03-25 17:08] #1994 closed

[2019-03-25 18:59] 1ucian0 commented on #876
If https://github.com/Qiskit/qiskit-terra/pull/2014 gets merged., this can be closed.

[2019-03-25 18:59] 1ucian0 commented on #1807
If https://github.com/Qiskit/qiskit-terra/pull/2014 gets merged., this can be closed.

[2019-03-25 19:14] 1ucian0 commented on #1913
closed via https://github.com/Qiskit/qiskit-terra/pull/1956

[2019-03-25 19:15] #1913 closed

[2019-03-25 19:33] 1ucian0 commented on #1881
I think the problem is the lack of ancillas (the `MapperError` does not make any sense to me, tho). We have a pass to enlarge the layout with ancillas that should be called before `swap_mapper` in `qiskit/transpiler/transpiler.py:222`. So the fix can be added after PR https://github.com/Qiskit/qiskit-terra/pull/1862 is merged.

[2019-03-25 19:42] 1ucian0 commented on #2010
Closed via #2001.

[2019-03-25 19:42] #2010 closed

[2019-03-25 19:56] 1ucian0 commented on #1566
Smaller program to reproduce the problem:
[code]

@ajavadia , is there any alternative way?

[2019-03-25 21:32] tigerjack opened #2015 "Consider switching to quantikz for latex_source drawing"
### What is the expected enhancement?
As per the title, the quantikz library for tikz, available [here]( https://www.ctan.org/texarchive/graphics/pgf/contrib/quantikz), seems to have better drawing options for circuits. Also, the development of qcircuit seems to have stalled, while the author of quantikz is very quick to respond and integrate changes in the library.

[2019-03-25 22:11] umbra-m opened #2016 "Time measurement"
### Information

- **Qiskit Terra version**: 0.7.1
- **Python version**: 3.6.8
- **Operating system**: Ubuntu

### What is the expected behavior?
Excuse me. Is there any way to get the computation time on real backends? It seems that the field with this information in the Result class was in some of the previous versions of qiskit.

[2019-03-26 01:35] PDSFood opened #2017 "Printing Circuit in ASCII doesn't work"
### Information

- **Terra Version=Latest**:
- **Python version=3.5**:
- **Operating system=Windows 10**:

### What is the current behavior?
Program:

import numpy as np
from qiskit import *
from qiskit import IBMQ
from qiskit import QuantumCircuit, ClassicalRegister, QuantumRegister
from qiskit import BasicAer, execute
from qiskit.quantum_info import Pauli, state_fidelity, basis_state, process_fi

[2019-03-26 02:08] 1ucian0 commented on #2017
I will have access to a Windows machine tomorrow, so I can have a look to this issue.

[2019-03-26 07:29] nonhermitian opened #2018 "Allow states in plot_histogram to be ordered by Hamming distance from target state"
### What is the expected behavior?
Currently the bit strings using in `plot_histogram` can only be ordered as ascending or descending.  However, it is informative to be able to order the bit strings in terms of some distance function from a target bit string.  The Hamming distance is one such measure, and is useful to see the effects of gate and environmental noise on the system as measured by num

[2019-03-26 09:37] maddy-tod commented on #2015
This issue is related to #763

[2019-03-26 11:19] #876 closed

[2019-03-26 11:19] #1807 closed

[2019-03-26 13:23] mtreinish commented on #2015
@maddy-tod actually this is an separate independent issue. #763 is about rewriting the python logic in the latex module to use a python library to handle actually writing out the latex code. (although I've been meaning to rewrite that issue to just be a general rewrite of the latex backend to be more clear, using a python lib or not) This issue is about changing the library we use in the LaTeX out

[2019-03-26 14:16] 1ucian0 commented on #2017
I could not reproduce the issue. Could it be the coding of your console? Maybe we should move to utf-8 output anyway.

![2017](https://user-images.githubusercontent.com/766693/55004137-0ba96500-4fb0-11e9-8202-0c8d4dc8a906.png)

[2019-03-26 14:21] PDSFood commented on #2017
@1ucian0 Thank You for writing back. If it is the coding of the console causing the error, is there a link where I can install older versions of the Anaconda terminal?

[2019-03-26 15:01] Marco9719 commented on #1637
I've exactly the same problem as ryan, but my python version is 3.7.1
I've just updated qiskit to be sure that it is on the last release.
Another strange thing is that it works if I use only an index in the layout `dict`, as
` qr = QuantumRegister(1)
layout =Layout( { (qr,0) : 1 } )`
I'm using the `ibmq_16_melbourne`  backend.
If it's useful i'll upload the whole code, but it's really the same.

[2019-03-26 17:35] 1ucian0 commented on #1637
What's your qiskit-terra version?

[2019-03-26 17:37] 1ucian0 commented on #2017
I'm tested with the last version of Anaconda. Not a Windows expert here, but probably you can change the enconding of the console in the console property menu.

[2019-03-26 17:48] tigerjack commented on #2015
@mtreinish from a programmatic perspective, I don't really know if they can be any advantage, I have not looked at the code to generate the latex in qiskit. I can only brought my personal experience with both of them, and I had a much easier lifetime in using quantikz wrt qiskit.
In the qiskit specific example, I think that exporting a simple circuit to quantikz could allow user to better personal

[2019-03-26 18:20] Marco9719 commented on #1637
It is the one visualized by the command `qiskit.__version__`, right?
It is 0.7.0

[2019-03-26 18:27] nonhermitian opened #2020 "Empty circuits from transpiler fail qobj validation"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The compiler removes all the gates from this circuit and leaves an empty circuit that fails validation.

[code]

[code]
### Steps to reproduce the problem

### What is the expected behavior?
I believe that a valid circuit returned by the transpiler, in this case an e

[2019-03-26 18:33] 1ucian0 commented on #1637
The last terra version is 0.7.1. Maybe you want to update it `pip install -U qiskit-terra` and try again?

[2019-03-26 18:35] nonhermitian opened #2022 "DenseLayout should return best layout with lowest avg cx error"
### What is the expected enhancement?
Current the `DenseLayout` does not consider the cx error rates in the sub-graph.  Due to symmetries in the coupling maps of the devices there are several sub-graphs with the same connectivity to choose from.  The `DenseLayout` should be extended to optionally take a backend, or backend properties, and return the most connected sub-graph with the lowest average

[2019-03-26 18:58] Marco9719 commented on #1637
It still gives me the same error. This is the code, maybe i've done something wrong:
[code]
and gives me the error :
[code]
thanks for your support!

[2019-03-26 19:24] 1ucian0 commented on #1881
Fixed by https://github.com/Qiskit/qiskit-terra/pull/2023

[2019-03-26 22:49] PDSFood commented on #2017
Resolved! Created a new environment with Python 3.6 instead of Python 3.5. `conda create --name work python=3.6` and reinstalled Qiskit. works like a charm now.

[2019-03-26 23:31] 1ucian0 commented on #2017
So the problem is with Python 3.5? I will check it!

[2019-03-27 01:26] 1ucian0 commented on #2017
still cannot reproduce it. Feel free to reopen this if necessary. Thanks!

[2019-03-27 01:26] #2017 closed

[2019-03-27 01:30] 1ucian0 commented on #1435
Is this check really necessary? The passmanager does things like `dag = pass.run(dag)`.

[2019-03-27 01:42] 1ucian0 commented on #1637
can you try with master?

[2019-03-27 07:21] Marco9719 commented on #1637
Sorry, but I'm quite new to this.
What do you  mean by "try with master"?

[2019-03-27 14:09] hhorii opened #2026 "missing qiskit/qobj/models/__init__.py"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
`qiskit.qobj.models` package is not created in wheel file.

### Steps to reproduce the problem

### What is the expected behavior?
`qiskit/qobj/models` is created.

### Suggested solutions
add `qiskit/qobj/models/__init__.py` appropriately.

[2019-03-27 14:37] #2026 closed

[2019-03-27 14:51] nkanazawa1989 opened #2029 "lint error is left in PR"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
lint error is left in #2027

### Steps to reproduce the problem

### What is the expected behavior?
remove lint error

### Suggested solutions
optimize import order in `qiskit.qobj.models.pulse` and `qiskit.qobj.models.qasm`

[2019-03-27 17:27] pacomf opened #2031 "Branch `master` is failing"
Trying to build `master` at commit f3a718fbe5d3094b22019d4147330b9980e326bd failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/188199958

[2019-03-27 17:29] mtreinish commented on #2031
This is a duplicate of https://github.com/Qiskit/qiskit-terra/issues/2029 closing so we can track it there.

[2019-03-27 17:29] #2031 closed

[2019-03-27 20:10] #2029 closed

[2019-03-27 21:59] nonhermitian opened #2032 "Layout documentation needs to be updated"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The `Layout` is a mapping used in the transpiler that takes virtual qubits (in a circuit) and maps them to physical (device) qubits.  This is the mapping encoded in the dict based input to layout:

[code]
where the key (index) is the vitual qubit label and the value

[2019-03-27 22:29] 1ucian0 commented on #2032
Not sure if I fully understand this issue. You think that the list input  should not be supported? Or there is an error in the way that the list input is interpreted?

[2019-03-27 22:35] nonhermitian commented on #2032
The dict and list inputs are not the same mapping. The dict maps virtual to physical, as it should. The list maps physical to virtual. This is not made clear anywhere, and the same input arg is used for both. I would argue that the Layout only makes sense in the context of use in the transpiler that maps from virtual to physical. So I would assume that the inputs into Layout would be this mapping.

[2019-03-27 22:47] 1ucian0 commented on #2032
The list input was a feature request from @ajavadia, maybe he can add a line. Just to be sure we are in the same page, `{0: (qr, 0), 1: (qr, 1)}` is a valid input too.

[2019-03-27 22:48] 1ucian0 commented on #2032
Also, shall I rename the issue as "List input should be removed" ?

[2019-03-27 22:48] nonhermitian commented on #2032
If this is not a bug, is the ability to input both forward and reverse mappings in the same input to Layout the intended behavior?  If so, then feel free to close the issue.

[2019-03-27 22:50] nonhermitian commented on #2032
Ok, so both mappings are allowed. This should probably be documented somewhere. The dict seems to be valid both directions but not the list.

[2019-03-27 22:51] 1ucian0 commented on #2032
So the issue is about the lack of documentation? Sorry... I'm totally confused.

[2019-03-28 08:11] nonhermitian commented on #2032
The issue is that `Layout` takes a single input that is the mapping from virtual -> physical qubits but also takes the inverse mapping as well.  To me, this appeared to be a bug, since the `Layout` is used to map circuits to hardware, not the other way around.  Indeed, the passmanager currently does not work because there is no pass that applies the `Layout` in the passmanager properties to make t

[2019-03-28 09:04] nonhermitian opened #2033 "Latex circuit output completely different from text and mpl methods"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
<img width="400" alt="Screen Shot 2019-03-28 at 5 02 56 AM" src="https://user-images.githubusercontent.com/1249193/55144270-d4a19380-5116-11e9-832d-d4566b9ab3dc.png">

<img width="481" alt="Screen Shot 2019-03-28 at 5 03 02 AM" src="https://user-images.githubu

[2019-03-28 09:11] maddy-tod commented on #2033
Hi @nonhermitian I think this is because the Latex drawer doesn't accept the `justify` parameter yet, but there is an open PR for this #1977. Running your code against this branch I get
![image](https://user-images.githubusercontent.com/40489777/55144775-71752880-5139-11e9-8219-a701d1c8d0a9.png)
which is the same as the mpl and text outputs.

[2019-03-28 10:06] nonhermitian commented on #2033
Ok cool. Will close this then since fix is coming.

[2019-03-28 10:06] #2033 closed

[2019-03-28 10:10] Marco9719 opened #2034 "initial_layout error if used for more than one qubit"
### Information

- **Qiskit Terra version**: 0.7.1
- **Python version**: 3.7.1
- **Operating system**: macOS Mojave 10.14.4

### What is the current behavior?
The `initial_layout` option of `compile` give me this error if I use it on more than one qubit.
If I use only one qubit layout it works.
[code]

### Steps to reproduce the problem
[code]

### What is the expected behavior?
I expect the code

[2019-03-28 10:53] nonhermitian opened #2035 "Flip order of CXCancellation and 1QGateOptimization in default transpiler flow"
### What is the expected enhancement?
Flipping the order of CXCancellation and 1QGateOptimization in the default transpiler flow allows for the possibility of single-qubit gates in between cx gates to add up to identity, which in turn allows the cx gates to collected by the cx gate cancellation.  The current ordering does not allow for this, and is thus not as efficient at reducing depth.

<img wi

[2019-03-28 10:58] nonhermitian commented on #2035
Ideally one would want to do 1Q optim then cx cancellation in a loop until the depth reaches a fixed point.

[2019-03-28 11:05] nonhermitian commented on #2035
Actually I take this back, it is not so clear which one to choose.

[2019-03-28 11:10] nonhermitian commented on #2035
Actually it is more efficient.

[2019-03-28 13:28] 1ucian0 commented on #2032
`{19: (qreg, 0)}`  `[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, (qreg, 0)]` These two are not equivalent. The second one is a way to signal the transpiler that can use the first 18 qubits as ancilla. Therefore, I agree with you that #1992 is somehow wrong and it should include that info. I can fix that. The docstring should be

[2019-03-28 13:46] 1ucian0 commented on #2035
The passmanager supports that. I can have a look.

[2019-03-28 14:19] nonhermitian commented on #2032
Ok, that is not explained anywhere, nor is it expected.  It also breaks the bijectivity of the mapping; i.e. the mapping is no longer one-to-one (as mentioned here https://github.com/Qiskit/qiskit-terra/blob/ef46e442e4320500c847da617aadd5476bca4b70/qiskit/transpiler/passes/mapping/stochastic_swap.py#L57).  So the `Layout` is really diverging from the original usage of the layout, i.e. a virtual ->

[2019-03-28 14:21] nonhermitian commented on #2035
I would also argue that cx cancellation should be before cx direction swap otherwise you cannot collection cx that have their directions swapped.  It also makes the cx cancellation pass more efficient as it is not swapping directions for cx gates that could be canceled.

So the new order should be 1Q optim, cx cancel, cx direction.

[2019-03-28 14:24] nonhermitian commented on #2035
The worst case scenario in this modification (assuming everything is run once) is two leftover U3 gates, where as keeping things the same gives a worse case of 2 cx gates.  Since cx gates are 10x more costly, minimizing their count is the way to go.

[2019-03-28 14:28] 1ucian0 commented on #2032
Agree. Documentation needs to be updated:
 - Layout docstring should explain the possible inputs and meanings.
 - References to bijection should  to be updated.
 - mappers docstring needs to be updated.

Renaming this issue to reflect this.

[2019-03-28 14:33] nonhermitian commented on #2032
You are changing doc strings that are fundamentally correct; the mapping is a bijection.  You are not using the `Layout` as it should be used as evidenced by the fact that your layout gives a mapping that is not invertable when using the list input.  Is this desired behavior from the `Layout` class?

[2019-03-28 14:34] xkwei1119 opened #2036 "transpiler changes layout of already mapped circuit"
### Information

- **Qiskit Terra version**: 0.7.1
- **Python version**: 3.6.6
- **Operating system**: Windows 10

### What is the current behavior?

circuit before compile

[code]
circuit above is truncated from full device size
circuit after compile

[code]

### Steps to reproduce the problem

[0,5] and [5,10] are both in the device coupling map, default transpile remaps even though the circuit

[2019-03-28 14:56] xkwei1119 commented on #2034
can you try lay = {('qr', 0): ('q', 1), ('qr', 1): ('q', 10)}

[2019-03-28 15:14] nonhermitian commented on #2032
If the list input is also supposed to treat other qubits as ancilla then it does not work as expected:
[code]
gives a mapper error since qubits 18 and 19 are not connected, but if I have ancilla, then the swap mapper should have swapped into qubit 13 or 14 before applying the cx since they are all in the layout.  Manually doing this by enlarging the circuit works, even for a random layout of qubit

[2019-03-28 15:21] nonhermitian opened #2038 "Cannot map a single qubit to a given device qubit that is not zero"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
It is not possible to map a single qubit circuit to a device qubit that is not zero.

[code]

<img width="235" alt="Screen Shot 2019-03-28 at 11 18 08 AM" src="https://user-images.githubusercontent.com/1249193/55169462-34199680-514b-11e9-8760-64f5e32ed0af.png">

Note

[2019-03-28 16:05] nonhermitian opened #2040 "Numeric layout in cython swap mapper does not support Layout constructed from list format"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
As discussed in #2032, but not documented or used anywhere, it is possible to generate a layout mapping that is neither one-to-one or onto using a list input.  This breaks the `nlayout_from_layout` routine as a valid bijective mapping is assumed there.

[code]

[code

[2019-03-28 20:49] taalexander opened #2041 "FunctionalPulse should wrap underlying callable"
### What is the expected enhancement?
FunctionalPulse should wrap its underlying callable with `functools.wraps`.

[2019-03-29 01:44] 1ucian0 commented on #2032
By "a way to signal the transpiler" I meant the transpiler as a whole, not to the swappers. There is a `ExtendLayout` pass that creates the ancilla register (see, as example, .https://github.com/Qiskit/qiskit-terra/pull/2023/files#diff-908d957d026585117bbf3b15dbe49558R206).

I think the problem is that we are convoluting the two related-but-slightly-different concepts in in the name "layout". The

[2019-03-29 02:07] 1ucian0 commented on #2034
The problem seems to be fixed in master branch and will be release in the coming version. Do you mind checking again with the code from the master branch?

[2019-03-29 04:25] daveshen2019 commented on #1641
I am running the latest python 3.7.  I running into problem installing qiskit:
C:\Users\dave_>pip install qiskit
Collecting qiskit
  Using cached https://files.pythonhosted.org/packages/37/13/62c8421098faf49cbd380911986b1c9eebead08518084faa9a0dbbfc71c1/qiskit-0.8.0.tar.gz
Collecting qiskit_terra==0.7.1 (from qiskit)
  Using cached https://files.pythonhosted.org/packages/62/82/ecc340252e644dbf51b97

[2019-03-29 06:52] itoko opened #2044 "Why not Swap passes return circuit with physical qubits"
Users are likely to expect Swap passes return physical circuit (circuit with physical qubits) as the original swap mapper was doing so. However current Swap passes [<-This was not correct. BasicSwap and LookaheadSwap return physical circuit. Only the StochasticSwap doesn't return physical circuit] return logical circuit (circuit with virtual qubits) + initial layout. Not only it different from use

[2019-03-29 08:27] nonhermitian commented on #2032
Ok, I see what you are doing.  I am still confused as to why you need to use an odd / invalid mapping to do it.  Why not just take a valid layout and the size of the device and pad the dag from that?  There `None` would be equivalent to any qubits that are not in the valid layout.  You could always have a bijective mapping if done that way.

I think an example use case of this functionality would

[2019-03-29 10:32] wguanicedew opened #2055 "to support data section in qobj to run the same circuits multiple times with different input data"
### What is the expected behavior?
I expect that with the same circuits, I can run it multiple times with different input data. In this case, I don't need to recompile the circuits multiple times.  Every time when I want to run on new data, I just need to update the data section without updating other parts.
For example, in this qasm below, I had one operation "u3(data:input_magic1,0,pi) q1[0]" an

[2019-03-29 11:21] Marco9719 commented on #2034
Using the master branch it works! Thanks!

[2019-03-29 11:21] #2034 closed

[2019-03-29 14:29] maddy-tod opened #2046 "DAG copy method"
### What is the expected enhancement?
The code to create a new DAG and then copy over the metadata from another DAG is used in many passes, e.g. in lookahead swap
[code]
It might be good to have this functionality as a method on the original DAG, so you could call `dag.blank_copy()` or similar to retrive a copy of the DAG with the same name/creg/qreg.

[2019-03-29 15:07] mtreinish commented on #2020
What would you suggest the fix is here? The transpiler is able to optimize that circuit away to include 0 elements. It looks like the validation model for qobj enforces at least 1 element:  https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qobj/models/qasm.py#L53 (man was that irritating to find) for the instructions in the circuit (it's also in a few other places which we should remove at

[2019-03-29 15:20] nonhermitian commented on #2020
I would remove the restriction.

[2019-03-29 15:26] mtreinish commented on #2020
Ok works for me, I was leaning that way too. The patch is up at: #2048

[2019-03-29 19:15] 1ucian0 commented on #2036
I was not able to reproduce this.
In master:
[code]
[code]

In 0.7.1:
[code]
[code]

[2019-03-29 20:48] #2041 closed

[2019-03-29 20:54] taalexander commented on #1934
Closed by #2043.

[2019-03-29 20:57] taalexander commented on #1934
Closed in favor of samplers (#1935).

[2019-03-29 20:57] #1934 closed

[2019-03-29 20:59] taalexander commented on #1927
Closed by #1969.

[2019-03-29 20:59] #1927 closed

[2019-03-30 10:16] #2020 closed

[2019-03-31 02:12] jwoehr commented on #1631
Seems to be less of a coding problem than a question of the team stating a clear spec for the enhancement.

[2019-03-31 02:14] jwoehr commented on #923
https://github.com/jwoehr/nuqasm2 is sort of a proof of concept of this sort of thing. What next?

[2019-04-01 12:00] jwoehr commented on #901
An end-of-line comment is one thing; inserting a comment after the comma, splitting the line and naming a target register on the next line looks quite odd.

Those cases look pathological. I think no classical assembler would accept that syntax?

[2019-04-01 12:01] jwoehr commented on #901
That said, comments are indeed nodes in nuqasm2, but I have not dealt with the case of an end-of-line comment, which easily could be done.

[2019-04-01 12:13] mtreinish commented on #1942
I just tested https://github.com/mtreinish/qiskit-core/commit/e358db2bae6fa8193e896184d11e915453ee255c  with #1816 applied locally and it works after a small tweak (the numeric arg to `\multigate` was off by one). So I pushed up #2049 with the version I tested locally.

[2019-04-01 15:38] 1ucian0 commented on #2046
I think we have to move towards a model where that kind of copy is not needed. The target dag should be extended automatically, with no need to pre-add the regs.

[2019-04-01 17:32] nkanazawa1989 opened #2053 "Pulse simulator QobjConfig"
### What is the expected enhancement?
Pulse simulator configuration needs additional fields: `hamiltonian`, `dt`, `noise`, `ode_options`.
These values should be validated and added to `PulseQobjConfig`.

[2019-04-01 17:46] nkanazawa1989 commented on #2053
We need to discuss below points.

1. Required properties:
current simulator doesn't require below properties:
`"meas_level", "memory_slot_size", "meas_return", "meas_lo_freq", "rep_time"`
however, they are `required` because of real backend requirements.

- do we need to create specific `QobjConfig`s?
we can create `PulseDevQobjConfig` and `PulseSimQobjConfig`, and switch them with dedicated `type

[2019-04-01 18:44] jwoehr opened #2054 "Transpiler build gcc warnings"
### Information

- **Qiskit Terra version**: current
- **Python version**: 3.6.7
- **Operating system**: Linux Ubuntu 18.04.2
- **GCC version**:(Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0

### What is the current behavior?
GCC warnings during build (setup.py) of the form:
[code]

### Steps to reproduce the problem
`python setup.py install`

### What is the expected behavior?
No signed-to-unsigned compari

[2019-04-01 19:07] 1ucian0 commented on #1186
Reopen, because #1617 was reverted by #1780.

[2019-04-02 03:25] t-imamichi commented on #1990
@nkanazawa1989 @maddy-tod Could you see this bug?

[2019-04-02 07:40] nonhermitian opened #2056 "Casting list of (qreg, int) pairs to NumPy array takes long time"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The below call takes over two minutes on my machine, with the fans kicking on.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
I would assume it would return an array of type `object` quite fast.

### Suggested solutions

[2019-04-02 08:08] nonhermitian opened #2057 "Transpile unrolls to U gates even if gate is specified in basis_gates"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
[code]

### Steps to reproduce the problem

### What is the expected behavior?
I would expect that defining a gate to be in the basis gates would not unroll to the U gate equivalent.

### Suggested solutions

[2019-04-02 08:28] maddy-tod commented on #2056
This does terminate on my system, it just takes a long time.  It can be sped up a little bit by declaring the data type that is used which stops the [array from being copied.](https://docs.scipy.org/doc/numpy-1.10.4/reference/generated/numpy.asarray.html)

[code]

[2019-04-02 09:10] maddy-tod commented on #1990
@t-imamichi yes I can, I will look into it.

[2019-04-02 09:29] nonhermitian commented on #2056
Indeed it does quit, after a couple of minutes.  This is still a bug from my perspective.  Could be related to #1964.

[2019-04-02 09:33] nonhermitian opened #2059 "Cannot create array of QuantumCircuit instances"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-04-02 11:16] delapuente commented on #1903
I meant making it available in the Qiskit root.

[2019-04-02 13:28] 1ucian0 commented on #2059
[code]
[code]

What am I doing wrong?

[2019-04-02 13:29] nonhermitian commented on #2059
That is the output.

[2019-04-02 13:30] mtreinish commented on #2059
`array([], shape=(1, 0), dtype=float64)` is the output from the script not part of it. Remove that line and it will return that.

[2019-04-02 13:31] mtreinish commented on #2059
This is a duplicate of: https://github.com/Qiskit/qiskit-terra/issues/1898 so closing it to track it there

[2019-04-02 13:31] 1ucian0 commented on #1946
`layout = [None, None, None, (QuantumRegister(2, 'q'), 0), (QuantumRegister(2, 'q'), 1)]`
and
`layout = [3, 4]` dont have the same meaning...

I think `NLayout` should be internal and, externally, `Layout` should be used.

[2019-04-02 13:32] mtreinish commented on #2059
Err I guess it's slightly different #1898 is for an array of registers and this is for an array of circuits. I'll keep it separate for now and we can integrate if the solution ends up being the same

[2019-04-02 13:34] nonhermitian commented on #1946
Yes this issue is created before I knew that. This has been implemented in #2058 and does not conflict with your other list format.

[2019-04-02 13:49] nonhermitian commented on #2059
It is different. in contrast to the title of #1898, you can create an array of registers:

[code]
the output is a bit funky though:

[code]

[2019-04-02 14:06] 1ucian0 commented on #1946
I can also argue that `[3, 4]` is not a valid layout :) CMV!

[2019-04-02 14:11] nonhermitian commented on #1946
It is a one-to-one and onto mapping from virtual to physical where the virtual is the index variable and the physical is the value at that index.  It works because your qubits `(qreg, int)` label is really nothing more than an integer.

[2019-04-02 14:23] 1ucian0 commented on #2059
And what's the expected output?

[2019-04-02 14:26] nonhermitian commented on #2059
A 1D array with elements that are `QuantumCircuit` instances:
[code]

[2019-04-02 15:04] 1ucian0 commented on #2059
It seems that happens because `QuantumCircuit.__getitem__` pulls from `QuantumCircuit.data`.

[2019-04-02 17:03] 1ucian0 commented on #1946
After talking with @nonhermitian it's more clear to me. This is much closer to our existent `generate_trivial_layout`. This method takes the list of qregs and assigned linearly on physical to each of them. Similarly, `layout = [3, 4]`  would assign `3`to the first qubit register in the circuit and 4 to the second one.

[2019-04-02 17:24] mtreinish commented on #2057
I took a look at this, it looks like the first time we call the unroller as the first stage of the transpile passes it passes in the user provided basis gates and that does what we both expect: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/transpiler.py#L211

But if there is a coupling map set for some reason there is a later pass we call on the dag that runs the unroller ag

[2019-04-02 17:32] mtreinish commented on #2057
Ah, reading that patch it looks like it does the unrolling to that hard coded basis set so the 1q optimize pass can do the gate cancellation. It was just happening under the covers in a single function before instead of being called directly in transpile.

[2019-04-02 17:35] nonhermitian commented on #2057
So the basis gate set input kwarg is only meaningful for simulators.  I do not think that that is the expected behavior (I do not think we mention it anywhere).  However, I do see the point of unrolling.

[2019-04-02 17:49] mtreinish commented on #2057
Yeah, that's what it looks like. I'm not sure the best way to handle this because I agree the current behavior is unexpected. We can preserve the expected behavior pretty easily by not running optimize 1q there (or making it not fully effective by skipping the unroller call when an user input basis set) but then the output circuit potentially won't be fully optimized. I'm not sure which to view as

[2019-04-02 17:52] mtreinish commented on #2057
FWIW the patch I had in mind above was:

[code]

[2019-04-02 17:55] mtreinish commented on #2057
That might be a good balance because for real backends it will be unrolled to the devices basis gates already, which should be the same set, so we can skip that. But it will preserve the manual basis set in your case, although without being able to optimize things fully.

[2019-04-02 18:08] chetmurthy commented on #901
I wasn't suggesting that such comments are desired; rather, that if you want to make comments be part of the grammar, you're going to have to change where they're allowed, b/c currently such pathological cases are allowed.  That's all I mean.

Also, you're probably right that "old-school line-oriented language-processors" probably don't accept such comments.  And I find that GNU AS doesn't accept

[2019-04-02 18:19] jwoehr commented on #901
Currently my nuqasm2 POC accepts comment lines anywhere and adds them to the AST. However, I didn't consider the end-of-line comment, which probably should be permitted.

[2019-04-02 23:20] mtreinish commented on #2015
So I can definitely see the advantage of using a tikz based package over an xymatrix/xypic based one like qcircuit. Tikz does provide a bit more flexibility in how you can interact with it, like in the first example you copied from the docs. The other 2 (minus the blue shading in the 3rd) are actually natively supported by qcircuit and in the docs. But, as you mention don't that provide an advanta

[2019-04-03 02:11] 1ucian0 commented on #1831
I just talked with with @itoko and I convince him that we dont need an `ApplyLayout` pass. I think also that was the conclusion with @nonhermitian today (however, the `StochasticSwap` needs readjustment). Shall we close this issue?

[2019-04-03 02:15] itoko commented on #2044
I found I misunderstood output of current swap passes, pointed out by @1ucian0 .
`BasicSwap` and `LookaheadSwap` return "semantically equivalent" circuit as physical circuit. So I have no issue on those two swap passes. This issue only goes for `StochasticSwap`.

[2019-04-03 02:41] #1946 closed

[2019-04-03 08:04] tigerjack commented on #2015
@mtreinish yeah, just thought it was worth considering the switch since `qcircuit` seems to be a bit staled and most importantly `quantikz` is actively developed and based on the well-known `tikz`.

For the second picture, by the way, there is no way that I'm aware of to group the output bits (see https://github.com/CQuIC/qcircuit/issues/32). But again, this is usually needed only in post-processi

[2019-04-03 12:50] #2054 closed

[2019-04-03 13:01] ajavadia commented on #2057
This is a good point, and we need to decide what the default pass manager looks like (I'd like to include a couple default pass manager pipelines corresponding to different optimization levels).

The current way things are done is not well thought out (if `coupling_map` exists, invoke `optimize_1q_gates`).

In this case I agree that if the user passes in `basis_gates` then we should not invoke `op

[2019-04-03 14:02] ajavadia commented on #2055
The idea is to allow this at the circuit level with parametrized circuits (currently under construction). So you would make a parametrized circuit, transpile it once, then drop in new parameters and run.

[2019-04-03 14:33] mtreinish commented on #2057
Well I'd still argue we should run `optimize_1q_gates` even with an input `basis_gates` just skip the unroller step (like what I did in the patch abov). It might still be able to optimize something, if it encounters gates it can't interpret it will just ignore those. Also when you run with a real device backend set there will be an input `basis_gates` set (by the time we get to `transpile_dag` we

[2019-04-03 14:33] #2018 closed

[2019-04-03 14:36] nonhermitian commented on #2057
We could optimize and see if the optimized gates are the same (in trace norm or other) as the non-U, id, or cx gates in the basis set, and just replace the optimized U's with the basis ones where possible.

[2019-04-03 15:01] chriseclectic opened #2065 "Allow empty circuits in schema validation"
### What is the expected enhancement?

This is a repost of [an issue](https://github.com/Qiskit/qiskit-aer/issues/106) posted to aer that belongs here. It amounts to allowing an empty circuit to pass validation and be executed on a simulator (returning the trivial result), which in the case of a statevector simulator would be the initial state `|0...0>`.

From @matteoacrossi:

### What is the curr

[2019-04-03 15:17] mtreinish commented on #2065
This is a duplicate of #2020 and should have been fixed by #2048 so I'm closing this. If it's still an issue on current master feel free to reopen.

[2019-04-03 15:17] #2065 closed

[2019-04-03 15:24] taalexander commented on #1928
Closed by #1969.

[2019-04-03 15:24] #1928 closed

[2019-04-03 15:24] 1ucian0 opened #2066 "LookaheadSwap "forgets" quantum register names"
### Information

- **Qiskit Terra version**: master

### What is the current behavior?

[code]

### What is the expected behavior?
[code]

### Suggested solutions

[2019-04-03 15:42] ajavadia commented on #2066
We need to decide here when the circuit becomes "physical". Whether the layout keeps existing in the property set and every pass consults it, or it just gets applied and further passes work with a flat register.

[2019-04-03 15:59] itoko commented on #2066
I think this issue is not discussing when the circuit becomes "physical". Both of the circuits above is "semantically" physical. But they are different "syntactically". Current output uses physical qubit register names. Proposed output uses virtual qubit register names. I like the current output since the circuit is "semantically" physical so it is natural to use the physical syntax i.e. physical

[2019-04-03 16:42] dcmckayibm opened #2067 "Helper function for pulse to auto align measurement"
It can be helpful if all schedules in an experiment have measurements that occur at the same physical time after the start of the schedule (particular for level 2 measurement). This would be a helper function that would offset schedules appropriately and add measurements/acquires automatically. Also this would enforce any constraints on minimum wait times for the measurement (e.g. to ensure enough

[2019-04-03 17:40] #1978 closed

[2019-04-03 19:51] chriseclectic opened #2068 "Error in compile for sdg gate"
### Information

- **Qiskit Terra version**: master (+ Aer master)
- **Python version**: 3.6
- **Operating system**: MacOS

### What is the current behavior?

A recently merged PR is causing all Aer tests involding `sdg` gates to fail.

The failing tests seem to involve calling the `compile` function on a circuit with `sdg` gates.

*Note: this error doesn't occur if execute is used instead of comp

[2019-04-03 20:29] #2068 closed

[2019-04-03 22:58] #1990 closed

[2019-04-03 23:03] mtreinish commented on #1941
I pushed up a fix for this in #2070

[2019-04-04 01:15] itoko commented on #2066
I found an example that shows why LookaheadSwap spec (Spec-A) is the best.
Please look at the arguments of measurement below.
In the original circuit, user specified measurement result of v1 is stored in c1.
However, in the Spec-B, measurement result of v1 is stored in c0. This is very confusing to users. In this sense, "v1" in the output is no more equal to the original v1. It is a physical qubit

[2019-04-04 01:28] 1ucian0 commented on #316
I think this can be closed via #1816. Feel free to reopen if that's not the case.

[2019-04-04 01:28] #316 closed

[2019-04-04 01:34] 1ucian0 commented on #805
Hi @diego-plan9 ! The future is here :) Any reevaluation?

[2019-04-04 01:36] 1ucian0 commented on #822
I pretty sure that this issue does not apply any more. At least not to terra. @delapuente feel free to reopen if im wrong...

[2019-04-04 01:36] #822 closed

[2019-04-04 01:40] 1ucian0 commented on #926
I this this was closed via #1071.

[2019-04-04 01:40] #926 closed

[2019-04-04 01:49] 1ucian0 commented on #337
`CircuitBackend` is not a thing anymore. Therefore, I'm closing this. If this issue still exists in terms of the current code, please reopen and rename (and give a new way to reproduce it). Thanks!

[2019-04-04 01:49] #337 closed

[2019-04-04 01:55] 1ucian0 commented on #1170
Is there something that still needs to be discussed here, @diego-plan9 and @mtreinish ?

[2019-04-04 02:00] 1ucian0 commented on #837
Removing the `discussion` label, since the wrapper is not a thing that exists anymore. The problem of "fixing" the logger still exists tho. Probably, the best would be to remove it all together...

[2019-04-04 02:10] 1ucian0 commented on #1340
Im not fully sure when, but I think this is fixed via the introduction of the `optimize_1q_gates` pass in #1442.

Currently, with the code in master:
[code]
[code]

[2019-04-04 02:10] #1340 closed

[2019-04-04 02:15] 1ucian0 commented on #1635
I think this can be closed via #1816. Feel free to reopen if that's not the case.

[2019-04-04 02:15] #1635 closed

[2019-04-04 02:17] 1ucian0 commented on #1814
I think this can be closed via #1816. Feel free to reopen if that's not the case.

[2019-04-04 02:17] #1814 closed

[2019-04-04 02:17] 1ucian0 commented on #1182
I think this can be closed via #1816. Feel free to reopen if that's not the case.

[2019-04-04 02:17] #1182 closed

[2019-04-04 08:45] diego-plan9 commented on #805
The future moves at good speed! :) Although in this particular issue (interactive visualizations) I don't think there have been many changes - I still agree that providing a jupyter-specific package that includes an extension is the sensible way to go. Any thoughts?

[2019-04-04 10:55] wguanicedew commented on #2055
Hi,
So how will you support parameterized circuits? Will you support loop operations like 'for'?
Qiskit asm supports string in operators. I tried this way below with string 'localinputvars1' in u2 operation. It works on basicaer and aer. So I extended it to qsvm. But I found it's very slow to replace all string parameters if I run a lot of events.

qc_test = QuantumCircuit(q0, q1, c0, c1)
qc_test.

[2019-04-04 12:57] bjader commented on #2073
[code]
I can confirm that all the above permutations raise the same error as the original post.
Only if I remove the coupling map completely:
[code]
does it not fail.

[2019-04-04 13:13] francabrera commented on #985
so the idea here is to include the Circuit Composer we're building as a jupyter notebook widget, it's in the backlog to be released in the next quarter!

[2019-04-04 14:08] diego-plan9 commented on #1170
I think the main premise (the over-abundance of circular imports) has been alleviated since a while back (probably around #1600), when we updated the linter version which includes a check for cycles and a series of followups and small refactors.

[2019-04-04 14:12] ajavadia opened #2074 "Preserve backward compatibility on imports"
### What is the expected enhancement?
Several paths have been changed as files have moved around, so we should preserve backward compatibility with a deprecation warning.

Examples (need to check against 0.7 for a full list):
- qiskit.tools.compiler.execute
- qiskit.tools.compiler.compile
- qiskit._util ---> qiskit.util (a lot of underscores are removed)

[2019-04-04 17:08] #289 closed

[2019-04-04 17:10] 1ucian0 commented on #1898
I agree this is an issue (not an easy one, so removing `good first issue` tag). However, I'm not fully sure what "a programmer would expect".

It seems that @Woody1193 would expect this:

[code]

Nevertheless, I can argue that is also not correct. `QuantumRegister` (and `Register` in general) is an iterable. An the problem is that the elements of that iterable are also iterables (tuple specificall

[2019-04-04 17:22] 1ucian0 commented on #1898
CC @nonhermitian , who usually have good insights on what a NumPy user would expect.

[2019-04-04 17:52] ajavadia commented on #2066
@itoko I agree with you, I will go one step further and say that the Swapper passes should also consume physical circuits (i.e. their job is to take a circuit and a coupling map and make them compatible, not to also care about a layout object). In that sense, I think the `ApplyLayout` pass should be run after layout selection and before swappers. `ApplyLayout` marks the place where we have embedde

[2019-04-04 17:56] ajavadia commented on #2044
I don't agree with this. `ApplyLayout` should not care about the contents of the circuit. The circuit is what it is, it could have any gates. The `ApplyLayout` pass will only relabel and permute qubits (how can it even know which swaps were introduced by the swapper and which swaps were part of the original circuit?)

[2019-04-04 18:09] nonhermitian commented on #1898
I would expect an array of registers to contain registers in the same manner as a list.

The original posters code however is confusing because you cannot have register as a dtype, it would be object, and doing append is super inefficient.

However, our objects should play nice with numpy arrays because it is a fundamental scientific python library.

[2019-04-04 18:13] ajavadia commented on #2055
A parametrized circuit is just a circuit where some gate parameters (e.g. rotation angles) are not yet set to a concrete number. Not sure what you mean by supporting 'for' loops. You can just use loops in Python to set the parameters and create many concrete circuits out of a single parametric circuit. The speed comes from the fact the the transpiler can handle parametric circuits, so you can tran

[2019-04-04 18:14] 1ucian0 commented on #1801
I'm closing this as `wont fix`. Thanks!

[2019-04-04 18:14] #1801 closed

[2019-04-04 18:19] ajavadia commented on #2035
we should do this in a loop until depth reaches fixed point.

[2019-04-04 18:29] ajavadia commented on #2016
The runtime is may not be exactly what you expect (refer here: https://quantumcomputing.stackexchange.com/questions/3901/comparing-run-times-on-ibm-quantum-experience/3912#3912)
But I think we can reintroduce it.

[2019-04-04 18:32] xkwei1119 commented on #2036
[code]

[2019-04-04 18:54] ajavadia commented on #1952
Yes I think you are right. This issue is more about returning all the other stuff (header, config), not only the circuit (as `qobj_to_circuit` does).

Some things like 'registers' will not have equivalents in the circuit, so I think they may get lost. But I think conditionals are fine no? At least the simple conditionals we have now.

[2019-04-04 19:00] ajavadia commented on #1945
I think if `transpile()` accepts a list of circuits, it should also accept a list for all other args: `initial_layout`, `seed`, `coupling_map`, etc.

[2019-04-04 19:35] 1ucian0 commented on #2056
I think this is duplicated to https://github.com/Qiskit/qiskit-terra/issues/1898

[2019-04-04 19:38] 1ucian0 commented on #1898
I'm not fully sure if I understand. You mean this?

[code]
[code]

[2019-04-04 19:45] 1ucian0 commented on #2073
I'm not able to reproduce this issue @bjader Can we come up with a minimal failing example?

This seems like working:
[code]

[2019-04-04 19:49] 1ucian0 commented on #1298
This issue only applies to the latex drawer?

[2019-04-04 21:15] ajavadia commented on #1896
This is done via #1816. But I'll keep it open because the reset part is not done yet.

[2019-04-04 21:20] ajavadia commented on #1760
DAGCircuit.qasm() no longer exists.

[2019-04-04 21:20] #1760 closed

[2019-04-04 22:40] mtreinish commented on #1298
I believe it applies to all of them (unless you implemented this for text), I only started working on it for latex originally since that was the first backend I added support for simulator instructions as barriers to.

[2019-04-05 01:04] ajavadia commented on #693
The only thing left to do for this issue is to increase spacing of parameters for better readability. I adjusted the title accordingly.

[2019-04-05 01:18] Woody1193 commented on #1898
@1ucian0, the specific issue I'm having is that when you index into a `QuantumRegister`, you get back a tuple so, when using `np.append` to add a collection of `QuantumRegister` objects to an `np.array`, the append function will attempt to flatten the collection recursively, resulting in a list of `QuantumRegister`s and ints:
[code]

I can get around this by doing `np.append(x, [ QuantumRegister(1

[2019-04-05 01:47] #1988 closed

[2019-04-05 02:15] itoko commented on #2044
@ajavadia Oh, I understand your definition of `ApplyLayout` (what I thought may be too much). It is just a rename of qubits from virtual ones to physical ones (a special case of `RenameQubits`), right? For example,
[code]

According to your comments on #2066, I think you agreed that Swap passes should return circuit with physical qubits. So I think we can close this issue and continue discussion o

[2019-04-05 03:05] itoko commented on #2066
@ajavadia I agree with your proposal - Swapper passes not only return a physical circuit but also consume a physical circuit.

At first, in our discussion on #2044, I found we used the term `ApplyLayout` pass in the different meanings. From now on, I'll follow your definition: The ApplyLayout pass will only relabel and permute qubits (rename of qubits from virtual ones to physical ones).

I found

[2019-04-05 11:40] ajavadia commented on #2036
This issue is reproducible only when the cirucuit is submitted to the device.

I found the source of error: the barrier is considered in the check for circuit compatibility to the coupling_map. But only gates should be. I will push a fix.

[2019-04-05 12:17] ajavadia commented on #2073
The issue says that when executing on Tokyo the error does not arise. Try executing on the simulator, with the Tokyo coupling map.

[2019-04-05 12:28] bjader commented on #2073
Hi @1ucian0 I can concur that your example does not fail for me either - but it should be noted in your example you are running on the real tokyo device. In my original post the failure I'm reporting occurs when using the Tokyo coupling map on the qasm simulator.

Here is a more minimal example of my original code with only the qubit initialization left, that does fail for me:
[code]

[2019-04-05 12:39] ajavadia commented on #2073
@bjader which version of qiskit terra are you running? Are you running from master or pip 0.7?

[2019-04-05 12:42] bjader commented on #2073
@ajavadia I'm using a conda virtual environment based on the environment.yaml defined in the qiskit tutorials. Details from `conda list`:

[code]

[2019-04-05 12:43] ajavadia commented on #2073
Ok thanks. On master, I get failures running both on simulator and device. I am investigating.

[2019-04-05 14:33] ajavadia commented on #2073
Ok, this issue is actually no longer present on master now.

The problem is finding a good initial layout (if this is done, the chance that the swapper succeeds is increased). The issue was that in version 0.7.1, the code to find the layout was only being called for the device, not the simulator. This is now fixed on master.

However, there is a tangential issue which still makes the original code

[2019-04-05 16:18] 1ucian0 commented on #1898
Yes. We agree that returning a tuple is a bad idea. However, if we want to keep `QuantumRegister` as iterable, the result will be:
[code]

I'm just trying to make sure we are all on the same page on what should it be the result.

[2019-04-05 17:56] 1ucian0 commented on #1948
The issue about extending `initial_layout` and `coupling_map` as a list continues in https://github.com/Qiskit/qiskit-terra/issues/1945#issuecomment-480022766. For this issue, I will fix the "terra should throw the proper warning before trying to compile the circuits" part.

[2019-04-05 18:22] pacomf opened #2083 "Branch `master` is failing"
Trying to build `master` at commit 7a9cd63702c0c46866fc4dc9f128816df46e0385 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/190755893

[2019-04-05 18:51] 1ucian0 commented on #1298
The text drawer draws `barrier`, `snapshot`, `save`, `load`, and `noise` the same way:
[code]

Any idea about the expected output for the simulator instructions?

[2019-04-05 20:06] taalexander commented on #1926
Closed via #1757.

[2019-04-05 20:06] #1926 closed

[2019-04-05 20:08] taalexander commented on #1924
Closed via #1969.

[2019-04-05 20:08] #1924 closed

[2019-04-05 20:29] 1ucian0 commented on #2035
PR #2086 fixes this.

[2019-04-05 20:38] #2083 closed

[2019-04-05 20:52] taalexander opened #2087 "Add data extraction methods for pulse to the result object"
### What is the expected enhancement?
With the coming of pulse, measurement results can be returned in multiple formats. The schemas we're updated in #2085 to support this. In addition result extraction code is required for the cases below

| `meas_level` | `meas_return`  | external format                                                                                           | internal format

[2019-04-06 01:52] 1ucian0 commented on #1221
I think this is closed via https://github.com/Qiskit/qiskit-terra/pull/1961. Can @ewinston @ajavadia confirm?

[2019-04-06 01:55] 1ucian0 commented on #1170
Is there any other aspect of the original issue still missing?

[2019-04-06 02:01] 1ucian0 commented on #927
The running time of the tests is relatively low with respect to the queue times now. I think we an close this issue. Opinions @mtreinish @diego-plan9 ?

[2019-04-06 02:10] 1ucian0 commented on #880
The regular update of how to reproduce this issue:
[code]

[2019-04-06 02:20] 1ucian0 commented on #1887
PassManager on the side (we can have another discussion issue about it) I think the original issue is solved.

[2019-04-06 02:23] 1ucian0 opened #2090 "New high-level workflow API needs to be documented"
In 0.8 we are changing the high-level workflow API and needs to be documented for entry-level users. Basically, move [this](
https://github.com/Qiskit/qiskit-terra/issues/1887#issuecomment-469399695) test to the documentation.

[2019-04-06 02:30] 1ucian0 commented on #1206
What else is still pending here @diego-plan9 ?

[2019-04-06 02:31] 1ucian0 commented on #805
I do agree!

[2019-04-06 02:35] 1ucian0 commented on #1298
opinions @ajavadia @jaygambetta ?

[2019-04-06 03:09] eddieschoute commented on #1887
What was the original issue besides discussing the design of PassManager and the workflow?

[2019-04-06 03:38] 1ucian0 commented on #1887
By high-level workflow API I meant the top level functions to generate a QObj.

[2019-04-06 17:24] ajavadia commented on #1887
Let's keep this open since it contains important discussions that must be considered (probably after this upcoming release). I'll update the issue title.

[2019-04-06 18:39] ajavadia commented on #2022
See NoiseAdaptiveLayout (#2089) which we may be able to somehow combine with DenseLayout in the future.

[2019-04-06 19:25] ajavadia commented on #2044
Ok so let's continue the discussion in #2066

[2019-04-06 19:25] #2044 closed

[2019-04-07 13:00] ajavadia opened #2091 "Visualize readout errors in qiskit_backend_monitor"
### What is the expected enhancement?
Currently the backend monitor shows single_qubit and cnot errors in the heatmap.
<img width="363" alt="image" src="https://user-images.githubusercontent.com/8622381/55683934-6ed1ba80-5913-11e9-8fc4-77bf4cadbc4c.png">

Given that readout errors are much higher than single_qubit errors, I propose to show the readout errors of qubits instead.

[2019-04-07 19:00] ajavadia opened #2092 "Need to show active wires in multi-qubit gates drawn in latex"
### What is the expected enhancement?
This is a follow up issue to #2049 that introduces the ability to render multi-qubit gates in the latex_drawer. When a gate acts on non-adjacent qubits, drawing just a box can be confusing. This can be fixed by putting small numbers inside the box to indicate the order of wires on which the gate acts.

[2019-04-07 19:01] #1925 closed

[2019-04-07 21:20] #1348 closed

[2019-04-07 21:20] #1881 closed

[2019-04-07 21:59] nonhermitian commented on #1881
Is there a test that makes sure the pre bug circuit is the same as the new circuit returned?

[2019-04-07 22:28] #2035 closed

[2019-04-08 09:04] diego-plan9 commented on #1206
Should be finally closed after #2095 :tada:

[2019-04-08 09:09] diego-plan9 commented on #927
I think the original description contained some ideas not only related to the running time of an individual job, but for the situation as a whole. Still, I do agree this issue has become rather stale and the individual job times don't play such a big part currently, and it makes sense to re-evaluate the situation in a new one if needed - so indeed closing.

[2019-04-08 09:09] #927 closed

[2019-04-08 10:09] #1206 closed

[2019-04-08 11:04] diego-plan9 commented on #1170
I think there are, but hopefully they can be discussed as new issues individually if needed, as the rationale seemed to be very bound to the circular import issue - feel free to reopen if you feel they are better suited in this one! :+1:

[2019-04-08 11:04] #1170 closed

[2019-04-08 13:18] #1942 closed

[2019-04-08 17:30] nonhermitian commented on #2091
Agreed

[2019-04-08 17:32] nonhermitian opened #2097 "mpl circuit drawer fails for empty circuit"
### Information

- **Qiskit Terra version**: 0.7.1
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-04-08 17:48] mtreinish commented on #2097
This should have been fixed by #1866. Can you check if you still have this issue on master? I can push up a patch adding a test for this (since no output and no exception is easy to test against) to verify it doesn't regress in the future.

[2019-04-08 17:52] nonhermitian commented on #2097
Ok cool.  I am currently travelling and making slides from `0.7` so do not have time to check.  But it does look like that PR solves the problem, so feel free to close.

[2019-04-08 17:52] #2097 closed

[2019-04-08 18:01] 1ucian0 commented on #1384
any update @npdeep ?

[2019-04-08 18:03] npdeep commented on #1384
I will try to make a PR by this weekend.

[2019-04-08 18:22] taalexander opened #2098 "All parameters in pulse defaults model are required"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behaviour?
Result returned by the backend will fail validation if a `pulse_library` is not supplied. Certain backends such as simulators will not have a `pulse_library` or `meas_frequency` as they do not make sense within the context.

### Steps to reproduce the problem
Call `backend

[2019-04-08 18:47] daveshen2019 commented on #1641
Thanks for the advice. I revert back to qiskit 0.7, and it worked. For my intent&purpose, qiskit0.7 works fine.  I filed a bug under qiskit #579 and got an answer that explains this.  Since then, it should be fixed.  However, i am still using 0.7 since i am fine with it.
https://github.com/Qiskit/qiskit-tutorials/issues/579

[2019-04-08 19:03] chriseclectic opened #2099 "Can't build latest Terra on MacOS"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.6
- **Operating system**: MacOS 10.14.4

### What is the current behavior?

When following the build from source instructions I get a build error and can no longer use latest version of terra.

### Steps to reproduce the problem

[code]

[code]

### What is the expected behavior?

setup build successfully

### Suggested so

[2019-04-08 20:49] klcon opened #2102 "barrier allows qubit reordering"
### Information

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.1
- **Operating system**: Windows 10

### What is the current behavior?

An inserted barrier allows system to reorder, or act the circuit on different qubits than those declared.

### Steps to reproduce the problem

Even without cnots to avoid the possibility of mapping issues, place single qubit rotations on n qubits, th

[2019-04-08 22:16] kdk commented on #2102
Hi @klcon , thanks for reporting this issue. Do you have an example circuit where you're seeing unexpected behavior?

I just tried on v0.7 what I think was your circuit and saw the following:
[code]

[2019-04-08 22:29] klcon commented on #2102
Hi @kdk, Thanks for the quick response.

In more detail, I chose qubits [0,6,11,5] to receive angles [a0, a1, a2, a3] with a barrier between the application of rotation(a2) and rotation(a3) on qubits 11 and 5, respectively.  The resulting QASM is reflected below.  The barrier is pushed to the end of the angles and the qubits have been reassigned.

compiled_circuit_qasm='OPENQASM 2.0;
\ninclude "qe

[2019-04-09 08:07] #2036 closed

[2019-04-09 17:58] kdk commented on #2102
Hi @klcon , thanks for the details. I was able to replicate this bug!

[code]

This is likely an issue with the `BarrierBeforeFinalMeasurements` transpiler pass, which is coincidentally being substantially refactored in #2045. I'll make sure a test for this case is added once that refactor is complete.

[2019-04-10 14:44] taalexander opened #2109 "Pulse API tests"
### What is the expected enhancement?
The pulse API should have comprehensive unit tests prior to the release of the pulse API. This epic will track the underlying issues for all components of the API.

Pulse API components:
- [x] pulse qobj
- [x] commands
- [x] channels
- [x] schedules
- [x] assembler
- [x] visualization
- [x] samplers
- [x] pulse library
- [x] result extraction

[2019-04-10 22:08] 1ucian0 commented on #2038
#2110 should fix this one

[2019-04-11 12:34] #1919 closed

[2019-04-11 14:25] taalexander commented on #2098
Closed via #2101

[2019-04-11 14:25] #2098 closed

[2019-04-11 14:29] taalexander opened #2114 "Immutable Schedule API"
### What is the expected enhancement?
Pulse `Schedule`s and `Command`s are currently mutable. The consequence of this is that when composing `Schedule`s all underlying `Schedule`s and `Command`s must be copied into the new `Schedule`. If both `Schedule`s and `Command`s were immutable, references to the underlying `Schedule`s and `Command`s could be kept, thus removing this requirement. This will a

[2019-04-11 15:05] itoko commented on #2066
@ajavadia Excuse me, but I had second thought. Swapper passes must consume a virtual circuit and return a physical circuit. More generally, Mapper passes  must consume a virtual circuit and return a physical circuit. And ApplyLayout pass can be seen a special Mapper pass that cannot always solve the mapping problem.

I think the definition of physical circuit is circuit with no crossing wires. Tha

[2019-04-11 23:20] #1941 closed

[2019-04-12 01:31] nkanazawa1989 opened #2116 "BackendConfiguration for Pulse"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

We have no openpulse stuff in backend configuration schema.
[code]

### Steps to reproduce the problem

### What is the expected behavior?
Backend configuration schema has openpulse configuration as optional attributes.

### Suggested solutions
Add

- n_uchannels
- hamilto

[2019-04-12 01:48] nkanazawa1989 opened #2117 "Create configuration class for execute"
### What is the expected enhancement?
Configuration to run backend is directly given to the `execute()` as optional arguments. The number of arguments will be further increased if we make a common interface for circuit and pulse.
To manage these arguments, we need to create configuration class with some validations (for example `meas_level` = 2 and `meas_return` = 'avg' are not valid combination).

[2019-04-12 06:32] nonhermitian commented on #2099
I am not sure that it is an xcode issue, or that you were using a version of xcode that is not compatible with the os version. 9.3 was for osx 10.13 whereas you are using 10.14

[2019-04-13 05:54] ajavadia commented on #1985
This isn't a bug. If you add these two passes before the StochasticSwap, it works.
[code]

The assumption with the way passes are set up is that the embedding stage is itself made up of a few stages (find some good subset of qubits, then mark the other idle qubits as available ancillas (add ancillas to the virtual circuit too to correspond to them)).

The reason we haven't made all of this one pas

[2019-04-13 05:54] #1985 closed

[2019-04-13 19:42] npdeep commented on #1384
@jaygambetta @1ucian0  I have made a PR (https://github.com/Qiskit/qiskit-terra/pull/2123) with a couple of more tests. Would appreciate some feedback. Please do let me know if there are any low-lying tests I am missing.

[2019-04-13 23:16] nonhermitian opened #2124 "qobj_to_circuits does not work for qobj returned by job instance"
### Information

- **Qiskit Terra version**: 0.7.1
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-04-14 00:03] nonhermitian commented on #2099
Removed bug label as this is just an error from using an old version of xcode on 10.14

[2019-04-15 05:51] #1161 closed

[2019-04-15 12:52] ajavadia opened #2125 "bad output for composite gates in text drawer"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
When drawing a composite gate on non-adjacent qubits, the text drawer sometimes prints the gate name multiple times.

[code]

[code]

[2019-04-15 13:46] chriseclectic commented on #2099
This can probably be closed.

[2019-04-15 13:46] #2099 closed

[2019-04-15 14:08] 1ucian0 commented on #2125
with master? Where is from `Unitary` coming from?

[2019-04-15 15:55] #2125 closed

[2019-04-15 17:09] 1ucian0 opened #2128 "equality of instruction initialize does not work"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

When compare two circuits with `initialize`, equality fails when it should not.

[code]

### What is the expected behavior?

Same as other gates, `initialize` should support equality as other gates.

[2019-04-15 20:10] #2128 closed

[2019-04-15 20:11] 1ucian0 commented on #1384
Closed via https://github.com/Qiskit/qiskit-terra/pull/2123

[2019-04-15 20:11] #1384 closed

[2019-04-15 20:58] mtreinish opened #2131 "Deepcopy usage causes 3x performance regression"
### Information

- **Qiskit Terra version**: master
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

In #1816 we redefined the instruction class so it didn't carry the qargs and cargs internally. However, this change broke how we were doing dag->circuit and circuit->dag in `qiskit.converters.dag_to_circuit()` and `qiskit.converters.circuit_to_dag()` respect

[2019-04-15 21:06] 1ucian0 commented on #2057
work around is to set an empty passmanager to the transpiler for your case.

[2019-04-15 22:42] nonhermitian commented on #2057
But then the circuits just get packaged to a qobj which is not what I want.

[2019-04-16 01:51] 1ucian0 commented on #2057
It seems to me that the optimization pass should be "basis-aware". For example, a `HGateCancellation` would make sense with this base but not our current `Optimize1qGates`...

[2019-04-16 04:21] ajavadia opened #2133 "BasicAer gateset too limited"
### What is the expected enhancement?
The transpiler relies on some basic simulations for certain optimizations (example: #2134).
In order to not introduce dependency on Aer, it has to use BasicAer, but that means the circuit has to be unrolled to the `u1, u2, u3, cx` basis first. This is not ideal, as the transpiler may lose some optimization opportunities, say with 3-qubit gates.

Instead, Basic

[2019-04-16 04:57] #1948 closed

[2019-04-16 05:48] #1221 closed

[2019-04-16 05:55] ajavadia commented on #1283
fixed via #1778

[2019-04-16 05:55] #1283 closed

[2019-04-16 12:16] bjader commented on #2073
Hi @ajavadia, thanks for your hard work and for finding the root of this problem. Looking forward to the fix in the next release.

[2019-04-16 14:26] ajavadia opened #2136 "Pass to remove reset in the beginning of circuit"
### What is the expected enhancement?
We need a pass that removes `reset` operations if they are immediately after "in" nodes.

A more advanced version of this would involve analyzing whether the qubit is in the 0 state, potentially even in the middle of the circuit.

[2019-04-16 15:35] ajavadia commented on #2032
I think doing this list this way is cumbersome:
```[q[0], None, None, None, None, None, q[1], ....]```

This is simpler:
```{q[0]: 0, q[1]: 5}```

(although slightly more verbose for small devices: ```[q[1], q[0]]```

But let's check if removing the list breaks 0.7.

[2019-04-16 15:41] ajavadia commented on #2032
Maybe we keep both. But let's clearly document the philosophy behind both.

[2019-04-16 16:18] #1580 closed

[2019-04-16 16:18] #1965 closed

[2019-04-16 19:12] #2102 closed

[2019-04-16 19:47] ajavadia commented on #2087
For level 2, internally we have hex not bitstring.

[2019-04-16 20:42] #2087 closed

[2019-04-16 20:45] 1ucian0 commented on #2136
PR #2139 should fix this!

[2019-04-16 22:15] #1935 closed

[2019-04-16 22:53] nonhermitian commented on #2032
The list is not the same mapping as the dict. This is the issue. If keeping both we really need to spell out the usage of the list format and make clear its an inverse.

[2019-04-17 00:13] #2136 closed

[2019-04-17 00:18] nonhermitian commented on #2091
Actually no sure about this. Usually only measure once, but have many 1q gates. Should probably have way to display all. Will think about this.

[2019-04-17 00:31] jaygambetta commented on #2091
We should not show the measurement  over the single qubit errors.  If we want to show both we can split the circles in two

[2019-04-17 00:49] nonhermitian commented on #2091
I think that varying the qubit size might be a good visual for the readout error.

[2019-04-17 02:50] itoko opened #2141 "Pulse naming issues"
We have several naming issues in Pulse-frontend classes/modules/methods:
- [ ] Inconsistency in Channel, PulseCommand, Schedule: PulseCommand -> Command?
- [ ] common module -> remove and move contents to top-level?
- [ ] Inconsistency in DriveInstruction applied to OutputChannel: OutputInstruction or rename OutputChannel? Rename both (to PulseInstruction and PulseChannel)?
- [ ] channels module h

[2019-04-17 13:43] taalexander commented on #2087
The labels may have been a misnomer. external is (qobj) internal is (qiskit).