[2018-05-23 13:20] nelimee opened #498 "Missing CX gate time in backend parameters"
Missing CX gate time in backend parameters

## Expected Behavior
Provide data about `CX` gate application time in the `backend` instances.

## Current Behavior
It is impossible for user to recover automatically the time needed to apply a `CX` gate on a given backend. The information is still given in the [backend log page](https://github.com/QISKit/qiskit-backend-information/blob/master/backends/t

[2018-05-23 15:39] nonhermitian opened #500 "Dependency versions might conflict with some environments (conda)"
## Expected Behavior
Installing QISKit via `pip` breaks a `conda` installation if the already installed packages do not meet the requirements in `requirements.txt`.  Because the overwritten packages are installed via `pip`, the `conda` environment is not aware that they are there, nor what version they are, so one can not simply `reinstall` or `upgrade` via `conda`.  Moreover, the packages install

[2018-05-24 11:25] rraymondhp opened #503 "queue_position and pending_jobs are not consistent"
It seems that the `queue_position` is always of the multiplicity of three.

## Expected Behavior

## Current Behavior

The pending jobs is 6, but the queue_position is 21...
[code]
But ...
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Python 3.6.1):
* Operating System and version:

[2018-05-25 10:25] rraymondhp opened #507 "Inverting a quantum circuit"
I can create a circuit for generating arbitrary quantum superposition with `initialize()` function.
I know there is a call to `inverse()` function within the `initialize()`. So, it should be easy to do that (just do not execute that call to `inverse()`).

But I cannot find a way to inverse a circuit I obtain from the `initialize()` nor for any quantum circuit that I have.

## Expected Behavior

Ac

[2018-05-25 12:12] #503 closed, assigned to nobody

[2018-05-25 16:16] rraymondhp opened #511 "Bug in circuit addition"
**WARNING**: *All the circuits I was testing were generated with `initialize()`*

The circuit can be constructed by combining two or more circuit. But adding circuits obtained from `initialize()` gives the wrong result. When having `circuitC = circuitA + circuitB` what we get is `circuitC = circuitA.inverse() + circuitB.inverse()`.

## Expected Behavior

`circuitC = circuitA + circuitB` instead.

[2018-05-29 10:05] #500 closed, assigned to nobody

[2018-06-05 11:43] #511 closed, assigned to nobody

[2018-06-17 03:41] #507 closed, assigned to nobody

[2018-09-06 00:12] #498 closed, assigned to nobody

[2018-11-19 04:20] jaygambetta opened #1293 "load_qasm example should use the quantumcircuit"
### What is the expected behavior?

Need to update the load_qasm with the new from file qasm load.

[2018-11-19 08:30] #1293 closed, assigned to jaygambetta

[2018-11-20 16:40] 1ucian0 opened #1308 "A check_map analysis pass is needed"
### What is the expected enhancement?

In https://github.com/Qiskit/qiskit-terra/pull/1270#issuecomment-439951585 @ajavadia raised the need to have a pass to check if a circuit is compatible with a coupling map.

[2018-11-26 03:36] #1308 closed, assigned to 1ucian0

[2018-11-27 19:51] 1ucian0 opened #1346 "The methods "get_something()" should be "something()""
@jaygambetta expressed discontent with methods of the shape `get_something()`. It seems he is not [the](https://stackoverflow.com/questions/374763/should-i-use-get-set-prefixes-in-python-method-names) [only](https://python-consistency.readthedocs.io/en/latest/conventions.html#properties) [one](https://github.com/sovetov/python-style-guide#names).

A quick grep returned:

- [x] ~`qiskit/tools/visua

[2018-11-27 21:55] ajavadia opened #1348 "Swap mapper fails with certain inputs"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Mapper issue reported by @maikatakita

[code]

[code]

Yields:
[code]

[2018-12-05 20:01] ajavadia opened #1435 "Need to test all transpiler passes leave input DAG intact"
### What is the expected enhancement?
We have defined transpiler passes as producers of a new DAG, not modifiers of the DAG that they read. As such, we need a test to check that for all passes in `qiskit.transpiler.passes`, the input DAG stays intact.

[2018-12-07 16:51] nonhermitian opened #1449 "circuit.draw(output='mpl) does not draw qubit labels correctly."
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: osx

### What is the current behavior?
Using Latex:
<img width="603" alt="screen shot 2018-12-07 at 11 49 43 am" src="https://user-images.githubusercontent.com/1249193/49661112-39c16400-fa16-11e8-8610-70a1d89474e6.png">
Using MPL:
<img width="496" alt="screen shot 2018-12-07 at 11 50 21 am" src="

[2018-12-07 18:10] #1449 closed, assigned to mtreinish

[2018-12-17 01:35] jaygambetta opened #1523 "Change the name Lookaheadmapper and basicmapper"
### What is the expected enhancement?
In the folder, it is not clear what is a mapper and what is not. My view (also @ajavadia) is all steps are a mapper. Mapping is all things combined: swap insertion, fix direction, unroll to native gates, etc.

- [x] Unroller
- [ ] LookaheadSwap
- [ ] StochasticSwap should happend in (#1520)
- [ ] BasicSwap
- [ ] LayoutSelect should happen in (#1499)
- [x] CXDi

[2018-12-17 13:27] ajavadia opened #1528 "Remove `deepcopy` from `circuit_to_dag`"
### What is the expected enhancement?

It's very slow.

[2018-12-18 12:37] #1528 closed, assigned to mtreinish

[2018-12-18 21:31] 1ucian0 opened #1552 "CX Cancellation does not cancel the sequence cx1, cx2, cx2, cx1"
The following code should result in empty circuit after CX cancellation:
[code]
The current result is:
[code]

[2018-12-18 22:23] #1523 closed, assigned to ajavadia

[2018-12-19 00:10] #1552 closed, assigned to nobody

[2018-12-20 11:25] jaygambetta opened #5 "Tests are failing"
We need to get the test passing.

[2018-12-20 13:13] jaygambetta opened #6 "Include qiskit aqua and qiskit-chemistry in mega"
We need to start making the plan to include qiskit aqua and qiskit chemistry into the default package.

There are many things to discuss.

- [x] Structure of package. I suggest it goes qiskit.aqua.blah and qiskit.aqua.chemistry.

- [x] the GUI and should not be part of the default so it needs to move to another repo

- [ ] do we make an execution for aqua look and feel like qiskit terra

[2018-12-20 18:22] diego-plan9 commented on #5
Fixed via #7 - a runtime library  was missing in some travis environments.

[2018-12-20 18:22] #5 closed

[2018-12-22 16:40] jaygambetta opened #9 "qiskit documentation"
# Qiskit documentation

This document summarizes the flow for updating the documentation for Qiskit
that ends up being available at:

https://qiskit.org/documentation/

This is complicated as it needs to draw from multiple places.

## https://qiskit.org/documentation/

This is made from the repo **Qiskit** using the files:
- /doc/index.rst
- /doc/overview.rst
- /doc/install.rst
- ... rst conversti

[2018-12-22 16:46] jaygambetta commented on #9
@atilag and @chriseclectic to get the docs for aer going you only really need an overview as you have the contributing and the release notes and two tutorials.

[2018-12-22 16:53] jaygambetta commented on #9
@pistoia how does this simplifying of documentation process change your current docs in aqua and chemistry.

[2018-12-22 22:39] pistoia commented on #9
@jaygambetta Right now the process of generating the documentation of Qiskit Aqua and Qiskit Chemistry is somewhat convoluted because we wanted to merge the two documentation trees into one in spite of them coming from two separate repositories (see https://github.com/Qiskit/qiskit-aqua/blob/master/docs/README.md).  I think this process is going to simplify and unify everything so it's good.

[2018-12-23 14:02] jaygambetta opened #12 "make the visualization install option work in the readme update the readme as needed"
Install with visualization dependencies

There are optional dependencies that are required to use all the visualization functions included in Qiskit. You can install these at the same time by running:

pip install qiskit[visualization]

which will install qiskit and all the visualization dependencies.

see the install https://github.com/Qiskit/qiskit/blob/master/docs/install.rst

[2018-12-23 14:53] jaygambetta opened #13 "write a road map for qiskit"
In the main doc/roadmap.srt. we need to move the various wiki roadmaps to one place and update for 2019.

[2018-12-25 03:36] jaygambetta opened #15 "write a script that gets the list of authors"
I think we need to have a file that check all the repositories for contributors and puts them together as a list in a file that is linked to in the readme rather than just linking to contributors to this repo.

[2018-12-26 14:39] diego-plan9 commented on #9
I added the first bit (building locally via `make doc` at #16). For the automation, I think we need to refine the flow with the help of other people involved (basically decide how the different projects "plug" their documentation into the main one). Which brings me to ...

I'd basically be happy with whichever @abdonrd finds more convenient, as it seems mostly a deployment question! I do like the

[2018-12-26 14:45] jaygambetta commented on #9
I don’t know why if we move it all here we even need it in the other repositories. Look at tensorflow

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/docs_src

We could do the same with a readme going here.

The problem with that is how do we auto generate the sdk.

I would like only one place and then auto updating  for the rest.

[2018-12-26 14:47] #13 closed

[2018-12-26 14:58] jaygambetta opened #17 "Aqua roadmap"
@pistoia could you please update the doc/roadmap.rst for the aqua section.

Thanks

[2018-12-26 14:59] jaygambetta opened #18 "Aer roadmap"
@chriseclectic i put something in for Aer but i don't really like it could you update the Aer section of doc/roadmap.rst

[2018-12-28 19:11] ajavadia opened #1618 "remove test/python/common.py"
### What is the expected enhancement?

Needed as a follow up to #1616

[2018-12-28 20:43] pistoia commented on #18
@chriseclectic please add a paragraph on the noise models.  @jaygambetta added a TODO embedded into the Aer roadmap.  I removed it from the text so the description is cleaner, so I am making this comment here in order for us not to forget the TODO entered by Jay.

[2018-12-29 18:17] #17 closed

[2018-12-30 05:19] #1618 closed, assigned to nobody

[2018-12-31 18:03] #18 closed

[2019-01-08 10:34] delapuente opened #27 "Qiskit is failing when updating to 0.7 from previous versions"
The root cause of https://github.com/Qiskit/qiskit-terra/issues/1599 is as follows:

When upgrading, `pip` resolves the dependency tree of a package so that dependencies are installed before dependants. Finally, it installs the target package. During any of these installations, if there is a previous version of the package, `pip` first uninstalls the previous version, then it installs the new one.

[2019-01-09 11:35] diego-plan9 opened #28 "Add theme to documentation"
### What is the expected behavior?

Currently the documentation uses the default theme - we should spice it up and bring it in line with the qiskit.org overall design.

A first step would be to move the theme from `terra` - it might be a bit too specific (ie tied to terra quirks) at the moment, but we can start from it and tweak further. I'm self-assigning, but might need frontend help at some poi

[2019-01-09 11:35] diego-plan9 commented on #28
Related to #9

[2019-01-13 16:28] jaygambetta opened #37 "community projects"
In documentation, I want to make a file that has a list of community projects using qiskit.

The file should be
docs/community_qiskit.rst

and it would have a list of projects using qiskit to do cool things.

This would have so far (thanks @akarazeev to maintaining this project as a community project)

https://github.com/akarazeev/qiskit-slack-bot

I am sure there are more projects that we should

[2019-01-15 09:10] diego-plan9 commented on #28
Closing as the theme has been added - tweaks to it can be tracked in a future issue.

[2019-01-15 09:10] #28 closed

[2019-01-15 15:38] diego-plan9 opened #39 "Automate pushing rendered documentation"
In a similar way that `terra` documentation was handled, we should set up the CI and the project so documentation ends up being pushed to qiskit.org. Ideally:
* allow keeping both the "stable" documentation (the one relevant to published packages) and the "master" (the one for more bleeding edge users) available (and maybe older versions too?).
* for chapters where the main content is rendered fro

[2019-01-15 17:36] ajavadia opened #40 "Instructions on how to build rst from jupyter"
Let's include these in the developer guide

[2019-01-15 21:19] mtreinish commented on #40
Is this just for the tutorials or will there be other notebooks to include. I'm planning to port Qiskit/qiskit-terra#1268 to automate the process for tutorials so there isn't anything extra to do when you run a docs build it will pull and convert the tutorials.

[2019-01-17 03:35] t-imamichi commented on #27
The solution looks great. Do I still need to update the install.rst as requested in https://github.com/Qiskit/qiskit-terra/issues/1599#issuecomment-452061591?

[2019-01-18 06:08] t-imamichi commented on #27
Did it ship with qiskit-0.7.1? I tried to upgrade qiskit-0.6.1 to 0.7.1 by `pip install -U qiskit`, but it fails. I attach the [log](https://gist.github.com/t-imamichi/cb7ab7c3294fa116e6cba53f8770026d).

[2019-01-18 16:06] delapuente commented on #27
Thank you for the log: it's been very helpful. I've updated the description to reflect what happens.

[2019-01-19 16:21] ajavadia opened #1697 "Unroller basis should be explicit"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently there is an assumption in the transpiler's unroller pass that if the circuit cannot be unrolled to the given basis, it will just unroll down to `U` and `CX`, which are universal.

However this is a bit magic, and we should move towards requiring the basis

[2019-01-22 01:09] JuanIgnacioAdame opened #1706 "Additional timing information beyond `eval_time` when running variational algorithms available in aqua"
### What is the expected enhancement?

My understanding is that when running the QAOA implementation in aqua, the only timing information you can retrieve is the total wall-clock time, which is returned as the value of the key `eval_time` in the results dictionary.  My understanding is that `eval_time` consists of the sum of the varying time in the queue, the classical optimization process involvi

[2019-01-22 05:16] #27 closed

[2019-01-22 10:46] haraldschilly opened #46 "version info mismatch"
### Informations

- **Qiskit version**: 0.7.1
  - I installed it from PyPI via `pip3`
- **Python version**: 3.6.7
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
Mismatching version information.

### Steps to reproduce the problem
This is in an ipython3 shell:

[code]

### What is the expected behavior?

Both are 0.7.1

### Suggested solutions

Fix the qiskit package hosted

[2019-01-22 17:14] delapuente commented on #46
Well, this is not that easy. The version reported by `qiskit.__version__` is the Terra version which remains in `0.7.0`. It is the meta-package `qiskit` the one being updated. @jaygambetta do you have some opinion regarding this?

[2019-01-22 19:29] #1706 closed, assigned to nobody

[2019-01-22 19:38] jwoehr opened #47 "Qiskit doesn't build on IBM i PASE (libperfstat is AIX-only)"
### Informations

- **Qiskit version**: 0.7.1
- **Python version**: 3.6.7
- **Operating system**: IBM i 7.3 PASE

### What is the current behavior?
building 'psutil._psutil_aix' extension
    creating build/temp.os400-powerpc64-3.6
    creating build/temp.os400-powerpc64-3.6/psutil
    creating build/temp.os400-powerpc64-3.6/psutil/arch
    creating build/temp.os400-powerpc64-3.6/psutil/arch/aix

[2019-01-22 19:45] jwoehr commented on #47
Really a psutil problem. Please ignore

[2019-01-22 19:45] #47 closed

[2019-01-23 13:31] jaygambetta commented on #46
can we get a version in this repo and then use that with qiskit.__version__

[2019-01-23 13:50] diego-plan9 commented on #46
I think that is a bit the chicken-and-egg that @delapuente commented - since `terra` (the package) is actually represented as the top namespace (ie. `import qiskit` really "imports terra"), `qiskit.__version__` is not "free" or available for the meta-qiskit package

 I'm not sure we can answer the two cases (get the meta-qiskit version, and get the terra version) via  `qiskit.__version__` with the

[2019-01-23 13:56] jaygambetta commented on #46
but why does version need to be in terra? Since the version is qiskit. I dont mind making qiskit.__terra_version and so on for each element and component.

[2019-01-23 17:42] delapuente commented on #46
What if the user installs `qiskit-terra` only. Shout she see the version of Terra or the version of the meta-package (even if she did not install it)?

[2019-01-24 12:04] diego-plan9 opened #48 "Add information about working with several repositories"
Coming from https://github.com/Qiskit/qiskit-ibmq-provider/issues/24#issuecomment-456883485, now that we have several repositories and projects that have dependencies on each other, it would be beneficial to have a slightly more formal set of instructions _aimed for developers_ on how to work with several repositories at the same time, as it is relatively common that working on `qiskit-foo` `maste

[2019-01-24 18:14] jlatone commented on #48
I'm going to build-and-install-all-of-qiskit-from-repos from scratch again, also following the guidance under "Setup with an Environment" here https://github.com/Qiskit/qiskit-aqua/blob/master/.github/CONTRIBUTING.rst, "To better contribute to Qiskit Aqua, we recommend..."

[2019-01-29 04:55] pistoia opened #51 "The .. topic:: directive does not get rendered properly"
Based on the template used to render the documentation's RST files in HTML, the `.. topic::` directive does not render properly.  Consider, for example, the following snippet of RST code:
[code]
Using a regular template, this is how the `.. topic::` directive above gets rendered:
<img width="812" alt="image" src="https://user-images.githubusercontent.com/11150011/51885014-b9551a80-2357-11e9-87ae-6

[2019-01-30 03:42] ajavadia opened #1729 "Avoid redefining decompositions for non-parametric gates"
### What is the expected enhancement?
The unroller pass depends on decompositions that are defined per gate, and expands those gates according to those decomposition rules.

For gates such as crz, cu1, cu3, rx, ry, rz, rzz, u1, u2, u3, the decomposition depends on the parameter, and so each gate instance can have its own decomposition.

However, for all other gates, this is redundant and can start

[2019-01-31 09:29] nonhermitian opened #1730 "StochasticSwap mapper fails when given no initial_layout if qreg does not use all qubits in coupling_map"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
I created a pass manager as follows:
[code]
to mimic the default set of passes.  However, when running a circuit through it I get the following error (for a width 5 circuit) in the StochasticSwap:

[code]
It seems that this is because the coupling map (in th

[2019-02-02 19:15] pistoia opened #53 "Aqua documentation is not being rendered on qiskit.org"
Now that the Qiskit Aqua and Qiskit Chemistry documentation has been transferred to this repository, what do we need to do to automatically update the qiskit.org/documentation Web site?  Countless users are asking for the documentation to be made available to them.

[2019-02-02 19:17] pistoia opened #54 "Adding a CODEOWNERS file in .github"
Can we add a `CODEOWNERS` file in `.github` so that people responsible for a particular element of Aqua can more easily update the relevant documentation?

[2019-02-03 01:45] #15 closed

[2019-02-03 02:04] jaygambetta opened #56 "add to contributing how to make the documentation."

[2019-02-03 02:10] jaygambetta opened #57 "Qiskit Module reference <autodoc/qiskit>"
this links to qiskit but i think we should do this by subsections of the elements?

[2019-02-03 04:26] jaygambetta opened #58 "citation should be alphabetical from the last name"
same with the author file

[2019-02-03 13:08] jaygambetta commented on #39
@diego-plan9 and @abdonrd I'm fine if we start doing this now. Each time this repo is updated the doc pushes from docs to qiskit.org/documentation

[2019-02-03 13:08] jaygambetta commented on #53
closing as covered by #39

[2019-02-03 13:08] #53 closed

[2019-02-03 13:12] jaygambetta commented on #9
I am closing this as we have the documentation in this repo now.

[2019-02-03 13:12] #9 closed

[2019-02-03 13:28] jaygambetta opened #60 "set up a DOI for qiskit?"
should we set up a DOI for qiskit --- https://academia.stackexchange.com/questions/81583/are-there-free-doi-generation-services

[2019-02-03 21:03] #56 closed

[2019-02-04 12:16] diego-plan9 commented on #39
Sounds good!

[2019-02-04 18:08] nonhermitian opened #64 "bibtex file has duplicate names"
### Informations

- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Hitomi Takahashi and Hitomi Takahashi
Ismael Faro and Ismael Faro Sertage
Peng Liu and Peng Liu
Stefan Woerner and Stefen Worner
Steve Wood and Steve Wood

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-02-04 18:17] mtreinish commented on #64
The bibtex file is generated using: https://github.com/Qiskit/qiskit/blob/master/tools/generate_bibtex.py from the AUTHORS file which means we have duplicate entries in the AUTHORS file too. We should just delete the duplicate entries from the AUTHORS file and rerun the script.

[2019-02-04 18:57] diego-plan9 commented on #64
While we are at it, can we change also https://github.com/Qiskit/qiskit/blob/master/AUTHORS#L23
`Diego M. Rodriguez` to `Diego Moreda` in the same PR?

[2019-02-04 21:40] mtreinish commented on #12
Oops, sorry I did mean to leave a comment in here a while ago but forgot. The way I wanted to do this (putting `qiskit-terra['visualization']` in the extras list here to avoid duplicating the list and getting things out of sync) didn't seem to work as I intended. So I'm thinking the only option is to just copy the list from qiskit-terra's setup.py and updating both if we ever need to add a require

[2019-02-05 02:38] ajavadia commented on #64
I think @pistoia wanted to do this in #59?

[2019-02-05 03:51] #1730 closed, assigned to 1ucian0

[2019-02-06 13:29] diego-plan9 opened #67 "Misleading indentation of some TOC entries"
Some items/levels in the TOC are shown with the wrong indentation, hindering readability - for example:

<img src="https://user-images.githubusercontent.com/418311/52344291-a78c0b00-2a1a-11e9-925d-9a4cd02177ca.png" alt="toc" style="max-width:100%;" width="400px">

In the screenshot, the `Terra organization` entry is visually at the same level as `Overview`, but the real hierarchy is:
[code]

Pingi

[2019-02-06 17:22] #58 closed

[2019-02-07 00:44] #64 closed

[2019-02-07 14:32] diego-plan9 opened #68 "Qiskit elements image not looking fancy enough on white background"
![elements](https://user-images.githubusercontent.com/418311/52417929-3b2e0c00-2aed-11e9-9a82-52db98b5a642.png)

`docs/images/qiskit_elements` makes use of transparency, but assuming the background is black.

[2019-02-07 14:49] diego-plan9 commented on #67
Following up on the last bit of the comment, currently there are two `<div class="globaltoc">` entries, which might be related. Since each one takes up ~40kb (and we end up producing ~400 files), can we also look into removing this duplicity, as it is also causing some minor issues in non-javascript enabled browsers?

[2019-02-07 15:12] diego-plan9 commented on #40
If using `nbconvert`, it would be worth spending some time reviewing https://nbconvert.readthedocs.io/en/latest/config_options.html to find out which options can be of use to fine-tune the results, and include them in the document (for example, `output_files_dir` and `default_language` would mimic some of the changes in #70, and there might be some other useful ones).

[2019-02-07 16:00] jaygambetta commented on #40
Lets not use the convert the documentation will evolve differently. We should just encourage this to be the web version.

[2019-02-07 16:00] #40 closed

[2019-02-07 16:07] jaygambetta commented on #68
yeah it should be nicer

[2019-02-08 17:54] diego-plan9 commented on #39
After #72, the script for deploying and the travis integration is in place, albeit currently is set to push to a fake directory (and thus not reaching the landing site yet). Next steps are:
* final tests and deploying the first version of the new documentation
* add support for handling both `master` and `stable` documentation versions

[2019-02-11 10:13] cbjuan commented on #60
In this sense, I would like to recommend Zenodo https://zenodo.org/. We can generate a DOI for the main repo (or for each one) and, if needed, we can even have DOIs per released version.

This is an example of a GitHub repository with a DOI using Zenodo. DOI: https://doi.org/10.5281/zenodo.1009617 and the correspondent GitHub repo: https://github.com/cbjuan/paper-ieeeAccess-2017

[2019-02-11 12:28] jaygambetta commented on #60
I am good with this. Do you want to set it up

[2019-02-11 12:29] jaygambetta commented on #54
I don’t think we need this as the Pr are small.

[2019-02-11 12:29] #54 closed

[2019-02-11 12:39] cbjuan commented on #60
Sure, I can do that. Moving to a private channel to discuss some details about this.

[2019-02-11 22:27] cbjuan commented on #60
May it is time to close this issue, @jaygambetta?

[2019-02-12 03:06] #60 closed

[2019-02-12 15:16] t-imamichi opened #78 "IndexError occurs when installing qiskit 0.7.2 with pip 19.0.2"
### Informations

- **Qiskit version**: 0.7.2
- **Python version**: 3.6.7
- **Operating system**: Ubuntu 18.10, macOS High Sierra
- **pip version**: 19.0.2

### What is the current behavior?

`IndexError` occurs when installing qiskit 0.7.2 with pip 19.0.2. pip <= 19.0.1 does not have this issue.

### Steps to reproduce the problem

Run the following commands.
[code]

Get the following result.
[co

[2019-02-12 15:19] t-imamichi commented on #78
Note that I can qiskit 0.7.1 without error.
[code]

[2019-02-12 17:09] Travis-S opened #79 "Documentation appears not to link back to source"
As far as I can tell, there seems to be no links from the Qiskit documentation back to the source code when looking at the docs for functions (e.g., [`qiskit.circuit.classicalregister`](https://qiskit.org/documentation/autodoc/qiskit.circuit.classicalregister.html)). Having links back to source would be nice for users who need a bit more information.

[2019-02-12 17:23] diego-plan9 opened #80 "Publish both stable and development documentation"
### What is the expected behavior?

From #39:

[2019-02-12 17:23] diego-plan9 commented on #39
Closing for tracking the remaining issue at #80.

[2019-02-12 17:23] #39 closed

[2019-02-12 17:25] diego-plan9 commented on #79
Thanks @Travis-S - will be looked into as part of #80, as we can take the chance to look into the possibility of linking to the repository directly.

[2019-02-13 00:16] jaygambetta opened #82 "broken link https://qiskit.org/documentation/_autodoc/qiskit.mapper.html"
### Informations

- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-02-13 00:25] jaygambetta commented on #82
this is not working so there is a bug in the code.

[2019-02-13 01:00] jaygambetta opened #83 "Add transpiler to documentation."
In qiskit terra, we need a section on the transpiler.

I think this should go after visualizing a quantum circuit

[2019-02-13 01:01] jaygambetta commented on #80
Are we going to do this with just a section for development documentation in each element? as a subsection or a new folder that is development form the top level.

[2019-02-13 01:05] jaygambetta commented on #79
i think this is what @Travis-S  wants is some way to open the source code. @Travis-S is this correct?

[2019-02-13 01:06] jaygambetta commented on #78
@atilag this is because of aer. Could you look into it

[2019-02-13 01:13] jaygambetta opened #84 "Removing installation from under aer"
Can we make the installation under aer go away and have all the content in the global install section?

[2019-02-13 01:53] jaygambetta opened #101 "the documenation header and the qiskit.org header should look the same."
The qiskit is too far to the left and the documentation needs to be added to the documentation

[2019-02-13 04:44] t-imamichi commented on #78
I think that it is related to https://github.com/Qiskit/qiskit/pull/45.
If I comment out [setup.py#L61](https://github.com/Qiskit/qiskit/blob/master/setup.py#L61), `pip install` works.
`pip install qiskit==0.7.2` does not create `build` and `dist` directories because of the override of bdist_wheel. So, `os.listdir(tempd)` may be an empty list in the following backtrace.
[code]

[2019-02-13 05:06] jaygambetta opened #86 "simplify the ibm q provider documentation"
between the section install, getting started and running on the real device we explain the same thing three times. Maybe, in the getting started  we don't need explanations of setting up real devices but link back to the install and then the running on ibmq we put after the qiskit elements (before the roadmap) as advanced use of the ibm q provider.

[2019-02-13 12:48] #57 closed

[2019-02-13 16:41] derivation opened #88 "Makefile pointing to wrong directories for aqua and chem autodoc?"
@diego-plan9, can I get a sanity check from you?

### Information

- **Qiskit version**: latest
- **Python version**: 3.7
- **Operating system**: macOS 14.6

### What is the current behavior?

`make doc` errors out while looking for Aqua and Chemistry directories

sphinx-apidoc --output docs/autodoc --separate --implicit-namespaces --module-first -d 16 \
		<PATH_QISKIT>/qiskit_aqua
~/.../qiskit-te

[2019-02-13 17:37] diego-plan9 commented on #82
Actually seems a combination of two things:
* the actual URL may have changed slightly
* we are not rendering documentation for private modules (which is actually related to long-standing https://github.com/Qiskit/qiskit-terra/issues/1206) currently - that seems like the bug

[2019-02-13 17:47] diego-plan9 commented on #80
My thought was along the lines of having two separate URLs (for example, `/documentation` and `documentation/0.7/`), each one containing the fully rendered .html files. This way we can "tie" their deployment to meta-qiskit releases and treat each of the two as separate and isolated entities, moving them around as needed.

[2019-02-13 17:50] jaygambetta commented on #80
Ok

[2019-02-13 17:53] diego-plan9 commented on #88
Good catch @derivation !

https://github.com/Qiskit/qiskit/blob/master/Makefile#L24
[code]
should indeed be
[code]

[2019-02-13 18:10] #68 closed

[2019-02-13 19:07] Travis-S commented on #79
@jaygambetta Yes. Consider [this documentation for a pyQuil program in Forest](https://pyquil.readthedocs.io/en/stable/apidocs/program.html). If a user wants to read the source code itself, they can click the `source` link (near the declaration of the class) and are taken to [a page where they can read it](https://pyquil.readthedocs.io/en/stable/_modules/pyquil/quil.html#Program).

[2019-02-13 19:50] jaygambetta commented on #79
great, i agree. @derivation can you think about the above.

[2019-02-13 19:58] derivation commented on #79
I think this would be much appreciated by users. I'll chat with @diego-plan9 and @lzdanski about how to incorporate this practice. Thanks @Travis-S.

[2019-02-13 20:08] derivation commented on #37
I'm reaching out to Liz D, Sebastian H, and Katie P to pull together a healthy first draft akin to [this design](https://www.tensorflow.org/about/uses).

[2019-02-14 01:42] #88 closed

[2019-02-14 01:43] #82 closed

[2019-02-14 02:08] jaygambetta commented on #37
This is good. Can we also add
-  https://github.com/qutech-delft/quantuminspire

[2019-02-14 02:43] jaygambetta opened #91 "https://qiskit.org/documentation/autodoc/qiskit.unroll.html"
This module was removed from the code would be good to know what its still in the documentation.

[2019-02-14 02:44] jaygambetta opened #92 "can we drop the subpackages and submodule in the TOC. I dont think we need this indent."
<img width="380" alt="image" src="https://user-images.githubusercontent.com/15731369/52759017-6c6c7780-2fd8-11e9-978b-1016f23c4c54.png">

[2019-02-14 02:47] jaygambetta opened #93 "can we drop the submodules under the circuit package (true for other ones as well)"
<img width="347" alt="image" src="https://user-images.githubusercontent.com/15731369/52759180-eb61b000-2fd8-11e9-9ae6-3d29ed9eedf5.png">

[2019-02-14 02:49] jaygambetta commented on #93
In general, the folder within the folders navigation of the autodoc is a bit confusing.

[2019-02-14 02:52] jaygambetta commented on #91
oh, i see forget this. It is because it is using stable not master (which it should as well).

[2019-02-14 02:52] #91 closed

[2019-02-14 02:57] t-imamichi commented on #78
I found that the cause is the latest version of pip==19. I can install qiskit==0.7.2 with pip==18.

[2019-02-14 03:07] t-imamichi commented on #78
I recommend the following workaround to create a new environment for a while. Installing pip==18.1 is essential.
[code]

[2019-02-14 03:13] t-imamichi commented on #78
I found that this particular commit of pip causes this issue.
https://github.com/pypa/pip/commit/61fd802b71edd61ed96ccf748b7f126eb72e6caa

[2019-02-14 04:50] t-imamichi commented on #78
If it raises an exception at [setup.py#L58](https://github.com/Qiskit/qiskit/blob/master/setup.py#L58), it succeeds the installation at last. But, the traceback looks ugly as follows.

[code]

[2019-02-14 11:12] diego-plan9 commented on #79
Thanks for the extended feedback and comments, @Travis-S  - yes, the way we had it setup previously was very similar to the example you mention: we were generating `.html` files for each source file (with syntax highlighting, etc) that were linked from the `autodoc` files (ie. the ones that contain just a description of the functions, arguments, etc). This should be easy to reintroduce (is mostly

[2019-02-14 12:22] diego-plan9 commented on #93
To put things in context, that hierarchy:
[code]

is actually the default Sphinx (autodoc) one. In the pre-meta-qiskit documentation, we used a nifty [third party package](https://github.com/goerz/better-apidoc) for customizing the automatic documentation template (in this case, template means "how the elements are structured around", not CSS template) and the TOC - we could explore using it again

[2019-02-14 12:23] diego-plan9 commented on #92
Just to clarify - this is only aimed at the top-level "Qiskit Module reference" (API Reference) section, right? If so, I think we can attempt to hard-code things a bit (even if it technically seems a byproduct of #93).

[2019-02-14 12:37] jaygambetta commented on #92
yeah from a user ability i find it hard to get to the circuit package etc.

[2019-02-14 12:41] jaygambetta commented on #93
sure but something like https://www.tensorflow.org/api_docs/python to me is simpler to see where we are in the API documentation or even https://pytorch.org/docs/stable/

[2019-02-14 19:29] derivation commented on #84
Yes, I'll write this up.

[2019-02-14 19:56] Travis-S commented on #79
@diego-plan9 Absolutely! That would be a great improvement on the original suggestion.

[2019-02-15 00:23] jaygambetta commented on #83
@ajavadia if you dont have time for this maybe you can put some points down here and @derivation you could try the first version.

[2019-02-15 00:28] jaygambetta opened #95 "visualizing quantum data"
I think we need to think about the visualization section. It is really a visualization of quantum data of something. I think this should also go into the qiskit terra section.

What do you think @derivation?

[2019-02-15 00:30] jaygambetta opened #96 "quantum_info tools documenation."
We should have a section on the quantum tools in terra

[2019-02-15 02:21] jaygambetta opened #97 "in the install qiskit do we need troubleshooting?"
<img width="691" alt="image" src="https://user-images.githubusercontent.com/15731369/52828121-8cae3c00-3095-11e9-88d2-bd1bbc1e6c90.png">

[2019-02-15 02:33] jaygambetta opened #98 "circuit drawing in documentation"
How should we be drawing the circuits in the documentation

Currently it is from the text.

<img width="765" alt="image" src="https://user-images.githubusercontent.com/15731369/52830772-211d9c00-30a0-11e9-998c-b11af17a5efb.png">

@ajavadia do you want it latex or matplotlib?

[2019-02-15 02:44] jaygambetta opened #99 "interactive visualizations"
in the plotting section can we get the interactive visualization showing.

https://qiskit.org/documentation/plotting_data_in_qiskit.html#interactive-histogram-plots-for-jupyter-notebooks

If we can it would be nice to do it for all plot state types.

[2019-02-15 03:04] jaygambetta opened #100 "release history"
can we combine the release history in aer and terra and have it after the roadmap

[2019-02-15 11:02] diego-plan9 commented on #101
Transferred the issue to the meta-qiskit repo, as it is likely a theme issue.

[2019-02-15 11:04] diego-plan9 commented on #80
Labelling also as `theme`, as we need to find a UI-sensible way of linking to different versions or toggling between them.

[2019-02-15 14:48] derivation commented on #97
I had the same thought. No, the first paragraph isn't helpful, and the second one is an edge case not specific to Qiskit.

I'll remove it.

[2019-02-15 15:05] jaygambetta commented on #97
i agree.

[2019-02-15 15:41] derivation commented on #83
@ajavadia if you share the material you presented about the transpiler at the 01/21/2019 Software Talk, I could write a draft of doc about it. I looked in the repo Leron made to store all the talks, but couldn't find it, under IBMQuantum/qiskit-planning

[2019-02-15 15:50] #97 closed

[2019-02-15 16:48] derivation commented on #95
I think the top level doc ToC should not include Visualizations, as it does now. Instead, a more logical break between overview material for all of Qiskit vs each element/component is

Overview
Installing Qiskit
Getting Started
Running on IBM Q Devices
---------
Each element/component
--------
Roadmap
etc.

The current Visualization section could be moved as-is under Terra's section, renamed somet

[2019-02-15 18:19] jaygambetta commented on #95
I agree

[2019-02-15 20:43] derivation commented on #98
Are there plans to have `QuantumCircuit.draw()` able to stylize circuits in the same way as the Quantum Composer? Might that roadmap inform this choice?

[2019-02-15 20:46] derivation commented on #99
@JavaFXpert any thoughts on how this might be done?

[2019-02-15 21:00] derivation commented on #100
Yes, I think it's a good idea to have all of the element/component release notes under one heading off the global ToC, instead of inside each element/component section.

You asked about Aer and Terra. I think we should do this with Aqua at al. too. Thoughts?

[2019-02-15 21:02] ajavadia commented on #98
matplotlib might look better in the docs. it does have a style field as well that you can play with. i also like the professional look of the latex one, but it is currently buggy in some parts.

[2019-02-15 21:22] ericrsong opened #106 "Issue with drawing the circuit (Latex output)"
### Informations

- **Qiskit version**:
qiskit                   0.7.2
qiskit-aer               0.1.1
qiskit-aqua              0.4.1
qiskit-chemistry         0.4.2
qiskit-terra             0.7.0
- **Python version**: 3.7
- **Operating system**: windows 10 x64

### What is the current behavior?
When plotting the circuit, the barrier is not in the correct place when choosing the latex output.

Outpu

[2019-02-15 21:36] #86 closed

[2019-02-15 21:43] jaygambetta commented on #100
Aqua I would leave until it is part of the mega.

[2019-02-15 22:24] jaygambetta commented on #98
I think so with matplotlib. @derivation we dont have an interactive on the roadmap yet but i agree it would be cool to have.

[2019-02-15 22:47] jaygambetta opened #107 "removing the finer control from the install"
<img width="734" alt="image" src="https://user-images.githubusercontent.com/15731369/52888454-b45edc00-3149-11e9-9105-173c8d918763.png">

I think this section we can just link to the advanced information and remove from the install.

[2019-02-16 20:05] isolatedinformation opened #108 "Mapper error when I try to execute QuantumCircuit as an object of a user defined class"
### Informations

- **Qiskit version**: 0.7.0
- **Python version**: 3.6.7
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
/home/varun/.local/lib/python3.6/site-packages/marshmallow/schema.py:364: ChangedInMarshmallow3Warning: strict=False is not recommended. In marshmallow 3.0, schemas will always be strict. See https://marshmallow.readthedocs.io/en/latest/upgrading.html#sc

[2019-02-17 02:57] jaygambetta commented on #80
rather than doing it with a 0.7 can we have something like

<img width="429" alt="image" src="https://user-images.githubusercontent.com/15731369/52907747-b69e6480-3235-11e9-8850-c44c58ae3b28.png">

where you can toggle between the stable and master version of the doc. Or it is a dev/0.7/0.6/0.5

[2019-02-17 04:21] jaygambetta opened #111 "citation in documentation."

[2019-02-17 04:23] jaygambetta opened #112 "how to contribute"
We need to have a section on how to contribute and writing qiskit documentation. Some combination of https://www.tensorflow.org/community/contributing and https://www.tensorflow.org/community/documentation

[2019-02-17 06:51] pistoia commented on #12
@mtreinish @manoelmarques, Jay and I discussed the fact that, since the visualization capabilities in Qiskit come with a special installation option, that installation option should also bring the Aqua and Chemistry GUI wizards.  So when installing Qiskit, the Aqua and Chemistry GUI wizards will only be installed if the visualization option is on.

[2019-02-17 06:52] pistoia commented on #51
@Borjagodoy can you help with this issue?  Thank you.

[2019-02-17 12:29] jaygambetta commented on #48
I think this should go in this section

[2019-02-17 23:34] #100 closed

[2019-02-18 02:51] #95 closed

[2019-02-18 06:46] QUTINGYU commented on #78
I confirm this solution is feasible!

[2019-02-18 08:09] Borjagodoy commented on #51
Yes Today i have any time to fix the differents issues of frontend in the DOC

[2019-02-18 09:12] diego-plan9 commented on #80
But would that imply that the only part of the documentation that has two versions is the "API references"?  It is likely to be the section that contains more changes, but I believe the rest of the documentation might change between versions as well - that is partly why I suggested just having each version self-contained in different URLs (ie. as two independent sets of .html files, etc).

[2019-02-18 14:44] derivation commented on #107
I agree. Will do.

[2019-02-18 14:52] JavaFXpert commented on #99
To get the interactive widgets working in the Qiskit documentation , this page would need to be connected to a Jupyter kernel. Perhaps it would be good to use the same Jupyter backend that IQS uses, so that it is always on.

Regards,
James Weaver

On Fri, Feb 15, 2019, at 3:46 PM, Paul Kassebaum wrote:

[2019-02-18 15:09] derivation commented on #112
Definitely. I was just talking to Diego about this. I'm on it.

[2019-02-18 15:11] jaygambetta commented on #112
great.

[2019-02-18 15:13] jaygambetta commented on #99
I dont think this is correct. If we say the data and since the interactive visualizations are in java script i think this can be done. @ismaelfaro or what you do you think.

[2019-02-18 15:14] #107 closed

[2019-02-18 15:29] nonhermitian commented on #99
In order for this to work there would have to be some png representation of the js object that can be stored. The ipywidgets have a store state option in the notebooks, but this only works in the notebooks as they are also JS.

[2019-02-18 17:11] JavaFXpert commented on #99
I assumed that the goal was to make the widgets interactive in the Qiskit docs. Is the goal to just display static images of the interactive widgets in the Qiskit docs?

On Mon, Feb 18, 2019, at 10:29 AM, Paul Nation wrote:

[2019-02-18 17:13] jaygambetta commented on #37
Added a skeleton in #115

[2019-02-18 18:21] nonhermitian commented on #99
Currently they show nothing. So anything is an improvement. The problem is that we need some way of storing the js state from a notebook, to rst text, and then revive it in html for interactive to work. And all automatically. I am unuse has how to do this

[2019-02-18 19:05] jaygambetta commented on #99
@nonhermitian you are mixing two different things up. One is the addition to make it show in the qiskit tutorial and the other is to render on a webpage. Here let's focus on the webpage, not the qiskit tutorial.

[2019-02-18 20:45] #112 closed

[2019-02-18 21:31] derivation commented on #48
@diego-plan9 would the proposed instructions for working with multiple Qiskit repos be different than simply going through the instructions laid out in each repos' CONTRIBUTING guide one by one? I don't think I'm catching the subtleties of the conversation you had [here](https://github.com/Qiskit/qiskit-ibmq-provider/issues/24#issuecomment-456577073). In the context [Jay suggested above](https://q

[2019-02-19 11:48] #101 closed

[2019-02-19 12:48] delapuente commented on #78
Hi @t-imamichi, thank you for digging into this. I came with the same conclusion you notice at https://github.com/Qiskit/qiskit/issues/78#issuecomment-463488764. I believe there is some way for suppressing the exception but also produccing an error in the `pip` code allowing the creation of the wheels to be aborted. Let me check and thank you agains for all the thoroughful work.

[2019-02-19 14:31] francabrera commented on #99
after talking with @diego-plan9, I took a look to the `.. raw:: html` tag in Sphinx, and it seems that we could include in the docs the JS file of the visualizations so you would be able to write code blocks in the docs calling the javascript functions passing the data to plot them on an interactive way @diego-plan9, @carlosazaustre and Borja are going to give this approach a chance and create an

[2019-02-19 15:34] derivation opened #120 "add table for Aer Provider in docs/components.rst"
@chriseclectic can you add a table for the aer provider as per #116 ?

[2019-02-19 15:41] #78 closed

[2019-02-19 15:52] atilag commented on #48
Actually we don't, but that would be great, for sure.
On `Aer` we are pointing towards `master` branch of qiskit-terra in Travis, and similar techniques are being used locally in our development workflow.
Maybe having a `nightly` package could help with making things easier for everybody, but there's a lot of burden/overhead on keeping a `nightly` package. We can discuss this later

[2019-02-19 15:56] derivation opened #121 "add component status info for Aqua in docs/components.rst"
@pistoia  can you add component status info for Aqua as per #116  ? Thanks.

[2019-02-19 16:11] derivation commented on #96
Besides [the code itself](https://github.com/Qiskit/qiskit-terra/tree/master/qiskit/quantum_info), is there any explanatory material on this today?

[2019-02-19 16:19] derivation opened #123 "Add instructions on how to create a provider"
Based on https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/creating_a_provider.ipynb

[2019-02-19 16:29] jaygambetta commented on #96
@chriseclectic could you help @derivation on this.

[2019-02-19 16:40] 1ucian0 commented on #83
There is some write down in `qiskit-terra/qiskit/transpiler/README.md` that needs some updating.

[2019-02-19 18:33] lerongil opened #125 "Page refreshes when different top topics are selected"
Example: Clicking from Overview to Installing Qiskit refreshes the entire page which makes it look likea new page is generated. I believe this is a theme issue.

[2019-02-19 18:49] derivation commented on #125
Leron, can you link to an example of another doc site that does not exhibit this behavior? It's not reading to me as a bug.

[2019-02-19 19:02] lerongil commented on #125
Here are a few examples of the user experience I would expect:

https://developer.dji.com/mobile-sdk/documentation/introduction/index.html
https://code.visualstudio.com/docs/editor/integrated-terminal
https://www.tensorflow.org/guide/keras

While some of these do have a slight load time between each page, its negligible in comparison to the qiskit.org/documentation.

[2019-02-19 19:14] derivation opened #126 "user testing showed confusion with install instructions"
Users were confused by Conda,

- not clear what a virtual environment is,
- why it has a name that they can choose freely, and
- that they need to open Jupyter notebooks from within the environment.

[2019-02-19 19:52] #84 closed

[2019-02-19 20:27] derivation commented on #98
I'm going through the doc, updating the circuit diagrams as necessary. I'm starting with the global Getting Started material.

[2019-02-19 21:22] #51 closed

[2019-02-19 21:29] derivation commented on #125
@diego-plan9 any thoughts on this performance issue?

[2019-02-19 21:37] derivation commented on #83
@ajavadia tells me the transpiler is going through some significant flux, so we'll wait til it settles down in a week or so before documenting it.

[2019-02-19 21:53] derivation commented on #126
on second thought, this is not typically explained in developer-focused materials from comparable open-source projects.

[2019-02-19 21:53] #126 closed

[2019-02-20 08:36] diego-plan9 commented on #125
There is certainly some non-optimal behaviour in the TOC expanding, although rather than performance I think is more a usability issue - will probably be tackled along with #67.

[2019-02-20 09:55] pistoia commented on #51
Thanks, @Borjagodoy, it looks great.

[2019-02-20 11:13] Borjagodoy commented on #51
The works is of @carlosazaustre :) he is the new Frontend expert for the Doc, good job!!!

[2019-02-20 12:03] carlosazaustre commented on #125
The examples provided are SPAs (Single Page Application). In those kind of websites the page is not "reloading" at route changing because JavaScript (Front-side) is in charge of the routes, and right now we are using a server-side routing.

Sphinx provided a method called `singlehtml´ that @francabrera thinks would be work.

I will work on it.

[2019-02-20 12:44] diego-plan9 commented on #48
I think what might be missing it is a bit that "glues" all the parts together, which I believe was what prompted @jlatone in the first place - as in, instructions on to interact with different packages at the same time. I'll try to draft something from the different sources, aiming for keeping it minimal, and see how it fits.

[2019-02-20 13:21] derivation opened #129 "getting_started references wrong circuit drawing PNG file"
Second `getting_started_with_qiskit_circuit_0.png` should be `getting_started_with_qiskit_circuit_1.png`

[2019-02-20 14:39] #129 closed

[2019-02-21 04:41] t-imamichi commented on #78
@delapuente FYI. pip 19.0.3 is also released to [fix the issue](https://github.com/pypa/pip/issues/6252). I confirmed that pip 19.0.3 can install qiskit 0.7.2 without error as follows.
[code]

[2019-02-21 15:26] #48 closed

[2019-02-21 15:38] diego-plan9 opened #133 "Replace ipython3 code blocks with python"
Currently there are a number of
[code]
blocks which are not rendered in the final .html files as the `ipython3` highlighter is not provided by stock sphinx (they seem to be in the aer documentation - as in https://qiskit.org/documentation/aer/device_noise_simulation.html#device-noise-module). In #70 some of them were changed manually to:
[code]
can we do a round of replacing them, probably also re

[2019-02-21 15:58] derivation commented on #133
You've definitely diagnosed this correctly. I used nbconvert in the Aer doc.

[2019-02-21 17:28] #123 closed

[2019-02-21 18:06] #133 closed

[2019-02-22 01:17] jaygambetta opened #138 "API for provider"
@derivation and @diego-plan9 I see that you did a nice job in the docs for creating a provider. However, what I was thinking is something slightly different. I would like to better define our API. I was thinking we should have a section called the provider API. This would be defined what it is and what is required etc. Then i think in this we should link to the tutorial for creating the API. I don

[2019-02-22 14:06] derivation commented on #138
Ah, yes, I understand. I'll give this another try.

[2019-02-22 15:31] derivation commented on #96
@chriseclectic What do you think of this structure? Each section would explain the tools in a context of their use, akin to [this example doc](https://www.mathworks.com/help/matlab/math/eigenvalues.html).

Terra
- Quantum Information
  - Measurement
    - [analyzation/average.py/](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/quantum_info/analyzation/average.py)average_data
  - Distanc

[2019-02-23 01:28] jaygambetta commented on #138
cool.

[2019-02-23 13:21] #37 closed

[2019-02-23 14:51] jaygambetta opened #141 "Mega and procedure for update of patches"
### What is the expected behaviour?

I think that the mega patches need to link with an exact qiskit element version. For instance the line

https://github.com/Qiskit/qiskit/blob/2fdba884b2decaa38fc38315e04c1500e54e6218/setup.py#L17

should be

[code]
This way for each patch version of qiskit we know what elements are in it and we say this in the release tag. Then our rule should be if we patch an

[2019-02-23 14:52] nonhermitian commented on #141
100% agree.

[2019-02-24 10:36] nonhermitian opened #143 "Update windows build instructions for Terra"
[This](https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2017) should be the default build method.  Less than half the size of VS.

This should be assigned to me.

[2019-02-25 01:18] jaygambetta opened #144 "Add a Changelog.md to this repo"
### What is the expected behavior?

[2019-02-25 12:41] mtreinish commented on #141
I'm definitely fine with hard pinning in the meta-repository. Just to outline what we're expecting here. The current versions are `qiskit==0.7.3`, `qiskit-aer==0.1.1`, and `qiskit-terra==0.7.0`.

Let's say we release a new minor version of terra to fix https://github.com/Qiskit/qiskit-terra/issues/1838 as a minor version `qiskit-terra==0.7.1` then to correspond with that release we bump that requi

[2019-02-25 12:56] jaygambetta commented on #141
This is good with me. I think we should have a procedure where all repos say a patch is coming or a minor is coming and a period for coordinationed releases as well

[2019-02-25 17:36] mtreinish commented on #78
@t-imamichi oh, that's a good point I'd like to revert #119 then if the issue is fixed in pip 19.0.3. The workaround in #119 causes an error during the install and it can be confusing.

[2019-02-25 18:57] t-imamichi commented on #78
I think 0.7.2 still causes an error intentionally as the relase note says https://github.com/Qiskit/qiskit/releases/tag/0.7.2. It is introduced to deal with https://github.com/Qiskit/qiskit/issues/27

[2019-02-25 19:11] mtreinish commented on #78
@t-imamichi right, the workaround in #27 will always be necessary as long as we support migrating from `qiskit-terra<0.7.0` to `qiskit>=0.7`. I'm specifically talking about the wheel building error being printed by pip with #119. #119 was added to workaround the breaking change in behavior that was reverted in pip 19.0.3 so it's no longer needed. #119 introduces a non-fatal error to the build proc

[2019-02-26 00:52] #67 closed

[2019-02-26 18:29] #143 closed

[2019-02-26 18:32] derivation opened #153 "add development strategy section"
Put

- roadmap.rst
- components.rst
 - **versioning.rst**

all under a top level heading "Development Strategy".

[2019-02-26 19:54] #141 closed

[2019-02-26 20:38] lucainnocenti opened #155 "Bunch of errors when installing qiskit with pip on MacOS Sierra"
I tried to install qiskit following the [documentation](https://qiskit.org/documentation/install.html) page, on MacOS Sierra 10.12.6, python 3.7.2 anaconda distribution, but I get a series of errors.

Notably, the installation is still somewhat successful, in that I *can* import qiskit afterwards, but still something is clearly going wrong during the installation.

More precisely, what I did was c

[2019-02-26 20:52] mtreinish commented on #155
So that failed to build wheel output is expected it was introduced in #119 (and was the key patch for the 0.7.3 release) as part of a larger workaround. It's safe to ignore and should not be fatal. This is why it successfully installed right after it printed the error. You should be able to actually use qiskit after your first `pip` command succeeded.

As for the other error output in the log. Tha

[2019-02-26 20:52] #155 closed

[2019-02-26 20:53] mtreinish commented on #78
@t-imamichi https://github.com/Qiskit/qiskit/issues/155 is another example of the user confusion having #119 in place causes.

[2019-02-26 21:55] t-imamichi commented on #78
I agree. The warning message scares users. But, I have no idea to solve the upgrading issue without the warning message.

[2019-02-27 12:28] peng456 opened #156 "Is there a Chinese documentation here?  "

[2019-02-27 14:08] derivation commented on #155
@mtreinish

Should the doc be revised? If so, what do you recommend it say instead?

[2019-02-27 14:27] mtreinish commented on #155
@derivation that line in the doc should probably be:

`pip install -U 'qiskit-terra[visualization]' qiskit-aqua qiskit`

at least until we address #12

[2019-02-27 16:24] lzdanski commented on #156
Hi! We're working on our new documentation translation strategy right now so that our community members can easily add translated content to the docs. We haven't yet incorporated Chinese documentation yet.

You can track the other work for translations that's ongoing here: https://github.com/Qiskit/qiskit-terra/issues/1677

[2019-02-27 16:39] lucainnocenti commented on #155
@mtreinish  I see, that makes sense. I would amend the docs though: the reason I used `pip install qiskit visualization` is that I tried using the command mentioned in the docs, `qiskit[visualization]`, but that didn't work.

Actually, looking at the output again I see that that error was likely caused by the shell misinterpreting it:

[code]
I guess zsh interprets the square brakets as something

[2019-02-27 16:48] mtreinish commented on #155
@lucainnocenti yeah zsh (which I'm also a user of) interprets `[]` as part of a regex pattern by default. So you'll need to escape it with either `\[\]` or `'[]'`. So in that example what I typically do is run `pip install -U 'qiskit[visualization]'` (although because of #12 you'll find that has no difference from `pip install -U qiskit`)

[2019-02-28 00:39] #1697 closed, assigned to Max-Reuter

[2019-02-28 05:35] delapuente commented on #141
I'm afraid I don't understand the advantage of pinning the "patch" numbers. What is the advantage? What are the issues that support changing this?

[2019-02-28 13:10] #153 closed

[2019-02-28 19:25] derivation commented on #121
@pistoia I've moved this material into a section called **Component Status** in /docs/development_strategy.rst

[2019-02-28 19:25] derivation commented on #120
@chriseclectic  I've moved this material into a section called **Component Status** in /docs/development_strategy.rst

[2019-02-28 20:12] derivation opened #161 "hone getting started"
hone existing getting started with Qiskit material to have it incorporate best practices demonstrated by [Watson Assistant](https://console.bluemix.net/docs/services/assistant/getting-started.html#gettingstarted) and [Google Maps](https://developers.google.com/maps/documentation/javascript/adding-a-google-map).

[2019-03-03 02:07] jaygambetta commented on #144
@mtreinish can you make this.

[2019-03-04 15:10] #144 closed

[2019-03-04 18:09] carlosazaustre commented on #99
This is still a WIP but I think we can achieve. I need to work with the styles a little bit.
I will keep you updated.
Thanks @francabrera for the examples an the `html` tag recomendation in Sphinx.

![image](https://user-images.githubusercontent.com/650752/53753152-d928b280-3eb0-11e9-84e8-ac105e4caa4b.png)
![image](https://user-images.githubusercontent.com/650752/53753160-db8b0c80-3eb0-11e9-8ae9-8

[2019-03-04 18:11] derivation opened #166 "visual redesign of Ignis framework schematic"
Make [this image](https://github.com/Qiskit/qiskit/blob/master/docs/images/figures/ignis_overview.png) fit in the visual aesthetic of Qiskit.

[2019-03-05 14:33] t-imamichi commented on #98
FYI. There is a tutorial of matplotlib circuit drawer. https://github.com/Qiskit/qiskit-tutorials/blob/master/to_sort/circuit_drawing.ipynb

[2019-03-05 15:38] derivation opened #169 "fix font styles in Ignis measurement_calibration and rb"
most of the emboldened words should be styled as code

[2019-03-06 19:52] pistoia commented on #6
@jaygambetta @mtreinish we have addressed the following two issues:
- Packages are now called `qiskit.aqua` and `qiskit.chemistry` as we discussed with Jay.  We preferred `qiskit.chemistry` over `qiskit.aqua.chemistry` for simplicity and also for consistency with the name of the corresponding element (Qiskit Aqua) and chemistry component (Qiskit Chemistry).
- Qiskit Aqua and Qiskit Chemistry inclu

[2019-03-06 20:24] dliloch opened #171 "qiskit does not install on the raspberry pi - stretch"
Get the following error when using pip3 install qiskit as instructed..
pip3 install qiskit
Gave me:
Could not find version that satisfies the requirement qiskit-aer==0.1.1 (from qiskit) (from version 0.1.0) No matching distribution found for qiskit-aer==0.1.1 (from qiskit)
Any guidance would be appreciated.. thanks.

[2019-03-06 20:28] #169 closed

[2019-03-07 19:33] wpballa commented on #171
I hacked at this for a while on a model 3 B+. For the cryptography module you need libffi-dev
sudo apt-get install libffi-dev
pip3 install -U qiskit qiskit-aer
but this fails with a  segmentation fault during the list of successfully installed modules. Apparently, the blas module is not getting fully installed as I get an error on libf77blas.so.3 when loading python modules in qrasp. It does appea

[2019-03-08 11:25] #166 closed

[2019-03-08 18:57] taalexander opened #173 "Proposals/RFCs: Communicate and collaborate on broad design changes"
Currently, there is no forum for proposing large scale Qiskit changes to our developers and community members. Github issues are better suited to smaller changes and do not easily serve as a wide-reaching, persistent and amendable document. Consider this recent [Terra issue](https://github.com/Qiskit/qiskit-terra/issues/1713) which is providing an overview of the proposed Pulse API. It was necessa

[2019-03-09 18:52] dliloch commented on #171
Bill,
Thanks for the reply.. I followed your instructions but I did sudo pip3 install -U qiskit qiskit-aer
I got to a point where it could not find opensslv.h .. so I installed libssl-dev
Got failed building wheel for qiskit
But then continued with running setup.py clean for qiskit
The “wheels” take forever!..
Failed to build qiskit .. but it keeps going ..with
Installing collected packages:... an

[2019-03-10 15:04] dongreenberg commented on #173
+1, great idea

[2019-03-11 14:29] derivation commented on #83
@ajavadia has the transpiler's design settled enough to revisit this issue?

[2019-03-11 18:19] ajavadia commented on #83
@derivation almost, there's still one more change to the function signature that needs to be made, and then i will get back with some examples

[2019-03-12 00:39] wpballa commented on #171
Don,
Thanks, that worked, but only on a clean install of the 11-18 stretch lite version. I had independently installed SciPy and NumPy on the system for an earlier project, and there must be some version conflict between Qiskit and the Raspian version.
Bill

[2019-03-12 13:23] derivation commented on #93
@carlosazaustre I looked into this a bit.

sphinx-contrib/apidoc has a stale enhancement [issue](https://github.com/sphinx-contrib/apidoc/issues/5) to support this use case.

[This forum discussion](https://stackoverflow.com/questions/21003122/sphinx-apidoc-section-titles-for-python-module-package-names) addresses the issue at the top level, but does not address the issue at the submodule level.

[2019-03-12 15:09] eddieschoute opened #175 "Include hyperlinks to relevant sections and source"
I was looking for information about the multi-controlled Toffoli gate in the documentation and found the oracles section. Which says

https://qiskit.org/documentation/aqua/oracles.html
but it is not a hyperlink. So after some more searching I find the actual description of mct which says

https://qiskit.org/documentation/aqua/algorithms.html
but again this is not a hyperlink. (Luckily it is the se

[2019-03-13 15:35] carlosazaustre opened #176 "clicking on "Documentation" makes the header tabs change"
Issue related to [this one](https://github.com/Qiskit/qiskit.org/issues/103) open by @ajavadia in Qiskit.org repository.

### What is the current behavior?
Clicking in any link change the header tabs

### What is the expected behavior?
The header must be consistent on Qiskit.org website and Documentation site.

### Suggested solutions
I need to update the header for the Documentation site

[2019-03-13 18:06] #176 closed

[2019-03-13 19:48] derivation commented on #96
I'm working on this now. Should be done in a day or two.

[2019-03-14 06:02] carlosazaustre opened #178 "bug on tutorials tab link"
The link on tutorials tab header doesn't go to the correct link

[2019-03-14 15:08] #178 closed

[2019-03-14 15:20] nonhermitian opened #180 "There is no search in the documentation"
Usually there is a way to search through Sphinx docs.  For example:

https://docs.scipy.org/doc/numpy/index.html
https://matplotlib.org/contents.html
http://qutip.org/docs/latest/index.html

[2019-03-14 15:40] derivation commented on #180
Relevant instructions for adding a search bar
https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_sidebars

[2019-03-14 15:46] derivation commented on #180
@carlosazaustre it looks like a search bar can be added by creating a stylized version of [this design](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/searchbox.html) and then adding the file to the relevant list in the Sphinx configuration file as per [these instructions]( https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_sidebars).

Would you be abl

[2019-03-14 18:43] carlosazaustre commented on #180
I'll take a look and try it out to see if it works correctly.
@derivation, thanks a lot for providing the instructions :)

[2019-03-15 03:41] #46 closed

[2019-03-15 14:33] derivation commented on #12
@mtreinish I noticed that for qiskit 0.8.0,

`pip install qiskit[visualization]`

throws the warning message

`qiskit 0.8.0 does not provide the extra 'visualization'`

and installs successfully.

Should the [install doc](https://qiskit.org/documentation/install.html#install) no longer recommend running `pip install qiskit[visualization]` to get the visualization tools?

[2019-03-16 02:52] mtreinish commented on #12
Yeah, this is still an open issue. I have been meaning to circle back to this to come up with a fix (I keep getting side tracked on other issues). Until this issue is fixed we should probably update the docs to say `pip install qiskit-terra[visualization]` to install the visualization dependencies.

[2019-03-18 16:59] #180 closed

[2019-03-23 01:59] ishapoval opened #184 "IBMQ.enable_account(..) tries to instantiate a deprecated simulator when discovering backends"
### Informations

- **Qiskit version**: 0.8.0
- **Python version**: 3.6.7
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
Remote backend "ibmqx_qasm_simulator" could not be instantiated due to an invalid config: {'backend_version': ['Missing data for required field.'], 'gates': {0: {'name': ['Missing data for required field.'], 'parameters': ['Missing data for required fiel

[2019-03-27 02:03] ordmoj commented on #171
Thanks much @wpballa and @dliloch for this post. Got stuck on my qiskit 0.61 to 0.7 upgrade on the Qrasp (PI 2B). Per your tip above had to resort to `pip3 install -U qiskit qiskit-aer qiskit-ignis` to get it to power through. Also had issues with wheel, and not everything seems to have "taken". Enough there to run the Qrasp though. Qiskit 0.7 support now validated: https://github.com/ordmoj/qrasp

[2019-03-27 08:09] lukasszz opened #186 "Link to PySCF_end2end does not exists"
### Informations

Qiskit online documentation.

### What is the current behavior?
Going to:
https://qiskit.org/documentation/aqua/chemistry/qiskit_chemistry_execution.html#execution-modes
and in the subsection "Programming an Experiment Step by Step" there is a link to "PySCF_end2end tutorial". The target link: https://github.com/Qiskit/qiskit-tutorials/blob/master/chemistry/PySCF_end2end.ipynb sh

[2019-03-30 11:23] daveshen2019 opened #187 "'pip install qiskit' not working with python3.7"
### Informations

- **Qiskit version**: latest version
- **Python version**: 3.7
- **Operating system**: windows 10

### What is the current behavior?
I was able to install qiskit successfully while running python 3.6, pip version 10.
However, running python 3.7, and pip 19.3.0.  'pip install qiskit' failed:
"""Collecting qiskit
Could not find a version that satisfies the requirement qiskit-aer==0

[2019-03-31 05:28] daveshen2019 commented on #187
I have done the following since I opened this issue:
1. installed the previous python version that worked with qiskit
2. upgrade the pip version to 19
It did not work and produced the same err message.

[2019-03-31 08:05] daveshen2019 commented on #187
Hi, I spend more time on it, and made some progress:
1. i revert back qiskit from 0.8.0 to 0.7.0.  qiskit 0.7.0 worked.  qiskit 0.8.0 does not (for me)
1. install the individual module separately, and here is the progress:
![image](https://user-images.githubusercontent.com/48633747/55286414-752ec800-5350-11e9-8102-07fb80229fee.png)
the modules in blue color are installed successfully
the modules i

[2019-03-31 21:00] imvieira commented on #187
[code]

[2019-03-31 21:20] imvieira commented on #187
Mine worked. I had to use the pip from version 3.7.

[code]

[2019-04-03 23:26] imvieira opened #193 "AttributeError: 'str' object has no attribute 'configuration'"
[code]
# Following error:

[code]

[2019-04-04 13:36] mstypulk commented on #193
Hi Igor. In the line:
`job_1 = qk.execute([test_Z,test_X],backend='local_qasm_simulator',shots=1000)`
you are setting the backend parameter to a string of the name of the device you want to run the job on. Doing this will return the error you saw.

The way you should set which backend you want to run your job on is as follows:
1. Store the backend you want to use in a variable by using `get_backen

[2019-04-04 17:43] #186 closed

[2019-04-06 12:48] lzdanski commented on #161
Walking through [Getting started with Qiskit](https://learnqiskit.gitbook.io/developers/getting-started-with-qiskit/developing-and-running-quantum-programs), and taking notes on the user experience for this issue.

**As-is**:
On the general [**Installing Qiskit**](https://qiskit.org/documentation/install.html) page, all installation commands point to `qiskit-aqua`. I would expect to download and i

[2019-04-07 21:20] #1348 closed, assigned to nobody

[2019-04-08 13:55] lzdanski commented on #161
* Move content from Qiskit Terra from source to Qiskit/terra github repo contributing file
* remove from docs directory

[2019-04-08 14:31] lzdanski commented on #161
* How do users verify the installation was successful? What's the equivalent of `qiskit --version`?

[2019-04-09 11:41] daveshen2019 commented on #187
thanks.  it turns out python3.7 works.  it is the qiskit0.8 not work well for me.  i revert qiskit back to 0.7.0 and it worked.

[2019-04-09 11:42] #187 closed

[2019-04-09 17:14] lzdanski commented on #161
https://github.com/Qiskit/qiskit/pull/195

[2019-04-09 19:46] derivation commented on #161
@lzdanski in the Install doc, the build Terra from source link points to the Terra contributing file, which then points to a doc page. Could you edit the Terra contributing file to have the install from source instructions directly in the contributing file?

[2019-04-10 14:20] lzdanski opened #196 "Add alt-text to all images in Qiskit docs"
Qiskit docs contain 53 images and 0 images are associated with alt text.

**To-do**: Add alt-text to images in the following files.

[code]

**Aer**

- [x] device_noise_simulation.rst (3)

- [x] simulate_experiments.rst (2)

- [x] simulate_statevectors.rst (2)

**Qiskit**

- [x] getting-started.rst (6)

- [x] install.rst (2)

- [x] overview.rst (1)

**Ignis**

- [x] overview.rst (1)

**Terra**

-

[2019-04-11 13:23] fvarchon opened #197 "Failed building wheel for qiskit"
### Informations

- **Qiskit version**: 0.8.0
- **Python version**: 3.7.3
- **Operating system**: Windows 10

### What is the current behavior?
Each time we are doing 'pip install qiskit' in a new python env this message occur after collecting all the packages:
____________________________
Building wheels for collected packages: qiskit, networkx, mpmath, pycparser
  Building wheel for qiskit (setu

[2019-04-11 14:03] yaelbh commented on #197
Happens also on Linux, confused me too (-:

[2019-04-11 14:34] mtreinish commented on #197
So that failed to build wheel output is expected it was introduced in #119 (and was the key patch for the 0.7.3 release) as part of a larger workaround. It's safe to ignore and should not be fatal. This is why it successfully installed right after it printed the error. You should be able to actually use qiskit after your first pip command succeeded.

This has been something that constantly causes

[2019-04-11 14:34] #197 closed

[2019-04-11 14:50] fvarchon commented on #197
Sure no problem, thank you for your answer.

[2019-04-13 12:10] imvieira commented on #187
Yeah (＾ｰ^)ノ, there are multiple command installed

[2019-04-15 13:49] JoseManuelBerenguer opened #198 "Unable to reinstall qiskit after a while"
Hello,

Some time ago, I installed qiskit and jupiter under anaconda and it worked quite well. Some examples did never work; nevertheless this was not a problem to learn some concepts about quantum computing.

After that, I have been working for a while in a lot of other things and now, beeing unable to run qiskit again, I decided uninstall ad reinstalling it. QISKitenv has also been removed from

[2019-04-17 12:14] diego-plan9 commented on #79
I issued #200 for reintroducing the source link using the original approach (ie. include additional rendered .html that contains the source), aiming for the source links being present in the upcoming major release.

For being able to link to github, it would be worth exploring [sphinx.ext.linkcode](http://www.sphinx-doc.org/en/master/usage/extensions/linkcode.html) instead, that offers a `linkcode

[2019-04-22 13:36] esobimpe commented on #193
I already did all these, but I'm still getting the same problem.
Here is a sample of my code:

import qiskit as qk
from qiskit import Aer
my_backend = Aer.get_backend("qasm_simulator")
qr = qk.QuantumRegister(2)
cr = qk.ClassicalRegister(2)
qc = qk.QuantumCircuit(qr,cr)
print(qc.h(qr[0]))
measure_Z = qk.QuantumCircuit(qr,cr)
print(measure_Z.measure(qr,cr))
measure_X = qk.QuantumCircuit(qr,cr)
test

[2019-04-22 13:41] mstypulk commented on #193
Hi @esobimpe,
The error is most likely being raised from this line:
```job_1 = qk.execute([test_Z,test_X],backend='my_backend',shots=1000)```

You are inputting `my_backend` as a string in the execute function, which is what is causing the error. Since you already created `my_backend` as a variable, you do not need to surround it with quotes, you can just input it like this:
```job_1 = qk.execute(

[2019-04-22 13:43] esobimpe commented on #193
Sorry for causing you troubles, that works pretty well, thanks very much

On Mon, Apr 22, 2019 at 8:41 AM mstypulk <notifications@github.com> wrote:

--
“A hundred times every day I remind myself that my inner and outer life
depend on the labors of other men [and women], living and dead, and that I
must exert myself in order to give in the same measure as I have received
and am still receiving.”

[2019-04-24 18:55] lzdanski commented on #198
Hi Jose, I just updated some of the [installation docs](
https://qiskit.org/documentation/install.html#install), to address some similar feedback.

Some of those error messages are expected, and it looks like someone else has hit a similar `sympy` problem (see this [Slack conversation](https://qiskit.slack.com/archives/C9YTUV077/p1553064741039600))

@maddy-tod recommended using `pip install qiskit

[2019-04-26 20:32] ninofiliu opened #209 "Schema validation get thrown for empty circuit"
### Informations

- **Qiskit version**: 0.1.1
- **Python version**: 3.6.7
- **Operating system**: Linux 4.15.0 Ubuntu

### What is the current behavior?

I am building an *"empty circuit"* - a circuit with no measurement, no barrier, no gate, only a 1-bit quantum register whose vector state I want to print. `execute` fails on it because of schema validation, but if I add one gate, the error is gon

[2019-04-27 01:00] ajavadia commented on #184
Hi, I think this problem is resolved. The next release should be fixed. @diego-plan9 can you confirm?

[2019-04-27 01:02] ajavadia commented on #209
This has been fixed on master, the new release will not have this problem.

[2019-04-27 01:02] #209 closed

[2019-04-27 01:03] ajavadia commented on #193
Thanks @mstypulk for helping resolve the issue.

[2019-04-27 01:03] #193 closed

[2019-04-27 01:08] ajavadia commented on #198
@JoseManuelBerenguer It is likely that your `sympy` is a conda installation, and pip cannot update it. So please try this and let us know if it solves your problem:
[code]

[2019-04-29 14:14] nonhermitian opened #212 "new copyright statement"
### What is the expected behavior?
The following copyright statement must replace the old one in all the files:

[code]
where `XXXX` is the date of the file in question.

[2019-04-30 08:14] diego-plan9 commented on #184
I think the original report (regarding the `ibmqx_qasm_simulator` at that point in time) has indeed been resolved - it was likely a temporary hiccup, as qiskit was unable to understand what the API was returning for that particular backend.

I'm closing accordingly - please reopen if you are still encountering this problem.

[2019-04-30 08:14] #184 closed

[2019-04-30 15:47] #212 closed

[2019-05-01 15:34] we-taper opened #218 "Provide conda package"
### What is the expected behavior?

Could you provide a conda or conda-forge source for `qiskit`.

[2019-05-01 20:03] derivation opened #220 "update Release History"
Update the [Release History](https://qiskit.org/documentation/release_history.html) doc page using the change logs of each Qiskit element and a synopsis.

- [Terra](https://github.com/Qiskit/qiskit-terra/blob/master/CHANGELOG.rst)
- [Aer](https://github.com/Qiskit/qiskit-aer/blob/master/CHANGELOG.rst)
- [Aqua](https://github.com/Qiskit/qiskit-aqua/blob/master/CHANGELOG.rst)
- [Ignis](https://githu

[2019-05-01 20:06] mtreinish commented on #220
At least on the terra side I got this started with: #211 and the continuation of it is in progress on #213

[2019-05-02 09:46] nonhermitian commented on #218
We have of course considered this. The main issue is that all of the dependencies must also be conda packages. Thus we would need to create and maintain those if the original authors cannot or are unwilling.

[2019-05-02 14:32] nonhermitian opened #222 "Packages installed from source get overwritten if meta is installed, even if versions are higher"
### Informations

- **Qiskit version**: master
- **Python version**:
- **Operating system**: osx

### What is the current behavior?
If an user has the elements installed individually from source, for example, then if the user installs the meta-package, or another package depends on the meta-package, e.g. JKU provider, then the source installed versions get overwritten, even if their version number

[2019-05-02 14:35] nonhermitian opened #223 "Installing elements from source requires a specific order"
Installing elements from source requires the following order of installation to prevent getting versions of elements that may be lower than those desired if the pip version is behind the source versions.

1. Terra
2. Ibmq-provider (if wanting to connect to the IBM Q devices or online simulator)
3. Aer
4. Ignis
5. Aqua

[2019-05-02 14:40] mtreinish commented on #222
This is the tradeoff of having pinned 1:1 mappings between meta-package version. Installing `qiskit` is basically telling pip to install very specific versions of everything. `pip install -I` might workaround that but I'm not sure. That all being said the JKU provider requirements are wrong I pushed up https://github.com/Qiskit/qiskit-jku-provider/pull/65 to fix it

[2019-05-02 14:44] nonhermitian commented on #222
Ok, that makes sense.  It is unfortunate that doing a canonical `setup.py install` runs into issues here, but I agree that pinning the versions in the meta is a higher priority.

[2019-05-02 16:41] #223 closed

[2019-05-02 16:42] #111 closed

[2019-05-02 17:00] #198 closed

[2019-05-02 19:18] #196 closed

[2019-05-02 20:17] #98 closed

[2019-05-03 02:04] #220 closed

[2019-05-03 02:26] #6 closed

[2019-05-03 03:51] mtreinish opened #229 "Add mailmaps to element repos"
### Informations

- **Qiskit version**: master
- **Python version**: n/a
- **Operating system**: n/a

### What is the current behavior?

Right now when you run the script used to generate the authors list (and then by extension the bibtex file)  it returns a lot of duplicate names or short names for people. This is because we're not so great about maintaining consistent on the author fields in git

[2019-05-03 07:54] we-taper commented on #218
Hi @nonhermitian , thanks for the reply.

I think then it helps if the install requirements are documented also in qiskit, and therefore people using conda could conveniently install the dependencies as suggested [here](https://www.anaconda.com/using-pip-in-a-conda-environment/).

From my experiments, I found that:

The following packages are inside conda:

The following packages are inside conda-

[2019-05-03 11:40] nonhermitian commented on #218
Also pylatexenc is required for the latest version and is not in conda.

To be clear, I am all in favor of a conda package, and am a conda forge member on github. However, the reality is that we would need to devote manpower to maintaining repos, and trying to make our somewhat convoluted packaging scheme work as a conda package.

[2019-05-03 14:52] nonhermitian opened #234 "Aer section of release_history has links for PR numbers"
### Informations

- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The Aer section of the `release_history.rst` has lnks that point no where for the PR numbers.  For example the first line in the Aer 0.2 section:
[code]
where ```:pull_aer:`192``` is highlighted as a link that just points to itself.

### Steps to reproduce the problem

### What

[2019-05-03 18:46] derivation commented on #234
@nonhermitian that RST syntax is for a Sphinx extension called [extlinks](https://www.sphinx-doc.org/en/master/usage/extensions/extlinks.html) and creates the appropriate links in the [HTML doc](https://qiskit.org/documentation/release_history.html#aer-0-2)

So, I'd say that this is not a bug.

[2019-05-03 18:51] derivation opened #237 "update Getting Started for Qiskit 0.9"
qiskit.tools.visualization -> qiksit.visualization

**Simulating Circuits using Qiskit Aer** doesn’t use Aer

[code]
should just pass `backend`

[2019-05-03 18:55] derivation opened #238 "update Contributing for Qiskit 0.9"
Needs link to Ignis repo.

Install Terra from source.  Step 4. Pip install . Means install qiskit-terra to the current working directory, so it’s not really installing. Should be `python setup.py install`.

[2019-05-03 18:56] derivation opened #239 "merge release notes under Aqua ToC tree into release notes at top of ToC"
Aqua has its own release notes section https://qiskit.org/documentation/aqua/release_history.html

Should be merged into https://qiskit.org/documentation/release_history.html

[2019-05-03 18:57] mtreinish commented on #238
Umm I'm not sure what you think is wrong with step 4 on the terra install, but `pip install .` means install the package located in the current working directory. Which at that point in the instructions is the terra repo root. It is essentially the same as calling `python setup.py install` see my comment in It doesn't mean install to the current working directory.

[2019-05-03 18:58] nonhermitian commented on #234
Huh, your right.  Those link texts that were in the html docs before are now replaced with the correct links

[2019-05-03 18:58] #234 closed

[2019-05-03 18:58] derivation opened #240 "update Install for Qiskit 0.9"
Aqua has its own install instructions, but Aqua is part of the meta package now. Don’t need it anymore.

[2019-05-03 18:58] mtreinish commented on #238
See my comment here for more details: https://github.com/Qiskit/qiskit/pull/207#discussion_r279474595

[2019-05-03 19:00] nonhermitian commented on #238
Ok yes, this is my mistake in reading the pip docs.  However, I still think it should be replaced with `setup.py install` as that is the standard way to install Python packages, not via pip.

[2019-05-03 19:03] mtreinish commented on #238
That was definitely the case pre-python 3.4 (which we don't support anyway) but as things moved forward in the python community (especially after pip is bundled in cpython now) the recommend way to install local packages from source is pip: https://packaging.python.org/tutorials/installing-packages/#installing-from-a-local-src-tree

[2019-05-03 19:05] nonhermitian commented on #238
Fair enough.  Let's stick with pip.

[2019-05-04 15:51] tigerjack commented on #197
@mtreinish just to let you know that the failure happens also with the latest release on a clean virtual environment. It seems that all the packages were correctly installed by the way.

[2019-05-04 16:00] mtreinish commented on #197
Yeah, it's still expected and just as before is not fatal. The workaround which causes the failure message hasn't been removed (it probably won't be for the foreseeable future, because we still want to support upgrades from qiskit<0.7.0 to the latest ).

[2019-05-06 13:55] 1ucian0 opened #245 "Add documentation on how to setup the dag drawer for different OSs"
_For reference, this was originally posted by @jaygambetta in https://github.com/Qiskit/qiskit-terra/issues/2281#issuecomment-489417445_

This is issue is about the second item.

[2019-05-06 16:04] #240 closed

[2019-05-06 20:04] SooluThomas opened #253 "Update design Ignis Framework Schematic"
Update Framework Schematic

[2019-05-06 22:19] #237 closed

[2019-05-07 08:08] #238 closed

[2019-05-07 16:50] derivation opened #259 "update terra/plotting_data_in_qiskit for Terra 0.8 release"
changes such as qiskit.tools.visualization ->qiskit.visualization

[2019-05-07 20:01] #239 closed

[2019-05-07 23:51] #253 closed

[2019-05-08 20:10] derivation opened #261 "minor edits to Release History"
I notice that the periods at the end of bullet points are still hit and miss, “Added Quantum Channels” should be “Added [special font] QuantumChannels [end special font], “before the 0.9 (unless otherwise noted)” — should be followed by “release” or “software release”, Hermititan  should be Hermitian.
non 2^n Sized matrices by default. …  Sized should not be uppercase.  Prior to this it appeared a

[2019-05-08 21:20] #261 closed

[2019-05-09 12:02] jaygambetta commented on #229
sounds good

[2019-05-09 20:07] derivation opened #264 "document Terra 0.8 circuit API updates"
The updates are explained in [this tutorial](https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/advanced_circuits.ipynb).

[2019-05-09 22:07] #259 closed

[2019-05-10 15:09] #120 closed

[2019-05-10 15:10] derivation opened #266 "update Development Strategy for Qiskit 0.10 release"
@lerongil please update [this file](https://github.com/Qiskit/qiskit/blob/master/docs/development_strategy.rst) to reflect the current dev strategy

[2019-05-10 16:06] robertloredo opened #277 "pip uninstall qiskit only removes terra, not the other components"
### Information

- **Qiskit Terra version**: 0.8
- **Python version**: 3.6
- **Operating system**: Mac 10.14.3

### What is the current behavior?

When installing qiskit using pip `pip install qiskit`, it installs various components.

However, when uninstalling qiskit using pip `pip uninstall qiskit`, it only uninstalls qiskit terra.

### Steps to reproduce the problem
Uninstall qiskit version 0.8

[2019-05-10 17:14] ajavadia commented on #83
Ok with the latest release, the transpiler API is mostly stable. There are two tutorials here:
https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/using_the_transpiler.ipynb
https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/writing_a_transpiler_pass.ipynb

@derivation can you please help porting these to the docs?

[2019-05-10 18:40] derivation commented on #83
@ajavadia will do

[2019-05-13 07:03] omarcostahamido opened #268 "Python version required"
Following on some interaction on slack, I suggest reviewing the [required python version](https://github.com/Qiskit/qiskit/blob/master/docs/install.rst) on the documentation.
I was using 3.5.4 which did not allow me to use IBMQ.enable_account() on qiskit 0.7.0 nor install the latest qiskit version.

[2019-05-13 14:48] Matt-Stypulkoski commented on #268
Hi @omarcostahamido,

I just tested installing the latest version of qiskit with python version 3.5.4. I was able to successfully install it.

I also tested using `IBMQ.enable_account()` in qiskit 0.7.0 with python verison 3.5.4, and I it succeeded without an error.

Would you be able to provide what OS you are using, and if you are using a virtual environment of any kind. Also, if you could provi

[2019-05-13 16:21] #264 closed

[2019-05-13 19:40] omarcostahamido commented on #268
Hi @Matt-Stypulkoski ,

I'm running Python 3.5.4 on Mac Mojave.

Regarding installing the latest version, here are the steps I took:
(initially I tried to upgrade from 0.7.0 to the latest version but then i decided to try it from scratch)
- create venv: `$ python3 -m venv MQC8`
- enter venv: `$ source MQC8/bin/activate`
- update pip, because it comes with pip 9.0.1: `$ curl https://bootstrap.pypa.

[2019-05-13 20:28] SooluThomas commented on #268
Hi @omarcostahamido

Upgrade the pip version inside and outside _(if you are using)_ the venv: `pip install --upgrade pip`

Did you obtain the API Token from IBM Q website or are you using the string "MYAPITOKEN"?
Please refer [https://github.com/Qiskit/qiskit-terra/blob/master/README.md#executing-your-code-on-a-real-quantum-chip](here) for details to get the API Token.

[2019-05-13 20:45] omarcostahamido commented on #268
Hi @SooluThomas
If you look at my post again you will see that I am using the updated pip.
I had to use `$ curl https://bootstrap.pypa.io/get-pip.py | ` to upgrade it instead of `pip install --upgrade pip` because the latter [does not work](https://github.com/pypa/pip/issues/5226) with pip < 9.0.3.
I am not using the string "MYAPITOKEN" obviously... I just replaced it here so I would not accidenta

[2019-05-13 20:55] Matt-Stypulkoski commented on #268
I noticed that in your posted `pip list` you had `setuptools 28.8.0`. I know this `pip list` was posted in regards to the `IBMQ.enable_account` issue, but is that also your version of `setuptools` when trying to `pip install qiskit`? If so, I would try to upgrade `setuptools` to the newest version, as from what I've seen many people who receive the `Command "python setup.py egg_info" failed with e

[2019-05-13 21:01] Matt-Stypulkoski commented on #268
Also, just for clarity, did you replace your token with "MYAPITOKEN" in the stacktrace as well? Specifically here:
[code]

[2019-05-14 00:49] omarcostahamido commented on #268
@Matt-Stypulkoski
good catch. Though I tried it and with a new 3.5.4 venv with these packages:
<details><summary>pip list</summary>
<p>

[code]

</p>
</details>

I got this when trying to run `pip install qiskit`
<details><summary>terminal</summary>
<p>

[code]

</p>
</details>

[2019-05-14 00:50] omarcostahamido commented on #268
Yes `CMD+F` is my friend :D

[2019-05-14 13:45] Matt-Stypulkoski commented on #268
OK. My other suggestion would be to try to separately `pip install` the requirement that seems to be causing the errors. It looks like the error is thrown when trying to install `fastdtw`, which is a requirement for `qiskit-aqua`. I would try to `pip install fastdtw` and see if that completes. If it does, I would try `pip install qiskit` again and see if it completes, or if you get a different err

[2019-05-14 19:54] ajavadia opened #270 "add documentation about dependencies"
We should have a central place in the documentation that lists all the packages on which Qiskit depends on. This info should be consolidated from the `requirements.txt` files of terra, ignis, aer, aqua. It should be updated with each release.

The `requirements-dev.txt` files list the extra dependencies needed for developers of qiskit, we can list those separately.

[2019-05-14 20:39] mtreinish commented on #270
You want to have a doc that includes a list of requirements? That doesn't seem like something that should be written in a doc, it will go stale very quickly. It's also a really big list (mostly because of aqua):

[code]

There are overlaps but I only removed the qiskit sub-dependencies when there is a cross project dependency (ie ignis depends on terra). It's also worth pointing out that pip still

[2019-05-14 20:45] mtreinish opened #271 "Remove the workaround for upgrading from terra <0.7"
### Informations

- **Qiskit version**: >=0.7
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

When installing the qiskit meta-package we have a workaround that relies on pip internals to force alternate commands when upgrading from qiskit<0.7 to qiskit-terra>=0.7. This is because in the 0.7 release we switched to a namespace package and split terra and aer

[2019-05-15 03:13] ajavadia commented on #270
Yeah you're right. This is going to be hard to maintain. This was an external request, but I now agree that the docs aren't the right place. Something like `pydeptree` might be an option

[2019-05-15 03:13] #270 closed

[2019-05-15 04:36] ajavadia opened #272 "RB performance benchmarks"
### What is the expected behavior?
Let's add randomized benchmarking from Ignis as one of the benchmarks under `test/benchmarks`. It is helpful for tracking performance.

[2019-05-15 13:35] andysc opened #273 "memoryError installing qiskit"
### Informations

- **Qiskit version 0.10.0**:
- **Python version 3.5.2 **:
- **Operating system Ubuntu 16.04 LTS **:

### What is the current behavior?
'pip install qiskit' fails part way through installation with a 'memoryError' exception.

[code]

### Steps to reproduce the problem
[code]
### What is the expected behavior?

qiskit installed correctly with no fatal errors

### Suggested solution

[2019-05-15 13:44] mtreinish commented on #273
This technically isn't directly an issue with qiskit., but one of aqua's dependencies torch. I also had this problem on one of my small test VMs. Torch pulls down a huge wheel and requires a ton of ram (which is likely why you got a MemoryError there, because it consumed all your free memory) to install. But, we really shouldn't force installing torch because of all these problems.

The plan is to

[2019-05-15 14:29] andysc opened #274 "error installing cryptography module"
### Informations

- **Qiskit version 0.10.1**
- **Python version 3.5.2**
- **Operating system Ubuntu 16.04 LTS**

### What is the current behavior?
`pip install qiskit-ibmq-provider` fails to install with a compiler error during building `cryptography` module

[code]

### Steps to reproduce the problem

`pip install qiskit-ibmq-provider`

### What is the expected behavior?

correct installation of

[2019-05-16 12:08] ajlennon opened #278 "Installing qiskit on RPiv3 (Balena docker container) errors"
### Informations

- **Qiskit version**:

0.10.1

- **Python version**:

Python 3.5.7

- **Operating system**:

Linux - Building a Docker container via Balena.io

Base image is:

[code]

[image link](https://hub.docker.com/r/balenalib/raspberrypi3-python/)

### What is the current behavior?

pip tries to install qiskit. Then tries to install qiskit-terra dependency.

This fails as cython seems to e

[2019-05-16 12:24] nonhermitian commented on #278
I believe it is because the .pyx files are not included in the package data.

[2019-05-16 12:25] ajlennon commented on #278
Just trying qiskit_terra==0.7.2 - it seems to be getting further. Will update shortly

[2019-05-16 12:30] nonhermitian commented on #278
Because that does not have the Cython code that is causing you problems.

[2019-05-16 12:31] ajlennon commented on #278
I'm a #noob with Python. It errors if I don't have Cython present...

[2019-05-16 13:39] Matt-Stypulkoski commented on #268
Hi @omarcostahamido,

This installation issue was experienced by another user, and the solution that seemed to work for them was to first `pip install pytest-runner`. That fixed their installation error. I would suggest trying this, and then trying to `pip install qiskit` again.

[2019-05-16 14:25] mtreinish commented on #278
@nonhermitian ah, yeah that's a good catch we don't include the pyx files in the sdist for terra. We should add that into the MANIFSET.in before the next bugfix release so people can actually build it from source. There are the generated cpp files in the sdist, but we'll fail on the cythonize() call in the setup.py without the pyx files.

[2019-05-16 17:25] #278 closed

[2019-05-16 18:26] omarcostahamido commented on #268
Hi @Matt-Stypulkoski ,
Thank you for your leg work, you just solved the second half of my question (how to install latest qiskit with Python 3.5.4). Here are the steps I took:
First I tried to run `pip install pytest-runner` but I got this:
<details><summary>terminal</summary>
<p>

[code]

</p>
</details>

Then I updated pip using `curl https://bootstrap.pypa.io/get-pip.py | python -` and after re

[2019-05-16 19:10] Matt-Stypulkoski commented on #268
That error looks as though there could have been some sort of connection issue. I would suggest renewing your api token. You can do that by:
     - Logging into your IBM Q Experience Account
     - Going to 'My Account' -> Advanced Tab
     - Clicking 'Regenerate' under the 'API Token' section.

I would then `IBMQ.delete_accounts()` to delete any accounts you currently have saved, (You would proba

[2019-05-16 19:43] ajlennon commented on #278
Thanks guys - when are you going to push a release that will work for me?

[2019-05-18 22:46] levbishop commented on #229
Sympy seems to have a well-tested workflow around this see https://github.com/sympy/sympy/wiki/Adding-Someone-to-AUTHORS and https://github.com/sympy/sympy/wiki/Using-.mailmap

[2019-05-20 00:13] #83 closed

[2019-05-20 13:37] nubbyOne opened #280 "Aqua doc link dead"
See this page:
https://qiskit.org/documentation/aqua/optimization/qiskit_optimization.html

Under "Examples", the link referenced by " Aqua Tutorials GitHub Repository " points to "https://github.com/Qiskit/aqua-tutorials" and that doesn't exist ...rather I think you want "https://github.com/Qiskit/qiskit-aqua".

I am pretty sure there is software that can be used to check whether page links are d

[2019-05-21 08:14] LifeIsStrange opened #282 "Document average performance of popular algorithms"
What are the Tflops of IBM Q System One?
How much order of magnitude slower is this computer vs an ordinary Intel cpu?
Are there one example with a proof of quantum speedup? Does it exist at all?

Those are the questions that everybody should be asking before getting into quantum programming.

[2019-05-21 14:40] #161 closed

[2019-05-21 15:02] derivation commented on #282
Hi @LifeIsStrange. These are indeed all good questions. However, I'm not sure Qiskit documentation is the best place to expand on these. First and foremost, the documentation should help folks use Qiskit, which they'd presumably be doing after they've gotten answers to the questions you posed, especially the last two.

IBM Q has material relevant to your questions in the following marketing pages:

[2019-05-21 15:02] #282 closed

[2019-05-21 15:19] derivation commented on #280
@pistoia is there someone from your team you'd like to have ownership+responsibility over general maintenance of Aqua docs?

[2019-05-21 17:07] derivation opened #285 "add doc style guide"
to keep a consistent tone, voice and style in Qiskit documentation

[2019-05-21 17:12] dongreenberg commented on #272
How do you feel about adding some applications benchmarks (e.g. VQE, operator estimation, hamiltonian simulation)? I can start a separate bug to discuss if you think that could be valuable.

[2019-05-21 17:54] #285 closed

[2019-05-22 09:16] lerongil commented on #277
I am unable to replicate this. When I `pip uninstall qiskit` I see qiskit 0.10.1 is uninstalled but everything else remains. I do agree that this should uninstall all qiskit components. It is possible that because these are listed in different projects in pypi, we are defaulting to the metapackage.

@mtreinish should be able to comment on this more.

[2019-05-22 09:19] lerongil commented on #280
@derivation Can we add Marco Pistoia and Steve Wood as code owners for the Aqua documentation?

[2019-05-23 02:44] jaygambetta opened #288 "update the installing"
1. we should make sure we are starting to direct to the new quantum epxerience

<img width="867" alt="image" src="https://user-images.githubusercontent.com/15731369/58222131-0d0eb980-7ce3-11e9-89f3-e0a96c5d0bc6.png">

2. we should make sure that now all the element are part update the version

<img width="859" alt="image" src="https://user-images.githubusercontent.com/15731369/58222151-1ac43f00-7c

[2019-05-23 02:53] jaygambetta opened #290 "do we need https://qiskit.org/documentation/advanced_use_of_ibm_q_devices.html"
my feeling is we dont need. this page. If we do keep it we should make it much simpler it does not need to mimic the notebook

[2019-05-23 15:47] atilag opened #294 "Relax others Qiskit version dependencies"
### What is the expected behavior?
I'm all about depending on specific versions for third-party depedencies, in general it's a good "damage control" strategy, but I'd definitely relax our own Qiskit version depedencies, because we control them and we have better response times in case of an event.
Also, that will give different teams more freedom to patch their components without any further inter

[2019-05-23 16:12] nonhermitian commented on #294
So I believe @jaygambetta, @mtreinish, myself, and maybe @ajavadia already discussed this issue before we decided to pin the versions.

In essence, the reason behind the separate element repos is to give developers the flexibility to work on their projects without other, disjoint efforts getting in the way.  However we want to offer a coherent software suite.  If we let the versioning be as you pr

[2019-05-23 18:43] derivation commented on #173
@lerongil is this something you'd like to take up?

[2019-05-23 20:33] derivation opened #296 "update component status for Aer in Development Strategy"
Please update the [component status section](https://qiskit.org/documentation/development_strategy.html#aer-provider) of the Development Strategy for Aer.

[2019-05-23 20:37] derivation opened #297 "update component status for Ignis in Development Strategy"
Please update the [component status section](https://qiskit.org/documentation/development_strategy.html#component-status) of the Development Strategy for Ignis.

[2019-05-24 03:16] jaygambetta commented on #294
yes @atilag I think the overhead of when you update and element increase and releasing an update of the the mega is less then the overhead of debuting the issues people have. You only need to connect your element to the mega not the other elements.

For this reason I would like to have it strongly correlated.

[2019-05-24 03:16] #288 closed

[2019-05-24 03:18] jaygambetta commented on #271
I am good with this -- lets do It and we can have in the faq that only updates form qiskit 0.8 wok

[2019-05-24 11:45] jaygambetta opened #298 "fixing the install from source"
we have two pages for installing terra form source

https://qiskit.org/documentation/contributing_to_qiskit.html#install-terra-from-source

https://qiskit.org/documentation/install/terra.html

I recommend removing the second and linking the contributing link in the Qiskit-terra repo to the fist.

[2019-05-24 11:49] jaygambetta opened #299 "standard the docs for installing from source"
In the installing from source section can we make the elements all the same. Currently we tell the user how to install terra from source and then in the contributing file in the terra element we link to this documentation. In all the other elements in the documentation we link to the contributing file in element.

I recommend that we make them all like terra.

[2019-05-24 20:07] #273 closed

[2019-05-25 06:51] thundergoth commented on #197
Okay so after uninstalling python, qiskit, conda and everything, reinstalling them again for the 5th time.... And this error is not even an error.... okay... got it...

[2019-05-25 09:05] lerongil commented on #266
This development strategy is for 2019 and is still valid. We are missing the module status for basic aer, aer provider and Ignis. #297 and #296 will cover the missing sections.

I updated to remove the dated sentence plus some minor typos here: #305 .

[2019-05-25 09:24] lerongil commented on #125
@carlosazaustre Were you able to get `singlehtml` to work?

[2019-05-26 18:48] mtreinish commented on #272
@dongreenberg I definitely think that having some application benchmarks would be useful. In the first WIP version of the benchmark suite I had a vqe benchmark (based on terra's optimizers module which were removed in 0.7) but removed it by the time things finalized because the terra optimization module it depended on was removed.

[2019-05-26 20:45] ajlennon commented on #278
You seem to have the same problem with qiskit

[code]

[2019-05-27 05:55] carlosazaustre commented on #125
I tested the `singleHtml` method and it provides all the content (all the documentation pages) in a single infinite scroll page... So I think is not the best option for now.

[2019-05-27 10:49] ShellyGarion commented on #272
@ajavadia - I started a PR with RB performance benchmark.
- How can I run the performance benchmark?
- Is there some link to the performance results and graphs?
- Which RB configurations would you suggest to test?
I started with 2-qubits RB, with 50 different Clifford lengths (going from 1 Clifford to 200 Cliffords, spaced linearly) and 20 seeds.

[2019-05-28 13:27] mtreinish commented on #272
@ShellyGarion You run the benchmarks using the [asv](https://asv.readthedocs.io/en/stable/index.html). I normally run things locally for testing with just `asv dev` but you can also use `asv run` especially if you want to test across the history. You can see current benchmark results here: http://169.61.88.206/

[2019-05-29 09:24] ajavadia commented on #272
@ShellyGarion I'm not sure varying the seed affects things much from a performance point of view (you can try). The Clifford lengths are good. Maybe you can add 1Q RB as well.

@dongreenberg yes please add a couple applications too. Maybe one with a huge circuit, and one with many small circuits.

[2019-05-29 09:26] ajavadia opened #308 "Application performance benchmarks"
### What is the expected behavior?
Need a couple benchmarks to track the integrated performance of Aqua+Terra+Aer over time.

[2019-06-01 00:59] zlatko-minev opened #310 "Backend_monitoring_tools broken link"
The link provide on the page

under the text

leads to a 404 not found page.

[2019-06-05 09:01] nonhermitian opened #311 "Qiskit is requiring a compiler to install from pip"
### Informations

- **Qiskit version**: 0.10.x
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently you cannot pip install the qiskit meta package without a compiler due to this issue in aqua:

https://github.com/Qiskit/qiskit-aqua/issues/551

This is here to track the status of that issue as it pertains to the entire meta package installation.

### Steps to r

[2019-06-06 20:41] matrixbot123 opened #313 "Unknown Error !"
this below is me trying hard to install qiskit the copy of error

C:\Users\admin\PycharmProjects\untitled>pip install qiskit
Collecting qiskit
  Using cached https://files.pythonhosted.org/packages/49/db/79e953e4353a00a85b478dac37fe6b5523ecaf2cee5193dc9de4a0c767d2/qiskit-0.10.3.tar.gz
Requirement already satisfied: qiskit_terra==0.8.1 in c:\users\admin\appdata\roaming\python\python37\site-packages

[2019-06-06 20:47] nonhermitian commented on #313
It is saying you need Visual C++ 14 installed to build cvxopt for aqua. This is similar to #311.

[2019-06-06 21:17] woodsp-ibm commented on #313
What are you running that its trying to build out 32-bit versions? There are pre-built wheels for 64 bit Windows.

[2019-06-07 03:35] matrixbot123 commented on #313
So what should I do woodsp-ibm to run it on 32 bit os

[2019-06-07 11:26] nonhermitian commented on #313
You need to install this

error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": https://visualstudio.microsoft.com/downloads/

You will also need it to get around #311.

[2019-06-07 11:57] woodsp-ibm commented on #313
This line, from your error log, looks you are running a 32-bit version of Python i.e. the `python37-32` part

As such it needs 32-bit versions of the dependencies which you can see it fetching and trying to build. If you can run a 64-bit python, not this 32-bit one, then I it should install correctly as there are pre-built wheels for cvxopt for 64 bit.

[2019-06-07 12:56] matrixbot123 commented on #313
I installed it shows another error

On 07-Jun-2019 4:56 PM, "Paul Nation" <notifications@github.com> wrote:

[2019-06-07 13:03] nonhermitian commented on #313
Which is?

[2019-06-09 07:44] matrixbot123 commented on #313
see this image .now can't even understand what to do next

[2019-06-10 18:11] RohitMidha23 opened #319 "Error in Getting Started Documentation"
In the picture below `shots=1000` is given and this should imply that the counts should add up to 1000.

Also in `job = execute(circ, simulator, shots=1000)` `circuit` should be used and not `circ` following the previous code blocks.

![Error](https://user-images.githubusercontent.com/38888530/59216502-5d3db500-8bd9-11e9-9f2d-6507b4088ab0.png)

[2019-06-10 18:53] #319 closed

[2019-06-10 19:44] mtreinish commented on #299
This is fixed by: https://github.com/Qiskit/qiskit/pull/318 and https://github.com/Qiskit/qiskit/pull/317

[2019-06-10 19:44] #299 closed

[2019-06-11 00:44] the-legend-of-lia commented on #197
@mtreinish Would it be reasonable to hard code a different message or omit printing the error message just for that test?  It wouldn't surprise me if someone using qiskit for the first time became discouraged when they saw that qiskit failed to install, even when it succeeded.

[2019-06-12 13:14] mtreinish commented on #197
@the-legend-of-lia the problem is that the error messages don't actually get generated by anything qiskit controls. We force the wheel build to fail in order to ensure the upgrade works. But doing that is what causes **pip** to generate and print the error messages.

I definitely agree it's confusing and discouraging when the error gets printed. That's why for whenever we end up having a 0.11.0 pa

[2019-06-13 16:36] yehuda-naveh opened #326 "Need to run the generate_authors script (request from JKU)"
Got a request from JKU - they do not appear in the Qiskit AUTHORS file, seems the script has not run since their project was included in Qiskit. Can we run it?

Also, it might be that Robert Wille from JKU, while contributed code, will not be picked up by the script because it was pushed by a single colleague. Can we add him in a way which will not be overridden by the script? (I'm not sure if the

[2019-06-13 17:03] mtreinish commented on #326
Before we can rerun the script and update the authors file we'll need to fix #229 otherwise we'll have to manually curate the list of names again. Once that's fixed it's a simple matter to re-reun the script.

If someone's name isn't on the list and they don't have an entry in git metadata anywhere the script will not put the name in the list. The script and authors file is built using the credite

[2019-06-13 17:16] yehuda-naveh commented on #326
Thanks Matthew, I'll wait for #229 then.

Yes, I mentioned to Robert the simplest way is to have him push/PR something directly. I'll point him to this issue to decide, either PR something explicitly, or we'll put him as a co-author tag. Hard coding the script is probably not the way to go.

How will we go about on the mailmaps? Someone will do it centrally for all repos? Or one person will do per

[2019-06-13 17:23] mtreinish commented on #326
For the mailmaps someone needs to go and build one for each repo. Feel free to handle to go ahead and push one up for JKU and ignis. If a contributor isn't happy with their name in the authors script they can just edit the mailmap after we create them.

[2019-06-13 20:00] derivation opened #327 "fix copy mechanism"
Fix the copy code mechanism for the published docs via /docs/theme/static/js/themeExt.js

[2019-06-14 03:01] SooluThomas opened #329 "Unify python codes"
Unify the python code outputs in the documentation by changing `.. parsed-literal::` to `.. code-block:: text`

[2019-06-14 13:07] RohitMidha23 opened #331 "Unexpected Output"
### Informations

- **Qiskit version**: 0.8.1
- **Python version**: 3.7.3
- **Operating system**: IBM Q Experience

### What is the current behavior?
The current behavior is that `00` and `01` are being generated even though the superposition has been broken and hence `00` and `11` should be generated.

**Output:** ` {'00': 5071, '01': 4929}`

### Steps to reproduce the problem
[code]
### What is

[2019-06-14 13:45] Matt-Stypulkoski commented on #331
Hi @RohitMidha23, the code you posted would have a measure gate from `q[0] -> c[0]` and `q[1] -> c[1]`. Since your circuit only has an H-Gate on q[0], it is normal for the result to be either `00` or `01`.

Judging from the question you posted in the Slack, did you mean to have the measurements be written as: `circuit.measure(q[0], c[0])` and `circuit.measure(q[0], c[1])`?

[2019-06-14 13:49] Matt-Stypulkoski commented on #331
If you did mean to have the measurements be written out as `circuit.measure(q[0], c[0])` and `circuit.measure(q[0], q[1])`, then I am unable to recreate the issue. When I run your code with these measurements, I get outputs including only `00` or `11`.

[2019-06-14 13:52] RohitMidha23 commented on #331
Hey @Matt-Stypulkoski yes I understood the mistake. My bad. Closing this issue now

[2019-06-14 13:52] #331 closed

[2019-06-14 16:50] #329 closed

[2019-06-14 16:53] derivation commented on #327
@SooluThomas looks like you made a broader issue and solved it with a PR. Right? If so, you can close this issue and cancel PR #328.

[2019-06-14 18:19] #327 closed

[2019-06-16 18:11] yehuda-naveh commented on #229
Added the .mailmaps for Ignis and JKU

[2019-06-16 18:43] yehuda-naveh commented on #326
Done for JKU and Ignis

[2019-06-16 18:44] #326 closed

[2019-06-16 18:44] yehuda-naveh commented on #326
Closing this one, #229 covers it

[2019-06-19 16:31] SooluThomas opened #335 "Typos in Docs"
- [x] docs/terra/visualizing_a_quantum_circuit.rst

**What is the typo?**
In [Controlling output from circuit.draw()](https://qiskit.org/documentation/terra/visualizing_a_quantum_circuit.html#controlling-output-from-circuit-draw),
By default the draw method returns the rendered image as an object and does not output anything. The exact class returned depends on the output specified: **'text'(the d

[2019-06-19 17:14] #335 closed

[2019-06-20 18:32] lzdanski opened #339 "Add Windows install instructions"
Windows instructions need to be clarified in install.rst

1. Installed Anaconda
2. Search anaconda prompt
3. Open anaconda prompt
4. Pip install qiskit

[2019-06-20 22:44] SooluThomas commented on #335
Partially fixed by #336, #337, #338

[2019-06-21 01:44] ishapoval commented on #184
Thanks, but the problem is still there even for the latest-greatest Qiskit 0.10.4. The bug is too enduring to be a "temporary hiccup".. :)

[2019-06-21 02:04] ajavadia commented on #184
@ishapoval can you paste the output you are seeing?

[2019-06-21 02:06] ishapoval commented on #184
It's still the one originally reported:

[2019-06-21 10:06] quantumjim opened #341 "Installation fails on Pydroid 3"
### Informations

- **Qiskit version**: Stable
- **Python version**: 3
- **Operating system**: Android
- **Pip version**: 18

### What is the current behavior?

![Screenshot_20190621-115958](https://user-images.githubusercontent.com/18051574/59915387-cb297e00-941c-11e9-85b7-a4355e73da3a.png)

### Steps to reproduce the problem

Use the pip tab to install pip==18, and then try Qiskit.

[2019-06-21 11:55] jorgerp24601 opened #342 "Error while loading account"
### Informations

- **Qiskit version**: 0.10.4
- **Python version**: 3.7.3
- **Operating system**: MacOs 10.14.5

### What is the current behavior?
While trying to load my credentials with IBMQ provider, I get this error:
[code]
### Steps to reproduce the problem
I run the following lines:
`from qiskit import IBMQ`
`IBMQ.delete_accounts()`
`IBMQ.stored_accounts()`
Here I got the output:
`[]`
And t

[2019-06-21 13:03] sznadas opened #377 "INSTALL.md IBMQ.save_account is now different"
See https://qiskit.org/documentation/install.html#install-access-ibm-q-devices-label

from qiskit import IBMQ
IBMQ.save_account('MY_API_TOKEN', 'MY_URL')

MY_URL is also required

[2019-06-23 12:35] mhsmith commented on #313
You can't attach images to GitHub issues via email: you'll have to do it on the GitHub website.

[2019-06-23 13:35] RohitMidha23 commented on #310
@jaygambetta I guess you can close this issue now

[2019-06-23 19:31] #310 closed

[2019-06-24 10:23] maddy-tod commented on #342
I tried this out and it all worked fine for me. Are you sure your API key is correct? It should be 128 characters long. Does it work if you use `IBMQ.enable_account('APIKEYHERE')`?

[2019-06-24 10:46] jorgerp24601 commented on #342
Yes, mi API key has 128 characters, if I use `IBMQ.enable_account('APIKEYHERE')` I get similar output

`---------------------------------------------------------------------------
ConnectionError                           Traceback (most recent call last)
<ipython-input-10-4fc3d15f9201> in <module>
----> 1 IBMQ.enable_account('APIKEYHERE')

/anaconda3/envs/qiskitjorge/lib/python3.7/site-packages/q

[2019-06-24 10:52] maddy-tod commented on #342
This means you need to go onto the [quantum experience website](https://quantum-computing.ibm.com) and accept the terms of the license. It should be presented for you to agree to as soon as you log in.

[2019-06-24 11:08] jorgerp24601 commented on #342
Works perfectly now, thank you very much.

Closing this issue.

[2019-06-24 11:08] #342 closed

[2019-06-25 02:48] devlwkyan commented on #12
When I run

```pip install qiskit-terra[visualization]```

 I get the error:

```no matches found: qiskit-terra[visualization]```

What command should I run, ```pip install qiskit[visualization]``` as it used to be previously?

[2019-06-25 22:17] #1346 closed, assigned to nobody

[2019-06-26 13:26] ShellyGarion commented on #272
@mtreinish - the link for current benchmark results  http://169.61.88.206/ does not work for me anymore

[2019-06-26 13:29] mtreinish commented on #272
Yes, I implemented a more permanent hosting solution for the benchmark results since I left that comment last month. You can view the benchmark results here: https://qiskit.github.io/qiskit/

[2019-06-26 13:32] ShellyGarion commented on #272
@ajavadia - I added several more parameters:
- 1Q, 2Q, and simultaneous 1Q&2Q (where the 1Q is3 times more than 1Q).
- 1, 5, 10 seeds (need to check if no. of seeds affects the performance).
- Clifford lengths: 1 to 200 in steps of 4, 1 to 500 in steps of 10.

[2019-06-27 19:06] #311 closed

[2019-06-28 11:50] wo3kie commented on #271
Hi,
Looks like this change will fix my issue with Qiskit installation on Windows WSL using bazel

[code]

Using pip instead of bazel I am getting the same error

[code]

however this works

[code]

Can you merge it finally?

Regards,
Łukasz

[2019-06-29 10:16] kenixer commented on #342
Where can I find the license agreement? I searched for it in the `[provided link](https://quantum-computing.ibm.com/)`, but I couldn't find it.

[2019-07-02 10:58] maddy-tod commented on #342
It should appear the first time you log in. If it doesn't that should mean you have already signed it.

[2019-07-03 17:54] qruzar opened #359 "Error: QASM no longer accepted"
When trying to run a compiled program on _ibmq_20_tokyo_ I'm now getting the following error:

`Got a 400 code response to https://q-console-api.mybluemix.net/api/Network/ibm-q-academic/Groups/***...***: {"error":{"status":400,"message":"QASM no longer accepted","code":"QASM_NO_LONGER_ACCEPTED","statusCode":400}}`

Can someone help me understand why? Could this be because the code is from some mon

[2019-07-03 18:15] nonhermitian commented on #359
Yes, 0.5.7 is no longer supported.  Your jobs must be submitted using the Qobj format.

[2019-07-03 18:19] qruzar commented on #359
Is there a way to change the qasm without having to re-write my whole program?

[2019-07-03 18:45] mtreinish commented on #359
You'll have to use a newer qiskit. But, you can install that in a separate venv or something if you don't want to remove the old version. If you have a qasm file already with a newer qiskit you can run something like:

[code]

which will load the qasm and submit it to the backend.

[2019-07-03 19:17] qruzar commented on #359
Alright. Btw, do you plan to provide backward compatibility for interfacing with the real devices in the future? That would help.....

[2019-07-04 02:34] ajavadia commented on #359
They are usually backwards compatible. Qiskit 0.5.7 is one year old however. In Qiskit 0.6 Qobj was introduced which was a major upgrade to how qiskit communicates with devices.

[2019-07-04 02:34] #359 closed

[2019-07-04 17:44] #280 closed

[2019-07-04 18:07] qruzar commented on #359
Quick follow-up: How can I force the transpiler not to exchange swap qubits and keep the initial layout I define? Sometimes, it may not be useful to simplify the circuits if, in the end, the readout qubit turns out to be a very noisy one.

[2019-07-04 18:08] qruzar commented on #359
Quick follow-up: How can I force the transpiler not to swap qubits and keep the initial layout I define? Sometimes, it may not be useful to simplify the circuits if, in the end, the readout qubit turns out to be a very noisy one.

[2019-07-06 15:55] qruzar opened #363 "Jobs never stop running"
### Informations

- **Qiskit version**: 0.8.2
- **Python version**: 3.6.0
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

I'm submitting simple circuits to _ibmq_20_tokyo_ and the jobs get stuck in the running state forever.

### Steps to reproduce the problem

Example jobs ids:
`5d20bb14e5ac32007041e4be`
`5d20c0d820a135006fa8478b`

Backend status:
`BackendStatus(backend_n

[2019-07-06 15:57] nonhermitian commented on #363
Running is the default mode on those devices for a variety of reasons. However it likely means that you are in queue waiting. This behavior will be changed in the near future.

[2019-07-06 17:09] qruzar commented on #363
Thanks. It's good to know you'll change that, it's been almost a year that I see `pending_jobs=0` in tokyo. In any case, these jobs seem to be running longer than usual. For instance, `5d20c0d820a135006fa8478b` was created 2 hours ago already. Could I be in the queue for so long?

[2019-07-06 17:46] nonhermitian commented on #363
Yes you can, depending on what others are running, and how much allocated time you have already used up.

[2019-07-07 00:21] qruzar commented on #363
Finished after more than 8 hours. I used tokyo in the past and it never took so long. How can I control how much allocated time I have available?

[2019-07-07 11:30] nonhermitian commented on #363
The allocation amounts are set by your hub admin.

[2019-07-11 18:10] lzdanski commented on #290
With updates to the IBMQ provider, I was about to update this topic. I agree that maybe it's redundant since it has so much content that is in the tutorials, but @diego-plan9 made some significant updates to the tutorials which would need to be ported over.

However, Diego also mentioned that this page is useful as far as giving users a single resource for all things provider related.

Do we remov

[2019-07-11 20:07] mtreinish commented on #229
@atilag @chriseclectic @pistoia @diego-plan9 can you take a look at this for aer, aqua, chemistry, and the ibmq provider. This is currently the only blocker for updating the authors list and bibtex file.

[2019-07-11 20:54] chriseclectic commented on #229
@mtreinish Added in Aer PR #283

[2019-07-16 08:13] #271 closed

[2019-07-17 07:11] ShellyGarion commented on #272
The RB performance benchmark is now reduced to the following parameters:
-    1Q, 2Q, and 3Q simultaneously 1Q&2Q, namely: `rb_pattern=[[[0]], [[0, 1]], [[0, 2], [1]]] `

with the following default parameters:
-    1 seed
-    Clifford lengths: 1 to 200 in steps of 4, namely: `length_vector = np.arange(1, 200, 4)`

[2019-07-17 15:18] #339 closed

[2019-07-18 17:50] HologramSam opened #371 "Doc example does not run on windows"
Doc example in: https://qiskit.org/documentation/aqua/chemistry/qiskit_chemistry_execution.html
in the declarative programming interface section does not work in Windows as it uses pyscf. It may be a good idea to warn users of this fact.

[2019-07-19 09:07] aquadzn opened #376 "Impossible to pip install - failed to build qiskit"
### Informations

- **Qiskit version**: 0.11.0
- **Python version**: 3.7 | 3.6 | 3.5
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

I always have the failed to build qiskit warning and when I run ```conda list``` or ```pip list``` qiskit is not here and I can't import qiskit in Python too.

[code]

### Steps to reproduce the problem

I tried different ways of installing q

[2019-07-19 09:40] aquadzn commented on #376
Ok so weird thing, I managed to install qiskit but only on my Conda base env, it won't install on another env

[2019-07-19 09:48] nonhermitian commented on #376
The basic complain is you do not have gcc compiler. It seems that ine env is setup in such a way as not to have a pip package for psutil premade

[2019-07-19 16:30] lzdanski opened #379 "Improve "Overview" and "Index" pages of documentation"
**Observed State**: When you first navigate to https://qiskit.org/documentation/ it only displays the Qiskit Table of Contents. This isn't ideal because it means the first impression of the landing page doesn't provide any descriptive information about Qiskit. This is the same for each of the individual packages, Terra, Aer, and Ignis.

Instead, descriptive information about the packages is on the

[2019-07-20 00:37] ishapoval commented on #184
Qiskit 0.11 has the same problem. Please reopen the issue.

[2019-07-22 09:43] mtreinish commented on #277
Sorry I missed this, yes @lerongil is correct `pip uninstall qiskit` only removes the meta-package, not any of the individual elements, this is because of limitations in pip and it not having a true dependency solver. Each individual element is listed as a requirement of the meta-package so when you run `pip uninstall qiskit` you're saying just uninstall the meta-package. pip is unable to do any m

[2019-07-22 09:43] #277 closed

[2019-07-22 13:45] derivation commented on #379
@lzdanski I'd just like to +1 this

[2019-07-25 18:13] derivation opened #384 "add doc templates into .github/"
- [x] Add RST templates to easily get started writing new documentation files
- [x] Link to the RST templates in the contributing section of the doc
- [ ] Have new documentation issue template refer to these RST templates

[2019-07-25 22:03] #384 closed

[2019-07-26 23:13] SooluThomas opened #388 "Standardizing info achitecture across the landing pages (index.rst)"
Call for revisiting all the landing pages (index.rst) and edit the content if necessary.

[2019-07-26 23:16] #379 closed

[2019-07-27 19:56] gamerdragen opened #389 "failed to install qiskit"
### Informations

- **Qiskit version**: none
- **Python version**: 3.7.3
- **Operating system**: Linux Ubuntu 18.04 LTS

### What is the current behavior?

i am trying to install qiskit in a anaconda env while i followed the documentation, but after some time of installing a get a lot of error massages and cant find answers from other users.

(
ERROR: Complete output from command /home/thobias/ana

[2019-07-31 16:04] SooluThomas opened #390 "Standardize the links in .rst files"
## Why standardize?

This standardizing is required to adapt a common way to write the docs and also to avoid confusion for the translators regarding different syntaxes.

## Changes needed

- There is need for standardizing the cross-referencing links from
[code]
   to
[code]
   [This](https://github.com/Qiskit/qiskit/pull/383/commits/e388742300ee178d2c1e54bd81f7622f7a62b82d) is an example commit

[2019-07-31 23:38] #390 closed

[2019-07-31 23:39] jaygambetta commented on #377
@nonhermitian did you fix this

[2019-07-31 23:52] nonhermitian commented on #377
This looks to me fixed, so will close

[2019-07-31 23:52] #377 closed

[2019-08-08 13:57] eddieschoute opened #394 "Documentation source code linebreaks"
## Did you find a doc bug or broken link that needs to be fixed?
The current documentation is not wide enough to contain the full lines of source code. This causes many line breaks and makes reading the source code on the documentation website unworkable. Since the max line width in the linters is 100 characters, the source documentation should show at least 100 characters per line to prevent line

[2019-08-08 16:25] nubbyOne opened #395 "Error msg typo: NOT_CREDITS_AVALIABLES"
### Informations

- **Qiskit version**: 0.11
- **Python version**: 3.6
- **Operating system**: macOS

### What is the current behavior?

This was reported from a customer using qiskit so I don't have all the details but you can see from the screen snapshot the error message and the typo.
<img width="1060" alt="Screen Shot 2019-08-08 at 11 32 02 AM" src="https://user-images.githubusercontent.com/11

[2019-08-08 17:00] nonhermitian commented on #395
Yes, this is a known error that is being worked on.

[2019-08-08 18:58] derivation commented on #394
@SooluThomas could you look into whether this can be addressed in a Sphinx configuration or a change in the style template? The example above is auto-doc generated.

[2019-08-09 16:51] woodsp-ibm commented on #175
- The above links were fixed as part of PRs #360 and #362
- As to linking to source from the documentation there is an issue #79 that addresses this more globally

Given the above I believe this issue can be closed.

[2019-08-12 07:24] nonhermitian commented on #389
It is saying it cannot find the `gcc` compiler to install `psutil`, a qiskit dependency.

[2019-08-12 07:26] nonhermitian commented on #290
This file is more or less one to one with the tutorial and can be dropped.  The added bonus of the tutorial is that it can all be executed to check for bugs.  So the current doc version has bugs (from me), where as the latest tutorial does not.

[2019-08-12 13:51] derivation commented on #290
Ok, let's get rid of this page as follows:

- [ ] redirect links to this page to the tutorial
- [ ] remove this page from the doc table of contents
- [ ] remove the source file for this page

[2019-08-13 04:25] #290 closed

[2019-08-13 11:51] #96 closed

[2019-08-13 11:51] #138 closed

[2019-08-13 11:51] #99 closed

[2019-08-13 11:55] #294 closed

[2019-08-13 13:36] #298 closed

[2019-08-13 13:37] #266 closed

[2019-08-13 13:37] #296 closed

[2019-08-13 13:37] #297 closed

[2019-08-13 14:37] mtreinish commented on #326
Just wanted to update here that #401 finally updates the authors script as request. I expect people will want to update mailmaps prior to merging that since there are some raw usernames in there still. But hopefully it will merge soon.

[2019-08-13 15:24] SooluThomas opened #402 "Standardizing documentation for easier and better translation"
- [x] remove the additional name tags provided to the TOC so that once the translation is implemented, the TOC will be in translated language.
[code]
   Document titles in the toctree will be automatically read from the **title** of the referenced document.

- [x] Its a good practice to put `:ref:` names with hyphen so that the translators can avoid confusions between
[code]
   and
[code]

[2019-08-13 18:25] SooluThomas commented on #388
@derivation @lzdanski
Docs that we mainly need to focus on

- [ ] [Rewiring Circuits](https://qiskit.org/documentation/terra/transpiler/index.html)
- [ ] [Terra Parallel tools](https://qiskit.org/documentation/terra/terra_parallel_tools.html)

[2019-08-14 01:34] eddieschoute commented on #394
I don't think this is fixed yet, see my comment at https://github.com/Qiskit/qiskit/pull/397#issuecomment-520243158

[2019-08-14 19:42] #402 closed

[2019-08-16 23:33] jaygambetta opened #410 "developer and contributing docs"
@derivation could you combine contributing to qiskit, development strategy and community extensions into a single file called contributing to qiskit or something.

I want this to be the default that one that all Qiskit-terra, Qiskit-aqua, qiskit-ignis qiskit-ibmq-provider, and Qiskit-aer link to with their CONTRIBUTING. It should be the default place.

[2019-08-17 03:20] SooluThomas commented on #394
This issue has been resolved.

[2019-08-17 20:15] jaygambetta commented on #12
@mtreinish can you check on this. I think we close this if it all woks.

[2019-08-17 20:17] jaygambetta commented on #121
closing as this is not how we are doing this going forward

[2019-08-17 20:17] #121 closed

[2019-08-17 21:02] jaygambetta commented on #80
I am fine to have it at the top I just dont think the 5 files should not change that much. But I agree if contributing and installing changed it should go up that top like

<img width="316" alt="image" src="https://user-images.githubusercontent.com/15731369/63217250-d04f3480-c110-11e9-8881-bebadbf7c798.png">

[2019-08-17 21:04] jaygambetta commented on #125
is this still an issue?

[2019-08-17 21:06] jaygambetta commented on #171
@nonhermitian I think this is really a issue for the future or on hold for a owner that wants to make sure qiskit works on raspberry pi.

[2019-08-17 21:08] jaygambetta commented on #173
@nonhermitian can you think about this or close it if we dont have the time to make this possible. I think it is a good idea just we are too small to do it now.

[2019-08-17 21:09] jaygambetta commented on #175
I am closing this as this is essentially #79. I know this is different files but as we move to an API we need someway to do this with the source code.

[2019-08-17 21:09] #175 closed

[2019-08-17 21:11] jaygambetta commented on #218
labelling on hold as I agree with @nonhermitian we want this just have not had a chance to do it yet.

[2019-08-17 21:12] jaygambetta commented on #229
is this still need to be open?

[2019-08-17 21:12] jaygambetta commented on #245
I agree this needs to be done but it should  be put in the source code of the dag_drawer.  This is in terra.

[2019-08-17 21:15] mtreinish commented on #229
This is finished and mailmaps from all the repos are used by the generate_authors.py script. If there are weird names or inaccuracies in the authors list/bibtex we can address those by updating mailmaps in the element repos.

[2019-08-17 21:15] #229 closed

[2019-08-17 21:16] jaygambetta commented on #389
closing as I agree with @nonhermitian but @gamerdragen please open again if you have trouble after adding gcc

[2019-08-17 21:16] #389 closed

[2019-08-17 21:17] jaygambetta commented on #388
closing as with the new organization this is not needed.

[2019-08-17 21:17] #388 closed

[2019-08-17 21:22] nonhermitian commented on #268
Closing this as it is not clear if this is actually our code, or some other issue. If this persists feel free to reopen.

[2019-08-17 21:22] #268 closed

[2019-08-17 21:44] jaygambetta commented on #274
@diego-plan9 could you look at this and update as needed.

[2019-08-17 21:45] #394 closed

[2019-08-17 21:46] jaygambetta commented on #376
closing as this looks like gcc.

[2019-08-17 21:46] #376 closed

[2019-08-17 22:07] jaygambetta opened #416 "out of context or out of place part of the documentation"
This section feels out of place. I think it should go with the install by source of in the install section we could have a section called  install element one by one (for example) and then give this information after telling the user why they may want just qiskit terra

<img width="831" alt="image" src="https://user-images.githubusercontent.com/15731369/63217745-bc5c0080-c119-11e9-8028-de8d70b7fc1

[2019-08-17 22:13] nonhermitian commented on #416
Yes, saw this as well. Should be removed or fixed in source

[2019-08-17 22:13] jaygambetta opened #417 "Section change in the getting started section"
I think we should not have set output to mpl in the code (as it might break if they dont have the Matplotlib installed.

<img width="842" alt="image" src="https://user-images.githubusercontent.com/15731369/63217781-705d8b80-c11a-11e9-9cbd-47fd29a51703.png">

Could we remove this but have a note after that if your draw is text based and you want a nicer one then set your user config.

[2019-08-17 22:18] nonhermitian commented on #417
Could we have an user config setup for the build that sets mpl for the default, then the draw command would work in all cases and output still look good. We could still have a note of course

[2019-08-17 22:49] jaygambetta commented on #417
have a look at the pr I just did

[2019-08-17 23:27] jaygambetta opened #420 "do we need this questions in the faq"
Do we need this in the faq. I know it was pre qiskit running versions but are we seeing this issues anymore?

I would remove this as I dont think this comes up much anymore.

<img width="729" alt="image" src="https://user-images.githubusercontent.com/15731369/63218229-dd761e80-c124-11e9-8995-6ff7fe75d939.png">

[2019-08-17 23:33] aquadzn commented on #376
Yeah sorry it's good no more problems with new version

[2019-08-17 23:38] jaygambetta commented on #376
Great.  Thanks

[2019-08-18 00:12] jaygambetta commented on #341
. I think it is saying you should just do qiskit terra as this seems to be a limitation of not having blas

[2019-08-18 10:53] nonhermitian commented on #341
The fact that it made it this far into the install makes me think that there is a BLAS somewhere as it is needed by numpy and scipy.  It is likely that the pyscf just cannot find the location.  It would be interesting to see if Terra alone could be installed.

[2019-08-18 10:55] nonhermitian commented on #313
Closing this as not heard back from submitter.  Can be re-opened if need be.

[2019-08-18 10:55] #313 closed

[2019-08-18 10:59] nonhermitian commented on #371
Those examples are being moved, and replaced with either inline code or tutorials.  However, @pistoia can we make sure to add notes in places where pyscf is used so that users are aware that those examples cannot be run on Windows?

[2019-08-18 10:59] nonhermitian commented on #420
No, will remove

[2019-08-18 11:02] nonhermitian commented on #171
It works on my pi.  I used https://github.com/jjhelmus/berryconda.

[2019-08-18 12:25] ordmoj commented on #171
Likewise, I got mine to work earlier this summer as well using berryconda!

[2019-08-18 12:39] nonhermitian commented on #171
Ok closing then

[2019-08-18 12:39] #171 closed

[2019-08-18 12:57] #417 closed

[2019-08-18 12:58] jaygambetta opened #430 "Adding to install user-config setup"
Can we add to the install a section on the user-config. I think this is important enough to be a section. This is a followup from #417. If we do this then in the getting_started we can have less information in the note.

[2019-08-18 15:39] #420 closed

[2019-08-18 16:26] jaygambetta opened #433 "cleaning up the doc figure folder to remove old figures that are not used."

[2019-08-18 17:44] jaygambetta commented on #410
in #436 and #435 and #434 I did this. So I will close this issue.

[2019-08-18 17:44] #410 closed

[2019-08-18 17:45] jaygambetta commented on #416
look at the source there is a note that already says this. I think we should just remove this.

[2019-08-18 19:25] #416 closed

[2019-08-18 19:25] jaygambetta commented on #416
removed in #439

[2019-08-18 22:27] jaygambetta opened #443 "Aqua version issues"
in the https://qiskit.org/documentation/release_notes.html aqua is at version 0.5.3 but according to the qiskit tag in Qiskit-aqua it is at 0.5.5. We should try to keep these in sync. @mtreinish could you look at where the error has occurred.

[2019-08-19 09:15] nonhermitian opened #448 "Getting started docs should be executed at build time"
The code example in `getting_started.rst` should be executed when the docs are built.

[2019-08-19 13:25] mtreinish commented on #443
Well, I was not aware that there had been any aqua releases since `0.5.3`. According to https://pypi.org/project/qiskit-aqua/#history there was one on July 24th (`0.5.4`) any another on July 26 (`0.5.5`). No one has pushed any updates to the meta-repository corresponding to those releases. The table is actually accurate for what's been included in a meta-package release. When you `pip install qisk

[2019-08-19 13:44] SooluThomas opened #451 "Headers not the same"
<img width="1174" alt="Screen Shot 2019-08-19 at 9 41 46 AM" src="https://user-images.githubusercontent.com/11485594/63270302-ef130f80-c265-11e9-88b0-87121a381593.png">
<img width="1174" alt="Screen Shot 2019-08-19 at 9 41 55 AM" src="https://user-images.githubusercontent.com/11485594/63270305-f0443c80-c265-11e9-8aef-096cf49a0398.png">

[2019-08-19 14:32] SooluThomas opened #453 "Cleanup old referencing labels from docs"
Remove all no-longer-used referencing labels.

For example:
<img width="748" alt="Screen Shot 2019-08-19 at 10 28 42 AM" src="https://user-images.githubusercontent.com/11485594/63273551-30a6b900-c26c-11e9-9a0f-8a556647ab22.png">

[2019-08-19 14:49] #451 closed

[2019-08-19 16:47] francabrera commented on #125
it is still an issue (the pages refreshes when clicking on a menu section), but related to how Sphinx web builder works, so unless someone disagrees I would close it by now since there is not an easy way to fix that other than moving from sphinx and doing something custom

[2019-08-19 18:11] #453 closed

[2019-08-19 18:30] #92 closed

[2019-08-19 18:31] #93 closed

[2019-08-19 18:44] mtreinish commented on #12
`qiskit-terra[visualization]` definitely works fine when I test it locally. Running it in a clean env results in:
[code]
being installed. Which includes terra, all dependencies, and all the visualization dependencies. The issue being reported by @devlwkyan looks like an issue with their local shell. Some shells (mostly zsh in my experience) treats `[ ]` as a regex by default. So when you type `qis

[2019-08-19 19:04] lerongil commented on #125
I'm fine with closing but given that it's still an issue maybe just adding the on hold label is more appropriate.

[2019-08-19 19:06] SooluThomas commented on #125
I have an ongoing conversation with Salva regarding this issue. I also think on hold is the best option.

[2019-08-19 19:08] mtreinish commented on #125
Has the issue been raised in the sphinx bug tracker? If not you should open an issue about it, in my experience the sphinx community is normally pretty responsive and helpful when someone encounters an issue.

[2019-08-19 20:02] SooluThomas opened #457 "To remove sub-title in API References"
Remove the **<title> Package** sub-title in the TOC of API References:
![image](https://user-images.githubusercontent.com/11485594/63295411-9c077f80-c29a-11e9-955a-dd1161899da4.png)

[2019-08-19 20:25] nonhermitian opened #459 "Need to document Aer API"
Aer API needs to be documented like Terra was in #447.

[2019-08-19 20:31] nonhermitian opened #460 "Need to add Ignis API"
Need to add ignis API docs like in #447 .

[2019-08-19 20:31] nonhermitian opened #461 "Need to add Aqua API docs"
Need to add Aqua API docs as in #447.

[2019-08-19 20:32] nonhermitian opened #462 "Need to add ibmq-provider API docs"
Need to add ibmq-provider API docs as in #447.

[2019-08-19 21:18] #457 closed

[2019-08-20 01:12] jaygambetta opened #464 "links in https://github.com/Qiskit/qiskit/blob/master/docs/the_elements.rst are broken"
## Did you find a doc bug or broken link that needs to be fixed?

- What is the file name(s) where you found the bug?

- What is the current text that needs to be fixed or removed? (You can copy and paste)

- What should the documentation say instead?

- Are there other related issues or pull requests about this bug?

You can find information about formatting and style for Qiskit in the [Doc Forma

[2019-08-20 01:45] #443 closed

[2019-08-20 01:46] jaygambetta commented on #462
yeah I agree on this one. It might be a bit difficult with the factory. Lets get a proposal and talk with @diego-plan9

[2019-08-20 01:46] jaygambetta commented on #459
why is aer not done?

[2019-08-20 01:50] jaygambetta commented on #459
https://qiskit.org/documentation/apidoc/providers/aer/aer.html

[2019-08-20 02:01] jaygambetta commented on #461
yeah lets have qiskit.chemistry and submodes and qiskit.aqua and submodes. @pistoia
if you want to split the aqua. up into a qiskit.optimization and qiskit.ai and qiskit.finance where in each for now you just have an __init__ with a documentation you should be able to give the appearance of this modules and documentation until you organize by domains.

[2019-08-20 02:04] jaygambetta commented on #79
@Travis-S is this done in the api documentation now.

[2019-08-20 02:13] jaygambetta commented on #79
<img width="649" alt="image" src="https://user-images.githubusercontent.com/15731369/63312168-9e83cc80-c2ce-11e9-9258-aea64ffe1d17.png">

[2019-08-20 02:13] #79 closed

[2019-08-20 02:15] jaygambetta commented on #245
can you add to the source and it should be added here now?

https://qiskit.org/documentation/api/qiskit.visualization.dag_drawer.html#qiskit.visualization.dag_drawer

[2019-08-20 09:14] nonhermitian commented on #459
I was not sure if I got it all.  But it does look like I did (at least the most common stuff).  Will close.

[2019-08-20 09:14] #459 closed

[2019-08-20 13:42] jaygambetta opened #466 "master, and previous versions"
<img width="458" alt="image" src="https://user-images.githubusercontent.com/15731369/63352148-8ba0e480-c32e-11e9-9d07-c67d1c428879.png">

I would like to have master and the previous version in the documentation. I think if we do something like this would be great.

@SooluThomas could you look at this and make this a high priority as then as the team improves the documentation in the master and we

[2019-08-20 13:43] jaygambetta commented on #80
closing and starting a new issue #466 as we have changed the docs

[2019-08-20 13:43] #80 closed

[2019-08-20 13:51] jaygambetta commented on #466
@mtreinish and @SooluThomas and @nonhermitian could we discuss this and how we can do it all.

[2019-08-20 13:59] SooluThomas commented on #466
I think we need to have tagging system enabled to tag the commits to their respective versions, which I think we have that. The only thing that we need now is a button or a means to display the latest version tag and toggle between the versions.

[2019-08-20 14:15] nonhermitian commented on #466
We should investigate this: https://docs.readthedocs.io/en/stable/versions.html.  This would be a good choice for theme as well.  It is already used by everyone.

[2019-08-20 14:16] SooluThomas commented on #466
Yes. Using RTD is one of the best options.

[2019-08-20 14:21] nonhermitian opened #467 "Move to Read The Docs (RTD) theme"
We should move to RTD to take advantage of the niceties that others are already using.

https://docs.readthedocs.io/en/stable/index.html

As discussed in #466

[2019-08-20 14:23] jaygambetta commented on #466
Im good with that as well but lets start another issue for theme.

[2019-08-20 14:32] SooluThomas commented on #467
@nonhermitian I can help you work on this, if you've started. Or else I can give it a try.

[2019-08-20 17:37] JoseManuelBerenguer commented on #198
@ajavadia and @lzdanski

Thank you so much for your directions.

I am so sorry for this big delay! I decided to use an old computer to run qiskit... and forgot this thread...

I was retrying today in this computer, and after comand

$conda uninstall sympy

I got :

$ conda uninstall sympy
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The foll

[2019-08-20 18:32] SooluThomas opened #470 "Change the tutorials link"
## Why

Changing the link from [nbviewer](https://nbviewer.jupyter.org/github/Qiskit/qiskit-tutorials/blob/master/qiskit/1_start_here.ipynb) to [IQX](https://quantum-computing.ibm.com/jupyter)

Since every Qiskit user has to create an IQX account to access IBM Q Systems, I don't think there's any user who doesn't have an IQX account.

## Problems that users might face

For people who don't have an

[2019-08-20 19:11] jaygambetta commented on #470
I agree let’s change it.

[2019-08-20 20:36] #460 closed

[2019-08-20 20:45] SooluThomas commented on #464
this will be done once all the apidocs structuring is done.

[2019-08-21 00:06] jaygambetta commented on #464
Thanks.

[2019-08-21 11:42] #470 closed

[2019-08-21 12:07] 1ucian0 commented on #245
Let me rephrase to be sure I'm following: you think the `qiskit.visualization.dag_drawer` docstring should include details in how to install Graphviz in different OSs. Is that correct? In that case, should this issue be moved to terra?

[2019-08-21 12:11] jaygambetta commented on #245
yes and yes.

[2019-08-21 16:54] SooluThomas opened #475 "Enable Doc Translation"
- [x] Create a branch for pushing in .po (portable object) files.
- [x] Update .travis.yml and deploy_documentation.sh to configure the translation build process.
- [x] Update Qiskit styling for locale.
- [x] Add .po files/folder to new branch.
- [x] update .gitignore of master and poBranch
- [x] add a LOCALIZATION_CONTRIBUTORS file
- [x] add info on how to contribute to localization in docs
- [x]

[2019-08-21 17:16] derivation commented on #475
@lzdanski if you get me a bullet point version of the envisioned CLA workflow, I can make sound good.

[2019-08-21 20:42] derivation commented on #448
I think the code in the getting started material should be **unit tested**, but not run to dynamically generate output displayed in the document. If the code doesn't work as intended, a flag should be raised; error messages or unintended output shouldn't be displayed in the document.

[2019-08-21 22:09] #433 closed

[2019-08-21 22:44] nonhermitian commented on #448
Then we need the code executed manually and the resulting figure added. If an exception or the like is raised, I think the ipython parser will throw it.

[2019-08-22 23:43] mtreinish opened #485 "tools/generate_authors swaps orders of people with same last name"
### Informations

- **Qiskit version**: N/A
- **Python version**:  Any
- **Operating system**:  Any

### What is the current behavior?

When running the `tools/generate_authors.py` script if there are two people with the same last name it will swap their positions sometimes even if no new people are added to the list

### Steps to reproduce the problem

Run `tools/generate_authors.py` if there are

[2019-08-23 02:41] jaygambetta opened #490 "doc is formatted incorrectly on phone"
![IMG_4887](https://user-images.githubusercontent.com/15731369/63563143-0d129580-c52e-11e9-824a-2800808ac297.jpeg)

[2019-08-23 13:23] derivation opened #492 "Edit doc issue template files as they don't apply to api doc"

[2019-08-23 17:24] derivation commented on #490
This will be fixed by #467

[2019-08-23 17:32] jaygambetta commented on #490
great - -the menu is also different.

[2019-08-23 20:09] #492 closed

[2019-08-26 06:47] wridhdhi opened #496 "Circuit drawing matplotlib output fails with conditional classical control gate"
### Informations

- **Qiskit version**:
`qiskit.__qiskit_version__`
{'qiskit': '0.10.2',
 'qiskit-aer': '0.3.0',
 'qiskit-aqua': '0.5.1',
 'qiskit-ibmq-provider': '0.3.2',
 'qiskit-ignis': '0.2.0',
 'qiskit-terra': '0.9.0'}

- **Python version**:

3.6.8

- **Operating system**:

{'CODENAME': 'bionic',
 'DESCRIPTION': 'Ubuntu 18.04.3 LTS',
 'ID': 'Ubuntu',
 'RELEASE': '18.04'}

### What is the curr

[2019-08-28 05:24] JunChiehWang opened #512 "incorrect measurement"
<img width="933" alt="Screen Shot 2019-08-27 at 22 04 58" src="https://user-images.githubusercontent.com/29104344/63827897-9c96ba80-c919-11e9-85a9-44b16a1adf32.png">

### Informations

- **Qiskit version**:0.8.2
- **Python version**:3.6.4
- **Operating system**:Linux ip-172-31-30-115 4.4.0-139-generic #165-Ubuntu SMP Wed Oct 24 10:58:50 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### What is the curr

[2019-08-29 14:42] SooluThomas commented on #125
I think we can close this issue for now as the issue #467 might be a potential solution for this. Can be reopened if need be.

[2019-08-29 14:42] #125 closed

[2019-08-29 16:02] #464 closed

[2019-08-30 08:44] nonhermitian opened #569 "Inconsistent docstrings in pulse module"
### What is the expected enhancement?
In order to have documentation that is uniform over all Qiskit elements, the type annotations used in the Pulse module, and related functions, need to be converted into the standard docstring type used in most other modules.

[2019-09-02 11:49] #485 closed

[2019-09-02 12:43] derivation commented on #475
So, barring something unexpected coming up with the last legal review, I'd say this is mission complete. Great job everyone! Next steps are to promote the translation workflow to community members. Yuri is working on a blog post to kick that off.

[2019-09-02 12:43] #475 closed

[2019-09-02 13:30] diego-plan9 commented on #274
Sure - as a general guideline and reference for similar issues, failures that involve compilation tend to be due to some of the Qiskit dependencies (in this case, the `cryptography` package) not providing a binary wheel for the system where the package is being installed (ie. a combination of python version/architecture). In those cases, `pip` will try to install it using the source package - whic

[2019-09-02 15:04] #274 closed

[2019-09-02 17:57] andysc commented on #274
thank you :)

[2019-09-03 09:04] nonhermitian commented on #363
Tokyo is now offline. Is this reopened for a different device?

[2019-09-03 09:10] qruzar commented on #363
I reopened it for Tokyo. This problem is happening again since yesterday. I'm not the only user having trouble getting results for jobs submitted more than 20 hours ago. Running status just now prints: `BackendStatus(backend_name='ibmq_20_tokyo', backend_version='1.3.1', operational=True, pending_jobs=0, status_msg='active')`. Will it be back online again soon? How can we check?

[2019-09-03 09:13] nonhermitian commented on #363
Sorry, but Tokyo is retired, and will not be back online. It still exists as a backend solely for users to retrieve saved jobs. The August 29 sunset date was communicated to those with access over a month ago, and reiterated in the announcement of the Boeblingen device.

[2019-09-03 09:41] qruzar commented on #363
You are correct. Thank you for the reminder.

[2019-09-03 09:41] #363 closed

[2019-09-05 17:30] nonhermitian commented on #467
@SooluThomas said that this is no longer an option due to the requirements of the translations.

[2019-09-05 17:44] derivation commented on #467
@SooluThomas, could you write out a few of the reasons here? I think you also mentioned the C/C++ code dependencies of Aer creating a challenge.

[2019-09-05 18:16] SooluThomas commented on #467
Yes, we can't adapt RTD due to the following reasons:

- The build for RTD fails due to the C dependencies of Aer. Had discussions with @mtreinish about the same.
- If RTD is being used, the current workflow for website deployment including deployment script and translation script will have to be deleted because RTD has a build system of its own and we might have to figure out its way of using Cro

[2019-09-06 13:28] nonhermitian opened #541 "Aqua documentation could be clearer in places"
For example ??? here:

<img width="784" alt="Screen Shot 2019-09-06 at 9 26 46 AM" src="https://user-images.githubusercontent.com/1249193/64431524-9e365000-d088-11e9-9620-dd257f8c2c5b.png">

https://qiskit.org/documentation/api/qiskit.aqua.operators.suzuki_expansion_slice_pauli_list.html#qiskit.aqua.operators.suzuki_expansion_slice_pauli_list

[2019-09-06 18:35] woodsp-ibm commented on #541
The above now has an updated docstring and will be fixed whenn https://github.com/Qiskit/qiskit-aqua/pull/674 is merged

[2019-09-08 16:30] pistoia commented on #541
Agree with @woodsp-ibm

[2019-09-09 14:05] nonhermitian opened #544 "Community events not accessible from community page"
https://community.qiskit.org/events/ is not accessible from the main community page.

[2019-09-09 14:07] nonhermitian opened #545 "Q awards page not accessible from community page"
https://ibmqawards.com/ is not accessible from community page.

[2019-09-09 14:11] delapuente commented on #544
Yes, although not ideal, it is on purpose.

[2019-09-09 14:11] #544 closed

[2019-09-09 14:12] delapuente commented on #545
Where should it be advertised?

[2019-09-09 14:19] nonhermitian opened #546 "https://qiskit.camp/ should redirect to community events"
https://qiskit.camp/ is the old VT camp, but it the first (and seemingly only) link to Q camps.  Given that it is dead, it should redirect to the live https://community.qiskit.org/events/ page.

[2019-09-09 14:20] nonhermitian opened #547 "https://community.qiskit.org/events/ is not in chronological order"
The events on https://community.qiskit.org/events/ are not listed in chronological order.

[2019-09-09 14:27] nonhermitian commented on #545
It is a community event, so somewhere on the community page seems logical.

[2019-09-09 14:32] delapuente commented on #545
Sure, I'll check with Liz (hopefully we had the event site online to advertise there but it's not). Thanks for the head up.

[2019-09-09 14:40] KallieFerguson commented on #545
Meeting set up on Wednesday to address this. We also have Yuri's challenge out of Japan. @delapuente, are there other relevant parties I should loop into Wednesday meeting?

[2019-09-09 15:33] MercurialMind opened #548 "Bug on Host Qiskit Events"
### https://community.qiskit.org/education/#host-an-event
This link does not connect or redirect, gives error every time.

[2019-09-10 22:55] omarcostahamido opened #555 "enable PT-PT translation in crowdin"
following on @SooluThomas ' instructions [here](https://github.com/Qiskit/qiskit/pull/552#issuecomment-530136158)

## Did you find a doc bug or broken link that needs to be fixed?

- What is the file name(s) where you found the bug?

- What is the current text that needs to be fixed or removed? (You can copy and paste)

- What should the documentation say instead?

- Are there other related issues

[2019-09-12 02:54] #512 closed

[2019-09-12 14:03] mtreinish opened #559 "Stop using namespace packages"
### Informations

- **Qiskit version**: >= 0.7
- **Python version**: All
- **Operating system**: All

### What is the current behavior?

Python namespace packaging is inherently unreliable and is a constant source of problems for users. What might work in a fresh python environment over time pip and python packaging almost surely mess things up so it will no longer see sub elements. This is an inh

[2019-09-13 09:05] nonhermitian opened #568 "Tutorials link on community page should point to IQX"
The tutorials link on the community page currently points to nbviewer. It should point to the IQX.

[2019-09-13 13:36] #568 closed

[2019-09-13 14:29] ajavadia commented on #569
Ok I transferred this issue here. As discussed, seems there is agreement that this should be handled by the docs.

@SooluThomas is there any update?

[2019-09-13 14:37] lerongil commented on #568
I don't agree that the tutorials should point to IQX. It's not a standard experience for an open-source project to put a login wall in front of the tutorials.

[2019-09-13 15:04] SooluThomas commented on #569
I don't have any positive update for this yet. The best way is to stick on to a standard (either with type hints or without). I talked to @lcapelluto about this and got an understanding that having type hints is a better option for the developers but, for a user perspective, its not an ideal thing.

[2019-09-13 17:14] taalexander commented on #569
It would be helpful if you could explain a bit on why there is a problem pulling them into the documentation? It was my understanding that the [Sphinx, Napolean package supported type hints in google style docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html). Its possible we are not using this package?

[2019-09-16 06:34] sunn-e opened #571 "Trouble with visualization"
Hi awesome people, this is Sunny, I just came across this and following this(https://www.youtube.com/watch?v=RrUTwq5jKM4) tutorial to get used to the tool. Just for fun. So, I came across a part where I do a hadamard gate operation and draw the circuit usling matplotlib. The video shows a different visual at 4:48 of that video than what I got
![qiskit](https://user-images.githubusercontent.com/300

[2019-09-16 06:47] maddy-tod commented on #571
Hello, glad to see you are enjoying the videos! We have updated it so that the drawings are coloured by default, but the layout of the gates is the same as in the video so they do represent the same circuit. If you draw the circuit with `circuit.draw(output='mpl', style='False')` you should get the black and white drawing as in the video.

[2019-09-16 07:47] sunn-e commented on #571
Thanks @maddy-tod , I think you meant ```circuit.draw(output='mpl', style=False)```, It worked for me.

[2019-09-17 02:29] omarcostahamido commented on #555
Thank you @derivation and @SooluThomas .

[2019-09-17 02:34] #555 closed

[2019-09-17 13:33] #571 closed

[2019-09-17 14:33] lzdanski opened #572 "Update contributing doc based on contributor feedback"
## Does existing documentation need to be updated with new content?

Which files need to be updated?
* contributing.rst
* Crowdin

What new content needs to be added?
* Document criteria for adding a new language for Qiskit translation
* Instructions for creating an issue for Qiskit localization team to evaluate new languages, recruit volunteer translators, identify translator leads
* Reorder step

[2019-09-17 14:38] lzdanski opened #573 "Evaluate tooling and processes for translating Jupyter Notebooks"
Identify translation tools to provide multi-language support for tutorials and other materials in Jupyter notebooks.

- Identify tools/toolchain to support multi-language support
    - Investigating markdown (nbtranslate pipeline) and .rst (crowdin pipeline) options

[2019-09-17 14:52] mtreinish commented on #573
Not directly related to translations, but a few months ago I did investigate briefly automating the inclusion of the tutorials in the docs: https://github.com/Qiskit/qiskit/pull/42. Doing something like that might enable harvesting the translatable strings from the notebooks for translation. Because the notebooks' rst output will be included at build time so when we run sphinx build with the `gett

[2019-09-22 21:54] Europium-152 opened #579 "circuit.draw() does not plot anything"
### Informations

- **Qiskit version**: 0.9.0
- **Python version**: 3.7.3
- **Operating system**: Win10
- **Matplotlib version**: 3.0.3

### What is the current behavior?

circuit.draw() returns a matplotlib Figure and executes successfully but no plot shows up.

### Steps to reproduce the problem

Matplotlib backend is TkAgg.
I'm using PyCharm as IDE.
Running in the Ipython console and in the com

[2019-09-23 02:10] joseluisrg opened #581 "add Spanish, Mexico translation"
## Did you find a doc bug or broken link that needs to be fixed?

- What is the file name(s) where you found the bug?
None. Requesting translation addition for Spanish.

- What is the current text that needs to be fixed or removed? (You can copy and paste)
No fixes rather requesting translation addition for Spanish.

- What should the documentation say instead?
Should expand to Spanish.

- Are the

[2019-09-23 09:37] maddy-tod commented on #579
This has just [been fixed](https://github.com/Qiskit/qiskit-terra/pull/3051) and will be available in the next release of Qiskit Terra. In the meantime you can save the figure by doing `circuit.draw(output='mpl', filename='my_circuit.png')` or you can display the circuit in the terminal by doing `print(circuit)`.

[2019-09-23 13:31] derivation commented on #581
Hi @joseluisrg Thanks for your request. We're starting to discuss what it takes to start up a new language. We started with Japanese, where we had a community leader who recruited about 10 or so volunteers who all use Qiskit. Do you know where (online or in-person) most people who would be interested in a Spanish translation of Qiskit congregate / read / publish? Do you think you could gather them

[2019-09-23 15:03] joseluisrg commented on #581
Hello Paul, I touched base with our local IBM Q Ambassador and she has gathered 10 Spanish speakers (including me and her), so yes we can help. We will ask them to join this thread. Thanks.

[2019-09-23 16:28] sita158 commented on #581
Hi Paul, we are about 14 Qiskit users interested in helping (counting me and Jose Luis). I have asked them to comment in this thread, so that you can identify us... Thank you.

[2019-09-23 16:37] terebikun commented on #581
Hello!
you can count me in on this one.

[2019-09-23 16:38] balo215 commented on #581
Hi!
I'm interested too.
Regards.

[2019-09-23 18:11] SooluThomas commented on #581
Spanish, Mexico translations have been enabled in CrowdIn. Please follow the [steps for contributing to documentation localization](https://qiskit.org/documentation/contributing_to_qiskit.html#translating-documentation). Thank you.

[2019-09-23 18:13] derivation commented on #581
I spoke with @sita158 off-thread. She is going to continue to organize the community around Spanish (Mexico).

[2019-09-23 18:17] derivation commented on #581
@SooluThomas I recommend publishing the Spanish, Mexico localization after the community translates

- [ ] https://qiskit.org/documentation/
- [ ] https://qiskit.org/documentation/install.html
- [ ] https://qiskit.org/documentation/getting_started.html

[2019-09-23 18:26] SooluThomas commented on #581
@derivation Sounds good!

[2019-09-23 18:36] liobas commented on #581
Hi,

I am in!
regards.

[2019-09-23 19:01] marmotae commented on #581
I'm all in for this one
Cheers
Balta

[2019-09-23 22:29] juanmontalvog commented on #581
Count me in! Regards

[2019-09-23 22:32] SooluThomas commented on #581
@terebikun @balo215 @liobas @marmotae @juanmontalvog Please follow the [steps for contributing to documentation localization](https://qiskit.org/documentation/contributing_to_qiskit.html#translating-documentation). Here's a sample PR (https://github.com/Qiskit/qiskit/pull/580). Thank you.

[2019-09-24 06:45] delapuente opened #585 "Modify documentation generation not to include `_sources` and `.doctrees`"
The generation of these folders can be controlled in the [configuration](https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_copy_source) and [command line](http://www.sphinx-doc.org/en/master/man/sphinx-build.html#cmdoption-sphinx-build-d).

[2019-09-24 12:07] jkmartin098 commented on #581
I'd like to join

[2019-09-25 00:29] nonhermitian commented on #467
There was some confusion here. I just want RTD theme, not the service.

[2019-09-25 17:22] nonhermitian opened #588 "Main action should link to IQX rather than qiskit install instructions"
### What is the expected behavior?
The main "Welcome to Quantum" action should link to the IQX rather than the Qiskit install instructions.

[2019-09-25 17:35] SooluThomas commented on #588
The link to IQX exists in the 2nd section after the main header. Right?

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/11485594/65625149-414bfc80-df99-11e9-8d06-e3626dbf3682.png">

[2019-09-25 17:40] nonhermitian commented on #588
Correct. But there is a logical disconnect here.  We state that the IQX is the place to get started, no installation required, and thus motivate the fact that it is easy to get setup and running, but then direct users to a page that starts talking about creating virtual envs and VC++ runtime components.  It does not make sense to direct new users there to begin with.

Ideally we would have two thi

[2019-09-25 17:42] nonhermitian opened #589 "Tutorials menu bar item should be a drop down"
### What is the expected behavior?
Menu bar tutorials should be a drop down that includes both the IQX `Interactive tutorials` and the static github ones `Read-only tutorials`, in that order.

[2019-09-25 20:42] #585 closed

[2019-09-30 08:38] menegolli opened #600 "Add Italian translation"
## Did you find a doc bug or broken link that needs to be fixed?

- What is the file name(s) where you found the bug?

- What is the current text that needs to be fixed or removed? (You can copy and paste)

- What should the documentation say instead?

- Are there other related issues or pull requests about this bug?

## Does existing documentation need to be updated with new content?
The Italian

[2019-10-01 17:14] mtreinish commented on #443
Just to follow up here the plan I have moving forward is to use: https://github.com/Qiskit/qiskit-bot on all the repos including aqua. The bot will automatically open a PR here to bump things when a release in an element is pushed.

[2019-10-02 18:21] jenglick opened #605 "Increase width of source code text when viewed in the documentation"
### **What is the current behavior?**

When viewing source code in the documentation, the text displayed is fixed at a narrow width, irrespective of width of the browser window and so requires horizontal scrolling.

### **What is the expected behavior?**

I would expect width of displayed source code to increase and decrease with width of browser window.

[2019-10-03 09:46] nonhermitian commented on #605
Yes.  This is fairly staright forward to do, but we need to switch the theme to `rtd` first #467.  After that it is simply a `css` change:
[code]

[2019-10-03 15:50] #1435 closed, assigned to 1ucian0

[2019-10-04 01:05] HuangJunye opened #610 "Add Chinese translation"
I want to request for adding Chinese translation for Qiskit documentations. Meanwhile, I will look for contributors to join the efforts.

[2019-10-04 01:27] revilooliver commented on #610
Hi, I am interested in contributing to Chinese translation.

[2019-10-04 01:43] HuangJunye commented on #610
@revilooliver That's great! Thank you. I have gathered another 3 people on Slack for the translation.  We will need about 10 people to have enough supports for a new language addition. Meanwhile, can you ask around for more people to join?

[2019-10-04 01:50] revilooliver commented on #610
Actually I am Ji Liu from the Slack channel :)  I can find one or two more people to join us.

[2019-10-04 02:04] JoeyXLiu commented on #610
Hey, this is Joey Liu from the Slack channel :)

[2019-10-04 02:04] itsuka021 commented on #610
Hello, I would like to join and my name in slack is BaiSiang

[2019-10-04 08:44] tbcdebug commented on #610
Hi, I am interested in contributing to Chinese translation as well.

[2019-10-04 09:22] Hans0124SG commented on #610
I want to contribute to Chinese translation team. My name in Slack is Wang Han.

[2019-10-05 11:38] raffmiceli commented on #600
I'm a native speaker of English and Italian. How can I help with this?

[2019-10-05 14:48] YP-qt opened #612 "Teleportation on a real quantum computer"
### Informations

- **Qiskit version**: 0.12.1
- **Python version**: 3.7.3
- **Operating system**: macOS Mojave

### What is the current behavior?
The states output from teleportation implemented on real quantum computer doesn't have results for c2=1

### Steps to reproduce the problem
The source code can be found in the following link:
https://community.qiskit.org/textbook/ch-algorithms/teleporta

[2019-10-05 19:09] ajavadia commented on #612
It's not clear what your issue is:

first, the histogram shows cases where c2=1.
second, the desired outcomes are those where c2=0, per the textbook. and those have taller bars in your figure as expected.

[2019-10-06 00:36] YP-qt commented on #612
My apologies for the unclear description, I just updated my problem statement

[2019-10-06 02:20] ajavadia commented on #612
@YP-qt i'm still not sure what the issue is here. note that c2 is the left-most classical bit (i.e. `c2 c1 c0` is the order). so c2=0 it is in fact higher.

That said, I don't think this notebook is actually correct. You can't run teleportation on current devices (without some kind of post selection). Teleportation requires either classical feedback, or as is the case in this notebook, operating o

[2019-10-07 01:59] HuangJunye commented on #610
Hi all, thanks for your interests! We have 6 people now, will need 4 more to join before we can request for adding Chinese localization. Can you please ask around if your friends are interested in this project?

[2019-10-07 06:25] TonySong97 commented on #610
Hi, I would like to join this project. Thank you for bringing this up :)

[2019-10-07 06:43] XYShe commented on #610
Hey I am also interested! My name is Xinyang she.

[2019-10-07 06:59] jnmupkucas commented on #610
Hello, Thank you for bringing this up. I am not very familiar with this field, but I am very interested. I hope to join the project to learn about it and contribute as much as I can.

[2019-10-07 08:15] kobe-ding commented on #610
Hi I'm interested in joining this project! My name is Chaoxin Ding.

[2019-10-07 08:28] viviwang1008 commented on #610
Hi Junye, I am not an expert in this field, but I would like to contribute to the project. Wei WANG.

[2019-10-07 08:59] tbcdebug commented on #610
I think we have enough people?

[2019-10-07 09:11] HuangJunye commented on #610
@SooluThomas @veenaiyuri Good news! We have gathered more than 10 people for the Chinese localisation. Can we add Chinese to Crowdin? How do we proceed from here?

[2019-10-07 10:08] veenaiyuri commented on #610
Junye,
That is really good news indeed!
Currently our management team is trying to support your effort by making sure we have an IBMer who speaks mandarin to be a focal to support you all from within the organization. We will let you know as soon as we figure out who would be appropriate for this role. Thanks!

Yuri

[2019-10-07 10:30] HuangJunye commented on #610
Thanks Yuri!

[2019-10-07 13:45] ForeverZyh commented on #610
Hi, I am also interested. My name is Yuhao Zhang.

[2019-10-07 17:03] qslumin commented on #610
Hi, I am also glad to join in. Thanks!  :)

[2019-10-07 19:48] AlexAlper opened #616 "Add Russian language"
https://crowdin.com/project/qiskit-docs
I want to start translating into Russian
Can you add the Russian language?

[2019-10-08 09:00] TerryBreaksButterfly commented on #610
Hi, Junye,

Count me in. I'm Terry Suun.

[2019-10-08 12:40] imvieira opened #617 "Add Portuguese documentation"
### What is the expected behavior?

Quantum information is a subject that is found in English language literature more often than in Portuguese literature.
We in Brazil, and also from Portugal, want good references in Portuguese to educate people who are interested in learning more about quantum information.
Some terms, such as Gate, are translated incorrectly by translators. In addition, at unive

[2019-10-08 12:51] imvieira opened #618 "Usage of draw(output='latex_source')"
### Informations

- **Qiskit version**:

![image](https://user-images.githubusercontent.com/13357603/66396683-a0a20780-e9b0-11e9-8150-18c641d45256.png)

- **Python version**:

Python 3.7.3

- **Operating system**:

Windows 10

### What is the current behavior?

Is that the expected behavior by using **draw(output='latex_source')** ?

`'% \\documentclass[preview]{standalone}\n% If the image is too

[2019-10-08 13:28] SooluThomas commented on #581
Since we have added Spanish(Mexico) in Crowdin, I'm closing this issue. Reopen if need be.

[2019-10-08 13:54] mtreinish commented on #618
This is the correct behavior of the `latex_source` output. It is used to return the raw latex string used to generate the quantum circuit diagram. That string is valid latex and when run in your latex distribution will build a pdf with the circuit diagram (it's what is used by the `latex` output to generate the png). The general use case for `latex_source` output is to take the relevant sections f

[2019-10-08 13:54] #618 closed

[2019-10-08 14:26] ignaziopedone opened #620 "Add Italian as language in Qiskit-Docs Crowdin project"
I'd like to add the language to become a contributor (translator).

[2019-10-08 15:32] derivation commented on #581
@SooluThomas keep this open until Spanish can be displayed in the live doc web page.

[2019-10-08 16:03] imvieira commented on #617
Thank you very much for that guidance.

[2019-10-08 16:03] #617 closed

[2019-10-08 21:02] ztjohnst opened #622 "Control Z gate displays incorrectly when the circuit is printed"
### Informations

- **Qiskit version**: 0.12.0
- **Python version**: 3.6.8
- **Operating system**: OSX

### What is the current behavior?
In any circuit, the control z gate seems to print wrong. It is very hard to tell which qubit is the control and which is the target.

### Steps to reproduce the problem
Add a control z gate to any circuit then print the circuit like so:
circ.cz(q[0],q[1])
print(

[2019-10-08 21:08] ajavadia commented on #622
control-z is a symmetrix gate. it doesn't matter which qubit is control and which is target. that's why it is drawn that way.

[2019-10-08 21:08] #622 closed

[2019-10-09 15:00] lzdanski commented on #600
Hi @raffmiceli, have you read the descriptions of the different roles in the [Blog Post](https://medium.com/qiskit/qiskit-in-my-language-is-qiskit-73d4626a99d3) (How to get involved section)?

To get a language started, we need to have someone who will commit to being the *translation lead*, then there needs to be at least one *proofreader* to get a language started.

Which role are you interested

[2019-10-09 15:13] SooluThomas commented on #616
Thanks for your interest in Contributing to Qiskit Localization. Please read the descriptions of the different roles in the [Blog Post](https://medium.com/qiskit/qiskit-in-my-language-is-qiskit-73d4626a99d3) (How to get involved section).

For more info: https://github.com/Qiskit/qiskit/issues/600#issuecomment-540041562

[2019-10-09 15:22] #620 closed

[2019-10-09 17:39] AlexAlper commented on #616
I want to be a translator into Russian

[2019-10-09 19:17] mikeumus opened #625 "Borken ReadMe Links"
The link to join the Slack on the ReadMe is broken:
https://qiskit.slack.com/join/shared_invite/enQtNjQ5OTc5ODM1ODYyLTBlMWY1ZGJiYmZkNjliZTY4MTViNTQ3NzI2ZmU2MzQxZjlhZDZlYTAzZTNlMDU0ZjVmNzEyMzY3OGE1Y2UyNjk

and the link on the footer of https://community.qiskit.org to join Slack is no good either.

Also the IBMQ Provider link is 💔
https://qiskit.org/qiskit-ibmq-provider

😞

[2019-10-09 23:22] #625 closed

[2019-10-10 07:40] arbiter1elegantiae commented on #600
Hi @lzdanski, I'd like to candidate myself as a Translator English to Italian (or vice-versa?). I am a native speaker of the latter.

[2019-10-10 08:11] ignaziopedone commented on #600
Hi I am interested too.

[2019-10-10 15:32] mikeumus commented on #625
@SooluThomas well it doesn't fix the broken Slack link   :/

[2019-10-10 22:10] SooluThomas commented on #625
It has been resolved in PR #627

[2019-10-11 19:38] #569 closed

[2019-10-13 01:16] kwyip commented on #376
I encountered the same problem for pip install inside conda env, after mac OS upgrade to Catalina. The solution is to uninstall conda gcc.

First install xcode-select:
`xcode-select --install`

Then inside the conda env uninstall conda's gcc before pip install:
`source activate qiskit-0.12`
`conda uninstall gcc`
`pip install qiskit`

[2019-10-16 15:36] SooluThomas commented on #156
Closing this, because the same is being discussed in issue #610.

[2019-10-16 15:36] #156 closed

[2019-10-17 13:04] cristeam2 commented on #600
+1 Same Here

[2019-10-17 13:08] cristeam2 commented on #581
Hi

+1 Me too

[2019-10-24 23:37] Ayshine opened #648 "Add Turkish Language"
I would like to contrıbute the translation project as Team Lead.
Would it be possible to add the Turkish language?
https://crowdin.com/project/qiskit-docs

[2019-10-25 11:38] SooluThomas commented on #648
Hi @Ayshine, Thank you for your interest in contributing to Qiskit Localization. Have you read the descriptions of the different roles in the [Blog Post](https://medium.com/qiskit/qiskit-in-my-language-is-qiskit-73d4626a99d3) (How to get involved section)

To get a language started, we need to have someone who will commit to being the translation lead, then there needs to be at least one proofread

[2019-10-25 12:41] gilbion opened #651 "Add Brazilian portuguese language"
Hello,

I would like to have the Qiskit documentation translated from English to Brazilian Portuguese.

I can participate in the translation project as either the Translation Leader or the Proofreader.

I also have a couple other people that would like to participate in the translation effort.

Thank you!

[2019-10-25 13:28] SooluThomas commented on #651
Hi @gilbion, Thank you for your interest in contributing to Qiskit Localization.

Please ask the other people who'd like to join as well to comment here in this issue and also [make a PR for adding your name to the LOCALIZATION_CONTRIBUTORS file](https://qiskit.org/documentation/contributing_to_qiskit.html#translating-documentation). Each contributor should add only their own name to the list.

[2019-10-25 13:49] SooluThomas commented on #651
Thank you @imvieira for volunteering for localization. I see that you've already added your name to LOCALIZATION_CONTRIBUTORS list in PR - https://github.com/Qiskit/qiskit/pull/624. You need not make a PR again 😊

[2019-10-25 16:38] diegodsd commented on #651
I have already started studying such and can contribute to translate it under portuguese language.

[2019-10-29 17:14] fromillo opened #658 "Unable to install qiskit on anaconda"
### Informations

- **Qiskit version: latest from pip**:
- **Python version 3.8.0**:
- **Operating system win10 with latest updates**:

### What is the current behavior?
I'm unable to install it in Anaconda (latest version, downloaded today)

### Steps to reproduce the problem
pip install qiskit

### What is the expected behavior?
i've this:
[code]

### Suggested solutions
i've no idea :(

[2019-10-29 17:23] mtreinish commented on #658
Qiskit does not support python 3.8.0 yet. This is mostly because it has dependencies on libraries that do not have published wheels on python 3.8.0 yet. This is what you're hitting scipy has not published a release with a precompiled binary on 3.8 yet and when you go to install it in pip is trying to install scipy from source, which fails because you do not have a lapack/blas library source instal

[2019-10-29 17:40] fromillo commented on #658
Thank you for your suggestions. I followed the instructions on the site, but i didn't saw that 3.8 isn't supported yet.

I switched to 3.7.4 and everything seems to work.

Thank you very much

[2019-10-29 17:40] #658 closed

[2019-10-29 19:04] #572 closed

[2019-10-30 10:30] a07r commented on #589
Hi @nonhermitian Do we still want to work on this issue? I was wondering if I can help with it but for that You may want to elaborate the requirement please!

[2019-10-31 10:39] a07r opened #660 "https://qiskit.org/documentation/install.html needs a fix!"
I would call it a doc bug

- https://qiskit.org/documentation/install.html

- Current text is as follows,

We recommend using Python virtual environments to cleanly separate Qiskit from other applications and improve your experience.

The simplest way to use environments is by using the conda command, included with Anaconda. A Conda environment allows you to specify a specific version of Python an

[2019-11-01 23:12] delapuente commented on #547
The page was retired.

[2019-11-01 23:12] #547 closed

[2019-11-03 14:21] DanteCpp commented on #600
Hi, I am interested in the project. If nothing is moving yet, I propose myself as translation lead.

[2019-11-05 10:57] delapuente opened #663 "Add Qiskit logo to the RTD theme"
### What is the expected behavior?
After merging #662 , add the Qiskit logo following the comment https://github.com/Qiskit/qiskit/pull/662#pullrequestreview-311405569

[2019-11-05 14:58] SooluThomas opened #664 "Link to main website from Documentation"
## What is the expected behavior

After merging #662, add links to [qiskit.org](https://qiskit.org), [Terra](https://qiskit.org/terra), [Aqua](https://qiskit.org/aqua), [Aer](https://qiskit.org/aer), [Ignis](https://qiskit.org/ignis), [IBM Q Account](https://qiskit.org/ibmqaccount) from [Documentation](https://qiskit.org/documentation).

[2019-11-05 17:07] mmetcalf14 opened #665 "Performance reduction of VQE with UCCSD ansatz in Qiskit 0.13.0"
### Informations

- **Qiskit version**: 0.10.0-0.13.0
- **Python version**: 3.7
- **Operating system**: Mac OS Catalina

### What is the current behavior?

We have been using Qiskit chemistry to run VQE simulations of a CAS(10,10) molecule. The active space of this molecule is encoded on 20 qubits with a ~200 param UCCD ansatz. We started running these simulations using the COBYLA optimizer back i

[2019-11-05 17:20] dongreenberg commented on #665
Hi Mekena,

Thanks for bringing this up. We're working on this issue. A few quick questions to see whether you can make some immediate gains:
- Are you using the statevector_simulator or qasm_simulator, and BasicAer or Aer?
- Are you using a `QuantumInstance` or running via the `run_algorithm` interface? Do you have json validation disabled?

[2019-11-05 21:55] mmetcalf14 commented on #665
Thank you Don for your expedient reply.

1. I am using the statevector_simulator.
2. After establishing a quantum instance with 'backend = statevector_simulator' and the VQE algorithm, I call the function
`
quantum_instance = QuantumInstance(backend=statevector_simulator)
algorithm = VQE(qop_paulis, var_op, optimizer, 'paulis', initial_point=initial_point)
result = algorithm.run(quantum_instance=q

[2019-11-07 03:11] stolk opened #667 "Inline drawing via matplotlib can clip information."
### Informations

- **Qiskit version**: 0.13.0
- **Python version**: 3.7.4
- **Operating system**: Ubuntu 18.04.3
- **Browser**: Firefox 70.0.1 (64-bit)

### What is the current behavior?

When I draw a circuit, information can be lost due to clipping.
See image.

![image](https://user-images.githubusercontent.com/455280/68356957-afbbc880-00c8-11ea-84f5-862d0088e96a.png)

The few pixels on the rig

[2019-11-07 04:03] tobeyOguney commented on #667
Hi stolk!
I noticed this is due to the "scale" parameter of the QuantumCircuit object being set to a default of 0.7.
The image doesn't clip when "scale" is set to 1.
![image](https://user-images.githubusercontent.com/28822467/68359350-e3740e00-011b-11ea-9006-e7a7518a1bb6.png)

[2019-11-07 16:23] derivation commented on #660
@a07r please do give it a shot. We'll review your work. Thank you.

[2019-11-08 00:30] stolk opened #668 "Hadamard Gate not documented: link goes to unrelated page."
If I go to the GATE documentation here:
https://quantum-computing.ibm.com/support/guides/gate-overview?section=5d00d964853ef8003c6d6820#h-gate

Then there is a link called **"Quantum gates: Hadamard and S"**

Yet, if you click there, you are led to a page about an adder, but NO information whatsoever on Hadamard.

There should be documentation on Hadamard.

[2019-11-08 07:57] #467 closed

[2019-11-08 07:57] #490 closed

[2019-11-08 07:57] #605 closed

[2019-11-08 14:54] #663 closed

[2019-11-08 17:52] lzdanski commented on #668
@stolk Thank you for bringing this to our attention! The problem you found isn't really with Qiskit docs, so we're going to make sure this gets to the right group.

As the fix is being worked on, you can ask questions about the Circuit Composer in the [#ibm-q-experiences channel in the Qiskit Slack](https://join.slack.com/t/qiskit/shared_invite/enQtNjQ5OTc5ODM1ODYyLTc2YWJhOWViZDA2OWI5N2EyMjIxN2YwO

[2019-11-08 18:48] derivation opened #672 "Streamline Getting Started"
The overview is interrupted by `.. note::` statements. These details should be in the step-by-step sections instead.

[2019-11-08 19:32] SooluThomas opened #675 "Color missmatch for Qiskit Docs in smaller screens"
Fix the missmatch for Qiskit Docs in smaller screens

Sample screenshots:
<img width="380" alt="image" src="https://user-images.githubusercontent.com/11485594/68504926-22958280-0234-11ea-8bf2-b88d641466a5.png">
<img width="380" alt="image" src="https://user-images.githubusercontent.com/11485594/68504968-35a85280-0234-11ea-8eb4-b63ed5a6faef.png">

[2019-11-08 19:38] #675 closed

[2019-11-11 15:58] yunfan opened #678 "could we have a subscription API for task status changing?"
### What is the expected behavior?

i hope there could be a subscription API for task status changing since it already had websocket support. that would helpful for the hurry user

[2019-11-11 20:19] SooluThomas commented on #651
Hi all! Please go ahead and make PRs as mentioned in [Step 2](https://qiskit.org/documentation/contributing_to_qiskit.html#translating-documentation) of Contributing to Localization Docs.

[2019-11-12 14:01] kdk commented on #678
Hi @yunfan, can you add some detail on what kind of subscription API, and what it would be used for? Would its purpose be different than the `%qiskit_job_monitor` from https://github.com/Qiskit/qiskit-iqx-tutorials/blob/master/qiskit/fundamentals/6_qiskit_jupyter_tools.ipynb ?

[2019-11-12 14:49] #672 closed

[2019-11-12 16:16] delapuente commented on #664
Where do you want to include them? I would say this is part of the side bar, something like "Go to website" but, to be honest, those landing pages don't add real value to the users and they are intended to dissapear (probably). The point of the landing pages is to redirect the user to more meaningful content like the repos or the documentation so I don't see a way back as something critical. @nonh

[2019-11-12 16:41] SooluThomas commented on #664
I was thinking of redirecting to qiskit.org when the logo on the top left (in the documentation) is clicked.

[2019-11-12 16:54] nonhermitian opened #682 "Module status is completely out of date / incorrect."
Needs to be cleaned up.

[2019-11-12 16:59] nonhermitian commented on #667
This is due to the removal of `tight_layout` in Terra.  It will be solved soon.

[2019-11-12 20:54] AdrianTanTeckKeng opened #685 "504 Server Error: Gateway Time-out for url"
### Informations

- **Qiskit version**: 0.13.0
- **Python version**: 3.7.1
- **Operating system**: MacOS

### What is the current behavior?
I am running a time evolution algorithm and am measuring an observable at each time step. The time step at jth+1 depends on the observables at jth. I have a while loop to check if the job for the current time step is completed before moving on to the next time

[2019-11-13 01:37] yunfan commented on #678
@kdk the subscription api should let the server push notifications(like job status changing) to my connected client . in that case, i could easily implmenet a local hub for sharing the token i had without gave local user

[2019-11-13 07:39] a07r commented on #660
@derivation , @lzdanski

Current status -

I have opened up a thread in Stack exchange regarding the smartest way possible to make Python version dynamic on documentation -

the same can be accessed at - https://quantumcomputing.stackexchange.com/questions/8720/how-do-i-find-out-which-stable-python-version-qiskit-will-be-compatible-to-at-a

Let me know if you guys have any insights on it, if you g

[2019-11-13 08:31] nonhermitian commented on #678
I believe that sharing the token via the mechanism you describe is against the terms of service of the IBM Quantum Experience: https://quantum-computing.ibm.com/terms

[2019-11-13 13:32] mtreinish commented on #660
I'd argue that the documentation is probably fine, it's just new version updates do not happen in a vacuum and can't happen instantly. Python 3.8 was released less than 1 month ago and the entire python ecosystem is working to both make sure code is updated to work with the new version (because new python versions are never 100% compatible) and push out releases with binary wheels that support the

[2019-11-13 21:55] a07r commented on #660
I understand/agree, @mtreinish

I brought it up only to double check if we wanted to address (perhaps mainly because documentation reads 3.5 or later) and from user's (especially someone starting afresh) point of view it can be a bummer

[2019-11-14 19:53] SooluThomas opened #688 "Sphinx tabs not working"
Documentation for [Installing from source](https://qiskit.org/documentation/contributing_to_qiskit.html#installing-terra-from-source) used to have a tab structure which toggles between installation for different operating systems, which is not currently working in the desired way.

- What is the file name(s) where you found the bug?

   [Contributing to Qiskit file](https://github.com/Qiskit/qiski

[2019-11-16 01:51] SamMondal opened #689 "Error while installing Qiskit 0.13.0"
Hello,
While running "pip install qiskit" within the conda environment for qiskit, I get the error detailed below. Could you please suggest what should I do? (latest version of anaconda=2019.10)

[code]

[2019-11-17 08:31] melvin2016 commented on #688
I'm on this

[2019-11-17 10:03] melvin2016 opened #690 "Cleanup of documentation inside contributing_to_qiskit.rst."
## Does existing documentation need to be updated with new content?
Yes
- Which files need to be updated?
 qiskit/docs/contributing_to_qiskit.rst
- What content needs to be updated or replaced? (You can copy and paste)

Installing from source section doesn't provide better navigation to these elements installation.

    qiskit-terra
    qiskit-aer
    qiskit-ignis
    qiskit-aqua
    qiskit-ibmq-p

[2019-11-17 10:20] melvin2016 commented on #688
i'm on this.

[2019-11-18 12:24] yunfan commented on #678
though this is a general demands, i think i should close the issue since it againts the term

[2019-11-18 12:24] #678 closed

[2019-11-18 12:30] nonhermitian commented on #678
Yes the feature itself would be nice.

[2019-11-19 08:54] indhra007 commented on #688
any update

[2019-11-19 10:02] melvin2016 commented on #688
Yeah trying

On Tue, 19 Nov, 2019, 14:24 INDHRA KIRANU N A, <notifications@github.com>
wrote:

[2019-11-19 17:37] melvin2016 commented on #688
Did a PR #692.

[2019-11-19 18:54] #690 closed

[2019-11-19 19:17] melvin2016 commented on #682
Can you elaborate on this?

[2019-11-19 19:31] nonhermitian commented on #682
The content is old and incorrect, and thus needs to be updated

[2019-11-19 20:36] nonhermitian opened #696 "Cannot pip install qiskit in empty conda env"
### Information

- **Qiskit version**: 0.13.0
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
[code]
However this is exactly what we tell people to do in the install instructions: https://qiskit.org/documentation/install.html

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-11-19 21:29] #688 closed

[2019-11-20 15:55] #668 closed

[2019-11-22 02:44] wildfire810 commented on #678
Where is the text of The 'against the terms of service of the IBM Quantum Experience'? I mean 'Share'.
@nonhermitian

[2019-11-22 08:13] nonhermitian commented on #678
@wildfire810 I believe it falls under the "non-transferable" part of the license in section 2(b). However, you need to contact IBM if you have official questions on the licensing agreement required to access the quantum devices.

[2019-11-22 20:18] glassnotes commented on #689
The exact same thing is happening to me; I tried in fresh environments on two different machines (one running CentOs 7.3.1611, the other running Ubuntu 18.04).

I'm using:
 - Python 3.8.0
 - conda 4.7.12

I was able to make some progress by running `pip install cmake`, but then it got stuck (on both machines) trying to install pyscf and linking to BLAS libraries. Not sure if it is an issue with qi

[2019-11-22 22:11] glassnotes commented on #689
Update: it seems that it is an issue when using Python 3.8. The process works just fine in 3.7.5.

[2019-11-24 00:37] amacgillivray opened #705 "Unable to Install to New Pip Env (TypeError)"
### Informations

- **Qiskit version**: 0.13.0
- **Python version**: 3
- **Operating system**: Ubuntu 18.04.3 (LTS) x64

### What is the current behavior?

Installing Anaconda3, creating a new pip environment, activating and using the environment, and then attempting to install using `pip install qiskit` fails at after collecting `https://files.pythonhosted.org/packages/a8/46/11edbd99d7b732e63a542