[2021-03-04 21:28] 1ucian0 opened #5969 "latex drawer fails with discontiguous multiple controlled gate target"
Similar to https://github.com/Qiskit/qiskit-terra/issues/5968, the latex drawer does not support that the target gate is not in contiguous wires:

[code]
![image](https://user-images.githubusercontent.com/766693/110032768-d29bd280-7d38-11eb-8e8f-a47a8861c650.png)

Here is the `text` output for comparison:
[code]

[2021-03-04 22:05] kdk commented on #5531
This was covered by #5554 .

[2021-03-04 22:05] #5531 closed

[2021-03-04 22:38] #5373 closed

[2021-03-04 23:01] kdk commented on #5967
Is this the same issue as https://github.com/Qiskit/qiskit-terra/issues/5203#issuecomment-706738131 ?

[2021-03-04 23:14] #5606 closed

[2021-03-04 23:17] mtreinish commented on #5967
I think it probably is (I had forgotten about that issue), I'll run a ten test to confirm though

[2021-03-05 00:31] #4592 closed

[2021-03-05 02:01] enavarro51 commented on #5969
@1ucian0 This is already fixed in #5855 and a revised #5551 could add the wire numbers.

![image](https://user-images.githubusercontent.com/16268251/110056323-6fe41000-7d13-11eb-9e99-6889cb7bae46.png)

[2021-03-05 09:31] 1ucian0 commented on #5203
@SeifMostafa sorry we missed that one. Are you still interested?

[2021-03-05 15:19] 1ucian0 opened #5974 "transpile does not remove reset when that reset is inside initialize"
Take the following example:
[code]
[code]
The reset is still there:
[code]
[code]

I suggest to run `Decompose(Initialize)` before `RemoveResetInZeroState()` in levels 1, 2, and 3.

[2021-03-05 15:41] BryceFuller opened #5975 "AE Circuits produce spurrious phase kickback"
### Information

Qiskit Software | Version
-- | --
Qiskit | 0.23.6
Terra | 0.17.0.dev0+55eb6f3
Aer | 0.7.5
Ignis | 0.5.2
Aqua | 0.8.2
IBM Q Provider | 0.11.1

Python | 3.7.3 (default, Mar 27 2019, 16:54:48)  [Clang 4.0.1 (tags/RELEASE_401/final)]
OS | Darwin
CPUs | 4
Memory (Gb) | 16.0
Fri Mar 05 09:22:52 2021 CST

### What is the current behavior?
Related to #5914
When I

1. Apply an AE circuit
2

[2021-03-05 15:42] BryceFuller commented on #5975
@Cryoris

[2021-03-05 15:45] 1ucian0 opened #5976 "It is not possible to invert an initialized circuit"
### What is the current behavior?

[code]
[code]

As a consequence, it is not possible to do this:
[code]

This happens because two reasons:
 - `initialize` is an instruction, but `inverse` tries` to create a gate because has no classical circuit. I think that's a mistake. Inverse of instructions should be instructions, I think:
https://github.com/Qiskit/qiskit-terra/blob/b549e017aa0d43ad8b1f0608d

[2021-03-05 16:09] 1ucian0 commented on #5921
Is there a backend property that indicates that the backend start in ground state? We could do the transpilation process depending on that.

[2021-03-05 16:53] mtreinish opened #5978 "Add defined phases to the PassManager"
### What is the expected enhancement?

The typical (and all the preset) pass managers have fixed stages, typically something like:
[code]

We should formalize these stages, we can expand the set over time (but probably not remove) and some are obviously optional depending on runtime conditions and options  and enable people to compose pass managers by constructing the phases individually and not h

[2021-03-07 11:15] nonhermitian commented on #5921
If one sets `init_qubits=False` in execute then the backend does not initialize qubits.  This is a Qobj thing not a transpile thing, so perhaps the correct thing to do is to remove `reset` only when they are not supported on the device.  Indeed, a `reset` at the beginning will not do much to a state if initialized anyway.

[2021-03-08 11:30] 1ucian0 opened #5981 "MPL circuit drawer does not draw CCZ properly"
Take the following example:
[code]
The `text` and `latex` drawer outputs are the following:
[code]
[code]
![image](https://user-images.githubusercontent.com/766693/110315609-cd28db80-8009-11eb-80de-d082e1276a5b.png)

However, here is the `mpl` output:
[code]
![image](https://user-images.githubusercontent.com/766693/110315793-0a8d6900-800a-11eb-9fb9-688008202f89.png)

[2021-03-08 15:14] #5254 closed

[2021-03-08 17:36] Cryoris opened #5982 "Allow running Grover without `is_good_state` if the number of iterations is provided"
### What is the expected behavior?

Allow running Grover without `is_good_state` if the number of iterations is provided and just return the most likely state in that case.

[2021-03-08 22:06] #4960 closed

[2021-03-09 05:23] john-judge commented on #5931
Hi @jlapeyre,

If I understand the enhancement correctly, we need a method to pull the coefficients for the operators listed for the lazy sum, scaled by the overall `SummedOp` coefficient.

Does this seem to be starting off on the right path?

[code]

Going off of the discussion of `PauliSumOp.coeffs` typing in #5547 / #5560 and noting that  `oplist` is taken in as a list, I figure that a Python l

[2021-03-09 11:04] 1ucian0 opened #5990 "CSPLayout is biased towards "low" qubits"
Take the following example:
[code]
If this circuit is laid-out in a 5-qubit linear coupling map, using `CSPLayout`, the result is the following:
[code]
[code]
Notice that there are other possible layout allocations besides the trivial one here. However, `CSPLayout` always choose this one, even when `CSPLayout(..., seed=...)` is set.

### What is the expected enhancement?

I would expect a uniforml

[2021-03-09 13:34] stefan-woerner opened #5992 "Gradients crash in case of a ListOp where elements have non-identical sets of parameters"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

Suppose a `ListOp` that contains of 2 expected values (PauliSumOps with at least 2 Pauli terms) that are based on parametrized circuits with different parameter sets. Then, evaluating the ListOp is fine, but evaluating its gradient crashes since it first r

[2021-03-09 15:26] stefan-woerner opened #5995 "Probability gradients are returned as dense arrays, but they need to be sparse to scale."
### What is the expected enhancement?

Currently, probability gradients evaluated from using Opflow / Gradients on a `CircuitStateFn` will be returned as dense arrays. Even when approximated with a QASM simulator (or real hardware) using (sparse) samples / shots they are converted to dense arrays that grow exponentially in size with the number of qubits. This doesn't work for larger circuits and n

[2021-03-09 15:48] jlapeyre commented on #5976
Maybe, I'm misunderstanding something, but it seems to me that your second reason

is a deal breaker. The `reset` is not invertible, so the initialization can't be invertible. Probably an attempt to invert it should raise an error.

[2021-03-09 16:11] nonhermitian opened #5996 "Transpiling Shor circuits bottlenecked by operator class operations"
### What is the expected enhancement?

Transpiling even a "small" Shor circuit takes a long time:

[code]
Small of course is quite large in this case, 14Q to depth ~7k, but it also highlights that a large amount of time is spent doing simple things like init Operators.  Indeed, init, append, set_dims, and compose Operator methods take 15 out of 19 seconds of the transpilation time

[code]

[2021-03-09 17:24] mtreinish commented on #5996
Which version of terra are you using and which backend? If you're using the released version (0.16.x) and an ibmq backend (or any backend where the basis is not u1, u2, u3, cx) the 1q optimization pass is inefficient and slow because of it's use of operators and other bottlenecks in the 1q synthesis module. The version of that pass on master is significantly faster (see #5682, #5909, and #5928) an

[2021-03-09 17:37] mtreinish commented on #5996
Ok, then I'll close this as fixed for the upcoming 0.17.0 release. Feel free to reopen it if needed or there is more to do here.

[2021-03-09 17:37] #5996 closed

[2021-03-09 17:56] nonhermitian opened #5997 "Swap mapper regression from stable to master"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Following onto #5996 the master version of Qiskit is about 67% slower at swap mapping the Shor circuit from #5996:

[code]
when compiling to a 27Q backend.  Example, reproducible timings:

On master: `1    0.071    0.071    9.878    9.878 stochastic_swap.py:271(_mapp

[2021-03-09 18:09] mtreinish commented on #5997
Looking at the nightly benchmark runs:

https://qiskit.github.io/qiskit/#mapping_passes.PassBenchmarks.time_stochastic_swap?commits=9040bb9c&machine=qiskit-benchmarking

This was casued by: https://github.com/Qiskit/qiskit-terra/pull/5486 So I think this is a duplicate of #5965 which is what we're using to track the regressions caused by the api changes for optional registers.

[2021-03-09 18:20] nonhermitian commented on #5997
Will close as duplicate than.

[2021-03-09 18:20] #5997 closed

[2021-03-09 19:18] hannahaih opened #5998 "backend_monitor.py U1,U2,U3 error"
### Information

- **Qiskit Terra version**:
- {'qiskit-terra': '0.16.1',
 'qiskit-aer': '0.7.2',
 'qiskit-ignis': '0.5.1',
 'qiskit-ibmq-provider': '0.11.1',
 'qiskit-aqua': '0.8.1',
 'qiskit': '0.23.2'}

- **Python version**:
- 3.8.5

- **Operating system**:
- Win10 with Anaconda

### What is the current behavior?

`from qiskit import IBMQ`
`IBMQ.load_account()`
`provider = IBMQ.get_provider(hub

[2021-03-09 19:32] taalexander commented on #5998
I believe this fixed in the current Qiskit terra master. For me it is working with:

[code]

[2021-03-09 19:46] nelimee opened #5999 "DAGCircuit.compose is not updating the "calibrations" attribute"
### Information

- **Qiskit Terra version**: `master` branch (commit 0cb8f58444781986f052c14260ba4263cede40fe)
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

The `DAGCircuit.compose` method is not updating the `DAGCircuit.calibrations` attribute.

### Steps to reproduce the problem

The following code snippet replicates the issue:

[code]

with output:

[

[2021-03-09 19:47] mtreinish commented on #5998
This looks like a duplicate of #5008 which has already been fixed in #5546 and was backpored and included in the [0.16.2 release](https://qiskit.org/documentation/release_notes.html#release-notes-0-16-2-bug-fixes). Can you try upgrading you qiskit version to the latest release (or at least qiskit-terra >=0.16.2) and see if that fixes the issue for you.

[2021-03-10 00:04] jsistos commented on #5981
Hey! Can I give this a try?

[2021-03-10 00:11] JesusLiceaga commented on #5927
I will try this one

[2021-03-10 07:05] Cryoris commented on #5981
Sure, I'll assign you 🙂

[2021-03-10 07:08] Cryoris commented on #5976
I agree, ideally it should raise an error clearly stating that it isn't allowed to invert the `Initialize` instruction if it contains resets.

[2021-03-10 07:36] Cryoris opened #6003 "Evaluating expectations with ComposedOps return vectors instead of scalars in the ``~StateFn(op) @ state`` representation"
### Information

- **Qiskit Terra version**: 90387a20be329f3752c4acfceb2420f89c895178
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur

### What is the current behavior?

[code]

### Steps to reproduce the problem

See above.

### What is the expected behavior?

Evaluating `~StateFn(I) @ state` should produce the same result as `~state @ I @ state`.

### Suggested solutions

#6009

[2021-03-10 10:02] #5999 closed

[2021-03-10 10:12] 1ucian0 commented on #5976
After discussion, there is consensus that `Initialize` should continue being an instruction and non-invertible. The possibility of adding a `qc.initialize(..., with_reset=False)` was discarded as would make the instruction "undefined" when the reset is not in placed.

The exception raised by `state_vec = (~StateFn(op) @ StateFn(qc)).eval()` should be solved at that level.

Therefore, this issue is

[2021-03-10 10:12] #5976 closed

[2021-03-10 12:57] anedumla opened #6004 "Evaluating expectations having used QuantumCircuit.isometry gives wrong results with StateFn"
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**: 3.8.3
- **Operating system**: Windows 10 Enterprise 64-bit

### What is the current behavior?
[code]

### Steps to reproduce the problem

See above.

### What is the expected behavior?

The output should be 1.

### Suggested solutions

[2021-03-10 18:58] LaurinFischer opened #6005 "Calling dag_drawer() in jupyter causes file access error on Windows"
### Information

- **Qiskit Terra version**:  0.16.2
- **Python version**: anaconda python 3.7.9
- **Operating system**: Windows 10

### What is the current behavior?
 `dag_drawer(dag)` causes an error when calling in an ipykernel (jupyter lab for me):

[code]

### Steps to reproduce the problem
Run this in a jupyter notebook/lab cell (this is the example from the docstring):

[code]

### What is

[2021-03-10 19:46] sternparky opened #6006 "Inverse U gate parameter ordering issue"
To whom it may concern,

It came to my attention that the inverse of U gate doesn't have the right order of parameters as the math notation and understanding.

Though it is working as expected in the simulation, the user needs to swap the orders, which is mathematically incorrect.

Please look at the order of parameters and mathematical order.

https://qiskit.org/documentation/_modules/qiskit/circ

[2021-03-11 01:48] ikkoham commented on #6003
I've checked this code at 90387a2.

It returns
[code]

Python 3.8.5, Catalina

[2021-03-11 02:11] ikkoham commented on #6003
[code]
returns `(1+0j)` correctly.

[2021-03-11 02:56] jlapeyre commented on #6004
The problems seems to be that, for the input above, this method returns an incorrect vector
https://github.com/Qiskit/qiskit-terra/blob/90387a20be329f3752c4acfceb2420f89c895178/qiskit/opflow/state_fns/circuit_state_fn.py#L215-L227

In particular, I'm pretty sure the problem is not in opflow, but in BasicAer. Or, perhaps BasicAer does not guarantee preserving the global phase? It may be relevant (o

[2021-03-11 04:24] singular-value commented on #5912
Got it, thanks for the info!

It would probably take me a week to get through something that can get merged in—probably not worth it given the gatesets will change in 2-3 months anyways.

So I guess we can close this issue. Thanks!

[2021-03-11 04:24] #5912 closed

[2021-03-11 07:45] Cryoris commented on #6003
@ikkoham Interesting, I'll update the issue with your comment in https://github.com/Qiskit/qiskit-terra/issues/6003#issuecomment-796363788

[2021-03-11 07:48] Cryoris commented on #6004
I think we should move to using `Statevector` over `BasicAer` anyways. Does that fix this particular problem?

[2021-03-11 08:55] Cryoris commented on #6004
I tracked the issue down to the following. It seems that `BasicAer` gives different results on the inverse of the isometry than the `Statevector` class (up to a global phase), which is  the root of this error:
[code]
@chriseclectic do you have an idea where this could be coming from?

[2021-03-11 12:42] jlapeyre commented on #6003
To clarify: I got the same behavior as @ikkoham . PR #6009 fixed the vector instead of scalar problem, not the OP crashing problem.

[2021-03-11 13:17] peendebak opened #6012 "[RFC] Limit on amplitude of Gaussian (and other parametric pulses)"
### Information

- **Qiskit Terra version**: 0.17.0.dev0+49f415f
- **Python version**: 3.8
- **Operating system**: Windows

### What is the current behavior?

If a `Gaussian` pulse with amplitude > 1 is generated an error is generated.

### Steps to reproduce the problem

A minimal example:
[code]

### What is the expected behavior?

The pulses should be independent of the hardware backend, so the

[2021-03-11 15:06] EziOzoani commented on #4577
Hi I think I'm getting a similar error

QiskitError: "Cannot unroll the circuit to the given basis, ['u0', 'u1', 'u2', 'u3', 'cx', 'x', 'y', 'z', 'h', 's', 't', 'snapshot']. Instruction id not found in equivalence library and no rule found to expand."

when I'm using the qiskit-jku-provider. It occurs when I try to execute the job with backend=jku_backend

[2021-03-11 20:06] taalexander commented on #5927
Thank you very much! I've assigned to you. Please feel free to ask questions you may have.

[2021-03-12 04:02] delapuente commented on #5845
At this point, the class DensityMatrix removes the global phase. Is it intended?
https://github.com/delapuente/qiskit-terra/blob/c3b2d7acb80fa89043e6f38efb501275ec296616/qiskit/quantum_info/states/densitymatrix.py#L98

[2021-03-12 04:17] delapuente commented on #5967
I'd want to suggest changing the reproducible example to:

[code]

More contained in size and so, easier to debug.

[2021-03-12 04:23] jsistos commented on #5959
This issue made it really confusing when I was learning about the QFT in the Qiskit Textbook.
I came up with an easy solution, by simply reversing the array containing the coordinates of the Bloch vectors. This is one of my first contributions, so I don't really know if I should also modify docs/tests for this, but I'll be glad to submit the PR soon!

[2021-03-12 10:33] 1ucian0 commented on #5920
In drawer terms, this means that the content of the box should be replaced-by/annotated-with "calibration" (or "cal", for short)?

For example, given the following situation from https://qiskit.org/documentation/tutorials/circuits_advanced/05_pulse_gates.html, is this the expected output?

[code]
![tutorials_circuits_advanced_05_pulse_gates_10_1](https://user-images.githubusercontent.com/766693/11

[2021-03-12 12:13] mtreinish commented on #5967
Closing as this is a duplicate of #5203

[2021-03-12 12:13] #5967 closed

[2021-03-12 12:53] taalexander commented on #5920
I think this is a good start. In an ideal world this would be an interactive diagram that could be moused over to show the schedule.

[2021-03-12 13:24] nonhermitian commented on #5920
Ask the composer widget people.

[2021-03-12 18:06] ehchen opened #6016 "Transpiler eliminates classical condition for optimization_level 3"
### Information

- **Qiskit Terra version**:
- 0.17.0.dev0+83eb665
- **Python version**:
- 3.9.1 (default, Dec 11 2020, 06:28:49) [Clang 10.0.0 ]
- **Operating system**:
- Darwin

### What is the current behavior?
Circuits with feed-forward logic are incorrectly transpiled for optimization levels >0

### Steps to reproduce the problem
[code]

### What is the expected behavior?
The condition on the

[2021-03-12 18:47] mtreinish commented on #6016
From a quick look through the transpiler the consolidate blocks pass is eliminating the condition on the gate in that circuit. This will only be an issue with optimization level 3 (or if you use the `synthesis` translation method) since we only run consolidate blocks by default in the optimization level 3 pass manager. (I've updated the title and issue to reflect this)

[2021-03-12 20:18] peendebak commented on #6012
@taalexander Could you comment on whether a PR removing the hard-coded limit on the amplitude would be acceptable?

[2021-03-12 20:58] taalexander commented on #6012
Hi @peendebak, we were having an internal discussion weighing the pros and cons this afternoon. We didn't come to a conclusion, but I'll get back to you early next week.

[2021-03-12 21:13] 1ucian0 commented on #5920
While that might be possible on MPL (more exploration needed here), for sure it wont be possible for `'latex'` and `'text'`.

[2021-03-12 21:57] kdk commented on #6016
I looked into this briefly and I'm _fairly_ sure this isn't a `ConsolidateBlocks`/`Collect2qBlocks` issue (even though those are the passes where the issue becomes apparent). Looking into the `PropertySet` in between `Collect2qBlocks` and `ConsolidateBlocks`, the conditional gate (correctly) isn't being collected into a block by `Collect2qBlocks`, and then is (correctly) being re-inserted in to th

[2021-03-12 23:21] kdk commented on #4577
Hi @EziOzoani , that error is raised because the circuit being transpiled contains an identity gate, but the backend does not report that it can implement an identity gate (`'id'` is not in the backend's `basis_gates`). The transpiler won't remove identity gates (`id` ) as they're generally left for the backend to decide how to implement (IBMQ backends, for example, have traditionally implemented

[2021-03-12 23:28] kdk commented on #6006
Thanks for reporting this @sternparky , you're right that the order in the docstring here is incorrect, and should be updated to match the order returned by the function.

[2021-03-13 10:59] nonhermitian opened #6019 "Fake backends have different max_shots configurations"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The fake backends have different `max_shots` that makes usage difficult when switching between them. E.g.:

some are hard coded to 65536 like

https://github.com/Qiskit/qiskit-terra/blob/ffa36161d2cf9f71e136ca913afd68dbb3d4be45/qiskit/test/mock/backends/melbourne/fak

[2021-03-13 20:51] #5990 closed

[2021-03-14 12:09] #6006 closed

[2021-03-14 15:27] mtreinish commented on #6019
A couple of fake backends, the 2 off the top of my head are poughkeepsie and melbourne, do not use the full configuration snapshots because they cause issues. In the case of melbourne it's because a large portion of terra's unittests are written using the fake melbourne backend back when it was 14 qubits. Switching it to 15 like in it's current configuration means we would have to update a very la

[2021-03-14 18:37] enavarro51 commented on #6016
@kdk. I did a quick dive into this and I think there is more to it. It's true that `substitute_node `should be propagating the condition to the new node, but just doing that does not solve it.

The problem is in `BasisTranslator `and if you force set the condition in there, then both of the `u2 `gates get the same condition. In the above circuit, in this code,
https://github.com/Qiskit/qiskit-terr

[2021-03-15 13:07] wmurphy-collabstar commented on #5920
Hello, I am interested in this issue, could I work on it?

[2021-03-15 14:17] 1ucian0 commented on #1682
I think the @frankharkins [comment](https://github.com/Qiskit/qiskit-terra/issues/1682#issuecomment-720458268) solved this issue. Please @nonhermitian feel free to reopen it otherwise.

[2021-03-15 14:17] #1682 closed

[2021-03-15 14:41] wmurphy-collabstar commented on #5974
I'm interested in this issue, could I work on it?

[2021-03-15 14:42] 1ucian0 commented on #5974
assigned! thanks!

[2021-03-15 17:07] jlapeyre commented on #5992
It's not 100% clear how to fix this. But, this problem is of immediate practical concern, so it needs to be addressed. The immediate problem is that an element of a  `ListOp` is initialized as floating point number, `0.0`. But, much of opflow assumes that anything in a `ListOp` (and its subclasses) is an instance of `OperatorBase` and calls methods of `OperatorBase`. The mypy parameter annotation

[2021-03-15 22:54] lcapelluto opened #6025 "Examples seem to be broken"
### Information

- **Qiskit Terra version**: '0.17.0.dev0+33b8215'
- **Python version**:
- **Operating system**:

### What is the current behavior?

I tried running `https://github.com/Qiskit/qiskit-terra/blob/master/examples/python/ibmq/using_qiskit_terra_level_2.py`, but got a couple layers of errors.

### Steps to reproduce the problem

Run the example. The first error is because `armonk` is le

[2021-03-16 10:24] jimlobsien opened #6042 "qiskit install developer requirements error during "pip install -r requirements-dev.txt" on a mac"
I am trying to install the developer requirements of pip via "pip install -r requirements-dev.txt" following the description in [https://qiskit.org/documentation/contributing_to_qiskit.html#install-install-from-source-label](url)

The installation works fine until I arrive at SQNomad, where I get the following error:

[code]

What is my problem?

[2021-03-16 15:21] xkwei1119 opened #6029 "Using parameters in delay gate"
### Information

- **Qiskit Terra version**: 0.16.4
- **Python version**: 3.6.8
- **Operating system**: Win10

### What is the current behavior?

Using parameters as arguments for delay gates generates error

`CircuitError: 'Unsupported duration type.'`

### Steps to reproduce the problem

my circuit
[code]

### What is the expected behavior?

have delay gate accept parameter as arguments

### Sug

[2021-03-16 15:56] #5213 closed

[2021-03-16 16:07] eggerdj commented on #6029
This type of functionality would be very useful for measuring T1 and other type of experiments (echo, etc.) that would require delays with variables times.

[2021-03-16 22:02] kdk commented on #6029
One solution here is to explicitly allow `ParameterExpressions` in `Delay.__init__`:

https://github.com/Qiskit/qiskit-terra/blob/132c686/qiskit/circuit/delay.py#L26

The fix should include a test to make sure that attempting to schedule a circuit with a parameterized delay raises a useful error message (and that it can be successfully scheduled once bound), and that the `isinstance(duration, int)

[2021-03-17 13:12] #5968 closed

[2021-03-17 14:20] ajavadia opened #6038 "integrate "graysynth" and "cnot_synth" into transpiler"
These two functions have existed for some time but never called by the transpiler -  invoking them is manual at this point. They are in `qiskit/transpiler/synthesis`.
We should make them available to be called, but prior to that we need the block collection enhancement to filter CNOT-only or CNOT+phase-only gates (i.e. https://github.com/Qiskit/qiskit-terra/issues/5775).

[2021-03-17 14:21] ajavadia opened #6039 "try multiple seeds at higher optimization levels"
The `transpiler_seed` can have a pretty significant effect in stochastic passes (stochastic_swap, sabre, etc.)
At higher optimization levels multiple seeds should be tried and best one chosen (slightly related to #3018 )

[2021-03-17 20:20] #4938 closed

[2021-03-17 20:20] #5605 closed

[2021-03-17 20:20] #3765 closed

[2021-03-17 22:43] #6042 closed

[2021-03-18 02:41] #5959 closed

[2021-03-18 10:39] Cryoris commented on #6004
#6045 fixes this error in the representation you pointed out above, but not if you change it to
[code]

[2021-03-18 14:26] 1ucian0 opened #6047 "Equivalence library lacks many equivalences in the clifford group"
Many equivalences in the clifford group are missing from the equivalence library. Some examples:
 * `sdg == h.z == z.s == s**3`
 *  `sx` == `sdg.h.sdg`
 * `cy == sdg.cx.s`
 * `x`,`y`, and `z` in terms of `h` and `s` (for example, `x == h.s.s.h`)

[2021-03-18 15:07] ajavadia opened #6049 "Parametric rewriting of RVGate in terms of UGate"
RV has 3 parameters which are X, Y, Z components of an arbitrary axis rotation.
U has 3 parameters which are Euler angles.

How do we write RV in terms of U? This is a requirement of QASM that single qubit gates be written in terms of U. Here we have a conversion that works when the parameters are floats, but not in a symbolic way. We need to fix this if RV is going to be a valid OpenQASM gate.

[2021-03-18 16:02] ewinston commented on #6049
I made an attempt at this which needed modifications of ParameterExpression. The code is here
 https://github.com/Qiskit/qiskit-terra/blob/9ee2410bc3807e77e1c143bd1d85c143afd4ab01/test/python/circuit/test_parameters.py#L1805-L1847
 It currently works almost everywhere except needs fixing in a couple of directions.

[2021-03-18 17:06] enavarro51 opened #6050 "Symmetric side text gates do not display properly in the latex drawer"
### Information

- **Qiskit Terra version**: Any
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Symmetric gates that have a name and a parameter printed to the right of the gate (side text) do not display properly in either the old or the new latex drawer. There are 2 issues with this.

The first is that when using `@!R` in setting up qcircuit, the librar

[2021-03-18 17:22] mtreinish commented on #6025
FWIW, we run the examples through tests, but because we don't have credentials in PR CI (and also don't want a reverse dependency on the ibmq provider) we skip the ibmq example test: https://github.com/Qiskit/qiskit-terra/blob/master/test/python/test_examples.py#L58-L80

Honestly I'm wondering if we should just delete those examples and the corresponding test. They've pretty much been superseded b

[2021-03-18 17:38] ecpeterson commented on #6025
Removing dead examples sounds fine to me, provided their contents is covered elsewhere. I was looking at this one because I wanted to hit a non-Aer backend, as a check that my local configuration was totally sane. I guess this is exactly the thing that's allowed to drift under the testing conditions you describe.

Clicking around the tutorials now, I don't see an analogous non-Aer example — perhap

[2021-03-18 23:39] jsistos commented on #6050
I've taken a look at this and it doesn't seem necessary to define new commands. As explained in qcircuit's [FAQ](https://github.com/CQuIC/qcircuit/wiki/FAQ) site, using ```\raisebox``` instead of ```\dstick``` seems to be helpful. Also, modifying the value of ```\hspace``` according to the column width instead of having it constant can help with drawing the name as close to the gate as possible. I

[2021-03-19 12:14] 1ucian0 commented on #5348
Hi @ahasan20 any progress?

[2021-03-19 12:18] 1ucian0 commented on #5233
Hi @alejomonbar ! any progress?

[2021-03-19 12:39] 1ucian0 commented on #4872
Hi @mlarocca Are you still working on this one?

[2021-03-19 12:41] 1ucian0 commented on #5472
hi @paniash ! Are you still working on this one?

[2021-03-19 12:43] 1ucian0 commented on #5084
Closed via https://github.com/Qiskit/qiskit-terra/pull/5141 Thanks!

[2021-03-19 12:43] #5084 closed

[2021-03-19 12:45] 1ucian0 commented on #4855
Closed via https://github.com/Qiskit/qiskit-terra/pull/4858

[2021-03-19 12:45] #4855 closed

[2021-03-19 13:04] paniash commented on #5472
@1ucian0 Hi! Sorry about the delay. I would love to continue working on this but if it's urgent, then please feel free to reassign it to someone else.

[2021-03-19 17:32] alejomonbar commented on #5233
Hi @1ucian0. Yes, I just got some feedback from @lcapelluto but I have this question https://github.com/Qiskit/qiskit-terra/pull/5240#issuecomment-793194776 for concluding with this issue.

[2021-03-19 19:05] chriseclectic opened #6057 "QuantumCircuit.copy doesn't copy metadata"
### Information

- **Qiskit Terra version**: 0.17
- **Python version**:
- **Operating system**:

### What is the current behavior?

`QuantumCircuit.copy()` is supposed to return a deep copy of a circuit, however if the circuit has a metadata dictionary it is not copied, hence if the copy metadata is modified, these changes affect the original circuit too.

### Steps to reproduce the problem

Basic

[2021-03-19 19:35] 1ucian0 commented on #4872
yeap. Confirmed with @taalexander . This one can be closed. Thanks!

[2021-03-19 19:35] #4872 closed

[2021-03-19 22:35] kdk opened #6060 "Add `&` and `^` overloads for QuantumCircuit.compose and .tensor"
### What is the expected enhancement?

Following #5834 and #4208, `QuantumCircuit` should have similar shorthand for `.compose` and `.tensor`, following quantum_info. Should be released in 0.17 so users can transition directly from `+`/`+=`.

[2021-03-20 01:48] #6057 closed

[2021-03-20 15:02] #5992 closed

[2021-03-22 13:19] mrossinek opened #6063 "Remove legacy `VariationalForm`"
### What is the expected enhancement?

When the `algorithms` module from Qiskit Aqua got migrated to Terra, the `VariationalForm` was included (possibly by accident).
Before the next release, this class will no longer be needed because all variational forms will have been refactored into `BlueprintCircuit`s (see also https://github.com/Qiskit/qiskit-nature/pull/66 for an example).

Thus, it would

[2021-03-22 15:28] mrossinek commented on #6063
As discussed in #6064 (and more extensively offline), we do actually still need the `preferred_init_points` argument.
However, we should refactor the handling of this in the future.

[2021-03-22 21:19] kdk opened #6068 "inplace kwarg consistency for QuantumCircuit methods"
### What is the expected enhancement?

As pointed out by @ajavadia , the `QuantumCircuit` methods are currently inconsistent with regards to the default value of the `inplace` kwarg.

- `.tensor()`, `.reverse_ops()`, `.reverse_bits()`, `.inverse()`, `.repeat()`, `.power()`, `.control()`, `.decompose()`, `.bind_parameters()` have no inplace arg (and are not performed inplace)
- `.compose()`, `.assi

[2021-03-23 01:16] #2988 closed

[2021-03-23 09:02] peendebak commented on #6012
@taalexander Any update on the issue? I would be interested in the discussion as well.

[2021-03-23 17:22] jsistos commented on #6068
I'll add the ```inplace``` kwarg for ```.tensor()``` in #6065 to overload the ^= operator.

[2021-03-24 00:59] ajavadia opened #6073 "translation_method='synthesis' fails on gate blocks of length 1, due to ConsolidateBlocks"
[code]
does not change the circuit at all.

The reason is that the "ConsolidateBlock" pass has some logic around ignoring blocks of length 1. I'm not sure why that's there. If I simply add an H gate to qubit 0, then the block size becomes 2 and the pass does indeed consolidate that into a Unitary, and the rest of the basis translation works as expected.

[2021-03-24 01:22] mtreinish commented on #6073
Closing as this is a duplicate of #5967 and #5203, it is being fixed by #6024

[2021-03-24 01:22] #6073 closed

[2021-03-24 12:19] taalexander commented on #6012
The current approach to pulse generation is designed to model a black box Hamiltonian with a control term of the form $\hat{H}_c = \sum \omega_k \nu_k(t) \hat{H}_k $ where $|\nu_k(t)| \leq 1$. This plays nicely with numerical optimal control techniques, maintaining consistent scaled calibrations as hardware changes/is recalibrated and the reality that it is often very difficult to truly understand

[2021-03-24 12:23] eggerdj commented on #6012
I am also in favor of keeping the current unitless approach. That being said it would be good if the backends could communicate in the configuration the value and unit of the maximum pulse amplitude.

[2021-03-24 18:55] ajavadia opened #6079 "dedicated directory for pulse transformations in the transpiler"
In #5752 there is some code added to compile to pulses (by adding specific pulse calibrations for gates). These ended up in the `scheduling` folder but that's not a suitable place, as that folder is more about timing of gates via delays.
Pulse compilation is analogous to the defcals in openqasm3, so we should create a place for those and consolidate any other pulse transformations that are current

[2021-03-24 22:35] #6063 closed

[2021-03-24 22:52] ahasan20 commented on #5348
hey @1ucian0 yup i've been working on it here: https://github.com/Qiskit/qiskit-terra/pull/5661, dev's been a bit slow with college but we're getting there!

[2021-03-25 01:18] #5579 closed

[2021-03-25 03:10] #6003 closed

[2021-03-25 08:48] #5947 closed

[2021-03-25 10:36] peendebak commented on #6012
The modelelling of the Hamiltonian gives some insight into the reasons of the limit.

For spin-systems we use pulses for microwave channels and for gate channels. For the former the transfer functions are indeed hard to determine and we often work in dimensionless units. For the gate channels our AWG channels are connected to the quantum device via a bias-T. The bias-T combines the AWG pulses (fas

[2021-03-25 12:49] yaelbh commented on #5692
@1ucian0 Could you please elaborate on the justification to thumb down in https://github.com/Qiskit/qiskit-terra/pull/5700#pullrequestreview-587692828. This will help me decide how to proceed. Thanks!

[2021-03-25 12:52] 1ucian0 commented on #5692
I very much prefer the class based interface. Functions can be a wrap on top of them. Ideally, no functions. My two cents.

[2021-03-25 12:54] yaelbh commented on #5692
Sure... But can you justify this preference? Also, how to wrap a function on top of a class?

[2021-03-25 18:17] ashsaki opened #6085 "Transpiler translates CX gate which is already in the target basis - resulting in high gate count"
### Information

- **Qiskit Terra 0.16.4**:
- **Python 3.8.5**:
- **OS Ubuntu 20.04**:

### What is the current behavior?
In some cases, the transpiler translates CX gate which is in the supplied target basis `['id', 'rz', 'sx', 'x', 'cx']` using two `iSWAP` gates. Then, the iSWAPs are replaced again using 2 CX gates leading to one CX being translated into multiple single-qubit and 4 CX gates. Thi

[2021-03-25 21:12] 1ucian0 commented on #5692
I see having such generic functions with catch-all **kwargs as a violation of the interface segregation principle. This is a good candidate for future headaches. For example, two checkers with the same parameter but different semantics for that parameter, when the method is automatic, creates an opaque situation.

If each checker has its own API with its own parameters and they are implementing th

[2021-03-26 00:42] ikkoham opened #6086 "Configurable dtype for quantum_info.operators and states"
### What is the expected enhancement?

In many cases, we can assume the elements of the operators and states are real.  For example, `SparsePauliOp` has a real coefficients in many application cases. It is useful to configure its dtype as float. `SparsePauliOp` with dtype=float ensures that the operator is Hermite. This property will be used to check the Hermicity to make Unitary matrix by evoluti

[2021-03-26 09:16] TharrmashasthaPV commented on #3202
Working on it currently.

[2021-03-26 09:23] TharrmashasthaPV commented on #5840
If the issue is just proper documentation of error, I will fix this issue.

[2021-03-26 17:45] jwoehr opened #6089 "OpenQASM2 redo ANTLR Grammar -> AST -> QuantumCircuit"
### What is the expected enhancement?
Rewrite OpenQASM2 parser/compiler so that the flow is ANTLR Grammar -> AST -> QuantumCircuit eliminating DAG.
Project is associated with spring 2021 [mentorship](https://github.com/qiskit-community/qiskit-advocate-mentorship-program/issues/39)
Will likely subsume #901

[2021-03-26 18:46] santoshkumarradha opened #6091 "Binding to Parameters name rather than parameters instance."
### Informations

- **Qiskit version**:  '0.16.2'
- **Python version**: 3.7.9
- **Operating system**: Mac OS Big Surr

### What is the current behavior?

Parameters instance are checked while binding, but a new instance with the same name does not work.

### Steps to reproduce the problem
[code]
### What is the expected behavior?

Expected behaviour is to check the parameter by name.

### Suggeste

[2021-03-26 18:48] Archit3115 opened #6094 "Issue with circuit.draw('mpl') when used in Jupyter Notebook."
### Informations

- **Qiskit version**: 0.23.1
- **Python version**: 3.7.6
- **Operating system**: Windows 10

### What is the current behavior?

When drawing the Quantum Circuit, with circuit.draw(), using the Matplotlib(circuit.draw('mpl')) parameter, leads to crashing of jupyter notebook, while the output gets printed as expected, but the jupyter notebook acts wierdly.

Before:
![image](https:/

[2021-03-26 19:11] mtreinish commented on #6095
As of terra 0.16.0 you should be able to do this with something like:

[code]

This was highlighted in the release notes: https://qiskit.org/documentation/release_notes.html#release-notes-0-16-0-new-features (it's the 3rd bullet point in that section). Additionally in the upcoming 0.17.0 terra release you can now create custom style sheet json files and use them interchangeably with the default, b

[2021-03-26 19:31] jsvandyke86 commented on #6095
Thanks very much for the reply!  What I mean is, I think that the cp gate was left off the list appearing in qcstyle.py, so its color cannot be changed successfully.  For instance, when I run the following, the color of the h gate changes, but not the cp:

[code]
I believe I am using the most up-to-date version of terra, 0.16.4.

[2021-03-26 21:36] #5203 closed

[2021-03-26 23:59] #6016 closed

[2021-03-27 02:07] jlapeyre commented on #5733
As of at least 0c8bb3d, the example in the opening comment now results in a `RecursionError`.

[2021-03-27 03:06] jlapeyre opened #6099 "`RecursionError` when calling `SummedOp.to_pauli_op()`"
This
[code]
fails with `RecursionError: maximum recursion depth exceeded while calling a Python object`

The error occurs in this method
https://github.com/Qiskit/qiskit-terra/blob/0c8bb3dbf8d688590431ca79a83ba8aede84ed20/qiskit/opflow/list_ops/summed_op.py#L174-L187

In this case, one can see that `pauli_sum` is `==` to `self`, so the last line calls the method again with the same (implicit) argu

[2021-03-27 15:52] mrossinek opened #6100 "`TaperedPauliSumOp` is incompatible with `VQE`"
### Information

- **Qiskit Terra version**: `master` @ 0c8bb3dbf8d688590431ca79a83ba8aede84ed20
- **Python version**: 3.8.8
- **Operating system**: Linux (Fedora 33): `uname -r: 5.10.23-200.fc33.x86_64`

### What is the current behavior?

Using a tapered `PauliSumOp` as the input to a `VQE` results in the following runtime error:
[code]

### Steps to reproduce the problem

Below is a minimal code

[2021-03-27 15:52] mrossinek commented on #6100
@ikkoham I am tagging you because (if I recall correctly) you mainly worked on the two-qubit-reduction and tapering code.

[2021-03-27 20:56] mtreinish commented on #5329
Can this be closed now that https://github.com/Qiskit/qiskit-terra/pull/5358 has merged?

[2021-03-28 11:17] 1ucian0 opened #6101 "drawing the schedule of an empty circuit raises warning from matplotlib"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

[code]
[code]

### What is the expected behavior?

I think the actual output drawing is correct.
![image](https://user-images.githubusercontent.com/766693/112750161-23fd5180-8fc7-11eb-9cf3-474aef62f6e4.png)

However, I dont think these warnings are useful

[2021-03-28 16:38] Cryoris commented on #6093
Hi @vishwas1234567, could you be a little more specific and properly describe the feature you are looking for? 🙂

[2021-03-28 16:56] Atri22 commented on #6101
I am new to quantum computing and programming in general. I have learnt python. I am willing to solve this issue

[2021-03-28 18:28] 1ucian0 commented on #6101
Assigned! Thank you!

[2021-03-29 01:09] ikkoham commented on #6100
Thank you for finding the bug. I have checked only `qasm_simulator`.

[2021-03-29 03:50] HuangJunye opened #6103 "ModuleNotFoundError: No module named 'qiskit.quantum_info.states.cython.exp_value'"
### Information

- **Qiskit Terra version**: 0c8bb3dbf8d688590431ca79a83ba8aede84ed20
- **Python version**: 3.7.6
- **Operating system**: macOS 11.2.3

### What is the current behavior?

Error shows upon importing qiskit

[code]

### Steps to reproduce the problem
[code]
### What is the expected behavior?

### Suggested solutions

[2021-03-29 06:09] Cryoris commented on #6103
Just re-pip install Terra 🙂 If you initially installed from source using the editable setting (`pip install -e .`) then you usually just have to pull to have the latest changes. However, if there are changes in the Cython files, you have to re-compile Terra by explicitly calling `pip install (-e .)` again.

[2021-03-29 07:05] HuangJunye commented on #6103
That's exactly what I was facing. re-pip install did solve the problem. Thanks for the prompt reply!

[2021-03-29 07:06] #6103 closed

[2021-03-29 07:37] molar-volume opened #6104 "Automatic ordering of parameters inside ParameterView"
### What is the expected enhancement?
In recent PRs that provided ordering of parameters and anonymous assignment of parameters in gradient framework, the new class `ParameterView` was implemented.
`ParameterView` was supposed to be deprecated, but with automatic ordering of parameters, it simplifies multiple parts of opflow.

I attach PR with proof of concept https://github.com/Qiskit/qiskit-terr

[2021-03-29 13:59] mtreinish commented on #5965
While this is mostly fixed for circuits with large numbers of parameters there is still a substantial performance regression:

https://qiskit.github.io/qiskit/#circuit_construction.ParameterizedCircuitBindBench.time_bind_params?machine=dedicated-benchmarking-softlayer-baremetal&os=Linux%204.15.0-46-generic&ram=16GB&p-width=20&p-gates=131072&p-number%20of%20params=32768&commits=cb211095-79cb4757

a

[2021-03-29 15:54] #6100 closed

[2021-03-29 16:42] kdk commented on #3972
Will be resolved as part of #5609 .

[2021-03-29 17:01] levbishop opened #6105 "Use unique filenames to allow test parallelization"
Our test suite mostly passes when run with pytest-xdist parallelization, giving a pretty nice speed boost.
However there are just a couple places where tests try to reuse the same temp file and step on each others' toes. This can be avoided by `--dist=loadscope` but that seems a bit fragile and is one more thing to remember.

I know that we can also parallelize using stestr but that is probably un

[2021-03-29 17:15] mtreinish commented on #6105
For stestr we set the equivalent of `--dist=loadscope` (at least as for what applies to the unittest model, it doesn't include pytest's standalone functions which isn't part of unittest) in the `.stestr.conf`: https://github.com/Qiskit/qiskit-terra/blob/master/.stestr.conf#L3 which tells stestr's scheduler to group tests in the same class together (that ugly regex has been baked into a separate op

[2021-03-29 17:26] nkanazawa1989 opened #6106 "Pulse unittest reorganization"
### What is the expected enhancement?

With introduction of pulse `ScheduleBlock ` (see #5679), the software implementation of the qiskit pulse was drastically updated while minimizing the impact to user API. However, the unittests are still based on the old codebase structure and there are many redundant/duplicated tests.

Basic changes based on the `ScheduleBlock` are listed as follows:

- `Sche

[2021-03-29 17:38] levbishop commented on #6105
I've seen that failure in the OneQubitDecomposer with pytest-xdist also. It goes away with #5827 so I think its some subtle 387 excess precision issue causing subtle different roundings.

[2021-03-29 18:20] nkanazawa1989 commented on #6012
Regarding the plotter, the v2 drawer available in next release will help you to modify vertical axes. Basically you can customize almost all appearance of the graph without codebase modification, i.e. You can create a callback function that can take some backend option and generate an axis object in the predetermined data format. Then you can create a new stylesheet with the callback. By setting t

[2021-03-29 19:35] Cryoris commented on #5614
Resolved via #5759.

[2021-03-29 19:35] #5614 closed

[2021-03-29 20:51] stefan-woerner opened #6108 "Copying `QuantumCircuit` fails after `circuit.remove_final_measurements()`"
### Information

- **Qiskit Terra version**: 0.17
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

Creating a `QuantumCircuit`, calling `circuit.remove_final_measurements()` and then copying the `circuit` fails with raising a `KeyError`.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Expected behavior would be to just get

[2021-03-29 21:18] kdk commented on #5965
From profiling, looks like half of the time in these benchmarks is being spent on calls to `self._unsorted_parameters` from https://github.com/Qiskit/qiskit-terra/blob/79cb475/qiskit/circuit/quantumcircuit.py#L2020 . Could consider hoisting the `self._unsorted_parameters` call outside the loop, or using a set operation like `params_not_in_circuit = set(_unrolled_param_dict).difference(self._unsort

[2021-03-29 21:19] kdk commented on #6108
Confirmed that this is also an issue on 0.16.4.

[2021-03-30 00:59] ikkoham commented on #6099
I just found this issue (sorry for late).

This bug can be splited into two parts.
1. `((Z + I) ^ Z) + (Z ^ X)` should be PauliSumOp. We need to enhance Pauli.tensor() and PauliSumOp.tensor().
2. Fix the error of the `to_pauli_op()`.

[2021-03-30 01:48] #5963 closed

[2021-03-30 01:48] #6108 closed

[2021-03-30 01:56] john-judge commented on #5931
Hi @woodsp-ibm,

Any thoughts on what we have here so far? I think this might meet the use case @jlapeyre is suggesting.

However, I'm slightly concerned about how the typing may interact in `SummedOp`. In particular, it seems coefficients can be `ParameterExpression` objects, in which case maybe I need to consider the case of calling `ParameterExpression._apply_operation`, which is documented as:

[2021-03-30 04:26] #3972 closed

[2021-03-30 10:16] nelimee opened #6113 "Shor._controlled_multiple_mod_N returns a wrongly named QuantumCircuit instance"
### Information

- **Qiskit Terra version**: master branch
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

[`qiskit.algorithms.factorizers.Shor._double_controlled_phi_add_mod_N`](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/algorithms/factorizers/shor.py#L106) returns an instance of `QuantumCircuit` with the name "phi_add", just like [`qiski

[2021-03-30 12:53] nkanazawa1989 commented on #5329
Yes, I think we can merge now. Thanks for the reminder. We still need to remove `ParameterizedSchedule` after few months of next release.

[2021-03-30 15:02] #6099 closed

[2021-03-30 17:49] Atri22 commented on #6101
@1ucian0  I was running the program in juypiter notebook but no such warning massages were displayed

[2021-03-30 17:51] Atri22 commented on #6101
![Screenshot from 2021-03-30 23-20-00](https://user-images.githubusercontent.com/72877136/113033399-9b410a00-91ae-11eb-9422-751937cd5d86.png)
![Screenshot from 2021-03-30 23-20-04](https://user-images.githubusercontent.com/72877136/113033405-9da36400-91ae-11eb-876d-f938bc03e83a.png)
![Screenshot from 2021-03-30 23-20-06](https://user-images.githubusercontent.com/72877136/113033420-a005be00-91ae-11

[2021-03-30 17:52] Atri22 commented on #6101
@1ucian0  please tell me where the problem is arising?

[2021-03-30 19:36] 1ucian0 commented on #6101
Hmm... in master the out is different. Maybe a regression?

<img width="756" alt="Screenshot 2021-03-30 at 21 34 32" src="https://user-images.githubusercontent.com/766693/113046164-00d9ca00-91a0-11eb-822a-2bdaa5b6df91.png">

[2021-03-30 20:18] 1ucian0 commented on #763
PR https://github.com/Qiskit/qiskit-terra/pull/3781 shows us that a library like pylatex does not buy us much. Probably not worthy yet another dependency. Therefore, I'm closing this.

After the refactor in #5855 part of the technical debt in the latex drawer is done. If you think it is worthy to try another time, please feel free to reopen.

[2021-03-31 02:07] #5965 closed

[2021-03-31 04:18] #6060 closed

[2021-03-31 06:15] nkanazawa1989 opened #6121 "Pulse transformation passes"
### What is the expected enhancement?
Based on recent updates of pulse program representation (especially, schedule block #5679 and frame #5977), a pulse program needs a chain of data processing, i.e. transformation, to conform to the OpenPulse API. This transformation level depends on how the backend compiler is implemented, thus porting concept of passmanager from the circuit transpiler seems to

[2021-03-31 06:44] nkanazawa1989 commented on #6121
This issue is relevant to #6079, but currently transpiler accepts only circuit and schedule attached to it can be internally processed. I see what I wrote above is still different passes .. not necessary to create circuit for transformation. For example
[code]
We can create the circuit behind the scene, but creating a junk circuit just for transformation seems to be redundant though schedule execu

[2021-03-31 09:23] 1ucian0 commented on #6101
Indeed, it is a regression inserted in https://github.com/Qiskit/qiskit-terra/pull/5581

Maybe @nkanazawa1989 has any insights?

[2021-03-31 10:23] AlessandroCarbone opened #6122 "Transpiler returning the shortest-depth circuit"
### What is the expected enhancement?

By executing the transpilation of a circuit using the` ibmq_athens` device, I noticed that the transpiled circuit with the lowest depth has `optimization_level` different from the allowed maximum value (3). All Qiskit customers want to find the shortest-depth circuit with the least computational effort, if that is possible. I think that the transpiler should

[2021-03-31 12:51] #5405 closed

[2021-03-31 13:23] mtreinish commented on #5493
Just an update here, the working plan is that we will include this as part of the aqua documentation (as a separate entry on the bottom of the toc in the combined qiskit docs) then the release notes will link to it. I have a draft of the releasenotes for the aqua migration parts up here: https://github.com/Qiskit/qiskit-terra/pull/6075/files#diff-1d9683ea4d50d5e6a4534f0ced11afeb594e0a17f13468ead00

[2021-03-31 13:41] lcapelluto commented on #6106
sounds good to me

[2021-03-31 14:37] enavarro51 commented on #6068
@kdk. I can work on this.

[2021-03-31 14:47] nonhermitian commented on #6068
I will just say that inplace=True makes a lot more sense here.

[2021-03-31 16:49] mrossinek opened #6127 "More incompatibilities of `TaperedPauliSumOp`"
### Information

- **Qiskit Terra version**: master @ 28c543ae
- **Python version**: 3.8.8
- **Operating system**: Linux, Fedora 33: `uname -r: 5.11.10-200.fc33.x86_64`

### What is the current behavior?

`TaperedPauliSumOp` cannot be multiplied with another `OperatorBase`.

### Steps to reproduce the problem

Try the following snippet:
[code]

### What is the expected behavior?

The multiplicatio

[2021-03-31 18:11] #5666 closed

[2021-03-31 20:14] taalexander commented on #6101
@Atri22 have you followed these [instructions](https://qiskit.org/documentation/contributing_to_qiskit.html#installing-terra-from-source) to install Qiskit terra from source?

[2021-03-31 20:54] kdk commented on #6068
Thanks @enavarro51 , assigned.

[2021-03-31 21:16] kdk commented on #6068
@nonhermitian For some methods, or across the board?

[2021-03-31 21:32] nonhermitian commented on #6068
For the examples with `inplace=True` make intuitive sense in that they are convenience functions that replace boilerplate code.  The code they replace performs measurements in-place.   I know this is not true for the removal, but that makes sense as well.   Doing parameter bindings inplace by default makes a lot of sense given that the params are properties of the circuit instance.  I would also e

[2021-03-31 21:38] #5962 closed

[2021-03-31 23:48] ikkoham commented on #6127
Thanks.
I am sorry. I didn't think TaperedPauliSumOp with parameter exists.
I recognized `TaperedPauliSumOp.assign_parameters()` also doesn't work.

My question: Is Z2_symmetry invariant under parameter multiplication?

[2021-04-01 06:07] mrossinek commented on #6127
I would assume so :thinking: I found this bug while trying to combine a `TaperedPauliSumOp` with our new `EvolvedOperatorAnsatz` in Nature. There, an error occured on the following line: https://github.com/Qiskit/qiskit-nature/blob/master/qiskit_nature/circuit/library/ansatzes/evolved_operator_ansatz.py#L162

A more extensive example which should work once this issue is resolved is given in this t

[2021-04-01 08:10] ikkoham commented on #6127
If invariant, `parm * tapered_qubit_op` can be TaperedPauliSumOp which has same z2_symmetries. If not, `parm * tapered_qubit_op` must be `PauliSumOp`.

[2021-04-01 08:46] nkanazawa1989 commented on #6101
Visualization of zero duration schedule is not tested, so this is a corner case. Here the plotter sets the xaxis but with above input `axsis_config.window = (0., 0.)` crashes matplotlib.
https://github.com/Qiskit/qiskit-terra/blob/f016354f76a0b1b5c68ffc7210b41c4c15712ddd/qiskit/visualization/pulse_v2/plotters/matplotlib.py#L160

Above config object is generated by this formatter (such callback fun

[2021-04-01 11:43] mtreinish commented on #4105
This has been mostly done now that we've moved to a new versioned providers interface. The `BackendV1` and `JobV1` abstract classes took a lot of ideas from this (like differentiating between sync and async) and most providers have migrated to use these new classes. We'll be continuing to evolve this interface over time (which is why it's versioned now) the next iteration is being planned and disc

[2021-04-01 11:43] #4105 closed

[2021-04-01 12:12] Cryoris commented on #4011
Outcome of the discussion on a possible (but now abandoned) PR: `Instruction` should have a `to_gate` method. https://github.com/Qiskit/qiskit-terra/pull/4520#issuecomment-638360555

[2021-04-01 12:14] Cryoris commented on #4526
Note: One can use an isometry instruction to do this.

[2021-04-01 12:14] #4526 closed

[2021-04-01 12:19] Cryoris commented on #3639
Closing in favor of #4451.

[2021-04-01 12:19] #3639 closed

[2021-04-01 12:31] Cryoris commented on #3706
The unitary gate essentially uses the isometry for >2 qubits, maybe we can extend the isometry to completely replace this. Though the isometry does need a makeover.

[2021-04-01 12:39] #4357 closed

[2021-04-01 12:42] Cryoris commented on #5271
FYI, Qiskit ML introduced this in Qiskit/qiskit-machine-learning#21.

[2021-04-01 12:44] Cryoris commented on #5714
Closed via #5830.

[2021-04-01 12:44] #5714 closed

[2021-04-01 14:48] #5330 closed

[2021-04-01 14:49] #4127 closed

[2021-04-01 14:49] #4643 closed

[2021-04-01 15:57] Cryoris opened #6134 "Controlled HamiltonianGate seems to be wrong"
### Information

- **Qiskit Terra version**: master @ 49baa6ee5222bc497951423afa0fc7cbdb434702
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur

### What is the current behavior?

Controlled the `HamiltonianGate` seems to produce wrong results, whereas manually exponentiating and then using the `UnitaryGate` works fine.

### Steps to reproduce the problem

[code]

This yields:
[co

[2021-04-01 17:31] sanori opened #6136 "MatplotlibDeprecationWarning: The M attribute was deprecated in Matplotlib 3.4"
### Information

- **Qiskit Terra version**: 0.16.4
- **Python version**: 3.8.8
- **Operating system**: Ubuntu Linux

### What is the current behavior?

When running the Bloch sphere visualization function, the following warning message appears:
[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?
N
o warning message

### Suggested solutions

Refactor mathplotlib

[2021-04-01 18:38] #5981 closed

[2021-04-01 18:39] mtreinish commented on #6136
This is something we tried to fix recently in https://github.com/Qiskit/qiskit-terra/pull/6087 (since the deprecation warnings broke CI). It looks like the only way we'll be able to fix all the deprecation warnings is if we bump the minimum matplotlib version to 3.4. I think we're likely going to wait to do this until the matplotlib 3.5 release forces us to.

[2021-04-01 18:55] QacoBot opened #6138 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 0831d6b61ad5d661c5f756ae7c1e4938eddbc117 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/495568584

[2021-04-01 21:43] #5493 closed

[2021-04-01 22:45] delapuente commented on #5152
Ey @1ucian0, any news on this?  Did you have any conversation?

[2021-04-02 10:05] Arihant-Joshi opened #6140 "Function to plot bloch sphere using Amplitude of States"
Currently, the [plot_bloch_vector](https://github.com/Qiskit/qiskit-terra/blob/e5d66367fb531ffb514bed37786f48354316062e/qiskit/visualization/state_visualization.py#L162) function can plot the Bloch sphere using spherical and cartesian coordinates.

I propose implementing an additional value of the `coord_type` parameter("dirac"??), which allows the user to plot the bloch sphere from the Amplitude

[2021-04-02 13:06] taalexander commented on #6121
I agree @nkanazawa1989, now is a great time to reconsider this. If it can be covered by #6079 that would be great, but I believe a lot of infrastructure is missing for pulse transformations from the current DAGCircuit representation.

[2021-04-02 13:11] taalexander commented on #6092
Did @codegiri's answer help you resolve the problem @invalidexplorer?

[2021-04-02 14:27] dhruvbhq opened #6144 "quantum_info.Kraus: Possible redundant documentation"
In the `Kraus` class of `quantum_info` module, the current [documentation](https://qiskit.org/documentation/stubs/qiskit.quantum_info.Kraus.html) is as follows:

![image](https://user-images.githubusercontent.com/61590679/113423624-733eea00-93ec-11eb-8fd3-99485494e8a8.png)

I believe the 2nd line, 'The Kraus representation for a quantum channel $\mathcal{E}$ is a set of matrices $[A_0, ... A_{K-1}

[2021-04-02 14:28] dhruvbhq commented on #6144
If you believe this is a good first issue, I would like to attempt the fix, as I am new to this project.

[2021-04-02 15:09] ewinston commented on #6144
Welcome! Thanks for spotting this.

[2021-04-02 16:01] pratapwarrohit13 commented on #1237
@1ucian0 slack link is dead again

[2021-04-02 19:47] 1ucian0 commented on #1237
it does work to me @pratapwarrohit13 . Do you mind checking again?

[2021-04-03 06:19] paniash commented on #6134
@Cryoris Under `extensions/hamiltonian_gate.py`, I don't see a `.control` method for the `HamiltonianGate` class. Any ideas where I can look into this?

[2021-04-03 08:50] pratapwarrohit13 commented on #1237
Thanks @1ucian0 its working

[2021-04-03 14:39] jaygambetta commented on #985
I think this can be closed now -- it will be its own extension which @francabrera will release when complete.

[2021-04-03 14:39] #985 closed

[2021-04-03 14:44] jaygambetta commented on #4106
@ajavadia I think all is done now except for how do I view global phase in a circuit.

[2021-04-03 15:12] jaygambetta opened #6147 "compose should not unroll (by default) when using the circuit library"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

The idea of having a circuit library is to build up larger circuits and have simple visualizations that we can recognize when using them. I am fine having a non default option to unroll circuit when you compose it but by default the combined circuit should look like buildi

[2021-04-03 16:27] mtreinish commented on #4106
Yeah, I agree we were going to close it after the release just to make sure we didn't miss any places in the transpiler that were still leaking u1, u2, u3. There might be a few gate definitions still in terms of u1, u2, u3 but we can fix those in follow up issues. So I'm going to close this issue.

As for viewing the global phase, if it's non-zero the circuit visualizers will include it. For examp

[2021-04-03 16:27] #4106 closed

[2021-04-03 18:25] enavarro51 commented on #6068
Here's my 2 cents worth.
- First question, is how important is consistency? Either with regard to T/F or to whether to put inplace on all these methods.
- I would tend to agree with @nonhermitian that leaving the 3 measure methods as True would be good. More globally, defaulting to True should almost always increase performance.
- I'm not sure why there is an assign and a bind for parameters, othe

[2021-04-03 21:36] jsistos opened #6149 "Typo in docstring for MCX gate"
The docstring for the ```mcx``` method in [```QuantumCircuit.py```](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/quantumcircuit.py#L2532) has a typo regarding the ```mode``` kwarg (```no-ancilla``` rather than ```noancilla```).

[2021-04-03 21:51] ewinston commented on #6134
@paniash The `control` method is implemented in the parent `Gate` class.

[2021-04-03 22:07] ewinston commented on #6134
I noticed that when you create a HamiltonianGate directly it looks ok,
[code]
prints;
[code]

[2021-04-04 04:17] ewinston commented on #6134
This may actually be an issue with the Unroller preserving global phase;
[code]
yields,
[code]

[2021-04-04 05:50] itsabhianant commented on #6149
Hi @jsistos,

I got what is the problem and would love to fix this issue. Please assign this issue to me so that I can start working on it.

Best,
Abhishek

[2021-04-05 00:14] omarcostahamido opened #10670 "Gathering System Info has incomplete "Coming Soon" sections"
Noticed the "coming soon" sections in this tutorial:
https://github.com/Qiskit/qiskit-tutorials/blob/master/tutorials/circuits_advanced/08_gathering_system_information.ipynb
Is it still _coming soon_, or can it be linked somewhere already?

[2021-04-05 12:04] invalidexplorer commented on #6092
Hi, this answers my question! Thank you for your help

[2021-04-05 12:04] #6092 closed

[2021-04-05 12:08] mtreinish opened #6156 "Performance regression from disabling sympy evaluate"
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

The nightly benchmarks runs have flagged numerous regressions associated with #6072 including:

https://qiskit.github.io/qiskit/#transpiler_benchmarks.TranspilerBenchSuite.time_compile_from_large_qasm?machine=dedicated-benchmarking-softlayer-baremetal&os=Lin

[2021-04-05 18:29] 1ucian0 commented on #6147
The problem is that `QFT` returns the decomposition, not the "box".

[code]
[code]

[2021-04-05 20:10] woodsp-ibm opened #6159 "PauliExpectation warning given unexpectedly"
When running the following test

https://github.com/Qiskit/qiskit-nature/blob/01ec334a18fbcf2368765dfd2d522e116da9de0e/test/algorithms/ground_state_solvers/test_groundstate_eigensolver.py#L334

it prints this message unexpectedly to me.

`Measured Observable is not composed of only Paulis, converting to Pauli representation, which can be expensive.`

In looking it seems to be when the expectation

[2021-04-05 20:31] enavarro51 commented on #6147
I think this is a fairly easy change to `compose`, if `compose` knew which `QuantumCircuit`'s are from the library. One simple idea is to just add an attribute, say `library`, to each library class that produces a `QuantumCircuit` (or to every library class). Then maybe add a `kwarg` to compose that gives the user the option to unroll or not. For example,
[code]
![image](https://user-images.github

[2021-04-05 21:56] jaygambetta commented on #6147
@1ucian0 I dont want to use the to_gate long term that needs to be removed in my opinion.

@enavarro51 im good have a kwargs to unroll if the use wants to but by default it should not.

@1ucian0 I agree it just a box to implement it :-)

[2021-04-05 22:14] enavarro51 commented on #6147
Agreed on default not to unroll. So the remaining question is, how does compose identify library circuits?
1 - Add `library` attribute on all library classes
2 - Import all library classes into `quantumcircuit.py` and see if `other` is instance of library class
3 - Create list of library `name`s and see if `other.name` or `other.base_gate.name` in list.
For me, '1' seems the cleanest and easiest t

[2021-04-06 14:03] mtreinish commented on #4311
I think if they're general synthesis (where they go from a `quantum_info` object or a matrix) to a circuit they should live in `qiskit.quantum_info.synthesis`. Ideally I feel like the `qiskit.extensions` module really should be deprecated and we move things from there either to circuits or the circuit library (like the gate classes) and/or quantum_info.

[2021-04-06 14:15] ShellyGarion commented on #4311
What about `qiskit.transpiler.synthesis`? currently it has only `graysynth.py`. what should be there?

[2021-04-06 14:19] 1ucian0 commented on #5978
I'm not sure if `Basis Translation` and `Optimization Loop` can be easily decoupled. Optimizations usually take advantage of some level of abstraction that might get lost after the translation.

[2021-04-06 14:22] molar-volume commented on #6104
Hi @ewinston @kdk
you might want to take a look or comment on this issue to move it forward.

[2021-04-06 14:26] jaygambetta opened #6165 "Removing U1 U2, and U3 (low level)"
### What is the expected enhancement?

Follow on from my last issue on removing U1 U2 U3 I started to do try this for internal code and I think this is at least a 4 step process and I will try step one which I thought I could do over the weekend as a challenge and feel like I can code again. Turns out that passing qiskit test is a long term investment :-).

Step 1. part A
Change the standard gates

[2021-04-06 15:51] jaygambetta opened #6166 "Making it simple to draw a unitary matrix"
### What is the expected enhancement?

from qiskit.quantum_info import Operator

U = Operator(circ)
# Show the results
U.draw("city")

options would be
city, hinton, paulivec and maybe q-sphere but it would be 2^n of them with different phases for each basis state (not sure this is needed but could be nice to see how each basis states evolve).

@chriseclectic  if this already exist then we should

[2021-04-06 16:23] omarcostahamido opened #6169 "qasm's initialize"
### Information
when building a quantum circuit from qasm: if the qasm code includes `initialize` it gets ignored (or throws an error).

- **Qiskit Terra version**:
Qiskit | 0.24.1
-- | --
Terra | 0.16.4
Aer | 0.7.6
Ignis | 0.5.2
Aqua | 0.8.2
IBM Q Provider | 0.12.2
- **Python version**:
Python | 3.8.8

### Steps to reproduce the problem

[code]

[2021-04-06 17:36] quantumjim commented on #6169
A point to note about this is that the `from_qasm_str()` method does not accept a qasm string created by the `qasm()` method.

[2021-04-06 20:17] Aku-Silvenius commented on #5927
Hi @taalexander is this issue still open? I'd be happy to help with this one if needed, I'm looking for a good first issue and saw this one in the list.

[2021-04-07 01:29] jlapeyre commented on #5931
Hi @john-judge . Thanks for the contribution. I think this is on the right track. You are correct here:

I'm pretty sure that your implementation above already correctly handles `ParameterExpression`.

Yes, please make a PR, if you like.

[2021-04-07 02:39] jlapeyre commented on #5733
I tested the example in the original comment above with recent master 302f60abe. That is, the following
[code]

I find that it no longer errors, and furthermore reproduces the same result as the matrix example above. This was very likely fixed by PR #6111 in response to issue #6099

It looks like this issue is resolved and can be closed.

[2021-04-07 02:39] #5733 closed

[2021-04-07 11:50] yaelbh commented on #5692
@1ucian0 I'd like to continue this discussion, if you can, because I find it relevant and helpful also to other parts of my work. I don't see how the usage of classes helps segregate the interfaces. In particular, if two checkers have the same parameter name for different meanings, the `equivalence_checker` functions of you and Chris will get this parameter from `**options`. Then it will pass forw

[2021-04-07 15:10] Cryoris commented on #6104
I like the idea of having an object to keep track of the parameters. Concerning your points from above:
1. that makes sense to me (though I'm not convinced about the renaming)
2. can you comment why opflow needs `ParameterView` to be a set? It's a bit weird for a set to have index-based access, which we want to have on the `ParameterView`. Can't we keep it as unique list?
3. sounds good! At a late

[2021-04-07 15:19] nkanazawa1989 commented on #5927
Sorry I missed this. This sounds like a library in the assembler.
https://github.com/Qiskit/qiskit-terra/blob/15a97631d46a3e432bb09ddecb969ff467f855d3/qiskit/assembler/assemble_schedules.py#L177
 What is the purpose of this method?

[2021-04-07 15:46] nelimee commented on #6113
Solved with #6114

[2021-04-07 15:46] #6113 closed

[2021-04-07 20:10] ajavadia commented on #4687
Some synthesis algorithms may not be exact. They must be exact (including global phase).
But it is often useful to synthesize more relaxed versions of them. If the particular synthesis algorithm supports this, it should expose a subset of the following: `upto_phase` (most algorithms), `upto_diagonal` (e.g. relative phase toffoli or the `mcg_up_to_diagonal`), `upto_permutation`, `upto_approximation

[2021-04-07 20:10] ajavadia commented on #4311
I think we can make a separate `qiskit.synthesis` directory that can contain everything currently under `qiskit.quantum_info.synthesis` and `qiskit.transpiler.synthesis` and `qiskit.extensions`. This would contain all synthesis algorithms which the compiler can use. Some will be from quantum_info objects, and some will not.

Yeah. As Matthew says the extensions folder should be deprecated and remo

[2021-04-07 20:15] ajavadia commented on #4311
There is a lot here, and there are other open issues on synthesis too (https://github.com/Qiskit/qiskit-terra/issues/4687, https://github.com/Qiskit/qiskit-terra/issues/6038). @ShellyGarion can you please make an Epic from them? The good thing is there are many good synthesis algorithms already implemented in Qiskit, but user interface and compiler interface need work.

[2021-04-07 21:34] TharrmashasthaPV opened #6178 "Incorrect drawing of composite gates with qubits and classical bits when using text drawer"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+2ecf45d
- **Python version**: 3.7

### What is the current behavior?

Text drawer incorrectly draws composite gates that contain both qubits and classical bits. This error seems to arise only when appending the composite gate and the qreg_list or the creg_list provided to the qc.append() is not in ascending order.

For instance consider the

[2021-04-08 02:44] itoko commented on #6029
I'll work on this

[2021-04-08 03:29] #6134 closed

[2021-04-08 06:48] molar-volume commented on #6104
Hi there.

2. Like you say, `parameters` needs to be unique in opflow. Using `set` is more simple and efficient, comparing to `list` with custom `add`, `update` etc. For example, following code runs **`16.06s`** on `master` branch, but **`0.12s`** on [`parameters_poc`](https://github.com/molar-volume/qiskit-terra/tree/parameters_poc) branch.
[code]
5. This is addressed in https://github.com/Qiskit

[2021-04-08 08:48] Cryoris commented on #6104
2. I'm more worried about exposing a `set` object with a `__getitem__`, that's why I think it should not be a set (it could of course use one internally to achieve the same performance benefits)

and

5.  I see that makes sense to me 🙂

[2021-04-08 12:47] jlapeyre commented on #5230
Here is an example that is closer to a Mnon-WE
[code]

[2021-04-08 13:48] Atri22 commented on #6101
@nkanazawa1989 sir,can you please tell me where and how to add zero duration check and set minimum window length.

[2021-04-08 19:29] mtreinish commented on #6156
I took a brief look at this with today and profiling a simple QV circuit:

[code]

Prior to #6072 the profile for parameter `assign()` (which is the slowest operation in the `transpile()`) looks like:

![Screenshot_2021-04-08_15-20-58](https://user-images.githubusercontent.com/2447371/114084780-8e8f7680-987e-11eb-8257-4ce5a18dc535.png)

Then after #6072 it changes to:

![Screenshot_2021-04-08_15-1

[2021-04-09 01:46] jlapeyre commented on #5230
If, in the above example, we instead take
[code]
then the output array ` state_array_from_matrix` *is* correct and *is* the same as the input array.

[2021-04-09 09:42] 1ucian0 opened #6185 "Inconsistency in `TwoLocal(..., entanglement_blocks=...)`"
From  https://quantumcomputing.stackexchange.com/questions/16922/unable-to-use-iswap-in-qiskit-twolocal-entangling-block

### What is the expected enhancement?

Not all the standard library can be specified "by name" in `TwoLocal(..., entanglement_blocks=...)`. This creates confusion. IMO, 'by name' is just a source of problem and the parameter should be set `by instance`.

[2021-04-09 09:55] Cryoris commented on #6185
I see your point, but it's just so much more convenient to set by name than importing the gates and I think we would really deteriorate the UX if we don't allow it. We can raise a better error or maybe automate improve how gates are selected by name eg by importing all gates and checking their name or so.

[2021-04-09 13:12] #763 closed

[2021-04-09 13:54] molar-volume commented on #6104
It’s not only performance. By subclassing `set`, you get all `set` methods for free.

Sure, you can subclass `MappingView` and use `set` internally to implement all `set` methods yourself, but it’s just more lines of code with no benefit.

[2021-04-09 17:24] #5803 closed

[2021-04-09 17:42] mtreinish opened #6188 "Python 3.9 on linux hangs when using multiprocessing"
### Information

- **Qiskit Terra version**: Master
- **Python version**: 3.9
- **Operating system**: Linux

### What is the current behavior?

On the linux 3.9 ci job there have been several jobs recently that fail due to a job timeout after 1 hour. For example:

https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=26619&view=logs&jobId=53f3e6ef-9cd2-51f8-4c23-ef405deeeb83&j=53f3e6

[2021-04-09 17:52] mtreinish commented on #6188
I updated the description because it's not just in `test_vqe` looking at second timeout log:
https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=26590&view=logs&j=53f3e6ef-9cd2-51f8-4c23-ef405deeeb83&t=f9e6fb36-fdac-5369-6649-12f2d7a63b5d
one working isn't getting stuck in test_vqe like in the first link

[2021-04-09 17:58] jlapeyre commented on #5230
I opened this issue because it was brought to my attention, but I don't recall where.

The current behavior can be considered correct under some circumstances. If the register is the entire quantum system, then the global phase is irrelevant, so that introducing gates to correct the phase is wasteful. It seems that may be what is happening here. So a couple of questions are
* Are there cases in wh

[2021-04-09 17:58] mtreinish commented on #6188
Well now I'm not sure, here is a third log: https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=26564&view=logs&j=53f3e6ef-9cd2-51f8-4c23-ef405deeeb83&t=f9e6fb36-fdac-5369-6649-12f2d7a63b5d and this one is getting stuck in `test_vqe` too. So out of 3 timeouts 2 are getting stuck in `test_vqe` and the other one it's not clear where

[2021-04-09 20:39] kdk commented on #5271
Is the plan to migrate this to terra, or should this be closed?

[2021-04-09 20:53] Cryoris commented on #6104
I don't think `ParameterView` should be a set or have the set methods. Right now they are just there to keep our 3-month deprecation policy 🙂

[2021-04-09 21:03] #5750 closed

[2021-04-09 21:30] thundergoth commented on #1470
I am also looking for a solution to this problem. Is there any progress?

[2021-04-09 22:04] #6138 closed

[2021-04-09 22:43] kdk opened #6192 "OptimizeSwapBeforeMeasure removes classically conditioned SwapGate"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

From https://travis-ci.com/github/Qiskit/qiskit-terra/jobs/495770351#L997:

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-04-09 23:11] kdk commented on #6085
Thanks for investigating this @ashsaki ! Agree this is a bug, and your proposed Solution #1 seems like the best fix. If a gate is already in the basis, there's no need to consider it as a possible translation step (this should speed up the search somewhat as well).

[2021-04-09 23:14] kdk opened #6193 "Convert DAGNode.name attribute to property"
An unrelated thing here is I think maybe we need a similar property lookup as to DAGNode.condtion so for op nodes we just pull the name directly from the op node. something like:
[code]
just because it seems like there is a lot of mixing of node.name and node.op.name and while they should always be the same thing, it's probably good to actually enforce that.

_Originally posted by @mtreinish in ht

[2021-04-10 00:11] kdk commented on #6147
In my understanding, `append` is the way to do this. e.g. from @1ucian0 's example

[code]

![image](https://user-images.githubusercontent.com/2241698/114251614-a72b8980-996f-11eb-9a18-adb2b930bbfe.png)

As defined now, `append` is loosely "add this object as a boxed instruction within my circuit" and `compose` is "add all the instructions from this object to my circuit".

[2021-04-10 00:18] enavarro51 commented on #6193
I can pick this up.

[2021-04-10 02:55] #6144 closed

[2021-04-10 02:56] jaygambetta commented on #6147
Append works but my view is we don’t need both.  And I would rather have compose work the way we expect. Long term I don’t see why we need append.

[2021-04-10 03:31] jaygambetta opened #6195 "Transpiler optimization not finding solutions mod 2pi"
[code]
returns

P(5π/2) which should be p(pi/2)

We should make sure that the solution to parametrized gates finds the solution mod 2pi or the range the are defined over.

[2021-04-10 20:14] EgrettaThula opened #6198 "PiecewiseChebyshev does not work as expected when breakpoints = None"
### Information

- **Qiskit Terra version**: Master
- **Python version**: 3.7.5
- **Operating system**: Windows 10

### What is the current behavior?
When using PiecewiseChebyshev  with breakpoints equal None, the resulting circuit contains one gate only.

### Steps to reproduce the problem
[code]
Result:
[code]
### What is the expected behavior?
Result should be:
[code]

### Suggested solutions
I

[2021-04-11 07:39] 1ucian0 opened #6200 "assemble changes the name of the circuit when binding parameters"
The `assemble` function changes the name of the circuit. That makes the circuit's result "hard to find" after `job.result()` (see https://quantumcomputing.stackexchange.com/questions/16946/qiskiterror-data-for-experiment-circuit-109-could-not-be-found/16948#16948, which exposes broken example in the textbook https://qiskit.org/textbook/ch-machine-learning/machine-learning-qiskit-pytorch.html#3.-Le

[2021-04-11 12:50] Cryoris commented on #6198
@anedumla could you have a look? 🙂

[2021-04-11 19:32] #2092 closed

[2021-04-12 06:24] Cryoris commented on #6147
I agree it's a bit weird to have two methods to do almost the same. So how about removing `append` in favor of
[code]
We could keep most of the code as is I think but just add a proxy do decide how to append.

[2021-04-12 06:25] Cryoris commented on #5271
I think it should be migrated, we added it in ML because it was release critical 🙂

[2021-04-12 09:17] nelimee opened #6204 "RunningPassManager overwrites calibrations from passes"
### Information

- **Qiskit Terra version**: latest commit on `master` b95ade1
- **Python version**: 3.8.2
- **Operating system**: MacOS

### What is the current behavior?

Calibrations added by transpiler passes are discarded by the `RunningPassManager` when the `DAGCircuit` instance is not modified in place.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The ass

[2021-04-12 11:20] jaygambetta commented on #6147
im good with this we should only have one and compose makes more sense since we also use in the operators.

I am good having keyword but I would use decompose as it is only going one length when it unrolls anyway.

[2021-04-12 13:37] ShellyGarion commented on #4311
**TODO:** List of items related to synthesis:

- [ ]  Make a separate `qiskit.synthesis` directory that contain everything currently under `qiskit.quantum_info.synthesis` and `qiskit.transpiler.synthesis` and `qiskit.extensions` #4699
- [ ] Handle state preparation algorithms and link them  to the synthesis of the qiskit `Statevector` object.
- [ ] Different algorithms for synthesizing multi-contr

[2021-04-12 13:37] ShellyGarion commented on #4699
Make a separate `qiskit.synthesis` directory that contain everything currently under `qiskit.quantum_info.synthesis` and `qiskit.transpiler.synthesis` and `qiskit.extensions`

[2021-04-12 15:24] eggerdj commented on #6204
How does this compare to `class CalibrationCreator(TransformationPass)` introduced here: https://github.com/Qiskit/qiskit-terra/pull/5752/files# ?

[2021-04-12 21:38] adjs opened #6208 "Aer and BasicAer generate different states for the UC gate"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+58f7754
- **Python version**: 3.8.8
- **Operating system**: mac os

### What is the current behavior?
Aer and BasicAer generate different states

### Steps to reproduce the problem

[code]

### What is the expected behavior?
Aer and BasicAer should generate the same state

### Suggested solutions

[2021-04-12 22:18] drewrisinger opened #6209 "Pulse: seconds_to_samples() fails when passed an array"
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.7
- **Operating system**: Linux (under WSL)

### What is the current behavior?

Passing a numpy array to ``qiskit.pulse.seconds_to_samples()`` raises an error: ``TypeError: only size-1 arrays can be converted to Python scalars``.

### Steps to reproduce the problem

Run the following test script:

[code]

Traceback:
[code]

[2021-04-13 02:25] jlapeyre commented on #6104
There is a lot going on here. Here's one thing: The code above
[code]
reveals a bug. Copies of `Parameter('c')` are inserted 10000 times to the list. And the search is O(n). This is the source of the poor performance.

[2021-04-13 05:57] Cryoris commented on #6104
I think it'd be better to postpone implementation details until we decide on how we want to proceed with this. As you're saying there's a lot going on and we should have a plan before moving along 🙂

[2021-04-13 06:03] Cryoris commented on #5230
If it is easy to fix the global phase (e.g. by just setting the `QuantumCircuit.global_phase` attribute) I think we should fix it, it might be confusing if the output of the initialize instructions doesn't match the input.

[2021-04-13 07:38] molar-volume commented on #6104
@jlapeyre This is because `Parameter.__eq__` compares UUIDs, not names (maybe it should raise error for the same name, but different UUID?)

You will get same outcome on the `set`:
[code]

The poor performance is because `ParameterView` is storing parameters in the `list` and checks if parameter is `in`, instead using `set`.

However, there is a bug in `ParameterView.update`:
[code]
This works on

[2021-04-13 12:21] nelimee commented on #6204
I do not have time to check right now but will come back and comment here once I will be more familiar with the `CalibrationCreator`.

[2021-04-13 12:38] jlapeyre commented on #6104
@molar-volume As, I wrote that comment, I tried inserting `Parameter`s in set and saw the same thing. I assumed that your implementation did something to get around it. But, it now looks like the difference in performance is that before insertion, one does either a linear search or a hash table look up.

There is another efficiency issue I could mention. But, I notice that @Cryoris has restricted

[2021-04-13 12:55] #6095 closed

[2021-04-13 13:45] mtreinish commented on #6156
So with #6187 merged now it looks like things have definitely improved for the regression in compile from the eoh qasm file it is now faster than it was before the regression: https://qiskit.github.io/qiskit/#transpiler_benchmarks.TranspilerBenchSuite.time_compile_from_large_qasm?machine=dedicated-benchmarking-softlayer-baremetal&os=Linux%204.15.0-46-generic&ram=16GB&commits=f436f5ab

However, for

[2021-04-13 14:36] molar-volume commented on #6104
@jlapeyre In context of `QuantumCircuit` there exists `ParameterTable` that raises `Name conflict on adding parameter`, but not in `OperatorBase`.

[SortedSet](http://www.grantjenks.com/docs/sortedcontainers/sortedset.html) implements `__getitem__` and other sequence methods as well, but I am not well-versed in that area and I trust you on this :thumbsup:

[2021-04-13 14:50] frankharkins opened #6215 "Shor.construct_circuit() takes a long time"
### Information

- **Qiskit Terra version**: Tried on both 0.17.0 & Master branch
- **Python version**: 3.7.7
- **Operating system**: OSX

### What is the current behavior?

[code]
Takes a _very_ long time for a short circuit (I haven't actually seen it complete yet). When I interrupt, it is always stuck on the same line:
[code]

### Steps to reproduce the problem

[code]

### What is the expected

[2021-04-13 17:36] frankharkins commented on #6215
Looks like this will be fixed in #6216

[2021-04-13 18:01] mtreinish commented on #5152
So I think this would be fine to do, but before we can start to do anything here it's necessary to settle on standard terminology (which is arguably a larger concern than just qiskit because ancilla is standard term in quantum computing).

That being said we can start to take a look at the ancilla usage in qiskit to size the work. Using grep on the repo yields the following usage of ancilla (case-

[2021-04-13 18:31] woodsp-ibm commented on #6215
It should fix what you report. An investigation was done based on a similar issue being raised on external Slack channel which resulted in the PR. Had not seen this had been raised here until you linked it to the PR,

[2021-04-13 18:42] #6215 closed

[2021-04-13 19:54] mtreinish commented on #6188
Another instance of this just occurred on: https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=26721&view=logs&j=53f3e6ef-9cd2-51f8-4c23-ef405deeeb83&t=f9e6fb36-fdac-5369-6649-12f2d7a63b5d&l=499

which was on a stable branch PR: https://github.com/Qiskit/qiskit-terra/pull/6217

It also looks like it got stuck in `test_vqe` too. My thinking is this might have been caused by a requir

[2021-04-13 21:20] quantumjim opened #6223 "Error adding measurement to compiled circuit"
### Information

- **Qiskit Terra version**: `{'qiskit-terra': '0.17.0', 'qiskit-aer': '0.7.0', 'qiskit-ignis': '0.5.0', 'qiskit-ibmq-provider': '0.11.0', 'qiskit-aqua': '0.8.0', 'qiskit': '0.25.0'}`
- **Python version**: 3.8.5
- **Operating system**: OSX

### What is the current behavior?

The circuit

[code]
gives the error

[code]

### Steps to reproduce the problem

### What is the expected be

[2021-04-14 09:32] #5766 closed

[2021-04-14 09:32] #5722 closed

[2021-04-14 15:31] #6209 closed

[2021-04-14 17:10] nonhermitian opened #6230 "Inconsistent ordering of marginal counts"
### Information

- **Qiskit Terra version**: 0.24.1
- **Python version**:
- **Operating system**:

### What is the current behavior?
`marginal_counts` ordering does not obey a standard convention when returning its output.  For example, consider the counts:

[code]
using `indices = [0,1,2,3,4]` give the identity mapping, suggesting that the 0th index in the indices list maps the input counts bit t

[2021-04-14 19:18] jlapeyre commented on #6147
It looks like `compose` and `append` are roughly the same, but differ (at least) in details. For example on offers an option to operate in place, the other is only in place. They also apparently share no code! My intuition is that it would be beneficial to do refactoring in conjunction with reconsidering the API. For example, for backward compatibility, one might be a light wrapper on the other.

[2021-04-14 20:09] enavarro51 commented on #6230
@nonhermitian `marginal_counts` has, from inception (0.11.0), treated the `indices` as a set, even though it's entered as a list. In addition to the fact they get sorted, there is also this line,
https://github.com/Qiskit/qiskit-terra/blob/3cf63baa3582d6cd5bcbeb976659dde3236f9007/qiskit/result/utils.py#L70-L72
which is what's being triggered in your case.
I think the docs for `indices` could be cl

[2021-04-14 20:27] #5694 closed

[2021-04-14 20:57] nonhermitian commented on #6230
Yeah, I am not disputing that is the way it has been. More that it doesn't make much sense to do an implicit conversion like this, where the ordering specified by the user is ignored. However, It is easy enough to write ones own marginal counts function so I am also fine if this gets close as expected behavior.

[2021-04-15 08:40] 1ucian0 commented on #6200
Closed as it is the expected result. The problem is in the textbook (already reported here https://github.com/qiskit-community/qiskit-textbook/issues/1038).

[2021-04-15 08:40] #6200 closed

[2021-04-16 10:55] Francesco-Benfenati opened #6243 "Max Likelihood Amplitude Estimator applies post processing twice to the confidence interval"
### Information

- **Qiskit Terra version**: 0.17.1
- **Python version**: 3.8.3
- **Operating system**: macOS 11.2.3

### What is the current behavior?
The confidence_interval of the Max Likelihood Amplitude Estimator is already rescaled. The confidence_interval_processed is rescaled twice. This does not happen for example with the Iterative Amplitude Estimator

### Steps to reproduce the problem

[2021-04-16 14:26] adekusar-drl opened #6245 "Import fails due to `ModuleNotFoundError: No module named 'qiskit.quantum_info.states.cython.exp_value'`"
### Information

- **Qiskit Terra version**: sources till the recent commit https://github.com/Qiskit/qiskit-terra/commit/0fc83f44a6e80969875c738b2cee7bc33223e45f
- **Python version**: Linux / Windows Python 3.9.4
- **Operating system**: Linux / Windows

### What is the current behavior?
When I import I get an error:
[code]
The same exception on Linux/Windows.

### Steps to reproduce the problem
W

[2021-04-16 14:37] adjs opened #6246 "Initialize should be composed of Resets + StatePreparation"
### What is the expected enhancement?
In #6236, we discussed the possibility of a StatePreparation class with no resets and a separate Initialize that uses resets + state-preparation. There is a related issue in #1896.

I raised the possibility to remove the resets in #6236 because an alternative to go from a state | a> to a state | b> is to apply the inverse of initialize |a> followed by initiali

[2021-04-16 14:40] mtreinish commented on #6245
What exactly is your exact workflow that's having errors? Pip install on a checkout works fine for me on linux.

That being said my guess is that your issue is a python namespace thing. If you're running from the root of a checkout python doesn't know to use the installed copy in the site-packages and instead uses the `qiskit` path in the checkout for the code. If it does that then it won't have t

[2021-04-16 14:51] adekusar-drl commented on #6245
This is what I do. `~/qiskit-terra` is the root of terra. `dev-terra-new` was a clean conda env, now it is not that clean, a few install/uninstall were run.

[code]

[2021-04-16 14:54] adekusar-drl commented on #6245
The problem originally appeared in IDE, where I have project and I tried to run a script.

[2021-04-16 15:00] mtreinish commented on #6245
ok, then yeah it's exactly what I suspected earlier. Since you're running in the root of the checkout python is interpreting the `./qiskit` directory in the repository as the `qiskit` namespace for importing (this is a common trap that everyone falls into in python). You can see this in the full traceback: `"/home/anton/qiskit-terra/qiskit/quantum_info/states/statevector.py"` it is using the versi

[2021-04-16 15:24] adekusar-drl commented on #6245
Thanks a lot, running `python setup.py build_ext --inplace` solved the problem. And this is important to be able to run scripts from IDE with the latest changes.
So now I'm just curious, why I did not hit this issue earlier.

[2021-04-16 17:53] johannes-weidenfeller opened #6247 "Commutation aware SWAP transpiler passes"
### What is the expected enhancement?
The transpiler passes for qubit routing via SWAP insertion currently implemented in Qiskit do not take the commutativity of the circuit into account. However, for algorithms with a high number of commuting gates, such as QAOA circuits, the order of these gates can have a significant effect on the performance of the transpiler pass.
As a proposed solution, curr

[2021-04-17 09:13] 1ucian0 commented on #6169
Is initialized supported by OpenQASM2?

[2021-04-17 09:50] omarcostahamido commented on #6169
I don't see a reason why it should not be.

On Sat, Apr 17, 2021, 2:14 AM Luciano Bello ***@***.***>
wrote:

[2021-04-17 10:23] tamiya-onodera opened #6250 "Fix optimal_num_iterations"
### Information

- **Qiskit Terra version **:  master
- **Python version**:  3.8.5
- **Operating system**: MacOS Catalina 10.15.7

### What is the current behavior?

The current code is based on the inequality (6.17) p254 of Nielsen & Chung (3rd printing 2017).
This is actually an 'elegant upper bound' for the number of iterations required, which is not necessarily optimal.

https://github.com/Qis

[2021-04-17 11:51] 1ucian0 commented on #6169
I mean, they could as opaque instructions (one per each size of idlist)
[code]

However this wont make it loadable per se (an opaque instruction wont have a definition). Am I missing something?

[2021-04-19 10:29] Cryoris opened #6254 "Opflow takes the adjoint of an Operator if the expectation value is written as ``OperatorMeasurement``"
### Information

- **Qiskit Terra version**: master @  1c049978525ea912422fb656625264aa7d4075bd
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur

### What is the current behavior?

As discovered by @Zoufalc, if an expectation value is written as `~StateFn(operator) @ state`, the operator is complex conjugated although it shouldn't be. I.e. in that case the Opflow evaluates
[code]

[2021-04-19 12:28] danielecuomo commented on #6047
I opened an [issue](https://quantumcomputing.stackexchange.com/questions/16748/from-logical-universal-gate-set-to-physical-one-qiskit) that may be related to this one.

In brief, the `transpile` method end the task with error when passing the universal gate set `['h', 's', 't', 'cx']`

[2021-04-19 12:41] Zoufalc opened #6255 "Inconsistence between qasm and eval outputs of opflow expectation value"
### Information

- **Qiskit Terra version**: qiskit-terra 0.17.0
- **Python version**: Python 3.7.3
- **Operating system**: macOS Big Sur 11.2.3

### What is the current behavior?

The outcome for the expectation value -- see below -- varies between QASM and statevector/eval computation.
Notably, the observable is non-Hermitian but can be decomposed into two Hermitian observables.

### Steps to re

[2021-04-19 12:55] ShellyGarion commented on #6047
where is the equivalence library? is it the templates library?
https://github.com/Qiskit/qiskit-terra/tree/master/qiskit/circuit/library/templates/clifford

[2021-04-19 13:24] mtreinish commented on #6047
This is in the equivalence lib already: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/library/standard_gates/equivalence_library.py#L391-L399

This is in the equivalence lib already:
https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/library/standard_gates/equivalence_library.py#L713-L721

[2021-04-19 13:39] Zoufalc commented on #6255
Can be resolved by converting the `exp_val` using the `PauliExpectation` converter.
`exp_val = PauliExpectation().convert(exp_val).reduce()`

[2021-04-19 13:39] #6255 closed

[2021-04-19 15:29] peendebak opened #6256 "Fix dag_drawer() that raises file access error on Windows."
### Information

- **Qiskit Terra version**: 0.17
- **Python version**: 3.8
- **Operating system**: Windows

### What is the current behavior?

When running the `dag_drawer` the following exception is generated
[code]

The problem is related to the `PIL` package openining an image, but keeping a file handle locked.

### Steps to reproduce the problem

Run the following minimal example (from jupyte

[2021-04-19 18:44] #6192 closed

[2021-04-19 20:24] zohimchandani opened #6257 "Compiling SU(4) Quantum Circuits to IBM QX Architectures"
### What is the expected behavior?

I am investigating [this compilation technique](https://arxiv.org/abs/1808.05661) that won the IBMQ developer challenge award and was playing around with the [code ](https://iic.jku.at/eda/research/ibm_qx_mapping/) provided to try and implement it on Qiskit.

However, I note that the technique, even though it is open-source, was not taken up by the IBM team and

[2021-04-19 21:00] mtreinish commented on #6257
I believe that technique was proposed in: https://github.com/Qiskit/qiskit-terra/pull/1310 but that PR had some code issues and ended up going stale and we closed it since it wasn't likely to ever be fixed. If you're interested in proposing it again please feel free to take that code as a starting point. I can provide some pointers for you on what issues there were with code if you decide to do it

[2021-04-20 05:46] ikkoham commented on #5953
Is this a bug in current Qiskit about the order of the `initial_point` in VariationalAlgorithm such as VQE?

https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/algorithms/variational_algorithm.py#L107

[2021-04-20 07:37] molar-volume commented on #5953
@ikkoham calling [`QuantumCircuit.parameters`](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/quantumcircuit.py#L1937) returns sorted list of parameters now.

This issue suggests that explicit sorting can be removed, e.g. instead of https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/algorithms/variational_algorithm.py#L107
you can only have `self._ansatz_params = ansatz.p

[2021-04-20 09:28] javabster commented on #6101
@Atri22 you can find the plotter in `qiskit-terra/qiskit/visualization/pulse_v2/plotters/matplotlib.py`, on line 79 you can see where the `axis_config` is set. This could be a a good place to check for zero duration (i.e. if the `time_range` is 0.0,0.0) and set a minimum `time_window`. Unless @nkanazawa1989 suggests otherwise?

[2021-04-20 09:54] ikkoham commented on #5953
@molar-volume Thanks. I understood the issue.

But, isn't the current state until sort is removed creating a bug? So I suggested to label the bug to this issue.

[2021-04-20 10:24] molar-volume commented on #5953
If you do not put `ParameterVector` in the mix, then the sorting provided in `QuantumCircuit` is same as https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/algorithms/variational_algorithm.py#L107

So if there is a bug now, this issue would not solve it.

I hope I am not misleading you.
@Cryoris can you confirm please?

[2021-04-20 11:12] Cryoris commented on #5953
There's no bug right now. The point is that VQE used to manually sort the parameters, which is now not necessary anymore, so we want to remove that manual sorting.

Now there's a small problem: If we use the ordering provided by circuits, it differs from the manual sorting VQE did. That means that hardcoded `initial_state`s will produce different results. I don't see a way around that though.

Tha

[2021-04-20 12:05] molar-volume commented on #5953
@Cryoris @ikkoham maybe this can be solved with `initial_point` being dictionary (used in `bind_parameters` for circuits or operators)

[2021-04-20 12:27] daniel-fry opened #9821 "Initialize normalized state / state normalization feature"

[2021-04-20 12:57] gabrieleagl opened #6262 "Shor: unexpected behavior in latest versions"
### Information

- **Qiskit version**: {'qiskit-terra': '0.17.0', 'qiskit-aer': '0.8.0', 'qiskit-ignis': '0.6.0', 'qiskit-ibmq-provider': '0.12.2', 'qiskit-aqua': '0.9.0', 'qiskit': '0.25.0'}
- **Python version**: 3.8.8
- **Operating system**: (quantum experience)

### What is the current behavior?
Shor executed on N=15, a=11, simulated on noiseless simulators, produces unexpected basis values wit

[2021-04-20 14:45] rsln-s opened #6264 "Better batching of circuits"
### What is the expected enhancement?

There are many use cases where one wants to guarantee that multiple groups of circuits are run close to each other in time. This can be done by batching them into one job. One example of such use case is testing error mitigation schemes:

[code]

Here we want to compare the fidelity of the outcomes of the two error mitigation strategies (`qc_error_mitigation_

[2021-04-20 18:12] nonhermitian opened #6267 "Allow for quasiprobabilities in plot_histogram"
### What is the expected enhancement?

We can plot quasi-probabilities in `plot_histogram`, e.g.

[code]

Currently it fails with the error:

Traceback (most recent call last):
  File "<ipython-input-10-83a9b75e21a9>", line 1, in <module>
    plot_histogram(m3_quasi)
  File "/opt/miniconda3/envs/qiskit/lib/python3.9/site-packages/qiskit/visualization/counts_visualization.py", line 161, in plot_his

[2021-04-20 18:15] nonhermitian opened #6268 "plot_histogram should plot error bars"
### What is the expected enhancement?

`plot_histogram` should plot the error bars associated with distributions.

[2021-04-20 19:21] pawmasz commented on #2307
Is this issue still open? Can I take a look at it?

[2021-04-20 22:49] zohimchandani commented on #6257
Would I call SABREs' functionality by choosing `optimisation_level=3` for example? I am working through the [quantum volume ](https://qiskit.org/textbook/ch-quantum-hardware/measuring-quantum-volume.html) demo and want to ensure that the code is optimised to its fullest degree. Would appreciate pointers on things I can play around with such as transpiler passes and pass manager.

[2021-04-21 00:06] ColemanCollins opened #6271 "dissasembler does not handle multi-control gates correctly"
### Information

- **Qiskit Terra version**: 0.17
- **Python version**: 3.9.2
- **Operating system**: macOS 11.2.3 (Big Sur)

### What is the current behavior?
When attempting to use `assembler.disassemble` on a Qobj with an mcx gate, the disassembler throws an error.

### Steps to reproduce the problem
[code]
produces
[code]
a shorter version that doesn't break the argument number also hints at w

[2021-04-21 04:14] hywong2 opened #6279 "Cannot Repeat HHL Example Result"
### Informations

- **Qiskit version**:  0.25.0
- **Python version**: 3.8
- **Operating system**: CentOS 7

### What is the current behavior?

There is an HHL example in IBM Qiskit

https://qiskit.org/textbook/ch-applications/hhl_tutorial.html

If I run on that website (click "Try") in Section 4 and set time=np.pi*3/4, I get 100% fidelity as expected. However, if I copy those code and run it on my

[2021-04-21 06:48] a-matsuo commented on #6250
@tamiya-onodera
Thank you for raising this issue.
I agree with that the current implementation in `optimal_num_iterations` actually represents the upper bound of the iteration ((6.17) p254 of Nielsen & Chung) and eq. 6.15 should be used for the number of the optimal iterations.
If you'd like, could you please fix the current implementation?

[2021-04-21 07:10] tamiya-onodera commented on #6250
@a-matsuo
Thanks for your comments.    I will do it.

[2021-04-21 09:54] nonhermitian commented on #6267
This will require porting the log scale histogram from Kaleidoscope as the negative values are not visible otherwise.

[2021-04-21 15:05] SushantGautam opened #6276 "Add option on qiskit.visualization.plot_histogram to show all possible states"
### What is the expected enhancement?
I think it would be better to add some option to [plot_histogram ](https://qiskit.org/documentation/_modules/qiskit/visualization/counts_visualization.html#plot_histogram)to show all possible states. It becomes easy to visualize.

Current:
![image](https://user-images.githubusercontent.com/16721983/115575346-3165dd00-a2e2-11eb-9e21-9c561790e0d7.png)
Expected:

[2021-04-21 18:26] #5230 closed

[2021-04-21 19:09] bartek-bartlomiej commented on #6262
The issue seems to have appeared in Aqua `0.7.0`.
I am currently working on fixing this. It's nearly done - I will create PR soon :grinning:

[2021-04-21 20:24] peendebak opened #6278 "InstructionScheduleMap.add incorrectly determines function signature"
### Information

- **Qiskit Terra version**: '0.18.0.dev0+98130dd'
- **Python version**: 3.8
- **Operating system**: Windows

### What is the current behavior?

The `InstructionScheduleMap` allows to add callable schedules. This works for normal callables, but fails for callables defined with `partial`.

### Steps to reproduce the problem

A minimal example is:
[code]

### What is the expected beh

[2021-04-21 20:33] peendebak commented on #5951
@taalexander @nkanazawa1989 The issues still exists on current master.
[code]

[2021-04-21 20:52] ColemanCollins opened #6280 "run_circuits does not respect BackendV1 and passes Qobj"
### Information

- **Qiskit Terra version**: 0.17
- **Python version**: 3.9.2
- **Operating system**: macOS 11.2.3 (Big Sur)

### What is the current behavior?

[This was originally an issue on the qiskit-ionq provider](https://github.com/Qiskit-Partners/qiskit-ionq/issues/65) but it's really at core a terra issue.

### Steps to reproduce the problem

[code]

produces the following stacktrace:
[co

[2021-04-21 21:00] enavarro51 commented on #6271
@ColemanCollins If you're not working on this, I think I have at least a rudimentary solution. It appears that 4 `QuantumCircuit` methods, `mcx, mct, mcp, and mcu1` use the `control_qubits` list. (There may be others if we look through all the internally created gates, but I think fixing these will handle the immediate problem). It's easy to treat these as a special case in the disassembler.

If y

[2021-04-21 21:20] mtreinish commented on #6280
Yeah, your suggested solution is the path forward here. This needs to be fixed as the current state means that `run_circuits` doesn't respect the backends interface. It was missed because all of the providers/backend objects used for testing (ibmq, aer, and basicaer) still support qobj (albeit with a deprecation warning or pending deprecation warning) for backwards compatibility. But, we need to f

[2021-04-21 21:52] kdk commented on #6223
This looks like expected behavior, as the transpiled circuit will be output in terms physical qubits, but it's not entirely clear to me what is the intent of the example code. (What are `q` and `c` in the example?)

If you wanted to measure each qubit into the clbit corresponding to its position in the final layout, one option would be to write `transpiled_qc.measure(transpiled_qc.qubits, transpil

[2021-04-21 22:03] kdk commented on #6122
Hi @AlessandroCarbone , thanks for opening this issue. Your point above is in general true, but practically difficult to achieve in all cases. It's expected that higher optimization levels are more computationally expensive and _should_ generally return shorter circuits (though depth is not the only metric for which we optimize), but it is not guaranteed in all cases, and so some experimentation w

[2021-04-21 22:11] taalexander commented on #5951
Investigating this a result of the implementation of `partial` which does not fully bind your argument but rather creates a new function with the partially bound argument as a keyword argument.

[code]
[code]

See [partial docs](https://docs.python.org/3/library/functools.html#functools.partial) for a description of how it works. In general I would expect any function with keyword arguments to hav

[2021-04-21 22:18] kdk commented on #6140
Hi @Arihant-Joshi , this seems like a nice extension (given that we already have multiple `coord_type`s). Feel free to open a PR.

[2021-04-22 02:42] ColemanCollins commented on #6271
@enavarro51 feel free! no feeling of ownership here and I wasn't planning on getting to it until the weekend

[2021-04-22 03:15] nkanazawa1989 commented on #5951
Thanks for reporting the bug. Fixed in #6282. I just mistook the data type of `.phase`. This can be `ParameterExpression` (I assumed `Parameter`) which doesn't have `.name` property.

[2021-04-22 04:49] ikkoham commented on #6254
I thought this behavior is as expected. `~StateFn(operator) @ state` means Hilbert-Schmidt inner product <operator | "state">_HS = tr[operator^dagger |state><state|].

[2021-04-22 06:54] quantumjim commented on #6223
The `q` and `c` are n qubit quantum circuits, respectively.

This is not my own code, but a bug I was helping someone with in an upgrade. So it works on an old version of Qiskit, just not on more recent versions.

I see what you are saying about an error here being expected behaviour. If the circuit has never seen `q` or `c`, it shouldn't be expected to know what to do with them. Nevertheless, the

[2021-04-22 07:17] Cryoris commented on #6254
I don't think so, as far as I remember this is supposed to evaluate the expectation value of the operator as it is.

Since several expectation converters only support this representation of `~StateFn(op) @ state` it would be strange if that wouldn't be an ordinary expectation. I think e.g. VQE uses this representation, or the tutorials.

Maybe we should have an explicit state function for measurem

[2021-04-22 08:07] Zoufalc commented on #6254
If the `operator` is Hermitian then this is always fine since then `operator^dagger = operator`.  However, this is not true in general and then we need to be careful and ensure that
`<state | operator | state>  = tr[operator |state><state|]`.

[2021-04-22 09:23] javabster commented on #5931
Hi @john-judge are you still working on this? If you have any further questions let us know :)

[2021-04-22 10:12] ikkoham commented on #6254
Evaluation of the expectation value of the operator is given by Hilbert-Schmidt inner product. That is natural from the perspective of mathematics and this is used in PTM representation.
I know this representation is frequently used.

As @Zoufalc said, if the operator is Hermitian, there are no problem. For Non-Hermitian operator,
` <state | operator | state> =  tr[operator |state><state|] = <oper

[2021-04-22 10:29] ikkoham commented on #6254
The [opflow tutorial](https://qiskit.org/documentation/tutorials/operators/01_operator_flow.html) said

So this representation must be inner product.

[2021-04-22 10:44] 1ucian0 commented on #6264
Is this related to [`dynamic_reprate_enabled`](https://qiskit.org/documentation/stubs/qiskit.providers.models.BackendConfiguration.html) and [`rep_time`](https://qiskit.org/documentation/apidoc/execute.html)?

[2021-04-22 12:06] ikkoham opened #6285 "Add the parameter max_evals_grouped to gradient_wrapper"
### What is the expected enhancement?

Add the parameter `max_evals_grouped` to gradient_wrapper in GradientFramework.
`max_evals_grouped` is the parameter that VQE and QAOA have.  It will improve the performance of the gradient.

This is follow up of https://github.com/Qiskit/qiskit-terra/pull/6274#issuecomment-824534329.

[2021-04-22 12:12] taalexander commented on #5927
What do you mean @nkanazawa1989 ?

[2021-04-22 12:12] taalexander commented on #5927
I can reassign this to you if you still wish @Aku-Silvenius

[2021-04-22 12:26] Cryoris commented on #6254
For the case of the left operand being a `OperatorStateFn` we have a special case, see https://qiskit.org/documentation/tutorials/operators/01_operator_flow.html#OperatorStateFn.

[2021-04-22 12:35] rsln-s commented on #6264
I'm not familiar with these features, so I'm not sure. This enhancement request is about making it easier to stuff a bunch of circuits into one job. Currently, you can pass a list of circuits to `execute` (or `backend.run`), but it requires some hacking to retrieve the results of each specific part of the list, since all results get batched into one result object.

After opening the issue, I've fo

[2021-04-22 13:12] ShellyGarion commented on #6264
@rst - please note that ignis will eventually be replaced by Qiskit Experiments, written in a way that’s more modular and reusable for experimentalists, see the following blog:
https://www.ibm.com/blogs/research/2021/04/qiskit-application-modules/

In https://github.com/Qiskit/qiskit-experiments (still WIP) you would be able to perform batch experiments.
In addition, the plan is to move the `Mitig

[2021-04-22 14:35] Zoufalc commented on #6254
I think we need to be careful here since the Hilbert-Schmidt inner product is -as you say- defined as `<A|B>=Tr(A^*B)` but an expectation value w.r.t. a state `|s>` and observable `O` is given by `Tr(O)|s><s| = <s|O|s>`.

[2021-04-22 15:14] amilstead commented on #6280
@mtreinish Not sure if this is the right ticket or if you would prefer a new one, but another issue that has cropped out out of this exploration--

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/utils/run_circuits.py#L28 expects a `Job` to have the method `queue_position`, which appears to only exist on [the IBMQ provider](https://github.com/Qiskit-Partners/qiskit-ibm/blob/main/qiskit_ibm

[2021-04-22 15:20] javabster commented on #2307
As there are currently no other snapshot tests for counts (only circuits) I suggest creating a new file for count visualisation tests.

More specifically, I suggest the following steps for working on this issue:
1. Create new file `qiskit-terra/test/ipynb/mpl/test_counts_matplotlib_drawer.py`
2. Add new tests to this file (use `test_counts_matplotlib_drawer.py` as a guide)
3. Update `qiskit-terra/

[2021-04-22 15:21] javabster commented on #2307
@tgag17 are you still interested in working on this?

[2021-04-22 15:55] mtreinish commented on #6280
It's fine here, it's really the same bug and should be fixed as part of this too. It's basically the same bug, just in a different part of that code path. It's basically that QuantumInstance/run_circuits is hardcoded to assume it's either running with only aer, basicaer, or ibmq and doesn't take any other providers into account. That's why I labeled this as high priority because this basically pre

[2021-04-22 16:55] Cryoris commented on #6254
tl;dr: We should keep the current behavior but add a class `OperatorMeasurement` to explicitly do expectation values.

Ok so there's an abuse of notation we need to clear up. Here's what I think:

* The canonical way to write expectation values in Opflow is `OperatorMeasurement(operator) @ state`. I say canonical because expectation converters and gradients work only with that representation and n

[2021-04-22 21:00] TharrmashasthaPV opened #6290 "Inconsistency in drawing classical control in text drawer when cregbundle=False"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+b026000
- **Python version**: 3.7
- **Operating system**:

### What is the current behavior?

The classical control is currently drawn in text drawer as a box with control value inside it when cregbundle=False. This is inconsistent with the other drawers in which the same is drawn as bullets.

### Steps to reproduce the problem

We have the

[2021-04-22 21:21] enavarro51 commented on #6271
Thanks. PR at #6291.

[2021-04-22 21:28] #5951 closed

[2021-04-22 23:10] ikkoham commented on #6254
@Cryoris Thank you for your nice suggestion. I completely agree with your idea.

[2021-04-23 01:02] john-judge commented on #5931
@javabster I'm not actively working on this at the moment. I'm fine if anyone wants to jump in and finish this. Next step would be to write tests including for the `ParameterExpression` case to include in  a PR. If there are no takers I may pick this back up in about a month when I find some time.

[2021-04-23 08:32] 1ucian0 commented on #3201
Ping @yesodharan1892 . Any news?

[2021-04-23 11:15] javabster opened #6293 "Replace manual ipynb tests with automated tests"
### What is the expected enhancement?
[code]
These files appear to be manually testing a number of jupyter magic functions. Would be great if these manual tests could be replaced with automated ones. There some examples [here](https://medium.com/@davide.sarra/how-to-test-magics-in-ipython-extensions-86d99e5d6802) of testing iPython magic functions, although I'm not sure how to expand these for the

[2021-04-23 11:27] javabster commented on #5351
Hi @mtreinish, just to clarify, the steps for the coverage aspect would be as follows(?):
1. create a new file `.github/workflows/github-actions-demo.yml`
2. create a coverall github action similar to the retworkx example (do we also want to run the action only on push to main and pr to main?)
3. remove the `Python 3.6 Tests and Coverage Linux` job from `travis.yml`

[2021-04-23 11:53] mtreinish commented on #5351
You don't need step 1 and step 2 as separate things, they're basically the same thing. But yeah those are the basic steps, create a new github actions workflow file that contains a single job to run tests with coverage collection. We should run this on PR and on post-merge. The PR pre-merge runs let us look at coverage changes from the PR (to make it easier to check if there is inadequate coverage

[2021-04-23 15:59] jlapeyre commented on #6254
If we want to fix this, I think we should take the opportunity to make the design a bit simpler and more uniform. It may be possible to do this without too much disruption. I'd like to

* Separate the concepts of measurement and adjoint, which are currently confounded. We could do this by leaving the current design mostly intact, but adding a new way to represent what we have been calling "expecta

[2021-04-23 18:37] ewinston commented on #5950
@juanjosegarciaripoll  Has this issue been resolved? I don't see it on BasicAer as of `0.18.0.dev0+31a24c1`

[2021-04-23 18:48] ewinston commented on #3083
1ucian0 Has this been resolved? Your example seems to produce the correct response as of `0.18.0.dev0+31a24c1`

[2021-04-23 19:26] tgag17 commented on #2307
Hi! Yes, I would like to work on it. I am fairly new to unittests, so are there any pointers that I could follow?
Thanks!

[2021-04-23 19:51] mtreinish commented on #1163
So I took a look at doing this a while ago by changing the underlying `QuantumCircuit.data` to be `DAGCircuit` object. You can see the branch starting this here: https://github.com/mtreinish/qiskit-core/commit/ec83da0627d46aceaad06c2e980b078b707d2cd4 (never got it fully working though, but its mostly there). Doing this while maintaining backwards compatibility is quite tricky mainly because of dif

[2021-04-23 20:00] mtreinish commented on #1827
I'm closing this as out of date. The `submit()` method isn't needed and is duplicated with `run()`, it's slated to be removed in the next version of the abstract job interface (it was only left in `JobV1` for backwards compatibility with `BaseJob`)

[2021-04-23 20:00] #1827 closed

[2021-04-23 20:04] mtreinish commented on #1714
I'm closing this as fixed, with the backend's interface `BackendV1` this works as expected either with `backend.run()` or `execute`. Aer backends expose a `noise_model` option in their options attributes which can be set via a kwarg on run (or via `backend.set_options(noise_model=model)`, which adjusts the default value).

[2021-04-23 20:04] #1714 closed

[2021-04-23 20:10] mtreinish commented on #1912
Closing this as not relevant anymore. Most of the things listed here have already been done or aren't really relevant anymore. Especially a lot of the performance and optimization things were addressed by moving to retworkx andother tuning. If there are any outstanding things in the DAGCircuit api we need to cleanup we can open that in a separate issue

[2021-04-23 20:10] #1912 closed

[2021-04-23 20:11] 1ucian0 commented on #3083
Indeed, it seems fixed. Adding the test from #4036 in #6295 for closing the loop.

[2021-04-23 20:11] #3083 closed

[2021-04-23 20:18] mtreinish commented on #2483
I'm going to close this now, after a few false starts with different approaches, like #4767 which weren't tractable. We've started down the path for finally getting rid of a shared namespace in qiskit 0.25 by moving code from aqua into terra as `qiskit.algorithms` and `qiskit.opflow` and splitting applications out into separate packages with separate namespaces. This pattern will be replicated for

[2021-04-23 20:18] #2483 closed

[2021-04-23 20:23] mtreinish commented on #2612
I'm going to close this now that we've added an `approximation_degree` flag to `transpile()` which gets used by the unitary synthesis pass (see #5609 ). @ajavadia if there is still more to do here, please feel free to reopen it.

[2021-04-23 20:23] #2612 closed

[2021-04-23 20:26] mtreinish commented on #2900
I'm closing this as out of date since we removed the marshmallow based validation a long time ago and this doesn't really apply anymore (as it never really belonged in terra or the client code).

[2021-04-23 20:26] #2900 closed

[2021-04-23 20:29] mtreinish commented on #2022
I'm closing this as done because I believe this was already implemented in #3101. @nonhermitian please feel to reopen this if I'm mistaken and there is still something to do here.

[2021-04-23 20:29] #2022 closed

[2021-04-23 20:31] nonhermitian commented on #2022
Yes, I think I added that a while ago. Thanks for squishing these old issues.

[2021-04-23 20:32] mtreinish commented on #2707
I'm closing this as since the last release, 0.17.0, basicaer doesn't use an async future anymore and executes jobs synchronously. So a user who wants to run the job async will have to do this themselves (and therefore choose how they want to do that). But, please feel free to reopen this if there is more to discuss or do here.

[2021-04-23 20:32] #2707 closed

[2021-04-23 20:35] mtreinish commented on #2749
I think we can close this now, there is both a [pulse scheduler ](https://qiskit.org/documentation/stubs/qiskit.compiler.schedule.html#qiskit.compiler.schedule) and transpiler can create a scheduled now too (with the `scheduling_method` kwarg) which will let you get the runtime on the specified backend. Please feel free to reopen this if you think there is more to discuss or do on this issue.

[2021-04-23 20:35] #2749 closed

[2021-04-23 20:45] mtreinish commented on #3023
I don't think this has been true for sometime. We definitely install graphiz in CI and we even run the tutorials and jupyter executes using graph drawers based on graphviz (via retworkx and pydot) for docs builds. I also looked at a recent ci run and these tests are executing: https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=27042&view=logs&j=cd283863-fb6a-5830-043c-9c2ff8e5eadb

[2021-04-23 20:45] #3023 closed

[2021-04-23 20:47] mtreinish commented on #4693
I'm going to close this issue, with newer backends (based on the BackendV1 abstract interface) we've transitioned away from passing qobj's to backends, and the QuantumCircuit object is what is used everywhere (The provider/backend then controls the serialization format and submission to the backend). So I don't think there is anything here anymore. But please feel free to reopen this if there are

[2021-04-23 20:47] #4693 closed

[2021-04-23 21:02] mtreinish commented on #3793
@arunraja-hub  Sorry I missed your question until just now. I don't really have a good suggestion. The issue is that the `AerJob` class contains a `ThreadpoolExecutor` object that it wraps the actual simulation in (so it doesn't block while the simulation is running): https://github.com/Qiskit/qiskit-aer/blob/master/qiskit/providers/aer/aerjob.py#L79 This object is not pickleable (because it repre

[2021-04-23 21:02] #3793 closed

[2021-04-23 21:06] mtreinish commented on #3601
This has been fixed now. Since we moved to avoiding marshmallow/forcing serialization and using python objects for the back and forth between terra and backends, aer has been updated to just move the output into a numpy array and return that object in the results.

[2021-04-23 21:06] #3601 closed

[2021-04-23 21:11] mtreinish commented on #3338
Closing this as stale, we've removed marshmallow from terra (and client code so this no longer applies. Please feel free to reopen if I'm missing something or there is more to discuss on this.

[2021-04-23 21:11] #3338 closed

[2021-04-23 21:15] mtreinish commented on #3892
I'm closing this as implemented these tests exist in: https://github.com/Qiskit/qiskit-terra/blob/main/test/python/providers/test_fake_backends.py

[2021-04-23 21:15] #3892 closed

[2021-04-23 21:19] mtreinish commented on #4315
I think deprecating and renaming sounds fine. The AQT provider and any other ion trap providers can be updated to handle the serialization for their APIs (that's the role the providers serve). We'll just have to make sure to do that update after this is implemented.

[2021-04-23 21:36] kdk commented on #1163
The remaining benefit at this point I think would be mostly one of architecture and maintenance. There's a fair amount of overlap between the functional APIs of `QuantumCircuit` and `DAGCircuit` and the differences between them are no longer necessarily large enough to need two distinct classes (each with their own code, nomenclature, documentation, bugs, ...).

For the indexing issue, did you con

[2021-04-23 22:16] kdk commented on #6223
Agree, maybe something like `"CircuitError: Attempted to add an instruction ('measure') with a qarg ('qr[8]') not found in circuit qubits ('q[0]', 'q[1]', ...)"`?

[2021-04-23 22:48] kdk commented on #6257
You can specify the `routing_method='sabre'` and `layout_method='sabre'` as arguments to the `transpile` function to enable SABRE (independent of setting the `optimization_level`).

[2021-04-23 23:04] kdk commented on #6276
This looks like a nice enhancement (and may be made easier by #5205 ) though this is likely only practical at a small number of classical bits, so we would likely want to skip this behavior (or maybe set a `number_to_keep`) above a certain result size.

[2021-04-24 00:32] #6256 closed

[2021-04-24 01:15] ewinston commented on #5950
Closing this issue. If it still persists please feel free to reopen.

[2021-04-24 01:15] #5950 closed

[2021-04-24 05:55] #6029 closed

[2021-04-24 07:41] #6271 closed

[2021-04-24 10:49] #6257 closed

[2021-04-25 18:29] Aku-Silvenius commented on #5927
@taalexander please do reassign, happy to work on this. So my understanding is that the following is needed:

1. Getters for `Schedule` & `ScheduleBlock` objects for listing `Pulses`
2. Getter for an individual `Pulse`, by name

[2021-04-26 00:57] #5679 closed

[2021-04-26 00:57] #4542 closed

[2021-04-26 09:23] javabster commented on #2307
Great thanks @tgag17!

If you follow the steps I commented above that should give you a good outline of what to do, there are examples of snapshot tests  in `test_circuit_matplotlib_drawer.py` that you can use as reference. `test_circuit_matplotlib_drawer.py` is testing the functions in `qiskit/visualization/circuits_visualization.py`, but your file `test_counts_matplotlib_drawer.py` should test t

[2021-04-26 12:19] jaygambetta commented on #6267
I think this is going the wrong direction. Plot histogram should go towards a counts not probabilities and we should make a new plot for probabilities and we should all this. I would call it plot_quasi_probabilities and we could even overload it with taking in counts and it can normalize it so that it sums to one as well as a probabilities/quasi probability vector as you describe.

[2021-04-26 12:20] jaygambetta commented on #6268
see my comment on your other issue this should go into a new function for this type of visualizations.

[2021-04-26 13:14] Francesco-Benfenati commented on #6243
The same problem happens with AmplitudeEstimation too

[2021-04-26 14:23] taalexander commented on #5927
Thank you @Aku-Silvenius. 1., and 2. seem good. We will also need to verify the behavior of 2 when two pulses have the same name. If this is not already happening we should deduplicate pulses (modify the name of the pulse) if one exists with the same name when added to a schedule.

[2021-04-26 14:46] peendebak opened #6301 "Add functionality to retrieve index of qubit in a register"
### What is the expected enhancement?

When trying to find the index of a qubit in a register one used to be able to use the `index` of a Qubit. This is deprecated, but there is no good alternative. A minimal example
[code]
Suggested improvement: either add a `find_qubit` method to the register, or expose the `register._bits` through a public interface.

[2021-04-26 15:44] chriseclectic opened #6303 "Statevector and DensityMatrix expectation value ignores qargs for Pauli ops"
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**:
- **Operating system**:

### What is the current behavior?

The `expectation_value` method of `Statevector` and `DensityMatrix` returns the incorrect value for a Pauli or SparsePauliOp operator if non-trivial qargs are used.

### Steps to reproduce the problem

Compare the expectation value for a `Pauli` op to `Pauli.to_matr

[2021-04-26 16:43] amilstead commented on #6280
Looks like this is getting addressed in the PR, but dropping this here for posterity-- https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/utils/run_circuits.py#L309

[2021-04-26 20:47] woodsp-ibm opened #6305 "AQGD optimizer groups objective funtion calls by default"
Optimizers are normally expected to use the objective function to evaluate a single point being returned a single value. This is as per scipy optimizers, upon which several are based.

However it was recognized that optimizers computing gradient, say by finite diff, want to evaluate a set of points independently, to compute the gradient, and as such this was parallelizable which could help perform

[2021-04-27 07:20] incud opened #6306 "QFT matrix does not match with DFT matrix"
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**: 3.8.5
- **Operating system**: Windows 10

### What is the current behavior?

The unitary matrix of the `QFT` circuit does not match the DFT matrix definition. In particular, the imaginary part of the QFT matrix has its sign flipped.

### Steps to reproduce the problem

[code]

The matrices have values:

[code]

### What is t

[2021-04-27 08:42] incud commented on #6306
The correct explanation can be found here: [https://quantumcomputing.stackexchange.com/questions/17259/qiskit-qft-matrix-does-not-match-with-dft-matrix](https://quantumcomputing.stackexchange.com/questions/17259/qiskit-qft-matrix-does-not-match-with-dft-matrix)

[2021-04-27 08:42] #6306 closed

[2021-04-27 09:26] javabster commented on #3485
Hi @vishalg2235 are you still working on this? Let us know if you have any further questions 😄

[2021-04-27 12:52] Cryoris opened #6307 "PauliExpectation is inconsistent for non-hermitian operators"
### Information

- **Qiskit Terra version**: main @ 2fd1531bd16c415cbb8b10dcf839ddec101de57a
- **Python version**: 3.7.9
- **Operating system**: macOS BigSur

### What is the current behavior?

As found by @Zoufalc, if the operator is an expectation value is non-hermitian, evaluating it with `PauliExpectation` yields different results (namely the conjugated result) than all other expectation conve

[2021-04-27 14:19] enavarro51 commented on #6085
@kdk @ashsaki Is anybody working on this?

[2021-04-27 15:15] kUmezawa opened #6308 "When drawing the pulse using Schedule's draw function, the pulse is not displayed from 0s."
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**:3.8.8
- **Operating system**:Ubuntu 20.04.1 LTS

### What is the current behavior?
You create a Schedule by defining the set_frequency function before the align_sequential function in the Builder syntax. After that, when drawing the pulse using Schedule's draw function, the pulse is not displayed from 0s.

![problem](https://

[2021-04-27 15:24] vishalg2235 commented on #3485
Yes @javabster I was hoping for a better explanation. I will look deeply into this again and comment here all my doubts shortly.

[2021-04-27 16:59] ashsaki commented on #6085
I am not working on this. I can fork and create a pull request with the proposed solution - 1.

[2021-04-27 17:34] enavarro51 commented on #6085
Sounds good. I ran some simple benchmarks on my local system.
- Over multiple runs, I got an average depth of 613 and an average time of 24s using main. Making your solution-1 above I got an average depth of 136 in a time of 8s. That's a pretty significant improvement.
- I also remembered seeing #6122. I ran that circuit and though the output varies, I found that without the change, the transpiler

[2021-04-27 18:53] satvikmaurya opened #6311 "(Incorrect) decomposition of a conditional Z-gate after a transpiler pass"
### Information

- **Qiskit Terra version**:0.17.0
- **Python version**:3.8.5
- **Operating system**:Windows

### What is the current behavior?
A Z conditional gate results in a weird decomposition consisting of Rz and SX gates after a transpiler pass with basis gates from the mock IBM Paris gate set (image attached). The decomposition of an unconditional Z gate with the same basis gates yields a

[2021-04-27 21:05] nonhermitian opened #6313 "Nothing below circuits, counts, and visualizations should know about registers"
### What is the expected enhancement?
When working with circuit data it is always the case where something works for flat registers, but then requires a huge amount of effort to code for the myriad of possibilities of quantum and classical register partitioning of the circuit's qubits and classical bits, respectively.  Despite not playing any role in an actual computation, registers are hard-coded

[2021-04-27 21:49] #6193 closed

[2021-04-28 01:19] ibmamnt opened #6314 "AmplificationProblem is_good_state expect MSB bit string while PhaseOracle's evaluate_bitstring evaluate LSB string"
### Information

- **Qiskit Terra version**:  0.17.1
- **Python version**:  3.9.2
- **Operating system**: macOS Big Sur Version 11.2.3

### What is the current behavior?
AmplificationProblem is_good_state expect MSB bit string while PhaseOracle's 'evaluate_bitstring' function evaluate LSB string. For example, if we use the following logical expression:

  'x1 & x2 & (not x3)'

evaluate_bitstring('

[2021-04-28 09:45] nonhermitian commented on #6268
Closing in favor of a different route

[2021-04-28 09:45] #6268 closed

[2021-04-28 09:45] nonhermitian commented on #6267
Closing in favor of a different route.

[2021-04-28 09:45] #6267 closed

[2021-04-28 11:47] ShellyGarion opened #6320 "Terra's statevector class gives different probabilities than Aer's simulators"
### Information

- **Qiskit Terra version**: qiskit 0.25.1
- **Python version**:
- **Operating system**:

### What is the current behavior?

Terra's `Statevector` class gives different probabilities than Aer's simulators, when the qubits are not ordered.

### Steps to reproduce the problem

[code]

The output is:

[code]

### What is the expected behavior?

Terra's `Statevector` class should give

[2021-04-28 12:40] eggerdj opened #6321 "Schedule Call inlining has a bug"
### Information

- **Qiskit Terra version**: commit 3c979ebdacecbbd213757a8149bddc309bfa58c0
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 20.04

### What is the current behavior?

Inlining the call instructions of a schedule does not remove all call instructions.

### Steps to reproduce the problem

The following code should reproduce this behavior:
[code]

The output is
[code]

###

[2021-04-28 16:26] eggerdj opened #6323 "Cannot create a schedule with a parameterized duration"
### Information

- **Qiskit Terra version**: commit 3c979ebdacecbbd213757a8149bddc309bfa58c0
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 20.04

### What is the current behavior?

Cannot create a schedule with parameterized durations.

### Steps to reproduce the problem
The following fails
[code]

### What is the expected behavior?

The code above should work.

### Suggested solution

[2021-04-29 08:30] eggerdj opened #6326 "Make control channels in backend configuration public"
### What is the expected enhancement?

The following variable is private

[code]

Having it public will make dealing with calibrations easier. See here: https://github.com/Qiskit/qiskit-experiments/pull/26#discussion_r622430294

[2021-04-29 10:46] #6303 closed

[2021-04-29 14:34] Mvfitzpatrick opened #6330 "Parallel circuit averaging"
### What is the expected behavior?
When running circuits involving a subset of the total number of qubits on a given backend, it would be nice to have the ability to run the same circuit on multiple subsets of qubits so that you can get additional shots for the same amount of runtime. I imagine that you could enable the compiler to find how to take the same circuit and map it to different sections

[2021-04-29 15:30] #6320 closed

[2021-04-29 18:41] alessandrofarace opened #6332 "Tutorial "machine-learning-qiskit-pytorch" not working with more recent version of qiskit"
### Information

- **Qiskit Terra version**: {'qiskit-terra': '0.17.1', 'qiskit-aer': '0.8.1', 'qiskit-ignis': '0.6.0', 'qiskit-ibmq-provider': '0.12.3', 'qiskit-aqua': None, 'qiskit': '0.25.2', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is the current behavior?

[2021-04-29 20:41] wagnersj opened #6333 "Missing tweedledum as required package"
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**: 3.8.8
- **Operating system**: linux

### What is the current behavior?
`qiskit.circuit.classicalfunction.BooleanExpression` fails with message that the `tweedledum` library is required. However, `tweedledum` is not listed a requirement for the `qiskit-terra` package.

### Steps to reproduce the problem
Use API's that instant

[2021-04-29 20:53] mtreinish commented on #6333
Tweedledum is an optional dependency, mostly because it hasn't fully stabilized the python api yet and also because there are some packaging issues for some of our supported platforms. However, it is correctly listed in the setup.py:

https://github.com/Qiskit/qiskit-terra/blob/main/setup.py#L108

which enables you to install terra with tweedledum using:

[code]

This is also documented, albeit no

[2021-04-30 02:30] a-matsuo commented on #6314
Hello @1ucian0 @boschmitt,
It seems x_0 is mapped to q_0 in `PhaseOracle`. Is my understanding correct? If so, `Grover` needs to reverse the bit ordering for `is_good_state()`.
![image](https://user-images.githubusercontent.com/47442626/116640745-35f75900-a9a6-11eb-8811-d705812a5d59.png)

[2021-04-30 06:18] #6323 closed

[2021-04-30 08:41] boschmitt commented on #6314
I don't think this will be a good way of solving this. Actually, given the current behaviour of `PhaseOracle`, the existence of this function is weird. You see, `PhaseOracle` treats `x1 & x2 & (not x3)` as Boolean function with three inputs of size 1, which is different from what you might be expecting, i.e., a Boolean function with one input of size 3. Thus, to be consistent, `evaluate_bitstring(

[2021-04-30 09:30] a-matsuo commented on #6314
I like keeping the argument of `good_state()` a bit string and keep it simple.

Do you mean it will mapped like this, x1[0] -> q[1], x1[1] -> q[0], x2[0] -> q[2]? It's confusing can't we handle it more straightforward way like x1[0]->q[0], x1[1] -> q[1], and so on.
(inside brackets is an index in my example)

[2021-04-30 10:20] eggerdj commented on #6326
Closed by https://github.com/Qiskit/qiskit-terra/pull/6327

[2021-04-30 10:20] #6326 closed

[2021-04-30 10:23] eggerdj opened #6334 "Cannot use FakeArmonk for testing"
### Information

- **Qiskit Terra version**: 3b86cda6923809067588a706fda7a411e8c05264
- **Python version**: 3.8.5
- **Operating system**: Ubuntu

### What is the current behavior?

Cannot use FakeArmonk.

### Steps to reproduce the problem

This code

[code]
fails with
[code]

### What is the expected behavior?

The code above should not fail.

### Suggested solutions

None as of yet.

[2021-04-30 10:33] mtreinish commented on #6334
Which version of Qiskit Aer do you have installed? The recent change to the fake backends that was done to ensure we're testing the latest backend interface requires that aer >=0.8 is installed(since that was when it introduced started using the latest interface.

[2021-04-30 10:37] #6334 closed

[2021-04-30 11:08] boschmitt commented on #6314
I believe we meant the same thing. Let's say we have the function `f(x1, x2, x3)` where:
[code]
Since the simulator doesn't care about the mapping between variables' bits and qubits, it returns the result as a bit string:
[code]
If `Grover` wants to check for correctness, it needs to take this bit string and create the appropriate input to evaluate function. That is, let's say `Grover` gets the re

[2021-04-30 11:52] Atri22 commented on #6101
@1ucian0 sir recently when I try to run the program in my terminal certain issues pop up.Are they due to any recent changes in the program? How to handle them?
![Screenshot from 2021-04-30 16-59-24](https://user-images.githubusercontent.com/72877136/116691566-969f8980-a9d8-11eb-8b60-c7e89855b195.png)

[2021-04-30 12:21] Durd3nT opened #6336 "Converting QFI with PauliExpectation yields unphysical QFI"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+98130dd
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur 11.3

### What is the current behavior?
Evaluating the Quantum Fisher Information (QFI) of a parameterized circuit and subsequently converting it with `PauliExpectation` can yield a different and wrong QFI compared to evaluation without `PauliExpectation`. Specifically

[2021-05-01 11:32] Arihant-Joshi commented on #6140
@kdk this PR is done with all checks passed. I've also added some error handling and warnings in case of different bloch[] list size, since this seems to be a user facing function.
@nkanazawa1989 @nonhermitian

[2021-05-01 14:59] Cryoris commented on #6314
We need to keep in mind that Grover's `is_good_state` is used to determine if a circuit measurement outcome is a good state or not. Since the measurements are given as strings, `is_good_state` must work on strings 🙂

[2021-05-01 18:31] MR-Asif12116135 commented on #6101
hi. is the issue already fixed... otherwise I would love to work on that

[2021-05-01 18:40] MR-Asif12116135 commented on #5819
I am interested to work on that.

[2021-05-01 21:44] Cryoris commented on #5819
Doesn't `append` require to provide the qargs? To not provide them, `compose` should be used. So I think this should raise an error if no qargs are specified 🙂

[2021-05-02 14:45] #6307 closed

[2021-05-02 19:56] peendebak opened #6342 "Create representation methods for qiskit classes"
### What is the expected enhancement?

Create representation methods in jupyter notebook for several common objects such as the `qiskit.result.result.Result`,  `Backend`, `BackendStatus` (there are many more).

An example for the `BackendStatus` is (see #6341):

![image](https://user-images.githubusercontent.com/17724047/116825830-36077c80-ab91-11eb-91ab-14f83621f32c.png)

[2021-05-03 08:03] Cryoris commented on #6336
I obtain the same problem with `AerPauliExpectation`, I presume this is coming from somewhere in the QFI implementation.

[2021-05-03 08:38] peendebak commented on #6333
@mtreinish I get a similar error message when running tests locally with the command `tox --epy37`. I can install `tweedledum` locally, but that doesn't solve the error message inside the `tox` environment.

[2021-05-03 17:12] #6280 closed

[2021-05-03 20:26] peendebak commented on #6012
@taalexander The discussion above did not reach a conclusion yet. Although the various options for scaling and plotting could help, we feel that we really should define our pulses in the coordinate frame that is natural for us.

We decided on subclassing the pulses, e.g.
[code]
That works well, except for one other location where we encountered the hard-coded limit:

https://github.com/Qiskit/qisk

[2021-05-03 20:39] teaguetomesh opened #6346 "QuantumCircuit has no attribute 'save_statevector'"
### Information

- **Qiskit Terra version**: 0.17.1
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur 11.3

### What is the current behavior?

Unable to apply the `save_statevector` instruction to a newly created QuantumCircuit. Doing so throws an error: `AttributeError: 'QuantumCircuit' object has no attribute 'save_statevector'`

However, if I first simulate a circuit *without* t

[2021-05-03 21:14] enavarro51 opened #6347 "mpl circuit drawer requires excessive load time"
### Information

- **Qiskit Terra version**: Main
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is the current behavior?

When a text width calculation method was first added to the mpl circuit drawer, the method was called whenever it was needed. This has caused excessive load times due to repetitive method calls for medium to large circuits (100-1000+ gates), especially for

[2021-05-04 07:21] nonhermitian commented on #6346
Yes this is confusing as these are `Aer` instructions that are added to the `QuantumCircuit` class when `Aer` is imported, but show up under docs as being part of the main `QuantumCircuit` API, i.e. it shows up under Terra docs:

https://qiskit.org/documentation/stubs/qiskit.circuit.QuantumCircuit.html#qiskit.circuit.QuantumCircuit.save_statevector

[2021-05-04 07:27] yaelbh commented on #6346
Just importing Aer does not load the instructions. You need to explicitly call `Aer.get_backend(...)` for them to be available.

[2021-05-04 07:35] nonhermitian commented on #6346
Either way, it is confusing as they appear as native methods of `QuantumCircuit` in the documentation.

[2021-05-04 08:28] Cryoris commented on #6336
I calculated the QFI of one example by hand so we can better compare the problems. This is the circuit I used
[code]

and here are the results
[code]
Note that the result with the PauliExpectation seems to disregard the coefficient 0.5 that we get from deriving `RX(0.5 * theta)`. Similarly, AerPauliExpectation disregards that factor but on top has an additional factor of 4.

[2021-05-04 09:00] frankharkins commented on #6068
All the methods that add gates / operations (e.g. `.cx()`) are in-place. I can foresee confusion over `.measure()` being in-place while `.measure_all()` is not.

[2021-05-04 09:15] javabster commented on #6101
Hi @Atri22 it's difficult to tell what the issue is from this screenshot, I would recommend double checking you've installed qiskit from source correctly (instructions [here](https://qiskit.org/documentation/contributing_to_qiskit.html#installing-terra-from-source) and that you've pulled the latest version of main.

[2021-05-04 09:17] javabster commented on #6101
Hi @MR-Asif12116135 this issue is already assigned to @Atri22, so feel free to take a look at some of the other issues that are tagged as 'good first issues', there are a few that are not assigned to anyone yet 😄

[2021-05-04 11:52] mtreinish commented on #6333
Did you have an existing tox venv created? If you did and it had an old version of tweedledum installed tox may not have pulled in the new requirement on subsequent runs and updated the venv. (this was a longstanding bug in tox with requirements files that I learned recently has been fixed and will be included in the upcoming tox 4.0 release). You can try rebuilding the venv with `tox -epy37 -r` w

[2021-05-04 12:51] taalexander commented on #6012
Hi, @peendebak I believe this is an acceptable solution. My apologies for the delay in my response, my focus has been lower in the software stack recently.

Completely agree, please see #5977 where we're starting to put some of this machinery in place.

[2021-05-04 14:38] Cryoris commented on #6147
@jaygambetta we discussed this internally again and came to the conclusion that instead of wrapping upon composition we should wrap all library circuits directly. The reason being: If we want to be able to choose the implementation of a library circuit at compile-time, the library circuits must be opaque blocks from the beginning. And if we wrap the library circuits per default, compose doesn't ne

[2021-05-04 14:39] mtreinish commented on #6085
Is there any update on this? I was hoping to get this bugfix backported and included in the pending 0.17.2 bugfix release (which will be released today or tomorrow, which would require a PR opened ASAP)

[2021-05-04 14:47] #6321 closed

[2021-05-04 16:31] ashsaki commented on #6085
@mtreinish @enavarro51 I have created the pull request. (This is my first PR with Qiskit. Please check if anything is missing).

[2021-05-04 16:38] mtreinish commented on #6085
@ashsaki awesome, I just reviewed the PR and it lgtm. Thanks for pushing it up.

@enavarro51 the PR doesn't include explicit test coverage for this issue, which given the time crunch for the 0.17.2 I think is ok (just so we can have the fix backported in time). If you wanted to push a follow up PR adding test cases based on the example here and in #6122  that would be great.

[2021-05-04 16:47] nonhermitian opened #6351 "Documentation module rendering errors"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?

The Terra docs have modules that do not render well in the docs, e.g. duplications, names not explicit ("submodules") etc...

<img width="283" alt="Screen Shot 2021-05-04 at 12 45 57" src="https://user-images.githubusercontent.com/1249193/117039479-d1eed080-acd6-11e

[2021-05-04 17:39] dhruvbhq opened #6352 "Incorrect documentation for CSWAP gate"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-05-04 17:51] #6278 closed

[2021-05-04 18:43] WiFisunset commented on #6346
@nonhermitian I agree. There are 2 solutions I can think of.

The first would be to change documentation to suggest calling the simulator first.

The second, would be to change qc.save_unitary() to simulator.save_unitary().

Would moving save_unitary() and other save states to the Simulator class raise any issues is the question (I'll take a look at the code later when I can get to it).

[2021-05-04 19:02] peendebak commented on #6333
@mtreinish I did rebuild with the `-r` option and the problem remained. But I cannot reproduce this now (tests work locally at the moment), so I am not sure what happened.

[2021-05-04 19:32] #6127 closed

[2021-05-04 21:48] #6085 closed

[2021-05-05 03:05] hizqial commented on #6352
I will fix the typos, unless someone else has already been assigned to this.

[2021-05-05 03:23] hizqial commented on #6352
I am not sure how to update the second typo in the [qiskit.circuit.library](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/library/__init__.py) file.

[2021-05-05 05:21] yaelbh commented on #6346
The solution is to change Terra code such that `qc.save_unitary()` is possible anytime, regardless of whether the simulator was called.  An error will be invoked if one tries to run or transpile the circuit with a backend that doesn't support the `save_unitary` instruction.

[2021-05-05 09:42] WiFisunset commented on #6346
@yaelbh I took a look at the Aer instructions library (https://qiskit.org/documentation/apidoc/aer_library.html) and the documentation everywhere is saying that a simulator call needs to be made.

So save_unitary() is completely dependent on a simulator being called, as is the same for save statevector and etc. Which makes me think any fix to where we don't have to call a simulator to use save_uni

[2021-05-05 09:58] yaelbh commented on #6346
Could you please refer more specifically where in https://qiskit.org/documentation/apidoc/aer_library.html it says that a simulator call is required?  I see that it says that Aer needs to be imported, but in practice we see that merely `from qiskit import Aer` is not enough.

[2021-05-05 10:07] WiFisunset commented on #6346
Sure thing. I took a screenshot of the save state description. Specifically the line "can be used to save the state of the Simulator".

![Screenshot_20210505-030524](https://user-images.githubusercontent.com/33338744/117125840-e8387300-ad4e-11eb-99c1-67a771fc7c94.jpg)

[2021-05-05 10:14] WiFisunset commented on #6346
@yaelbh also more specifically, if a simulator call didn't need to be made, then "pershot" wouldn't be a parameter for save_unitary()

![Screenshot_20210505-031137~2](https://user-images.githubusercontent.com/33338744/117126640-e28f5d00-ad4f-11eb-9e84-f1650336c485.jpg)

[2021-05-05 10:28] yaelbh commented on #6346
I don't see how the line "can be used to save the state of the Simulator" implies that the code crashes if `Aer.get_backend(...)` is not called first. All these marked line only say that these instructions belong to the simulator. They don't say that a certain command line or simulation execution is required first.

[2021-05-05 10:31] yaelbh commented on #6346
Same for `pershot`: yes, everything is related to the simulator only. Still there is no reason not to be able to build a circuit with these instructions, especially if Aer was imported. A call to `get_backend` is not a declaration "Attention! We are using a simulator, allow simulator instructions from now on!".

[2021-05-05 10:54] WiFisunset commented on #6346
@yaelbh I see what you mean, but Python as a language is line-by-line execution. So if the line save_unitary(pershot=True) were called, then Python is expecting a simulator when executing that line.

So when 'get_backend' is called before the save state, python knows what to execute pershot due to 'get_backend' being executed previously. That may be the issue (the way python executes the code).

!

[2021-05-05 10:56] mtreinish commented on #6346
I disagree with this, the semantics of the save state instructions are very specific to aer, and don't apply to simulators more broadly (as they all work differently). Instructions do not need to live in terra, unless we want them to be a common interface for everything.

As for the import error I think the point of confusion is that:

[code]

does not actually import qiskit-aer the package which

[2021-05-05 15:20] yaelbh commented on #6346
@mtreinish I agree that the fix for now is to document the need to import `qiskit.providers.aer`. Still in the long term we should further fix `get_backend`. This is a query, and as such, according to the command-query separation principle, should not do anything but returning the backend. It is allowed, internally, to perform lazy evaluations, as long as they are not exposed to the user, which is

[2021-05-05 16:34] MR-Asif12116135 commented on #6347
i am interested to work on this issue.

[2021-05-05 19:21] dhruvbhq opened #6364 "Figure of large circuit with initialize gives an error on rendering with Matplotlib backend"
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**: 3.8.8
- **Operating system**: Windows 8.1 (Although I am working in the IBM Quantum Lab environment)

### What is the current behavior?
I am trying to initialize a quantum circuit and draw the circuit using the Matplotlib backend:
`size = 4`
`q = QuantumRegister(size, name='q')`
`ckt = QuantumCircuit(q, name='ckt')`
`initial

[2021-05-05 19:22] dhruvbhq commented on #6364
If you think this is a good issue, I would like to try the fix.

[2021-05-05 19:45] 1ucian0 commented on #6352
You already fix it :) Both places are generated by the same string that you just modified. You can see the results by downloading the artifact https://dev.azure.com/qiskit-ci/b6f351e4-6a09-4bf6-b029-4b7806a7bde7/_apis/build/builds/27404/artifacts?artifactName=html_docs&api-version=6.0&%24format=zip

[2021-05-05 21:32] WiFisunset commented on #6346
I ran the code as intended, but this time imported via (from qiskit.providers.aer import Aer), and the code works. I'll update my pull request to reflect that in fix https://github.com/Qiskit/qiskit-tutorials/pull/1176.

![qiskit poviders aer fix](https://user-images.githubusercontent.com/33338744/117210987-4ac05c00-adad-11eb-92dd-1c1d2a062bbb.PNG)

@yaelbh I've been thinking about the issue you'r

[2021-05-05 22:51] #6250 closed

[2021-05-06 00:55] hizqial commented on #6352
Thank you @1ucian0. I updated the file with the comment by @ewinston

[2021-05-06 01:40] ocareyde commented on #5711
Is anyone currently working on this? If not, I'd like to give it a shot.

I went through @molar-volume's comments as well as the code. Here is an outline of how I would tackle the problem:

- Starting from the `CircuitOp` class, I see the primitive is a `QuantumCircuit` class and the `to_instruction` method returns `self.primitive.to_instruction()`
- In the `PauliOp` class, I see the primitive is

[2021-05-06 09:36] #5829 closed

[2021-05-06 13:01] peendebak opened #6367 "Plotting a circuit with matplotlib interferes with global figure"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+98b4a1f
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is the current behavior?

Plotting a circuit diagram with matplotlib resizes the figure window

### Steps to reproduce the problem

Here is a minimal example. We create a matplotlib window with a specified size and layout and we require qiskit to draw into the spe

[2021-05-06 14:31] ewinston commented on #6311
I confirmed this behavior with terra 0.17.0. This appears to produce the expected decomposition in the current version of terra (0.18.0.dev0+2eee566).

![image](https://user-images.githubusercontent.com/25756217/117315887-1a80c800-ae56-11eb-8152-2822db8e228e.png)

[2021-05-06 14:31] #6311 closed

[2021-05-06 14:40] enavarro51 commented on #6364
This definitely should be fixed. We had a similar problem in the latex drawer and just limited the number of parameters it would display and then put '...' at the end. In the mpl drawer, there's a lot more room to display so I'd suggest the following.

The default fold number for the drawer is 25. This is essentially how many X gates would display on a qubit before wrapping to a new row of qubits.

[2021-05-06 16:10] jorconnor commented on #6105
@levbishop I'm new and looking to try something on the easier side to learn about the code base. Was wondering if I could take this ticket?  I have a decent amount of experience in python testing automation so this up my ally.

[2021-05-06 21:16] TharrmashasthaPV opened #6371 "Testing Latex drawer using binder"
### What is the expected enhancement?

This is a follow on of PR #4544 . #4544 adds testing of MPL drawer using notebook in binder. As suggested in that PR, a similar form of testing is needed in order to improve the latex drawer testing.

[2021-05-07 02:15] liebreiz opened #6372 "qiskit.execute(...) can not bind parameters"
qiskit versions have issues: 0.25.1, 0.25.4

qiskit.execute(..., parameter_bind=[param_dict])    # #param_dict: a python dictionary

got error message:
...
  File "/home/kfq/.local/lib/python3.8/site-packages/qiskit/providers/aer/backends/aerbackend.py", line 156, in run
    qobj = assemble(circuits, self)
  File "/home/kfq/.local/lib/python3.8/site-packages/qiskit/compiler/assembler.py", line 150

[2021-05-07 03:54] abzsd commented on #2306
can I work on this? This is my first issue.

[2021-05-07 14:43] Salah856 opened #6375 "init request"
### What is the expected enhancement?

[2021-05-07 14:43] #6375 closed

[2021-05-07 18:08] eendebakpt opened #6376 "ParameterExpression does not support comparison operators"
### Information

- **Qiskit Terra version**: 0.18.0.dev0+b69727a
- **Python version**: 3.8
- **Operating system**: Window 10

### What is the current behavior?

The `ParameterExpression` cannot be compared to other expressions or numbers.

### Steps to reproduce the problem

A minimal example:
[code]

### What is the expected behavior?

The `ParameterExpression` should be able to compare to number

[2021-05-08 19:12] enavarro51 commented on #6367
@peendebak This is what I get when making the change to use the 'ax' that's passed in.
[4. 6.]
![image](https://user-images.githubusercontent.com/16268251/117502986-2db69500-af35-11eb-8567-c11c621e496d.png)
[4. 6.]

The reason the circuit looks bad is that the fonts don't scale with the image. This is something I noticed some time ago when trying to use the 'figwidth' style parameter and actually

[2021-05-09 16:48] amitracal commented on #6079
Is this moving file from one folder to another ?

[2021-05-09 19:11] 1ucian0 opened #6378 "why is qiskit_backend_overview a magic instead of a function/method?"
Having `qiskit_backend_overview` as a `qiskit.tools.jupyter` magic is not ideal. It creates unintuitive situations. For example, `from qiskit.tools.jupyter import qiskit_backend_overview` does not work. And `%qiskit_backend_overview` fails if no `load_account()` was not executed yet.

I suggest to make `qiskit_backend_overview` a method in the provider or just a standalone function.

Or is there a

[2021-05-09 22:34] nonhermitian commented on #6378
I would just deprecate it and remove. It is legacy code that has been replaced by other tools in the IBM Cloud.

[2021-05-10 10:56] Cryoris opened #6380 "Make ``VQE`` stateless"
### Summary

Make the `VQE` algorithm stateless.

### What is the expected enhancement

All our algorithms are stateless, i.e. they don't store/depend on previous executions. The `VQE` still has methods that allow access to the last solved system, which should be strictly left to the results object. Furthermore the computation depends on an internal state being set, which should be changed to a pr

[2021-05-10 10:56] Cryoris opened #6381 "VQE and Optimizer refactoring"
### Summary

Refactor the VQE and the Optimizers according to [the design doc](https://gist.github.com/Cryoris/da034f29d76ced79f3f3e9d3d9e0af6c).

### Details

This refactor entails at least
- [x] Making VQE stateless (#6380)
- [x] Refactoring the Optimizer interface to use `minimize` (#6382)
- [x] Allowing callables as optimizers in VQE (#6383)

And optionally
- [x] Use parameter order of circuit

[2021-05-10 11:03] Cryoris opened #6382 "Refactor the `Optimizer` interface"
### What is the expected enhancement?

Mimic the common structure of minimization routines (like SciPy or scikit-quant) and change the "main" method of `Optimizer.optimize` to
[code]
This also makes clear that our optimizers _minimize_ something instead of just saying they _optimize_.

Since we don't use the same function name as before we can gracefully deprecate the old "main" method.

[2021-05-10 11:06] Cryoris opened #6383 "Allow callables as optimizers in ``VQE``"
### What is the expected enhancement

After #6382, allow callables with the same signature as `Optimizer.minimize` as `optimizer` in the VQE. This allows a much more flexible usage of the algorithm and get's rid of the overhead of implementing a new class each time users want to try their/other optimizers we don't yet have implemented.

[2021-05-10 11:09] Cryoris opened #6384 "Remove or reduce ``VariationalAlgorithm``"
### What is the expected enhancement

Remove the ``VariationalAlgorithm`` base class, since it's not used anywhere but ``VQE``. If we realize that it's needed for typing (see in Qiskit Nature, which currently accesses ``VariationalAlgorithm.initial_point``), reduce it to an interface and not a base-class with functionality.

[2021-05-10 11:11] Cryoris opened #6385 "Enable serialization of Optimizers"
### What is the expected enhancement?

Enable serialization and de-serialization of the `Optimizer`s such that they can be sent to Qiskit Runtime as algorithm settings. This is easily done by adding `to_dict` and `from_dict` methods and agree on a common structure, such as
[code]

It's probably best to wait after #6319 is merged and then add it to the `SciPyMinimizer` base class.

[2021-05-10 17:41] ewinston commented on #6376
There is a pr for this #5278

[2021-05-11 00:00] jlapeyre opened #6394 "Use more efficient matrix inner product in `SparsePauliOp`"
A matrix inner product is computed like this:
https://github.com/Qiskit/qiskit-terra/blob/a9571724e5d15073a82fd2f65742313dc38f32c3/qiskit/quantum_info/operators/symplectic/sparse_pauli_op.py#L375

There are more efficient ways to do this. I tested several options. Which is best varies depending on factors such as the size of the matrix, and number of cores available. But, in all cases the current

[2021-05-11 13:46] jlapeyre commented on #6394
Here is an example of applying the proposed change. I replace the line in question with
[code]
Then define
[code]
And run
[code]
I get an improvement:
|n  | old time | new time|
|---|-----------|-----------|
| 3 | 1.43 ms| 1.43 ms|
|4 | 28 ms | 28 ms|
|6  | 1.07 s   | 850 ms|
|7  | 15.7 s | 5.9 s|

* Note that `einsum` is better for larger matrices and `vec`, `vec1` (defined above) are better for

[2021-05-11 15:24] oliverdial opened #6395 "GaussianSquare pulse is parameterized oddly"
### What is the expected enhancement?

Just looking at the parameterization of GaussianSquare in qiskit pulse (https://qiskit.org/documentation/stubs/qiskit.pulse.GaussianSquare.html) — it seems to make the “natural” thing to do when sweeping the duration to leave the width of the square top part constant and vary the width of the rise/fall..

A user might reasonably expect the width of the top pa

[2021-05-11 18:06] roshanrajeev opened #6397 "Title overlaps in plot_bloch_multivector"
### Information

- **Qiskit Terra version**: 0.17.3
- **Python version**: 3.9
- **Operating system**: Ubuntu

### What is the current behavior?
Title overlaps the Bloch sphere in single-qubit system when plotted using `plot_bloch_multivector`. But no issues with multi-qubit systems.
![Desktop - 3](https://user-images.githubusercontent.com/52269241/117862781-ac526000-b2b0-11eb-8048-a3a9d9d886f5.png

[2021-05-11 20:14] aeddins-ibm opened #6398 "Wrong ordering convention in opflow tensor docs?"
### Information

- **Qiskit Terra version**:  0.17.2
- **Python version**: 3.9
- **Operating system**: Mac

### What is the current behavior?

The [docstring for OperatorBase.tensor](https://qiskit.org/documentation/_modules/qiskit/opflow/operator_base.html#OperatorBase.tensor), which is repeated for e.g. PauliOp.tensor, has this explanation of ordering:

But when I try to verify this behavior, th

[2021-05-11 23:07] ajavadia commented on #5241
I think the code here already landed on master. Thanks @aeddins-ibm and @enavarro51

[2021-05-11 23:07] #5241 closed

[2021-05-12 01:35] riddhisw opened #6400 "CircuitStateFn in opflow could be extended to support quantum circuits with classical registers"
### What is the expected enhancement?
We wish to be able to use `qiskit.algorithms`  (specifically, `VQE`) on quantum circuits  associated with classical registers. Currently, `qiskit.opflow.state_fns.circuit_state_fn`   raises a TypeError rejecting any  circuit with classical bits:
[code]
For instance, this TypeError is raised when `vqe.construct_expectation() ` method wants  to run the line `ans

[2021-05-12 01:56] t-imamichi opened #6401 "`from qiskit.providers.ibmq import least_busy` raises an ImportError with Terra's main branch"
### Information

- **Qiskit Terra version**: latest(main)
- **Python version**: 3.8.10
- **Operating system**: macOS 11.3.1
- qiskit-ibmq-provider: 0.13.1

### What is the current behavior?

`from qiskit.providers.ibmq import least_busy` raises an ImportError with the main branch.
Terra's released version does not have this issue.
CI tutorial step may stop by this issue.

### Steps to reproduce th

[2021-05-12 02:12] mtreinish commented on #6401
This will be fixed by https://github.com/Qiskit/qiskit-terra/pull/6377 we had to rush in a version of this on 0.17.x  for the ntc/runtime announcement earlier today, but the version on master will be expanded with the normal api stability guarantees with that pr. Honestly, thought this feels like a provider bug, the distribution classes shouldn't need to be in the default import path unless you're

[2021-05-12 02:19] t-imamichi commented on #6401
Thank you for your information. I wait for #6377 to close this issue. I agree that we may need to refactor ibmq-provider design not to import runtime related stuff if runtime is not used.

[2021-05-12 08:06] 1ucian0 commented on #6401
This issues is making the tutorials fail and it is blocking CI https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=27670&view=logs&j=2ddc7371-73a9-55a0-f542-1649e12d7390&t=e9462619-3037-5a53-8c49-fc6707b39ed2&l=102

[2021-05-12 10:45] mtreinish commented on #6401
This is because the tutorial is incorrectly importing the ibmq provider despite not using it. This will be fixed by https://github.com/Qiskit/qiskit-tutorials/pull/1181

[2021-05-12 10:49] mtreinish commented on #6188
I've been facing hanging test runs locally too. I think I've isolated this locally to:
`test.python.opflow.test_gradients.TestGradients.test_circuit_sampler2_2_param_shift`. It looks like the test is sitting idle waiting for something and never finishing.

[2021-05-12 12:08] 1ucian0 commented on #6401
Closing as  Qiskit/qiskit-tutorials#1181 just got merged.

[2021-05-12 12:11] t-imamichi commented on #6401
@1ucian0 I don't think this issue is closed until #6377. If users call `from qiskit.providers.ibmq import least_busy`, it raises an ImportError.

[2021-05-12 12:53] #6156 closed

[2021-05-12 13:00] ajavadia commented on #3485
@nkanazawa1989 can you paste an example picture from the v2 debugging stylesheet? maybe we just go with that

[2021-05-12 14:59] ewinston commented on #4990
@the-legend-of-lia worked on this a couple of years ago and currently is in Aleks Kissinger's group so she might have some comments as well.

[2021-05-12 15:44] 1ucian0 commented on #6401
you are right.

[2021-05-12 15:52] Cryoris commented on #6398
I think for the docstring "qubit 0" means the first qubit in the tensor product. But that's not `q_0`, which is what the docstring is trying to clarify. Probably it would be better to just remove explicit numbers from the phrase, like
[code]

[2021-05-12 18:52] 1ucian0 opened #6406 "transpiler at optimization level 3 does not honor the coupling map direction"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8

### What is the current behavior?

[code]

Notice that the edge `[1, 3]` is not there. However, this is part of the output:
[code]
The first cnot in this page is going in the `1, 3` direction.

I suspect that the optimization loop is assuming a symmetric coupling map. If I move the `GateDirection` at the end of the pass

[2021-05-12 19:06] #6105 closed

[2021-05-12 19:31] 1ucian0 commented on #6406
I simplified the example even further:
[code]
[code]

[2021-05-12 21:25] nonhermitian opened #6408 "Transpiler optimization levels 0 and 1 cannot find swap free mapping on 27Q and 65Q systems"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Consider any linearly coupled circuit, eg

![image](https://user-images.githubusercontent.com/1249193/118045452-e9b4fd00-b345-11eb-80e4-764ee5b254f6.png)

When using optimization levels 0 or 1 (the default) on a system where the qubit numbering is not left-to-right ,

[2021-05-13 07:19] #3202 closed

[2021-05-13 09:29] #6178 closed

[2021-05-13 10:17] nonhermitian opened #6411 "H gate does not get decomposed correctly"
### Information

- **Qiskit Terra version**: latest (0.26)
- **Python version**:
- **Operating system**:

### What is the current behavior?
An H gate does not get decomposed correctly. It is easy to see this at optimization level 0:

![image](https://user-images.githubusercontent.com/1249193/118111500-c6c03280-b3b1-11eb-92c3-ec340d0b0d1c.png)

becomes

![image](https://user-images.githubuserconten

[2021-05-13 10:26] nonhermitian opened #6412 "Simple Z-axis rotations not decomposed properly"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
As a follow on to #6411, no simple Z-rotations get properly decomposed into `rz` gates.

![image](https://user-images.githubusercontent.com/1249193/118113294-1b64ad00-b3b4-11eb-969d-8eb84d6764d2.png)

becomes

![image](https://user-images.githubusercontent.com/1249193/11811

[2021-05-13 13:58] Feigenbaum4669 commented on #6395
Hi, I can work on that.

[2021-05-13 15:44] woodsp-ibm opened #6413 "NLocal initial state still looking for construct_circuit"
NLocal library circuit says this for initial_state https://github.com/Qiskit/qiskit-terra/blob/ab1539c8179b40b05ff6c921cec84815540c0e06/qiskit/circuit/library/n_local/n_local.py#L101-L102

However passing in a QuantumCircuit as an initial state fails as in the setter its still unconditionally calling construct_circuit https://github.com/Qiskit/qiskit-terra/blob/ab1539c8179b40b05ff6c921cec84815540c

[2021-05-14 04:08] amitracal opened #6415 "HHL new algorithm should be able to take python lists as matrix and vector but right now asking numpy arrays for these"
### Information

- **Qiskit Terra version**: 0.17.1
- **Python version**: 3.6
- **Operating system**: Windows 10

### What is the current behavior?

For the following code to execute -

from qiskit.algorithms.linear_solvers import HHL

hhl = HHL()
result = hhl.solve(matrix, vector)
result.state.draw('mpl', style='iqx')

matrix and vector have to be declared as numpy arrays like below but ideally t

[2021-05-14 06:51] Cryoris commented on #6415
Since the textbook explicitly uses lists I agree. Thanks for reporting this! 👍🏻

[2021-05-14 13:57] hillmich opened #6416 "Documentation of `is_good_state` parameter of AmplificationProblem is misleading"
Acconrding to the constructor of [AmplificationProblem](https://qiskit.org/documentation/stubs/qiskit.algorithms.AmplificationProblem.html), the kwarg `is_good_state` is optional, when it fact, it is required.

Usage without `is_good_state` results in `AttributeError: 'NoneType' object has no attribute 'probabilities_dict'`

Reproduce (with qiskit-terra 0.18.0 installed from main branch)
[code]

#

[2021-05-14 14:37] enavarro51 commented on #6367
@peendebak I did some structural changes to the mpl drawer and was able to get this. I just wanted to confirm this was the output you were looking for since the circuit image is so small. Thanks.
![image](https://user-images.githubusercontent.com/16268251/118286078-f42ae000-b486-11eb-9275-a0ccf0285711.png)

[2021-05-14 17:12] taalexander commented on #6395
Thank you @Feigenbaum4669, I've assigned. Please comment if you need clarification or help 😄.

[2021-05-15 09:45] charmerDark commented on #6415
Hey! Maybe I could try a hand at this issue?Also, isnt HHL part of Aqua? So this issue should ideally be in that repo right?

[2021-05-16 07:11] infiniteregrets commented on #6415
Hey @charmerDark, were you able to fix this? If not then, I can give it a try

[2021-05-16 17:58] SauravMaheshkar commented on #4930
Is the Issue still open ? I can see that it was fixed in [Qiskit/qiskit#1026](https://github.com/Qiskit/qiskit/pull/1026)

[2021-05-16 18:50] #6416 closed

[2021-05-17 06:11] Cryoris commented on #6415
@charmerDark feel free to work on this! HHL used to be part of Aqua, that's right, but we recently refactored Aqua into the application modules Qiskit Nature, Qiskit Optimization, Qiskit Machine Learning and Qiskit Finance. With that refactor HHL moved to Qiskit Terra.

So this change would only be in Qiskit Terra.

[2021-05-17 07:12] t-imamichi opened #6424 "Need to mention the change of the parameter order of QAOA"
### What is the expected enhancement?

#6396 updated QAOA and results in a unit test failure at qiskit-optimization ([CI result](https://github.com/Qiskit/qiskit-optimization/runs/2588572261)).
This is due to the change of the parameter order. Such change affects the result of VQE.
I suggest to mention it in the release note.

I visualize two circuits of a QAOA ansatz used in qiskit-optimization u

[2021-05-17 08:35] yesodharan1892 commented on #3201
Hi apologies as I've been offline due to some personal reasons. Seems the issue is addressed as per #6339

[2021-05-17 08:47] t-imamichi commented on #6424
There seems a bug too. https://github.com/Qiskit/qiskit-terra/pull/6396#issuecomment-842141067

[2021-05-17 09:15] t-imamichi opened #6425 "QAOA does not set parameter_bounds"
### Information

- **Qiskit Terra version**: main (latest)
- **Python version**: 3.8.10
- **Operating system**: macOS 11.3.1

### What is the current behavior?

#6396 does not set bounds of QAOA ansatz. @ikkoham found this https://github.com/Qiskit/qiskit-terra/pull/6396#issuecomment-842141067.
#6396 also changes the order of parameters. #6424

### Steps to reproduce the problem

[code]

[code]

[

[2021-05-17 09:24] javabster commented on #6079
Hi @amitracal yes, `qiskit/transpiler/passes/scheduling/calibration_creators.py` and `qiskit/transpiler/passes/scheduling/rzx_templates.py` should be moved to a new folder specifically for pulse compilation. And if there is any similar pulse transformation code elsewhere in Qiskit that should also be moved into the new folder

[2021-05-17 12:59] Cryoris commented on #6425
I changed the unit test on purpose as I thought it's a little strange to check for the parameter value and not the optimal solution -- exactly because changes like parameter ordering or bounds don't necessarily affect the performance of the algorithm.

But you're right, we should add the parameter_bounds back in (also if I don't really understand why they are necessary, at least for backward compa

[2021-05-17 13:01] Cryoris commented on #6424
Good catch! I didn't intend to change the parameter order. Maybe it would be better trying to revert to the old parameter order.

[2021-05-17 14:13] t-imamichi commented on #6424
Thanks. If the parameter order and bounds come back, I think qiskit-optimization unit tests pass.

[2021-05-17 14:17] t-imamichi commented on #6425
Thanks. Actually, I don't know why such boundaries are set for stable either. The situation where only the second part has boundaries does not make sense to me.

[2021-05-17 14:43] ikkoham commented on #6425
Checking the optimal parameter with mod 2π is enough when one removes the bounds. (And checking the optimal solution is very nice I think.)
The bounds are introduced in https://github.com/Qiskit/qiskit-aqua/pull/1459.

[2021-05-17 16:03] Cryoris commented on #6425
But the optimal solution is not unique and depends e.g. on the initial point (which can be volatile if we choose it to be random and only set the seed in the beginning of the test class). Testing the initial point is a "stronger test" in the sense that we realize immediately if something changes, but it is also kind of random IMO -- except if we would compute the point on convergence analytically

[2021-05-17 20:29] AshwinKul28 commented on #6230
HI, Can I pick this issue? if yes please assign it to me, I would love to work on.

[2021-05-17 21:14] taalexander opened #6430 "marginal_counts is broken for pulse results"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.9
- **Operating system**: OSx

### What is the current behavior?
`marginal_counts` is broken for pulse jobs. I

### Steps to reproduce the problem
[code]
Gives output
[code]

### What is the expected behavior?

### Suggested solutions
It seems like it is assuming `creg` will be present in the header. This is not true for p

[2021-05-17 21:23] mtreinish commented on #6430
What happens if you do `marginal_counts(job.result.get_counts()), indices=[0])`? That's my normal workflow for using `marginal_counts()` because using it with results ends up deepcopying and making it too slow.

Of course, that's independent of this bug though we should fix the function for pulse results too.

[2021-05-17 21:45] #6401 closed

[2021-05-17 21:51] taalexander commented on #6430
Thanks, Matthew. This works but as you noted there still is a 🐛

On Mon, May 17, 2021, 6:23 PM Matthew Treinish ***@***.***>
wrote:

[2021-05-18 07:23] charmerDark commented on #6415
@Cryoris  Could you please tell me where the tests for HHL are? I cant seem to find them

[2021-05-18 08:00] hhorii opened #6432 "Transpile for VQE application"
### What is the expected enhancement?

Currently, if a number of pauli-lists for expectation value is _N_, qiskit transpiles _N_ circuits though their prefix are the same. This is because operator-flow generates circuits before transpilation.

A possible solution will be that operator-flow transpiles a circuit and then combines pauli-lists. This solution will still remain deepcopy issue to generat

[2021-05-18 10:05] Feigenbaum4669 commented on #6395
Hi, should I modify the existing implementation of GaussianSquare (and function gaussian_square) or rather create the new class, e.g. GaussianSquareNatural (and function, e.g. gaussian_square_natural)? If the former is true then could you suggest how you want the class to be overloaded? I assume we want to keep the old functionality anyway. If it is not true then I can, of course, change the origi

[2021-05-18 12:37] zlatko-minev opened #6434 "u3 gate and global phase definition - small inconsistency between matrix & gate defn."
### What is the expected enhancement?

![image](https://user-images.githubusercontent.com/15937254/118651607-bb0aac80-b7b3-11eb-85e1-cf72aff09a3e.png)

The u3 gate as defined in terms of gates in its docstring,
$U3(\theta, \phi, \lambda) = RZ(\phi) RX(-\pi/2) RZ(\theta) RX(\pi/2) RZ(\lambda)$
and in terms of a matrix

    .. math::

        \newcommand{\th}{\frac{\theta}{2}}

        U3(\theta, \p

[2021-05-18 12:56] zlatko-minev opened #6435 "u gate matrix representation check"
### What is the expected enhancement?

Perhaps some different gate definition is used, since when I check the matrix representation of the `u` gate in https://qiskit.org/documentation/stubs/qiskit.circuit.library.UGate.html, I find that the off-diagonals don't quite match up what i see in the documentation. Maybe I'm missing something simple?

![image](https://user-images.githubusercontent.com/159

[2021-05-18 13:42] #3710 closed

[2021-05-18 15:58] itoko opened #6436 "Enable QV64/128 experiments"
Implement techniques proposed in https://arxiv.org/abs/2008.08571

[2021-05-18 16:20] itoko opened #6437 "BIP routing pass"

[2021-05-18 16:21] itoko opened #6438 "Dynamical decoupling"

[2021-05-18 16:24] itoko opened #6439 "Pulse-optimized SU4"

[2021-05-18 16:42] ajavadia opened #6440 "dag to circuit to dag roundtrip is broken"
Invoking the function `retworkx.weakly_connected_components` on the attached DAG gives different results, depending on whether it's the original DAG or the DAG is first converted to a circuit and back

(Interestingly the answer is correct only after I do the round-trip, not on the original DAG)

[code]

[code]

[test_dag.pkl.zip](https://github.com/Qiskit/qiskit-terra/files/6503148/test_dag.pkl.zi

[2021-05-18 17:33] mtreinish commented on #6440
Yeah, it definitely looks like the round trip converter is dropping an edges somewhere, for reference the dag before the conversion:

![pre_dag](https://user-images.githubusercontent.com/2447371/118697586-76940680-b7dd-11eb-91af-3c87b8c4a921.png)

and after running `circuit_to_dag(dag_to_circuit(dag))`:

![post_dag](https://user-images.githubusercontent.com/2447371/118697649-86134f80-b7dd-11eb-9dc

[2021-05-18 18:45] ajavadia commented on #6440
Ok after investigating with @mtreinish it looks like the original DAG was malformed (kind of obvious from the picture above too). So this is not a Qiskit issue. It would be nice if Qiskit was able to validate the DAGs though (in particular how data flows through them, all data should start in green nodes and end in red nodes).

[2021-05-18 18:45] #6440 closed

[2021-05-19 02:40] desireevl opened #6441 "Implementing ADAPT-QAOA in qiskit.algorithms"
### What is the expected behavior?

Hi there, myself and @Elliot-Coupe, @kaiterm have been working on a Qiskit implementation of a variation of QAOA called ADAPT-QAOA based on [this](https://arxiv.org/abs/2005.10258) paper and would like to integrate it into the Qiskit library.

A similar [ADAPT-VQE](https://www.nature.com/articles/s41467-019-10988-2) has already been implemented in Qiskit in [qis

[2021-05-19 07:01] Cryoris commented on #5708
That's an interesting feature. With the current/new SPSA implementation, the `callback` allows access to the unperturbed function evaluations. However, if you specify a `callback`, the optimizer will evaluate the loss function at each step, hence increasing the number of evaluations by 50%. I've encountered this problem before and two solutions to this would be
* SPSA doesn't re-evaluate the loss

[2021-05-19 07:10] Cryoris commented on #5716
@spencerking Sorry for the delayed response! Yes this has already been fixed 🙂 But thanks a lot for your interest, maybe there are some other open issues that you'd be interested in working on!

[2021-05-19 07:10] #5716 closed

[2021-05-19 15:12] nkanazawa1989 commented on #6395
I think you can add argument something like `risefall` (or similaly ratio of `risefall` to `sigma`) and deprecate `width`, or you can keep `width` and set default to `None`. One reason of keeping the original class is dependency on backend compiler. Because we need to guarantee the same parametic pulse should be defined in the backend to generate the same waveform, basically you cannot define arbi

[2021-05-20 07:54] Cryoris commented on #6415
Sure, they're in https://github.com/Qiskit/qiskit-terra/blob/main/test/python/algorithms/test_linear_solvers.py 🙂

[2021-05-20 12:45] 1ucian0 opened #6447 "Feature request: Get "cleaner" tex code from QuantumCircuit.draw('latex_source')"
The output of `QuantumCircuit.draw('latex_source')` not `standalone`, creating a full page. This creates an effect of a lot of spacing around it (like in here https://quantumcomputing.stackexchange.com/questions/17573/saving-vectorized-circuits-in-qiskit ). Additionally, many of the output code is not necessary and might look intimidating:

Currently, this is the output:
[code]
[code]

It would be

[2021-05-20 13:01] 1ucian0 opened #6448 "Feature Request: multi-format file output in QuantumCircuit.draw(..., filename='...')"
Qiskit uses PIL for processing image in the Qiskit circuit drawer, which supports several [image file formats](https://pillow.readthedocs.io/en/stable/handbook/image-file-formats.html). However, it always saves in `image/png`:
[code]
[code]

It would be great if the drawer notices the `filename` file extension and saves the image in the correct format.

[2021-05-20 14:48] Qottmann opened #6455 "TwoLocal entangling map does not work for numpy integers"
### Informations

- **Qiskit version**: 0.17.1
- **Python version**: 3
- **Operating system**: ubuntu 18

### What is the current behavior?
When generating an entangling map by virtue of numpy arrays (e.g. np.arange(num)) it raises a ValueError
```ValueError: Invalid value of entanglement: [[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]]```

### Steps to reproduce the problem
Minimal working example

[c

[2021-05-20 19:22] #6364 closed

[2021-05-20 20:18] mtreinish commented on #6448
I'm not sure we want to go down this path. The circuit drawers are already complex enough and have a lot of different paths and capabilities depending on the backend. It's already easy enough to do something like: `circuit.draw('mpl').savefig('test.svg')` or with the latex drawer `circuit.draw('latex').convert('jpeg').save('circuit.jpeg')`. What I'm worried about here the pillow file formats are d

[2021-05-21 09:20] javabster commented on #5145
closing this as it is no longer an issue with pulse_v2

[2021-05-21 09:20] #5145 closed

[2021-05-21 09:32] javabster commented on #2304
Hi @mlarocca are you still working on this? There are more details [here](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md#snapshot-testing-for-visualizations) about how to run snapshot tests for visualisations. And you can check coverage for a specific file by running `coverage3 report -m <file path>`. Let us know if you have any questions 😄

[2021-05-21 09:37] javabster commented on #2306
hi @gabriellm1 are you working on this? If not I will assign to @abzsd

[2021-05-21 13:56] gabriellm1 commented on #2306
Go ahead guys :)

[2021-05-21 18:03] javabster commented on #2306
thanks @gabriellm1 😄 @abzsd I'm assigning to you, let us know if you have any questions

[2021-05-21 21:37] woodsp-ibm opened #6451 "Improve Expectation computation/capabilities in opflow."
Currently there is a small set of expectation objects in opflow to handle matrix and pauli expectations, with a custom version to leverage Aer specifics for performance. Given we want to be able to easily add new types allowing different techniques, now and in the future, and ensure it scales to larger operators, we should consider whether what is there best suits these needs going forwards. This

[2021-05-22 17:03] 1ucian0 commented on #6448
For PIL, the support is almost for free (`image.save(filename)` takes filename extension, right?). I think, for mpl, it's already supported. For `text`, it makes sense to check filename and warning if extension is not `.txt`.

[2021-05-25 09:19] #1160 closed

[2021-05-25 17:40] ajavadia opened #6460 "write a compiler pass to convert ID to Delay"
ID was a gate defined in QASM 2 which is equivalent to the identity. It was later adopted to implicitly control timing in experiments (with discrete timing). QASM 3 allows finer-grain timing with `dt` granularity, using Delay instructions. ID is deprecated in QASM and also on future IBM backends. Therefore we need a pass that can convert ID to Delay. This will be used for the deprecation period, b

[2021-05-25 17:56] ajavadia opened #6461 "truth table from circuit"
we can convert a circuit to a unitary, but not to truth table yet. This will be useful for checking classical circuits (oracles, arithmetic, etc.)

[2021-05-25 23:31] ajavadia commented on #5649
This circuit is a Boolean function, i.e. it is defined over elements of the field F_2. It computes the inner product of two n-bit arrays. So over F2, the output is either 0 or 1. Since in quantum the circuit has to be unitary, you have to choose how to encode this output. This particular circuit is a "phase oracle", i.e. it induces a -1 phase on the amplitude when the output is 1, and no phase whe

[2021-05-25 23:54] enavarro51 commented on #1073
@1ucian0 Are these still relevant - `test_circuit_visualization_output.py`, `visualization.py`, and `test_pulse_visualization_output.py`? I believe there are other tests that cover these and the test images are way out of date. Should they be removed along with their .png files?

[2021-05-25 23:58] enavarro51 commented on #1179
Since we moved to black, is this issue still relevant?

[2021-05-26 08:14] tnemoz commented on #6447
Hi @1ucian0! Don't you think that #2015 should be fixed/discussed beforehand? Adding to the arguments discussed there, I never had any problem using `standalone` with `quantikz`.

[2021-05-26 09:39] JoshDumo commented on #6461
Hi! I'm new at this, but would like to try this one. Just not sure how to represent superpositions as a truth table, for example a 1qubit circuit with an H-gate on q0?

[2021-05-26 11:40] 1ucian0 commented on #1073
* `test.python.visualization.test_circuit_visualization_output.TestCircuitVisualizationImplementation.test_latex_drawer`: I think this is being handled by https://github.com/Qiskit/qiskit-terra/pull/6450 . If so, once 6450 is merged, it can be removed.
 * `test.python.visualization.test_circuit_visualization_output.TestCircuitVisualizationImplementation.test_matplotlib_drawer`: This one is probabl

[2021-05-26 13:55] frmetz opened #6464 "Document setting random seed for optimizers"
For most optimization algorithms setting `np.random.seed(seed)` is sufficient, but for SPSA (which is not implemented in scipy) one has to set it by hand via `qiskit.utils.algorithm_globals.random_seed = seed`. I couldn't find any documentation about this and had to look directly at the source code. It would be nice, if this was explained in the documentation.

[2021-05-26 14:02] enavarro51 commented on #1073
First off, since most all of these tests are skipped and have been skipped for a couple of years, I'm not sure it's of much value to port any of these. It seems more reasonable to delete all this and open issues for places where testing is inadequate, like #2307.
- Again, for the latex test, since this is already skipped, why wait for #6450.
- Agreed on the mpl test
- If there's a plan to port pul

[2021-05-26 14:03] chriseclectic commented on #4443
Going back to this old issue: I suggest renaming the `BasicAer` provider to `TestProvider` and moving it from `qiskit.providers` to `qiskit.test`, like with the mock backends. Then it is not in the main import path, and not called Aer, but can still be imported and used for running unit tests or by anyone else who wants a python only simulator.

[2021-05-26 14:13] 1ucian0 commented on #1073
Removing the skipped tests and create issue for non covered code would be a way to close this issue indeed.

[2021-05-26 14:19] enavarro51 commented on #1073
Ok, great. I can clean this up.
Is there a plan in place to move pulse testing to the #4544 model? If so, I'll open a new issue for that.

[2021-05-26 14:54] 1ucian0 opened #6465 "Some controlled gates have ctrl_state parameters. Some not."
### What is the current behavior?

Based on https://github.com/Qiskit/qiskit-terra/issues/5098#issue-705776539

The `cx` method has `ctrl_state`  while `ccx` does not have that parameter.
[code]
[code]

### What is the expected behavior?

Consistency. Either the all controlled gate should have `ctrl_state` parameter  (vote with 🎉 ) or neither (vote with 🚀).

[2021-05-26 15:48] adekusar-drl opened #6466 "Loading a circuit from a QASM file created from a QuantumVolume circuit fails."
### Information

- **Qiskit Terra version**: latest sources
- **Python version**: 3.7
- **Operating system**: all

### What is the current behavior?
There's an exception when an instance of `QuantumVolume` circuit is saved as a qasm file and then loaded from this file.

### Steps to reproduce the problem
Run the script:
[code]

There's an exception:
[code]

### What is the expected behavior?
No ex

[2021-05-26 16:24] tnemoz commented on #6447
@1ucian0 In that case, would you mind if I were to work in this direction (that is, switching from `qcircuit` to `quantikz`)? Or do you prefer to wait for this issue to be closed?

[2021-05-26 16:51] 1ucian0 commented on #6447
A discussion for #2015 🙃

[2021-05-26 17:14] tnemoz commented on #2015
@1ucian0 If you think this is worth a shot, I'd like to give it a try :slightly_smiling_face:

[2021-05-26 21:26] woodsp-ibm commented on #6464
It is mentioned in the algorithms introduction tutorial algorithms/01_algorithms_introduction.html but you are right, things are lacking - we had more when this was part of Aqua, but that text etc seems to have gotten lost in the migration. Essentially that seed is for a common random number generator used throughout the algorithms so an experiment is easy to seed/reproduce.

[2021-05-27 00:00] howie-kuo opened #6468 "small rotation angles (parametrised) not removed by transpiler passes"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**:  3.8.8
- **Operating system**: IBM Quantum Lab (Linux Ubuntu)

### What is the current behavior?
small rotations in generated ansatz are not removed by the transpiler.

![image](https://user-images.githubusercontent.com/37124579/119745253-dbd4af80-bee1-11eb-89df-9626c82b03f4.png)

### Steps to reproduce the problem

to gener

[2021-05-27 09:01] javabster commented on #6230
Hi @AshwinKul28 sure go for it! Assigning to you 😄