[2018-09-13 05:52] delapuente opened #895 "Loading Qiskit with no internet results in a ConnectionError"
### What is the current behavior?
Loading Qiskit with no Internet results in a `ConnectionError`.

### Steps to reproduce the problem
Run Qiskit without Internet connection.

### What is the expected behavior?
Qiskit prompt no error at all.

[2018-09-13 06:00] delapuente opened #896 "Make non interactive plot_histogram accept the same formatting options as the interactive version"
### What is the expected enhancement?
Both representations, interactive and non-interactive will support the same formatting capabilities.

[2018-09-13 13:43] 1ucian0 commented on #825
I think all the pending things (those we agreed) are now fixed. Waiting for further comments now.

[2018-09-13 15:04] dcmckayibm commented on #884
To add to this in the #879 PR I changed the clbit_label to be more like the qubit_label. This isn't something enforced by the schema, but I would still like to change the meaning inside terra.

[2018-09-13 15:05] dcmckayibm commented on #884
The old meaning of `clbit_label` was that each creg mapped to a contiguous region of the memory, but I think we should do it like the `qubit_label` which is that each part of memory arbitrary maps back to a qasm register (or doesn't map and is NULL)

[2018-09-13 15:08] rossduncan opened #897 "transpiler pass return value is ignored"
### Informations

- **Qiskit Terra version**: 0.5.7
- **Python version**: 3.7.0
- **Operating system**: Mac OS X 10.13.6

### What is the current behavior?
In transpiler. _transpiler.py, the transpile method invokes the run() method of the transpiler pass.  However, it does so only for side effects and ignores the return value.

### Steps to reproduce the problem
See [here](https://github.com/Qisk

[2018-09-13 15:12] dcmckayibm opened #898 "CPP Simulator use the new schemas"
Snapshot command and conditionals are out of date in the cpp simulator
@chriseclectic

The test qobj in https://github.com/Qiskit/qiskit-terra/tree/master/test/python/qobj have been updated to pass for now, but the snapshot has been hacked to work.

### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce

[2018-09-13 15:16] #895 closed

[2018-09-13 16:52] #854 closed

[2018-09-13 16:52] #884 closed

[2018-09-13 20:22] 1ucian0 opened #901 "Comments should be AST nodes"
Consider the following program:
[code]
The output is:
[code]

### What is the expected enhancement?

The following output:
[code]

The current parser ignores comments. There is room for discussion if a parser should create an AST with this information (a Full Syntax Tree).  I think in our context is a handy thing to have. For example, to add annotations or metainformation, which might be handy in

[2018-09-13 23:34] ZBWalters opened #902 "Allow user to import noise model corresponding to target chip"
### What is the expected enhancement?
It would be very helpful if a user could import a noise model which corresponds to the chip the program is being targeted for.

As is, the user must look up the specifications for the desired chip and input these by hand.  This is tricky and error prone, and does not inspire confidence that the noise being simulated will correspond to the noise on the chip.

[2018-09-14 06:43] delapuente commented on #901
Usually, comments are ignored in the lexer stage, but I'm a big fan of comment nodes. A common strategy is to provide a flag for retaining these nodes or not.

[2018-09-14 06:45] delapuente commented on #897
The transpiler is being redone in #824, these comments would be very welcome there.

[2018-09-14 07:00] delapuente opened #904 "Aqua GUI interface crashes for default OSX matplotlib backend."
@nonhermitian noted in #903:

### What is the current behavior?
Aqua GUI interface crashes for default OSX matplotlib backend.

[2018-09-14 07:52] diego-plan9 commented on #904
Seems related to #889 , #895 and  #874 .

[2018-09-14 17:00] #754 closed

[2018-09-14 17:48] #904 closed

[2018-09-14 18:05] delapuente commented on #855
No longer needed. QObject schema is now a minimum requirement.

[2018-09-14 18:05] #855 closed

[2018-09-14 18:11] delapuente opened #905 "Implement a mechanism for extending the synthesis of Qobj with new backend-specific instructions"
### What is the expected enhancement?
Provide a way for the backends to provide instruction extensions so the JSON/Qobject unroller can produce the proper schema-conformat JSON.

[2018-09-14 20:07] #894 closed

[2018-09-17 07:02] #896 closed

[2018-09-17 10:07] rossduncan commented on #897
Thanks for responding.  This is a relatively minor change -- does it have to wait for the major overhaul described in #825 ?

[2018-09-17 10:11] rossduncan commented on #825
For third parties wanting to implement transpiler passes, being able to return a fresh dag is quite important -- we can't modify it in place.

[2018-09-17 10:44] delapuente commented on #897
Closing in favour of #825

[2018-09-17 10:44] #897 closed

[2018-09-17 10:45] delapuente commented on #825
I'll be one step further: I think it would simplify the design to provide an immutable DAG in addition of requiring passes to return the transformed DAG.

[2018-09-17 14:12] chriseclectic opened #907 "Make plot_state automatically convert state vectors to density matrices"
### What is the expected enhancement?

When calling the `plot_state` visualization function the input must be a density matrix, however the statevector simulator returns a state vector that must  be manually converted to a density matrix. This should be done automatically when a user calls `plot_state(statevector)`:

Expected use:

[code]

[2018-09-17 17:19] delapuente commented on #825
I'm not convinced about the solution for property set utilities. I think providing a new utility is hard with the new implementation. I'm still inclined to think that it would be useful to have some observer mechanism but truly, I don't know. I think I prefer the former implementation.

I would love to see what @diego-plan9 and @atilag think about?

[2018-09-17 17:49] 1ucian0 commented on #825
@rossduncan There are transformations that are easier in-place (like gate cancelation). It makes sense to also consider the possibility of returning a fresh dag. Probably, the easier way is to return the dag. If you did in-place, just return `self.dag` (maybe doing this automatically if the pass returns `None`?) What do you think @delapuente ?

[2018-09-17 18:19] #907 closed

[2018-09-17 19:07] mtreinish commented on #812
I've done a lot of digging on this (it took much more than I was expecting) it looks like the fundamental issue here is that the mask generated by the json unroller for conditionals doesn't know things are reversed So the mask it writes assumes the regular order. So when we go to use that mask in the latex drawer (where the traceback here is and around L900) for figuring out the cbits to mark for

[2018-09-17 20:01] 1ucian0 opened #909 "Add an eASCII/Unicode drawer"
### What is the expected behavior?
Something along these lines, with minimal or non dependencies.
[code]

[2018-09-18 03:35] #706 closed

[2018-09-18 08:55] delapuente commented on #825
I would do it explicitly, i.e. **without** converting `None` into a DAG.

[2018-09-18 09:00] delapuente commented on #825
Regarding utility functions, perhaps a solution that leverages the current architecture is to convert utilities into analysis passes such as:

[code]

`TestFixedPoint` class could have a dependency with `CalculateDepth` ensuring it is called before checking for an equilibrium point.

[2018-09-18 14:15] #302 closed

[2018-09-18 14:56] 1ucian0 commented on #356
We need to check the implication to remove QASM from the QObj to reduce the size of the payload.

[2018-09-18 15:00] 1ucian0 commented on #382
Hopefully, this will be addressed in the coming DAG refactor.

[2018-09-18 15:04] ajavadia commented on #898
This is for Aer to handle. @chriseclectic can you please make sure that it gets done there?
Once Aer is updated, its integration tests in Terra should match.

[2018-09-18 15:04] #898 closed

[2018-09-18 15:14] chriseclectic commented on #902
Hi @ZBWalters this is good suggestion and we are planning on adding something along these lines to Qisikt Aer simulator package when it is released later in the year.

[2018-09-18 17:53] 1ucian0 commented on #825
I iterated again on the utility functions to simplify it. It's in 75d1121, let me know your thoughts.
(I did not implement using the `TestFixedPoint`, because it seems like a very artificial pass to me).

[2018-09-19 00:26] ajavadia commented on #902
I am closing this as being tracked in another repo.

[2018-09-19 00:26] #902 closed

[2018-09-19 07:28] rossduncan commented on #825
@1ucian0 I are with everything you said; that's exactly what I had in mind when I said that Passes which do update-in-place would be easy to adapt.

[2018-09-19 09:35] delapuente commented on #825
I prefer the analysis pass approach. It is indeed an analysis of the evolution of the circuit and it prevents to deal with an additional concept such as the `Utility` class.

[2018-09-19 14:18] delapuente opened #913 "Purpose of the three simulators is unclear"
### Informations
The tutorials mention three simulators available as part of QISKit: local, state vector and unitary simulators. However, the tutorials don’t detail their capabilities or limitations, so it is hard to determine which simulator best suits your application.

### Suggested solution
Recommend an explanation of each simulators’ function with examples of use cases be collocated with the

[2018-09-19 14:20] delapuente opened #914 "Documentation of API lacks parameter details and usage examples"
### Informations
The low-level API documentation is sparse on critical usage details such as input and output parameter syntax, and examples of usage are not readily available.

While this information is available in notebook tutorials and medium articles focusing on use cases, we did not find it natural to discover the relevant information here.

As an example, when using the `get_counts` method

[2018-09-19 14:24] delapuente opened #915 "Unclear error message on incorrect single-qubit and classical bit register subscripting"
### Informations
**Classical Register Subscripting Error Code** raises an error for the final two lines of code:
[code]

[code]

It is not necessarily apparent to a user that the variable they have provided is not a classical register, and that it needs to be subscripted.

**Quantum Register Subscripting Error Code** raises the following error for the final line of code when addressing a single qu

[2018-09-19 14:28] delapuente opened #916 "Calculating measurement probabilities can be laborious and error prone"
### Informations
The string format (e.g. `'0 1 0'`) used for qubit measurement results returned using the `get_counts` method can be difficult to interpret and it is not clear from the API documentation how the string returned maps to the individual qubits.

The recommended approach for calculating measurement probabilities for a subset of qubits in a register requires several lines of code to be

[2018-09-19 14:29] delapuente opened #917 "Adding registers to circuits is ambiguous"
### Informations
It is not possible to build circuits out of subroutines in some cases as all registers must be declared up front to create the quantum circuit object. This makes the addition of ancillary qubits inside sub-routines challenging from a modular algorithm development perspective.

### Suggested solutions
Request a feature that enables “late” addition of qubits to circuits.

[2018-09-19 14:32] delapuente opened #918 "The order of registers in the measurement results dictionary is inconsistent."
### Informations
While experimenting with a quantum ripple-carry adder, the order of registers returned by `get_counts` was observed to be inconsistent from run to run. For example, in a scenario where register A containing 4 qubits was programmatically declared before register B containing 3 qubits, get_counts was observed to return either `{'010 0110': 1}` or `{'0110 010': 1}` depending on the r

[2018-09-19 14:33] mtreinish commented on #917
Can't you just call QuantumCircuit.add() https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/_quantumcircuit.py#L188 to do this on an existing circuit object?

[2018-09-19 16:30] ajavadia commented on #917
^ yes I think this works. We should document it more clearly. Maybe the method should be `add_register()`.

[2018-09-19 17:32] chunfuchen opened #919 "timeout setting is not passed to job submission"
### Informations

- **Qiskit Terra version**: the newest master branch
- **Python version**: 3.6.5
- **Operating system**: macOS 10.13

### What is the current behavior?

`timeout` setting only used for `_wait_for_result` but not `_wait_for_submission`.
So, Qiskit raises `the Timeout error` after 60 seconds regardless of the setting of `timeout`.

related codes:
`_wait_for_result`
https://github.c

[2018-09-19 19:48] 1ucian0 commented on #825
I removed the concept of utility. Now, the fixed point analysis is implemented as a pass.

[2018-09-20 02:44] ajavadia commented on #913
The 3 types of simulators are:
1- QASM simulator (name might change): it simulates a generic circuit for a number of shots, and returns counts. Similar to an experiment.
2- Statevector simulator: gives you the statevector(wavefunction) resulting from the evolution of the 0 state through that circuit. Takes only 1 shots. no measure/reset.
3- Unitary simulator: gives the unitary equivalent of a give

[2018-09-20 02:44] #913 closed

[2018-09-20 03:01] ajavadia commented on #918
It is not clear how to reproduce this. A code example is needed.
In particular, a ripple-carry adder is supposed to take 2 registers `a` and `b`, and return a register `c` with the result. Why is the result split into 2 classical registers in the example reported here? (`'010 0110'`)

[2018-09-20 03:07] jaygambetta commented on #918
But I do agree we need to document the splitting of the register by order in the circuit.

[2018-09-20 03:08] jaygambetta commented on #917
i think we need to decide is a quantum register different to a classical so that this is clear

[2018-09-20 07:31] yaelbh commented on #913
A couple of tiny comments:
- The statevector simulator can also start from a state which is not the 0 state, as specified by the user.
- I think "no measure/reset" includes also "no noise".

[2018-09-20 16:04] delapuente opened #920 "Master is failing due to an update in Matplotlib"
### Informations
Matplotlib 3 [now raises an `ImportError` instead of a `RuntimeError`](https://github.com/matplotlib/matplotlib/commit/5a01cb8d278e178df12b29aa8dd337b0eee05e26#diff-b803a50145bf2f7323861dd0eb38a959) when Python is not compiled as a framework under MacOS X so the code we have in place for detecting this failure and skip the affected tests is working no more.

### What is the curren

[2018-09-20 17:04] delapuente opened #922 "Test compatiblity with Matplotlib 3"
### What is the expected enhancement?
See if visualizations relying on matplotlib behave the same with version 3.0 of the library so we can start supporting it.

[2018-09-20 18:29] #920 closed

[2018-09-20 19:07] 1ucian0 opened #923 "QASM parser needs polishing"
The parser is doing too much and needs to be rethinked. Here some ideas:
 - More syntaxis and less semantics: Issue #888
   * Move the spec restriction checks to QuantumCircuit-construction-time.
   * Simplify and reduce the amount of rules. Many current rules can be joint, like `gatename [ '(' params ')' ] qargs;` covers `U(theta,phi,lambda) qubit|qreg;`, `CX qubit|qreg,qubit|qreg;`, and `gatenam

[2018-09-21 06:47] #778 closed

[2018-09-21 08:14] diego-plan9 opened #925 "Update backends, providers and authentication"
### What is the expected enhancement?

After discussion, the mechanism for using backends, providers and authentication should undergo a revamp to conform to the agreed specification:

* [ ] implement the providers and authentication changes
* [ ] add new backend methods
* [ ] deprecate several top-level methods
* [ ] update documentation (readme, sphinx, examples)

[2018-09-21 08:40] delapuente commented on #901
I'm not sure we the expected behaviour is what you point. I would have expected the new code to keep the comments in the same locations, aside from some normalization so this:

[code]

would translate to this:

[code]

But it looks counter-intuitive to find the comment in a new line after the code it is commenting. Even thinking that the behaviour preserves the ordering of the nodes, it challenges

[2018-09-21 10:10] delapuente commented on #913
Should we add this information to our docs and point to the blogpost in the docs? If that's the case we could keep this open to track those efforts. What do you think @ajavadia ?

[2018-09-21 11:20] #812 closed

[2018-09-21 11:54] ajavadia commented on #913
@delapuente sure but I would open just a single epic for documentation improvement, and put in there a list of things that need better explaining. Because I think there are multiple enhancements needed in the docs, and opening individual issues can become messy.

[2018-09-21 12:44] delapuente opened #926 "Make Travis automatically open a special issue in case of failing master"
### What is the expected enhancement?
The current merging process has a bottleneck explained on #927. One of the solutions involves targeting only one Python version for only one platform during regular merges and complete with a periodic build for testing the complete environment matrix.

For implementing this, we want some way to highlight when the _cron_ build is failing for some reason. We opt

[2018-09-21 13:11] delapuente opened #927 "Rethink the testing strategy to reduce continuous integration times"
### What is the expected enhancement?
Current merging strategy allows merging a branch when it is up to date with the `master` branch only. This causes the workflow when merging several PR to be as follows:

1. The first PR is merged. This triggers a build on the CIs: `master_build`.
2. A second PR got out-of-date with `master`.
3. Merge the second PR with `master`. This triggers another build on

[2018-09-21 13:36] 1ucian0 commented on #901
The "unparse" method is `qasm()` and it has some room for improvement in terms of reconstructing line and spacing or using the positioning metadata.
Examples:
<table align="left">
  <tr>
    <th> input to parse </th>
    <th> output of unparse</th>
    </tr>
  <tr>
    <td>
<pre>
OPENQASM 2.0;
qreg q[2]; qreg r[1];
</pre>
   </td>
    <td>
<pre>
OPENQASM 2.0;
qreg q[2];
qreg r[1];
</pre>
    </td>

[2018-09-21 13:55] 1ucian0 commented on #923
* Better unparsing (see https://github.com/Qiskit/qiskit-terra/issues/901#issuecomment-423533284): I'm not fully sure how relevant this might be.

[2018-09-21 14:12] 1ucian0 commented on #901
In your example:
[code]
the reason for this is not connected with the comment. The new line between the comment and the conditional statement is added by the state concatenation code (see https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qasm/_node/_program.py#L28).

[2018-09-21 18:15] delapuente commented on #901
As mentioned before, I don't mind some normalization happening. The output of the unparsing is more verbose, agree, but it is not incorrect. However, making an inline comment to be pushed after the code commented is against a very well-established tradition of putting comments before or at the same level of the commented code.

I don't mind to keep this open to track the fract that OPEANQASM 2.0 h

[2018-09-21 18:18] delapuente commented on #901
It is incorrect because something like:
[code]
would be parsed as: `[Qreg, Comment, Gate]`.
And:
[code]
would be equally parsed: `[Qreg, Comment, Gate]` without a way of distinguishing among them.

[2018-09-21 19:46] 1ucian0 commented on #901
The unparser if patched in ff1f735, by keeping line information.

[2018-09-21 19:53] 1ucian0 commented on #825
Let me know if you have any other comment.

[2018-09-22 00:01] jaygambetta commented on #919
@delapuente can we link this to the epic on the redo of backends.

I want to discuss with should we include these or not in the ibmqprovoder

[2018-09-22 00:03] jaygambetta commented on #918
Let’s put this on hold but make it part of the results object redo in version 0.7 @delapuente do you agree. I want the get counts redone and in it documented how the data is converted by hex to counts.

[2018-09-23 22:35] nonhermitian commented on #666
Closing.

[2018-09-23 22:35] #666 closed

[2018-09-24 08:44] delapuente commented on #918
Moving to the 0.7 milestone. We'll create an epic for results when planning 0.7.

[2018-09-24 08:47] delapuente commented on #919
I don't think this belongs to the authentication effort but we can discuss it in the next review if you want.

[2018-09-24 08:54] delapuente commented on #901
@1ucian0 how do you suggest the AST should look when parsing an inline comment?

[2018-09-24 09:25] delapuente opened #928 "Documentation polishing"
### What is the expected enhancement?
 - [x] Clarify the purpose of the three simulators (answered in #913)

[2018-09-24 12:30] delapuente commented on #825
I think we have passed through almost all the issues I raised.

### TL; DR
I'm fine with almost everything except I have my reservations regarding identity although they can be solved in the implementation; I continue thinking it is a bad idea to allow ignoring requirements and preservations when registering.

We did not talk about paralel compilation and I think it is an important matter. I would

[2018-09-24 13:45] 1ucian0 commented on #825
**About parallel compilation**
If I understand correctly, the most common use case is to have a lot of relatively small circuits to compile (in contrast with few very large and complicated circuits). If that's the case (please, @ajavadia confirm or not), it probably makes sense to keep the tranpilation process independently so we don't have to control for side effects on a shared memory (DAG).

[2018-09-24 14:50] delapuente commented on #926
Well, this is what I propose:
1. Let `hash` be the commit hash causing the failure.
2. On failure, CI checks if there is an open issue with the label "master failing"
3. If it does not exists, open a new issue with the following format:

4. Else, check if there is a comment containing `hash`.
5. If there is none, send a new comment with the following content:

[2018-09-24 15:29] mtreinish commented on #926
@delapuente I'm personally not necessarily convinced of the value of something like this. While I agree it could definitely highlight something real that needs our attention, like a new version of dependency package broke something or we introduced a bug causing non-deterministic failures, it is equally as likely that the travis infrastructure just fell apart. I've seen many times where the contai

[2018-09-24 17:48] ajavadia commented on #825
Parallelization is done over completely independent DAGs. The current implementation still allows this I think.

The `ignore_requires` and `ignore_preserves` can be handy in our exploration phase when we're trying to experiment with different schedules. Let's leave it in for now, and most people will just use default False for these.

[2018-09-24 18:37] 1ucian0 commented on #825
Some other changes suggested by @ajavadia :
 * Simplify FixedPoint analysis pass in favor of the standard API. Fixed in cd30801
 * Remove the idempotence idea in favor of *self-preserves*.  By default, passes are not idempotent.
 *  Remove `BasePass.set` method in favor of direct assignment.

[2018-09-24 20:21] mtreinish opened #930 "Add continuous benchmarking"
### What is the expected enhancement?

Leveraging a framework like asv (https://github.com/airspeed-velocity/asv ) we can build a benchmarking suite for parts of qiskit-terra and measure the performance over time.

We would have to do this outside of our existing appveyor and travis ci systems because there is too much inherent variability in those systems to provide a consistent baseline for benc

[2018-09-25 09:47] nonhermitian opened #931 "Changing style in matplotlib circuit_drawer changes the circuit layout"
### Informations

- **Qiskit Terra version**: current master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
The output from the Matplotlib circuit drawer changes when the `style` kwarg is modified

### Steps to reproduce the problem
`circuit_drawer(circ)` vs `circuit_drawer(circ,style=qx_color_scheme())`: (Here I show only the first pane of the circuit)

<

[2018-09-25 09:51] nonhermitian opened #932 "Issue template should say 'Information' not 'Informations'"
### Informations

- **Qiskit Terra version**: NA
- **Python version**: NA
- **Operating system**: NA

### What is the current behavior?
The current issue template says 'Informations' when it should say 'Information'

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2018-09-25 11:46] delapuente opened #933 "Align current `BaseJob` API with the specification"
This is the list of actions needed to align the specification with the current implementation.

Method name | Current implementation | Action |
----------- | -----------------------|--------|
status | present |
done | missing | remove from spec (https://github.com/Qiskit/qiskit-terra/issues/933#issuecomment-424318972)
running | missing | remove from spec
cancelled | missing | remove from spec
job_

[2018-09-25 12:01] jaygambetta commented on #933
one question what does job.backend return. The name the backend was run on or a backend object. I ask this as the name is not necessarily unique now.

[2018-09-25 12:12] delapuente commented on #933
In the new implementation, it is returning the backend instance.

I've deprecated the `backend_name` method although it continues returning the name of the backend.

[2018-09-25 12:12] delapuente commented on #933
Implementing this bug, I've detected some inconsistencies, most important:

* Adding method `done()`. If we are willing to remove `running()` and `cancelled()` from the spec, why not removing `done()` too? @jaygambetta, thoughts on this?
* `LocalJob` had not `job_id` but it was being generated in some simulators to conform with the result schema, linking the result with nothing:
https://github.com

[2018-09-25 12:16] jaygambetta commented on #933
great @delapuente your faster then me when i looked it was name :-)

[2018-09-25 14:00] nonhermitian opened #934 "Latex circuit drawer fails when barrier is present."
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Using `circuit_drawer` on a circuit with a barrier fails:

[code]
giving the following log report:
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2018-09-25 14:07] mtreinish commented on #934
You need to update your version of the qcircuit latex package to the latest version at least version 2.6.0 (which added the \barrier command). You can find the latest version on CTAN: https://ctan.org/pkg/qcircuit if the version of texlive packaged on osx doesn't include that version yet.

[2018-09-25 14:14] atilag commented on #933
The `job_id` was meant to solve the problem of retrieving future job results from circuits executed in the real quantum chip backends. We save the `job_id` and we can come 4 hours later and ask to the server for the status of this job.
This is not a problem for local jobs, as every job will run it's own simulator instance and will get the results once finished. This process cannot be interrupted s

[2018-09-25 14:15] nonhermitian commented on #934
Hopefully this is documented somewhere.

[2018-09-25 14:18] delapuente commented on #933
I think you're right @atilag. It should be an implementation detail but I can also imagine other architectures where it would be necessary. I think I'm going to make it mandatory as part of `BaseJob` but we should rethink this at the spec level.

[2018-09-25 14:33] nonhermitian commented on #934
Yes, this is fixed when updating to 2.6.0.  However, this was only released a little over a month ago.  Therefore we really need to document this requirement somewhere because most peoples TeX installation will need to be updated.

[2018-09-25 14:33] #934 closed

[2018-09-25 14:46] mtreinish commented on #934
Sure, I'll gladly update the documentation to outline the new requirement. Do you have any pointers to the best place to do that?

[2018-09-25 15:30] taalexander opened #935 "Add device tests to Travis"
### What is the expected enhancement?
Device specific tests should be added to the test suite to run on Travis. Tests should compare against reference local simulator to verify devices are performing as expected.

[2018-09-25 18:13] nonhermitian opened #938 "local_qasm_simulator does not sample even when barrier is given"
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
The `local_qasm_simulator` does not know to sample a state vector even when a barrier is explicitly placed before the measurements.

### Steps to reproduce the problem
For example, from the BZ tutorial:

[code]
![bz](https://user-images.githubusercont

[2018-09-25 18:20] nonhermitian opened #939 "ctrl-c (or equiv Interrupt in a Jupyter notebook) does not stop the local_qasm_simulator"
### Information

- **Qiskit Terra version**: latest master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Doing ctrl-c, or equivalently kernel->interrupt in a Jupyter notebook does not stop the `local_qasm_simulator`.  Instead, you must restart the whole Python interpreter to kill the process.

### Steps to reproduce the problem

### What is the expected b

[2018-09-25 19:37] mtreinish opened #940 "LaTeX Barriers are not centered between gates and measures on all columns"
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: 3.7
- **Operating system**: linux

### What is the current behavior?

@nonhermitian example in issue #938 shows a circuit with a barrier being drawn with a measure after a gate but the barrier is not centered for the gate and measure on q0_15:

![image](https://user-images.githubusercontent.com/2447371/46037725-0b024

[2018-09-25 22:10] mtreinish commented on #939
Are you running with the cpp or python local qasm simulator? Looking at the code for the python version I don't see any reason why it would ignore SIGTERM:

https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/backends/local/qasm_simulator_py.py

But looking at the cpp version:

https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/backends/local/qasm_simulator_cpp.py

It subprocess out t

[2018-09-26 14:11] nonhermitian commented on #939
This is really more of issue that needs to be cleared up in `aer` once it is out (@chriseclectic, @atilag).  Probably low priority for `terra` before then.

[2018-09-26 14:13] nonhermitian commented on #938
Marking this as high priority since the Deutsch and B-Z tutorials take forever to run.

[2018-09-26 14:22] jaygambetta commented on #938
Is this python vs c++. If not then this should go into aer when it comes out rather than changing the internals of the simulator.

[2018-09-26 14:35] nonhermitian opened #946 "Bug when plotting circuit with specific initial vector"
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
From the 'Basic Quantum Operations' tutorial:

[code]

gives

[code]
from the call to `circuit_drawer`
### Steps to reproduce the problem

Run the 'Basic Quantum Operations' tutorial, or the above code from that notebook.

### What is the expected beh

[2018-09-26 14:43] nonhermitian commented on #938
c++ sim does not sample the circuit like it should.

[2018-09-26 14:45] nonhermitian commented on #938
Related to #666, but the barrier is explicitly added here, and it still seems not to sample.

[2018-09-26 15:19] nonhermitian commented on #938
Actually it seems that my cpp simulator is no longer being found.  So it is the Python version that is running here.

[2018-09-26 15:19] #938 closed

[2018-09-26 15:38] nonhermitian commented on #938
Yes, it is fixed.

[2018-09-26 16:06] chriseclectic commented on #939
I'm hoping that by switching from subprocesses to cython in Aer this will be automatically handled by cython...

[2018-09-26 16:29] nonhermitian commented on #946
This is because `qc.initialize` is a composite gate, but the `circuit_drawer` calls the DAG generation routine as `DAGCircuit.fromQuantumCircuit(circuit, expand_gates=False)`, thus throwing an error because`initialize` (called 'init') is not in the basis.

[2018-09-26 16:41] jaygambetta commented on #946
This is more reason the drawer should not use the unroller and just draw from the circuit.

[2018-09-26 16:46] jaygambetta commented on #938
ok great. But this points out that when aer comes out what is the point of the python.

[2018-09-26 17:06] nonhermitian commented on #922
What is the problem with Matplotlib version 3?  I have been using it without issue for some time now.  The only problem I have is that the qiskit installer tries to downgrade my version, which then leads to an error in the older version for the matplotlib circuit drawer

[2018-09-26 19:18] mtreinish opened #949 "Running python tests on fresh clone of master fail"
### Informations

- **Qiskit Terra version**: Latest master
- **Python version**: 3.7
- **Operating system**: Linux

### What is the current behavior?

Cloning a fresh copy of qiskit-terra and running from a clean venv (with just the requirements installed) fails with the following errors from the vcr/backend tests.

[code]

### Steps to reproduce the problem

1. `$ virtualenv3 test`
2. `$ git clo

[2018-09-26 20:05] mtreinish commented on #939
@nonhermitian can you give https://github.com/mtreinish/qiskit-core/commit/dea9f72e7b6aa28a29288f1d7a87304d48d430c0 a try? I'm not sure if that will fix what you were observing or not. I was having a hard time reproducing this locally with or without the patch (I might just not have the cpp simulator setup properly or something).

[2018-09-27 01:29] qruzar opened #951 "Add parameter to reverse the order of the classical register"
### What is the expected behavior?

Currently, the classical register stores counts with a label written in the following immutable ordering

![1](https://user-images.githubusercontent.com/14854311/46118029-7265e580-c1fc-11e8-85ff-c0f4d916f1c7.png)

I'm guessing this convention was probably chosen because it nicely matches the binary representation of an integer, i.e.

![2](https://user-images.git

[2018-09-27 08:38] delapuente commented on #949
Is it possible the cassetes went out of date @1ucian0?

[2018-09-27 08:47] delapuente commented on #922
Following yours and Diego's recommendation https://github.com/Qiskit/qiskit-terra/pull/921#issuecomment-423256570 and given that there is no test suite that stresses our visualizations or compares if the representations are preserved between versions. So this should be done manually. If you have performed these tests, bump the version in the `requirements.txt` and we can close the issue.

[2018-09-27 08:50] delapuente commented on #946
Totally agree with @jaygambetta

@nonhermitian, calling `fromQuantumCircuit()` differently solves the issue?

[2018-09-27 08:51] delapuente commented on #934
@mtreinish is this a Qiskit dependency? If so, we should update the version in the `requirements.txt` and `setup.py` files.

[2018-09-27 09:21] nonhermitian commented on #946
Removing `expand_gates=False` fixes this issue. It seems that the `0.5.7` drawer automatically expanded to the basis set.  So this would be a temp fix.  However, to do what @jaygambetta wants, requires more work.

[2018-09-27 09:30] nonhermitian commented on #922
I have updated most of the tutorial notebooks and found no issues that arise because of the use of mpl-3.  Thus, I have bumped the version in #953.

[2018-09-27 10:26] #940 closed

[2018-09-27 12:18] delapuente commented on #946
Not passing `expand_gates=False` has two main issues. First, it re-introduces #732 and the following code will break:

[code]

It breaks indicating somehow that it cannot expand `snapshot` nor find it inside the opaque declarations:

[code]

The extension mechanism of Qiskit circuits is flawed as it is reported in https://github.com/Qiskit/qiskit-terra/issues/732#issuecomment-413505414 and https:/

[2018-09-27 12:33] nonhermitian commented on #946
Well, one of our current core tutorials is broken because of this. @jaygambetta do you want me to modify the tutorial notebook?

[2018-09-27 15:58] #922 closed

[2018-09-27 16:27] 1ucian0 commented on #909
I worked on some initial ideas about this here: https://github.com/1ucian0/qiskit-terra/tree/ascii_visualizer

I'm leaving this here because I'm switching gears right now and it might be useful. For now, it works like this:
[code]
Output:
[code]
Compare with the LaTeX output:
<img width="302" alt="screen shot 2018-09-27 at 9 45 07 am" src="https://user-images.githubusercontent.com/766693/46160326-

[2018-09-27 17:13] jaygambetta commented on #909
can we make it a filled in circuit for the cnot. Open means controlled on 0. I am not sure if there are an ascii. Also, could you make a circuit with all the operations (i did in the tutorial list them all) and then I can let you know if the gates make sense visually.

But this looks great.

[2018-09-27 18:08] balewski opened #954 "NewConnectionError Errno 111 Connection refused"
### Informations

- **Qiskit Terra version**:0.5.7
- **Python version**: 3.6.5 |Anaconda
- **Operating system**:Ubuntu 18.04.1 LTS

### What is the current behavior?
After I execute this code against the IBM backend : ibmqx4 or ibmq_16_melbourne

`job = execute(self.qc, self.backend, shots=args.shots, max_credits=3)
        while not job.done:
            time.sleep(20)
            jobState=job.st

[2018-09-27 18:23] ajavadia opened #956 "Need a dag visualizer"
### What is the expected behavior?
A dag visualizer is important for developing transpiler passes. It should be easy to use like the circuit visualizer.

[2018-09-28 03:41] ajavadia commented on #946
@nonhermitian can you just modify the notebook for now to remove visualization of circuit containing initialize? We need to modify the drawer to not unroll, and to also handle custom gate drawing. This will take a little bit longer.

[2018-09-28 10:16] nonhermitian commented on #946
Ok

[2018-09-28 13:36] 1ucian0 commented on #909
Because it is hard to guarantee the console's charset, I would like to keep the minimum set to extended ASCII. In other words, characters from here: https://theasciicode.com.ar/

Here, some options:
[code]

[2018-09-28 15:19] #933 closed

[2018-09-28 15:56] diego-plan9 commented on #699
Closing this issue, as the original plan has been changed.

[2018-09-28 15:56] #699 closed

[2018-09-28 17:03] #925 closed

[2018-09-28 17:05] jaygambetta opened #957 "follow to #948 drop CPP from the best simulator class name"
### What is the expected enhancement?
I don't want it showing cpp I would like it cpp to be the default and py added only if there is no cpp.

[2018-09-28 17:06] jaygambetta opened #958 "follow up from #948 add a remove_all_accounts() command"
### What is the expected enhancement?
removed many accounts are annoying we need a remove_all command

[2018-09-28 17:08] jaygambetta opened #959 "follow up #948 filter in load_accounts"
### What is the expected enhancement?
I would like load_accounts(hub='hub', group = 'group',  project='project')

[2018-09-28 17:15] dongreenberg commented on #957
I want to call out something related to this. I've run into an issue where I was setting my backend to "local_statevector_simulator" and did not realize that the simulator was failing gracefully to the python simulator because the cpp was not compiled correctly. It took me several days to figure out why my code was executing so slowly. Now I only set my backend to "local_statevector_simulator_cpp"

[2018-09-28 17:43] jaygambetta commented on #957
In Aer, we should tell the user that is using a slow one or something. I would rather not even have the python if the cpp always works. The Python should slowly go away as it does not have all the features.

For now i want the default name to be without an extension.

[2018-09-28 17:45] jaygambetta commented on #755
@delapuente and @ajavadia I think we make this 0.7.

[2018-09-28 17:46] jaygambetta commented on #649
can this be changed to 0.7

[2018-09-28 17:47] jaygambetta commented on #541
is this done for 0.6 @delapuente and @diego-plan9

[2018-09-28 18:12] jaygambetta commented on #930
i think this should not be in terra but a global repo

[2018-09-28 18:18] jaygambetta commented on #909
I would like the solid.

Also i think all the gates should be capital.

Measurement can we have a box around a capital M

[2018-09-28 18:31] mtreinish commented on #958
@jaygambetta oh sorry, I didn't see that you assigned this to yourself. I just saw it was filed and pushed up a patch to implement it.

[2018-09-28 18:34] nonhermitian opened #961 "Calling IBMQ.load_accounts() twice should give warning, not exception"
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Calling `IBMQ.load_accounts()` twice gives an Exception.  However, in notebooks, it is common to just run multiple cells (or whole notebooks) repeatedly.  Raising an exception breaks this convenient workflow.  A similar issue, #673 , was raised and co

[2018-09-28 18:48] #956 closed

[2018-09-28 20:09] 1ucian0 commented on #909
The name of the default basis is in lowercase letters, are you sure you want to transform all the box labels to capital?

[2018-09-28 20:10] 1ucian0 commented on #909
cx changed to solid in 02297f4

[2018-09-28 20:29] 1ucian0 commented on #909
Name are capital in b343bba

[2018-09-28 20:30] 1ucian0 commented on #909
New iteration:
[code]
output:
[code]

[2018-09-28 21:31] jaygambetta commented on #909
Cool. The capital is just for visualization. Maybe I agree with you but then we have to change all the others (latex) given our convention in gates that lower case are derived gates of the fundamental U and CX.

All the standard gates have a latex representation that we should try to follow.

Second ccx should be like the cx with two black controls.

[2018-09-29 00:13] #958 closed

[2018-09-29 11:39] #959 closed

[2018-09-29 11:54] jaygambetta opened #965 "follow #948 update the python examples"
### What is the expected enhancement?

[2018-09-29 11:56] jaygambetta commented on #957
@ajavadia are you going to do this

[2018-09-29 11:58] jaygambetta opened #966 "Finalize changelog for 0.6 release"
### What is the expected enhancement?

[2018-09-29 11:58] jaygambetta commented on #966
@diego-plan9 can you list all the things we need to do here.

[2018-09-29 13:45] diego-plan9 commented on #541
I think so - the only remaining item is already in its own issue ( #649) and it's basically for tracking (and after 0.6), so it makes sense to close this one. Thanks everyone for the big effort on introducing `Qobj`, it has been quite an accomplishment for the whole team :tada:

[2018-09-29 13:45] #541 closed

[2018-09-29 13:53] diego-plan9 commented on #966
Sure - once #965 is in place, there should be not much left to be done, and they would be quite straightforward:
* go through the sphinx docs, making sure the examples are updated based on the ones in the README
* run `make doc` to check that no warnings are raised (malformed docstrings, etc), to ensure the uploaded documentation looks as expected
* routine changes on the changelog file (rename se

[2018-09-29 13:58] diego-plan9 commented on #755
I think it makes sense - at the moment, they still use the old result format internally, and make use of `result_from_old_style_dict()` for converting to the new result schema. Eventually they need to be updated, but since they _do_ work, let's assign it to the 0.7 milestone - @delapuente and @ajavadia , please revert if this is not correct.

[2018-09-29 14:06] diego-plan9 commented on #831
Temporarily added it to the 0.6 milestone, as it's the only item left in the checklist at https://github.com/Qiskit/qiskit-terra/issues/649 . I believe this is really a "tracking" issue and can be safely postponed to after 0.6, but prefer to wait for confirmation.

[2018-09-29 14:39] taalexander commented on #831
Please see #950. All tests pass when environment variables are set for staging `ibmq_qasm_simulator`.

[2018-09-29 20:29] #935 closed

[2018-09-29 20:34] jaygambetta opened #968 "update the readme with new example"
### What is the expected enhancement?
make the readme consistent with changes and wording parts.

[2018-09-29 20:36] jaygambetta opened #969 ".github CONTRIBUTING is out of sync"
### What is the expected enhancement?
This needs to be updated, these is a lot out of date.

[2018-09-29 20:40] jaygambetta commented on #969
for example, qiskit-sdk-py is still in some places and I can't get the simulator working for the examples folder so either this needs to be fixed or I'm insane. I'm voting on me being insane.

[2018-09-29 22:21] jaygambetta opened #970 "make python examples using_qiskit* and other examples run as a test"
### What is the expected enhancement?
Since the using_qiskit are to be use case examples we need to make them part of the tests. We would have found out that job.done was used and I'm hoping user did note make examples based on this when we make this release.

[2018-09-29 22:40] jaygambetta opened #971 "load_qasm_file and load_qasm_string should be part of circuits"
### What is the expected behavior?
The load_qasm_* should be part of the circuit object and not in the wrapper

```circuit(qasm_file)```

or

```circuit.load(qasm_file)```

[2018-09-30 03:32] ajavadia opened #972 "Need DeprecationWarning for compile() and execute() with string backends"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently we emit DeprecationWarning for `qiskit.get_backend()`, asking the user to use individual providers.

But we silently fix it when the user does `qiskit.compile(circuit, "backend_name")` and `qiskit.execute(circuit, "backend_name")`. We should probably guide the us

[2018-09-30 03:35] ajavadia commented on #957
@jaygambetta Yeah. I'll push a patch soon.
@dongreenberg I think a version of #383 will be included in Aer, to determine rough runtime constraints based on user's local hardware. It is a good idea to provide a message based on user fallback as well.

[2018-09-30 09:59] nonhermitian commented on #961
This issue was not fixed in #962.  A new Exception is now raised if `IBMQ.load_accounts()` is called twice:

[code]

[2018-09-30 11:13] jaygambetta commented on #972
I’m going this in examples

[2018-09-30 16:35] jaygambetta opened #978 "inputs to global execute and compile"
### What is the expected behavior?
I want to discuss the inputs to the global execute and compile.

currently

[code]

I want to argue anything like `basis_gates, coupling_map` which are part of the backend should not be possible to pass to execute. As it runs on one backend and compiles to that backend.

Others like
`initial_layout, shots, max_credits, seed`  should be as these are user setups.

[2018-09-30 16:37] jaygambetta commented on #978
basically, I want the first case to be an example of using_qiskit_terra_level_0 and the second using_qiskit_terra_level_1 and level_2 with pass_management we do later.

[2018-09-30 19:44] #957 closed

[2018-09-30 21:39] ajavadia opened #980 "IBMQ account adminstration is a bit unclear"
### What is the expected enhancement?
This is how things are done now:
[code]

I see the following problems:
1- I think `save_account` instead of `add_account` is more appropriate for saving to disk
2- `remove_accounts()` and `remove_account()` should be merged. I think we can just have `remove_accounts()`, which can take a single credentials or a filter on hub/group/project. Leaving empty removes

[2018-09-30 21:49] jaygambetta commented on #978
- execute is a wrapper that given a backend, creates compile parameters for that backend (level 0)
- compile is a wrapper that given some compile parameters, creates a pass manager with custom passes (e.g. UnrollPass(basis=‘u1, u2, u3’) (level 1)
- transpiler takes a pass manager and executes through its scheduled passes (level 2)

[2018-09-30 21:51] jaygambetta commented on #978
do make it simple for the user level 1. we make a function

[code]

[2018-09-30 22:04] jaygambetta opened #981 "update example visualizing_circuits"
### What is the expected behavior?
when the ascii drawer is in place update the `visualizing_circuits.py` example and show it using circuit.draw()

as for me on a mac I cant user matplotlib with just python. Need to use the pythonw.

[2018-09-30 23:42] jaygambetta opened #982 "follow on from #977 example teleport"
### What is the expected behavior?
The teleport example is moving the qubits around. We should make it use a desired_layout. This is a bug but let's fix after release.

[code]

[2018-10-01 00:06] jaygambetta commented on #954
do you use a proxy there?

[2018-10-01 00:06] jaygambetta commented on #954
@diego-plan9 could you have a look at this.

[2018-10-01 00:09] #932 closed

[2018-10-01 00:14] jaygambetta commented on #880
i am not clear if this is an unroller or a passer issue. To me the passer should not use the unroller and as such not need the transpiler and just be part of the parser or circuit object.

[2018-10-01 00:15] jaygambetta commented on #875
again is this an issue of the parser of the unroller.

[2018-10-01 00:30] balewski commented on #954
Hi Jay,
how would I know?  The problem shows up when I try to connect from NERSC
http://www.nersc.gov/ <http://www.nersc.gov/>
They have many layers of fire walls - I'm sure.
But as stated in the ticket I can connect from NERSC, just it is likely the connection will be terminated after few minutes, while  from home all works for many hours.
I talk to the local expert and they told me  nothing is b

[2018-10-01 00:33] jaygambetta commented on #268
I am going to close this as when get aer out the src will go and then i think there are other places chasing the test.

[2018-10-01 00:33] #268 closed

[2018-10-01 00:58] jaygambetta commented on #980
@ajavadia your killing me. I have to say I agree with you but lets put more fire on the qiskit 0.6 update.

Are you sold on add vs use as that is all I used in the example? We could make the others and this would not break anything except documentation.

Saying this i think it is clear i need to make a backend example.

so would

[code]
The disable just does one like the use and delete is for the

[2018-10-01 01:03] ajavadia commented on #980
^ I concur. Will work towards this.

[2018-10-01 01:07] jaygambetta commented on #980
great. this breaks less and then i can make an example after highlighting the admin

[2018-10-01 01:11] 1ucian0 commented on #909
Shouldn't they be expressed in a QASM comment?

Oh. Indeed. It was just to test multiqubit gates, because #880. Fixed in 4adc382.
[code]

[2018-10-01 01:17] #961 closed

[2018-10-01 01:31] jaygambetta commented on #909
I mean all the ones in the latex drawer @ajavadia made have a representation like us quantum guys like to see them. I would follow that.

For example in your case above the crz is like a control-z(theta)

but this looks cool.

[2018-10-01 01:39] ajavadia commented on #909
Nice.

I think CX should be a control-X gate. Not a + sign. Similarly for CCX, etc.

Also the box that checks the classical condition: is that extensible to multiple classical bits? If so that's cool, it can check for example if a classical register is equal to `0x5`. But if not, and it always checks single bits against `0x0` and `0x1`, then I would just make that regular controls (black circle fo

[2018-10-01 01:43] jaygambetta opened #983 "Separate IBMQ from Qiskit Terra"
I would like to build a separate repo for IBMQ much like JKU.

I think the name should be
[code]

This would make terra not depend on the API. We can not do this until the API has the correct format.

[2018-10-01 02:10] jaygambetta opened #984 "remove tools/qcvv"
As we make terra more focuses on circuits and backends we need to push these tools to other elements. This will become part of qiskit ignis and we should start to make that transition.

[2018-10-01 02:12] jaygambetta opened #985 "Introduce `interactive_composer` which implements a composer in Jupyter."
@ismaelfaro as we discussed i think it would be nice to make a juypter composer. This would be much like the one we have online and you activate it  using

[code]

this would go under the wrapper/juypter folder and when you change gates it changes the circuit object you passed it.

[2018-10-01 02:15] jaygambetta opened #986 "decide on tools/qi"
Need to decide if qiskit/tools/qi is needed. When the other tools go into different elements is there any need for keeping this around.

[2018-10-01 03:07] #965 closed

[2018-10-01 03:07] #969 closed

[2018-10-01 03:07] #972 closed

[2018-10-01 03:17] ajavadia commented on #930
This is the same issue as #325. Let's track there and follow up on that conversation.

[2018-10-01 03:17] #930 closed

[2018-10-01 06:18] delapuente commented on #650
Which one? Is it merged?

[2018-10-01 07:29] t-imamichi commented on #931
Hi. @nkanazawa1989 and I will check the code.

[2018-10-01 08:13] nkanazawa1989 commented on #931
This is not a bug, but we applied a different style sheet setting from the default one.

[code]

will give the same visualization result. We changed 'compress' option `True` in `qx_color_scheme()` to fit in with the default style. Thank you!

[2018-10-01 08:23] atilag opened #990 "Implement Pub/Sub mechanism to decouple."
### What is the expected enhancement?
The Pub/Sub (or Observer) pattern is widely used for decoupling components, keeping them lean and flexible.
Once implemented, this will help us to keep Qiskit core components (those who are meant to be used in every use-case), as decoupled and isolated as a possible.

[2018-10-01 08:27] jaygambetta commented on #990
@atilag can you give some example code. I think this is mainly for the job/banckend so let's add this to the project for backends

[2018-10-01 10:13] nonhermitian commented on #954
Try running:

[code]

If it returns `True` then you can reach our servers, if `False`, then it is a connection problem at your institution.

[2018-10-01 10:48] nonhermitian opened #992 "Check if connection exists before calling QX API"
### What is the expected enhancement?
As detailed in #954, it takes several minutes before the QX API reports an error in trying to connect to the QX servers if no connection can be established, and the error message is not very helpful.  I have experienced this myself.  Instead, it is possible to first check if a remote connection can be established, and then raise and exception with a more detai

[2018-10-01 12:40] jaygambetta opened #993 "Adding a job_monitor"
I would like to make a job_montior function that i can call on a job object.

The idea would be to replace
[code]

with
[code]

I think this should live in wrapper or tools and be its own module. I would like it to use the std output when run from the command line or within a juypiter notebook update in the html (or something similar). I would also like to have it almost like an app that I can hav

[2018-10-01 12:47] jaygambetta commented on #993
a PR was started bu @nonhermitian here #975 but I would rather it be external and take a job object.

[2018-10-01 12:48] jaygambetta commented on #993
@atilag i think this is a good candidate for pub/sub as in #990

[2018-10-01 12:49] jaygambetta opened #994 "Adding a backend_overview"
I think it is important to be able to view the backend status. I find myself writing this code lots

[code]
and even this is not enough. I would like to be able to have a terminal or a section of my Juypiter (or even app) telling me continually the backend status.

I would like to write something like

[code]

and this makes an output for me like

[code]
I think we need to add 'provider': 'IBMQ' (

[2018-10-01 13:01] jaygambetta opened #995 "Adding a account_activity"
I would like to have a function that tells me all about my jobs

[code]
activity
This would return a table of

job_id'
'backend_name',
'provider'
(for IBMQ hub, group, project)
'status'
'job_message' something human readable to add to the qobj of my job.

I would have all my jobs or show in order of last submitted the last 100 jobs (even completed ones so I can grab them back if I want)

If it is

[2018-10-01 13:44] jaygambetta opened #996 "Correctly validating that AER and IBMQ support the methods and field types for every device and simulator"
### What is the expected behavior?
This is related to #1047 but the difference is I want to have a way that I can easily see that the provider is a valid provider for terra.

The idea is that it should return data that passes the schemas

- [x] backend_configuration_schema.json
- [x] backend_properties_schema.json
- [x] backend_status_schema.json #1301
- [ ] default_pulse_configuration_schema.json

[2018-10-01 13:58] jaygambetta commented on #994
This will need to also have for IBMQ hub, group and project

[2018-10-01 17:14] nonhermitian opened #1001 "Running tests locally kills the IBMQ credentials in qiskitrc"
### Informations

- **Qiskit Terra version**: lastest master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Running the test suite resulted in my public IBMQ credentials being removed from my `qiskitrc` file.  Note that I also have another account stored that appears to be untouched.

### Steps to reproduce the problem

### What is the expected behavior?

[2018-10-01 20:54] ajavadia commented on #980
Slight changes to the above after discussions:

[code]

[2018-10-01 21:01] balewski commented on #954
Hi,
To be clear, my issue is not the initial connection to IBM - this ~always works.
Below is test you suggested. The output of your has_connection(..) is true, also I can register w/ IBM.

But the issue is, when I submit a computational job, I essentially do:
- - -
register(qx_config['APItoken'], qx_config['url'])
qc=...
backend='ibmq_16_melbourne'
job = execute(qc, backend, shots=1024, max_credi

[2018-10-01 21:49] balewski commented on #954
I tried again and this is the content of   pprint(job.status)

Dorman: skip crashed job
{'job_id': '5bb29538c0bbcd004b2de827',
 'status': <JobStatus.ERROR: 'job incurred error'>,
 'status_msg': "HTTPSConnectionPool(host='quantumexperience.ng.bluemix.net', "
               'port=443): Max retries exceeded with url: '
               '/api/Jobs/5bb29538c0bbcd004b2de827?access_token=yOeL6hmRO4DL1LKrrj

[2018-10-01 22:44] jaygambetta commented on #954
Hi @balewski we are having some error that may be related in our update to code behind the api.

[2018-10-02 00:10] balewski commented on #954
I can wait - all works fine from home - please let me know when should I try again.
Thanks for looking in to it
Jan

[2018-10-02 02:18] jaygambetta opened #1004 "Provide a first-level `draw` function to depict circuits."

[2018-10-02 02:19] jaygambetta opened #1005 "Support getting counts, unitary, state vector and snapshot per circuit index."

[2018-10-02 02:35] #649 closed

[2018-10-02 07:56] #931 closed

[2018-10-02 11:27] jaygambetta opened #1008 "Define how and make sure results are ordering for correctly for circuits with 2 or more classical registers"
We need to make it clear for a user what register is associated with what output. Also in the dag and qobj we need to make sure the rule 1 register assigned is the first one and so on

[code]

The internal where making this change in #1007

[2018-10-02 11:42] jaygambetta commented on #1008
When results is done correctly the data will be a hex and then we will convert it to registers in qiskit.

Should we use first defined by user and order like
[code]

where its c2 c1 and c0. Or
[code]

[2018-10-02 14:22] nonhermitian opened #1010 "Rich display of backends in Jupyter"
### What is the expected enhancement?
Display backend status, configuration, and properties using ipywidgets in Jupyter notebooks.

<img width="993" alt="screen shot 2018-10-29 at 5 37 02 am" src="https://user-images.githubusercontent.com/1249193/47641603-dd2c7880-db3c-11e8-9881-d6d2e747c379.png">

<img width="642" alt="screen shot 2018-10-29 at 5 37 14 am" src="https://user-images.githubuserconte

[2018-10-02 14:29] 1ucian0 commented on #831
Waiting for merging #997

[2018-10-02 14:36] 1ucian0 commented on #968
waiting for merging #1000

[2018-10-02 14:37] 1ucian0 commented on #980
Waiting for #1000 to be merged.

[2018-10-02 17:18] #980 closed

[2018-10-02 17:18] #1001 closed

[2018-10-02 21:55] mtreinish opened #1012 "Add tox support for running tests and linting"
### What is the expected enhancement?

Tox is a nice tool for automating testing: https://tox.readthedocs.io/en/latest/ It enables automatically creating isolated environments for running tests by building a venv with all the requirements and then run test commands. In my experience it's real usefulness just comes from repeatability though. It makes it much easier for developers to run tests the s

[2018-10-02 21:58] mtreinish commented on #1012
For examples of other projects where this is used you can take a look at:

- https://github.com/home-assistant/home-assistant
- https://github.com/openstack/nova/
- https://github.com/pytest-dev/pytest
- https://github.com/PyCQA/pylint

All you need to do to run tests and style checks for all those projects is clone the repo and run `tox`

[2018-10-03 01:42] 1ucian0 commented on #909
Right now, this is the behavior for conditionals. Is this what you have in mind?
[code]
Output
[code]

[2018-10-03 14:27] ss2165 opened #1015 "_matches_coupling_map seems to check single qubit ops too and fails"
### Informations

- **Qiskit Terra version**: 0.6.0
- **Python version**: 3.6
- **Operating system**: macos

### What is the current behavior?

Using _matches_coupling_map breaks and returns false at first single qubit op as single qubits are not in the coupling map

### Steps to reproduce the problem

Run the function on a dag

### What is the expected behavior?

Ignore single qubits ops

### Sug

[2018-10-03 14:34] delapuente opened #1016 "The `test_online_qasm_simulator_two_registers` is failing in master"
### What is the current behavior?
The test is failing in the `master` branch with the following error:

[code]

### Steps to reproduce the problem
The failure is intermittent. It seems related with running all the test suite. When running isolated, it seems not to be failing.

### What is the expected behavior?
The test should pass regardless of other tests.

### Suggested solutions
It will be tem

[2018-10-03 14:45] nonhermitian commented on #1016
It finally failed for me locally in the tests. However, I ran the test 1000 times by itself and could not reproduce it

[2018-10-03 16:54] ajavadia commented on #1015
Thanks @ss2165! This is a good catch. Can you please submit your PR?

[2018-10-03 18:10] diego-plan9 commented on #968
Closed by #1018

[2018-10-03 18:10] #968 closed

[2018-10-03 18:15] mtreinish opened #1019 "Using simulator instructions crashes the latex drawer"
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: 3.7
- **Operating system**: linux

### What is the current behavior?

Attempting to use the latex drawer to render a circuit with simulator instructions stack traces in the dagunroller. For example:

[code]
It looks like it's trying to treat the snapshot instruction as a gate (which it's not) and that's causing thing

[2018-10-03 19:55] #966 closed

[2018-10-04 01:48] jaygambetta opened #1023 "The Qobj concept has gotten overly complicated."
I feel the qobj has become larger than what it was intended to be. I want it to be a simple serialization of a list of circuits (an object that is dump that is sent to the api and decoded after).  I don't care if it is JSON, binary or email :-)

Basically, it should not exists until we run

[code]
and then I don't mind what it is but it does not include results or a results object. It is run on a

[2018-10-04 06:40] delapuente commented on #730
I sincerely think this is a great addition. Indeed we are reaching points where test execution is becoming a bottleneck and the lack of isolation is a source of tricky bugs.

[2018-10-04 07:47] delapuente commented on #732
This is not solved as pointed out in #1020. Re-opening.

[2018-10-04 07:48] atilag commented on #831
Gonna close the Issue, as seems like everything is already set up.

[2018-10-04 07:48] #831 closed

[2018-10-04 07:52] delapuente commented on #1019
This is a duplicate of #732.

[2018-10-04 07:52] #1019 closed

[2018-10-04 07:59] delapuente commented on #732
What is happening is that `DAGCircuit.fromCircuit(...)` adds the unknown gates used in the original circuit to the basis without extending them, which is the desired behaviour when you want the drawer to depict your circuit with accuracy (i.e, not expanding custom gates):

https://github.com/qiskit/qiskit-terra/blob/596fec0aa58bdda524472d4a749b227fe7ff7a39/qiskit/tools/visualization/_circuit_visua

[2018-10-04 08:38] delapuente commented on #732
What is happening is that `dag_circuit = DAGCircuit.fromCircuit(...)` in line 353 adds the unknown gates used in the original circuit to the basis without extending them, which is the desired behaviour when you want the drawer to depict your circuit with accuracy (i.e, not expanding custom gates).

But, just after, the instruction `json_circuit = transpile(...)` in line 354 passes the basis passed

[2018-10-04 08:57] delapuente commented on #732
What is happening is that `dag_circuit = DAGCircuit.fromCircuit(...)` in line 353 adds the unknown gates used in the original circuit to the basis without extending them, which is the desired behaviour when you want the drawer to depict your circuit with accuracy (i.e, not expanding custom gates).

But, just after, the instruction `json_circuit = transpile(...)` in line 354 passes the basis passed

[2018-10-04 09:06] #1015 closed

[2018-10-04 14:45] balewski opened #1030 "executed circuit has random component"
### Informations

- **Qiskit Terra version**:'0.5.7'
- **Python version**:Python 3.6.5
- **Operating system**:Ubuntu 18.04.1 LTS

### What is the current behavior?
Multiple execution of the same 'requested' circuit on the same quantum device results with a different sequence of executed gates. There is same random process changing the list of executed gates.
It prevents reproducibility of calculat

[2018-10-04 14:47] nonhermitian commented on #1030
You need to pass a fixed seed value to execute. The swap mapping is stochastic.

[2018-10-04 14:49] ajavadia commented on #1030
Yes, and in particular finding the "minimal" sufficient circuit is an NP hard problem. We use heuristics to reduce the number of gates, and this process is stochastic. @nonhermitian correctly points out the fix if you want to get the same circuit every time.

[2018-10-04 16:40] psyhtest commented on #325
FYI: We are using QCK for our second [Quantum Computing Hackathon](https://www.meetup.com/London-Quantum-Computing-Meetup/events/254156028/) in London this weekend, with participants having priority access to IBM QX devices. (@quantumjim is going to be around.)

[2018-10-04 17:04] balewski commented on #1030
Thanks for quick response.Q1: So I want the seed to be 1234. How shall I change my code to set it so the sequence of gates is repeatable?Q2: what is the metric you use to decide if the circuit A is 'better' from circuit B?I want to run my program 100 x with 100 different seeds I can control. Each time I'll ask for your metric. Then, I'll pick the seed which gives me the smallest value. ThanksJanOn

[2018-10-04 17:04] balewski commented on #1030
Thanks for quick response.
Q1: So I want the seed to be 1234. How shall I change my code to set it so the sequence of gates is repeatable?

Q2: what is the metric you use to decide if the circuit A is 'better' from circuit B?
I will to run my program 100 x with 100 different seeds which I can control. Each time I'll ask for your metric. Then, I'll pick the seed which gives me the smallest value of

[2018-10-05 13:28] 1ucian0 commented on #909
Gates done? The one listed here: https://github.com/1ucian0/qiskit-terra/blob/ascii_visualizer/test/python/test_circuit_text_drawer.py

What's to do? The rest of this list: https://github.com/Qiskit/qiskit-tutorial/blob/master/reference/tools/quantum_gates_and_linear_algebra.ipynb

[2018-10-05 16:57] chriseclectic opened #1040 "Compile fails on some composite operations when unrolling to base U gates"
### Informations

- **Qiskit Terra version**: 0.6
- **Python version**: 3.7
- **Operating system**: MacOs

### What is the current behavior?

The following circuit fails to compile if basis gates does not include `u2`:

[code]

### Steps to reproduce the problem

Unrolling to  `basis_gates='cx'` gives the following error:

[code]

Unrolling to basis gates `basis_gates='u2,cx'`
[code]
returns the f

[2018-10-05 23:22] jaygambetta opened #1041 "remove warning when no latex"
WARNING Unable to complile latex. The output from the pdflatex command can be found in latex_error.log

i think we do not need to have this warning and we should fix the spelling.

I think we just default to latex -> matplotlib -> ascii

[2018-10-05 23:51] mtreinish commented on #1041
Well part of the issue here (aside from the typo which was my bad) is I think it's not very clear what is happening when you call circuit_drawer() (or plot_circuit()) there is no transparency into what's happening under the covers. So when doing the fallback to matplotlib from latex if you were expecting a latex drawing it would be a a bit jarring without any output to indicate why latex was not u

[2018-10-05 23:53] jaygambetta opened #1042 "add retrieve_job(jobID) to ibmq not backend."
I don't think retrieve_job should be associated with a backend. It is really associated with a queue in the IBMQ. I think in the future all jobs in IBMQ need a unique jobid but I would like to discuss this function a bit.

[2018-10-05 23:57] jaygambetta commented on #1041
yeah, I agree. I would like the default to be the ascii when we have it (but I know @ajavadia likes latex). and then the latex, matplotlib being inputted as you say.

[2018-10-06 16:47] ajavadia commented on #382
I have clarified the source of confusion in the tests via #1043.

Closing this, and we will discuss what to do with conditionals on single clbits separately.

[2018-10-06 16:47] #382 closed

[2018-10-07 01:56] balewski commented on #1030
Hi,
after inspecting your code I understood, I should just add seed value when executing the circuit on the backend. This indeed freezes the executed circuit, at least for  backend=ibmq_16_melbourne.
[code]
This solves my problem.
Jan

[2018-10-07 01:56] #1030 closed

[2018-10-07 05:22] balewski opened #1045 "ibmq_16_melbourne gives the wrong answer with probability 3:1"
### Informations

- **Qiskit Terra version**:'0.5.7'
- **Python version**:Python 3.6.5
- **Operating system**:Ubuntu 18.04.1 LTS

### What is the current behavior?
The circuit shown below  executed on ibmq_16_melbourne gives incorrect answer by a lot.

The requested circuit is:

[code]

Incorrect result is computed on ibmq_16_melbourne ,
'job_id': '5bb9958f4c87740053b27e2d',
{'counts': {'00': 3185

[2018-10-07 15:13] jaygambetta opened #1046 "Review of IBMQ, Backend and Job"
In making the IBMQ provider tutorial I have some questions. Also please go read that tutorial and help improve it.

- [x] Why Is IBMQ, backend, and the job got double methods when I tab autocomplete?

- [x] IBMQ.available_backends() -> note to remove when update and there is no deprecating warning
- [x] IBMQ.aliased_backend_names() -> if needed cant this be a hidden function
- [x] IBMQ.deprecated_

[2018-10-07 15:56] jaygambetta opened #1047 "Review the data fields from provider, backends, and job objects"
Going through the tutorial I noticed many things not the same as the spec. I will list them but I want to start the thinking about what needs to be done to get the spec and fields to match.

Obvious ones
- [x] backend.status
- [x] backend.configuration
- [x] backend.properties
- [x] job.status
- [x] job.results
- [x] generally i want to see some way that the schema are passing.

### backend.status

[2018-10-07 17:29] ajavadia commented on #1046
I don't see this. My tabs just show me the methods, and then i can autocomplete.

I agree with emitting a warning here.

Yeah these can be made into private functions with `_`, and hidden.

Yeah the `DeprecationWarning` serves as a note for us to remove them in the next release. We did this in 0.5->0.6 too.

I do think it's awkward to remember that `backend.name()` is method, but `backend.provider

[2018-10-07 17:32] jaygambetta commented on #1046
@ajavadi the notes for depreciation are just to remember to remove not to ask why. Sorry sir not being clear

[2018-10-07 17:35] jaygambetta commented on #1046
I get the concept of error_message but if you have a job in your history with an error when you grab it by job_id it does not show that with this method.  If an error happens while running we get the message while checking status.

It’s more if we keep it which I think we should we should make some examples and show it’s use.

[2018-10-07 19:44] ajavadia commented on #630
@awcross1 Your example works if you pass the data as a list not a set.
[code]
And in fact the[ documentation for the simulator says this should be list, not set](https://github.com/Qiskit/qiskit-terra/tree/master/src/qasm-simulator-cpp#table-of-config-options).

So unless there's a reason you would want to pass your config as set, I think this is expected behavior (not a bug).

[2018-10-08 01:52] jaygambetta opened #1048 "plot_circuit and draw_circuit combined"
I really don't see why we need two functions. I think the main reason is plot_circuit works from python scripts and circuit_drawer from juypter notebooks.

Is there a way we can just check in circuit_drawer the environment or something like that.

[2018-10-08 02:04] jaygambetta opened #1049 "making latex_circuit_drawer and matplotlib_circuit_drawer hidden functions."
Why do we need these, can't we just give circuit_drawer and option for this with a default to latex.

[code]
[code]

Also, why do we need  `generate_latex_source` cant it be
[code]

[2018-10-08 02:18] jaygambetta commented on #1041
I think this is part of #1049 as you point out. Let's just make it and input and you can make it what you want. I am going to close this and keep it tracked in #1049 as that will fix this warning.

[2018-10-08 02:18] #1041 closed

[2018-10-08 10:58] delapuente commented on #1046
Two things here:

The error handling of IBM Q jobs (including when to use `error_message`) is explained in detail in the `IBMQJob` documentation:
https://qiskit.org/documentation/_autodoc/qiskit.backends.ibmq.ibmqjob.html?highlight=ibmqjob#reference

Submit exists to separate initialization from other side effects such as sending something through the network, so doing this:

[code]

has become:

[2018-10-08 11:00] delapuente commented on #630
Closing this issue, feel free to reopen if you feel it is not solved.

[2018-10-08 11:00] #630 closed

[2018-10-08 11:02] delapuente commented on #1049
Because all of them are intended to be implementation strategies for `plot_circuit` and `draw_circuit`.

[2018-10-08 11:06] diego-plan9 commented on #1046
Quoting some of the points, Ali's style:

Hmm I also can't reproduce it - can you give more info? If you are referring to the deprecated methods (as in, showing `available_backends()` and `backends()`) inheritance might play a part in it (and would be related to other points, as Ali mentioned).

The deprecation warning was intentionally not added for "end user convenience", as a warning is already

[2018-10-08 12:00] jaygambetta commented on #1046
Cool. I think most agree with me for most things to fix. I make a screeen shot of what I see for the double methods.

I get the error_message but try to retrieve a job that has an error.  There is no message. I have not found a use case where the error message is needed as if it breaks on run I get that error already. I like the idea but I want a use case to highlight in the tutorial and I like th

[2018-10-08 12:54] diego-plan9 commented on #834
Seems this was closed by #886 - please reopen otherwise.

[2018-10-08 12:54] #834 closed

[2018-10-08 13:27] taalexander opened #1050 "IBMQ Provider Documentation is unclear/incorrect"
### Informations

- **Qiskit Terra version**:0.6.1
- **Python version**:
- **Operating system**:

### What is the current behavior?
-  [enable_account documentation](https://qiskit.org/documentation/_autodoc/qiskit.backends.ibmq.ibmqprovider.html?highlight=enable_account#qiskit.backends.ibmq.ibmqprovider.IBMQProvider.enable_account) is unclear.

[code]
The first and second sentence can be interpre

[2018-10-08 13:32] diego-plan9 commented on #978
hpc, skip_transpiler, config i have no idea what they are. If you do feel free to let me know and discuss here how they are used.

* `hpc`: this traces back to https://github.com/Qiskit/qiskit-terra/commit/45a3f6457eec53a2c0f9c117350b070473b664a8, with the introduction of the hpc simulator, but currently the `hpc` value is not added to the produced `qobj`s. There is an open issue for clarification

[2018-10-08 14:09] jaygambetta opened #1052 "backend.set_config(confg) or backend.run(qobj,conf)"
For backends that are configurable with optimizations options, we would like to pass them in a dictionary of parameres that will be specified by the backend.

@chriseclectic  will add some examples below.

Until the official release of Aer, this would include the `hpc` parameter and measurement sampling.

 The code would be

[code]
Tasks
- [x] Set up a settings method consistnet with AER updates

[2018-10-08 14:09] jaygambetta commented on #978
I vote to remove. I made and issues #1052 to handle this.

[2018-10-08 16:40] #1050 closed

[2018-10-08 18:57] chriseclectic commented on #1052
An example of a config for the in development Aer statevector/qasm simulator would be along the lines of:

[code]

Each backend in general will have its own optimisation settings, which could be specified in a dictionary or schema.

Measurement sampling will be done automatically be any backend that supports it (which will be all Aer backends that support measurement while simulating without noise

[2018-10-09 01:01] jaygambetta opened #1057 "backend.validate(qobj)"
I would like to have a command to check that a qobj can be run on a backend.

I want to be able to go
[code]
and what this does is sends this to the backend and the backend does some simple checks.

1. All the instructions are in its gate set or allowed by the connectivity
2. is the number of circuits small enough
3. the depth is not too long

I am not sure about the return type I would personally

[2018-10-09 01:09] jaygambetta commented on #1057
@nonhermitian can you add to this the requests you have received about this as well.

[2018-10-09 01:14] jaygambetta commented on #769
I think this should be closed and tracked in #1052 @diego-plan9 do you agree

[2018-10-09 02:52] #1048 closed

[2018-10-09 02:52] #1049 closed

[2018-10-09 03:46] ajavadia commented on #1023
I think the main point here is to try as much as possible to not make Qobj a full-scale class with methods, etc. At this level it should be as close to the serialized json as possible. When we have to, we make methods that consume qobj and spit out other things (circuits, validated bool, another qobj version). This makes sense to me.

Also I agree that with result, we can similarly have methods to

[2018-10-09 04:11] ajavadia opened #1058 "Issues with unified circuit drawer"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
I think the following should be fixed regarding the merge of #1055:

1- Remove `DeprecationWarning`: This is a bit annoying as it gets printed all the time. I think deprecation warnings should be about something the user should update in their code. Here, we are just annou

[2018-10-09 08:44] diego-plan9 commented on #1052
Thanks @chriseclectic - is there a schema already defined or mentioned in the specs? Also, how would the _current_ hpc parameters fit in your example:
[code]

[2018-10-09 09:29] diego-plan9 commented on #1057
For Aer, most (if not all) of the simulators do have a private `backend._validate()` method which we can "promote" to a first-class citizen indeed.

I'm more curious about the remotes, which are arguably the ones where this validation provides real value. Does it basically imply that we need help from the API (ie. a new endpoint) in order to perform those simple checks, to avoid hard-coding values

[2018-10-09 09:43] LionSR commented on #623
Hi, any updates on this?

[2018-10-09 10:43] diego-plan9 commented on #1023
Lots of things and implications in this issue!

and then it no longer is used and its flow has ended.

That seems pretty close to what [we already have](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/_transpiler.py#L96) - I'm assuming it was some sort of recap?

It might be a matter of naming or structuring. For context, the `QobjFoo` classes can probably be though as "contai

[2018-10-09 10:57] jaygambetta commented on #1058
For 1 when we have the ascii can we  make that the default.

[2018-10-09 11:17] jaygambetta commented on #1057
I think this needs to call the remote.

[2018-10-09 11:57] jaygambetta commented on #1052
I don’t mind on naming. I think make that work with Chris.

[2018-10-09 13:17] mtreinish commented on #1058
@ajavadia for 4. I just tested the interactive kwarg on my desktop with both latex and python outputs and both opened a new window with the generated circuit drawing. So I'm not sure what's going on there, maybe something on mac or different on your system with the PIL library.

[2018-10-09 13:17] #825 closed

[2018-10-09 13:19] jaygambetta commented on #1052
I think the case you bring up is a problem.

@chriseclectic why can't we use

[code]

[2018-10-09 13:20] jaygambetta commented on #1052
of we have

[2018-10-09 13:30] jaygambetta commented on #1023
OK, Many points.

0. The overview is just for reference and trying to establish what qobj is.

My view is
[code]
should be
[code]

and

[code]
should be
[code]
This is the main point philosophy Qobj is the object to run not the handler. If we change the input then we change this but if we change the output that goes into results. I want to decouple input and output.

1.  Schema. I agree its there

[2018-10-09 13:35] jaygambetta commented on #1057
I don't think so I would like to run a small calculation before we add it to queue to see that it would run.

[2018-10-09 13:50] delapuente commented on #1057
This is tracked in #871: an outgoing Qobject must pass two schema validations (that can be generalized to two general validations).

Anyway, @jaygambetta, I would want to understand what are the advantages of providing this "try and send" workflow instead of the simpler: `backend.run(circuit)`?

[2018-10-09 13:58] jaygambetta commented on #1057
this is not a schema validation. It is a resource calculation on the qobj that depends on the backend. Ie if i'm hardware that only support x gates it will say the qobj will not run.

For the Clifford simulator, it would check all that gates are Cliffords.

 There are things we can do that don't waste the time off being in the queue that will let you know the job will fail or not be useful. curren

[2018-10-09 13:59] delapuente commented on #1046
Can you file a bug with this? I think the job is extracting the error from the web API, it should say something!

[2018-10-09 14:14] chriseclectic commented on #1052
@diego-plan9 yes its not set in stone, so  i think it makes sense to include the current ones as top level options like you say. I also agree the naming is a bit confusion: currently there would be the backend config, the qobj config set with execute/compile, and the backend configuration information itself.

@jaygambetta while you could to add the ability to go `backend.run(qobj, backend_config)`

[2018-10-09 14:27] jaygambetta commented on #1052
Then when you make a new backend as @diego-plan9 gives you need to wipe the config so then it needs to have some internal state that holds the config. This is ok for local backends but for remote you need to send the message to set it up and that does not happen until you activate run.

[2018-10-09 14:29] jaygambetta commented on #1046
after we add to https://github.com/Qiskit/qiskit-tutorial/blob/c763c706244d732faa96d6bcd4838302f3d33367/qiskit/basics/the_ibmq_provider.ipynb a use case I submit a bug. But first, I want to highlight its use.

[2018-10-09 14:32] 1ucian0 commented on #730
Might this affect VCR?

[2018-10-09 15:15] chriseclectic commented on #1052
Each backend should have default settings for anything you can set in the config, so that if you don't set a customized one the default will be used.

[2018-10-09 15:30] 1ucian0 commented on #1052
`max_credit` should be part of the ibmq configuration.

[2018-10-09 15:33] ajavadia commented on #978
Let's also remove the `max_credits`, since it is IBMQ specific and the global `compile`/`execute` should not have args for it. It should be part of `backend.set_config()` (a la issue #1052 ).

[2018-10-09 15:37] ajavadia commented on #305
This is fixed in #1043.

[2018-10-09 15:37] #305 closed

[2018-10-09 15:43] chriseclectic commented on #1052
The `seed` kwarg could also go here for simulators too.

[2018-10-09 16:08] #732 closed

[2018-10-09 18:55] ajavadia commented on #623
@LionSR Qiskit Aer will be released in a month or two and will have the features you want in terms of noise models. About approximation of error channels, see this paper:
https://arxiv.org/pdf/1207.0046.pdf

[2018-10-09 23:24] yangjy0826 opened #1062 "Remote backend has a wrong result (local simulator has a correct one)"
### Informations

- **Qiskit Terra version**: 0.6.0
- **Python version**: 3.6
- **Operating system**: Win64

### What is the current behavior?
I am working with the Bell State programme ([link](https://github.com/Qiskit/qiskit-terra/blob/master/examples/python/hello_quantum.py)).
I found that my local simulator's result was correct, like this:
[code]
But when I run it on your backends (the least b

[2018-10-09 23:28] nonhermitian commented on #1062
The answer is not wrong. It is what you would expect from running on a noisy quatum device.

[2018-10-09 23:34] yangjy0826 commented on #1062
OMG thank you for your quick answer! I finally realize how stupid this question is... It is so funny that I have been working on it for a whole night haha.

[2018-10-09 23:45] #1062 closed

[2018-10-09 23:54] ajavadia commented on #1058
Ok. I think I'm fine with the warning now. It highlights the new `output` argument.

I guess a source of confusion can be that `output='python'` won't do anything unless `%matplotlib inline` is set in Jupyter. Should we call this `output='matplotlib'` so the user at least knows the underlying plotting mechanism?

Regarding 4: I'm not sure.
```circuit_drawer(circ, output='python', interactive=True)

[2018-10-10 00:10] jaygambetta commented on #1058
What did you run in. It does for me with pythonw

[2018-10-10 00:10] ajavadia commented on #1052
I think `histogram` should be here too. By default it is True, to limit the amount of data sent over the network. Setting it to False, the per-shot measurements ("memory") is returned.

[2018-10-10 00:10] jaygambetta commented on #1058
I do want to make the default

[code]

[2018-10-10 00:12] jaygambetta opened #1063 "result.get_memory() command"
We have many requests to have the random numbers streamed in memory.

The basic idea is to get something to run like

[code]
then we go

[code]
outcomes will be

[code]

- [ ] make sure the experiment can work with it @taalexander  is doing this
- [ ] pass the api
- [ ] qiskit function exists to get_memory

[2018-10-10 00:13] ajavadia opened #1064 "Backends do not report per-shot measurements"
### What is the expected enhancement?
We need to return per-shot measurements from the backends. Use cases include random number generation.

To support this, we should update the two local qasm simulators, the IBMQ backends, and the result object.

[2018-10-10 00:18] ajavadia commented on #1064
closing as duplicate of #1063

[2018-10-10 00:18] #1064 closed

[2018-10-10 00:19] jaygambetta commented on #1052
@chriseclectic can we stop saying seed and say

[code]
and
[code]

[2018-10-10 00:36] jaygambetta commented on #1052
but really @diego-plan9 we need to discuss the architecture not what should be there. Can we get back to the flow.

[2018-10-10 00:38] ajavadia commented on #1057
Other examples of backend.validate() (i.e. things that cannot be checked with schema):
- For some devices and simulators, check all measurements are at the end.
- Check local hardware spec and give a warning if it cannot handle an Aer simulation (too many qubits, circuit too deep).

[2018-10-10 00:38] #1058 closed

[2018-10-10 00:39] ajavadia commented on #1058
I ran in Jupyter. Ok I close this issue with the patch in #1061.

[2018-10-10 00:42] jaygambetta commented on #1063
need to do #1052 first

[2018-10-10 02:43] ajavadia commented on #1063
But do we agree that the measurement-level that the backend returns is set via `backend.update_settings()`? The other option is to use qobj to ask the backend for a particular level.

I like the update_settings, because this is not part of the payload of the experiment.

But if we agree on this, then we should update the spec/schema so that we do the same for openpulse. Currently, openpulse qobj h

[2018-10-10 02:47] jaygambetta commented on #1063
Sure we should update. I think this is how we have to update a configurable backend.

[2018-10-10 02:49] ajavadia commented on #1063
It gets a bit messy, because the discriminators **are** part of qobj. So it's not a simple post-processing like in the case "memory"/"counts".

[2018-10-10 02:59] jaygambetta opened #1065 "backend.view_jobs()"
Many times we want to be able to view the jobs we have ran and save on the cloud.

In the spec, we defined a  backend.jobs() method which returns job objects. The problem is if this returns a job object then service that requires the job to be deleted after it has been called it removes it from the cloud. Since the use case is just to have a way of checking on all my jobs

[code]
[code]
I suggest

[2018-10-10 03:11] jaygambetta commented on #995
I think if we fix up #1065  then this is really just

[code]

[2018-10-10 03:57] ajavadia opened #1066 "Review some items in qobj schema"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
As I am working on building result objects, I encountered a few things about the qobj schema which need clarifying:

- [ ] The global level config currently has `memory_slots` as a required field. This should be on a per-experiment basis however. Each experiment is differe

[2018-10-10 06:35] rraymondhp opened #1067 "Updating multi-lingual translation of installation etc."
### What is the expected enhancement?
We had chinese and korean translation of qiskit installation that were not updated. We need a mechanism to make sure that the translations are updated appropriately (or marked otherwise).
https://github.com/Qiskit/qiskit-terra/blob/master/doc/ko/README.md

[2018-10-10 08:00] #1012 closed

[2018-10-10 11:12] jaygambetta commented on #1065
This works as long as they don’t delete and I can get enough meta data to eventually go into an activity monitor.

[2018-10-10 12:30] rossduncan opened #1068 "transpiler pass return value is still ignored"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.0
- **Operating system**: Mac OS 10.13.6

### What is the current behavior?

The transpile method [here](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/_transpiler.py#L339) relies on the pass manager to modify the DAG in place.  The pass manager uses the values returned by the passes and then discar

[2018-10-10 14:22] nonhermitian opened #1070 "Concurrent building of DAG, validation, and optimization when building quantum circuits"
### What is the expected enhancement?
Currently a quantum circuit is built, then compiled to a DAG, and then passed through the transpiler before being send to a backend.  However, it is possible to construct the DAG, and run basic optimizations on the circuit (or hint that optimizations can be performed) in parallel with the circuits construction.  In addition, provided that a backend is specifie

[2018-10-10 15:04] delapuente opened #1072 "Reduce the number of run test when pushing to a PR"
### What is the expected enhancement?
Reduce the number of test run when pushing to a PR by focusing on a reference environment (Python 3.5 + Linux) and add a cron task to perform all the checks once per day.

[2018-10-10 15:05] 1ucian0 opened #1073 "do not skip TestVisualizationImplementation"
There is a `TODO` in `test_visualization_output.py`.
[code]
I think is time to remove the `TODO` and start running it. Especially in the context of the new `circuit_drawer` interface.

[2018-10-10 15:17] 1ucian0 commented on #1068
The reason for `dag == dag2` it is because they are the same:
[code]
However, I do think the new transpiler should return something: the property set. What do you think @ajavadia?

[2018-10-10 15:21] 1ucian0 commented on #1073
I moved the skip to the specific tests in 6618ed7.

[2018-10-10 15:38] mtreinish commented on #730
@1ucian0 there shouldn't be any changes with VCR. The new test runner doesn't actually change how the tests are executed. It just splits the execution up between multiple workers. We'll still be using python stdlib unittest to run things (well actually a layer on top, but it inherits from unittest and respects the interface). So if it works in unittest there shouldn't be any issue.

The only place

[2018-10-10 15:44] 1ucian0 opened #1075 "A way to handle options to drawers"
The `circuit_drawers` have options that do not make sense to every drawer:
[code]
I suggest:
[code]
where `options` is a dict to feed the `kwargs` of the drawer.

Ideas?

[2018-10-10 15:55] mtreinish commented on #1075
Personally, I really dislike the options dict thing we do in other places. It's opaque to python and then we have to manually enforce the interface we define which is easy to mess up. Also, it means that we don't provide any helpers to people who use IDEs or text editors that introspect the modules to give a dynamic list of options and autocompletion when writing code (personally I use jedi-vim an

[2018-10-10 15:56] 1ucian0 opened #1076 "rename "python" drawer to "matplot""
The name options for the `circuit_drawer` are `['latex', 'latex_source', 'python', 'text']`. The output `python` is no very descriptive of the expected output. I suggest to rename it to `'matplot'`.

[2018-10-10 16:00] 1ucian0 opened #1077 "No fallback in circuit_drawer"
The `circuit_drawer` falls back to `_matplotlib_circuit_drawer` when `_latex_circuit_drawer` fails with `OSError`. We should remove that fallback at some point.

[2018-10-10 16:28] nonhermitian commented on #1076
How about just `'mpl'` since that is the canonical short-name for Matplotlib?

[2018-10-10 16:34] mtreinish commented on #1077
Yep, I agree and that's the plan. Which is why we emit a deprecation warning right now if you run `circuit_drawer` without the `output` kwarg set. This was the deprecated previous default for `circuit_drawer` in 0.6.0. We will have to wait until we at least have this emit the deprecation warning in at least 1 release.

It does raise a larger question for me though which is what our deprecation pol

[2018-10-10 16:35] mtreinish commented on #1076
@nonhermitian oh, yeah that's a good point. That's what we should do

[2018-10-10 16:38] 1ucian0 commented on #263
@ewinston @jaygambetta @delapuente Any consensus or update?

[2018-10-10 16:44] dcmckayibm commented on #1066
Regarding the first point, the only question would be whether this puts a constraint on the hardware that will be hard to satisfy, but I don't think it will.

For the second point I would make that a required part of the simulator configuration spec which can be different.

[2018-10-10 16:49] jaygambetta commented on #1077
I would like the output of the cirucit_drawer to be text (no dependencies by default).

We can have a visitation.set_defaults for interactive when we have it etc

[2018-10-10 16:51] nonhermitian opened #1078 "Default circuit names are not zero-based"
### Informations

- **Qiskit Terra version**: latest
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
When creating a quantum circuit with no name, the default name is set to `circuitX`.  Currently, `X` starts from `1` rather than `0`, and can cause some confusion when trying to index circuits by name.

### Steps to reproduce the problem
[code]
gives `'circu

[2018-10-10 16:52] jaygambetta commented on #1075
I prefer the way @mtreinish gives an in the help we can just list the extra ones by the output type.

[2018-10-10 16:52] jaygambetta commented on #1076
i agree

[2018-10-10 16:57] delapuente commented on #1072
@diego-plan9 @mtreinish I know some of you have reservations about this and I think those are fair points. Would you mind to make them explicit here?

Just to be clear, my point is that, with the current configuration, we are running the same tests over and over, even thinking that the major part of our codebase is platform independent. I was hoping to catch platform-specific bugs in the daily tas

[2018-10-10 16:58] mtreinish commented on #1075
Ok, I think we'll just stick with using explicit kwargs then.

[2018-10-10 16:58] #1075 closed

[2018-10-10 17:00] nonhermitian opened #1079 "Get results from Result object by index"
### What is the expected enhancement?
Currently it is not possible to grab the results from a `Result` object by the index of the circuit/experiment.  That is to say the following does not work:

[code]

[code]
It should be possible to do this.

[2018-10-10 17:02] jaygambetta commented on #707
Do we need this now we have a project just for tools

[2018-10-10 17:05] nonhermitian commented on #707
Depends on how strong we want to push the jupyter tools

[2018-10-10 17:08] jaygambetta commented on #1079
this is in #1005 can you add to that

[2018-10-10 17:08] #1079 closed

[2018-10-10 17:11] jaygambetta commented on #707
i want to track them individually in the project rather than global. But i let @mtreinish decide.

[2018-10-10 17:11] mtreinish commented on #595
I think visualization is a key function of terra. At least for the foreseeable future (it might change eventually) so I don't think we should remove the external dependency on matplotlib, etc. So I'm going to close this for now.

That being said, I think one thing we can look at longer term after we add the ascii drawer in #1054 and make the changes to remove all the paths we deprecated added in #

[2018-10-10 17:25] nonhermitian opened #1081 "Cannot use a single circuit to return a statevector and run on a device"
### Informations

- **Qiskit Terra version**: latest
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Currently, running a circuit with a measurement (needed for a real device) does not work on the `statevector_simulator`.  The workaround would be to add a `snapshot` to the circuit and call the `qasm_simulator`.  However, `snapshot` is not recognized by the

[2018-10-10 18:45] 1ucian0 commented on #595
I think this needs to be reopened because the @eddieschoute's point still stands.

It can be closed when matplotlib and pillow get removed from `requirements.txt`.

[2018-10-10 18:49] ajavadia opened #1083 "Two compile methods are redundant"
### What is the expected enhancement?
Currently we have:

1. wrapper.compile()
[code]

2. transpiler.compile()
[code]

The latter should just be removed. The first will have a `pass_manager` option.

Also see #978 about other simplifications to these function signatures.

[2018-10-10 19:00] mtreinish commented on #595
@1ucian0 no, I was saying that we won't ever be factoring the visualization code into a separate package or an optional plugin since it's a core function of terra today (which aligns with what @nonhermitian was saying earlier). It's tightly coupled with user expectations on what terra provides today and the only case in which we could move the code externally would be as a hard requirement for ter

[2018-10-10 19:31] 1ucian0 commented on #595
I see the original post as "remove the visualization dependencies", while the "refactor out" is "the suggested solution". I understand that we are not going to take that "suggested solution" (even when I don't agree). But we are going to solve the issue with respect to the visualization dependencies. So, it can be closed when fixed.

Did I understand you correctly @eddieschoute?

[2018-10-10 19:54] mtreinish commented on #595
@1ucian0 except that's not actually an option. We have hard import dependency on the external libraries because matplotlib is used in many places. Unless we remove these hard dependencies from ever being imported at the module level (which we cannot do as I explained above, it's not just the circuit_drawer) they will have to be listed in the requirements for the terra package. There is not really

[2018-10-10 19:56] #1076 closed

[2018-10-10 20:06] ajavadia commented on #1068
This is a bug. `dag` should not be equal to `dag2`, as the TransformationPass is changing it (taking a non-empty dag and returning an empty dag).

The bug comes from exactly what is described. The PassManager is internally catching the returned DAG from each pass and passing it to the next pass, but once all passes finish, the final DAG is not propagated up to the `transpiler.transpile()`. So it l

[2018-10-10 20:21] eddieschoute commented on #595
I think what I consider to be "foundations of qiskit" (as implied by "qiskit-terra") do not align with @mtreinish 's views. To me, the core of qiskit is quantum information processing. Providing tools to work with quantum circuits. And, possibly, running circuits via simulations or on quantum devices. Simply removing functionality is not my goal (the impact of the plotting code in qiskit itself is

[2018-10-10 21:35] mtreinish commented on #595
@eddieschoute I feel it's a key part of qiskit because at least for today visualizing your results and/or the input circuits are a key part of how most people are using qiskit. You can look to what @nonhermitian said a few months ago, at most of the papers out there citing that they use qiskit, or most of the qiskit-terra examples out there and the majority of those either draw the circuits or vis

[2018-10-10 22:49] nonhermitian commented on #595
The treatise by @mtreinish spells it out nicely.

[2018-10-11 02:33] jaygambetta commented on #970
I think this should not be part of Terra but the mega test. My main point is in the last update things were changing and the examples were not. Since these define how different users use qiskit we need to know when they break. They are more like a full integration test.

I just feel we keep talking about it but I want a full integration to have a green light that says tests pass.

[2018-10-11 02:45] mtreinish commented on #970
Sure, where the test lives doesn't actually matter too much, especially if it's like what I pasted before. That would just need the relative path updated to work from anywhere. Although, if we do have it in an external test suite we will have to fix that examples/ in terra isn't actually in the sdist so it may not be present if it's just pip installed (but we can solve that by just adding it to th

[2018-10-11 02:49] jaygambetta commented on #970
I agree. I am not sure what the best thing is to do. I let you decide. the workflow is more how do we make sure that things dont break for Aer<->Terra<->IBMQ and standard user tasks.

[2018-10-11 07:56] delapuente commented on #1068
I continue recommending the [DAG to be an immutable container](https://github.com/Qiskit/qiskit-terra/issues/825#issuecomment-421964618) but for that, the DAG and DAG-building APIs should be thoroughly reworked.

[2018-10-11 08:13] delapuente commented on #970
For the record, @diego-plan9 wrote https://github.com/Qiskit/qiskit-tutorial/blob/master/utils/test/test_tutorials.py to help testing the tutorials. Perhaps we should include it as part of the regular tests.

[2018-10-11 08:33] delapuente commented on #1057
Pinging @pacomf @jelcaf @francabrera to make them aware of this proposal.

[2018-10-11 08:40] delapuente commented on #1046
Is it clear from the documentation what `error_message` is for or do you need further clarification?

[2018-10-11 09:19] #1065 closed

[2018-10-11 11:40] jaygambetta commented on #970
Maybe once we finish separateing  the tutorial from ones that teach quantum using qiskit from those that teach qiskit.  This is going to take a long time  (your welcome to help there) so I would much rather a solution using these examples.

[2018-10-11 13:28] atilag commented on #1052
I see the config as a something very much tied to the experiment we want the backend to execute. Isn't it? For example, if we are just running one shot because we only want the statevector at some point with `qc.snapshot()`, maybe my threading setup is totally different than an experiment that may need many shots. My optimization settings, and noise parameters may change as well depending on the t

[2018-10-11 13:29] diego-plan9 commented on #1072
I wouldn't call them reservations - rather, observations!! There are several topics around that might have been also touched in other issues or PRs, but for me it's clear that we have a non-ideal situation during day-to-day working in the repository and indeed we should place emphasis in finding ways of making it smoother.

But I think there is another important force: how confident we are that we

[2018-10-11 13:50] #909 closed

[2018-10-11 14:09] 1ucian0 commented on #1077
Maybe `visitation.set_defaults` can also be used for handle the drawer options (see #1075). Opinions?

[2018-10-11 14:38] mtreinish commented on #730
It's actually not. While, pytest supports running unittest suites, but there is a reason I said **strict** compliance in my earlier comment. But, this extends beyond just the testing library packaged in pytest, but also includes things like how pytest does test discovery. It doesn't conform to the standard unittest discovery which can lead you to execute "tests". While I agree we can avoid using t

[2018-10-11 16:18] ajavadia opened #1087 "clbit_labels should not contain null"
### Information
The definition of `clbit_labels` was changed in #879 by @dcmckayibm.

It used to be something like:
```[["c", 2], ["d", 3]] ```, which assigns contiguous regions of memory to each register.

Now it is like this, where single classical bits can be assigned to arbitrary locations of memory.
```[["c", 1], ["c", 0], ["d", 0], ["d", 2], ["d", 1]]```

I agree with this change. However, t

[2018-10-11 16:23] nonhermitian opened #1088 "Return important circuit properties from a QuantumCircuit"
### What is the expected enhancement?
It is often of interest to compute several properties of a quantum circuit after compiling to a given device.  For example, # of gates, # of cx-gates, depth, and # of swap gates added, are all properties of interest.  However, only some of these values (# gates, and cx gates) can actually be extracted from the qasm in a qobj, others require going qobj -> circu

[2018-10-11 17:33] #1078 closed

[2018-10-11 17:41] diego-plan9 commented on #730
Thanks for the detailed answer (really - I'm a kind of "waller of text" too), @mtreinish !

Unfortunately, if I was not able to get an agreement on both `py.test` and `stestr` being in practice technically apt solutions for solving the issue in hand, I don't really think pursuing a conversation over smaller details or cherry-picking examples and metrics will accomplish progress - so I'm basically

[2018-10-11 18:54] delapuente commented on #730
Although I'm a complete ignorant of testing frameworks in Python I won't say I'm totally unbiased!

Anyway, I would argue that support and adoption are among the things we should consider most. They usually indicate maturity, stability and a live community of contributors for helping you when problems come up. For these reason, I'm inclined to use `py.test`.

Althouhg running 17k is remarkable, fo

[2018-10-11 19:31] rajeshn76 opened #1090 "Call to plot_bloch_vector(bloch) results in "TypeError: __call__() takes 1 positional argument but 2 were given""
### Information

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.6
- **Operating system**: Mac OSX 10.12.6 (Sierra)

### What is the current behavior?
I tried to run the sample code for Bloch Sphere ("quantum_phase_bloch.py"), from this tutorial:

https://quantumexperience.ng.bluemix.net/proxy/tutorial/full-user-guide/002-The_Weird_and_Wonderful_World_of_the_Qubit/005-The_Bloch_Sphere.ht

[2018-10-11 20:41] nonhermitian commented on #1090
I cannot reproduce this issue.  Perhaps @mtreinish can give it a try.

[2018-10-11 20:45] mtreinish commented on #730
It's not that I think py.test is a bad test runner. It's very good, better than stestr in many ways, there is a reason it's popular. I would be totally fine switching to that if it's what we decided to do. But, if our goal is to switch to parallel execution of our tests for CI, which there seems to be general agreement on (although I'd make the argument that individual test suite run time isn't ou

[2018-10-11 21:05] mtreinish commented on #1090
I was not able to reproduce this either. I built a fresh virtualenv, installed qiskit 0.6.1 in it, and then copied the script from the bloch sphere tutorial and ran it. No errors and it successfully generated the visualization:

![figure_1](https://user-images.githubusercontent.com/2447371/46833248-2b3c3080-cd76-11e8-8082-05fee1ac4662.png)

My only thought is maybe the matplotlib version you have

[2018-10-11 22:12] peendebak opened #1092 "from_dict is not the inverse of as_dict"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.6
- **Operating system**: Windows

### What is the current behavior?

Converting a dictionary generated with `as_dict` back to an ExperimentResult with `from_dict` does not generate the same object.

### Steps to reproduce the problem

A minimal example:
[code]
The output of the example is:
[code]

### What is the expected

[2018-10-12 00:59] nonhermitian opened #1093 "DAG visualization dependence on graphviz is not mentioned"
### Informations

- **Qiskit Terra version**: latest
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Calling `dag_drawer(dag)` gives the error:
[code]
indicating that `GraphViz` is a requirement for this function, but it is not listed anywhere.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2018-10-12 09:17] PierreDC commented on #946
@muneerqu Thanks for referencing #330. Staying tuned.

[2018-10-12 14:33] mtreinish commented on #730
It's about the complexity from parallel execution. There are a few common non-deterministic failure modes everyone running tests in parallel encounters eventually. For example, test isolation failures that effect other tests/workers when running at the same time. Another common issue that introduces non-determinism is just a straight up race condition when tests are talking to a globally scoped or

[2018-10-12 17:01] mtreinish commented on #1004
One other thought that I had recently related to this is now that we have an ascii drawer we should also make the __str__ for a circuit return the output of the circuit_drawer(output='text'). So people could print(circuit) and get the ascii

[2018-10-12 17:10] jaygambetta commented on #1004
I am good with that.

[2018-10-12 17:12] jaygambetta commented on #1087
I agree.

[2018-10-12 17:14] jaygambetta commented on #1083
I agree but let’s keep it a top level function.  How much is skipped translation use.

[2018-10-12 18:54] jaygambetta commented on #1090
This i think is a matplotlib issue can you post which version you are using.

Thanks

[2018-10-12 19:31] mtreinish opened #1095 "Bloch Sphere Visualization doesn't do anything with non-GUI backends"
### Informations

- **Qiskit Terra version**: latest master (but should effect released versions too)
- **Python version**: 3.7
- **Operating system**: Linux

### What is the current behavior?

When calling `qiskit.tools.visualization.plot_bloch_vector()` it unconditionally calls show() on the figure to get an interactive 3d visualization of the bloch sphere for the provided vector. However if you

[2018-10-12 19:57] #1068 closed

[2018-10-12 19:58] dcmckayibm commented on #1087
Sure

[2018-10-12 20:35] nonhermitian commented on #1090
We cannot reproduce this using matplotlib 3.0 or 2.2.3.

[2018-10-13 00:44] #1095 closed

[2018-10-13 00:56] jaygambetta commented on #1046
Screen shots showing the double

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/15731369/46899414-0ffa1f80-ce61-11e8-8782-83a9c0097468.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/15731369/46899419-23a58600-ce61-11e8-89ac-32d3e6146715.png">

[2018-10-14 17:13] balewski opened #1098 "credentials failed for qiskit ver 0.6.1"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.7.0
- **Operating system**:MAC OSX 10.13.6

### What is the current behavior?
After I acquired fresh token from https://quantumexperience.ng.bluemix.net/qx/account/advanced
IBMQ.load_accounts() fails.

### Steps to reproduce the problem
[code]
Results with
[code]

### What is the expected behavior?
Would be better if  IBMQ

[2018-10-14 18:30] jaygambetta commented on #1098
Can you try enable_account or regenerating a token.

[2018-10-15 01:29] ajavadia opened #1099 "Barrier when reversebits circuit drawer"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
I saw two problems when using barriers in the latex drawer.
1. When using `'reversebits': True` in the style, the barriers get messed up. The following should have barriers on quantum registers q and v:
![image](https://user-images.githubusercontent.com/8622381/46925091-21

[2018-10-15 08:46] diego-plan9 commented on #1092
Hi @peendebak ,

those functions are indeed not guaranteed to provide a "round-trip" and be an inverse of each other - as a matter of fact, it is not recommended to rely on those functions, as they were mostly introduced to support the transition from the older format to `Qobj` and it was not a hard design decision to be able to seamlessly convert back and forth from dict fully. Other than the iss

[2018-10-15 13:17] pacomf commented on #1098
I cant reproduce the bug, i regenerate my APIToken and it works fine using qiskit terra... is it still happening? Can you send me more details?

[2018-10-15 13:30] jaygambetta commented on #1098
It happened for about 5 hours on the weekend. However, @nonhermitian could run at the same time and then it started working again.

[2018-10-15 13:31] pacomf commented on #1098
Mmmm, maybe an issue in IBM Cloud... we will investigate it

[2018-10-15 13:32] peendebak commented on #1092
@diego-plan9 We have been using the conversion functions to adapt our interface to the new 0.6.1 release. We have decided to also convert our internals from the dict to the objects, so we have no use case for exact round-tripping any more.

[2018-10-15 13:47] nonhermitian commented on #1098
I will add that, when it happened to me, I could log into some accounts and not others.

[2018-10-15 14:42] diego-plan9 commented on #1092
Thanks for the confirmation @peendebak ! Indeed, in general making use of the `Qobj` machinery internally tends to be the recommended approach (wherever suitable) - looking forward to more reports in the process :+1:

[2018-10-15 17:53] ewinston opened #1103 "backend.status() does not match spec"
### Informations

- **Qiskit Terra version**:
  40ee1bb9
- **Python version**:
  3.6.5
- **Operating system**:

### What is the current behavior?
- backend.status() does not report `status_msg` as required by spec
- `name` should be `backend_name`

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
       Update backend.status() and change schema or cha

[2018-10-15 18:32] jaygambetta commented on #1103
cant we follow this under issue #1047.

[2018-10-15 18:56] mtreinish opened #1104 "Split Circuit Visualization Backends into separate modules"
### What is the expected enhancement?

Right now we have one giant module `qiskit.tools.visualization._circuit_visualization` which contains both the public methods and the implementations for 2 different backends (mpl and latex). As part of the circuit visualization cleanup we should create a separate module for each backend `qiskit.tools.visualization._latex` and `qiskit.tools.visualization._mat

[2018-10-15 19:00] jaygambetta commented on #1083
Ok I'm going to self-assign and work with @nonhermitian on the implementation and it answers his #1097

in the transpile.compile

[code]

[2018-10-15 19:02] ewinston commented on #1103
Sounds fine. I'll close.

[2018-10-15 19:02] #1103 closed

[2018-10-16 01:45] jaygambetta opened #1106 "wigner functions not supported anymore"
We are no longer supporting the Wigner function methods correctly.

There are four functions
- [ ] plot_wigner_function -> supported as a method in plot_state(rho, method="wigner") but broken from plot_winger_data.
- [ ] plot_wigner_data --> this was a function to plot the date as: plaquette, function and curve
- [ ] plot_wigner_plaquette -> option called from plot_wigner_data
- [ ] plot_wigner_cu

[2018-10-16 01:45] jaygambetta commented on #1106
https://github.com/Qiskit/qiskit-tutorial/issues/339

[2018-10-16 01:51] jaygambetta commented on #1106
@levbishop can you think about this.

[2018-10-16 08:50] #1099 closed

[2018-10-16 14:12] #1093 closed

[2018-10-16 16:26] mtreinish opened #1109 "Text circuit output doesn't understand plotbarriers or reversebits style arguments"
### Informations

- **Qiskit Terra version**: Latest master
- **Python version**: 3.7
- **Operating system**: linux

### What is the current behavior?

When calling circuit_drawer(output='text') the style kwarg isn't used at all. So even common arguments that aren't matplotlib specific are not understood. These include the 'reversebits' and 'plotbarriers' options which should be implementable on t

[2018-10-16 17:28] 1ucian0 commented on #1109
About how to handle the options or about changing the text drawer?

[2018-10-16 17:45] balewski commented on #1098
Hi @jaygambetta,
your tip helped. IBMQ.stored_accounts() has returned some  old token, not the new one.
Looks like IBMQ.save_account(myToken) is unable to replace token if it exist - I leave it to you to decide if it is a bug or a feature.
My hack around it is to execute first: IBMQ.delete_accounts()
to clear my old token. So this sequence always works:
`
IBMQ.delete_accounts()
myToken='b6abe11442

[2018-10-16 17:51] mtreinish commented on #1109
Heh, both I guess. I was asking more about the text drawer updates. But if you have any thoughts on how to handle the options too.

[2018-10-16 17:58] balewski opened #1110 "job.result().get_ran_qasm(circuit_name) returns noting for qiskit 0.6.1"
### Informations

- **Qiskit Terra version**:0.6.1
- **Python version**:3.7.0
- **Operating system**:Mac OS 10.13.6

### What is the current behavior?
The command
job.result().get_ran_qasm(circuit_name)
returns noting . It was working for qiskit ver '0.5.7'

### Steps to reproduce the problem
The same full code as in ticket:#1030, except I changed how backend defined using  IBMQ.get_backend(backen

[2018-10-16 17:59] ajavadia commented on #1098
Let's leave this open and investigate whether there's a bug with `IBMQ.save_account()` re-writing old tokens.
@diego-plan9 can you please have a look?

[2018-10-16 18:01] 1ucian0 commented on #1109
About how to handle options, probably something like this: https://github.com/Qiskit/qiskit-terra/issues/1077#issuecomment-428969647

I can update the drawer for handling `plotbarriers` and `reversebits` next week if it is not a priority.

[2018-10-16 18:49] mtreinish commented on #1109
There's no rush, we were thinking about pushing out a 0.6.2 release soon to get some of the visualization fixes and deprecations out there. I'd like to get this in for that too. But, I don't think that's going to happen this week anyway so there's no real rush.

[2018-10-16 19:50] ajavadia opened #1112 "Running on statevector_simulator alters the qobj, making it not validate again"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
When a qobj is run on a statevector_simulator, it implicitly inserts a snapshot at the end, then runs it on the qasm_simulator.

The added instruction makes the qobj not pass validation if run again.

[code]

[2018-10-16 21:27] ajavadia opened #1114 "The header is not copied into Result and ExperimentResult"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Trying to access the header of a Result or ExperimentResult object leads to AttributeError.

The backends (both Aer and IBMQ) should copy the header straight from qobj into result. Qiskit should use that to construct the header of Result and ExperimentResult.

After that,

[2018-10-16 21:29] ajavadia commented on #1110
Hi @balewski, thanks. There are a few things going on here:

We are going to deprecate `result.get_ran_qasm()` soon, because otherwise the qasm has to be copied in every qobj and result sent over network. Instead, we are going to have a new endpoint on the API so for a given job, you can query both `job.result()` and `job.qobj()`, where the latter has information about the circuits that were execu

[2018-10-16 21:29] #1110 closed

[2018-10-17 03:44] chunfuchen opened #1116 "Can not combine the Result object from the same backend (statevector)"
### Informations

- **Qiskit Terra version**: the master branch
- **Python version**: 3.6.5
- **Operating system**: macOS 10.13

### What is the current behavior?
raise error

[code]

### Steps to reproduce the problem
Code
[code]

### What is the expected behavior?
Result objects are combined without error

### Suggested solutions
None

Note: If I change the backend to `qasm_simulator`, there is

[2018-10-17 16:53] mtreinish commented on #1116
So I dug into this, the underlying issue is that name in most places is not actually a property/string but instead actually a method. So when result is doing the comparison of the backend_name property it's getting a bound method (which doesn't match for different objects) instead of the string it was expecting.

We can fix this for the statevector simulator case by changing the result code to cal

[2018-10-17 17:35] chunfuchen commented on #1116
so a quick workaround I can check both?
like comparing `result_a.backend_name() == result_b.backend_name() or result_a.backend_name == result_b.backend_name`

[2018-10-17 18:54] mtreinish commented on #1116
I just pushed up a fix in #1118 for this. The issue was a bit more subtle and I missed it in my first pass through. It turns out it was just a bug in the 2 statevector simulators (python and c++) incorrectly assigning a method to an attribute defined in their parents. Give #1118 and see if that fixes it for you.

[2018-10-17 19:57] chunfuchen commented on #1116
@mtreinish The patch at #1118 works, thanks.

[2018-10-17 20:02] jaygambetta commented on #1116
In gene

[2018-10-17 21:57] mtreinish opened #1119 "Clifford simulator result() fails on any circuit"
### Informations

- **Qiskit Terra version**: Latest master
- **Python version**: 3.7
- **Operating system**: Linux

### What is the current behavior?

When attempting to call execute() with the backend being the clifford simulator it always fails.

This was hit in trying to add some new tests that ran on all backends:

https://travis-ci.org/Qiskit/qiskit-terra/jobs/442859915#L1694

[code]

### St

[2018-10-17 22:14] #1116 closed

[2018-10-18 16:13] balewski commented on #1110
Hi @ajavadia,
thanks for clarification - it makes sense. When can I start to use job.qobj() ?
At the moment it produces this error:
    jobObj=job.qobj()
AttributeError: 'IBMQJobPreQobj' object has no attribute 'qobj'
Jan

[2018-10-18 18:22] chunfuchen opened #1120 "improve the speed of sgn_prod in pauli.py"
### What is the expected enhancement?
Speed improvement.

Since current Pauli class use int or float vector to present `v` and `w` vector, it is inefficient if we would like to check it is X, Y, Z, or I (we need to compare `v` and `w` with 1 and 0.)

If we support native boolean representation, it will be faster.
Nonetheless, I do not have a good idea to change whole `Pauli` class to boolean repre

[2018-10-18 21:47] jaygambetta commented on #1047
#1121

[2018-10-19 01:01] chunfuchen opened #1122 "improve the instruction in qasm simulator"
### Informations

In the Dependencies section of README (https://github.com/Qiskit/qiskit-terra/blob/master/src/qasm-simulator-cpp/README.md#dependencies), the command to install the dependency should be

not s at the end.

- **Qiskit Terra version**: the master branch
- **Python version**: 3.6
- **Operating system**: Ubuntu 16.04

[2018-10-19 14:10] robertloredo opened #1123 "Broken Anaconda link in Tutorials"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.7
- **Operating system**: mac os 10

### What is the current behavior?
The link to the anaconda install is broken.
**Page with broken link:** https://qiskit.org/documentation/install.html#dependencies (Dependencies)

It should point here: https://www.anaconda.com/download/

### Steps to reproduce the problem
From this page

[2018-10-20 08:51] balewski commented on #1114
Hi @ajavadia,
thanks for clarification - it makes sense. When can I start to use job.qobj() ?
At the moment it produces this error:
jobObj=job.qobj()
AttributeError: 'IBMQJobPreQobj' object has no attribute 'qobj'
Jan

[2018-10-21 12:13] jaygambetta commented on #1104
I think we should close #612 as the title implies more but the comments are more aligned to this one.

[2018-10-21 12:54] ajavadia opened #1124 "bug in latex drawer barrier"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
When drawing this circuit, the barrier on the last qubit is not respected.
[code]

![image](https://user-images.githubusercontent.com/8622381/47267192-53fabd80-d50e-11e8-9325-7fb46a6eac27.png)

The `mpl` drawer works fine.

### Suggested solutions

[2018-10-21 13:06] mtreinish commented on #1124
Hmm, this one is gonna be a bit trickier to fix. The issue is the barrier isn't actually an element in the underlying xymatrix that qcircuit is building. So to fix this we'll have to iterate over the rows and somehow figure out that we need to insert a \qw at that column and move the \measure over. I'm not exactly sure how to do that though.

[2018-10-22 11:50] charlesastaylor commented on #225
Is anyone still working on this?

[2018-10-22 12:06] jaygambetta commented on #1120
@chunfuchen this is good just make a pr and sumbit.

[2018-10-22 12:07] jaygambetta commented on #1122
thanks this is a bug.

[2018-10-22 15:18] mtreinish commented on #1122
I will push a quick patch to fix the typo.

But we might end up having to update the doc after we change the build process (see #1056) I'm not sure that it will change that depend make target (well really the underlying build_dependencies.sh script), but the script also isn't super complicated just calling a package manager to install blas, etc.

[2018-10-22 17:19] 1ucian0 commented on #225
@charlesastaylor it seems that nobody is working on this. If you want to work on this, I can help you with your PR. Let me know and thanks!

[2018-10-22 18:14] 1ucian0 commented on #981
This is blocked until issue #1004 is fixed. This issue is fixed by PR #911, which is on hold. Therefore, this is on hold.

[2018-10-22 18:16] 1ucian0 commented on #1004
When fixed, unblock issue #981.

[2018-10-22 19:14] 1ucian0 commented on #749
Fixed by #378 .

[2018-10-22 19:14] #749 closed

[2018-10-22 19:34] 1ucian0 commented on #776
@rraymondhp ping?

[2018-10-22 20:28] 1ucian0 opened #1129 "Move visualizers out of JSON"
In the attempt to remove `from_dict` (see #652, #720), it seems that the visualizers use JSON via transpiler (called with `format='json'`). We are moving to a transpiler that returns a DAG (and a property set). Visualizers should move out of using JSON. I guess, they should use DAG. Probably, that's a big refactor...

[2018-10-22 20:33] 1ucian0 commented on #720
This is on blocked until #1129. Therefore, on hold.

[2018-10-22 20:55] chriseclectic opened #1130 "s and sdg gates are hardcoded as u1 gates and cause error on Clifford simulator"
### Informations

- **Qiskit Terra version**: 0.6
- **Python version**: 3.6
- **Operating system**: MacOS

### What is the current behavior?

When making a Clifford circuit with `s` and `sdg` gates, they are automatically implemented as `u1` gates. This means specifying `basis_gates='s,sdg'` has no effect, and Clifford circuits using these gates cannot be executed on the clifford simulator backend

[2018-10-22 21:09] mtreinish commented on #1129
I'm not super familiar with the DAG class but I don't think it will be too bad to convert it. @1ucian0 you're familiar with the text drawer (I assume it works the same way), but the latex drawer and matplotlib only uses the json output to get a list of operations (with arguments and all the details) and then loops over that to generate the diagram. It also uses the headers to build the mapping of

[2018-10-22 23:58] #1120 closed

[2018-10-23 08:47] #1123 closed

[2018-10-23 10:32] #1122 closed

[2018-10-23 10:45] jaygambetta commented on #1047
in #1121 the status was fixed

[2018-10-23 12:58] balewski commented on #1098
From external user perspective:

It happens rather often  that the ibmq_16_melbourne or even sometimes ibmqx4 does not accept the job, throws some 'general error', despite your web-page says both hardwares are operational.
Then, it is natural to (wrongly?) guess perhaps my token is invalid.
Then, I'd ask for a new token and try to use it - hoping it will help.
For such train of though  the natural

[2018-10-23 14:35] 1ucian0 commented on #1004
We do have text drawer now. Can @mtreinish modify #911 to just add the method?

[2018-10-23 15:13] ajavadia commented on #1129
I agree with the premise of this PR. The transpiler format should only work on DAG. 'json' format of the transpiler should be fully removed. Each visualizere should work on a DAG.

The circuit visualizer should work on DAG, but not use the transpiler. That means remove 'basis' argument from the visualizer.

[2018-10-23 15:14] ajavadia commented on #1114
@balewski this is not available yet. It needs to be addressed at the cloud API level, and then Terra will support it as well. Probably a few weeks.

[2018-10-23 15:39] ajavadia commented on #1088
Related to #1083: make the compiled circuit still look like a circuit, so it's easy to analyze.

@1ucian0 is proposing that we combine the QuantumCircuit class and the DAGCircuit class, because already whatever we want to do on QuantumCircuit we almost always use DAGCircuit. So we make the QuantumCircuit richer, by making the underlying datastructure a graph. and at the time of construction, the o

[2018-10-23 15:42] markjeveritt commented on #1106
It’s a busy time but we will endeavour to do this – do you have any specific details that will help us bring this into sync please?

From: Ali Javadi-Abhari <notifications@github.com>
Reply-To: Qiskit/qiskit-terra <reply@reply.github.com>
Date: Tuesday, 23 October 2018 at 16:33
To: Qiskit/qiskit-terra <qiskit-terra@noreply.github.com>
Cc: Mark Everitt <M.J.Everitt@lboro.ac.uk>, Mention <mention@no

[2018-10-23 17:08] 1ucian0 commented on #157
on hold, since will be addressed by a mapper pass in the new transpiler architecture.

[2018-10-23 18:52] nonhermitian commented on #1088
I already have an issue for that. #1070.

[2018-10-23 21:55] ajavadia commented on #1070
I think I agree with building the graph concurrently with the circuit as it gets built (see https://github.com/Qiskit/qiskit-terra/issues/1088#issuecomment-432299954).

But the rest of these is blurring a lot of lines IMO and will lead to difficult maintenance. A circuit should know nothing about a backend. It should just exist independently. Similarly, optimization passes are better handled separ

[2018-10-24 03:44] gxchan3 commented on #623
@ajavadia Hi, I've been using the 'noise_params' for simulating single qubit gate error and the result indeed gives a noisy quantum computation. Yet, when I only specify the 'calibration_error' or 'zz_error' for 'CX', the simulator returns a perfect simulated quantum computation without noise, may I know what is the problem? Furthermore, for the Qiskit Aer, what are the syntaxes in specifying 'noi

[2018-10-24 04:38] gxchan3 commented on #623
@ajavadia For an example, the following code
https://github.com/gxchan3/qiskit/blob/6dc8c48284d01df30ab579f4665156d555383b1c/topost.py#L1

gives result:
{'00': 1024}
{'00': 249, '01': 243, '10': 286, '11': 246}
{'00': 1024}

[2018-10-24 14:01] nonhermitian commented on #1070
So my idea was to be able to optionally hint to a circuit what backend it was going to be compiled for. Something akin to type hinting in source code. Then we could validate on the fly. Simple things like h or cx cancellations can be done at build time where others, as you point out, need the full circuit. So the point was to just try to do as much as possible using other threads/processes as poss

[2018-10-24 14:13] chriseclectic commented on #623
@gxchan3 The noise model construction will change quite drastically (for the better) with the release of Qiskit Aer, more information on that will come closer to its release. For your issue with coherent error matrix, the short-hand of using calibration error parameters was removed some time ago, and you need to specify the coherent error matrix using the `"U_error"` field.

There are functions to

[2018-10-24 17:01] #612 closed

[2018-10-24 18:02] chriseclectic commented on #1130
@1ucian0 changing `s.py` to treat s as a `Gate` instead of `CompositeGate` fixes this issue for me, but I also had to add a new class for the `S^\dagger` gate. I'm not sure if this has any repercussions in the unroller:

[code]

[2018-10-24 19:55] #1104 closed

[2018-10-24 20:43] 1ucian0 commented on #1129
Maybe every visualizar should have the same input. @mtreinish what do you think about using this common function and its output instead of the JSON?
[code]

[2018-10-24 20:59] 1ucian0 commented on #1129
Other option is to have `qregs` and `cregs` in the right order and we include the `reversebits` logic there (def get_instructions(dag, reversebits)`)

[2018-10-24 21:40] balewski commented on #1114
Thanks for the clarification.
So after the change to ver 0.6  there is no method which would tell me what sequence of gates was actually executed on the hardware? Then I'll wait w/ my experiments - I do not like to drive with eyes closed.
How will I know the job.qobj() was added?
Thanks
Jan

[2018-10-25 15:28] 1ucian0 commented on #604
Any news about this? The idea is to move them to Aqua?

[2018-10-25 15:37] 1ucian0 commented on #693
A summary about this issue:
There is an error in the spacing of `cu1` gate in the LaTeX drawer (as explained in https://github.com/Qiskit/qiskit-terra/issues/693#issuecomment-408645734). @ajavadia said "will will try to adjust it" (I'm assigning @ajavadia, feel free to remove yourself). Also, @qruzar mentioned the `reversebits` issue, which should be addressed by merged PR #762.

[2018-10-25 15:42] 1ucian0 commented on #708
Since #734 was merged, can this issue be closed?

[2018-10-25 16:01] 1ucian0 commented on #716
So, this issue is about updating the files in `test/python/qobj/`, am I wrong?

[2018-10-25 18:36] 1ucian0 commented on #381
The `basis` that is living as a property of the DAGCircuit seems to be the minimal basis that is supported for that circuit. It even has a particular format:
[code]
@ajavadia are you sure that this is not the expected behavior? What should be the content of `dagcircuit.basis` for gates that are not used in the input? In the submitter example, what is `number_qubits`, `number_classical`, and `numbe

[2018-10-25 18:42] 1ucian0 commented on #1070
I don't think that optimization should be done at construction time. What do you mean by validation @nonhermitian ?

[2018-10-25 18:48] 1ucian0 commented on #1088
Should these properties live in the transpiler property set? or in the circuit itself and be recalculated in every pass?

[2018-10-25 19:00] 1ucian0 commented on #804
The sequence `make test_recording` followed by `make test_mock` not always work smoothly. Some `ibmq.test_ibmqjob.TestIBMQJob` tend to fail (usually those involving filter). I think it would be better to improve the filter interface to increase the cassette hitting ratio before. I'm not sure how easy/doable is this tho.

[2018-10-25 19:57] nonhermitian commented on #1088
The properties are properties of the DAG, and properties obtained from running some of the transpiler passes.  However, we are going to go from circuits to circuits in the compile process, and therefore things like swaps added need to be attached to the circuit itself.

[2018-10-25 20:09] nonhermitian commented on #1070
Things like, does this circuit width fit on the destination backend, are all the gates supported, does the circuit depth / gate count fit on the device, etc

[2018-10-25 22:06] 1ucian0 commented on #949
Sorry, took me too long to see this. Fixed in PR #1137

[2018-10-25 22:52] chunfuchen commented on #752
Here is the prototype for the implementation
[code]

Here is the benchmark on different number of qubits

|Number of qubits| Speedup of this implementation |
|-------------------------------------|-------------|
| 4 | 1.65x |
| 5 | 1.74x |
| 6 | 1.65x |
| 7 | 1.87x |

and this does not change the output data format of the method, all existing users won't encounter any issue.

[2018-10-26 10:55] mtreinish commented on #1129
@1ucian0 yeah using a common function (which is what the `qiskit.tools.visualization._utils` module is for) is exactly what I was advocating for. So instead of calling transpile we just run `DAGCircuit.fromQuantumCircuit()` and pass the DAG to that function. We'll just need to deprecate the basis kwarg on circuit_drawer() since we won't be able to do that with this approach (which I think is somet

[2018-10-26 14:04] chunfuchen opened #1138 "The qasm simulator generates different results with/without barrier"
### Informations

- **Qiskit Terra version**: 0.7.0 (the newest master branch, the newest commit Oct. 25)
- **Python version**: 3.6.5
- **Operating system**: macOS 10.13

### What is the current behavior?
If I put a barrier after two-qubit gates (like cx, cz), the results with and without barrier are different. (seed is fixed). Not sure it is related to the issue https://github.com/Qiskit/qiskit-t

[2018-10-26 15:43] ajavadia commented on #1138
Yes I think this is expected. The barrier causes all measurements to be at the end. And the simulator has an optimization where if the measurements are at the end, it only simulates once, then samples the final statevector. However, if measurements appear in the middle, then the simulation is done for as many shots, and instead of distribution sampling, a state collapse due to measurement is simul

[2018-10-26 15:48] ajavadia commented on #1129
Yes the basis kwarg to circuit_drawer() should be deprecated.

[2018-10-26 15:50] chunfuchen commented on #1138
So it means that the one without barrier might not put the measurement at the end in the qobj.
Will the fix in the transpiler resolve this issue?

[2018-10-26 17:18] ajavadia commented on #1138
Yes, the barrier ensures that no measurements get interleaved between the gates.
Although semantically the two circuits are the same. It's just an order of writing the operations.
[code]
is the same as
[code]
but the simulator does not treat the latter as samplable.

There is a conflict here between device vs. simulator optimality. On the device, you would want the measurement to be as early as po

[2018-10-26 17:29] chriseclectic commented on #1138
@ajavadia is correct. In one case the simulator is sampling, in the other it is simulating every shot. This means the rng process is slightly different between the two cases so even with the same initial seed the counts should be expected to different slightly.

The C++ simulator checks the qobj to see if it can enable sampling, but it doesn't re-order any operations in doing so. If any non-measur

[2018-10-26 17:38] chunfuchen commented on #1138
@ajavadia @chriseclectic Thanks for the clear clarification.
Then, I have a question is that, to make codes can be run on a device and a simulator efficiently.
I need to do:
- On a device, do not explicitly put the barrier before the measurement.
- On a simulator, put the barrier before the measurement.

Is it correct? Or the barrier won't change the efficiency on running a device?

[2018-10-26 17:39] kdk opened #1140 "Add tree search swap mapper"
### What is the expected behavior?

Add a new tree search based swap mapper as a possible pass in the transpiler. The algorithm was submitted to the 2018 Qiskit Developer Challange and is described at https://medium.com/qiskit/improving-a-quantum-compiler-48410d7a7084 .

[2018-10-26 18:03] chriseclectic commented on #1138
@chunfuchen I think it's safe to always put the barrier in. As far as I know the IBMQ devices currently implement all measurements at the end of the circuit anyway.

[2018-10-26 18:12] #1040 closed

[2018-10-26 18:17] chunfuchen commented on #1138
@chriseclectic Thanks!
@ajavadia I know the reason of the difference, do you want this issue keep open after the fix in transpiler? I am okay to close it now.

[2018-10-26 20:28] jaygambetta commented on #604
@chunfuchen this is the issue for removing the tools/app when you do the pr just link to this one.

[2018-10-26 20:31] jaygambetta opened #1142 "cleaning up the Pauli object"
The tools.qi.pauli is important and will stay around. It is slow with int vs bools and needs to be cleaned up. Richard and Antonio will work on a proposal for what should be methods of Pauli and what should function in there and make tests for it.

Some questions and related to the ordering issue I make soon.

The Pauli has internal two vectors which are ordered

v = [q0,q1,q2,q3, .... qn ], w =

[2018-10-26 20:31] jaygambetta commented on #1142
@chunfuchen can you summaries out notes here on what we should do

[2018-10-26 20:35] jaygambetta commented on #1142
@ajavadia comments on the pauli order above would be good.

[2018-10-26 20:43] jaygambetta commented on #986
Closing this with #1142 and i make a new one on the qi.py file

[2018-10-26 20:43] #986 closed

[2018-10-26 20:44] jaygambetta opened #1143 "removing tool.qi.qi.py"
We need to decide what lives in there and what can go else where.

[2018-10-26 21:00] chunfuchen commented on #1142
Notes:
1. `v` and `w` vectors will be stored in `boolean` rather than `int` or `float`, and they become private members (`_v` and `_w`).
2. move functions into Pauli class as either static_method or class_method or remove the functions
   - `label_to_pauli`: become a class method of the Pauli class, another way to construct Pauli
   - `sgn_prod`: become a static method of the Pauli class, internal

[2018-10-26 21:02] jaygambetta opened #1144 "make transpile return circuits and comple to use circuits2qobj"
This is a follow-on #1134

[2018-10-26 21:03] jaygambetta opened #1145 "clean up tools.compile so that it does not use unroller for qobj."
The circuits2qobj should be a simple function that just serializes the circuits to run on the backends. This is a follow on to #1134 and #1144

[2018-10-26 21:03] jaygambetta opened #1146 "clean up transpile to make faster (parallel)"
This is a follow-on to #1134 and #1144  and #1032 should be made on this after we have done the other two issues.

[2018-10-26 21:13] jaygambetta commented on #1142
Thanks, @chunfuchen but I don't think the `delete_qubit` needs a Pauli as it just removes that one from the Pauli class.

[2018-10-26 21:31] jaygambetta commented on #752
#1142 is now going to track this. Closing it as it is one part of the redoing of the Pauli

[2018-10-26 21:31] #752 closed

[2018-10-26 21:37] jaygambetta opened #1147 "remove tools.file_io"
### What is the expected enhancement?
What is the point of this tool. As we clean up tools I want to try and make sure the tools are extensions to qiskit that don't affect the core but make it simpler to use.

[2018-10-27 01:31] jaygambetta opened #1148 "qiskit ordering convention"
### What is the expected enhancement?
I want to discuss what is the convention for qiskit ordering.

There are a few things that we have been doing that have confused people for a while. We need to documeent this and make sure all the parts of qiskit obey our convention.

- [ ] documentation

Lets start for a single register.

**Tensor order**

The tensor order goes
Qn x ... Q1 x Q0

This is what

[2018-10-27 01:31] jaygambetta commented on #1148
@ajavadia and @chriseclectic does this represent the summary.

[2018-10-27 17:15] ajavadia commented on #1148
Yes this is what we discussed.

I think the main point that needs to be clearly documented is that `QuantumCircuit(q, v)` means "add q, then add v" (v is more significant, and the left tensor). It does NOT mean q \otimes v.

One minor point: why don't you want a space between classical bits? I thought we would do this in the final step in Result (obviously not in the backends, who treat the whole

[2018-10-27 18:01] jaygambetta commented on #1148
I don’t mind for the space. I though you or Chris were against it.

[2018-10-27 19:43] ajavadia commented on #776
This will be achieved with the KAK decomposition I think?

[2018-10-27 20:46] jaygambetta commented on #776
I agree. I think we can close this and open after kak if it does not meet the needs.

[2018-10-27 20:46] #776 closed

[2018-10-28 11:15] nonhermitian opened #1149 "backend.properties() fridge parameters Temperature should be lowercase"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
`backend.properties()['fridge_parameters']['Temperature']`

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
`backend.properties()['fridge_parameters']['temperature']` to match the rest of the entries

[2018-10-28 11:25] nonhermitian opened #1150 "backend.properties does not follow spec format"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
`backend.properties` does not follow the spec.  Mixes camel case and snake case, where from the spec it should all be snake case, e.g. currently `'cooldownDate'`, but should be `'cooldown_date'`.

Also, the gates errors should be under the `'gates'` key but is curre

[2018-10-28 12:53] jaygambetta commented on #1150
Paul can you just link this to #1047.

[2018-10-28 20:38] #1083 closed

[2018-10-28 20:48] jaygambetta commented on #1142
lets make sure the TestPauli are there own test, not part of testqi

[2018-10-29 09:40] nonhermitian commented on #1010
@jaygambetta, @ajavadia please see the updated pictures in the description to see if this looks good to you.

[2018-10-29 10:11] diego-plan9 commented on #1147
For reference, it was introduced in  #116 - but I also suspect is has not really seen widespread usage, specially after the changes related to Qobj and result.

[2018-10-29 11:39] mtreinish commented on #1004
@1ucian0 I'm going to reuse #911 to add the method. I decided to split up the commits that were part of it though. Right now #1152 is the last prerequisite, once that merges I'll rebase/rework #911

[2018-10-29 12:12] charlesastaylor commented on #225
@1ucian0 Just got round to having a look at this. Created a [WIP PR](https://github.com/Qiskit/qiskit-terra/pull/1153)

[2018-10-29 12:34] charlesastaylor commented on #225
Also @1ucian0 @atilag I'm not quite sure which Exceptions I should be using. For the MapperError the docstring says "Base class for errors raised by mapper module." so I was fairly confident about using that one but for some of the other exceptions the docstring is less clear and not sure I should necessarily be blindly replacing all asserts in a module with the exception defined in said module. F

[2018-10-29 13:55] 1ucian0 commented on #225
@charlesastaylor great you are taking over this! Let's discuss the exception types in the PR. Thanks!

[2018-10-29 15:28] 1ucian0 commented on #1129
So, do we agree with `def get_instructions(dag, reversebits) -> (dag.qregs, dag.cregs, ops)`?

[2018-10-29 16:09] mtreinish commented on #1143
Fwiw, we recently added test coverage for the `tool.qi.qi` module in #785. We probably could improve some of the input data (since I just made most of it up) to be more realistic though.  This is independent of our decision about what we keep and/or remove from the module just wanted to point out there is at least some existing test coverage.

[2018-10-29 17:08] nonhermitian commented on #1047
Simulator backends do not have `n_qubits` in their configuration.  They are supposed to return -1.

[2018-10-29 17:13] antoniomezzacapo commented on #1142
We also need two additional sign bools as members, we can have them as an array of two bools _sgn. I would keep it separate from v, w.

[2018-10-29 17:31] jaygambetta commented on #1143
@chriseclectic and i will put a plan in and discuss it with you.

[2018-10-29 17:57] ewinston opened #1155 "Potential schema changes"
### What is the expected enhancement?
This issue tracks potential changes to the set of schemas. This should reduce the frequency of schema changes and help synchronize all layers of the software stack.

### Potential Schema Changes:

- remove `backend_name` and `backend_version` from required fields of backend_status_schema.json.

[2018-10-29 18:46] nonhermitian opened #1156 "Local simulators return n_qubits that is supported by local memory"
### What is the expected enhancement?

Currently the simulator backends do not have a `n_qubits` key in their configuration (#1047), whereas the spec says that `n_qubits=-1` for a simulator.  Would it not make sense to have local simulators return `n_qubits=N_max`, where `N_max` is the max number of qubits supported by the local memory?

[2018-10-29 18:56] jaygambetta commented on #1156
I don't want the spec to -1 let change that  @dcmckayibm .

[2018-10-29 19:17] 1ucian0 opened #1157 "Test for the Quantum Initializer extension is needed"
The code in `qiskit/extensions/quantum_initializer/` is not been tested by the test suite.

[2018-10-29 19:24] 1ucian0 commented on #1157
ups.. sorry. I think the test is `test.python.test_initializer`.

[2018-10-29 19:24] #1157 closed

[2018-10-29 20:16] chriseclectic commented on #1142
My suggestions would be something like this:

**Ordering:**
- Qubit ordering: `QuantumRegister(q0, q1, q2, q3)`  qubit number is order it is added to the QuantumRegister
- Tensor Product: `q3 \otimes q2 \otimes q1 \otimes q0` qubit number is position from the right in the matrix representation
- Internal vector[bool] ordering:   `Pauli.X = [x0, x1, x2, x3]` `Pauli.Z = [z0, z1, z3, z3]` qubit numbe

[2018-10-30 00:44] jaygambetta commented on #1142
@chriseclectic what does this mean

`
There should be tensor product kron method that returns a new Pauli combining the current with the new ones (think np.array.kron)`

[2018-10-30 03:04] antoniomezzacapo commented on #1142
I agree on having the tensor product method. If I understand will be basically concatenating v and w of two(or better, more) Paulis.
We can have two constructors, one for v,w and one for the strings, but one thing is important: let's not have the string representations as members, otherwise the memory requirements to store massive Hamiltonians with lots of Paulis will go up dramatically compared t

[2018-10-30 03:08] chriseclectic commented on #1142
@jaygambetta I removed the sign, what i was thinking of for that would make more sense in a seperate `Operator` class that can be expressed in terms of Pauli objects and complex coefficients.

 I edited the description to include example of `kron`, Antonio is correct it is just concatenation of the lists in the correct order for the chosen qubit label convention.

@antoniomezzacapo the string cons

[2018-10-30 03:18] antoniomezzacapo commented on #1142
@chriseclectic I' m ok with string constructor done in that way. So @chunfuchen we would need also a `from_label()` / `to_bool_array()`method.
@chriseclectic  There is already a 1.7k-line Operator class in Aqua :), which is constructed as list [[coeff0, Pauli0], [coeff1, Pauli1], ... [coeffN, PauliN]].
https://github.com/Qiskit/aqua/blob/master/qiskit_aqua/operator.py

[2018-10-30 06:48] gxchan3 commented on #623
@chriseclectic Thank you for your comment! I'll read and try the code if it fits my requirement for the error model.

[2018-10-30 08:01] quantumjim opened #1160 "Classical conditioning on single classical bits"
### What is the expected enhancement?

As far as I understand, classical conditional statements are done using `c_if` to check whether a classical register holds the binary string for a given integer. It would be useful to be able to do this for individual bits.

This can be done by declaring each bit as an individual classical register. But if there is not a better way in the current version of T

[2018-10-30 09:41] ajavadia commented on #1160
This was an OpenQASM design decision (see Fig. 7 of the [OpenQASM paper](https://arxiv.org/pdf/1707.03429.pdf)). I think the idea was that complex conditional would be easier to write like this, rather than doing OR/AND on individual bits.

But yes, then if you want a condition on a single bit you have to declare that as a single register. Another problem is that it creates false dependencies on a

[2018-10-30 10:46] ajavadia commented on #157
This actually just has to do with building a default pass manager, in the absence of a user-defined default. Basically the CXCancellation pass must be called, even in the absence of a mapper (e.g. when backend is simulation). It currently is not. We can use the Fixed Point feature to iterate and cancel more CNOTs. I think this is fairly easy to do.

[2018-10-30 10:49] ajavadia opened #1161 "Default transpiler pipeline"
### What is the expected behavior?
This is part of cleaning up the transpiler. Currently we have preserved backwards compatibility by following the old code path of circuit transformations when no pass manager is used in `compile()`. That old path is a bunch of hardcoded transformations. To fully complete the transition to the transpiler architecture, we need to remove that old path, and create a

[2018-10-30 12:04] mtreinish commented on #949
@1ucian0 I'm still seeing errors (on multiple machines):

[code]

[2018-10-30 12:19] mtreinish opened #1162 "ibmq job timeout in travis"
### Informations

- **Qiskit Terra version**: Master
- **Python version**: 3.6
- **Operating system**: Linux

### What is the current behavior?

When running the last ibmq travis job (post-merge only) it will timeout because there is no output for 10mins. For example:

https://travis-ci.org/Qiskit/qiskit-terra/jobs/447516532#L958

### Steps to reproduce the problem

Now that we've fixed the device

[2018-10-30 12:37] jaygambetta commented on #1144
we want dag2circuits in transpile and in compiler circuits2qobj

[2018-10-30 12:58] jaygambetta commented on #735
we want a single initial layout for a batch of circuits. This needs to be documented as well

[2018-10-30 13:06] jaygambetta commented on #157
closing as tracked in #1161

[2018-10-30 13:50] ajavadia commented on #1081
I think it is bad practice to ignore instructions in the backend.

Why is it hard to do `execute(circuit, statevector_simulator)` and `execute(circuit + measure, device)`?

Actually if you want to drop instructions, I would modify the devices to ignore snapshot. That seems more "ignorable" than measurement. But I strongly prefer the first solution.

[2018-10-30 14:01] ajavadia opened #1163 "Merge QuantumCircuit and DAGCircuit classes."
The QuantumCircuit class wraps an underlying list of gates.

The DAGCircuit class wraps an underlying graph of gates, and is built after the QuantumCircuit.

In reality, the first datastructure (list) is never used. We should merge these two classes into a Circuit class, that has a graph underneath. As gates get appended, they should get added to the correct place in the graph.

This has some majo

[2018-10-30 14:17] 1ucian0 commented on #157
I think this issue is slightly different to #1161, since allows us to track the CNOT cancellation pass itself.

[2018-10-30 14:32] 1ucian0 commented on #683
The backend needs to validate the depth as part of `run(self, qobj)`.

[2018-10-30 14:40] 1ucian0 commented on #1161
on hold until we move mapper and unroller as passes.

[2018-10-30 14:41] jaygambetta opened #1164 "swap mapper pass"
Issues for #757 .

[2018-10-30 14:53] 1ucian0 commented on #971
I do agree with this approach. Somebody against it?

[2018-10-30 14:54] 1ucian0 commented on #971
Something like `load_qasm_file` and  `load_qasm_string`?

[2018-10-30 14:54] ajavadia commented on #1081
I think Chris and Jay also agreed but if you want to discuss this further please reopen.

[2018-10-30 14:54] #1081 closed

[2018-10-30 15:02] 1ucian0 commented on #591
A deprecation plan is needed for this. We should start with that asap if we want to continue this way.

[2018-10-30 15:10] 1ucian0 commented on #946
Shall we split this into two @ajavadia ?

[2018-10-30 15:15] ajavadia commented on #917
So I think we need two methods `add_quantum_register` and `add_classical_register`.

However the QuantumCircuit keeps track of all register, regardless of whether they are classical and quantum, in one array. This is another reason we need to use the DAG class as our Circuit class. There, the registers are kept separately.

[2018-10-30 15:19] 1ucian0 commented on #1145
This is block by #1144

[2018-10-30 15:24] ajavadia commented on #544
This is an important issue, and after a few internal discussions, we have a rough idea of how it should be done. Basically, we need to make the gates standalone (currently they are tied to a circuit). Then, a `q_if()` (or `control()`) method on those gates will make controlled versions of them (increases their qubits by one).

Internally, this would call the transpiler to unroll to basis gates tha

[2018-10-30 15:33] ajavadia commented on #683
There is some disagreement on whether this should be done in qiskit, or in the backend.

Advantage of doing it in Qiskit:
- It's done in the open, and only in one place. All `IBMQBackend.run()` calls will go through it.

Disadvantage:
- It may slow things down, because each `run()` will be blocked on a call to `backend.properties()`.
- Not all validations can be done in the backend, because not ev

[2018-10-30 15:38] mtreinish opened #1165 "No method to override use of interactive plot visualizations"
### What is the expected enhancement?

When running visualizations that have an interactive mode if you're system meets the requirements we unconditionally use the interactive visualizations. We need to provide an option to let users override this and use the non-interactive visualizations.

[2018-10-30 15:42] mtreinish commented on #1165
@jaygambetta is this what you're looking for?

[2018-10-30 16:12] dcmckayibm commented on #1155
Is there a reason to remove these?

[2018-10-30 16:13] chunfuchen commented on #1142
a WIP PR is #1166

please feel free to comment on it.

[2018-10-30 16:15] dcmckayibm commented on #1156
Ok, I think at one point I was going to set it this way, and I forget why I decided against it

[2018-10-30 16:58] nonhermitian opened #1167 "Text-based circuit drawer output is scrambled in notebook unless print is called."
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

'                             \nq1_0: |0>────────────■───────\n                     │       \nq1_1: |0>──■─────────┼───────\n           │         │       \nq1_2: |0>──■─────────■───────\n         ┌─┴─┐┌───┐  │       \nq1_3: |0>┤ X ├┤ X ├──┼───────\n         └───┘└─

[2018-10-30 17:12] ajavadia commented on #1167
Yeah I saw this too and thought it's a problem with my environment. I didn't know print() fixes it. Can we fix it to work without print?

[2018-10-30 17:31] mtreinish commented on #1167
I'm not sure there is a way short of having the text backend realize it's in jupyter and call print() for you, and then not return anything. (or returning a string subclass that redefines `__repr__`) The problem is that jupyter is displaying the value of the return from the circuit_drawer() (basically calling repr() on it) function but not rendering it. This is the same thing as if you had a line

[2018-10-30 17:32] 1ucian0 commented on #1167
Would you prefer the text drawer to return a list of lines? Maybe with some particular option? Does any other plugin have to deal with something similar (latex_src)?

[2018-10-30 17:39] 1ucian0 commented on #949
Let me have another look. Thanks for checking!

[2018-10-30 17:41] mtreinish commented on #1167
The other backends return a pillow Image object which jupyter understands and renders the image.

[2018-10-30 18:04] eddieschoute opened #1168 "Memory blowup when parsing a big qasm file"
### Informations

- **Qiskit Terra version**: qiskit 0.5.6
- **Python version**: python 3.7
- **Operating system**: MacOS 10.14

### What is the current behavior?
When reading in a (large) qasm file of about 40 megabytes in size to a DAGCircuit, the memory requirements grow to many gigabytes. I just tested that it grew up to 4 GB, but I think it will continue unrolling until an approximated 8-10GB

[2018-10-30 18:08] nonhermitian commented on #1167
Why not just return an object with repr or maybe even html_repr that does what we want when it is called

[2018-10-30 18:57] jaygambetta commented on #1165
I think these are the only three functions we have

[code]
and i think we also want to have all aspects of them documented.

[2018-10-30 19:01] mtreinish commented on #971
So I'm starting to implement this now. Looking at how we'd do this we can parse the qasm and get an ast pretty easily. But when it comes to converting that ast to a circuit object it gets a bit more involved. We could either use the `Unroller()` with the backend set to `CircuitBackend` inside the new constructor methods. Or alternatively we could basically inline that code. (which would end up wit

[2018-10-30 19:46] mtreinish opened #1170 "Cleanup and standardize imports and leverage `__all__`"
### What is the expected enhancement?

Right now we leverage a mix of different import styles all over the repository. Imports vary between absolute and relative imports, as well as between class and module level imports. This should be cleaned up for 2 reasons first for consistency throughout the repo so everything looks the same way it makes it easier for new contributors to recognize the style,

[2018-10-30 19:48] mtreinish commented on #1170
@charlesastaylor I think this will mostly be mechanical work, just updating all the imports to be the same for. The only complexity comes from making sure we get setting `__all__` correct everywhere so the public interface remains unchanged.

[2018-10-30 20:02] mtreinish commented on #971
I threw together a commit to do this here: https://github.com/mtreinish/qiskit-core/commit/e50778baa9703be8e2bf097ba3103052946655c5 but it's blocked until #1152 merges because it depends on that refactor to work.

[2018-10-30 20:05] 1ucian0 commented on #1167
Well... the return type is a string. You should print it, like any other string.

[2018-10-30 23:13] charlesastaylor commented on #1170
I'll give it a go in the next couple of days.

[2018-10-31 02:05] 1ucian0 opened #1171 "Duplicated code in _simulatortools.py and qasm_simulator_py.py"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.6.1
- **Operating system**: Darwin 18.0.0

### The issue

While working on #1153, @charlesastaylor found several functions duplicated in `qiskit/backends/aer/_simulatortools.py` and `qiskit//backends/aer/qasm_simulator_py.py` (such as `index1`). This duplication should be removed.

[2018-10-31 10:03] diego-plan9 commented on #1170
I'm labeling the issue as `discussion`, as changing the import convention it's a decision that needs to be evaluated carefully. @charlesastaylor , could you hold off starting the implementation until we get more input? Thanks!

[2018-10-31 12:14] jaygambetta commented on #971
the unroller is how I would do it as well. I want to rethink the unroller but this makes the most sense now

[2018-10-31 12:19] jaygambetta commented on #971
Also, i have an initial implementation  for #1144 but it is the same code as what you have in this so i think let's get your pr in and then i make mine

[2018-10-31 15:58] diego-plan9 opened #1175 "Include API connector into IBMQ"
### What is the expected behavior?

Taking into account the upcoming steps (#983 and others) and next release goals, having the API connector directly inside terra would facilitate quick adjustments and pave the way. To consider:
* [x] start with stable version
* [x] removing unused functionality (`.run_experiment`, `.available_backend_simulators`)
* [ ] evaluate feasibility of including the `qisk

[2018-10-31 16:58] nonhermitian opened #1177 "Linux Travis skips drawing tests thinking they are running OSX matplotlib backend"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently the Travis drawing tests skip on the Linux because they think they are running the OSX Matplotlib backend:

[code]

[code]

### Steps to reproduce the problem
Look at the test logs.

### What is the expected behavior?

### Suggested solutions

[2018-10-31 17:11] #1109 closed

[2018-10-31 17:19] mtreinish commented on #1177
oh I see the bug, it's cause by https://github.com/Qiskit/qiskit-terra/blob/master/test/python/test_circuit_text_drawer.py#L21 that's the wrong import, it should be _text

[2018-10-31 17:35] mtreinish commented on #1170
#1172 is another place where the current import setup has caused an issue. As we refactor things this will continue to cause issues

[2018-10-31 17:44] mtreinish opened #1179 "Switch from pylint to flake8"
### What is the expected enhancement?

The pylint tool is overly pedantic, it fails over things like variable names and often is more of an annoyance than a helpful tool for enforcing consistent style in a repo. You can just look to how many of our source files have to explicitly exclude rules because they just get in the way. Alternatively we can/should use the flake8 project: http://flake8.pycqa

[2018-10-31 19:13] 1ucian0 commented on #1167
After discussing with @mtreinish, I will wrap the output in an object to implement `_repr_html_`.

[2018-10-31 20:28] 1ucian0 opened #1182 "CompositeGate should be removed"
This is a follow up to #316, #1130 and #1158.

At the moment, `CompositeGate` is not used any more by the simulation and standard extensions. However, still lives in `qiskit/extensions/quantum_initializer.py`.

[2018-11-01 01:51] #1177 closed

[2018-11-01 08:20] t-imamichi opened #1183 "Mention VC++ runtime as a dependency for Windows"
### What is the expected enhancement?

When I use Qiskit on Windows, I notice that Visual C++ Redistributable for Visual Studio 2015  `vc_redist.x64.exe` is necessary to run `qasm_simulator`. How about mentioning it in the installation instruction of the readme?
- Qiskit instruction https://github.com/Qiskit/qiskit-terra#instructions
- Visual C++ Redistributable for Visual Studio 2015 https://www.

[2018-11-01 11:29] jaygambetta commented on #157
@1ucian0 no it is not to do #1161 we need to do this. @ajavadia do you agree with me.

[2018-11-01 11:34] jaygambetta commented on #1183
@chriseclectic can you confirm this and we should make sure it is mentioned.

[2018-11-01 15:51] 1ucian0 opened #1186 "The tests in test_visualization.TestLatexSourceGenerator test all the same (shallow) thing"
The tests in `TestLatexSourceGenerator` (living in `test/python/test_visualization.py`) test that the visualizer creates the file when called with a filename. Nothing else, which is a very low bar. They all seem to test the same thing.

### What is the expected enhancement?
It's okay if one test checks that the file is created. The rest should also check that the result is expected. Random generat

[2018-11-01 17:18] #604 closed

[2018-11-01 18:37] 1ucian0 commented on #1129
Okay... here is the plan:
1. We create `get_instructions` as a utility (PR #1187)
2. We create individual issues for the visualizers to move out of running the transpiler and use the new utility.
3. Once they are old moved, we removed the `format='json'` from the transpiler.

[2018-11-01 18:41] nonhermitian opened #1190 "Matplotlib circuit drawer returns NoneType rather than PIL.Image"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The matplotlib circuit drawer returns a NoneType rather than the `PIL.Image` as stated in the docstring for `circuit_drawer` and `matplotlib_circuit_drawer`.  Thus, you can do nothing with the output.  For example, it would be nice to grab the output and use it in a

[2018-11-01 18:53] mtreinish commented on #1190
Hmm, when I tested it for writing the doc it was definitely an PIL Image object, it also works with the `interactive` kwarg which calls show() on that object to open it in a new window. So something odd must be going on, let me check the code

[2018-11-01 18:55] mtreinish commented on #1190
Well, that explains it: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/_matplotlib.py#L361-L375

If you're running in ipython it returns None, otherwise it renders the image to a file and uses that to create a PIL Image object.

Sigh, every time I think we've got the behavior well defined for the circuit drawer there is another edge case hidden in the code...

[2018-11-01 18:58] nonhermitian commented on #1190
Why are we note returning a matplotlib object instead of saving the figure and then reopening it as an image?

[2018-11-01 18:58] #1130 closed

[2018-11-01 19:01] mtreinish commented on #1190
Honestly, I don't know, when I started working on the project everything was already a PIL image object. I assume it's done that way for consistency with the latex drawer which obviously can't return a matplotlib object.

[2018-11-01 19:13] nonhermitian commented on #1190
Ok.  I would have thought that having a matplotlib fig or ax instance returned would be one of the selling points of that method.  I could do all sorts of things with it (annotate, combine, etc...).

[2018-11-01 19:21] mtreinish commented on #1190
Oh I definitely agree. We can change it (it's not like we're returning a consistent type with the text drawer anyway) to return the fig. If we do that I'm not exactly sure the best way to signal that, we've not had the `output` kwarg in a release yet, and the only way to get a matplotlib circuit before was if the latex one failed. Maybe we don't need a deprecation warning and just clearly document

[2018-11-01 19:30] 1ucian0 commented on #1190
Maybe it would make sense to have a consistent type with all the drawers. Compose them is something that can be supported in all of them. Same with "dump to a file". If you call a method that is not supported for that particular drawer, an exception makes sense...

[2018-11-01 19:58] mtreinish commented on #1190
Well I think the hunt for consistency is probably part of the problem here. We've got 3 different potential outputs (well 4 if you count latex_source) all of which behave differently and have different advantages and disadvantages. I'm not sure that wrapping 3 (4 if you count None as per this bug) different types (PIL Image, mpl figure, and str) in a class will make it easier to use. What does tha

[2018-11-01 20:17] chriseclectic commented on #1183
@atilag could you check how the `qasm_simulator` is packaged for windows and confirm if this is indeed a dependency. If so we should update the requirements as suggested.

[2018-11-01 22:17] nonhermitian opened #1192 "line_length in text drawer needs a default"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Large circuits are scrambled when using the text-based circuit drawer.

![image](https://user-images.githubusercontent.com/1249193/47883034-ed28ae80-de01-11e8-9aa9-7f51a9a5ec56.png)

vs

<img width="824" alt="screen shot 2018-11-01 at 6 16 35 pm" src="https://user-i

[2018-11-01 22:38] 1ucian0 commented on #1192
Did you try setting `line_length` option up?

On Thu, Nov 1, 2018, 6:17 PM Paul Nation <notifications@github.com wrote:

[2018-11-01 22:43] nonhermitian commented on #1192
That works, but why is it not set to some default value, say 80, that works for any circuit?

[2018-11-01 23:16] jaygambetta opened #1193 "methods for developing quantum channels"
Go with pr #1191

Also @chriseclectic can you make an issue for all the other future PR that you list there.

[2018-11-01 23:31] jaygambetta opened #1194 "Move tools.qi to a folder quantum_info"
Move tools.qi to a foder quantum_info.

[2018-11-01 23:32] jaygambetta commented on #1194
@chriseclectic and @ajavadia as we discussed today I'm going to slowly move things over to a new folder. @chriseclectic likes the name quantum_info so I think we go with that.

[2018-11-01 23:38] jaygambetta commented on #1145
started to fix #1144 with #1173.

[2018-11-01 23:40] jaygambetta opened #1195 "Make Clifford object to be used with ignis."

[2018-11-01 23:44] charlesastaylor commented on #1171
Also, the docstring for the `_index2()` function (in both places) reads `"""Magic index1 function.` Is that a typo?

Didn't think this was worth a new issue, apologies if this is wrong place to mention.

[2018-11-02 00:16] 1ucian0 commented on #1171
it can be fixed in the same move. And yes, it's probably a typ0.

[2018-11-02 00:48] jaygambetta opened #1196 "quantum state methods."
These include

basis_state
random_state
projector
state_fidelity

[2018-11-02 00:50] jaygambetta commented on #1143
We are going to remove this slowly and have the functions in quantum_info in its own module.

[2018-11-02 03:05] t-imamichi commented on #1190
When we originally implemented matplotlib_circuit_drawer, it returns nothing because we took into account the usecase of Jupyter notebook. @delapuente asked me to return PIL Image object to be consistent with latex_circuit_drawer. See the following PR for the details https://github.com/Qiskit/qiskit-terra/pull/579#issuecomment-401537471

[2018-11-02 03:12] t-imamichi commented on #1190
I see that text_circuit_drawer does not return PIL image object. So, we can change the return type of matplotlib_circuit_drawer as well, right? What do you prefer?

[2018-11-02 13:41] 1ucian0 commented on #1192
I think there are ways to know the dimension of the console that the code is running. However, I don't know how portable they are.

I have the feeling that 80 is very short for most of the modern scenarios.

Please, rename the issue to reflect the new enhancement request. Something like "line_length in text drawer needs a default", or similar.

[2018-11-02 13:48] mtreinish commented on #1192
There is a stdlib call in the shutil module: https://docs.python.org/3/library/shutil.html#querying-the-size-of-the-output-terminal. If it can't figure it out it falls back to assuming an 80x24 terminal. This is what I used when adding a `__str__` method to the QuantumCircuit class in #911.

[2018-11-02 14:09] 1ucian0 commented on #1190
From the API perspective, it seems to me that we have two options:
 - Return `None`: In `circuit_drawer` the full logic of the display is encapsulated, including saving in a file and so on. It turns into a "print this circuit whatever you mean for that".
 - Return a subclass of our own abstract class: This ABC, say `Drawing` can include abstract methods for common functionality (eg. compose to com

[2018-11-02 14:13] 1ucian0 commented on #1192
Let's use the tag `type:bug` for things that are broken. That is, they raise unexpected exceptions or/and the functionality that used to work now is not working. The `type:enhancement` tag is for things that work, but you prefer them to work differently. Or for additional funtionality that does not exists right now.

[2018-11-02 14:16] 1ucian0 commented on #1192
@mtreinish it seems very stright forward. Let's go for it. If I implemented in the visualizer, would yo remove it from the `__str__`?

[2018-11-02 14:30] mtreinish commented on #1192
Yes, if the text drawer automatically sizes the output by default there would be no reason to specify that for `__str__` in #911

[2018-11-02 17:11] delapuente commented on #1047
This is the first of a series of comments focused on listing the different data structures and interfaces inside Qiskit backends infrastructure. It is aimed at reflecting the real state of the current definitions and implementation in the several sources referring to it.

Symbol | Meaning |
-------|---------|
| ✓ | Present |
| x | Absent  |
| - | Does not exist |

## backend

Code: `qiskit.backend

[2018-11-02 18:01] delapuente commented on #1047
## provider

Code: `qiskit.backends.baseprovider.BaseProvider`.

Attribute | In the spec | In the code | In the schema | Action |
----------|-------------|-------------|---------------|--------|
backends | ✓ | ✓ | - |
get_backend | ✓ | ✓ | - |
available_backends | x | ✓ | - | Deprecated; remove?

[2018-11-02 19:08] delapuente commented on #1047
## job

Code: `qiskit.backends.basejob.BaseJob`.

Attribute | In the spec | In the code | In the schema | Action |
----------|-------------|-------------|---------------|--------|
status | ✓ | ✓ | - |
job_id | ✓ | ✓ | - |
backend | ✓ | ✓ | - |
cancel | ✓ | ✓ | - |
result | ✓ | ✓ | - |
submit | x | ✓ | - |

## job.status

Code: `qiskit.backends.jobstatus.JobStatus`

Value | In the spec | In the cod

[2018-11-02 19:31] #225 closed

[2018-11-02 21:29] 1ucian0 commented on #927
Maybe use the `failfast` option?
[code]

[2018-11-02 21:36] 1ucian0 opened #1202 "apply_operation_back API in dag should change to be consistent with add_qreg and add_creg"
Recently, the API for `DAGCircuit.add_qreg` and `DAGCircuit.add_creg` changed to be called with an object instead of a tuple (see #1189). `apply_operation_back` should also change in the same direction to be consistent.

[2018-11-03 00:18] #971 closed

[2018-11-03 09:51] nonhermitian opened #1203 "test_compiler breaks AerJob status check"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
When running the tests, the following does not work when run *after* the `test_compiler` module:

[code]

[code]

However, if run *before* that module, it works fine.  This is true both when running locally and on Travis.  This is blocking #975.

### Steps to reprod

[2018-11-03 14:40] jaygambetta commented on #1098
@ajavadia is there an update.

[2018-11-03 15:50] atilag opened #1206 "Remove underscore prefix from (almost) all files"
### What is the expected enhancement?
As we are transitioning from relative imports to absolute imports:
[code]
We are introducing code like:
[code]
... this code is telling me that I want a `QuantumCircuit` class from an internal/private `_module`, but QuantumCircuit is not internal nor private.

The concept of internal classes has been diffused during all this time, and I don't think we have thi

[2018-11-03 16:33] #1194 closed

[2018-11-03 16:33] #1196 closed

[2018-11-04 00:16] atilag commented on #1203
I'm taking over this one

[2018-11-04 01:10] 1ucian0 commented on #1192
This issue is solved in PR #1200 .

[2018-11-04 01:14] 1ucian0 commented on #949
on hold, waiting for a solution in #1203

[2018-11-04 01:17] 1ucian0 commented on #328
We transitioned to `networkx>=2.0` some time ago and, indeed, we are going to use many of the new features in the new DAG redesign. Closing.

[2018-11-04 01:17] #328 closed

[2018-11-04 17:05] jaygambetta opened #1211 "folders for tests"
Talking with @ajavadia I think we need to start to have test in folders.

The test folders are:
- [x] aer
- [x] ibmq
- [x] providers
- [x] qobj
- [x] results
- [x] circuit (which includes the dag and extensions too)
- [x] transpiler (which includes the mappers etc.)
- [x] visualization
- [x] quantum_info
- [x] qasm (parser etc.)
- [x] tools (compiler and execute) -- this we need some thinking as w

[2018-11-04 17:10] jaygambetta commented on #1211
@ajavadia did I miss anything?

[2018-11-04 18:23] Tomev opened #1212 "Job executing problem on RBPi with Raspbian Stretch in _parallel.py"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.6
- **Operating system**: Raspbian Stretch

### What is the current behavior?

When trying to execute job on my Raspberry Pi B I get following error in _parallel.py:

"... _parallel.py", line 109, in parallel_map
    if platform.system() != 'Windows' and num_processes > 1 \
TypeError: '>' not supported between instances of

[2018-11-04 18:52] nonhermitian commented on #1212
It seems that psutil cannot determine the physical cpu count on your system. The solution is to probably fall back to num_processes=1 if it cannot be determined

[2018-11-04 22:57] charlesastaylor commented on #1212
I can make this fix I think.

Checking `psutil.cpu_count` on my pi I noticed that `cpu_count(logical=False)` returns None but `cpu_count(logical=True)` returns 4. Is it worth trying value of `logical=True` when `logical=False` returns `None` or just default straight to 1?

[2018-11-05 00:42] charlesastaylor commented on #1206
I could do this, once said discussion has happened of course!

[2018-11-05 00:45] charlesastaylor commented on #1170
Do I infer from #1206 that this is agreed on to do?

[2018-11-05 11:29] #1203 closed

[2018-11-05 14:03] mtreinish commented on #1212
Opened an upstream issue in psutil for this: https://github.com/giampaolo/psutil/issues/1359

[2018-11-05 18:39] mtreinish commented on #1206
I'm fine with doing this, but my only concern is the external messaging. Personally I don't see an issue with a leading underscore with an import inside the same repo, to me having a module with a leading underscore means we're not providing an external api stability contract on that module. If we're going to change that for all the modules marked as private we'll have to change how we develop thi

[2018-11-05 23:20] jaygambetta commented on #1047
how is the easiest to comment on this.

[2018-11-06 14:18] jaygambetta opened #1219 "Add a function for Purity of mixed state"
We should add a function for calculating the purity of a mixed state.

It should be added to quantum_info/states

There is a function in tools/qi which should be moved and test made to confirm it works.

[2018-11-06 14:18] jaygambetta opened #1220 "Move and test quantum info density part."

[2018-11-06 14:18] jaygambetta opened #1221 "Add unitary class."

[2018-11-06 15:44] 1ucian0 commented on #1170
Nope, not agreed yet :) I will set #1206 on hold until this is decided.

[2018-11-06 17:03] mtreinish opened #1223 "test_qobj_measure_opt ocassionally fails"
### Informations

- **Qiskit Terra version**: Current Master
- **Python version**: Any version
- **Operating system**: Linux

### What is the current behavior?
When running test_qobj_measure_opt in ci we ocassionally have random failures like:

https://travis-ci.org/Qiskit/qiskit-terra/jobs/451415409#L1748

It looks like there is more variance in the result value than we're expecting and we're occ

[2018-11-06 17:43] #730 closed

[2018-11-06 18:33] 1ucian0 commented on #1148
If you dont agree with this convention, raise your concerns asap. Otherwise, tomorrow we will break this epic in individual issues to implement this approach around the code.

[2018-11-06 19:13] dcmckayibm commented on #1047
@delapuente I would change a few of these tables to not have "in the schema" because you are listing functions for the objects and there are no schemas for those.

[2018-11-06 21:18] 1ucian0 commented on #1190
After talking with @mtreinish, we decided that each output will return its own type. We might change this in the future if there are use cases that justify a common type.

[2018-11-06 22:47] steveatkin opened #1225 "ConnectionRefusedError when importing from qiskit.tools.visualization"
### Informations

Qiskit 0.6.1
Python 3.5.6
MacOS Mojave 10.14.1

### What is the current behavior?

A ConnectionRefusedError occurs as soon as you attempt to load any visualization package from qiskit.tools.visualization.

`---------------------------------------------------------------------------
ConnectionRefusedError                    Traceback (most recent call last)
<ipython-input-2-d8b2a6

[2018-11-06 23:21] mtreinish opened #1227 "test_qobj_to_circuits_multiple is ocassionally failing"
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

When running test_qobj_to_circuits_mutiple we're seeing occasional sporadic failures, like:

https://travis-ci.org/Qiskit/qiskit-terra/jobs/451515130#L2711

It looks like something is getting out of order and that's causing the tests to fail because

[2018-11-07 00:44] steveatkin commented on #1225
Will this change actually eliminate the issue or will the code simply fail later when you attempt to actually use plot_histogram or plot_state?

[2018-11-07 00:48] mtreinish commented on #1225
This will fix the issue, no unhandled exception will be raised by a failure in connectivity check. It does mean it will fall back to the non-js static visualizations, but that's better than failing.

[2018-11-07 01:06] steveatkin commented on #1225
Ok I am still completely puzzled as to what the connectivity issue could be on my end to cause this. I have double checked that everything else works ok and I am able to run experiments so my connectivity in general looks ok. Could it be something with MixTex or Poppler?

[2018-11-07 01:58] mtreinish commented on #1225
It might not be an issue on your end. In the case of the visualization check where you encountered the error it's checking to see if it can establish a connection to: https://qvisualization.mybluemix.net/ which is where the js library for the interactive visualizations is hosted. In my experience the bluemix hosting can be pretty flaky at times, the firewall/loadbalancer might just be refusing the

[2018-11-07 10:13] Exferro opened #1230 "Add option to expand custom gates in the circuit_drawer"
### What is the expected enhancement?
Circuits with user-defined gates will be visualized properly if user wants.

I've faced the following problem: when I define a custom gate using CompositeGate, the `circuit_drawer` fails to visualize a circuit with the defined gate.

As far as I understood, the reason is as follows: the `generate_latex_source` calls the `fromQuantumCircuit` member of `DAGCircu

[2018-11-07 12:14] ens-lg4 opened #1233 "eval_hamiltonian in qiskit/tools/apps/optimization.py seems to be broken"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.6.5
- **Operating system**: MacOS Sierra 10.12.6

### What is the current behavior?

function eval_hamiltonian() in qiskit/tools/apps/optimization.py that used to work for me
in Qiskit versions 0.5.4 through 0.5.7 no longer runs in Qiskit versions 0.6.0 and 0.6.1

### Steps to reproduce the problem

The old Qiskit code ass

[2018-11-07 12:31] yaelbh commented on #1148
Suppose that a user defines a custom gate that implements CNOT. The canonical, textbook form of CNOT, when qubit 0 is the control and qubit 1 is the target, is:
[code]
The user will be surprised that the CNOT gate that she's defined has qubit 1 as the control.

[2018-11-07 12:35] yaelbh commented on #1223
In general there should be a way to retrieve the random seed of a failing test, to make it easily reproducible.

[2018-11-07 13:43] #1192 closed

[2018-11-07 13:56] 1ucian0 commented on #1148
This is blocking #1187. Remove the tag from #1187 once this is agreed.

[2018-11-07 14:21] jaygambetta commented on #1148
@yaelbh i agree that it is different but this is why we need good documentation.

[2018-11-07 14:43] mtreinish commented on #1223
Oh I fully agree, but it doesn't look like we have that in the current ci results though. (I don't see the python hash seed anywhere in the log file) Probably just another reason we should switch to running things under tox in the ci jobs because it always prints that at the start of a test run,

[2018-11-07 14:50] chunfuchen commented on #1233
@ens-lg4
There is an equivalent method in Qiskit Aqua.

At the Operator class, there is an `eval` method which does the same thing as `eval_hamiltonian`.
https://github.com/Qiskit/aqua/blob/stable/qiskit_aqua/operator.py#L742

In the `eval_hamiltonian` method,  you need to provide `hamiltonian`, `input_circuit` and other device settings, and then it returns you the `mean` and `circuits`.
[code]

H

[2018-11-07 15:33] #1167 closed

[2018-11-07 15:41] ens-lg4 commented on #1233
Thanks very much for your quick reply!

So you have a totally new solution for v0.6 ...

I'll have to work out the new patches to reintroduce the concepts of timeout and accounting of total quantum time spent. Unfortunately this information seems to be discarded already at run_circuits() level. Oh well...

[2018-11-07 15:55] chunfuchen commented on #1233
@ens-lg4
The solution existed in Aqua for a long time.
I am not sure the patch you mentioned but in the run_circuits function, we had a logic to avoid a timeout when you try to run on real hardware.
Here is our logic: https://github.com/Qiskit/aqua/blob/stable/qiskit_aqua/utils/run_circuits.py

[2018-11-07 16:35] chunfuchen commented on #1233
you can pass timeout in qjob_config, like `qjob_config['timeout'] = 60` and the `functools.reduce()` just combine the Result object rather than waiting the result back.

The call at https://github.com/Qiskit/aqua/blob/stable/qiskit_aqua/utils/run_circuits.py#L147 is waiting for the result.

[2018-11-07 16:47] ens-lg4 commented on #1233
Thank you very much for your help!

So I can now examine the timing after calling run_circuits() ?
There is get_counts() in https://github.com/Qiskit/aqua/blob/stable/qiskit_aqua/operator.py#L682 and https://github.com/Qiskit/aqua/blob/stable/qiskit_aqua/operator.py#L713 - I guess I could call get_data().get('time') in a similar way?

[2018-11-07 16:50] 1ucian0 commented on #1230
Do you mind posting here your code? If I understand the problem correctly, it could it be because, currently, the drawers run the unroller before.

[2018-11-07 17:36] ajavadia opened #1235 "DAG apply_operation_front has bugs"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Applying gates to the front of the dag is done with `dag.apply_operation_dag()`. However it currently does not produce the expected result.

This function is not used anywhere now, only `apply_operation_back()` is used, which works fine. But this function should be fixed n

[2018-11-07 19:00] #1225 closed

[2018-11-08 00:34] tbabej opened #1237 "Invitation link to Slack is missing"
The README page mentions the slack channel https://qiskit.slack.com, but does not provide an actual invitation link to join. This turns out to be a hard gem to find on the internet, as invitation links eventually expire. All of the following blog posts contain expired Slack invitation links:

https://medium.com/qiskit/qiskit-turns-one-looking-back-cbc2c48d7a95
https://developer.ibm.com/blogs/2018/

[2018-11-08 02:40] jaygambetta commented on #994
@nonhermitian can we link this to the other issue

[2018-11-08 02:42] jaygambetta commented on #994
#994
 @nonhermitian can we make sure there is also a script that is called backend_monitor that calls the jypter and also the script

[2018-11-08 11:29] ss2165 commented on #1083
@ajavadia  I see this issue has been closed but I don't see that compile in _compiler.py has as 'pass_manager' parameter, is this still to come?

[2018-11-08 11:52] nonhermitian commented on #1227
Yea saw this as well

[2018-11-08 12:14] jaygambetta commented on #993
Close in #975

[2018-11-08 12:14] #993 closed

[2018-11-08 14:23] ajavadia commented on #1083
@ss2165 yes that will replace the `skip_transpiler`, and if you want to skip the transpiler you just pass in an empty pass manager.
now there are a few follow up issues we are working on to make this all make sense (#1144, #1145, #1146, #1163).

[2018-11-08 16:06] Exferro commented on #915
I would love to fix this as my first issue, could anyone tell me please how could I?

[2018-11-08 16:47] atilag commented on #1237
Hi @tbabej!
[qiskit.org](https://qiskit.org) should always have a valid invitation link.
I think we might want to link to the front-page in future articles, instead of just putting a link in there.

Thanks for reporting!

[2018-11-08 16:49] tbabej commented on #1237
Thanks for pointing that out @atilag !

However, the link on the qiskit.org is inactive too, unfortunately.

[2018-11-08 19:27] 1ucian0 opened #1241 "Document the bit ordering convention"
Documentation needs to be updated to add the new bit ordering convention (see #1148)

[2018-11-08 19:38] 1ucian0 opened #1242 "Update visualizers to follow the new bit ordering convention"
In epic #1148 was decided a new ordering convention that needs to be implemented in the visualizers.

[2018-11-08 19:49] 1ucian0 opened #1243 "check that Circuit follows the new bit ordering convention"
The epic #1148 decided a new bit ordering convention. We need to check that we are following it in `QuantumCircuit`:

---
(extracted from #1148)

[2018-11-08 19:54] mtreinish commented on #1165
One thing I just thought of is do we want to deprecate the current default behavior for plot state and plot_histogram where they use the interactive mode if in jupyter and have network connectivity? The fix for this #1229 will add a `mode` kwarg that will let users select `mpl` or `interactive`.

[2018-11-08 19:59] 1ucian0 opened #1244 "Check if the simulators follow the new bit ordering convention"
The epic #1148 decided a new bit ordering convention that needs to be followed by the simulators:

From the #1148's text:

[2018-11-08 20:14] 1ucian0 commented on #1237
Confirmed. I created https://github.com/Qiskit/qiskit.org/issues/56 for updating the web. This issue for updating the documentation.

[2018-11-08 20:16] 1ucian0 commented on #1237
The link to the invitation without expiration is:

https://join.slack.com/t/qiskit/shared_invite/enQtNDc2NjUzMjE4Mzc0LTMwZmE0YTM4ZThiNGJmODkzN2Y2NTNlMDIwYWNjYzA2ZmM1YTRlZGQ3OGM0NjcwMjZkZGE0MTA4MGQ1ZTVmYzk

[2018-11-09 00:42] mtreinish opened #1245 "`qiskit.tools.visualization_state_visualization` module fails to import"
### Informations

- **Qiskit Terra version**: latest master
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

Since #1166 merged the api changed for the pauli_singles() function. However the `qiskit.tools.visualization_state_visualization` module still uses the old function and imports the function directly here: https://github.com/Qiskit/qiskit-terra/blob/m

[2018-11-09 10:24] #1212 closed, assigned to nobody

[2018-11-09 11:44] atilag commented on #1237
https://github.com/Qiskit/qiskit.org/pull/57 has been merged. Closing this issue.
Thanks @tbabej and @1ucian0 !

[2018-11-09 14:27] mtreinish opened #1247 "test.python.quantum_info.test_states.TestStates.test_random_state fails by returning nan"
### Informations

- **Qiskit Terra version**: master
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

Occasionally in CI we're encountering failures caused by `test.python.quantum_info.test_states.TestStates.test_random_state` generating `nan` instead of a value converged to `1/8`. For example see:

https://ci.appveyor.com/project/QISKit/qiskit-sdk-py/build

[2018-11-09 18:17] 1ucian0 commented on #1237
Re-opeining, so the link is also in the README file in the repo is updated.

[2018-11-09 19:02] atilag opened #1250 "Remove local backend (Aer) fallback"
### What is the expected enhancement?
Python simulator alternative to the fastest C++ one is orders of magnitude slower.
We have a fallback mechanism, where if for some reason the user doesn't have the C++ simulator installed in the system, we use the Python one without warning or noticing, while this is convenience for small experiments, many users may experience very poor performance executions.

[2018-11-09 19:03] atilag commented on #1250
BTW, we are going to remove this fallback on Aer.