[2021-08-01 15:05] singhsanskar202 commented on #6848
I would like to take this issue.

[2021-08-01 21:47] CisterMoke commented on #6772
Hello, I am interested in picking up this issue as my first contribution. If I understand the issue correctly, the list of classes that should be updated are:
- `NumPyMinimumEigensolver`
- `VQE`
- `QAOA`
- `NumPyEigensolver`

Looking a bit further in the code it seems that the eigenvalues of the auxiliary operators for a certain eigenstate are returned as a NumPy array that preserves the order of

[2021-08-02 01:04] nonhermitian commented on #5350
This is done for the StochasticSwap in #6827. Others can be modified in a similar manner.

[2021-08-02 04:48] singhsanskar202 commented on #6616
ok

[2021-08-02 08:51] dlasecki opened #6849 "Introduce package structure to unit tests"
### What is the expected enhancement?

Terra has unit tests that have a mostly flat structure. It prevents from running a bunch of file tests (and only them) at once if they belong to a package not represented in tests hierarchy. The enhancement is to mirror the structure of packages from the source code in unit tests.

[2021-08-02 11:32] ElePT opened #6850 "`BlueprintCircuit` doesn't get copied properly"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.9.6
- **Operating system**: macOS Big Sur 11.4

### What is the current behavior?
When trying to fix [this issue](https://github.com/Qiskit/qiskit-machine-learning/issues/180), I found that `RawFeatureVector` (a qiskit-machine-learning class which extends `BlueprintCircuit`) cannot be copied properly using `.copy()`.  This

[2021-08-02 11:32] jakelishman commented on #5348
Closed by #5661.

[2021-08-02 11:32] #5348 closed

[2021-08-02 22:10] ajavadia commented on #6848
The compilation is correct. This warning was built in so that users can flag such cases for careful assessment. Here what happened was the compiler was given the task of synthesizing the Hadamard gate over the {'h', 'cx', 'sx', 'x', 'rz'} basis, and came up with RZ-SX-RZ. Under the "shorter-is-better" metric, this means the synthesizer should be improved.

[2021-08-02 22:12] kdk commented on #6744
Closing as duplicate of #6848 .

[2021-08-02 22:12] #6744 closed

[2021-08-02 22:41] ecpeterson commented on #6848
When we decided to include this warning, I think we didn't consider the "mixing" of native gate sets, where the synthesis method used (here: PSX) doesn't surject onto all the gates included in the native set.

Probably this is best handled by using something other than gate count to measure circuit improvement, and [recent `retworkx` work](https://github.com/Qiskit/retworkx/pull/383) would be rele

[2021-08-02 23:30] rmlarose opened #6860 "Removing then adding a `QuantumRegister` adds the register but not the qubits"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.7.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

See below.

### Steps to reproduce the problem

[code]

Output:

[code]

### What is the expected behavior?

[code]

### Suggested solutions

I'm not sure, but if you add a different `QuantumRegister` this does update the qubits:

[code]

[code]

[2021-08-03 00:46] ElePT commented on #6850
Oh, I didn't get to try with other circuits, but that makes sense, thanks!   I will keep this issue open until I manage to fix `RawFeatureVector` just in case.

[2021-08-03 02:05] ajavadia commented on #6825
I spent some time thinking about this. I don't really have a better alternative. I agree the Backend object is probably the best place to track information about qubit frequencies, meas frequencies, cals, error rates, etc. Each of these may be updated by `qiskit-experiments` after some experiment is run.

So I think you can go ahead with https://github.com/Qiskit/qiskit-terra/pull/6759.

As for wh

[2021-08-03 09:24] jakelishman commented on #6860
As written, I wouldn't call this a bug - you access the private member `QuantumCircuit._qubits`, and we can't make any guarantees about what happens when you modify our private variables.  This happens because there are actually _two_ places the qubits are stored (`._qubits` and `._qubit_set`), and it's the latter that's used to see if a qubit already exists in the circuit.

_However_, we don't cu

[2021-08-03 09:53] Cryoris commented on #6860
Seems related to #3995.

[2021-08-03 14:12] #6493 closed

[2021-08-03 15:38] rmlarose commented on #6860
Thanks!

The use case here is interoperability with other libraries. I was using a useful function to modify the operations in my circuit, but the function would also modify the qubits. So after calling it I wanted to change back to the original qubits (and generally have the same register structure since the results of executing a circuit are formatted differently based on this.)

I feel fine clo

[2021-08-03 18:54] kdk opened #6861 "Deprecate qiskit.extensions"
### What is the expected enhancement?

Following #4699 and #4311 and others, the `qiskit.extensions` folder should be empty and can be deprecated and removed.

[2021-08-03 19:14] woodsp-ibm commented on #6772
@CisterMoke I think the intent was that if a dictionary was passed in that a corresponding dictionary containing the results would be passed back so the keys are the same set. I.e. whatever the key was for the operator in the dictionary that was input, its measured expectation value in the output result would be in a dictionary under the exact same key. Hence the caller simply gets the results by

[2021-08-03 21:46] #6746 closed

[2021-08-03 21:52] mtreinish opened #6862 "Deprecate `qiskit.test`"
### What is the expected enhancement?

As a follow up to #6753 we should start to deprecate the `qiskit.test` namespace. Most of the code there is isolated to terra's unittests and is not something we should be exporting as a public interface in the package's namespace. Test code should live as close to the tests as possible the more abstracted away it is the harder it is to debug test failures or

[2021-08-03 22:16] CisterMoke commented on #6772
Hmm ok makes sense. I'm not immediately sure what possible side effects this could introduce but I'll start investigating that.

[2021-08-04 07:20] mrossinek commented on #6772
Thanks @CisterMoke for offering your help! What Steve wrote is correct: the intent would be to always access values by keys thereby removing any dependence on ordering. I am also not sure what side effects this will have, so please feel free to share any findings you have.

I also wanted to quickly point out what Steve wrote here:

I absolutely agree with this (but somehow must have missed his rep

[2021-08-04 07:25] Cryoris commented on #6860
What would `transform_registers` do? 🙂

[2021-08-04 07:56] Cryoris opened #6863 "Evolution gates"
### What is the expected behavior?

Implement an evolution gate that can get synthesized into Pauli-evolution gates (or for a simulator backend just with direct matrix exponentiation) such that the compiler can perform optimizations on blocks of evolved Pauli operators before further decomposing into basis gates.

Here's a preliminary design doc: https://gist.github.com/Cryoris/abc9753fd7dfb0cc3b3

[2021-08-04 08:48] Cryoris opened #6864 "Expectation value re-design"
### Summary

Taking expectation values for opflow operators on a backend/simulator currently looks like
[code]
This workflow requires users to know about several classes before being able to calculate expectation values and constructs and copies potentially heavy opflow objects multiple times. We'd like to create a new expectation value class to (1) simplify and speed up the current flow and (2) c

[2021-08-04 16:23] rmlarose commented on #6860
Transform the qubits (and registers) of the circuit to the new provided ones.

[code]

E.g.

[code]

Should allow different register sizes (e.g., a circuit with one 2-qubit register and one 3-qubit register to get transformed to one 6-qubit register, and vice versa), error on wrong number of bits in new registers, etc.

[2021-08-04 20:28] ozamanan commented on #6702
@VicentePerezSoloviev Are you working on this issue? If not then I would like to work on this issue.

[2021-08-04 22:37] #6848 closed

[2021-08-04 23:05] ecpeterson commented on #6848
Thanks anyway, @singhsanskar202 !

[2021-08-05 07:05] shahakL opened #6871 "Job metaclass is missing an error_message() function, used in job submitting"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
When submitting jobs and querying for their status (in run_qobj() in qiskit/ustils/run_circuits.py), a call is made to job.error_message() whenever the job's status is an error:
`                elif job_status == JobStatus.ERROR:
                    logger.warning(

[2021-08-05 07:27] shahakL opened #6872 "Infinite job submissions when submitted jobs' status is error/cancelled/unknown status"
### Information

- **Qiskit Terra version**: lastest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The problem is in the run_qobj() function in qiskit/utils/run_circuits.py.
When a submitted job to a non-simulator backend is in a JobStatus.ERROR or JobStatus.CANCELLED status, the job is submitted again. This happens infinitely many times if the job is continually

[2021-08-05 07:31] shahakL commented on #6872
This is related to #6821 but even more dangerous due to the possibility of infinite job submissions, each costing the user.

[2021-08-05 08:03] mhinkie opened #6873 "Implement Shor's algorithm for the DLP"
### What is the expected behavior?
Provide an implementation of Shor's algorithm for the discrete logarithm problem similar to the implementation of Shor's algorithm for prime factorization in [qiskit/algorithms/factorizers/shor.py](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/factorizers/shor.py).

I have already implemented the Algorithm based on: https://arxiv.org/abs/quan

[2021-08-05 08:05] mhinkie commented on #6873
@Cryoris Hi, I hope I found the right username in Github. I wrote on Slack yesterday about implementing an algorithm for the DLP and I've created this issue to discuss the details.

[2021-08-05 09:07] Cryoris commented on #3263
I'm not quite convinced this is really a bug, is it? I would imagine that if you have a gate defined on a set of qubit but it doesn't actually do anything then shouldn't it decompose to no operation at all? 🙂

[2021-08-05 09:14] Cryoris commented on #3011
Is this issue still active? FWIW I agree with @chriseclectic's answer above, I think it would be better to not hide a potentially expensive and not scalable operation in a seemingly innocent circuit method 🙂

Also, getting the matrix is now in the basic circuit tutorial: https://qiskit.org/documentation/tutorials/circuits/01_circuit_basics.html#Unitary-representation-of-a-circuit.

[2021-08-05 09:16] Cryoris commented on #2948
Is the question here about the comparison of a bound parameter to a float, i.e.
[code]
or comparing two unbound parameter expressions
[code]
?

If it's the former, I think this would be addressed by #6812.

[2021-08-05 09:24] Cryoris commented on #4417
I'm a bit on the fence on changing to only use jupyter-execute because this means the circuit will only show up in the online docs and not when browsing the code directly. Should we have an example with both, as a compromise?

[2021-08-05 09:29] nonhermitian commented on #4417
The point is that the circuit itself gets a bit of extra validation in doing so, whereas a normal code block can get out of date without notice.  This is over a year old, so I do not think any one really cares too much, so feel free to close.

[2021-08-05 09:49] Cryoris commented on #6819
Related to #6864.

[2021-08-05 10:01] Cryoris opened #6876 "State overlap interface"
### What is the expected behavior?

Add an algorithm interface for computing state overlaps (similar to the `ExpectationValue`s of #6864) of two states, `|psi>` and `|phi>`: `<psi|phi>`.

Computing overlaps is a primitive task that's used in several algorithms, such as quantum kernels or evaluating the Quantum Fisher Information. There exist several techniques to evaluate the overlap, so it would

[2021-08-05 10:18] nonhermitian commented on #6864
So in the model above, is `ExpectationValue` tasked with forming the correct circuits for the operator, i.e. appending the needed basis transform gates?  Also, do we really need a class here that one can pass parameters to, i.e why can't `ExpectationValue` just be a call to run the circuits on the specified backend after binding parameters that returns the results?

[2021-08-06 00:39] ajavadia opened #6879 "gate modifiers as first class semantics"
Say I build a circuit using the `power` and `control` modifier on gates.

[code]

It is good that the circuit drawers support these modifiers natively:
[code]

The following issues exist:
- I can't directly control the `quantum_info.random_unitary` U, have to build a UnitaryGate out of it first. i.e. quantum_info objects are not first class citizens in circuits.

- `PhaseGate(θ).control(2)` yields

[2021-08-06 03:03] ElePT commented on #6850
Fixed!!

[2021-08-06 03:03] #6850 closed

[2021-08-06 10:01] 1ucian0 commented on #2015
It sounds like a lot of code to maintain for marginal utility.

Why not writing those drawers as external tools on top of qiskit-terra? We can work on a common plugin interface, if that's needed.

[2021-08-06 18:44] cdtho opened #6880 "HHL Algorithm gives incorrect answer"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: Python 3.9.5
- **Operating system**: Windows

### What is the current behavior?

Hello, I am trying to compare the HHL algorithm to classical methods. I'm testing the algorithm for a 4x4 case where A and b are:

![image](https://user-images.githubusercontent.com/88396566/128545857-670dbd00-14bd-423d-9771-67452299ce02.png)

R

[2021-08-06 20:39] jlapeyre commented on #6677
Can someone supply something like a MWE?  @irajput passed me the following example. After the first pair of passes `ConsolidateBlocks`, `UnitarySynthesis`, the subsequences with more than one pair of `SX`s are gone and do not reappear. Is the circuit not complicated enough?

[code]

[2021-08-09 13:20] tnemoz commented on #2015
@1ucian0 I'm not sure I understand what you mean, can you elaborate on this please?

[2021-08-09 14:29] #6367 closed

[2021-08-09 19:58] 1ucian0 commented on #2015
A circuit drawer is a rather independent module. It would be possible to write a drawer as a fully independent package on top of qiskit-terra. There is no need to modify terra.

[2021-08-10 08:20] t-imamichi opened #6888 "Gradient with a parameterized operator raises an error"
### Information

- **Qiskit Terra version**: both latest and #6847
- **Python version**: 3.8.11
- **Operating system**: macOS 11.4

### What is the current behavior?

`Gradient.convert` raises an error with an operator with parameters.

### Steps to reproduce the problem

I tried the following code with main branch and #6847, but both raise an error.

[code]

output
[code]

### What is the expecte

[2021-08-10 09:31] francabrera opened #6889 "Duplicated matplotlib figures when running ipykernel 6"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.7.8
- **Operating system**: Linux

### What is the current behavior?

When running ipykernel >= 6.0.0 (latest at the time of writing is `ipykernel==6.0.3`) on Jupyter Notebooks (also in Jupyter Lab) displaying any matplotlib figure using Qiskit (a Quantum Circuit or a visualization of an output) the output is displayed twi

[2021-08-10 10:22] jakelishman commented on #6889
Thanks for the report.  This is due to changes in the interaction between `matplotlib` and `ipykernel` new in version 6.0.  There is now a new package called `matplotlib_inline` which provides the integration between the two, and it registers itself as a different backend.  We weren't accounting for it, so our usual code that handles the de-duplication didn't run.  Should be fixed by #6890.

[2021-08-10 14:05] #6813 closed

[2021-08-10 16:57] TheGupta2012 commented on #6763
I did replace the return values with `self` for the gates defined in `existing_gate_names` in line 1337 of `quantumcircuit.py` instead of modifying the `InstructionSet` class for returning a `QuantumCircuit` instance. Is that the right way to do it?
 I thought that changing `InstructionSet` altogether to return a `QuantumCircuit` may break some other code present in the modules.

[2021-08-10 17:02] Brogis1 opened #6892 "Parametrised Global Phase in Ansatzes"
### Information

- **Qiskit Terra version**:0.19.0
- **Python version**: 3.7.10
- **Operating system**:  MacOS Big Sur 11.4

### What is the current behavior?

I needed to parametrise the global phase and the parameter did not show up in `circuit.parameters`.

### Steps to reproduce the problem
[code]

example 1: parameter is not present in ParameterView
[code]

example 2: parameter is not present

[2021-08-10 18:08] jakelishman commented on #6763
The gate methods return `InstructionSet`, because sometimes you need to modify the instruction after it's created, such as by adding a classical condition onto it:
[code]

The chained examples given in the first post are actually an example of something different; in this case, they're not mutating any state at all, but are returning a different object.  It's a common in Python for mutating method

[2021-08-10 18:08] #6763 closed

[2021-08-11 15:35] #6448 closed

[2021-08-11 16:21] TheGupta2012 commented on #6709
@wagnersj can I have a look at this issue?

[2021-08-11 16:31] TheGupta2012 commented on #6872
@shahakL may I look at this issue ?

[2021-08-11 17:07] TheGupta2012 commented on #6821
@nonhermitian could you provide some example of how I may reproduce this in code?

[2021-08-11 17:19] taalexander commented on #6889
A quick workaround that sometimes works for me is to add a semicolon after your call to draw, eg., `circuit.draw('mpl');`

[2021-08-11 17:22] wagnersj commented on #6709
@TheGupta2012 Of course you can have a look!

[2021-08-11 17:24] taalexander opened #6898 "assemble for schedules ignores parametric_pulses argument"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.8
- **Operating system**: N/A

### What is the current behavior?
The Qobj assembly ignores the `parametric_pulses` argument in `assemble` and instead always grabs the value from `backend.configuration().parametric_pulses`

### Steps to reproduce the problem
Run
[code]
Output:
[code]

### What is the expected behavior?
If `

[2021-08-11 18:15] jwoehr commented on #6821
Is this only on jobs to `IBMQBackend` or is this also to Aer?

[2021-08-11 20:22] #6817 closed

[2021-08-11 21:42] #6889 closed

[2021-08-11 23:02] #6754 closed

[2021-08-12 07:41] shahakL commented on #6872
@TheGupta2012 Sure!
Please see the attached piece of code for reference. It should call the MyBackend.run() function an infinite amount of times, therefore creating infinite jobs.
In addition, like seen in #6821, there are many additional scenarios for infinite loops when submitting jobs through a QuantumInstance (e.g. if a job constantly return a CANCELLED status, it enters an infinite loop). So

[2021-08-12 07:43] shahakL commented on #6821
Please see the attached code for an example
[main.py.zip](https://github.com/Qiskit/qiskit-terra/files/6973623/main.py.zip)

[2021-08-12 14:02] TheGupta2012 commented on #6872
Thanks @shahakL ! I'll update you when I make some progress.

[2021-08-12 15:08] wmurphy-collabstar opened #6901 "Unit incorrect for rep_delay_range parameter in qiskit.providers.models.BackendConfiguration documentation"
In the qiskit.providers.models.BackendConfiguration documentation (link here:https://qiskit.org/documentation/stubs/qiskit.providers.models.BackendConfiguration.html#qiskit-providers-models-backendconfiguration) under the description for the `rep_delay_range` parameter is the following:

"2d list defining supported range of repetition delays for backend in μs. First entry is lower end of the range

[2021-08-12 17:05] TheGupta2012 commented on #6872
@shahakL could you highlight the significance of `with_auto_recover` parameter being set in `run_qobj` and `run_circuits` methods of `run_circuits.py`? I seem to have found the main issues in `_safe_submit_qobj` and `_safe_submit_circuits` methods but I am not sure why they are being called again if `with_auto_recover` is set.

[2021-08-12 19:46] Eatenbybug opened #6966 "Python multiprocessing not working with aer simulator on Ubuntu"
### Informations

- **Qiskit Aer version**: Qiskit Aer 0.8.2
- **Python version**: 3.7.11
- **Operating system**: Ubuntu 18.04.3 LTS

### What is the current behavior?
When I am trying to run VQE calculations in parallel using multiprocessing package in python, there is no output if I use aer_simulator as the backend. The program, however, runs fine if I use statevector_simulator.
In Windows 10, t

[2021-08-13 01:53] ikkoham opened #6902 "assemble ignores backend option"
### Information

- **Qiskit Terra version**: 'qiskit-terra': '0.18.0.dev0+8c19253', 'qiskit-aer': '0.9.0',
- **Python version**:3.8
- **Operating system**: macOS

### What is the current behavior?

assemble ignores backend option

### Steps to reproduce the problem

[code]

The code outputs 1024.

### What is the expected behavior?

But it should be 3000.

### Suggested solutions

[2021-08-13 05:02] levbishop opened #6903 "Shrink/Eliminate list of allowed DeprecationWarnings"
In `QiskitTestCase.setupClass()` there is a filter for `DeprecationWarning`s that will not generate an error in the test suite.
We should aim to eliminate the list (where appropriate, using `assertWarns` for cases where deprecated functionality is intentionally exercised).

[2021-08-13 05:09] levbishop opened #6904 "Test suite should error on unexpected warnings"
Since #6392 we explicitly check for unfiltered `DeprecationWarning` but other types of warning do also indicate an issue that should be investigated, and might be missed due to all the text scrolling past during a test-suite run. (This happened for https://github.com/Qiskit/qiskit-terra/pull/6553#issuecomment-864807584)

If the performance hit isn't too terrible we might consider running the test

[2021-08-13 05:30] levbishop opened #6905 "Make type hinting mypy-clean with relaxed settings"
It's not clear that we want to enforce strict type hinting for qiskit and/or include mypy in our CI, but I do think that for the places where type hinting exists, there those hints should aim to be correct. For many modules they mostly already are, but in others there are a lot of errors. I'd even be fine with removing the incorrect type hints if its too much trouble to correct them.

The current

[2021-08-13 06:54] probvar opened #6906 "Transpiling `cp` into `['u', 'cx']` works; transpiling `cx` into `['u', 'cp']` doesn't"
### Information

- **Qiskit Terra version**: `0.18.0`
- **Python version**: `Python 3.9.6`
- **Operating system**: `Pop!_OS 21.04 x86_64`

### What is the current behavior?
I am able to transpile a `cp` gate into using `['u', 'cx']` as basis gates, but I am unable to transpile a `cx` gate using `['u', 'cp']`. I want to be able to use `['u', 'cp']` as the transpilation target for more advanced circ

[2021-08-13 07:08] epelofske65537 opened #6907 "Import error"
### Information

- **Qiskit Terra version qiskit-terra==0.18.1**:
- **Python version 3.7 and 3.8**:
- **macOS Mojave**:

### What is the current behavior?
Any import of qiskit results in this particular error (shown below)

### Steps to reproduce the problem
I reproduced this error in a python3.8 conda environment after installing the latest version of qiskit (```pip install qiskit```). as of writ

[2021-08-13 09:17] Cryoris commented on #6880
The current version of HHL doesn't support matrices with negative eigenvalues, which seems to be the reason this example is failing. That's a feature we're looking to integrate and will soon be working on!

[2021-08-13 10:57] jakelishman commented on #6907
This is a tweedledum bug unfortunately, not a Qiskit one: see boschmitt/tweedledum#159, so you may have more luck getting this sorted over there.

[2021-08-13 14:22] #3705 closed

[2021-08-13 14:22] #6780 closed

[2021-08-13 14:26] Cryoris commented on #6888
Hm I think this is a problem with symengine thinking (correctly) that `a` might be complex. If you change the code to this it should work:
[code]
Like that, the parameter `a` is not conjugated and that should be ok for symengine.

But this is still a bug that we should fix.

[2021-08-13 16:39] #6779 closed

[2021-08-13 16:53] levbishop commented on #6906
I'm hoping #6784 can be extended to cover this situation

[2021-08-13 16:56] TheGupta2012 commented on #6709
@wagnersj could you provide a starting point in the transpiler passes where this check should have taken place?
It would be really helpful if you could provide the specific file name. Thanks!

[2021-08-13 19:29] taalexander commented on #6902
This may be related to #6898 as well?

[2021-08-13 20:27] wagnersj commented on #6709
@TheGupta2012 The error message that I included in the issue description above occurs in `qiskit/transpiler/passes/basis/basis_translator.py` in the `run()` method. That would be a good place to start.

[2021-08-15 01:06] epelofske65537 commented on #6907
Thanks pointing me to that.

```pip install tweedledum==1.0.0``` (instead of version 1.1.0) fixed the problem for me.

[2021-08-15 08:15] #6907 closed

[2021-08-15 18:30] johnlager commented on #1237
Hi, do you guys have a valid invitation link?

[2021-08-16 12:02] dlasecki opened #6912 "Migrate variational principles to the new design (Quantum Time Evolution)"

[2021-08-16 12:03] dlasecki opened #6913 "Migrate solver of linear equations to the new design (Quantum Time Evolution)"

[2021-08-16 12:04] dlasecki opened #6914 "Migrate ODE solvers to the new design (Quantum Time Evolution)"

[2021-08-16 12:11] dlasecki opened #6915 "Migrate variational error calculators to the new design (Quantum Time Evolution)"

[2021-08-16 12:11] dlasecki opened #6916 "Migrate QFI/gradient/natural gradient calculators to the new design (Quantum Time Evolution)"

[2021-08-16 13:04] dlasecki opened #6917 "Gradient framework does not unroll certain gates correctly."
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

Some gates for which gradients shall be calculated are not unrolled into supported gates and an error is thrown because the gate is not recognized.

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Unrolling composite g

[2021-08-16 18:05] TheGupta2012 commented on #6709
Hey @wagnersj . While exploring this issue I found that there are many other methods that are not supported by backends i.e. the methods of type `QuantumCircuit.save_x` where x is something. Since the transpilation fails for these other methods too, should I make a general checker for all of them inside the `qiskit/transpiler/passes/basis/basis_translator.py` file?

[2021-08-16 22:32] Lolcroc opened #6920 "Define `__str__` for `Instruction` objects"
### What is the expected enhancement?

Printing a `Instruction` to console shows the default pointer information because `__str__` is not defined. It would be useful to show at least the minimum information of the instruction itself, i.e. `self.name`, `self.num_qubits` and `self.num_clbits`.

[2021-08-17 04:11] TheGupta2012 commented on #6920
@Lolcroc may I have a go at this?

[2021-08-17 06:14] shahakL commented on #6872
@TheGupta2012 IMO it should continue with the current job set, and simply log the failed job. The failed job should be marked in some way, maybe by adding a new job status like FailedToRun.

[2021-08-17 07:16] TheGupta2012 commented on #6872
I was thinking that too but Mathew Treinish and Steve Wood said that it would be okay to halt and notify that the job set execution has failed. The basis was that execution through `QuantumInstance` is intended for execution of quantum algorithms and failing of even one job in the job set would mean a failed execution of the algorithm altogether.

Also, if the reviewers want I could still add some

[2021-08-17 09:59] 1ucian0 opened #6921 "plot_coupling_map() and plot_gate_map() needs snapshot testing"
Now we have snapshot testing for other graphs besides circuits (thanks to #6672), it should be extended with other graphing functions, like `plot_coupling_map` and `plot_gate_map` (introduced in #6751).

[2021-08-17 16:31] nkanazawa1989 opened #6923 "qpy serialization for pulse schedule"
### What is the expected behavior?

Currently we are missing a serialization format for pulse schedule, and this is necessary for the calibration module in qiskit experiments. However implementation is not straightforward.

1) No standard
We don't have any de facto standard of schedule program representation. Currently we have two types of schedule representations `Schedule` and `ScheduleBlock`.

[2021-08-18 06:07] prathameshbhole commented on #6902
If anyone else is not working on this issue. I would love to take this up

[2021-08-18 11:48] taalexander commented on #6902
Thank you @prathameshbhole, I will assign it to you. Please let me know if you require any help.

[2021-08-18 11:50] prathameshbhole commented on #6902
Sure, I will

[2021-08-18 11:52] taalexander commented on #6902
@prathameshbhole, before pursuing further. Can you check if #6922 resolves this issue? It may be related.

[2021-08-18 11:54] #6898 closed

[2021-08-18 14:52] prathameshbhole commented on #6902
I have opened a pull request #6926. Which has cleared all the tests, now the code review is remaining. This was a quick fix, I am hoping to contribute more to the qiskit community in the near future. Thank you

[2021-08-19 05:34] prathameshbhole commented on #6901
Here we just need to make changes in docstrings of qiskit.providers.models.backendconfiguration.py right?

[2021-08-19 10:12] 1ucian0 commented on #6702
Apologies for the slow response on this, it is already being worked on by @y4izus, we will update the assignment to reflect this and prevent further confusion.

thanks!

[2021-08-19 10:14] y4izus commented on #6702
thanks @1ucian0 !

[2021-08-19 10:20] anedumla opened #6927 "Aer simulators do not work if circuit contains PhaseEstimation"
### Information

- **Qiskit Terra version**: 0.19.0
- **Python version**: 3.8.3
- **Operating system**: Windows 10 Enterprise 64-bit

### What is the current behavior?
If the circuit contains a PhaseEstimation block, the code returns an error when using any of the Aer simulators.

### Steps to reproduce the problem
[code]
output:
[code]
The same problem occurs for other Aer simulators.

[2021-08-19 12:14] taalexander commented on #6901
@prathameshbhole, yes this is all that needs to be updated.

[2021-08-19 12:15] taalexander commented on #6927
Please transpile the circuits before submitting them to the simulator, eg.,

[code]

[2021-08-19 12:22] taalexander commented on #6902
Following a discussion here https://github.com/Qiskit/qiskit-terra/pull/6926#discussion_r691545043 and internally with @jyu00  and @mtreinish we have decided that this falls in the category of "Won't fix". The reason for this is that the `qobj` path will shortly be deprecated and moved out of Qiskit Terra to `qiskit-ibm`. In the new backend configuration, it will become the provider's responsibili

[2021-08-19 12:34] #6927 closed

[2021-08-19 12:35] prathameshbhole commented on #6902
@taalexander where I should add this note exactly?

[2021-08-19 15:38] mtreinish commented on #6923
One thing we can do at least for calibrations (maybe not a good idea for standalone schedules) while the pulse api is finalized is to just leverage qobj. We can serialize the calibrartion schedules to qobj (without a backend set) and then embed that as a utf8 string in the calibrations field for a circuit. (we could also probably make some tweaks via the json encoder class for low hanging fruit ch

[2021-08-19 16:20] lcapelluto commented on #6576
This PR #6855 can be used to complete this feature request -- all that would be required would be to search for the correct inputs for the new pass prior to running. I unlinked the PR to leave this issue open after it's merged.

[2021-08-19 17:00] TheGupta2012 commented on #6872
Hey @shakal, is there any other advice for the PR I opened? I'm not sure if I should ask the reviewers specifically.

[2021-08-19 17:20] TheGupta2012 commented on #6920
Is the above-mentioned information sufficient for this `__str__` method? Also, if `self.name` is `None`, should there be any default name for an object instance?

[2021-08-19 18:20] npkhedkar opened #6928 "Calibrating X90 Pulses with Pulses on Control Channel"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.8.8
- **Operating system**: macOS Big Sur 11.5

### What is the current behavior?
X90 pulses to qubit via `DriveChannel` become miscalibrated when a waveform is introduced on `ControlChannel` tied to same qubit. This occurs even when the waveform is valued at 0 amplitude everywhere, but does not occur when `Delay` instruct

[2021-08-20 02:19] nkanazawa1989 commented on #6923
Thank you Matthew for the advice. The assemble/disassemble only support `Schedule`, however, the calibration needs `ScheduleBlock` to keep the `duration` parametrized. This means we need to write serializer almost from scratch. In addition, the serialized data are planned to be stored in the remote database, so we cannot easily switch to new representation. So we are trying to use something much s

[2021-08-20 08:48] TheGupta2012 commented on #6821
@nonhermitian I have tested the current PR for different job states according to the code given by @shahakL. Would you be able to review the PR once?

[2021-08-20 12:27] Lolcroc commented on #6920
Yes, a formatted string with just those parameters seems fine. If `self.name` is `None`, it makes sense to print it as `None`.

[2021-08-20 12:31] adekusar-drl opened #6929 "Transpiler raises an exception "Command 'pdflatex -v' returned non-zero exit status 1" on Windows"
### Information

- **Qiskit Terra version**: main branch (commit b419e3968f7a88ff84d7968107c17ee226871513)
- **Python version**: 3.7
- **Operating system**: Windows

### What is the current behavior?
A simple call to the transpiler causes an exception even if `pdflatex` is installed. Likely, this behavior was introduced in #6487.

[code]

### Steps to reproduce the problem
Run a script:
[code]

##

[2021-08-20 12:58] dlasecki opened #6931 "Migrate ODE function generator to the new design (Quantum Time Evolution)"

[2021-08-20 21:41] kdk commented on #6732
@TharrmashasthaPV @enavarro51 I don't think we need to distinguish between classical and quantum bits in the labels, since they are distinguished by their line type (`-` vs `=`) for all three drawers (except empty circuits, but that seems okay to me.)

I do like the suggestion of using raw numbers better than using `_N` or `__N`, so let's try that way.

[2021-08-20 21:56] enavarro51 commented on #6732
Thanks, Kevin. I started looking at this and realized the 3 circuit drawers approach getting the bit names and numbers somewhat differently even though the displayed output is the same. This means for something like this, fixing the problem 3 ways. So I'd like to take a stab at putting the acquisition of bit names and numbers for display into a function in utils.py, that can be called by the 3 dra

[2021-08-20 22:07] kdk opened #6934 "MCMT generalized gate accepts a label kwarg that seems ignored"
### Information

- **Qiskit Terra version**: main @ c3792f9d
- **Python version**: 3.6
- **Operating system**: osx 10.15.7

### What is the current behavior?

mcmt from library allows a label kwarg, but it doens't go anywhere?

### Steps to reproduce the problem

The generalized gate `MCMT` accepts a `label` kwarg, which it will set to be `self.label`, but as a subclass of `QuantumCircuit`, it doe

[2021-08-20 22:47] kdk commented on #6709
Thanks for picking this up @TheGupta2012 . I think there are a few complicating issues here.

At present, I believe this is the correct workflow (though agree the error message could be improved!) since, even if the transpiler ignored the `save_*` instructions, a hardware backend would raise an error like `"Instruction save_statevector is not supported."` upon seeing an unknown instruction type.

[2021-08-20 23:29] m-i-w commented on #6372
Looks like this is  `AerBackend.run()` calls  `execute_function.execute(...)` without passing **run_options, which becomes a problem when `assembles._expand_parameters` gets called.

AerBackend is set up to add the run options after the circuit is assembled, so adding these to execute should fix it.

[2021-08-21 06:03] TheGupta2012 commented on #6709
Well, @kdk what my solution was to not even make a `node` in the `source_basis` pertaining to the `save_*` instructions that were **not** supported by the backend. I thought that would silently just execute our circuit without the incompatible `save_*` instructions and when done, just log the information that these instructions weren't supported on the backend which the user has provided. Is this

[2021-08-21 06:20] ksk0629 commented on #6372
Same problem here. What should I do to run it without error after all?  Does anyone know?

[2021-08-22 14:31] paniash commented on #6934
[code]

[2021-08-23 11:38] Quant02 commented on #6531
I'm new to contributing. @eptru are you still working on this? If not, I want to take it up.

[2021-08-23 13:34] dlasecki opened #6935 "Implement storing (intermediate) results in a file. (Quantum Time Evolution)"

[2021-08-23 14:35] #6902 closed

[2021-08-23 14:55] kdk commented on #6934
True, but that is equally true for any python class :). My point was more that `MCMT` accepts a `label` kwarg (like an `Instruction` subclass) but is a subclass of `QuantumCircuit`, so none of the supporting code (around drawing, converting, serializing, ...) will find this label.

[2021-08-23 15:05] kdk commented on #6372
@m-i-w 's description of the problem is spot on (there is an open issue and WIP PR in Aer to resolve this, slated for the next Aer release: https://github.com/Qiskit/qiskit-aer/issues/1249 ). Until then, @Faridelnik 's workaround should allow you to run without error.

[2021-08-23 15:14] kdk commented on #6709
I think this is slightly incorrect. Because the `BasisTranslator` modifies the input `dag` in-place, calling `continue` for any `save_*` instruction will leave it in the `dag` which will result in it ultimately being sent to the device.

[2021-08-23 15:39] Quant02 commented on #6616
I'm new here. Can I work on this one? I see no PR's for this or Is this issue solved?

[2021-08-23 16:28] TheGupta2012 commented on #6719
@adjs can I have a try at this issue?

[2021-08-23 17:30] ajrazander opened #6937 "Pad results with zeros for unmeasured states"
### What is the expected enhancement?

After executing a job on qiskit, the typically procedure to get the measurement data from the quantum computer is to call ```get_counts()``` like so...
[code]

If the final state is, for example, $| 01 \rangle$ then '01' would be the only key in counts. For some analyses, it would be very useful if the returned counts dictionary had 0s for all the states that

[2021-08-23 17:41] TheGupta2012 commented on #6709
Okay, so does checking during the original construction of the `dag` a better way to go here?
If yes, could you highlight which file is responsible for the same so that I could take a look at that directly. Thank you!

[2021-08-23 18:16] jakelishman commented on #6937
The problem with this option is that it has exponential requirements of memory to produce the final dictionary, which is perhaps even more unexpected for the user.  There has been some movement on this, though, and it's possible we will merge it as an option, like you suggested: see #5205.

In the mean time, if you really want to construct such a dictionary, you can do
[code]
to do it manually, or

[2021-08-24 00:39] ajrazander commented on #6937
Excellent, thanks!

[2021-08-24 02:52] eptru commented on #6531
Oops sorry I forget about this again.. I will try to get this done in the next two days.

From: ***@***.***>
Sent: Monday, August 23, 2021 6:39 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [Qiskit/qiskit-terra] Get gate from name. (#6531)

I'm new to contributing. @eptru<https://github.com/eptru> are you still working on this? If not, I want to take it up.

—
You are receiving t

[2021-08-24 08:45] 1ucian0 commented on #6830
This seems related to https://github.com/Qiskit/qiskit-terra/pull/5772 . Let me have a look first, it might be more complicated than expected.

[2021-08-24 18:44] Lolcroc opened #6939 "Classical register instructions for simulators"
### What is the expected behavior?

`QuantumCircuit`s are very rich in operations on qubits, but lack operations on classical bits. The feature request are classical operations (logic gates) on classical bits, such as NOT/CNOT (acting "in-place" on the classical register) that are part of the `QuantumCircuit` itself.

### Reasoning

- Simple post-processing of measurement outcomes may be done as p

[2021-08-25 08:02] 1ucian0 commented on #6937
Would #5205 be a reasonable solution for @ajrazander ?

[2021-08-25 11:23] quantumjim commented on #6816
I agree with Paul. Adding a measurement circuit onto the end of a non-measurement circuit is something I do quite often.

For my own purposes, I just construct the non-measurement circuit with a classical register so that it works. But when writing educational materials, it wouldn't be great to say "here we put in a classical register just so Qiskit doesn't complain".

[2021-08-25 12:12] Quant02 commented on #6921
Can I work on this one?

[2021-08-25 12:28] jakelishman commented on #6921
Sure, I'll assign it to you so others know you're working on it. Feel free to ask questions if you need help!

[2021-08-25 12:41] mtreinish opened #6941 "Import time regression checking for pdflatex"
### Information

- **Qiskit Terra version**: main since: https://github.com/Qiskit/qiskit-terra/commit/9d0dd041
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Since https://github.com/Qiskit/qiskit-terra/pull/6487 merged there has been a small import time regression as seen here: https://qiskit.github.io/qiskit/#import.QiskitImport.time_qiskit_import?comm

[2021-08-25 12:45] ajrazander commented on #6937
I read over #5205, but I don't understand what changes were made. How will counts behave now?

[2021-08-25 12:46] mtreinish commented on #6941
Ah, it looks like this will be fixed by #6930

[2021-08-25 12:50] jakelishman commented on #6937
If you try to get valid bitstrings from it, it will return 0 if no counts were seen (and obviously return the correct number if the state _was_ seen).  You wouldn't need an option for it to work; it'd do it by default.  Things like `print(counts)` won't show the 0s, though - that would involve the exponential behaviour that we can't safely include.

[2021-08-25 12:53] jakelishman commented on #6941
The fun thing is that the current behaviour doesn't even run `pdflatex` - it actually tries to run `"pdflatex -v"` as one executable (i.e. without splitting `argv`), which universally fails, unless someone's got a _super_ messed up system.  #6930 should fix that as well.

[2021-08-25 12:55] ajrazander commented on #6937
Ah ok, I see now. Yes, that behavior is even better! Thank you!

[2021-08-25 12:55] #6937 closed

[2021-08-25 14:25] nonhermitian opened #6943 "Transpiler removes resets at beginning of circuits unless level=0"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?

[code]

![image](https://user-images.githubusercontent.com/1249193/130808128-8157593b-ee6d-4397-95ab-9c0743c59ae0.png)

becomes:

[code]

![image](https://user-images.githubusercontent.com/1249193/130808205-c6ae3f2f-58a0-4cf6-bebc-60af8478929b.png)

### Steps to rep

[2021-08-25 15:56] Quant02 commented on #6921
Thanks. I'm very new to contributing. It would be better if you could give me some pointers.

[2021-08-25 16:17] TheGupta2012 commented on #6943
I would like to take a look at this issue @nonhermitian! May I have a go at it?

[2021-08-25 16:38] nonhermitian commented on #6943
Well I think it likely needs a discussion first as it was explicitly set this way 2 years ago by @ajavadia and @1ucian0.  It does cause a noticeable performance degradation to remove resets.   So if explicitly put there, I would think they should be kept so.

[2021-08-25 16:43] TheGupta2012 commented on #6943
Okay looking forward to hearing from them!

[2021-08-25 19:44] nkanazawa1989 opened #6944 "Instruction schedule map cannot be pickled with python3.6"
### Information

- **Qiskit Terra version**: master (see note)
- **Python version**: 3.6.9
- **Operating system**: 18.04.5 LTS (Bionic Beaver), WSL2.0

### What is the current behavior?

[code]

This causes `_pickle.PicklingError: Can't pickle typing.Union[qiskit.circuit.parameterexpression.ParameterExpression, float]: it's not the same object as typing.Union` and hangs the parallel map. This is t

[2021-08-26 02:02] mtreinish opened #6947 "Add from_heavy_hex() and from_heavy_square() generator methods to CouplingMap"
### What is the expected enhancement?

In  [retworkx 0.10.0](https://qiskit.org/documentation/retworkx/release_notes.html#relnotes-0-10-0) new generator functions were added for quickly generating heavy hex and heavy square graphs: https://qiskit.org/documentation/retworkx/stubs/retworkx.generators.directed_heavy_hex_graph.html#retworkx.generators.directed_heavy_hex_graph  and https://qiskit.org/d

[2021-08-26 16:19] #6944 closed, assigned to nobody

[2021-08-27 14:02] peendebak opened #6955 "Qiskit import fails when miktex is installed"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is the current behavior?

When importing `qiskit` an errors is generated. The regression was introduced in https://github.com/Qiskit/qiskit-terra/pull/6487
There the following code is executed
[code]
But miktex on windows does not support the option `-v` (it does support `pdfl

[2021-08-27 19:03] taalexander opened #6956 "Write a Pulse Schedule Transformation that reduces all pulse channels to a single Waveform"
### What is the expected enhancement?
As noted in this [Slack conversation](https://qiskit.slack.com/archives/CMBARB4LX/p1630083408018100) there is a desire to be able to reduce all `PulseChannel`s in a `Schedule`/`ScheduleBlock` into a single waveform. This means compressing all `Play/ShiftPhase/SetPhase/ShiftFrequency/SetFrequency` instructions into a single `Waveform` and also recursively unrol

[2021-08-28 03:24] HuangJunye commented on #6687
@epelaaez That was fast!!! Congrats on making your first code contribution to Qiskit! Way to go!!!

[2021-08-28 04:28] epelaaez commented on #6687
Happy to contribute!

[2021-08-28 05:53] epelaaez commented on #6860
This looks interesting @rmlarose. I wonder, did you end up opening a feature request for this or dicussing it somewhere (e.g., Slack)?

[2021-08-28 11:01] paniash commented on #6947
Hi! Can I take this up?

[2021-08-28 11:07] af-rotundo opened #6958 "LaTex rendering fails"
### Information

- **Qiskit Terra version**:  0.17.1
- **Python version**: 3.8.5
- **Operating system**: macOS 11.4

### What is the current behavior?

I'm trying to draw the following simple circuit with LaTex

<img width="970" alt="simpleCircuit" src="https://user-images.githubusercontent.com/88282816/131215820-0550c209-6cf5-4693-80a8-ab343400c826.png">

However, the output is empty when I pass

[2021-08-28 11:30] Cryoris commented on #6815
The PR linked above doesn't fix the issue as described above since the comparison of the commutator (as a `PauliSumOp`) doesn't work with the reference `2j *Z` (as `PauliOp`). Is this something we want to support?

With #6826:
[code]

[2021-08-28 12:04] mtreinish commented on #6947
Sure, go ahead.

[2021-08-28 13:20] #6815 closed

[2021-08-28 18:51] rmlarose commented on #6860
I did not, the entire discussion is contained here.

[2021-08-28 20:00] epelaaez commented on #6860
Seems like a good candidate for a new feature request, you could probably add an issue and discuss if it'd be good to implement. Please let me know if you decide to open one as I would be interested in its development.

[2021-08-28 23:26] rmlarose opened #6960 "Add a `QuantumCircuit.transform_registers` method"
### What is the expected behavior?

Add a method to `QuantumCircuit` that allows you to transform the registers (and bits/qubits) of a circuit. One use case of this popped up in interoperability with other libraries as described in https://github.com/Qiskit/qiskit-terra/issues/6860#issuecomment-891950249.

[code]

Example use case:

[code]

This should allow different register sizes (e.g., a circu

[2021-08-28 23:27] rmlarose commented on #6860
Thanks for your interest @epelaaez! I opened a feature request in #6960 and will close this issue.

[2021-08-28 23:27] #6860 closed

[2021-08-29 15:40] epelaaez commented on #6958
Using the following Qiskit version (the one from the IBM Quantum Lab):
[code]

I'm able to get the drawing you're having trouble with:
![image](https://user-images.githubusercontent.com/63567458/131256364-52367ba7-1093-4437-aa5d-0a4ad8180b86.png)

It probably has something to do with you using 0.17.1.

[2021-08-29 16:40] af-rotundo commented on #6958
The problem was indeed the outdated package, thanks.

[2021-08-29 16:40] #6958 closed

[2021-08-30 00:14] snsunx commented on #6956
I traced back from `Schedule.draw` and found that the function `gen_filled_waveform_stepwise` in [this script](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/visualization/pulse_v2/generators/waveform.py#L52) generates the waveform for a channel.

I tried the following code which plots the real and imaginary part of all the pulses on a certain channel

[code]

Basically the waveform sampl

[2021-08-30 06:35] nkanazawa1989 commented on #6956
This is what the plotter calls
https://github.com/Qiskit/qiskit-terra/blob/75e06dc915f764ea4e5c1a57097e980e9d01b119/qiskit/pulse/transforms/base_transforms.py#L25-L28

The `target_qobj_transform` is called here
https://github.com/Qiskit/qiskit-terra/blob/75e06dc915f764ea4e5c1a57097e980e9d01b119/qiskit/visualization/pulse_v2/core.py#L254

Actually, `ShiftFrequency` and `SetFrequency` **does** affec

[2021-08-30 06:41] nkanazawa1989 commented on #6956
If you add such transform pass, you can deprecate the pulse program loader tied to the plotter. Then, the plotter will become much simpler.
https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/visualization/pulse_v2/events.py

[2021-08-30 16:45] fmuelle4711 opened #6963 "RXGate uses incorrect theta"
### Information

- **Qiskit Terra version**: 0.29.0
- **Python version**: 3.9
- **Operating system**: Linux

### What is the current behavior?

When using rx(theta, qbit) I need to specify a theta angle twice of what it should be.

### Steps to reproduce the problem

import numpy as np
from qiskit import *
from qiskit import Aer
backend = Aer.get_backend('unitary_simulator')
qc = QuantumCircuit(1)

[2021-08-30 16:58] jakelishman commented on #6963
The matrix in your "steps to reproduce the behaviour" section _is_ the identity matrix, as you say it should be (up to a global phase).  The matrix is the second section isn't - note the top left element is imaginary, but the bottom right is real - it's actually an S gate (up to a global phase), which is expected, since you've now done `sqrt(Z)^(-1) * Z = sqrt(Z) = S`.

[2021-08-30 16:58] #6963 closed

[2021-08-30 17:15] fmuelle4711 commented on #6963
Jake, do you have Terra 0.18.1 (my version)?

I still get the wrong matrix, and I think it's due to to
https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/library/standard_gates/rz.py
line 114 (see above):
        ilam2 = 0.5j * float(self.params[0])

Could you confirm that you see the same line in your version, please?

I'm trying to reproduce your correct output but I cannot.

[2021-08-30 17:21] jakelishman commented on #6963
I'm just reading the output you gave in your examples - the first matrix you wrote down _is_ the identity matrix (multiplied by a global phase of `e^(i pi / 4)`, which doesn't affect the dynamics).  The second matrix is the Sdg gate, with a global phase of i.

[2021-08-30 17:21] kdk commented on #6906
This can be handled by adding a rule from `cx` to `cphase+u` and `crz+u` to the equivalence library for the standard gates: https://github.com/Qiskit/qiskit-terra/blob/75e06dc915f764ea4e5c1a57097e980e9d01b119/qiskit/circuit/library/standard_gates/equivalence_library.py#L620 .

[2021-08-30 17:32] jakelishman commented on #6963
For clarity:
[code]

[2021-08-30 18:43] fmuelle4711 commented on #6963
I see about my code, that was not a good example (my mistake mis-reading the output).
But I still think there's a mistake here.
Short example:

array([[1.        +0.j        , 0.        +0.j        ],
       [0.        +0.j        , 0.70710678+0.70710678j]])

array([[0.92387953-0.38268343j, 0.        +0.j        ],
       [0.        +0.j        , 0.92387953+0.38268343j]])

Looks to me like the Pha

[2021-08-30 19:29] jakelishman commented on #6963
`RZGate` is only the same as `PhaseGate` up to a global phase factor, and that matches your new example here (but with a phase of pi/8 so it's harder to see).  That's [documented in the "See also" of the`PhaseGate` documentation](https://qiskit.org/documentation/stubs/qiskit.circuit.library.PhaseGate.html).

At any rate, the discrepancy in this second example can't be explained by doubling the ang

[2021-08-30 19:54] fmuelle4711 commented on #6963
Interesting. Seems like an unconventional global phase, I would have expected the same for P and RZ.
This is the longer example that had me chase this down:

import numpy as np
from qiskit import *
from qiskit import Aer

backend = Aer.get_backend('unitary_simulator')
qc = QuantumCircuit(2)
qc.cx(1,0)

#CNOT is its own inverse, see if MS-based CNOT works
qc.ry(np.pi/2,1)
qc.rxx(np.pi/2,1,0) #bug??

[2021-08-30 23:26] dhruvbhq opened #6964 "Possible broken documentation in https://qiskit.org/documentation/apidoc/providers.html"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
In the [providers documentation page](https://qiskit.org/documentation/apidoc/providers.html), some documentation redirects seem to be broken.

- In the first paragraph _Providers Interface_, `Schedule` and `Backend` link to the respective classes, but `QuantumCircuit` is n

[2021-08-31 09:19] jakelishman commented on #6964
Thanks for this - `QuantumCircuit` and the gates definitely should link to their respective pages.  This is likely not the only page of the documentation with bust links - it's easy enough to forget to put in the linking markup by mistake.  Best thing to do is just report it when you see it, as you have done, and we can fix it.

The `BackendV2` and V34 aren't real classes - they're just being used

[2021-08-31 09:30] javabster commented on #6921
Hi @Quant02 there are also some specific guidelines on snapshot testing in the terra `CONTRIBUTING.md` file that will be useful for this issue specifically: https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md#snapshot-testing-for-visualizations

[2021-08-31 13:38] ewinston commented on #6892
This is actually expected behavior since `QuantumCircuit.parameters` only tracks unbound parameters. If you would like to maintain a copy of the bound and unbound circuit you would do,

[code]

in which case `bound_circuit` will not have `Parameter(x)` while `circuit` still will.

[2021-08-31 13:38] #6892 closed

[2021-08-31 22:43] chriseclectic commented on #6484
The input data format of the mitigator for now can be left up to the method rather than defined in the base class such as assuming an assignment matrix.

Probably the only thing the base class needs to define is the abstract methods for applying mitigation, which as you suggest is just two methods. `quasi_probabilities` and `expectation_value`, and for querying which qubits it is defined on (ie if

[2021-09-01 07:39] snsunx commented on #6956
Hi @nkanazawa1989, thank you for your detailed explanation. Now I can see that `target_qobj_transform` flattens a `Schedule` so that it can be used for later processing.

At the end should the function look roughly like this? `sched` and `chan` are the input variables.
[code]

I find that [`get_waveforms`](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/visualization/pulse_v2/events.py#L16

[2021-09-01 08:10] Zoufalc opened #6969 "Compute imaginary parts with linear combination gradients"
### What is the expected enhancement?
By adding flexibility to the observables in `qiskit/opflow/gradients/circuit_qfis/lin_comb_full.py` and `qiskit/opflow/gradients/circuit_gradients/lin_comb.py` we can enable the evaluation of $Im[(d_w<\psi(w)|)H\psi(w)>])$.

[2021-09-01 09:26] #6397 closed

[2021-09-01 10:49] nonhermitian commented on #6484
If the goal of a base class is for things like algorithms to be able to consume different mitigators internally, then I do not see the point of the most recent changes.  Namely the way of grabbing calibration data and applying the corrections need to be the same, as does the return type(s), or at least the way they get consumed does.  Otherwise each mitigator needs to be hard-coded as is done now.

[2021-09-01 10:56] #6964 closed

[2021-09-01 12:09] jakelishman commented on #6960
This seems like an odd candidate for doing in-place, like in your example - is there a reason not to construct a new circuit object? It logically seems like a "new circuit" operation to me, and `QuantumCircuit` really isn't designed to have its backing data removed from underneath it.

At any rate, this may have some overlap with #6621 - if we merge that in some form, then this would be easy to do

[2021-09-01 13:53] #6544 closed

[2021-09-01 15:48] PetarJurcevic opened #6973 "BrokenProcessPool: A process in the process pool was terminated abruptly while the future was running or pending."
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.6.12
- **Operating system**: Linux, release='3.10.0-1160.36.2.el7.x86_64',

### What is the current behavior?

When I apply the full A-matrix filter to a result object I get the following error
[code]

### Steps to reproduce the problem
Access this notebook running on zelda
http://zelda.pong.local:8888/notebooks/systems/a1

[2021-09-01 16:51] TheGupta2012 commented on #6709
I had a small doubt here. If we chose not to translate the `Instruction` with the `_directive` parameter set as `True`, won't the `dag` still remain the same as it is being changed in place?

[2021-09-01 17:15] Cryoris commented on #4844
@edwinagnew I'm closing but feel free to re-open if you want to continue working on it 🙂

[2021-09-01 17:15] #4844 closed

[2021-09-01 17:17] Cryoris commented on #5090
I'm closing this issue since I think the functionality should exist, but feel free to re-open if you think there's something we need to add.

[2021-09-01 17:17] #5090 closed

[2021-09-01 17:22] Cryoris commented on #5721
This should be fixed by #6418 (see the `sort_parameters_by_name` argument), so I'll go ahead and close this issue 🙂

[2021-09-01 17:22] #5721 closed

[2021-09-02 01:51] nbronn opened #6974 "Template optimization fails to recognize simpler circuit"
### Information

- **Qiskit Terra version**: 0.19.0.dev0+443a6c9
- **Python version**: 3.9.4 (default, Apr 9 2021, 09:32:38) [Clang 10.0.0 ]
- **Operating system**: Darwin

### What is the current behavior?

The `TemplateOptimization` pass is used with `rzx_templates` to specify to the transpiler pass how circuits could be made more hardware efficient by implementing two-qubit interactions in term

[2021-09-02 06:31] Cryoris commented on #6934
I think a label doesn't make much sense for the MCMT since it's not drawn as a box but as multicontrolled gate. We could make label be the label of the controlled gate, or (probably the better, cleaner solution) just remove it.

[2021-09-02 09:11] georgios-ts commented on #6974
Oh, this is interesting. Since `TemplateMatching` tries to find maximal matches of the template in the circuit, it will always match together with the `CX-Rz-CX` series, the `Rz(-theta)` gate in the template with this extra `Rz(pi / 2)` gate in the circuit. But later, the`TemplateSubstitution` step can't find a single value of `theta` that satisfies both constraints and the substitution will not b

[2021-09-02 09:40] dlasecki commented on #6815
Hi, thanks for the fix. I checked, it seems it should work now. For me it's important that it does not produce 0 but a valid answer. The type is not crucial.

[2021-09-02 10:31] dlasecki opened #6976 "ParameterExpression does not handle binding to complex values."
### Information

- **Qiskit Terra version**: 0.18
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?
Error when binding a complex coefficient to an operator's parameter.
[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

No error, handling a potentially complex value.

### Suggested solutions

In File "/qiskit-terra/qiski

[2021-09-02 10:31] javabster commented on #6616
Hi @Quant02 it looks like someone is already working on this and has opened a PR already. Please choose another issue to work on or reach out to the the first contributor to see if you can work with them or take over the issue if they are no longer up for it 😄

[2021-09-02 14:45] quantumjim opened #6978 "Jobs objects cannot be pickled"
### Information

- **Qiskit Terra version**: '0.18.1'
- **Python version**:
- **Operating system**: IBM Quantum Lab

### What is the current behavior?

Attempting to pickle an IBM Quantum job object gives the error

```AttributeError: Can't pickle local object 'InstructionScheduleMap.__init__.<locals>.<lambda>'```

Doing the same for an Aer job object gives

```TypeError: cannot pickle '_thread.RL

[2021-09-02 16:16] TheGupta2012 commented on #6943
@nonhermitian were any final solutions thought of, for this bug? If yes, I would be happy to implement them here!

[2021-09-02 16:27] #6920 closed

[2021-09-02 16:34] TheGupta2012 commented on #6719
@adjs sorry I had to ask again but would you be able to confirm if I may work on it? Thanks!

[2021-09-02 21:48] #4353 closed

[2021-09-03 03:57] ewinston commented on #6709
I don't think `circuit_to_dag` should be worrying about removing backend specific instructions from the circuit for a couple of reasons. First, that is more the job of the transpiler. Second, converting to dag and back to circuit should get back to the original circuit (or close to it). To handle this in `BasisTranslator` one could record the directive nodes when going through the list (which aren

[2021-09-03 04:13] ewinston commented on #6976
I changed the title since `ParameterExpression` actually does allow this.

[2021-09-03 04:27] ewinston commented on #6849
I think this makes some sense and could also be useful as the package grows. However, in cases where the test subset may not match the source code hierarchy one may be able to use [unittests' wildcard option](https://docs.python.org/3/library/unittest.html#cmdoption-unittest-k).

[2021-09-03 05:17] omarshehab opened #6980 "CompleteMeasFitter incorrectly imported in measurement_error_mitigation.py"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.9.5 (default, May 18 2021, 12:31:01) [Clang 10.0.0 ]
- **Operating system**: Darwin

### What is the current behavior?
I am currently seeing

`QiskitError: 'Unknown fitter <qiskit.ignis.mitigation.measurement.fitters.CompleteMeasFitter object at 0x7fcbcace6c40>'`

error, when I pass an `qiskit.ignis.mitigation.measurement.

[2021-09-03 06:57] TheGupta2012 commented on #6980
May I work on this @omarshehab ?

[2021-09-03 07:19] Cryoris commented on #6719
Sure @TheGupta2012, go ahead! 🙂 It seems that some information is lost in the unrolling, if you unroll `circ` once it already gives the same result as the full transpilation.

[2021-09-03 07:50] ShellyGarion commented on #6980
I think that the following PR should handle this issue: #6867
(note that `qiskit-ignis` is going to be deprecated)

[2021-09-03 08:18] TheGupta2012 commented on #6980
Okayy 👍

[2021-09-03 10:19] #6804 closed

[2021-09-03 12:45] epelaaez commented on #6906
@kdk if possible, I'd like to work on this!

As far as I understood, I would need to add a decomposition of CX into CP + U and CRZ + U in the file you linked. Is that right?

[2021-09-03 12:54] anedumla commented on #6880
The right result can now be obtained with the code from the fix from #6971 as follows:
[code]
If we normalise the approximate and exact result to remove any scaling factor, we can see that `approx_result` is now indeed an approximation to the exact solution vector:
[code]

[2021-09-03 13:53] nbronn commented on #6974
That's a great observation @georgios-ts! From what I understand now is that the template optimization takes the maximal matches, which includes the entirety of test circuits 1 & 2 above, and processes them. One of the processing steps is `_attempt_bind()` (and is indeed one of the methods that I heavily modified to accept `Parameter`s/`ParameterExpression`s), which will pass through if the attempt

[2021-09-03 16:22] ShellyGarion commented on #6980
PR #6867 is part of the next release 0.19: https://github.com/Qiskit/qiskit-terra/milestone/18

[2021-09-03 16:52] woodsp-ibm commented on #6980
Can you check with the latest version of qiskit - 0.18.1 (you say you have 0.18.0). The issue you describe was fixed

See https://qiskit.org/documentation/release_notes.html#bug-fixes

[2021-09-03 23:46] nonhermitian opened #6981 "tweedledum fails to load for arm64 mac"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
At import

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-09-04 11:34] nonhermitian commented on #6981
I realize that this is not a Qiskit issue per say, but it is blocking me from using the latest version and I never once had any use for this package. Thus I think an issue here is deserving.

[2021-09-04 12:34] mtreinish commented on #6981
Well we'll have to open an issue on tweedledum to get this fixed, it's not something we can do anything about in terra directly (besides ripping it out). Which wheel did you install, it looks like there are 4 wheel files on pypi that advertise arm64 macOS support:

- https://files.pythonhosted.org/packages/5e/95/4f6399e67c910431f8339978be6e4d7f20fcd2d37d6d238fa7eb1b1f934c/tweedledum-1.1.0-cp38-cp3

[2021-09-04 12:36] mtreinish commented on #6981
@boschmitt do you have any thoughts here? It seems between this and https://github.com/boschmitt/tweedledum/issues/159 there are some issues with packaging tweedledum on macOS.

[2021-09-04 13:38] nonhermitian commented on #6981
` tweedledum-1.1.0-cp39-cp39-macosx_11_0_arm64.whl`

Is the one that I got using `pip install -U qiskit-terra`

I am also curious as to why this package is a requirement in the first place.  A quick glance at the code suggests it is only used for phase oracles.

[2021-09-04 17:57] omarshehab commented on #6980
@woodsp-ibm , I received the same error with Qiskit Terra 0.18.1.

[2021-09-04 20:14] jakelishman commented on #6980
It sounds like you're passing an instance, but the documentation says it should be the actual class (i.e. pass `CompleteMeasFitter` directly). The error you reported is consistent with the import having succeeded, but the wrong value having been passed.

(by the way, for reproducibility, it's easier for us if you can provide a minimal complete block of code to read and copy/paste, rather than tryi

[2021-09-04 20:55] omarshehab commented on #6980
@jakelishman , I have attached the MWE code here.

[qsvm-readout-error-mitigation-mwe.ipynb.zip](https://github.com/Qiskit/qiskit-terra/files/7110511/qsvm-readout-error-mitigation-mwe.ipynb.zip)

[2021-09-04 22:19] jakelishman commented on #6980
That's [not exactly a MWE](https://stackoverflow.com/help/minimal-reproducible-example), but I can see you are setting `measurement_error_mitigation_class` to an _instance_ of `CompleteMeasFitter`, but it's meant to be the class (type).  You need to pass `CompleteMeasFitter` to construct `QuantumInstance`, not a constructed instance of it.

[2021-09-04 23:22] nonhermitian commented on #6981
Building from `1.1.0` source seems to import fine, so it looks like a auto build issue.

[2021-09-05 00:00] woodsp-ibm commented on #6980
If an example would be helpful for how to use it see this tutorial https://qiskit.org/documentation/tutorials/algorithms/03_vqe_simulation_with_noise.html#Performance-with-noise-and-measurement-error-mitigation

[2021-09-05 12:33] omarshehab commented on #6980
@woodsp-ibm , I modified the statement to create QuantumInstance as follows.

[code]

Currently, I am getting the following error.
[code]

[2021-09-05 12:42] ShellyGarion commented on #6980
@omarshehab - you cannot have a noise model with ibmq backend, only with Aer simulator:
`backend = Aer.get_backend('aer_simulator')`
the ibmq devices already have noise inside them :)
so, you should either choose an ibmq backend, or Aer simulator with a noise model
please look again at the tutorial suggested above.

[2021-09-05 13:18] mtreinish commented on #6981
Ah ok, then yeah I expect that the tweedledum wheels where built with the previous release of scikit-build and hit: https://github.com/scikit-build/scikit-build/issues/529 where it wasn't respecting the architecture flags and was always building x86_64 (this was only an issue for cross compilation of arm64 from x86). This has been fixed in the latest release https://github.com/scikit-build/scikit-

[2021-09-06 07:11] boschmitt commented on #6981
@nonhermitian Could you test installing `tweedledum-dev` and see if this still an issue.

[2021-09-06 07:20] #6880 closed

[2021-09-06 16:50] TheGupta2012 commented on #6709
I seem to have changed the `BasisTranslator` for `directive` nodes but I had a small doubt as to whether a `barrier` should also be removed from the dag or not.
Should I keep a check for not removing the barriers if present or any `directive` node should be removed? I was thinking about this as a `barrier` has some significance in a circuit, in the sense that the space separated by a barrier opera

[2021-09-06 21:44] peendebak opened #6985 "PauliExpectation generates incorrect decomposition"
### Information

- **Qiskit Terra version**: 0.19
- **Python version**: 3.9
- **Operating system**: Windows 10

### What is the current behavior?

The `PauliExpectation` with option `group_paulis= True` generates an incorrect decomposition for the `Y` operator.

### Steps to reproduce the problem

A minimal example is:
[code]

### What is the expected behavior?

The decompositions with either `gro

[2021-09-06 21:58] woodsp-ibm commented on #6985
@ikkoham This refers to a prior PR that you were involved with and says the issue arose from changes there.

[2021-09-07 00:36] ikkoham commented on #6985
Thank you. I'll check it.

[2021-09-07 13:54] #6929 closed

[2021-09-07 13:54] #6941 closed

[2021-09-07 13:54] #6955 closed

[2021-09-07 22:11] ewinston commented on #6978
I also observed this in 0.18.1 but not in 0.19.0.dev0+4fcd9a0.

[2021-09-07 22:15] ewinston commented on #6935
What is the approach for storing you are considering?

[2021-09-08 10:25] javabster commented on #6502
hey @MartinBeseda sorry for the slow response, are you still interested in working on this? If yes lmk and I'll assign to you 😄

[2021-09-08 17:40] javabster commented on #6079
Closing this issue as it was taken care of in #6759

[2021-09-08 17:40] #6079 closed

[2021-09-08 18:06] mtreinish opened #6990 "Re-evaluate macOS min supported version"
### What is the expected enhancement?

Tweedledum is moving to supporting macOS>=10.15 and making anything < 10.15 best effort support. See: https://github.com/boschmitt/tweedledum/issues/159#issuecomment-915434883 In Qiskit we've normally supported macOS >=10.9 and build all our binary packages accordingly. However we're now at a bit of an impasse because we've had tweedledum as a hard requiremen

[2021-09-08 18:16] nonhermitian commented on #6990
85% of all OSX users would still be covered with this change:

https://gs.statcounter.com/macos-version-market-share/desktop/worldwide

[2021-09-08 21:15] #6382 closed

[2021-09-08 21:17] mrvee-qC commented on #5845
Would like to also bump this up. In a course while teaching, people where confused why there wasnt a phase change in the QSphere visualization when Y gate was applied to the circuit. It indeed does normalize the phase which confuses a few people. Would be great if this was fixed!

[2021-09-08 21:38] raghavven commented on #5845
Found a similar error. Y Gate not flip phase when run on circuit composer while GUI composer show the flip. Also on local computer, it doesn't flip phase.
![YGate_Circuit_Composer_2](https://user-images.githubusercontent.com/41474827/132589026-6bec9174-e5c8-4624-abde-23ad2ae48734.PNG)
![YGate_Circuit_Composer_3](https://user-images.githubusercontent.com/41474827/132589029-30ff4b2d-8975-42e2-96f4-9

[2021-09-08 21:39] raghavven commented on #5845
Found a similar error. Y Gate not flip phase when run on circuit composer while GUI composer show the flip. Also on local computer, it doesn't flip phase.

![YGate_Circuit_Composer_1](https://user-images.githubusercontent.com/41474827/132589161-e4a9fcd5-f626-46a6-8670-65d13a416f59.PNG)
![YGate_Circuit_Composer_2](https://user-images.githubusercontent.com/41474827/132589167-601dc85c-89a0-4436-bfca-

[2021-09-08 21:43] rsln-s opened #6991 "Memory usage grows quickly with circuit depth"
### Information

- **Qiskit Terra version**:
qiskit                  0.29.0
qiskit-aer              0.8.2
qiskit-aqua             0.9.4
qiskit-ibmq-provider    0.16.0
qiskit-ignis            0.6.0
qiskit-machine-learning 0.2.1
qiskit-terra            0.18.1
- **Python version**:
Python 3.7.11 :: Intel Corporation
- **Operating system**:
CentOS Linux 7

### What is the current behavior?

The memory

[2021-09-08 22:11] rsln-s commented on #6973
@PetarJurcevic try updating your Python version to 3.7+. Doing so may give you a more meaningful error. See more details here:
https://stackoverflow.com/a/51006877/5675178

My guess is that you're running out of memory. Try watching the memory usage (e.g. using `htop`) before the code crashes.

[2021-09-09 00:37] epelofske-LANL commented on #6981
`pip install tweedledum==1.0.0` fixed it for me.

[2021-09-09 00:49] epelofske-LANL opened #6993 "CouplingMap doesn't document it creates (and requires) a graph with contiguous qubit ids"
### Information

- **Qiskit Terra version**: `qiskit-terra==0.18.1`
- **Python version**: `3.7.3`
- **Operating system**: `macOS Mojave`

### What is the current behavior?
transpiler CouplingMap method fails to recognize that the graph with edges `(0, 1), (1, 4)` is connected.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
The CouplingMap is_connected() method retur

[2021-09-09 01:21] mtreinish commented on #6993
This isn't an issue with the underlying graph library being used, networkx would return the same result as retworkx if you were using the same graph (they use basically the same algorithm for determining weakly connected directed graphs anyway). The issue you're hitting here is that you're making a coupling map with 5 qubits/nodes, 2 of which aren't connected to anything. The coupling map object r

[2021-09-09 01:23] ewinston opened #6994 "random_circuit fails if conditional=True for large circuits"
### Information

- **Qiskit Terra version**: 0.19.0.dev0+07299e1
- **Python version**:
- **Operating system**:

### What is the current behavior?
When attempting to generate a random circuit using `qiskit.circuit.random.utils.random_circuit` with ~60 qubits with mid-circuit conditionals an error is generated;
[code]

### Steps to reproduce the problem
[code]
### What is the expected behavior?

###

[2021-09-09 02:03] mtreinish commented on #6994
The underlying issue here is we're trying to set the condition value as a random number with a max value of 2**n qubits here:

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/random/utils.py#L150

which we obviously can't do with a numpy int 64 which is what it looks like it's using under the covers. We probably will have to change the random logic to use python's stdlib rng and us

[2021-09-09 02:19] mtreinish commented on #6994
Thinking about it a bit more the other option is to split classical registers up at 63 bits (or split the random values in a larger register for every 63 bits) so we can use a random value generated with the current code.

[2021-09-09 04:18] nonhermitian commented on #6994
Or generate random bitstrings and then convert.

[2021-09-09 04:58] epelofske-LANL opened #6996 "Transpiler Maximum iteration reached. max_iteration=1000"
### Information

- **Qiskit Terra version**: `qiskit-terra==0.18.1`
- **Python version**: `3.7.3`
- **Operating system**: `macOS Mojave`

### What is the current behavior?

This occurs for a variety of (random) circuits and backends, but is not consistent for different random seeds.

`qiskit.transpiler.exceptions.TranspilerError: 'Maximum iteration reached. max_iteration=1000'`

Seems to be simila

[2021-09-09 12:23] Kit-Kate commented on #6994
Hello! I would like to work on this issue. Can you assign me to it, please? Thank you!

[2021-09-09 13:57] woodsp-ibm commented on #6991
This is another report, in Qiskit Slack workspace, of what seems to be the same as above https://qiskit.slack.com/archives/CJG2E9LQP/p1630389855041400

I will also note I started to investigate a problem report with a chemistry problem where the process is simply killed after a while (as I assume it runs out of memory) before it even does a single energy evaluation with VQE. Its a 12 qubit problem

[2021-09-09 14:23] nonhermitian commented on #6991
Also see https://github.com/Qiskit/qiskit-terra/issues/5895

[2021-09-09 14:24] ajavadia commented on #6702
I really needed this so went ahead and implemented it https://github.com/Qiskit/qiskit-terra/pull/6998

[2021-09-09 15:46] Quant02 commented on #6921
Thanks! This is being really useful.

[2021-09-09 15:54] Quant02 commented on #6921
I have committed some changes. Snapshot testing, using binder, is successful for plot_coupling_map(), but there is some issue with plot_gate_map(). I'm assuming that it is because of the fact that plot_gate_map() requires a real backend. A review of the changes and suggestions to get over this problem can be really helpful.

[2021-09-09 19:09] boschmitt commented on #6981
@epelofske-LANL Thanks for the heads up.

I think the problem with `tweedledum==1.1.0` is that `cibuildwheels` messed up when naming the wheels and the good `arm64` were overwritten by something else. (This was likely caused by a misconfiguration on my side.)

I don't want to publish broken wheels for `tweedledum==1.1.1`, so it would help me a lot if you could helping me in testing `pip install tw

[2021-09-09 20:44] epelofske-LANL commented on #6981
@boschmitt Sure. Here is what I have observed.

`tweedledum==1.0.0` No error

`tweedledum==1.1.0` Error: `ImportError: dlopen(//anaconda3/envs/test/lib/python3.8/site-packages/tweedledum/_tweedledum.cpython-38-darwin.so` etc.

`tweedledum==1.1.1` No error.

`tweedledum-dev` No error.

As of when I tested this, fully updating qiskit uses `tweedledum==1.1.1`, so there is no import error for the full

[2021-09-09 20:51] rsln-s commented on #6991
A fix for `QuantumKernel` in particular is available in [this pull request (#209 in qiskit-machine-learning)](https://github.com/Qiskit/qiskit-machine-learning/pull/209).

[2021-09-09 21:27] boschmitt commented on #6981
Thanks!

I fixed #6907 by building wheel by hand. I believe `tweedledum==1.1.0` was the naming issue, which wheel for `x86_64` were wrongly named as `arm64`.

For `tweedledum-dev` I believe the wheels are working then, and for `tweedledum==1.1.1` you are probably building from source since I haven't uploaded `arm64` wheels yet.

[2021-09-09 21:56] kdk commented on #6996
Do you have an example of a circuit which failed? I tried but wasn't able to replicate this with the following code:

[code]

[2021-09-09 23:46] epelofske-LANL commented on #6996
I do not know what the cause of this is, but I can not consistently replicate the error with fixed `seed_transpiler` values. Maybe there is a component which is not seeded by the `seed_transpiler` ?

Here is a qasm file (I could not upload with the `.qasm` extension) of a circuit which *sometimes* produces this error.

[example.txt](https://github.com/Qiskit/qiskit-terra/files/7140269/example.txt)

[2021-09-10 03:19] singular-value commented on #6923
Hi folks, cc @nathanearnestnoble. We (cc @richrines1 @vtomole) noticed an issue with attempting to qpy-serialize a circuit that contains calibrations. Basically, circuit calibrations are lost in the process of qpy serialization:

![image](https://user-images.githubusercontent.com/3976048/132793709-319b9ad6-c72e-4232-bf08-592ee6542e02.png)

I'm guessing that enabling qpy serialization for pulse sch

[2021-09-10 03:23] mtreinish commented on #6923
Yeah, not preserving calibrations is a limitation with qpy currently, this is the tracking issue for it. To be able to serialize calibrations we need to have a representation for a pulse schedule. Once that exists preserving the calibrations should be trivial.

[2021-09-10 04:44] Quant02 commented on #6921
https://github.com/Qiskit/qiskit-terra/pull/7003

This is a pull request summarizing the work till now. Please review this. @1ucian0 , @jakelishman , @javabster

[2021-09-10 09:35] VicentePerezSoloviev commented on #6993
Hi! Would it be possible to be assigned to this issue?

[2021-09-10 11:59] taalexander opened #7004 "execute function does not recognize ScheduleBlock"
### Information

- **Qiskit Terra version**: main
- **Python version**: N/A
- **Operating system**: N/A

### What is the current behavior?
When `pulse.build` produces a [ScheduleBlock](https://qiskit.org/documentation/stubs/qiskit.pulse.ScheduleBlock.html) and it is submitted to be executed by the backend via `execute(schedule_block, backend)` an error `AttributeError: 'ScheduleBlock' object has n

[2021-09-10 13:42] mtreinish commented on #6993
Sure I'll assign you it now, it's actually just missing documentation on the `CouplingMap` class the constructor already identifies holes in the qubit ids passed in the edge list and fills them (see my earlier comment with the example). But, this behavior and the general requirement that the indices are contiguous starting at 0 is completely undocumented and not mentioned in the class documentatio

[2021-09-10 15:20] Lolcroc opened #7006 "ALAP/ASAP scheduler produces incorrect delays for circuits with classically controlled gates"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.8.3
- **Operating system**: Windows 10

### What is the current behavior?

The ALAP and ASAP scheduler give wrong delays for circuits with gates with a classical condition. This is because the respective passes do not respect topological order of classical bit lines, which they should.

### Steps to reproduce the problem

[2021-09-10 20:17] kdk commented on #6372
This should be resolved by https://github.com/Qiskit/qiskit-aer/pull/1317 in the next Aer release.

[2021-09-10 20:17] #6372 closed

[2021-09-10 22:01] kdk commented on #7006
Thanks for reporting this @Lolcroc , agree this is a bug. The `timeline_viewer` shows this a bit clearer than the circuit drawer:
![image](https://user-images.githubusercontent.com/2241698/132922100-14f95e43-ba1f-4e1b-bdc5-dac86a248db2.png)

[2021-09-10 22:05] #6993 closed

[2021-09-10 22:28] kdk commented on #1922
I believe this was taken care of as part of #4555 . Please feel free to reopen if there are still changes needed here.

[2021-09-10 22:28] #1922 closed

[2021-09-10 22:50] Lolcroc commented on #7006
This also happens for measurements after measurements (not just conditional gates). For example, ASAP schedules measurement on the qubit 1 before qubit 0
[code]

[2021-09-11 17:48] TheGupta2012 commented on #7004
@taalexander can I look at this?

[2021-09-13 09:40] alexanderivrii commented on #6047
Hi, I have started working on this issue with @ShellyGarion .

[2021-09-13 16:27] kdk opened #7009 "QuantumCircuit.{q,c}regs attributes can become out-of-sync with .{qu,cl}bits."
### Information

- **Qiskit Terra version**: main @ f0492b16
- **Python version**: 3.6
- **Operating system**: osx 10.15.7

### What is the current behavior?

The `QuantumCircuit.{q,c}regs` attributes can be set, but doing so will not update the corresponding `QuantumCircuit.{qu,cl}bits` list, leaving the the circuit in an inconsistent state. (All bits in each register attached to a circuit should

[2021-09-13 17:07] kdk commented on #6966
Qiskit in general will already try to take advantage of multiprocessing where it can, and I believe this can lead to issues when attempting to add another layer of multiprocesing on top (e.g. the issues described in #3426 ). A possible solution might be to disable Qiskit's internal parallelization (setting `os.environ['QISKIT_IN_PARALLEL'] = 'TRUE'` ) in your application.

[2021-09-13 17:28] kdk commented on #6996
Thanks for the additional info. I still wasn't able to replicate (I ran to both seed=100 on python 3.6 and 3.7) though I'm on MacOS 10.15, so it's possible its is a dependency problem. Can you post your `np.__version__`, `np.show_config()` and a transpile log including the callback from https://github.com/Qiskit/qiskit-terra/issues/5627#issuecomment-760322283 ?

[2021-09-13 17:34] kdk commented on #6906
Hi @epelaaez , that's right. See #7007 for a similar fix.

[2021-09-13 18:25] #6702 closed

[2021-09-13 19:34] epelofske-LANL commented on #6996
Can you try with several different random seeds (as in the code I posted above)? I am observing stochastic results, even with the fixed random seed. For that reason, I can not consistently replicate the error (and therefore I can not post a consistent transpile log). `np.__version__` is `1.21.1` and `np.show_config()` is

[code]

[2021-09-13 19:59] #6667 closed

[2021-09-13 21:06] #5784 closed

[2021-09-13 21:06] #6732 closed

[2021-09-13 22:32] kdk commented on #6996
My numpy version and config are similar to yours, and I tried on python 3.6 and 3.7 for every `seed_transpiler` in `range(100)` but still wasn't able to replicate. If you can run with the callback and try to capture one successful log, and one failing log, that would give us a place to start looking. Otherwise, we might need to find someone else who can replicate (maybe with the same hardware or M

[2021-09-13 22:48] nonhermitian commented on #6996
I have not been able to reproduce as well.

[2021-09-13 23:00] #6047 closed

[2021-09-14 00:51] epelofske-LANL commented on #6996
Attached is the output from running this code:

[code]

* The qasm file is the same as above (linking here again): [example.txt](https://github.com/Qiskit/qiskit-terra/files/7158087/example.txt)
* Redirected output to `callback.txt` using the `callback` method from #5627 : [callback.txt](https://github.com/Qiskit/qiskit-terra/files/7158089/callback.txt)
* And here is the full log file (set to DEBU

[2021-09-14 02:05] hhorii opened #7010 "Always use `AerPauliExpectation` for AerSimulator in `include_custom=True` configuration excepting `extended_stabilizer` method"
### What is the expected enhancement?

Currently `MatrixExpectation` is used if `AerSimulator` has a name `aer_simulator_statevector` ([`is_statevector_backend()`](https://github.com/Qiskit/qiskit-terra/blame/main/qiskit/utils/backend_utils.py#L145-L146)). However, `AerSimulator` uses this name if it works as `QasmSimulator` or `StatevectorSimulator`. Therefore, there is currently no way to use `A

[2021-09-14 11:28] javabster commented on #7004
go for it @TheGupta2012, I've assigned to you 😄 You can check out `qiskit/execute_function.py` for how Schedules are handled, and adapt to handle ScheduleBlocks as well

[2021-09-14 14:06] nonhermitian opened #7016 "Default optimization level does not perform self-inverse gate cancellations"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

[code]

[code]

[code]

### Steps to reproduce the problem

### What is the expected behavior?
I would expect the default level of optimization to remove trivial things like repeated H gates.

### Suggested solutions

[2021-09-14 14:22] nonhermitian opened #7017 "mpl drawer cannot draw circuits conditioned on single bits"
### Information

- **Qiskit Terra version**: main
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives

File "/Users/paul/Desktop/GitHub/qiskit-terra/qiskit/visualization/circuit_visualization.py", line 284, in circuit_drawer
    image = _matplotlib_circuit_drawer(
  File "/Users/paul/Desktop/GitHub/qiskit-terra/qiskit/visualization/circuit_visualization.p

[2021-09-14 14:57] kdk commented on #7016
Work was recently started in this direction by @vadebayo49 (see #6855 and #6576 ) but there is still some work to be done before this can be utilized by the default optimization levels, namely a way to identify (either through gate annotations or a library) which gates and gate pairs are inverse.

[2021-09-14 14:59] mtreinish commented on #7016
This is caused by the `OneQubitEulerDecomposer` not knowing how to simplify things in terms of h (you can see a list of the basis it can work in here: https://qiskit.org/documentation/stubs/qiskit.quantum_info.OneQubitEulerDecomposer.html#qiskit.quantum_info.OneQubitEulerDecomposer). The level 1 optimization level doesn't contain any passes that know how to cancel two consecutive h gates. I think

[2021-09-14 15:06] nonhermitian commented on #7016
It does work at level 2 and higher.  However, given that the vast majority of users just do `execute` at the default level, perhaps level 1 should be beefed up some as you suggest.

[2021-09-14 15:57] paniash commented on #7017
Looks like the variable `xy_plot` in `matplotlib.py` remains empty after implementing plotting conditionals.

Simply changing the line `if m == "1"` to `if m == "0"` in the below snippet seems to work.

[code]

[2021-09-14 16:48] ajavadia commented on #5895
this probably needs a large refactor to change how data is stored, but it's on the radar

[2021-09-14 22:18] ozamanan commented on #6502
Hey, @javabster can I work on this?

[2021-09-15 02:09] ikkoham opened #7021 "ListOp.to_spmatrix does not work"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

ListOp.to_spmatrix does not work

### Steps to reproduce the problem

[code]

### What is the expected behavior?
### Suggested solutions

This problem is actually not straight forward, because on the type hint said the return is spmatrix. There is an idea to make the type

[2021-09-15 08:30] cpossel opened #7581 "Qubit mapping error using measurement error mitigation"
### Information

- **Qiskit Nature version**: 0.2.1
- **Qiskit version**: 0.29.1
- **Python version**: 3.8.11
- **Operating system**: Windows 10

### What is the current behavior?

Raises an error when using measurement error mitigation for ground state energy calculation of LiH:
[code]

### Steps to reproduce the problem

Run below minimal example (adjusted from the example code in the qiskit-nat

[2021-09-15 10:01] 1ucian0 commented on #7017
https://github.com/Qiskit/qiskit-terra/pull/6259 got merged and that seems to solve this issue:
[code]
![image](https://user-images.githubusercontent.com/766693/133413397-8121a411-fbbb-4805-ade9-749dab2c9263.png)

Therefore, closing. Feel free to reopen if the fix is somehow incomplete.

[2021-09-15 10:01] #7017 closed

[2021-09-15 10:04] 1ucian0 commented on #7021
For completeness, here is the output when reproducing the issue:
[code]
[code]

[2021-09-15 10:10] 1ucian0 commented on #7021
The type hint seems to come from Aqua time. Maybe @akarazeev or @woodsp-ibm have some insights?

[2021-09-15 11:19] #6985 closed

[2021-09-15 12:56] paniash commented on #7021
@1ucian0 I've tried changing the line to

[code]

and it seems to work. Or perhaps this is a deeper error?

[2021-09-15 14:12] #6742 closed

[2021-09-15 14:28] javabster commented on #6502
Hi @ozamanan as @MartinBeseda is unresponsive I will assign to you, let us know if you have any questions 😄

[2021-09-15 15:10] #5920 closed

[2021-09-15 20:15] kdk commented on #5811
After some renewed interest from the ongoing work in https://github.com/Qiskit/qiskit-terra/labels/synthesis , it looks like there are two issues at play here:

- organization of the circuit library and `Instruction` subclasses (#4011 , #4520 , #5701 , #6883 , #6531, and others), and
- standardization of an interface for high-level operations (from within terra and without) to be stored on the cir

[2021-09-15 20:46] kdk opened #7023 "Easier access to the preset pass managers"
### What is the expected enhancement?

Currently, accessing the preset passmanagers (outside of a call to `transpile`) requires building a `pass_manager_config` by hand, like:

[code]

which is a fair amount of boilerplate if one already has access to a backend and a set of transpiler options (and prone to going stale as new options are added). I also don't think we document this anywhere.

One op

[2021-09-15 20:57] kdk commented on #6709
Agree `circuit_to_dag` and the rest of the converters should be lossless, and that the `BasisTranslator` should check `_directive` and leave these instructions in place. Being able to remove them in a subsequent pass depends on our ability to know more about these instructions and the backend being targeted.

[2021-09-16 07:45] Raijeku commented on #6461
Has this issue been solved?

[2021-09-16 08:21] itoko commented on #7006
I've started working on this and recognized fixing the spec of ASAP/ALAP scheduler for circuits touching classical registers is more complicated than I thought.

As far as I understand, in typical backends, `measure` locks clbits to be written at its end and `c_if` locks clbits to be read at its beginning. That means neither of them locks clbits for entire instruction time and they lock clbits for

[2021-09-16 08:57] 1ucian0 opened #7024 "Docstring broken with text circuit drawer"
In the `qiskit.circuit.library.CHGate` [documentation](https://qiskit.org/documentation/stubs/qiskit.circuit.library.CHGate.html#qiskit.circuit.library.CHGate), the text drawing for the circuit seems broken:

<img width="483" alt="Screenshot 2021-09-16 at 10 44 09" src="https://user-images.githubusercontent.com/766693/133582684-4913c751-cfa0-450f-a2a0-a7c70a06c115.png">

[2021-09-16 09:05] ewinston opened #7025 "building wide random circuits scales worse than deep ones."
When using `random_circuit` from qiskit/circuit/random/utils.py to generate random circuits, scaling width appears to be worse than scaling depth. This was profiled using cProfile for running,

[code]
where we use
1. width = 2, depth =  10, 100, 1000, 10000, 100000, 1000000
or
2. depth = 2, width = 10, 100, 1000, 10000, 100000

Ranking the top functions by total time spent within the function, and

[2021-09-16 09:37] 1ucian0 commented on #6996
I get the following output in this case:
[code]

[2021-09-16 09:54] mtreinish commented on #7025
Yeah, looking at the code this definitely makes sense:

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/random/utils.py#L121-L129

In the worst case the selection of random qubits for each layer it basically scales n^2 since in the worst case it does a random shuffle then instead of a popping from the front it looks at the first element and iterates over the full list of qubits and

[2021-09-16 10:07] mtreinish opened #7026 "720x runtime performance regression in `QuantumCircuit.depth()`"
### Information

- **Qiskit Terra version**: main (after 7c30a6e7)
- **Python version**: 3.8
- **Operating system**: Linux

### What is the current behavior?

The nightly benchmark runs flagged a regression in the QUEKO transpiler benchmarks caused by https://github.com/Qiskit/qiskit-terra/pull/6998:

https://qiskit.github.io/qiskit/#queko.QUEKOTranspilerBench.time_transpile_bigd?cpu=Intel(R)%20Xe

[2021-09-16 10:31] ewinston opened #7027 "building circuits with many Parameters per gate scales superlinearly"
Creating a circuit with many Parameter objects per gate scales worse than instead creating many gates with fixed parameters per gate. For this test the following function was profiled,

[code]
This function was run with two of the arguments fixed at 4 and the third varied from the list [8, 32, 128, 512, 2048, 8192]. In all cases the total number of parameters in the circuit remains the same but wh

[2021-09-16 10:39] 1ucian0 commented on #6996
@epelofske-LANL Try this callback to save the problematic circuit:
[code]

[2021-09-16 12:13] mtreinish commented on #7027
Which OS are you testing on? If it's spending most of the time in `__add__` my first thought was this could be all time in symengine or sympy (sympy would scale terribly as the number of variables in the expression grows). If you were on windows it would use sympy instead of symengine by default.

But I don't think that's what's going on. After looking at the profile call graph and the code, the i

[2021-09-16 12:41] AkashNarayanan commented on #7024
Hi @1ucian0 ! Can I work on this issue?

[2021-09-16 16:51] epelofske-LANL commented on #6996
One example of a circuit that failed is attached in the above posts as `example.txt` (it is a qasm file).

[2021-09-16 16:52] kdk commented on #7026
[code]
on L1814 can instead be
[code]
so that we only loop over all the circuit elements once.

[2021-09-16 18:13] kdk commented on #7006
I think this makes sense, and will fix the problem of out-of-order scheduling. Considering the clbits jointly locked for the duration of the instruction also seems reasonable to me (though maybe unnecessarily defensive). Maybe @taalexander has some thoughts on how to best model the duration of classical operations and their corresponding latencies , and how the calculated delays will impact the ba

[2021-09-16 18:57] ewinston commented on #7027
@mtreinish I was running on linux with qiskit version 0.19.0.dev0+7ea4d6e

[2021-09-16 19:03] epelofske-LANL opened #7029 "QuantumVolume QASM circuit error"
### Information

- **Qiskit Terra version**: `qiskit-terra==0.18.1`
- **Python version**: `3.7.3`
- **Operating system**: `macOS Mojave`

### What is the current behavior?
The method `QuantumVolume` at `qiskit.circuit.library.quantum_volume` can be used to  generate quantum volume circuits. *Some* of the circuits generated by this method throw an error when they are saved as a QASM file, and then

[2021-09-16 21:02] taalexander commented on #7006
In practice, this depends on how the backend implements conditional operators. There could be latencies following conditional operations, Qiskit is treating scheduling very naively. There are many questions about the qiskit scheduling model that must be answered surrounding control-flow, eg., what if value calculations or decision durations are indeterministic, how does scheduling work? It seems t

[2021-09-16 22:12] #7026 closed

[2021-09-17 04:05] t-imamichi opened #7032 ""lin_comb" of Gradient framework cannot recognize parameters"
### Information

- **Qiskit Terra version**: latest
- **Python version**: 3.9.7
- **Operating system**: Ubuntu 20.04.3

### What is the current behavior?

`Gradient('lin_comb').convert` cannot recognize parameters and raise an error while the other gradient methods 'param_shift' and 'fin_diff' can.

### Steps to reproduce the problem

[code]

output
[code]

### What is the expected behavior?

No e

[2021-09-17 04:08] KartikChinda commented on #7024
Hi @1ucian0 , I would love to work on this issue! I'm fairly new to contributing to Qiskit and this seems like a good first issue to start contributing to Qiskit!

[2021-09-17 05:02] epelofske-LANL opened #7033 "Transpiler effiency bug in synthesis"
### Information

- **Qiskit Terra version**: `qiskit-terra==0.18.2`
- **Python version**: `3.9.7`
- **Operating system**: `CentOS Linux 7 (Core)`

### What is the current behavior?

[code]
This circuit was also in the messsage: ![Figure 1-1](https://user-images.githubusercontent.com/69176477/133726147-648ddccd-1c1c-4e2e-8d4a-eeb71045eaf9.png)

### Steps to reproduce the problem

I got this warning

[2021-09-17 07:01] t-imamichi commented on #7032
I notice that circuit library requires `decompose` for "lin_comb". The following works.
[code]

[2021-09-17 07:02] #7032 closed

[2021-09-17 07:21] georgios-ts opened #7035 "Fast vs safe attribute access"
### What is the expected enhancement?

A profile of `SabreSwap` shows that spends most of the item accessing the layout item https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/layout.py#L100-L105 and the coupling map distance values https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/coupling.py#L176. These methods are fast but are called a huge number of times, so e

[2021-09-17 14:11] mtreinish commented on #7035
We had a similar issue in: #6493 the way we fixed it there was to re-architect things to provide a stable fast path api. In this case though I don't think we need to do a huge change with introducing new classes. The methods there now are nice for direct user facing things that people are manually interacting with, but that doesn't need to be speed optimized, but for transpiler passes we should su

[2021-09-17 14:37] 1ucian0 commented on #3099
unassigning due to lack of activity.

[2021-09-17 14:41] 1ucian0 commented on #2307
un-assigning due lack of activity.

[2021-09-17 14:59] 1ucian0 commented on #1179
closing due lack of activity and given that is probably not relevant any more. Please, reopen if needed it.

[2021-09-17 15:07] #7025 closed

[2021-09-17 15:17] 1ucian0 commented on #1741
the qelib1.inc file should not be modified (see https://github.com/Qiskit/qiskit-terra/pull/6125). However, can somebody check if the cases of shorter gates definitions apply when calling `gate.definition`? Please, open issues/PRs for those cases.

[2021-09-17 16:17] TheGupta2012 commented on #7004
@taalexander would you be able to give an advice on how I could make a test independent of the `aer` module? This is because in the unit test I was trying to execute the `ScheduleBlock` instruction on the `FakeArmonk` and then trying to assert the value of the returned results.
This is my current test :
[code]

This is the traceback that I get :
[code]

[2021-09-17 17:30] TheGupta2012 commented on #7004
Hey @taalexander , I have a small doubt. I have added a small unit test for the updated code but the thing is that it is dependent on `backend.run` or `execute` function. Since `aer-simulator` is not installed in terra, the test fails. Is there any kind of workaround for this so that I can correctly add a test for the added functionality? Here's the test I added in `test/python/pulse/test_block.py

[2021-09-17 19:10] ewinston opened #7038 "RemoveFinalMeasurement scales superlinearly with gates"
The RemoveFinalMeasurement pass scales superlinearly with the number of gates in a circuit. For a randomly generated circuit of equal width and depth this pass scales as width^n where n ~ 2.8
![image](https://user-images.githubusercontent.com/25756217/133840463-6d3c5aa4-b37d-4014-a117-c04ed39a28e1.png)

![image](https://user-images.githubusercontent.com/25756217/133840387-a3c28be1-3cd5-4c28-8b7a-5

[2021-09-17 19:30] mtreinish commented on #7038
Yeah, looking at the pass code it's going about it pretty inefficiently. It's going over every node in the graph and checking that it's children are output nodes to find final operations:

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/passes/utils/remove_final_measurements.py#L43-L55

When instead it should be just looping over the parents of the output qubit nodes and checkin

[2021-09-17 20:20] mtreinish commented on #1179
It is, pylint is still being run and has all the same issues outlined above. Black just made code formatting automatic for us.

[2021-09-17 23:46] #7038 closed

[2021-09-19 05:22] rabeehic opened #7041 "Efficiency bug"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.8.10
- **Operating system**: Windows 10 Home

### What is the current behavior?
I used extended stabilizer simulator as my circuit has many qubits. But, I got this errors:
"
/opt/conda/lib/python3.8/site-packages/qiskit/transpiler/runningpassmanager.py:166: UserWarning: Resynthesized [<qiskit.dagcircuit.dagnode.DAGNode obj

[2021-09-19 12:05] 1ucian0 commented on #1937
Is this still blocked?

[2021-09-19 12:09] 1ucian0 commented on #2195
It seems to me that raising in warning when a non-qasm instruction is being ignored as part of the generating QASM is a good compromise.

[2021-09-19 12:11] 1ucian0 commented on #2015
Closing this for now, as a I think it should be implemented independently of terra. Please reopen (and tag as `discussion`) if you disagree.

[2021-09-19 12:11] #2015 closed

[2021-09-19 12:22] 1ucian0 commented on #2439
I think is possible to have a dummy `_ipython_display_` to avoid displaying something in jupyter

[2021-09-19 13:03] 1ucian0 commented on #3011
closing this issues as `wont fix`. Please, reopen if there are new arguments for a `QuantumCircuit.to_matrix` method.

[2021-09-19 13:03] #3011 closed

[2021-09-19 13:10] 1ucian0 commented on #3169
Based on https://github.com/Qiskit/qiskit-terra/pull/3178#issuecomment-606686326, I'm closing this one. Please reopen if its still valid.

[2021-09-19 13:10] #3169 closed

[2021-09-19 13:14] 1ucian0 commented on #3213
closing following https://github.com/Qiskit/qiskit-terra/pull/3208#pullrequestreview-297841112

[2021-09-19 13:14] #3213 closed

[2021-09-19 13:24] 1ucian0 commented on #3263
I tend to agree with @Cryoris , maybe it is something that `substitute_node` can be better at?

[2021-09-19 13:37] 1ucian0 commented on #3294
Closing. See https://github.com/Qiskit/qiskit-terra/pull/3625#issuecomment-566841984

[2021-09-19 13:37] #3294 closed

[2021-09-19 17:34] 1ucian0 commented on #5719
Is this still requested (qiskit-ignis is deprecated)? If so, can you add an example on the expected feature?

[2021-09-19 20:39] 1ucian0 commented on #7041
It seems duplicated with https://github.com/Qiskit/qiskit-terra/issues/7033.

[2021-09-19 20:42] 1ucian0 commented on #7029
It seems like a QASM2 exporter bug. The gate `su4_976` is indeed declared twice with the same definition.

[code]

[2021-09-20 05:36] yulunwang opened #7042 "transpiler bug encountered"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.7.6
- **Operating system**: Linux

### What is the current behavior?
Got following errors while using crx and rx gates:
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/37082255/133960479-2f1d18d0-160c-495a-aedf-e003c6c334b7.png">

/gpfs/software/Anaconda/envs/psifour/lib/python3.7/site-packages

[2021-09-20 08:27] dlasecki opened #7043 "Implement Trotterization in new design of Quantum Time Evolution and using EvolutionGate, ProductFormula."
The goal of this epic is to provide Trotterization capabilities from within the new framework for Quantum Time Evolution that uses a unified API across all time evolution algorithms. Moreover, the migrated Trotterization should utilize product formulas and produce an EvolutionGate that is subject to compiler optimizations.

[2021-09-20 08:29] dlasecki opened #7044 "Integrate migrated Trotterization with ProductFormula and EvolutionGate."

[2021-09-20 08:30] dlasecki opened #7045 "Implement support for Abelian grouped evolution in Trotterization."
The goal of this issue is to finalize Abelian grouped evolution for Trotterization. Currently, there are some commented code fragments that prepare for this feature but they are not complete and not tested.

The development should start from this branch. It includes aforementioned commented code fragments for Abelian grouped evolution.
https://github.com/dlasecki/qiskit-terra/tree/quantum-time-evo

[2021-09-20 08:48] TorbenPeter opened #7046 "Faulty addition of PauliOp with phase coefficient"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.8.10
- **Operating system**: Ubuntu 20.04.2 LTS

### What is the current behavior?

The addition of two PauliOp produces wrong results when a phase coefficient is used.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The expected behaviour can be achieved by applying the phase multiplying w

[2021-09-20 08:56] dlasecki commented on #7045
The goal of this issue is to finalize Abelian grouped evolution for Trotterization. Currently, there are some commented code fragments that prepare for this feature but they are not complete and not tested.

The development should start from this branch that includes most parts of Trotterization migrated from OpFlow to the new unified Quantum Time Evolution framework (design available internally).

[2021-09-20 09:59] jakelishman commented on #6966
Presumably there is some exception being thrown by Aer, which is why the callback function is not getting run in these situations.  To dig down and work out what the full problem is, we'd need to see the exception being thrown.  You can check if the result of an `apply_async` call was successful by doing `async_result = pool.apply_async(...)`, and then `async_result.successful()` (after joining).

[2021-09-20 10:01] javabster commented on #7004
Hi @TheGupta2012 can you push your test code to your branch please? I'm not seeing your error when I try your test, maybe double check you have all the requirements installed (make sure you've followed the steps [here](https://qiskit.org/documentation/contributing_to_qiskit.html#installing-terra-from-source))

[2021-09-20 10:08] jakelishman commented on #6990
78% sounds worryingly low to me, to be honest.  I've kept the Macbook I got from Imperial on 10.14, for example, because 10.15 introduced new annoying things for any non-bundled C toolchain, and more restrictions on what processes can and can't do.  That said, as long as we keep the binary builds using the 10.9 API, and it's just a documentation note that <10.15 may not be properly supported, I th

[2021-09-20 12:09] 1ucian0 commented on #7046
This seems solved in main:
[code]
[code]

[2021-09-20 12:36] 1ucian0 commented on #7046
Yeap. It seems like this is a https://github.com/Qiskit/qiskit-terra/issues/6815 duplicated and it was solved by #6826. Please, reopen if I'm wrong.

[2021-09-20 12:36] #7046 closed

[2021-09-20 12:42] 1ucian0 commented on #7042
It seems duplicated with #7033.

[2021-09-20 12:48] 1ucian0 commented on #7042
You mean the warnings? or is there an error?

[2021-09-20 13:02] yulunwang commented on #7042
@1ucian0  Hi Luciano, sorry it's a warning. It kept shows up and asks me to report this issue.

[2021-09-20 13:15] 1ucian0 commented on #3542
This discussion seems stalled. Some updates

---
C3Xdg seems like working now:
[code]
[code]
---
The `FredkinGate` now is called `CSwapGate`, and still wrongly returns `False`:
[code]
[code]
However
[code]
[code]
---
The problem of Gate equivalence is similar to the problem of [circuit equivalence](https://github.com/Qiskit/qiskit-terra/pull/5700) (and the problem if [hiding not scalable operation

[2021-09-20 13:15] #3542 closed

[2021-09-20 14:04] mtreinish commented on #6990
We discussed this last week among @Qiskit/terra-core and came to the conclusion that we still want to provide full support for older macOS versions, mostly for supporting older macOS hardware, since apple is pretty aggressive with culling support of their older hardware with newer macOS releases. Requiring macOS users have a mac from 2012 or newer wasn't something we wanted to do. As for tweedledu

[2021-09-20 14:04] #6990 closed

[2021-09-20 15:09] #6921 closed

[2021-09-20 15:18] jakelishman commented on #5811
Mixins generally imply multiple inheritance, and multiple inheritance doesn't play nicely with `__slots__` in the general case.  We construct a _lot_ of circuit element objects, and so for memory and performance reasons, it's probably going to be better for us to have slots on them all; they'll be faster to initialise, take less memory, and operations on them are faster.  I actually was interested

[2021-09-20 15:25] jakelishman commented on #7004
@TheGupta2012: Terra's CI pipelines install Aer, so it'll be available on CI.  Locally, you need to ensure that you've installed Aer yourself to run the tests.  If you are writing a test that absolutely requires Aer, then make sure you also put in a `unittest.skipIf` decorator that checks if Aer is available.  There are some examples of those in the tests if you search for the string "qiskit-aer d

[2021-09-20 16:10] TheGupta2012 commented on #7004
Thanks a lot @jakelishman, I did not know that the testing suite contains `aer` too! I've added the decorator but I wanted to know does the CI pipelines then install _all_ of the `qiskit` components i.e. `terra`, `aer`, `aqua` and `ignis` ? Is that necessary to install them from source locally too? Thank you!

[2021-09-20 16:17] jakelishman commented on #7004
If you look in the `azure-pipelines.yml` file in the repo root, you can see the whole set up procedure.  If I remember correctly, Terra's CI for most of the tests only installs Aer (since Terra and Aer have some co-dependence), and we only install Ignis for the tutorials.

[2021-09-20 16:19] jakelishman commented on #2439
I suspect that as part of handling the more expressive OpenQASM 3 control flow operations, we'll likely add something like context managers for handling `if`, `while`, and friends, and we can remove `c_if` after suitable deprecation if this is still wanted.  That said, `c_if` is a very convenient way of making a simple controlled gate out of anything, and deprecating it entirely in favour of a con

[2021-09-20 16:27] mtreinish commented on #7004
We also only install aer on a subset of ci jobs and only from a release on pypi. We do this very specifically to avoid adding an accidental bidirectional dependency between aer and terra (where aer depends on aer and aer depends on terra, even if just for testing) because the dependency should only be in a single direction (and aer depends on terra).

[2021-09-20 16:37] TheGupta2012 commented on #7004
I had initially thought that the `tox` environment I had locally was almost similar to what the pipelines used (for Windows). Thanks a lot for all these insights!

[2021-09-20 16:43] ecpeterson commented on #7041
@rabeehic Can you provide an example value of `qc` that triggers the warning? I must be using it wrong, as I tried supplying

[code]

and the simulator complained that it doesn't know what to do with the (Clifford!) gate  `sx`.

[2021-09-20 17:03] ecpeterson commented on #7033
That warning is less helpful than it could be, since `DAGNodeOp`s don't have a useful `__str__`. That's on us. :/ I'll try to reproduce this, but it might be useful to replace that warning from `Optimize1qGatesDecomposition.run` with the following:

[code]

[2021-09-20 17:04] jakelishman commented on #2195
Of note: at the moment, `qc.qasm()` currently throws a TypeError on this example, because `snapshot` does not define `Instruction.definition`:
[code]
so we also need to fix either the handling in `QuantumCircuit.qasm` or that instruction.

[2021-09-20 18:23] ecpeterson commented on #7042
I don't think I can reproduce this without an example value of `circ`, and I mis-wrote the warning — the relevant information should be printed where all those `DAGNodeOp` strings are appearing instead. #7048 contains a better warning string. Could I ask you to supply an example `circ` or, if that's sensitive information, to re-run with the warning string from #7048 and paste its output?

[2021-09-20 20:01] 1ucian0 commented on #3804
It seems to me that this is a use-case for Qiskit runtime. I'm closing this as an answered question. Consider reopening if my appreciation is wrong.

[2021-09-20 20:01] #3804 closed

[2021-09-20 20:15] yulunwang commented on #7042
It's hard to reproduce it because I think it connects to the value I assigned to theta. Once I changed the value the warning disappears. Unfortunately in my algorithm where thousands circuits submitted and ran has such warnings for several times.

Here is the one example for you:

[code]

 The warning I got:
`/gpfs/home/yuluwang/.local/lib/python3.7/site-packages/qiskit/transpiler/runningpassmanag

[2021-09-20 20:33] ecpeterson commented on #7042
Thanks so much! I can reproduce that.

[2021-09-20 20:34] kdk commented on #5472
Hi @paniash , any update on this?

[2021-09-20 21:33] ecpeterson commented on #7042
@levbishop Since you have strong opinions about `atol`, I think you should weigh in. The following circuit

[code]

re-synthesizes to have ZXZ angle values `(-1.0091434386183797e-12, 5.5000000000187176e-05, 1.0093214144495466e-12)`, which the PSX synthesizer shifts to `(3.141592653588784, 3.1416476535897933, 1.0093214144495466e-12)`. Because `1.009e-12` is slightly above `DEFAULT_ATOL`, none of th

[2021-09-20 21:57] kdk commented on #3263
I don't think this is an issue anymore (though I'm not exactly sure what's changed to resolve it). If I try to reproduce the original issue:

[code]
it looks like `Isometry` no longer generates `Id`s on some of the qubits (which was weird, but not necessarily a bug). If I try to reproduce the original `substitute_node_with_dag` issue:

[code]
things behave as expected, so I think this can be close

[2021-09-20 21:57] #3263 closed

[2021-09-21 03:44] #6825 closed

[2021-09-21 05:48] paniash commented on #5472
@kdk Hi! Sorry, life's gotten in the way. Please feel free to take over or assign this to someone else.

[2021-09-21 09:08] 1ucian0 opened #7051 "QuantumVolume circuits are not directly exported to QASM2"
### Information

- **Qiskit Terra version**: main
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

[code]
[code]

Notice that `circuit.decompose().qasm()` works and `isinstance(circuit, QuantumCircuit)` is `True`.

### What is the expected behavior?

There should note be exception. `QuantumVolume` should be dump as any custom gate.

### Suggested solution

[2021-09-21 09:30] 1ucian0 commented on #7029
Hi @epelofske-LANL , I was trying to reproduce the issue but I could not find any case. The point is to find a `qiskit.circuit.library.quantum_volume.QuantumVolume` that, when exported to QASM2, ends with to repeated gate declarations. I tried this:
[code]

In other words, how did you build `qasm_error_circuit.txt`?

[2021-09-21 09:35] 1ucian0 commented on #7033
@epelofske-LANL can you try again with, now that #7048 ? You will have to install qiskit from main tho. Your code to reproduce the warning (including the circuit and the transpile options) would also help otherwise.

[2021-09-21 09:48] 1ucian0 commented on #6996
we were not able to reproduce this issue and the information. Please, check again with Qiskit main. If the problem persists, reopen this issue. From `callback.txt` it seems like `UnitarySynthesis` is not being deterministic. But it is very hard to know.

[2021-09-21 10:09] jakelishman commented on #7051
Ultimately, this is because `UnitaryGate` defines `self._qasm_definition = None`, and there's a check in the QASM-ifier that simply uses `instruction._qasm_definition` if the attribute is defined.  Since `QuantumCircuit.qasm` is accessing a private attribute, it's not really fair to say that `UnitaryGate` is violating the API, so it's probably best just to fix the check for now, and overhaul the Q

[2021-09-21 10:11] jakelishman commented on #7051
Also, this then causes the duplicate declaration bug of #7029.

[2021-09-21 10:46] jakelishman opened #7052 "`QuantumCircuit.qasm` can output invalid gate names"
### Information

- **Qiskit Terra version**: 0.19dev @ 6b08154
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

`Instruction` instances can be given any Python string as a name.  If the name is not of a known gate, the QASM 2 dumper will create a `gate <name> { ... }` block to describe it, and use `Instruction.name` verbatim.  If the name contains invalid c

[2021-09-21 14:06] levbishop commented on #7042
I understand the issue and like you I also lean away from simply raising the tolerance without thinking through carefully.
Let me ponder this for a little.

[2021-09-21 14:53] kdk commented on #5811
For the caveats with using `__slots__` and multiple inheritance, I came across https://docs.python.org/3/reference/datamodel.html#notes-on-using-slots , from which:

seem relevant (though I'm not exactly sure how to parse the conditions and consequences of the second bullet). The last does seem fairly incompatible with use of `__slots__` within both the object classes and mixins. (As a potential n

[2021-09-21 16:38] #7024 closed

[2021-09-21 17:10] ecpeterson commented on #7042
It's not yet clear if it's a related issue, but the first line in the log from #7041 shows a single gate (supposedly belonging to `['p', 'sx', 'x']`) being mis-synthesized into a pair of `sx`es. That could well turn out to be a symptom of the `theta` error I was worried about above.

[2021-09-21 17:22] epelofske-LANL commented on #7029
@1ucian0 For some reason, I never encountered the error while handling the circuit as a qasm string returned by the `QuantumVolume` method. The only time I ever got an error was when reading in the qasm file using `QuantumCircuit.from_qasm_file`. As for exactly how to generate a circuit which has this repeat declaration, I do not have a random seed saved that does this. However, in my experience t

[2021-09-21 17:22] jakelishman commented on #5811
### Slots

Yeah, the last bullet point in that list from the Python docs was what I was alluding to with mixins being a nuisance with slots.  I'm pretty sure it's possible to write a metaclass to construct a `__slots__` class with multiple inheritance, by scanning over the derived types and building up the `__slots__` field manually, _before_ it's passed to `type` to construct.  Class decorators c

[2021-09-21 17:25] epelofske-LANL commented on #6996
@1ucian0 I am still encountering the error - but it seems to platform dependent. Linux installations are not finding this error, but my macOS installation is still encountering the error.

[2021-09-21 19:45] #6947 closed

[2021-09-22 11:02] jakelishman commented on #5811
My concern was all about not letting mixins prevent us from using `__slots__` and suppressing the creation of `__dict__` in downstream classes.  I wanted to have both interface definitions and `__slots__`, but  I thought that defining attribute interfaces as `property` and `abstractmethod` would _require_ those to be `property` in child classes (to satisfy `abc.ABC`), while actually that's not the

[2021-09-22 15:14] ajavadia commented on #5811
I very much endorse these requirements from @kdk:

But I don't have strong opinions on the use of mixins vs. trait manager.

[2021-09-22 15:18] jakelishman commented on #5811
I think forget about this idea of a trait manager now - it's not necessary, and we can do things efficiently without it.

[2021-09-22 16:55] TheGupta2012 commented on #7004
Apparently, when I pushed my test to the PR, I am getting this error: `qiskit.providers.aer.aererror.AerError: 'PulseSimulator requires a system model to run.'` Would anyone be able to highlight what is missing when I try to run the circuit on the fake backend?

Full traceback : [traceback](https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=31444&view=logs&j=8fcf860c-8d5a-5d3a-546

[2021-09-23 07:38] anedumla commented on #7043
Comment to be able to assign me.

[2021-09-23 07:38] anedumla commented on #7044
Comment to be able to assign me.

[2021-09-23 07:38] anedumla commented on #7045
Comment to be able to assign me.

[2021-09-23 11:49] 1ucian0 opened #7057 "assign_parameters and bind_parameters do almost the same thing. Can they be merged?"
mostly the title, can `qiskit.circuit.quantumcircuit.QuantumCircuit.assign_parameters` and `qiskit.circuit.quantumcircuit.QuantumCircuit.bind_parameters` be merged? Their names do not highlight their differences.

[2021-09-23 12:00] AlaricCheng opened #7058 "It seems that CircuitStateFn will automatically optimize the circuit"
### Context

I'm trying to use qiskit for noisy simulation. Since I want to specify the location of the noise, I choose to add an identity gate to the place I want to add noise, and then set the identity gates to be noisy. Below is an example,
[code]

### Readon why I want to do this

I want to do this because I want all single-qubit gates (more specifically, single-qubit Clifford gate) to have th

[2021-09-23 13:42] jakelishman commented on #7057
Really they do _exactly_ the same thing, except `bind` raises TypeError if any of the given values aren't numeric.  `bind_parameters` definitely seems like it could be removed, as long as we make sure there's a reliable way to query if a circuit contains unbound parameters.

[2021-09-23 14:21] woodsp-ibm commented on #7058
Indeed the CircuitStateFn has logic to remove Identity gates. https://github.com/Qiskit/qiskit-terra/blob/7c8815390b1a79e76e040fbdd2b130d8b6e7d41f/qiskit/opflow/state_fns/circuit_state_fn.py#L367-L380 I know this `reduce` method is called when doing a string conversion. I imagine that in your flow above that this reduce method ends up getting called via another path.

This is something that is bei

[2021-09-23 16:13] TheGupta2012 commented on #7057
@1ucian0 can I correct this?

[2021-09-23 16:16] 1ucian0 commented on #7057
Let's allow some time for discussion on the preferred direction first, if you don't mind.

[2021-09-24 01:30] ikkoham commented on #7058
The problem is that we cannot simulate noise because the noise is defined in the identity gate and the identity gate disappears in the computation process of expval. it is difficult to solve this problem because of the design philosophy of Opflow. Opflow is a high-level framework.

In the near future, you can add QuantumError instructions directly to the QuantumCircuit.
https://github.com/Qiskit/q

[2021-09-24 01:47] AlaricCheng commented on #7058
Adding QuantumError directly to the QuantumCircuit would be cool!

[2021-09-24 10:27] javabster commented on #7004
Taking a look at your code I think It's failing because of line 141 in `fake_backend.py` where `system_model` is not being set because it looks like `PulseSystemModel` (imported on line 139) doesn't seem to exist? Not sure if it used to exist and got removed or something, maybe @mtreinish has a better idea?

[2021-09-24 10:50] 1ucian0 commented on #7029
that's because the file is not valid. QASM2 importer does not allow double gate declaration. That's way the focus should be in how that invalid qasm file was generated. I assumed it came from something like `QuantumVolume(3, 4).decompose().qasm()`. It this a fear assumption?

btw, 10'000 circuits and still nothing:
[code]

[2021-09-24 11:14] jakelishman opened #7059 "`FakeBackend` passes incorrect arguments to Aer's `PulseSimulator.run`"
### Information

- **Qiskit Terra version**: 0.19 @ 7c88153
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

When trying to run a pulse simulation, `FakeBackend.run` gets an Aer `PulseSimulator`, then calls its `run` by `PulseSimulator.run(schedules, system_model)` in these lines:

https://github.com/Qiskit/qiskit-terra/blob/7c8815390b1a79e76e040fbdd2b130d8

[2021-09-24 11:16] jakelishman commented on #7004
I think this is a bug in Terra's `FakeBackend` caller - #7059.  Abby: `PulseSystemModel` is in Aer (`qiskit-aer/qiskit/providers/aer/pulse/system_models/pulse_system_mode.py`), so it doesn't appear in the Terra repo.

[2021-09-24 11:48] jakelishman commented on #7051
This _should_ work, so there should be no error thrown at all.  I'll look into fixing the check now - my initial quick-and-dirty fix yesterday uncovered some more annoying bugs, then I had to put it aside to do other things.

[2021-09-24 12:24] #7059 closed

[2021-09-24 15:39] levbishop commented on #7042
I had a start at doing this based on estimated infidelity. Here's where I got to before I had to switch to other things.
[code]
It gives optimal approximations for nearly all special cases.
Open issues:

1. I didn't make any effort to get the global phase right for the approximations. That should be doable but needs care.
2. I didn't get optimal approximations for the xpxp and pxpx cases, and I'm

[2021-09-24 18:08] SimoneGasperini commented on #3090
Is this still to be done right? I'm a physics student interested in quantun computing and I would like to start contributing to Qiskit. Can I work on this?

[2021-09-26 01:11] ajavadia commented on #5163
TestFakeBackends is similar. It takes a very long time to run

[2021-09-27 11:31] 1ucian0 commented on #7033
#7048 will be included in 0.18.3. You can either install main or wait for that release (it might happen any time in the next two weeks)

[2021-09-27 15:46] ecpeterson commented on #7042
I'm happy to pick this up. I think coupling fidelity estimation and approximation dodges my worry about `theta` in option #2.

Similarly no guarantees about 0.19, but it could conceivably happen.

[2021-09-27 18:21] jakelishman opened #7063 "Extra file `test_latex_cif_single_bit_bundle.tex` generated by tests"
### Information

- **Qiskit Terra version**: 0.19.dev @ 74a6d0d
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

The test suite drops an extra file `test/python/visualization/test_latex_cif_single_bit_bundle.tex` as part of its run, which isn't cleaned up.

As part of the same problem, the test that generates this does not actually compare this file with th

[2021-09-27 19:33] jakelishman opened #7066 "Tests fail to collect with `ddt=1.4.3`"
### Information

- **Qiskit Terra version**: any
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

The test suite may fail to collect now for all OSes on CI, due to the new `ddt` version 1.4.3 (released about an hour ago).  This appears related to datadriventests/ddt#92 - the signature of `ddt.idata` changed in a backwards-incompatible manner, and there's no

[2021-09-27 19:44] jakelishman commented on #7066
Having looked into it a bit closer, I think this is a slight "interface bug" in `ddt`, and the best thing for us to do is just disallow `ddt==1.4.3` in the constraints, and I'll work with the `ddt` team to see if we can have an interface fix merged upstream.  For now, see datadriventests/ddt#97.

[2021-09-28 01:36] #6495 closed

[2021-09-28 03:57] epelofske-LANL commented on #7029
@1ucian0 The way I have encountered the error is from `QuantumVolume(5).qasm()` (and then reading that qasm from a file).

What I mean is that I did not encounter an error when running the code you have above - i.e. `circuit.qasm` never threw an error even if there was a double gate declaration. Specifically only `QuantumCircuit.from_qasm_file` threw the error. I am guessing that is why you are no

[2021-09-28 04:11] epelofske-LANL commented on #7029
I just wrote this code:

[code]
It gave this output:
`Total number of errors = 30`

And here are some of those 30 files it produced:
[1.txt](https://github.com/Qiskit/qiskit-terra/files/7240977/1.txt)
[2.txt](https://github.com/Qiskit/qiskit-terra/files/7240979/2.txt)
[3.txt](https://github.com/Qiskit/qiskit-terra/files/7240980/3.txt)

[2021-09-28 06:12] epelofske-LANL commented on #7033
I installed from source, and managed to get this warning:

[code]

I am trying to save a circuit which gives this warning, and will post it here if I can replicate it (it seems to be hard to replicate).

[2021-09-28 06:14] itoko commented on #7006
[race condition?]
In my understanding, scheduled circuits are compiled to pulse schedules in a backend. For the "measure-measure" circuit, it would be compiled to a pulse schedule like below (in circuit view). Hence the race condition does not occur.
<img src="https://user-images.githubusercontent.com/15028342/135032662-a785d70f-3f1e-413b-b6b8-0cc5e6c317ab.png" width="200px">
Am I correct? @taalex

[2021-09-28 06:27] epelofske-LANL commented on #7033
I found a circuit which gave the user warning:

[circuit.txt](https://github.com/Qiskit/qiskit-terra/files/7241571/circuit.txt)

The transpiler call I made that produced the warning used several options, including specifying the coupling map of `ibmq_guadalupe`:

[code]

[2021-09-28 08:59] Zoufalc opened #7069 "QNSPSA produces irreproducible results"
### Information

- **Qiskit Terra version**: qiskit-terra                  0.17.0
- **Python version**:                                             Python 3.7.3
- **Operating system**: MacOS Big Sur             11.6

### What is the current behavior?
Executing a `QNSPSA` optimization with the same random seed gives different results.
We checked that the same optimization gives reproducible results

[2021-09-28 09:03] dlasecki opened #7070 "Support time-dependent Hamiltonians in VarQte."
Variational time evolution prototype does not support time-dependent Hamiltonians (with a t `Parameter`). Such case is expected to be supported in the Unified Time Evolution Framework and thus it has to be implemented in variational time evolution. A time-dependent Hamiltonian has to be bound again each time an ODE solver makes a step in time.

[2021-09-28 10:09] jakelishman commented on #7029
Could you post the output of
[code]

I can't produce any errors with your script, and the format of the files you're providing isn't consistent with the output of Terra 0.18.  In yours, each gate is defined immediately before it is used, so the lines go
[code]
but Terra 0.18 will output something like
[code]
with _all_ the gate definitions first, followed by the main programme.  I suspect your env

[2021-09-28 10:25] javabster commented on #7069
When I run the following VQE with QNSPSA I get consistent results, as @jakelishman said if you're not setting your seed using the `algorithm_globals.random_seed` that could be the cause.

[code]

2 example results:
<img width="789" alt="Screenshot 2021-09-28 at 10 55 29" src="https://user-images.githubusercontent.com/23662430/135069857-88a1d171-3e39-492a-83eb-c62ef9a4484e.png">
![s1](https://user-

[2021-09-28 10:27] levbishop commented on #7033
Thanks for reproducing. This shows a bug with the decision to emit the warning message. The new circuit uses only one sqrt(x) pulse whereas the old uses a sqrt(x) and an x pulse. So the new will actually be an improvement in terms of fidelity, but since it uses two phase gates the new uses more total gates and the length check incorrectly marks it as an inefficient synthesis. For this case you can

[2021-09-28 10:30] jakelishman commented on #7069
We should make sure that the documentation for the `QNSPSA` class also includes the same note about setting the global seed, since users probably won't see it with it just being on a parent class.  Hopefully this is the issue here.

[2021-09-28 11:18] jakelishman commented on #7029
Also, @epelofske-LANL: we understood that the bug was in reading from the file, not generating it.  The error was telling us that there was a duplicate error definition, so @1ucian0's attempt to reproduce it was a streamlined version of that.  Instead of parsing the QASM each time, he just slimmed it down to a quick regular expression that checked if any gates were defined twice, so he could run m

[2021-09-28 11:57] #6821 closed

[2021-09-28 11:57] #6872 closed

[2021-09-28 12:26] Zoufalc commented on #7069
Great! That resolved the problem. I was not aware of the global setting. Thanks for pointing this out.

[2021-09-28 12:28] taalexander commented on #1937
All issues that will be solved have now been solved so closing.

[2021-09-28 12:28] #1937 closed

[2021-09-28 12:28] jakelishman commented on #7069
Great to hear!  I'll just leave this open for now as a reminder to ourselves to update the documentation in the class.

[2021-09-28 13:26] levbishop commented on #7041
`extended_stabilizer` has the basis `'cx', 'cz', 'id', 'x', 'y', 'z', 'h', 's', 'sdg', 'sx', 'sxdg', 'swap', 'u0', 't', 'tdg', 'u1', 'p', 'ccx', 'ccz', 'delay', 'pauli'` and the notion of efficient synthesis for this backend (minimize non-clifford gates) is different than for other hardware backends (minimize rabi pulses). Probably a different synthesis pass or cost function should be used for thi

[2021-09-28 14:13] #7063 closed

[2021-09-28 15:02] jakelishman opened #7073 "Pin CI to use macOS-10.15 while we support Python 3.6"
### What is the expected enhancement?

Currently our CI uses the `macOS-latest` vm to run Mac tests, but this will change shortly from a 10.15 image to an 11.x one (actions/virtual-environments#4060), which doesn't have direct support for Python 3.6.  Since the 0.19 series will still support this version of Python, we need to make sure that we're still able to run tests on it, which we should be a

[2021-09-28 16:49] #7069 closed

[2021-09-28 17:45] epelofske-LANL commented on #7029
@jakelishman Yes, that is the problem. According to pip I have `qiskit-terra==0.18.1` installed, but  the actual version I am using is `0.17.0`:
[code]

[2021-09-28 17:45] #7029 closed

[2021-09-28 17:54] jakelishman commented on #7029
Ah, that's good to know!  Thanks - bugs are always super scary when we can't reproduce them, so good to know the cause in the end.

In general, `conda` and `pip` play a little weirdly together. When you're using packages from both at once, `conda list` is _typically_ a little more reliable than `pip list`, because `conda` knows how to read `pip`'s status, but it doesn't really work the other way a

[2021-09-28 20:05] #7004 closed

[2021-09-28 21:49] kdk commented on #7057
Agree these two strongly overlap now. There was originally a justification in #4037 for leaving them separate, in that the behavior of `assign_` was planned to evolve to include cases where assigning parameters would not necessarily remove them from the circuit, but leave them in place so that once a circuit was evaluated under a given parameterization, they could be re-assigned without requiring

[2021-09-29 07:14] GoldmanAdele commented on #2799
To solve this problem I did 'pip install pylatexenc' and it works now

[2021-09-29 08:36] stuckmar opened #7078 "unexpected behaviour of pad/MemorySlot has same prefix as MeasureChannel"
### Information

- **Qiskit Terra version**:
- 18.2
- **Python version**:
- 3.8.11
- **Operating system**:
- Windows 10 Home 20H2

### What is the current behavior?
Starting with a Schedule containing an Acquire, with the Acquire using a MemorySlot, and any Delay or Pulse, which is longer than that of the Acquire. Now using the pad function on this Schedule will return a Schedule, which contains D

[2021-09-29 10:39] 1ucian0 opened #7080 "QAOA should decompose to RZZ when possible (and not further) to be able to exploit commutativity"
This was brought in a conversation with @eggerdj

QAOA misses the opportunity to use higher level of gate, such as RZZ. Take the following example (coming from @eggerdj):

[code]
[code]
The decomposition in terms of RZZs (instead of `cx-rz-cx`) of the QAOA would give some optimizations advantages since they would be able to commute. By decomposing further down, the advantage is gone.

[2021-09-29 13:04] #7073 closed

[2021-09-29 16:27] javabster commented on #7078
hi @stuckmar thanks for raising this issue, it is currently unclear if `AcquireChannel`s should allow `Delay` instructions and there are pros and cons to allowing it. If you would like to submit a PR with your suggested solution and some more justification for your solution choice please go ahead 😄 Otherwise the core team will look into it when they have capacity

[2021-09-29 21:20] woodsp-ibm commented on #7021
The suggested solution states this:

**BUT** the typehint is that already

https://github.com/Qiskit/qiskit-terra/blob/deebd5cce63601f5a6bb4aa762baedd9cb4876b3/qiskit/opflow/list_ops/list_op.py#L374-L383

The issue is more that when its a list of sparse objects the multiply is not working as I think was intended assuming this was a numpy array and it would distribute the multiply over all the elem

[2021-09-29 21:35] kdk opened #7083 "`Instruction.validate_parameter` does not allow different parameter types by index"
### What is the expected enhancement?

`Instruction.validate_parameter` is called by the `Instruction.params` setter (and elsewhere) to allow `Instruction` subclasses to define custom validation logic for their parameter types (e.g. https://github.com/Qiskit/qiskit-terra/blob/deebd5cce63601f5a6bb4aa762baedd9cb4876b3/qiskit/circuit/delay.py#L69 ). However, `validate_parameter` is applied once for e

[2021-09-30 11:36] eggerdj opened #7086 "Trivial layout and unitary synthesis"
### What is the expected enhancement?

The logic around `trivial_layout` https://github.com/Qiskit/qiskit-terra/blob/deebd5cce63601f5a6bb4aa762baedd9cb4876b3/qiskit/transpiler/layout.py#L273 is a (simplified) duplicate of what's already in UnitarySynthesis: https://github.com/Qiskit/qiskit-terra/blob/deebd5cce63601f5a6bb4aa762baedd9cb4876b3/qiskit/transpiler/passes/synthesis/unitary_synthesis.py#L

[2021-09-30 12:51] eggerdj opened #7580 "Support multiple spin lengths in SpinOp"
### What is the expected enhancement?

Currently `SpinOp` has an intrinsic limitation where all spins have the same dimension. For example, `SpinOp("ZZ", spin=5/2)` represents a `ZZ` coupling between two spins with spin 5/2. However, it does not seem possible to have spins of different lengths in the same spin op. This could be represented if `SpinOp` were extended to also accept a list of spin va

[2021-09-30 14:54] ajavadia opened #7089 "remove_final_measurements leaves clbit unusable"
[code]

Note that as currently defined, remove_final_measurements() is supposed to remove the measurements plus the classical bits. But evidently it does not do that (looking at the two circuits above). Still, the clbit is unusable.

[2021-09-30 15:39] mtreinish commented on #7089
Which version of terra are you using. I made some recent changes to this path (on main only in https://github.com/Qiskit/qiskit-terra/pull/7039) and want to determine if this is a long standing issue or a bug that PR introduced. I didn't really change the clbit path so I expect it to have existed prior to that.

[2021-09-30 16:19] ecpeterson commented on #7086
(Edited the pointer to where in the code I meant.)

[2021-09-30 16:41] jakelishman opened #7090 "All CI tests failing due to `jsonschema` 4.0 release"
### Information

- **Qiskit Terra version**: any
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

All CI runs are currently failing due to additional deprecation warnings being issued by a transitive dependency `jsonschema` updating its version to 4.0, which issues new deprecation warnings (released about 4 hours ago).

### Steps to reproduce the problem

R

[2021-09-30 16:54] mtreinish commented on #7090
Let's just pin this in constraints until nbformat releases a fix

[2021-09-30 17:01] jakelishman commented on #7090
Ok, very reasonable.  Done in #7091.

[2021-09-30 17:19] Zoufalc opened #7092 "Get Learning Rate SPSA & QNSPSA"
### What is the expected enhancement?

For `SPSA` as well as `QNSPSA` you can set `learning_rate=None`.
When calling the `.settings()` property of the optimizers after running the optimization, it will return `learning_rate=None` again.
However, the effective `learning_rate` is actually [changed](https://github.com/Qiskit/qiskit-terra/blob/deebd5cce63601f5a6bb4aa762baedd9cb4876b3/qiskit/algorithms

[2021-09-30 17:50] #7090 closed

[2021-10-01 06:56] mrossinek opened #7093 "VQE property setter method updates"
### What is the expected enhancement?

I noticed during the development of this PR (https://github.com/Qiskit/qiskit-nature/pull/380) that the VQE algorithm does not expose all of its attributes via property setters. In particular the following initializer arguments do not have property setters:
- `include_custom`
- `max_evals_grouped`
- `callback`
- `sort_parameters_by_name`

Furthermore, the rev

[2021-10-01 11:14] georgios-ts commented on #7089
There are two hidden bugs here:

1. Clbit is unusable since `circuit.clbits` are cleared even if the classical register was not removed (see https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/quantumcircuit.py#L2228).
2. Classical bits are not being removed because `RemoveFinalMeasurements` tracks only the clbits that had a measurement attached to them but fails to realize that even t

[2021-10-01 17:58] TheGupta2012 commented on #7083
Can I have a go at this?

[2021-10-01 21:02] kdk commented on #7083
Sure thing @TheGupta2012 ! Feel free to reach out if you have any questions.

[2021-10-02 13:16] epelaaez commented on #2307
Hi @1ucian0, if this still needs to be done, I'd be happy to do it

[2021-10-02 13:19] epelaaez commented on #5839
Hi @chriseclectic, is the consensus that the feature to compute permutations of the statevector should be added? If so, I'd like to work on it if possible.

[2021-10-02 15:10] tnemoz commented on #7093
Hi! Is it possible to work on this one? :)

[2021-10-03 07:42] 1ucian0 commented on #4159
Reopen this issue if you new diagonalize M2 issues.

[2021-10-03 07:52] 1ucian0 commented on #4314
What are the current aliases?

[2021-10-03 07:58] 1ucian0 commented on #5692
Does this PR close https://github.com/Qiskit/qiskit-terra/issues/761 ?

[2021-10-03 08:28] 1ucian0 commented on #4729
Should the new entry replace the previous equivalent entry?

[2021-10-03 08:41] 1ucian0 commented on #4032
I tried to reproduce this as:
[code]
[code]

The result is the expected with current main. Therefore, closing as fixed.

[2021-10-03 08:41] #4032 closed

[2021-10-03 08:58] 1ucian0 commented on #4891
The `pi_check` call happens when drawing, not when executing. This is controlled by `pi_check(..., ndigits=...)`. It seems to me that a bit overkill to add yet another draw parameter to control `ndigits`. But feel free to open a new issue if you would like to discuss it.

[2021-10-03 08:58] #4891 closed

[2021-10-03 15:54] 1ucian0 commented on #2307
assgined @epelaaez !

[2021-10-03 16:03] 1ucian0 commented on #4916
is there any pending PR on this issue?

[2021-10-03 16:06] 1ucian0 commented on #4956
Do you mind adding some code on the current behaviour and your expected output?

[2021-10-03 16:17] 1ucian0 commented on #4158
ping @sclang16  @sportwagon ?

[2021-10-03 16:18] 1ucian0 commented on #5214
closing this one as stalled.

[2021-10-03 16:18] #5214 closed

[2021-10-03 16:19] 1ucian0 commented on #7041
ping @rabeehic ?

[2021-10-03 17:32] epelaaez commented on #2307
Just before starting with this, I noticed that in `qiskit-terra/test/ipynb/mpl/graph/test_graph_matplotlib_drawer.py` there are tests for `plot_histogram` which is in `counts_visualization.py`. The only other functions on `counts_visualization.py` are `_plot_histogram_data` and `hamming_distance`, but I guess these are indirectly tested when testing `plot_histogram`.

If I understand correctly, wh

[2021-10-03 17:37] sclang16 commented on #4158
Yes, this looks to be a good solution.

[2021-10-03 19:02] 1ucian0 commented on #2307
you are right! the coverage from the original issue is outdated, the current coverage percentage is 71%. There are some branches to cover yet, if you are up to it. Otherwise, I think the issue can be closed.

https://coveralls.io/builds/43213044/source?filename=qiskit%2Fvisualization%2Fcounts_visualization.py

[2021-10-03 19:12] 1ucian0 commented on #4158
Changing to `feature request` and renaming it. Thanks!

[2021-10-03 19:36] epelaaez commented on #2307
Sure, I'll be happy to work on this. But it'd be great if I can get some pointers about the specific things that need coverage. I looked at the link you provided, but I'm not completely sure how to interpret it. Do the lines highlighted in red mean that those are not called on any tests?

Also, new tests would go into `test_graph_matplotlib_drawer.py`, right?

[2021-10-03 21:08] 1ucian0 commented on #2307
Yes, the lines in red means that the tests do no longer execute them. Search for the condition branches and parameterize the call parameters for those branches.

Also yes. Add the test to the same file. Thank you!

[2021-10-04 00:17] epelaaez commented on #2307
I added a simple test so I could make sure everything worked the way I think it does. However, it doesn't go as expected. Even though I pushed the change into my fork of the repo, my new test and other tests are not running in the binder. To make sure this was not only happening on my side, I went ahead and ran the binder for the orignal repo. However, some tests are also not running there.

In `t

[2021-10-04 10:06] jakelishman commented on #7093
@tnemoz, sure go ahead - I'll assign it to you so others know.

[2021-10-04 10:27] jakelishman commented on #4314
Currently defined in `quantumcircuit.py`:

- `id` -> `i`
- `cnot` -> `cx`
- `toffoli` -> `ccx`
- `fredkin` -> `cswap`
- `mct` -> `mcx`

I didn't look at extensions, or anything like that.

[2021-10-04 10:31] jakelishman commented on #4729
The entries are lists, so `add_equivalence` just appends to the list of known equivalences, and `set_entry` replaces the list of equivalences for that key.

[2021-10-04 10:31] javabster commented on #2307
Hi @epelaaez it's hard to guess what the issue is you're facing without seeing how you've written your test or how you've been trying to run them, could you share a code snippet of what you've done? Or even better open a draft PR and link it to this issue so we can see the code changes you're making. When I run binder for main in my fork I can see all 19 test results 😄

[2021-10-04 10:32] jakelishman commented on #4916
@1ucian0: #7095

[2021-10-04 11:19] epelaaez commented on #2307
Hi @javabster, thanks for the comment! I've opened #7096 that contains the small sample test I did.

When I go into https://mybinder.org/v2/gh/epelaaez/qiskit-terra/patch-1?urlpath=apps/test/ipynb/mpl_tester.ipynb, I only see 14 tests instead of the 20 in that file. The same happens when I go into https://mybinder.org/v2/gh/qiskit/qiskit-terra/main?urlpath=apps/test/ipynb/mpl_tester.ipynb. Maybe I

[2021-10-04 11:58] 1ucian0 commented on #6734
with `tweedledum-1.1.1`, this seems fixed. Please, reopen otherwise.

[2021-10-04 12:10] jakelishman opened #7097 "`FutureWarning` issued by `scikit-learn` in `opflow`"
### Information

- **Qiskit Terra version**: 0.18+
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

With the new(ish) `scikit-learn` version 1.0, there is a `FutureWarning` issued when using the `normalize` parameter of `LinearModel`, which `opflow` does when calculating gradients. This doesn't fail our tests (though perhaps it should), because `FutureWarni

[2021-10-04 12:19] 1ucian0 commented on #4623
It seems to me that an arbitrary matrix should be synthesised to create a QASM definition.

[2021-10-04 12:48] Cryoris commented on #7057
I think that's still a valid use-case. To clarify, we would distinguish into the following:
* assign: keep the original parameter and the value it currently holds
[code]
    and `qc.parameters` still returns `{theta}`. I can also go ahead and change it to something else `qc(theta: 1) -> qc(theta: - 1)`
* bind: overwrite the parameter value
[code]
    and `qc.parameters` returns the empty set.

Sin

[2021-10-04 12:51] Cryoris commented on #7080
This is included in #6975.

[2021-10-04 12:55] 1ucian0 commented on #5247
Is this still a thing?

[2021-10-04 13:01] 1ucian0 commented on #5376
I just tested this with current main on MacOS 11.6 with Python 3.8.2 and the `Job successfully run` line shows only once. Assuming this was fixed by #5383 and closing.

[2021-10-04 14:11] mtreinish commented on #5247
No, that regression was as part of 1q transpiler optimization performance improvements in 0.17.0: https://qiskit.github.io/qiskit/#random_circuit_hex.BenchRandomCircuitHex.time_ibmq_backend_transpile?commits=20c5e152 and then a worse regression was introduced by https://github.com/Qiskit/qiskit-terra/commit/b32a5317

[2021-10-04 14:11] #5247 closed

[2021-10-04 14:25] nonhermitian opened #7098 "Cannot use Aer qasm sim with Sabre"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-10-04 16:09] mtreinish commented on #5376
@1ucian0 fwiw it's debatable whether this is actually fixed or not. #5383 changed the default to not run in parallel on macOS with python >= 3.8. So it works for you locally because it's not trying to run in parallel at all. You should be able to reproduce it (for certain types of installs of python, homebrew vs conda vs upstream, but not all) by setting the `QISKIT_PARALLEL=TRUE` env variable to

[2021-10-04 16:29] mtreinish commented on #5376
I'm actually fine with closing this, I was just commenting it's not as simple as being "fixed" by #5383. There's not much we can actually do here besides potentially improving the documentation. It's a limitation with macOS on python >=3.8 (and windows on all python versions) where it uses spawn for multiprocessing which has additional concerns around it's use (vs fork which was used on python < 3

[2021-10-04 22:01] kdk commented on #7098
That `coupling_map is None` implies all-to-all connectivity is codified in `CheckMap` https://github.com/Qiskit/qiskit-terra/blob/a8a0d1be26b5df097e7a21016fa21550a3c4efce/qiskit/transpiler/passes/utils/check_map.py#L46 , which functionally means that routing passes wouldn't need to know how to handle `coupling_map is None` in their `run()` method, since `CheckMap` would reliably skip running a rou

[2021-10-05 12:38] TheGupta2012 commented on #7083
So from what I saw understand, here:
https://github.com/Qiskit/qiskit-terra/blob/f59a1fd4bca6c92683d9487c94db10e6c730ebfd/qiskit/circuit/instruction.py#L217
if a kwarg `index` would have been introduced, then the `validate_parameter` that the user overrides would handle the cases that you had mentioned correctly. Something like :
[code]

But then again, won't this have to be handled majorly on the

[2021-10-05 14:42] Cryoris commented on #7092
Yes that's an interesting information, however it's not quite straightforward to resolve because
1. the learning rate is calibrated based on the function and initial point. That means it's particular to an individual minimization, but the (QN)SPSA objects can be re-used for different optimizations -- therefore we can't really store the calibrated learning rate as it'll interfere with the following

[2021-10-05 14:57] kdk opened #7101 "Library of commutation relations over standard gates"
### What is the expected enhancement?

From @jakelishman 's comment in https://github.com/Qiskit/qiskit-terra/pull/6982#issue-988161173 :

[2021-10-05 15:23] jakelishman commented on #7101
To add to this: sensibly, the "lookup table" is probably something like a dictionary of `(gate_type_1, gate_type_2) -> callable`, where the callables take the actual gate instances and the qubits they operate on.  Then they can return `True`, `False`, or `None` depending on whether they know they _definitely_ commute, definitely _don't_ commute, or they're not sure, by fast methods, such as inspec

[2021-10-05 15:25] ajavadia commented on #7089
the version i was using had that commit in it.

[2021-10-05 15:46] ewinston opened #7103 "scaling analysis of qiskit for circuit size"
### What is the expected enhancement?
As the performance of the hardware continually improves there is greater interest in ensuring qiskit can build and transpile circuits for those larger targets. This involves both ensuring the transpilation time doesn't take too long and the system memory usage isn't too large.

This issue is to track some of the work being done to look at how qiskit scales wit

[2021-10-05 16:04] ewinston commented on #7103
As an example from a WIP the performance of building and transpiling a quantum volume circuit and transpiling it at various optimization levels assuming square connectivity.

[test_circuit_scaling.TestProfileRandomCircuits.test_profile_qv_compile_square_opt_all.pdf](https://github.com/Qiskit/qiskit-terra/files/7287312/test_circuit_scaling.TestProfileRandomCircuits.test_profile_qv_compile_square_op

[2021-10-05 17:56] ajavadia commented on #7089
Thanks @georgios-ts. Yes I think the fact that classical bits are removed but register stays is a problem, probably introduced here: https://github.com/Qiskit/qiskit-terra/pull/5808

And apparently you discovered that the pass version of this removes the register but leaves classical bits.

The idea with register-less circuits was that eventually the circuit would be defined solely with its classi

[2021-10-06 07:49] Cryoris commented on #7092
Do you want to store it to use it later in the code or just to read out the values?

[2021-10-06 11:46] TigrisCallidus opened #7106 "Got efficiency bug in synthesis, when running a quantum circuit with a complex numerical initialization"
### Information

- **Qiskit Terra version**: 0.18.3 (Run a pip install qiskit --update just today)
- **Python version**:  3.8.5
- **Operating system**: Windows 10

### What is the current behavior?

I get a warning telling me to open an issue:

"
C:\Users\USERNAME\anaconda3\lib\site-packages\qiskit\transpiler\runningpassmanager.py:166: UserWarning: Resynthesized

<qiskit.circuit.library.standard_g

[2021-10-06 15:00] kdk opened #7107 "Support binding/assigning parameters by name"
### What is the expected enhancement?

From @Cryoris 's comment in https://github.com/Qiskit/qiskit-terra/issues/5557#issuecomment-757520462 :

We should consider adding support for binding and assigning parameters via their string name. This was originally omitted for concerns over overlapping parameter names between different circuits. However, by the stage of `bind_`/`assign_`, the `Parameter`

[2021-10-06 17:19] clausia commented on #7101
I'm interested in doing this enhancement

[2021-10-06 22:02] #7027 closed

[2021-10-07 02:59] levbishop commented on #7097
See also #6904 where I suggest erroring on all (unexpected) warnings.

[2021-10-07 04:06] ajavadia opened #7108 "error from unitary plugin interface"
the following fails
[code]

but it works on commits prior to #6124

The error is:
[code]

[2021-10-07 09:16] eliarbel commented on #7103
Another aspect to look for is the construction time of the circuits. Working on randomized benchmarking experiments for qiskit-experiments we've encountered performance issues related to `QuantumCircuit`, e.g. with the `append` method calling `to_instruction` on the spot. Another big time consumer was deep-copying many objects during circuit constrution. This issue might be relevant and offer some

[2021-10-07 13:31] #7108 closed, assigned to nobody

[2021-10-07 14:00] Cryoris commented on #7092
Ok, then I'll add the logger for now 👍🏻

[2021-10-08 10:18] jakelishman commented on #7092
My apologies - I hadn't noticed that we were waiting for feedback.  Please comment here or open a new issue if #7109 didn't fully satisfy what you wanted.

[2021-10-08 19:45] des137 commented on #7092
The changes look great. I did reach out to Julien. Thank you, @jakelishman.

[2021-10-08 20:17] mtreinish opened #7112 "Rework preset pass mangers levels"
### What is the expected enhancement?

Right now we have 4 optimization levels 0-3 that right now are split like:

**Optimization Level 0:**
No optimization passes run, just trivial layout -> stochastic swap -> basis translator

**Optimization Level 1:**
Trivial Layout/Dense layout -> stochastic swap -> basis translator -> optimization loop (optimize 1q gates and cx cancellation)

**Optimization L

[2021-10-08 20:27] epelaaez commented on #7052
If possible, I'd like to work on this :). I wasn't able to find the format valid identifiers should follow in the documentation page for QASM, could you direct me to where this information is located?

[2021-10-08 20:36] mtreinish opened #7113 "Add support for BackendV2 and Target to transpiler"
### What is the expected enhancement?

With the BackendV2/Target interface being added in #5885 we have more data available to the transpiler to inform the passes on the characteristics and constraints of a backend. However as of right now none of the passes in the transpiler know how to take advantage of this extra information. We need to update the `transpile()`/`PassManagerConfig`/preset pass m

[2021-10-08 22:42] jakelishman commented on #7052
Sure, I'll assign you.  OpenQASM 2 identifiers must follow the regex `[a-z][a-zA-Z_0-9]*` (i.e. a lowercase letter followed by zero or more letters, underscores or digits).  The identifier in the example doesn't match because it's got literal square brackets `[` and `]`, and commas `,` in it.  The paper describing OpenQASM 2 in full is here on arXiv: https://arxiv.org/abs/1707.03429.

[2021-10-11 00:00] ianarawjo opened #7114 "Trying to control a custom gate calls unroll and raises an error"
### Information

- **Qiskit Terra version**:  0.18.3
- **Python version**: 3.8.8
- **Operating system**: Mac OS Big Sur 11.3.1

### What is the current behavior?
Using .control(2) method on a custom Gate() produces an error.

Error output:

### Steps to reproduce the problem
Code:
[code]

### What is the expected behavior?
I expected that qiskit would allow the to-be-defined gate A to be added to

[2021-10-11 09:11] jakelishman opened #7118 "Sympy 1.9 deprecates `expr_free_symbol`, used in `ParameterExpression`"
### Information

- **Qiskit Terra version**: any
- **Python version**:
- **Operating system**:

### What is the current behavior?

Sympy 1.9 has begun issuing deprecation warnings when accessing `expr_free_symbols`, which we do during visualisation.  This breaks CI, and will be removed in a future version.

### Steps to reproduce the problem

Run CI.

### What is the expected behavior?

No depreca

[2021-10-11 09:59] peendebak opened #7119 "Improve qasm parsing times"
### What is the expected enhancement?

Parsing qasm is quite slow at the moment. Profiling shows that a large part of the time is used in constructing the lexer/parser. When processing a list of qasm files this is inefficient.

Can the `qiskit.qasm.qasm.Qasm` object be refactored so that the parser becomes an element of the base class so it can be re-used?

[2021-10-11 12:58] matteoacrossi opened #7120 "QiskitError: 'TwoQubitWeylDecomposition: failed to diagonalize M2' for matrix that passes is_unitary_matrix"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.8.10
- **Operating system**: IBM Quantum Lab

### What is the current behavior?

When transpiling a certain two-qubit unitary `U`, for which `is_unitary_matrix(U)` returns `True` the following error is given:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Either an error is thrown

[2021-10-11 18:21] ajavadia commented on #6943
yes i think it is related.

I'm ok disabling the `RemoveResetInZeroState` pass from preset passmanagers. It doesn't do much in the way of circuit optimization anyway, and may be surprising to users. (But I do think it is a valid compiler thing to do, and barriers are the correct way for users to  prevent the compiler from doing that.)

Longer term I think the correct thing to do is to alter the as

[2021-10-12 10:37] patuanbosar12 opened #7121 "please help"
### Information

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.9.6
- **Operating system**: windows 10

### What is the current behavior?
C:\Users\DELL\anaconda3\envs\ibmq_qiskit\lib\site-packages\qiskit\transpiler\runningpassmanager.py:166: UserWarning: Resynthesized [<qiskit.dagcircuit.dagnode.DAGNode object at 0x0000016CCE0205E0>] and got global phase: 7π/4
      ┌────────┐┌────┐┌──

[2021-10-13 11:38] mtreinish opened #7127 "Routing error with Attribute error if coupling_map is None"
### Information

- **Qiskit Terra version**: main
- **Python version**:
- **Operating system**:

### What is the current behavior?

All the routing passes `StochasticSwap`, `SabreSwap` (after #7111 ), `LookaheadSwap`, and `BasicSwap` all enable you to initialize the pass with `coupling_map=None` but when you call run() on the pass they all fail with the same attribute error:

[code]

This doesn't

[2021-10-13 12:00] mcbennet commented on #7127
Hi,

I would like to attempt to resolve this issue.

Best,

[2021-10-13 13:12] nonhermitian opened #7128 "Fake backends do not obey basis_gates"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

[code]

works just fine but `h` is not in the basis set.

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

The fake backends work like a real and error if the circuit is not composed of gates only in the basis set.

### Suggested solutions

[2021-10-13 17:10] yonizim opened #7129 "QuantumInstance.execute returns the calibration circuits results"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.8.6
- **Operating system**: MacOSX 10.15.7

### What is the current behavior?

When QuantumInstance class uses measurement error mitigation, the `execute` command returns the results of the calibration circuits in addition to the requested circuits. This causes an error in the CircuitSample.sample_circuits command and as a

[2021-10-13 17:59] jakelishman commented on #7127
@mcbennet: in case you didn't see, the issue was assigned to you (I don't think you get notified).

[2021-10-14 06:39] ewinston opened #7132 "improve scaling of append method of QuantumCircuit for wide circuits"
Creating a circuit of fixed depth and variable width scales superlinearly with increasing width. This seems to be due to the issubset method of python sets. Other circuit methods which use append are likely also affected such as `inverse`, `reverse_ops`, `combine`, and `extend`.

![image](https://user-images.githubusercontent.com/25756217/137263422-21ffe911-1770-42da-a25c-91f1f96e1665.png)

Lookin

[2021-10-14 07:05] ewinston opened #7133 "circuit initialization scales quadratically in number of registers"
Creating a QuantumCircuit with many registers scales quadratically in the number of registers.

In this trial, n single qubit registers are used to initialize a QuantumCircuit.

![image](https://user-images.githubusercontent.com/25756217/137267760-b6a79de8-a891-466e-b43f-4cf702d2f8f6.png)

This may be less important of an issue if registers are dropped from circuits in the future.

### What is the

[2021-10-14 07:37] yonizim opened #7135 "Negative variance with CVAR expectation"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.8.6
- **Operating system**: MacOSX 10.15.7

### What is the current behavior?
When using CVAR expectation within a VQE algorithm, there is a slight chance to get a negative variance which causing numpy RunTimeWarning. Therefore the estimator error isn't saved to the intermediate results.

The bug is due to floating point e

[2021-10-14 12:51] 1ucian0 opened #7136 "Some internal polishing is needed in the QASM3 exporter"
This is a https://github.com/Qiskit/qiskit-terra/pull/6565 follow up

This particular issue tracks:
- [ ] The `GlobalNamespace._data` is horrendous and needs to be split. More [here](https://github.com/Qiskit/qiskit-terra/pull/6565#discussion_r669145097).
- [ ] Merge `GlobalNamespace` and `Exporter`.
- [ ] Better Namespace validation and renaming, see [here](https://github.com/Qiskit/qiskit-terra/

[2021-10-14 12:56] 1ucian0 opened #7137 "QASM3 exporter needs module level documentation"
This is a #6565 follow up

The QASM3 exporter module needs documentation with expected output and examples.

[2021-10-14 16:24] #7118 closed, assigned to 1ucian0

[2021-10-14 19:05] mtreinish commented on #5895
So I took a quick look at this before (back in April) and forgot to comment here with my findings. So the issue here is primarily around how `Instruction` objects are used, it's because each instruction in a circuit is it's own instance we end up keeping a lot of  objects in memory even if they're all identical.

Running with a recent-ish main branch and using guppy3 to dump the heap contents you

[2021-10-15 07:00] mrossinek opened #7142 "API Regression: VQE `aux_op_eigenvalues` return type"
### Information

- **Qiskit Terra version**: `main`
- **Python version**: 3.9.7
- **Operating system**: Linux

### What is the current behavior?

#6870 changed the returned type of `aux_op_eigenvalues` in the `VQE` such that it mismatches that of the `NumPyEigensolver`.

### Steps to reproduce the problem

See any of the `VQE`-based unittests in the Qiskit Nature CI: https://github.com/Qiskit/qisk

[2021-10-15 07:29] dlasecki opened #7143 "Decouple evolution gradient and metric tensor calculation in VarQte."
Evolution gradient and metric tensor are always calculated in the prototype, even though they are only used for evaluating error-based calculation.

[2021-10-16 23:55] kevinhartman commented on #6934
After some investigation, it looks like `label` is actually not ignored, though I imagine this is a bug.

When multiple target qubits are used, the name of the `QuantumCircuit` created for broadcast is set to the value of `label`. When `control()` is called on the resulting gate, that name is actually eventually used in some special-casing in `add_control.py::control`.

[code]

I was able to get d

[2021-10-17 18:23] epelaaez commented on #7052
Hi @jakelishman, I came up with the following code to check the name of an instruction and correct it if it doesn't match what QASM requires.

[code]
For this to work `re` needs to be imported. So, I was wondering if that's all right? Also, `qasm_pattern` is defined as `qasm_pattern = re.compile("[a-z][a-zA-Z_0-9]*")`.

Now, right now I'm placing this piece of code at line 1608, so it runs for eve

[2021-10-17 18:43] epelaaez opened #7147 "Optimizing state initialization procedure"
### What is the expected enhancement?

Currenty, the `Initialize` class calls its method `_define_synthesis` when the desired state is not given by a label or integer. This method then applies the initialization method outlined in [arXiv:quant-ph/0406176](https://arxiv.org/abs/quant-ph/0406176v5), with some additional optimizations.

However, [arXiv:1003.5760](https://arxiv.org/abs/1003.5760) intr

[2021-10-17 23:17] jond01 opened #7148 "Quantum circuits with a C3SX gate fail to convert back from qasm"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.8.5
- **Operating system**: macOS-10.16-x86_64-i386-64bit

### What is the current behavior?

A circuit that contains a C3SX gate can be translated to qasm, but the generated qasm cannot be translated back to a quantum circuit.
The error stems from a mismatch in the name of this gate between qelib1.inc ("c3sqrtx"):
https:/

[2021-10-18 04:56] HuangJunye opened #7149 "Qobj header from a job doesn't return the info passed to `execute` function"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.8.10
- **Operating system**: Linux (IBM Quantum Lab)

### What is the current behavior?

Qobj header from a job submitted to cloud simulator / local Aer simulator / real quantum system doesn't return the same info passed to `qobj_header` argument in the `execute` function, even though [the documentation](https://qiskit.org

[2021-10-18 11:35] taalexander opened #7151 "Openqasm3 exporter is producing invalid code for condition tests"
### Information

- **Qiskit Terra version**: Main
- **Python version**: N/A
- **Operating system**: N/A

### What is the current behavior?
The OpenQASM3 exporter is comparing bit arrays to integers. This is an implicit type casting to an unsigned integer.

### Steps to reproduce the problem

[code]

Produces
[code]
### What is the expected behavior?
It should compare bit arrays to bit strings.

[c

[2021-10-18 13:40] taalexander commented on #7151
Thank you Jake, I've updated the example. Currently the backend is handling the QASM3 as it is now appropriately.

[2021-10-18 13:47] jakelishman commented on #7151
Perfect, thanks - I think I've got your fix in #7153, if you're fine to handle casts?

[2021-10-18 14:19] 1ucian0 opened #7155 "CSP ignores 3-or-more-qubit gates"
### Information

- **Qiskit Terra version**: main

### What is the current behavior?

Take the following circuit:

[code]
[code]

`CSPLayout` should not be able to find a solution with a layout `0- > 1 -> 2`. However:
[code]
[code]

### Suggested solutions

There are two options. If `CSPLayout` encounters a 3-or-more-qubit gate, either assumes that this needs complete connection among the involved

[2021-10-18 14:27] 1ucian0 opened #7156 "Unroll3qOrMore should run before the layout allocation stage in the preset passmanagers (0, 1, and 2)"
### Information

- **Qiskit Terra version**: 0.19.0.dev0+e2daae3

### Current state of the preset passmanagers

This is the current sequence of passes for the current preset passmanagers:
[code]
[code]
[code]
[code]

With the level 3 exception, in most of the preset passmanagers the pass `Unroll3qOrMore` runs after the layout allocation stage.

### The problem

Most of the passes related with layo

[2021-10-18 17:26] manoelmarques opened #7160 "Possible error on Gradient method `fin_diff`"
### Information

- **Qiskit Terra version**: 0.18.0 to 0.18.3 and main branch
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?
Since the Gradient framework plot on the tutorial below has just one point, it shows empty:

https://qiskit.org/documentation/tutorials/algorithms/02_vqe_convergence.html

### Steps to reproduce the problem
Run the tutorial: https:

[2021-10-19 03:00] HuangJunye commented on #7149
@mtreinish Thanks for the reply! That's really helpful. We will use the circuit metadata.

[2021-10-19 03:00] #7149 closed

[2021-10-19 18:28] #7129 closed, assigned to nobody

[2021-10-19 21:40] epelofske-LANL opened #7164 "XY gate"
### What is the expected enhancement?
It would be useful if the `XY` gate could be added to the existing circuit library https://qiskit.org/documentation/apidoc/circuit_library.html

The use case is for a basis gate for the qiskit transpiler.

[2021-10-20 08:11] TheGupta2012 opened #7165 "Adding `__repr__` method for the `DAGNode` object"
### Current Behaviour
There does not exist any representation method for the `qiskit.dagcircuit.dagnode.DAGNode` object as of yet

### What is the expected behavior?
Just like a `Qubit` object, a `DAGNode` should be more informative and allow a user to get a basic idea about the information it contains.

### Suggested changes
A `__repr__` method for the `DAGNode` which displays basic attribute inf

[2021-10-20 14:22] burgholzer opened #7166 "Truncating floats in QASM dump alters circuit's functionality"
### Information

- **Qiskit Terra version**: 0.18.3 (dates back to 0.14)
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?
In #4276, the `pi_check` function was introduced for pretty printing the list of parameters when dumping a `QuantumCircuit` to `qasm`, see
https://github.com/Qiskit/qiskit-terra/blob/637acc0c408d8199dd58780cc3dafabc14e61a0f/qiskit/circuit

[2021-10-20 15:28] burgholzer opened #7167 "Problems with global phase"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

If the `Optimize1qGatesDecomposition` optimization pass is applied to the sequence
[code]
a global phase is introduced in the circuit. The old `Optimize1qGates` optimization pass does not introduce such a global phase. Is this intended? If not, then the foll

[2021-10-20 17:08] burgholzer commented on #7167
I would just use this "workaround" for exporting circuits from Qiskit to potentially use them in other tools.
Of course you are right, that a truly global phase is completely unobservable when running on the actual machine.
Maybe something like an additional parameter `include_global_phase` that defaults to `False` would do the trick.

Our use case is the following: We want to verify the results o

[2021-10-20 23:35] levbishop commented on #7166
I tend to agree that having lossless-as-possible mode for qasm export is a useful enhancement. Both for the reason of interfacing with external tools, and also for debug purposes.

[2021-10-21 09:06] burgholzer commented on #7167
@jakelishman providing a transpiler pass for this sounds like a good compromise to me. Then users can just apply it on top of the whole transpilation process whenever they need it.

For `['u', 'cx']` you are right. that's just the `p -- x -- p -- x` sequence from above. I would guess that it is not possible for an arbitrary basis to obtain such a sequence. At the very least you need some sort of r

[2021-10-21 09:37] jakelishman commented on #7166
I'm on board with adding more precision to QASM 2 output, I'm just not certain the best way to go about it here.  We can't (officially) add anything to the signature of `Instruction.qasm`, because that's a public interface that we expect people to inherit from, so starting to pass it extra keywords would break compatibility.

A couple of ways we _could_ go:
- break compatibility anyway, and just w

[2021-10-21 09:57] burgholzer commented on #7166
The second option certainly provides the most flexibility. `QuantumCircuit.qasm` could then just accept `ndigits` *and* `eps` keywords. Although, I am not so sure whether this flexibility is really needed.
One possibility could be to add a `numeric` flag/keyword to the `QuantumCircuit.qasm` function that just skips the `pi_check` call all together and just emits an as precise as possible floating

[2021-10-21 10:35] burgholzer commented on #7166
I get that. But then I would suggest the easiest workaround/fix that does not need any kind of deprecation would just be to change the magic `ndigits` constant in the `Instruction.qasm()` from *8* to *17*.
In addition to that it might make sense to explicitly specify a smaller `eps` (something in the range of *1e-12* to *1e-14*), in order to lessen the impact of the approximation to fractions of p

[2021-10-21 12:05] Cryoris commented on #7164
Hi @epelofske-LANL, just to clarify: do you mean `XY` as in Pauli-X on qubit 1 and Pauli-Y on qubit 2 or the `XY` rotation gate as in `exp(it XY)`?

[2021-10-21 16:23] #7142 closed, assigned to mrossinek

[2021-10-21 22:30] kevinhartman commented on #7089
While working on this, I noticed that the current behavior of the `RemoveFinalMeasurements` pass doesn't match its doc string. Specifically,

Currently, a measurement or barrier is only removed if it immediately precedes a qubit's output node in the DAG. Only the final measurement or barrier will be removed in a chain of successive measure and barrier calls.

[code]

What's the correct behavior he

[2021-10-22 18:58] jyu00 opened #7170 "QASM3 exporter doesn't put quotes around included files"
### Information

- **Qiskit Terra version**: Main
- **Python version**:
- **Operating system**:

### What is the current behavior?

The QASM3 Exporter output string does not have quotes around included files.

### Steps to reproduce the problem

[code]

Produces

[code]

### What is the expected behavior?

The output should have had `include "stdgates.inc";`

### Suggested solutions

[2021-10-22 19:32] #7170 closed, assigned to nobody

[2021-10-24 20:28] epelaaez opened #7172 "QASM instruction not parameterized for two-qubit Pauli rotation gates"
### Information

- **Qiskit Terra version**: 0.19.0.dev0+0ee0824
- **Python version**: 3.9.6
- **Operating system**: Windows 11

### What is the current behavior?

The following snippet
[code]
Produces
[code]
As you can see, instead of creating a single `rzx` instruction that uses `param0`, it creates a single `rzx` for each value present in the circuit.

### Steps to reproduce the problem
This ha

[2021-10-25 13:57] EliasCombarro opened #7176 "Addition takes precedence over tensor product"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.7
- **Operating system**: MacOS Catalina

### What is the current behavior?

Not sure this is intended, but when working with Paulis and operators, addition seems to take precedence over tensor product

### Steps to reproduce the problem

from qiskit.opflow import I, X
op = I^X + X^I
print(op)

This outputs:

2.0 * IXI

##

[2021-10-25 16:54] ewinston opened #7177 "ConsolidateBlocks scales superlinearly"
### What is the expected enhancement?
The transpiler pass ConsolidateBlocks scales superlinearly in the number of circuit operations. Using a random circuit where depth = n_qubits the scaling behaves like n_qubits^3.3. This seems to be largely due to a list comprehension which checks whether predecessors exist in the block.

![image](https://user-images.githubusercontent.com/25756217/138737672-16d

[2021-10-25 17:13] ewinston opened #7178 "CalibrationBuilder scales superlinearly"
### What is the expected enhancement?
For a random circuit of equal width and depth the CalibrationBuilder pass scales like n_qubits^3 whereas one might expect scaling like n_qubits^2 if it was proportional to the number of gates. This slow down seems to be in retrieving the qubits associated with a dag node.

This test was run without actual calibrations so only part of the pass code is actually

[2021-10-25 21:48] kdk opened #7180 "Default UnitarySynthesis method fails as a fallback when plugin.supports_basis_gates = False"
### Information

- **Qiskit Terra version**: #6727 @ f897673b5d
- **Python version**: 3.6
- **Operating system**: osx 10.15

### What is the current behavior?

When attempting to use a `UnitarySynthesis` plugin (e.g. `AQCSynthesisPlugin` from #6727) which defines `supports_basis_gates = False`, the `UnitarySynthesis` pass will fail with:
[code]

### Steps to reproduce the problem

[code]

### What

[2021-10-26 02:41] ewinston opened #7181 "Optimize1qGatesSimpleCommutation scales superlinearly"
### What is the expected enhancement?
The transpiler pass Optimize1qGatesSimpleCommutation scales as the ~4th power in the number of qubits for a random circuit of equal width and depth.

![image](https://user-images.githubusercontent.com/25756217/138799195-e193b8cf-94a9-414e-9c33-074e71d1a717.png)

![image](https://user-images.githubusercontent.com/25756217/138895039-2019e6db-ee84-49a2-b9a6-a72b0

[2021-10-26 09:08] toural opened #7182 "Confusing error decomposing an instruction out of the basis in its definition"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.7
- **Operating system**: MacOS Catalina

### What is the current behavior?

Error decomposing node of instruction 'p'.

"Error decomposing node of instruction 'p': 'NoneType' object has no attribute 'global_phase'. Unable to define instruction 'u' in the given basis."

### Steps to reproduce the problem

Execute the follo

[2021-10-26 22:40] #7178 closed, assigned to jakelishman

[2021-10-29 14:23] ajavadia opened #7192 "enhancing circuit visualization with inlined pulse and circuit"
Often circuits are built out of wrapping smaller circuits into one instruction, or out of pulse gates.  Right now both of these are shown as a box with a label.  Displaying their content by inlining would be a nice option.

The pulse part only makes sense in the matplotlib drawer. The inlined circuit potentially in all drawers (just do a dotted line and label the box, as described in this issue: h

[2021-10-29 17:33] #7180 closed, assigned to jakelishman

[2021-10-29 22:55] #6863 closed

[2021-10-29 22:55] #7080 closed

[2021-10-30 09:18] EliasCombarro commented on #7176
Perfect, thanks!

[2021-10-31 00:16] sg495 opened #7197 "Wrong expression in UGate docs"
### Information

- **Qiskit Terra version**: 0.18.13
- **Python version**: All
- **Operating system**: All

### What is the current behavior?

The documentation for [`UGate`](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/library/standard_gates/u.py) states that:

[code]

### Steps to reproduce the problem

Problem is in the code documentation of [`UGate`](https://github.com/Qiski

[2021-10-31 14:58] SolidTux opened #7199 "PauliTrotterEvolution generates invalid gates"
When applying the `PauliTrotterEvolution` to `exp(i X^Z)`, the resulting circuit contains undefined gates.

[code]

results in

[code]

Is there a necessary step that I'm missing?

**Versions**

Python 3.9.7
qiskit 0.31.0

[2021-10-31 15:24] Cryoris commented on #7199
These are just circuit blocks that are not decomposed, they are not undefined 🙂 If you want to look at your circuit in a certain basis set you can just transpile it to that basis, e.g.
[code]
Note that for me it shows the RZX gate and for you something else since I'm running the dev version of Qiskit, but the transpilation should work the same for you.

[2021-10-31 15:34] SolidTux commented on #7199
I tried to call `decompose`, but it didn't change anything. And from the example, shouldn't those just be identities anyways?

Transpiling works, though, thank you!

[2021-10-31 20:17] #7199 closed

[2021-10-31 22:25] nonhermitian opened #7200 "UserWarning: routing_method is not a recognized runtime option when using execute"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**:
- **Operating system**:
- Provider 0.16.0

### What is the current behavior?

Calling

[code]
raises:

/Users/paul/mambaforge/envs/qiskit/lib/python3.9/site-packages/qiskit/execute_function.py:399: UserWarning: routing_method is not a recognized runtime option and may be ignored by the backend.

However, doing

[code]

gives

[2021-11-01 11:03] jakelishman commented on #7197
I agree that the first equation in the documentation looks clearly wrong - it doesn't reduce to the given matrix form.  However, your "simplified expression" is also not true; three Z rotations after each other cannot produce an X or a Y, and your right-hand side reduces to `RZ(\phi + \theta + \lambda)`.

The main issue looks like a mistake that was corrected for `U3Gate` in #4842.  `UGate` was ad

[2021-11-01 11:56] jakelishman commented on #7200
At the time the `transpile`/`execute` interface was made (#2166), `execute` was meant to understand _all_ of `transpile` and `assemble`'s kwargs, but over time it's lost a lot of them.

Kwargs in `transpile` but missing from `execute`:

- `approximation_degree`
- `callback`
- `dt`
- `instruction_durations`
- `layout_method`
- `output_name`
- `routing_method`
- `timing_constraints`
- `translation_m

[2021-11-01 16:04] nonhermitian commented on #7200
`execute` is kind of going out of favor, and is replaced by `transpile` and `backend.run()`, and probably the "sampler" runtime going forward.  However, the warning is confusing, and it is not clear whether or not the setting is actually applied to the transpilation.

[2021-11-01 16:10] jakelishman commented on #7200
Yeah, I'd be in favour of splitting things up to make it clearer as well.  At the moment, `routing_method` (nor any of the other parameters I mentioned) doesn't get passed through to `transpile` - if you want to use them, you have to manually call it.

[2021-11-01 16:42] mtreinish commented on #7200
Right, at a certain point we realized that bundling all the arguments for compilation and running into a single function didn't make sense and would result in an ridiculously long function signature and stopped adding explicit kwargs for every field in `transpile()` (and `assemble()` too, although this had more to do with making qobj explicitly about the ibm provider). `execute()` is useful as an

[2021-11-01 17:21] paulineollitrault opened #7206 "Documentation: how to create a quantum circuit from a unitary matrix"
### Add a 'how to' in the documentation about creating a quantum circuit from a unitary matrix.

[code]

[2021-11-01 23:27] #7177 closed

[2021-11-02 12:27] jakelishman opened #7209 "`C3SXGate` inconsistent with `SXGate`"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

The definition of `C3SXGate()` is currently equivalent to `SXdgGate.control(3)`, but its name and its base gate definition indicate it should be equivalent to `SXgate.control(3)`.

### Steps to reproduce the problem

[code]

### What is the expected behavior

[2021-11-02 13:16] adrianor opened #7210 "No module named qiskit after pip or pip3"
### Information

- **Qiskit Terra version**: None
- **Python version**: 3.8
- **Operating system**: `NAME="Linux Mint"
VERSION="20.2 (Uma)"
ID=linuxmint
ID_LIKE=ubuntu
PRETTY_NAME="Linux Mint 20.2"`

This is related to the issue 1751 of qiskit-terra. I obtain the same behaviour after installing qiskit either with `pip` or `pip3`.

It does not matter that before executing `jupyter notebook` I do `c

[2021-11-02 13:17] kdk commented on #5539
This is a great idea @georgios-ts ! The original "search over bases" approach stemmed I think from earlier designs where we were considering using template substitutions (and so may not necessarily have one-to-one transformation rules for every gate), so I agree a gate-wise BFS will be sufficient to cover the search over the equivalence library, and should be significantly faster (especially to fa

[2021-11-02 13:22] jakelishman commented on #7210
Looking at that error message, you're using Python 3.10.  Qiskit doesn't support Python 3.10 (because things we depend on like scipy don't support it yet), so you'll need to use Python 3.9.  After that, make sure that the environments are activated when you run `pip install` (as well as when you try and load things), and make sure that the `pip` command is exiting without errors.

[2021-11-02 13:31] adrianor commented on #7210
Well, it still doesn't work. It only workspip or pip3 which end:

`Installing collected packages: six, pyrsistent, pycparser, numpy, mpmath, attrs, urllib3, tweedledum, sympy, symengine, scipy, retworkx, pytz, python-dateutil, python-constraint, psutil, ply, jsonschema, idna, fastjsonschema, dill, charset-normalizer, cffi, threadpoolctl, requests, qiskit-terra, pandas, ntlm-auth, multitasking, mor

[2021-11-02 13:42] jakelishman commented on #7210
Please do make sure that you have activated the same virtual environment when you are calling `pip install` as when you are trying to run things. It's very difficult to say anything more here, because you deleted the bug report template instead of filling it in with your system information.

[2021-11-02 13:44] adrianor commented on #7210
Template restored.

[2021-11-02 14:03] adrianor commented on #7210
Ah I can see that it is installed

`qiskit                    0.31.0                   pypi_0    pypi`
`qiskit-aer                0.9.1                    pypi_0    pypi`
`qiskit-aqua               0.9.5                    pypi_0    pypi`
`qiskit-ibmq-provider      0.17.0                   pypi_0    pypi`
`qiskit-ignis              0.6.0                    pypi_0    pypi`
`qiskit-terra

[2021-11-02 15:44] hhorii opened #7214 "Qasm3 Exporter needs to export arrays of qubtis for concatenation in alias of OpenQASM3."
### What is the expected enhancement?

Currently Qasm3 Exporter generates `qubit[2] _q; let q = _q[0] || _q[1];` to generate an array of `qubit`s in OpenQASM 3.
https://github.com/Qiskit/qiskit-terra/blob/main/test/python/circuit/test_circuit_qasm3.py#L34-L35

However, I think that the spec allows concatenating of only two arrays.
https://qiskit.github.io/openqasm/language/types.html#register-conc

[2021-11-02 16:21] jakelishman commented on #7214
This isn't 100% decided one way or the other (see also Qiskit/openqasm#218) but right now I'm pretty sure that our internal compiler supports the form the exporter outputs.  I'm not sure if it actually supports concatenating arrays, but likely it does (@taalexander?).

[2021-11-02 19:31] MajorCarrot commented on #1237
Hi, the link seems to be dead again (on all platforms). Can this be fixed? Thanks!

[2021-11-02 20:13] lerongil commented on #1237
This is fixed. See this link: https://ibm.co/joinqiskitslack

[2021-11-02 20:28] taalexander commented on #7214
The internal compiler does not like the current form of exporter arrays very much. Rather, we always use the transpiled circuit which is laid out onto physical qubits. At this point, the exporter contains no reference to qubit arrays.

[2021-11-03 06:49] EliasCombarro opened #7223 "QAOA does not update the operator when calling construct_circuit"
### Information

- **Qiskit Optimization version**: The one on the IBM Quantum Experience
- **Python version**: The one on the IBM Quantum Experience
- **Operating system**: The one on the IBM Quantum Experience

### What is the current behavior?

If you call construct_circuit with two different operators, the second time the operator is not updated and the operator of the first call is used inste

[2021-11-03 12:11] dlasecki commented on #6733
Outdated by this PR:
https://github.com/Qiskit/qiskit-terra/pull/6975.

[2021-11-03 12:11] #6733 closed

[2021-11-03 12:19] dlasecki opened #7218 "Implement QDrift as a ProductFormula."
The goal of this issue is to implement a QDrift method of Trotterization as a product formula.
https://github.com/Qiskit/qiskit-terra/tree/main/qiskit/synthesis/evolution
The old QDrift implementation is available here:
https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/opflow/evolutions/trotterizations/qdrift.py

[2021-11-03 12:25] anedumla commented on #7218
comment so that I can get assigned

[2021-11-03 13:19] nonhermitian opened #7219 "Odd RZX decompositions"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**:
- **Operating system**:

### What is the current behavior?
I am trying to understand how to go to RZX gates and calibrations when targeting IBM Quantum systems.  However, I am already lost at the basis translation step.  Namely decomposing a CX gate gives the expected transformation:

[code]

[code]
but if I add a H gate the

[2021-11-03 13:53] georgios-ts commented on #7219
It seems like an inefficiency of `BasisTranslator` where the transformation path that it finds is: `CX -> ISWAP -> CX -> ECR -> RZX`. Good news are that I ran this example with #7211 branch and it seems fixed.

[2021-11-03 15:10] jakelishman commented on #7214
I can make the exporter turn this circuit:
[code]
into this OpenQASM 3:
[code]
Is that appropriate for everyone?  I haven't bothered to try and make the exporter cleverer about inserting steps (`alternate` in this example could be more efficiently written as `_q[0:2:8]`), but it's easy if people want it.

[2021-11-03 16:36] MajorCarrot commented on #1237
Thanks. It is working now!

[2021-11-03 17:38] jakelishman commented on #7210
Sorry for the delay.  It might be that `jupyter` is not installed in the current environment, but is somehow available on the path.  This might be causing your Jupyter notebook to receive a different environment to the `conda` one you have activated.  You could perhaps try `pip install jupyter` while the Qiskit environment is active.  (Normally, not having `jupyter` in the environment would cause

[2021-11-03 19:56] woodsp-ibm opened #7222 "Linear solvers API documentation is incomplete"
While the classes directly in `algorithms.linear_solvers` are documented there are two sub-packages i.e. `matrices` and `observables` and nothing in these come out in the API ref.

I imagine under linear solvers in the main algorithms documentation we should have links to these sub-packages and the init files in these packages list out the classes etc. Currently HHL API ref shows it takes a Linear

[2021-11-03 20:45] woodsp-ibm commented on #7223
It seems this comes about since QAOA extends VQE and while there is some additional check in there for QAOA the anstaz is not built out again if the number of qubits is the same when the operator changes. Eg. change your second call above to
[code]
and it works as expected.

[2021-11-03 22:27] wahaj commented on #7209
I have taken a look at it and it seems flipping the angles makes it work. I have tested the equivalence among these two comparing a circuit in which a C3SX gate was added with the SXGate with control, it passes the equivalence decomposition. What else is required for consistency?

[2021-11-04 04:56] t-imamichi commented on #7223
I see. We should compare the `cost_operator` in the following line. I will make a PR to fix it.
https://github.com/Qiskit/qiskit-terra/blob/0a4c666ca09e129768f83f7c95ee7168455d869d/qiskit/algorithms/minimum_eigen_solvers/qaoa.py#L130

[2021-11-04 05:09] epelofske-LANL opened #7224 "Efficiency bug in synthesis warning"
### Information

- **Qiskit Terra version**:  `qiskit-terra==0.18.3`
- **Python version**: 3.9
- **Operating system**: macOS

### What is the current behavior?
Across many different circuits I am getting this error when executing jobs.

[code]

### Steps to reproduce the problem
The warning does not provide much useful information on what exactly the bug is.

### What is the expected behavior?

##

[2021-11-04 11:12] yjt98765 commented on #7172
I have tried to export this program into OpenQASM3. The result is:
[code]
There is only one `rzx` definition. However, the parameter is not used in the body. Therefore, the program is not correct.

[2021-11-04 11:14] jakelishman commented on #7209
The test suite doesn't pass if all you do is flip the angles in the `C3SXGate` class, because the `C4XGate` class depends on it for its definition, and there's also a redefinition in the QASM 2 library file `qelib1.inc` (and a `c4x` in there too).  Everything needs to stay consistent if one gate changes.  There don't appear to be any defined equivalences in the equivalence library, so that part's