[2022-01-18 17:09] VaibhavSanjay commented on #7500
Hi @bopardikarsoham, I just wanted to ask about the progress you've made on this issue. I would like to try to solve it, but I wanted to check in with you first. @javabster

[2022-01-18 19:17] #7465 closed

[2022-01-18 19:36] kevinsung commented on #7470
The advantage would be that we would only have to implement and maintain the gate decomposition and exponentiation in one class instead of duplicating it between two classes.

[2022-01-18 19:48] bopardikarsoham commented on #7500
Hello @VaibhavSanjay, I'm still working on the issue and need some more time. However, if I am unable to solve the issue, @javabster will assign it to you.

[2022-01-19 08:31] epelofske-LANL opened #7537 "Duration of cx on qubits [x, x] is not found."
### Environment

- **Qiskit Terra version**: `qiskit-terra==0.19.1`
- **Python version**: `3.7.11`
- **Operating system**: macOS

### What is happening?

The custom passmanager from qiskit tutorials fails due to transpiler errors.

### How can we reproduce the issue?

While using `qiskit-tutorials/tutorials/circuits_advanced/qv_tools.py`, I am getting errors of this form: ```Duration of cx on qubi

[2022-01-19 09:36] nonhermitian opened #7538 "Compiling QFT circuit on 1k qubits fails"
### Environment

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is happening?

There is an overflow when converting a Python int to a numerical float

[code]

### How can we reproduce the issue?

[code]

### What should happen?

It should work

### Any suggestions?

_No response_

[2022-01-19 10:27] nonhermitian commented on #7538
Yes, you would expect it to auto truncate terms that are smaller than something like floating point zero.

[2022-01-19 10:31] jakelishman commented on #7538
That's fine if that's a final number, but once you put the circuit in place, it's not actually going to do the right thing anymore (in an ideal experimental world where we can actually control angles of 10^-315 of a radian lol).

I'll swap it over to the underflow form, but I'll put in a warning catch as well.

[2022-01-19 12:41] dlasecki opened #7540 "Implement evaluation of output Gibbs state probabilities on various backends."
The goal of this issue is to sample the probability distribution encoded in a Gibbs state. Sampling depends on the backend because for certain cases we only get counts that need to be normalized.

[2022-01-19 14:41] yonizim opened #7544 "Not reversing the pauli operators in _two_qubit_evolution method"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.6
- **Operating system**: macOS 12.1

### What is happening?

When we apply exponentiation to PauliSumOp and evolve it using LieTrotter class, we get incorrect quantum circuit. The problem happens only with two-qubit Pauli operator.

### How can we reproduce the issue?

[code]

### What should happen?

The correct quantu

[2022-01-19 14:56] enavarro51 commented on #7532
Oddly enough, I think these two problems are unrelated. The 'mpl' problem seems to be related to a miscalculation in the code that deals with folding. Since the 'text' problem appears with only 1 gate, it can't relate to that. I think it might have to do with the U1/P code as suggested, since it looks like the gate is aligned differently than the condition.

[2022-01-19 16:11] mtreinish commented on #7537
I assume it's this file here: https://github.com/Qiskit/qiskit-tutorials/pull/1241/files#diff-0d6b5d6d178c8ae770c7365ae469e30a8cedf71424e2ae114b85bf5dac18a7f9 which might have been published on the ibm quantum documentation's tutorials, but the PR to the tutorials repo never merged

[2022-01-19 16:51] #4132 closed

[2022-01-19 16:59] frankharkins commented on #7366
@Cryoris thanks for looking into this! I see now I added some useless X-gates, but there still should be only one solution. If I run your second example I get:
[code]
which is still wrong :/

I took the dimacs file from the [textbook](https://qiskit.org/textbook/ch-applications/satisfiability-grover.html) and added a couple of lines to eliminate the other solutions.

[2022-01-20 03:04] mtreinish commented on #7509
Just a heads up retworkx 0.11.0 was released earlier today and included the fix for this. If you upgrade retworkx to this version it should fix this

[2022-01-20 03:55] epelofske-LANL commented on #7537
@mtreinish Yes that is the one I am referring to. I got it from this reference on the IBMQ site: https://quantum-computing.ibm.com/services/docs/services/manage/systems/improve-qv/

[2022-01-20 09:42] Dibyaprakash commented on #7544
May I give it a shot ?

[2022-01-20 12:06] #7449 closed

[2022-01-20 15:42] kdk commented on #7387
It seems to me that this could be an optimization in the way we convert from `DAGDependency` to `DAGCircuit`/`QuantumCircuit`. The example circuits are represented by equivalent `DAGDependency`s (see below), but the `dagdependency_to_{dagcircuit,circuit}` converters both use`DAGDependency.get_nodes()` to linearize the `DAGDependency` before outputting as a `DAGCircuit` or `QuantumCircuit`, so the

[2022-01-20 16:04] Cryoris commented on #7366
Hi Frank, do you mean if you're running my exact snippet from above you're getting these results? Or you're getting them once exchanged for your dimacs file?

[2022-01-20 16:57] mtreinish commented on #7387
There's not explicit order guarantee there, but the implementation does return a fixed order and that likely won't ever change (and I'd probably be concerned about backwards compatibility if we did need to change it for some reason). It will always be in order of node indices in the graph. This is nominally insertion order unless there are deletions. If nodes are deleted and then subsequently new

[2022-01-20 17:00] TheGupta2012 commented on #7387
I was interested in learning and working on this issue. Would it okay if I took it up?

[2022-01-20 17:01] kdk commented on #7023
Closing as resolved by #7163 .

[2022-01-20 17:01] #7023 closed

[2022-01-20 17:05] kdk commented on #7387
Sure thing! Feel free to reach out with any questions.

[2022-01-20 20:19] Cryoris commented on #7544
Hi @Dibyaprakash, since it was a tiny fix on code that I was very familiar with I just went ahead and did the small fix. If you're interested in finding a PR to work on I can help you find one that suits you!

[2022-01-20 23:12] #5226 closed

[2022-01-21 05:55] Dibyaprakash commented on #7544
@Cryoris I will be happy to work. Please let me know if you come across something interesting.

[2022-01-21 17:17] kdk commented on #7528
I think this needs some more investigation before picking a direction here, especially to determine if we would expect this slow-down to grow as we increase either the number of operations in a circuit, the number of operation-types or something else.

* From my best effort reading of https://github.com/python/cpython/blob/f4c03484da59049eb62a9bf7777b963e2267d187/Modules/_abc.c#L586 , it seems lik

[2022-01-21 23:13] kdk commented on #7165
Re-opening as I think this would be a useful improvement, especially if it could be incorporated into the `dag_drawer`. Feel free to let me know if there was another reason for closing this.

[2022-01-21 23:37] #7445 closed

[2022-01-21 23:53] epelofske-LANL commented on #7537
It is possible that this is still a bug, but I was able to resolve the error by setting `natural_direction=True` (as opposed to `None`) for the Unitary Synthesis (`in https://qiskit.org/documentation/stubs/qiskit.transpiler.passes.UnitarySynthesis.html`).

[2022-01-21 23:53] #7537 closed

[2022-01-22 14:01] #7534 closed

[2022-01-23 07:15] TheGupta2012 commented on #7165
I thought this wasn't really necessary at the moment as there was no response. I'd be happy to add the `__repr__` method.

[2022-01-23 17:02] deeksha-singh030 commented on #7206
@kazouini98  Are you still working on this issue?

[2022-01-23 17:04] deeksha-singh030 commented on #6994
Hey! @Kit-Kate  Are you still working on this issue?

[2022-01-23 17:23] jond01 opened #7558 "Running Grover's algorithm fails with `"aer_simulator_statevector"` backend"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.5 (probably irrelevant)
- **Operating system**: macOS 12.1

### What is happening?

Running Grover's algorithm fails with the latest version of `qiskit` (with `"aer_simulator_statevector"` backend):
[code]

### How can we reproduce the issue?

The following minimal example is adapted from:
https://github.com/Qiskit/qiski

[2022-01-24 12:06] jakelishman commented on #3435
While there's always more documentation that could be written, after #4134 this documentation has rather more content than it did when the issue was created.

If somebody were to extend this, good things to add would be:
- tweak the introduction to actually talk about `qiskit.transpile` and include a cross reference to it
- update the current text which is out-of-date (the part about layout passes

[2022-01-24 12:09] Cryoris commented on #7558
I cannot reproduce this error with Terra 0.19.1 and Aer 0.9.0. What version of Qiskit Aer do you have installed?

[2022-01-24 12:40] jond01 commented on #7558
My `qiskit-aer` version is 0.10.2 (the latest release)

[2022-01-24 13:49] jakelishman commented on #7558
It's caused by Aer 0.10 - that changed the type saved by `save_statevector` etc to the `qiskit.quantum_info` classes, with a compatibility layer that mostly should have meant that they behaved like Numpy arrays.  In this case, though, the `Statevector.__eq__` method returns a single Boolean, rather than broadcasting like general Numpy arrays.  It's a simple fix - we just need to cast the output of

[2022-01-24 16:39] Osmanilge commented on #7165
Hello I want to assigned for this issue. I am new in qiskit but I am interested in Qiskit. I hope this issue is suitable for me.

[2022-01-24 16:42] jakelishman commented on #7165
@Osmanilge, thanks for the interest, but there was already an open pull request to close this issue.  Please feel free to look at other issues labelled ["good first issue"](https://github.com/Qiskit/qiskit-terra/labels/good%20first%20issue), though.

[2022-01-24 16:59] Osmanilge commented on #7165
I will look at other issues. Thanks for your interest.

[2022-01-24 17:44] Osmanilge commented on #7078
Hello I want to assigned for this issue. I am new in qiskit but I am interested in Qiskit so may you inform me about issue? I hope this issue is suitable for me.

[2022-01-24 17:44] Osmanilge commented on #5381
Hello I want to assigned for this issue. I am new in qiskit but I am interested in Qiskit so may you inform me about issue? I hope this issue is suitable for me.

[2022-01-24 17:45] Osmanilge commented on #7155
Hello I want to assigned for this issue. I am new in qiskit but I am interested in Qiskit so may you inform me about issue? I hope this issue is suitable for me.

[2022-01-24 23:07] mtreinish commented on #7418
Removing on hold because retworkx 0.11.0 was released which included the `contract_nodes()` method. So this can be implemented

[2022-01-25 11:53] dlasecki opened #7564 "Implement classical post-processing for Gibbs states with auxiliary system."
After preparing a Gibbs state with a VarQite algorithm, the resulting state includes auxiliary registers. Due to the current limitations of opflow, we are not aware of a way to perform a partial trace without evaluating the Gibbs state to its density matrix (which is not efficient).

The goal of this issue is it implement a method for processing bit strings from measuring Gibbs state that includes

[2022-01-25 13:40] TheGupta2012 commented on #7386
@kdk, would specific benchmarking be needed before this change can be added to the transpiler? I was thinking that searching over an additional optimization for the `size` of the circuit would have some kind of time overhead.

[2022-01-25 15:33] bb511 opened #7565 "Expose parameter_prefix to ZZFeatureMap"
### What is the expected enhancement?

Currently, the `ZZFeatureMap` class inherits from `PauliFeatureMap` but the `parameter_prefix` cannot be set in the constructor.
https://github.com/Qiskit/qiskit-terra/blob/fe5acd4d15355a566a32ee63fb4a50771e5994d4/qiskit/circuit/library/data_preparation/zz_feature_map.py#L60-L68

Thus, when one wants to include more than one `ZZFeatureMap`s per quantum circui

[2022-01-25 15:39] kdk opened #7567 "Modeling and compiling circuits with classical instructions and data"
With the addition of classical types and the expansion of classical instructions both in the OpenQASM3 language and available on devices, terra should expand the ability of users to build, compile, and simulate `QuantumCircuit`s containing classical instructions and classical data types. This meta-issue will serve as a place to track progress, discussions and decisions on this front.

### Classica

[2022-01-25 17:53] jakelishman commented on #7567
Some additional preliminary thoughts in no particular order (mostly I'm using this issue as a notepad):
- a fair amount of maths can be automatically built up by whatever `Expression` representation we decide on internally keeping an entire tree, but we'll also need to add additional classical instructions to represent mutations of existing names at runtime.  This naturally lets the transpiler see

[2022-01-25 18:19] jakelishman commented on #7565
This seems very sensible to me.  Ideally it should take all the same arguments as `PauliFeatureMap`, since it's really a very thin wrapper around it.  Honestly, I'm not 100% sure why this exists as a class at all, and isn't just a loose function, but now that it exists, it's probably best to leave it as-is.

[2022-01-25 18:35] jakelishman commented on #7386
Additional benchmarking is good - we already have it running at https://qiskit.github.io/qiskit/, so you can see things there.  It doesn't hurt to run `asv` locally - the benchmarks are in the Qiskit/qiskit repo, and you can use `asv dev` to test your commit against the main branch.  You'll likely want to read up on its docs so you can limit the benchmarking to only the suites you care about; the

[2022-01-25 19:40] woodsp-ibm commented on #7565
I guess we had these as separate classes in Aqua and when they came over to the circuit library they were preserved in a parallel structure. We had the Z and ZZ feature maps as these seemed most used, so they were more convenience, but the base class provided the ability to do more. Since its possible to use the base PauliFeatureMap class/circuit here directly, and provide your own parameter custo

[2022-01-25 19:55] Cryoris commented on #7399
We didn't see any reason why opflow should actually insert an `IGate` for Pauli identity operations, especially since they are eagerly removed upon calling `reduce` on any operator expression. Actually, I think inserting an `IGate` is even wrong since it currently represent a waiting cycle in the circuit, but we expect a mathematical identity operation: nothing should happen!

#7569 changes this b

[2022-01-25 20:12] JoelHBierman commented on #7399
I will just note that my original motivation for posting this issue was to fix the Pauli string op issue specifically. It could be that others will also care about the second case getting fixed. I think if the linked PR is merged, this issue can be closed since the second case is mentioned in #4010.

[2022-01-25 20:14] jakelishman commented on #7399
It's probably best to leave the issue open, since the other part of it is still going to be an issue after this, until we're able to realign `IGate` to be more what most people expect.  But it's good that Julien's patch will fix your actual issue.

[2022-01-26 08:00] dlasecki opened #7572 "Implemented gradient() method in VarQte."
TODO

[2022-01-26 08:03] Cryoris commented on #7332
Currently, @tyrolize is already working on this issue with their PR #7407 🙂

[2022-01-26 08:27] Cryoris opened #7573 "``CVaRMeasurement`` does not check ``PauliSumOp``s efficiently for diagonality"
### Environment

- **Qiskit Terra version**: main @ fe5acd4d1
- **Python version**: 3.7
- **Operating system**: macOS

### What is happening?

The CVaR measurement is only defined for diagonal observables and the code checks that. It tries to do that efficiently (meaning w/o a conversion to a matrix) but that didn't cover the case for `PauliSumOp`s. Luckily, there's a check in place that raises an

[2022-01-26 08:59] #7538 closed

[2022-01-26 13:48] dlasecki opened #7576 "Implement efficient classical algorithm for quantum time evolution in Quantum Time Evolution Framework."
The algorithm is based on the existing internal PoC and should work with lattice problems from Qiskit Nature for example.

[2022-01-26 13:51] dlasecki opened #7577 "Expose hardcoded values of numerical thresholds as arguments in VarQte."
Hardcoded values include: allowed imaginary part to be neglected, convergence threshold for optimizers, allowed negative values that can be rounded up to 0 for values expected to be non-negative.

[2022-01-26 13:53] dlasecki opened #7578 "Implement a Result class for Quantum Time Evolution framework."
The class should include the evolved state/observable and some metadata specific to a given algorithm, e.g. error bounds for VarQte.

[2022-01-26 14:51] 1ucian0 commented on #7581
moved from qiskit-nature as per @mrossinek request.

[2022-01-26 15:52] jakelishman commented on #7502
You can already use the `&` operator for `compose`, but `@` was specifically deprecated Terra 0.17 (#5834) and removed in Terra 0.19 (#7291) so we could change the order of the operands; `a.__matmul__(b)` was original defined to be `a.compose(b)`, but that's the same as `np.array(b) @ np.array(a)` (i.e. backwards).  We needed to deprecate and remove it, so that people who were already using it wer

[2022-01-26 17:04] kdk opened #7583 "QPY serialization fails for circuits with IfElse instructions"
### Environment

- **Qiskit Terra version**: 0.20.0.dev0+01913f4
- **Python version**:  3.7
- **Operating system**: Mac OSX 11.6.1

### What is happening?

QPY serialization fails when attempting to serialize a circuit containing an `IfElseOp`.

### How can we reproduce the issue?

[code]

[code]

### What should happen?

The circuit should be able to be serialized and de-serialized.

### Any sugg

[2022-01-26 17:20] TheGupta2012 commented on #7387
Hey @kdk, so I had an approach which was similar to returning the nodes in a topological order during linearization of the `DAGDependency`. My approach goes something like this -
- For each node in the `DAGDependency`, define a dependency level ( something like in the topological sort )

![image](https://user-images.githubusercontent.com/57539040/151211974-7cc1b88b-74cd-4a74-9787-511e715e6278.png)

[2022-01-26 17:43] mtreinish commented on #7583
So there are 2 things we need to fix here. The first is to add `qiskit.circuit.controlflow` to the module lookup path for terra objects here: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/qpy_serialization.py#L1122-L1125 and https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/qpy_serialization.py#L976-L983 so that qpy know about the control flow instructions. Otherwis

[2022-01-26 17:49] jakelishman commented on #7583
`IfElseOp(**params)` will fail, because the first positional argument is the `condition`, which is stored separately on `Instruction`, not in `params`.  The same goes for `WhileLoopOp`, but `ForLoopOp` is in that form.

I guess we need to add an arbitrary serialisation hook here.  I think we want to avoid any possible arbitrary _de_serialisation hooks, so we could ask for a method that will return

[2022-01-26 17:59] mtreinish commented on #7583
Well we've had to do deserialization conditions before for instruction types which behave differently for weird reasons. `Barrier` and `Initialize` are the only two currently. We also serialize the condition attribute currently. So assuming the condition attribute is the same tuple of `(register/bit, value)` that other instructions have we wouldn't need to change anything on the serialization side

[2022-01-26 18:04] jakelishman commented on #7583
Having the condition is fine, the problem is that the constructor of `IfElseOp` and `WhileLoopOp` take `condition` as their first positional argument, and don't put `condition` in the `params` attribute.  The condition is the same tuple, but you do something like
[code]
We can do it, but it'll need special handling for `IfElseOp` and `WhileLoopOp` when reconstructing the instances, to pass the con

[2022-01-26 18:20] mtreinish commented on #7583
Right, I just meant we have a place already for this kind of thing where we have to do that kind of custom deserialization construction. Since we had to do it for `Barrier` (which does `Barrier(num_qubits)` which isn't a parameter) and `Initialize` (which does `Initialize(params)` instead of `Initialize(*params)`. So for 0.19.4 I think if we do something like:
[code]

around here: https://github.c

[2022-01-26 19:44] #7165 closed

[2022-01-26 22:31] maxdp commented on #7472
Hi @jakelishman , do you have any updates on this? Did my last clarification make sense?

[2022-01-26 23:32] ammareltigani opened #7585 "default dictionary for template substitution costs missing some gates"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

when using TemplateOptimize transpiler, the default value for `user_cost_dict` does not contain entries for the SXGate or SXdgGate (keys "sx" and "sxdg" resp.) , and thus have to be specified by the user else an error is raised.

### How can we reproduce the issue?

1. generate a cir

[2022-01-27 04:59] evmckinney9 commented on #4751
Hmm interesting problems. Here is what I'm thinking about on how to do this programmatically.

[code]

or something more direct

[code]

Even if you are able to figure out the inheritance problem so that the parent classes of Gate decide to use the sympy library instead of math library for `math.cos` and `math.sin` functions (by doing something equivalent to `math=sympy` somewhere) , you still get

[2022-01-27 06:31] evmckinney9 commented on #4751
Ugly code but proof of concept:
[code]
Outputs:

[[cos(theta/2) -1.0*I*sin(theta/2)]
 [-1.0*I*sin(theta/2) cos(theta/2)]]

[[exp(-0.5*I*theta) 0]
 [0 exp(0.5*I*theta)]]

[2022-01-27 08:29] Cryoris commented on #4751
Another option might be that we do not allow the symbolic evaluation of circuits, but instead allow casting parameterized gates to a matrix. Then, the user would have to use SymPy directly to construct the parameterized unitary.

[2022-01-27 12:54] dlasecki opened #7588 "Decouple solvers from NaturalGradient class."
The NaturalGradient class from the Gradient framework (qiskit/opflow/gradients/natural_gradient.py) is strongly coupled with the logic of solvers that are used for solving systems of linear equations.

The goal of this issue is to decouple solvers from the NaturalGradient class and allow the class to accept a solver as an argument (or a method for solving SLEs).

This way, a user can provide their

[2022-01-27 14:00] dlasecki opened #7589 "Return gradients calculated in VarQte algorithms."
The current implementation calculates gradient quantities for internal purposes and does not return them. However, such quantities might be useful in certain algorithms, e.g., Quantum Boltzmann Machines. The goal of this issue is to return these quantities.

[2022-01-28 11:17] Silrem commented on #7155
Can I work on this?

[2022-01-28 14:24] #7544 closed

[2022-01-28 18:37] #7565 closed

[2022-01-29 16:22] yonizim opened #7592 "Don't unroll automatically open controlled gates"
### What is the expected enhancement?

In PR #4444, an automatic unroll of open controlled gates was added. This change was inserted into `Unroller` and `UnrollCustomDefinitions` classes. It was meant to solve issue #4437, reporting a bug about simulating open CX gates.

I wondered, do we still need this special case conditional? I checked what happens if the conditional is removed. Seems like the

[2022-01-31 02:39] 0sophy1 commented on #3436
Hi, can we raise this as our korean hackathon project (feb 7 - 10), and is there anyone who can support us after we succeed in gathering a team?

[2022-01-31 02:41] 0sophy1 commented on #3402
Hi, sorry again.  Can we raise this as our hackathon project (feb 7 - 10), and is there anyone who can support us after we succeed in gathering a team?

[2022-01-31 13:10] jakelishman commented on #7592
Off a cursory glance, this looks like a suggestion we should implement - the original issue in #4437 was that at the time, we gave all cx gates the same name, even if they had different controls.  That meant that we were lying to Aer about what the gate was meant to be.  However, since #5688 the gates have different names, so should naturally undergo the correct basis translation.

There is a prob

[2022-01-31 17:32] 1ucian0 commented on #5275
Assigned!

[2022-01-31 17:38] 1ucian0 commented on #7155
Sure thing @Silrem. Assigning. let me know if I can help!

[2022-01-31 17:44] 1ucian0 commented on #7078
Hi @Osmanilge I think the best way to assess If the issue is suitable for you, have a look to the *suggested solution*. If it sounds like greek, check a different one less obscure. Otherwise, let me know and I can assign it to you!

[2022-01-31 18:03] dhruvbhq opened #7597 "`TemplateMatching` and related classes do not appear in docs"
### Environment

- **Qiskit Terra version**: 0.20.0.dev0+3a4c512
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is happening?

`TemplateOptimization` appears in documentation [here](https://qiskit.org/documentation/stable/0.24/stubs/qiskit.transpiler.passes.TemplateOptimization.html?highlight=template%20optimization#qiskit.transpiler.passes.TemplateOptimization).

However,

[2022-01-31 18:26] jakelishman commented on #7597
I'm not entirely sure that those classes are meant to be public, in which case they don't need to be documented - I think they're just internal data structures for the pass.  It's not entirely clear to me from the history of #4552, though.  Those template classes have very sparse documentation, so it really would be good to get proper documentation written for them if they're meant to be public.

[2022-01-31 20:06] 1ucian0 commented on #6901
hi @prathameshbhole . Did your #6926 addressed this one too?

[2022-01-31 20:20] 1ucian0 commented on #7206
Since no answer from @kazouini98 , I'm assigning @IMPranshu . Let know if that's okey!

[2022-01-31 20:22] 1ucian0 commented on #7500
Hello @bopardikarsoham, shall I assign it to @VaibhavSanjay ?

[2022-01-31 20:25] 1ucian0 commented on #7097
How is that going @st4eve ? I also would recommend you to ask for help in the channel `#qiskit-pr-help` in our slack workspace: https://join.slack.com/share/enQtMzAzNDA0MDQzMDMyMy0yZWY4MGU4NDJmM2UzYjc1YjQ4OTg0YmY3Y2FlYzgzMmVhMDU2MDgwMDM5MjM0ZDQyYTA2YjA2OWIzMDc5MDEz

[2022-01-31 20:26] 1ucian0 commented on #6502
Any news @ozamanan ?

[2022-01-31 20:27] 1ucian0 commented on #6994
Since the issues is stalling, do you want to take it @deeksha-singh030 ?

[2022-01-31 21:33] 1ucian0 commented on #5381
Hi @Osmanilge ! I can assigned you. You might want to consider continuing the work from @jonathanortega2023 in #5398 by branching out their PR.

[2022-01-31 21:52] 1ucian0 commented on #2304
did you have any chance to have a look @a-freakish ?

[2022-01-31 21:53] 1ucian0 commented on #2306
Did you have any change to have a look @abzsd ?

[2022-01-31 21:58] 1ucian0 commented on #5872
I'm cleaning the assignees so it can be back to the pool of available `short projects`.

[2022-02-01 05:21] prathameshbhole commented on #6901
No

[2022-02-01 06:43] ikkoham commented on #7502
Yes, that's right. I'm going to add it in 0.20. (maybe in next QAMP)

[2022-02-01 07:41] bopardikarsoham commented on #7500
Yes, you can @1ucian0. I'm not able to solve it.

[2022-02-01 15:44] nonhermitian opened #7600 "Can't set measurements with len=1 NumPy array"
### Environment

- **Qiskit Terra version**:  lastest
- **Python version**:
- **Operating system**:

### What is happening?

This fails for len=1 arrays:
[code]

[code]

For length 2 or higher it works.  Also works if cast to list.

### How can we reproduce the issue?

See above

### What should happen?

It should work for any length array

### Any suggestions?

_No response_

[2022-02-01 16:32] mtreinish opened #7601 "Add option to control flow builders for deterministic argument ordering"
### What is the expected enhancement?

From: https://github.com/Qiskit/qiskit-terra/pull/7584#discussion_r796656517

[2022-02-01 16:46] #7573 closed

[2022-02-01 17:18] jakelishman commented on #7601
I realised after I wrote that original comment that sorting by `id` isn't dependent on the hash seed - it's dependent on the memory allocator and what you've allocated and freed before it - but we should have enough information to come up with some deterministic order anyway.  It'll involve sorted based on some more global property (perhaps the order that the bits exist in the top-level circuit),

[2022-02-01 17:58] jakelishman commented on #7399
We're going to defer the issue til the next minor release - we'll merge the immediate fix (#7569) into the `main` branch soon, but there's a risk that will break other code currently in use elsewhere in Qiskit or for users, so we'll wait til 0.20 before it gets released.

[2022-02-01 18:08] jakelishman commented on #7600
[code]
???

Seems like pretty weird Numpy behaviour, but that's where the issue comes in.  Should be an easy fix.

[2022-02-01 18:13] aabennak commented on #6734
I think that the problem seems to be stemming from reading the 0 in the 10th variable and interpreting it as the end of clause as the notes in the code say: "Character `0` (zero) marks the end of each clause." , which is throwing the whole format out of its order... I could be wrong though.

[2022-02-02 02:11] #7583 closed

[2022-02-02 09:38] dlasecki opened #7607 "Fix errors in gradient unit tests in VarQte."
The affected file is test_gradients.py. The following errors started occuring:

[code]
[code]
[code]

[code]

[2022-02-02 09:43] dlasecki commented on #7607
@Zoufalc @Cryoris

[2022-02-02 10:39] adekusar-drl opened #7608 "CircuitSampler works incorrectly in batched mode"
### Environment

- **Qiskit Terra version**: Latest sources
- **Python version**: 3.7, but it does not depend on the python version
- **Operating system**: All

### What is happening?

When `CircuitSampler` is used sample circuits (gradient circuits in my case) and circuit parameters are lists, e.g. a single parameter has a list of values the output has unexpected shape. This problem initially aro

[2022-02-02 12:31] #7498 closed

[2022-02-02 14:05] dlasecki opened #7610 "Implement aux registers in GibbsStateSampler."
The goal of this issue is to enable providing the list of indices of auxiliary registers to be provided in the constructor of GibbsStateSampler. It also includes using it to discard aux registers for probability sampling. Currently, the class is fixed for the case of VarQite prepared Gibbs state.

[2022-02-02 14:54] jond01 opened #7611 "Missing f-string in qasm3 export error"
### Environment

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is happening?

There is a missing f-string in the following error (L468):
https://github.com/Qiskit/qiskit-terra/blob/531e62f3a3c218fee6db116f54ed41ce4e88d9a9/qiskit/qasm3/exporter.py#L466-L469

### How can we reproduce the issue?

Export a circuit with a parametric subroutine.

### What sho

[2022-02-02 15:13] jakelishman commented on #7611
haha, whoops - good catch thanks!  Just needs the `f"` to open the string on line 468.

[2022-02-02 17:18] zohimchandani opened #7612 "Partial trace operation throws up error once it is broken"
### Informations

- **Qiskit Aer version**: 0.10.2
- **Python version**: 3.6.9
- **Operating system**: Mac OS

### What is the current behavior?

See minimal code example below

### Steps to reproduce the problem
[code]

Now If I provide an empty list to trace out then it throws up an error which is expected
[code]

After the error, if I now recall a previous instruction that successfully ran then

[2022-02-02 17:23] TheGupta2012 commented on #7611
Can I correct this?

[2022-02-02 17:50] jakelishman commented on #7611
Absolutely, please go ahead - I'll assign you.

[2022-02-02 18:15] jakelishman commented on #7612
Also, I'm not super convinced that passing an empty list should be an error - I'd have thought we should just return the density matrix of the state.

[2022-02-02 22:26] #7611 closed

[2022-02-03 11:01] deeksha-singh030 commented on #6994
@1ucian0  Yes, I want to work on this issue.

[2022-02-03 13:27] dlasecki opened #7617 "Implement EvolutionProblem class."
The goal of this issue is to create an EvolutionProblem class that will be used in the Quantum Time Evolution Framework, e.g. by the Variational Quantum Time Evolution Algorithm.

[2022-02-03 15:12] #7344 closed

[2022-02-03 15:18] Cryoris commented on #7362
From the error message it looks like the input to `compose` was not a circuit but a `QuantumRegister`. I can also not reproduce this issue so I'll go ahead and close it. Feel free to reopen @rum-yasuhiro if we're missing anything here!

[2022-02-03 15:18] #7362 closed

[2022-02-03 15:43] Cryoris commented on #7222
This was fixed by #7294.

[2022-02-03 15:43] #7222 closed

[2022-02-03 15:46] Cryoris commented on #7160
I think this was addressed by #6918, the referenced plot in the tutorial now does show the convergence correctly 🙂 Feel free to reopen if I missed something!

[2022-02-03 15:46] #7160 closed

[2022-02-03 15:53] Cryoris commented on #6934
This was addressed with #7161.

[2022-02-03 15:53] #6934 closed

[2022-02-04 03:03] VaibhavSanjay commented on #7500
I believe I have a fix, could I get the issue assigned to me @1ucian0 ?

[2022-02-04 08:56] alexanderivrii commented on #7528
After investigating this a bit more (using `cProfile`):
- As discussed previously, `isinstance` slows things down when `Operation` inherits from `ABC`
- Additionally, it seems that returning fields directly, e.g.
[code]
is faster than calling (polymorphic) functions:
[code]
and in the PR, we have indeed changed `name`, `num_qubits`, and `num_clbits` to be properties. I believe this is what's respo

[2022-02-04 15:39] dlasecki opened #7621 "Expose optimizers from Gradient framework as arguments to VarQte."
The goal of this issue is to expose optimizers from the Gradient framework as arguments to VarQte. Currently, users have no way to change an optimizers and only hardcoded one is used.

[2022-02-04 17:01] 1ucian0 commented on #7500
assigning you @VaibhavSanjay. Thanks!

[2022-02-04 17:11] 1ucian0 commented on #6994
assigning it to you @deeksha-singh030 ! Thanks!

[2022-02-04 18:35] #7283 closed

[2022-02-05 00:11] fazlekarim-anthem opened #7623 "``qiskit.opflow.PauliTrotterEvolution`` of ``SuzukiTrotter`` has wrong gate-angles for odd orders > 1"
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: 3.7.11
- **Operating system**: Darwin

### What is happening?

When running a `PauliTrotterEvolution` with odd order greater than 1 on an `EvolvedOp` operator that has a `PauliOp` or `PauliSumOp` primitive, the code ignores the parameters binded to it.

### How can we reproduce the issue?

When running the following example:

[2022-02-05 01:40] jakelishman opened #7624 "Move numeric parameters from `Instruction` to the data tuple"
### What should we add?

This is the first step in adding full classical data and instructions to `QuantumCircuit`.  This is a partial step; it may well not be the only change to the data tuple that we make over the course of this, and it doesn't try to fix everything we dislike about `Instruction` yet, but it's a start.

I do recognise that what I suggest here is a breaking API change, but I thin

[2022-02-05 01:44] jakelishman commented on #7624
@kdk: I tried to add this to the right epic on the beta projects board, but I don't seem to have permissions to change anything there.

[2022-02-05 10:09] Silrem commented on #7155
@1ucian0 Just created a PR (#7625). Not sure if I can/should add you as a reviewer there. Anyway, the first draft is there =)

[2022-02-05 14:06] boschmitt commented on #6734
Well spotted. The problem lies on one of `tweedledum`'s dependency `lorina` and seems that was fixed: hriener/lorina#67

I will update `tweedledum`.

[2022-02-06 02:24] NilsG-S opened #8073 "LaTeX Rendering of Simulated Statevector is Mangled"
### Information

- Qiskit: 0.19.1
- Python: 3.9.1
- Operating System: Windows 10 (Version 10.0.19042 Build 19042)

### What is the current behavior?

LaTeX rendering of simulated (evolved?) Statevector is mangled.

When running:

[code]

the output shows up like:

[code]

Printing the Statevector gives:

[code]

Here's a screenshot of the behavior as well.

![bug_example](https://user-images.githu

[2022-02-07 09:41] RaoulHeese opened #7626 "transpile fails to expand trivial rotations"
### Environment

- **Qiskit Terra version**: '0.19.1
- **Python version**: 3.7.10
- **Operating system**: Windows

### What is happening?

The transpiler can expand certain (trivial) gate identities, while it fails for others.

For example: `rz -> (rx, ry)` works while `rx -> (ry, rz)` does not work.

Since these are symmetric problems, I would consider this behavior a bug.

### How can we reprodu

[2022-02-07 13:08] Cryoris commented on #7623
The bound parameter values may not show up in your circuit diagram as being bound, but they are 🙂 Here's your example with 3 repetitions (odd and larger than 2):
[code]
but if we call `.decompose()` on the circuit and have a look inside we see the values are actually bound:
[code]

By the way, you might want to consider using the `qiskit.circuit.library.PauliEvolutionGate` for these evolutions as

[2022-02-07 13:38] born-2learn commented on #5275
Hi, I might have to delay working on this issue due to other engagements. Thanks!

[2022-02-07 15:06] fazlekarim-anthem commented on #7623
^^ In the above example, the values that we set are not bounded. If you see, I am trying to bind the number 0.33, but we are still not seeing its impact.
![image](https://user-images.githubusercontent.com/72025915/152813386-22440bb1-32dd-4eb5-9145-20cade26e862.png)

I will try using `qiskit.circuit.library.PauliEvolutionGate` and will get back to you on it.

[2022-02-07 15:16] fazlekarim-anthem commented on #7623
It seems like `qiskit.circuit.library.PauliEvolutionGate` does not allow the operators that have coefficients of type `Parameter`. It throws an error. I may be using it incorrectly. This is what I have done:
[code]

to get the following error:
[code]

[2022-02-07 16:18] kevinsung opened #7627 "Expose Numpy simulator as Backend"
### What is the expected enhancement?

Qiskit includes a statevector simulator that uses Numpy. This is very nice because it means users can simulate circuits without installing Aer. However, I think the interface could be improved.

Currently the simulator is called using the `Statevector` class:
[code]
It would be useful to expand this functionality so it is used in the same way as other backend

[2022-02-07 16:58] kevinsung opened #7628 "Support alternative tensor product ordering"
### What should we add?

Qiskit uses the little endian convention for ordering the factors in a tensor product. For example, the statevector for a 3-qubit state would use the ordering `Q2 ⊗ Q1 ⊗ Q0`. It would be useful to add support for specifying the tensor product order. This could be used, for example, to request a state vector using the common big endian ordering.

This can be implemented by

[2022-02-07 18:15] lcapelluto opened #7629 "Simplification: Remove LORange and LOConfig from `pulse`"
### What is the expected enhancement?

In https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/pulse/configuration.py, there is an `LORange` and `LOConfig` which exist only to verify that the received freqs are between a min and a max. This comes from the backend and is used only by `assemble`, not anywhere in the `pulse` module.

These two classes should be deleted (deprecated if necessary, al

[2022-02-07 22:30] kdk opened #10572 "Add documentation on running and adding benchmarks"
We should have some documentation, ideally in test/benchmarks/README.md , that calls out:
* that we use ASV for benchmarking,
* how to write and contribute benchmarks ( Mostly referring to https://asv.readthedocs.io/en/stable/writing_benchmarks.html , but also calling out best practices like always setting `seed_transpiler` ),
* how to run benchmarks locally ( https://asv.readthedocs.io/en/stable/

[2022-02-08 05:06] saktar-unr commented on #7629
Can I work on the issue?

[2022-02-08 09:52] Cryoris commented on #7623
It does support it as time parameter 🙂
[code]

[2022-02-08 09:57] Cryoris commented on #7623
Ah now I understand your comment above: the parameters _are_ bound, but to the wrong values!

The Suzuki-Trotter expansion formula should not support odd orders larger than 1, you will find that the `PauliEvolutionGate` throws a warning if you try that and in the future it will throw an error. That's because, as you also pointed out above, the paper on the Suzuki-Trotter expansion only describes e

[2022-02-08 10:01] Cryoris commented on #7627
If we switch to using primitives for the basic quantum operations (sampling, probabilities, expectation values & others) this might not be necessary anymore. Since then we would just have an exact, possibly numpy-based, version of these primitives which the algorithms could use.

[2022-02-08 13:13] kevinsung commented on #7627
@Cryoris What are primitives? What exactly are you saying will be made unnecessary by them?

[2022-02-08 14:05] fazlekarim-anthem commented on #7623
Ahh. I am glad you will throw an error in the future. Just an fyi, I do not see a warning with PauliEvolutionGate with the synthesizer as SuzukiTrotter.

[code]
leads to the following output again without any warning:
![image](https://user-images.githubusercontent.com/72025915/153001716-33dd5e08-d0dd-420e-976e-3e0e0b1cd6f1.png)

Further, it seems like the time input can take in one parameter (thet

[2022-02-08 14:28] kevinsung commented on #7627
@Cryoris explained to me offline that the `BasicAer` backend exists and is exactly what I am asking for. So I'll close this issue, though I will say that the existence of BasicAer should probably be mentioned more prominently in the documentation.

[2022-02-08 15:41] kdk commented on #7624
Looks like you hadn't been added you to the qiskit-terra team, should be fixed now.

[2022-02-08 15:48] AIIIN opened #7631 "Initializing circuit with label results in "Data for experiment "experiment-name" could not be found error""
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.12
- **Operating system**: Win 10

### What is happening?

Initializing a circuit via `circuit.initialize()` with <ins>labels</ins> results in :
[code]

### How can we reproduce the issue?

[code]

### What should happen?

The statevector of the simulated circuit should be returned.

### Any suggestions?

_No response_

[2022-02-08 18:25] kevinsung opened #7633 "BasicAer should simulate any gate that has a matrix"
### What is the expected enhancement?

Related: https://github.com/Qiskit/qiskit-terra/issues/4625

BasicAer can already simulate `UnitaryGate`, so it can easily be modified to simulate any gate that defines a matrix. Requiring manual transpilation to a "supported" gate set is an artificial restriction. The code below should not raise an error.

[code]

[2022-02-08 18:35] VaibhavSanjay commented on #7631
If I'm not mistaken, this issue happens on or before the `sim.run` call. After that is called, I get a warning saying
"Simulation failed and returned the following error message:
ERROR: Failed to load qobj: Unable to cast Python instance to C++ type (compile in debug mode for details)"
This makes the results' data attribute not have the required properties.

[2022-02-08 19:10] kevinsung opened #7634 "BasicAer fails when shots requested exceeds a threshold"
### Environment

- **Qiskit Terra version**: 371a2bc2171c6b610c7aa56d60b51f45a0fa7bad
- **Python version**: 3.9.10
- **Operating system**: Arch Linux

### What is happening?

The BasicAer simulator is failing when the number of shots exceeds some threshold.

### How can we reproduce the issue?

[code]
Output:
[code]

### What should happen?

BasicAer should not have a shot limit.

### Any suggesti

[2022-02-08 20:43] kevinsung opened #7635 "Phased XX - YY interaction gate"
### What should we add?

Gate for phased XX-YY interaction. This gate has the same exact definition as [XYGate](https://github.com/Qiskit/qiskit-terra/blob/517265c26e91baac44a690fafe1f473ad89d70b2/qiskit/circuit/library/standard_gates/xy.py) but with XX-YY instead of XX+YY. It is equivalent up to two single-qubit X rotations, but the reason to have it as a separate gate is that those extra single-

[2022-02-08 22:09] MattePalte opened #7636 "Compiler hangs (infinite loop), when transpile( ) receives invalid gate names"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

Running the transpiler to translate a circuit (to an equivalent gate set) hangs the program and never terminates. This happens because the argument `basic_gates` can only accept certain forms of names, e.g., 'h' is accepted but not 'hgate' . And in case

[2022-02-09 10:14] hay-k opened #7637 "Unroller fails while decomposing h to rx and ry"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.9.9
- **Operating system**: Windows 10

### What is happening?

The unroller fails when decomposing a Hadamard gate to Rx and Ry rotations. The following exception is thrown
[code]

### How can we reproduce the issue?

[code]

### What should happen?

The code snippet above should run without exceptions and the resulting c

[2022-02-09 10:51] Cryoris commented on #7637
I think what you're looking for is the `BasisTranslator`, not the `Unroller`.

The `Unroller` only decomposes the gates in a circuit until only gates in your specified set remain. That means it can replace a gate with its definition (specified by the ``Gate.definition`` attribute). But the `Unroller` it does not _translate_ any gate to another set of gates. For example, `HGate` is decomposed to `U

[2022-02-09 11:17] hay-k commented on #7637
I see, thanks! Will give the `BasisTranslator` a try.

So if it just the error message that needs to be updated then I guess this issue becomes the same as https://github.com/Qiskit/qiskit-terra/issues/7182.

[2022-02-09 12:00] AIIIN commented on #7631
@VaibhavSanjay
Yeah, I somehow forgot to supply the whole error message. I updated it accordingly now.

[2022-02-09 12:51] dlasecki opened #7639 "Optimize signatures in VarQte."
The goal of this issue is to optimize methods signatures in VarQte algorithms such that the number of optional boolean flags is limited. Some current boolean flags are only relevant for certain specializations of the algorithm.

[2022-02-09 13:02] Cryoris commented on #7637
Yes, I agree 🙂

[2022-02-09 13:02] #7637 closed

[2022-02-09 14:54] javabster commented on #7629
sure thing @saktar-unr I've assigned to you. Let us know if you have any questions, and make sure to refer to the [contributing guidelines](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md) too 😄

[2022-02-09 16:48] TheGupta2012 commented on #7636
Can I have a go at this?

[2022-02-09 18:19] CharlieDerby opened #7640 "qiskit.execute() does not use the scheduling_method argument"
### Environment

- **Qiskit version**: 0.34.1
- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.2
- **Operating system**: Ubuntu 20.04 (via Windows WSL)

### What is happening?

I'm attempting to queue circuits to run on the devices that involve delays before the measurements. If I send a circuit with a delay then I may receive the error message:

`TranspilerError: "This circuit None ma

[2022-02-09 18:31] MattePalte opened #7641 "Circuit with identity gate fails to transpile to universal gate set"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

Circuit with an identity gate fails to transpile, when we want to translate it to another universal gate set. In this case I wanted to convert a larger circuit to the universal basis `['rx', 'ry', 'rz', 'p', 'cx']`, and this should be possible thanks to

[2022-02-09 19:55] MattePalte opened #7642 "OptimizeSwapBeforeMeasure pass drops Swap gate (even if there is NO measure after it)"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

I define a a sub-circuit without any measurement (since it is intended as sub-component); this sub-circuit ends with a swap gate, then I optimize the sub-circuit (optimization level=3) before using it as building block for a larger circuit/algorithm. But

[2022-02-10 14:27] kevinsung opened #7644 "Consistent API for backend job and results"
### What should we add?

At the very least, I would like (1) below to be addressed.

1. BasicAer job results don't have a `date` attribute. This prevents the user from using BasicAer with Qiskit Experiments, which assumes that such a `date` attribute exists.

2. Aer results do have a `date` attribute, but the type (string) is different from the type of the attribute on an IBMQ job result (datetime

[2022-02-11 12:24] andrenmelo opened #7646 "QuantumInstance.transpile runs bound_pass_manager on unbound circuits when unbound_pass_manager is not set"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**:  3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

If a `QuantumInstance` has a `bound_pass_manager` but not an `unbound_pass_manager`, [`QuantumInstance.transpile` will use `bound_pass_manager` even on unbound circuits](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/utils/quantum_instance.py#L

[2022-02-11 12:25] dlasecki opened #7647 "Implement Gibbs state sampling in custom measurement bases."

[2022-02-11 12:25] dlasecki opened #7648 "Implement estimating observables in Gibbs state sampling."

[2022-02-11 12:26] dlasecki opened #7649 "Accept optimizer and solver objects instead of strings in VarQte."

[2022-02-11 12:28] dlasecki opened #7650 "Automate adding dummy operators on aux registers in Gibbs state sampling."

[2022-02-11 14:50] eggerdj commented on #7398
@jakelishman We can solve this in a backend oriented way since the 16-sample granularity is available in the configuration. For example,
[code]
gives:
[code]
One question to consider, should this de done in the DD pass or is there some other pass that I am not aware of that tries to satisfy such timing constraints.

[2022-02-11 14:54] mtreinish commented on #7398
There is a separate pass to align with backend specified timing constraints: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/passes/scheduling/instruction_alignment.py
Can you try integrating that into your custom passmanager with dd as I expect it to solve the issue if it's run after dd.

[2022-02-11 15:32] mriedem commented on #6188
@mtreinish I see that Qiskit just released support for python 3.10:

https://qiskit.org/documentation/release_notes.html#terra-0-19-2

Does this issue also apply to python 3.10?

[2022-02-11 16:00] mtreinish commented on #6188
So far python 3.10 doesn't seem to be effected by this issue. Looking at the code: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/tools/parallel.py#L69-L70 we should be running things in multiple processes with 3.10 and I haven't seen any of the weird timeouts during testing in CI or locally (although I'm still defaulting to py3.9 mostly locally because of muscle memory and less typing).

[2022-02-11 16:44] anormanhogan commented on #7352
Hey! I'm following up on this since the error seems to have come back. Is there a way to mute it, as the output for long circuits greatly increases run time?

[2022-02-11 18:36] #7303 closed

[2022-02-11 19:42] PetarJurcevic opened #7652 "Add 3rd option to scheduler: 'asap', 'alap' and 'compact'"
### What is the expected enhancement?

Motivation:
currently the transpiler has two scheduling options: asap or alap. From a coherence perspective it makes sense to involve qubits as late as possible and leave them in the initial ground state after reset as long as possible. Below is a simple circuit scheduled on 3 qubits with 'alap' option. the single qubit gates here are simple H-gates. In this

[2022-02-11 22:57] nkanazawa1989 opened #7654 "Wrong definition of circuit scheduling for measurement"
### Environment

- **Qiskit Terra version**: main
- **Python version**: whatever
- **Operating system**: whatever

### What is happening?

As discussed in #7006 currently we allow `measure` instruction to simultaneously write-access to the same classical registers.

[code]

For example, the second measure instruction to q_1 is scheduled in parallel with q_0 (this is okey unless they don't share th

[2022-02-12 16:51] Cryoris commented on #7097
Is this issue actually still present? I just ran the opflow tests and did not encounter any `FutureWarning` anymore. 🙂

[2022-02-13 09:06] tobias-kehrer opened #7659 "LiftedGaussian and LiftedDrag functions in documentation"
Dear Qiskit team,

I guess there is an issue with the recently updated documentation of the Gaussian (https://qiskit.org/documentation/stubs/qiskit.pulse.library.Gaussian.html) and Drag (https://qiskit.org/documentation/stubs/qiskit.pulse.library.Drag.html) pulse. In the following, I will comment on both documentations. Please let me know if my observations are correct.

### 1) Gaussian:
With the

[2022-02-13 10:20] t-imamichi opened #7657 "Equality of `SparsePauliOp`s with different orders"
### What is the expected enhancement?

Two `SparsePauliOp`s with different orders are judges as "not equal" as follows.

[code]

output
[code]

Is it better to return `True` for this comparison or mention the order dependency in the docsting of `__eq__`?

@ikkoham also told me another case as follow. A redundant operator (coeff is 0) makes the comparison "not equal".
[code]
[code]

If we need to c

[2022-02-14 01:43] itoko commented on #7654
I understand this is an issue of spec confliction between circuit and pulse model about classical IO. That is `measure` instruction should lock classical register (creg) for the entire instruction time or little time (currently no time) in the end of instruction.
I agree this would be the good timing to rethink:
Taking the former meaning (=fixing circuit scheduling) or taking the latter (=fixing p

[2022-02-14 04:04] nkanazawa1989 commented on #7654
Probably it's easier to understand the problem with timeline view

[code]

![image](https://user-images.githubusercontent.com/39517270/153797742-585bc39b-d8b0-49c4-a85a-455098125d3b.png)

As you can see the M2 node is scheduled before the X1, this means X1 is conditioned on the unstable register state. I think this is a bug and the easiest way to remove such edge cases is not allowing the simultan

[2022-02-14 08:41] itoko commented on #7654
Umm, I see your point. Current spec assumes an implicit barrier at the end (so X1 and M2 stop at the same time) but some may expect no barrier at the end (M2 should start 160 dt earlier). Anyway, I admit current spec might be unnecessarily　complicated and that there is room for consideration of simplification.

[2022-02-14 09:30] Cryoris commented on #7657
I think this is another case of equality vs equivalence (which we discussed in an issue with @jakelishman but I can't find that discussion right now...). The conclusion, I believe, was that there's a difference between operational equality which tells us on a programmatic level if objects are the same and a functional equivalence which tells us if the objects behave the same/describe the same thin

[2022-02-14 13:38] ikkoham commented on #7657
Imamichi-san and I discussed this issue. My opinion is this behavior is as intended but we need more documentation to `__eq__` and I recommend to add the method `equal_as_operator` which behaves like `np.allclose((a - b).simplify().coeffs, [0])
`.

[2022-02-14 15:42] nkanazawa1989 commented on #7654
I just refreshed my memory :) The schedule can take `AcquireChannel`, `MemorySlot`, `RegisterSlot` with kernel and discriminator parameters, and basically time overlap of these channels are not allowed. Acquire can take either memory or register slot (or both), and register slot corresponds to creg in this case. The memory slot is kind of buffer memory of raw IQ signal, and the discriminated data

[2022-02-14 15:49] taalexander commented on #7659
Thank you for highlighting this @tobias-kehrer. This is a result of an ongoing and chronic misalignment between the Qiskit Terra frontend and backend devices. The backend devices (on which the majority of pulses are implemented) utilize a left sampler strategy (Ie., the documentation is correct insofar as the pulses are executed on hardware). However, as you note the hardcoded strategy is the midp

[2022-02-14 16:08] rmoyard opened #7660 "Impossible to use runtime programs with latest Qiskit version `0.34.2`"
### Environment

- **Qiskit Terra version**:
qiskit                   0.34.2
qiskit-aer               0.10.3
qiskit-aqua              0.7.0
qiskit-ibmq-provider     0.18.3
qiskit-ignis             0.7.0
qiskit-terra             0.19.2

- **Python version**:
Python 3.8
- **Operating system**:
Mac OS (intel chip)

### What is happening?

Since last release of Qiskit, I am unable to run Qiskit runtim

[2022-02-14 16:55] kdk commented on #7386
This is spot on. I wouldn't expect the timing to be too much at risk here, the overhead of a `size` check should be small, and the time-cost of extra runs through the optimization loop should be offset by the improved circuit output, but I suppose we can see what comes back from the existing benchmarks after this merges.

There's an open feature request for this ( https://github.com/airspeed-veloc

[2022-02-14 17:54] tobias-kehrer commented on #7659
Thank you for your response and detailed description of the '+1/2‘ shift issue @taalexander. As you mentioned, the documentation of the LiftedGaussian is correct up to the sampler strategy. Unfortunately, to my mind, there is a further issue with the documentation of the LiftedDrag. It does not define (the real part of) the LiftedDrag to be proportional to the LiftedGaussian as implemented in qisk

[2022-02-14 18:40] mtreinish opened #7661 "Run doctests to validate code examples in documentation and limit jupyter-execute to visualization examples"
### What is the expected enhancement?

Right now in qiskit-terra's api documentation we tend to rely heavily on jupyter execute for including inline code examples. Even when there is not output visualization to include with the code, for example:

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/pulse/builder.py#L383-L393

We should typically be avoiding jupyter-execute in the general case

[2022-02-14 21:38] kdk commented on #7654
If I recall the discussion from #7006 correctly, I believe this was an expected behavior. The explanation was that even though M2 has a clbit-dependency on X1, that dependency locks `c[0]` only at the very beginning of X1 (to determine if X1 should be executed or not) and at the very end of M2 (to record the measurement outcome). However, without any latency of communication or calculation in the

[2022-02-14 22:01] kevinsung opened #7662 "AttributeError: 'list' object has no attribute 'get_virtual_bits'"
### Environment

- **Qiskit Terra version**: 1ae663d80295dce1b6ff25cbf29c640bf2ff9952
- **Python version**: 3.9.6
- **Operating system**: RHEL 8.5

### What is happening?

Passing a pass manager to `transpile` gives an error.

### How can we reproduce the issue?

[code]
---------------------------------------------------------------------------
AttributeError                            Traceback (

[2022-02-14 22:03] kevinsung opened #7663 "TranspilerError: 'The parameters pass_manager conflicts with the following parameter(s): unitary_synthesis_method.'"
### Environment

- **Qiskit Terra version**: 1ae663d80295dce1b6ff25cbf29c640bf2ff9952
- **Python version**: 3.9.6
- **Operating system**: RHEL 8.5

### What is happening?

Passing pass manager to `transpile` without also setting `unitary_synthesis_method` to None gives an error.

### How can we reproduce the issue?

[code]
[code]

### What should happen?

Should not be forced to set `unitary_synth

[2022-02-15 10:11] Cryoris commented on #7660
@jyu00 will know more about this, but as far as I know the fix for this in underway 🙂

[2022-02-15 10:14] Cryoris commented on #7657
Since we already have the `equiv` method in some places, such as `quantum_info.Operator.equiv`, what about calling it that? 🙂 I think that also already does what you're describing here.

[2022-02-15 12:45] kevinsung commented on #7662
Ok it's because `initial_layout` is not allowed to be a list. I think it should be allowed to be any type accepted by `transpile` itself. I've changed the title of this issue accordingly.

[2022-02-15 15:03] kdk commented on #4443
Following up on an offline discussion with the team, the consensus was that BasicAer is still useful in some cases (chiefly test/CI environments), and doesn't require much in terms of ongoing maintenance or development, so the best outcome would be relocating and/or renaming it to  something like `TestProvider` to indicate that it's not intended as a high-performance simulator, and has no relation

[2022-02-15 15:28] kdk commented on #7399
Since #7569 has merged, I'm going to remove this issue from the 0.20 milestone. Is there anything here that's not covered by #4010 , #3950 and #7403 ? If so, can someone clarify what remains and update the title?

[2022-02-15 15:48] kdk commented on #7528
Thanks for looking into this @alexanderivrii .

Interesting, this seems like a likely culprit. It might be interesting to see if this can be mitigated by using class-level attributes, e.g.

[code]
This should satisfy the `ABC` requirements and be faster, and be more common than the case where these properties need to be dynamic (and thus `@properties`). (See also: https://github.com/Qiskit/qiskit-

[2022-02-15 15:58] enavarro51 commented on #7532
@1ucian0, @javabster The mpl version of this was fixed with #7545. The text issue, which is a very different problem, seems to have existed as far back as I can tell. Apparently cp and rzz gates with conditions are rare. Anyway the fundamental problem is that the sidetext gates, including the label, are centered in the layer, which means the bullet is not aligned with the bullet on the condition,

[2022-02-15 17:55] javabster opened #7664 "Improve Latex visualisation error message for xypic, qcircuit and standalone"
### What is the expected enhancement?

Recently when trying to run the latex circuit drawer in a new environment I encountered a vague error that took some digging through the latex logs to find what the actual problem was. In the end all I needed was to install `xypic`, `qcircuit` and `standalone`. It would be good if we had a better error message like we have for `pillow` and `pdflatex`.

### Su

[2022-02-15 18:19] mtreinish commented on #7664
This is not trivial to do, mostly because those error messages get raised by an external process. Mainly we can't know this until we try to run latex to generate the visualization. The missing package is part of your latex distribution and only the latex compiler can tell if it's missing. We're not really in a place to detect whether the latex packages are installed because it's specific to each i

[2022-02-16 00:38] upsideon opened #7667 "Submitting a non-string label to instructions leads to a TypeError when a QuantumCircuit instance is drawn."
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.8.8
- **Operating system**: Pop!_OS 21.10

### What is happening?

While applying an `X` gate to two qubits, I made a mistake in which instead of passing in the target qubit indices as a list like so, `qc.x([0, 1])`, I submitted them as separate parameters as in,  `qc.x(0, 1)`. This lead to the following exception when I l

[2022-02-16 10:36] jakelishman commented on #7667
We need to be a little cautious when dealing with our inner-most objects that we don't introduce performance regressions in the name of error checking, because in Python we can never type-check exactly (the user can _always_ screw with it if they try), and users are meant to read the docs to pass the correct thing.

That said, I think this is a fairly straightforwards quality-of-life improvement,

[2022-02-16 11:05] dlasecki opened #7668 "Define interfaces for the Quantum Imaginary Time Evolution."
The goal of this issue is to implement interfaces for the Quantum Imaginary Time Evolution. They are supposed to cover any time evolution algorithm for evolving quantum states or observables, including time-dependent Hamiltonians, imaginary and real time cases.

[2022-02-16 11:24] Cryoris opened #7670 "Leverage ``quantum_info`` in ``StatevectorSimulatorPy``"
### What is the expected enhancement?

We previously discussed whether we can remove the ``BasicAer`` provider, see #4443, and concluded that we will still keep it for the time being. It might be good to make the statevector simulator in ``BasicAer`` use ``quantum_info.Statevector`` under the hood for two main reasons:
* (probably the more important reason!) ``quantum_info`` is a module we're furt

[2022-02-16 12:43] jakelishman commented on #7664
There are ways we could potentially improve the error message, still - if raising an error is expected to be a termination point of a program (i.e. we don't expect anybody to try/catch it), then we could do some extra checks to provide better errors if we wanted.

For example, we could take a leaf out of C build processes, and try to do things like LaTeX-compile three dummy files that simply try t

[2022-02-16 12:57] jakelishman commented on #7399
I think the remaining problems raised by this issue are just duplicates of the ones that Kevin's raised, so I'll close this now.

[2022-02-16 12:57] #7399 closed

[2022-02-16 16:18] jakelishman commented on #7097
Yep - for example https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=34312&view=logs&jobId=8fcf860c-8d5a-5d3a-546e-59924dc71ae1&j=8fcf860c-8d5a-5d3a-546e-59924dc71ae1&t=d677ba53-4fc9-5372-ced6-0b4a8cddaca6 from line 2753 onwards.

Perhaps you didn't have scikit-learn installed, so the tests were skipped?

[2022-02-16 16:21] jakelishman commented on #7662
Yeah, this is definitely part of a large interface problem surrounding the (complete lack of) separation of responsibilities between `PassManagerConfig` and `transpile`.  Really, `PassManagerConfig` isn't a nice interface as things stand, so the solution to this issue will likely come as larger changes to the whole pipeline come through (see e.g. #6403 for some work, where a similar issue is in th

[2022-02-16 16:35] jakelishman commented on #7663
This is true, but with the `pass_manager` argument to transpile deprecated, probably the best solution for us is just to effect the removal of the `pass_manager` keyword entirely for 0.20, and skip all that code - the deprecation has been kicking around since #4060, which was a little under a year ago now (so probably Terra 0.17 or 0.18).

[2022-02-16 16:54] jakelishman commented on #7352
Do you have a reproducer for the new error?  As far as I know, nothing new should have changed in the 0.19.2 release that happened right before you wrote your comment, so it'd be good to know what's causing it.  Are you using the latest version of Terra?

[2022-02-16 16:55] jakelishman commented on #2645
There have been a few similar randomised errors in the last couple of months, but I haven't had a huge amount of time to look into them, and it seems like some part of our `hypothesis` strategy is a bit bust, because I can't get it to actually reproduce the failures in the right way (or maybe I'm just doing something stupid).

[2022-02-16 17:04] jakelishman commented on #7652
@itoko: I've assigned you for comment/design rather than a hard commitment to implement the feature, since I think this is more in your wheelhouse than anybody else's.

[2022-02-16 19:59] upsideon commented on #2695
May I pick up this issue? I implemented @mtreinish's suggestion locally, as shown below:
`schedules = parallel_map(schedule_circuit, circuits, (schedule_config, method))`
And did not observe any adverse side effects when I added a unit test that calls `qiskit.scheduler.schedule`.

[2022-02-16 20:35] #7418 closed

[2022-02-16 22:51] enavarro51 commented on #7532
Ok. @jakelishman @javabster. So is this acceptable if there's a condition? Creates a lot of whitespace, but at least things are lined up and centered. The other two drawers line up the bullets in the layer and then print the text to the right, rather than centering bullets plus text like the text drawer currently does.
[code]
We then have a choice of leaving these gates as is for no condition,
[co

[2022-02-17 08:19] itoko commented on #7652
OK, I'll work on this after the rework on circuit scheduling passes that @nkanazawa1989 has been starting in #7655

[2022-02-17 08:33] yaelbh opened #7674 "Optimization level 1 skips XX"
### Environment

- **Qiskit Terra version**: 9cc9225f249d3
- **Python version**:  3.9.5
- **Operating system**: Linux

### What is happening?

Pairs of adjacent X gates are reduced to identity only in optimization level 2. Optimization level 1 overlooks them. I know that optimization has no guarantees, nevertheless I'd expect this case to be addressed already at level 1.

### How can we reproduce

[2022-02-17 08:44] yaelbh commented on #7674
I see the same also with I and II

[2022-02-17 12:40] #7441 closed

[2022-02-17 13:02] anormanhogan commented on #7352
Hi Jake,

I just checked and I am actually not running the latest version like I thought; I’m actually on version 0.18.3.

As far as what causes the error, I think its when I use the sx gate just before an x gate, which ends up transpiling to rz sx rz reguardless of what backend is chosen. It’s hard to tell exactly where it’s happening since I am randomizing the placement of Pauli gates in a circu

[2022-02-17 13:21] adekusar-drl opened #7676 "Assign parameters in quantum circuit takes too long time"
### What is the expected enhancement?

When the same circuit is executed many times but with a different set parameters every time, quite a significant amount of time is taken by `QuantumCircuit.assign_parameters()`. This is very important in variational algorithms where a large number of circuits is executed in an algorithm.

A quick profiling of the script attached below finds that out of total

[2022-02-17 13:43] jakelishman commented on #7676
We are planning to entirely overhaul how classical parameters are handled, beginning in 0.20, though it might take longer for all the benefits to be fully realised.  The two main points you've identified here we 100% know about, and the implementation of #7624 should fix them, which should be in 0.20.

The main issue is that the current model was never really designed for these use-cases; `params`

[2022-02-17 14:04] jakelishman commented on #7352
Ok, in that case I think it's the same situation we were in before - Terra 0.19 should no longer be issuing those warnings, which hopefully should fix your immediate run-time issues. Please let us know if that's not the case by opening a new issue, since that would be a new bug.

What Lev said before about RZ and Z being effectively error-free on all hardware (that I can think of) still holds true

[2022-02-17 14:04] #7352 closed

[2022-02-17 14:25] mtreinish commented on #7676
I'm just curious which OS are you running on and do you have symengine installed? On windows symengine isn't installed by default because of limitations in platform markers but it is installable. When I run your profile script it takes ~5.6 seconds per iteration and the parameter assignment is faster than the instruction copy under `assign_parameters()` What @jakelishman is referring to should add

[2022-02-17 14:30] mtreinish commented on #7674
You just need a list of basis gates set. The optimization passes run in level 1 to do the 1q simplification need to know the basis set to perform the optimization. Level 2 doesn't have this constraint because it runs additional more expensive optimization passes which are basis independent.

For example if you change the last 2 lines of your script to:

[code]
you'll get the same result circuit wi

[2022-02-17 14:33] jakelishman commented on #7676
I got roughly similar relative timings to the top post with `symengine` on Mac (about 7s per iteration for me) - I was slightly surprised as well, because that was my first thought.

[2022-02-17 14:35] khieta opened #7677 "NoiseAdaptiveLayout cannot handle inconsistent properties/configuration (like in FakeMelbourne)"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.9
- **Operating system**: macOS Monterey

### What is happening?

Hi, I was playing around with different layout & routing options in the transpiler, and I noticed that the NoiseAdaptiveLayout pass sometime leads to errors in later passes because it adds invalid qubits to the layout.

### How can we reproduce the issue?

H

[2022-02-17 14:36] jakelishman commented on #7676
The other part of new classical parameters is that we'll be promoting the workflow Matthew suggested (passing parameters to Aer) up to first-class status, because that'll be a more complete way to handle dynamic circuits in general. In the future, you'll be able to use the outputs of measurements to influence the classical values used in parameters, etc while on the actual quantum hardware.  There

[2022-02-17 14:59] adekusar-drl commented on #7676
@mtreinish Initially, my data was collected on Windows. It is a 3+ years old laptop.
I do have `symengine` and `sympy `installed:
[code]
Although they may be outdated.

On Mac I see pretty much the same picture:
![image](https://user-images.githubusercontent.com/62334182/154505539-1abea2fb-2949-4a5a-b0f8-fa5eda14c1eb.png)
Timings may vary, but in general it is similar.

Mac setup:
[code]

In QML w

[2022-02-17 18:27] georgios-ts commented on #7677
This seems to be a bug in the fake Melbourne backend since its properties report an extra qubit:

[code]

[2022-02-18 12:56] mtreinish commented on #7663
Closed by: https://github.com/Qiskit/qiskit-terra/pull/7679 which removes the `pass_manager` kwarg.

[2022-02-18 15:29] #7612 closed

[2022-02-18 15:49] #1794 closed

[2022-02-18 18:35] jakelishman commented on #6769
This should have been fixed by the merge of #6259.

[2022-02-18 18:35] #6769 closed

[2022-02-18 18:53] jakelishman commented on #7634
`BasicAer` is largely just meant for testing of things that need to run on a backend within Terra, and it's not efficient at all.  If there's a large number of shots, it's really a lot better to use the full Aer, and we probably don't really want to encourage people to use `BasicAer` for anything more than small-scale local testing.

[2022-02-18 18:59] #7644 closed

[2022-02-18 19:12] jakelishman commented on #7628
I think the right way to go about this is to add a `permute` method to the operator/statevector/pauli-op/etc classes in `qiskit.quantum_info` and leave other things alone.  A lot of combinatorial operations on `quantum_info` classes already support this via the `qargs` keyword argument (technically `permute` can already be achieved inefficiently by composing `Operator` with the identity operator,

[2022-02-18 19:44] kevinsung commented on #7627
Aer is indeed the first choice for simulation. But having a pure Numpy simulator is still useful for at least two reasons:
1. Doesn't require installing Aer.
2. Can simulate any gate with a matrix.

Given that Qiskit already has Numpy simulation functionality, exposing that functionality as a backend seems to be a pretty straightforward task. Indeed, I think it makes sense to extend BasicAer to ac

[2022-02-18 19:57] kevinsung commented on #7628
@jakelishman Permuting quantum objects is a good feature, but it is a separate issue. Permuting a quantum object is a physical operation (i.e. permuting qubits is equivalent to performing a SWAP gate on them). This issue is about requesting information about an object, but in a different convention than the one Qiskit uses by default. Of course, this can be simulated by permuting the objects, but

[2022-02-18 20:18] nonhermitian commented on #7628
I see this issue is raising its head again.

It was decided several years ago that Qiskit would use the little-endian convention everywhere as it makes quite a bit of sense.  I am not sure that this issue will gain much traction given that all agreed that this was the way forward many years ago, and mixing conventions is never a good thing.

[2022-02-18 20:36] kevinsung commented on #7628
I understand the concern about mixing conventions, but I don't think it's such a big deal. I'm not suggesting mixing conventions anywhere within the library, but only providing the option to the end user. Besides, the Qiskit "ecosystem" has already started mixing conventions, considering that both Qiskit Nature and mthree use big-endian.

[2022-02-18 20:44] nonhermitian commented on #7628
M3 uses the standard Qiskit convention.  Qiskit Nature should as well, save for perhaps some unintentional usage

[2022-02-18 20:59] kevinsung commented on #7628
@nonhermitian
[code]
prints
[code]

The developers of Qiskit Nature deliberately chose to use big-endian instead of little-endian throughout the library (as @mrossinek can confirm). When they convert Nature operators to Terra operators, a silent switch to little-endian is performed.

[2022-02-18 21:19] javabster commented on #7532
I think the first option is fine, if there is a way to fix it so there is less whitespace that would be the best option but if it is too complex I am happy to push this through to at least fix the bug and we can try fix the whitespacing at a later date. In other words: first priority is to fix the bug, and adjusting to have less whitespace would be a nice to have but not essential.

For the other

[2022-02-18 21:40] kevinsung commented on #7644
Perhaps I did not clearly describe the issue. The issue is that `Job`, `IBMQJob`, and `AerJob` all have differences that seem arbitrary but cause programming surprise and annoyance. Yes, this is technically not a bug, but it is still an issue in my opinion.

[2022-02-18 22:02] enavarro51 commented on #7532
That was my most likely conclusion as well, so that's what I did in #7673.

[2022-02-19 22:17] mtreinish commented on #6188
In doing debugging the test hangs we've been hitting in #7658, I came across an issue on upstream Python around this: https://bugs.python.org/issue40379 based on that and related issues it seems like the issue here is caused by fragility in how the `"fork"` start method is implemented in cPython. We likely hit this in Python 3.9 because of changes made to the `ProcessPoolExecutor` causing the hang

[2022-02-20 18:02] omarcostahamido opened #7684 "inconsistent fake backend code structure"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**:
- **Operating system**:

### What is happening?

[fake_melbourne.py](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/test/mock/backends/melbourne/fake_melbourne.py) and [fake_poughkeepsie](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/test/mock/backends/poughkeepsie/fake_poughkeepsie.py) isn't structured th

[2022-02-20 20:50] omarcostahamido opened #7685 "FakeBogota, FakeManila, FakeRome, and FakeSantiago can be a FakePulseBackend"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**:
- **Operating system**:

### What is happening?

fake_bogota, fake_manila.py, fake_rome.py, and fake_santiago.py don't refer to its defs_bogota, defs_manila.json, defs_rome.json, and defs_santiago.json file and it could.
https://github.com/Qiskit/qiskit-terra/tree/main/qiskit/test/mock/backends/bogota
https://github.com/Qisk

[2022-02-20 20:52] omarcostahamido opened #7686 "FakeRueschlikon, FakeTenerife, and FakeTokyo need files"
### What is the expected enhancement?

FakeRueschlikon is missing props, conf, and (optionally) defs files are missing at
https://github.com/Qiskit/qiskit-terra/tree/main/qiskit/test/mock/backends/rueschlikon
FakeTenerife could still use conf and (optionally) defs files too at:
https://github.com/Qiskit/qiskit-terra/tree/main/qiskit/test/mock/backends/tenerife
FakeTokyo could still use conf and (o

[2022-02-20 21:32] DiegoBulhoes commented on #6734
I was still able to trigger the same bug by using the following dependencies:

[code]

Problem used
[code]
Traceback:
[code]

[2022-02-21 12:21] jakelishman commented on #7684
You should not rely on the presence of the JSON files - the fact that some of the backends store there information like this is an implementation detail, and not part of the public interface.  The only supported way to access the features of the backends is via the `configuration` and `properties` attributes.

The number of qubits should be available in all these backends by `len(backend.propertie

[2022-02-21 12:21] #7684 closed

[2022-02-21 12:31] jakelishman commented on #7686
I don't know the full details for all three backends, but Rüschlikon at least was very old and was decommissioned years ago.  With the machines long gone, we don't have enough calibrations to completely create those files, but also as in #7684, the files themselves are more an implementation detail anyway.

[2022-02-21 12:31] #7686 closed

[2022-02-21 13:36] jakelishman commented on #6734
Looks like Bruno has merged a fix to Tweedledum's main branch, but there hasn't been a 1.1.2 or 1.2 release yet to put the feature out into the world.  You can install Tweedledum from source though (see https://github.com/boschmitt/tweedledum), which should hopefully work immediately.

At any rate, this is the responsibility of Tweedledum, so I'll close the issue on this repository.

[2022-02-21 13:36] #6734 closed

[2022-02-21 13:46] omarcostahamido commented on #7684
Dear @jakelishman I totally understand your point.
In any case, I do believe it would be nice to have consistency in the code structure.
I was never intending to change any part of the public interface - something that would require adding some relnotes to the PR.
Again, my intent was really just to have the code structure a bit more consistent. This is especially important since, for example, if

[2022-02-21 13:55] jakelishman commented on #7628
I'm happy to accept a small, self-contained and composable function `permute` that is the more general case of `reverse_qargs`, but Terra already has a convention for API boundaries (requesting objects), and I don't want to accept a PR muddying those waters because of the associated maintenance cost, in software, documentation and mental model for users.

If you want the returned results to be in

[2022-02-21 13:59] jakelishman commented on #7684
Yeah, our documentation is very much not perfect, and I understand the frustration.  I promise that we are working on it - we've recently started a much larger push internally to increase the quality and scope of the documentation, and hopefully you'll start seeing improvements there in the near future.  Part of that also comes by limiting the scope of what we'll accept in PR requests, so we can s

[2022-02-21 14:07] jakelishman commented on #7627
Yeah, in an ideal world I wouldn't be rejecting things that can be useful.  Here, it's rather more about pragmatism than anything else - any feature needs to have people committed long-term to maintaining it, and we just don't have the resources to commit to maintain proper interfaces for both Aer and a second, far less efficient, simulator (we barely have the resources to fully maintain Aer).

It

[2022-02-21 14:37] kevinsung commented on #7628
@jakelishman I tried to simulate the circuit in your code using AerSimulator but got
[code]

By "physical operation" I did not mean that it is related to hardware. I meant that it is a physically significant operation. For example, suppose the operator represents the Hamiltonian of a particular physical system being modeled. Enacting a non-trivial permutation on the operator would result in a diff

[2022-02-21 14:51] kevinsung commented on #7627
The fact that `BasicAer` exists in the public API already suggests a commitment to maintain it. So this issue does not entail any further commitments. It's really about bringing BasicAer up to a standard that is already implied, but as yet unfulfilled. It is detrimental to a user's experience when they find there is a publicly exposed Numpy simulator and try to use it, only to find that it is not

[2022-02-21 15:16] jakelishman commented on #7628
If the existing forms can be used for the post-processing you'd like, I'll close this issue, but if you'd like to mentor a project to expand `permute` in `quantum_info`, I'll happily leave it open.

[2022-02-21 16:29] Alex-259 opened #7690 "Problems with running PennyLane's Transfer Learning notebook on real backend"
### Environment

Qiskit Software | Version
-- | --
qiskit-terra | 0.18.3
qiskit-aer | 0.9.0
qiskit-ignis | 0.6.0
qiskit-ibmq-provider | 0.16.0
qiskit-aqua | 0.9.5
qiskit | 0.30.1

Python | 3.7.11 (default, Jul 27 2021, 14:32:16)  [GCC 7.5.0]
-- | --
OS | Linux
CPUs | 12
Memory (Gb) | 62.85524368286133
Fri Feb 18 18:53:45 2022 CET

### What is happening?

I wanted to run PennyLane's notebook "Quant

[2022-02-21 16:43] omarcostahamido commented on #7684
Thank you for your understanding and for sharing this additional information @jakelishman .

[2022-02-21 17:07] 1ucian0 commented on #6616
The PR #6648 was not having a lot of movement. @singhsanskar202 or @Quant02, does any of you would like to take over? If you use the code in #6648, remember to co-author it.

[2022-02-21 17:12] 1ucian0 opened #7691 "test_gate_map needs to be moved to snapshot testing"
### What is the expected enhancement?

In #4544 Qiskit introduced a way to test image snapshots. The tests `test/python/visualization/test_gate_map.py` compare images (or I think they should, not even sure if they work) and, therefore, they should be moved the snapshot testing.

[2022-02-21 17:47] #6188 closed

[2022-02-21 18:47] omarcostahamido opened #7692 "Fix contributing doc"
### What is the expected enhancement?

While preparing to submit #7688 I came back to [CONTRIBUTING.md](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md) to review the relnotes process. I detected a small text typo that I propose fixing in the PR linked below.

[2022-02-21 19:02] MattePalte opened #7694 "Transpilation (level 3 + custom Coupling Map) change my register's name: `CircuitError: 'qargs not in this circuit'`"
### Environment

- **Qiskit Terra version**:  0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

The transpilation pass with optimization level 3 and coupling map passed returns a circuit with a default name "q" for its quantum register, so if I try to add other gates (e.g. measurement) after, it fails with error: ``.

### How can we reproduce the

[2022-02-21 19:19] jakelishman commented on #7694
It is a slightly strange and non-ideal behaviour, but you almost invariably shouldn't be modifying a circuit after transpilation.  That should be the final step in any processing pipeline - the transpilation is meant to prepare a complete quantum program to run on an actual backend, and any modifications you make to it after that will invalidate the operation.

Think of it like trying to modify th

[2022-02-21 22:33] kevinsung commented on #7627
Related: https://github.com/Qiskit/qiskit-terra/issues/7670

[2022-02-21 22:56] mtreinish commented on #7627
I think there is some tension here between some of the goals outlined in this issue and the purpose and future direction of `BasicAer`. In general as @jakelishman says qiskit-aer should be our general purpose simulator, it's performance will generally be better and it has far more features than what we do in basic aer. To really expand the feature set of basic aer (or introduce yet another new sim

[2022-02-22 06:50] #7654 closed

[2022-02-22 14:20] MattePalte commented on #7694
@jakelishman thanks for commenting.
Indeed, my use of the API can be considered a bit borderline. Anyway, have you already considered in the past to use an immutable version of the QuantumCircuit after the transpilation so to enforce this rule (aka don't use the circuit after transpilation) if that is the intended behavior?

[2022-02-22 17:03] kevinsung commented on #7627
I'm okay with closing this issue in favor of specific issues about BasicAer. @jakelishman could you please reopen #7633 and #7634?

[2022-02-22 17:07] kevinsung commented on #7633
From @mtreinish at #7627:

What if we make the backend support any instruction (use a trivial predicate when checking if an instruction is supported) by trying all possibilities (decomposition, matrix) and raising an error if there is really no way to simulate it?

[2022-02-22 17:50] JoelHBierman opened #7699 "Expectation values of observables in Opflow framework are sometimes incorrect when circuit is deep."
### Environment

- **Qiskit Terra version**:  0.19.2
- **Python version**: 3.9.7
- **Operating system**: CentOS 7

### What is happening?

For moderately-sized systems where a deep ansatz circuit is used, the expectation value returned by sampling the circuit using `CircuitSampler` will return a verifiably incorrect answer. I first noticed this issue when running VQE simulations for moderately-siz

[2022-02-22 21:15] amyels commented on #7359
Hi! I was able to reproduce this bug and was interested in resolving this issue. So I'm a little confused by the resolution, so we want to check before dividing by 0 but we don't want an error to be thrown?

[2022-02-22 23:23] MattePalte opened #7700 "Transpilation (Opt. Level 2) fails with registers larger than 10 bits `ValueError: too many subscripts in einsum`"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

When I transpile this circuit with optimization level 2, it strangely fails if the register is larger than 10 bits, but with 10 or less bits it works as expected.

### How can we reproduce the issue?

Run this script:
[code]
Output:
[code]

Then transpil

[2022-02-23 12:20] Qottmann opened #7701 "Complex conjugate of QuantumCircuits"
### What is the expected behavior?

It would be extremely useful for [quantum-assisted-quantum-compilation](https://quantum-journal.org/papers/q-2019-05-13-140/) to have a method `complex_conjugate()` for QuantumCircuit objects that returns the same circuit but complex conjugated (**not** transposed).

If that is too much to ask, already having the option for individual circuit elements in the (ci

[2022-02-23 16:55] jlapeyre commented on #7359
To clarify a bit. The purpose of this code
https://github.com/Qiskit/qiskit-terra/blob/a6cb1a37f52fd98f90d0685d1fdcba447a5345b7/qiskit/quantum_info/operators/symplectic/pauli_list.py#L193-L198

Is to set `stop` to a small number to avoid printing too much output.  Initially it is set here
https://github.com/Qiskit/qiskit-terra/blob/a6cb1a37f52fd98f90d0685d1fdcba447a5345b7/qiskit/quantum_info/opera

[2022-02-23 18:34] jakelishman commented on #7700
This can only happen while you don't have a coupling map set, either directly or by setting a `backend` argument.  This is because if a layout is set, we decompose large operators down to at most 2-qubit operators before trying anything else.  The immediate workaround is just to set a backend, then this will work.

It happens because we use Numpy's einsum to do generalised matrix-matrix multiplica

[2022-02-23 19:21] #7600 closed

[2022-02-23 22:03] woodsp-ibm commented on #7699
I see that you are using the AerPauliExpectation above - was this the same VQE whether explicitly using that expectation object or implicitly via id default with include_custom=True. As that latter flag may suggest the expectation is computed using a custom Aer instruction. You say you are using the same Terra version - how about Aer?

The random_seed setting will affect any aspects of the algorit

[2022-02-23 22:07] #7685 closed

[2022-02-23 22:24] jakelishman commented on #7641
This is because `id` in Terra isn't actually an identity gate for legacy reasons, it (rather unintuitively) represents a delay cycle.  Both #7146 and #7403 would already fix this, but we can't merge them yet, because we still need to support the legacy behaviour until it's completely gone from our backends.  @kdk knows more about when this will be.

I'll close this as effectively a duplicate of kn

[2022-02-23 22:24] #7641 closed

[2022-02-23 22:32] jakelishman commented on #7642
Right now, `transpile` is purely for complete quantum programs; you say you want to use it on a subcomponent, but right now that's not a supported use.  In the context of an entire program, there is no semantic violation here.  Our documentation on this expectation could certainly be better, though.

Compilation of subcomponents is something that has come up a couple of times before, and it may be

[2022-02-23 22:48] jakelishman commented on #7636
This is similar to #5539, perhaps a slightly different manifestation because here there are _no_ valid gates in the set.  It's not actually an infinite loop, it's just unacceptably slow - if you let it run for a couple of minutes, it will eventually report that the basis is unreachable.

The new basis-translation strategy in #7211 I would imagine (but haven't verified) will fix this directly and h

[2022-02-23 22:48] #7636 closed

[2022-02-24 01:21] JoelHBierman commented on #7699
For VQE simulations, I explicitly provide it both `expectation=AerPauliExpectation()` and `include_custom=True`.

The point about the Aer version is a good one. I should keep track of the qiskit-aer version more carefully and I am not sure which qiskit-aer version I used on my local machine. If I use terra 0.19.2 and Aer 0.10.2 on both machines, the test above results in the returned value of -0.0

[2022-02-24 05:25] JoelHBierman commented on #7699
So far away, it looks like this issue goes away when using qiskit-aer 0.10.3, so this was likely related to one of the bug fixes in that update. Are there plans to add these bugfixes to qiskit-aer-gpu?

[2022-02-24 08:55] Alex-259 commented on #7690
The bug can be fixed by updating `Pennylane` and `Pennlane-qiskit` to the version `0.21.0` instead of the previous used `0.18.0`

[2022-02-24 08:55] #7690 closed

[2022-02-24 09:46] derhagen commented on #7631
Some of my students stumbled upon the same issue.

`circ.initialize('+++')` seems to create density matrices by default. I could make it run as follows:
[code]

I'll debug in more detail, if I find the time

[2022-02-24 13:53] woodsp-ibm commented on #7699
qiskit-aer issues/code are managed in a different repository. Perhaps @chriseclectic or someone else from the Aer team can comment on the above.

[2022-02-24 13:58] mtreinish commented on #7699
Oh, thanks for the heads up, I completely missed that the gpu wheel build job failed on the last release: https://github.com/Qiskit/qiskit-aer/actions/runs/1819280467 (they take hours and forgot to circle back and check it). It looks like it failed because python3.10 (which was new for 0.10.3) uses a different base image and the cuda package we installed wasn't compatible with that OS version. I'l

[2022-02-24 14:09] JoelHBierman commented on #7699
Great thanks! I'll close this issue for now then because it seems to go away when using the latest version of Aer. If it turns out I just haven't tried hard enough to reproduce it and it shows up again, I'll re-open it in the repository that seems most likely to be the issue.

Right now it seems that the fix most likely responsible for fixing this was mentioned in the 0.10.3 release notes as :

"M

[2022-02-24 14:09] #7699 closed

[2022-02-24 14:35] Lolcroc opened #7704 "`Bit` subclasses do not define `__slots__`, effectively making this field useless"
According to the official docs:

"The action of a `__slots__` declaration is limited to the class where it is defined. As a result, subclasses will have a `__dict__` unless they also define `__slots__` (which must only contain names of any additional slots)."

### What is the expected enhancement?

All subclasses down the inheritance chain (`Qubit`, `Clbit`, `AncillaQubit`) ought to define:

`__sl

[2022-02-24 15:02] jakelishman commented on #7704
The omission of `__slots__ = ()` from the child classes doesn't make the field _entirely_ useless (the defined slots are still used, avoiding the hash-map lookup), but it is ensuring the creation of an instance dictionary that never gets populated with anything, which is a little slower and more memory hungry.

I'm happy to accept a PR fixing this.

[2022-02-24 15:32] mtreinish opened #7705 "Add adaptive limits for VF2Layout in preset passmanagers"
### What is the expected enhancement?

In #7213 we added the vf2layout pass to all the preset passmanagers. For the instantiation of that pass on each optimization level we had to set limits on the pass, both in number of internal vf2 state visits (which gets passed directly to retworkx), as well as other options to limit the amount of time we spend searching for an ideal solution. For example:

-

[2022-02-24 17:55] Cryoris commented on #7701
That's an interesting feature! Are you aware of any other use-cases where the complex conjugate might be useful?

If we were to implement this, we could probably do this analogously to the `inverse`: add `complex_conjugate` methods to the gates and then delegate `QuantumCircuit.complex_conjugate` to the gates. Technically, I don't think that would be a lot of effort and if you need this feature no

[2022-02-24 18:14] adekusar-drl opened #7706 "HAS_JAX helper does not work in unit tests"
### Environment

- **Qiskit Terra version**: sources
- **Python version**: 3.8
- **Operating system**: Mac, Windows

### What is happening?

A helper `_optionals.HAS_JAX` does not work in unit tests. An exception is thrown, see the stack trace. Outside unit tests everything looks good. Initially, an idea was to write a test that works in both cases with and without JAX installed. While this issue

[2022-02-24 18:35] jakelishman commented on #7706
Looks like the object is working ok, but `jax` itself (or more accurately, a dependency of `jax`) uses the `imp` module which raises a `DeprecationWarning`, and we error on unhandled warnings during test execution.

Does it similarly fail if you use it in a `@unittest.skipUnless(_optionals.HAS_JAX)` decorator?  I would expect that in that case, the tests should pass, because the `jax` import will

[2022-02-24 21:19] #7238 closed

[2022-02-24 23:47] adekusar-drl commented on #7706
That's right, the Qiskit code looks fine.

I added the decorator and, as you expected, the test passed. And this is a good idea, instead of having two tests in one script I can split JAX/No JAX tests into two independent scripts and the problem is solved! Thanks for the hint!

[2022-02-24 23:47] #7706 closed

[2022-02-25 00:13] ajavadia commented on #7181
yeah i also noticed this pass scales very poorly as circuit size increases.

[2022-02-25 00:38] #7315 closed

[2022-02-25 11:06] ShellyGarion commented on #7701
If the `QuantumCircuit` is small (or of a special type like `Clifford`) then one can convert it into and `Operator` and use:
https://qiskit.org/documentation/stubs/qiskit.quantum_info.Operator.conjugate.html#qiskit.quantum_info.Operator.conjugate

[2022-02-25 12:47] ajavadia opened #7707 "SabreLayout does not terminate in some cases"
### Environment

Qiskit version: master
Python version: 3.8.8
OS: Mac OS 12.2

### What is happening?

SabreSwap gets stuck in some specific cases and does not make forward progress.

### How can we reproduce the issue?

here's an example that runs indefinitely for me. Note that even though I run SabreLayout, internally it is calling SabreSwap and that's where it gets stuck.

[code]

### What shou

[2022-02-25 16:35] mtreinish commented on #7699
Just fyi the wheels for python 3.6-3.9 qiskit-aer-gpu are live on pypi now (as of yesterday): https://pypi.org/project/qiskit-aer-gpu/0.10.3/ the 3.10 wheels will take a little more time to get ironed out

[2022-02-25 19:39] amyels commented on #7621
Hello, I'm interested in this issue. If possible could I have more information about the problem?

[2022-02-26 15:14] enavarro51 commented on #7707
@ajavadia I can take a look at this.

[2022-02-26 21:56] #7532 closed

[2022-02-27 06:23] corbett5 commented on #7640
+1, I've also encountered this error.

[2022-02-27 13:12] jakelishman commented on #2645
This latest failure on `main` is likely to be repeated until fixed.  The relevant bit of the logs are:
[code]
which means it's very likely to be related to Qiskit/qiskit-aer#1461, and the error here seems to agree with my guess in that issue as to what the problem is.

We'll likely need to scan all our dependencies and ourselves to work out where the bad `-ffast-math` library is getting loaded fro

[2022-02-27 13:31] jakelishman commented on #2645
Wait, what on earth - `-ffast-math` is just hardcoded in Aer.  We should _not_ be doing that, and we've been doing it wrong for a long time.  The error only just appeared now because Hypothesis 6.38 released yesterday which included the explicit check.

[2022-02-27 13:40] mtreinish commented on #2645
Is the fast math error actually coming from aer? I was under the impression that it was a terra dependency introducing the warnings in qiskit/qiskit-aer#1461 and probably a new release of that upstream dependency or a shift in import order (probably from #7525) that started emitting the fast math warnings.

[2022-02-27 13:48] jakelishman commented on #2645
It's hardcoded into Aer's `CMakeLists.txt` for non-MSVC at least.  I'm fixing that now, but I can't test it to be sure, because I have a Mac, and `clang`'s `-ffast-math` doesn't enable subnormal flushing (and I struggled to trick Aer into building with `gcc` on my machine).

[2022-02-28 01:32] corbett5 commented on #7640
Actually the following works for me with Qiskit Terra version 0.19.2

[code]

I tried a bunch of combinations and this was the only one that worked.

[2022-02-28 09:20] nonhermitian opened #7714 "barriers get expanded to full system width during transpile"
### Environment

- **Qiskit Terra version**:  latest
- **Python version**:
- **Operating system**:

### What is happening?

The barrier on a circuit gets applied to every qubit when transpiled rather than to just those qubits involved.

[code]

### How can we reproduce the issue?

Transpile the above circuit and draw the output.

### What should happen?

The barrier should be applied only to the s

[2022-02-28 10:00] jakelishman commented on #7714
Was there any particular set of options to `transpile`, and how "latest" is your Terra version?  My simplest reproducer on 44f794a didn't show any issues:
[code]
and the same held at any value of `optimization_level`.

[2022-02-28 10:25] nonhermitian commented on #7714
Try transpiling to a backend, eg `FakeAthens`:

[code]

{'qiskit-terra': '0.19.2', 'qiskit-aer': '0.10.3', 'qiskit-ignis': '0.7.0', 'qiskit-ibmq-provider': '0.18.3', 'qiskit-aqua': None, 'qiskit': '0.34.2', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}

[2022-02-28 12:03] nonhermitian commented on #7714
Yes, that condition no longer exists, and one can do measurements anywhere in the circuit now.

[2022-02-28 12:07] mtreinish commented on #7714
On IBM hardware that's the case, but other backends still have a similar limitation. For example, if you use any of the trapped ion providers (aqt and ionq definitely, not sure about honeywell) they don't support mid circuit measurement and can only measure at the end.

[2022-02-28 12:16] nonhermitian commented on #7714
Well luckily the HW mentioned has all-to-all connectivity and would not be swap mapping (the root of the problem).  Honeywell does indeed support mid-measurements.  Agree that others may not.  However, the current pass setting was very much an IBM specific issue that was being addressed at the time.

The problem here is that it makes traversing the circuit looking for active qubits inefficient as

[2022-02-28 15:54] rmoyard commented on #7660
Hi @Cryoris @jyu00! Are the runtime programs down? Now it does not return any error but the result `job.result()` is empty for any of my programs.

[2022-02-28 16:11] jyu00 commented on #7660
@rmoyard Yeah runtime is having an issue right now that's preventing results from being returned. We've identified the cause and are working on a fix, which should be available later today.

[2022-02-28 16:57] rmoyard commented on #7660
@jyu00 Thank you for the update! Is there a place where I can find the status of runtime programs?

[2022-02-28 16:59] nonhermitian commented on #7317
@nkanazawa1989 any progress to report here?  The above issue is a pain and hopefully we can squash it soon.

[2022-02-28 17:14] nkanazawa1989 commented on #7317
Yes, this actually involves the refactoring of the whole framework in addition to the DD pass. I have updated the behavior of scheduling pass in #7655, and current stage is #7709 which upgrades scheduler pass and introducing `BasePadding` class which will be new base class of dynamical decoupling pass. Then, DD pass will be upgraded to consider the pulse alignment. Hopefully I can get reviews soon

[2022-02-28 21:49] #1743 closed

[2022-03-01 11:37] mtreinish opened #7717 "Avoid pydot for graphviz based visualization"
### What is the expected enhancement?

The current releases of pydot has a compatibility issue with it's upstream dependency pyparsing causing parsing errors that introduce empty nodes into visualizations (see: https://github.com/pydot/pydot/issues/280). For example: https://qiskit.org/documentation/stable/0.34/stubs/qiskit.visualization.dag_drawer.html#qiskit.visualization.dag_drawer This raises

[2022-03-01 12:57] jyu00 commented on #7660
Runtime was also upgraded to 0.34.2. Closing this issue.

[2022-03-01 12:57] #7660 closed

[2022-03-02 15:04] kevinsung opened #7720 "Support drawing circuit with vertical wires"
### What should we add?

`QuantumCircuit.draw` should support drawing the circuit with vertical wires instead of horizontal. This is useful when the length of the circuit exceeds the width of the display area. With horizontal wires, this situation results in line wrapping, but with vertical wires no wrapping would be needed because one can scroll, and it's easier to read the circuit contents that

[2022-03-02 17:34] qci-amos opened #7721 "LayoutTransformation mapping qubits incorrectly between dags"
I'm not sure I understand what's happening, but I use `LayoutTransformation` and I recently hit a bug where `LayoutTransformation` isn't producing the desired output. It's actually non-deterministic, sometimes it works, other times the exact same input does not (if I set a `seed`, then it becomes deterministic).

I've found that if I replace this line:
https://github.com/Qiskit/qiskit-terra/blob/b

[2022-03-02 18:04] jakelishman commented on #7721
Please can you provide a reproducer of your bug?  The extra information here is super nice, but I don't actually understand what problem you're having.

[2022-03-02 19:02] qci-amos commented on #7721
[code]
It prints this (incorrect) dag:
[code]

In order to find this one which fails, I did a combinatorial search. I didn't find a smaller `from_grid` which exhibits the problem.

This particular test was run on `0.18.3`, but I believe I checked the latest `main` too.

[2022-03-02 19:05] qci-amos commented on #7721
Oh, and that test passes as written if I remove the `sorted` from `LayoutTransformation` as described above.

[2022-03-02 19:35] Gaya3-mv commented on #6731
@apcarrik Is the issue fixed? Or else, I would like to give it a try.

[2022-03-02 21:40] qci-amos commented on #7721
This issue was created by selecting a line in the code on GH and then clicking "Reference in new issue" in the context menu. I just confirmed, no issue template is presented to the reporter!

[2022-03-03 03:34] apcarrik commented on #6731
There was a lengthy discussion on what exactly the desired behavior is for this, which never really came to a consensus (see PR #[6762](https://github.com/Qiskit/qiskit-terra/pull/6762).

[2022-03-03 06:57] Gaya3-mv commented on #6731
@apcarrik Ok. Sorry, I didn't know about all this progress regarding fixing this issue. Thanks for updating that you are continuing on fixing it.

[2022-03-03 10:08] 1ucian0 commented on #7720
well.. until the amount of qubits gets too big for your screen :)

This is a mayor change. So, here are some alternatives:
 1. Did you try the option `fold=...`? Most (all?) of the drawers support this option to break lines nicely.
 2. For latex and mpl, we could just flip the result before showing it. This would also change the orientation of the text, of course. Would this be good enough?

Anyth

[2022-03-03 10:08] #7720 closed

[2022-03-03 10:43] nonhermitian opened #7724 "Calling stochasticswap pass directly fails"
### Environment

- **Qiskit Terra version**: `{'qiskit-terra': '0.19.2', 'qiskit-aer': '0.10.3', 'qiskit-ignis': '0.7.0', 'qiskit-ibmq-provider': '0.18.3', 'qiskit-aqua': None, 'qiskit': '0.34.2', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}`
- **Python version**:
- **Operating system**:

### What is happening?

A simple modification

[2022-03-03 11:49] jakelishman commented on #7724
This appears to have been fixed on `main` already for me, probably as a result of #7658 - could you check locally to see if the problem persists for you on `main`?

[2022-03-03 12:13] nonhermitian commented on #7724
Yes.  This now works on main.  Although still curious why it worked via `transpile` but not directly.

[2022-03-03 12:13] #7724 closed

[2022-03-03 12:29] mtreinish commented on #7724
My guess is that it worked with `transpile()` because `transpile()` will run a layout pass (which by default will be `DenseLayout`) prior to running stochastic swap. With the layout applied the input dag to stochastic swap will have ancilla qubits for all the idle physical qubits and also a different order based on the layout. I expect that all makes it easier for it to find a valid mapping. As to

[2022-03-03 13:53] jakelishman commented on #7721
Perfect, thanks.  That's enough for us to go on, though I'm not sure if we'll have many resources to put into it internally - I wasn't even aware of this pass's existence, and it looks like it was added in #3762 with the intent to use it in #2860, which simply never merged.  Nothing else in the library uses it, and there's only been one nontrivial change to it since it merged two years ago (the co

[2022-03-03 14:14] kevinsung commented on #7720
@1ucian0 If you agree that the suggestion is good, why close the issue? I understand that you might not think the core developers should spend their time on this, but what if an external contributor wants to? Or even a core contributor on their free time? Would that not be a welcome contribution?

Indeed, the vertical drawer is most useful for circuits with qubits that fit on the screen. But that

[2022-03-03 14:30] IceKhan13 commented on #7640
@CharlieDerby, thank you for noticing that and writing a great explanation!
Could you please submit a pr for that? Looks like @corbett5 also facing the same issue.

[2022-03-03 14:37] nonhermitian commented on #7724
So the backend in question has bi-direction coupling for qubits 0->4.  But then this circuit fails:

[code]

If I pass a restricted coupling map:

[code]
which is contained inside of the original then it works.  So it appears that the swap mapper requires the circuit to be of the same width as the device given by the coupling map.  Indeed the exact same circuit but over 20q works.  We should proba

[2022-03-03 14:41] nonhermitian commented on #7724
I am not sure how rust changes things here.

[2022-03-03 14:56] mtreinish commented on #7640
So this behavior is actually by design. The `execute()` function is not meant to expose every option of `transpile()` it's a higher level abstraction that is there primarily to provide a simpler experience for users that don't care about the internal operation of the transpiler and just want to take their circuits and run them on a backend. The options to the transpiler which are exposed via `exec

[2022-03-03 15:01] mtreinish commented on #7724
Functionally there is no difference between the rust and cython implementations. The rust just runs the trials in parallel instead of serially and is using a different rng (each thread has a thread local PCG64MCG rng and the seeding is different)

[2022-03-03 15:04] mtreinish commented on #7704
Closed by https://github.com/Qiskit/qiskit-terra/pull/7708

[2022-03-03 15:04] #7704 closed

[2022-03-03 15:21] yaelbh commented on #7640
@mtreinish How about raising an error for calls to `execute` with an unsupported transpile option, rather than ignoring it?

[2022-03-03 15:27] jakelishman commented on #7720
To put it a little bluntly, yes, it wouldn't be welcome in Terra, but that's not at all because it's not useful.  We'd love to see a more complete external library for circuit visualisation, where a separate set of maintainers could give it the time it needs, but that's not what Terra is.  We already struggle enough to maintain the limited visualisation support we offer, and only cope through the

[2022-03-03 15:37] mtreinish commented on #7640
The problem there is we pass through all kwargs as run options to `backend.run()`. Since all backends have a unique set of runtime options they offer we made the decision a long time ago to pass kwargs to the `backend.run()` (or `assemble()` before `BackendV1` and warn if an option is passed in the backend doesn't support but not ignore it: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/e

[2022-03-03 15:37] jakelishman commented on #7640
In this case, `scheduling_method` is a correct parameter to `execute`, it's just gated behind passing `schedule_circuit=True`, and it's never passed to `transpile`, it's just used in the separate function `schedule` (a few lines below your change).  If you pass `schedule_circuit=True` as well, I think your example should work.

@yaelbh: it's a bit tricky to handle this, because `execute` collects

[2022-03-03 15:40] yaelbh commented on #7640
According to @mtreinish and @jakelishman's explanations, I'd expect the backend to warn about an unknown run option.

[2022-03-03 15:41] mtreinish commented on #7640
Ah I missed that, but it's bit weird because of the overloaded terminology. the `schedule_circuit` flag is to indicate that the circuit should be lowered to a pulse schedule prior to executing it. The `scheduling_method` arg there is for the `schedule()` not the `transpile()` call before it. These options actually predate the scheduler in the transpiler for scheduling gates. I feel like we should

[2022-03-03 15:52] jakelishman commented on #7724
Looks like `StochasticSwap` originally used to reject all DAGs/layouts that had a mismatch in the number of qubits, but #2598 relaxed the constraint, and I don't see a particular reason in that PR why.  Perhaps smaller DAGs worked at that point, and our tests never caught the point at which it stopped working.

[2022-03-03 16:33] mtreinish opened #7726 "Make python-constraint requirement optional"
### What is the expected enhancement?

After #7213 we're no longer using the CSP layout pass in preset passmanagers, while I think keeping the pass in terra makes sense since we're not using it by default with `transpile()` anymore I think we can remove `python-constraint` from the requirements list and make it an optional dependency and only require it if people are explicitly using the csplayout

[2022-03-03 16:47] kevinsung opened #7727 "Change LaTex circuit drawer from qcircuit to qpic"
### What is the expected enhancement?

Reasons:
- [qpic](https://github.com/qpic/qpic) supports vertical wires
- qpic syntax is nicer so the drawer would probably be easier to maintain

[2022-03-03 16:50] kevinsung opened #7729 "Support transposing circuit diagram where possible"
### What is the expected enhancement?

Sometimes it is useful to have vertical wires instead of horizontal (see #7720). As @1ucian0 pointed out in that issue, the matplotlib and latex drawers can probably easily support transposing the output.

[2022-03-03 16:57] CharlieDerby commented on #7640
@mtreinish

In my example I attempted this method and got the same error. The transpiler outputs a circuit with (presumably) the correct extra delay to realign measurement but running that circuit leads to the same problem. I'm not sure why this is the case because it seems like the misalignment problem should be solved by pre-transpiling.

[2022-03-03 17:08] jakelishman commented on #7640
When you manually transpile something, are you then passing it to `execute` or to your `backend.run`?  After manual transpilation, you should do the latter, otherwise `execute` will re-transpile the circuit which will most likely invalidate its scheduling.  You should hopefully be able to do `backend.run(transpiled_circuit, shots=10_000)` without issue, which is the expected path for people who wa

[2022-03-03 17:10] CharlieDerby commented on #7640
@jakelishman that makes a good deal of sense, thanks.

[2022-03-03 17:49] jakelishman commented on #7726
Sounds entirely reasonable to me.  We could add a no-op extra to the requirements for 0.20, and then move `python-constraint` from the core requirements to the extra in 0.21 if we wanted to ease the migration path even further.

[2022-03-03 21:04] AshwinKul28 commented on #7717
HI @mtreinish can you please assign this to me. Interested working on this enhancement.

[2022-03-03 21:16] jakelishman commented on #7717
I've assigned you, @AshwinKul28, let us know if you need anything more that's not in the [contributing guide](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md).

[2022-03-03 22:45] jakelishman commented on #7633
The way a backend defines what instructions are supported is by exposing a list of strings (gate/instruction names), so the Terra->Backend interface is an open question "what instructions do you support?" rather than "do you support this instruction?".  There's no "wildcard" name in the spec, so there's no way for any `Backend` (V1 or V2) to tell Terra "I support everything".

You're right that `B

[2022-03-03 22:48] jakelishman commented on #7634
Re-opening because we have decided we will support increased shots in BasicAer.  Since the `max_shots` field of backends should be an integer, there's probably no way to make this actually infinite, but we can bump up the limit to 2**32 or so.

[2022-03-03 23:02] jakelishman commented on #7627
Sorry about the delay re-opening, these issues had fallen off the front page of my notifications between them updating and me looking at my queue.

I've re-opened #7634, but left #7633 closed on the basis that "use `quantum_info`" is a duplicate of #7670, and the "support all matrices" is something that we can't officially fulfill within the `Backend` spec - if `BasicAer` is converted to use `quan

[2022-03-03 23:02] #7627 closed

[2022-03-04 14:09] mtreinish commented on #7113
So for this issue I think we should concentrate just on passes that are either basis aware or noise aware. These are places where the target provides a more rich set of information and to do a thorough job compiling for a target based backend we need the full set of information instead of just the global backwards compatibility shims. For example, things like layout and routing passes don't really

[2022-03-04 15:42] enavarro51 commented on #7707
@ajavadia Just an initial report. I turned debug logging on for the `SabreSwap `runs and have determined that there are 6 calls to `SabreSwap.run`. The first 4 and the sixth runs work, but the 5th one gets in a state where it can't make progress. The `extended_set `is the same 4 qubits and the `best_swap `is the same 2 qubits.

Next step is to work back to see where this begins and to see why `qub

[2022-03-04 16:02] jakelishman opened #7738 "Move `qiskit.test.mock` to `qiskit.providers.fake_provider` and deprecate"
In #7437 we began the process of moving the features in `qiskit.test.mock` to `qiskit.providers.fake_provider`, by making them accessible at the new name.  We can't issue deprecation warnings in Terra 0.20, but between 0.20 and 0.21 we should ensure that all our internal uses point to the new names, and then implement the deprecation warning.

This is on hold until after Terra 0.20 has released.

[2022-03-04 18:52] #3905 closed

[2022-03-04 19:04] apcarrik commented on #6731
@Gaya3-mv No need to apologize! I just wanted to let you know what was discussed on the PR. I'm going to close the PR since it's stale, and it seems like #7628 addresses the broader issue of treating isolated qubits and qregs similarly. Feel free to pick this issue or #7628 up!

[2022-03-06 11:08] nonhermitian opened #7741 "Big overhead in parallel transpile for large target systems"
### Environment

- **Qiskit Terra version**: `0.19.2`
- **Python version**: 3.8
- **Operating system**: Linux

### What is happening?

There is a large overhead when doing parallel transpilation for circuits targeting larger systems.  In the case below they are targeting the 127Q system, but the circuits themselves consist of only `x` gates and are already the correct width.  Thus transpilation sh

[2022-03-06 20:18] taalexander opened #7742 "OpenQASM3 exporter emits variables with reserved keywords"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.8
- **Operating system**:  OSX

### What is happening?

When dumping QASM3 from a Qiskit circuit the emitted QASM3 has variables with names that are reserved keywords.

### How can we reproduce the issue?

[code]
Emits:
[code]
Note the `bit[2] measure;` declaration which is invalid.

### What should happen?

The QASM3 expo

[2022-03-07 06:41] t-imamichi commented on #7657
I tries a dict-based `simplify` with rust and it succeeded to improve the performance. So, I want to move it forward.
Then, I need to deal with this issue #7657 to pass  the unit test.
As Julien suggested, there is a method to check the equivalence `equiv`, e.g., [`quantum_info.Pauli`](https://github.com/Qiskit/qiskit-terra/blob/77219b5c7b7146b1545c5e5190739b36f4064b2f/qiskit/quantum_info/operator

[2022-03-07 15:52] mikevitz opened #7743 "Cannot get expectation value of list ops or composed ops"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

'qiskit-terra': '0.19.1',
'qiskit-aer': '0.10.2',
'qiskit': '0.34.1',
Python 3.8.12

OS=Amazon Linux, version 2
ID_LIKE="centos rhel fedora"

### What is happening?

I am having trouble evaluating operators built from composed ops and list ops.  I keep getting the error:
`ValueError: Cannot compute overlap

[2022-03-07 18:43] jakelishman commented on #7742
Good point, thanks for the report.  I've pushed up a simple symbol table add-on to the exporter in #7744 that also handles generating new names when there are clashes.  There's still a lot of work to be done in the QASM 3 exporter before 0.20 (see also #7136 and #7335 for example), and when I'm back from writing up my thesis we'll get a bit more on top of getting these things done.

[2022-03-07 18:49] DrEntropy commented on #7513
I don't know if this has been patched yet, but the issue is in  `state_visualization._state_to_latex_ket` .
In particular here:
[code]

This issue is that `_round_if_close()`  uses `np.real_if_close()` which if called on an array will only return real if the entire array is real.  Something like this would work:
`data = np.array([ _round_if_close(v) for v in data])`
Or some more 'numpy' way to do

[2022-03-07 19:21] learn2flask commented on #7513
With pleasure, how to do that?

On Tue, Jan 11, 2022, 15:04 Frank Harkins ***@***.***> wrote:

[2022-03-07 19:29] DrEntropy commented on #7513
Oh that comment was meant to help  whoever is going to patch the code, not for end user work around.  My work around btw is to do this:
[code]
which is ugly but works :)

[2022-03-08 13:19] Cryoris commented on #7743
I think you're not using the opflow instructions correctly here:
* `bind_parameters` is not an in-place operations, but returns the bounds object
* your `op_11` and `ops1` objects are already fully contracted, you can just call `eval()` on them without any argument

If you change the code as follows it seems to work:
[code]

[2022-03-08 15:03] dlasecki opened #7745 "Move _eval_aux_ops to algorithms level."
The goal of this issue it to move the `_eval_aux_ops` method to the algorithms level. Currently, it resides in [vqe.py ](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/minimum_eigen_solvers/vqe.py) but the logic is not VQE-specific. The immediate motivation for this move is to use the same code in the Quantum Time Evolution framework.

[2022-03-08 21:48] MattePalte opened #7748 "C3XGate doesn't bind the angle parameter `CircuitError: 'Cannot bind parameters`"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

The binding of the angle parameter of the C3XGate doesn't work as expected.
If we parametrize the C3XGate with an angle parameter as in the signature in the [doc](https://qiskit.org/documentation/stubs/qiskit.circuit.library.C3XGate.html) `C3XGate(angle=

[2022-03-08 22:45] MattePalte opened #7749 "Qasm exporter fails with `ECRGate` `QasmError: "Duplicate declaration for gate 'rzx' `"
### Environment

- **Qiskit Terra version**:  0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

The qasm exporter on a circuit with an `ECRGate` outputs an invalid QASM code which cannot be parsed back.

### How can we reproduce the issue?

Run this circuit:
[code]
Output
[code]
Read the QASM back:
[code]
Output
[code]

### What should happen?

I

[2022-03-08 23:25] jakelishman commented on #7749
Thanks for the report!  Right now there are systemic failures in the QASM 2 and QASM 3 exporters with slightly exotic parameterised gates, which stem from design choices in how the `Instruction` class stores its definition. If a gate that the exporter doesn't have special handling for takes a parameter, but the first time it is encountered the parameter is already bound, there's no way for the exp

[2022-03-08 23:25] #7749 closed

[2022-03-08 23:31] MattePalte opened #7750 "Qasm exporter creates invalid Qasm for subcircuits with classical registers"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

Converting a circuit with a subcircuit to qasm fails, when this subcircuit contains also classical registers.

### How can we reproduce the issue?

Run this:
[code]
Output:
[code]
Convert to qasm:
[code]
Output:
[code]
Now, if we want to reuse this qasm

[2022-03-08 23:40] jakelishman commented on #7748
`C3XGate` is already nonparameterisable; passing an angle causes a `C3SXGate` to be constructed instead, and it should raise a `DeprecationWarning` due to passing an angle to its constructor.  That said, now I think about it again, the deprecation warning is likely suppressed in normal use because it's a Terra function that calls another Terra function in a deprecated manner, so the warning may no

[2022-03-08 23:55] jakelishman commented on #7750
There is no possible valid OpenQASM 2 programme for the circuit you're describing; there's no subroutine-like construct that can take classical parameters.  The error message could be better, but there is no way to produce valid OpenQASM 2 in this situation, because the object has no way of being represented.  The bug here is that the QASM 2 exporter should have rejected the circuit out-of-hand.

[2022-03-09 07:29] dlasecki opened #7751 "AmplitudeEstimator/Amplifier minor refactoring and docs."
### What is the expected enhancement?

`AmplitudeEstimator` does not inherit from `ABC`.
`AmplitudeAmplifier` is not included in ``qiskit/algorithms/__init__.py`` file.

[2022-03-09 09:16] Gaya3-mv commented on #6731
Ok. Thanks again for the details regarding the status of the issue!

[2022-03-09 09:36] Cryoris commented on #7635
About the naming: I don't mind which direction we're going into but it would be great if we could be consistent. So if we'd call this one something like XXMinusYY then the current XYGate should also be called XXPlusYY. Or, if we keep XYGate, then this should probably be called BSwap or whatever makes most sense from the paper 😄

[2022-03-09 10:54] #7607 closed

[2022-03-09 12:42] Cryoris commented on #7197
@jakelishman yeah the U3 docs look good to me too 👍🏻 and I agree we should use the same definition as in the U3 to avoid future confusions and stay consistent.

[2022-03-09 13:10] kevinsung commented on #7635
@Cryoris bSwap refers to this gate with the specific parameter settings `theta = pi, beta = 0`, the same parameters that make XYGate equal to iSwap. Since iSwap is a separate gate in Qiskit, to be consistent, bSwap would also be a separate gate. This issue is not about adding bSwap, but rather the analogue of XYGate. The paper does not actually suggest any name for this general gate.

So I think y

[2022-03-09 15:36] enavarro51 commented on #7707
@ajavadia Here's a rundown of what I've found so far.
- There are 6 calls to SabreSwap from SabreLayout. Given the seeds in your test case, 5 of the calls terminate after about 2500 internal loops. The other one does not terminate.
- For the run that doesn't terminate, on loop 2451, a new front_layer appears and a new extended_set. From that point on, the extended_set does not change.
- On loop 24

[2022-03-09 19:10] ajavadia commented on #7635
This sounds good to me.

[2022-03-09 21:34] MattePalte opened #7756 "Qasm exporter doesn't generate the definition of `C3SXGate` which is given for granted causing `QasmError: "Cannot find gate definition for 'c3sx'`"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

When exporting  to qasm a circuit that contains the `C4XGate`, the newly generated code is incorrect, since it doesn't contain the definition of the `c3sx` gate and reading that qasm output back raises the error ``QasmError: "Cannot find gate definition

[2022-03-09 21:44] jakelishman commented on #7756
Thanks for the report.  This is a duplicate of #7148, which does have a fix proposed in #7241 but there's some slight complicating factors around Terra's non-standard version `qelib1.inc` (see also https://github.com/Qiskit/qiskit-terra/pull/6125#issuecomment-862720866).  It's stalled a little, in part because sorting out awkward deprecation periods and new features for old QASM 2 libraries that c

[2022-03-09 21:44] #7756 closed

[2022-03-09 21:44] jakelishman commented on #7756
Duplicate of #7148.

[2022-03-10 08:47] #7668 closed

[2022-03-10 09:17] Cryoris commented on #7635
Actually, do we need the "Phased" prefix? `XXPlusYYGate` would be shorter (and that's already pretty long!). Also, `XXpYYGate` or `XXmYYGate` would be other shorter variants which would be consistent with our current naming structure where one letter stands for one gate characteristic (e.g. we have `SX` and not `SqrtX`).

[2022-03-10 14:16] kevinsung commented on #7635
Omitting the "Phased" prefix is misleading because `XXPlusYYGate` sounds like a single-parameter gate
[code]

I agree that shortening `plus` to `p` for `XXpYYGate` is more consistent with other names in Qiskit, but I also think the resulting name is pretty obscure (I find `SX` to be obscure too).

@Cryoris Do you feel strongly about either of these? If so, I will defer to you.

[2022-03-10 14:56] HuangJunye opened #7759 "Add FakeBackendV2 for Tokyo, Tenerife and Rueschlikon"
### What should we add?

https://github.com/Qiskit/qiskit-terra/pull/7643 implemented mocked IBM Quantum Systems backends using the new BackendV2 interface.

However, FakeBackendV2 class was not implemented for Tokyo, Tenerife and Rueschlikon quantum systems because there is no configuration file exist for these old systems.

## Suggested solution
Create fake conf files that specify key specificat

[2022-03-10 16:27] jakelishman commented on #7759
These three are all super old and retired - I don't think anybody has any configurations for them any more, and I think we'll be fine leaving them behind for `BackendV2`.  See also #7686.

[2022-03-10 16:32] mikevitz commented on #7743
Thank you for the observation!  I see now how to do this.

But I keep getting unexpected results!  For example
`bound = ops1.bind_parameters({param1: 10.832619845547938,
                    param2: 1.07103605819788694})

print(bound.eval())`

No matter what parameters I use, it always gives results:
`[0j, 0j]`

My understanding is that the code creates a circuit, puts the qubits in superposition v

[2022-03-10 16:54] HuangJunye commented on #7759
Yeah I agree with you. @mtreinish What do you think?

[2022-03-10 17:37] mtreinish commented on #7759
Yeah, I think it's fine to just exclude them. The further back in time the less important having fake backends are. We don't really need to test how things perform against a Rueschlikon like backend anymore using new interfaces because we'll never run with the new interfaces against Rueschlikon.

I'm going to close this as it's not feasible (if it was we'd have already done it for BackendV1's fake

[2022-03-10 22:19] kevinsung opened #7763 "Transpilation gives impossible qubit layout"
### Environment

- **Qiskit Terra version**: 9f867e9194c9651493c83d9414b8145915590c6d
- **Python version**: 3.9.6
- **Operating system**: RHEL 8.5

### What is happening?

Transpilation gives impossible qubit layout. For example, it disconnects qubits that need to be connected. @nbronn brought this to my attention.

### How can we reproduce the issue?

[code]
![image](https://user-images.githubuse

[2022-03-10 22:21] kevinsung commented on #7763
Oh, actually I just realized this could be happening because the circuit I posted doesn't do anything. I'll reopen if I find another example.

[2022-03-10 22:21] #7763 closed

[2022-03-11 01:13] #6479 closed

[2022-03-11 08:29] TheGupta2012 commented on #7705
Hey @mtreinish, as a starting point in bench marking of `vf2_mapping`, what would be the a limit of the coupling graph size if we are trying to find sub graph isomorphism?

[2022-03-11 10:53] HuangJunye opened #7764 "Add BackendV2 support for `transpiler._parse_inst_map()`"
### What should we add?

BackendV2 has removed `defaults` attribute from backend and `transpiler._parse_inst_map()` needs to be updated to support BackendV2.

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/compiler/transpiler.py#L666-L676
[code]

This was discovered in #7643. Created as a issue with separate PR to follow by @mtreinish https://github.com/Qiskit/qiskit-terra/pull/7643/files

[2022-03-11 12:46] mtreinish commented on #7705
Well there is technically no limit to the size of the coupling graph size. For benchmarking to start I would probably do a sweep from like 10 node to 10000 nodes (which yeah is really big) and see if we can find a trend, but if 10000 is too big and takes too long you can start smaller. Using some of the retworkx generator functions: https://qiskit.org/documentation/retworkx/api.html#generators (es

[2022-03-11 12:58] nonhermitian commented on #7705
Isn't it most time consuming closer to half the total graph size?  There are only so many options for placing an N-1 size circuit

[2022-03-11 16:18] woodsp-ibm commented on #7657
So this will be a breaking change in regards of how we had things before. E..g this here that although its in the SummedOp docs, this nowdays produces a PauliSumOp underneath but it works just the same
https://github.com/Qiskit/qiskit-terra/blob/56c2b86ea601e58ae53241c4f7086ecfb93363e3/qiskit/opflow/list_ops/summed_op.py#L218-L224

[2022-03-11 18:25] kevinsung opened #7767 "MissingOptionalLibraryError for pillow"
### Environment

- **Qiskit Terra version**: 56c2b86ea601e58ae53241c4f7086ecfb93363e3
- **Python version**: 3.9.6
- **Operating system**: RHEL 8.5

### What is happening?

Qiskit fails to detect pillow even though it is installed.

### How can we reproduce the issue?

1. Create fresh virtual environment
2. Install Qiskit
3. Install requirements from `requirements-dev.txt`
4.
[code]
[code]

### Wha

[2022-03-11 23:01] enavarro51 commented on #7767
@kevinsung Thanks for finding this. I was having the same issue.

[2022-03-12 17:23] MattePalte opened #7769 "Wrong order of gate definitions in QASM"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

If we export to qasm a circuit with a subcircuit with an ECRGate and the inverse of this subcircuit, then we get a qasm which has an invilid order of the gate definition: `ecr_dg` comes before the the definition of `rzx` it uses.

### How can we reproduc

[2022-03-13 15:31] MattePalte opened #7770 "Deterministic different output distributions with semantically equivalent circuits"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS
- **Conda version**: 4.11.0

### What is happening?

Running two supposedly equivalent variants of the same circuit leads to surprisingly discordant results. The divergence is very clear, it is reproducible on my machine, but not yet on another laptop (with Ubuntu 20.04, python

[2022-03-13 21:53] MattePalte opened #7771 "Qasm exporter fails with `RYYGate` in subcircuit (with inverse) `QasmError: "Duplicate declaration for gate 'ryy' `"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

Using an `RYYGate` in a subcircuit and then exporting it to qasm gives an invalid qasm code, which raise an error in case it is reimported. This happens only if the subcircuit and the subcircuit's inverse are both added to the larger circuit.

### How ca

[2022-03-14 03:14] t-imamichi commented on #7657
I made #7656 so that it won't break changes The summary is
- Leave `SparsePauliOp.__eq__` as is (elementary-wise comparison)
- Add `SparsePauliOp.equiv` for equivalence check

`PauliSumOp.equals ` used `SparsePauliOp.__eq__` for equivalence check. It was a wrong algorithm theoretically, but it happened to work fine because `SparsePauliOp.simplify` sorted the operators (but, the API doc does not gu

[2022-03-14 10:36] MattePalte opened #7772 "QASM exporter error with `CSwapGate` and `DCXGate`: `Cannot find gate definition for 'unitary...'`"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

The QASM exporter fails to export a valid qasm missing to include a unitary, probably due to an inverse addition.

### How can we reproduce the issue?

Run:
[code]
Output:
[code]
Read the qasm back:
[code]
Output error:
[code]

### What should happen?

T

[2022-03-14 11:40] MattePalte opened #7773 "QASM exporter: wrong order of gate definitions `Cannot find gate definition for 'rcccx'`"
### Environment

- **Qiskit Terra version**:  0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

The qasm exporter gives an invalid qasm in the order of gate definition, this happens with `RC3XGate` and `C4XGate` in a subcircuit.

### How can we reproduce the issue?

Run:
[code]
Output:
[code]
Read the qasm, leads to error: `Cannot find gate defini

[2022-03-14 15:26] kevinsung commented on #7670
As part of QAMP 2022, my mentee @alejomonbar will be tackling this issue.

[2022-03-14 15:58] kevinsung commented on #4625
According to https://github.com/Qiskit/qiskit-terra/issues/7633#issuecomment-1058586399, this issue will be fixed by addressing https://github.com/Qiskit/qiskit-terra/issues/7670, because then BasicAer will support any gate that has a matrix. @jakelishman is that right?

[2022-03-14 18:01] #7767 closed

[2022-03-15 03:47] epelofske-LANL opened #7779 "rzx defined twice in QASM export"
### Environment

- **Qiskit Terra version**: `qiskit-terra==0.19.2`
- **Python version**: `3.9.7`
- **Operating system**: `macOS`

### What is happening?

A Qiskit circuit that contains the `ecr` two qubit gate exports two definitions of rzx when converting the circuit to a QASM file:

[code]

### How can we reproduce the issue?

Create a Qiskit circuit with an ECR gate, and then export that circu

[2022-03-15 04:01] jakelishman commented on #7779
Thanks for the report.  In this case, this is a duplicate of issue #7749, which is itself a duplicate in spirit of #7335.  There's a bit more information in those issues about why this happens, and how our near-term plans will help fix this.

[2022-03-15 04:01] jakelishman commented on #7779
Duplicate of #7749.

[2022-03-15 04:01] #7779 closed

[2022-03-15 14:24] kevinsung opened #7781 "Add date attribute to BasicAer job result"
### What is the expected enhancement?

This is a practical improvement because it aligns the API with AerJob. It is also required according to https://arxiv.org/abs/1809.03452. See https://github.com/Qiskit-Partners/mthree/issues/94 for context.

[2022-03-15 14:57] mtreinish commented on #7781
The job objects in terra are explicitly decoupled from that specification. It has been since `JobV1` was introduced in #5086 which made the provider interface a terra construct and not a leaky object model abstraction of the IBM quantum API json payloads. As we improve the interface between qiskit and backends the object models become increasingly vendor agnostic and qiskit specific (for example i

[2022-03-15 20:34] #6383 closed

[2022-03-15 23:23] soravoid opened #7782 "Parameterized pulse gate can't accept complex values"
### Environment

- **Qiskit Terra version**: 0.34.1
- **Python version**:  3.9.7
- **Operating system**: Windows 11

### What is happening?

I have calibrated a custom gate with the pulse library, and it worked fine with binding values with only real values; however it throws the following error: `qiskit.circuit.exceptions.CircuitError: 'Bound parameter expression is complex in gate custom_gate`

[2022-03-16 09:08] HuangJunye opened #7783 "Improve test `test_transpile_parse_inst_map`"
### What is the expected enhancement?

Following the conversation here: https://github.com/Qiskit/qiskit-terra/pull/7765#discussion_r827303811

[2022-03-16 17:13] kevinsung commented on #7635
@Cryoris I went ahead and opened #7786 . I took the first of your suggestions and used the name `XXPlusYYGate`.

[2022-03-16 18:14] #7764 closed

[2022-03-17 15:57] coruscating opened #7787 "Documentation link to experiments"
### What is the expected enhancement?

The sidebar for [Qiskit docs](https://qiskit.org/documentation/) should have a link to Qiskit Experiments: https://qiskit.org/documentation/experiments/

[2022-03-17 18:09] #7657 closed

[2022-03-17 18:26] kevinsung opened #7788 "Instruction should include qubits it acts on"
### What is the expected enhancement?

Qiskit currently lacks a class to represent the concept "a gate together with the qubits it acts on." This concept is useful because it is the basic unit a quantum circuit is composed of. For example, it can be the type of object appended to a circuit, so that `QuantumCircuit.append` can accept a single argument instead of multiple. It can also be used to sim

[2022-03-17 20:09] jakelishman commented on #7788
With due respect/apologies to Ali, I think he might not be aware of or have misremembered some things that have already been discussed in the internal Terra meetings with the rest of the team on this front.

We are actually already in the process of adding the encapsulating class that you want.  Matthew made a PR that staled (#7020), but that will be obsoleted by what Erick and I have been working

[2022-03-17 21:05] kevinsung commented on #7788
Thanks @jakelishman, it's good to know there is work being done on this front. In `circuit = QuantumCircuit(instructions)` I meant that `instructions` could have type `Iterable[Instruction]` where `Instruction` is the (proposed) class that represents "gate + qubits" which does not actually exist in Qiskit currently. By "iterable tree" I meant that it could in fact be a recursive type `InstructionT

[2022-03-17 21:12] jakelishman commented on #7788
For sure - it's kind of as a side effect, but I think what we're planning hits just about everything you want already.

Yeah, that way of referring to qubit instances is my preferred way as well (and the most performant).  I think at the moment we still need to be a little mindful of all the teaching docs we have out in the wild that promote integers as the primary method of indexing.  Hopefully s

[2022-03-17 21:16] jakelishman commented on #7788
Oh, I forgot to respond to the nested iterables bit sorry: I'm not 100% convinced that we should put a "flatten" operation in `QuantumCircuit` in favour of just having the user do it - it makes things a bit slower because we have to type-check every individual element of the iterable, which punishes people who don't want the nested structure.  But I'm in favour of letting people pass the initial i

[2022-03-17 22:06] kevinsung commented on #7624
If I understand correctly, this removes the "quantum gate" concept from Qiskit. For example, it would no longer be possible to construct an object that represents the gate `Rx(0.1)`. If this is true, I worry that eliminating such a common concept would hurt Qiskit's ease of use, as well as ease of learning.

[2022-03-17 22:19] jakelishman commented on #7624
To some degree, yeah, but it's also kind of like saying that Qiskit doesn't have a concept of `Rx(0.1 on qubit 0)`.  We wouldn't say a classical RISC architecture doesn't have the object of `add 1` because it implements a general `add`.  The idea is to separate out operands from operations - `rx` is an operation, and "qubit 0" and `0.1` are the operands.  The other things in the comment explain my

[2022-03-17 22:35] kevinsung commented on #7624
This syntax does not work for gates which don't have a corresponding method on QuantumCircuit. This is an important use case, and one which is very commonly understood in terms of the gate concept (rather than the instruction/operation concept you refer to).

With this change, how would one obtain the matrix of a gate, say, `Rx(0.1)`?

[2022-03-17 22:56] jakelishman commented on #7624
The `append` interface is a bit more open to discussion, but long-term strategy is for an entirely new mechanism of building quantum circuits.  It may well be the case that the circuit is constructed by a new DSL with syntax that looks like
[code]
but this is still a long way off - the internal discussions are very preliminary (and have been for a year). The first priority is to get the internal c

[2022-03-17 22:58] jakelishman commented on #7624
I should also be clear that this won't happen overnight: we're committed to maintaining the API stability, so we'll be doing all we can to ensure that `qc.append(RXGate(0.1), [0], [])` continues to work for at least a few more Terra versions.  It'll just get converted to something else internally.

[2022-03-18 13:01] #7745 closed

[2022-03-18 18:07] #7197 closed

[2022-03-18 19:33] mtreinish commented on #7113
I've crossed `CommutativeCancellation` off the list because I'm not sure there is anything extra a target can add to the pass. It is used solely to know which z rotation gate to use in the cancellation if there aren't any in the circuit: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/passes/optimization/commutative_cancellation.py#L72-L80 The pass isn't really basis aware per s

[2022-03-18 20:21] renier opened #7792 "run_circuits is using a hardcoded sleep when checking job status"
### Environment

- **Qiskit Terra version**:  `main` branch
- **Python version**: n/a
- **Operating system**:  n/a

### What is happening?

The qiskit `run_circuits` utility is using a hard-coded sleep when it waits to check the job status here https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/utils/run_circuits.py#L219.

### How can we reproduce the issue?

_The issue has to do with using a

[2022-03-19 03:22] #7386 closed

[2022-03-19 03:28] jakelishman commented on #7644
(For linking purposes: Matthew answered the above point in https://github.com/Qiskit/qiskit-terra/issues/7781#issuecomment-1068084684.)

[2022-03-19 03:34] jakelishman commented on #4625
Yeah, it would thanks.  I suppose in theory we could add `h` to its list of supported gates at that time as well to assist the transpiler, but if BasicAer's logic essentially just becomes `Statevector(circuit)` (with some splitting to handle mid-circuit measurements), it'd support it by default.

Would you prefer to leave this open for tracking in your mentorship project?  If not, we can just clos

[2022-03-19 13:25] kevinsung commented on #4625
I say we leave it open for now since it's technically a separate issue.

[2022-03-21 12:28] #7448 closed

[2022-03-21 14:17] #7578 closed

[2022-03-21 16:40] yuttai opened #7796 "The basis gate listed in the Transpiler document doesn't match the gates generated by qc.decompose()"
### What is the expected enhancement?

When I read [the Transpiler document](https://qiskit.org/documentation/apidoc/transpiler.html), it says the basis_gates are ['id', 'rz', 'sx', 'x', 'cx'] which matches the basis gates for ibmq_manila. However, when this document uses `qc.decompose()` to transpile gates later, it transpiles the circuit to 'u2', 'u3', and 'p' which are not listed in the given b

[2022-03-21 16:47] Cryoris commented on #7796
Yeah I would agree. We should probably exchange all the `qc.decompose()` occurances to transpilations since e.g. the final decomposition of the Toffoli also doesn't use the actual basis gates of the device. Using the decomposition method is outdated (and far from optimal!) now that we don't have U1/2/3 as basis gates anymore.

[2022-03-21 16:56] mtreinish opened #7797 "Improve transpiler support for working with fixed value parameterized gates in target"
### What is the expected enhancement?

One feature that is missing from the full transpiler right now is support for working with tuned fixed angle gates in the target. By default most passes work exclusively with the gate name, and for most gates this is fine. But for gates that take parameters we may need to distinguish between parameterized implementations of the gate and those with fixed angle

[2022-03-22 10:39] Cryoris opened #7800 "Improve the parenthesis in the circuit gates documentation"
### What is the expected enhancement?

In many place our documentation shows LaTeX fractions that are larger than the surrounding parenthesis. For example in the sine and cosines in the `UGate` documentation we have
<img width="630" alt="image" src="https://user-images.githubusercontent.com/5978796/159463088-cf9df48c-48fc-4973-9d8d-75cbbfdc672e.png">

That's because we don't use the `\left \right`

[2022-03-22 11:50] mtreinish commented on #7797
Talking with @jakelishman about this briefly yesterday the path forward here with #7624 in mind is probably to store the parameters for each instruction in the target directly instead of relying on the `params` attribute. Probably either in an internal dict mapping gate_name -> parameters or  as a new named field on the `InstructionProperties` (it really depends on whether we want to supported dif

[2022-03-22 12:52] Cryoris opened #7802 "Name-sorted parameters in `qiskit.opflow`"
### What is the expected enhancement?

Binding parameters to a parameterized Opflow objects requires passing a dictionary with `{parameter_instance: value}` pairs.   More often than not, this is used in the following setting
[code]
which is a bit cumbersome as  we either have to carry along the parameters we're interested in or have to write an extra line defining the `param_dict`.

Instead if wou

[2022-03-22 15:32] HuangJunye commented on #6939
Are we still planning to fix this issue for 0.20?

[2022-03-22 15:33] HuangJunye commented on #7567
Are we still planning to close this issue for 0.20?

[2022-03-22 15:43] HuangJunye commented on #6434
This looks like it would be a simple fix. @ajavadia are we going to fix that for 0.20?

[2022-03-22 17:00] ajavadia commented on #7317
this should be fixed with #7760

[2022-03-22 17:15] nonhermitian opened #7804 "NumPy warnings when loading FakeBackends"
### Environment

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Linux

### What is happening?

In looking into #7789 I discovered that master is throwing a NumPy warning when importing a fake backend

[code]

[code]

### How can we reproduce the issue?

Run the above. My NumPy is `1.22.3`

### What should happen?

Now `UserWarning`

### Any suggestions?

_No r

[2022-03-22 17:26] mtreinish commented on #7804
This is actually a qiskit-aer bug (it was compling with fast math by default): https://github.com/Qiskit/qiskit-aer/issues/1461 It's fixed for inclusion in an upcoming bugfix release (which is in progress https://github.com/Qiskit/qiskit-aer/pull/1481 ). It's triggered on the use of the fake backends because they internally import aer.

[2022-03-22 17:49] jakelishman commented on #7804
(closing as fixed upstream)

[2022-03-22 17:57] jakelishman commented on #6939
No, this is dynamics circuit work, so it's pushed til at least 0.21.

[2022-03-23 08:25] HuangJunye commented on #6475
@TharrmashasthaPV we are planning to release 0.20 soon. Are you planning to fix the rest of issues listed here?

[2022-03-23 14:12] andrea2020liuyy opened #7809 "Implementation of VQE on IBMQ, Debugging"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.9.7
- **Operating system**:  64-bit Windows 11

### What is happening?

I was trying to implement VQE on IBMQ, but every time I run the cell, it has AlgorithmError. I took a long time on it and right now need help on debugging. Really appreciate the help. Thanks in advance!

### How can we reproduce the issue?

[code]

###

[2022-03-23 16:16] mtreinish opened #7812 "Transpiler support for Target gates > 2 qubits"
### What is the expected enhancement?

With the introduction of `BackendV2` and the `Target` class to model QPU constraints to the transpiler we now have more flexibility in expressing what a particular backend device supports. One of the new things we can now express is whether a backend works with multiqubit gates > 2q. In `BackendV1/BaseBackend` we could put these gates in the basis list but no

[2022-03-23 16:18] mtreinish commented on #7812
This also came up recently as @IceKhan13 is working on a AWS Braket provider (see: https://github.com/qiskit-community/qiskit-braket-plugin/pull/10) and some of the backends support a native `cswap` gate.

[2022-03-23 21:57] #5539 closed

[2022-03-23 21:57] #7219 closed

[2022-03-23 23:45] #7635 closed

[2022-03-25 06:04] Prakash3008 opened #7816 "CZ Gate output is not displayed correctly in qsphere diagram"
### Informations

- **Qiskit version**: 0.34.2
- **Python version**: 3.9.7
- **Operating system**: Windows 10

### What is the current behavior?
![image](https://user-images.githubusercontent.com/45827034/160063162-71fc6694-e8f4-4c69-98bf-303bf95ac91a.png)
This is the output of cz-gate of two qubits with state of |11>

### Steps to reproduce the problem
Code:
[code]

### What is the expected behav

[2022-03-25 08:27] saktar-unr commented on #7800
Can I work on this issue?

[2022-03-25 08:33] saktar-unr commented on #7629
@lcapelluto, Can you explain me what should be the expected behavior? LORange and LOConfig class are used in some test code. If I remove LORange and LOConfig class, should I make changes to all the files that used the classes?

[2022-03-25 08:51] HuangJunye commented on #7800
@saktar-unr Yes sure, thank you! @Cryoris can you post links to places where this needs to be fixed?

[2022-03-25 10:18] Cryoris commented on #7800
Thanks for taking this on!

I think we'll have to adjust the docs mainly in the `standard_gates` submodule: https://github.com/Qiskit/qiskit-terra/tree/main/qiskit/circuit/library/standard_gates. For example, in the `RXGate` docstring we have
https://github.com/Qiskit/qiskit-terra/blob/5c61d8f2df5a2255e1f31a53be79a45a1abe0cd1/qiskit/circuit/library/standard_gates/rx.py#L43

which produces the foll

[2022-03-25 13:10] HuangJunye commented on #7078
Hey @Osmanilge, are you still working on this issue? Let us know if you need any help :smiley: If you’re not working on this anymore let us know and we will un-assign you so others can pick it up.

[2022-03-25 13:17] jakelishman commented on #7816
The image isn't _wrong_ per se, it's just fixed the gauge of the global phase - there's no difference between `|11>` and `-|11>` in a 2q Hilbert space.  I don't know the original reasoning behind that design choice, but I would expect it's to make it easier to compare two separate plots to each other.

I'll close this issue now, but there was a bit of on-going discussion in #7512, of which this is

[2022-03-25 13:17] #7816 closed

[2022-03-25 13:46] jakelishman commented on #7512
Sorry I didn't reply for a while.

1. Adding a `normalize_global_phase=True` keyword argument would be a fine solution to this, though I think it might be slightly fiddly to do while keeping all the current behaviour.

   The updates in #4324 made the plotting functions work for anything that `Statevector` or `DensityMatrix` will accept as inputs, which is a couple of things.  "Not fixing the phas

[2022-03-25 14:05] Zoufalc opened #7817 "Quantum geometric tensor features"
### What is the expected enhancement?

The quantum geometric tensor reads `〈∂kψ|∂lψ〉−〈∂kψ|ψ〉〈ψ|∂lψ〉` and the quantum Fisher information reads `4 * Re[〈∂kψ|∂lψ〉−〈∂kψ|ψ〉〈ψ|∂lψ〉]`.
Using the features implemented for the `LinCombFull` Circuit QFI methods implemented by [PR 7632](https://github.com/Qiskit/qiskit-terra/pull/7632), we can easily compute the quantum geometric tensor using linear combinati

[2022-03-25 14:06] Osmanilge commented on #7078
I am really sorry. I could not realize I am assigned for this issue. I will look this issue if you want me to still assigned otherwise if it needs to finished quickly , you can un-assign me.

[2022-03-25 14:22] jakelishman commented on #7078
Don't worry about it - it's not urgent, and you were never formally assigned.  If something becomes urgent for us, we can solve things in-house as well.

If you'd like to work on the issue and have time to do so, let us know, otherwise no worries.

[2022-03-25 22:59] #6246 closed

[2022-03-26 01:08] ajavadia commented on #7707
Thanks for looking into it @enavarro51.  The extended_set here is the set of node pairs in the DAG that we must make neighbors through insertion of swaps. Since `best_swap` gets picked at every step but `extended_set` does not change, it looks like it is just swapping qubits around without ever actually making progress on resolving the extended_set (i.e. it goes in circles, sometimes those nodes g

[2022-03-26 08:58] saktar-unr commented on #7800
@Cryoris, Thank you!
I looked into all the files of submodule: https://github.com/Qiskit/qiskit-terra/tree/main/qiskit/circuit/library/standard_gates. and fixed all issues related to parenthesis and latex commands. Can you tell me is there anyway to see the changes of the docstring (similar to https://qiskit.org/documentation/apidoc/circuit_library.html)? Also should I create pull request for each

[2022-03-26 12:50] mtreinish commented on #5774
@ajavadia is there anything more on this issue now that we have the `Target` class? There is still work on updating all the passes to work with the target (see #7113)  and then follow up issues on expanding the transpiler to support more types of instructions (see #7797 and #7812) but I'm not sure how you were thinking of scoping this issue.

[2022-03-26 14:00] ajavadia commented on #5774
I checked "Note a", "Note b" and "Note c" above. That is correct since Backend V2 was merged right?

Can we also check off the next box about basis translators now?

I think @jakelishman mentioned adding a `CircuitInstruction` to replace the tuple of `(operation, qubits, clbits)`. I think a bunch of bullet points in this issue are about that. Do we have a separate issue tracking this?

And the box

[2022-03-27 10:34] nonhermitian opened #7822 "Counts objects should have expectation value method"
### What is the expected enhancement?

There is no way that I can find to compute expectation values from sampled distributions in the core Qiskit library.

The `StateVector` and `DensityMatrix` states in `quantum_info` have `expectation_value` methods.  `Counts` objects, and other related distribution classes, should have the same to be consistent and fix the above gap.

Alternatively, or togethe

[2022-03-28 08:19] tobias-kehrer opened #10675 "Align definition of Gaussian in 06_building_pulse_schedules.ipynb"
# Gaussian/LiftedGaussian
The definition of the Gaussian in cell 7 does not coincide with the documentation of the Gaussian pulse (https://qiskit.org/documentation/stubs/qiskit.pulse.library.Gaussian.html).

https://github.com/Qiskit/qiskit-tutorials/blob/1814041ad9baafa6abd7d794b7bb43961f7b7cab/tutorials/circuits_advanced/06_building_pulse_schedules.ipynb#L248-L255

This discrepancy becomes visib

[2022-03-28 10:19] jakelishman commented on #7822
I may well be misunderstanding this issue, but what output would you expect to get from a counts dictionary of `{0: 50, 1: 50}` for an operator of `X`?  I'd get those counts from either `|+>` or `|->` (or whatever combination), so I'm not sure how we return something meaningful.

[2022-03-28 10:31] nonhermitian commented on #7822
I should be able to compute the expectation value of a string or operator of diagonal operators, eg `IZZZ11Z`.

[2022-03-28 11:17] ShellyGarion commented on #7822
There is a code for calculating expectation value and stddev from measurement probabilities here:
https://github.com/Qiskit/qiskit-terra/blob/c318725d679b0eb3aa8874fb9755fa0567c5e94b/qiskit/result/mitigation/utils.py#L35

[2022-03-28 14:05] ShellyGarion commented on #7822
I think that we didn't want to add this expectation value method to the results classes (`Counts` etc.) since it should be calculated more efficiently using the `Estimator` class.

[2022-03-28 14:49] nonhermitian commented on #7822
@ShellyGarion I am not sure why one does not want this?  `Count` are an approximation of the diagonal of the corresponding density matrix for the state vector at the end of a circuit.  Already in Qiskit I can get the expectation value from these related objects, eg:

[code]
both work.  The ability to do so from `Counts` is a natural (and important) extension of what is already there.

It is also c

[2022-03-28 17:10] nonhermitian commented on #7822
Hmm, I do not think I am advocating for the exact same, but rather a diagonal operator can be passed.  If it is not diagonal then raise.

The `measure_x` and the like are just applying post-rotations that diagonalize Pauli-strings that are not diagonal in the computational basis, eg `XZX` -> `ZZZ`.  This is required for executing on hardware.

By convention, the computational basis is the basis th

[2022-03-28 18:58] jakelishman commented on #7335
Changing the milestone to 0.21 because this issue is tied to work in #7624, which also got shifted.

[2022-03-28 20:23] taalexander commented on #7659
I'm sorry for the delay in responding. I believe you are right and would welcome a PR fixing the documentation here.

[2022-03-29 05:53] ShellyGarion commented on #7822
There already exists in Terra a mitigated expectation value calculation (correlated and local readout mitigation):
https://qiskit.org/documentation/stubs/qiskit.result.CorrelatedReadoutMitigator.expectation_value.html
https://qiskit.org/documentation/stubs/qiskit.result.LocalReadoutMitigator.expectation_value.html

So, would you suggest to add a similar API to the `Counts` class?

Namely, transfer

[2022-03-29 09:15] HuangJunye opened #7829 "Update `FakeBackendV2.run` method after Aer adds support for BackendV2"
### What is the expected enhancement?

https://github.com/Qiskit/qiskit-terra/pull/7643 implemented mocked IBM Quantum Systems backends using the new BackendV2 interface.

However, noisy simulation of qasm job using FakeBackendV2 is not possible because Aer doesn't [support generating NoiseModel from V2 backends](https://github.com/Qiskit/qiskit-aer/pull/1404). As a temporary solution, a modified

[2022-03-29 09:21] HuangJunye opened #7831 "Add back noisy simulation of Pulse job for `FakeBackendV2` after Aer adds support for BackendV2"
### What is the expected enhancement?

https://github.com/Qiskit/qiskit-terra/pull/7643 implemented mocked IBM Quantum Systems backends using the new BackendV2 interface.

However, noisy simulation of pulse job using FakeBackendV2 is not possible because Aer doesn't support generating PulseSystemModel from V2 backends yet. This issue has been raised in Aer: https://github.com/Qiskit/qiskit-aer/iss

[2022-03-29 09:28] HuangJunye opened #7832 "Add pulse channels to `FakeBackendV2`"
### What is the expected enhancement?

https://github.com/Qiskit/qiskit-terra/pull/7643 implemented mocked IBM Quantum Systems backends using the new BackendV2 interface.

The BackendV2 class contains [pulse channels](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/providers/backend.py#L484-L549) (`drive_channel`, `measure_channel`, `acquire_channel`, `control_channel`) that were not imple

[2022-03-29 09:52] #7742 closed

[2022-03-29 15:20] kdk commented on #7528
For 0.20, since the circuit and transpiler are still using `isinstance(..., Instruction)`, we should remove `Operation` as a base class for any of the instructions in the circuit library and defer the release note until we can investigate further.

[2022-03-29 16:00] ajavadia commented on #7822
I was originally hesitant about this since it requires an assumption that `Counts` are generated from Z measurements. But thinking more about it, I think that **is** an underlying assumption in both Qiskit and OpenQASM? Maybe not documented as extensively as it should, but when we write "measure" in either Qiskit or OpenQASM, it means a measure-z. If that is the case, and `Counts` is generated fro

[2022-03-29 16:12] ajavadia commented on #7822
Ok maybe we should keep open the possibility that in the future there will be other POVMs (measure-x and measure-y included) that would want to write to cbits. In that case, I think Counts should remain agnostic to basis, since it's just a tally of cbits. I think a utility function that does provide a "z-counts --> diagonal-expval" is the safest way to go for now. In the future if the POVMs that w

[2022-03-29 16:17] sanketsharma opened #7844 "Multiplication by numpy.float64 with PauliSumOp class doesn't give correct result."
### Informations

- **Qiskit version**: 0.34.2
- **Python version**: 3.10.4
- **Operating system**:Linux-5.16.16-arch1-1-x86_64-with-glibc2.35

### What is the current behavior?
Currently the code below outputs the following -
[code]

### Steps to reproduce the problem
[code]

### What is the expected behavior?
The expected output of above code should be
[code]
### Suggested solutions
[This Stack

[2022-03-29 20:22] singular-value opened #7834 "FakePulseBackend.defaults() doesn't accept a refresh kwarg"
### Environment

- **Qiskit Terra version**: 688cf6a (HEAD)
- **Python version**: 3.9
- **Operating system**: Mac OS X

### What is happening?

`FakePulseBackend.defaults()` ([link](https://github.com/Qiskit/qiskit-terra/blob/688cf6abe4ec0a2f843a63135cc6c3e9a497b2c3/qiskit/test/mock/fake_pulse_backend.py#L28)) doesn't accept a `refresh` kwarg. This conflicts with actual backends, which do accept a

[2022-03-30 02:26] t-imamichi opened #7836 "Need to fix the inconsistent part between the base classes and the reference implementations of Primitives"
### What is the expected enhancement?

There are some different part between the base classes and the reference implementations of Primitives. I think we need to make them consistent.
Since removing existing features is more difficult than adding new features, I think it would be good to keep the reference implementation as simple as possible as the first version.

1. The reference implementation

[2022-03-30 02:53] ikkoham commented on #7836
Basically, extending on the subclass side is fine as long as it does not violate Liskov's substitution principle.
However, it would be more convenient if it were available from other samplers and estimators. But, extending the base class specification raises the hurdle for subclass implementation. This is keeping in mind that third parties will implement them.

I therefore suggest the following ap

[2022-03-30 03:10] t-imamichi commented on #7836
If we keep the optional parameters of the reference implementation, I suggest to write docstrings about the the extended part of the reference implementation such as the behavior of optional `circuit_indices` and `observable_indices`.

[2022-03-30 06:37] tobias-kehrer commented on #7659
Thank you both for your responses! I will set up a PR for the documentation.

[2022-03-30 10:08] HuangJunye opened #7838 "Rename old fake BackendV2 classes"
### What is the expected enhancement?

https://github.com/Qiskit/qiskit-terra/pull/7643 implemented mocked IBM Quantum Systems backends using the new BackendV2 interface.

There were older fake BackendV2 classes that were created before for testing. We need to rename, reorganize or remove those classes

https://github.com/Qiskit/qiskit-terra/blob/8105a80c84ce2447a1e224b85f4f56e98f074763/qiskit/tes

[2022-03-30 10:41] ShellyGarion commented on #7822
So in this case should we write a special utility function for expectation value or enhance the `Estimator` class (which is more general)?

[2022-03-30 11:04] nonhermitian commented on #7822
I am good where ever this ends up.  The current state of affairs is that I continuously have to show people how to compute this themselves or point to M3 that has a routine to do this.  Qiskit having its own routine would thus be most welcome regardless of how it is done.

It would be curious to see how `Counts` would be able to be agnostic to differing choices of computational basis per qubit wit

[2022-03-30 13:19] HuangJunye commented on #7838
Reopening as #7839 only partially fixed this issue.

[2022-03-30 13:38] HuangJunye commented on #7834
Thanks for reporting the issue :) Fake backends loads pulse defaults from a snapshot file for example: https://github.com/Qiskit/qiskit-terra/blob/688cf6abe4ec0a2f843a63135cc6c3e9a497b2c3/qiskit/test/mock/backends/athens/defs_athens.json Can you please give an example of use case where you would like to do a refresh for fake backends (other than doing a unit test for real backend).

[2022-03-30 14:19] jakelishman opened #7843 "Revisit interface for stateful unitary-synthesis plugins"
### What is the expected enhancement?

Right now, the unitary-synthesis interface is designed for stateless plugins that are run on each unitary effectively completely separately.  In reality, we only instantiate the plugin classes once per intsance of `UnitarySynthesis`, which we could encode in the interface.  This would let us pass some options into the `__init__` method of the plugin implement

[2022-03-30 16:17] #7528 closed

[2022-03-30 18:48] deeksha-singh030 commented on #6994
The error is occurring for all the values of n > 31. So, to figure out the cause I changed the max condition value to number of qubits to verify for numpy int 64 but it is still giving the same error. I'm not able to figure out the issue here. Please help me with it @jakelishman
![6994 issue](https://user-images.githubusercontent.com/88299198/160908831-6a012c08-e16e-4680-912a-a279e42c0e1a.PNG)

[2022-03-30 20:23] singular-value commented on #7834
I see. As context, I have code that performs pulse level optimizations after calling `backend.defaults()`
Previously, I was able to unit test with fake backends, for example `FakeLima`. However, I just added the `refresh=True` kwarg in the caller code, and now the unit tests fail.

I suppose this (more parity between real and fake backends, at least for the call signature of `.defaults()`) could b

[2022-03-30 20:42] Cryoris commented on #7843
This would also apply to the Solovay Kitaev pass (see #5657) where we'd like to generate the set of basic approximations once for the entire compilation process. Currently we can solve that with a global variable but it's not ideal 😄

[2022-03-31 09:27] HuangJunye opened #7847 "QPY can't serialize `UCRZGate`"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.9.7
- **Operating system**: macOS Monterey 12.2.1

### What is happening?

While developing a [Grover's tutorial](https://github.com/Qiskit/qiskit-ibm-runtime/pull/236) for the new Qiskit Runtime primitives, I found a bug where the grover circuit submitted to runtime provider with sampler program return `TypeError: __init_

[2022-03-31 10:55] mtreinish commented on #7847
The problem is the `UCRZGate` is non-standard in it's construction. It looks like it sets the `params` attribute to the angle list (as does anything based on `UCPauliRotGate`. By default qpy deserialization tries to do deserialize a gate as `cls(*params)` to create an instance of the gate in the circuit. However that doesn't work because the ucrz params is the angle list. To fix this we'll probabl

[2022-03-31 13:56] HuangJunye commented on #7847
I see. That sounds like my next project :D Can I assign myself on this issue? I will take a closer look at QPY later. For the purpose of creating the Grover tutorial, I am going to use decomposed circuits below UCRZ level which I have tested working.

[2022-03-31 16:33] EliasLF commented on #7166
I just ran into this bug/peculiarity of `Instruction.qasm()`, too. Any updates on @burgholzer's proposed short-time solution?
An `eps` value of 1e-12 in `pi_check` seems to work fine in my case.

[2022-03-31 17:10] mtreinish commented on #6093
Since it's been over a year since this was opened and there isn't enough information in this issue. I'm going to close it. But please feel free to reopen it and add additional information

[2022-03-31 17:10] #6093 closed

[2022-04-01 08:50] Cryoris commented on #7800
Just one pull request for all of them would be good! You can build the documentation locally and check there how it looks like. If you have `tox` installed you should be able to do that by calling `tox -edocs` in the `qiskit-terra` root folder 🙂

[2022-04-01 14:51] HwajungKang opened #7859 "Circuit parameters do not respect insertion order"
### Environment

- **Qiskit Terra version**:  0.19.2
- **Python version**: 3.7.7
- **Operating system**: OSX

### What is happening?

Parameters are not implemented on a parametrized circuit in the order defined by a user, but alphabetically. The circuit diagram shows the insertion order, but binding parameters is not done in the same order.

### How can we reproduce the issue?

In the following e

[2022-04-01 15:06] jakelishman commented on #7859
This is the documented behaviour of `QuantumCircuit.assign_parameters`:
[code]

The order matches `QuantumCircuit.parameters`, which is alphabetical with the exception that elements of a `ParameterVector` are numerically sequential.  I'm fairly sure we have downstream algorithms/applications code that depends on this order being maintained, so this is likely a can't/won't fix.

[2022-04-01 16:26] HwajungKang commented on #7859
Thank you for the reply @jakelishman. But shouldn't at least circuit diagram show the order that is actually used? The figure totally misleads how the parameters are bound.

[2022-04-01 16:33] jakelishman commented on #7859
The circuit diagram is showing how they're used; when you bind with an iterable as opposed to a dictionary, the parameters are (by design) bound in alphabetical order.  In your case, you can do something like:
[code]
which will explicitly pair each parameter with its value.

[2022-04-01 16:36] #7792 closed

[2022-04-01 16:40] Cryoris commented on #7859
We decided against sorting by insertion because then the order in which you call the gate, a seemingly random choice, would have an effect on how the array of values will be bound. That would've likely been a source of bugs in particular in the applications and implementation-wise it would be more effort since it would require book-keeping of the parameter order when ever we transpile or modify th

[2022-04-01 16:53] Anthony-Gandon opened #7861 "The eval_observables function could accept a quantum_instance of type None"
### What should we add?

In QEOM, we want to use the eval_observables() function from aux_ops_evaluator.py
after a call to a VQE or any other minimum eigensolver.
The following test case of QEOM runs with a non-quantum MinimumEigensolver.

[code]
The qeom tries to retrieve the quantum_instance of the solver but **fails** in that case.

Also note that the evaluate_operators() method of the ground s

[2022-04-01 17:35] HwajungKang commented on #7859
@jakelishman ahh, yes, that's right, the circuit diagram is showing the way it should. I was confused when looking at the circuit picture with the values assigned together. I know the way using dictionary but preferred the other way as it is shorter without knowing a default order would overwrite the insertion order. But now that I know that, will use dictionary. Thanks. @Cryoris Hi Julien, yeah,

[2022-04-01 19:10] jakelishman commented on #7859
Thanks for the explanation Julien, and I'm glad this is all ok. I'll close the issue now, but feel free to open a new one if there are bugs in the handling.

[2022-04-01 19:10] #7859 closed

[2022-04-01 19:35] jakelishman opened #7864 "Nightly test failure log"
This is an issue to contain tracking comments from the new nightly CI runs of the full test matrix.  Maintainers can subscribe to this issue to get notified whenever the nightly CI encounters issues.

[2022-04-01 19:38] mbhealy opened #7865 "job_monitor fails for qiskit runtime jobs"
### Informations

- **Qiskit version**: 0.35.0
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is the current behavior?
When attempting to monitor jobs that use the qiskit runtime the following error occurrs:
[code]

### Steps to reproduce the problem
Submit a qiskit runtime job to a full queue, then monitor the job with `job_monitor(job)`

### What is the expected behavior?
The

[2022-04-01 20:46] kdk opened #7866 "QuantumCircuit.measure_active gives a creg the name "measure" that is a reserved QASM word"
### Environment

- **Qiskit Terra version**: 0.20
- **Python version**: 3.7
- **Operating system**: osx

### What is happening?

 https://github.com/Qiskit/qiskit-terra/issues/4023 found an issue that `QuantumCircuit.measure_all` creates a `ClassicalRegister` called `measure`, which is a reserved keyword in OpenQASM2+3. This was changed to `meas` for `measure_active` in #4079 , and addressed somew

[2022-04-01 21:09] JoelHBierman opened #7868 "Generating UCCSD circuit in Terra 0.20.0 returns empty circuit with zero qubits"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.9
- **Operating system**: Fedora 35

### What is happening?

When attempting to generate an instance of the `UCCSD` class object, the returned object is an empty circuit with zero qubits. I am posting this issue here and not in Qiskit nature because this seems to be a breaking change that was introduced in Terra 0.20.0. Pr

[2022-04-01 23:10] kapawlak opened #7869 "Transpiring with a coupling map strips qubit names, scrambles the measurement"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.9.7
- **Operating system**: Ubuntu 20.04

Note: I included the "encode_spin()" code because in trying to create a minimal example, I generated another bug: directly putting my (3/2, 1/2) and (3/2, -1/2) states into initialize directly creates an error due to low tolerance levels.

### What is happening?

Transpiring with a

[2022-04-02 10:12] saktar-unr commented on #7865
Hi, Can I work on this issue?

[2022-04-02 10:18] saktar-unr commented on #7206
Hi, is this issue still open? I would be happy to give this a try.

[2022-04-02 12:00] Cryoris commented on #7868
So I tracked this down and this issue was introduced in #7216. Before that, we were checking if `_data` is None to see if a blueprint circuit has been built or not. In #7216 we introduced a variable called `_is_built` for that check and changed `_data` to be an empty list when the circuit was not built instead of None. Now the `UCCSD` circuit in Qiskit Nature still does check `_data` -- but that a

[2022-04-02 15:00] ikkoham commented on #7822
It is nice to make it as utility functions. In addition, it would be useful to take not only Counts but also ProbDistribution and QuasiDistribution.
It is a slightly closer issue: I also thought it might be useful to have a Mitigator that does not mitigate.

[2022-04-02 15:11] JoelHBierman commented on #7868
Ah great, thank you! I installed the main GitHub branch of qiskit-nature and that does seem to fix the problem.

[2022-04-03 06:35] stoicodin commented on #7800
is this still open?

[2022-04-03 07:55] gaurav-iiser opened #7873 "Partial Trace"
### What is the expected enhancement?

Is there any particular reason why the `partial_trace` feature in qiskit is only restricted to state vectors and Density Matrices and does not accept any general operator in composite systems?

An example use-case can be in defining a random Choi matrix of a quantum channel.

[2022-04-03 09:20] t-imamichi commented on #7836
Thank you, @levbishop. I have already removed the broadcasting #7837. If there is no objection, we will remove optional behavior as well.

[2022-04-03 10:23] anonymousr007 commented on #7242
Hello, I am Rishabh, an undergraduate final year computer engineering student. This issue is still open or not?
My Interests are:-
- Quantum Information Science.
- Quantum Error Corrections.

[2022-04-04 03:57] stoicodin commented on #7206
Kindly assign this issue. I want to contribute.

[2022-04-04 12:55] jakelishman commented on #7800
Thanks for your interest, @stoicodin, but this issue has already been solved by
@saktar-unr in #7872.  You can see the context and linked pull requests above.  If you'd like to find something else to work on, please have a look at the issues tagged "good first issue".

[2022-04-04 12:55] #7800 closed

[2022-04-04 14:56] jakelishman commented on #7868
Ok, by my understanding I think we can close this on the Terra side (breaking the subclass API in `BlueprintCircuit` wasn't a great choice on our part, but it'd be even more trouble to go back on that now), and if it's fixed in dev Nature, we're ok on that front too.  Feel free to re-open if there's more to discuss here.

[2022-04-04 14:56] #7868 closed

[2022-04-04 15:01] nonhermitian opened #7879 "plot_error_map fails"
### Environment

- **Qiskit Terra version**: 0.20
- **Python version**: 3.10
- **Operating system**:
[code]

gives

[code]

### What is happening?

fails for some reason in the measurement bar plots

### How can we reproduce the issue?

run above

### What should happen?

works

### Any suggestions?

_No response_

[2022-04-04 15:11] mtreinish commented on #7879
Yeah, it looks like a bug I inadvertently added in #7814 (there are also bugs with the V2 path too). I'll prep a fix and tag it for 0.20.1.

[2022-04-04 15:36] jakelishman commented on #7865
@saktar-unr: sure, if you'd like, I'll assign you.  The issue is that the `job` here could (in theory) be any `JobV1` object, and so we can only require methods from that class.  It looks like this function was written at a time when `qiskit-ibmq-provider` and `qiskit-terra` were tightly coupled, so it assumes a type of `Job` that is no longer a part of Terra, and it hasn't been touched much since

[2022-04-04 16:15] Duumbo opened #7882 "Method validate_parameter() of GaussianSquare raises PulseError if you call it on a created pulse"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.10
- **Operating system**: MacOS

### What is happening?

The validate_parameter() method of the GaussianSquare pulse will raise an error if you call it after the pulse is created. This happen because the `width` and the `risefall_sigma_ratio` are both set.

### How can we reproduce the issue?

[code]

### What should happ

[2022-04-04 16:16] nonhermitian opened #7883 "Seed transpiler takes list but it is not in the docstrings"
### Environment

- **Qiskit Terra version**: 0.20
- **Python version**:
- **Operating system**:

### What is happening?

In order to seed transpiler for a list of circuits a list of seeds is required.  This is supported, but not mentioned anywhere:

https://github.com/Qiskit/qiskit-terra/blob/a296ca009bf440b5a2cb00f61b8221c6ce9aa044/qiskit/compiler/transpiler.py#L65

### How can we reproduce the i

[2022-04-04 16:38] jakelishman commented on #7883
It's not just `seed_transpiler`, I think, it's all the arguments, but the docstring does say this: https://github.com/Qiskit/qiskit-terra/blob/a296ca009bf440b5a2cb00f61b8221c6ce9aa044/qiskit/compiler/transpiler.py#L73-L76

That said, if we're going to have type hints, they should at least be accurate.  It'll look super ugly, though - for long ones, it may be better to define aliases at the top of

[2022-04-04 16:45] jakelishman commented on #7882
This is mostly a question of how we design interfaces for subclassing.  In this case, it perhaps would have been better to make this internal hook function private, as you mention, but since it's now out there in the wild, it's hard for us to walk that back.  The documentation route you mentioned is a good solution, though - we can just add some text to the docstring of `ParametricPulse.validate_p

[2022-04-04 16:53] jakelishman commented on #7869
The names of qubits after transpilation will not generally line up with any single logical qubit in the circuit before transpilation.  This is expected, and to some degree it's a completely unsolvable problem, because due to the constraints of a real backend, we'll sometimes need to perform swaps in order to get two logical qubits close enough in hardware to actually perform the measurement.  That

[2022-04-04 16:58] nonhermitian commented on #7883
Note that the behavior is also not consistent with Aer, where `seed_simulator` can be an int, but then each circuit in a list does not get the same seed applied to it.  Also giving Aer a list raises an error.

[2022-04-04 17:03] mtreinish commented on #7883
I would say I don't like this undocumented behavior because it makes https://github.com/Qiskit/qiskit-terra/pull/7789 and similar refactors much harder to work with. https://github.com/Qiskit/qiskit-terra/pull/7789 still supports the list input (except on optimization level and basis gates because the PR assume they're always shared on each circuit in the list), but not having to worry about wheth

[2022-04-04 18:04] sar49 commented on #7634
Is this issue still open or is someone fixing it at the moment?

[2022-04-04 18:24] kevinsung commented on #7634
It should be fixed by https://github.com/Qiskit/qiskit-terra/pull/7801. @alejomonbar please add the line "Fixes #7634" to the opening post there.

[2022-04-04 20:54] #7879 closed

[2022-04-04 21:27] kapawlak commented on #7869
Hi Jake,
Thanks for the response! So there are two issues here:
- One is that the graphical representation does not reflect the class data of the circuit -- we see that the labeled quits and ancillas are displayed on calling the .draw() method, however the names and information have been wiped from QuantumCircuit.qubits. I believe that these should be in agreement at all times. If I call the draw(

[2022-04-05 11:01] nonhermitian commented on #7869
I am not sure I follow here.  The names have changed because one has mapped from virtual qubits to "physical" qubits.  The number of physical qubits used need not be the same as the input if the system is larger than the input circuit width.  If I have multiple quantum registers, which one should these one or more additional qubits be assigned?  There is ambiguity there.

`get_counts` returns the

[2022-04-05 13:21] Cryoris commented on #7861
This might be interesting in the broader context of algorithms and not just QEOM. It would for instance allow us to remove the logic inside `NumPyEigensolver` that currently evaluates auxiliary operators. So I think this would be a good idea.

@woodsp-ibm @dlasecki do you have an opinion on this? 🙂

[2022-04-05 13:57] woodsp-ibm commented on #7861
One thing that needs to be sorted is how does this fit in with the upcoming Estimators and which I can see VQE transitioning over to using exclusively. Having this extracted from current VQE and made more general in the interim to allow the evolution logic to use it seemed ok. I had suggested in the PR where this was created that a "better" place for this, if this is perhaps a more general method

[2022-04-05 15:41] Cryoris commented on #2959
This looks like it's covered by `DAGCircuit.replace_block_with_op` which was introduced in #7185:
https://github.com/Qiskit/qiskit-terra/blob/df2a6ebdee904572d33a94a18d9362ee6e6c81f7/qiskit/dagcircuit/dagcircuit.py#L1040

[2022-04-05 18:32] Cryoris commented on #7868
In case someone sees this, with Nature 0.3.2 released this issue is also fixed on the current stable install.

[2022-04-05 18:35] smturro2 commented on #2306
Hi If @abzsd is no longer working on this issue, I'd love to be assigned and write the tests.

[2022-04-06 05:29] t-imamichi opened #7894 "`decompose` ignores some parameter expressions"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.9.12
- **Operating system**: macOS 12.3.1

### What is happening?

I notice that `QuantumCircuit.decompose` ignores some parameter expressions when I modify them via `Instruction.params`.
I'm not sure that this is a valid way to update parameter expressions, but it is used in the gradient framework.
https://github.com/Qiskit

[2022-04-06 07:30] Cryoris commented on #7894
That's a funny timing! We were actually just looking into this with @mrossinek and @Zoufalc and the issue is that
https://github.com/Qiskit/qiskit-terra/blob/b510d6a65d0c64b9543b4d31c2789b07a4cd75c4/qiskit/opflow/gradients/circuit_gradients/param_shift.py#L228

is *not* a valid way to update the parameters (as you suggested already). Updating like that only changes the current gate instance and do

[2022-04-06 07:43] t-imamichi commented on #7894
Thank you for your information! I wait for the merge of the PR.

[2022-04-06 08:27] t-imamichi commented on #7894
This issue is essentially same as #7486. So, I close this one.

[2022-04-06 08:31] Cryoris commented on #7894
This issue won't be closed by #7487 but will need another PR, could you keep this issue open so we can keep track of this bug? 🙂

[2022-04-06 08:35] t-imamichi commented on #7894
Alright. I then reopen this.

[2022-04-06 08:38] Cryoris commented on #7894
But in any case, going via `instruction.params` is not a supported way of binding parameters and one should always go via `circuit.assign_parameters` (or `bind_parameters`) 🙂

[2022-04-06 09:00] Cryoris commented on #7894
That's the feature we're adding in #7487 by adding a `Instruction.assign_parameter` method that allows to bind a (single) parameter in an ``Instruction`` to a new value

[2022-04-06 09:10] t-imamichi commented on #7894
Sounds great!

[2022-04-06 16:10] RaoulHeese opened #7901 "QAOA: remember intermediate results and choose the best of all known eigenstates"
### What is the expected enhancement?

When using `result = MinimumEigenOptimizer(QAOA(...)).solve(qubo)`, the intermediate results of QAOA are not considered in the final outcome. Only the eigenstates from the final parameter values are sampled in
https://github.com/Qiskit/qiskit-terra/blob/23acf363e52b6436998afc3150e117625cc6b7d6/qiskit/algorithms/minimum_eigen_solvers/vqe.py#L576
and are return

[2022-04-06 18:26] woodsp-ibm commented on #7901
I will just note that when an optimizer is computing a finite diff gradient that the objective function here will get called for that gradient computation as well which would leads to a much larger set of values than just the points traversed.

Also the minimum_eigenvalue/state  is a result of the minimum_eigen_solver and may not be solved variationally where intermediate states are available. Hen

[2022-04-06 19:22] smturro2 commented on #3090
Hi @1ucian0 I'm looking to tackle adding these tests in the MPL drawer, from what I see plot_state_hinton is already being tested and I can see it in the binder.
![image](https://user-images.githubusercontent.com/42980188/162052281-456fe2d3-849b-4977-86e5-4c4af8e5ba7f.png)
Were there specific additional tests you wanted?

[2022-04-06 19:28] andrewwack opened #7903 "qasm3 exporter fails if circuits have delays"
### Environment

- **Qiskit Terra version**: 20.0
- **Python version**: 3.8.5
- **Operating system**: linux

### What is happening?

Using the qasm3 exporter, if your circuit has a delay instruction in it, the export fails complaining about opaque gates:

[code]

### How can we reproduce the issue?

The following code demonstrates the error

[code]

### What should happen?

A proper qasm3 string s

[2022-04-06 19:30] taalexander commented on #7903
@jakelishman would you mind having a look at this?

[2022-04-07 07:53] RaoulHeese commented on #7901
Thanks @woodsp-ibm, I have a follow-up question regarding your hint for the callback: If I understand correctly, the callback only takes the parameter values as an argument and therefore, the measurement results (i.e., counts) can not be retrieved in this way. Consequently, another run has to be performed to get (new) counts, which is an unsuited approach for real hardware in my opinion and also n

[2022-04-07 09:47] saktar-unr commented on #7865
@jakelishman, Thank you! I have a question on this. As JobV1 (https://qiskit.org/documentation/stubs/qiskit.providers.JobV1.html) does not have the queue_position method anymore. Can I just remove the part where it computed the job position in queue? I mean should I just show status.value for all JobStatus (https://qiskit.org/documentation/stubs/qiskit.providers.JobStatus.html). I pushed a commit

[2022-04-07 12:49] TheGupta2012 commented on #7181
Hey @ewinston , could you provide the details as to how you generate this profile? I know about `%prun` in python but it would be great to know about the profiler (or the script) that you use to generate the above graphs.

[2022-04-07 14:48] javabster commented on #7206
Hi all, sorry for the slow reply, it seems there are a lot of you who would like to tackle this issue but a PR has already been merged addressing it so this issue can now be closed. It seems the PR was not correctly linked to this issue so it didn't close when the PR was merged. Please feel free to take a look at some of the other issues labelled `good fist issue` or `help wanted` if you would lik

[2022-04-07 14:48] #7206 closed

[2022-04-08 13:28] BrMg666 opened #7908 "ERROR: Failed to load qobj"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.7.12
- **Operating system**: win10
- {qiskit-terra': '', 'qiskit-aer': '0.10.4', 'qiskit-ignis': '0.7.0', 'qiskit-ibmq-provider': '0.19.0', 'qiskit-aqua': None, 'qiskit': '0.36.0', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}

### What is happening?

 I create

[2022-04-08 14:01] nonhermitian opened #7909 "Do not wait 5 seconds in QuantumInstance by default"
### What is the expected enhancement?

VQE and the like are basically unusable with FakeBackends because the `QuantumInstance` is waiting 5 sec to get results.  It would be nice to have `wait=0` by default.

For example, a 2Q problem takes 21min by default, verse 39sec on the same machine using a custom SPSA solver following this tutorial: https://qiskit.org/documentation/partners/qiskit_ibm_runti

[2022-04-08 14:16] nonhermitian opened #7910 "QuantumInstance spends lots of time in time.sleep, even when wait=0"
### Environment

- **Qiskit Terra version**:  latest
- **Python version**:
- **Operating system**:

### What is happening?

Setting the `QuantumInstance` with `wait=0`:

[code]

still results in a large amount of time being wasted in `time.sleep` for what seems to be no reason, e.g. from profiling:

[code]

### How can we reproduce the issue?

Run a simple 2Q VQE using a `FakeBackend`

### What sh

[2022-04-08 14:26] nonhermitian opened #7911 "FakeBackends are inefficient because noise model is repeatedly built"
### What is the expected enhancement?

When using FakeBackends there are multiple calls to `noise_model.from_backend` that lead to hug performance hits. E.g from profiling one VQE run, 40 out of 58 seconds is just building noise models repeatedly:

[code]

However, doing the building direct in Aer removes all of this overhead.  Namely:

[code]
is dramatically faster.

I am guessing this is because

[2022-04-08 16:30] mtreinish commented on #7911
This should be fixed by: https://github.com/Qiskit/qiskit-terra/pull/7912 I've tagged it for backport to 0.20.1 (which will hopefully go out next week).

[2022-04-08 20:18] mtreinish opened #7914 "Some test modules (at least one) take a long time to import"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.10
- **Operating system**: Linux

### What is happening?

Some test modules (maybe just one) take a long time to import. I've generally noticed that test discovery in stestr (which scans the `test/python` directory and imports every module named `test_*`) has been getting increasingly slow lately. When working on #7912 in pa