[2020-12-10 17:18] mtreinish commented on #5502
I spent some time tracking this down. The segfault is originating in the upstream dependency of retworkx, petgraph. Specifically looking at the the back trace under gdb it's when retworkx calls `is_cyclic_directed`: https://github.com/Qiskit/retworkx/blob/0.7.1/src/lib.rs#L234 specifically inside the traversal code `petgraph::visit::dfsvisit::dfs_visitor` which is recursive and calling itself >70k

[2020-12-10 19:07] mtreinish commented on #5502
@roberCO I've pushed up both fixes at https://github.com/Qiskit/qiskit-terra/pull/5505 and https://github.com/Qiskit/retworkx/pull/217 and confirmed both fix the segfault for me locally if you want to give either a try.

[2020-12-10 19:25] #5502 closed

[2020-12-10 20:04] 1ucian0 commented on #5423
Is this issue closed by https://github.com/Qiskit/qiskit-terra/pull/5444 ?

[2020-12-10 20:08] 1ucian0 commented on #5423
ping @kdk ? Otherwise, @Drinion can take it.

[2020-12-10 22:09] #5428 closed

[2020-12-10 22:17] kdk commented on #5423
This is added in #5444 .

[2020-12-10 22:17] #5423 closed

[2020-12-11 00:20] #5409 closed

[2020-12-11 06:12] ShellyGarion commented on #4311
I can help with handling this issue - could you please assign me to it?

[2020-12-11 07:45] 1ucian0 commented on #5214
ping @jlatone ?

[2020-12-11 13:14] roberCO commented on #5502
Thank you very much @mtreinish !!

I was testing with different configurations and it solves the problem. I will do other tests that take like a couple of days but it seems it solved.

[2020-12-11 16:14] nkanazawa1989 opened #5510 "Result object class for IQ data"
### What is the expected enhancement?

We need a class to manage IQ data.
When we execute a job with `meas_level=1` the device will return IQ scatter data. Currently this is numpy arrary with size depending on the `meas_return = 'single'/'avg'` and it is very hard to extract the target data.

We need something like:

[code]

[2020-12-11 16:53] nonhermitian opened #5511 "Add sparse minimum eigen solver"
### What is the expected behavior?

Currently Qiskit supports only a NumPy eigensolver that works on dense arrays.  Typically this is used to solve for the ground state energy of some Hamiltonian model.  However, it is well known that Hamiltonians constructed from composite quantum systems are nominally very sparse.  As such, it is numerically much more efficient to use iterative sparse solvers to

[2020-12-11 17:35] lcapelluto opened #5512 "Allow the transpiler to find gate durations from calibrations"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

The `scheduling_method` of the transpiler fails when gate durations are determined by provided gate calibrations.

### Steps to reproduce the problem

Make a program with a calibration. (This is a brand new feature!)
[code]

The times are fully specified, since each operat

[2020-12-11 17:57] lcapelluto opened #5513 "Allow `inst_map` to populate `job.config.calibrations`"
This is blocked by https://github.com/Qiskit/qiskit-terra/pull/5358

### What is the expected enhancement?
Often times, all the circuits in a job should have the same cals. To add identical calibrations to every circuit in a job, the user currently has two options.

#### Option 1: Add same calibration to every circuit
[code]

#### Option 2: Schedule
Here, we convert the circuit to a schedule and s

[2020-12-11 19:25] TharrmashasthaPV commented on #4421
Hi @1ucian0 . Now that all the classical bits are given in a single wire, I think we would also have to provide the control value when representing the classical control. I thought of something like this.

![2-q_c_ctrl](https://user-images.githubusercontent.com/51048173/101945845-88f98b00-3c14-11eb-9ff3-af19f4cf19fa.png)

![3-q_c_ctrl](https://user-images.githubusercontent.com/51048173/101945825-8

[2020-12-12 07:38] YosephKS commented on #5512
Hey @lcapelluto, I am new to the repo and would like to try work on the issue.

[2020-12-14 16:27] ljubabu commented on #5453
@Cryoris Sorry for late response. Thanks for the help. You are right regarding the global phase and for the introducing the optimization level in execution method remark. However, when I change the diagonal parameters to slightly complicated form
[code]
in order to check whether proposed method is working, again wrong results are obtained. For the VER I and II correct statevector is obtained,
[cod

[2020-12-14 17:32] georgios-ts commented on #5453
@ljubabu You are right. `Diagonal` gate constructs a circuit that is equivalent up to a global phase (and does not track it) but this becomes a relative phase when you add control.

[2020-12-14 18:07] nkanazawa1989 opened #5518 "Qiskit transpiler cannot handle custom multi-qubit gates"
### What is the expected enhancement?

Because Qiskit is backend agnostic, we should be able to define custom multi qubit gate. What I want to do here is

[code]

But current transpiler passes don't allow to have 3q basis gates. I think this limits capability of Qiskit.

https://github.com/Qiskit/qiskit-terra/blob/6646e681501deb8aac55cdc69a8a351ec058e989/qiskit/transpiler/preset_passmanagers/level

[2020-12-15 09:17] #5387 closed

[2020-12-15 14:28] coruscating opened #5523 "Older pickle files no longer loading"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.7.3
- **Operating system**: Catalina

### What is the current behavior?

A results object pickle file exported in 0.15.0 cannot be imported in 0.16.0+.

### Steps to reproduce the problem

Create QV ideal results in 0.15.0:

[code]

When loading the pickle file in 0.16.0 and above, I get this error:

[code]

### What is th

[2020-12-15 14:41] lcapelluto commented on #5512
@YosephKS Thank you! If you have questions, let me know. You can ask here, but I will be more responsive if you ask on Qiskit slack (`@lauren.capelluto`)

[2020-12-15 15:13] lcapelluto opened #5524 "Fix issue with assigning parameters to pulse gate definitions"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

If a schedule is added as a calibration, and has a parameter which isn't in the gate, it cannot be assigned via `circ.assign_parameter`.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

`alpha` in the example schedule above, should be assign

[2020-12-15 15:32] anedumla opened #5525 "Need to call `_build()` before `to_instruction()` for a `BlueprintCircuit`"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
For a `QuantumCircuit` `qc` and a `BlueprintCircuit` `my_circ`, using `my_circ.to_instruction()` in `qc.append()` before having called `my_circ._build()` results in an error.

### Steps to reproduce the problem
[code]
Error:
[code]

However the following code works:
[code]

[2020-12-15 22:51] mtreinish opened #5530 "Performance regressions in NoiseAdaptiveLayout"
### Information

- **Qiskit Terra version**: master with 7972d6c95de41dbffb06594a27b88ddd2c108ec8
- **Python version**: 3.6
- **Operating system**: Linux

Since https://github.com/Qiskit/qiskit-terra/commit/7972d6c9 merged a few regressions have been tagged by the benchmark suite. These are both runtime such as:

 https://qiskit.github.io/qiskit/#transpiler_qualitative.TranspilerQualitativeBench.t

[2020-12-15 23:01] mtreinish opened #5531 "Use Optimize1qGatesDecompositon by default in more situations"
### What is the expected enhancement?

We have 2 passes that do 1q gate optimization `Optimize1qGates` which only works on u1, u2, u3 (and u and p which are identical to u3 and u) and `Optimize1qGatesDecomposition` which works with any basis. Right now all the default pass managers are using logic to pick between the two passes with:

[code]

This is less than ideal because for over complete basis

[2020-12-15 23:16] mtreinish opened #5532 "Avoid potential import cycles from Aer and IBMQ"
### What is the expected enhancement?

Right now the effort to remove namespace packaging in #5089 is blocked on the modules level imports of `Aer` and `IBMQ`. This is because this causes an import cycle when those factory objects are no longer in the qiskit namespace. Basically, `qiskit_aer` imports `qiskit` whichi imports `qiskit_aer.Aer` which can't be resolved by python. To move forward on thi

[2020-12-15 23:20] mtreinish commented on #5532
The other thing that might complicate this is `qiskit.__qiskit_version__` which also imports the elements version and is run at the module level. If it's an issue we should hopefully be able to come up with a similar hack for it, it's just a bit more involved because  `qiskit.__qiskit_version__` is a dict so when people use that they're actually only doing a module level getattr so we might be stu

[2020-12-15 23:32] mtreinish commented on #5523
This is not something we can fix in qiskit and is a big part of why you shouldn't use pickle as a general serialization format (which it's not and the stdlib pickle docs try to make clear). Pickle is executing python code and assumes the state of the code is identical on both the serializer and the deserializer. If the environment is not the same it will fail. What is happening here is pickle dese

[2020-12-15 23:32] #5523 closed

[2020-12-16 09:16] eggerdj opened #5533 "Template substitution with parameters can result in unbound templates"
### Information

- **Qiskit Terra version**: on commit 287dc80e17ad302be1fb9d79150e35cba131d083
- **Python version**: 3.7.9
- **Operating system**: Ubuntu

### What is the current behavior?
Template substitution where templates have parameters sometimes causes errors. When parameters are present the template substitution first performs a soft match and then solves a system of equations in `_attemp

[2020-12-16 10:57] nonhermitian opened #5535 "Transpiler hangs if trying to go to a basis with just 'ecr' and not 'cx'"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The following hangs in what appears to be an infinite loop with `ecr` appearing never to be solved so it keeps looping.  Since a cx gate uses a cross-resonance gate on IBM systems, it should be possible to decompose it.

[code]

### Steps to reproduce the problem

##

[2020-12-16 11:00] nonhermitian commented on #5535
Update: It does not hang but takes forever to fail.

[2020-12-16 11:15] nonhermitian opened #5536 "Cannot build a circuit from qasm with an ecr gate"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
In trying to build a circuit from qasm using an ecr gate:

[code]

I get the following error:
[code]
### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-12-16 11:21] nonhermitian commented on #5535
It is actually a bit odd because the QASM def of `ecr` is:

[code]
which is in terms of other basis gates.  This is different from other basis gates in which their definition is itself:

[code]

[2020-12-16 13:57] taalexander commented on #5535
My understanding was that this definition is not even being used by the Transpiler? The OpenQASM2 specification defines `U` and `CX` as special gates to be used to inform the respective compiler of the unitary representation of the derived gate. See page 5 https://arxiv.org/pdf/1707.03429.pdf.

[2020-12-16 14:07] nonhermitian commented on #5535
So I can not actually use ecr gates then?  They are not defined in Qiskit anywhere and I cannot transpile to them although they are a valid basis gate per the device. Note that cx gates on ibm devices are defined in terms of cr gates so this definition seems circular.

[2020-12-16 14:53] taalexander commented on #5535
`CX` is not circular. It has a special meaning in OpenQASM2 as a unitary representation, please see my comment above.

Something like
[code]
will work.

[2020-12-16 15:21] enavarro51 commented on #5531
@mtreinish and @kdk, combining #5468 and this issue, here's what I believe has to be done.
1. Add U3 to U2 or U1 and similar for U reductions in OneQubitEulerDecomposer.
2. In Optimize1qGatesDecomposition.run, allow single 1q gate optimization if the gate is U or U3, so that item 1 will go through the optimization.
3. Change the 'if' in the code above in level1, 2, and 3 to check that all 1q compo

[2020-12-16 15:24] nonhermitian commented on #5535
Confusing but will close as this is the expected behavior

[2020-12-16 15:24] #5535 closed

[2020-12-16 18:16] Drinion commented on #5524
Hi! May I have a shot at this?

[2020-12-16 21:54] #5533 closed

[2020-12-16 23:09] kdk commented on #5536
Looks like `.name` is never set for the built-in `Cnot` and `UniversalUnitary` classes (so, this works if `U`/`CX` are replaced with `u`/`cx`). Any idea why @1ucian0 ?

[2020-12-16 23:09] kdk commented on #5531
@enavarro51 The above plan looks good. (Though for 3, I don't know that it's straightforward to distinguish the 1q from 2q gates in basis gates. It may be better to split out the pass manager changes into a separate PR.) Feel free to reach out with any questions.

[2020-12-16 23:45] kdk opened #5539 "Transpiler slow to raise when attempting to target an unreachable basis"
### What is the expected enhancement?
When attempting to transpile to a set of `basis_gates` that the transpiler can't reach, the `BasisTranslator` will eventually fail with an error like
[code]
but it is very slow to do so.

[code]

This is a best case example, but for e.g. a Toffoli where decompositions will contain single qubit gates (and so its possible to make some progress):

[code]

In gene

[2020-12-17 09:03] ikkoham commented on #5475
I want to clarify.
Which do you mean remove or deprecate?

[2020-12-17 09:05] ikkoham commented on #5475
I want to clarify. Which is this issue `remove` or `deprecate` until 0.17.0?

[2020-12-17 11:30] mtreinish commented on #5475
I mean remove, since qiskit.opflow is a new path we should not be deprecating things directly in it for the first release. We will deprecate things on the aqua side. So once nothing is using the legacy operators directory we should just remove it before 0.17.0.

[2020-12-17 11:34] stefan-woerner commented on #5475
@ikkoham we'll deprecate in Aqua and remove in Terra.

[2020-12-17 11:34] ikkoham commented on #5475
Thanks. I just got it.

2020年12月17日(木) 20:30 Matthew Treinish <notifications@github.com>:

[2020-12-17 18:41] ajavadia opened #5543 "collect_1q_runs should not collect atomic ops"
https://github.com/Qiskit/qiskit-terra/blob/5a1768f8a0522513ca6ec2a93b36752f103b18ba/qiskit/dagcircuit/dagcircuit.py#L1380

This function was introduced recently in #5431. It currently has some filters (e.g. don't collect conditional ops or ops that act on classical bits). These filter conditions are necessary to avoid collecting nodes which cannot be simulated to a unitary, then resynthesized lat

[2020-12-17 21:25] #5333 closed

[2020-12-18 09:03] nonhermitian opened #5545 "RuntimeError: dictionary changed size during iteration on execute"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

/opt/miniconda3/lib/python3.7/site-packages/qiskit_terra-0.17.0-py3.7-macosx-10.9-x86_64.egg/qiskit/execute.py in execute(experiments, backend, basis_gates, coupling_map, backend_properties, initial_layout, seed_transpiler, optimization_level, pass_manager, qobj_id,

[2020-12-18 12:39] francabrera commented on #5536
in addition to that, should this gate be included in the `qelib1.inc` https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qasm/libs/qelib1.inc being a basis gate?

[2020-12-18 16:10] kdk commented on #2940
Resolved by #5270 .

[2020-12-18 16:10] #2940 closed

[2020-12-18 16:34] kdk commented on #5545
I believe this was fixed by #5528 . Feel free to re-open if you're still seeing this.

[2020-12-18 16:34] #5545 closed

[2020-12-18 16:42] lcapelluto commented on #5524
Absolutely!

[2020-12-18 16:47] lcapelluto commented on #5392
The new drawer is so much better:) The old one is almost unusable, with scaling issues, so I added this to 0.17 milestone. Really looking forward to this!

It doesn't seem to have full backwards compatibility as is. I get errors:
`TypeError: draw() got an unexpected keyword argument 'dt'`
`TypeError: draw() got an unexpected keyword argument 'filename'`
etc

[2020-12-18 19:07] jlapeyre opened #5547 "implement iterating/collecting PauliSumOp coefficients"
It would be useful to be able to iterate over, or return a list of coefficients in PauliSumOp. At present, one has to dig into the details to construct the coefficients for each term. In particular, it requires multiplying two numbers for each coeffcient. There are use cases, for instance when bounding the eigenvalues of the operators.

For example, this gives a bound on the eigenvalues:
[code]

A

[2020-12-19 07:46] ananya-p commented on #2189
Hi,

I am facing the same issue and am not able to resolve it.

My code:

`def upgrade(server_list_file, commands_file, user="xyz", sudo=False, password=" "):
    with open(server_list_file) as fh:
        hosts = [l.strip() for l in fh.readlines()]
        for host in hosts:
            if host.startswith('#'):
                hosts.remove(host)
    with open(commands_file) as fh:
        command

[2020-12-19 16:52] paolob67 commented on #5547
Hello,

I'm pretty new to quantum but I wanted to start contributing.

If this is the patch you were looking for I can create a pull request.

diff --git a/qiskit/opflow/primitive_ops/pauli_sum_op.py b/qiskit/opflow/primitive_ops/pauli_sum_op.py
index 0b5c0526..b4ee9399 100644
--- a/qiskit/opflow/primitive_ops/pauli_sum_op.py
+++ b/qiskit/opflow/primitive_ops/pauli_sum_op.py
@@ -58,7 +58,13 @@ cla

[2020-12-19 19:19] Drinion commented on #5524
Ok, I've now added `self._update_parameter_table(schedule.parameters)` to `add_calibrations()` and it produces the following error:

[code]

The issue stems from the way I'm trying to add the `schedule.parameters` to the `_parameters_table`. Am I using the wrong method?

[2020-12-20 00:00] jlapeyre commented on #5547
Thanks for jumping in. I don't think that patch gives the correct result in all cases. There are two "layers" of coefficients: `pauli_sum.primitive.coeffs` and a single number `pauli_sum.coeff`.

 A list of the full coefficient might be generated like this: `[c * pauli_sum.coeff for c in pauli_sum.primitive.coeffs]`

[2020-12-20 09:25] paolob67 commented on #5547
Thank you for the additional info. Sorry I did not get it in the first place. So how about this?

[code]
that would return something like

[code]

[2020-12-20 15:36] jlapeyre commented on #5547
Thanks, this looks good. Before making a PR, it would be a good idea to wait a bit to see if someone comments. There might be a reason to return a list rather than an array.

[2020-12-20 16:11] paolob67 commented on #5547
All right. Thanks a lot. I'll just leave this here for others to jump in and provide review/direction.

[code]

[code]
[code]

[2020-12-21 00:31] ikkoham commented on #5547
Thanks. Nice. I provide some discussion points.
1. Are the internal types of lists python Native numeric type? or numpy.complex128? (Which is better?)
2. How about returning an iterator like https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/quantum_info/operators/symplectic/sparse_pauli_op.py#L549-L575.

[2020-12-21 01:53] jlapeyre commented on #5547
1. Items in a list can be anything. It depends on what produced them. Note that `numpy.ndarray.tolist` converts the numpy.complex128, etc to    builtin Python `complex`. My guess is that it is kind of standard to convert to builtin types if you are converting to (or building) a list.
2. I believe an iterator is used there in order to be memory efficient, since each matrix may be very large. Not to

[2020-12-21 09:36] paolob67 commented on #5547
Hi thanks for the comments.

1. we could avoid the conversion and return a list of `numpy.complex128` with
[code]
instead of calling the `tolist()`

2. I will try to implement that iterator as per the suggested code and will post it here. I might need to come back for help on that.

I don't have any experience with this matter, so forgive me, but I'd keep it simple and go with the basic implementa

[2020-12-21 10:13] paolob67 commented on #5547
So, here's what I have so far:

[code]

[code]

[code]

[2020-12-21 15:09] eggerdj opened #5549 "Allow templates to be given as DAGDependency"
### What is the expected enhancement?
The template optimization pass of the transpiler allows users to provide templates, in the form of `QuantumCircuit`s, to optimize larger quantum circuits. These template quantum circuits are immediately converted to `DAGDependency` when given to `TemplateOptimization(TransformationPass)`'s `__init__` method. The conversion from `QuantumCircuit` to `DAGDependen

[2020-12-21 15:47] paolob67 commented on #5543
Hi, I took a look at this one. Not sure if this is the correct way to solve it.

[code]

With the above patch I see delay() and reset() not being collected

[code]

[code]

[2020-12-22 11:46] iuliazidaru opened #5555 "QuantumCircuit draw method doesn't work from a function"
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.7.9
- **Operating system**: macOS Catalina - Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64

### What is the current behavior?
qc.draw() doesn't print the circuit when called from function in jupyter notebook.

### Steps to reproduce the problem

[code]

### What is the exp

[2020-12-22 11:54] 1ucian0 commented on #5555
Try display(qc.draw())

On Tue, Dec 22, 2020, 12:46 PM Iulia Zidaru <notifications@github.com>
wrote:

[2020-12-22 17:01] iamsantanubanerjee commented on #5524
@Drinion I've been looking at the issue for some time now and from my understanding (and also from what @lcapelluto has confirmed) `schedule.parameters` and `_parameter_table` has two different data structures.

[2020-12-23 05:11] iuliazidaru commented on #5555
It works with display. Thank you!

[2020-12-23 09:00] 1ucian0 commented on #5555
Great!

In that case, that's expected behavior. It's the way that jupyter works. Therefore, closing.

[2020-12-23 09:00] #5555 closed

[2020-12-23 11:53] Drinion commented on #5524
@iamsantanubanerjee Thanks! Yes, I suggest that we adjust the error message instead of trying to modify `add_calibration()`. This will be quite elaborate however.

[2020-12-23 15:49] yaelbh opened #5556 "Transpilation fails with snapshot instruction"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8.5
- **Operating system**: Linux

### What is the current behavior?

Transpiling a simple circuit, which contains a snapshot, with basis gates `['u', 'cx']`, raises an error. The same happens with more sets of basis gates: `['r', 'cz'], ['rz', 'rx', 'cz'], ['p', 'sx', 'cx']`. However transpiling the same circuit with basi

[2020-12-23 16:41] enavarro51 commented on #5556
Oddly enough, I was just working on this as part of #5554. This is caused by `Optimize1qGatesDecomposition.run()` calling `Operator(qc)`. Operator will fail for 'snapshot', 'delay', and 'reset'. The reason it works with 'u3' in the basis is that if the basis has 'u1', 'u2', or 'u3', the optimizer calls `Optimize1qGates.run()` instead, which does not call `Operator()`.

[2020-12-23 17:13] coruscating commented on #5317
Resolved by #5452.

[2020-12-23 17:13] #5317 closed

[2020-12-23 17:16] nonhermitian opened #5557 "Make it easier to assign parameters to vector of parameters"
### What is the expected enhancement?
It is currently a struggle to figure out how to bind a vector of parameters to a circuit.  There is no example in the tutorials for doing this (that I could find) and the only example that I could make work is the following:

[code]

[code]
[code]

[code]

However this is confusing because one is temped to do either `qc.bind_parameters({'th': np.random.random(

[2020-12-23 23:05] Cryoris commented on #5557
If you do
[code]
I think that should work. But yeah I agree it's cumbersome (especially bc that `ordered_parameters` only exists on the NLocal circuits bc they were needed for consistency & backward compatibility on the variational algos). However we're looking to make parameters sorted and then we could facilitate binding

[2020-12-24 04:54] jwoehr commented on #5132
This probably should be closed as moot/won't do.

[2020-12-24 11:27] nonhermitian commented on #5557
Yeah, so it does seem that *some* circuits in the circuit library accept arrays as inputs to `assign`-parameters, but it is not universal.  Namely the main circuit class does not.  This leads to confusion and breaking code because one could pass an array in one case and then try their own circuit and it would fail.  So currently the situation is that either dicts are used everywhere, which as stat

[2020-12-24 11:58] ananya-p opened #5559 "AttributeError: 'list' object has no attribute 'items'"
Hi,

I am facing this issue and am not able to resolve it.

My code:

def upgrade(server_list_file, commands_file, user="xyz", sudo=False, password=" "):
with open(server_list_file) as fh:
hosts = [l.strip() for l in fh.readlines()]
for host in hosts:
if host.startswith('#'):
hosts.remove(host)
with open(commands_file) as fh:
commands = [l.strip() for l in fh.readlines()]
client = ParallelSSHClien

[2020-12-26 13:17] paolob67 commented on #5467
Hi, I tried to look at this one and came up worth his implementation.

[code]

Let me know if it could be suitable.

[2020-12-26 17:47] ahasan20 commented on #4938
hey @smiling-monkeys, the progress so far looks great! any updates on this? i'd love to help out if there's anything i can do!

[2020-12-26 21:59] wzhu8 commented on #1237
:( inactive again

[2020-12-27 13:34] paolob67 commented on #5524
Hey @Drinion, @lcapelluto I suggest changing  `add_calibration()` like this.

[code]

A quick test but, probably, needs more:

[code]
[code]

I hope it helps.

Paolo

[2020-12-27 16:46] Drinion commented on #5524
@paolob67 Perfect! Thanks, I'll test your solution and set up a merge request.

[2020-12-27 20:45] 1ucian0 commented on #1237
Fixed! Thanks for let us know!

[2020-12-27 21:08] paolob67 commented on #5524
You might also want to handle the case when the instruction is not found a raise some kind of error.

[2020-12-28 15:29] lcapelluto commented on #5348
Hi, I'm just seeing your message. Are you still interested?

[2020-12-28 22:39] molar-volume opened #5566 "lin_comb method does not produce symmetric Hessian"
### Information

- **Qiskit Terra version**: 0.16.1     698bd3faf546ac335c3e1a6b202a089e75a19fcd
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Methods `param_shift` and `fin_diff` produce symmetric hessian, but `lin_comb` does not.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
[code]

[2020-12-29 06:58] Drinion commented on #5524
@lcapelluto Sorry, my merge request pipeline tests failed and I don't have the time right now to continue with this issue, so I've unassigned myself.

[2020-12-29 11:39] Cryoris commented on #5566
This will be fixed by #5501

[2020-12-29 14:38] ahasan20 commented on #5348
I'd love to work on this issue as well!

[2020-12-30 12:16] yanhuchen opened #5580 "qiskit.quantum_info.operators.Operator will give wrong result in the following condition"
### Informations

- **Qiskit version**:
{'qiskit-terra': '0.16.1',
 'qiskit-aer': '0.7.2',
 'qiskit-ignis': '0.5.1',
 'qiskit-ibmq-provider': '0.11.1',
 'qiskit-aqua': '0.8.1',
 'qiskit': '0.23.2'}
- **Python version**: Python 3.7.4
- **Operating system**: Windows10

### What is the current behavior?
For the same unitary operation, we attempt to use two ways to implement it.

1. Use the existing u

[2020-12-31 01:28] Hrishik-Shrestha commented on #5359
Hello. Can I work on this issue?

[2020-12-31 01:33] paniash commented on #5359
@Hrishik-Shrestha Hi! A PR has already been made for it. Thanks!

[2021-01-02 09:47] kurabirko opened #5571 "parallel map raises BrokenProcessPool error on macOS 11.1 with Python 3.9.1."
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.9.1
- **Operating system**: macOS 11.1

### What is the current behavior?

Very similar to #4401, using `parallel_map` results in `BrokenProcessPool` exception.

### Steps to reproduce the problem

[code]

Results in

[code]

[2021-01-04 04:21] SashwatAnagolum opened #5574 "Add algorithms like QCNNs, QRNNs and variational QBMs"
### What is the expected behavior?
Currently, Aqua's (now Terra's) algorithm section only supports a couple of quantum machine learning algorithms, including QGANs, QSVMs, QNNs, and more. It would be super cool if we could add some more algorithms like (but not limited to) the ones mentioned in the title.

I plan to work on these, so in case someone is already working on building any of these into

[2021-01-04 05:22] nkanazawa1989 commented on #5392
Thanks for testing new drawer. The changes are below:
- As for `dt`: we have `time_unit` and `backend` as new arguments. `dt` value is automatically extracted from given pulse backend object. We can set `dt` or `ns` to `time_unit` argment.
- As for `filename`: We delegated file saving to the plotter software to be used. The pulse drawer returns matplotlib `Figure` object and we can call `Figure.sa

[2021-01-04 12:53] mtreinish opened #5575 "Import time regression after #5358"
### Information

- **Qiskit Terra version**: after 300e9507
- **Python version**: 3.6
- **Operating system**: Linux

### What is the current behavior?

After #5358 merged a significant import time performance was introduced:

https://qiskit.github.io/qiskit/#import.QiskitImport.time_qiskit_import?commits=300e9507

### Steps to reproduce the problem

Run `import qiskit`

[2021-01-04 13:02] mtreinish commented on #5575
Digging into this it's sympy again from `pulse.utils`:

![Screenshot_2021-01-04_07-58-50](https://user-images.githubusercontent.com/2447371/103537628-bc6db500-4e62-11eb-929f-bce4dd3d7a87.png)

I fixed this quite recently in #5416 we really need to stop using sympy.

[2021-01-04 13:10] mtreinish commented on #5556
This is actually a duplicate of #5543 the issue is that the run collection for 1q gates is treating some non-gate 1q instructions as gates and trying to make an operator from that which obviously doesn't work.

[2021-01-04 13:42] TheGupta2012 commented on #5512
Hey @lcapelluto , I was looking at this issue and wanted to know if I could go ahead with working on it?

[2021-01-04 13:46] YosephKS commented on #5512
I should be working on it, but haven't really started yet, so I think you can take over if you liked to! Btw to ask further info, contact @lcapelluto  on Qiskit slack (`@lauren.capelluto`)

[2021-01-04 13:59] mtreinish commented on #5543
@ajavadia would it be sufficient to add an `isinstance(node.op, Gate)` to the filter function? Or are there cases where we'll have custom instructions which can be defined as other gates that aren't a `Gate` subclass?

[2021-01-04 15:37] TheGupta2012 commented on #5512
Thank you @YosephKS , I just wanted to confirm this only.

[2021-01-04 16:22] SashwatAnagolum commented on #5574
@stefan-woerner

[2021-01-04 16:22] #5574 closed

[2021-01-04 16:44] taalexander commented on #5543
I am also running into this with the `Delay` instruction after updating the mock backends in #5577.

[2021-01-04 16:47] taalexander commented on #5543
#5570 seems like a solution that may enable the latter case as well.

[2021-01-04 17:59] taalexander commented on #5559
Hello @ananya-p, this does not appear to be related to Qiskit and therefore I am closing. If you disagree please reopen with additional information or clarification.

[2021-01-04 17:59] #5559 closed

[2021-01-04 18:19] taalexander commented on #3485
Any update here @nkanazawa1989?

[2021-01-04 19:45] lcapelluto commented on #5441
I think if you remove `set`, you then have to check if `entry` already exists in `self._parameter_table[new_parameter]`. We shouldn't have duplicates, right? I don't fully understand why the example code wasn't working

[2021-01-04 22:10] dahlend opened #5579 "Mock devices have not been updated to match new hardware basis gateset"
### Information

- **Qiskit Terra version**: master
- **Python version**: N/A
- **Operating system**: N/A

### What is the current behavior?

Current defined mock (Fake) device configurations in `qiskit.test.mock.backends`, for example yorktown:
https://github.com/Qiskit/qiskit-terra/blob/4d3ed6a3e972a79341ebf305f4c4d7f25bb256fb/qiskit/test/mock/backends/yorktown/conf_yorktown.json#L1
Are still us

[2021-01-04 22:23] #5575 closed

[2021-01-04 22:27] dahlend commented on #5579
It looks like this will be fixed with #5577

[2021-01-04 23:09] kdk commented on #2189
Hi @ananya-p , this looks like a more general python issue, so you may have better luck asking on e.g. https://stackoverflow.com/ . Looking quickly though, it looks like your code expects `output` to be a python `dict`, but it is being returned from `client.run_command` as a `list`. Hope that helps, good luck!

[2021-01-04 23:14] kdk commented on #5132
Duplicate of #5217 .

[2021-01-04 23:14] #5132 closed

[2021-01-05 07:09] Cryoris commented on #5580
The two cases you show above don't apply the CRZ gates in the same order. In the first example, the bottom is the target qubit, and in the second example the top. So the first example applies this subcircuit
[code]
while the second one applies this
[code]
If you make the first case use the same circuit you should get the same result:
[code]

[2021-01-05 07:40] nkanazawa1989 commented on #5441
In above example, we have two instructions:
[code]

Here I'm trying to substitute `common_param ` into both `amp` (they have different uuid), but
[code]
is satisfied they are reduced to a single entry, IIRC. Then substitution is applied to only one entry. We need to check t0 + instruction rather than just entry, or perhaps we can update pulse object equality check.

[2021-01-05 07:45] nkanazawa1989 commented on #3485
I don't think we updated this. In v2 still yaxis value is missing, but with debugging stylesheet we can show max/min amplitude for each pulse.

[2021-01-05 07:47] nkanazawa1989 commented on #5392
Above PR is merged, so we can replace the pulse drawer with v2.

[2021-01-05 16:37] #5512 closed

[2021-01-05 22:18] kdk opened #5584 "Consolidate Euler basis selection from basis_gates"
### What is the expected enhancement?

As came up in #5583 , a few places in the transpiler need to find the right `OneQubitEulerDecomposer` basis to use from a given `basis_gates`. These are duplicated now, and each has its own mapping from gate name to Euler basis. It would be better if this could be consolidated and generalized, so that new bases can be added to the decomposer and picked up aut

[2021-01-05 22:21] mtreinish commented on #5584
Do you think just adding a constant global dict to the one qubit decomposer module would be sufficient for this? So we can just import that and replace the copies in the 2 transpiler passes. That would keep it close the source of truth for what the decomposer can do.

[2021-01-06 08:57] Husain0007 commented on #5233
Hello, @lcapelluto I am a first-time Open Source contributor, do you mind if I take a look at the issue?

[2021-01-06 10:25] Cryoris opened #5586 "circuit.repeat duplicates global phase"
### Information

- **Qiskit Terra version**: master @ 4d3ed6a3
- **Python version**: 3.7.9
- **Operating system**: macOS catalina

### What is the current behavior?

Calling `circuit.repeat(1)` on a circuit with global phase seems to duplicate the global phase.

### Steps to reproduce the problem

If `u` is a circuit with only a Z gate and `u_with_phase` the same circuit but with a global phase of

[2021-01-06 13:24] ewinston commented on #5586
This is checking if the matrices are identical, which they are not due to the global phase. To test equivalence up to global phase try,

```Operator(u).equiv(Operator(u_with_phase.power(1)))```

[2021-01-06 13:37] Cryoris commented on #5586
No but they are supposed to be identical, since `power(1)` shouldn't do anything. Especially in the phase estimation use case this is important because the circuits are first repeated and then controlled, so if we lose the global phase the circuits are not the same anymore, since the global phase became a relative phase 😄

[2021-01-06 13:41] jlapeyre opened #5587 "Incorrect handling of global phase in controlled gate"
### Information

qiskit-terra version: master

### What is the current behavior?

`gate.control()` where `gate` is a U3 gate may result in an incorrect controlled gate.

### Steps to reproduce the problem

This creates a matrix:

[code]

You can check that this matrix is incorrect. This bug was introduced in #5342 . In particular in the changes in qiskit/circuit/add_control.py. These changes only

[2021-01-06 13:55] ewinston commented on #5586
The circuit doesn't seem to lose the global phase.

[code]

[2021-01-06 14:09] Cryoris commented on #5586
Ok, I realised the title is wrong. It should rather be `circuit.repeat` duplicated the global phase. See e.g. this:
[code]
while `qc.power(1)` (or `repeat(1)`, they are the same if power is called with an integer) says it has a global phase of 2 it effectively has one of 4. I'll open a PR to fix it, there it should be more obvious. 🙂

[2021-01-06 14:42] ewinston commented on #5586
It seems like the the natural expectation of QuantumCircuit.repeat repeats the entire unitary, including the phase. For instance if you converted the circuit to a gate and repeated that you would get the same answer.

[2021-01-06 14:56] Cryoris commented on #5586
I agree it should repeat the global phase and in #5588 it still does. The problem right now is that it is repeated twice:
* `repeated.global_phase` is set to `repetitions * existing_phase`
* the repeated instructions themselves contain the `existing_phase`
therefore if you simulate a repeated circuit you end up with `2 * repetitions * existing_phase`

[2021-01-06 16:12] Cryoris commented on #5587
I think this might also be fixed by #5588, at least when I check locally the matrix produced by `Operator(getcont())` matches the one from `Operator(simplecirc()).data ** 2`.

[2021-01-06 16:45] ewinston commented on #5587
This is also fixed by reverting the change @jlapeyre suggested.

[2021-01-06 17:06] jlapeyre commented on #5587
Yes. As discussed out of band with @Cryoris, and in agreement with the two comments above, I find that either reverting the change mentioned here, or making the change in the new PR from @Cryoris fixes this issue. But, of course, only either or, not both. There is another closely related bug that I am writing up. We may need to consider them together.

[2021-01-06 17:24] jlapeyre commented on #5586
Yes, the global phase must not be included twice. But, doesn't it make sense to collect it in the outer circuit and remove it from the inner circuits ? Is there a standard approach to handling global phase when composing circuits ?

[2021-01-06 17:34] Cryoris commented on #5587
Both our issues are around `power/repeat` though right? If #5342 fixed some other issues I'm not sure we should revert it. @jlapeyre did you also find problems that are not related to `power/repeat`?

[2021-01-06 17:42] jlapeyre commented on #5587
Exactly, I presume there is a test in  #5342 specifically for the file that implements `control`, but I did not check. Anyway (as we discussed!) the global phase in repeat is wrong on it's own and needs to be fixed. It was probably two bugs, one in `control` and one in `repeat` that cancelled one another.

[2021-01-06 17:45] jlapeyre commented on #5586
@Cryoris says that leaving the global phase in components in a circuit is currently standard. So this PR for this issue #5588 seems to be the correct approach. LGTM.

[2021-01-06 18:08] #5008 closed

[2021-01-06 18:14] QacoBot opened #5590 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit b9d09b2cb18710b26cb6c2ad1d513686e2cf7ac0 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/469254937

[2021-01-06 18:31] QacoBot opened #5591 "Branch `master` is failing"
Trying to build `master` at commit cf7433a62fdeab9014f4b46abee9099ac1086be8 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/469254651

[2021-01-06 20:02] kdk commented on #5591
Duplicate of #5217 .

[2021-01-06 20:02] #5591 closed

[2021-01-06 20:06] kdk commented on #5590
This is from CI for #5589 , which has a conflict that needs resolving, not the stable branch.

[2021-01-06 20:06] #5590 closed

[2021-01-06 20:48] ewinston commented on #5586
LGTM

[2021-01-06 21:16] kdk commented on #5543
Updating the filter function to cover all the cases here will be a little tricky. Ultimately, the behavior we'd like is something like "collect every 1q instruction that's unitary/that we can join together with `Operator`, remembering to break at `Barrier`s."

#5570 is a step in the right direction, but `Operator` looks to `Instruction.to_matrix` and `Instruction.definition`, so a custom 1q gate w

[2021-01-06 22:09] kdk commented on #5584
:+1: That'd resolve it. (I had been wondering about updating `OneQubitEulerDecomposer` to use standard gate names (or `Gate` objects) so a user wouldn't have to do the search themselves, but that I think is a larger issue.)

[2021-01-07 08:33] #5586 closed

[2021-01-07 12:28] #5309 closed

[2021-01-07 18:35] #5556 closed

[2021-01-08 14:10] #5467 closed

[2021-01-08 18:08] mtreinish commented on #5217
Looking at the test code there are 2 `random_circuit` calls. I'm thinking we should set a seed on those. I feel like we're triggering a weird edge case in the random circuits that's causing it to fail. That being said I ran the test locally in a loop with: `tox -epy -- -n test.python.circuit.library.test_nlocal.TestNLocal.test_add_nlocal_1__5__3_ --until-failure` and after 144 executions there wer

[2021-01-08 22:13] jlapeyre commented on #5587
Fixed by #5588

[2021-01-08 22:13] #5587 closed

[2021-01-09 13:39] #5217 closed

[2021-01-09 18:24] enavarro51 commented on #5447
@Cryoris I have an implementation of this ready if no one else is working on it.

[2021-01-10 16:24] paolob67 commented on #5557
Hi. I created this quick patch for addressing this enhancement request.

[code]
It seems to work on the proposed scenario. Let me know if this would be a viable code change and I'll be happy to work on a PR.

[2021-01-10 18:04] Cryoris commented on #5580
@yanhuchen were you able to get the correct results? 🙂

[2021-01-10 18:21] Cryoris commented on #5557
I agree that we should enhance assigning parameters to circuits, right now it can be quite cumbersome. But I think we should properly discuss how we want to do that, such that we don't end up with too many different possibilities.

The simplest manner to assign an array of values, in my opinion would just be
[code]
This would be very convenient for usage with optimizers and optimization algorithms

[2021-01-10 21:04] Cryoris commented on #5447
I'm not aware on anyone else working on it, feel free to open a PR! 🙂

[2021-01-11 00:17] enavarro51 commented on #5447
Thanks.

[2021-01-11 09:44] mrossinek opened #5603 "SparsePauliOp does not respect phase of Pauli product"
### Information

- **Qiskit Terra version**: master @ 5f609e58834a70b2e1f1e6d0da3515cfd13f9a53
- **Python version**: `3.8.7`
- **Operating system**: `Linux 5.8.15-301.fc33.x86_64`

### What is the current behavior?

The `SparsePauliOp` class does not obtain the correct phase when constructed from the product of two Paulis.
Here are some example calculations (see next section for the code):
[code]

[2021-01-11 10:40] Cryoris opened #5604 "Opflow Evolutions don't work on PauliSumOp"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

The evolution converters in Opflow do a typecheck for a `SummedOp` and break if passed `PauliSumOp`. This is a problem because we implicitly return a `PauliSumOp` for expressions that used to be a `SummedOp`, e.g for `X + Z`.

### Steps to reproduce the problem

[code]

##

[2021-01-11 15:44] nonhermitian opened #5605 "Latex circuits contain lots of white space"
Using latest released version:

<img width="777" alt="Screen Shot 2021-01-11 at 10 43 33" src="https://user-images.githubusercontent.com/1249193/104203224-e5a9ba80-53f9-11eb-803e-e4a937bca15d.png">

[2021-01-11 15:45] nonhermitian commented on #5605
Also:

<img width="1048" alt="Screen Shot 2021-01-11 at 10 44 50" src="https://user-images.githubusercontent.com/1249193/104203377-0b36c400-53fa-11eb-9e21-e187756f9d00.png">

[2021-01-11 18:39] jlapeyre opened #5606 "Using decompose and Operator on a circuit give non-equal matrices"
### Information

- **Qiskit Terra version**: 74ed881a master
- **Python version**: 3.9.0
- **Operating system**: linux

### What is the current behavior?

[code]

### What is the expected behavior ?

The matrices should be equal.

[2021-01-11 18:51] jlapeyre commented on #5606
In this case, the two matrices differ by a factor of `-1`.

[2021-01-12 01:09] ikkoham commented on #5604
Thank you. I supported only `PauliTrotterEvolution` and forgot to use Suzuki directly.

[2021-01-12 02:19] ikkoham commented on #5603
`PauliTable` will be deprecated and @chriseclectic is improving `SparsePauliOp`.

[2021-01-12 05:43] nkanazawa1989 opened #5610 "Update QuantumChannel is_tp method to be more precise."
### What is the expected enhancement?

Currently evaluation of the trace preserving property of `QuantumChannel` is based on below method
https://github.com/Qiskit/qiskit-terra/blob/f54222e44a88dd0732779b561b4a863ea799a660/qiskit/quantum_info/operators/predicates.py#L139-L159

There is more precise way of evaluating this by calculating eigenvalues. See the discussion below for details.
https://git

[2021-01-12 06:18] mrossinek commented on #5603
Thanks @ikkoham! That's is good to know.
Shall we leave this open then, so that it doesn't get lost in the process of these changes?

[2021-01-12 06:43] Jwala-1908 commented on #5606
I would like to work on this issue.

[2021-01-12 07:12] ewinston commented on #5606
Previously global phase factor differences in decomposition had not been considered bugs although maybe it's unexpected that these two paths should yield different decompositions.

[2021-01-12 12:14] #5547 closed

[2021-01-12 14:08] #5392 closed

[2021-01-12 15:01] kdk commented on #5606
Thanks for your interest @Jwala-1908 , I am working on a related fix that should also resolve this issue.

[2021-01-12 15:30] kdk opened #5611 "ParametereExpression.__eq__ doesn't gracefully convert numeric types"
### What is the expected enhancement?

`__eq__` in python conventionally considers objects equal if they are semantically equivalent, even if their types differ.

[code]
Same for Sympy:
[code]

But `ParameterExpression.__eq__` breaks this convention.

[code]

Currently, at https://github.com/Qiskit/qiskit-terra/blob/44462a8b13ea6c2cce0f9c7345c26c15fb0d4ce3/qiskit/circuit/parameterexpression.py#L38

[2021-01-12 15:38] ewinston commented on #5611
This sounds reasonable to me. The `srepr` approach seemed a bit strict.

[2021-01-12 15:43] kdk opened #5612 "QuantumCircuit.bind/assign_parameters do not raise if passed key of invalid type"
### Information

- **Qiskit Terra version**: master @  507d3d8a95127064a6e5836d72912d965e0ad796
- **Python version**: 3.6
- **Operating system**: osx

### What is the current behavior?

[code]

Attempting to bind a Parameter not in the circuit correctly raises:
[code]

Likewise attempting to bind a different Parameter instance of the same name correctly raises:
[code]

But attempting to bind using

[2021-01-12 16:49] jlapeyre commented on #5606
Sorry for the late response, I didn't see notices.

Do we expect that controlling a circuit should give equivalent results for nominally equivalent decompositions? If this is so, I suppose the global phase is important here.

My immediate concern is tracking down bugs in an implementation of phase estimation. The behavior in this issue is a candidate.

[2021-01-12 17:58] #5525 closed

[2021-01-12 18:00] nonhermitian opened #5707 "Need better error when Operator not formed correctly"
### Information

- **Qiskit Aqua version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
If missing an element in the first operator one gets a clean error:

[code]

throws the error:

[code]

however if missing a term later in the sum then one gets a cryptic error msg:

[code]

[code]
### Steps to reproduce the problem

### What is the expected behavior?

[2021-01-12 18:19] #5584 closed

[2021-01-12 18:23] Cryoris opened #5614 "Parameters: Sorting & assigning"
This issues attempts to summarize possible enhancements for assigning parameters to circuits along with the main use-cases. Related to #5557 and #3910.

### Status quo

To assign parameters to a circuit, one needs to pass
* a dictionary of `{parameter_instance: value}`, or
* a dictionary of `{parameter_vector_instance: values_list}`

The keys of the dictionary have to be the same instances as in t

[2021-01-12 21:37] #1586 closed

[2021-01-13 12:03] #5553 closed

[2021-01-14 13:48] anedumla opened #5625 "Opflow gives wrong results calculating probabilities"
### Information

- **Qiskit Terra version**: 0.17.0
- **Python version**: 3.8.3
- **Operating system**: Windows 10 Enterprise 64-bit

### What is the current behavior?
Opflow yields wrong results when calculating probabilities such as in the example below. As seen there, the results are always correct when converting into matrix form or (not shown below) when using a quantum circuit in place of `p

[2021-01-14 16:29] TharrmashasthaPV commented on #2092
I think #5551 tries to resolve this issue too.

[2021-01-14 16:38] TharrmashasthaPV commented on #3006
I think the part of this issue dealing with the latex drawer is the same as that of #3202 . Or am I missing something?

[2021-01-14 16:38] nonhermitian opened #5627 "Transpiler fails after 1000 iterations on simple circuit at optimization_level=3"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The following circuit + backend + transpiler (optim level =3) combo:

[code]

fails with the error:

Traceback (most recent call last):
  File "<ipython-input-46-4ed20b956724>", line 10, in <module>
    qc_trans = transpile(qc, backend2, initial_layout=[2,3,4], optim

[2021-01-14 16:51] kdk commented on #5627
I'm not currently able to replicate this. (A similar issue was recently fixed in #5583 .)

Can you define a callback like:
[code]
re-run `transpile(..., callback=callback)` and post the log?

[2021-01-14 17:02] kdk commented on #5557
Thanks @paolob67 , this looks like a good approach. Can you open a PR and we can discuss it further there?

[2021-01-14 17:08] nonhermitian commented on #5627
I should point out it is also stochastic in it failure.  More often than not though

[callback.txt](https://github.com/Qiskit/qiskit-terra/files/5815892/callback.txt)

[2021-01-14 17:10] nonhermitian commented on #5627
If it is fixed in Master than feel free to close.  Can re-open if need be.

[2021-01-14 17:20] kdk commented on #5627
Thanks, this should fixed by #5583 and will be included in the next patch release. Feel free to re-open if this persists.

[2021-01-14 17:20] #5627 closed

[2021-01-14 19:42] paolob67 commented on #5557
Yes no prob. I'll work on adding a couple of test cases and then I'll create a PR. Thanks.

[2021-01-15 08:41] Zoufalc opened #5631 "Exploit symmetry in QFI and Hessian construction"
### What is the expected enhancement?

The Quantum Fisher Information (QFI) and the Hessian with respect to the supported types of parameterized quantum circuits are symmetric. However, the current implementation evaluates every entry individually without taking this symmetry into account.

[2021-01-15 09:40] #5604 closed

[2021-01-15 12:03] QacoBot opened #5634 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 9165d4c0c1f87bb9df34784114017b5b03a5127e failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/472064787

[2021-01-15 12:07] QacoBot opened #5639 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 3157ecb9042cfba2cac5b83dc0288a5ed1650069 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/472064960

[2021-01-15 14:44] ikkoham commented on #5625
Thank you for the issue. I am sorry. This is due to my mistake. This will be fixed by https://github.com/Qiskit/qiskit-terra/pull/5623.
[code]

[2021-01-15 15:39] anedumla commented on #5625
Thank you!

[2021-01-15 16:47] kdk commented on #5634
This is from one of the historical backports mergify opened this morning.

[2021-01-15 16:47] #5634 closed

[2021-01-15 16:47] #5639 closed

[2021-01-15 19:17] enavarro51 commented on #5612
I can work on this.

[2021-01-16 14:21] nonhermitian opened #5644 "Left over U1 gates at optimization level 2"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-01-16 14:24] nonhermitian opened #5645 "Global phase not in [0, 2pi)"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Brought up in #5160 and supposedly solved, but does not look like it.

For example:

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-01-16 14:43] nonhermitian opened #5646 "Parameterized circuits yield incorrect QASM output"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
For example:
[code]
gives

[code]
but alpha is not defined.  This leads to errors when importing the QASM.
### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
I am guessing that this is a QASM2 issue that is to be fixed in

[2021-01-17 09:10] Dinesh-byte-cloud commented on #5472
hi I would like to contribute to qiskit community and am very new to this. I  would  love to work on this problem and get  some pointers to solve them

[2021-01-17 19:31] Jwala-1908 commented on #5645
Hi @nonhermitian, can I give it a go?

[2021-01-17 20:39] nonhermitian commented on #5645
By all means.

[2021-01-18 09:07] dynamic-user commented on #3218
I am facing a similar problem. I tried to "import qiskit" in jupyter notebook. I am new at coding so don't judge me???
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-4-578b7f7e9727> in <module>
----> 1 import qiskit

~\anaconda3\lib\site-packages\qiskit\__init__.py in <module>
     77 # Moved to after IBMQ and Aer imports due to import issues
     78 # w

[2021-01-18 15:32] Shiro-Raven opened #5649 "Incorrect Inner Product Implementation?"
I have ran across a circuit called "InnerProduct" in the Qiskit documentation, here: https://qiskit.org/documentation/stubs/qiskit.circuit.library.InnerProduct.html

According to the documentation, this circuit "computes the inner product of two registers". However, I believe this to be blatantly wrong. Is this implementation wrong, or am I missing something?

[2021-01-18 15:51] Dinesh-byte-cloud commented on #3842
hey can I have a shot at this

[2021-01-19 07:12] Cryoris commented on #3842
There's an old PR that should fix this, #4375. It has some merge conflicts, maybe you can check with @ewinston if you can brush it up, or create a new one based on that 🙂

[2021-01-19 15:21] Zoufalc opened #5650 "Fix gradient use of the AQGD optimizer"
### What is the expected behavior?

Although a custom gradient function can be passed to an AQGD optimizer, this custom gradient function is ignored. The optimizer always uses a hard-coded parameter shift implementation which is only compatible with Pauli-Rotations and does neither include the product nor the chain rule.

The AQGD optimizer can be updated such that it uses either the gradient fram

[2021-01-19 15:28] #5475 closed

[2021-01-19 17:10] #5453 closed

[2021-01-20 16:06] enavarro51 commented on #5611
@kdk. I played around with this a bit and I don't think the 'walk the expression tree' works. The problem is that sympy doesn't guarantee the order of the args for the 2 expressions. For example, this shows the args output from the 2 expressions below. Notice that the `8*y` and `3*x` have been swapped in the order, so that's what you would be comparing as you walk the tree.
[code]
I tried the `z1_

[2021-01-20 16:26] eggerdj opened #5658 "Template substitution cost dictionary for different backends"
### What is the expected enhancement?
Template substitution allows users to identify sub-circuits in a quantum circuit and replace them with equivalent quantum circuits with a lower implementation cost. For example `CNOT(0,1) CNOT(0,1)` is equivalent to the identity `I`. Since the implementation cost of `I` is lower than two CNOT gates this replacement makes sense.

Currently, the implementation c

[2021-01-20 21:42] kdk commented on #5645
Hi @Jwala-1908 , I ended up fixing this as part of #5618 to resolve a failing test. Thanks for your interest.

[2021-01-21 00:49] Jwala-1908 commented on #5645
Okay

[2021-01-21 04:45] ajavadia commented on #4981
the H-CZ-H part is a CNOT (with control on the bottom). So the correct optimization would be to replace it with an X, meaning the whole circuit becomes 2 X gates (one top, one bottom). If the Hoare optimizer considers gates one-by-one then it might not detect that.

[2021-01-21 11:01] #5447 closed

[2021-01-21 11:36] LenaPer opened #5665 "Transpilation error with the basis_gates set on optim level 2"
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.8.5
- **Operating system**: macOS BigSur 11.1

### What is the current behavior?
When I transpile a circuit at optimization_level = 2 on all those backends :
ibmqx2, imbq_16_melbourne, ibmq_athens, ibmq_santiago, ibmq_rome, ibmq_manhattan, ibmq_toronto, ibmq_bogota, ibmq_montreal, ibmq_sydney
that all have now the new set

[2021-01-21 12:41] mtreinish commented on #5665
So I took a quick look to dig into this issue this morning. The issue is the `CommutativeCancellation` transpiler pass isn't basis gate aware and only knows how to use the U1 gates for z rotations: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/optimization/commutative_cancellation.py

To fix this we probably either need to update the pass to basis aware, or update the

[2021-01-21 13:17] a-matsuo opened #5666 "classical_function creates wrong circuits for some cases"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: macOS Catalina

### What is the current behavior?
`classical_function` creates wrong circuits for some cases. I confirmed at least two cases.

### Steps to reproduce the problem
Case 1)
[code]

Case 2)
[code]
### What is the expected behavior?
Case 1)
The control bit of the CNOT gate should be the

[2021-01-21 14:48] mtreinish commented on #5665
This is a duplicate of #5644 (missed that before) so I'm going to close this and we'll track this in #5644

[2021-01-21 14:48] #5665 closed

[2021-01-21 16:56] QacoBot opened #5670 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 817ad541098e7488adb01a7c0ea16bdfcf5028f5 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/473879690

[2021-01-21 19:14] ewinston commented on #5644
@mtreinish I have a version which updates the pass to be basis aware. I thought this might avoid calling basis translation again.

[2021-01-21 20:02] mtreinish commented on #5644
My concern with that was it's still only going to work for a subset of basis out there. I don't think we can remove the basis translator and still handle any universal basis set. Like what if the basis is composed of completely custom gates?

I think we probably should do both approaches together, with https://github.com/ewinston/qiskit-terra/commit/90864c546454668b2575b7313c119c90813b20b9 commuta

[2021-01-21 20:25] #5645 closed

[2021-01-21 20:36] QacoBot opened #5674 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit e66e3611bb2bafd6c8cb085a25b9b5fc64fe9ea6 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/474006341

[2021-01-21 20:56] 1ucian0 opened #5675 "SabreSwap changes coupling map parameter in place"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: MacOS

### What is the current behavior?

SabreSwap makes the coupling map symmetric "in place". This affects also SabreLayout indirectly.

### Steps to reproduce the problem

[code]
[code]

### What is the expected behavior?

Do not touch my coupling map! :)

### Suggested solutions

Use a copy.

[2021-01-21 22:15] ewinston commented on #5644
@mtreinish I think using both approaches sounds like a reasonable short term solution. If we don't guarantee transformation passes keep within a target basis then following up with translation would be necessary. Perhaps an intermediate solution (not in this issue) would for passes to indicate whether they respect target basis. Then applying the basis translator could be done only when needed.

[2021-01-21 22:27] QacoBot opened #5677 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit c03eee0149ba21102972e3ff991cbc5bf27f59ee failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/474047867

[2021-01-22 00:26] enavarro51 commented on #5285
@1ucian0 Is this just a matter of checking for nonnegative integers?

[2021-01-22 07:12] nkanazawa1989 opened #5679 "Implementation of a pulse schedule block"
### What is the expected behavior?

Pulse `Schedule` doesn't support parameterization of `duration`  because it immediately evaluates the overlap of instruction over the channel `timeslots`. Here we implement new program representation called `ScheduleBlock` which consists of `transform_policy: Enum` and `blocks: List[Union[Instruction, ScheduleBlock]]`. The `transform_policy` represents one of tr

[2021-01-22 15:48] #5232 closed

[2021-01-22 17:03] vishwas1234567 opened #6093 "something like base estimators in sklearn"
### What is the expected behavior?

https://scikit-learn.org/stable/modules/generated/sklearn.base.BaseEstimator.html

something like this

[2021-01-22 18:41] #5644 closed

[2021-01-22 18:57] QacoBot opened #5684 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 4cbb2e02d03cad19563f1e399c2f57d26ab36ede failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/474466255

[2021-01-24 03:50] omarcostahamido opened #5690 "more control over job_monitor output"
### What is the expected enhancement?
Allow the user to control the new line characters that are emitted by job_monitor output.
I found myself needing to change this to allow me to use qiskit-terra's tools on my non jupyter notebook environment.
I'm already working on a PR for this, which will appear linked here very soon.

[2021-01-24 04:38] omarcostahamido commented on #5690
removed from relnote to make it simpler and pasted here:
For using qiskit-terra in some environments other than the standard jupyter notebook, being able to change this will be important.

[2021-01-24 04:45] jwoehr commented on #5690
Omar and I encountered this requirement in calling Qiskit from C++ code. It can be difficult to use the Job Monitor in conjunction with i/o pipes and interpret the output due to the `\r`s inserted in the stream, an atavism of console display. This PR will leave the default as-is but add a kwarg to choose the line discipline.

[2021-01-24 16:10] yaelbh opened #5692 "Equivalence checker"
### What is the expected behavior?

A tool to check if two circuits are equivalent.
@gadial has already started to write this tool in #5123.

There is nice literature for the topic (see papers by Robert Wille). The current issue is about setting up a basic, "trivial" tool. In this basic tool, the user will choose between two methods. One method will compare the unitary matrices induced by the circ

[2021-01-24 16:11] yaelbh commented on #5692
Later versions of the tool will include:
- [ ] Support of `up_to_phase` parameter.
- [ ] Support of ancilla qubits.
- [ ] Default values to user choices.

[2021-01-24 16:16] yaelbh commented on #5692
Regarding the two suggested methods: the argument against comparing unitaries is that this method is far more expensive in memory. However, @chriseclectic has noted, that (when fits in memory) it can be faster due to optimizations like gate fusion only being applied once, and omp/simd type parallelization being more effective.

[2021-01-25 07:38] yaelbh commented on #5692
The first step is probably going to be to write a `BasisState` class in `quantum_info`, as in #5123

[2021-01-25 08:18] nonhermitian opened #5694 "GraphState circuit depth excedingly high using optimization_levels 2 & 3"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The following graph state fits exactly on the device (72 CX), but `optimization_level` 2 or 3 transpiles it to ~950 CX gates:

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-01-25 12:01] yaelbh commented on #5692
This seems to already exist in `Statevector` with `from_label` and `from_int`.

[2021-01-25 12:27] yaelbh commented on #5692
Will split the basis setup into even three, smaller, pull requests:
- [ ] Equivalence checking with a single option, of using `Operator` comparison.
- [ ] Extend to two methods (`Operator` and `Statevector`).
- [ ] Extend to an option to execute with Aer.

[2021-01-25 14:23] nonhermitian opened #5697 "Quantum info Operator does not work with delay operations"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Trying to convert a circuit with delays to `Operator` gives:

QiskitError: 'Cannot apply Instruction: delay'

### Steps to reproduce the problem

### What is the expected behavior?
Since delays do nothing with respect to the Unitary operator I would expect this to wo

[2021-01-25 15:17] mtreinish commented on #5694
I added a callback to your script and printed the depth after each pass. Basically:

[code]

The issue here is the `CSPLayout` is not able to realize the graph state circuit matches a trivial layout and it chooses a suboptimal initial layout and causes stochastic swap to run greatly increasing the number of CX gates. While level 1 tries a trivial layout realizes it's a matches and skips DenseLayou

[2021-01-25 17:27] kdk commented on #2645
Recent failures are fixed in the next aer patch release by https://github.com/Qiskit/qiskit-aer/pull/1089 .

[2021-01-25 17:29] #5675 closed

[2021-01-26 01:58] #5697 closed

[2021-01-26 17:18] #5646 closed

[2021-01-26 19:23] it14078 opened #5710 "Potential issues with qasm parser"
### Informations

- **Qiskit version**: 0.23.2
- **Python version**: 3.7.9
- **Operating system**: Windows 10

### What is the current behavior?

1) Some QuantumCircuits containing Unicode characters cannot be saved to file correctly.
2) QuantumCircuit.from_qasm_str and .from_qasm_file fails to parse some circuits that were saved to string/file without error.

### Steps to reproduce the problem

F

[2021-01-26 22:01] MariaSapova opened #5713 "VQE parameter bounds"
### Information

- **Qiskit Aqua version**: 0.19.0
- **Python version**: 3.6
- **Operating system**: Ubuntu

### What is the current behavior?

In VQE implementation circuit parameters are bounded automatically (-pi, pi). During optimization process parameter might stuck in the bound even if it is not an optimal point. Below I demonstrate it on the simple example of H2 molecule. If I simply remove

[2021-01-26 22:43] woodsp-ibm commented on #5714
Since this is highly related to use in the algorithms I labelled it that way though the resultant objects are likely library entities

[2021-01-26 22:48] woodsp-ibm commented on #5715
Given that Grover now lives here in Terra I transferred this over from Aqua.

[2021-01-26 23:21] woodsp-ibm commented on #5721
See #5614

[2021-01-26 23:37] nonhermitian commented on #5721
Or see #5557.

[2021-01-26 23:41] #5580 closed

[2021-01-27 00:26] nonhermitian opened #5722 "Y-gate gets transposed to 2x SX verses one X"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
gives:

[code]

which is twice as long in duration as directly using `x` since both `sx` and `x` have the same duration on the backend.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
Perhaps `x` goes before `sx

[2021-01-27 00:38] smiling-monkeys commented on #4938
Hey @ahasan20, how are you? I was waiting for the response of any of the members in order to continue with the fixing without stepping on somebody's toes, if you want we can try to solve it together, is it ok @1ucian0?

[2021-01-27 01:14] ewinston commented on #5434
I was not able to observe this. Perhaps it's been resolved. Closing. Please feel free to reopen if you notice it again.

[2021-01-27 01:14] #5434 closed

[2021-01-27 05:33] 1ucian0 commented on #5694
I think this issue can be unfolded, since it uncovers several independent-but-related problems:
 - CSPLayout finds the "trivial layout" solution, but reaches the limit first. It requires 214 sec and 19009 calls (level 2 limits are 1000 calls and 10 sec, level 3 limits are 10000 sec and 60 sec, whatever happen first)
 - `DenseLayout` does not find the trivial layout. It is fast finding a layout, bu

[2021-01-27 05:49] 1ucian0 commented on #5694
Actually, the problem of hiding the noise awareness (described in the last two bullets) is a problem that we currently have. PR https://github.com/Qiskit/qiskit-terra/pull/5075/ will make CSP noise-aware. Probably `Layout2qDistance` needs to be noise aware too.

[2021-01-27 08:08] molar-volume opened #5724 "VectorStateFn(primitive, is_measurement=True) can not be converted to_circuit_op"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: 3.7.
- **Operating system**: OSX

### What is the current behavior?

qiskit.exceptions.QiskitError: 'Desired statevector length not a positive power of 2.'

### Steps to reproduce the problem
[code]
The exception is raised in case ```is_measurement=True``` because input for ```CircuitStateFn.from_vector``` is 2D array.
For cas

[2021-01-27 08:09] #5631 closed

[2021-01-27 08:59] yaelbh commented on #5692
Copying here https://github.com/Qiskit/qiskit-terra/pull/5123#issuecomment-767692531 and https://github.com/Qiskit/qiskit-terra/pull/5123#issuecomment-767708446:

========================

@ajavadia says:
I think what we want here is to define a user-friendly interface/function for checking two circuits are equivalent. So this function should be able to accept 2 circuits, and an "equivalence crite

[2021-01-27 09:21] yaelbh commented on #5692
I'll probably write a short design doc (possibly just as a comment here in this issue). In the design I'll take into account that we want an infrastructure that will allow easy extensions, like different criteria and engines (engines can be either simulators, or external equivalence checkers: https://github.com/iic-jku/qcec). A priori perhaps every method should have its own class, inheriting from

[2021-01-27 09:26] yaelbh commented on #5692
Will also have to address, where will be the function that performs an automatic selection of method (e.g. unitary versus statevector) and simulator inside a method. This automatic selection will of course be optional: the user will be able to choose her preferred method and simulator.

[2021-01-27 10:49] nonhermitian opened #5726 "Allow for appending multiple circuits at once"
### What is the expected enhancement?
I would like to be able to `append` multiple circuits at once, e.g. this does not work:

[code]

where `keep_alive()` returns a `QuantumCircuit`

[2021-01-27 17:16] ewinston commented on #5726
One way this could be done is to do,
[code]

[2021-01-27 17:24] nonhermitian commented on #5726
The docs for `append` say you can do what I want:

This feels more or less like the compose with `inplace=True`.  Also using `repeat` is an interesting alternative.

[2021-01-27 18:10] ewinston commented on #5726
`append` is for instructions while `compose` is for instructions or circuits.

[2021-01-27 18:33] nonhermitian commented on #5726
What is the difference between an instruction and circuit?  Indeed, I use from instruction when taking a circuit to state vector, for example.

[2021-01-27 19:14] ajavadia commented on #5692
@yaelbh yes sounds good. I think we should be able to use the `qiskit.quantum_info` framework where possible (as that is native and has no external dependencies) and also Aer (because for equivalence checking through simulation that is optimized for scalability). And also be able to use the same interface to plug external checkers like the JKU one.

[2021-01-27 22:20] woodsp-ibm commented on #5650
This should take care of the issue as raised a while back in Aqua /Qiskit/qiskit-aqua#588 (I'll close that issue there off)

[2021-01-27 23:36] ishapoval commented on #5627
Hi! After updating qiskit-terra from 0.16.1 to 0.16.2 I started getting

`TranspilerError: 'Maximum iteration reached. max_iteration=1000'`

when transpiling my own circuit in optimization level 3. Level 2 passes through just fine.

[2021-01-28 00:01] nonhermitian commented on #5730
Why is it not possible just to run the missing cal data and do meas mitigation on the new set?

[2021-01-28 00:23] woodsp-ibm commented on #5730
I was capturing the issue in summarizing the Slack messages as it seemed a problem that needed addressing. I investigated it a little, as you can see above, before raising this originally on Aqua. I do not believe it has been looked at any further - I transferred the issue over, as I think its still valid, and since it would have to be addressed here now.

[2021-01-28 02:29] t-imamichi commented on #5727
Yes, it makes sense to delete it. I ask Hamamura-san to do it as part of #5537 because it introduces `commutator` function.

[2021-01-28 07:08] t-imamichi opened #5734 "NumPyEigensolver and NumPyMinimumEigensolver return wrong results for 1-qubit operators"
### Information

- **Qiskit Terra version**: latest
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 20.04.1

### What is the current behavior?

`NumPyEigensolver` and `NumPyMinimumEigensolver` returns wrong results when 1 qubit operators are given.

### Steps to reproduce the problem

[code]

output:
[code]

### What is the expected behavior?

output:
[code]

### Suggested solutions

Th

[2021-01-28 07:48] ewinston commented on #5726
There are not a lot of differences but circuits are generally a higher level of abstraction than instructions. For instance they contain instructions and the notion of registers and track their parameter dependencies.

[2021-01-28 08:11] Cryoris commented on #5721
This is a work in progress and should be fixed soon! 🙂

[2021-01-28 12:17] mtreinish commented on #5627
@ishapoval can you open a new issue with a recreate scenario. 0.16.2 included a backport of the fix for this original issue (#5583 and it's backport #5585) so I suspect something else might be causing the failure for you, but I'll need to dig into it to be sure.

[2021-01-28 13:30] yaelbh commented on #5730
https://github.com/Qiskit/qiskit-ignis/pull/551#issuecomment-768625947 reports a bug in Ignis, do you think it could be related:

[2021-01-28 14:24] woodsp-ibm commented on #5730
@yaelbh I think its more to do with the logic we have in QuantumInstance, that does measurement mitigation on behalf on the algorithms when the user enables the mitigation, that it did not expect to have to deal with different qubit mappings over the set of circuits it's running - the circuits for VQE, where it was observed/reported above, are pretty much all just the anstaz with the basis change

[2021-01-28 14:47] nonhermitian opened #5736 "Cannot use resets in a circuit"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
gives:
[code]

even if the backend supports it.  The code I am using used to work in previous versions.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-01-28 14:48] yaelbh commented on #5692
My understanding:
1. One sided - the circuits start with the same qubit ordering, but may end up in a different ordering. It is called "one sided" because when looking at the two sides - beginning and end - only the second one can be permuted.
2. Two sided - the circuits can start and end in different orderings.

In the two-sided case, we should distinguish between the case where the difference in

[2021-01-28 15:10] mtreinish commented on #5736
What operations are you running on that circuit to raise the error? That exception is being raised from trying to create an operator from something (I assume the circuit given it's erroring on reset). We probably just need to add special handling to the operator constructor to deal with reset instructions.

As far as I know everything in the circuit -> transpile -> assemble -> execute path works f

[2021-01-28 15:12] nonhermitian commented on #5736
It is a random 1Q unitary followed by a reset and meas (as the circuit shows), then passed to device using `execute`.  I can confirm the exact same code works on `0.23.2`.

[2021-01-28 15:33] mtreinish commented on #5736
Ok, that's what I needed to know, it's being raised by a transpile (that wasn't in the orriginal issue). This is actually a duplicate of #5543 (although it should be fixed by #5570) and we unfortunately backported a regression in 0.16.2 with #5655 (which I thought should have fixed it). Which means we'll need to fix it for real on the stable branch and push out a terra 0.16.3.

[2021-01-28 15:39] mtreinish commented on #5736
FWIW, this should work fine on master, it appears to just be a bug in that backport :(

[2021-01-28 15:55] nonhermitian commented on #5736
Ok cool.  Getting a fix out would be nice since reset is a new(ish) feature we would like to highlight.

[2021-01-28 15:56] mtreinish commented on #5736
Yeah, I've got the patch ready, just adding a test now. As soon as that merges to stable/0.16 we'll prepare and push out a 0.16.3 release

[2021-01-28 20:22] naezzell opened #5742 "Transpile bug when using sx basis with Y and -Y"
### Informations

- **Qiskit version**: 0.23.2
- **Python version**: 3.9.1
- **Operating system**: 10.15.7

### What is the current behavior?
Transpile gives wrong native circuit with sx basis but correct circuit with u basis for Armonk.

### Steps to reproduce the problem
We will define a 180 degree rotation about y axis (i.e. the Y gate) and about the -y axis (i.e. -Y gate) using the decompositi

[2021-01-28 20:46] mtreinish commented on #5742
@naezzell have you tried this on qiskit 0.23.3 or 0.23.4 (which was just released a little while ago)? 0.23.3 included some fixes for the transpiler around global phase tracking (see https://github.com/Qiskit/qiskit-terra/pull/5618 and https://github.com/Qiskit/qiskit-terra/pull/5474). I haven't looked at this issue in detail yet, so I'm not sure if it will fix it, or there is something else going

[2021-01-28 21:50] naezzell commented on #5742
Things seem to work in qiskit 0.23.4. Thanks for the heads up!

[2021-01-28 21:50] #5742 closed

[2021-01-28 22:11] naezzell commented on #5722
I have the same inquiry (still true as of qiskit 0.23.4).  But I'd like to add that this behavior is more general than just Y. In particular, they occur for `\pi` rotations with axis in the `xy` plane which I explain below.

In my own work, I need to define both gates like X and -X. To make sure the phases come out right across updates, I define all single qubit rotations `R_n(\alpha)` where `n =

[2021-01-28 22:52] mtreinish commented on #5722
Looking at this briefly I don't think the transpiler is currently capable of simplifying an arbitrary 1q gate to anything with an X gate. For the new IBMQ basis set of `["id", "rz", "sx", "x", "cx"]` the transpiler is using the [`Optimize1qGatesDecomposition` ](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/optimization/optimize_1q_decomposition.py) pass which under th

[2021-01-29 04:49] nkanazawa1989 commented on #5722
Can we implement a pass that merges general consecutive instructions such as Rz-Rz, X-X, SX-SX, ....? @itoko

With pulse gate (add calibration) we can easily create custom calibration. For example,
[code]
This is current backend CX pulse definition. As you can see there is Y pulse on control qubit but this is decomposed into two SXs. This visibly affect the RB fidelity as CR pulse duration become

[2021-01-29 06:09] itoko commented on #5722
@nkanazawa1989 It's possible but I prefer the solution suggested by @mtreinish to fix issues reported here.

[2021-01-29 07:09] #5650 closed

[2021-01-29 09:30] ishapoval commented on #5627
@mtreinish Thanks for the prompt reply! Unfortunately, I can't post my circuit at this point and I didn't manage to reproduce the problem with a simpler scenario. My circuit is parametrized, and while in 0.16.1 it could be transpiled for all my parameters, in 0.16.2 it doesn't transpile for some of them. I narrowed down the problem to the difference in RZZGate angle. Another observation is that if

[2021-01-29 11:48] ezerc commented on #4011
Hello everyone, has this issue been solved? I just happened to stumble upon it while trying to build a modular adder gate

[2021-01-29 14:41] mtreinish commented on #5722
@nkanazawa1989 I think most consecutive gate cases (including Rz-Rz and X-X) should currently be covered by the existing `Optimize1qGatesDecomposition`  optimization pass. The pass works by collecting runs of 1q gates on a qubit taking the unitary of those gates and decomposing that unitary into the shortest set of gates it can (over all the compatible basis that it knows how to decompose with). F

[2021-01-29 15:47] enavarro51 commented on #5726
@nonhermitian I see there are workarounds for this issue, but since the docs say 'one or more instructions', would it be a good idea to allow a list of instructions as input to append? If you agree, I can do a PR for that. It would allow any combination of instructions and circuits in the list as long as the qubits/clbits are the same for all.

[2021-01-29 18:27] #5625 closed

[2021-01-29 21:23] nonhermitian opened #5748 "Statevector probabilities hard to read due to floating point round-off not being truncated"
### What is the expected enhancement?

Make this look better

[code]

[code]

[code]

[2021-01-29 21:57] #5610 closed

[2021-01-29 22:19] kdk commented on #5611
Thanks for investigating @enavarro51 , that approach sounds good, feel free to open a PR.

[2021-01-29 22:29] peendebak opened #5750 "UnitaryGate.control().inverse() increases the number of qubits in the instruction"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.7
- **Operating system**: Windows 10

### What is the current behavior?

Generating the inverse of a circuit using `circuit.inverse()` does not yield the correct circuit.

### Steps to reproduce the problem

A minimal example is this:
[code]

### What is the expected behavior?

Given any circuit, applying the circuit and t

[2021-01-29 22:34] eggerdj opened #5751 "Use the template optimization to insert custom pulse schedules"
### What is the expected enhancement?

Qiskit pulse enables users to add their custom calibrations to a quantum circuit through `add_calibration`.  These calibrations can outperform digital CNOT gates depending on the gate parameters. However, adding them in a systematic way is not yet available. By leveraging the functionality introduced through #5521, #5259, #5396 it should be possible to write

[2021-01-30 03:58] naezzell commented on #5722
As per @mtreinish 's suggestion, I put together this hack which I put here for anyone else who comes across this issue.

[code]

[2021-01-30 07:18] ishapoval opened #5753 "Default pass manager for optimization level 3 stopped converging for a circuit after moving from 0.16.1 to 0.16.2-3"
### Information

- **Qiskit Terra version**: 0.16.2 and 0.16.3
- **Python version**: 3.6.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

After moving from qiskit 0.23.2 to 0.23.3, transpilation of a circuit fails on optimization level 3 with

`qiskit.transpiler.exceptions.TranspilerError: 'Maximum iteration reached. max_iteration=1000'`

It only fails for a subset of dev

[2021-01-30 20:09] molar-volume commented on #5750
Hi @peendebak ,
I am running the latest terra version `0.16.3`, sha 7710880167ddf6e11922ce608e6579e304c7eb04,
and for your particular example, I obtain identity matrix:
[code]
Probably the bug related to your example was already fixed.

[2021-01-31 02:44] drewrisinger opened #5754 "Pulse Schedule durations fail with numpy integers"
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.7.6
- **Operating system**: Linux via WSL

### What is the current behavior?

``PulseError`` (from https://github.com/Qiskit/qiskit-terra/blob/7710880167ddf6e11922ce608e6579e304c7eb04/qiskit/pulse/schedule.py#L520-L521) when a previous duration was a numpy integer.

### Steps to reproduce the problem

Works:
[code]

Doesn'

[2021-01-31 07:09] sanori opened #5756 "Many lines of DeprecationWarning (numpy 1.20.0)"
### Information

- **Qiskit Terra version**: 0.16.3
- **Python version**: 3.8.6
- **Operating system**: Ubuntu 20.04.1 (Linux 5.4.0-62-generic)

### What is the current behavior?
`import qiskit` generates lot of deprecation warning.

[code]

### Steps to reproduce the problem
1. With the vanilla installation of Python 3.8.x
2. run `pip install qiskit[visualization]`
3. run `python -c 'import qiski

[2021-01-31 11:33] nonhermitian commented on #5747
Is there a profiling anywhere to show that it is the optimizer that it is the bottleneck here?  1400 doubles should not be too bad for the Fortran based solver used in the example.

[2021-01-31 11:53] yaelbh commented on #5692
Regarding automation: the Aer simulator already automatically chooses between `statevector` and `stabilizer`. We can add such a capability in quantum info, if it doesn't exist yet. Automatic choice between Aer and quantum info can be nice (and by the way also a unified interface), but should be external to the equivalence checker.

[2021-01-31 19:46] molar-volume opened #5757 "Superclass of Operator"
### What is the expected enhancement?
There is a lot of duplicate code among Operator and QuantumChannel class:
[code]
Since `Operator` can always be converted to `QuantumChannel`,
the change of superclass can be considered:

```Operator(QuantumChannel)``` instead of ```Operator(BaseOperator, TolerancesMixin)```.

PS: It is rather a point for discussion, as it may have other drawbacks.

[2021-01-31 22:40] enavarro51 commented on #5756
This seems to be causing a problem with the server tests as well.

[2021-01-31 23:21] nonhermitian commented on #5726
Probably more of a question for a qiskit-core member

[2021-02-01 02:01] ishapoval commented on #5753
An update. Transpilation also fails on ibmq_16_melbourne, but only for certain initial layouts. My code tries all possible perfect-match layouts and it turned out only 17 of 47 of them are reliably transpiled on ibmq_16_melbourne. The rest fail stochastically (~90% of runs).

[2021-02-01 02:09] ikkoham commented on #5756
Thank you. I have made the PR to fix this issue.

[2021-02-01 08:56] peendebak commented on #5750
@molar-volume Thanks for the feedback. With the updated the qiskit-terra the example above indeed works. But for a variation with the `UnitaryGate` I still get an error when running a circuit with the inverse.

A minimal example:
[code]
Results in
[code]

[2021-02-01 11:38] #5756 closed

[2021-02-01 14:42] woodsp-ibm commented on #5747
During gradient computation a number of points in the locale are computed (one in each dimension). Since each point needs an energy evaluation, and many of these are needed to do a gradient, the idea is to be able to do these in parallel when doing simulation. So rather than computing say 100 evals in sequence for 100 points to do a single gradient, do these in parallel if possible when using the

[2021-02-01 16:23] spencerking commented on #5716
@Zoufalc @Cryoris I'm happy to work on this if no one else is already planning to.

[2021-02-01 16:36] woodsp-ibm commented on #5763
For HHL rework see #5698

[2021-02-01 16:38] spencerking commented on #5716
Actually, I think this is already fixed?

I'm looking at this commit: https://github.com/Qiskit/qiskit-terra/commit/42356038af270cbf71dc02f46705bd95f77fdfc2

And the following pull request in Aqua: https://github.com/Qiskit/qiskit-aqua/pull/1447

@Cryoris Could you confirm if this is fixed, or if I am perhaps misunderstanding something?

[2021-02-01 17:43] Claeb101 commented on #5757
@molar-volume I'm fairly new to quantum computing but would like to contribute where I can. This seems like a good place to start. Can I work on this issue?

[2021-02-01 17:59] woodsp-ibm opened #5765 "Algorithm may hit job limit - tone down emitted message"
On seeing this message it confuses some users to believe that a failure has ocurred when exceuting an algorithm that requires lots of circuits to be executed when a job limit is reached. The backend limit error is detected when submitting a job so the code progresses as expected - however the message, maybe due to the fact that it is at Warning level, confuses people. Perhaps this should be droppe

[2021-02-01 18:38] enavarro51 opened #5766 "Should set rtol in np.isclose calls in OneQubitEulerDecomposer"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

In working on #5554, we were getting random errors from `test_isometry`. It turns out U3 gates were being created in the transpiler with theta=1.5707992852654353, which varies by .00000295847 from pi/2. In OneQubitEulerDecomposer, a call was made to

[2021-02-01 22:29] kdk commented on #5726
AFAICT, the "one or more instructions" text was introduced in #2282 , but I don't think this was ever supported, so I think this is more a documentation bug.

[2021-02-01 22:32] kdk commented on #5753
This looks like the same issue as #5644 and should be resolved by #5672.

[2021-02-01 22:33] kdk commented on #5753
Thanks for posting the logs @ishapoval !

[2021-02-01 22:47] enavarro51 commented on #5726
Ok. Thanks.

[2021-02-01 23:47] ishapoval commented on #5753
@kdk Wasn't #5644 temporarily resolved in 0.16.2 by adding basis translation to the level-2 pass manager (#5671)? Here my problem though is in level 3, where it does seem like the old basis leftovers are removed by BasisTranslator but there is some other ping-pong for `rz` and `sx` going on, presumably between other passes?

[2021-02-02 02:17] ikkoham commented on #5757
Thanks. I think we need more discussion here.

@chriseclectic What do you think about this?

[2021-02-02 09:08] Cryoris commented on #5750
The problem arises from `UnitaryGate.control()` with a subsequent call to `inverse`. To fix your problem, you can just change your `generate_conditional_gate` function to:
[code]

And here's a more minimal example showing the issue:
[code]

[2021-02-02 12:53] SaashaJoshi opened #5770 "Jupyter notebook kernel dies while importing qiskit"
### Informations

- **Qiskit version**: 0.23.4
- **Python version**: 3.6.8
- **Operating system**: Ubuntu 18.04.3

### What is the current behavior?
Jupyter kernel dies while importing qiskit.

### Steps to reproduce the problem
Installing qiskit in a jupyter cell by doing the following:
[code]
produces this:
`The kernel appears to have died. It will restart automatically.`

### What is the expect

[2021-02-02 13:06] ajavadia opened #5771 "bug in scheduling: gate lengths are wrongly attached"
[code]

here if you look inside sc.data you'll see that the duration of CX_{0,1} is set to the duration of CX_{1,2}=2560 dt, but it should be 1728 dt as reported by backend. Seems like the second CX over-rides the first CX somewhere.

[code]

This bug causes the following obviously wrong timeline:
![image](https://user-images.githubusercontent.com/8622381/106604368-8ab54000-652d-11eb-9dc2-e51875dc

[2021-02-02 14:22] #5361 closed

[2021-02-02 14:55] chriseclectic commented on #5757
I agree there is a lot of duplication that could do with cleaning up, and this process is underway and will be done over several PR over next couple of releases (the PR @ikkoham points to is one example).

That said, the particular solution suggested here would not work. It is backwards from a dependency point of view: An Operator can be converted to a channel, but a channel cannot always be conve

[2021-02-02 16:37] molar-volume commented on #5757
If operator can be considered a quantum channel, then following dependency makes sense:
[code]

Your example would break for most classes that have common superclass.

But if we require that subclasses of `QuantumChannel` must always transform to each other,
then Operator does not belong there.

[2021-02-02 17:18] chriseclectic commented on #5766
Maybe a simpler solution would be to change all the isclose checks of the form `isclose(val, target)` to be `np.isclose(val - target, 0)`. Then only the `atol` parameter should matter.

[2021-02-02 20:35] ajavadia opened #5774 "Supporting native instructions"
Currently the transpiler consults `backend.configuration().coupling_map` and `backend.configuration().basis_gates` in order to map a circuit to a backend. The assumption is that all the 1-qubit gates in the basis_gates are present on all qubits, and all the 2-qubit gates in the basis_gates are present on all edges of the coupling_map.

This has some limitations, namely that we cannot support a het

[2021-02-02 20:38] ajavadia commented on #4790
this is subsumed by #5774

[2021-02-02 20:38] #4790 closed

[2021-02-02 21:05] ajavadia opened #5775 "collapsing a chain of gates"
There are a few compiler passes right now related to peephole optimization:
- Collect2qBlocks
- ConsolidateBlocks
- Optimize1qGates
- Optimize1qDecomposition
- https://github.com/Qiskit/qiskit-terra/pull/4747

We should unify these into one general pass which is able to walk the circuit and collect+consolidate these gates. This should rely on the `DAGDependency` graph otherwise it will miss some o

[2021-02-02 21:08] #5611 closed

[2021-02-02 22:01] enavarro51 commented on #5766
@chriseclectic Thanks for the feedback. I'm not sure it would always be simpler. There are instances in this code like
`np.isclose(theta, [-np.pi / 2, 3 * np.pi / 2], atol=atol).any()`
in which it seems it might be simpler to add `rtol=rtol` to the end than do multiple subtractions. But either should work.

The absolute of the comparison values in this code are never larger than 2pi, smaller than

[2021-02-02 22:02] mtreinish commented on #4790
FWIW, I didn't see this issue before, but I have examples on how to do this with the current providers interface (BackendV1) in https://github.com/Qiskit/qiskit-terra/pull/5406

[2021-02-02 23:38] mtreinish opened #5776 "Deprecation warnings in algorithms and opflow"
### What is the expected enhancement?

Doing a quick grep for `DeprecationWarning` in `qiskit/algorithms` and `qiskit/opflow` there are several places emitting deprecation warnings:

- opflow/gradients/circuit_gradients/lin_comb.py
- opflow/gradients/circuit_qfis/lin_comb_full.py
- algorithms/optimizers/spsa.py
- algorithms/optimizers/aqgd.py
- algorithms/amplitude_amplifiers/grover.py
- algorithm

[2021-02-03 00:01] dahlend commented on #5710
An example issue:
[code]
String parsing doesn't play nice with 1 of 2 of the core OpenQASM gates, `U`, however if you wrap it in a definition it works just fine:
[code]

[2021-02-03 01:59] ajavadia commented on #5775
So the quaternion business in `Optimize1qGate` can be gotten rid of I think if we just collapse into a unitary and use the OneQubitEulerDecomposer on it. In which case I think it becomes the same as `Optimize1qDecomposition`. Why are these 2 different again?

I guess in the case of cliffords I see the point that we want to collapse it into an N-qubit Clifford rather than a N-qubit Unitary.

[2021-02-03 04:17] #5771 closed

[2021-02-03 04:25] apaparazzi0329 commented on #5770
Can you provide more details such as how you are setting up your venv or whether you are using pip or conda. These issues usually arise from how the Jupyter kernel attempts to find the correct python compiler and packages. Here is a resource that may help: https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/

[2021-02-03 06:16] levbishop commented on #5766
I'm taking a broader look at tolerances in the decompositions so I'll include this.

[2021-02-03 08:52] SaashaJoshi commented on #5770
I think there was an issue in updating qiskit. I had to uninstall all the libraries in a conda env and then make a new one.
Otherwise, I had a dedicated conda environment for qiskit with python 3.6 and numpy when I had this issue. The qiskit upgrades were made through pip, and the rest via conda.

[2021-02-03 08:52] #5770 closed

[2021-02-03 09:34] #5612 closed

[2021-02-03 13:11] enavarro51 commented on #5766
Sounds good. Thanks.

[2021-02-03 13:44] drewrisinger commented on #5100
Thanks @mtreinish for being responsive and the tedious work that goes into this!

[2021-02-03 15:54] mtreinish commented on #5775
There are 2 reasons. The first is that the quaternion pass will simplify to more pulse efficient gates U3 -> U2 or U1 which the decomposer pass doesn't do yet (this is in progress in #5554 ). But, the other aspect is runtime performance, after #5554 the results between the 2 passes will be identical for the old ibmq basis but the quaternion pass is still faster. Even with the tuning we did in #568

[2021-02-03 18:10] #5754 closed

[2021-02-04 03:22] ajavadia opened #5782 "controlled-phase gate (CPhase) should draw symmetrically"
Instead of this:
<img width="55" alt="image" src="https://user-images.githubusercontent.com/8622381/106840450-2d74d800-666e-11eb-97d9-7d0603660492.png">

It should show like this, because it is symmetric (similar to CU1, RZZ, etc.)
<img width="55" alt="image" src="https://user-images.githubusercontent.com/8622381/106840231-bccdbb80-666d-11eb-93ad-22d4c3c525e7.png">

This applies to all circuit dra

[2021-02-04 10:05] yaelbh commented on #5692
See #5700 for a design proposal. I've made the following decisions, which are subject to change according to feedback:
- Checkers are defined by inheritance from a base class.
- Our checkers (`UnitaryEquivalenceChecker`, which is done in #5700, and `StatevectorEquivalenceChecker`, which will be done in another pull request, after #5700 is merged, and will be copied from #5123) apply simulation. Pa

[2021-02-04 12:59] yaelbh opened #5783 "CI testing for Terra code that imports Aer"
Now that parts of Aqua have migrated to Aer, we see more Terra code that imports Aer. In this case, the relevant tests are being skipped if Aer is not installed, including during the CI process when pushing pull requests.

Examples of tests where Aer usage is being skipped:
[code]

It appears that CI entirely skips all testing of `AerExpectationValue`, which is a pretty central component in VQE.

[2021-02-04 13:10] mtreinish commented on #5783
No, aer is not a requirement for terra and is not something we can require for testing. We do not want that bidirectional dependency. Aer depends on terra and we need that hard dependency to only go in that direction. If we have a test that requires aer you need to test it opportunistically and skip if aer is not present. We do install aer in a majority of the CI jobs but it's not feasible in all

[2021-02-04 13:24] mtreinish commented on #5783
Just to point to some examples, the vqe tests you pointed to do in fact run in the majority of CI environments. For example: https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=24099&view=logs&j=8eacdd59-c2e8-5617-75a5-8ed7c854a78f&t=5df005f4-d5f4-5d2d-0307-5b24b15488fc&l=122 we just can not make aer a hard requirement for testing or add it to a dependency list.

[2021-02-04 13:48] yaelbh commented on #5783
I agree. I wouldn't want to make it a hard dependency, but only want as many as possible of CI environments to install Aer. I was, wrongly, under the impression that this never happens. Thanks a lot for the quick and detailed answer!

[2021-02-04 13:48] #5783 closed

[2021-02-04 17:44] 1ucian0 opened #5784 "Inconsistency when drawing singleton registers"
When the quantum register is a singleton, the MPL drawer just prints the name without the subindex. This only happens with the MPL drawer and all of the rest drawers:

[code]
<img width="485" alt="Screenshot 2021-02-04 at 18 03 17" src="https://user-images.githubusercontent.com/766693/106932900-93b63500-6718-11eb-8e8b-7142af7b815f.png">

In addition, the MPL drawer does not follow this logic for t

[2021-02-05 02:40] ajavadia commented on #4943
@HuangJunye any update on this?

[2021-02-05 03:50] HuangJunye commented on #4943
@ajavadia Sorry I haven't started working on it, but I am still interested in it. I wasn't sure about the plan for OpenQASM2 because @1ucian0 mentioned a few times that OpenQASM might be split into its own repo. If that's not the case, I can start working on this issue next week.

[2021-02-05 14:32] QacoBot opened #5787 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 0fde408441817fc22e70697ebfdec6e1f2d53574 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/480748320

[2021-02-05 14:33] nirajvenkat commented on #1148
Had the same issue as @mamadpierre because Qiskit does not reproduce the "textbook" version of unitary gates. As @ardroc92 says we must add a reverse in a particular spot. Here is my workaround:
[code]
This gives us the expected output:
[code]
![image](https://user-images.githubusercontent.com/3744263/107046702-5cab5680-67e0-11eb-890e-f44f11b43e0a.png)

[2021-02-05 16:11] enavarro51 commented on #5782
I can take this one.

[2021-02-05 16:27] QacoBot opened #5795 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 1df01b9392fd8d6c1760cfcd422f1a375fc39ade failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/480782595

[2021-02-05 16:41] kdk commented on #5795
Failure is from CI on a PR to the stable branch, not on the stable branch.

[2021-02-05 16:41] #5795 closed

[2021-02-05 16:41] #4286 closed

[2021-02-05 16:42] kdk commented on #5787
Failure is from CI on a PR to the stable branch, not on the stable branch.

[2021-02-05 16:42] #5787 closed

[2021-02-05 16:43] #4215 closed

[2021-02-05 16:43] kdk commented on #5684
Failure is from CI on a PR to the stable branch, not on the stable branch.

[2021-02-05 16:43] #5684 closed

[2021-02-05 16:44] kdk commented on #5677
Failure is from CI on a PR to the stable branch, not on the stable branch.

[2021-02-05 16:44] #5677 closed

[2021-02-05 16:44] kdk commented on #5674
Failure is from CI on a PR to the stable branch, not on the stable branch.

[2021-02-05 16:44] #5674 closed

[2021-02-05 16:45] kdk commented on #5670
Failure is from CI on a PR to the stable branch, not on the stable branch.

[2021-02-05 16:45] #5670 closed

[2021-02-05 17:08] QacoBot opened #5796 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 14495f7df0ade07518979d6d64faa24cb6115858 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/480784794

[2021-02-05 17:21] QacoBot opened #5797 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 59727b6a898d7bef5efd9e3f519334765781e50b failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/480784968

[2021-02-05 18:41] #5532 closed

[2021-02-05 18:57] mtreinish commented on #5100
ok, I'm going to close this as all 3 of those PRs have merged now. To wrap it I just ran an importtime profile of `import qiskit` with all optional dependencies and all the qiskit components installed and this is what it returned:

![Screenshot_2021-02-05_13-50-35](https://user-images.githubusercontent.com/2447371/107076381-5ce42b80-67b9-11eb-9db5-7e85d552cafb.png)

which I think is a good enough

[2021-02-05 18:57] #5100 closed

[2021-02-05 19:18] naezzell opened #5799 "Attribute Error: Can't pickle local object when sending multiple circuits in job"
### Information

- **Qiskit IBMQ Provider version**:  0.11.1
- **Python version**:  3.9.1
- **Operating system**: Catalina 10.15.7

### What is the current behavior?
I have a list of 74 circuits. When I submit them all as a single job, I get the titular error. But if I submit any one of the circuits from the job individually, I do not get the titular error.

### Steps to reproduce the problem
Firs

[2021-02-05 19:24] jyu00 commented on #5799
@taalexander @lcapelluto Have you seen this before? I transferred this issue to terra because I think it's related to the actual pulse used and not the pulse library.

[2021-02-05 19:49] QacoBot opened #5800 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 57b230dff0ed5e6b0df78519ce76b47896054106 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/480851614

[2021-02-05 19:52] #5796 closed

[2021-02-05 19:52] #5797 closed

[2021-02-05 19:52] #5800 closed

[2021-02-05 19:55] naezzell commented on #5799
The problem appears to be with my custom class wrapper over QuantumCircuit and how it interacts with assemble. To this end, I found two band-aide solutions (although, they are pretty good). Just a reminder "armonk" is an object of my own custom Backend as well, but armonk.backend gives me the usual think obtained via `provider.get_backend('ibmq_armonk')`.

### 1. Create QuantumCircuit and extend w

[2021-02-05 20:08] naezzell commented on #5799
The problem appears to be with my custom class wrapper over QuantumCircuit and how it interacts with assemble. To this end, I found two band-aide solutions (although, they are pretty good). Just a reminder "armonk" is an object of my own custom Backend as well, but armonk.backend gives me the usual think obtained via `provider.get_backend('ibmq_armonk')`.

### 1. Create QuantumCircuit and extend w

[2021-02-06 01:56] ishapoval opened #5802 "QuantumCircuit.remove_final_measurements leaves remnant classical bits?"
### Information

- **Qiskit Terra version**: 0.16.3
- **Python version**:
- **Operating system**:

### What is the current behavior?
`QuantumCircuit.remove_final_measurements()` removes the idle classical registers - just as its docstring states - but not the associated classical bits.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

### Suggested solutions
If the a

[2021-02-06 14:58] jlapeyre opened #5803 "num_qubits() for DictStateFn is inefficient"
To get the number of qubits, a list of all keys in the dictionary is constructed. But, only the length of the first key is used. Constructing the entire list is wasteful.

https://github.com/Qiskit/qiskit-terra/blob/c3b2d7acb80fa89043e6f38efb501275ec296616/qiskit/opflow/state_fns/dict_state_fn.py#L82

This code should work:
[code]

`%timeit` shows that the latter is faster even when the dict conta

[2021-02-07 09:39] Cryoris opened #5806 "Unable bind parameters in global phase"
### Information

- **Qiskit Terra version**: master @ c3b2d7ac
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur

### What is the current behavior?

If the global phase of a circuit contains a parameter it can currently not be bound:
[code]
The above bug might be due to #5648, since the low-level `_assign_parameter` seems to support global phase binding.

Also, they are not listed

[2021-02-08 03:46] #5802 closed

[2021-02-08 08:46] 1ucian0 opened #5809 "BasisTranslator cannot find ['u2'] basis, but the further optmization does find it"
Considering the following example:
[code]
[code]
When transpiling with optimization 2, here is the result:
[code]
[code]
Reducing the circuit to two `U2`s. However, when considering a basis without `u3`, the `BasisTranslator` fails.
[code]
[code]

Maybe there is a missing equivalence in `SessionEquivalenceLibrary`?

[2021-02-08 08:53] sassan72 opened #5810 "How to implement a multi controlled y rotation?"
I am going to design a quantum circuit which includes single, two and three controlled y rotations. Sometimes control is on qubit 1 sometimes on qubit 0.
I know that i can define with matrix block method in python. But when the number of qubits are high it is quite hard to write matrices. How can i design single, two and three,... controlled y rotations?

[2021-02-08 10:52] 1ucian0 opened #5811 "Reoganize circuit elements class hierarchy"
The things that can be added in a circuit (let's call them `CircuitElement` for now) are growing a lot and some reorganization is needed. This discussion issues is to talk about that reoganization. I'll try to keep the first comment updated as the discussion progress. Also, if you have the privileges, you can edit this directly.

## `CircuitElement`
Root abstract class.
 - attributes:
    - name

[2021-02-08 12:59] ajavadia commented on #4943
Thanks, I think this bug needs fixing soon. I have seen bug reports from multiple people about round-tripping of circuits < - > QASM when there are composite gates present (not just MCX). I'll tag it for the 0.17 release which is for end of March.

[2021-02-08 14:10] HuangJunye commented on #4943
@ajavadia I started to take a look at the code and relaxant issues today. I am really new to this so it may take sometime. But I’ll probably be able to fix it by the end of Feb.

[2021-02-08 15:18] mtreinish commented on #5809
I think this is expected, the `['u2', 'cx']` basis isn't universal. If you look at your working example the first run of the basis translator outputs:

[code]

To use the basis translator In the working example the basis translator is going z -> u3. The optimization passes after the basis translator are what simplify things further to just 2 u2s. (the final u2 pair are coming from optimize1qgates

[2021-02-08 15:38] Cryoris commented on #5810
There are two convenient ways to do it, the first is to use the `RYGate` from Qiskit, which has a `control` method to create controlled versions of itself. Then you just need to append it to a circuit. The first qubits are the controls and the last one is the target, so if you want 3 controls and 1 target you can do the following:
[code]
or the second (the circuit is shown in more fundamental gate

[2021-02-08 16:50] ajavadia commented on #5350
The `circuit._layout` gives the initial layout (i.e. the initial permutation of qubits before the circuit starts). I think this issue is asking for a convenient way to view the final layout (i.e. the final permutation, which is usually absorbed into the measurements and reorders their clbit targets). I agree it could be handy to access this.

[2021-02-08 17:00] ajavadia opened #5812 "bug in permutation circuits"
The permutation circuits from the circuit library do not implement some permutation correctly. For example:

[code]

here the 5th qubit has to end up in the 0th location, but it ends up in the 6th location because two swaps act on it.

[code]

[2021-02-08 17:02] nonhermitian commented on #5350
This is a topic for the hackathon next week: https://github.com/qiskit-community/qiskit-hackathon-korea-21/issues/2

[2021-02-08 22:46] kdk commented on #5809
Agree with @mtreinish , I don't think there's more the basis translator can do here.

[2021-02-08 22:46] #5809 closed

[2021-02-09 05:59] ikkoham commented on #5757
I don't think Operator can be considered a QuantumChannel. For example, trace-preserving and completely-positive are concepts of QuantumChannel, but operator does not have. Converse may be hold. (But I don't recommend it.)

[2021-02-09 07:17] sassan72 commented on #5810
thanks a lot.

[2021-02-09 07:24] #5810 closed

[2021-02-09 07:24] Cryoris commented on #5810
Sure no problem! 🙂

[2021-02-09 09:25] Zoufalc opened #5814 "Opflow adjoint of Hermitian PauliSumOp"
### Information

- **Qiskit Terra version**:  0.16.0
- **Python version**: 3.7.3
- **Operating system**: macOS Catalina 10.15.1

### What is the current behavior?

If you create a Hermitian operator including a term with an odd number of `Y` terms as a PauliSumOp and convert it into a measurement StateFn it flips a sign where it should not. See code below.

### Steps to reproduce the problem

`tes

[2021-02-09 11:59] sassan72 opened #5815 "error with new version of qiskit."
i am going to design a quantum classifier with qiskit. i coded it last year and it worked. But today, i was going to run it again, i encountered this error.

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
~/anaconda3/lib/python3.7/site-packages/qiskit/circuit/quantumcircuit.py in _bit_argument_

[2021-02-09 14:35] kdk commented on #5815
Hi @sassan72 , from the backtrace it's a little difficult to see where the issue might be.

[code]
Do you know the values of `param`, `control` and `target` here?

[2021-02-09 15:03] sassan72 commented on #5815
do you mind if i send you the code?

[2021-02-09 15:09] sassan72 commented on #5815
i can draw the circuit without any error.
params = np.array([[[pi/6,pi/4,pi/3],
                    [pi/3,pi/4,pi/3],
                   [pi/6,pi/3,pi/6],
                   [pi/4,pi/6,pi/6]],
                   [[pi/3,pi/4,pi/4],
                   [pi/4,pi/4,pi/3],
                   [pi/6,pi/4,pi/6],
                   [pi/4,pi/3,pi/6]],[[pi/3,pi/3,pi/3],
                   [pi/4,pi/4,pi/4],

[2021-02-09 15:09] kdk commented on #5815
You should be able to attach it to the issue, if the code to replicate is not too large. Otherwise, maybe the qiskit slack or stackechange would be a better forum to work through debugging this.

[2021-02-09 15:13] sassan72 commented on #5815
this is a my new quantum state preparation for encoding the data.

def statepreparation(angle, circuit, wire):

    qc = QuantumRegister(4)
    circuit = QuantumCircuit(qc)

    circuit.ry(angle[14], 0)
    circuit.barrier()

    control1 = RYGate(angle[13]).control(1, ctrl_state='1')
    circuit.append(control1, [0, 1])
    circuit.barrier()

    control2 = RYGate(angle[12]).control(1, ctrl_state

[2021-02-09 15:17] sassan72 commented on #5815
i used 1, 2, 3, controlled ry gates. before that, i only used ry gate and the code works with ry gate. But i need to encode my data with 1, 2, 3, controlled ry gates.

[2021-02-09 15:18] sassan72 commented on #5815
this is the first error.
IndexError                                Traceback (most recent call last)
~/anaconda3/lib/python3.7/site-packages/qiskit/circuit/quantumcircuit.py in _bit_argument_conversion(bit_representation, in_array)
    752                 # circuit.h(0) -> circuit.h([qr[0]])
--> 753                 ret = [in_array[bit_representation]]
    754             elif isinstance(bit_repres

[2021-02-09 15:22] yourball commented on #5350
@ajavadia Thanks, that is the exactly what I mean! It is useful to access the information about virtual permutation of qubits at **the end of the circuit** even when there are no measurement gates. For example this is important for equivalence checking of circuits before/after optimization.

[2021-02-09 15:28] nonhermitian commented on #5350
It is not strictly needed in that case, although it makes it much easier. Instead of checking equiv to identity with possible phase, you look for equiv up to a permutation matrix.

[2021-02-09 15:29] sassan72 opened #5817 "multicontrolled gates"
i tried with this simple code to draw multicontrolled ry gate:

from qiskit import QuantumCircuit, QuantumRegister
qr = QuantumRegister(4)
control_qubits = qr[:3]
target_qubit = qr[3]
circuit = QuantumCircuit(qr)
circuit.mcry(0.12, control_qubits, target_qubit)
circuit.draw()
######################################################################################
i encountered this error:
TypeError:

[2021-02-09 15:32] ikkoham commented on #5814
Thank you. Sorry for my mistake.

[2021-02-09 15:42] kdk commented on #5811
Thanks @1ucian0 for starting the discussion on this. This has been a long while coming, and what's above is a good description of the structure where things currently stand.

A good place to start the discussion is collecting the use cases and behaviors we want to support, and designing roles/mixins around those (similar to what's been done recently with `Operator`s). Then we can focus our design

[2021-02-09 15:44] kdk opened #5819 "Circuit.append(Barrier, qargs=None) leaves invalid circuit.data"
### Information

- **Qiskit Terra version**: master @ 9d1d6a1e
- **Python version**: 3.6
- **Operating system**: osx

### What is the current behavior?

[code]
(Both `qargs` and `cargs` are `[]`.)

### Steps to reproduce the problem

### What is the expected behavior?

Seems like the right behavior here is to broadcast to all qubits if `barrier.num_qubits`  == `circuit.num_qubits` (similar to what

[2021-02-09 16:18] sassan72 opened #5820 "quantum measurement method qiskit doesn't work"
q = QuantumRegister(4) # QuantumRegister define number of qubit. here we have 4 qubit.
c = ClassicalRegister(1) # this defines a classical bit for storing measurement results
circuit = QuantumCircuit(q,c) #defines 5 wire, 4 for qubits and 1 for bit.
circuit = statepreparation(ang, circuit, [0,1,2,3])

circuit = create_circuit(params, circuit, [0,1,2,3]) #create_circuit is in qiskit too.

circuit.m

[2021-02-09 16:20] sassan72 commented on #5820
i can draw the circuit but i can't do measurement.

[2021-02-09 16:20] sassan72 commented on #5820
![image](https://user-images.githubusercontent.com/22191884/107393463-21b86400-6afb-11eb-914a-7d6f4e92d015.png)

[2021-02-09 16:30] Serock3 commented on #5812
Are you not interpreting the permutation incorrectly? It seems to me that you are specifying the 0th qubit to be moved to the 5th position.

[2021-02-09 16:38] taalexander opened #5821 "ID gates should be replaced by delay instructions"
### What is the expected enhancement?
Qiskit now supports delay instructions. The `IDGate` was always a way of hacking delays into quantum circuits that will be run on physical backends. Since the delay is now explicitly supported it should replace the IDGate when used in a circuit. This will enable backends to no longer return the `id` gate as a basis gate in the long run.

[2021-02-09 17:07] Zoufalc commented on #5814
Thank you for taking care of this.

[2021-02-09 17:13] mtreinish commented on #5821
What about backends that don't support delay?

[2021-02-09 19:20] ajavadia opened #5825 "OptimizeSwapBeforeMeasure needs multiple invocations"
The `OptimizeSwapBeforeMeasure` pass is supposed to commute quantum SWAP gates that immediately precede measurements, past the measurements, and instead convert them to classical swap (i.e.just retarget the measurement clbit).

However this should be generalized to work with any permutation that happens before the measurements, not just one swap layer. I made this work by invoking it many times fo

[2021-02-09 20:24] #5776 closed

[2021-02-10 00:12] ajavadia commented on #5812
@Serock3 I guess this should be clarified in the docstring of the Permutation class. But the way I interpret a permutation pattern such as `[5,4,1,7,6,3,0,2]` would be that q5 goes to the 0th position, q4 goes to the 1st position, etc.

This interpretation is easier to think about in terms of swaps, as you can imagine the identity permutation to be:
`[0, 1, 2, 3, 4, 5, 6, 7]`
then let's say you sw

[2021-02-10 00:21] ajavadia commented on #5811
some earlier related issues: https://github.com/Qiskit/qiskit-terra/issues/4700, https://github.com/Qiskit/qiskit-terra/issues/3800
also i made a comment about class names here:https://github.com/Qiskit/qiskit-terra/issues/5774

[2021-02-10 00:43] #5806 closed

[2021-02-10 05:58] 1ucian0 opened #5829 "duplicated code: Arrow3D classs"
The class `Arrow3D` seems to be duplicated in `qiskit/visualization/state_visualization.py` and in `qiskit/visualization/bloch.py`. Maybe a faulty merge?

[2021-02-10 06:46] #5424 closed

[2021-02-10 07:21] Cryoris commented on #5817
Hi @sassan72, for the code above works, this is what I'm getting with the lastest version (master @ 4ebe4c4c):
[code]
What version are you using? Could you try updating to master?

In the future, could you please use the provided template for bugs that includes your operating system and the Terra version that you're using? 🙂

[2021-02-10 07:44] sassan72 commented on #5817
i fixed it. i needed to add q_ancillae=None. do you know how i can decompose multicontrolled ry rotations? Actually, i have this kind of circuit:
![image](https://user-images.githubusercontent.com/22191884/107479507-7e5b6380-6b7b-11eb-8fcc-6041382c5097.png)
but i can't use method of measure for it: circuit.measure(0, c).
but when i have this circuit which is only a combination of single ry, X, and

[2021-02-10 07:45] sassan72 commented on #5817
i need to decompose controlled ry rotations into ry and cnot gates, but i don't know how to do it?

[2021-02-10 08:48] #5359 closed

[2021-02-10 09:18] Cryoris commented on #5817
Can you elaborate on what you mean by

you should be able to measure in any circuit.

You can decompose your circuit into RY and CX using this:
[code]
Note that RY and CX are not a universal basis gate set, so you cannot decompose every circuit into these two gates. You would also need to allow other gates, e.g. use `['ry', 'rz', 'sx', 'cx']` as basis gate set.

[2021-02-10 09:50] sassan72 commented on #5817
thanks for your useful answer. i am using the latest version of qiskit.

[2021-02-10 09:52] sassan72 commented on #5817
from qiskit.circuit.measure import measure
q       = QuantumRegister(4)
c       = ClassicalRegister(1)
circuit = QuantumCircuit(q,c)
ang = feature_train[3]
circuit = statepreparation(ang, circuit, [0,1,2,3])
circuit.measure(0, c)
circuit.draw('mpl')
###################################
here is the error:

---------------------------------------------------------------------------
CircuitError

[2021-02-10 09:53] sassan72 commented on #5817
i can send you the whole code, if you mind?

[2021-02-10 09:54] sassan72 commented on #5817
def statepreparation(angle, circuit, wire):

    qc = QuantumRegister(4)
    circuit = QuantumCircuit(qc)

    circuit.ry(angle[14], 0)
    circuit.barrier()

    control1 = RYGate(angle[13]).control(1, ctrl_state='1')
    circuit.append(control1, [0, 1])
    circuit.barrier()

    control2 = RYGate(angle[12]).control(1, ctrl_state='0')
    circuit.append(control2, [0, 1])
    circuit.barrier()

[2021-02-10 10:15] stefan-woerner commented on #5763
@nelimee Thanks for reaching out! Best wait for #5698 being merged. We are almost there so you can already look into it and let us know in case you have any questions.

[2021-02-10 10:19] sassan72 commented on #5817
there is another error about implementing multi controlled gates with qiskit. if you look at def statepreparation and compare it with circuit, empty circle must be for control '0' and full circle for control '1'. But in qiskit it does it in reverse sometimes. for example:
control3 = RYGate(angle[11]).control(2, ctrl_state='11')
    circuit.append(control3, [0, 1, 2])
    circuit.barrier()

    con

[2021-02-10 11:04] AzizNgoueya commented on #5825
Hi, i can take this one, i think putting a loop on top of this pass is enough.

[2021-02-10 14:31] 1ucian0 commented on #5825
I think the "permutation model" that @ajavadia is suggesting would allow to run this in a single pass over the circuit. You need to bookkeep the permutations that each swap is inserted and, at the end, move the measurement.

[2021-02-10 15:05] #5814 closed

[2021-02-10 15:14] woodsp-ibm opened #5831 "Add a TruthTableOracle"
Add a `TruthTableOracle` to provide the other oracle as was provisioned by Aqua. See also #5656

[2021-02-10 16:29] AzizNgoueya commented on #5825
@1ucian0 i meant, i want to add a loop with a number of iterations equal to dag.depth() directly in the OptimizeSwapBeforeMeasure code but reversing the dag would also work.

[2021-02-10 16:52] jasonlarkin opened #5832 "Maximum iteration reached. max_iteration=1000"
### Information

- **Qiskit Terra version**:

qiskit                        0.23.3
qiskit-aer                    0.7.3
qiskit-aqua                   0.8.1
qiskit-ibmq-provider          0.12.0
qiskit-ignis                  0.5.1
qiskit-rng                    0.2.1
qiskit-terra                  0.16.4

- **Python version**:

python --version
Python 3.8.1

- **Operating system**:

cat /etc/os-release

[2021-02-10 18:35] ajavadia commented on #5350
I recently wrote a function for my own usage, but something like this could be helpful.
[code]

A circuit mapped by Qiskit:
![image](https://user-images.githubusercontent.com/8622381/107554894-87acf600-6ba4-11eb-89a0-ce2991db6a8e.png)

Calling `unpermute()` function on it models the left layout and right measurement reordering as explicit permutations:
![image](https://user-images.githubuserconten

[2021-02-10 18:39] ajavadia commented on #4943
ok thanks, @1ucian0 might be able to help as he has fixed multiple bugs related to QASM before.

[2021-02-10 19:53] 1ucian0 commented on #5350
It this PR related https://github.com/Qiskit/qiskit-terra/pull/5280 ?

[2021-02-10 21:03] StreakSharn commented on #5829
Lines 61-71 in `qiskit/visualization/bloch.py` and Lines 689-702 in `qiskit/visualization/state_visualization.py`, right?

They do seem to be duplicated, I assume it would be easier to write it once and import over. Would anyone happen to know which one is the 'correct' version?
The only difference I can see is that bloch.py uses
[code]

Whereas state_visualization.py uses
[code]

[2021-02-10 21:07] kdk commented on #5821
In #5835 , backends that support `id` will still be sent `id` instructions. This makes for an unusual deprecation in that the warning will only be visible to users once backends have migrated from reporting support for `'id'` to reporting `'delay'` (and the conversion moves from being done by the backend to being done by qiskit).

[2021-02-11 01:39] HuangJunye commented on #4943
@ajavadia Thanks! I’ll bug @1ucian0 for help 😉

[2021-02-11 01:49] #5825 closed

[2021-02-11 05:58] ewinston commented on #5812
I looked a bit more at this issue and found that it seems certain permutations are never visited.

The figure below shows the error with respect to the uniform expected probability of all permutations of size 4. On the left is the requested permutation. On the right is the one I believe is generated by the swap circuit.

![freq_test_4qubit](https://user-images.githubusercontent.com/25756217/107606

[2021-02-11 06:21] invalidexplorer opened #6092 "Definition of U gate is not valid"
Hi, I tried implementing U gate via the decomposition of it given on qiskit docs (https://qiskit.org/documentation/stubs/qiskit.circuit.library.UGate.html) . However the results from the decomposition and U gate are not concurrent.

u3(pi/2,pi/3,pi/4) q[0] gives:  [ 0.707+0j, 0.354+0.612j ]

while
rz(pi/3) q[0];
rx(-pi/2) q[0];
rz(pi/2) q[0];
rx(pi/2) q[0];
rz(pi/4) q[0];

gives: [ 0.43-0.561j, -0

[2021-02-11 09:53] sassan72 opened #5837 "problem with circuit.measure()"
Here is my circuit:

![image](https://user-images.githubusercontent.com/22191884/107621761-09f5f280-6c57-11eb-8919-bd296f0cdb50.png)

i am going to apply measurement gate on first qubit, but i encountered this error:

from qiskit.circuit.measure import measure
q       = QuantumRegister(4)
c       = ClassicalRegister(1)
circuit = QuantumCircuit(q,c)
ang = feature_train[3]
circuit = statepreparation

[2021-02-11 10:29] Cryoris commented on #5817
It's not in reverse, the bit order in Qiskit is little endian which means that the left bit in `'01'` corresponds to the bottom qubit.

[2021-02-11 10:44] sassan72 commented on #5817
thanks a lot for your answers. i posted another question regarding measurement gate. i will appreciate you, if you answer that one too.

[2021-02-11 13:26] Serock3 opened #5839 "Transpiler may permute qubit ordering in statevectors, but not density matrices"
### Information

- **Qiskit Terra version**: 0.16.4
- **Python version**: 3.8.5
- **Operating system**: Windows 10 (running through WSL)

### What is the current behavior?
Similar issues have been noted before (https://github.com/Qiskit/qiskit-terra/issues/2980, https://github.com/Qiskit/qiskit-terra/issues/5350, https://github.com/Qiskit/qiskit-terra/issues/4608), but I wanted to add how density

[2021-02-11 14:14] yaelbh commented on #5692
@ajavadia @chriseclectic @burgholzer Thanks for your comments in #5700. As I commented before (https://github.com/Qiskit/qiskit-terra/issues/5692#issuecomment-773188012), the purpose of #5700 is to serve as a design proposal, which is still subject to many changes.

I'll transform to a functional rather than a class structure. In the mean time, I'd like to address some of your comments, and get yo

[2021-02-11 14:32] yaelbh commented on #5692
Just a very small addition: for the `simulator` parameter there is also the option `external`, for backends that are not Qiskit.

[2021-02-11 14:44] Cryoris opened #5840 "Unroller can fail on multi controlled qubits"
### Information

- **Qiskit Terra version**: master @ 06dd1552
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur

### What is the current behavior?

Using the `Unroller` to unroll a circuit can fail, while using `transpile` with `optimization_level=0` works fine.

### Steps to reproduce the problem

[code]

The error in the unroller is:
[code]

### What is the expected behavior?

T

[2021-02-11 14:52] levbishop commented on #5775
I like this direction but I have a few comments:

1. Collecting in general is not unique and there may be different heuristics you'd like for choosing a good collection. For a trivial example, collecting nq<=2 has ambiguity of which block gets the X in:
[code]
    Mostly this doesn't matter for things like TwoQubitDecomposer since we can do but for collecting nq<=3 then there could be very differe

[2021-02-11 15:44] molar-volume commented on #5566
fixed by #5501

[2021-02-11 15:44] #5566 closed

[2021-02-11 16:24] chriseclectic commented on #5692
The point I was making with regard to the methods is each individual method should be an independent class/function that can be called directly, and you can have a single higher level interface function that has a `method` kwarg for choosing between them (and intelligently choosing automatically by default when no specific method is provided). This makes it much easier to organize and add addition

[2021-02-11 17:19] ajavadia commented on #5839
Interesting, I agree the snapshots should undo permutations as the original intent of the snapshot is to save information about the original circuit (it is easy to keep track of the permutations, starting from layout and going past each swap).

I doubt this is done currently for density matrices, however, so seems like something is happening by chance to cause the permutation to be correct.

[2021-02-11 17:35] ajavadia commented on #5837
This line
` circuit = QuantumCircuit(q,c)`
isn't doing anything because it is immediately over-ridden by
` circuit = statepreparation(ang, circuit, [0,1,2,3])`

And in this circuit there is no register `c`. You can just write `circuit.measure(0, 0)` (measure 0th qubit into 0th classical bit)

[2021-02-11 17:35] #5837 closed

[2021-02-11 17:46] chriseclectic commented on #5839
Density matrix snapshots behave quite differently to statevector.
* Statevector is always defined on full width of circuit and ignores the ordering of qubits in its qarg. So if you permute qubits instructions the statevector will change.
* Density matrix is defined as the reduced density matrix on the specified qubits in the qargs of the instruction, so changing qubits arg will permute the returne

[2021-02-11 17:51] ajavadia commented on #5839
Ok I agree the Statevector snapshot should be constrained to be defined over all qubits, but I don't think it should be constrained to be defined over qubit order 0..N-1. We should allow that to be permuted.

[2021-02-11 19:23] chriseclectic commented on #5839
Yeah it would be good to have but simulators don't support computing that permutation at the moment. It would have to be an added feature.

[2021-02-11 21:35] mtreinish commented on #5775
Here is a profile of the `Optimize1qGatesDecomposition`:

![Screenshot_2021-02-11_16-27-09](https://user-images.githubusercontent.com/2447371/107700808-062d9480-6c86-11eb-9e85-1438772f29a5.png)

generated with:

[code]

It looks like it's spending most of the time in the decomposer. We can tune the operator constructor further, and probably removing the compose and just doing the dot product manua

[2021-02-11 21:41] molar-volume commented on #5757
Hi @ikkoham,
actually in https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/quantum_info/operators/measures.py#L106-L121,
completely-positive and trace-preserving properties are validated for `Operator` as well, and in `transformations.py`, `Operator` can be converted to any channel.

I found this issue worth to discuss, if you don't consider this change for better, you can close it.

[2021-02-12 01:14] ikkoham commented on #5757
@molar-volume Yes. Thank you so much for the discussion.

@Qiskit/terra-core Please close this issue.

[2021-02-12 11:03] Serock3 opened #5841 "Noise on classically conditioned gates is applied, even if the gate does not trigger"
### Information

- **Qiskit Terra version**: 0.16.4
- **Python version**: 3.8.5
- **Operating system**: Windows 10 (running through WSL)

### What is the current behavior?

Noise on gates that are made conditional on a classical measurement using `.c_if` is applied even if the conditional gate isn't triggered.

### Steps to reproduce the problem

[code]
result:

`{'0': 485, '1': 539}`

The 50% bit

[2021-02-12 15:00] #5757 closed

[2021-02-12 16:52] mtreinish commented on #5840
So I took a quick look at this, and I"m not sure if it's something we can solve. The unroller just works with the definition property of a gate and just descends through the definitions until it reaches something in the basis or can't find anything and fails. In the case of the second that's what's happening the first gate in the definition is `P(pi/4)` which is defined in terms of `U` which doesn

[2021-02-12 16:57] Cryoris commented on #5840
Of course, that cannot work! Ok maybe we should just update the warning which is not very descriptive.. 😄

[2021-02-13 16:45] delapuente commented on #5530
Is this solved? The times seem to come back to normal after 070f9e2

However, depths are still above those before the introduction of 7972d6c. I've noticed that in the removed TODO it says:

But it is replaced with `neighbors()`. I don't see `neighbors_directed()` in `retworkx` source code and I'm unsure if this could be the cause of the problem.

[2021-02-14 08:18] 1ucian0 opened #5845 "phase visualization seems broken"
This issues is coming from my attempt to answer this question https://stackoverflow.com/questions/66180030/qiskit-difference-on-statevector-no-difference-on-vizualization

[code]
![image](https://user-images.githubusercontent.com/766693/107871817-4323a200-6ea5-11eb-8974-333146184d2e.png)
![image](https://user-images.githubusercontent.com/766693/107871823-4c147380-6ea5-11eb-9e29-e12841655f45.png)

[2021-02-14 08:28] 1ucian0 commented on #5845
Same for `plot_state_paulivec`?

[code]
![image](https://user-images.githubusercontent.com/766693/107871990-02c52380-6ea7-11eb-864f-85d467e1b69f.png)

![image](https://user-images.githubusercontent.com/766693/107871993-0789d780-6ea7-11eb-82a3-f920d6375fce.png)

[2021-02-14 10:47] nonhermitian commented on #5845
It is bot broken per say, but implicitly normalizes the global phase via the largest magnitude component. It has done this since v1 of the qsphere code.

[2021-02-14 12:16] yaelbh commented on #5692
@ajavadia The suggested API will look like this:

`EquivalenceCheckerResult` from #5700 remains, and all the functions return an object of this type.

Checking by comparing an operator to the identity:
[code]

Checking by running a simulation on all basis states:
[code]

Checking, without full guarantee when the answer is "yes", by running simulations on random states:
[code]

A wrapper function:

[2021-02-15 02:45] delapuente commented on #5530
Ok. The problem comes from the fact that `neighbors()` returns an iterator with duplicated entries (expected for multigraphs) while the keys in `adj()` are unique. Here you can see a comparison between the data returned while using `adj()` and `neighbors()`:

[code]

From the change in the data structure, you can expect longer searches too so it could also explain the regression in time. In [the c

[2021-02-15 07:16] yaelbh commented on #5692
From the user's point of view it will look like this:
[code]

[2021-02-15 08:16] brunorijsman opened #5856 "result.__repr__ crashes for backend unitary_simulator"
### Informations

- **Qiskit Aer version**: 0.7.4
- **Python version**: 3.9.0
- **Operating system**: macOS 10.15.7

### What is the current behavior?

`result.__repr__ crashes: AttributeError: 'ExperimentResultData' object has no attribute 'statevector'
`

[code]

### Steps to reproduce the problem

[code]
### What is the expected behavior?

Print a representation of the result

### Suggested sol

[2021-02-15 12:33] burgholzer commented on #5692
When you compare two circuits using simulation on all/random basis states, do you plan on actually comparing the resulting state vectors entry-wise? Or do you plan on calculating the fidelity between the states and apply a certain threshold (say `>0.999` for equivalence)? Due to numerical errors during the simulation (which are unavoidable with floating points), two state vectors might not be exac

[2021-02-15 12:42] mtreinish commented on #5530
@delapuente nice catch! Yeah the fix in #5847 is how I would go about this on the terra side. I do think this is actually a bug in retworkx's `neighbors()` method though. The method is supposed to return the node indices of all neighbors for a given node, returning a list with repeats for each edge in a multigraph seems less than desirable because it differs from user expectations. If you don't mi

[2021-02-15 12:42] yaelbh commented on #5692
I was thinking of concatenating one circuit with the inverse of the other. Then in the final state vector I need to check a single amplitude, the one that corresponds to the basis state, which should be close to 1 iff the circuits are equivalent. Does the hiding of the phase difference apply for this method?

[2021-02-15 12:43] yaelbh commented on #5692
Something like this was implemented in #5123.

[2021-02-15 12:59] burgholzer commented on #5692
This should work and _not_ hide the phase. However, for certain types of simulators (those exploiting some structure to compactly represent a state, like *decision diagrams*) concatenating one circuit with the inverse of the other and simulating the resulting circuit might actually be (much) more expensive than simulating both circuits separately. I suppose for array-based approaches this is a no-

[2021-02-15 14:12] #5530 closed

[2021-02-15 15:59] HuangJunye opened #5850 "Error `PyDAG` object has no attribute 'insert_node_on_in_edges_multiple'"
### Information

- **Qiskit Terra version**: 0.17.0.dev0+7270be5
- **Python version**: 3.8.5
- **Operating system**: macOS Big Sur 11.1

### What is the current behavior?

`AttributeError: 'PyDAG' object has no attribute 'insert_node_on_in_edges_multiple'` since at least after #5267.

`TypeError: 'PyDAG' object is not subscriptable` after #5088.

#### Detailed error messages:

version '0.17.0.dev0

[2021-02-15 16:06] mtreinish commented on #5850
The issue is being caused by using a retworkx version in your python environment that is too old. It's not an API incompatibility but more terra leveraging newer features that weren't available on older retworkx releases. Terra's master branch requires retworkx >= 0.7.0: https://github.com/Qiskit/qiskit-terra/blob/master/requirements.txt#L3

If you run with an version older than that (previous ver

[2021-02-15 16:09] HuangJunye commented on #5850
@mtreinish I updated retworkx and now it's working :) Thanks for the quick reply!

[2021-02-15 16:09] #5850 closed

[2021-02-15 21:55] HuskyNator commented on #4934
As a student I can confirm I tried searching for this in the documentation in the end yielding and using
`np.conj(vector.data[0])*vector2.data[0]+np.conj(vector.data[1])*vector2.data[0]` (woops it seems i missed np.dot)
I'd also like to add I don't (yet) know what fidelity means 😅

[2021-02-16 07:35] Cryoris commented on #4934
Since the `Statevector` class now implements the `__array__` method you can use numpy functions on it, including the dot-product:
[code]
@frankharkins does this work for you? 🙂

[2021-02-16 08:45] t-imamichi opened #5852 "Fail to import Tweedledum 1.0.0b0"
### Information

- **Qiskit Terra version**: latest
- **Python version**: 3.8.7
- **Operating system**: macOS 11.2.1

### What is the current behavior?

Tweedledum is updated recently https://pypi.org/project/tweedledum/1.0.0b0/#history
The current terra code fails to import the latest Tweedledum
https://github.com/Qiskit/qiskit-terra/blob/00c051815a1d5fc8c98788c8f7ecf59e05233356/qiskit/circuit/cl

[2021-02-16 12:26] 1ucian0 commented on #5852
There was a new release of tweedledum that is not backwards compatible. Let me see what's the best way to solve this.

[2021-02-16 13:12] 1ucian0 commented on #5852
Last tweedledum version was tagged as `yanked`: https://pypi.org/project/tweedledum/#history This will avoid installing it "by default".

We still need to make sure that we set Qiskit req in a way that can handle breaking changes in tweedledum.

[2021-02-16 13:15] boschmitt commented on #5852
We need to specify `tweedledum` version on the requirements file. I will write code to make things backward compatible and follow the deprecation cycle in Qiskit.

[2021-02-16 15:35] yonizim opened #5857 "Error in the transpilation of double controlled gate"
### Informations

- **Qiskit Aer version**: 0.7.2
- **Python version**: 3.8.5
- **Operating system**: MacOS

### What is the current behavior?

A statevector simulation of a simple quantum circuit with two gates gives incorrect results. The circuit consists from an X gate and RYGate controlled by two qubits.

The following code compares the problematic circuit with double controlled gate (gate.con

[2021-02-16 16:01] HuangJunye commented on #4943
Dig a bit more on gates that can't generate correct qasm code.

In summary, most (if not all) gates that are not defined in qelib1.inc can't be parsed by QasmParser. `QuantumCircuit.qasm` also don't generate gate definitions for composite gates except for "generalised gates" which are child class of `QuantumCircuit` not `Gate.

## Doesn't work

- C3XGate: mcx q[0],q[1],q[2],q[3];
- C3SXGate: c3sx

[2021-02-16 23:06] #5852 closed

[2021-02-17 10:15] peachnuts opened #5862 "CrosstalkAdaptiveSchedule needs to be updated according to the latest basis gates"
### Information

- **Qiskit Terra version**: 0.16.4
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

### Steps to reproduce the problem
[code]

### What is the expected behavior?
There should be no errors.

### Suggested solutions
In [this function](https://github.com/Qiskit/qiskit-terra/blob/47f2faf9560deb2b1ffdab94fe3f4371485aae2a/qiskit/transpil

[2021-02-17 23:42] mtreinish opened #5868 "Performance regression with optional registers"
### Information

- **Qiskit Terra version**: Master since: https://github.com/Qiskit/qiskit-terra/commit/9040bb9c
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Since #5486 merged there has been a performance regression across the board with everything that operates on bits and/or registers in qiskit. For example:

https://qiskit.github.io/qiskit/#convert

[2021-02-18 02:25] #4705 closed

[2021-02-18 04:23] #5712 closed

[2021-02-18 04:23] #5727 closed

[2021-02-18 10:00] ShellyGarion commented on #4311
A few questions:

1. Where should we put all the synthesis algorithms? Should they all be in `qiskit.quantum_info.synthesis` ? or in another place?

2. Should we just move all the functions in `qiskit.extensions.quantum_initializer` to the synthesis folder?

3. Here is a list of the relevant synthesis algorithms - are there some more?

- In `qiskit.quantum_info.synthesis`:

  -  `clifford_decompos

[2021-02-18 11:41] #4228 closed

[2021-02-18 13:47] 1ucian0 opened #5872 "Decompose CnXGate grows exponentially in terms of CX, instead of linear"
@anedumla noticed that theorem 5 in https://arxiv.org/abs/1501.06911 bounds the amount of CNOTs needed to decompose a SU(2) gate when (n-1)-controlled.

<img width="508" alt="Screenshot 2021-02-18 at 14 38 14" src="https://user-images.githubusercontent.com/766693/108364956-f0285280-71f6-11eb-88ee-100bfede852a.png">

The bound of resulting CNOTs in the decomposition grows linearly with respect to t

[2021-02-18 14:04] ShellyGarion opened #5873 "Add a stabilizer_state to qiskit.quantum_info.states"
### What is the expected behavior?

Add a `stabilizer_state.py` to `qiskit.quantum_info.states`
It should be a new class `StabilizerState` which is a `QuantumState` subclass based on the `Clifford` object, with further abstract methods for reset, measure, probabilities etc. (similar to Aer stabilizer simulator).

I would like to be assigned on this issue - Thanks!

[2021-02-18 14:20] eggerdj opened #5874 "Allow users to set qubit frequencies in execute"
### What is the expected enhancement?

Quantum circuits and pulse schedules can be sent to backends using `qiskit.execute` which allows `default_qubit_los` and `default_meas_los` as arguments. These arguments allows pulse users to set the LOs of drive and measure channels and are only understood when schedules are run but ignored when quantum circuits are sent.

The expected enhancement is to allo

[2021-02-18 17:05] jyu00 commented on #5690
@omarcostahamido @jwoehr Can you elaborate the issue a bit more? Is it because the CR causes characters to be overwritten, or you just don't want to deal with striping it? Would it help if we replace it with `\n`?

[2021-02-18 17:50] omarcostahamido commented on #5690
Hi @jyu00 ,
Yes, for my use case I need to replace it with `\n`. But I understand that change makes job_monitor output to look different for other users, so that's why I added the` line_discipline`  kwarg, so that I can easily change that when I call job_monitor on my system.

[2021-02-18 18:48] kdk commented on #5753
Hi @ishapoval , sorry for the delay. Indeed, #5671 worked around the issue of some passes introducing out-of-basis gates in level 2, but I suspect the problem reported here also occurred (though to a lesser degree) on Qiskit 0.23.2. (Looking through the logs, both 0.23.2 and 0.23.3 loop the optimization passes several times after they've finished making progress in optimizing the circuit, I suspec

[2021-02-18 18:52] kdk commented on #5832
Thanks for reporting this @jasonlarkin . Can you clarify which circuits you are using as the input to your call to `transpile`? (Some example code demonstrating how to build your circuits, and how you're trying to transpile them would be really helpful.) Also, can you check which gates are listed in `backend.configuration().basis_gates`?

[2021-02-18 19:02] jyu00 commented on #5690
@omarcostahamido If using `\n` would solve the issue, I think replacing `\r` with `\n` in `job_monitor` would be a better solution than introducing a new kwarg. The output is not that much different, and other people who also have issues with `\r` won't have to dig around to find the new kwarg to change.

[2021-02-18 20:35] jwoehr commented on #5690
@jyu00 The reason `job_monitor()` as it stands uses `\r` is that the effect in almost all terminals is that the cursor jumps back to the head of the line and overwrites the previous job status message.

That way, the user sits there in front of the terminal watching a status message update without previous information being scrolled off the screen by line after line of monotonous queue depth numbe

[2021-02-18 21:16] omarcostahamido commented on #5690
I reinforce @jwoehr explanation, which is the same point I was making (maybe not as clear).
@jyu00 you can see that I've already included the yaml release notes in #5691 , which clarify that current use/behavior, which should be what most people are using, will be unaffected.

[2021-02-18 21:23] jyu00 commented on #5690
While I agree with this, I generally prefer code that would just work for both automated and interactive sessions without changes. That's why I think replacing `\r` with `\n` in `job_monitor` would be a better solution.

Having said that, it's a small enough change, and if @omarcostahamido doesn't want to redo the PR then I'm ok with it too.

[2021-02-19 09:23] anedumla commented on #5872
How to decompose a gate in SU(2) into A, B, C : [https://arxiv.org/abs/quant-ph/9503016](https://arxiv.org/abs/quant-ph/9503016)

From Lemma 4.1., every element of SU(2) can be expressed as
![image](https://user-images.githubusercontent.com/5624856/108484600-46030600-729c-11eb-8244-43424e25c743.png)

Then, from the proof of Lemma 4.3.:
![image](https://user-images.githubusercontent.com/5624856/108

[2021-02-19 09:27] Serock3 opened #5878 "CommutativeCancellation performs incorrect commutation"
### Information

- **Qiskit Terra version**: 0.15.2
- **Python version**: 3.8.2
- **Operating system**: Windows 10 (running through WSL)

### What is the current behavior?
The CommutativeCancellation pass modifies some circuits in an incorrect way, which can change both state vector snapshots and measurement outcomes. This happens also when using the transpiler with `optimization_level=2` or above

[2021-02-19 09:31] 1ucian0 opened #5879 "Edit user config file programatically"
It would be great to be able to modify the user config file from Qiskit. Something like `user_config['default']['option'] = True`.

[2021-02-19 09:55] georgios-ts commented on #5872
For a general unitary, not in SU(2), (i.e X gate) Theorem 4[1] seems to be applicable that gives a CNOT count that scales quadratic. According to the upper bound they give, it's beneficial to use their scheme only when n > 10. (however the bound they give seems not to be tight and i can think it can be improved).

Even ancilla decompositions of `mcx` can be proved (according to section 1 of the ap

[2021-02-19 10:03] 1ucian0 commented on #5692
My two cents.

I really prefer the `UnitaryEquivalenceChecker` class model over functions. If the problem is the usage, a function can be added on top.

Is there a use case for having options at `run` time instead of at construction time of the checker?

[code]

[2021-02-19 13:46] HuskyNator commented on #4934
Would that not require a np.conj call @Cryoris ?

[2021-02-19 16:55] mtreinish commented on #5775
As a first step on this issue I was going to add a collect_runs method to `DAGDependency`that just called retworkx's collect runs method. But I think we're going to need a new different method to collect chains on a `DAGDependency`. The retworkx function `collect_runs` is about finding linear paths of nodes inside a graph where there is only successor node (it's basically just a porting of the old

[2021-02-19 20:12] nonhermitian commented on #5706
The AQT backends have `max_experiments` and have since https://github.com/qiskit-community/qiskit-aqt-provider/pull/21.  As such, I am closing this issue.

[2021-02-19 20:12] #5706 closed

[2021-02-19 20:53] Cryoris commented on #4934
Yes, that's right it should be
[code]
Thanks for the correction.

[2021-02-19 23:53] #5468 closed

[2021-02-20 01:02] ishapoval commented on #5753
@kdk Thanks! I've tried #5672 and it does indeed resolve the problem!

I could stay on this branch while waiting for 0.17. But, just to avoid other WIP stuff being merged from master, is there any hope to have #5672 backported to 0.16? Just wondering as I'm seeing the backport tag...

Thanks again!

[2021-02-20 01:09] #5443 closed

[2021-02-20 04:53] metacubestormerxii12 opened #5886 "Individual Hadamard gate broken"
### Information

- **Qiskit Terra version**: 0.23.6
- **Python version**: 3.7.6
- **Operating system**: Windows 10
### What is the current behavior?
An error is produced stating "Cannot unroll the circuit to the given basis, ['id', 'rz', 'sx', 'x', 'cx', 'reset']. No rule to expand instruction h."

### Steps to reproduce the problem
Create a new Quantum Circuit of x qubits and x bits. Apply a Hada

[2021-02-20 14:53] delapuente commented on #5886
@metacubestormerxii12 can you provide the exact code replicating the issue and the error that Qiskit is throwing?

[2021-02-20 15:22] delapuente commented on #5845
I found this too and figure out it was normalizing as indicated by @nonhermitian. Maybe we can deprecate this behavior in favor of not normalizing. I think the way it now produces unexpected results, following the implicit normalization, and also [goes against the construction of the q-sphere](https://quantum-computing.ibm.com/docs/iqx/visualizations#q-sphere-view).

[2021-02-20 17:02] mtreinish commented on #5886
I expect this is a duplicate of the original issue described in #5840. If you are using the `Unroller` pass it is not able to handle unrolling to an arbitrary basis as it works by descending through the gates' definitions which may or may not be written in the basis of a backend. In this case a hadamard gates definition is in terms of U2 (https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/c

[2021-02-20 17:38] metacubestormerxii12 commented on #5886
Ok in the later versions, this was fixed and I can run this just fine. Thank you mtreinish and delapuence :).

[2021-02-20 17:38] #5886 closed

[2021-02-21 08:32] yaelbh commented on #5692
@1ucian0 I'm indeed not sure how to split between checker options and run time options. @burgholzer Do you have insights from your experience?

[2021-02-21 10:42] burgholzer commented on #5692
In our tool, we decided to pass all options as runtime options using a `Configuration` class. At the moment, what happens under-the-hood in our tool could be stated as
[code]
But I would consider our software as academic software. As such, it might not follow all the best practises of software engineering. To some extent, I believe, it is a matter of personal preference. I cannot really think of a

[2021-02-21 11:13] abdi-alasow commented on #4011
I have similar issue, is there any solution or suggestion about this issue ?

[2021-02-22 07:42] Cryoris commented on #4011
We haven't yet started working on this issue, however there are two workarounds. To understand these, note that to Qiskit everything that is of type `Gate` is unitary and thus allows for operations like `power`, `control`, `inverse` but anything that is of the `Instruction` type is not guaranteed to be unitary and doesn't allow these operations.

1. Avoid casting unitary operations to `Instruction

[2021-02-22 08:46] 1ucian0 commented on #5872
Sure!

[2021-02-22 14:21] HuangJunye commented on #4943
I open a WIP PR to fix this bug. There are a few things:

1. Composite gates qasm definitions are not being generated (#3945)
1. MCXGate definition is wrong.
1. Need to create custom gate definitions for undefined children gates.

## Composite gates qasm definitions are not being generated (#3945)

The 1st bug is due to a mistake introduced in the condition https://github.com/Qiskit/qiskit-terra/b

[2021-02-22 14:37] HuangJunye commented on #4312
What's the status on this issue and related issue #4823? Are they still on hold?

[2021-02-22 21:11] jlapeyre opened #5888 "Implement opflow class representing zero"
The problem is how to best implement a sentinel representing the real number 0 in gradient.py and hessian.py.
Currently what I call an "opflow expression" `~Zero * One` (corresponding to `<0|1>`) is used to represent zero.
However, more or less anything could be used for the purposes of gradient.py. Some problems with using `~Zero * One`
repeatedly are
* violates the DRY principle
* requires that

[2021-02-22 22:02] kdk commented on #5753
@ishapoval Great! After #5672 merges, it will be backported to the `stable/0.16` branch, which you can use to avoid any churn on the development branch until the next minor or patch release.

[2021-02-23 12:56] 1ucian0 commented on #5775
Add this one: `CXCancellation`

[2021-02-23 13:12] boschmitt commented on #5666
Case 1 is not a bug.

Indeed, Qiskit's follows little-endian bit ordering convention but this happens __within__ a register, i.e., there will be a difference of between declaring two 1 qubit registers and a register of 2 qubits.  Hence, if you had declared a the function as
[code]
then you would get `x` as a register of three bits following the little-endian bit ordering.

Case 2 will be fixed by

[2021-02-23 14:32] quantumjim opened #5889 "Adding circuits with the same name does not yield a circuit with the same name"
### What is the expected enhancement?

When adding two circuits with the same name, I'd expect that name to carry over to the new circuit. But that doesn't happen

[code]

Furthermore, for adding circuits without different names, I'd expect the new circuit to have the name of the first one.

In any case, some consistent behaviour beyond the arbitrary generation of a new name would be nice.

[2021-02-23 21:43] kdk opened #5891 "ParameterExpression.__repr__ should list unbound parameters"
### What is the expected enhancement?

As was discussed in #5877 , the behavior of `ParameterExpression.__eq__` has some non-obvious behaviors that can easily lead to confusion (namely that it attempts to check structural rather than algebraic equality). While this behavior is under discussion, and may change in the future, it would be beneficial in the near term to:

- Add a docstring to `Paramet

[2021-02-23 22:07] kdk opened #5893 "Circuit parameters are missing documentation"
### What is the expected enhancement?

Opening a catch-all issue to track some of the places where `Parameter`, `ParameterExpression` and `ParameterVector` would benefit from further or improved documentation, either in terms of their user-facing API or their internal architecture philosophy and relationship with sympy. Most of this has already been discussed, but scattered through issues and pull

[2021-02-24 08:28] 1ucian0 commented on #5889
if they have different names (eg `name1` and `name2`), would something like `name1_name2` make sense as the result?

[2021-02-24 09:34] Cryoris commented on #5889
I don't think adding two circuits should combine names. If I stack together my circuit for an application out of many many small circuits the name would be huge and probably not very meaningful.

If you want to preserve the name, could you not instead use
[code]
or
[code]
?

[2021-02-24 09:37] #5782 closed

[2021-02-24 10:13] 1ucian0 opened #5894 "Implement next version of the provider interface"
All qiskit providers (aer, ibmq, aqt, basicaer) moved to new versioned provider interface for Qiskit 0.25.0 (`qiskit.providers.BackendV1`, `qiskit.providers.JobV1`, etc)

This issue is to track development the next version of the abstract class definitions for the objects in the provider interface. Primarily:

 - BackendV2 which moves us towards a native terra object model for all interaction with

[2021-02-24 10:51] nonhermitian opened #5895 "Transpiling thin and long circuits requires large memory resources in execution"
### What is the expected enhancement?
[code]

requires 6.5Gb of memory when calling `execute` with optimization level 0.  A similar usage is seen with only `h` gates.

It also appears that some memory is not freed upon finishing this process as if I run it again the memory usage recorded in the linux system monitor becomes approx double the value; the memory is only freed upon terminating the Pyth

[2021-02-24 11:35] 1ucian0 opened #5896 "packaging reorganization"
Plan:
 - `pip install qiskit` install what today is `qiskit-terra`
 - current `qiskit-terra` should be renamed to `qiskit-core`
 - Remove `qiskit-aqua` from the `qiskit` metapackage
 - `qiskit-aqua` should split in domain specific packages
 - `qiskit-ignis` renames to `qiskit-experiments`

[2021-02-24 12:05] nonhermitian commented on #5895
If I directly use CX gates then the memory consumption is  ~2Gb and it completes in a fraction of the time indicating that the issue is likely to be in the unroller.  The memory is still not freed however.  Moreoever, if I do parallel transpilation then the process is spawned with this additional memory attached, so that each process is larger in memory than it otherwise should be.  With the CX ci

[2021-02-24 12:08] 1ucian0 opened #5897 "execute -> transpile;backend.run"
Remove Qobj from the user-land. The circuit should be the main element to pass around. `execute` should break into:
[code]

`execute` should be deprecated.

[2021-02-24 12:43] 1ucian0 opened #5898 "support for control flow in circuits"

[2021-02-24 13:17] 1ucian0 opened #5899 "pulse/circuit integration"

[2021-02-24 17:01] QacoBot opened #5901 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 0ba49e78ff88e7479459276d5814097f5869570d failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/485966783

[2021-02-24 17:50] woodsp-ibm commented on #5896
`qiskit-experimental-tools` reads to me as if experimental is an adjective of tools - which might be inferred, by someone coming new, that these are a bunch of work-in-progress tools that are being experimented with. Would `qiskit-experiment-tools` not look more like tools for experiments, which is what ignis provides, no?

[2021-02-25 09:02] boschmitt commented on #5889
I agree with @Cryoris.

If you create a new circuit, then I don't see any reason why you should favor naming it after the first circuit over the second when doing `qc1 + qc2`.  Furthermore, if we chose to name after the first one, then we would end up with a third circuit `qc3` which has the same name as `qc1` but is different.

[2021-02-25 09:53] quantumjim commented on #5889
When I add circuits, it is because I want some additional gates from the second circuit to be appended to my main circuit. So it makes sense to me for the sum to have the same name as the first term. I suppose the `compose` option that @Cryoris mentioned is the best practice way to make sure the name is inherited for this specific use case.

Nevertheless, I guess we have should some expectation of

[2021-02-25 10:11] t-imamichi opened #5904 "Run Docs of CI failed due to address collision"
### Information

- **Qiskit Terra version**: latest
- **Python version**: NA
- **Operating system**: NA

### What is the current behavior?

I notice two issues related to CI as follows.

1. #5735 fails at CI and the message is as follows. It may be due to Sphinx parallel build.

2. When Run Docs failed, it did not terminate immediately and seemed to wait for the 1-hour time limit. Should it termin

[2021-02-25 11:36] 1ucian0 opened #5905 "OptimizeSwapBeforeMeasure should only affect last measurements, not mid-circuit measurements"
In a tangentially related PR review, @kdk [noticed](https://github.com/Qiskit/qiskit-terra/issues/5890#issuecomment-785297513_) that `OptimizeSwapBeforeMeasure` is broken when using mid-circuit measurements.

For example:
[code]
[code]

The expected result is that `OptimizeSwapBeforeMeasure` should only affect "final" measurements.

[2021-02-25 12:39] boschmitt commented on #5889
Yes, but there is a difference between adding to a circuit `qc1 += qc2` and adding two circuits `qc1 + qc2`. The later creates a third circuit that is neither `qc1` nor `qc2`.  By using `+`, the user is signalling the intent of creating this _new_ circuit.  Thus, I don't think it should inherit any name.

It makes sense, but I would argue that it is pointless. I think that when using `+`, the user

[2021-02-25 13:36] 1ucian0 commented on #5889
Let's survey it:

if `qc1.name == name1` and `qc2.name == name2`, then `(qc1+qc2).name` should be:
 * `<some random>`. If you like this option, react with 🚀
 * `name1_name2`. If you like this option, react with 👀
 * `name1`. If you like this option, react with ❤️

[2021-02-25 14:34] HuangJunye commented on #5889
This is fun. I personally never used qc.name. So for me it doesn't matter. I think a random name is fine. If the user want to keep name 1 or name 2, they can just specify it. Like @boschmitt said, `qc1 + qc2` is a entire new circuit so it should be just the same as you create a new `QuantumCircuit` object which I just tested is `circuitx` where x is a number.

[2021-02-25 14:35] 1ucian0 commented on #5896
ups.. sorry. A typo. I corrected to match the current working title:  `qiskit-experimentalist-tools`

[2021-02-25 15:10] nonhermitian commented on #5889
So there is more to this then simple issues like naming a new Python class instance.  In particular, appending names together gives one an indication of the composite structure of the combined circuit.  This information is useful.  Going further, this information is critical for building composite circuits where one of the sub-blocks has a known optimal representation, and should not be modified,

[2021-02-25 15:59] mtreinish commented on #5889
Well there is the metadata attribute on circuits now, we could have `compose` populate the metadata of the output circuit with more detailed information as needed.

[2021-02-25 16:08] nonhermitian commented on #5889
Yes, that could also work in this case.  That would need to be flushed out a bit more to work in the larger context though.

[2021-02-25 16:30] kdk commented on #5889
Agree with @nonhermitian that `name` has an unexpectedly important and widespread role throughout terra, and changes to its behavior should be made thoughtfully.

That said, `QuantumCircuit.{extend, combine}` (and their current aliases as `+` and `+=`) are slated for deprecation in the next terra release ( see #4208 ) to be replaced in the future with `QuantumCircuit.compose` and `.compose(inplace

[2021-02-25 18:01] #5435 closed

[2021-02-25 18:39] mtreinish commented on #5895
I'm able to reproduce this locally. Building the 1M swap circuit takes ~500MB and then after transpiling it the python process is using constant 5-6GB. Assuming a worst case where the circuit objects resident memory grows linearly with gate count the transpiled output would be ~1.5GB (3 cx for each swap) so you'd only be using 2 GB.  What that feels like to me is that gc is not able to clean up a

[2021-02-25 19:31] mtreinish commented on #5895
Can you try running with https://github.com/Qiskit/retworkx/pull/258 for retworkx. For me this seems to fix the leaking memory so after `transpile()` it's not use appreciably more memory (I still need to check to see what (if any) performance impact there is from doing that).

[2021-02-25 19:52] nathanearnestnoble opened #5908 "Error with RZXCalibrationBuilder circuit being combined with other circuits"
### Information

- **Qiskit Terra version**:0.17.0
- **Python version**:3.9.1
- **Operating system**:macOS Catalina

### What is the current behavior?
When combining a regular QuantumCircuit with a calibrated circuit, the calibrated circuit information is lost and the default gate is used instead

### Steps to reproduce the problem

from qiskit import IBMQ,QuantumCircuit,schedule,transpile
from qi

[2021-02-25 21:46] #5734 closed

[2021-02-26 07:03] eggerdj commented on #5908
I can reproduce this without adding the complexity of the transpiler, e.g.
[code]
which results in
[code]
So it appears that `QuantumCircuit`'s `+=` is not keeping the calibrations.

[2021-02-26 15:31] levbishop commented on #5893
This information would be good to collect. From my own perspective it looks like the main use case for Parameters is to give a namespace/scoping to parameters that is by necessity not well aligned with the python built-in constructs (since circuits are not implemented as functions), and to allow partial binding. Given  that, I'm unclear on how important sympy is to the whole endeavor, since sympy

[2021-02-26 15:56] singular-value opened #5912 "CX is not defined bidirectionally on Fake OpenPulse backends"
### Information

- **Qiskit Terra version**: 0.16.4
- **Python version**: 3.7.6
- **Operating system**: macOS Big Sur

### What is the current behavior?

`FakeOpenPulse3Q` and `FakeOpenPulse2Q` only define unidirectional CX's in their instruction_schedule_map's. Real pulse devices give schedules for both directions.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

`

[2021-02-26 19:06] mtreinish commented on #5868
It looks like https://github.com/Qiskit/qiskit-terra/commit/a026b627 has fixed the regressions introduced by #5486 on a bunch of synthetic/microbenchmarks. For example:  https://qiskit.github.io/qiskit/#converters.ConverterBenchmarks.time_dag_to_circuit?machine=dedicated-benchmarking-softlayer-baremetal&os=Linux%204.15.0-46-generic&ram=16GB&p-n_qubits=8&p-depth=128&commits=a026b627

But at least o

[2021-02-26 19:16] kdk commented on #5868
Reminder for https://github.com/Qiskit/qiskit-terra/pull/5504#pullrequestreview-598994071 : this is likely the right place to consolidate `._qubits`, `._qubit_set` and the instances where we enumerate `._qubits` to build a bit-to-index mapping.

[2021-02-26 19:50] BryceFuller opened #5914 "U†U ≠ I, AE circuit inverse broken by terra 16.2"
### Information

Qiskit Software | Version
-- | --
Qiskit | 0.23.6
Terra | 0.16.4
Aer | 0.7.5
Ignis | 0.5.2
Aqua | 0.8.2
IBM Q Provider | 0.11.1

Python | 3.7.3 (default, Mar 27 2019, 16:54:48)  [Clang 4.0.1 (tags/RELEASE_401/final)]
OS | Darwin
CPUs | 4
Memory (Gb) | 16.0
Fri Feb 26 13:52:49 2021 CST

### What is the current behavior?
After qiskit-terra 16.1, applying an Amplitude Estimation circ

[2021-02-26 21:28] mtreinish commented on #5893
I would be very much in favor of using the lambda approach instead of sympy. The overhead from sympy can end up being quite a large percentage of the time in the transpiler (even when gates are **not** parameterized in the input circuit), it often ends up being the bottleneck for transpiling circuits that aren't wide (because the routing is quick). For example, transpiling a 7x7 qv model circuit o

[2021-02-27 00:41] nonhermitian opened #5916 "Pulse gates do not check for validity upon attachment or transpilation"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Following the pulse gate tutorial, I can add the following pulse sequence as the definition for a Hadamard gate with no errors:

[code]

This should fail at `circ.add_calibration('h', [0], h_q0)` because there is only one drive channel per qubit, and the circuit only

[2021-02-27 00:58] nonhermitian opened #5917 "Cannot get calibrations from job.qobj() using disassemble"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Retrieving a circuit with pulse gates does not return the inserted calibrations.  There is only an empty dict.

### Steps to reproduce the problem
Try to use `disassemble` on a Qobj from a job with circuits containing pulse gates.

### What is the expected behavior?

[2021-02-27 01:07] nonhermitian opened #5918 "Transpiler will remove custom pulse gates if they look like they can be simplied with standard gates"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The following circuit

[code]

gets reduced to

<img width="350" alt="Screen Shot 2021-02-26 at 20 05 24" src="https://user-images.githubusercontent.com/1249193/109370379-02953280-786e-11eb-950f-c421676a518d.png">

even though I have made a custom calibration for the

[2021-02-27 01:28] nonhermitian opened #5919 "Cannot build schedule from "valid" circuit with pulse gates"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
It is possible to define a pulse gate over multiple drive channels, but attached to a single qubit (see #5916).  However, this executes successfully on a backend and is thus in some sense "valid".  However, doing `build_schedule(trans_circ, backend)` yields an error

[2021-02-27 05:39] roshanrajeev commented on #5879
@1ucian0 I'd like to work on it.

[2021-02-27 07:26] 1ucian0 commented on #5879
Sure! Thanks!

[2021-02-27 10:00] nonhermitian opened #5920 "Circuit drawers should indicate which gates have been overloaded with pulse gates"
### What is the expected enhancement?
The circuit drawers will have some indication whether or not a gate has been replaced with a custom pulse gate ("calibration")/.

[2021-02-27 10:05] pdc-quantum commented on #5889
I feel that "If the user want to keep name 1 or name 2, they can just specify it" is a strong argument from @HuangJunye .
More generally since users can rename the newborn circuit as they wish, the default name should be random to avoid confusion with any other circuit.

[2021-02-27 10:25] nonhermitian opened #5921 "Initial resets being removed by transpiler"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
This circuit

![image](https://user-images.githubusercontent.com/1249193/109384583-d3a5ad80-78bb-11eb-8adc-5cdbbad4450f.png)

has becomes

![image](https://user-images.githubusercontent.com/1249193/109384592-dc967f00-78bb-11eb-99c8-95134a863520.png)

after transpilat

[2021-02-27 10:26] nonhermitian opened #5922 "Using pulse gates and setting rep_delay=0 gives 9999 error"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Using pulse gates and setting `init_qubits=False, rep_delay=0` results in 9999 error.  Using just `init_qubits` works fine.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-02-27 10:38] nonhermitian opened #5923 "Backend pulse libraries return only Id gates"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The backend pulse libraries `backend.defaults().pulse_library` return only Id gates of the form:

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-02-27 10:41] nonhermitian opened #5924 "Cannot Play an item from a backend pulse library"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
Although returning only Id gates currently (#5923) I would naively expect to be able to `play` a pulse from the backend pulse library on said device.  This however does not work and gives:

[code]

### Steps to reproduce the problem

### What is the expected behavior

[2021-02-27 10:54] taalexander commented on #5924
The `pulse_library` is a transport concept and should disappear in v2
providers. It is not meant to be user-facing.

On Sat, Feb 27, 2021, 6:41 AM Paul Nation <notifications@github.com> wrote:

[2021-02-27 10:58] taalexander commented on #5923
The `pulse_library` is a transport concept and should disappear in v2 providers. It is not meant to be user-facing. Waveforms (which are entered in the pulse library) have been replaced by parametric pulses.

[2021-02-27 11:00] taalexander commented on #5922
Which system is this? Could you please provide a test program that recreates this?

[2021-02-27 11:06] taalexander commented on #5919
This is not an error as far as I'm concerned. The mapping between a qubit at the gate-level and channels at the pulse level is *determined* by the calibrations that are defined. Channel indices mapping to qubits is merely a convention that breaks down in strongly hybridized systems, or high-crosstalk environments.

[2021-02-27 11:11] taalexander commented on #5918
Is this not exactly what the transpiler should do? In my opinion one should *opt-out* of optimization by selecting `optimization_level=0`. This is also aligns with the previous path of `schedule(transpiler(circ, backend), backend)`

[2021-02-27 11:15] taalexander commented on #5917
Closing as duplicate of #5348. Will be resolved by #5661.

[2021-02-27 11:15] #5917 closed

[2021-02-27 11:22] nonhermitian commented on #5922
`alt_santiago`, just run Bell state example from tutorials

[2021-02-27 11:24] nonhermitian commented on #5919
I am not sure what this means in this context?  Is the failure of `build_schedule` here not a bug?

[2021-02-27 11:29] nonhermitian commented on #5918
You are assuming that the custom pulse definition is correct for the supplied gate.  However, an user is allowed to do whatever they want with the definition of the pulses.  Once you give the freedom to define things however one wants, the standard rules are not necessarily satisfied.

[2021-02-27 11:31] taalexander commented on #5919
I misinterpreted the problem you were describing. This is indeed a bug, likely related to making assumptions I am not in favour of described in my confusing comment above.

[2021-02-27 11:35] taalexander commented on #5918
I disagree. The user specified a program,   the transpiler has a defined behaviour and it should not auto magically change said behaviour to anticipate the users intent. The user who specifies correct pulses will have the opposite problem and be confused. I prefer consistency over perfection in this case.

[2021-02-27 11:44] nonhermitian commented on #5918
Ok, feel free to close then.

[2021-02-27 11:53] #5918 closed

[2021-02-27 12:29] nonhermitian commented on #5918
I will just point out that this decision means that the transpiler need not preserve unitarity amongst optimization levels (something that used to be true).

[2021-02-27 13:26] taalexander commented on #5922
This is an issue with the backend system configuration. Will be resolved shortly.

[2021-02-27 13:38] taalexander commented on #5918
A `gate` is an ideal unitary at the circuit level. In practice in the hardware that is not so. Adding poor calibrations is equivalent to having a backend that is poorly tuned up or with large errors. It is beyond the scope of the transpiler to decide that a user has specified one gate `h` but provided an implementation that is incorrect. If your custom Hadamard is no longer a valid cancellation *i

[2021-02-27 14:24] taalexander opened #5927 "Pulse Schedule and ScheduleBlock should have a method to get all Pulses used within"
### What is the expected enhancement?
The `Schedule` and `ScheduleBlock` object should have a method to get all pulses used within them. Currently, each pulse does not have a unique name within a Schedule so it must be a list of pulses, unless we modify each `Instruction` to have a unique name with the `Schedule`/`ScheduleBlock` (what do you think here @nkanazawa1989 ?)

This would look like
[code

[2021-02-27 14:30] taalexander commented on #5916
I am certainly in favor of doing additional checks in the transpiler during compilation.

One workaround is that if the backend were supplied to the builder this would have been caught during the construction of the program. The proper solution is to write validation passes in the transpiler.

[code]
`>>> BackendConfigurationError: 'Invalid index for 5-qubit system.'`

[2021-02-27 15:11] taalexander commented on #5916
See documentation encouraging this path here https://github.com/Qiskit/qiskit-tutorials/pull/1134.

[2021-02-27 15:27] taalexander commented on #5919
@itoko could you please take a look at this problem? It is a result of the scheduler assuming there is a fixed map between delays on qubits and delays on channels. This is an example of where scheduling at the circuit level is difficult because it does not have a working knowledge of the lower-level gate-channel dependencies. To do this properly at the circuit level, the scheduler must introspect

[2021-02-27 16:03] tysm commented on #1237
Hi, the links I've found are expired as well, would you provide a valid one?

[2021-02-27 16:25] jsvandyke86 opened #6095 "Color selection for controlled-phase gate when drawing a circuit with matplotlib"
### What is the expected behavior?

It seems that currently one can not select the color of cp (controlled phase) gates when drawing a circuit using matplotlib, and it would be useful to have that capability.

It appears that this can be achieved in one line by adding to `qcstyle.py` the following

`            'cp': (other_color, black_font),
`

after line 118, that is, by adding the cp gate to t

[2021-02-27 21:02] #5914 closed

[2021-02-27 23:20] jlapeyre opened #5931 "Implement coeffs method for SummedOp"
It would be useful to have a method `SummedOp.coeffs` analogous to `PauliSumOp.coeffs`. This would allow the same code to extract coefficients from both via duck typing (eg in `PhaseEstimation`)

[2021-03-01 11:33] #5908 closed

[2021-03-01 13:52] taalexander commented on #5912
Is this a major problem? The mock backends exist to mirror the real devices. Going forward real devices also will not be bidirectional.

[2021-03-01 15:20] mtreinish commented on #5904
1. Yeah this is an occasional failure I've seen in the docs builds. My assumption is it is due to the parallel builds as well, but I haven't had time to debug it to confirm.

2. This is also caused by the parallel builds, it's a bug in the jupyter sphinx plugin. When the jupyter execute fails the parallel sphinx worker never reports it's status to the parent sphinx process and the parent processs

[2021-03-01 16:06] singular-value commented on #5912
For additional context: I currently have to get the bogota device via network I/O in a unit test to assert some pulse compilation functionality.

My hope was to replace the network I/O with simply loading in a Fake backend, but they don't currently mirror the real devices.
Nonetheless, if they will be in sync soon it will not be a problem.

Do you have a rough ETA for the "Going forward real devic

[2021-03-01 16:13] peendebak opened #5932 "Specification of figure windows to plot to"
In qiskit the plotting of schedules to matplotlib figure windows happens in a new window by default. Can we modify the interface so the user can specify which window to plot to?

For example the `qiskit.pulse.schedule.Schedule` has a `draw` method, which calls the `qiskit.visualization.pulse_drawer`, which calls the `_matplotlib.WaveformDrawer.draw` which has the code
[code]
This would be modified

[2021-03-01 19:41] mtreinish opened #5936 "Avoid querying backend properties in transpile unless neeed"
### Information

- **Qiskit Terra version**: >=0.15.0
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Since #4782 we've been pulling the `BackendProperties` unconditionally if they're available for a backend. The only provider that actually provides them (beside the fake backends) is the IBMQ provider which involves an expensive API to parse a large json b

[2021-03-01 21:53] #5901 closed

[2021-03-01 23:42] nathanearnestnoble opened #5939 "LHS circuit calibration lost when combining with another circuit"
### Information

- **Qiskit Terra version**:0.17.0
- **Python version**:3.9.1
- **Operating system**:macOS Catalina

### What is the current behavior?
Calibration information is lost when using "+"(extend) for a lhs calibrated circuit.

### Steps to reproduce the problem

from qiskit import QuantumCircuit
from qiskit.circuit.library import RZXGate
from qiskit.pulse import Schedule

qc_cal = Quantu

[2021-03-02 01:37] zlatko-minev opened #5940 "Unrolling U3 gate to new basis set of devices"
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.7
- **Operating system**: Big Sur mac

### What is the current behavior?

Under transpile, unroller seems to fail to convert U3 gate to the new basis set ['id', 'rz', 'sx', 'x', 'cx', 'reset'] used on commercial devices, and gives error:
`QiskitError: "Error decomposing node u3: 'NoneType' object has no attribute 'data'"`

[2021-03-02 02:55] ismetshn commented on #3720
In this way, no problem!
[01](https://user-images.githubusercontent.com/30768399/109589604-a48d7700-7b1b-11eb-9ab0-0a8857ffb543.jpeg)

[2021-03-02 03:56] #5940 closed

[2021-03-02 03:59] zlatko-minev commented on #5940
Seems to be solved with transpile(qc, backend, optimization_level=0), but not sure which pass is responsible

[2021-03-02 05:44] #5557 closed

[2021-03-02 08:53] nonhermitian commented on #5895
I do not see any change with the above branch (updated from retworkx 0.7.1 to 0.8.0 branch).  I am still seeing a max mem of 6.5Gb and a final amount of 6.3Gb.

[2021-03-02 09:10] nonhermitian commented on #5895
Interestingly, if I just run the above circuit on an empty pass manager

[code]

 than immediately there is a 2gb memory overhead (~4x the original circuit size).  However just doing `circuit_to_dag` seems to only consume about ~200mb of memory.  So it seems that the `passmanager` copying large amounts of data somewhere even if it is empty.

[2021-03-02 09:55] peendebak opened #5942 "Add name or label to Channel"
### What is the expected enhancement?

The current implementation of the `Channel` has a `name` where the name is derived from the `index` and `prefix`. Can we add a `label` or more flexible `name` to the `Channel` that is used in plotting and representation of the `Channel`? This would allow for more descriptive names such as `LP` (left dot plunger) or `B1` (barrier gate 1).

[2021-03-02 10:47] nonhermitian commented on #5895
Here is the profiling for an empty PM:

[code]

[2021-03-02 12:14] mtreinish commented on #5940
See: https://github.com/Qiskit/qiskit-terra/issues/5886#issuecomment-782715490 where I went into more detail on this when someone opened a similar issue before (which was also a duplicate of #5840). The unroller pass doesn't work with an arbitrary universal basis it just descends through the definitions of the gate and in the case of u3 is defined in terms of u: https://github.com/Qiskit/qiskit-te

[2021-03-02 12:36] 1ucian0 opened #5944 "classical function compiler v2"
- Optionally reset "output" qubits 
 - Constant support
 - Parametrisable types (as in Int(1) instead of Int1
 - Expressions support PR #5830
 - DIMACS support PR #5830
 - Synth optimization levels (and connect those levels to the transpilation optimization level)
 - TruthTableOracle #5831

[2021-03-02 12:55] taalexander commented on #5939
Fixed by #5910

[2021-03-02 13:00] mtreinish commented on #5895
Yeah max memory doesn't decrease with that change it still peaks at multiple GB. The difference for me locally was that when I ran in an interpreter without the retworkx PR the python process was still using ~6GB until it exitted, but when I used the retworkx PR branch it cleaned up. But I'm on my laptop now and I'm not able to reproduce that behavior anymore (and I'm thinking I was actually misre

[2021-03-02 13:02] taalexander commented on #5912
I see, if you want to include a bidirectional update in your PR that would be fine. It also might be possible to base your work on my branch here https://github.com/Qiskit/qiskit-terra/pull/5577 where the devices are updated? It is still failing CI because of other Qiskit issues that should hopefully be resolved soon.

Roughly in the next 2-3 months sparse gatesets will be enabled to reflect direc

[2021-03-02 13:13] 1ucian0 opened #5945 "Equivalence checker v1"

[2021-03-02 13:57] nathanearnestnoble commented on #5939
Hi @taalexander - this issue still exists even with #5910.   #5910 fixes calibrations that exist in the right hand circuit but not the left.  (The above code should confirm this)

[2021-03-02 14:35] zlatko-minev commented on #5940
Thank you, @mtreinish ! I think that solves it

[2021-03-02 15:10] kdk opened #5947 "Circuit drawers misorders subcircuits which depend only on a classical wire"
### Information

- **Qiskit Terra version**: master @ 296a745
- **Python version**:  3.6
- **Operating system**: osx 10.15

### What is the current behavior?

Appending a circuit which uses both qubits and clbits can be drawn out of order, if it introduces a dependency which can only be followed along classical wires.

### Steps to reproduce the problem

Base circuit:
[code]

[code]

Circuit to be

[2021-03-02 15:34] MarkoShiva commented on #3705
It is beneficial for whole project if type hints are supported.

[2021-03-02 15:52] #5939 closed

[2021-03-02 15:52] kdk commented on #5405
I looked into this issue a little further, and the runtime cost here appears to come from building the symbolic expression to track the global phase during transpilation.

For example, `ExcitationPreserving(num_qubits=12, reps=6)`and `(num_qubits=24, reps=12)` have 480 and 3624 parameters, and so after transpilation, end up with a symbolic expression like `global phase: -0.5*θ[0] - 2.0*θ[100] - 2.

[2021-03-02 16:00] kdk commented on #5606
Closing as resolved by https://github.com/Qiskit/qiskit-terra/pull/5764 .

[2021-03-02 17:20] Cryoris commented on #5405
Does it make sense to allow ignoring the global phase in transpilation? @yaelbh I assume you want to execute the transpiled circuit and the global phase doesn't matter?

[2021-03-02 18:01] yaelbh commented on #5405
The global phase doesn't matter

[2021-03-02 19:51] #5812 closed

[2021-03-02 20:34] Cryoris commented on #5405
Global phases don't matter only if you compute probabilities of the state. But if you use the circuit and do further processing, like controlling the entire circuit, it becomes a relative phase and does matter. Therefore I don't think we can just generally ignore it upon transpilation.

[2021-03-02 22:30] enavarro51 commented on #5947
@kdk I think this is a simple follow-up to #5397. That was looking only at conditional gates in the final circuit. It should be easy to extend that to look for node.cargs that match the measure. I can take a look at it.

[2021-03-03 02:24] t-imamichi commented on #5904
Thank you for your information. I leave this issue for the future fix.

[2021-03-03 14:21] juanjosegarciaripoll opened #5950 "Global phase not preserved by transpiler"
### Information

- **Qiskit Terra version**: 0.16.4
- **Python version**: 3.9.1
- **Operating system**: Windows

### What is the current behavior?

The global phase in a wavefunction generated by statevector-simulator depends on the optimization level in the transpiler.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The output should not depend on optimization_lev

[2021-03-03 14:33] ajavadia commented on #5775
@mtreinish right. So I think we need to modify the function a bit for DAGDependency. We are interested in collecting the maximal block of gates where all gates meet a certain criteria (here `gate.num_qubits < 1`). So for each node, I think we need to look at its children as well as siblings (i.e. those that share the same parents). And keep going down the graph until we cannot grow the block anymo

[2021-03-03 14:36] ajavadia commented on #5775
I'm also good with the suggestion above for the structure of the base pass, and providing an implementation for the common case where we want to collect and collapse into a Unitary.

[2021-03-03 14:46] peendebak opened #5951 "Plotting of instruction schedule from mock backend fails"
### Information

- **Qiskit Terra version**: '0.17.0.dev0+6f0eca6'
- **Python version**: 3.8.6
- **Operating system**: Windows 10

The output of `qiskit.version.QiskitVersion()` is
[code]

### What is the current behavior?

When importing the `FakeAthens`, gettting the schedule for the `u3` instruction and plotting an exception is generated.

Depending on this qiskit version I get different error

[2021-03-03 14:53] godott commented on #5878
CommutativeCancellation was designed to be used in a fixed gate set [H, X, Y, Z, CX, CY, CZ]. It's indeed a bug. Its behavior should be either (1) flag that the above circuit is not supported or (2) add support to the above circuit. Will try to fix it.

[2021-03-03 15:43] ajavadia commented on #5775
Ok this is actually simpler to implement, because code already exists for it in Qiskit.

Finding the longest sequence of gates acting on some N qubits, considering commutativity, is described in Section 5.4.2 of this paper: https://arxiv.org/pdf/1909.05270.pdf

So we need to adapt a special case of this[ template matching algorithm in Qiskit](https://github.com/Qiskit/qiskit-terra/blob/master/qisk

[2021-03-03 16:53] woodsp-ibm opened #5953 "Remove explicit parameter sorting from algorithms"
As parameters now have a defined order in parameterized circuits, see #5759, the explicit sorting in algorithms that take parameterized circuits, such as `vqe` and the variational base class, to present these in a known, defined order to a classical optimizer, should be removed.

[2021-03-03 17:20] mtreinish commented on #5950
So I actually think this is a bug with BasicAer not factoring in a global phase we set on the output circuit in the transpiler, and not a bug in the transpiler itself. When I ran this example using Aer:

[code]

it produces the expected result (ignoring float precision):

[code]

[2021-03-03 17:23] #5753 closed

[2021-03-03 17:34] QacoBot opened #5955 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 4065c97545867e7372fba1f202b0f94af78c6158 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/487835838

[2021-03-03 18:38] mtreinish commented on #5775
Looking through the paper and the template matching code I'm thinking there is a performance tradeoff here we're going to need to keep in mind. While I can look at implementing the `PatternMatch` algorithm natively in retworkx (unless someone else would like to give it a try), which will speed it up to some degree (how much so I'm not sure because we'll still need to callback to python for anythin

[2021-03-03 19:22] ajavadia commented on #5775
I think as a first step we should just try to make a pass for block collection that is based on the PatternMatch, which already exists in Qiskit. Once we know it works well and it can find all blocks, then we can profile performance and tune it. I agree we may have to do simple passes at lower optimization levels.

[2021-03-03 20:09] taalexander commented on #5951
@nkanazawa1989 I believe this was a bug introduced with the release of parameters + schedules. Would you mind having a look?

[2021-03-03 20:54] QacoBot opened #5956 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit 8aa5cf0fd2b34cd97781076dc5e13f8455aaa858 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/487884249

[2021-03-03 23:12] gregbyrd opened #5959 "plot_bloch_multivector should have most significant qubit on the left"
### What is the expected enhancement?
Since the standard ordering of qubits for a multiqubit state is most significant (left) to least significant (right), the multivector Bloch sphere output should respect the same order.

For example, in the sample shown by the API documentation, qubit 1 should be on the left and qubit 0 on the right.
https://qiskit.org/documentation/stubs/qiskit.visualization.p

[2021-03-04 07:55] yaelbh opened #5962 "A crash when using delay instruction with non-dt units"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Linux

### What is the current behavior?

`delay` instruction won't work with units that are not dt. This happens in the master branch but not in the stable branch. The issue lies in the `assemble` function.

### Steps to reproduce the problem

[code]

Results in:
[code]

Coming from:
[code]

###

[2021-03-04 08:29] Cryoris opened #5963 "Cannot bind parameters after calling ``remove_final_measurements``"
### Information

- **Qiskit Terra version**: master @ a69c27dae9ef0e4e66f3a47fb454574ee2a30ad1
- **Python version**: 3.7.9
- **Operating system**: macOS Big Sur

### What is the current behavior?

Trying to bind parameters after calling `remove_final_measurements` on a circuit yields a `KeyError`

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Bind parameters.

###

[2021-03-04 11:48] taalexander commented on #5962
A work around may be to run through the transpiled before execution on the simulator.

[2021-03-04 12:00] mtreinish opened #5965 "Performance regression in parameter binding"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Since https://github.com/Qiskit/qiskit-terra/commit/296a745b the nightly benchmarks have flagged a regression in the benchmarks measure parameter binding. This appears quite severe as the number of parameters grow, for example:

https://qiskit.github.io/qiskit/#circuit_con

[2021-03-04 12:45] #5956 closed

[2021-03-04 12:45] #5955 closed

[2021-03-04 19:12] mtreinish opened #5967 "'synthesis' translation method results in gates outside of basis in transpile output"
### Information

- **Qiskit Terra version**: master and 0.16.4
- **Python version**: 3.9
- **Operating system**: Linux

### What is the current behavior?

When running a `transpile()` using the `translation_method='synthesis'` kwarg the output circuit contains gates outside the basis set. In my specific example it's swap gates instead of cx gates.

### Steps to reproduce the problem

[code]

which

[2021-03-04 21:22] 1ucian0 opened #5968 "mpl drawer fails with multiple X target"
Consider the following situation:
[code]
When drawn by mpl drawer:
[code]
![image](https://user-images.githubusercontent.com/766693/110031979-e561d780-7d37-11eb-93b7-409d0d44bec5.png)

Compare with the other drawers:
[code]
![image](https://user-images.githubusercontent.com/766693/110032074-075b5a00-7d38-11eb-92d2-2600eb1b47da.png)