[2018-11-09 20:49] SatyaMatukumalli opened #1251 "DAGCircuitError: 'init is not in the list of basis operations While draing a circuit"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.6.6
- **Operating system**: Linux Ubuntu x86_64

### What is the current behavior?
When trying to draw a circuit fails with DAGCircuitError: 'init is not in the list of basis operations'
Full stack
--------------------------------------------------------------------------
DAGCircuitError                           Traceback

[2018-11-09 20:52] jaygambetta commented on #1250
Assigning it to aer so you and get it :-). But i agree i never know when it works.

[2018-11-10 01:54] balewski commented on #1098
Hi,
there is some inconsistency between the devices status you show here:
https://quantumexperience.ng.bluemix.net/qx/account/advanced
and actual avaliability.
At this moment, both ibmqx4 and ibmq_16_melbourne are reported to work.

However,. when I try to submit my circuit using  Qiskit ver: 0.6.1 I get the error below for either.

Got a 400 code response to https://quantumexperience.ng.bluemix.n

[2018-11-10 22:35] mtreinish commented on #1245
There is another place in visualization that uses the old `pauli_singles()` function, https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/interactive/_iplot_blochsphere.py#L16

[2018-11-10 22:58] artix41 opened #1253 "os.errno doesn't exists anymore in Python 3.7"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.7.0 − Jupyter Notebook
- **Operating system**: Ubuntu 16.04.1

### What is the current behavior?

I used circuit_drawer() on a Jupyter notebook without having latex installed on my computer, but instead of getting the message `WARNING: Unable to compile latex. Is `pdflatex` installed?`, I got the following error:

[code]

[2018-11-11 16:30] youngchuleta commented on #300
Hi, I've been working with a project team at my home institution, and as a final assignment for our Software Design course, we were interested in addressing this issue. As of right now, we just wanted to confirm whether this issue is still an active concern, as well as which specific files you were referencing above that currently have 0% coverage.

Thanks in advance for your consideration!

[2018-11-11 19:18] indisoluble commented on #1250
Hi @atilag,

I am interested on this issue and I would like to give it a try. Would it be OK?

Regards.

[2018-11-11 19:50] ajavadia commented on #1251
Yes the circuit drawers can't handle custom gates yet. This needs some fixing in the DAG as well as in the visualizers.

[2018-11-12 01:52] chunfuchen commented on #1233
Yes, definitely.

[2018-11-12 02:06] jaygambetta commented on #1250
@indisoluble please go for it.

[2018-11-12 13:42] jaygambetta commented on #1247
This test can't be deterministic but it converges to a known value.

I agree with you lets make sure that this is not greater than one.

[2018-11-12 14:04] charlesastaylor commented on #1247
Ill open a PR later on.

[2018-11-12 14:13] jaygambetta commented on #1247
great -- i will assign you to the issue

[2018-11-12 14:59] #1245 closed

[2018-11-12 15:45] diego-plan9 commented on #1253
Thanks @artix41 for the report - and for taking the time of provide a spot-on and informative suggested solution!

[2018-11-12 16:39] mtreinish commented on #300
@youngchuleta Yes this is still an issue, but things have moved around a bit in visualization directory. I just reran the coverage numbers by running locally from the root of the repo:

`tox -ecoverage && .tox/coverage/bin/coverage3 html`

Which yielded:

| File | Statements | Missing | Excluded | Coverage |
| --- | ---- | --- | --- | --- |
| `qiskit/tools/visualization/__init__.py` | 15 | 5 | 0 |

[2018-11-12 18:27] nonhermitian opened #1259 "Interactive histogram is super jumpy on mouse over"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Interactive histogram is super jumpy when moving mouse over.

![jumpy_interative](https://user-images.githubusercontent.com/1249193/48367420-a39c5700-e67e-11e8-9e2b-827dd9346f58.gif)

### Steps to reproduce the problem

### What is the expected behavior?

##

[2018-11-12 19:06] nonhermitian commented on #1259
@filemaster

[2018-11-12 19:30] nonhermitian opened #1260 "Awesomenify visualizations"
### What is the expected enhancement?

Make visualizations more appealing.

To do:

- [ ] `city_plot` should be viewed from higher up, and not be green.
- [ ] `plot_state` grid lines should be behind the bars (i.e. use `zorder`) (
- [ ] Perhaps use grey backgrounds for figures.
- [ ]  Use a unified color scheme for plots
- [ ] Add `figsize` as possible input to `options`.

Related issues: #1246

[2018-11-12 20:55] Exferro commented on #915
@ajavadia if it's not impolite from my side, could you please help me dealing with this as the "good first issue"?

[2018-11-12 21:10] mtreinish commented on #1260
For the city plots, this is what I have so far (continuing with my example plot from #1246):

![city](https://user-images.githubusercontent.com/2447371/48375255-5ecfea80-e695-11e8-9602-93678a378140.png)

[2018-11-12 21:11] mtreinish commented on #1260
I've been playing with the angle to make it look like it's higher up, for example:

![city](https://user-images.githubusercontent.com/2447371/48375336-9f2f6880-e695-11e8-9ca0-3b597571ef79.png)

@nonhermitian what do you think about that.

[2018-11-12 23:02] indisoluble commented on #1250
Hi all,

One question, just to be sure. We do not want `AerProvider.grouped_backend_names()` to return `qasm_simulator_py` nor `statevector_simulator_py` but we still want `AerProvider.deprecated_backend_names()` to return these values when necessary. As a consequence, `qasm_simulator_py.py` must not be removed, right?

I just started to study the code, hope this question is not too silly :)

Rega

[2018-11-12 23:30] #1247 closed, assigned to jaygambetta

[2018-11-13 11:00] #1253 closed

[2018-11-13 12:03] diego-plan9 commented on #990
Closed via  #1117

[2018-11-13 12:03] #990 closed

[2018-11-13 12:32] diego-plan9 opened #1262 "Revise the documentation TOC subsection handling"
### What is the expected enhancement?

An issue raised during #1254:

The new fancy design currently does not show subsections in the left-side TOC pane (except for the autodocs). Ideally it should show the subsections, allowing collapsing with sensible defaults and usability.

[2018-11-13 14:38] 1ucian0 commented on #1237
fixed in pending PR: https://github.com/Qiskit/qiskit-terra/pull/1254/commits/509312d3b71263b72834cf3be7f95d30fa6f87c2

[2018-11-13 15:16] 1ucian0 commented on #1241
Tutorials should be extended with multiple register examples.

[2018-11-13 15:34] kdk opened #1264 "Bind networkx to a specific minor version"
The networkx API is not expected to be consistent across minor versions, e.g.:
https://networkx.github.io/documentation/stable/release/release_2.2.html#api-changes
https://networkx.github.io/documentation/stable/release/release_2.1.html#api-changes

We could either bump the version requirement to `>=2.2` and hope that test coverage is sufficient to catch future breaking changes, or bind to `==2.2`

[2018-11-13 17:03] Travis-S commented on #1260
Is there a reason to use city plots as a visualization tool? I've never used them myself & tend to find them hard to read in talks.

[2018-11-13 18:33] diego-plan9 opened #1266 "Simplify Result instantiation"
### What is the expected enhancement?

From #1023 (please check for longer discussion), the process for finally instantiating a `qiskit.Result` would benefit from being more straightforward, specially as it is a class that is of relevance to backend implementators (including AER and third-party) and for for end users. That streamlining would imply relaxing a bit the idea that all schema-defined in

[2018-11-13 18:34] diego-plan9 commented on #1023
After re-reading and the offline discussion, I'm closing the issue in favour or smaller ones:
* make the compiler work with dags, and keep `Qobj` only as the last conversion step via `dags_2_qobj` - already in progress, main issue is #1144
* `_results in the qobj folder`: arguably the main source of the complexity mentioned in the subject: ideally we should simplify the instantiation of `Results`.

[2018-11-13 18:34] #1023 closed

[2018-11-13 18:37] #1264 closed

[2018-11-13 18:47] diego-plan9 commented on #830
Reviving this issue after closing #1023 and marking it as `discussion`, invoking @jaygambetta and others!

From the mentioned issue and conversations, it would be great if we could "stabilize" the Result "API" along with the upcoming releases - deciding which methods are to be deprecated, which ones stay, which ones need to be added, and a timeline for the changes:

* `get_*` family of methods: wo

[2018-11-13 18:48] diego-plan9 commented on #1047
Labelling as `0.7` preliminarly, to keep it under the radar.

[2018-11-13 20:03] 1ucian0 commented on #1242
fixed in https://github.com/Qiskit/qiskit-terra/pull/1187

[2018-11-13 21:00] rszaboibm commented on #1123
Link was still broken as of November 9.

[2018-11-13 22:39] indisoluble commented on #1250
Hi @atilag,

I have another question. In `AerProvider.grouped_backend_names()`, we can read:

[code]
Let say we replace this code as follows (removing the Python based simulators):

[code]
As far as I can see, if `qasm_simulator` is not available, `clifford_simulator` will not be available either given than both are based in the C++ simulator. And if the C++ simulator is installed, `qasm_simulator

[2018-11-14 00:41] jaygambetta commented on #1010
closing as in #994 and pr is pending.

[2018-11-14 00:47] #1010 closed

[2018-11-14 00:49] jaygambetta commented on #1077
Did we decide on this @1ucian0 and @mtreinish I would like to make sure that we are moving away from fallbacks? If this is done let's close if it is getting worked on who is it assigned to.

[2018-11-14 00:53] jaygambetta commented on #1124
is there an update on this.
Is this for 0.7

[2018-11-14 00:54] jaygambetta commented on #1165
@mtreinish is this for 0.7

[2018-11-14 00:56] jaygambetta commented on #782
@ajavadia and @ewinston will this be in 0.7

[2018-11-14 01:03] jaygambetta commented on #1155
is this closed

[2018-11-14 01:19] jaygambetta opened #1269 "documenation of visualization in qiskit"
### What is the expected enhancement?
We need to make sure we have a documentation about the visualization. I think we can make this is the qiskit/basis and then convert here in sphinx

[2018-11-14 01:38] charlesastaylor commented on #1124
Assuming there isn't an update, I could try and have a look at this. It seems like it is quite a bit more in depth than the other issues I've had a go at so far so not sure how long it will take me or whether I'll be even be able to do it! But it noone else is trying I'm happy to give it a go!

[2018-11-14 03:52] mtreinish commented on #1124
I have not had a chance to work on this (I moved it to in progress in the project by mistake) so there is no update on this. I wasn't going to wait on this for 0.7.

@charlesastaylor if you want to give it a try, go for it. I can give you help if you need it. I have a feeling it'll be annoying to fix though since we'll have to at least iterate over the circuit one more time at the end to figure ou

[2018-11-14 03:53] mtreinish commented on #1077
This is basically done, we've deprecated the fallback as the default and as soon as 0.7 is out I'm going to push a patch up removing the fallback and switching to 'text' output by default for 0.8.

[2018-11-14 03:54] mtreinish commented on #1165
Yes, this is going to be fixed in 0.7, it's part of #1229

[2018-11-14 03:55] mtreinish commented on #1269
I have a WIP patch in progress starting this process here: https://github.com/Qiskit/qiskit-tutorial/pull/380

I need to write ones for plot_histogram() and plot_state() too

[2018-11-14 08:13] yaelbh commented on #1148
Recently I’ve been writing a simulator based on manipulations of the density matrix. In this context, I’ve gained some insights regarding the experience of working with Qiskit qubit ordering. I expect that developers of add-ons, which are external simulators wrapped by Qiskit interface, will have similar experience. I assume that most external simulators work with the standard qubit ordering, whic

[2018-11-14 10:39] filemaster commented on #1259
The problem is the 2D library is trying to make room for the labels scaling the graph.
A fix is in progress and it will be released asap.

[2018-11-14 17:53] youngchuleta commented on #300
Perfect! We also had a couple more questions:
1) We want to make sure we're accessing the test files correctly, since it seems as though we're only seeing a few of the tests that have been developed for this library. In particular, we've been looking at the files posted in qiskit-terra/test/python with "visualization" included in their titles, so we want to confirm whether these are all the releva

[2018-11-14 19:00] mtreinish commented on #300
@youngchuleta the current file organizational structure in the `tests/python` directory is less than ideal. There are other bugs open about that (see #1211 for example). If you're planning to work on improving the coverage here I'd probably recommend just making a new directory: `tests/python/visualization` or `tests/python/tools/visualization`and putting the tests in there. It's the direction we'

[2018-11-14 22:00] indisoluble commented on #1250
Hi again @atilag,

Let me continue where I left it yesterday. If what I said was right, `AerProvider.grouped_backend_names()` could be rewritten like this:

[code]

But, as we can see, given one name, `AerProvider.grouped_backend_names()` is going to return exactly the same name, which make it (at least at this moment) not very useful; what is more, I think it could be remove altogether.

If you a

[2018-11-14 22:20] delapuente commented on #1219
Could someone provide more information about this?

[2018-11-14 22:21] delapuente commented on #1220
What does this men?

[2018-11-15 00:34] jaygambetta commented on #1269
Lets put the plot_histogram and plot_state in a different tutorial.

[2018-11-15 01:00] 1ucian0 commented on #1237
Fixed in #1254. Thanks @tbabej !

[2018-11-15 01:00] #1237 closed

[2018-11-15 01:29] 1ucian0 commented on #901
after ff1f735, the line information is saved and the unparse puts the inline comment in the correct line. Currently the parse parse this:
[code]
into something like this:
[code]

Changing it into this:
[code]
is not trivial.

[2018-11-15 03:59] ajavadia commented on #1123
@rszaboibm the documentation will be updated with the next release. it is fixed, but not pushed.

[2018-11-15 09:58] atilag commented on #1250
Hi @indisoluble !
Great analysis, you are right in your last comment, I want to get rid of `grouped_backend_names()`. This was introduced to have the fallback mechanism.

What we want to show is a message to the user (using the `logger.warning()` facility) telling something like:
[code]
another option could be showing a list of all the backends installed in the system:
[code]
Summoning @jaygambett

[2018-11-15 12:29] jaygambetta commented on #1250
We should only list the python version of that simulator.  Also let’s put a py on the end of unitary. I like having a new error.

[2018-11-15 12:31] jaygambetta commented on #1219
Yes and a real test for it.

[2018-11-15 12:33] jaygambetta commented on #1220
Move and test quantum info density part.

[2018-11-15 14:33] chriseclectic commented on #1250
As Jay said add `_py` to unitary simulator to make it clear its python.
@diego-plan9  I find the warning messages very useful for things like this (eg "simulator not found, try using this other one"). they stand out in a Jupyter notebook and appear before the long trace list of source code leading to the error that was thrown. You can always use both too.

[2018-11-15 14:46] #1004 closed

[2018-11-15 15:19] 1ucian0 commented on #1129
PR #1187 merged. Converting this issue in an epic to track the spin-offs bugs.

[2018-11-15 15:31] 1ucian0 opened #1272 "matplotlib visualizer should not use transpiler(format='json')"
We are going to remove the option `format='json'` from the transpiler (see #1129). For that, we need to move the visualizers into the function `get_instractions` introduced in PR #1187.

The file `qiskit/tools/visualization//_matplotlib.py` calls `transpiler.transpile_dag(dag_circuit, basis_gates=self._basis, format='json')`. This needs to be removed in favor of `_utils.get_instructions`.

[2018-11-15 15:38] 1ucian0 opened #1273 "latex_source visualizer should not use transpiler(format='json')"
We are going to remove the option `format='json'` from the transpiler (see #1129). For that, we need to move the visualizers into the function `get_instractions` introduced in PR #1187.

The function `_generate_latex_source` calls `transpile_dag(dag_circuit, basis_gates=basis, format='json')`. This needs to be removed in favor of `_utils.get_instructions(dag)`.

[2018-11-15 15:42] 1ucian0 opened #1274 "text visualizer should not use transpiler(format='json')"
We are going to remove the option `format='json'` from the transpiler (see #1129). For that, we need to move the visualizers into the function `get_instractions` introduced in PR #1187.

The function `_text_circuit_drawer` calls `transpile_dag(dag_circuit, basis_gates=basis, format='json')`. This needs to be removed in favor of `_utils.get_instructions(dag)`.

[2018-11-15 15:48] 1ucian0 commented on #1242
PR #1187 was merged, solving this issue. For individual visualizers moving to this convention, see
 - mpl: #1272.
 - latex_source: #1273.
 - text: #1274

[2018-11-15 16:49] 1ucian0 opened #1275 "matplotlib should only be imported when needed"
After merging #911, matplotlib is imported when `import qiskit`. Please, see the discussion in #911 .

[2018-11-15 18:19] diego-plan9 commented on #1147
Self-assigning, as is quite related to the results revamp at #1266 - once it is in place, saving and loading results should be just a matter of deserializing/serializing them from/to the class. Still to be decided if we deprecate or remove entirely (I'd actually lean towards just removing directly, assuming the functions are not really in use).

[2018-11-15 20:49] #1142 closed

[2018-11-15 22:54] indisoluble commented on #1250
Hi all,

Let me summarise what was said here:

* Per @jaygambetta request: rename `unitary_simulator` to `unitary_simulator_py`
* As @chriseclectic suggests: first print a warning message (`logger.warning()`), then raise an exception
* As @diego-plan9 indicates: do not touch `LookupError` exception in `providerutils` as it is *internal*.
* Per @atilag request: raise a `QiskitError` based exception

[2018-11-16 11:08] diego-plan9 commented on #1155
After discussion with @jaygambetta and @dcmckayibm , and part of the standardization effort, it seems the `results` schema needs to be updated in relation to `results.data.unitary` and `results.data.statevector`:

* `unitary`: 3 nested levels (2-dimension matrix of complex numbers)
* `statevector`: 2 nested levels (1-dimension vector of complex numbers)

I'm also linking to #1047, as seems to be c

[2018-11-16 11:10] diego-plan9 commented on #1250
Just a note to mention that my comments are likely to be superseeded by @atilag or anyone who has looked at the issue in more detail - they were mostly single suggestions that might need to be reviewed when looking at the bigger picture!

[2018-11-16 15:03] Travis-S commented on #1260
Two 2-dimensional plots strike me as better. Especially if people are going to be using these functions to produce figures for papers/talks.

One suggestion: the plots should use a [diverging colormap](https://www.kennethmoreland.com/color-maps/), with the zero point of the colormap set to zero.

[2018-11-16 19:56] #1171 closed

[2018-11-17 02:32] 1ucian0 commented on #1274
pending PR #1280

[2018-11-17 02:36] 1ucian0 commented on #1077
We can say that it's decided :)

[2018-11-17 14:09] #1275 closed

[2018-11-17 17:32] ajavadia opened #1283 "Conditionals must be updated to match schema"
From @chriseclectic:

There is a mismatch between how Terra treats conditionals, and how conditionals are expected in the Qobj schema. Specifically, Aer supports conditionals in the new format.

The difference is:

Terra you set a conditional based on the value of an entire classical register represented as an integer: Eg:

[code]

Qobj you set a conditional based on a single "register" bit being

[2018-11-17 17:49] ajavadia commented on #595
I think it is decided that visualizations will stay in Terra for the time being. We have relaxed the reliance on Latex and Matplotlib (basically you can get by without them to draw circuits), and matplotlib will only be imported when explicitly requested (#1275).

[2018-11-17 17:49] #595 closed

[2018-11-17 17:54] ajavadia commented on #1155
Why do we need to remove `backend_name` and `backend_version` from the qobj schema? In #1279 I'm actually making the simulator backend configurations conform to this.

[2018-11-17 20:11] jaygambetta commented on #1155
I am fine keeping it the schema as well.

[2018-11-18 15:56] jaygambetta opened #1289 "conditional bug"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

OBJ without mapping
[code]

Output

[code]

Qobj after mapping to a coupling map

[code]
output

[code]

Error is the measurements are passing though the conditional.

### Steps to reproduce the problem

Run the example teleport

### What is the expected behavior?

### Su

[2018-11-18 18:20] jaygambetta commented on #1241
closing with pr https://github.com/Qiskit/qiskit-tutorial/pull/383.

[2018-11-18 18:20] #1241 closed

[2018-11-18 20:00] jaygambetta opened #1290 "add draw order test to test_circuit_multi_registers"
### What is the expected enhancement?

@mtreinish when you merge the draw changes can we add to this test one that checks the draw order. Then all parts of the ordering are checked.

[2018-11-18 20:43] jaygambetta commented on #1269
Added a pr for the second one https://github.com/Qiskit/qiskit-tutorial/pull/388

[2018-11-18 20:43] #1269 closed

[2018-11-18 20:47] jaygambetta commented on #1143
I don't think we need to make this required for 0.7

[2018-11-18 20:48] #1243 closed

[2018-11-18 20:48] #1244 closed

[2018-11-18 20:55] jaygambetta commented on #1260
@nonhermitian and @mtreinish could we make sure whatever we do gets shown in the notebook https://github.com/Qiskit/qiskit-tutorial/pull/388.

As I agree the plots need work.

I would also add that the Bloch sphere should be next two each other and the same is true for the qsphere.

[2018-11-18 20:58] jaygambetta commented on #1227
I am going to close this as I pretty sure the pr I just put in also fixes this (#1284) but let's open it if we see it again.

Basically, the circuit changed the order of the qubits.

[2018-11-18 21:53] indisoluble commented on #1250
Hi @atilag, @jaygambetta, @chriseclectic & @diego-plan9

While coding the agreed changes, I noticed something odd in `providerutils.resolve_backend_name()`. As the method is now:

[code]
If `name` is not in `available` but it is included in `deprecated`, the function will end up returning a backend that is not truly available. When `resolve_backend_name()` is called from `AerProvider.get_backend()

[2018-11-19 01:45] 1ucian0 commented on #1290
A test for checking the order used by the visualizers was added here (PR #1187):
https://github.com/Qiskit/qiskit-terra/pull/1187/files#diff-1bae37fde03efe78b61092fee5f9a1d0R199

Do you mean something different?

[2018-11-19 03:14] jaygambetta commented on #1290
One that makes sure its ordered for this test set. This is a simple test set to check multiqubit and multi reg order

[2018-11-19 03:17] jaygambetta commented on #917
Closing with #1284

[2018-11-19 03:17] #917 closed

[2018-11-19 03:21] #928 closed, assigned to nobody

[2018-11-19 03:32] jaygambetta commented on #914
Done with #1284 and examples in qiskit tutorial.

[2018-11-19 03:32] #914 closed

[2018-11-19 04:20] jaygambetta opened #1293 "load_qasm example should use the quantumcircuit"
### What is the expected behavior?

Need to update the load_qasm with the new from file qasm load.

[2018-11-19 05:52] jaygambetta commented on #1242
reopening until all pr are in

[2018-11-19 06:06] jaygambetta commented on #1183
@atilag and @chriseclectic what is the status of this?

[2018-11-19 08:29] ajavadia commented on #1098
@balewski the "GENERIC ERROR" you see is intermittent behavior on the cloud API, I think. You don't see it consistently right? It should be unrelated to the original issue.

The original issue about overwriting old credentials is addressed in PR #1295.

[2018-11-19 09:09] ajavadia commented on #1227
I think I saw this again in my PR #1285.  It failed, I restarted, it passed.

I can't reproduce it again. But I think the error was that a classical register was written before a quantum register. This might be possible, since @jaygambetta's PR #1284 ordered qregs and cregs, but not total registers.

This test is stupid, it checks against a hardcoded QASM string. So the ground truth is something l

[2018-11-19 11:06] #1088 closed

[2018-11-19 11:31] jaygambetta commented on #1227
this is possible as there is no order between classical and quantum

I see three possible ways.

1. Make sure when we call circuit.qasm() that we put quantum first. (i dont like this)
2. Have both options as checks and do an xor
3. Overload __eq__ in QuantumCircuit and have it check the quantum registers, the classical registers and the data in the circuit. I prefer this way as this will be more u

[2018-11-19 11:42] jaygambetta commented on #1233
Closing as now part of qiskit aqua

[2018-11-19 11:42] #1233 closed

[2018-11-19 11:59] jaygambetta commented on #1008
closed with #1284

[2018-11-19 11:59] #1008 closed

[2018-11-19 12:48] jaygambetta commented on #1227
It just failed on me (https://travis-ci.org/Qiskit/qiskit-terra/jobs/456920806)  and it seems that the classical bits are the wrong order

[code]

[2018-11-19 12:57] #1098 closed

[2018-11-19 13:11] jaygambetta commented on #1227
I am confused by this and will look into it more. In fact, the second seems more correct.

[2018-11-19 14:49] mtreinish commented on #1260
@jaygambetta for the bloch sphere I think that I already did that in #1229 But, not for the qsphere, I can add that in a follow up PR easily enough.

[2018-11-19 14:51] #981 closed

[2018-11-19 15:09] jaygambetta commented on #1260
ok. When it is merged we should run the tutorial notebook again an update.

[2018-11-19 15:56] mtreinish commented on #1227
fwiw, when I added the test as part of #877 just comparing the qasm like that was done just to be fast and simple. Doing what @jaygambetta suggests in his 3rd option (either as an `__eq__` on the circuit object or externally in the test) does seem like a much better way to compare the input circuit and the circuit created from the qasm in the qobj are the same.

That being said it feels like somet

[2018-11-19 16:12] 1ucian0 commented on #1164
the new PR is #1270

[2018-11-19 16:47] mtreinish opened #1298 "Add annotation to circuit_drawer() for snapshot instructions"
### What is the expected enhancement?

PR #1021 added support for drawing a barrier line to the circuit drawer for the` snapshot` instruction. However, to make the visualizations for the snapshot instruction more useful we should add a label above the barrier line drawn.

[2018-11-19 17:39] ajavadia opened #1299 "Common interface to all mappers"
This issue defines a convention for how mappers work in Qiskit.

### **Philosophy 1**
"Mapping" is the general problem of transpiling a given arbitrary circuit to execute on a given arbitrary backend. This is not a monolithic transformation, but rather a series of consecutive stages. Below is a breakdown:

1- **Embed:** embeds the circuit (DAG) into a coupling map, by finding a layout. This can be

[2018-11-19 17:53] #1165 closed

[2018-11-19 20:52] mtreinish opened #1302 "Interactive plot_state() is missing the 'wigner' method"
### Informations

- **Qiskit Terra version**: Latest master
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

The plot_state() function exposes a wigner method when running in mpl mode, but this not a valid method when using interactive mode.

### Steps to reproduce the problem

Try to run plot_state() in jupyter with mode='interactive' and method='wigner'.

[2018-11-20 13:51] jaygambetta commented on #1227
yeah locally it does not work for me. I also ran it with pr #1296 1000 times with a loop and that has never failed

[2018-11-20 13:52] jaygambetta commented on #1227
@mtreinish how can i make the print statements in that pr into a log that we add to master and caputure the output when it fails.

[2018-11-20 13:54] jaygambetta commented on #1016
opening again as still failing

[2018-11-20 14:30] rraymondhp commented on #1251
I encountered similar problems..

[2018-11-20 15:30] maddy-tod opened #1306 "Bug when drawing circuits containing barriers"
### Informations

- **Qiskit Terra version**:0.6.1
- **Python version**: 3.6.5
- **Operating system**:  macOS

### What is the current behaviour?
When attempting to draw some circuits which contain barriers using the circuit drawer, an error is produced.

### Steps to reproduce the problem
[code]
Should produce the error `"Error during Latex building: invalid literal for int() with base 10: '1} \\

[2018-11-20 16:33] ajavadia commented on #830
i agree with changing get_* to just *.

[2018-11-20 16:40] 1ucian0 opened #1308 "A check_map analysis pass is needed"
### What is the expected enhancement?

In https://github.com/Qiskit/qiskit-terra/pull/1270#issuecomment-439951585 @ajavadia raised the need to have a pass to check if a circuit is compatible with a coupling map.

[2018-11-20 19:55] nonhermitian commented on #1260
@jaygambetta @mtreinish can we change the `options['width']` and `options['height']` to just `options['figsize']` to be inline with what mpl and everyone else is using?

[2018-11-20 19:58] nonhermitian commented on #1260
Also why do we have the `show` kwarg?  We are returning a mpl figure, so the show should just be the usual call.

[2018-11-20 20:19] mtreinish commented on #1260
The height and width things are there because that's what was used for the interactive plots. The same with the options dicts as a concept. I don't like that interface at all, but I figured it was better to make it non-breaking and just do it slightly weird.

[2018-11-20 20:21] mtreinish commented on #1260
As for show() and filename() they're there mostly because the previous use case for these functions didn't return a Figure and instead would actually just call show() internally return nothing (unless you passed in a filename). I think a lot of people who use these just want to output it or save it and not deal with the figure object.

[2018-11-21 04:30] #1227 closed

[2018-11-21 15:21] jaygambetta commented on #1129
I did not comment on this before (did not see) but as I said on your pr I really don't see the point in making a dag when drawing a circuit. I would like the drawing module to only know about the circuit (even if the internals of the circuit become the dag) the object that we should send to this is the circuit not the dag. It is just a method for taking a circuit and returning a list of operations

[2018-11-21 19:45] Jaxo commented on #1168
For future reference...

Simply reproduce with:
<pre>
from qiskit.qasm import Qasm
Qasm(filename=“highmem.qasm”).parse()
</pre>

and qasm file:
<pre>
OPENQASM 2.0;
qreg q[81];
CX q[58],q[54];
CX q[49],q[45];
CX q[37],q[36];
CX q[33],q[27];
CX q[26],q[18];
CX q[11],q[9];
CX q[18],q[9];
CX q[25],q[18];
CX q[11],q[9];
CX q[45],q[9];
(the original input file has >2M lines of these)
</pre>

Here's a di

[2018-11-21 19:48] latone commented on #1168
For future reference...

Simply reproduce with:
<pre>
from qiskit.qasm import Qasm
Qasm(filename=“highmem.qasm”).parse()
</pre>

and qasm file:
<pre>
OPENQASM 2.0;
qreg q[81];
CX q[58],q[54];
CX q[49],q[45];
CX q[37],q[36];
CX q[33],q[27];
CX q[26],q[18];
CX q[11],q[9];
CX q[18],q[9];
CX q[25],q[18];
CX q[11],q[9];
CX q[45],q[9];
(the original input file has >2M lines of these)
</pre>

Here's a di

[2018-11-21 20:09] #1272 closed

[2018-11-21 20:11] jaygambetta commented on #1290
closing as @1ucian0 is correct the test show it multiple registers

[2018-11-21 20:11] #1290 closed

[2018-11-22 05:35] #1274 closed

[2018-11-22 07:52] #1273 closed

[2018-11-22 07:54] ajavadia opened #1318 "Bug in drawing conditionals in latex and matplotlib"
### Informations
After #1278 and #1276, the latex and matplotlib have a bug in drawing conditional gates:

This code:
[code]
was drawn correctly before these 2 recent PR merges:
![image](https://user-images.githubusercontent.com/8622381/48883884-e92ff100-edef-11e8-9e8e-a903670ee792.png)

but with this patch the conditional vertical wire is gone:
![image](https://user-images.githubusercontent.com/8

[2018-11-22 12:32] 1ucian0 commented on #1129
mpl: #1272 fixed via #1278
  latex_source: #1273 fixed via #1276
  text: #1274 fixed via #1280

[2018-11-22 12:32] #1129 closed

[2018-11-22 12:33] 1ucian0 commented on #1308
This will be fixed in PR #1317

[2018-11-22 12:35] 1ucian0 commented on #1242
mpl: #1272 fixed via #1278
latex_source: #1273 fixed via #1276
text: #1274 fixed via #1280

[2018-11-22 12:35] #1242 closed

[2018-11-22 15:08] mtreinish commented on #1318
Yeah, taking a brief look at the code this is being caused by the _get_instructions() output returning different data from the transpiler json format. It used to be op['conditional'] which would have a hex bitmask value. Now it's returning a bit label and is op['condition'] (so the drawers don't even know there is a conditional) we'll need to adjust the drawing code for conditionals to handle the

[2018-11-22 18:51] taalexander opened #1320 "IBMQJob Init Documentation Incorrect"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
In [IBMQJob](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/backends/ibmq/ibmqjob.py#L138)
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
[code]

[2018-11-23 10:55] Zoufalc opened #1322 "Matrix form - observable argument to average_data"
### What is the expected behavior?
Being able to enter the observable argument in average_data in _results.py as matrix instead of dict. For simplification of using the function with > 2 qubits.

Further, it would be useful if the function could be modified such that it allows for the 'averaging' of a subset of qubits --> partial trace.

[2018-11-23 16:51] 1ucian0 commented on #949
Pending PR in #1325.

[2018-11-24 02:52] ajavadia commented on #1302
@filemaster is this something you can support?

[2018-11-24 03:02] ajavadia commented on #1251
This is basically the same issue as #1230. Closing this one, and tracking there.

[2018-11-24 03:02] #1251 closed

[2018-11-24 03:04] ajavadia commented on #1230
We are close to supporting custom gates in the DAG. From there, we need to make some adjustments to each drawer, and then hopefully we will be able to draw custom gates in circuits as well.

[2018-11-24 03:15] ajavadia commented on #1223
This test is running the qobj in `test/python/qobj/cpp_measure_opt.json`. I don't understand why we get non-deterministic behavior, as the seed in that qobj has been set. Maybe this points to another bug where the seed is not correctly used?

As a general philosophy, when testing with simulation, we should fix a seed. We should *not* merely increase the tolerance threshold when things go wrong, be

[2018-11-25 07:55] yaelbh commented on #1223
The seed of package `random` is different from the seed of `numpy`. So if you fix one then the other is still not deterministic. Perhaps this explains what you witness. The same goes also if you have in addition a C++ seed.

[2018-11-25 16:19] lukasszz commented on #915
I've tried to solve this in https://github.com/Qiskit/qiskit-terra/pull/1330 .

@Exferro what kind of help did you need? How did you start with the problem?

[2018-11-26 03:13] ajavadia commented on #915
@Exferro sorry I just saw your comment here. Looks like @lukasszz took care of this issue. If you still would like to contribute, please feel free to take up another issue and ask if you need any help.

[2018-11-26 03:36] #1308 closed

[2018-11-26 07:55] Exferro commented on #915
@lukasszz Thank you for your question, but I do apologize, I didn't mean that I need some help dealing with issue (it didn't seem to be that hard). Instead, I thought that I had to obtain some kind of "ticket", or discussion, or foreword to start dealing with it since I hadn't previous contributions.

Now I see that it's not necessary and I will be more brave next times)

@ajavadia It's okay, than

[2018-11-26 13:03] filemaster commented on #1302
I will take a look... It will require to generate a new interactive visualization mode.

[2018-11-26 14:30] diego-plan9 opened #1332 "Populate local simulators configuration and properties"
### What is the current behavior?

Currently, after #1323 (and unmerged #1331), the local simulators have a number of placeholder values for some fields of those structures:

* `configuration.gates`
[code]
* `properties.qubits`
* `properties.gates`
[code]
* `properties.general` ? (can be empty).

Those are for conformance with the specification - they require that those lists have at least one ite

[2018-11-26 14:57] diego-plan9 opened #1333 "Unify basis_gates parameter handling (using a list)"
### What is the expected enhancement?

(I have the feeling there is already an issue for this topic but can't seem to find it - apologies if it ends up being a duplicated issue).

After #1323, the `basis_gates` for a backend is defined in its configuration as a list:
[code]

Traditionally, we have been passing a comma-separated string around for the internal functions (throughout the transpiler la

[2018-11-26 17:08] delapuente commented on #1047
## qobj.qobj_qasm

Code: `qiskit.qobj._qobj.Qobj`.
Schema: `qiskit/schemas/qobj_schema.json`

Attribute | In the spec | In the code | In the schema | Action |
----------|-------------|-------------|---------------|--------|
qobj_id | x(*) | ✓(1) | ✓ |
schema_version | x | ✓(2) | ✓(3) |
type | x | ✓(2) | ✓(3) |
experiments | x | ✓(1) | ✓ |
config | x | ✓(1) | ✓ |
header | x | ✓(1) | ✓ |

(*) The Op

[2018-11-26 17:37] #1318 closed

[2018-11-26 17:56] mtreinish commented on #1306
So the underlying issue here is that the drawer is trying to draw 2 barriers next to each other the on the q[0] bit line in the same column of the qcircuit xymatrix. This is breaking the regex used on measure when looking for a \barrier{} string to adjust the spacing for the measure box: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/_latex.py#L972 so instead of retu

[2018-11-26 17:56] #1306 closed

[2018-11-26 18:01] mtreinish commented on #1124
Just leaving a comment here that #1306 was a duplicate of this issue, but manifested itself differently by raising a `VisualizationError` with the error message: `Error during Latex building: invalid literal for int() with base 10: '1} \\\\barrier{1'` you can look at the closing for duplicate comment: https://github.com/Qiskit/qiskit-terra/issues/1306#issuecomment-441735166 for more details on why

[2018-11-26 18:48] nonhermitian opened #1335 "_has_connection('https://qvisualization.mybluemix.net/', port=443) returns False"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Interactive visualizations do not work because `_has_connection('https://qvisualization.mybluemix.net/', port=443)` is returning `False`.

### Steps to reproduce the problem
Try it.

### What is the expected behavior?

### Suggested solutions

[2018-11-26 18:49] nonhermitian commented on #1335
@filemaster

[2018-11-26 19:12] mtreinish commented on #1335
This is fixed by #1336 I didn't see the bug when I pushed that.

[2018-11-26 19:33] jaygambetta commented on #1322
We are going to remove this feature from results and provide a function to do this.

[2018-11-26 20:43] #1335 closed

[2018-11-27 00:29] jaygambetta commented on #1250
why cant we close this. @atilag

[2018-11-27 02:39] ajavadia opened #1338 "Reduce openqasm usage in tests"
### What is the expected enhancement?
Except when we explicitly test the qasm parser, we should make circuit objects and use those in tests. Not every circuit operation is supported by QASM, and parsing is slow anyway.

We should also try to compare circuits for equivalence or DAGs for isomorphism, rather than compare QASM strings in test asserts, as the latter is too restrictive.

[2018-11-27 04:12] ajavadia opened #1340 "single gates should be optimized"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently the `optimize_1q_gates` collects runs of single qubit rotations, then simplifies them. But if there is no run, just a single identity, it does not do anything.

[code]

If a single gate evaluates to identity, it should be removed. If a u2 evaluates to a u1

[2018-11-27 08:43] atilag commented on #1250
Oh, yes we can. XD

[2018-11-27 08:43] #1250 closed

[2018-11-27 10:14] diego-plan9 commented on #1156
After merging #1327, the test `test_backends.test_aer_backend_configuration` has been disabled - we should re-enable it when working on this issue.

[2018-11-27 13:02] #1338 closed

[2018-11-27 15:21] chriseclectic commented on #748
The current behaviour of the statevector simulators is to always set the shots to 1, regardless of the user specified number of shots, and adds a message to the logger if the input shots is != 1.

[2018-11-27 18:36] 1ucian0 opened #1342 "Latex visualizer confuses the qubits when measurement"
### Informations

- **Qiskit Terra version**: master

### What is the current behavior?

The following code generates the following image:
[code]

![tmpir3f6f38](https://user-images.githubusercontent.com/766693/49103415-4a6d1f80-f249-11e8-848a-0db369b48537.png)

### What is the expected behavior?

The measurement should be on `q_0`, not on `q_2`

[2018-11-27 18:59] 1ucian0 opened #1343 "Coupling maps is about wires, not qubits"
The `Coupling` object talks about "qubits" instead of "wires".  In the context of layouts and wire maps, that's confusing. The `Layout` object denotates wires with numbers. I think the same should happen in `Coupling`.

[2018-11-27 19:50] #1342 closed

[2018-11-27 19:51] 1ucian0 opened #1346 "The methods "get_something()" should be "something()""
@jaygambetta expressed discontent with methods of the shape `get_something()`. It seems he is not [the](https://stackoverflow.com/questions/374763/should-i-use-get-set-prefixes-in-python-method-names) [only](https://python-consistency.readthedocs.io/en/latest/conventions.html#properties) [one](https://github.com/sovetov/python-style-guide#names).

A quick grep returned:

- [x] ~`qiskit/tools/visua

[2018-11-27 20:10] jaygambetta commented on #1346
Yes there is many that we need to fix. The get_backend I think we keep as we have a backends command.

[2018-11-27 20:17] mtreinish commented on #1346
The matplotlib one I wouldn't worry about it, it's an internal method on a class only used inside that module (to set anchors in the figure). It's never going to be called anywhere else

[2018-11-27 21:06] mtreinish commented on #1211
Visualization and Jupyter are covered by #1347

[2018-11-27 21:55] ajavadia opened #1348 "Swap mapper fails with certain inputs"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Mapper issue reported by @maikatakita

[code]

[code]

Yields:
[code]

[2018-11-28 09:49] diego-plan9 commented on #1346
For the `Result`s, there is an attempt of discussion at #830. For the rest of instances and potential implementers, please note as well that even if the technical challenge is indeed relatively straightforward (as in, renaming the method and revising the rest of the codebase and test for usages of the method), some discussion might be needed:
* if the change implies a public API change, a deprecat

[2018-11-28 09:55] jaygambetta commented on #1322
@Zoufalc we just moved the average_data to is own function in #1351 I think it could be good to add the matrix here.

[2018-11-28 10:02] nonhermitian opened #1352 "Setting the width and height in iplot_cities gives a blank figure"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSZ

### What is the current behavior?

Setting `width` and `height` in the options to the interactive visual `iplot_cities` returns an empty figure, with just the controls.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2018-11-28 10:13] nonhermitian opened #1353 "Mouseover on iplot_hinton freezes Jupyter notebook."
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Mouseover on `iplot_hinton` output figure causes the plot to contract, and leads to the underlying JS to hang, which in turn hangs the notebook.  The broswer tab must be closed and reopened to gain functionality back.

### Steps to reproduce the problem

###

[2018-11-28 10:20] nonhermitian opened #1354 "Bug in setting figure size of iplot_hinton"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Setting the figure size of `iplot_hinton` has no effect on the output figure size unless `width` and/or `height` are >= 10 at which point the figure becomes incredibly small.

### Steps to reproduce the problem

### What is the expected behavior?

### Sugges

[2018-11-28 10:27] nonhermitian opened #1355 "Mouseover of iplot_paulvec freezes Jupyter notebook"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Same cause and effect as #1353.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2018-11-28 10:39] nonhermitian opened #1356 "iplot_qsphere width and height are in units of pixels"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Setting the `width` and `height` of the `iplot_qsphere` figure, as done in the other interactive plots, gives no image because the units for `width` and `height` seem to be in pixels (although the size of the eignvalue text seems to be fine).  Thus, anything

[2018-11-28 10:41] nonhermitian opened #1357 "iplot_qsphere 'local phase angle' subplot does not resize and is barely readible."
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
The subplot for 'local phase angle' does not resize, leaving a barely readable figure, even when resizing as in #1356.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2018-11-28 10:49] nonhermitian opened #1358 "Interactive visualizations exteremly buggy, JS freezes using 100% cpu."
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
Simply calling an interactive visualization, or interacting with them, more often than not leads to a crash/freeze in the underlying JS code, causing the cpu usage to become 100%.

### Steps to reproduce the problem

### What is the expected behavior?

### Su

[2018-11-28 13:05] nonhermitian commented on #1358
@filemaster

[2018-11-28 13:05] nonhermitian commented on #1357
@filemaster

[2018-11-28 13:05] nonhermitian commented on #1356
@filemaster

[2018-11-28 13:06] nonhermitian commented on #1355
@filemaster

[2018-11-28 13:06] nonhermitian commented on #1354
@filemaster

[2018-11-28 13:06] nonhermitian commented on #1353
@filemaster

[2018-11-28 13:06] nonhermitian commented on #1352
@filemaster

[2018-11-28 14:05] diego-plan9 commented on #830
After internal conversation with Jay, here is a summary of the changes:

| 0.6 result             | action     | PR     |
|------------------------|------------|--------|
| `__add__`              | deprecate  |        |
| `__iadd__`             | deprecate  |        |
| `__len__`              | remove (1) |        |
| `__getitem__`          | remove (1) |        |
| `average_data`         | remove

[2018-11-28 15:16] Zoufalc commented on #1322
Thanks!

[2018-11-28 16:35] diego-plan9 commented on #830
After #1360, updated the table below - the consensus is that the `get_xxx` methods will imply that some preprocessing might be applied to their return values (most notably, `get_counts` will have its keys in the right format, not hex), and `get_data` will be renamed to `data`, signalling that it will contain the raw information.

[2018-11-28 16:37] diego-plan9 commented on #1266
Closing, as the remainder work is tracked at #755 .

[2018-11-28 16:37] #1266 closed

[2018-11-28 16:38] diego-plan9 commented on #188
Closed in #1360, as result addition is marked as deprecated after 0.7

[2018-11-28 18:10] jaygambetta opened #1364 "Dag equality"
### What is the expected enhancement?

A method to check if two dags are the same.

#1363 and #1349 are holding this up

[2018-11-28 18:11] jaygambetta opened #1365 "get_counts to postprocess results into bin"
### What is the expected enhancement?

We need the qobj headers to be copied into the results. From #1279

Then we need a routine in get_counts to do the following
- convert to bin
- pad zeros
- inserts spaces

[2018-11-28 19:57] #1364 closed

[2018-11-28 20:17] 1ucian0 commented on #1346
Maybe `select_backend`?

[2018-11-29 03:16] jaygambetta opened #1370 "Update the release notes and changelog"
### What is the expected enhancement?

[2018-11-29 06:13] TabrisG commented on #623
@gxchan3 Hi, I ran your code starting with state |00> and measurements on both qubits. For all three cases I got the result {'00': 1024}. I ran it on both my laptop and the Binder image. May I know what is the problem?

[2018-11-29 08:09] lukasszz commented on #1365
Could you point an example test (probably test_qobj.py) where I can start to investigate this issue?

[2018-11-29 10:40] #1156 closed

[2018-11-29 10:56] diego-plan9 opened #1372 "Handling old-format jobs (test_get_jobs_filter_job_status)"
### Information

We are experiencing some intermitent failures at `test.python.ibmq.test_ibmqjob.TestIBMQJob.test_get_jobs_filter_job_status` (specifically, seems to happen at premium):

https://travis-ci.org/Qiskit/qiskit-terra/jobs/461104008

[code]

This seems to be because of the co-existence of different formats currently, and sort of accounted for - by 0.7, all jobs created and stored should

[2018-11-29 12:04] #1262 closed

[2018-11-29 12:21] jaygambetta commented on #1365
@lukasszz thanks for offering but @diego-plan9 is working on it. In his last pr we temporary added that the counts are in hex to pass the schema.

[2018-11-29 13:45] mtreinish opened #1374 "Result.get_data()['unitary'] differs from Result.get_unitary()"
### Informations

- **Qiskit Terra version**: Latest Master (assuming post https://github.com/Qiskit/qiskit-terra/pull/1360 )
- **Python version**: 3.7
- **Operating system**: Linux

### What is the current behavior?

When running a simulation with the unitary_simulator locally the result from Result.get_data()['unitary'] isn't the expected data format.

I have a script which running a GHZ test ci

[2018-11-29 14:51] chriseclectic commented on #1156
@nonhermitian @jaygambetta One issue is future (qikit-aer) simulators will support varying numbers of qubits depending on the input circuit: for example if the input circuit only contains clifford gates a simulator could potentially support thousands of qubits, while for a general circuit only 30ish or whatever is the limit of available memory.

[2018-11-29 15:45] mtreinish commented on #1374
After some offline discussion this was an intentional change for improvements being made to Results object so the fix here is to better document the different format which is done in #1375

[2018-11-29 15:50] nonhermitian commented on #1156
As I mentioned elsewhere, having a single backend dynamically select a solver is problematic.  The `n_qubits` may be different (as highlighted here), the supported gates can/will be different etc.  So this would effectively break the spec, or at least require fairly big modifications.  Instead, each solver should have its own backend, and then `execute`,. or another function, should dynamically pi

[2018-11-29 16:04] ajavadia opened #1376 "Swap mapper iterates for 20 trials even if it finds a depth 1 circuit in the first try"
### What is the expected enhancement?
A common case is that with a single swap, you get the job done. In this case, there is no need to do more trials. The current swap mapper does 20 trials regardless, however. The fix is simple.

[2018-11-29 18:09] #1374 closed

[2018-11-29 21:33] jaygambetta commented on #1052
with #1379 we have decided it will be the second case.

[2018-11-30 01:29] jaygambetta opened #1384 "More test for the Quaternions"
### What is the expected behavior?
After the pr #1383 I noticed we have very few tests on the Quaternions. We should fix this in a followup PR.

[2018-11-30 05:55] jaygambetta commented on #748
Then this is closed.

[2018-11-30 05:55] #748 closed

[2018-11-30 15:09] nonhermitian opened #1389 "Bundle tests in qiskit package to allow running from install"
### What is the expected enhancement?

The tests should be able to be run from the installed qiskit package. This is true for all other numeric Python packages. It will also help for testing older releases.

[2018-11-30 16:06] mtreinish commented on #1389
Did you also want to include the tests in the sdist (which is something I advocated for in #268 ) or just updating the imports to use absolute imports so they'll run on an installed package?

[2018-11-30 17:14] nonhermitian commented on #1389
I want to be able to do qiskit.test() and have the tests run, so in the package.

[2018-11-30 17:25] diego-plan9 opened #1390 "Memory-related spec changes for 0.7"
### What is the expected enhancement?

After recent discussion, the specs needs further tweaks before 0.7:

* `BackendConfiguration`:
   * `BackendConfiguration.memory` (boolean): new **required** field, indicates if the backend supports `memory`
   * `BackendConfiguration.max_shots` (int): new **required** field, contains the maximum number of shots supported
* `Qobj`:
   * `config.memory` (boole

[2018-11-30 18:34] nonhermitian commented on #1389
It is not marked for 0.7.

[2018-11-30 18:54] nonhermitian opened #1392 "Progressbars not spawned unless execute or compile are called first"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
The following no longer spawns a progress bar"
[code]
unless `compile` or `execute` have been run first.

### Steps to reproduce the problem
uncomment the line below:
[code]

### What is the expected behavior?
You should not have to call `execute` or `compil

[2018-11-30 18:58] nonhermitian opened #1393 "Compile and execute use a progress bar even if a single circuit is passed."
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
The `compile` and `execute` functions make use of a progress bar for a single circuit.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
A progress bar should not be used for a single circuit.

### Suggested solutions

[2018-11-30 21:09] #1393 closed

[2018-12-01 01:35] #1390 closed

[2018-12-01 05:42] ajavadia opened #1396 "parallel_map as decorator?"
### What is the expected enhancement?
Is this possible? Right now when making a function you have to create a `function_X_parallal` and a `function_X`, where the 1st calls the 2nd using *parallel_map.* It would be nice if one could just write the 2nd, and decorate it to indicate parallel run.

@nonhermitian @atilag thoughts?

[2018-12-01 11:46] nonhermitian commented on #1396
Yes uou can. Although, I do bot understand your need for two functions here

[2018-12-01 12:33] atilag commented on #1396
I like that approach, as the parallel_map is very generic and it's a very expressive way to state that the function being decorated will be executed concurrently. Also, we could change the concurrency strategy in a future by only changing the decorator implementation.

[2018-12-01 13:17] #1202 closed

[2018-12-01 13:17] #1235 closed

[2018-12-01 13:31] nonhermitian commented on #1396
It is generically useful, and should probably not be confined tonthe transpile dir

[2018-12-01 13:32] jaygambetta commented on #1372
lets just only work for the new jobs format

[2018-12-01 14:43] nonhermitian commented on #1392
If there was a way to indicate that a ipywidget was not output to a cell (looking into it) then the unittests would fail. As such,
It should probably be fixed in 0.7

[2018-12-01 18:52] ajavadia commented on #1396
@nonhermitian by two functions I mean first creating a function `task`, then creating another wrapper `task_parallel`, which calls `parallel_map(task, args)`. I think we can do this just by a for loop and a decorator, that makes the for loop parallel.

I get lost chasing the following code:
[code]

[2018-12-01 22:04] nonhermitian commented on #1396
You really only need to define one function `func` that you would like to be able to run in parallel, and then just call `parallel_map` on it.

I have also tried to make a decorator for `parallel_map`, but an issue arises that the function being decorated cannot be pickled: `PicklingError: Can't pickle <function func at 0xa20f2ef28>: it's not the same object as __main__.func`

[2018-12-02 03:31] LionSR commented on #623
Any updates on Qiskit Aer?

[2018-12-02 03:42] BichenZhang opened #1399 "add noise to a specific gate only"
### What is the expected behavior?
Hey, I'm new to qiskit. Maybe you've already include this feature, but I don't find out how to do it.
I'm wondering if I can add some noise to a specific gate (eg. 1% Pauli error in the first H gate on qubit 0), but leave other gates in my circuit along.  If this feature exists, could you please give me some instructions briefly? Thanks!

[2018-12-03 15:02] diego-plan9 commented on #1332
An update: @Max-Reuter is working on the configuration, and I'll be working on not having properties for the simulators.

[2018-12-03 15:50] jaygambetta commented on #1146
@nonhermitian this is ready to be done now. As we discussed there should only be one call to parallel map in the tritanspiler and it should do
dag -> circuit, dag->dag and dag->circu

[2018-12-03 15:52] jaygambetta commented on #1146
Closing now pr #1397

[2018-12-03 17:00] 1ucian0 commented on #1343
@jaygambetta decided that the name "wire" was not good. We are going for "virtual qubit"

[2018-12-03 17:46] #1343 closed

[2018-12-03 20:59] #1066 closed

[2018-12-03 20:59] #1087 closed

[2018-12-03 22:47] chunfuchen opened #1405 "could the data type of basic_gates be aligned?"
### What is the expected enhancement?

`basis_gates` get from BackendConfiguration is a list of string but transpiler takes `basis_gates` as a comma-separated string.

BackendConfiguration:
https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/backends/models/backendconfiguration.py#L43

transpiler:
https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/_transpiler.py#L39

Could

[2018-12-04 00:42] jaygambetta commented on #1146
closed by mistake

[2018-12-04 00:43] jaygambetta commented on #1144
Closing now pr #1397

[2018-12-04 00:43] #1144 closed

[2018-12-04 00:47] jaygambetta commented on #720
We have decided that obj will only be made using the qobj objects in circuits_2_qobj and not part of the unroller. This will be done with issue #1145.

[2018-12-04 00:47] #720 closed

[2018-12-04 02:02] jaygambetta opened #1407 "qobj_to_circuits not using the compiled qasm in the qobj header"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2018-12-04 02:10] jaygambetta opened #1408 "remove transpile_dag"
### What is the expected enhancement?
Once we have pass_manager fully integrated we should remove the function transpile_dag from the transpiler.

[2018-12-04 02:12] nonhermitian commented on #1392
@atilag, the transpilation has been updated in #1406, and just uses a standard call to `parallel_map`.  Therefore, we can not spawn any progress bars until this issue is resolved.

[2018-12-04 15:54] 1ucian0 opened #1417 "check_map pass does not check direction"
Currently, the pass `check_map` set the property `is_mapped` as `True` if the circuit/dag is "mapped" to a given couple map. The meaning of "mapped" in this context does not consider direction. That means:
[code]
is "mapped" to `[0]->[1]`.

### What is the expected behavior?

Since `check_map` already transverse the DAG, it's kinda for free to also check for direction and set a property if it is.

[2018-12-04 16:29] #1155 closed

[2018-12-04 16:31] #830 closed

[2018-12-04 16:32] ajavadia commented on #996
Closing, only Qobj models left and let's track in a separate PR. @diego-plan9

[2018-12-04 16:32] #996 closed

[2018-12-04 16:32] 1ucian0 opened #1419 "A direction mapper pass is needed"
A simple direction mapper pass is needed.

[2018-12-04 17:01] chunfuchen opened #1420 "the default decimals in get_statevector is too small"
### What is the expected enhancement?

The original statevector simulator will return decimals as many as possible; however, the new terra clips it to 8-digits by default, which results in many chemistry simulations fails because the returned statevector is not enough.

For example, 8-digits is not accurate enough for me to reach ground state energy of H2 since the optimizer can not build accurate

[2018-12-04 17:33] 1ucian0 commented on #1417
@ajavadia maybe you can comment here the convention to the names in each stage of mapping?

[2018-12-04 18:51] ajavadia commented on #1420
Yes we can do this. Thanks for raising the issue. Will be fixed in #1404.

[2018-12-04 20:42] 1ucian0 commented on #1419
PR #1422 addresses this issue.

[2018-12-04 21:51] mtreinish commented on #1260
@nonhermitian should we close this now that #1359 has landed?

[2018-12-04 21:52] mtreinish commented on #707
I'm going to close this since we have a tools.jupyter directory and those tools are all present (and we're building new ones now)

[2018-12-04 21:52] #707 closed

[2018-12-04 21:52] #708 closed

[2018-12-04 22:16] chunfuchen commented on #1420
I need to do more experiment to get suitable precision.
The issue I get is that when an optimizer is builting the gradient, the step size is used to be very small, like 1e-8; thus, if the precise of delta `(f(x) - f(x+step_size)` between finite distance is not accurate enought, the gradient is wrong.
here is the common approach to approximate gradient:
`gradient = (f(x) - f(x+step_size) / step_siz

[2018-12-04 22:38] nonhermitian commented on #1260
Sure

[2018-12-04 22:38] #1260 closed

[2018-12-04 23:13] chunfuchen opened #1424 "crash when set initial_state with complex vector for simulator"
### Informations

- **Qiskit Terra version**: the master branch (Dec. 4th)
- **Python version**: 3.7.1
- **Operating system**: macOS 10.13

### What is the current behavior?
Encounter JSON encoding error

### Steps to reproduce the problem
running with the following qasm and setting
[code]
error message:
[code]

### What is the expected behavior?
Without crash.

### Suggested solutions
Terra shoul

[2018-12-05 00:58] ajavadia commented on #1424
@diego-plan9 can you please look into this? passing a `config` kwarg to `execute()` seems to not serialize correctly...

[2018-12-05 01:01] ajavadia commented on #1420
I think the idea was just that printing the statevector results in things like `[0.1528e-16 + 1.143e-18*j]` which doesn't look nice.

I have done it with default no rounding in #1404.

[2018-12-05 02:43] nonhermitian commented on #1420
There could be a tidyup function that sets all terms <1e-15, or whatever other atol calue you want, to zero so that those floating point zeros do not show up like that

[2018-12-05 05:36] ajavadia opened #1426 "Wire fragment bug in mapper"
### What is the current behavior?
After the big DAG refactor, there were a couple test cases where the mapper failed. Those were disabled temporarily in the interest of merging that PR. Now they must be resolved and re-enabled.

The bug is that the mapper complains that the DAG registers get fragmented during mapping.

[code]

[2018-12-05 10:10] diego-plan9 commented on #1424
I think I need more info - but if you are modifying a `Qobj` instance directly, the data (in this case, I assume is appending the `config`) should be as close to the specs as possible, which would mean that the proper way for that information to be stored would be indeed as a bare list of pairs.

@chunfuchen , can you provide more information about how you are using the custom configuration?

[2018-12-05 12:01] atilag commented on #1392
There seems that the events being emitted by the `transpile_dag` method have been removed in #1406 . As we are changing the behavior of the Progress Bars to show up whenever a `parallel_map` is called, we just need to change the events we are listening in the Progress Bars, from: `terra.transpiler.transpile_dag.*` , to: `terra.transpiler.parallel.*`.
There's only one file to change, starting here:

[2018-12-05 12:03] diego-plan9 commented on #1405
Possibly related to #1333 - and something that would be great to finally tackle indeed.

[2018-12-05 12:13] jaygambetta commented on #1405
Yes it’s the same.

[2018-12-05 12:20] nonhermitian commented on #1392
Ok

[2018-12-05 12:37] #755 closed

[2018-12-05 12:37] #1365 closed

[2018-12-05 12:37] #1420 closed

[2018-12-05 15:06] nonhermitian commented on #1396
This foes not work due to the above pickling issue.

[2018-12-05 15:06] #1396 closed

[2018-12-05 16:20] chunfuchen commented on #1424
@diego-plan9
here is the example script
[code]

[2018-12-05 17:38] diego-plan9 commented on #1424
Thanks @chunfuchen ! I think there are several forces at play here:
* the `config` is indeed appended to the `Qobj` "directly" in `circuits_to_qobj`. If we still consider `Qobj` to be a rather dummy and bare container, it would make sense that it is stored in the right format (ie. complex as tuple) one it reaches that point.
* whether we can limit all the possible inputs for `config` and reach som

[2018-12-05 18:17] 1ucian0 commented on #880
You might be right @jaygambetta. In the current code in master:
[code]
and
[code]

[2018-12-05 18:18] MarcelloCa opened #1432 "Process Tomography"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.7
- **Operating system**: OsX

### What is the current behavior?

The process tomography for a teleported state seems providing awkward results. Conversely, state tomography for the same circuit works just fine

Specifically, this is the ideal Chi matrix for a X Gate.
![unknowny8lhsy80zi8](https://user-images.githubusercon

[2018-12-05 18:22] 1ucian0 commented on #880
Indeed, `_circuit_from_qasm` calls the unroller and it seems that is not possible to define a basis there:
[code]

Maybe I should rename the issue to `_circuit_from_qasm unrolls up to standard extension`?

[2018-12-05 18:38] nonhermitian commented on #1424
I would say that it should be possible to take a state vector returned by `results.get_statevector()` and feed it into the circuit in `initial_state` with no conversion by the user.  Since the former is a NumPy array, the former should accept that as an input.

[2018-12-05 19:19] jaygambetta opened #1434 "Renaming instructions operations?"
### What is the expected enhancement?
@ajavadia and I had some discussions about renaming the instruction class operation. I don't mind what we do here but in the circuit, it is called instructions and then in the dag, it goes to operations. We need to make it clear with the one name.

My vote is instructions
@ajavadia is operations.

Thoughts?

[2018-12-05 19:32] dongreenberg commented on #1434
Does anything break if we wait to settle the name during the Q1 circuit work?

[2018-12-05 19:35] filemaster commented on #1352
It seems to be working fine. @nonhermitian, please show an example where the visualisation fails to try to understand the problem.
![1](https://user-images.githubusercontent.com/1753426/49538835-97e23000-f8cc-11e8-96de-ea3b11561fe0.png)
![2](https://user-images.githubusercontent.com/1753426/49538836-97e23000-f8cc-11e8-9ecd-c77e27fe8971.png)

Figures arrangement depends on their own width and the p

[2018-12-05 20:01] ajavadia opened #1435 "Need to test all transpiler passes leave input DAG intact"
### What is the expected enhancement?
We have defined transpiler passes as producers of a new DAG, not modifiers of the DAG that they read. As such, we need a test to check that for all passes in `qiskit.transpiler.passes`, the input DAG stays intact.

[2018-12-05 20:02] filemaster commented on #1356
@nonhermitian, for all figures, the size that you can set is for the container and the units are pixels. The figure will be plotted in the container according its size. I think there is no any bug and all works as expected. The only thing we can do is to force a minimum size for the containers (ignoring user defined size if it is smaller).
![captura de pantalla 2018-12-05 a las 20 55 35](https://u

[2018-12-05 20:40] chriseclectic commented on #1424
@diego-plan9 I found a related bug to this in `QobItem`:

The line

[code]

should be

[code]

to recursively parse arse a complex array, otherwise it will only convert the array to a list, but not serialize the inner complex numbers correctly.

[2018-12-05 20:54] chriseclectic commented on #1424
Can confirm above fixes this issue:

[code]

Returns `array([0.+0.j, 0.+0.j, 0.+0.j, 0.+1.j])` as expected.

Fix in PR #1436

[2018-12-05 21:12] #1063 closed

[2018-12-06 02:00] chunfuchen opened #1437 "generated circuits had the same name if created by multiprocess"
### Informations

- **Qiskit Terra version**: the master branch
- **Python version**: 3.7.1
- **Operating system**: macOS 10.13

### What is the current behavior?

The generated circuits have the same name and it results in users cannot retrieve the result correctly since terra uses the circuit name to retrieve the result.

### Steps to reproduce the problem
here is the example script

[code]

###

[2018-12-06 02:07] nonhermitian commented on #1437
The solution is passing a tuple of (idx, circuit) as the argument to parallel map, and then doing the naming.

[2018-12-06 04:03] #1419 closed

[2018-12-06 04:51] ajavadia commented on #716
There is no deprecation warning during these tests anymore, so I'm closing this.

[2018-12-06 04:51] #716 closed

[2018-12-06 09:11] nonhermitian commented on #1437
I will fix it.

[2018-12-06 09:51] nonhermitian commented on #1437
And why not use the parallel tools that are already in terra?  i.e. `parallel_map`?

[2018-12-06 11:06] #1424 closed

[2018-12-06 13:14] filemaster commented on #1352
I think the problem is you're trying to use inches (I don't know why) to define the size of the images. You have to use pixels instead.

[2018-12-06 13:30] filemaster commented on #1357
The 'local phase angle' image is only a legend, so it will not be resized with the graph. I you think it is small we could make it bigger or add a parameter to allow the user to define its size. Anyway it is not a bug.

[2018-12-06 13:50] filemaster commented on #1358
I tried to run a 5qbit simulator and generate some graphs and it didn't require a lot of CPU.
The picture is a snapshot of my laptop screen running Jupyter and showing a hinton and a cities plot. As you can see Jupyter uses less than 15% of the CPU.
<img width="1514" alt="2" src="https://user-images.githubusercontent.com/1753426/49587852-65384600-f965-11e8-964c-d5a041dc35ea.png">

We need an examp

[2018-12-06 14:01] jaygambetta commented on #1434
no this is post 0.7

[2018-12-06 14:10] jaygambetta opened #1440 "remove the folder wrappers (post 0.7)"
### What is the expected behavior?
After 0.7 we don't this folder anymore.

[2018-12-06 14:35] chunfuchen commented on #1437
I could give it a try with the `parallel_map` in the Terra but may I know that what is the advantages over standard library? will it manage the thread/process better when using with Terra?

[2018-12-06 14:53] nonhermitian commented on #1437
It is a well tested function for running tasks in parallel that supports additional static args and kwargs, correctly handles the Windows platform, and nicely groups the return items in a list.  In addition, you can use it to track the execution progress using the builtin terra progress bars.

[2018-12-06 15:44] #1407 closed

[2018-12-06 17:33] nonhermitian commented on #1352
So, the issue is that originally the interactive tools were supposed to be as close to drop in replacements for the original Matplotlib versions.  Matplotlib `figsize` is the figure size in inches.  The docs for the interactive visualizations do not mention the need for pixels as the size.  So one would expect the figure size units to be the same.  In addition, setting figure size values of `(5,5)

[2018-12-06 17:34] chriseclectic commented on #1432
There are two issues here:

1. You have commented out the measurement and conditional corrections on the ancilla qubits needed for teleportation. Without these the output state of the teleported qubit is effectively random.

2. The process tomography function cannot really handle a teleportation circuit as the function assumes you are preparing and measuring the same qubits. In tomography of a tel

[2018-12-06 17:35] nonhermitian commented on #1358
Here is what I got when writing my reply to #1352.  The interactive JS is the 111% at the top.  In general, such behavior occurs on mouse over, or when trying to manipulate a figure

<img width="1248" alt="screen shot 2018-12-06 at 12 30 29 pm" src="https://user-images.githubusercontent.com/1249193/49601247-47fa7c00-f953-11e8-808f-e3bcafe1a5a6.png">

[2018-12-06 17:36] nonhermitian commented on #1357
I would call a visualization that you cannot read a bug.  I would just make it large enough to read if it can not be resized.

[2018-12-06 17:37] nonhermitian commented on #1354
Why does `(9,9)`, or any number less than 10 work then?

[2018-12-06 17:38] nonhermitian commented on #1353
I would say this can be grouped with #1358.

[2018-12-06 17:39] nonhermitian commented on #1355
This can also be grouped with #1358

[2018-12-06 18:07] ajavadia opened #1441 "_define_decomposition() is slow"
### What is the expected enhancement?
After #1210 every gate has associated with it a `gate._decompositions`. The quick and dirty way was to call a `self._define_decompositions()` at __init__ time, but that gets called with every Gate and becomes slow for large circuits. We should factor out that logic so it is a class property and only computed once per class, not for each instance separately.

[2018-12-06 18:08] MarcelloCa commented on #1432
Chriseclectic, thanks for replying.

1. Indeed, measurements and conditional corrections have been commented. But they have been replaced by CX and CZ in agreement with the principle of deferred measurements. See as instance, Fig. 4 in [https://arxiv.org/pdf/1112.3489.pdf](url) attached also here:
<img width="1249" alt="schermata 2018-12-06 alle 18 59 11" src="https://user-images.githubusercontent

[2018-12-06 18:32] chriseclectic commented on #1432
Ah ok, I didn't pay enough attention to your circuit. Yes if you do the controlled gates then my first point doesn't matter. State tomography works because you are performing measurements on qubit-2 for an input prepared on qubit-0. Process tomography doesn't work for the reasons I said above: the function is returning circuits that prepare the different tomographic input states on qubit-2, and to

[2018-12-06 18:38] MarcelloCa commented on #1432
Any hint or suggestion on how to do it will be greatly appreciated.

[2018-12-06 18:51] filemaster commented on #1302
@ajavadia, I was taking a look to the Wigner method. It seems to work only with Tomography module and I tried to generate data from this module to populate the figure, but the Tomography module  seems to be broken.

[2018-12-06 20:22] chriseclectic commented on #1432
There isn't an easy way to do this at the moment. You would have to edit the tomography functions to specify lists of input and output qubits separately.

[2018-12-06 20:54] mtreinish commented on #1441
So I'm looking at how to solve this and the only way I can come up with only running _define_decompositions() once for the entire run of the program is something like:

[code]
for every gate. Does this work for you?

[2018-12-07 09:42] diego-plan9 commented on #1175
Closing as the Connector is in place after the rounds of PRs. There are still some improvements to be transferred from the `qiskit_requirements` branch (as per the checklist above), and also other refactorings and improvements, but they can be tackled in another post 0.7 issue.

[2018-12-07 09:42] #1175 closed

[2018-12-07 10:10] filemaster commented on #1358
@nonhermitian, any task could use more than 100% of CPU without freeze the computer, because it can be using more than one CPU cores. The problem you show in the snapshot is not related with the CPU usage amout, it is related with the bug #1353. We are fixing that.

For 2D graphs we are using Plotly. When you try to assign a small area for the graphical representation, Plotly tries to adapt to the

[2018-12-07 10:49] diego-plan9 commented on #1332
After #1401 and #1413, the only thing left would be to update the `qasm_def` of some gates (the ones that are not part of the standard library, which still contain some placeholder values). Considering the upcoming moving of the simulators, I'm closing the issue - @jaygambetta please reopen if this is something that should be tackled pre-move to aer.

[2018-12-07 10:49] #1332 closed

[2018-12-07 10:52] diego-plan9 commented on #1052
Closed via #1379

[2018-12-07 10:52] #1052 closed

[2018-12-07 11:33] quantumjim opened #1446 "Issue with new `from_qasm_str()` method"
### Information

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.0
- **Operating system**: macOS 10.13.6

### What is the current behavior?

The `from_qasm_str()` method of `QuantumCircuit` does not seem to work.

### Steps to reproduce the problem

As far as I can tell

[code]
Should print the `qasm` string as defined in this snippet. Instead it just gives

[code]

along with the erro

[2018-12-07 12:14] diego-plan9 commented on #1046
I have updated the checkboxes - after #1447 (which takes care of the aliased/deprecated methods), the only remaining are:

* `backend.hub, group, and project -> should that be turned in methods`

I think this is not needed, as backends now have a `.provider()` that is part of the base definition and the encouraged way to handle fetching information about its provider. Hub, group and project are no

[2018-12-07 12:14] diego-plan9 commented on #1046
Oh and the autocomplete remains a bit of a mistery :grin:

[2018-12-07 12:29] diego-plan9 opened #1448 "Move qiskit.Qobj to model-based approach"
### What is the expected enhancement?

The `qiskit.Qobj` class is currently the only item in the schema that does not fully use the `qiskit.validation` mechanism - it uses the previous iteration of the idea, which is similar in its usage but lacks a number of features. Ideally, refactoring it would allow us to take advantage of those (more fine-grained validation and informative error handling, be

[2018-12-07 13:39] dongreenberg commented on #1448
I'd like to float the idea of moving to protocol buffer or a similar library for the qobj, for the following reasons:
1) Protobuffers are higher performance than Json in serialization and packet size
2) Validation is built in, so we don't need to implement it from scratch, including providing meaningful error messaging or performance optimization
3) Using protobufs gives us access to other high pe

[2018-12-07 15:21] mtreinish commented on #1446
So I took a look at this and the issue is actually in the example script. The `from_qasm_str()` method is a static constructor, it operates off the class to return a circuit object based on the input qasm. In the example you're creating a blank circuit with `qc = QuantumCircuit()`, then creating a new circuit based on the qasm with `qc.from_qasm_str(qasm)` but never doing anything with it so it's

[2018-12-07 15:52] quantumjim commented on #1446
Thanks. So if I use `qc = qc.from_qasm_str(qasm)` then it would have worked (despite being a terrible way to do it!)

In that case, I guess there's no issue. It's not even that I found a method that leads to a fatal error, for which we could do something to prevent it, because it is possible to use this method to get the job done.

[2018-12-07 15:52] #1446 closed

[2018-12-07 16:51] nonhermitian opened #1449 "circuit.draw(output='mpl) does not draw qubit labels correctly."
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: osx

### What is the current behavior?
Using Latex:
<img width="603" alt="screen shot 2018-12-07 at 11 49 43 am" src="https://user-images.githubusercontent.com/1249193/49661112-39c16400-fa16-11e8-8610-70a1d89474e6.png">
Using MPL:
<img width="496" alt="screen shot 2018-12-07 at 11 50 21 am" src="

[2018-12-07 17:01] mtreinish commented on #1449
@nonhermitian give #1450 a try, that should fix it

[2018-12-07 17:19] mtreinish opened #1451 "Add an option to circuit drawer to display quantum section only"
### What is the expected enhancement?

Right now if you build a circuit with measurements and classical registers we unconditionally always draw those measurements and classical registers. But sometimes you only need/want to visualize the quantum section of the circuit, to show just the gates and quantum registers. It'd be useful to add a kwarg to `qiskit.tools.visualization.circuit_drawer()` that

[2018-12-07 17:35] ajavadia commented on #1451
But do draw measurements if they appear in the middle of the circuit!

[2018-12-07 18:10] #1449 closed

[2018-12-07 18:18] mtreinish opened #1452 "Cleanup mpl circuit_drawer module (post 0.7)"
### What is the expected enhancement?

As pointed out in the review for https://github.com/Qiskit/qiskit-terra/pull/1450 there are a few artifacts leftover from the json->dag conversion for the mpl backend. Things like misleading variable names and out of date notes and comments. After the 0.7 release it would be good to go through the module and clean this up to make maintenance easier.

[2018-12-07 19:00] nonhermitian opened #1453 "Latex drawer does not respect barriers"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
[code]
<img width="609" alt="screen shot 2018-12-07 at 1 59 05 pm" src="https://user-images.githubusercontent.com/1249193/49667194-59fa1e80-fa28-11e8-9e26-3b53e10fd2df.png">

vs mpl:

<img width="609" alt="screen shot 2018-12-07 at 1 59 17 pm" src="https://u

[2018-12-07 19:04] ajavadia commented on #1453
I think duplicate of https://github.com/Qiskit/qiskit-terra/issues/1124

[2018-12-07 19:19] MarcelloCa commented on #1432
Chriseclectic, I believe you mean something like this:

[code]

It seems working just fine, if needed by someone I can share the code (a couple of lines in process_tomography_set)

[2018-12-07 20:34] chriseclectic commented on #1432
Hi @MarcelloCa I put in a patch with this fix in #1454, can you have a look and see if that works for you?

[2018-12-07 20:54] filemaster commented on #1358
Visualization library has been updated just now, with next changes:

* Fixed 2D-elements issue related with the container size.
* Fixed Histogram and Paulivec jumps if hover was drawn out of the graph area.
* Fixed 3D-elements aspect ratio when defined width was different from height.
* QSphere legend size is automatically adapted according the container size.

**Note**: all the image dimensions a

[2018-12-07 20:56] filemaster commented on #1357
See: #1358

[2018-12-07 20:56] filemaster commented on #1356
See: #1358

[2018-12-07 20:57] filemaster commented on #1354
See: #1358

[2018-12-07 20:57] filemaster commented on #1352
See: #1358

[2018-12-07 20:57] filemaster commented on #1259
See: #1358

[2018-12-07 21:32] 1ucian0 commented on #1417
Closed via PR #1433

[2018-12-07 21:32] #1417 closed

[2018-12-09 13:18] nonhermitian commented on #1451
Closing this per the discussions with @jaygambetta

[2018-12-09 13:18] #1451 closed

[2018-12-10 14:57] delapuente commented on #1405
Closing as dup of #1333

[2018-12-10 14:57] #1405 closed

[2018-12-10 15:16] chriseclectic opened #1458 "plot_histogram doesn't always display in Jupyter notebook"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS 10.14.1

### What is the current behavior?

Plot histogram doesn't always display output in a Jupyter notebook. I've discovered at least two cases:
* If `plot_histogram` is inside an `if` block no output is shown
* if more than one `plot_histogram` is used in a Jupyter cell only the last ou

[2018-12-10 15:51] mtreinish commented on #1458
This is because Jupyter is displaying the histogram via the returned Figure object from the function instead of being drawn by the ipython matplotlib backend when the function returns (because we close the figure in the function). So Jupyter is treating the display of the plot like it would display any output from a variable in a cell.

This was a trade-off made for the 0.7 release as all the plot

[2018-12-10 15:52] mtreinish commented on #1453
Yes, this is a duplicate of https://github.com/Qiskit/qiskit-terra/issues/1124 I'm closing this and we can track that there.

[2018-12-10 15:52] #1453 closed

[2018-12-10 16:40] delapuente commented on #1399
I think this is more related to the device you use for running the experiment and perhaps the folks from Aer (@atilag) can give you more info.

[2018-12-10 16:41] delapuente commented on #1399
See also https://github.com/Qiskit/qiskit-terra/issues/623

[2018-12-10 17:08] ajavadia commented on #1164
closed with #1270

[2018-12-10 17:18] chriseclectic commented on #1458
@mtreinish Is there a way to display multiple per cell using the figure object? Something like:
[code]
Or do we just have to ensure we only have one plot_histogram per Jupyter cell?

For me doing `fig.show` just prints the error:
[code]
Unrelated but another feature that would be nice for the plot_histogram is to have a kwarg to add a title above the plot like `plot_histogram(counts, title="Result

[2018-12-10 18:12] #1164 closed

[2018-12-10 19:48] mtreinish commented on #1458
@chriseclectic can you try:
[code]

I think that should do what you want. (which will change the backend to an interactive/GUI backend for jupyter so the show() method will work) I'm having trouble getting that backend to display on my system (with errors in the jupyter logs)  but it might just be an issue with the versions of everything I have installed.

As for the title kwarg, I'll quickly thro

[2018-12-10 20:09] mtreinish commented on #1458
See https://github.com/Qiskit/qiskit-terra/pull/1459 for the PR adding the title kwarg.

[2018-12-10 20:10] godott opened #1460 "DAGCircuit node_counter variable doesn't update with transpiler passes"
### Informations

- **Qiskit Terra version**: 0.7
- **Python version**: 3.6
- **Operating system**: Ubuntu 16

### What is the current behavior?
When executing the CX cancellation pass in transpiler, the actual number of nodes changed, but the variable in DAGCircuit called "node_counter" which tracks the number of nodes doesn't change with it.

### Steps to reproduce the problem
The following code

[2018-12-10 20:43] #1432 closed

[2018-12-11 02:43] 1ucian0 opened #1461 "Test all mappers with the same input"
### What is the expected enhancement?

We start having several mappers and we need a way to test them all using a variety of inputs. @ajavadia suggested to `execute` and `get_count` all them, to make sure that they are doing a good job.

I'm not fully sure about this approach. I think is better to test their outputs against a ground truth.

Comments or ideas?

[2018-12-11 02:48] 1ucian0 commented on #1461
A possible approach in https://github.com/Qiskit/qiskit-terra/pull/1462

[2018-12-11 10:43] delapuente commented on #1448
Thank you @dongreenberg for noticing this. I'm a 100% supporter of the idea of generated code based on an intermediate IDL such as `proto3` and choosing a binary representation for the transportation layer.

Even if switching to an alternative representation, what we don't want is to continue coupling the object model with the transportation format so we should evaluate how separable is `proto3` f

[2018-12-11 15:08] kdk commented on #1461
:+1: I think this can be a good way of quickly testing correctness (and consistency) across mappers, as long as we can define a high-level set of invariants around how any mapper is expected to behave, and the tests stay at that level (so as not to prevent or make harder the differences/experimentation we want between mappers.) This feels sort of similar to contract testing.

e.g. testing that all

[2018-12-11 15:18] kdk commented on #1426
Looked into this briefly and it looks like this is caused by the way we construct the `identity_wire_map` up to a size `of `layout_max_index`, but elsewhere construct an output dag with size of the physical qubits in `coupling_map`. Since not all physical qubits are included in the layout, some physical qubits end up missing from the generated wire map. I've got a WIP PR that fixes at least some o

[2018-12-11 15:31] taalexander commented on #1448
I would also like to chime in that I am a supporter of moving to a new serialized data format such as protobuffers. I do believe we would have to do a proper survey of the field before settling on a format.

[2018-12-11 15:36] nonhermitian commented on #1448
Yes. If you guys want to make a
Big change right on the heels of qobj release, you better have some timing results that justify the work involved. Also what about HDF5?

[2018-12-11 15:55] taalexander commented on #1448
Hence why we would need to do this properly. Built-in validation and accessors would also remove many pain-points with the backends. HDF5 only gives us the serialized format, not the other benefits.

[2018-12-11 16:11] dongreenberg commented on #1448
Agreed that this needs to be fleshed out, options explored, and to be properly justified. Is there a Qobj v0 design doc floating around somewhere? This smells like a Qobj v1 design doc.

[2018-12-11 22:28] agoscinski opened #1468 "Melbourne device calibration values are unrealistic/wrong"
### Informations

- Qiskit 0.6.1:
- Python 3.6.5:
- Ubuntu 18.04.1 LTS:

### What is the current behavior?
The 7th qubit (Q7) of the Melbourne device returns on some days wrong values for the T1 and T2 times as 865535.9, 706334.6, -1644438.2

### Steps to reproduce the problem
Here are the last update dates where the Q7 data is wrong
For T1:
2018-12-07T13:46:45.000Z
2018-11-28T09:03:24.000Z
For T2

[2018-12-11 22:49] ajavadia commented on #1299
I updated the original issue description with more explanation, after several internal discussions.

[2018-12-11 23:40] jaygambetta commented on #1299
I’m good with this.

[2018-12-12 02:32] chunfuchen opened #1470 "A proper way to combine the result object"
### What is the expected behavior?

In the newest branch, there is a deprecated warning about discouraging use `+` to combine multiple result objects; however, I can not find a proper way to combine the result object if I have multiple results.

The situation is that since there is a limitation to submit circuits to the remote quantum device, we need to get the results over multiple jobs. For the

[2018-12-12 09:18] chunfuchen commented on #1470
I do not mind Aqua users will keep seeing the deprecated message but just wonder how to surpass the deprecated message properly. I can copy the codes for combining jobs used in Terra to Aqua, just a few lines.

But if the mega job is not supported yet, why the combination of result objects are deprecated?

[2018-12-12 11:57] jaygambetta commented on #1470
We can’t do that. Let’s think about an option.

[2018-12-12 13:52] Exferro commented on #1186
I would like to deal with this as with good first issue: I see that there are still no tear downs, tests are still random and test suite still checks only the existence of files.

@1ucian0, could you please give me brief instructions: is there is something to discuss or I can simply start working on issue?

Thanks!

[2018-12-12 14:40] ajavadia commented on #1114
This is fixed now.

[2018-12-12 14:40] #1114 closed

[2018-12-12 14:48] atilag commented on #1183
Yep, Visual C++ Redistributable is indeed needed. Unfortunately the license doesn't allow us to redistribute it in our wheel package, so the user needs to install it manually. We do recommend installing Visual C++ Redistributable 2017, but 2015 will work though.

[2018-12-12 15:18] t-imamichi commented on #1183
Thank you for confirming it. It is good to mention it in the installation manual.

[2018-12-12 18:38] delapuente opened #1476 "Consider moving "transpilation" responsibilities of Qiskit to `qiskit.terra`"

[2018-12-12 18:55] #1426 closed

[2018-12-12 18:56] 1ucian0 commented on #1426
Fixed via https://github.com/Qiskit/qiskit-terra/pull/1464

[2018-12-12 19:46] 1ucian0 opened #1478 "Split optimize_1q_gates pass"
The code in the `optimize_1q_gates` pass says:
[code]
I'm not really sure to which refactor the comments is refering too. @ajavadia any idea?
Probably is time to jump in...

[2018-12-13 06:57] delapuente commented on #1372
Per online conversations with Ali, the root cause of #1372 is a bug introduced by #1404. Despite Jay's comment of considering new jobs only, all the machinery for supporting the old format is in place. Fixing the root cause should be considered.

[2018-12-13 13:58] #1372 closed

[2018-12-13 15:11] quantumjim opened #1482 "import qiskit doesn't work"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.0
- **Operating system**: OSX

### What is the current behavior?
[code]

### Steps to reproduce the problem

`import qiskit`, or `from qiskit import *`, etc.

### What is the expected behavior?

Qiskit should get imported.

### Suggested solutions

Problem possibly related to #1455 ?

[2018-12-13 15:17] ajavadia commented on #1482
This should be fixed by #1480.

[2018-12-13 15:20] mtreinish commented on #1482
Yeah, this will be fixed by #1480 . Also fwiw I wanted to add this to our ci so we could catch failures like this some time ago with:  https://github.com/Qiskit/qiskit-terra/pull/1201

[2018-12-13 15:32] mtreinish commented on #1482
Although now that I think about it some more I'm not sure that #1201 will catch this because it's using editable mode which just sets a link for the package.

[2018-12-13 17:14] mtreinish commented on #1482
This should be fixed now that #1480 has merged.

[2018-12-13 17:14] #1482 closed

[2018-12-13 18:46] delapuente commented on #1476
Deferred after 0.7.

[2018-12-13 20:03] #1140 closed

[2018-12-13 20:49] ajavadia opened #1485 "BasicMapper error with measurements"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

[2018-12-13 20:57] kdk commented on #1485
Ref #674 and #691 for how this is fixed within the existing mapper.

[2018-12-13 21:17] quantumjim opened #1486 "'qasm_simulator' doesn't work when cpp is not installed"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**:
- **Operating system**:

### What is the current behavior?

Using `qiskit.Aer.get_backend('qasm_simulator')` when the cpp backend is not installed yields the warning

```The 'qasm_simulator' backend is not installed in your system. Consider using a slower backend alternative: 'qasm_simulator_py'```

Previously, the qasm simu

[2018-12-13 21:34] quantumjim commented on #1486
Thanks.

Personally, I'd prefer it to throw a warning but run anyway. That would tell people why it's slow, but not break anything. In any case, I'll close this down.

[2018-12-13 21:34] #1486 closed

[2018-12-13 22:59] 1ucian0 commented on #1485
I think the way to fix the misplacing of the measurement is by forcing them at the end of `serial_layer`.

[2018-12-14 03:53] #1485 closed

[2018-12-14 05:39] Exferro commented on #1186
@1ucian0 Sorry if I distract you, but I will make one more mention of you. Thanks in advance!

[2018-12-14 05:50] balewski commented on #1114
Hi,
I just run my code against ibmQX4 and still see jobObj=job.qobj() crashes.
Can you point me to documentation how to access
ran_qc=jobRes.get_ran_qasm(circuit_name)
Thanks
Jan

- - -
jobRes=job.result()
jobData=jobRes.get_data()
pprint(jobData)
print('Get circuit as executed on backend=%s'%(backendName))
jobObj=job.qobj()
- - -

job done, :
{'counts': {'00000': 9,
            '00010': 103,

[2018-12-14 06:35] delapuente opened #1489 "Review the messages encouraging the use of slower Python simulators alternatives"
### What is the expected enhancement?
After #1484 Python and C++ simulators no longer live under the same `Aer` provider but they are split between `Simulators` and `LegacySimulators` providers respectively. `Simulators` make it clear they are the built-in simulators coming with the foundational Terra element but now, strings such as:

Does not make sense.

[2018-12-14 06:38] delapuente commented on #1486
After #1484, we should review these strings (I've open #1489 to keep track of this). Although I agree with @quantumjim in that we should use the Python provider version (which now lives as `qiskit.Simulators`), it seems tutorials will recommend installing the new Aer element. As a compromise, we could use `qiskit.Simulators` until 0.8, when Aer is stabilized enough to get rid of the previous C++ s

[2018-12-14 07:19] delapuente opened #1490 "Finsih Qiskit Terra, Qiskit Aer and metapackage integration"
In order to complete `qiskit-terra` and `qiskit-aer` integration we must:

- [x] Resolve the versioning problem. What's the version of Qiskit Terra? And Qiskit? ([versioning](https://github.com/Qiskit/qiskit#versioning))
- [x] Make Terra `qiskit` try to import `Aer` provider from the Aer element if possible (#1492)
- [x] Adjust Qiskit Aer to be pluggable ([qiskit-aer/#150](https://github.ibm.com/I

[2018-12-14 09:03] atilag commented on #1489
Did we change the backend names for the python simulators as well?

[2018-12-14 12:54] 1ucian0 commented on #1186
Thanks for the second ping! (I missed the first one). It seems you have a
good grasp on the problem here so fell free to start working on it and we
can polish it as a PR.

Thanks for your contribution and let me know if you have any questions

On Dec 14, 2018 12:39 AM, "Aleksei Malyshev" <notifications@github.com>
wrote:

@1ucian0 <https://github.com/1ucian0> Sorry if I distract you, but I will
ma

[2018-12-14 14:24] quantumjim opened #1493 "qobj not enabled on ibmqx4"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**:
- **Operating system**:

### What is the current behavior?

Running a job on ibmqx4 () yields the following error message.

[code]

### Steps to reproduce the problem

Run something like [quantum_world](https://github.com/Qiskit/qiskit-tutorial/blob/master/community/hello_world/quantum_world.ipynb).

[2018-12-14 14:40] mtreinish commented on #1490
For the version I assumed the metapackage `qiskit` and `qiskit-terra` package would keep in sync and both be at version 0.7.

[2018-12-14 14:45] mtreinish commented on #1490
Should scenario 1 be: "install just the terra element through `pip install qiskit-terra`" I thought the idea of the metapackage was it would always install terra and aer in one go

[2018-12-14 21:45] Exferro commented on #1186
@1ucian0 Okay, I start working on it. However, I have an instant question: in the `test/python/tools/visualization/test_visualization_output.py` I see that there is already test for `latex_circuit_drawer` which compares the output of drawer under the current version with the reference output which is exactly the test I wanted to start with.

Moreover, a `latex_circuit_drawer` is tested there whils

[2018-12-14 21:57] mtreinish commented on #1186
`latex_circuit_drawer` is the deprecated function that will be removed. Moving forward the only function will be `circuit_drawer` with different outputs set via the `output` kwarg. We just haven't updated the tests yet because both paths call the same functions. If you want to make everything use circuit drawer as part of your improvements that'd be awesome.

[2018-12-15 04:13] ajavadia commented on #1441
The main bottleneck here is gone with #1455.
I'll close this issue. PR #1445 adds some more speedup, but it's not critical for 0.7.

[2018-12-15 04:13] #1441 closed

[2018-12-15 04:15] jaygambetta commented on #1489
We should just remove.

[2018-12-15 04:16] #994 closed

[2018-12-15 04:20] jaygambetta commented on #1183
@t-imamichi please make a pr

[2018-12-15 06:00] jaygambetta commented on #1150
@nonhermitian can we close

[2018-12-15 06:13] #1046 closed

[2018-12-15 06:16] jaygambetta commented on #1045
This is a performance of the device. I would suggest asking this in the slack in the ibmq provider channel. It is not an bug of qiskit. I hope someone there can help you.

[2018-12-15 06:16] #1045 closed

[2018-12-15 06:18] jaygambetta commented on #954
Are you still seeing this error

[2018-12-15 06:21] jaygambetta opened #1498 "post qobj remove compied qasm from qobj header"
Once all the devices are using qobj we need to remove the compiled qasm from the header

[2018-12-15 06:36] jaygambetta commented on #1399
Noise while present was not officially supported and is removed from qiskit-terra and will be part of aer. There are lots of noise features in aer and is getting prepared to come out. Please check aer out and let us know what features you might also need.

[2018-12-15 06:36] #1399 closed

[2018-12-15 06:37] jaygambetta commented on #861
@chriseclectic i think you have done this. correct?

[2018-12-15 06:39] jaygambetta commented on #537
closing as this is not part of terra anymore and will be documented in aer.

[2018-12-15 06:39] #537 closed

[2018-12-15 06:42] jaygambetta commented on #567
I am closing this as I agree with Juan.

[2018-12-15 06:42] #567 closed

[2018-12-15 06:45] jaygambetta commented on #664
@chriseclectic this is all done in the basicAer do you see any reason to keep this open.

[2018-12-15 06:47] #783 closed

[2018-12-15 06:48] jaygambetta commented on #783
closing as all noise is moving to aer

[2018-12-15 06:49] jaygambetta commented on #939
@nonhermitian is this still an issue or can we close

[2018-12-15 10:30] #1392 closed

[2018-12-15 10:38] nonhermitian commented on #939
Done.

[2018-12-15 10:38] #939 closed

[2018-12-15 10:40] nonhermitian commented on #1150
Done

[2018-12-15 10:40] #1150 closed

[2018-12-15 11:33] jaygambetta commented on #1468
This is outside the scope of qiskit so let’s clossed.  I know the experimental team is working on this and it if continues please make an issue in the provider repo.

[2018-12-15 11:33] #1468 closed

[2018-12-15 11:48] quantumjim commented on #1493
The results of the runs have a different problem, though. Using `get_memory` works fine with the simulator, but the real device gives

[code]

[2018-12-15 12:05] Exferro commented on #1186
Thanks a lot, now it is clearer to me. Then, I start and I will use only `circuit_drawer` as you said and do my best)

[2018-12-15 12:13] nonhermitian commented on #1458
%matplotlib inline

Also works

[2018-12-15 12:13] #1458 closed

[2018-12-15 14:35] jaygambetta commented on #1145
I am removing the 0.7 this can be done after.

[2018-12-15 14:35] jaygambetta commented on #1183
I am removing the 0.7 this can be done after.

[2018-12-15 19:00] godott opened #1501 "Need a DAG edge remover/detector"
1. Right now if there are two edges between two nodes(can happen between two CNOTs share two common qubits), dag.multi_graph.remove_edge(node1, nod2) can't specify which one to remove.
2. dag.multi_graph.has_edge(node1, node2) can only tell if there's an edge between two nodes, but can't tell if there's an edge between the two nodes on a particular qubit wire.

### What is the expected behavior?
1

[2018-12-15 19:02] godott opened #1502 "Need a data structure to list the gates on qubits"
### What is the expected behavior?
Every qubit wire is given a list stores the gates operated on it in order. It will help DAGCircuit manipulation.

[2018-12-15 19:04] godott opened #1503 "CXCancellation only cancel CNOTs with 1 successor."
The transpiler CXCancellation pass only cancel CNOTs with 1 successor
### What is the expected enhancement?
The transpiler CXCancellation pass cancel CNOTs with multiple successors

[2018-12-15 19:44] jaygambetta opened #1504 "error_message() does not work"
running

[code]

on a previous job that had an error than doing

[code]

returns no message

[2018-12-15 19:49] jaygambetta commented on #1047
This looks great now

[2018-12-15 19:51] jaygambetta commented on #1223
I am going to close this as we the updates to the simulators i believe this is fixed. Also these test will go into aer when aer comes out.

[2018-12-15 19:51] #1223 closed

[2018-12-15 20:00] jaygambetta opened #1505 "Job Status: job is never in queue"
### What is the expected enhancement?
When running a job I never see it in the queue. It is always running

[2018-12-15 20:03] ajavadia commented on #1138
@kdk this is what you and I were talking about. I'll assign you as well.

[2018-12-15 20:12] jaygambetta commented on #1505
update it is working on Melbourne. Maybe it is just the client still.

[2018-12-15 20:16] ajavadia commented on #1145
While doing this let's make sure that #1138 is also addressed (placing final measurements at the end of the `qobj.instructions` list)

[2018-12-15 20:40] jaygambetta commented on #1505
I can confirm this is the client still is not passing the queue position.

[2018-12-15 21:32] nonhermitian commented on #1505
Yes this was reported to api.

[2018-12-15 21:48] #1505 closed

[2018-12-16 03:47] ajavadia opened #1512 "run examples as test"
### What is the expected enhancement?

Ensure examples don't fall out of sync with the codebase by automatically running them as tests.

[2018-12-16 04:00] 1ucian0 commented on #1503
hmm.. can you post an example of what you mean?

[2018-12-16 04:04] ajavadia opened #1513 "interactive=True has no effect with default drawer output ('text')"
### What is the expected enhancement?
I think we either convert the text output to an image and make it pop out, or we clearly document that interactive only works when output is 'latex' or 'mpl'. Not the default 'text'

[2018-12-16 04:08] jaygambetta commented on #1512
This is in #970 but its on my checklist to check them all.

I want to put try accept for aer and basicaer at the start

[2018-12-16 04:08] #1512 closed

[2018-12-16 04:09] godott commented on #1503
What I meant was CXCancellation pass is designed to cancels two consecutive CNOT gates. For this reason, in the code,  the pass only check CNOT that has only 1 successor for cancellation. While if we detect commutation relation in the DAGCircuit(as in the new pull request "new commutation pass"), a CNOT might have two or more successors and can cancel with one of the successors(a CNOT have the sam

[2018-12-16 13:47] #1183 closed

[2018-12-16 14:16] jaygambetta opened #1517 "optional dependecies"
### What is the expected enhancement?

There have been a series of pr #1509 and #1515 and one for matplotlib (im not going to find it here) where we have removed some dependencies from requirements.txt and put them in requirements-dev.txt.

It looks like we are making our philosophy be that qiskit should have a minimum that works and all the cool plotting, visualization, and jypter features are ad

[2018-12-16 14:30] nonhermitian commented on #1517
We cannot give everything due to the dependency on the graphviz binary. However, ideally users should be able to do everything by default

[2018-12-16 16:44] jaygambetta commented on #1476
My vote is to keep the folder structure (with the known changes mapper -> transpile) and removing unrollers and then just have aer, aqua and ignis added into the structure at the correct places.

[2018-12-16 21:45] jaygambetta commented on #1478
The KAK that we did in the volume paper is what i think this is referring to.

[2018-12-16 23:29] jaygambetta opened #1521 "Rename DirectionMapper"
### What is the expected enhancement?
I would like to rename the DirectionMapper to GateDirection or SwapDirection or DirectionSelection or just CXDirection. I think it is important to separate it from mapper pass. This allows us to define the mapper problem as working for any two qubit gate and it just connects with swaps.

This way it is clear that this is not an alternative  mapper pass

[2018-12-17 01:35] jaygambetta opened #1523 "Change the name Lookaheadmapper and basicmapper"
### What is the expected enhancement?
In the folder, it is not clear what is a mapper and what is not. My view (also @ajavadia) is all steps are a mapper. Mapping is all things combined: swap insertion, fix direction, unroll to native gates, etc.

- [x] Unroller
- [ ] LookaheadSwap
- [ ] StochasticSwap should happend in (#1520)
- [ ] BasicSwap
- [ ] LayoutSelect should happen in (#1499)
- [x] CXDi

[2018-12-17 12:56] Exferro commented on #1186
@1ucian0 @mtreinish I have the following question: I see that in fact there are also tests on `_text_circuit_drawer` in the distinct file. Is the `_text_circuit_drawer` also deprecated? If so, shall I refactor all the circuit visualization test suite such that it will check all drawers (mpl, latex and text) as a part of `_circuit_drawer` with different inputs? Thanks!

[2018-12-17 13:02] Exferro commented on #1186
Oh, and I see that #300 is also devoted to this problem. Are you still in touch with @youngchuleta? Won't we work simultaneously on the same part of code? Thanks once again!

[2018-12-17 13:27] ajavadia opened #1528 "Remove `deepcopy` from `circuit_to_dag`"
### What is the expected enhancement?

It's very slow.

[2018-12-17 13:30] quantumjim commented on #1493
I had a problem free run this morning. Seems like we are good to close?

[2018-12-17 13:52] diego-plan9 commented on #1517
@Qiskit/qiskit-visualizations - perhaps `pillow` can also be considered a visualization-only dependency?

[2018-12-17 14:45] ajavadia opened #1529 "Access a job's payload through `job.qobj()`"
### What is the expected enhancement?
One often wants to know the `job.qobj()` associated with a job as well (right now you can only get `job.result()` for previous jobs).

[2018-12-17 14:45] ajavadia commented on #1114
@balewski this issue was just about the job header, and that is working correctly.

The issue of getting `job.qobj()` so you can access a job's payload after submission is something we are working on. It may make it to the shortly coming release (0.7), but if not it will be in the next minor one (0.7.1).

I opened a new issue to track that: https://github.com/Qiskit/qiskit-terra/issues/1529

[2018-12-17 18:55] 1ucian0 commented on #1186
This meta testing (same set of inputs to multiple "backends") is something that we have to do in many parts of Terra. It would be interesting to see you approach :)

[2018-12-17 21:02] ewinston commented on #263
I updated the description above.

[2018-12-17 22:01] #1521 closed

[2018-12-17 22:13] ewinston commented on #1493
ibmqx4 was opened to Qobj this morning.

[2018-12-17 22:13] #1493 closed

[2018-12-18 08:20] MarcelloCa opened #1539 "Process Tomography: RuntimeWarning: invalid value encountered in true_divide freqs = counts / shots"
### Informations

- **Qiskit Terra version**: 0.6.1
- **Python version**: 3.7
- **Operating system**: osx

### What is the current behavior?

Since yesterday evening, I'm having the following error by performing a process tomography for the teleportation process as here [https://github.com/Qiskit/qiskit-terra/issues/1432]
[code]

The Traceback is as follows:
[code]

Before that, I ran over one hun

[2018-12-18 12:35] #1124 closed

[2018-12-18 12:37] #1528 closed

[2018-12-18 12:41] jaygambetta commented on #1523
@ajavadia and @1ucian0 are we going to get these done.

[2018-12-18 14:34] MarcelloCa commented on #1539
It seems like there has not been any shoot at all.
Here the code to reproduce the error (which appears also if measured qubits and prepared qubits are the same.

[code]

and this is the output of 'print(tomo_result)'

[code]

[2018-12-18 15:43] ajavadia commented on #1504
This must be fixed in the IBMQConnector module.

[2018-12-18 15:48] #878 closed

[2018-12-18 15:56] ajavadia commented on #1523
Yes I'll do it.

[2018-12-18 15:58] ajavadia commented on #1517
Yes pillow is only used in the latex and mpl drawers.

[2018-12-18 16:02] mtreinish commented on #1513
So the interactive flag is documented as opening the visualization in a new window. That really wasn't an option with text. Did you have a way in mind for doing it? I can update the docstring though. When I wrote the docstring for the circuit_drawer() the text drawer didn't exist.

[2018-12-18 17:01] nonhermitian commented on #1539
I cannot reproduce your error.  The above code ran fine.  Note however that I have run in on `qiskit-terra 0.7` that is being released soon.

[2018-12-18 17:15] #1529 closed

[2018-12-18 17:53] nonhermitian commented on #1358
This is looking good now.  Thanks!

[2018-12-18 17:53] #1358 closed

[2018-12-18 17:53] nonhermitian commented on #1357
Now visible

[2018-12-18 17:53] #1357 closed

[2018-12-18 17:53] nonhermitian commented on #1356
done

[2018-12-18 17:53] #1356 closed

[2018-12-18 17:53] nonhermitian commented on #1355
Done

[2018-12-18 17:53] #1355 closed

[2018-12-18 17:53] nonhermitian commented on #1354
done

[2018-12-18 17:53] #1354 closed

[2018-12-18 17:53] nonhermitian commented on #1353
done

[2018-12-18 17:53] #1353 closed

[2018-12-18 17:54] nonhermitian commented on #1352
done

[2018-12-18 17:54] nonhermitian commented on #1259
and done. Thanks

[2018-12-18 17:54] #1259 closed

[2018-12-18 20:10] 1ucian0 commented on #880
The output error now is different:
[code]
[code]

I suspect that the problem now is another one...  renaming the issue

[2018-12-18 21:08] 1ucian0 commented on #1503
Can you post some small code to show me a broken example? Something like,

[code]

[2018-12-18 21:14] MarcelloCa commented on #1539
I tried once more and it still doesn't work (counts and shots equal to 0 within the tomo_job.result() )

I used qiskit 0.6.1 with tomography.py patched as from @chriseclectic fix [here](https://github.com/Qiskit/qiskit-terra/issues/1432).

Updated: same issue with the original tomography.py

[2018-12-18 21:31] 1ucian0 opened #1552 "CX Cancellation does not cancel the sequence cx1, cx2, cx2, cx1"
The following code should result in empty circuit after CX cancellation:
[code]
The current result is:
[code]

[2018-12-18 21:48] ajavadia commented on #1552
No this is by design. You should run the CXCancellation pass in a loop using `property_set.fixed point['depth']`

[2018-12-18 21:50] ajavadia commented on #1513
Updating the docstring (maybe a 'warning' that interactive doesn't work with this `output` arg?) sounds good. I originally thought converting the text output with a bounding box to an image and showing that, but that's probably too crazy.

[2018-12-18 21:53] MarcelloCa commented on #1539
I'm not sure eigensolver is the issue.

Look at the awkward tomo_result:
- zero shots for each measurement
- hence, with zero counts for each of the two possible measurement outputs

There maybe something wrong within the result

[2018-12-18 22:23] #1523 closed

[2018-12-19 00:10] jaygambetta commented on #1552
This is correct. You need to run it twice.

[2018-12-19 00:10] #1552 closed

[2018-12-19 01:01] #1513 closed

[2018-12-19 03:17] t-imamichi commented on #1452
@nkanazawa1989 @mtreinish OK. Let's discuss about it together.

[2018-12-19 09:00] #1370 closed

[2018-12-19 10:20] Exferro commented on #1186
@1ucian0 As far as I know, the Pytest library already deals with such things) But, am I right that only unittest shall be used?

[2018-12-19 13:00] delapuente commented on #1490
All the scenarios tested with the packages in the testing PyPI repository: https://test.pypi.org/

[2018-12-19 13:00] #1490 closed

[2018-12-19 13:04] taalexander opened #1563 "IBMQjob Seed"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.6.6
- **Operating system**: OSX

### What is the current behavior?
[IBMQJob `_job_data` tries to directly access seed] (https://github.com/Qiskit/qiskit-terra/blob/37e4f3540e2fc1c9ab4b37c6cc5a449c82fb2391/qiskit/providers/ibmq/ibmqjob.py#L150).

### Steps to reproduce the problem

### What is the expected behaviour?
It sh

[2018-12-19 16:02] dcmckayibm opened #1566 "Qasms with composite gates don't load"
Here is the qasm string

'OPENQASM 2.0;\ninclude "qelib1.inc";\ngate r q { h q; s q; h q; s q; }\ngate rinv q {sdg q; h q; sdg q; h q; }\ngate sinv q {s q; z q;}\nqreg q[3];\ncreg c[3];\nrinv q[0];\ncx q[1], q[2];\nr q[1];\nrinv q[2];\ncx q[0], q[2];\nrinv q[0];\nr q[2];\ncx q[0], q[1];\nrinv q[1];\ny q[0];\nbarrier q[0], q[1], q[2];\nr q[1];\ncx q[0], q[1];\nrinv q[2];\nr q[0];\ncx q[0], q[2];\nr

[2018-12-19 16:04] jaygambetta commented on #1566
yeah, this will not work. We give you an alternative way to do it soon.

[2018-12-19 16:55] jaygambetta commented on #1566
oops im sorry. This needs to be fixed. @1ucian0 can you look at this.

[2018-12-19 17:46] 1ucian0 commented on #1434
The OpenQASM specification seems to refer to _operation_ almost exclusively a quantum gate:

In this context, the _quantum operation_ has to be a gate. The word operation, is always in the context of quantum wires. The word _instruction_ is used in a more generic way.

My two cents.

[2018-12-19 19:46] MarcelloCa commented on #1539
problem solved in 0.7.0..

FYI, the issue in 0.6.1 was likely due to "get_counts" produced with hex value since monday

[2018-12-19 19:46] #1539 closed

[2018-12-20 17:06] 1ucian0 commented on #1161
Everything is a pass! Removing `on hold`

[2018-12-20 18:12] 1ucian0 commented on #1376
I think this is fixed by the current `StochasticSwap` pass. @awcross1?

[2018-12-20 18:18] awcross1 commented on #1376
@1ucian0 yes, StochasticSwap breaks out of the trial loop now if the depth of the swap circuit for a given layer is 1

[2018-12-20 20:02] ajavadia opened #1572 "Take U, CX out of default basis for the Unroller pass"
The unroller currently implicitly assumes that U and CX are in the basis whenever any unrolling happens. @jaygambetta mentioned that we should remove this behavior in favor of always explicitly specifying the basis. If the circuit cannot be unrolled to the given basis, an exception must be raised.

[2018-12-20 20:06] ajavadia commented on #1376
great, closing.

[2018-12-20 20:06] #1376 closed

[2018-12-20 20:34] ajavadia opened #1573 "StochasticSwap bug"
### Informations

- **Qiskit Terra version**:
- **Python version**: 0.7.0
- **Operating system**:

### What is the current behavior?
The stochastic swap mapper seems to create a non-equivalent circuit for the following case:

[code]
[code]

[2018-12-20 20:37] nonhermitian commented on #1573
Fixing the seed does indeed give differing results.

[2018-12-20 20:52] 1ucian0 commented on #1573
I run into the same issue while writing #1571. If [this line](https://github.com/Qiskit/qiskit-terra/pull/1571/files#diff-f90b12ed72fd4f413470e60e65140155R160) is changed to 42, the `StochasticSwap` also returns a fully different result (in the key, not in the count)

[2018-12-20 21:49] 1ucian0 opened #1575 "StochasticSwap does not map move_measurements.qasm"
Trying to move the swap mapper to `StochasticSwap` (PR #1574), it seems that the pass is not able to map the circuit described in `/test/python/qasm/move_measurements.qasm`. Here is the code I'm running (the result should be `True`, but it is `False`):
[code]

[2018-12-21 01:36] 1ucian0 commented on #1575
Of course! The `CheckMap` pass needs the same initial layout!
[code]

[2018-12-21 15:10] diego-plan9 opened #1578 "Define behaviour of retrieve_job() from another backend"
### What is the expected enhancement?

As noticed by @jaygambetta , currently `IBMQBackend.retrieve(job_id)` does _not_ enforce that the `job_id` belongs to a job that has _really_ been executed in that backend - it searches for that id among all the jobs that exists in the user account. This is prone to causing some confusion, and might make the user fetch jobs from other backends inadvertently.

[2018-12-21 16:47] 1ucian0 commented on #1161
The PR #1574 is trying to address this.

[2018-12-21 17:34] 1ucian0 commented on #1299
About **Philosophy 3**.

The stage "1- **Embed**" can change the layout, right?

[2018-12-21 17:40] 1ucian0 commented on #1299
I assume `XSwapMapper(coupling_map, **kwargs)` (`StochasticSwapMapper`, `BasicSwapMapper`, `LookaheadSwapMapper`, `ExtensionSwapMapper`, `AStarSwapMapper`) should be `XSwap(coupling_map, **kwargs))` (`StochasticSwap`, `BasicSwap`, `LookaheadSwap`, `ExtensionSwap`, `AStarSwap`).

[2018-12-21 17:47] 1ucian0 commented on #1299
Related with the interface, in PR #1579, I'm introduciong the following workflow: if the layout is not defined at pass `__init__` time, it should be grabed from `self.property_set["layout"] or a default layout is constructed.
[code]
Maybe make sense to refactor this code out so it will be handle automatically.

[2018-12-21 17:53] 1ucian0 commented on #1299
About "3- **2QBlockCollection**", in the context of custom gates a 2q gate is not necesarly relevant for a mapper. For example:
[code]

[2018-12-21 20:42] ajavadia commented on #704
Closing as most are done and the remaining ones have separate issues.

[2018-12-21 20:42] #704 closed

[2018-12-21 20:42] 1ucian0 opened #1580 "kak decomposition is needed"
A kak decomposition pass is needed.

[2018-12-21 20:46] ajavadia commented on #735
this is done with the Layout object that receives a list.

the rest is propagating it to the global compile/execute functions as part of #978 .

[2018-12-21 20:46] #735 closed

[2018-12-22 05:17] jaygambetta commented on #1578
i agree.

[2018-12-22 11:01] rraymondhp opened #1582 "Upgrading to qiskit 0.7 creates problems"
### Informations

- **Qiskit Terra version**:0.7.0
- **Python version**: 3.6.2
- **Operating system**: Mac OS X

### What is the current behavior?
It is the same as the issue here. After upgrading to qiskit 0.7, there appears to be qiskit directory empty and does not contain packages that can be imported. I suspect something not right when upgrading.
https://github.com/Qiskit/qiskit-tutorials/issu

[2018-12-22 17:29] dcmckayibm opened #1583 "Mapping Error in BasicAer"
`'OPENQASM 2.0;\ninclude "qelib1.inc";\nqreg q0[5];\ncreg c0[3];\nx q0[4];\nmeasure q0[1] -> c0[0];\nmeasure q0[3] -> c0[1];\nmeasure q0[4] -> c0[2];\n'`

The above qasm should give all shots in `100`, but they are all in `000`. Only happens in `BasicAer`, not in `Aer`.

### Informations

- **Qiskit Terra version**: 0.7
- **Python version**: 3.6
- **Operating system**:

### What is the current beh

[2018-12-22 18:39] jaygambetta commented on #1583
I confirm there is a bug

[code]
gives the outcome david is saying.

[2018-12-22 18:41] jaygambetta commented on #1583
@chriseclectic can you have a look at this.

[2018-12-23 00:31] ajavadia commented on #1582
Closing, as the original issue in https://github.com/Qiskit/qiskit-tutorials/issues/464 seems to be resolved.

[2018-12-23 00:31] #1582 closed

[2018-12-23 15:41] iblancasa opened #1586 "Avoid dependencies duplicity"
### What is the expected enhancement?
Currently, when you want to add or update a dependency, you need to do that in the `requirements.txt` and `setup.py` files. That is really error-prone.

It would be nice to avoid that situation and make changes only in one of the files when a dependency is added or updated.

[2018-12-23 16:37] iblancasa opened #1588 "Bunch of warnings reported when lint"
### Informations

- **Qiskit Terra version**: master branch
- **Python version**: 3.5
- **Operating system**: Linux

### What is the current behavior?
A lot of warnings are reported when `make lint` is run.

### Steps to reproduce the problem
Run `make lint`.

### What is the expected behavior?
No warnings.

### Suggested solutions
...

[2018-12-23 17:35] tigerjack opened #1590 "concurrent.futures.process.BrokenProcessPool"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.1
- **Operating system**: ArchLinux

### What is the current behavior?
I got an exception on two different machines, but I'm not sure if it's related to `qiskit-terra` or `python` itself. The exception arise when I invoke the `job.result()` method.

I found other similar issue which suggested to use the `if __name__ == "

[2018-12-23 20:53] ajavadia commented on #1072
AppVeyor has an option called "rolling build" which ensures only the latest commit to a PR branch is built. I just turned it on for this project, which will hopefully improve those Windows build times.

[2018-12-23 20:57] ajavadia commented on #1590
I'm closing this issue and opening it in the Aer repository: https://github.com/Qiskit/qiskit-aer/issues/6

[2018-12-23 20:57] #1590 closed

[2018-12-23 21:39] adamisntdead opened #1591 "BasicAer qasm_simulator not detecting that sample measurement can be used"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.6.6
- **Operating system**: Ubuntu

### What is the current behavior?

Currently, it can detect that it can sample if there is only measurments at the end, but sometimes the measurment instruction is put further up, and it's not detected even when there is no more operations applied to the qubit.

### Steps to reproduce th

[2018-12-23 21:39] adamisntdead commented on #1591
I can make a pull request if needed.

[2018-12-24 09:03] diego-plan9 commented on #1588
Thanks for reporting and the PR, @iblancasa - however, please note that we are using a [specific version of `pylint`](https://github.com/Qiskit/qiskit-terra/blob/master/requirements-dev.txt#L10) and it seems that the warnings are due to using a different version than the one specified.

It's good timing, though - it was discussed informally last week to revise the `pylint` version and bring it int

[2018-12-24 09:03] #1588 closed

[2018-12-24 09:07] diego-plan9 opened #1597 "Update pylint to a more recent version"
### What is the expected enhancement?

The version of `pylint` we are using is a bit  outdated, and more recent version are available which support enhanced checks and better compatibility with recent Python versions.

Updating will involve taking care of the new warnings raised and making sensible choices related to them (and might involve re-generating the .pylintrc file to take advantage of new

[2018-12-24 09:07] diego-plan9 commented on #1597
Self-assigning.

[2018-12-24 09:08] diego-plan9 commented on #1072
Nice!

[2018-12-25 04:00] rraymondhp commented on #1582
Resolved by a workaround. Imho, we should test the upgrade steps and document them well too.

[2018-12-25 04:10] dcmckayibm opened #1598 "Compile Fails for Devices if there is a measure with no gates"
If a circuit has a `.measure` on a qubit, but no other gate the transpiler throws an error. Confirmed on multiple devices, but diesn't error on simulators (appears to be related to the last qubit on the device).  Confirmed the error goes away by adding `.iden` gates

Here is qasm that will cause it
`'OPENQASM 2.0;\ninclude "qelib1.inc";\nqreg q0[5];\ncreg c0[5];\nmeasure q0[0] -> c0[0];\nmeasure q

[2018-12-26 07:57] t-imamichi opened #1599 "Upgrading to qiskit 0.7 removes some mandatory files in the qiskit directory"
### Informations

- **Qiskit Terra version**: 0.6.1 -> 0.7
- **Python version**: 3.6.7
- **Operating system**: Ubuntu 18.10 (this issue may occur for any platform)

### What is the current behavior?

If users upgrade qiskit 0.6.* to 0.7 by `pip install -U qiskit`, some mandatory files in the qiskit directory (`site-packages/qiskit`) will be removed while upgrading. It causes unintentional errors l

[2018-12-26 13:30] diego-plan9 commented on #1599
Thanks @t-imamichi  for reporting - it seems indeed that in some case the order of uninstalling and installing `qiskit-terra` is not correct, rippling in the issue you are experiencing. Indeed, some documentation would help (maybe at https://github.com/Qiskit/qiskit, as it already has a 0.6 to 0.7 stub) - in the meantime, let's leave the issue open during these holiday-ish days in case anyone expe

[2018-12-26 15:46] #1597 closed

[2018-12-26 21:39] 1ucian0 commented on #1575
Because of this issue, I found a problem in `CheckMap` (see PR #1604). Even with the issue fixed. This problem persisted. So, reopening (and adapting the original example)

[2018-12-26 21:51] epelofske opened #1605 "ibmq_qasm_simulator backend error"
### Informations

- **Qiskit Terra version**: 0.7
- **Python version**: 3.6.8
- **Operating system**: Debian Linux

### What is the current behavior?
When using the backend ibmq_qasm_simulator for a qaoa script, two different errors are encountered.
The first one is just ignored and the script continues running, the second causes it to stop.

### Steps to reproduce the problem
I have only encounte

[2018-12-27 13:50] diego-plan9 commented on #1605
Unfortunately it seems to be indeed due to network issues - could it be that you are running several jobs against IBMQ  (ie. against an online device or simulator) concurrently, or in a short time span? There are some network limits and availability constraints that might be in play in your current scenario.

[2018-12-27 17:06] 1ucian0 opened #1610 "BasicSwap cannot handle move_measurements.qasm"
In the process to understand #1575, I noticed that `BasicSwap` also fails with that example (in which `move_measurements.qasm` tries to be mapped). I managed to extract a minimal example:
[code]
This fails with `qiskit.dagcircuit.exceptions.DAGCircuitError: 'invalid wire mapping key q2[0]'`.

[2018-12-27 17:51] jaygambetta commented on #1578
@diego-plan9 can we move this to assigned and put you down and label this for the 0.8 milestone

[2018-12-27 17:52] jaygambetta commented on #1504
I would like this fixed in 0.8. @diego-plan9 can i assign this to you.

[2018-12-27 17:59] jaygambetta commented on #1470
Can we make a temp code in aqua that allows you to combine results. For terra, we want to only have one result for a job. We will work on how we send larger jobs to the api as a separate thread.

I am closing this for now

[2018-12-27 17:59] #1470 closed

[2018-12-27 18:02] jaygambetta commented on #263
@ewinston i see what you are proposing. Could you put close this issue and make a new one with some pseudo code.

[2018-12-27 18:04] jaygambetta commented on #954
closing. If you are still seeing the error with the update please let us know.

[2018-12-27 18:04] #954 closed

[2018-12-27 18:07] jaygambetta commented on #1476
Since we decided aer lives in qiskit.providers.aer I don't see why we need this renaming. Let's close this.

[2018-12-27 18:07] #1476 closed

[2018-12-27 18:11] diego-plan9 commented on #1578
Of course!

[2018-12-27 18:12] diego-plan9 commented on #1504
Yes - I think somebody else inspected the root cause when the issue was created and might be able to provide more info: maybe @delapuente ?

[2018-12-27 18:16] jaygambetta opened #1612 "Remove legacy simulators"
This i think should be done in two parts.

I will remove the python code and fix the test that applies.

@atilag can you do the removing of the source code and the updating of the install instructions.

[2018-12-27 20:57] #1440 closed

[2018-12-28 19:11] ajavadia opened #1618 "remove test/python/common.py"
### What is the expected enhancement?

Needed as a follow up to #1616

[2018-12-28 21:54] 1ucian0 opened #1619 ""transpiler passes preserve semantics", what that means?"
As a cornerstone of the transpiler principle, we have the notion that passes should "preserver semantics". But we never clarified what this semantic is.

In general, we have two meanings for semantics depending on what is the user observing as a result:
  - `get_counts`: When the result is the consequence of a `measure`, the semantics is connected with the values stored in the classical bits (afte

[2018-12-28 22:30] ajavadia commented on #1583
The bug is in the BasicAer python simulator. Specifically it is occurring in the `_add_sample_measure` function, which is responsible for finding a probability distribution from the statevector and sampling from that. This function cannot handle the case where only a subset of the total qubits are measured.

[2018-12-28 22:32] #1612 closed

[2018-12-29 01:45] jaygambetta opened #1620 "Remove the cpp code"
### What is the expected enhancement?
Follow on from #1615 we need to
  - [ ] Remove the c++ code
  - [ ] Travis cleanup
  - [ ] Fix the documentation

[2018-12-29 01:46] jaygambetta opened #1621 "Remove cpp from test"
### What is the expected enhancement?

if we fix the bug in the simulator and decide that the test on old_aer_intergation_test dont live in terra we can remove the check for cpp from the testing.

Follow on to #1615

[2018-12-29 03:37] Scinawa commented on #316
How this discussion is evolving? On a user side, it looks like CompositeGates are the qiskit ways allowing the users to control big unitaries and have automatically the inverse of "subroutines" without coding the whole algorithm in reverse..
My use case is very simple: imagine you are writing a quantum oracle and you have to perform phase estimation on it. You need to control and inverse many unit

[2018-12-29 14:49] 1ucian0 opened #1623 "Simplify back CheckMap pass"
The goal of `CheckMap` pass is to check that the swapper fulfilled its promise. No more than that. Therefore, `is_swap_mapped` should also be renamed to `requires_swap` (and inverted). The direction checked can be done by a different pass `CheckCnotDirection`, so the property `is_direction_mapped` should be removed.

[2018-12-29 17:10] #1583 closed

[2018-12-30 01:00] #1211 closed

[2018-12-30 05:19] #1618 closed

[2018-12-30 05:49] jaygambetta opened #1630 "qobj_to_circuits does not work with conditionals"
### What is the expected behavior?

Follow on after #1629 . The qobj_to_circuits should work with conditional operations. It never did but i noticed in #1629 that it fails. This we need to make a test for as well.

[2018-12-30 13:55] jaygambetta opened #1631 "Qobj pretty printer option"
### What is the expected enhancement?
In debugging Qobj I think we need to have a `pretty printer options` for them. I have found that I use this function often (i am not suggesting this function just something similar to make an output that is more human readable)

[code]

which for this circuit
[code]

makes the following output
[code]

The same may also be needed for backends.configuration, bac

[2018-12-30 14:04] nonhermitian commented on #1631
It would be nice if they had an __html_repr__ for pretty jupyter as well.

[2018-12-30 14:08] jaygambetta commented on #1631
I agree. This is why I'm not sure we need backend.configuration or backend.properties with you backend_monitor and backend_overview function.

[2018-12-30 14:16] jaygambetta opened #1632 "Review the fields in QobjHeader and OqobjConfig made using circuits_to_qobj"
### What is the expected behaviour?
After #1629 lands we should discuss what is needed in the `QobjExperimentalHeader` and the `QobjExperimentalConfig`. I think we passing too much information there that is not needed and some is repeated.

### QASM Experiment
#### `QobHeader`
#### `QobjConfig`
- [ ] `max_credits`
- [ ] `shots`
- [ ] `memory`
#### `QobjExperimentalHeader`
#### `QobjExperimentalCon

[2018-12-30 14:20] jaygambetta opened #1633 "Removed compiled_circuit_qasm from QobjExperimentalHeader"
### What is the expected behavior?
After #1629 when all the backends are Qobj 1.0 compatible we need to remove compiled_circuit_qasm from the header.

[2018-12-30 14:23] jaygambetta opened #1634 "decide on params vs param"
### What is the expected behavior?
We use params and param for the same thing.
In the instruction object it is param (so this includes dagcircuit and circuit) but in the qobj and schema it is params. I think we need to choose one. I would like us to make it params (personally I would have prefered parameters : - ) )

[2018-12-30 14:27] #1498 closed, assigned to jaygambetta

[2018-12-30 14:32] jaygambetta commented on #1283
in #1629 I made it work using the old style to pass the test but to move it to the new style we need to discuss if we are going to introduce register_slots yet.

[2018-12-30 14:44] jaygambetta commented on #1145
@ajavadia I don't agree with #1138 being addressed in this. The circuit_to_qobj should just be dumb and write out the qobj how it receives it. This should really be a separate update inside the simulators. If they can optimize by having the measurements at the end then we let them do it. Experiments dont make a difference

[2018-12-30 14:51] jaygambetta commented on #1517
closing as not part of https://github.com/Qiskit/qiskit/issues/12

[2018-12-30 14:51] #1517 closed

[2018-12-31 13:23] yaelbh opened #1635 "A crash when working with a customized gate"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Trying to compile a circuit with a customized gate, I get:
[code]

### Steps to reproduce the problem

Define the new gate:
[code]

Then write some circuit with the new gate, and compile:
[code]

### What is the expected behavior?

Do not crash. Perhaps I'm simply doing s

[2018-12-31 14:32] jaygambetta commented on #1633
Also, both Aer and BasicAer do as well.

[2019-01-01 19:50] Exferro commented on #1635
@yaelbh Hi!

Briefly: you'd have to use CompositeGate class.

In more details: I am not aware of current situation (Qiskit 0.7), but it was a known problem for Qiskit 0.6. Here is the answer I obtained in the Slack channel:

I don't really have time to explain everything right now but you have several examples of user defined quantum gates here: https://github.com/nelimee/quantum-tools/tree/master

[2019-01-01 19:54] yaelbh commented on #1635
Thank you!

[2019-01-02 13:47] pacomf commented on #1632
From the API, we only need:

`config.shots`
`config.memory`

and the length of experiments, that we get from `experiments` attribute (using: experiments.length)

[2019-01-02 14:44] jaygambetta commented on #1632
ok great so that is covered in the qobj.config

[2019-01-02 15:34] ryan-woo opened #1637 "Layout error when used as initial_layout for execute()"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.6.4
- **Operating system**: Mac OS 10.14

### What is the current behavior?
I generate a simple layout as in the example found in Layout.from_dict() (layout.py) docstring and then execute using the layout as the initial_layout. Use a physical backend, not a simulator.

[code]

### Steps to reproduce the problem
[code]

###

[2019-01-02 18:07] ajavadia opened #1639 "Unneeded stuff in Qobj header"
### What is the expected enhancement?
The qobj header right now gets populated with some unnecessary things. We need to re-evaluate what is absolutely needed for result postprocessing, and delete the rest.

I think only `creg_sizes` should be enough.

[2019-01-02 21:15] ajavadia commented on #1182
@Scinawa we are working on making a nice circuit interface that will address the needs that you describe. For now you have to write your own gate class derived from the Instruction class.
You can use the templates in [here](https://github.com/Qiskit/qiskit-aqua/tree/master/qiskit_aqua/utils) (see circuit_factory and controlledcircuit).

[2019-01-02 22:47] jaygambetta commented on #1639
can we just do this under #1632

[2019-01-03 10:36] kwyip opened #1641 "Cannot install latest version (sympy problem)"
### Informations

- **Qiskit Terra version**: 0.7
- **Python version**: 3.7
- **Operating system**: Mac

### What is the current behavior?
I create a new environment and install by pip but,
when I get to the following step i have the error:
[code]

### Steps to reproduce the problem

N/A

### What is the expected behavior?
N/A

### Suggested solutions
Would it help to uninstall sympy 1.2 myself?

[2019-01-03 12:16] Exferro commented on #1641
@kwyip I am not a Qiskit developer, but are you sure that you have `source <name of your venv>/bin/activate`d your virtual environment? I am asking because if you had done so, the environment should have contained no existing installations. I've just installed Qiskit into new venv without any troubles.

Please, check that you have done all the steps:
[code]

Hope, it will help! If not, probably so

[2019-01-03 13:46] #1639 closed

[2019-01-03 13:54] #1145 closed

[2019-01-04 14:51] fioyarce commented on #1641
I have the same problem, but I'm using python 3.6.2 and Ubuntu 16.04 and the message is the following:

[code]

[2019-01-04 17:17] diego-plan9 opened #1645 "Post 0.8 deprecations"
### What is the expected enhancement?

This issue keeps track of the items that have been marked as deprecated in **0.8+**, in order to remove them before 0.9:
* [ ] visualization: `iplot_state()`
* [x] converters: `circuits_to_qobj()` multiple args
* [x] tools.compiler: `compile()` `config` arg
* [ ] `qiskit/qiskiterror.py`: remove the file
* [x] `tools.qcvv`: remove whole folder
* [x] `qiskit.ma

[2019-01-04 17:17] diego-plan9 opened #1646 "Post 0.7 deprecations"
### What is the expected enhancement?

This issue keeps track of the items that have been marked as deprecated in **0.7+**, in order to remove them before 0.8:
* [x] visualization: `plot_circuit()`, `latex_circuit_drawer()`, `generate_latex_source()`, `matplotlib_circuit_drawer()`; fallback; `style` kwargs dict options.
* [x] wrapper: `load_qasm_string()`, `load_qasm_file()`
* [x] transpiler: `tra

[2019-01-04 18:56] ajavadia commented on #1641
I think I ran into this problem once. I had sympy installed via anaconda, so I did this:
[code]
This will install sympy via pip for you.

[2019-01-04 18:58] ajavadia commented on #1641
I also agree with @Exferro that if you have really created a new environment you should not have any pre-existing packages.

[2019-01-04 19:06] ewinston opened #1647 "formalize gate operands as Qubit objects"
### What is the expected enhancement?
Currently gates operate on qubits as a `(QuantumRegister, int)` tuple. To improve code clarity this could be formalized into it's own type.

A simple solution would be just something like,
[code]
Something more complex could do type checking.

[2019-01-04 19:49] ajavadia commented on #1647
Yes and I think a QuantumRegister should really be just a list of Qubit. And slicing like qreg[2:5] yields just another list of qubits.

[2019-01-05 19:57] Sammyalhashe opened #1648 "Unable to import QuantumCircuit after upgrading to qiskit==0.7.0"
### Informations

- **0.7.0**:
- **3.6.5**:
- **MacOS**:

### What is the current behavior?

I recently upgraded from `0.6.1` to `>0.7` and I was unable to import QuantumCircuit from qiskit. I then decided to go back down (to `0.6.1`) so I could actually import it. Is there a reason for this as I missed something? Was QuantumCircuit deprecated?

### Steps to reproduce the problem
`python3 -m pip i

[2019-01-06 22:25] chunfuchen opened #1649 "The output dimension of statevector simulation could be wrong if coupling map is used."
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.1
- **Operating system**: macOS 10.13.6

### What is the current behavior?

If a user passes a coupling map from a real device (like `ibmq_16_melbourne`, 16-qubit machine) to a statevector simulator, the output dimension of the statevector will not be the number of qubits used in the circuits.
In general, a customized co

[2019-01-07 02:55] t-imamichi commented on #1648
See #1599

[2019-01-07 19:20] mtreinish commented on #946
I just tested this again since we moved to using the dag directly for circuit drawing in the last release and I am not able to reproduce the visualization failure anymore (from the code in the description). @ajavadia was there something else we needed to do here for this issue?

[2019-01-07 19:46] mtreinish commented on #1646
I'm not sure we actually ever deprecated `QISKitError` we just setup the alias for backwards compat. If we do plan to remove it we should mark it as deprecated (a warning will be difficult to emit because it's the base exception). That being said it's not like it's a lot of debt to keep around (only a couple lines) I'm not sure if it's worth the large breaking change to remove just that.

[2019-01-07 20:01] ajavadia commented on #1648
Closing as this is the same issue as #1599.

[2019-01-07 20:01] #1648 closed

[2019-01-07 20:02] ajavadia commented on #1641
If this does not solve the issue please reopen.

[2019-01-07 20:02] #1641 closed

[2019-01-07 20:04] mtreinish commented on #1452
@t-imamichi @nkanazawa1989 sorry I missed your comment here before. I just pushed #1651 which does the cleanups that I opened this issue about. (which was just an out of date comment and an inaccurate field name) There might be other things in there, I didn't do a thorough scan of the code to check. If you had other ideas on what could/should be cleaned up and/or updated in the matplotlib drawer s

[2019-01-07 20:20] mtreinish commented on #1631
@jaygambetta do you mean to add support to the Qobj class for use with the pprint module? If so that should just be adding a `__repr__` to the class so pprint() will be able to parse the class and return the data you want (formatted by pprint). Or did you mean add a custom function to take in a qobj and print the overview data (as you outlined in the description?

[2019-01-08 02:33] #1452 closed

[2019-01-08 02:44] jaygambetta commented on #1631
I dont mind what we do. I can see some people might not want to overload __repr__ but i am happy if we do this and this would be my vote. The problem is viewing qobjs is painful when its a square of code with no spacing etc. I will let you, @ajavadia and @diego-plan9 decide.

[2019-01-08 08:51] Tomev opened #1653 "Problem with defining new gate in qasm"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.6
- **Operating system**: Win 10

### What is the current behavior?

I'm using qasm to generate a circuit. In this qasm (used in previous version) I had following definition

``
gate hx a { u2(0,0) a; }
``

and used it as such

``
hx q;
``

or

``
hx q[0];
``

when I try to use it now i get following error:

``
qiskit.qisk

[2019-01-08 09:57] delapuente commented on #1573
@nonhermitian how did you fixed the seed?

[2019-01-08 10:09] nonhermitian commented on #1573
Via the `seed_mapper` kwarg in execute.

[2019-01-08 10:34] delapuente commented on #1599
Perhaps we can modify the `qiskit` metapackage to make it work and update it to `0.7.1`. I've open an issue there https://github.com/Qiskit/qiskit/issues/27.

[2019-01-08 10:41] delapuente commented on #1047
I'm reopening this since there are several things not yet reviewed. I'm restoring the labels for tracking too.

[2019-01-08 10:47] delapuente commented on #1632
Related to #1047. The result of this discussion should be reflected in the spec document too.

[2019-01-08 14:20] maddy-tod commented on #888
Hello, is this issue being worked on? If not I would be keen to take it up. I see some changes have been made to the AST in #906 , will they affect this?

[2019-01-08 15:53] t-imamichi commented on #1599
@ajavadia Yes. I try to merge my documentation into the global one and make a PR.

@delapuente Good news! I hope 0.7.1 resolves this issue.

[2019-01-08 16:02] t-imamichi commented on #1452
@mtreinish Thank you for cleaning our code! If you have any information about the future plan of the other circuit visualizer, could you let us know? We will come up with ideas to follow them.

[2019-01-08 16:15] mtreinish commented on #1586
I think removing the duplication provides a lot of value. Having 2 spots provides a place for mistakes to come up or slip in. We actually saw this just yesterday with the marshmallow bump, so I'm very much in favor of this. I don't think there is any issue with relying on a requirements.txt file to be the source of truth, this is actually what I'm used to (although it differs from the recommendati

[2019-01-09 10:59] diego-plan9 commented on #1586
Having to introduce an extra library for this purpose seems overkill to me - kind of a solution looking for a problem, even if we hypothetically discount the fact that each files serves a different purpose, and the standard-ness described on the first paragraph. In general, I think we are better off requiring strong justifications for introducing a dependency, as each one introduces another potent

[2019-01-09 12:57] quantumjim opened #1655 "Compiler remaps when no remapping is needed"
### Informations

- **Qiskit Terra version**: 0.7
- **Python version**:
- **Operating system**:

### What is the current behavior?

See [this notebook](https://github.com/quantumjim/Misc_QISKit_Things/blob/master/Compiler_issue.ipynb). A circuit is made containing cnots that can be directly implemented on a device. The compiler then remaps this to different qubits for which the cnots are not direc

[2019-01-10 14:27] nelimee opened #1658 "CompositeGate became unusable - what is the replacement?"
### Informations

- **Qiskit Terra version**: 0.7
- **Python version**: 3.6.5
- **Operating system**: Linux

### What is the current behavior?
Commit 7485ed924126b0861ef94d35eccef2d3532d70bf removed the `CompositeGate.X = X` from the ` qiskit/extensions/simulator/*.py` files. Because of this, CompositeGate is not usable as before.

[This code](https://gist.github.com/nelimee/79f54a75371d65a0c00d59

[2019-01-10 23:16] mtreinish opened #1660 "plot_histogram() y axis bounds don't respect"
### Informations

- **Qiskit Terra version**: 0.7 => current master
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

As reported in: https://quantumcomputing.stackexchange.com/questions/5172/plotting-data-in-qiskit-using-plot-histogram the yaxis bounds sometimes clip the bars when there are multiple executions.

### Steps to reproduce the problem

I used th

[2019-01-11 00:11] AkashGutha commented on #1631
Hi, If you guys don't mind, I would like to work on this. Please let me know if you have any inputs. I will start by creating something that resembles the example provided by @jaygambetta.

[2019-01-11 00:33] #1660 closed

[2019-01-11 05:05] jaygambetta commented on #1631
I think this would be great. @ajavadia, @diego-plan9 and @mtreinish please give some input.

[2019-01-11 05:07] jaygambetta commented on #1658
thanks for the input we are thinking about how to fix this. @ajavadia and i were discussing today. I think the best idea is to not try and revert but give an update in the change that it is broken but fix with a method that scales better.

[2019-01-11 05:10] jaygambetta commented on #1655
Im not sure this is a bug but clearly the passes need to be better.

Some options to worry about it.
1. If you know that the gates exists then use circuit_to_qobj instead of compile (maybe only master for this)
-- qobj = compile(qc,backend)
2. give the pass_manger as an input that is empty to compile so that it does not go through the transpiler.

[2019-01-11 05:13] jaygambetta opened #1662 "replace param with params in the code"
### What is the expected behavior?
There are many places in the code where it has a variable param which we should replace with params. This issue just notes that we should change this.

This is a follow on from #1634

[2019-01-11 05:13] #1634 closed

[2019-01-11 08:33] quantumjim commented on #1655
Thanks Jay. To me it feels like a bug because it used to work but now it doesn't, and not because of any intentional deprecation (I assume).

I should also have mentioned: my workaround does not work for batch jobs that include circuits of different sizes (due to decisions made it #704, it seems). So that's why it remained an issue for me.

Your solution (here's an explicit snippet for posterity)

[2019-01-11 08:33] #1655 closed

[2019-01-11 10:53] diego-plan9 commented on #1631
How human-readable you feel using the `as_dict` is (using `pprint` and its options directly), compared to the draft output in the issue description?

[code]

If that is indeed not enough, I'd recommend going with either a separate function or `__str__`, rather than `__repr__` - this has been touched in the past, but they [serve different purposes](https://docs.python.org/3/reference/datamodel.html

[2019-01-11 11:14] maddy-tod commented on #1662
Hi @jaygambetta could I work on this issue? I see you mentioned in #1634 the files which are affected by this but I will have a look to see if it is anywhere else.

[2019-01-11 12:00] jaygambetta commented on #1662
Sounds great.

[2019-01-11 14:56] #782 closed

[2019-01-11 15:14] AkashGutha commented on #1631
@diego-plan9 I'm inclined towards making a separate function. `print_info` is the name that I'm using right now. I'm planning on making it as human readable as possible.

I like the `as_dict` method too. But it may not make sense to everyone. So I think I'm going to make another function, probably named `print_info_raw` that can print the dictionary object using `pprint`.

[2019-01-11 15:47] ajavadia opened #1663 "`ccx` and `cswap` should allow different size controls and targets"
### What is the expected enhancement?
Currently the cswap and ccx gates check that the size of ctrl and tgt are the same (if passed as list). This is not necessary, since we could broadcast a control to multiple targets or vice versa (as a shorthand). For example:

[code]
[code]

CX already allows one control to many targets.

[2019-01-11 17:12] Exferro commented on #1663
@ajavadia Although I have one more PR under discussion, could I deal with this as well? Or, @ewinston, you would love to take it? Thanks!

[2019-01-11 17:45] ewinston commented on #1663
Thanks @Exferro! I already started something for this.

[2019-01-11 20:35] ajavadia commented on #1631
I think @diego-plan9 has a good point here.

The `as_dict` method is scalable to every instance of QobjItem, where as a specialized method is not. Currently you can do:
`qobj.as_dict()`,
`qobj.experiments[0].as_dict()`,
`qobj.experiments[0].config.as_dict()`,
`qobj.experiments[0].config.as_dict()`

and ```pprint(qobj.as_dict())```  looks like this:
[code]

what does the specialized pretty printer

[2019-01-11 20:43] ajavadia commented on #1655
Hi James this is fixed via https://github.com/Qiskit/qiskit-terra/pull/1499, but this pass is currently not part of the default PassManager. It will be in the next release.

[2019-01-11 21:17] #1662 closed

[2019-01-12 14:56] diego-plan9 commented on #1646
For tracking, related PRs: #1664, #1659, #1666

[2019-01-13 01:12] ajavadia opened #1671 "Bug in zero padding of result bitstrings"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.6
- **Operating system**: Mac

### What is the current behavior?
I noticed that the result retrieved from backend sometimes do not get padded with zeros correctly (the raw result is in `result.data()`, and `result.get_counts()` is supposed to convert from hex to binary and pad any needed zeros.)

### Steps to reproduce th

[2019-01-13 06:04] ajavadia commented on #1599
This is being tracked in the meta repo: https://github.com/Qiskit/qiskit/issues/27

[2019-01-13 06:04] #1599 closed

[2019-01-13 16:05] jaygambetta opened #1675 "remove ghpages_documentation_deploy.sh"
### What is the expected enhancement?
since all the documentation is now in qiskit/qiskit we should remove this script.

[2019-01-13 16:06] jaygambetta opened #1676 "update the contributing to have a link to the new documentation"
### What is the expected enhancement?
The documentation should not say make doc and should direct the contributor to qiskit/qiskit

[2019-01-13 16:07] jaygambetta commented on #1067
I am closing this and making a new issue. For continuing discussion please go to that.

[2019-01-13 16:07] #1067 closed

[2019-01-13 16:12] jaygambetta opened #1677 "multi-language documentation"
### What is the expected behavior?
I would like to remove all the multi-language documentation from this repository and add it to github.com/Qiskit/qiskit. I am not sure of the best way we do it and I let all discuss in that repository how we should do it. But we are not going to have documentation in the individual elements (only a readme about the element, contributing guidelines and other commu

[2019-01-14 11:58] diego-plan9 opened #1679 "Revise numpy 1.16 compatibility"
### Informations

A [new version](https://pypi.org/project/numpy/#history) 1.16 of `numpy`  was released recently, which resulted in a number of [linter warnings](https://travis-ci.org/Qiskit/qiskit-terra/jobs/479314862#L691) that might hint towards incompatible changes.

In #1678 the version was pinned to `<1.16`, to give us time to investigate further and take the appropiate actions - the [relea

[2019-01-14 12:03] #1675 closed

[2019-01-14 14:32] delapuente commented on #1586
If we are not leveraging the semantic difference between them, then I think the duplication and the need of remembering to review both files is a problem we should fix. I agree with @diego-plan9 and think `setup.py` should be the source of truth since we are creating a library, this following the general advice on `setup.py` vs `requirements.txt`. The low hanging fruit is to replace the contents o

[2019-01-14 15:11] nonhermitian commented on #1637
Ok, this is because internally a `dict` of the form `dict{(reg,idx): (reg,idx)}` is expected whereas the examples given in `_layout.py` assume the values from a `dict` or `list` are simply integers. @1ucian0 changed the way the layouts are done, so I am deferring to him as to whether the `int` values are the correct to way to input, and the error is in the mapper code, or if indeed the mapper is c

[2019-01-15 03:12] ajavadia commented on #1671
@maddy-tod Oh I see what is going on here. This particular job ID that I put in the issue description was a job submitted using qiskit 0.6. Therefore it does not have the same header as jobs submitted via qiskit 0.7, and the header is used for formatting the counts. You are right that jobs submitted using v0.7 are formatted correctly. I'll close this issue as it's just a matter of an old stored jo

[2019-01-15 03:12] #1671 closed

[2019-01-15 07:43] MarcelloCa commented on #817
ajavadia, same issue (jobs got stuck at running even if next jobs are done) here:
- 5c3ce02366ed04005cffdfd9
- 5c3ce0528c4edc005e64dc24

[2019-01-15 17:36] nonhermitian opened #1682 "Cannot show plots in notebooks when generated inside of loops"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
The following does show a plot:
[code]

### Steps to reproduce the problem

### What is the expected behavior?
A plot should be output.

### Suggested solutions
The issue here is that we had to close the figure instance before returning it, otherwise it woul

[2019-01-16 10:16] lukasszz opened #1683 "get_counts() started to return results in HEX."
### Informations

- **Qiskit Terra 0.6.1**:
- **Python version 3.6.1**:
- **Operating system Fedora 25**:

### What is the current behavior?
`job.result().get_counts()` started to return results in HEX.
The Qiskit and Python version didn't change. One day it started to return values in HEX instead of BIN.
![zrzut ekranu z 2019-01-16 11-11-57](https://user-images.githubusercontent.com/4717990/51242

[2019-01-16 11:11] maddy-tod commented on #1647
Has anyone started to work on this yet? If not, I would like to help. Would this enhancement ideally allow a user to choose whether to use the old syntax or should they be required to use the new style?

[2019-01-16 13:21] diego-plan9 commented on #1646
Thanks @Max-Reuter for taking care of most of the deprecations! The final one is `QISKitError` - while we did not emit a warning for practical reasons indeed, I think we actually did conceptually deprecate it, as it is marked `not for use`. With that in mind, and seeing that it is the last stronghold where we use the old capitalization (started at #1382) and we embarked into more breaking changes

[2019-01-16 13:33] maddy-tod commented on #1683
I tried to run your notebook and also got results returned in hex. However when I ran it against the most recent version of Qiskit the results were returned in binary again, so I would suggest updating your Qiskit version to fix this error.

The [CHANGELOG](https://github.com/Qiskit/qiskit-terra/blob/master/CHANGELOG.rst) shows a change in the location of the post-processing of result (at the end

[2019-01-16 16:11] ajavadia commented on #1683
Yes as @maddy-tod mentioned, updating Qiskit should resolve this issue. The devices are sending back results in hex now for efficiency, and for correct post-processing you'll need the latest qiskit. Or if you prefer to keep working with 0.6.1, you probably have to write a [quick hex2bin function](https://github.com/Qiskit/qiskit-terra/blob/5be36bc58adab346edac309932125a27cbf35b78/qiskit/result/pos

[2019-01-16 16:11] #1683 closed

[2019-01-16 16:13] ajavadia commented on #1647
Hey @maddy-tod thanks for offering, I already started something along these lines. I'll push a commit and open new issues for follow ups that you're welcome to contribute to.

[2019-01-16 23:38] 1ucian0 commented on #1637
Layout object should be maps to integers. If I remember correctly, the idea was allowing "high" level functions such as `execute` to support the object parameter and the "raw" parameter, in this case, the dict. In any case, the dict should be `dict{(reg,idx): int}`. Right @ajavadia?

I'm currently in a limited setting but, if there is no hurry, I can have a look to this in a week.

[2019-01-16 23:52] 1ucian0 commented on #1637
Without running the example (so take this with a grain of salt), I noticed that the problem is "old" swap mapper which will be removed soon. Does it make sense to fix it @ajavadia?

[2019-01-17 08:32] diego-plan9 commented on #1646
Seems the deprecations for 0.7 are completed - please reopen if needed.

[2019-01-17 08:32] #1646 closed

[2019-01-17 09:44] diego-plan9 opened #1685 "Consistent gates order in visualizations (and DAG?)"
### What is the expected enhancement?

As a spin-off from #1617 (thanks @Exferro!) , during that PR it was detected that the same `QuantumCircuit` produces different visualizations between Python [3.5](https://github.com/Qiskit/qiskit-terra/blob/73d47fd924edd948aee51b648b15d06211a17a20/test/python/tools/visualization/references/3.5/deep/mpl.png) and [3.6/3.7](https://github.com/Qiskit/qiskit-terra

[2019-01-17 09:45] diego-plan9 commented on #1685
As an example, the following circuit:
[code]
  has the following instructions in `circuit,data`:
[code]
  and produces the following output (ie. the order of the boxes):
[code]

For reference, the original circuit showing the symptons in #1617 is:
[code]

[2019-01-17 11:08] maddy-tod commented on #1685
Hi @diego-plan9 I would like to work on this issue. I will try and familiarise myself with the visualisation code and get back to you if I have any questions!

[2019-01-17 11:15] diego-plan9 commented on #1685
That would be awesome, @maddy-tod , thanks! Don't hesitate indeed on pinging us as much as needed (specially as in this particular issue, part of the work is finding out the extent of problem and exploring a bit, and being able to reproduce it in your environment), and looking forward to your contribution!

[2019-01-17 11:34] MarcelloCa opened #1686 "jobs stay stuck in running"
### Informations

- **Qiskit Terra version**: 0.7.0

- **Python version**: 3.7.1

- **Operating system**: osx

### What is the current behavior?

jobs running forever even if next jobs are done

### Steps to reproduce the problem

jobs id:
5c3ce02366ed04005cffdfd9
5c3ce0528c4edc005e64dc24
5c3de1cd7f4daf0054fc7a12
5c3e5ac2fc03ea0056523706
5c3e5ac7226b9f005590e84b
5c3f551c1d0b3a0052fcf405
5c3f5577f9

[2019-01-17 12:10] yaelbh opened #1687 "Parallel compilation gets stuck if random seed is set"
### Informations

- **Qiskit Terra version**: 0.7
- **Python version**: 3.6
- **Operating system**: Linux

### What is the current behavior?

If `random.seed` is set, and some time afterwards `compile` is called for a set of more than one circuit: the compilation does not terminate.

When interrupted, the following appears:
[code]

### Steps to reproduce the problem

[code]

This example runs fore

[2019-01-17 12:30] yaelbh commented on #1687
Actually the correct syntax is:
[code]
And then it's OK, so I'm not sure if there is really a bug here.

[2019-01-17 13:12] nonhermitian commented on #1687
There is not, you are seeding the generator wrong:

https://docs.python.org/3/library/random.html

Also, I doubt that that actually sets the seed of the `qasm_simulator`.  You should pass `seed=1` to compile.

[2019-01-17 13:12] #1687 closed

[2019-01-17 14:44] nonhermitian opened #1688 "Include a copy method for QuantumCircuit"
### What is the expected enhancement?
This code is often repeated a lot:
[code]
It would be nice if there was a `copy()` method for `QuantumCircuit` that did this for you.

[2019-01-17 16:13] kdk commented on #1598
Looks like this was already resolved by f693681b0fdf75a6410bb363dd10a88e04a6b0c7.

[2019-01-17 16:13] #1598 closed

[2019-01-17 17:13] kdk commented on #1685
[networkx.lexicographical_topological_sort](https://networkx.github.io/documentation/stable/reference/algorithms/generated/networkx.algorithms.dag.lexicographical_topological_sort.html) supports a key function to resolve ambiguities in topological sort order.

[2019-01-17 19:01] nonhermitian opened #1689 "Allow experiment results and Qobj seed values to be list or int"
### What is the expected enhancement?
Noise simulations with openpulse have `shots` number of different seed values.  Therefore, the `seed` field in the Results and Qobj objects need to support this.

[2019-01-17 20:03] #1689 closed

[2019-01-17 22:57] jlatone opened #1691 "Recognize pre-existing conda env named qiskitenv in Makefile (ignore case)"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.2
- **Operating system**: macOS Mojave 10.14.2 (18C54)

### What is the current behavior?
If a Qiskitenv conda env exists but is not a case-match for the name of the env as specified in the Makefile then running `make` will result in an attempt to create the pre-existing env and an error message. It's harmless, but annoy

[2019-01-18 01:59] nonhermitian opened #1694 "Backend configuration schema too restrictive for open pulse simulator"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently backend validation requires that a backend have at least one gate in `gates` and one or more `basis_gates`.  These items are not needed for simulated backends intended to be run on the open pulse simulator.  In addition, the schema requires that `open_puls

[2019-01-18 09:36] nonhermitian commented on #1694
I am going to refactor around this

[2019-01-18 09:36] #1694 closed

[2019-01-18 11:46] diego-plan9 commented on #1605
Closing in the hopes it has been solved - please reopen if not!

[2019-01-18 11:46] #1605 closed

[2019-01-18 11:52] diego-plan9 commented on #650
Seems this issue is solved - `Qobj.from_dict()` seems to be only invoked a couple of times in `test_qobj.py` and `test_schemas.py`, which are legit use cases. Please reopen otherwise!

[2019-01-18 11:52] #650 closed

[2019-01-18 11:57] diego-plan9 commented on #588
@delapuente , @ewinston can we consider this an IBMQProvider-only issue?

[2019-01-18 11:57] diego-plan9 commented on #263
@ewinston can we consider this an IBMQProvider-only issue?

[2019-01-18 13:50] maddy-tod commented on #1685
I have looked at this, and you are correct different Python versions give different orderings.

[2019-01-18 15:13] nonhermitian opened #1696 "Compile does not work for qasm_simulator when noise model is given"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The following fails:
[code]
[code]

### Steps to reproduce the problem
Run above.

### What is the expected behavior?
It should work.

### Suggested solutions
It seems that `execute` was modified:
[code]
to include extra `kwargs` for Aer, but `compile` was not.

[2019-01-18 16:31] maddy-tod commented on #1685
It seems that simply changing`topological_sort()` to `lexicographical_topological_sort()` has sorted most of the issues, thank you @kdk ! However this has changed the order gates applied to registers appear in. This circuit would previously return the output below :
[code]

Whereas now it returns :
[code]
It is now respecting the order the gates were declared in but the order the gates appear on q

[2019-01-18 16:42] ajavadia commented on #1696
I think this is by design. It is part of separating `CompileConfig` and `RunConfig` (see #1629, and #978.).

Qobj is the experiment payload, and you only need circuits and a CompileConfig to generate it (e.g. coupling_map, native gate set, etc.)

RunConfig configures your runtime environment, like shots, max_credits, memory, etc.

The idea is that you would compile something once, but run it multi

[2019-01-18 17:19] nonhermitian commented on #1696
Ok.  However unless one read the issues you linked to they would not know this.

[2019-01-18 17:19] #1696 closed

[2019-01-18 17:37] ajavadia commented on #1685
Thanks, this looks good. The new order makes more sense. So let's go ahead with this.

Afterwards, I would like to see if we can make the visualizers left-justified (in your example all 3 H gates in the same layer). But that has to be done at the level of individual simulators. Instead of drawing gate-by-gate, they have to get `dag.layers()`, and draw layer-by-layer.

[2019-01-19 16:21] ajavadia opened #1697 "Unroller basis should be explicit"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently there is an assumption in the transpiler's unroller pass that if the circuit cannot be unrolled to the given basis, it will just unroll down to `U` and `CX`, which are universal.

However this is a bit magic, and we should move towards requiring the basis

[2019-01-21 01:08] ajavadia opened #1698 "Label qubit number in qiskit_backend_overview"
### What is the expected enhancement?
Using the `% qiskit_backend_overview` Jupyter magic, it is possible to get a view of the coupling map of each device:

<img width="920" alt="image" src="https://user-images.githubusercontent.com/8622381/51447753-18c78080-1cef-11e9-8d46-4e8818b5bb57.png">

It would be nice if the qubits were labeled by index so one knows which is qubit 0, 1, etc.

[2019-01-21 03:11] ajavadia opened #1699 "BasicMapper fails with multiple registers"
### What is the expected enhancement?
Mapping a toffoli to 3 qubits. Failure seen when circuit is defined over 2 registers (1 register is fine):

[code]

[2019-01-21 10:58] diego-plan9 opened #1701 "Appveyor checks not being displayed"
### Information

Since a few days ago, appveyor checks are not being displayed in PRs or master commits - however, the hook seems to be in place and the builds seem to be triggered:

https://ci.appveyor.com/project/Qiskit/qiskit-sdk-py/history

### What is the expected behavior?

Have the appveyor checks show in the github interface again.

[2019-01-21 12:04] diego-plan9 commented on #1691
Fixed via #1693

[2019-01-21 12:04] #1691 closed

[2019-01-21 12:38] ajavadia opened #1703 "Bug in drawing barriers in matplotlib circuit drawer"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.6
- **Operating system**: mac

### What is the current behavior?
Drawing barriers (or barrier like instructions such as snapshot) sometimes fails in matplotlib drawer.

### Steps to reproduce the problem
[code]

![image](https://user-images.githubusercontent.com/8622381/51454284-f72bc080-1d11-11e9-8a12-cdb4e8558aa4.png)

[2019-01-21 13:37] 1ucian0 commented on #1699
Is this issue fixed by https://github.com/Qiskit/qiskit-terra/pull/1611 ?

[2019-01-21 13:41] #983 closed

[2019-01-21 17:37] ajavadia commented on #1573
The circuits are non-equivalent (different `counts` dict keys). But also it just does not swap correctly (leaves CNOTs between non-adjacent qubits).

[2019-01-21 19:39] ajavadia commented on #1699
@1ucian0 yes it is. Sorry I fixed that.

[2019-01-21 19:39] #1699 closed

[2019-01-21 20:32] #1610 closed

[2019-01-21 20:49] kdk commented on #1591
Attaching a PR to address this by including a barrier prior to the final set of measurements when compiling for a simulator. (This was already done when compiling for devices.) This should keep separate the responsibilities of the transpiler and the backend, without effecting the semantics of the circuit.

[2019-01-22 01:09] JuanIgnacioAdame opened #1706 "Additional timing information beyond `eval_time` when running variational algorithms available in aqua"
### What is the expected enhancement?

My understanding is that when running the QAOA implementation in aqua, the only timing information you can retrieve is the total wall-clock time, which is returned as the value of the key `eval_time` in the results dictionary.  My understanding is that `eval_time` consists of the sum of the varying time in the queue, the classical optimization process involvi

[2019-01-22 01:33] #1591 closed

[2019-01-22 14:11] maddy-tod commented on #1685
@ajavadia would you like me to open a separate issue for left justifying the visualizers? I have started to work on it for the text drawer.

[2019-01-22 14:54] ajavadia commented on #1685
@maddy-tod sure that'd be good.

It is a little tricky though because something like this can be left justified:
[code]

but this one, even though logically the cnots are in the same layer, should be spaced out in different columns visually:
[code]

but i think checking qubit ranges for 2/3 qubit gates should work.

I agree that the text drawer is the best place to start due to simplicity, followe

[2019-01-22 15:16] maddy-tod opened #1707 "Left justify the circuit in text visualizer"
### What is the expected enhancement?
Currently when a circuit is displayed using the text drawer each gate in a circuit sits in its own column, as shown in the following circuit.
[code]
It would be better if the circuits could be left justified, so the above circuit would appear as below.
[code]
It appears that circuits are already justified like this in the matplotlib drawer.

[2019-01-22 15:21] nonhermitian opened #1708 "CI Testing to Ensure Backward Compatibility with Previous Terra Versions"
### What is the expected behavior?
Currently there is no testing to ensure that changes made in master do not break previous versions of terra code, e.g. notebooks written for previous releases.

It may be beneficial to add tests to the Travis CI framework that run notebooks for previous versions of terra using the latest master to check for backward compatibility.  As will other tests, this shoul

[2019-01-22 16:44] chriseclectic opened #1709 "Transpiler reorders measure through barriers"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.6
- **Operating system**: MacOS

### What is the current behavior?

A recent merge into master (I think probably #1705) is `qiskit-aer` master to fail because it reorders measurements past barriers.

### Steps to reproduce the problem

One of the Aer tests is a non-local measure noise: if I measure qubit 0, apply a noise

[2019-01-22 16:53] chriseclectic commented on #1709
The full failing test is:

[code]

And it should have `target == counts` up to statistical error on the counts. Instead, because measure of qubit-1 is being put before measure of qubit-0, the noise to qubit 1 is being applied after it has already been measured returning final counts `{'0x0': 2000}`.

[2019-01-22 18:02] nonhermitian opened #1710 "How to filter jobs by qasm.header.description?"
### What is the expected enhancement?

Is it possible to filter jobs on a backend by the `qasm.header.description` string?  For example:

`[job for job in backend.jobs if 'experiment_123' in qasms.header.description]`

If not, can this be added?  It is a requested feature.

[2019-01-22 18:19] ewinston commented on #1710
This should be possible with the `db_filter` argument of `backend.jobs()` but it may require some knowledge of the data format coming back from the api.

[2019-01-22 19:05] nonhermitian commented on #1710
Yeah, I know about `db_filter`, but I have no idea how to get it to do what I want.  In addition, some things are CamelCased from the API, but they are snake_cased in terra, so searching is less than straightforward unless you are directly copying an example from the docstrings

[2019-01-22 19:43] taalexander opened #1711 "Initial layout is not honoured when coupling_map is present"
### Informations

- **Qiskit Terra version**: 0.8.0
- **Python version**: 3.6.6
- **Operating system**: OSX

### What is the current behavior?
When `coupling_map` is present in `transpile` it overwrites `initial_layout`.

### Steps to reproduce the problem
Transpile a circuit with both a `coupling_map` and `initial_layout`

### What is the expected behavior?
`initial_layout` should be honoured if

[2019-01-23 00:33] attp opened #1712 "Backend Jupyter Magic not working"
### Information

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.7.1
- **Operating system**: macOS 10.14.2
- **Browser**: Firefox and Chrome

### What is the current behavior?

No informative output for the `%qiskit_backend_monitor backend` and `%qiskit_backend_overview` commands:
![error_jupyter_output](https://user-images.githubusercontent.com/9410731/51574515-36b8ff00-1f02-11e9-8ed6-1

[2019-01-23 03:26] taalexander opened #1713 "Pulse API Proposal"
# Terra: Pulse API
| Status        | Proposed                                             |
:-------------- |:---------------------------------------------------- |
| **Author(s)** | talexander@ibm.com, knzwnao@jp.ibm.com, itoko@jp.ibm.com        |
| **Updated**   | 2019-03-04                                           |
## Objective
The [Qiskit Backend Specifications document](https://arxiv.org/pd

[2019-01-23 04:36] attp commented on #1712
`matplotlib` and `ipywidgets` are installed (other jupyter monitoring tools work fine), I just an empty box in the case of `%qiskit_backend_monitor backend` and no output at all for `%qiskit_backend_overview`.

[2019-01-23 09:54] maddy-tod commented on #1707
In a circuit such as
[code]
The fully left justified circuit would be
[code]
However this now no longer respects the order in which the gates were declared, and I think would be less helpful to users. I think it would be better to follow the style already used in the matplotlib drawer and produce a circuit where the gates are in their own columns, in the order they were declared. This will take up

[2019-01-23 09:56] nonhermitian commented on #1712
Can you tell us what ipywidgets version you have?
[code]

I also can not reproduce this.  In addition I am getting many 502 and 400 errors (love the generic error), but they are all being reported.

The puzzling thing, and the one that makes me suspect ipywidgets version, is that the box shows up, but not the inside.  So the routine is getting to the final step without error, but nothing is visibl

[2019-01-23 11:54] quantumjim opened #1714 "Handling of Aer kwargs for runs on IBMQ backends"
Sometimes I run jobs with a noisy simulator, and sometimes I run on real devices. It would be good to be able to do this with a single execute line

    execute(qc,backend=backend,noise_model=noise_model,shots=shots,memory=True)

With `noise_model=None` when using a real device.

Currently this throws an exception because of the use of an Aer kwarg (`noise_model` in this case). I'd suggest making

[2019-01-23 15:38] nonhermitian commented on #1712
Are you also doing `%matplotlib inline` at the top of your notebook?

[2019-01-23 16:17] nonhermitian opened #1716 "Allow for setting qobj header description in execute and propagate to job"
### What is the expected enhancement?
The Qobj accepts a description in the header that allows the user to label the qobj with whatever message they want, e.g. `'cool_exp_v1'`.  However, this can not be set unless one first does `compile` and then manually sets the description.  Because the user never sees the qobj (and perhaps never should since it is just a fancy box) when using `execute` it is

[2019-01-23 16:38] Max-Reuter commented on #1697
Currently `['U', 'CX']` is appended to the basis list during `init` of `Unroller`. Should this be removed? Also, if given `basis=[]`, this error is raised: `NotImplementedError: ('No decomposition rules defined for ', 'U')`. Should we instead check for valid basis as you listed above, then give some warning or error if they're invalid?

[2019-01-23 17:45] delapuente commented on #588
Yes, I think so.

[2019-01-23 18:01] ajavadia commented on #1697
Yes 'U' and 'CX' should not be inserted as basis without an explicit request. So unrolling to `basis=[]` should indeed raise an error.

However it is hard to apriori check what a valid basis will be. I would instead rely on the Unroller itself.

If the Unroller fails to unroll to a given basis, then it will already throw an error.
This could be:
1- `NotImplementedError`: There is no rule to decomp

[2019-01-23 18:14] ajavadia commented on #1697
While you're at it, can you also move the Unroller pass one directory up to `qiskit.transpiler.passes`? It shouldn't be in `qiskit.transpiler.passes.mapping`.

[2019-01-23 18:17] jaygambetta commented on #1697
we should not think of  CX and U as a basis. They are just another way to write a gate in my view. You should not be allowed to unroll to that basis.

[2019-01-23 18:33] ajavadia commented on #1707
This is what matplotlib does. Do you mean this?
![image](https://user-images.githubusercontent.com/8622381/51628012-ddf16280-1f11-11e9-959e-be94fb224c4c.png)

Or do you mean this?
[code]

You are right that the second one is more accurate in terms of gate order, but then that would not really be left justified. The reason I was proposing left justified is that it gives you a good sense of the circ

[2019-01-23 18:43] Max-Reuter commented on #1697
@ajavadia What's a setup where `RecursionError` would be expected? Does Jay's comment require me to do anything beyond what you're asking?

[2019-01-24 08:51] diego-plan9 commented on #588
Ok, moving to the ibmq repository then!

[2019-01-24 09:44] maddy-tod commented on #1707
When I output that circuit to matplotlib the image I get is
![image](https://user-images.githubusercontent.com/40489777/51668605-7fcc8a00-1fba-11e9-84ff-238deefc0adb.png)
which is the same as your second example. I get a different image because I was running it against a version of qiskit that includes my fix for #1685 - sorry for the confusion! It might make sense to have the circuits right justi

[2019-01-24 19:34] taalexander opened #1719 "BackendConfiguration fails validation if backend supports pulse"
### Informations

- **Qiskit Terra version**:0.8.0
- **Python version**3.6.6
- **Operating system**:OSX

### What is the current behavior?
If a backend sets `open_pulse=true` in its configuration Qiskit will raise a validation error when creating a `BackendConfigurationSchema`

### Steps to reproduce the problem
Create a backend with `open_pulse=true` set in its configuration.

### What is the exp

[2019-01-24 19:45] nonhermitian commented on #1719
Saw this as well in #1694.

[2019-01-25 00:07] ajavadia commented on #1707
Sure, I think there is merit to a right justified drawing as well. Left-justified is common in backend-agnostic circuits (textbooks, papers). Also the device schedule is something that is backend-specific and can change with different schedulers.

I think if we could have this as a drawing option in `circuit.draw()` it would be best (maybe `justify='left'/'right'` or `schedule='asap'/'alap'`).

[2019-01-25 00:09] #1719 closed

[2019-01-25 02:58] ajavadia commented on #1686
Hi @MarcelloCa, turns out the issue was with some intermittent network failures that prevented the devices from communicating job results back to the cloud. We are working on fixing the underlying issue, but in the meantime please resubmit your jobs. Apologies for the inconvenience.

[2019-01-25 02:58] #1686 closed

[2019-01-25 08:51] #1633 closed

[2019-01-25 15:03] Max-Reuter commented on #1711
@ajavadia can I take this issue off your hands?

[2019-01-25 16:32] ajavadia commented on #1711
Sure, thanks!

Let me know if you have any questions. I think Thomas has identified where the problem is accurately. Would be great if you could write a test also so this doesn’t happen again.

[2019-01-26 11:26] alfrisch opened #1721 "state initializer not working correctly for some negative values"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7.1
- **Operating system**: Win10

### What is the current behavior?

When trying to initialize a state using `initialize` for a vector with some specific negative entries, e.g. `[-0.5, 0.5, 0.5, 0.5]`, the state has wrong signs, e.g. it turns out to be `[0.5, -0.5, -0.5, -0.5]`.
This can not be checked using an assertion

[2019-01-28 00:03] pfpoitras commented on #1698
Hello World! This was labeled as "good first issue" so I'm taking a crack at it.

The culprit for the numbers not showing up is at line 136 here: https://github.com/Qiskit/qiskit-terra/blob/175694c60e80a455ccd3957ddca47b9464574ae9/qiskit/tools/jupyter/_backend_overview.py#L133-L136

Numbers can be implemented in those graphs by simply setting `label_qubits=True`, but the numbers show up a bit smal

[2019-01-28 18:32] ajavadia commented on #1698
@pfpoitras, thanks. I think @nonhermitian who built that module also pointed the same thing out (numbers being too small to see). If it doesn't show nicely, I'm fine closing this issue.

One can always look see qubit numbers by using the `%qiskit_backend_monitor backend` magic function, which shows a single backend.

[2019-01-28 18:50] nonhermitian commented on #1698
Yeah, they are turned off by design there.  Basically, the overview is supposed to be just that, kind of 1km view from above kind of thing.  The `%qiskit_backend_monitor backend` is supposed to give you a more detailed view.

[2019-01-28 20:21] kdk opened #1723 "Extract layout from mapping passes"
Layout should be established during the embed stage of the transpiler, but several mapping passes have logic to establish their own layouts or change the layout provided. These should be extracted into their own passes and mappers should instead rely on the layouts set in the property_set.

[2019-01-29 15:00] eddieschoute commented on #1168
Is there suggested approach to solve this problem yet? Maybe find the bug in parser generator or rewrite the parser?
By the way, it may be nicer to create a standalone project in the context of OpenQasm that handles parsing and generating OpenQasm files. To reduce coupling and provide a clean interface for people who would like to interoperate with OpenQasm.

[2019-01-29 16:17] xkwei1119 opened #1724 "circuit.draw(output = 'latex') truncates circuit unexpectedly"
### Informations

- **Qiskit Terra version**: 0.7.0
- **Python version**: 3.6.5
- **Operating system**: Windows 10

### What is the current behavior?
test.draw(output = 'latex')

![image](https://user-images.githubusercontent.com/38588126/51922343-d7059c80-23b6-11e9-9125-ebc7ad7c573b.png)

### Steps to reproduce the problem

[code]

### What is the expected behavior?
test.draw(output = 'mpl')

![i

[2019-01-29 18:55] mtreinish commented on #1724
This is definitely a bug, and almost certainly related to the barrier implementation in the `qiskit/tools/visualization/_latex` module. I think what's going on (but I have yet to confirm this) is that the index where we insert the barriers is incorrect and ends up overwriting the hadamard gates instead of inserting a barrier after (which is the intended behavior). You can at least confirm that the

[2019-01-29 20:12] mtreinish commented on #1724
Yep, I just confirmed what I suspected is the cause of this, is indeed the underlying cause of this bug. For example, the list of latex commands used to draw the circuit (for the qn_5 qubit) goes from being:

` ['\\lstick{qn_{5}: \\ket{0}}', '\\qw \\barrier{0}',  '\\gate{H}',  '\\qw',  '\\qw',  '\\qw',  '\\qw',  '\\qw',  '\\qw',  '\\qw',  '\\qw', '\\qw',  '\\qw', '\\qw', '\\qw', '\\qw', '\\targ',

[2019-01-29 21:49] #1703 closed

[2019-01-29 23:15] jlatone commented on #1168
Eddie, I tried my simple 2-line test (from https://github.com/Qiskit/qiskit-terra/issues/1168#issuecomment-440788841) on the latest Terra, both 0.7.0 and 0.8.0. They both performed the same, but I think something may have been improved from pre-0.7.0. There's still constant linear growth during parse() but perhaps not as steep. Here's the `psrecord ` output from running your original 2.25M line fi

[2019-01-29 23:19] jlatone commented on #1168
And, Eddie, as for "By the way, it may be nicer...", I think you should enter a separate ("good first") Issue to request an Enhancement so that you idea is not lost here.

[2019-01-30 03:42] ajavadia opened #1729 "Avoid redefining decompositions for non-parametric gates"
### What is the expected enhancement?
The unroller pass depends on decompositions that are defined per gate, and expands those gates according to those decomposition rules.

For gates such as crz, cu1, cu3, rx, ry, rz, rzz, u1, u2, u3, the decomposition depends on the parameter, and so each gate instance can have its own decomposition.

However, for all other gates, this is redundant and can start

[2019-01-30 04:30] #1709 closed

[2019-01-30 05:19] #1573 closed

[2019-01-30 15:40] eddieschoute commented on #343
I think pipenv has support for automatically converting requirements.txt files, though it does not find the requirements-dev.txt file. This is also not resolved by using the `-e .` approach if you were to be using pip. Besides the excellent support for setting up virtual environments and lock files, this is an additional benefit of pipenv.

[2019-01-30 15:50] 1ucian0 commented on #1620
If I understand correctly, the first two items ("Remove the c++" code and "Travis cleanup") are done. I'm not sure of "Fix the documentation". If it's still pending, the issue should be moved to https://github.com/Qiskit/qiskit. Maybe @jaygambetta can answer this question?

[2019-01-30 16:00] #664 closed

[2019-01-30 16:02] chriseclectic commented on #861
This is done in `Aer` (though needs some thorough testing), but still needs to be added to `BasisAer` python simulators

[2019-01-30 16:51] ajavadia commented on #1138
This is now fixed by https://github.com/Qiskit/qiskit-terra/pull/1705.

[2019-01-30 16:51] #1138 closed

[2019-01-30 18:09] 1ucian0 commented on #1621
Just a note, `test/python/old_aer_integration_test` was renamed to `test/python/aer_provider_integration_test` after  https://github.com/Qiskit/qiskit-terra/pull/1644/files#diff-fad7dd2052a0948665b700b731953b42.

[2019-01-30 18:12] 1ucian0 commented on #1575
Fixed now. I think it was via https://github.com/Qiskit/qiskit-terra/pull/1722

[2019-01-30 18:12] #1575 closed

[2019-01-30 18:40] 1ucian0 commented on #804
Right now, there are only two tests using network:
 - test.python.tools.monitor.test_backend_monitor.TestBackendOverview.test_backend_monitor
 - test.python.tools.monitor.test_backend_monitor.TestBackendOverview.test_backend_overview

[2019-01-30 22:14] lzdanski commented on #1677
Discussed @diego-plan9 and @veenaiyuri a plan to test a doc directory structure to include translated content by adding a new directory level, `/nl/` Translated docs can be included as comprehensive doc packages as subdirectories, for example `/nl/ja/filename` for Japanese translations of a specific `filename`.  For example:

[code]

[2019-01-31 09:29] nonhermitian opened #1730 "StochasticSwap mapper fails when given no initial_layout if qreg does not use all qubits in coupling_map"
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
I created a pass manager as follows:
[code]
to mimic the default set of passes.  However, when running a circuit through it I get the following error (for a width 5 circuit) in the StochasticSwap:

[code]
It seems that this is because the coupling map (in th

[2019-01-31 10:16] nonhermitian opened #1731 "Layout class takes up most of compile time."
### Informations

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
In the `StochasticSwap` mapper the `Layout` class takes up most of the compile time:
[code]

Compare to old compile chain, with old `swap_mapper` (here with a register fix I did):
[code]

As you can see, the `Layout` makes the new swapper ~6x slower than the

[2019-01-31 10:35] DrissiReda opened #1733 "Using the rzz gate yields an error on circuit drawing"
### Informations

- **Qiskit Terra version**:
qiskit version 0.7.0
- **Python version**:
python 3.6.6
- **Operating system**:
Red Hat Entreprise Server 7.4
### Current behavior
At circuit draw  I get the following error
[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

It should draw the circuit with no problem, but here it gives a KeyError on "qubits"

### Su

[2019-01-31 12:17] #1685 closed

[2019-01-31 15:21] kdk commented on #1731
@1ucian0 I just pushed a branch that's a start on this.

[2019-01-31 16:16] #1219 closed

[2019-01-31 18:57] ajavadia commented on #804
Yeah and those are the only two tests marked as `slow_test`. Can't we close this issue?

[2019-01-31 20:18] diego-plan9 commented on #804
Yes, go for it!

[2019-01-31 21:15] diego-plan9 commented on #1072
Closing as we agreed on keeping the stages numerous during PRs.

[2019-01-31 21:15] #1072 closed

[2019-02-01 02:35] #804 closed

[2019-02-01 02:36] ajavadia commented on #1731
closed via #1736

[2019-02-01 02:36] #1731 closed

[2019-02-01 02:39] ajavadia commented on #1698
Ok, so i'll close this.

[2019-02-01 02:39] #1698 closed

[2019-02-01 02:40] ajavadia commented on #1697
@Max-Reuter any update on this?

[2019-02-01 03:19] ajavadia commented on #1712
@attp was this solved for you?

[2019-02-01 03:48] attp commented on #1712
@nonhermitian - I am running `%matplotlib inline` at the top of my notebook and I'm using ipywidgets version 7.4.2

@ajavadia unfortunately, this hasn't been solved for me yet.

[2019-02-01 05:44] attp commented on #1712
I have just tried creating a whole new conda environment with a clean install of qiskit, and it still doesn't work. I don't know what in my setup could be causing this. Feel free to close this if you want, I can't find anybody who can replicate the issue.

[2019-02-01 15:34] dmitrimaslov opened #1741 "Shorter and more structured gate definitions (part 1)"
### What is the expected enhancement?
Regarding the [`qelib1.inc`](https://github.com/Qiskit/qiskit-terra/blob/996e33cc4dd241c28d83cffa24d20f8228bb15a8/qiskit/qasm/libs/qelib1.inc) file.

1. Line 13: It helps to double define the CNOT gate as the CNOT:
[code]

2. Line 22: It helps to double define NOT gate as the NOT gate:
[code]

3. Lines 30-32: Phase gate is sufficiently often denoted as `p`.  P

[2019-02-01 15:42] eddieschoute opened #1742 "Factor out OpenQASM parser"
### What is the expected enhancement?
During our discussion of #1168 I proposed that the OpenQASM parser should be split off into a separate project, in the context of OpenQASM, and @jlatone concurred. This would allow projects other than Qiskit to interoperate using OpenQASM. Furthermore, it will be easier to test and optimize the parser by itself, unbound by Qiskit, possibly giving a much more e

[2019-02-01 15:44] eddieschoute commented on #1168
The performance may be slightly improved, but requiring 5.5GB of memory for a 2.25MB file (a 2000x blowup) is still far from ideal.

[2019-02-01 16:02] nonhermitian opened #1743 "Execute trials in StochasticSwap in parallel"
### What is the expected enhancement?
It is possible to perform the loop over `trials` in `_layer_permutation` in parallel.  I.e. perform all trials and take the best result.  If using a callback function, it should be possible to stop remaining processes if a `depth=1` circuit is found.

[2019-02-01 16:03] #1724 closed

[2019-02-01 20:14] jaygambetta commented on #1742
I think its best we don't remove it for now. We are going to move it a directory called importers or something like that so that it has a clear separation in the qiskit structure.

[2019-02-01 23:36] nonhermitian opened #1747 "Layout object cannot be used as aliases in DAGcircuit.qasm()"
### Informations

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
When the `StochasticSwap` mapper fails, it raises a `TranspilerError` and passes the `Layout` to the DAG layer to show the qasm where the error is occurring:

https://github.com/Qiskit/qiskit-terra/blob/186f3bf4fdd2bdcd9d18b2e059aea76209ddda0b/qiskit/transpiler/pass