[2020-06-24 13:51] ajavadia opened #4610 "mpl failure when no label"
Simple matplotlib drawer fails due to labels:

[code]

`AttributeError: 'Instruction' object has no attribute 'label'`

[2020-06-24 14:00] toural opened #4611 "U gates with long parameters generate a poor visualization"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

U gates with long parameters generate a poor visualization using matplotlib as can be seen in the following example that compares ASCII and mpl:

![image](https://user-images.githubusercontent.com/19472520/85560962-73bf7e80-b62b-11ea-8900-31818c3b3b13.png)
### Steps to rep

[2020-06-24 14:03] Cryoris commented on #4610
Duplicate of #4439, addressed in the draft PR #4389.

[2020-06-24 14:07] enavarro51 commented on #4605
This is one of a number of issues with the mpl drawer. See my comment from yesterday at #4580.

[2020-06-24 14:35] toural commented on #4605
This visualization is used in Qiskit circuit n-local documentation and following indications we are moving from ASCII hardcoded representation to mpl jupyter-execute code block

[2020-06-24 14:36] toural commented on #4611
This visualization is used in Qiskit circuit Pauli Feature Map documentation and following indications we are moving from ASCII hardcoded representation to mpl jupyter-execute code block

[2020-06-24 14:49] enavarro51 commented on #4605
Right. This displays fine with the new version I mentioned in the #4580 comment.
![image](https://user-images.githubusercontent.com/16268251/85578536-fe35bd00-b5ee-11ea-8354-da1e3733fdec.png)

[2020-06-24 15:45] #4610 closed

[2020-06-24 17:55] enavarro51 commented on #4611
Not to belabor the point, but from #4580 comment new version,
![image](https://user-images.githubusercontent.com/16268251/85607484-04d12e00-b609-11ea-9ed1-457701630563.png)

[2020-06-24 19:53] enavarro51 commented on #4611
Of course it might be nice if the 3.14... got replaced with pi somewhere.

[2020-06-24 20:05] mantcep commented on #4348
Hi again!

I looked into this briefly and came up with the following:

[code]

Would something like this be good for this test? It is a simple check based on calculating the circuit matrix multiplying Hadamard and diagonal truth table matrices. I assumed this straightforward check should be fine. Additionally, I thought it would make sense to add a check that an error is raised with an invalid inp

[2020-06-25 15:45] taalexander commented on #3599
The Hamiltonian comes from the backend in GHz, so you will have to add a factor 1e9, to each entry in the `vars` section to convert to Hz.

[2020-06-25 15:54] kdk opened #4615 "DAGCircuit.compose does not remap condition bits"
### Information

- **Qiskit Terra version**: master@ 487b07fb

### What is the current behavior?

During #4454 , it came up that `DAGCircuit.compose` will remap clbits used in classical instructions, but does not always remap clbits used in conditional gates.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Conditional gates in the in the composed circuit should hav

[2020-06-25 16:12] arunraja-hub commented on #3599
There is no `vars` in qiskit-terra/qiskit/providers/models/backendconfiguration.py. Should I be looking for it in another file?
Also, sorry if I am asking the obvious here, according to https://github.com/Qiskit/qiskit-terra/blob/fab61d21d105c40142e7d67a8ea7bab602dd4c12/qiskit/providers/models/backendconfiguration.py#L479
aren't we already multiplying the ranges by 1e9?

[2020-06-25 16:15] #4220 closed

[2020-06-25 18:01] #3086 closed

[2020-06-25 18:01] #3146 closed

[2020-06-25 21:19] #4576 closed

[2020-06-25 22:33] #4252 closed

[2020-06-26 00:25] #2784 closed

[2020-06-26 04:08] ajavadia opened #4618 "pulse jobs fail schema validation"
Every pulse job is failing schema validation. This happened in https://github.com/Qiskit/qiskit-terra/pull/4539.

[code]

[2020-06-26 10:44] Cryoris commented on #4348
Thanks for the contribution @mantcep, please open a PR for this! 👍

[2020-06-26 11:37] mtreinish commented on #4618
To make #4539  work with our broken system around schemas (because of the lack of versioning and the backwards relationship between iqx and terra) it needs to be reverted on the qobj and assembly side except for the qobj schema changes. Then after the schema changes get included in the next release we can look at adding back the pieces that use the changes. (Note this only works because the change

[2020-06-26 12:05] ajavadia opened #4620 "consistency in `cals.get()`"
The function signature for getting backend cals for different gates is not obvious:

[code]

Can we do something like this?

[code]

[2020-06-26 13:48] taalexander commented on #4618
It seems like it may be failing because `rep_time` may be empty? We could provide a dummy value if not supplied to make this pass validation temporarily? @zachschoenfeld33

[2020-06-26 14:05] enavarro51 commented on #2788
I know this is an old issue, but I believe the reason for the extra room is for displaying bars for the folded (wrapped) rows. As in,
![image](https://user-images.githubusercontent.com/16268251/85865709-26eabd80-b77b-11ea-9ccf-ceab5728102b.png)
If the gates were moved to the left on the first row, either there wouldn't be enough room for the bars or the columns would not line up between the rows.

[2020-06-26 16:21] ajavadia commented on #4608
You are right that mapping sub-circuits is currently not supported. This is an open issue to permute the qubits back to where they were. We have code for doing this (TokenSwap https://github.com/Qiskit/qiskit-terra/pull/3762) but it has not been integrated in the default flow yet.

[2020-06-26 16:31] #4618 closed

[2020-06-26 19:36] MatthewGregoire42 opened #4623 "Error in extracting qasm code from a controlled UnitaryGate"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.6.8
- **Operating system**: Microsoft Windows [Version 10.0.18363.900]

### What is the current behavior?

When I run the following code, I get the corresponding error:

[code]

[code]
It looks like `gate.params` returns the unitary matrix `U`, and then `pi_check` tries to apply `complex(U)`, which results in the error.

#

[2020-06-27 03:59] zhangl64 opened #4625 "BasicAer needs H"
### Information

- **Qiskit Terra version**: 0.19.6
- **Python version**: 3.7.4
- **Operating system**: Mac OS 10.14.6

### What is the current behavior?

Error message:
[code]

### Steps to reproduce the problem

Run the example in README.md:
[code]

### What is the expected behavior?

Should print the output without error.

### Suggested solutions

N/A.

Many thanks!

[2020-06-27 05:20] realistix30 commented on #4625
Hi,
I'm not sure what the difference with Aer and BasicAer.
But I tried to run it using Aer it worked for me.
![Bug#4625](https://user-images.githubusercontent.com/65805697/85915290-c17cf680-b878-11ea-9422-476e829ac534.PNG)

[2020-06-27 09:03] mantcep commented on #4348
Thank you for the feedback, @Cryoris! I have created the PR and already got a review on that 🙂

[2020-06-27 13:56] zhangl64 commented on #4625
Awesome, thanks @realistix30 , `Are` works for me, please let me if `BasicAer` works on your side. Cheers~

[2020-06-27 14:52] realistix30 commented on #4625
You're welcome! It seems this is just a work around. I'm still not sure about the underlying issue. I asked around slack and they said the BasicAer will be replaced by Aer once Aer is stable. There are also other differences between them. You can check here. https://qiskit.slack.com/archives/C7SJ0PJ5A/p1591566437406400?thread_ts=1591311954.362500&channel=C7SJ0PJ5A&message_ts=1591566437.406400

[2020-06-27 17:51] #3416 closed

[2020-06-29 12:16] nmoran commented on #4608
Thanks for the update @ajavadia. For now we have implemented a workaround where we add measurements for each qubit, apply the transpilation pass (basic swap), read the final mapping of qubits from the measurement operations and finally remove the measurement operations. This is working well so far for the cases we have tried but will look into TokenSwap if we need something more robust.

[2020-06-29 12:42] jaygambetta commented on #4625
the h gate is not defined in basic aer this is why it is not working.

[2020-06-29 13:12] zhangl64 commented on #4625
Can the `README.md` file be fixed to reflect this? Thanks.

[2020-06-29 14:05] realistix30 commented on #4625
@jaygambetta Thanks for telling us the reason why. I thought it was something more complicated. If that's the case, @zhangl64 suggestion would be enough to prevent this error. Can I update the README.md file to close this issue?

[2020-06-29 14:14] jaygambetta commented on #4625
sure  but  adding just this gate to basic aer will also fix it which might be good as a backup as well.

adding H here

https://github.com/Qiskit/qiskit-terra/blob/0382d50d309374583071abebc73f889ade08c9e5/qiskit/providers/basicaer/qasm_simulator.py#L510

should fix it as well if basic aer is used (personally I would love to rewrite basic aer to be smarter or remove it all together (this is somethi

[2020-06-29 14:21] realistix30 commented on #4625
That's a better option. Will update BasicAer to add H. It will be my first contribution so I'm excited.  Please assign this issue to me and I'll make a pull request to close this issue. Thank you very much for the guidance!

[2020-06-29 14:23] jaygambetta commented on #4625
no problem -- add a test and let me know if you have questions or problems.

[2020-06-29 23:51] taalexander opened #4630 "Don't plot pulse table by default"
### What is the expected enhancement?
Currently when plotting a plot schedule with `Schedule.draw` the option `table` is true by default. This should be switched to false.

[2020-06-30 00:40] faisaldebouni commented on #4623
UnitaryGate.control() returns an instance of ControlledGate (not UnitaryGate), which doesn't overload a qasm() function. thus qasm() reverts back to instruction.qasm() which assumes that self.param is an array of qarg. while UnitaryGate.control()  stores the matrix representation in params

I think the solution is either to:
- option 1: make ControlledGate extends UnitaryGate so it inherits the qa

[2020-06-30 06:04] #4320 closed

[2020-06-30 15:21] mtreinish opened #4632 "BasisTranslator causes transpiler performance regression"
### Information

- **Qiskit Terra version**: Master
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

Since https://github.com/Qiskit/qiskit-terra/pull/4446 merged transpiler runtime performance has regressed, for example:

* https://qiskit.github.io/qiskit/#transpiler_benchmarks.TranspilerBenchSuite.time_single_gate_transpile?machine=dedicated-benchmarking-

[2020-06-30 15:50] mtreinish commented on #4606
The pulse side of the failures should be fixed with: https://github.com/Qiskit/qiskit-terra/pull/4613

[2020-06-30 16:07] #1143 closed

[2020-06-30 17:25] mtreinish commented on #3634
I just did a little digging and the source of this issue is that aqua is calling `parallel_map` with an empty list of values to map. This isn't handled by parallel_map so it tries to launch 0 parallel tasks which confuses the `progress_bar` because it doesn't make any sense to have a bar without any tasks. While this is easy to fix by just adding a check in `parallel_map` for an empty list for val

[2020-06-30 17:43] Sridhar-Majety-UCD opened #4634 "plot_state_qsphere() function does not display labels"
### Information

0.14.2- **Qiskit Terra version**:
3.7.6- **Python version**:
Windows 10 64 bit- **Operating system**:

### What is the current behavior?
I am trying to use qsphere function to display the states of the qubits in my quantum circuit but I am unable to display labels to indicate the state and angles of the qubit state. I am attaching the code below

### Steps to reproduce the problem

[2020-06-30 18:52] jlatone commented on #3634
I agree it's likely a bug elsewhere in the stack, but my point in adding to this issue is the following: it's semi-reasonable for an algorithm to throw a divide-by-zero exception if it's not going to take care to at least assert() against it; it's not reasonable for a **progress bar indicator** to not protect against a divide-by-zero exception and end up aborting a long-running job. This code need

[2020-06-30 19:13] nonhermitian commented on #3634
Perhaps the job wouldn’t run so long if something was actually being processed in parallel?  idk. Luckily @mtreinish has a good fix.

[2020-06-30 19:39] rochisha0 commented on #4634
from qiskit import *
from qiskit.tools.visualization import plot_state_qsphere
import numpy as np
%matplotlib inline
qr = QuantumRegister(3)
cr = ClassicalRegister(3)
qc = QuantumCircuit(qr, cr)
qc.ry(np.pi/2, 0)
qc.cx(0, 1)
backend = Aer.get_backend('statevector_simulator')
out = execute(qc,backend).result().get_statevector()
plot_state_qsphere(out)

This program seems to give the correct result

[2020-06-30 19:46] rochisha0 commented on #4623
Can I give this a try?

[2020-06-30 19:49] arunraja-hub commented on #4634
Hi @mtreinish, this issue could be solved by https://github.com/Qiskit/qiskit-terra/pull/4384
Has https://github.com/Qiskit/qiskit-terra/pull/4384 been made available in the latest qiskit version?

[2020-06-30 20:09] mtreinish commented on #4634
The PR did indeed fix that fix this on master already. It hasn't been included in a release yet since it was a new feature so wasn't backportable as a bugfix [1] in the recent 0.14.2 bugfix release. The next version of qiskit terra 0.15.0 will include that PR adding the new features for the qsphere plot.

Since, this has already been fixed on master I'm going to close this issue. But, if I'm missi

[2020-06-30 20:09] #4634 closed

[2020-06-30 21:05] faisaldebouni commented on #4623
sure no problem.

[2020-07-01 00:49] 1ucian0 opened #4635 "Several "Truncating to maximum value" messages when test.python.providers"
When testing the providers, there are several warnings about "error parameter greater than maximum allowed value".

[code]
[code]

Not sure if those are expected. If so, they should be captured (and checked) by the test themselves.

[2020-07-01 12:03] aditya-giri commented on #4439
Hi, is there an ETA on a fix for this?

[2020-07-01 13:05] rochisha0 commented on #4635
What is to be done on this issue?

[2020-07-01 13:20] Cryoris commented on #4439
This should be part of the 0.15 release which is scheduled for two weeks. #4389 is fixing this 🙂

[2020-07-01 13:52] 1ucian0 commented on #4635
It seems like Aer introduced this warnings in https://github.com/Qiskit/qiskit-aer/pull/792
In the same commit, Aer is adding a parameter `from_backend(..., warning=<bool>)` ([here](
https://github.com/Qiskit/qiskit-aer/blob/df0eb84857323555daf5727a1b210a69a7cf5a44/qiskit/providers/aer/noise/noise_model.py#L183)) that we can probably use to silence these output.

If you need sync help, look for me

[2020-07-01 15:59] kdk commented on #4600
Fixed by https://github.com/Qiskit/qiskit-terra/pull/4599 .

[2020-07-01 15:59] #4600 closed

[2020-07-01 15:59] kdk commented on #4601
Fixed by https://github.com/Qiskit/qiskit-terra/pull/4599 .

[2020-07-01 15:59] #4601 closed

[2020-07-01 16:44] Cryoris opened #5711 "Add to_gate to the Operators"
### What is the expected behavior?

While there is still a distinction between `Gate` (strictly unitary) and `Instruction` (not necessarily unitary) we should not only have a `to_instruction` but also a `to_gate` on the operators, analogous to the `QuantumCircuit`. If the operator is not unitary, then `to_gate` can raise an error.

[2020-07-01 16:56] ajavadia opened #4637 "Sqrt(X) and C-Sqrt(X) gates"
We should add these two gates. The first one is the current native hardware gate that is tuned up (a.k.a X90p or RX(pi/2) although I think there's a global phase difference). The second one gives more efficient oracles via better Toffolis.

Let's call them SX and CSX for now (although V and CV also appear in the literature).

Then we should try to replace all usages of U2 with the SX gate (conjuga

[2020-07-01 20:53] jlapeyre opened #5738 "Measurements in opflow should return real numbers"
### Information

- **Qiskit Aqua version**: 0.8.0.dev0+b040e2c
- **Python version**: 3.8.3
- **Operating system**: linux

### What is the current behavior?

The documentation says

https://github.com/Qiskit/qiskit-aqua/blob/b040e2c2f90f49a401551190475f4dc0f3706c7a/qiskit/aqua/operators/__init__.py#L62

### Steps to reproduce the problem

Read the docs.

### What is the expected behavior?

The docu

[2020-07-02 00:07] chriseclectic commented on #4625
BasicAer supports a set of basis gates `u1, u2, u3, id, cx, unitary`. You should transpile your circuit to its basis gates before running assemble like you would for running on a real backend:

[code]

I don't see any reason to add H to BasicAer when you can just transpile

[2020-07-02 00:09] chriseclectic commented on #4590
You can fix this they same way its handled in `Statevector.from_instruction`

[2020-07-02 00:13] chriseclectic commented on #4637
Rx(pi/2) is different to Sqrt(X) by phase, which would matter if it is going to be used as a controlled gate in any decompositions.

[2020-07-02 08:48] Cryoris commented on #4637
We can decompose `SX = H U1(pi/2) H`, that doesn't have a global phase difference. How exactly do we express `U2` in terms of `SX` and `RZ`? Alternatively we'd have `U2(a, b) = U1(a) H U1(b) Z` but this doesn't use `SX`.

[2020-07-02 09:43] aditya-giri commented on #4439
Awesome, thanks 🎉

[2020-07-02 11:56] ajavadia commented on #4637
writing SX in terms of two H gates is inefficient since LHS is one pulse and RHS is two pulses. you can write it as below, although it does have a global phase difference that can be added to fix up the definition once https://github.com/Qiskit/qiskit-terra/pull/4565 lands (I couldn't find an exact equivalence).
[code]
[code]

[2020-07-02 12:11] Hirmay commented on #4630
can you show it visually in form of an example and post the picture of it if you don't mind @taalexander .

[2020-07-02 12:31] ajavadia commented on #4637
Similarly one can convert U2(phi, lam) to SX by: `U1(lam+pi/2) --> SX --> U1(phi+pi/2)` which again has a global phase difference

[2020-07-02 14:40] taalexander commented on #4630
Hello @Hirmay, I've created a fix in #4631 already.

[2020-07-02 15:07] Hirmay commented on #4630
Ok then maybe next time as currently most topics in my domain are already being worked on or are fixed.

[2020-07-02 17:11] 1ucian0 commented on #4608
Should this issue be closed?

[2020-07-02 21:23] adjs opened #4642 "Refactor gates definition"
### What is the expected enhancement?

Dear qiskit team,

I modified the RZGate for personal use (with two gates instead of one) to keep the global phase. The modification did not work, and I noticed that there is a duplication of the code. It seems that QuantumCircuit.rz is defined in standard_gates\equivalence_library.py instead of standard_gates\rz.py. Several other gates are redefined in stand

[2020-07-02 21:27] ajavadia commented on #4642
Hi @adjs these two pending pull requests are related. We have to introduce a mechanism to track global phase, then we can make the definitions to correspond exactly to the matrix.
https://github.com/Qiskit/qiskit-terra/issues/4562
https://github.com/Qiskit/qiskit-terra/pull/4622

[2020-07-03 02:01] arunraja-hub commented on #3599
@taalexander a gentle reminder to help with the issue in the message above
Thank you very much!

[2020-07-03 04:35] taalexander commented on #3599
My apologies for the delay in getting back to you @arunraja-hub, I do not believe there is a Hamiltonian object, but it arrives with a structure as described in line 158 here https://www.github.com/Qiskit/qiskit-terra/tree/master/qiskit%2Fschemas%2Fbackend_configuration_schema.json. if present it should be a dictionary of this structure. It is this `vars` field that should be modified.

[2020-07-03 06:41] Cryoris commented on #4637
As for `CSX` should I use the exact decomposition with two H because the global phase matters there?

[2020-07-03 09:34] Cryoris opened #5745 "SummedOp: chop summands with a coefficient of 0"
### What is the expected enhancement?

[code]
A possible solution would be to add a ``SummedOp.chop_summands(threshold=0)`` method that is added as default call in ``SummedOp.reduce``, analogous to ``collapse_summands``. With the ``threshold`` argument the user can choose what to chop: all summands with a coefficient smaller than ``threshold`` are removed.

This is equivalent to ``WeightedPauliOpe

[2020-07-03 10:07] #4108 closed

[2020-07-03 10:08] #2117 closed

[2020-07-03 10:52] nkanazawa1989 opened #4643 "Implementation of the pulse drawer with new framework"
### What is the expected enhancement?

This proposes an implementation of the new framework of the pulse drawer. The new framework is designed to solve unittest issue (currently we don't have effective code test for visualization) and to extend a way of visualization to improve an efficiency of pulse coding.

The detailed design is discussed here:
https://github.com/Qiskit/rfcs/blob/fe1bfa58c6a016

[2020-07-03 20:00] 1ucian0 opened #4645 "MPL circuit drawer might lead to memory leaks"
When testing MPL circuit drawer, a matplotlib warning pops up.
[code]

Digging a bit, [a stackoverflow suggestion](https://stackoverflow.com/questions/16334588/create-a-figure-that-is-reference-counted/16337909#16337909) is to open new figures slightly different:
[code]

[2020-07-03 20:11] #4439 closed

[2020-07-03 20:11] #4449 closed

[2020-07-03 20:11] #4496 closed

[2020-07-03 20:11] #4497 closed

[2020-07-03 20:11] #4506 closed

[2020-07-03 20:11] #4545 closed

[2020-07-03 20:11] #4580 closed

[2020-07-03 20:11] #4605 closed

[2020-07-03 20:11] #4611 closed

[2020-07-03 20:11] #3641 closed

[2020-07-03 20:11] #3766 closed

[2020-07-03 20:11] #4148 closed

[2020-07-03 20:11] #4248 closed

[2020-07-03 20:11] #4290 closed

[2020-07-03 20:11] #4293 closed

[2020-07-03 20:11] #4352 closed

[2020-07-03 23:43] ajavadia commented on #4637
all global phase issues should be solvable when #4565 lands, you just add the difference as a phase to the circuit which defines the decomposition.

[2020-07-04 15:30] rraymondhp opened #4647 "`statevector_simulator` and `qasm_simulator` do not aggree on Parametrized circuits (way beyond statistical errors)"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.6.10
- **Operating system**: MacOSX

### What is the current behavior?
When running parametrized circuits on `qasm_simulator` and `statevector_simulator` the results are very different. It seems that the `statevector_simulator` always return a computational basis.

### Steps to reproduce the problem
Run the tutorial of par

[2020-07-04 21:59] #4647 closed

[2020-07-04 22:19] VoicuTomut opened #4648 "'Initialize' object has no attribute 'label'"
### Information

- **Qiskit Terra version**:'0.14.2',
- **Python version**:3.7.7
- **Operating system**:Windows 10

### What is the current behavior?
Wen I trry to draw the circuit using 'mpl' I get  :  AttributeError: 'Initialize' object has no attribute 'label'
q=QuantumRegister(nq,'q')
c=ClassicalRegister(nq,'c')

qc=QuantumCircuit(q,c)

qc.initialize(psi,q)
qc.unitary(Ut,q)
qc.unitary(UXE,q)
q

[2020-07-05 01:28] realistix30 commented on #4625
Hi, what is our agreed fix for this issue? It seems one purpose of adding H is also for convenience? Would it still work the same without transpiling it?

[2020-07-05 15:23] ajavadia commented on #4648
this is solved and will be included in the next release https://github.com/Qiskit/qiskit-terra/pull/4616

[2020-07-05 15:23] #4648 closed

[2020-07-05 15:28] arunraja-hub commented on #3599
Thank you for your reply, @taalexander

The `hamiltonian` is initialised here:

https://github.com/Qiskit/qiskit-terra/blob/fab61d21d105c40142e7d67a8ea7bab602dd4c12/qiskit/providers/models/backendconfiguration.py#L399

It is a dictionary of strings. So do I change to a dictionary of integers?

[2020-07-05 18:57] taalexander commented on #3599
This type hint seems to have been added recently and unfortunately is wrong. This will need to be corrected. I would encourage you to look at the hamiltonian for `ibmq_armonk` with `backend.configuration().hamiltonian` to see the structure that is actually present. This is also another example. https://github.com/Qiskit/qiskit-terra/blob/e265409a4551551feddb4a74928386fd0d27f6df/qiskit/schemas/exam

[2020-07-05 18:59] taalexander opened #4649 "Backend configuration Hamiltonian type hint is incorrect"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The Hamiltonian type hint is incorrect https://github.com/Qiskit/qiskit-terra/blob/fab61d21d105c40142e7d67a8ea7bab602dd4c12/qiskit/providers/models/backendconfiguration.py#L399. Rather then a `Dict[str, str]` it is actually a `Dict[str, Any]`. See the schema for the actual

[2020-07-05 19:00] taalexander commented on #3599
I've created #4649 to track this bug.

[2020-07-05 22:24] arunraja-hub commented on #4649
Can I also work on this since I will have to correct this to sort out https://github.com/Qiskit/qiskit-terra/issues/3599?

[2020-07-06 07:48] Cryoris commented on #4637
Right, if that is merged we can update the SX gates. To have the right phase in CSX we could do ``csx a, b { h b; cu1(pi/2) a, b; h b; }``.

[2020-07-06 09:53] SergioUnoxx opened #4651 "How much time passes when you apply an identity gate in a T1 experiment?"
Hello! First of all, sorry if I'm posting my issue in the wrong place, I'm new to Github and I don't know if this is the best way to post an issue.

The thing is that I'm trying to guess what real time values (in microseconds) would the x axis have in the figure obtained from the following code (which I found in https://quantum-computing.ibm.com/docs/guide/wwwq/decoherence)

# t1.py
import numpy a

[2020-07-06 13:29] jaygambetta commented on #4625
@chriseclectic because many of the examples have h and we dont need to transpile for them. It does not hurt to over complete it.

[2020-07-06 15:17] a-kapila commented on #4651
You can find this in 'backend.properties().gates', where the relevant property is stored as an 'Nduv' (Name-date-unit-value) object for each gate for the backend, and updated when the machines are calibrated (approx once a day). Just be careful, normally the 'gate_length) for 'id' gates (which is what you're after) is stored in units of nanoseconds. You can also find this information in the IBM Qu

[2020-07-06 15:38] SergioUnoxx commented on #4651
Ok, so, for Essex, I got the following thing:

![image](https://user-images.githubusercontent.com/67900766/86611684-4d94c980-bfaf-11ea-8f3a-84a52bbb0c7c.png)

Does that mean that, everytime I apply a identity gate, 64 ns pass? Sorry if it's obvious to see, I'm kind of a newbie to Qiskit

[2020-07-06 16:46] mlxd commented on #4608
Hi @1ucian0 If there is an existing task to follow the integration of the TokenSwap work to solve our above issue I can close this and follow that work instead.

Though, happy to leave it at your discretion.

[2020-07-06 17:13] a-kapila commented on #4651
This isn't the right place to discuss it, try joining the Qiskit slack. And you are right for the first question, for the second question, you should be able to figure it out, try looking at the code under the 'Building the Circuits' section.

[2020-07-06 22:14] lcapelluto opened #4653 "Can't merge padded schedules"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

It's known that Delays prevent Schedules from being merged. Here's a simple example:

sched 0
d0 `|--------    Delay ------|`
u0 `|----- SamplePulse ---|`

sched 1
d0 `|--------    Delay ------|`
u4 `|----- SamplePulse ---|`

### Steps to reproduce the problem

I want to d

[2020-07-07 09:46] SergioUnoxx commented on #4651
Ok, I'll try. Thanks for the Qiskit slack advice and for your useful help!

[2020-07-07 13:32] taalexander commented on #4649
My apologies @arunraja-hub, @rochisha0 had submitted a PR before I saw your request here. Closing via #4649.

[2020-07-07 13:32] #4649 closed

[2020-07-07 13:34] taalexander commented on #3599
@arunraja-hub, are the requirements a bit clearer now?

[2020-07-07 13:59] arunraja-hub commented on #4649
@taalexander no worries. I understand that it is good to ask for permission to fix the bug so I waited for your reply

[2020-07-07 17:31] #805 closed

[2020-07-07 17:52] QacoBot opened #4658 "Branch `mergify/bp/stable/0.14/pr-4438` is failing"
Trying to build `mergify/bp/stable/0.14/pr-4438` at commit f472568b5415a2b20352f20fa99f85022f24314b failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/358460480

[2020-07-07 17:53] QacoBot opened #4659 "Branch `mergify/bp/stable/0.14/pr-4438` is failing"
Trying to build `mergify/bp/stable/0.14/pr-4438` at commit f472568b5415a2b20352f20fa99f85022f24314b failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/358460481

[2020-07-07 17:55] QacoBot opened #4660 "Branch `stable/0.14` is failing"
Trying to build `stable/0.14` at commit 74ae316a9911c15f24b6ecb1bddb04a7935325ed failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/358460507

[2020-07-07 17:55] QacoBot opened #4661 "Branch `stable/0.14` is failing"
Trying to build `stable/0.14` at commit 74ae316a9911c15f24b6ecb1bddb04a7935325ed failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/358460506

[2020-07-07 20:03] mtreinish commented on #4606
Ok I've figured out where this is going wrong, but don't have a fix yet. Basically running:

[code]

returns `U3(0, -pi/4, -pi/4)` for qubit 0 on windows with numpy 1.19.0 which causes the qasm tests to fail. While on linux and mac with numpy 1.19.0 it's still returning the correct `U3(0, 0, 0)`. We'll have to figure out where it's going wrong in the decomposition function to fix this, so it is de

[2020-07-07 20:36] #4658 closed

[2020-07-07 20:36] #4659 closed

[2020-07-07 20:36] #4660 closed

[2020-07-07 20:36] #4661 closed

[2020-07-07 22:00] #3634 closed

[2020-07-08 00:05] #4014 closed

[2020-07-08 00:28] #4632 closed

[2020-07-08 00:41] pedrorrivero opened #4664 "Add `ctrl_state` kwarg to CCX gate"
### What is the expected enhancement?
This functionality is present in the CX gate, and although it can be reproduced for CCX by using the `XGate().control(2, ctrl_state=ctrl_state)` sequence, it should be added for consistency and ease of use.

[2020-07-08 01:02] pedrorrivero commented on #4013
Excuse my late response, I missed the notification.

[code]
![download](https://user-images.githubusercontent.com/52980156/86861241-3e377e00-c08c-11ea-9181-df7e3aaa6416.png)

[2020-07-08 02:28] #4590 closed

[2020-07-08 04:05] arunraja-hub commented on #3599
https://github.com/Qiskit/qiskit-terra/issues/4649 has been fixed now
 the Hamiltonian specification in https://arxiv.org/pdf/1809.03452.pdf,
![image](https://user-images.githubusercontent.com/43485111/86874514-17705a80-c113-11ea-94d3-48a116569b5b.png)
Do I multiply each entry in `vars `as follows?:
`"vars" : {"v0": 5.0*1e9, "v1" : 5.25*1e9},`

[2020-07-08 04:27] #4598 closed

[2020-07-08 06:13] #4554 closed

[2020-07-08 09:10] AbeerVaishnav13 opened #4666 "Error in matplotlib RGBA values for ```plot_state_qsphere()``` function"
### Information
I was trying out Grover's search algorithm when encountered this problem. The ```plot_state_qsphere()``` function gives an error because the **calculated RGBA values are not between 0-1**. The goal was to display each iteration of Grover's algorithm step-by-step to properly visualize what's happening within the algorithm.

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.

[2020-07-08 09:44] Cryoris commented on #4013
This is the same as #4170.

[2020-07-08 10:32] a-kapila commented on #4651
Could you close this issue as well please?

[2020-07-08 13:46] mtreinish opened #4667 "Matplotlib circuit drawer is unconditionally using latex mode for gate names"
### Information

- **Qiskit Terra version**: Master
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

The matplotlib circuit drawer is unconditionally using latex mode for all gate names. This is a change in behavior from previous releases and can lead to weird results. For example, having a gate named `my_gate^22` will result in this being drawn:

![latex_m

[2020-07-08 14:18] #4179 closed

[2020-07-08 14:47] mtreinish opened #4668 "Performance regression in unrolling and circuit_to_instruction"
### Information

- **Qiskit Terra version**: Master
- **Python version**: any
- **Operating system**: Any

### What is the current behavior?

Since #4622 unrolling during transpilation and the `circuit_to_instruction()` have regressed in run time performance. The benchmarking machine shows this pretty clearly:

https://qiskit.github.io/qiskit/#passes.PassBenchmarks.time_unroller?machine=dedicated-

[2020-07-08 17:49] #4168 closed

[2020-07-08 18:27] kdk opened #4672 "Circuit_to_instruction converter missing classical register for conditional gates"
### Information

- **Qiskit Terra version**: master@c59caac
- **Python version**: 3.7
- **Operating system**: Linux

### What is the current behavior?

From https://travis-ci.com/github/Qiskit/qiskit-terra/jobs/358424742#L3190 , in some cases, the transpiler is generating conditional gates without the clbits on which they are conditioned. This was noticed in (but not necessarily caused by) code ad

[2020-07-08 18:29] #4651 closed

[2020-07-08 18:30] lcapelluto commented on #3343
This was fixed

[2020-07-08 18:30] #3343 closed

[2020-07-09 14:22] metacubestormerxii12 commented on #4620
I should be able to do this one.

[2020-07-09 15:34] taalexander commented on #4620
The signature is `get(name, qubits, **params)` and is typed pretty clearly. We won't be able to restructure the order without breaking existing code. Many gates also don't have parameters, but all have qubits, it makes sense for qubits to be a required argument.

[2020-07-09 15:42] taalexander commented on #3599
Yes :)

[2020-07-09 19:43] #4167 closed

[2020-07-09 21:53] #4615 closed

[2020-07-10 09:41] Zoufalc opened #4675 "Fix the addition of a control without unrolling for circuits that consist of simple gates such as `X`."
### Information

- **Qiskit Terra version**:  0.15.0
- **Python version**:  3.7.3
- **Operating system**: macOS Catalina 10.15.1

### What is the current behavior?

Given a simple quantum circuit consisting, e.g., of a single X gate which is converted to a gate and then transformed into a controlled gate, the current method returns a composed gate that consists of multiple 2-qubit and 1-qubit gate

[2020-07-10 13:07] #4630 closed

[2020-07-10 18:25] faisaldebouni commented on #4675
I would like to give it a try if nobody else is working on this.

[2020-07-10 19:25] kdk commented on #4675
All yours, @faisaldebouni .

[2020-07-11 02:30] ewinston commented on #4672
The minimal code which seems to reproduce the bug is,
[code]
During transpilation the dag seems to become invalid, when running `_check_condition` over nodes, in `consolidate_blocks`. It seems `consolidate_blocks` relies on being able to create and simulate a circuit with a classical condition but no classical register.

A workaround would be for `circuit_to_instruction` to change,

`if condition:

[2020-07-11 21:53] enavarro51 commented on #4672
@kdk @ewinston The following diff seems to take care of the problem and passes all the auto-tests. If this seems like a reasonable approach, let me know and I'll do a PR.
[code]

[2020-07-12 15:11] Cryoris opened #4681 "Statevector.from_instruction with controlled opaque gates breaks"
### Information

- **Qiskit Terra version**: 0.16.0 (stable)
- **Python version**: 3.7.7 (also on 3.8.3)
- **Operating system**: macOS Catalina

### What is the current behavior?

Simulating a circuit containing a controlled circuit with the `Statevector` class yields all zero amplitudes.
[code]
This is the case for different circuits, not just with a single X gate. Not calling `control` on the ga

[2020-07-12 16:56] SergioUnoxx opened #4683 "How do I perform a Ramsey experiment in other backends than IBMQX2?"
Hi! Recently, I performed a Ramsey experiment in the IBMQX2 backend, using the following code (https://quantum-computing.ibm.com/docs/guide/wwwq/decoherence) and obtained this figure:

![image](https://user-images.githubusercontent.com/67900766/87252113-f12f1f80-c470-11ea-9939-c95dd41c58dc.png)

However, Qiskit won't let me measure more times, and I like to observe the fringes' decay at long times

[2020-07-12 19:40] taalexander commented on #4683
This could be related to additional coherent noise playing a role at long time frames. Are you running an echoed sequence? See here for more detail on how to estimate T2 https://github.com/Qiskit/qiskit-tutorials/blob/4229e505d3fc5917bef8173c142657a4a18035d7/tutorials/noise/2_relaxation_and_decoherence.ipynb

[2020-07-12 20:19] SergioUnoxx commented on #4683
If with echoed sequence you are referring to a Hahn echo experiment, no, it is a Ramsey experiment. I'm applying a pi/2 gate, and then another one after a certain time for each measure.The link you shared shows how to perform decoherence experiments in a backend simulator, but I'm only interested in performing them in real qubits. Is that tutorial valid for real backends, like ibmq_essex or ibmqx2

[2020-07-12 22:40] #4606 closed

[2020-07-13 02:56] ajavadia opened #4687 "make synthesis algorithms phase correct"
[ ] Single qubit unitary synthesis
[ ] Two qubit unitary synthesis
[ ] Initialize
[ ] Isometry decomposition introduces a global phase - remove hack in `unitary.py` introduced in #4565
[ ] Diagonal synthesis

[2020-07-13 09:30] mrcdr opened #4688 "Small issue of qasm.node.Real (and a question)"
Dear developers,

### Information

- **Qiskit Terra version**: 0.14.2 (master)
- **Python version**: 3.8.3 (any)
- **Operating system**: Linux (any)

### What is the current behavior?
The following line raises `AttributeError: 'float' object has no attribute 'evalf'`
https://github.com/Qiskit/qiskit-terra/blob/e03cb1b7fdd1b9f07a7322992ab68b66977a1097/qiskit/qasm/node/real.py#L75
`evalf` may be som

[2020-07-13 11:57] mtreinish opened #4689 "#4670 increased memory consumption for terra ~50%"
### Information

- **Qiskit Terra version**: Master
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Since #4670 merged the memory consumption of running qiskit-terra has increased by ~50% on average. For example:

https://qiskit.github.io/qiskit/#passes.PassBenchmarks.peakmem_width_pass?p-n_qubits=5&p-depth=1024&commits=202efa71&os=Linux%204.15.0-46-generi

[2020-07-13 12:55] rajnandinimukherjee opened #4690 "AttributeError for import statement"
### Informations

- **Qiskit version**: 'qiskit': '0.19.6'
- **Python version**: Python 3.5.2
- **Operating system**: Linux Ubuntu 16.04.5

### What is the current behavior?
When trying to import qiskit, getting:
AttributeError: module 'qiskit.pulse.commands' has no attribute 'Command'

![Screenshot 2020-07-13 at 1 50 47 PM](https://user-images.githubusercontent.com/31992666/87306532-0e66fb00-c510

[2020-07-13 14:09] ajavadia opened #4691 "indicate global phase in circuit drawer"
If a circuit has the global_phase property (introduced in #4565 ) set to something non-zero, then the circuit drawer should show that somewhere. I don't know where, somewhere that looks good (bottom or upper-right maybe).

[2020-07-13 14:15] taalexander commented on #4683
Yes it should be valid for real backends as well. There is a difference between T2* and T2 times, and you may be running into coherent noise.

[2020-07-13 16:05] SergioUnoxx commented on #4683
I'm replacing 'qasm_simulator' for, say, 'ibmq_essex' , but it yields an error. I'm also trying to use the backend lines of code from the cod I posted first, but it's no good either. What's the problem? Sorry if my questions seem to be very basic, I haven't been using Qiskit for too long. And by the way, thanks for your help!

[2020-07-13 16:59] taalexander commented on #4683
Could you please post a stack trace of the error and how you are calling it? You likely are providing unnecessary settings to `execute` that are simulation only.

[2020-07-13 17:05] SergioUnoxx commented on #4683
This is the code:

[code]
And this is the error:
[code]

[2020-07-13 18:28] albi3ro opened #4692 "Aliases in visualization/latex.py"
I've been looking over the source for the generation of latex source, and I have become puzzled over `aliases` variable.

Most other options get passed in when creating the `QCircuitImage` class, but this one is passed in when running the `obj.latex(aliases=None)` function.

Also, there is no way to pass in `aliases` through the `circuit_drawer` in `visualization/circuit_visualization.py`, which i

[2020-07-13 18:35] mtreinish commented on #4690
This is a bug in python 3.5.2 typing (I think https://github.com/python/typing/issues/259 but it's hard to be sure for something so old). I would recommend updating your python version to the latest the python 3.5 (3.5.9) or downgrade to python 3.5.1. I was not able to reproduce this locally with 3.5.9, and we run also run CI on python 3.5.9 on linux and macOS and 3.5.4 on windows without any issu

[2020-07-13 22:34] kdk commented on #4672
Thanks @enavarro51 . I agree that looks like a reasonable fix. Can you add a test and open a PR?

[2020-07-13 22:50] enavarro51 commented on #4672
Will do. Is a reno required?

[2020-07-13 23:22] sassan72 commented on #2349
I encountered the same error. QiskitError: 'Cannot unroll the circuit to the given basis, method. No rule to expand instruction ry.'
---------------------------------------------------------------------------
QiskitError                               Traceback (most recent call last)
<ipython-input-320-3e182f1494e8> in <module>
     13         #g, g_bias = zip(*Parallel(n_jobs=-2)(delayed(gradient

[2020-07-14 05:55] nkanazawa1989 opened #10674 "Pulse tutorials need to be updated"
# Does existing documentation need to be updated with new content?

https://qiskit.org/documentation/tutorials/pulse/index.html

Pulse tutorials are using the old syntax and there are tons of deprecation warnings.
Those old codes should be updated.

[2020-07-14 12:28] kdk commented on #4672
Since this fixes a bug from a previous release, a reno would be great.

[2020-07-14 12:34] kdk commented on #2349
Hi @sassan72 , this sounds like a separate issue (that is triggering the same error). Can you open a new issue with your python version, qiskit version, and some example code that replicates the error you're seeing?

[2020-07-14 13:06] qci-amos opened #4694 "allow QuantumChannel as target in process_fidelity?"
Hi all,

I've been looking at your `process_fidelity` method along with your Process Tomography tutorial.

I noticed that in `process_fidelity`, you do not allow users to pass in a **noisy** `QuantumChannel` for `target` like you do for the `channel` argument:
https://github.com/Qiskit/qiskit-terra/blob/7af29f44581a5f2d16069ac24d284be45c8deb9f/qiskit/quantum_info/operators/measures.py#L85-L91

If

[2020-07-14 16:26] Cryoris opened #4697 "Re-using parameterized gate instances breaks upon in-place parameter assigning"
### Information

- **Qiskit Terra version**: e03cb1b7fd
- **Python version**: 3.7.7
- **Operating system**: macOS catalina

### What is the current behavior?

When placing the same parameterized gate into multiple circuits and binding the parameter value in place, the parameter in the gate instance is updated but the circuits containing this gate still have the old parameter in their parameter tab

[2020-07-14 21:43] kdk opened #4698 "Remove MSBasisDecomposer from pass manager construction"
### What is the expected enhancement?

The MSBasisDecomposer pass and `ms_basis_swap` check in https://github.com/Qiskit/qiskit-terra/blob/41cf87c/qiskit/compiler/transpile.py#L290 were introduced as workarounds to support transpiling to devices with other basis gates. This is now supported directly by the transpiler, so these can be removed. The MSBasisDecomposer pass should be deprecated with a

[2020-07-14 21:47] kdk opened #4699 "Consolidate synthesis code in qiskit/synthesis directory"
### What is the expected enhancement?

Move over the algorithms from quantum_info/synthesis to transpiler/synthesis.

[2020-07-15 01:52] ajavadia commented on #4237
I'll close this and open another one with more explanation.

[2020-07-15 01:52] #4237 closed

[2020-07-15 02:04] ajavadia commented on #4692
Seems like this has never been used so I think you can safely remove them entirely. good catch.

[2020-07-15 02:13] ajavadia commented on #4688
Sympy usage in Terra  was removed by @mtreinish in https://github.com/Qiskit/qiskit-terra/pull/3156. This might be leftover. I think your solution probably makes sense, but it needs a test to make sure symbolic QASM can still be parsed (e.g. something written with `pi` which is a valid keyword in OpenQASM).

[2020-07-15 03:08] ajavadia opened #4700 "Circuit construction from higher-order objects"
We should be able to construct circuits lazily from objects before they are synthesized. The synthesis happens later, and it may fail if a physical synthesis is not known.

It would be good for the circuit constructor to have a whitelist of things that can be legally added (currently it's just anything that implements a `to_instruction()` method).

Start of a list:
[ ] Operator (matrix op) --> rem

[2020-07-15 03:27] #4603 closed

[2020-07-15 03:50] arunraja-hub commented on #3599
Since, do I edit the description of `vars` in the hamiltonian dictionary as follows? :
from
https://github.com/Qiskit/qiskit-terra/blob/35db627fbd1c9762d9f394c71a1df129c24797f4/qiskit/schemas/backend_configuration_schema.json#L23
to
                   ` "description": "Variables in the h_str. Multiply by 1e9 to convert from GHz to Hz"},`

[2020-07-15 07:30] Cryoris commented on #4700
I like the idea to make the synthesis happen later and have abstract blocks inside the circuit, however I think it's also quite a nice feature to be able to just give an object a `to_instruction` and then being able to append it to the circuit.
Especially in times of separated Qiskit elements this might even be a necessary feature, otherwise we cannot append objects only existing in Aer/Ignis/Aqua

[2020-07-15 09:00] itoko opened #4703 "Helper function to get duration of instruction in backend"
### What is the expected enhancement?
`BaseBackend` (or `BackendProperties`) should have a helper function to enable users to get duration of an instruction easily. It would look like
[code]
This kind of function would be helpful for majority of users who want to use default instruction duration of a backend. It would also simplify the implementation of `InstructionDuration`, which will be introdu

[2020-07-15 10:30] challngr opened #4705 "Changing register size can corrupt circuit structures."
### Information

- **Qiskit Terra version**: 0.15.0.dev0+63449c4
- **Python version**: Python 3.7.7
- **Operating system**: MacOs 10.15.3

### What is the current behavior?
If a register size is changed using the register "size" attribute and the size is smaller than the original, the system is left in an inconsistent state as there may be instructions using one of the bits past the bit index.  If

[2020-07-15 12:42] taalexander commented on #3599
If you want to modify the description to something like `"description": "Variables in the h_str in GHz."` this is fine. The description is just for human readers.

[2020-07-15 14:30] nonhermitian opened #4707 "Cannot transpile multiple circuits"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives:

/opt/miniconda3/lib/python3.7/site-packages/qiskit_terra-0.15.0-py3.7-macosx-10.9-x86_64.egg/qiskit/compiler/transpile.py:445: UserWarning: All timestamps in backend properties are now in local time instead of UTC.
  if backend.properties():
Process F

[2020-07-15 15:05] mtreinish commented on #4707
I think this is caused by #4550 the multirprocessing stuff will need to pickle the arguments for each worker process and because of #4550 pickle doesn't know how to handle `PulseBackendConfiguration`. What I don't understand is why the ibmq provider is using the pulse backend configuration, I didn't think vigo was a pulse backend unless something changed with it since the last time I used it.

[2020-07-15 15:13] nonhermitian commented on #4707
I do not think Vigo is pulse enabled. However the notion of pulse or qasm backend is antiquated. The devices can be configured per provider. However, if pulse is one for one provider then the pulse params are pushed up for all.

[2020-07-15 15:14] nonhermitian commented on #4707
Note that this works just fine in previous versions, eg 0.19.6

[2020-07-15 15:22] oliverdial opened #4708 "circuit.cnot does not draw correctly"
### Information
IQX 2020/07/15

Qiskit Software | Version
-- | --
Qiskit | None
Terra | 0.9.0
Aer | 0.3.0
Ignis | 0.2.0
Aqua | 0.5.6
IBM Q Provider | 0.3.1

Python | 3.7.3 (default, Mar 27 2019, 16:54:48)  [Clang 4.0.1 (tags/RELEASE_401/final)]
OS | Darwin
CPUs | 4
Memory (Gb) | 16.0
Fri Aug 09 11:31:26 2019 EDT

*:

### What is the current behavior?

circ = QuantumCircuit(3)
circ.h(0)
circ.cnot(0

[2020-07-15 15:31] oliverdial opened #4709 "error messages do not provide details without additional effort."
### What is the expected enhancement?
Currently, if a job fails out, one gets an exception like:

IBMQJobFailureError: 'Unable to retrieve result for job xxxx. Job has failed. Use job.error_message() to get more details.'

seeing the actual error (which presumably the user will want), requires the extra step

[2020-07-15 15:32] nonhermitian commented on #4707
Also Vigo gives me :`QasmBackendConfiguration`

[2020-07-15 15:43] nonhermitian opened #4710 "circuit -> schedule raises exception"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives:

AttributeError: 'NoneType' object has no attribute 'instruction_schedule_map'

This works on older versions.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-07-15 15:51] mtreinish commented on #4707
I don't know what would have changed in terra related to the backend configuration since 0.14.2 to cause this. Are you using the same version of the ibmq provider in the failure case? The only changes to backend configuration since the 0.14.x release are #4539 and #4652 which shouldn't change anything around this.

[2020-07-15 16:12] nonhermitian commented on #4707
I am using provider master...

[2020-07-15 16:28] taalexander commented on #4709
I can second this as being a really useful addition.

[2020-07-15 16:37] taalexander commented on #4710
I think we can reopen this issue, it is confusing if a user encounters it.

[2020-07-15 16:49] nonhermitian commented on #4707
This still fails with the current provider `0.7.2` so seems to be a Terra issue.

[2020-07-15 17:02] mtreinish commented on #4707
Well something is trying to pickle a `PulseBackendConfiguration` object in the script because:
[code]
will only come from a `PulseBackendConfiguration` object. That's the signature for that class, nothing else has those positional args.

Anyway I just pushed a fix for #4550 as #4711 and it fixes the error here, but the example script gets stuck on a different pickling error for me locally now:
[co

[2020-07-15 19:22] oliverdial opened #4716 "jobmanager sample code does not work"
### Information
running on IQX
Qiskit Software | Version
-- | --
Qiskit | 0.19.6
Terra | 0.14.2
Aer | 0.5.2
Ignis | 0.3.3
Aqua | 0.7.3
IBM Q Provider | 0.7.2

Python | 3.7.6 \| packaged by conda-forge \| (default, Jun  1 2020, 18:57:50)  [GCC 7.5.0]
OS | Linux
CPUs | 8
Memory (Gb) | 31.420127868652344
Wed Jul 15 19:20:42 2020 UTC

### What is the current behavior?

I ran the sample code on https:/

[2020-07-15 22:18] kdk opened #4717 "pi_check generates to unparsable QASM"
### Information

- **Qiskit Terra version**: master @ 2f238c917
- **Python version**: 3.5
- **Operating system**: osx

### What is the current behavior?

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Thanks to @1ucian0 for help investigating.

### Suggested solutions

[2020-07-15 23:01] jyu00 commented on #4707
`IBMQBackend` contains `AccountProvider`, which contains a list of all backends the provider has, including some that support pulse. This was the reason it tripped on `PulseBackendConfiguration` pickling.

Similarly, `AccountProvider` has `IBMQBackendService`, which is a child of `SimpleNamespace`. I'll fix this in provider.

[2020-07-16 00:20] #4708 closed

[2020-07-16 02:14] Qoll opened #4719 "iplot_state_qsphere"
### Information

- Qiskit Terra version: 0.14.2:
- Python version 3.7:
- Operating system Windows 10:

### What is the current behavior?
Running example code for iplot_state_qsphere from https://qiskit.org/documentation/stubs/qiskit.visualization.iplot_state_qsphere.html#qiskit.visualization.iplot_state_qsphere renders no response

### Steps to reproduce the problem

Open jupyter notebook in Brave

[2020-07-16 02:50] #4550 closed

[2020-07-16 04:35] #4692 closed

[2020-07-16 04:37] taalexander opened #4720 "Mock Backends Default values are not properly being converted back to GHz"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
See https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/test/mock/backends/armonk/defs_armonk.json, this should be dumped to GHz instead of Hz

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-07-16 06:02] Chriscrosser3310 commented on #4710
Hi! I've never contributed before, but can I try this one? It seems doable.

[2020-07-16 10:36] Hirmay opened #4722 "Inconsistency in matplotlib"
### Information
- **Qiskit Terra version**:0.14.2
- **Python version**:3.7.6
- **Operating system**:Windows 10

### What is the current behavior?
The current issue which can be seen from the file is that measuring q1 gives a broader arrow of 1 line instead of conventional 2 line narrower arrow.

### Steps to reproduce the problem
It can be seen in the file

### What is the expected behavior?

###

[2020-07-16 10:38] Hirmay commented on #4722
If this unintentional can someone assign it to me?

[2020-07-16 11:06] mtreinish commented on #4719
Thanks for opening an issue about this. Unfortunately the interactive drawers no longer work, they depended on JS code hosted at a URL that no longer exists. We weren't able to preserve the functionality so for this upcoming release we've deprecated it and have the functions just use the matplotlib based drawers: https://github.com/Qiskit/qiskit-terra/pull/4438 This change will be included in the

[2020-07-16 11:06] #4719 closed

[2020-07-16 11:08] mtreinish commented on #2300
The drawers no longer exist since #4438 so this is no longer an issue

[2020-07-16 11:08] #2300 closed

[2020-07-16 15:11] JohanNicander opened #4724 "QiskitTestCase._get_resource_path misuse"
### Information

- **Qiskit Terra version**: (current master) [80dcb84676bc51367c298deb14ccb7ea26ef0d5a](https://github.com/Qiskit/qiskit-terra/tree/80dcb84676bc51367c298deb14ccb7ea26ef0d5a)
- **Python version**: 3.8.3
- **Operating system**: macOS Catalina version 10.15.5

### What is the current behavior?
Utility function `assertResult` in [trantspiler/test_mappers.py](https://github.com/Qiskit/

[2020-07-16 15:41] enavarro51 commented on #4722
If you have the source, this has been fixed in the current master and the fix should also be in the next release.

[2020-07-16 16:15] kdk opened #4727 "DAGCircuit.substitute_node_with_dag mutates input_dag if node has a condition"
### Information

- **Qiskit Terra version**: 63449c4

### What is the current behavior?

From https://travis-ci.com/github/Qiskit/qiskit-terra/jobs/361028025#L6256 , `DAGCircuit.substitute_node_with_dag(node, input_dag)` will mutate `input_dag` to add the condition from `node`. This will lead to issues of `input_dag` is later re-used in a non-conditional context.

### Steps to reproduce the proble

[2020-07-16 16:36] obliviateandsurrender commented on #4717
I think this happens because the parser doesn't recognize what to do at the recurrence of PI right after NNINTEGER. A quick fix I found for this was to add an additional regex match in the tokens for strings starting with a number and ending with "pi". Doing that little patch, it worked fine for the examples I'd tested it on.
Something like this: https://github.com/obliviateandsurrender/qiskit-ter

[2020-07-16 16:38] nonhermitian commented on #4717
Perhaps modding here: https://github.com/Qiskit/qiskit-terra/blob/aa96d9e60ff2b725415f93ed4ad9ba046934b6cb/qiskit/circuit/tools/pi_check.py#L75

[2020-07-16 17:47] obliviateandsurrender commented on #4681
This gives me the correct result. Using Python 3.8 and qiskit 0.19.6

![image](https://user-images.githubusercontent.com/23234279/87704433-03cf8e80-c7ba-11ea-9d66-3d339d11ebcc.png)

[2020-07-16 18:03] albi3ro commented on #4717
Since qiskit won't be the only thing needing to read the qasm, it's probably better to alter the output though `pi_check` then making reading qasm more complicated.

[2020-07-16 18:11] #4672 closed

[2020-07-16 18:47] kdk opened #4729 "Add validation to EquivalenceLibrary"
### What is the expected enhancement?

When calling `EquivalenceLibrary.add_entry` or `.set_entry`, the entry should first be checked to ensure it implements the same unitary as its corresponding gate. `add_entry` and `set_entry` should have a new `validate` kwarg (default true) .

[2020-07-16 19:10] taalexander commented on #4683
Yes, please remove the noise model. It is only for an `Aer` backend. You want something like:
[code]

[2020-07-16 19:24] 1ucian0 opened #4731 "Add support for backends with defective qubits and gates"
Support for backends with defective qubits and gates was added in PR https://github.com/Qiskit/qiskit-terra/pull/4110. However, it was reverted by PR https://github.com/Qiskit/qiskit-terra/pull/4723 because https://github.com/Qiskit/qiskit-ibmq-provider/issues/712, which is fixed by https://github.com/Qiskit/qiskit-ibmq-provider/pull/713.

Too complicated? Here is the bottom-line: The PR #4723 sho

[2020-07-16 19:40] mtreinish commented on #4731
No, that's only half of the story. It's more than just Qiskit/qiskit-ibmq-provider#713, the way args are modified in #4110 does no work because we can not use backend objects as arguments in multiprocessing. While Qiskit/qiskit-ibmq-provider#713 will probably fix it for ibmq provider aer will never work because it's not possible to pickle the C++ simulator python object (which relies on pycapsule,

[2020-07-16 20:28] nonhermitian commented on #4731
PR's like this also raise other questions.  In this case we have software implementing workarounds for faulty qubits / edges by avoiding mapping to these faulty components.  However, at the same time, we also have rules about when a circuit is guaranteed to run once compiled:

https://quantum-computing.ibm.com/docs/cloud/backends/versioning

If I have an old circuit that was compiled for a backend

[2020-07-17 02:27] knsmith opened #4736 "Allow gates to be inserted mid QuantumCircuit"
Unless there is something I am missing, it is difficult to add gates mid-circuit without using private QuantumCircuit variables such as _data. The best work around involves merging two circuits together like in the following example, but it would be great to be able to add new gates to a predefined circuit.

![image](https://user-images.githubusercontent.com/22149008/87741843-1393a680-c7ab-11ea-87

[2020-07-17 03:24] arunraja-hub commented on #3599
Noted. With regards to changing the code to reflect the conversion from GHz to Hz, I am not sure in which file to make this change at

[2020-07-17 05:49] Hirmay commented on #4722
ok thanks for informing.

[2020-07-17 06:01] Hirmay opened #4737 "Measurement seems unexpected"
### Information

- **Qiskit Terra version**:0.14.2
- **Python version**:3.7.6
- **Operating system**:Windows 10

### What is the current behavior?
The measurement seems to be happening on 0th qubit before applying CNOT gate on the penultimate and the last qubit.
![bug](https://user-images.githubusercontent.com/56473003/87753545-76735500-c820-11ea-9fd7-19f621612cdd.PNG)
### Steps to reproduce the p

[2020-07-17 08:43] Cryoris commented on #4736
Technically this is quite straightforward to do, the difficulty lies in how to specify where you want to insert gates?
Say you have a circuit looking like
[code]
and want to go to
[code]

How would the syntax for this look like?

[2020-07-17 10:27] JohanNicander opened #4738 "Integrating test suite into qiskit module"
### What is the expected enhancement?

The qiskit test suite should be integrated into the qiskit module. This would ease the integration of qiskit into more exotic hardware (see the [qiskit-on-raspberry](https://app.slack.com/client/T7RSPHKK2/C017SC2JS6L/thread/CJG2E9LQP-1593382123.486300) project for an example).

Examples of functionality would be

    python -c 'import qiskit; qiskit.test()'
t

[2020-07-17 10:32] mtreinish commented on #2991
This was fixed a while ago as we have caching in the azure jobs now.

[2020-07-17 10:32] #2991 closed

[2020-07-17 10:33] mtreinish commented on #4738
I think this is a duplicate of #1389

[2020-07-17 10:36] JohanNicander commented on #4738
You are absolutely right! My bad!

[2020-07-17 10:36] #4738 closed

[2020-07-17 10:52] JohanNicander commented on #1389
This would ease the integration of qiskit into more exotic hardware (see the [qiskit-on-raspberry](https://app.slack.com/client/T7RSPHKK2/C017SC2JS6L/thread/CJG2E9LQP-1593382123.486300) project for an example).

Examples of functionality would be (as mentioned above)

    python -c 'import qiskit; qiskit.test()'
to run the full test suite, but also

    python -c 'import qiskit.circuits; qiskit.ci

[2020-07-17 11:13] JohanNicander commented on #1389
I have also noticed that there are multiple ways of testing. `Tox` utilizes stestr, `make test` uses unittest, `make pytest` uses pytest. This is, in my opinion, a bit too much variety. Also now when implementing the integrated testing a test runner has to be picked, or functionality to change test runner has to be implemented. My vote is to stick to pytest since this is the most widely used. Are

[2020-07-17 11:19] SergioUnoxx commented on #4683
I see. The noise model is not necessary since I'm performing experiments on real backends. Thanks to your comment, I was able to make it work and measure T1 for Q1 on ibmq_london! However, I run into some troubles while measuring T2*: I use the following formula to calculate it theoretically from the T1 and T2 values for Q1 which appear in the backend's .csv on https://quantum-computing.ibm.com/:

[2020-07-17 11:36] mtreinish commented on #1389
There really isn't anything wrong with variety everyone out there has their own preferred workflow and tool, and we wanted to facilitate that. As a wider project qiskit has standardized on strict unittest compatibility for the test suites, and we use stestr in CI across all the projects. The strict unittest compatibility is to not preclude the use of any runner. All the test runners out there supp

[2020-07-17 11:48] mtreinish commented on #1389
We had this debate a long time ago see #268 and we decided we did not want per package test modules as part of that.  My personal opinion is that having per module tests really clutters up the repo needlessly, it also can complicate test discovery for a runner.

The direction this work was leaning before it stalled was to move `test/python` to `qiskit/tests` but keep all the tests in one place the

[2020-07-17 12:30] knsmith commented on #4736
I know that you can index a circuit to return gates and associated registers in the order of the circuit (what inspired the approach above, but here you stitch together two circuits), but it is still not intuitive to insert random gates using this technique. So perhaps in a manner like circuit.gate(qubit).at(index)?

[2020-07-17 12:41] taalexander commented on #4737
The diagram does not imply any timing. As these operations do not share any dependencies the ordering does not matter within a logical QASM program. Please add a `barrier` before the measurements if you want to enforce that these happen sequentially.

[2020-07-17 12:41] #4737 closed

[2020-07-17 12:51] gitkarma opened #4741 "Utilizing multiple cores of machine for qasm_simulator"
Hi , was trying to run qft on qasm simulator and it works fine , but one observation that i made was that when i run qft on higher number of qbits ( greater that 17 ), the simulator still uses only one cpu with 100% usage and all the other cpu are not utilized.
Is there a way we can make use of all the cpu available on the machine.
For me out of 56 cores only one is being utilized .

I am using qi

[2020-07-17 12:57] JohanNicander commented on #1389
Ah! I see your point. It is a shame that the `qiskit.test` namespace is already occupied since this is the most standard test call for the other big python modules. This might be something that could be deprecated and renamed to say `qiskit.testing` in the feature? That might be something for another issue.

To solve this now, what if we instead go for the structure that you suggested in [#268](ht

[2020-07-17 13:07] taalexander commented on #4683
IIRC, IBMQC  is reporting T2 in the calibrations and $1/T2* = 1/T2 + 1/T2_phi$ where parts of T2_phi are echoed away by the Hahn/CPMG sequences.

[2020-07-17 13:12] gitkarma opened #4742 "Running qasm_simulator for more than 24 Qbits"
Is there a way we can run qasm_simulator for more than 24 qbits. (assuming computing and memory resources are available)

I tried to modify the file qiskit-terra/qiskit/providers/basicaer/qasm_simulator.py  and changed the line that checks for max number of qbits.
`
- 'n_qubits': min(24, MAX_QUBITS_MEMORY),
+ 'n_qubits': min(30, MAX_QUBITS_MEMORY)
`
But i encountered following error

Traceback (mo

[2020-07-17 13:12] Hirmay commented on #4737
I know that here it doesn't matter but I'm just why is there this inconsistency?

[2020-07-17 13:21] nonhermitian commented on #4737
The drawer is trying its best to draw the circuit as compactly as possible, i.e. as close to the actual layers as possible given the lines connecting controlled gates. As such, measurements are being pushed left.

[2020-07-17 13:41] SergioUnoxx commented on #4683
So you're saying the T2* in the definition I'm using is not the same that Qiskit uses?

[2020-07-17 13:57] Hirmay commented on #4737
Thank you for informing about the mechanics, I didn't this was the case as I thought it as some sort of inconsistency and was worth sharing.

[2020-07-17 16:25] taalexander commented on #3599
Please see my PR #4728, for an idea of how to handle this in the configuration.

[2020-07-17 16:40] #4668 closed

[2020-07-17 16:52] mtreinish opened #4746 "Performance regression in transpile with optimization_level <=2"
### Information

- **Qiskit Terra version**: master (since https://github.com/Qiskit/qiskit-terra/commit/35db627fbd1c9762d9f394c71a1df129c24797f4 )
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

The benchmarking site has flagged a regression on transpile of circuits with optimization <= 2 after https://github.com/Qiskit/qiskit-terra/commit/35db627fbd1c976

[2020-07-17 17:21] mtreinish commented on #4746
My working idea here is that this was caused by the addition of `inline=True` https://github.com/Qiskit/qiskit-terra/commit/35db627f#diff-d00f0de07831e0961cb92a4af5f40e5eR480 which makes the decomposition of unitaries from the input QV circuits slower.

[2020-07-17 20:29] #4727 closed

[2020-07-17 21:50] #4139 closed

[2020-07-18 00:16] SergioUnoxx commented on #4683
Ok, I solved what T2* is the code measuring thanks to this source code: https://qiskit.org/documentation/_modules/qiskit/ignis/characterization/coherence/fitters.html

[2020-07-18 00:34] #4683 closed

[2020-07-18 11:38] a-kapila opened #4749 "Documentation mistake"
## Does existing documentation need to be updated with new content?
Yes
- Which files need to be updated?
https://qiskit.org/documentation/stubs/qiskit.circuit.library.U3Gate.html

- What content needs to be updated or replaced? (You can copy and paste)
Assuming the given form of U3 is correct, we can clearly see it will NOT factorise to U3(\theta, \phi, \lambda) = RZ(\phi - \pi/2) RX(\pi/2) RZ(\p

[2020-07-18 13:20] #4710 closed

[2020-07-18 14:43] ajavadia opened #4751 "parametric/symbolic evaluation in quantum_info"
A way to obtain Operators and evolve Statevectors in the `qiskit.quantum_info` module where some parameters are unknown. Example:

[code]

![image](https://user-images.githubusercontent.com/8622381/87854973-67a1a680-c8e3-11ea-9048-50f4f845e977.png)

This would be a 4x4 matrix whose parameters are mathematical expressions of `θ`.

[2020-07-18 16:31] a-kapila opened #4752 "Documentation mistake in U2 gate"
In https://qiskit.org/documentation/stubs/qiskit.circuit.library.U2Gate.html#qiskit.circuit.library.U2Gate the given decomposition into RX(pi/2) and virtual Z gates does not match the matrix representation given (even up to a global phase).

I have seen Y90's implemented for Ignis experiments as U2(0,0), which would match the matrix representation in the docs (up to a global phase), so I'm assumin

[2020-07-18 16:34] a-kapila commented on #4752
PR in progress

[2020-07-19 01:09] taalexander opened #4756 "Transpiler is reordering classical bit locations"
### Information

- **Qiskit Terra version**:master
- **Python version**:3.7
- **Operating system**:osx

### What is the current behavior?

### Steps to reproduce the problem
[code]
With output
[code]

### What is the expected behavior?
The input/output memory slots should be equivalent, or a way of recovering the input data should be provided. This also happens when I set `initial_layout`.

### Su

[2020-07-19 01:15] taalexander opened #4757 "Drawing circuit after transpilation with initial_layout set fails"
### Information

- **Qiskit Terra version**:master
- **Python version**:3.7
- **Operating system**:osx

### What is the current behavior?

### Steps to reproduce the problem
[code]
output:
[code]

### What is the expected behavior?
This should draw the circuit as usual.

### Suggested solutions

[2020-07-20 17:13] #4500 closed

[2020-07-20 18:36] mtreinish commented on #4689
Neither @taalexander or I were able to recreate the regression locally. So it's likely something isolated to a change in the benchmark environment. Inspecting the benchmark machine doesn't show any obvious candidates for causing the increase in memory consumption, my only thought is that a system dependency (like python) changed on the machine, but I haven't been able to find a log of that yet. An

[2020-07-20 18:36] #4689 closed

[2020-07-20 21:42] #3239 closed

[2020-07-21 06:55] arunraja-hub commented on #3599
Thank you.
Do I multiply the values in vars here by 1e9?: https://github.com/Qiskit/qiskit-terra/blob/51b70a7c3a555573c38181c65f61c446dcfc7e90/qiskit/test/mock/utils/configurable_backend.py#L214

ANd can I develop the test here: https://github.com/Qiskit/qiskit-terra/blob/ff5fede2dadf338e7ba36a3efcbf4df6b0e651aa/test/python/mock/test_configurable_backend.py#L104

[2020-07-21 08:12] #4752 closed

[2020-07-21 17:15] VANRao-Stack commented on #4635
Is this issue still unaddressed, could I give it a shot? @1ucian0 @rochisha0

[2020-07-21 17:19] anto-pv commented on #4757
Could it test by changing the provider for backend...I think may be that...

[2020-07-21 17:28] schefferac2020 commented on #4635
Is this an actual error or just warnings? Thanks

[2020-07-21 18:56] obliviateandsurrender opened #4769 "Drawing circuit with initialize instruction using mpl"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.8.2
- **Operating system**: Linux Mint 20

### What is the current behavior?
Drawing circuit with _initialize_ instruction with matplotlib (mpl) leads to the following error.

[code]

### Steps to reproduce the problem

[code]
### What is the expected behavior?

It should print it with the label 'psi'.

### Suggested solut

[2020-07-21 19:03] splch opened #4770 "Jupyter Notebook: Stretched Bloch and Q-Spheres"
### Information

- **Qiskit Terra version**: 14.2
- **Matplotlib version**: 3.3.0
- **Python version**: 3.7.7
- **Operating system**: macOS

### What is the current behavior?

![E58F2CA8-49F3-419B-82CB-654332C5678E](https://user-images.githubusercontent.com/25377399/88094255-23631000-cb48-11ea-9dd2-5f8ef34daa94.jpeg)

When I create a Bloch or Q-Sphere, the drawing displayed is horizontally stretch

[2020-07-21 19:12] obliviateandsurrender commented on #4770
What's your matplotlib version? Cause mine is  3.2.2 and Bloch shpere is fine for me.
Additionally, did you try adding `%matplotlib inline` or infact, try adding figsize param: `plot_bloch_multivector([1/sqrt(2), 1/sqrt(2)], figsize=(10,10))`?

[2020-07-21 19:28] spencerchurchill commented on #4770
@obliviateandsurrender I'm running matplotlib version `3.3.0` (so this might be a version issue?) and neither `figsize=(10,10)` nor `%matplotlib inline` fixed the drawing.

![Screen Shot 2020-07-21 at 12 28 45 PM](https://user-images.githubusercontent.com/25377399/88097880-ba7e9680-cb4d-11ea-8fce-5cf858b24386.png)

[2020-07-21 21:20] rochisha0 commented on #4635
@VANRao-Stack Yeah sure, from my side.

[2020-07-21 21:40] nakul-shahdadpuri opened #4771 "Representation of Quantum states in Bra-Ket notation."
### What is the expected enhancement?
Although the representation of Quantum states in Bloch sphere and q-sphere format is fairly intuitive, a choice to represent the states in Dirac notation could be easier to comprehend than looking and vectors.

[2020-07-22 01:54] #4746 closed

[2020-07-22 06:08] nkanazawa1989 opened #4774 "Pulse compression increases recursion depth of the schedule"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**:

### What is the current behavior?

The pulse compress may increase the recursion depth of input schedule and crash the pulse assembler.

### Steps to reproduce the problem

Prepare very long schedule
[code]

[code]

Note that `rb_scheds.instructions` does work.
If we use two qubits for RB, the as

[2020-07-22 06:09] mx73 opened #4775 "initial_layout for a list of quantum circuit qc_list"
I have a list of quantum circuit that looks like this:

[code]
I'd like to pass in an `initial_layout` like `[[0,1],[1,0,3],[1,0,2,3],[1,0,2,3,4]]`, but obviously it doesn't work (when I use it on the measurement calibration in [here](https://qiskit.org/textbook/ch-quantum-hardware/measurement-error-mitigation.html), I put the `initial_layout` on the transpile part and the `num_qubits` is the leng

[2020-07-22 08:47] nkanazawa1989 opened #4776 "Retworkx crashes when measure_active is added"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**:

### What is the current behavior?

`.measure_active` raises an error due to retworkx.

### Steps to reproduce the problem

[code]

error
[code]

### What is the expected behavior?

### Suggested solutions

[2020-07-22 08:57] nkanazawa1989 opened #4777 "pi_check cannot handle large values"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**:

### What is the current behavior?

When we bind a large value to a custom gate, the value appears as `-pi/0` in the drawer output.

### Steps to reproduce the problem

[code]

output
[code]

### What is the expected behavior?

The value will be shown in scientific notation such as `%.2e`.
This is

[2020-07-22 09:45] mtreinish commented on #4776
Which version of retworkx do you have installed in your environment? The minimum version was increased to 0.4.0 in https://github.com/Qiskit/qiskit-terra/pull/4569 That error looks like you are still using a 0.3.x release of retworkx which doesn't have the `find_adjacent_node_by_edge` method

[2020-07-22 09:48] #3929 closed

[2020-07-22 09:49] nkanazawa1989 commented on #4776
Upgrading retworkx solved the issue. Thanks!

[2020-07-22 09:49] #4776 closed

[2020-07-22 11:05] JelenaMack commented on #1470
Was this issue ever solved? I want to combine two result objects too.

[2020-07-22 11:31] JelenaMack opened #4778 "How do I combine two result objects? Why not supported anymore if there is a maximum number of jobs in IBMQ?"
**Qiskit Terra version:** master
**Python:** 3.8.3
**OS: ** Windows 10 Enterprise

**What is the current behavior?**
As there is a limited number of experiments one is able to run on any of the IBMQ computers, it is sometimes necessary to combine qiskit.result.result.Result objects. This used to be possible using the '+' operand, but now apparently is not supported anymore. It would help a lot if

[2020-07-22 11:49] ardarico opened #4779 "Strange error while executing the Randomized Benchmarking example"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.8.3
- **Operating system**: macOS Catalina 10.15.5

### What is the current behavior?

I run the code of the Randomized Benchmarking of the qiskit-textbook in shell, not as Jupyter Notebook.
In the
for rb_seed, rb_circ_seed in enumerate(rb_circs):

loop, the execution seems to get stuck on the transpile function, with the

[2020-07-22 12:41] arunraja-hub commented on #4170
@Cryoris
I am interested to work on this problem.
`print(float(sp.pi-np.pi))` gives `1.2246467991473532e-16`
So I was thinking if adding an if statement here that checks if the actual pi value is within `1.2246467991473532e-16` of sympy.pi.
If so, then sympy.pi will be rendered.
https://github.com/Qiskit/qiskit-terra/blob/f38b617748d855e98f682d259b7cf597ef16b2a8/qiskit/visualization/tools/pi_check

[2020-07-22 18:40] metacubestormerxii12 commented on #4777
Ok I should be able to fix this

[2020-07-22 18:48] metacubestormerxii12 commented on #4777
But one question, how does the %.2e represent 1e9? And may I ask why you would want to add a list of a billion values to a gate?

[2020-07-22 18:52] metacubestormerxii12 commented on #4769
I might be able to look into this

[2020-07-22 18:55] albi3ro commented on #4717
Can this now be closed?

[2020-07-22 19:35] 1ucian0 commented on #4777
It seems like a `pi_check` problem:
[code]
[code]

[2020-07-22 22:08] kdk commented on #4775
If I understand correctly, what you're asking for should already be possible (example code below). Can you provide some example code that reproduces the failure you're seeing?

[code]

[2020-07-22 22:16] #4717 closed

[2020-07-23 00:15] taalexander commented on #4774
Instead of using `<<` and `|=` please trying using `sched. insert(inst, inplace=True)`

[2020-07-23 00:46] ajavadia commented on #4608
I'm not sure there's another issue. This should be closed after this issue is fixed. It is simple:  just call the `LayoutTransformation` pass after routing is done. This will restore the original layout efficiently. I think this needs a `transpile(restore_layout=True)` option though, it should be opt-in.

[2020-07-23 00:53] ajavadia commented on #4778
@JelenaMack The IBMQProvider has a JobManager for handling this. It automatically splits off your job to fit the backend limit and combines the result for you. Please see the documentation: https://qiskit.org/documentation/stubs/qiskit.providers.ibmq.managed.IBMQJobManager.html#qiskit.providers.ibmq.managed.IBMQJobManager

I'm closing this, let me know if this doesn't solve your problem.

[2020-07-23 00:53] #4778 closed

[2020-07-23 01:11] metacubestormerxii12 commented on #4769
![image](https://user-images.githubusercontent.com/65141281/88243908-898a8880-cc57-11ea-99c8-9403b9b7a9bc.png)

[2020-07-23 01:12] metacubestormerxii12 commented on #4769
Is this the text that should be shown also in the mpl drawer?

[2020-07-23 01:38] gschaffner commented on #4770
I can also replicate the issue with matplotlib 3.3.0 but not with 3.2.2.

Likely due to https://matplotlib.org/3.3.0/users/whats_new.html#axes3d-no-longer-distorts-the-3d-plot-to-match-the-2d-aspect-ratio

[2020-07-23 01:54] enavarro51 commented on #4769
This was fixed in #4616 and should be in the next release.

[2020-07-23 03:07] gschaffner opened #4784 "Some state visualizations have illegible parts when using a non-default matplotlib style"
### Information

- **Qiskit Terra version**: 0.14.0
- **Python version**: 3.8.2
- **Operating system**: Manjaro

### What is the current behavior?

Some state visualizations are illegible when using a non-default matplotlib style.

### Steps to reproduce the problem

In Jupyter:
[code]

Then run the example code in [`plot_state_qsphere`'s documentation](https://qiskit.org/documentation/stubs/qiski

[2020-07-23 03:07] gschaffner commented on #4784
Related: #3277

[2020-07-23 03:58] nkanazawa1989 commented on #4777
Hi @metacubestormerxii12 , thank you very much for taking this issue. The motivation of adding such large value comes from pulse module. Currently we are trying to represent a pulse schedule by a gate and this will enables us to seamlessly integrate pulse program with existing circuit library.
As you may know, some parameters of pulse, such as frequency in GHz, can take very large value, thus we n

[2020-07-23 04:38] spencerchurchill commented on #4770
@gschaffner Do you think creating a default argument for [set_box_aspect](https://matplotlib.org/3.3.0/api/_as_gen/mpl_toolkits.mplot3d.axes3d.Axes3D.html#mpl_toolkits.mplot3d.axes3d.Axes3D.set_box_aspect) would fix the distortion?

[2020-07-23 09:08] JelenaMack commented on #4778
But as far as I've understood this gives me the results in the form of an "managedresults" object and I can retrieve one result object with managedresults (jobnumber).
But I need one result object with all experimental data, not one object from which I can retrieve the individual results. I want to combine all result objects into one because the tomography fitter takes in one result object.

[2020-07-23 11:10] ankprd opened #4786 "mcry mode='basic' does not use ancillas"
### Information

- **0.14.2**:
- **3**:
- **Ubuntu**:

### What is the current behavior?
The mcry gate (implemented in https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/library/standard_gates/multi_control_rotation_gates.py) has a 'basic' mode that expects ancillas, but calls mct in its default 'noancilla' mode. (so both mcry(mode = 'noancilla') and mcry(mode='basic') use no ancill

[2020-07-23 14:42] metacubestormerxii12 commented on #4777
OK thank you @nkanazawa1989. I will take a look into the pi_check function.

[2020-07-23 16:41] #4774 closed

[2020-07-23 17:02] ajavadia opened #4790 "Being able to compile to user-defined gates"
Can we have an example (a test case) of a user-defined gate (that is not in the standard library) and then translating to that / optimizing for it?
cc @jaygambetta

[2020-07-23 17:46] mtreinish opened #4791 "Performance regression in circuit construction because of type checking"
### Information

- **Qiskit Terra version**: Master
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Since #4591 merged there has been a significant performance regression in circuit construction time. The addition of an `isinstance` check on `numbers.Integral` adds significant overhead. This is likely because `ABCmeta` (which is what `numbers.Integral` is

[2020-07-23 18:18] jlapeyre opened #5737 "SummedOp does not distribute over ListOp under reduce()"
### What is the expected enhancement?

We currently have
[code]
That is, `ComposedOp` distributes over `ListOp`.

But, we also have
[code]
`reduce` does not change the expression on the LHS.

Several other operations are vectorized wrt `ListOp`. I suspect this has simply not yet been implemented for `SummedOp`.
It would be good if the inequality above were instead an equality.

[2020-07-23 21:02] ajavadia commented on #4778
You can use managedresult.combine_results() to get a single Result object:
https://github.com/Qiskit/qiskit-ibmq-provider/pull/687

[2020-07-24 04:09] taalexander opened #4792 "Assembler should raise an error if set rep_delay or rep_time are not in the backend's list of acceptable values"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The assembler does not raise an error if outside of the backends acceptable values.

### Steps to reproduce the problem
See https://github.com/Qiskit/qiskit-terra/blob/2aecdcd7a9c412e5d6fd756e6cc3276ea285e957/qiskit/compiler/assemble.py#L288 and rep_times below.

### What i

[2020-07-24 07:35] Cryoris commented on #4791
How about explicitly checking for several types, i.e. instead of
[code]
do
[code]
?

[2020-07-24 11:20] rochisha0 commented on #4792
if you are not working on this, I would like to resolve this issue.

[2020-07-24 14:58] abhik-99 commented on #3206
Has this issue been resolved @1ucian0 ? I see a Merge has been done. If so, can this one be closed?

[2020-07-24 15:06] mtreinish commented on #4791
I expect that would work and was one of the suggestions I left in the issue. But, we'll have to benchmark it to be sure

[2020-07-24 15:10] abhik-99 commented on #1682
Hey @nonhermitian ,  if this issue is still open, then I'd like to try my hand at it if that's okay?

[2020-07-24 16:19] adekusar-drl opened #4793 "A call to dag_drawer() causes file access error on Windows"
### Information

- **Qiskit Terra version**: latest version 0.15 built from sources
- **Python version**: anaconda3 python 3.7
- **Operating system**: Windows 10

### What is the current behavior?
A call `dag_drawer(dag)` causes an exception: `[WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\zzz\\AppData\\Local\\Temp\\tmp6s4qsoy9\\dag.png'`

[2020-07-24 16:39] 1ucian0 commented on #3206
It can be closed indeed! thanks for spotting this!

[2020-07-24 16:39] #3206 closed

[2020-07-24 17:28] abhik-99 commented on #3346
If this issue is resolved, can it be closed? If not, then @nonhermitian could you provide a general list of steps for reproducing this issue? Would like to check it out if that's okay.

[2020-07-24 17:30] nonhermitian commented on #3346
It is 9 months old so if people are now reporting it fixed then it likely is.

[2020-07-24 17:43] 1ucian0 commented on #4757
This affects all the drawers. Probably a circuit property is missed during transpilation.

[2020-07-24 18:19] abhik-99 commented on #3346
@nonhermitian I tried to reproduce the issue. I couldn't do it. The issue is already fixed. Looking up more issues for contributing then :)

[2020-07-24 18:24] #3346 closed

[2020-07-24 18:29] a-kapila commented on #4751
Hi, I'd like to work on this if possible - would it be OK to use eg SymPy to perform symbolic calculation?

[2020-07-24 18:33] a-kapila commented on #4771
Hi @nakul-shahdadpuri , do you literally mean converting eg a column vector (a, b) to a|0> + b|1> and a similar row vector to a<0| + b<1|? If so, I could easily do it but I'm not sure whether this is adding anything to Qiskit? There is really not any difference between the two representations.

[2020-07-24 19:02] albi3ro commented on #4784
If no one else has picked this up, can I to work this out?

[2020-07-24 19:56] a-kapila commented on #4792
In case you're too busy, I'd be happy to look at this too.

[2020-07-24 20:05] ajavadia commented on #4751
Great. Yeah I think Sympy is good but we should make it work with Qiskit’s parameterized circuits. So one would be able to do normal calculations like Operator(circuit), Statevector.evolve(circuit) but with parameters

[2020-07-24 20:19] 1ucian0 commented on #4757
The work around is the following:
[code]

[2020-07-24 20:38] 1ucian0 commented on #4756
We talk about the possibility of adding a `layout_method=None` or `routing_method=None` to fully skip those stages. Maybe another case for https://github.com/Qiskit/qiskit-terra/pull/3604

[2020-07-24 20:45] a-kapila opened #4796 "Give Gate defintions in terms of Pulse Schedules in OpenQASM-only backends"
### What is the expected behavior?
For `OpenPulse`-enabled backends, we are able to see the Pulse `Schedule` corresponding to particular gates via `backend.defaults().cmd_def`. I am asking for this information to be made available on backends without `OpenPulse` support so that we can get the physical implementation of gates for more detailed error analysis.

[2020-07-24 20:50] 1ucian0 commented on #4690
Did python 3.5.9 helped @rajnandinimukherjee ?

Otherwise, feel free to reopen.

[2020-07-24 20:50] #4690 closed

[2020-07-24 20:51] 1ucian0 commented on #4693
No fully sure what you mean @NarayanGuo ... what's the data you are searching for?

[2020-07-24 20:53] 1ucian0 commented on #4623
Any progress @rochisha0 ?

[2020-07-24 21:19] 1ucian0 commented on #4666
Here is the code to reproduce this error:
[code]

[2020-07-24 21:28] #4793 closed

[2020-07-24 22:29] bdury opened #4798 "SabreLayout Fails when Quantum Register < Coupling Map size"
### Information

- **Qiskit Terra version**: Master, installed from source, v15.0
- **Python version**: Anaconda python, v3.7.6
- **Operating system**: Windows 10 LTSC 1809

### What is the current behavior?
When specifying a QuantumRegister that is smaller in magnitude than the size of the coupling_map you're using, SabreLayout will throw an error.

### Steps to reproduce the problem
[code]

outp

[2020-07-25 02:33] taalexander commented on #4792
First come first serve 😄 , I'm assigning to @rochisha0. Please keep an eye out for other issues @a-kapila we really appreciate it.

[2020-07-25 10:52] a-kapila commented on #4751
Cheers @ajavadia I'll update here once I've got something working

[2020-07-25 11:27] AbeerVaishnav13 commented on #4666
Thanks @1ucian0 for posting the code and the solution to the bug. 👍

[2020-07-25 23:06] Vismai-Khanderao opened #4802 "Plotting bloch sphere using spherical coordinates"
### What is the expected enhancement?

Functionality to accept Spherical coordinates as well as typical Cartesian for plot_bloch_vector function under state_visualization.py
(https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/visualization/state_visualization.py)

[2020-07-26 04:35] markplotlib commented on #4260
@frankharkins you are an outstanding man of solutions. keep doing good in this world.

[2020-07-26 14:14] Vismai-Khanderao commented on #4736
A possible solution to this I was thinking of is:

- Adding an attribute instruction_index (tuple) to the Bit class
- Add an optional keyword parameter i to circuit.<gate> function, pass this on to self.append
- Add same optional keyword parameter to def append and def _append pass parameter from append to _append as well

i is essentially an index number for the to be added gate position on the b

[2020-07-26 17:32] Cryoris opened #4805 "BasicAer (and Aer) do not capture global phase"
### Information

- **Qiskit Terra version**: 8f717d90a235dfa1d23b2be5171d4c31224c4ab3
- **Python version**: 3.7.7
- **Operating system**: macOS Catalina

### What is the current behavior?

BasicAer doesn't get the phases right (neither does Aer, but that'll probably be fixed within Aer). The tests using BasicAer, which I think is only `test_to_matrix` in `test_extensions_standard` works by coincid

[2020-07-26 20:53] enavarro51 opened #4806 "Param expressions with variables not properly handled by pi_check"
### What is the expected enhancement?
Re: #4611, the display portion of that issue was fixed in #4616, but there are obvious instances of pi that are not being modified to the pi symbol by pi_check.

pi_check should work on any of the numeric values inside the parameter expression.
[code]
![image](https://user-images.githubusercontent.com/16268251/88489114-2e061680-cf47-11ea-906a-654e9e76e7e2.png)

[2020-07-27 03:44] #4589 closed

[2020-07-27 07:34] Cryoris commented on #4806
This is a duplicate of #4170 🙂

[2020-07-27 11:59] enavarro51 commented on #4806
Thanks. Missed that.

[2020-07-27 12:11] arunraja-hub commented on #4791
I had worked on #4591 with @Cryoris
I will continue working on this issue too

[2020-07-27 13:18] taalexander commented on #3599
I do not think you have to multiple in the first case since that is the transport representation and the conversion should happen in the initialization of the `PulseBackendConfiguration`. In the second code link you will have to modify to pass the test.

[2020-07-27 14:01] taalexander commented on #4796
At this time we do not plan to make this feature publicly available as this is part of premium access to our devices. The exception is `ibmq_armonk` which does display this capability to the public. We may reevaluate this decision at a later time.

We do supply some general information about gates in the `backend.properties`.

We do have an academic program that if you qualify it may be possible t

[2020-07-27 14:01] #4796 closed

[2020-07-27 14:35] #4791 closed

[2020-07-27 17:01] Vismai-Khanderao commented on #4736
I have made a commit to the pull request, I got rid of the added attribute in the `Bit` class so now the tests do pass and `def _append` is now reverted to it's original state. The parameter `i` is now `index` for clarity.

Change comes through an addition to `def append`, the add gate instruction is now appended at the end of `self._data` as before. Since instructions in `_data` are listed chrono

[2020-07-28 06:24] gunchamalik opened #4815 "ValueError thrown on plotting hinton state function"
### Information

- **Qiskit Terra version**: 0.19.6
- **Python version**: 3.7.6
- **Operating system**: Mac OS 10.15.5

### What is the current behavior?
ValueError is thrown on plotting hinton state function.

### Steps to reproduce the problem
1. Execute a simple circuit and plot hinton function.
`from qiskit import *`
`from qiskit.visualization import plot_state_hinton`

`bell = QuantumCircuit(

[2020-07-28 07:51] anto-pv commented on #4815
No, I got the expected output.
whether you run this in correct way ? Or may be due to errors ipython or something.. Try to update all and run it..

[2020-07-28 19:27] #4691 closed

[2020-07-28 19:43] Raviraj26 commented on #4563
I would like to work on this if it is still open for some changes

[2020-07-28 20:32] Raviraj26 commented on #4563
WEll the problem is solved

[2020-07-28 20:35] kdk commented on #4372
Following offline discussion, I'm going to close this. The consensus was that inline text visualizations in docstrings are valuable to both developers looking at the source and to users looking at help or docstrings in their IDE or jupyter (in addition to being viewable on qiskit.org) and removing them would make their contents harder in general to access.

[2020-07-28 20:35] #4372 closed

[2020-07-28 20:53] kdk opened #4817 "Inconsistent transpilation of conditional gates"
### Information

- **Qiskit Terra version**: master @ 700beea
- **Python version**: 3.5
- **Operating system**: osx

### What is the current behavior?

From https://travis-ci.com/github/Qiskit/qiskit-terra/jobs/363142665#L1921 , the below QASM will transpile and simulate to either a result like
[code]
or a result like
[code]

I haven't investigated too much other than to figure out that, at least

[2020-07-28 21:38] 1ucian0 opened #4820 "what are the restrictions for initial_layout?"
Getting deeper in https://github.com/Qiskit/qiskit-terra/issues/4757 a conversation about "valid" `initial_layout`s popped up.

There is a need to answer two questions:
 - What are the restrictions to set `initial_layout`?
 - Which component should validate `initial_layout`?

The example can be is the following, where `initial_layout` is *bigger* than the circuit:
[code]

Should this be accepted?

[2020-07-28 22:41] #4667 closed

[2020-07-29 05:54] Raviraj26 commented on #1682
Is this issue assign to anyone ?
If not i would like to take a look

[2020-07-29 06:12] abhik-99 commented on #3649
If this issue is fixed, could this be closed? If not, I'd like to try a hand at it.

[2020-07-29 06:20] abhik-99 commented on #3407
Hey @nonhermitian , Is this still open? I'm a newbie but I'd like to try to contribute to this if I can.

[2020-07-29 09:50] pushpulldecoder commented on #3485
Is this issue still open?

[2020-07-29 09:59] RyotaroDoi commented on #4815
Can I give it a shot?

[2020-07-29 10:26] mtreinish commented on #4815
This issue was introduced with the recent release of matplotlib 3.3.0 and has already been fixed by #4739 it just hasn't been released yet. In the meantime you can downgrade your matplotlib version to be < 3.3.0 to avoid the issue until the next terra release. Since this has already been fixed I'm going to close this issue, but please feel free to reopen it if I'm missing something.

[2020-07-29 10:26] #4815 closed

[2020-07-29 10:32] gunchamalik commented on #4815
@mtreinish thx.

[2020-07-29 14:23] Cryoris opened #4823 "Add missing qasm definitions"
### What is the expected enhancement?

Some gates miss the OpenQASM definition, such as RYY, RZX, DCX or iSwap. We should add this, this can be done by adding the definitions in the [qelib1.inc file](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qasm/libs/qelib1.inc).

[2020-07-29 16:59] arunraja-hub commented on #4823
Hi can I work on it?

[2020-07-29 20:48] knsmith commented on #4736
@Vismai-Khanderao neat solution! When I originally proposed circuit.gate(qubit).at(index), I was thinking the index would be the gate index in the entire list of gates for a circuit object. Your implementation, however, is much more elegant and will be easier to use. Does your method allow you to delete gates in place?

[2020-07-29 23:08] taalexander commented on #3485
Hello @pushpulldecoder, this is still open. Do you wish me to assign this issue to you? If so I believe we should make this an option `show_yaxis`.

[2020-07-30 07:01] Cryoris commented on #4823
Sure! 👍

[2020-07-30 12:26] Cryoris opened #4826 "Transpiling 1q circuit at optimization level 3 breaks in 1q basis"
### Information

- **Qiskit Terra version**: 5bdd12db84b2ef13292d26cd6750fa8fabd61bb3
- **Python version**: 3.7.5
- **Operating system**: MacOs Catalina

### What is the current behavior?

The following code breaks if `basis_gates=['u3']` and `optimization_level=3`.
It works for `basis_gates=['u3','cx']` or if `optimization_level<=2`.

[code]

Edit: changed to a simpler example.

### Traceback

[c

[2020-07-30 13:42] nkanazawa1989 opened #4827 "pulse builder measure cannot handle multiple qubits"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

A code inserts multiple `pulse.measure` instruction creates strange output.

![image](https://user-images.githubusercontent.com/39517270/88929910-ba9d3580-d2b5-11ea-832e-999ff6593960.png)

### Steps to reproduce the problem

[code]

### What is the expected behavior?

All

[2020-07-30 16:58] anto-pv commented on #4826
i got expected behaviour , try updating or moving to another low version of terra or other

[2020-07-30 17:38] pushpulldecoder commented on #3485
Sure I would like to work on it.

[2020-07-30 17:59] #4720 closed

[2020-07-31 06:16] Ananyapam7 commented on #4228
Is this issue this open? Is there anything I can contribute?

[2020-07-31 09:12] boschmitt commented on #4820
The question I have is:
* Why `initial_layout` is not a `Layout` object?

This would solve this problem, which seems to originate from a miscommunication of what is a `initial_layout`. A `Layout` is a two-way mapping that can be created from a `dict` or a `list`. Actually, there are two methods to create it from a `list`:

1. The list represents the mapping `virtual qubits -> physical qubits` (vir

[2020-07-31 11:01] Cryoris commented on #4826
On stable it still works, right, but we should fix it on the master version (ideally before the release). Which versions did you try for transpiling?

[2020-07-31 13:12] taalexander commented on #3485
Assigned 😄

[2020-07-31 13:37] frankharkins commented on #4228
@Ananyapam7 you can give feedback on the commit #4546

[2020-07-31 13:46] Vismai-Khanderao commented on #4736
@knsmith Thanks! For now I haven't thought of a delete gate function, though it may be quite simple as the same method that's used to find the gates on a qubit can be used to pop an instruction. When we match the gate, qubit, and it's index on bit we can use the instruction index counted to pop the instruction from `_data`. @quantumjim did layout the popping method in https://quantumcomputing.stac

[2020-07-31 14:12] quantumjim commented on #4736
What's all this about `._data` being private? Is it different to `.data`? Is `.data` getting deprecated?

[2020-07-31 14:17] enavarro51 opened #4838 "cu1 and rzz do not display properly in text drawer when wide gate underneath"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

cu1 and rzz display params multiple times in the text drawer when there is a wide gate underneath in the same layer.

### Steps to reproduce the problem
[code]

### What is the expected behavior?

### Suggested solutions

[2020-07-31 15:46] Vismai-Khanderao commented on #4736
@quantumjim '.data' isn't being deprecated.

For example 'circuit.h(qr[0])' returns an 'InstructionSet', the instructions in this instruction set is stored in 'instruction_set.instructions', these are also a part of 'circuit._data' whose entire instruction list can be retrieved with the getter 'circuit.data()'

Making a function 'def at(---' in 'InstructionSet' would require the passing of the 'Qu

[2020-07-31 17:12] knsmith commented on #4736
@Vismai-Khanderao I like the idea of being able to insert and delete in the case where you may be running/tuning a circuit in a hybrid quantum classical implementation so that you don't have to rebuild the circuit every time. I agree that your indexing approach for each qubit may be great for that!

[2020-07-31 18:57] 1ucian0 commented on #4838
Good catch!

[2020-07-31 20:23] 1ucian0 commented on #4838
The fix is a literally a bad indentation... #4841

[2020-07-31 21:09] #4826 closed

[2020-07-31 21:16] enavarro51 commented on #4838
Cool. Figured something like that.

[2020-07-31 22:41] edwinagnew opened #4844 "Add an entangle function"
I have written code for my convenience that takes an arbitrary number of qubits and entangles them. For example qc.entagle(0,1) would create a Bell pair, qc.entangle(0,1,2) a GHZ state and so on. Could this be added to terra?

[2020-07-31 22:51] enavarro51 opened #4845 "Param display with pi's in mpl drawer inconsistent due to latex_to_text"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

The return from the latex_to_text call when the text comes from params that went through pi_check and contain pi is odd. Here are the ascii/unicode values from the return from the call with `text = $-$$\pi$/2, $-$$\pi$/2, $-$$\pi$/2`

`45 10 32 32 3

[2020-08-01 10:22] Raviraj26 commented on #4844
I would like to try this can I ?

[2020-08-01 10:54] edwinagnew commented on #4844
I already have the code, I just wanted to check if it would be useful and where I should add it. Any thoughts?

[2020-08-01 11:07] Raviraj26 commented on #4844
I also have the code defing enatanglement between any no. of qubits and would like to work with you to add it in qiskit terra
 and i think i know where we can look

[2020-08-01 11:13] edwinagnew commented on #4844
I forked terra and put the function in the quantumcircuit.py file here: https://github.com/edwinagnew/qiskit-terra/tree/entangle
I have had issues generating the documentation however (based off this https://github.com/Qiskit/qiskit-terra/blob/master/CONTRIBUTING.md). I'll add you as a contributor to that fork

[2020-08-01 13:26] abhik-99 commented on #4844
Hey @edwinagnew while it's great to have a utility function like this, I think Quantum Fourier Transform which is already available [here](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/library/basis_change/qft.py) in Qiskit Circuit Library is what can be used for this purpose. [Fourier Transform is entangling](https://quantumcomputing.stackexchange.com/questions/9913/does-the-q

[2020-08-01 14:19] edwinagnew commented on #4844
@abhik-99 I think the QFT does more than what I'm suggesting and creates a more specific entangled state. All I was imagining is a quick way to make a Bell pair (for example for the teleportation protocol) which is general enough to take in an arbitrary number of qubits

[2020-08-01 14:46] abhik-99 commented on #4844
@edwinagnew , you can pass in an arbitrary number of qubits with qiskit.Circuits.QFT as well.

[2020-08-01 15:18] ajavadia commented on #4844
@edwinagnew I would not call this "entangle" as it is a very specific way of creating entanglement. Also it shouldn't be a circuit method.
This might be better as GHZ under `qiskit.circuit.library.generalized_gates`.

[2020-08-01 15:21] Ananyapam7 opened #4846 "'plot_state_hinton' raises error"
- Qiskit Terra version:0.14.2
- Python version: 3.6
- Operating system: Ubuntu 18.04
- Matplotlib version: 3.3

I am following the present documentation at qiskit.org here https://qiskit.org/documentation/stubs/qiskit.visualization.plot_state_hinton.html#qiskit.visualization.plot_state_hinton
but on running the same code, it gives the following error
[code]
However, it does gives a plot

![Screens

[2020-08-01 15:53] #4838 closed

[2020-08-01 16:38] enavarro51 commented on #4777
@metacubestormerxii12 Are you working on this?

[2020-08-01 17:23] woodsp-ibm opened #5746 "Expectation behavior of factory"
The expectation factory checks the operator and will return a valid expectation if the operator is all paulis or matrices. However for a mix the following happens `raise ValueError('Expectations of Mixed Operators not yet supported.')`

This test below was in test_qaoa - it has been updated/changed as part of Qiskit/qiskit-aqua#1154 which ensures, when the expectation as supplied was None, and VQE

[2020-08-01 17:26] preston-jose commented on #4846
Yeah, Got this error on matplotlib v3.3 but working perfectly on v3.2

[2020-08-01 17:37] preston-jose commented on #4846
Got the error on matplotlib v3.3. Maybe its isolated to that particular version. Its working fine on prior versions (tested on matplotlib v3.2)

[2020-08-01 17:41] woodsp-ibm opened #5730 "Qubit mapping of circuits on real device can be inconsistent"
Measurement noise mitigation is supported when the circuits are mapped to the same qubits. A problem has been recently reported by two users on the public Qiskit Slack #aqua channel in the last couple of days. Here is one

qiskit.aqua.aqua_error.AquaError: 'The used qubit index are different. ([7, 1, 0, 6, 3, 2]) vs ([0, 2, 7, 5, 1, 6]).\nCurrently, we only support all circuits using the same set

[2020-08-01 18:38] edwinagnew commented on #4844
@ajavadia That's a great suggestion, thanks. I will do that instead.

@abhik-99 I can't seem to work out how to do that. I tried this:
![image](https://user-images.githubusercontent.com/42814611/89108205-7d0fe800-d42e-11ea-96bf-0724c11d4375.png)
which is a very different state.

[2020-08-01 21:45] Vismai-Khanderao commented on #4736
@knsmith that would indeed make things much smoother. I'm making a push to the draft pull request soon, from my initial testing, I have got 2-qubit gate commands such as `qc.cx(qr[0:3], anc[0], index=[2,1])` to work, this would puts three CX gates with individual control bits as q_0, q_1, q_2 and the target bit as anc_0 at indexes 2 for the q's and 1 for the ancilla. A circuit error is raised if f

[2020-08-02 00:43] ajavadia opened #4848 "`sched.ch_duration` should report `ch_stop_time - ch_start_time`"
The duration for a channel is now reported the same as its stop time. I believe this should be stop_time - start_time to actually be the duration.

[2020-08-02 05:20] abhik-99 commented on #4848
Hey @ajavadia, if it's okay, can I help out on this on?

[2020-08-02 17:59] preston-jose commented on #4846
#4739 fixes this issue.
[https://github.com/Qiskit/qiskit-terra/issues/4815#issuecomment-665581394]

[2020-08-02 18:00] preston-jose commented on #4846
#4739 fixes this issue
https://github.com/Qiskit/qiskit-terra/issues/4815#issuecomment-665581394

[2020-08-02 18:14] Raviraj26 commented on #4844
def entangle(self,initial_qubit,target_qubit):
        entangled_circuit = self.copy()
        entangled_circuit.h(initial_qubit)
        for initial_qubit in range(target_qubit):
            next_qubit = initial_qubit+1
            entangled_circuit.cx(initial_qubit,next_qubit)
            initial_qubit += 1
        return entangled_circuit()
I tried writing this in the file but seems something i

[2020-08-02 18:31] Ananyapam7 commented on #4846
I am closing this issue since they are #4739 fixes this

[2020-08-02 18:31] #4846 closed

[2020-08-03 15:59] #4749 closed

[2020-08-03 16:21] mtreinish commented on #4317
Fixed by #4640

[2020-08-03 16:21] #4317 closed

[2020-08-03 19:57] nonhermitian opened #4855 "Quantum and classical registers can be set by floats"
### Information

- **Qiskit Terra version**: 0.19.6
- **Python version**:
- **Operating system**:

### What is the current behavior?
This works:

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-08-03 20:39] albi3ro commented on #4855
Can I give take this?

[2020-08-03 20:55] 1ucian0 commented on #4855
sure...

[2020-08-03 21:38] kdk opened #4856 "TestUnitaryCircuit.test_qasm_2q_unitary failing on windows"
### Information

- **Qiskit Terra version**: master @ 9fb0f2e
- **Python version**: 3.6
- **Operating system**: Windows

### What is the current behavior?

From https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=17021&view=logs&j=c36f2e0f-c9b4-5d6c-0a9a-bb54323ef157&t=c9849e48-bd8f-5b19-f5f8-0b7675dae500&l=5319 :

[code]

### Steps to reproduce the problem

### What is the expecte

[2020-08-03 21:48] enavarro51 opened #4857 "mpl drawer has inconsistent use of hyphens and math minus signs"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

The mpl drawer changes leading hyphens in parameters to the math mode minus sign, which is similar in width to the + and about twice the width of a hyphen. There are other places, such as e notation and the imaginary part of complex numbers, where a

[2020-08-03 22:04] galeinston commented on #4857
Hi, can I work on this?

[2020-08-03 22:15] enavarro51 commented on #4857
Sure. I believe this can all be done at the bottom of the pi_check function. The +- issue affects all drawers, but the hyphen/minus sign is only for the 'mpl' version.

[2020-08-03 22:57] galeinston commented on #4857
Great! I will start with your suggestion.

[2020-08-03 23:14] mtreinish commented on #4856
This looks like a repeat of https://github.com/Qiskit/qiskit-terra/issues/4606 I don't know what would have changed to cause this now though. We did fix it in https://github.com/Qiskit/qiskit-terra/pull/4656 and that isolated windows only fix was replaced by a more general fix in https://github.com/Qiskit/qiskit-terra/commit/8e4a366c02438200dd3b24201011235353b59089 but it wasn't failing on that PR

[2020-08-04 01:30] ajavadia commented on #4856
we should do circuit equivalence checking rather than checking qasm.

[2020-08-04 05:29] siddharthdangwal commented on #4855
Hey! can I give it a shot too?

[2020-08-04 06:41] galeinston commented on #4857
Hi @enavarro51, I think I figured out where the format making this inconsistency. But I want to double check if you want to change all minus signs to be longer as in mathematical mode, which is defined in latex like this $-$, or you want all to be shorter as indicated in the below picture?
![Screen Shot 2020-08-04 at 2 39 36 AM](https://user-images.githubusercontent.com/69056626/89261299-d416e800-

[2020-08-04 07:55] siddharthdangwal commented on #4823
Hey I would like to work on this issue. Can I give it a shot?

[2020-08-04 07:56] arunraja-hub commented on #4823
Hi, Sorry I am already working on this

[2020-08-04 07:57] siddharthdangwal commented on #4823
Okay, sure. No problem.

[2020-08-04 09:12] Hirmay commented on #4815
I tried downgrading to 3.0.3, 3.2.2 and few more but still facing the same issue

[2020-08-04 10:39] georgios-ts commented on #4751
Hi @ajavadia ,@a-kapila  are you still working on it?
I took a look at this issue and i realized that now the code crashes after calling `to_matrix()` method of standard gates since the method expects the `Parameter`s of the Gate to be binded. You can make this work but you will not be able to return a numpy array with complex entries. (the entries will be of `dtype=object`). The issue is that the

[2020-08-04 10:40] mtreinish commented on #4856
Well except that test isn't really about checking equivalence, the test that's failing is specifically testing to make sure that we can run `circuit.qasm()` on a circuit with a 2q unitary gate in it: https://github.com/Qiskit/qiskit-terra/blob/master/test/python/circuit/test_unitary.py#L248-L271 and that the decomposed unitary gets defined as a custom gate correctly in the qasm output. There are o

[2020-08-04 13:49] enavarro51 commented on #4857
The +- should be replaced with -, as in your first U1 above, again for all calls to pi_check. And we want the $-$ for the mpl drawer.

[2020-08-04 14:04] kdk opened #4863 "Parameterized gate definitions built with incomplete ParameterTable"
### Information

- **Qiskit Terra version**: master @ d8b5f0f
- **Python version**: 3.5
- **Operating system**: osx

### What is the current behavior?

As reported by @georgios-ts in the Qiskit slack, `definition`s of parameterized gates are being generated with an incomplete `ParameterTable` . Introduced by #4745 .

### Steps to reproduce the problem

[code]

### What is the expected behavior?

#

[2020-08-04 15:01] ikkoham opened #5743 "AerPauliExpectation.compute_variance returns zero variance"
### What is the expected enhancement?

AerPauliExpectation.compute_variance returns zero variance as the comment said.
https://qiskit.org/documentation/stubs/qiskit.aqua.operators.expectations.AerPauliExpectation.compute_variance.html

However, AerPauliExpectation has a finite (=non-zero) variance in general. In `SnapshotExpectationValue` used here,  an optional argument of variance is `True`. It

[2020-08-04 15:33] gvnjones opened #5747 "Parallelization of parameter evaluation"
Performing a standard VQE-qUCCSD calculation for a chemical system requiring ~20 qubits takes many dozens of hours using Qiskit for several computational platforms and simulators. By comparison, performing RHF, MP2, CCSD,  DMRG or FCI for a system of 20 spin-orbitals on a classical computer requires ~1 minute. This severely slows down research on quantum applications in quantum chemistry and mater

[2020-08-04 15:37] 1ucian0 commented on #2314
Dropping the assumption that coupling maps always start with 0 would help to have a cleaner [support for defective qubits](https://github.com/Qiskit/qiskit-terra/pull/4782)

[2020-08-04 15:44] nonhermitian commented on #2314
One can also just map to a reduced sub-graph and back.

[2020-08-04 15:49] 1ucian0 commented on #4820
Some answers:

`initial_layout` can also be `Layout`. The `transpile` function is a very-high-level-user-facing, it is design to be very flexible in the input type.

I think that's done when the `Layout` object is created.

I agree.

[2020-08-04 16:24] #4856 closed

[2020-08-04 16:32] chriseclectic opened #4866 "Allow passing in a Generator object for seed in QuantumVolume circuit"
### What is the expected enhancement?

Allow `QuantumVolume` to be called with a generator object rather than only using a numerical seed. This is important for sharing RNG objects in applications using these circuits (such as in Ignis), and also internally in the QV circuit we can pass the RNG object to the `random_unitary` function which already accepts a generator for the seed kwarg.

Example:

[2020-08-04 20:00] #4757 closed

[2020-08-04 20:04] bettinaheim opened #4886 "Teleportation circuit plot"
### Informations

- **Qiskit version**:
0.19.6

- **Python version**:
3.8.5.

- **Operating system**:
Windows

### What is the current behavior?
The circuit plotted for the attached code is incorrect.

### Steps to reproduce the problem
Load and plot the circuit.

### What is the expected behavior?
Getting a standard teleport circuit diagram.

### Suggested solutions
None

Code to reproduce:

OPEN

[2020-08-05 01:00] #4637 closed

[2020-08-05 02:02] galeinston commented on #4857
Thank you for your response. New York City was hit hard by the storm, which resulted in an outage in my area. I have finished the code and will make a PR as soon as the power and the internet are back

[2020-08-05 10:38] pushpulldecoder commented on #3485
![image](https://user-images.githubusercontent.com/43278046/89403341-c49bba00-d735-11ea-90c1-a7f347aa40e2.png)

So, I have to make this label within red optional?

[2020-08-05 16:07] #4827 closed

[2020-08-05 16:33] taalexander opened #4871 "Remove ScheduleComponent Class"
### What is the expected enhancement?
`ScheduleComponent` should be removed and we should just replace with a common `Value` type with much fewer common attributes.

[2020-08-05 16:38] taalexander opened #4872 "Deprecate initializing Schedules with Instructions"
### What is the expected enhancement?
It is currently possible to initialize a Schedule with timed instructions like `Schedule((100, Play(Constant(100, 1.0), DriveChannel(0))))`. This should be deprecated in the next release so as to enable us to add signature information to schedules in future releases.

[2020-08-05 18:00] #4523 closed

[2020-08-05 22:09] #4866 closed

[2020-08-06 00:33] taalexander opened #4873 "Schema version was not bumped with #4830"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
#4830 did not bump the configuration schema version.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-08-06 04:26] siddharthdangwal commented on #4863
Hey can I try this out?

[2020-08-06 05:30] rraymondhp commented on #4779
Encountered a similar bug when running chemistry simulation.

[2020-08-06 05:32] t-imamichi commented on #4779
It may be related to this https://github.com/Qiskit/qiskit-ignis/issues/419#issuecomment-640771606

[2020-08-06 06:56] t-imamichi opened #4876 "parallel_map can be used only in __main__ module on Python 3.8, macOS."
### What is the expected enhancement?

parallel_map is implemented using ProcessPoolExecutor and the [documentation](https://docs.python.org/3/library/concurrent.futures.html#processpoolexecutor)  mentions as follows.

It seems to be critical on Python 3.8 of Mac. I prepared before.py and after.py as follows.
Although both run successfully on Python 3.7, before.py fails on Python 3.8 of my Mac.

[

[2020-08-06 07:51] siddharthdangwal opened #4878 "Add informative error message when the argument "shots" passed to the execute function is not of type int"
### What is the expected enhancement?
execute(circuit, backend = Aer.get_backend('qasm_simulator), shots = "1024") doesn't give an informative error message (Issue number 842 in qiskit-aer). Add an informative error message.

This isssue was posted in qiskit-aer which is a wrong place for it. Creating a new issue at qiskit-terra (which is relevant to it) and creating a pull request for a solution

[2020-08-06 10:16] ikkoham commented on #4876
![image](https://user-images.githubusercontent.com/6814928/89520571-00f41680-d819-11ea-94d0-06d76ff061b6.png)

This is fixed in master branch, so may be solved if 0.15.0 is released.

[2020-08-06 10:20] t-imamichi commented on #4876
Thank you. I found #4404 fixes the issue. I hope it will be released soon.

[2020-08-06 10:20] #4876 closed

[2020-08-06 10:21] t-imamichi commented on #4779
It is fixed by #4404.

[2020-08-06 10:25] mtreinish commented on #4876
Fwiw, this was documented in the release notes for the release which added 3.8 support: https://qiskit.org/documentation/release_notes.html#known-issues

[2020-08-06 11:10] #4873 closed

[2020-08-06 12:40] #4731 closed

[2020-08-06 15:52] a-kapila commented on #4751
Hi @georgios-ts sorry, not working on it any more - found a workaround for what I needed so feel free to go for it yourself.

[2020-08-06 17:40] enavarro51 opened #4883 "Name change for S_dg and T_dg not reflected in drawers"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Previously the s-dagger and t-dagger gates were named sdg and tdg. This was changed to S_dg and T_dg, which means the drawers no longer display the dagger icon.

### Steps to reproduce the problem

[code]
### What is the expected behavior?

Both gat

[2020-08-06 17:44] ajavadia commented on #4883
Yeah I noticed this too, if you could do the fix and tag it as `stable-backport-potential` that would be great.

[2020-08-06 17:48] ajavadia commented on #4883
It's a label change, not name change. Though I don't even know why the label was changed. @Cryoris @1ucian0 ?
We should have these render as a dagger in all places. Sdg, Tdg, SXdg

[2020-08-06 18:00] enavarro51 commented on #4883
Right. Since the label takes precedence that's what is being displayed. I assumed labels were blank unless the user supplies? Pushed a change but can change it at the s.py, etc. level if preferred.

[2020-08-07 05:38] prantik-pdeb commented on #4855
Hey @1ucian0 , just checking to see how its going... can I give a shot too?

[2020-08-07 10:50] 1ucian0 commented on #4855
There is a pending PR already for this issue

[2020-08-07 11:53] #4883 closed

[2020-08-07 23:36] a-kapila opened #4891 "pi_check works on too many values"
### What is the expected enhancement?
We should not allow pi_check to replace (eg) gate parameters close to pi with pi if they are explicitly not the correct approximation to the given number of decimal places.

For example,
`circ = QuantumCircuit(1)`
`circ.u1(3.141591,0)`
`circ.draw()`
engages pi_check even though 3.121591 is not the correct 6dp approximation to pi. I have encountered this as an

[2020-08-07 23:37] a-kapila commented on #4891
Happy to work on this if it is considered helpful.

[2020-08-08 03:48] deeplokhande commented on #4886
![image](https://user-images.githubusercontent.com/10705840/89701799-49d6c880-d908-11ea-900e-b34478c6082d.png)
I can see the measurements been done before applying the control on qubit 2. If this is not the reproduced error, Please upload the image if you can.

[2020-08-08 04:04] deeplokhande commented on #4790
@ajavadia I am trying to understand this issue, and can i try to work on it.
Firstly, You want to have a test example of a user-defined gate(other than the basic gates in the standard library), But won't this issue be solved using a transpiler which will take the user-defined unitary, and transform it in basic gates. as its done in the case of most of the standard gates.
Secondly, If you meant to

[2020-08-08 04:15] deeplokhande commented on #4741
Did you try the Backend Options for Qasm simulator?
It has parameters where you can set max parallel  cores, threads, etc.
Let me know if you have any doubt

[2020-08-08 06:24] Acnokal commented on #3568
Hi, is anyone working on this issue ?

[2020-08-08 07:55] amirebrahimi opened #4892 "Incorrectly overlaid subplots when ax= parameter of plot_state_qsphere is used"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.8.3
- **Operating system**: Windows 10.0.18363 Build 18363

### What is the current behavior?
I'm attempting to use the `ax` parameter of the `plot_state_qsphere` to have side-by-side plots, but they all seem to be overlaid on top. I think this is a bug.

This is what I see:
![image](https://user-images.githubusercontent.c

[2020-08-08 09:22] AstroSkape commented on #3426
Hi!, if this issue is still open, can I give this a try?

[2020-08-08 19:30] e-eight commented on #4892
Might be related to #4770. From the figure it looks like you are using matplotlib version 3.3.0. Try using 3.2.2 instead.

[2020-08-08 19:36] e-eight commented on #4770
Hey, looks like this has not been fixed yet. Mind if I take a look at this?

[2020-08-09 03:58] splch commented on #4770
@e-eight yes please do! i hope you can figure it out but let me know if i can help with anything

[2020-08-09 06:16] e-eight commented on #4770
Cool. I'll let you know what I find.

[2020-08-09 18:32] coder-mtv commented on #3485
Hey! Is anybody still working on it?

[2020-08-09 18:45] coder-mtv commented on #4857
Is this issue solved?

[2020-08-09 18:56] galeinston commented on #4857
Hi, I'm working on it.

[2020-08-09 19:14] coder-mtv commented on #4635
Is someone working on it, or can I give it a shot?

[2020-08-09 20:03] nonhermitian commented on #4635
There is nothing really to fix. This is just a warning that the calibration results from the devices are not within given physical ranges. This is to be expected because the value indicating an error is 1.0. As of Aer 0.6 these warnings can be disabled.

[2020-08-09 21:09] exAClior opened #4894 "Documentation minor mistake"
https://github.com/Qiskit/qiskit-terra/blob/8636502a832ee5c63a26f66c9669c88a1149e432/qiskit/qobj/pulse_qobj.py#L601

Probably won't matter too much, but just to state everything correctly. The PulseQobj.to_dict() should return a dictionary that describes the PulseQobj instead of QasmQobj, right?

[2020-08-10 08:13] abhishekengg24 opened #4895 "qc.draw() doesn't show the circuit diagram"
I wrote a simple program to get the output
[code]
when I check the result I just get the  statevector output and the bloch sphere output but not the Circut diagram( qc.draw() )
But when i just do the below it works fine :
[code]

### What is the expected enhancement?

My request is qc.draw() can be mentioned in any part of the code and it should show the Quantum circuit and then the result

[2020-08-10 08:41] Cryoris commented on #4895
The `draw` method without any arguments returns a string representing the circuit. If you want to display the string, you have to print it:
[code]

About the second code snippet: Did you run this in a Jupyter notebook? If yes, the output of the last line is implicitly shown as output, which is why in the second code example you see a circuit.

[2020-08-10 13:20] a-kapila opened #4896 "statevector_simulator gives wrong results for circuits with classical bits"
### Informations

- **Qiskit Aer version**: 0.5.2
- **Python version**: 3.8.5
- **Operating system**: Windows 10

### What is the current behavior?
`statevector_simulator` gives wrong results when classical bits are included in the circuits being `execute`d

### Steps to reproduce the problem
`from qiskit import *`
`simulator = Aer.get_backend('statevector_simulator')`
`circ = QuantumCircuit(2,2)`

[2020-08-10 13:26] bettinaheim commented on #4886
Hu, that is not the picture I am getting.
![teleport](https://user-images.githubusercontent.com/34236215/89787508-6cb4d880-dad2-11ea-8e6a-8eda3e6119f7.PNG)

[2020-08-10 13:33] bettinaheim commented on #4886
Here is also the driver code (not that that should be relevant):

from qiskit import *
import argparse

def run_experiment(circuit):
    backend = BasicAer.get_backend('qasm_simulator')
    job = execute(circuit, backend, shots=100)
    result = job.result()
    return result.get_counts(circuit)

if __name__ == "__main__":
    parser = argparse.ArgumentParser()
    parser.add_argument("--qasm", de

[2020-08-10 17:55] edwinagnew commented on #4844
Sorry for the delay.
This is the code I've written:
[code]
I'm looking in generalized_gates.mcmt as an example and I see that its a class but there's also a function at the bottom that can be called on QuantumCircuit but has been deprecated. I think it would be better for it to be a circuit method like that but would you suggest it be a class? If so, I'm thinking the init arguments would be Quantu

[2020-08-10 18:59] SiddTim commented on #4895
It does work if you replace it with `print(qc.draw())`

[2020-08-11 04:16] TanveshT commented on #4895
The error is occurring mainly due to the attempt of plotting multiple plots after the execution of the same code cell block.

[2020-08-11 05:17] AbeerVaishnav13 opened #4905 "QSphere not giving a circular shape plot"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.8.5
- **Operating system**: MacOS, Windows, Linux

### What is the current behavior?
<img width="563" alt="Screenshot 2020-08-11 at 10 42 29 AM" src="https://user-images.githubusercontent.com/30632765/89859866-9f88ca80-dbbf-11ea-8ea1-bfb25e9d8d36.png">

### Steps to reproduce the problem
[code]
### What is the expected beh

[2020-08-11 07:10] AbeerVaishnav13 opened #4906 "Hinton plot giving error"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.8.5
- **Operating system**: MacOS

### What is the current behavior?
<img width="1197" alt="Screenshot 2020-08-11 at 12 37 24 PM" src="https://user-images.githubusercontent.com/30632765/89867846-6e17fb00-dbcf-11ea-831c-c1c386f8e426.png">

### Steps to reproduce the problem
[code]

## Error description
[code]

### What is t

[2020-08-11 07:33] #4722 closed

[2020-08-11 11:22] quantumjim opened #4908 "Make the `qubits` argument optional in `initialize()`"
### What is the expected enhancement?

Probably most uses of `initialize()` will be to initialize all the qubits of a circuit with a single register. In these cases, the `qubits` argument is rather redundant. It would make things easier in this case if the `qubits` argument were optional.

[2020-08-11 17:59] #4895 closed

[2020-08-11 18:00] Cryoris commented on #4895
@abhishekengg24 Feel free to re-open if you think we're missing something here.

[2020-08-11 18:30] e-eight commented on #4905
Duplicate of #4770. Submitted pull request #4893 to fix it.

[2020-08-11 18:32] e-eight commented on #4906
Most likely due to matplotlib version 3.3.0. Use matplotlib 3.2.2 for now.

[2020-08-11 19:27] ewinston commented on #4664
I believe this was resolved by pr #4076.

[2020-08-11 19:27] #4664 closed

[2020-08-11 21:36] ewinston opened #4911 "OptimizeSwapBeforeMeasure doesn't preserve unitary if swap is only operation"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
When `swap` is the only operation in the circuit, with no measures, the OptimizeSwapBeforeMeasure transpiler pass removes the swap changing the behavior of the circuit.

### Steps to reproduce the problem
from qiskit import QuantumCircuit, BasicAer
simulator = BasicAer.get_

[2020-08-11 23:09] aeddins-ibm opened #4912 "marginal_counts erases information in input result object"
### Information

- **Qiskit Terra version**: 0.14.2
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?
The marginal_counts function in result/utils.py modifies the input result without first creating a copy, so that the original counts data in the job object is destroyed. See image.

![image](https://user-images.githubusercontent.com/60495383/89957579-9f52f4

[2020-08-11 23:38] 1ucian0 commented on #4820
It was decide that the example should not be accepted. A PR is on the way.

[2020-08-12 06:03] ardarico commented on #4779
I just updated qiskit to 0.20.0 and now the randomized benchmarking worrks like a charm. Thanks!

[2020-08-12 06:24] HuangJunye commented on #3742
I was looking through "good first issues" to work on and found this one. But it seems this new feature request is already addressed by #4640 as mentioned in #4317

[2020-08-12 09:56] mikaelhaglund opened #4930 "Release Notes 0.20, Circuit Converters, one link wrong, should be to dagdependency_to_dag"
## Did you find a doc bug or broken link that needs to be fixed?

- What is the file name(s) where you found the bug?
https://qiskit.org/documentation/release_notes.html#notable-changes

- What is the current text that needs to be fixed or removed? (You can copy and paste)
dagdependency_to_ciruit() to convert from a DAGDependency object to a DAGCircuit object

- What should the documentation say i

[2020-08-12 13:26] #4779 closed

[2020-08-12 13:27] 1ucian0 commented on #4779
👍

[2020-08-12 13:59] taalexander commented on #3742
Yes, I believe so @HuangJunye. Thank you for catching.

[2020-08-12 13:59] #3742 closed

[2020-08-12 14:33] abhik-99 commented on #4912
Hey, How do I contribute to this?

[2020-08-12 14:33] nonhermitian opened #4916 "Statevector objects are not scriptable"
### What is the expected behavior?

I would expect to be able to access `Statevector` data like:

[code]

but this is not currently possible because `__getitem__` is not defined to grab from `state.data`.

[2020-08-12 15:26] coder-mtv commented on #4878
Can I work on this?

[2020-08-12 15:28] coder-mtv commented on #4912
Can I work on this?

[2020-08-12 20:24] taalexander commented on #4912
Please let me know if you wish me to assign you this issue @abhik-99. If not I can assign to @coder-mtv.

[2020-08-12 20:25] taalexander commented on #4878
Certainly, assigning to you.

[2020-08-12 21:14] kdk opened #4921 "Deprecate MSGate in favor of GMS"
### What is the expected enhancement?

`standard_gates/MSGate` has been superseded by `generalized_gates/GMS` and so can be deprecated.

[2020-08-12 22:23] immaryw opened #4922 "Almost duplicate job_monitor.py in qiskit-terra & qiskit-ibmq-provider"
### What is the expected enhancement?
It is a little confusing why there are two job_monitor.py in qiskit-terra as well as qiskit-ibmq-provider and they share very similar functionality.

Looks like not sure which one should be depreciated. So I also open an issue here for you guys to discuss. Please refer to the thread of this [issue](https://github.com/Qiskit/qiskit-ibmq-provider/issues/741) .

[2020-08-13 00:25] gonzaarcr commented on #4916
Can I work on this?

[2020-08-13 01:50] cduck opened #4923 "Transpiler adds gates on unused qubits with routing_method='lookahead'"
### Information

- **Qiskit Terra version**: 0.15.1
- **Python version**: 3.8.3
- **Operating system**: macOS Catalina

### What is the current behavior?

When transpiling certain circuits (with gates specified on hardware qubits), extra CNOT gates are added.

This only seems to happen when `routing_method` is set to `'lookahead'` but other parameters don't matter (but `optimization_level==0` seem

[2020-08-13 04:08] abhik-99 commented on #4912
Sure @taalexander ! I can do this.

[2020-08-13 07:30] DavideFrr commented on #4798
Hi, I also encountered this bug. I think replacing 'circ.qregs' with new-circ.qregs at line 104 in sabre_layout.py would solve the problem.

before
[code]

after
[code]

If any code maintainer could give me feedback on this, I could do a push request.

[2020-08-13 11:08] anedumla opened #5729 "Efficient implementation of exp(iHt) for an arbitrary hermitian matrix H"
### What is the expected enhancement?
Given a Hermitian matrix H and a time t,
1. Find a decomposition of H into H_1,H_2,...H_m such that H = H_1+...+H_m and such that we know the circuits for each exp(iH_j t) (e.g. a decomposition into 1-sparse matrices)
2. Approximate exp(iHt) via a Trotter/Suzuki product of the exp(iH_j t)'s

At the moment the only possibility is via `qc.unitary((t*MatrixOp(H))

[2020-08-13 11:58] coder-mtv commented on #4878
Hey, I just looked through the problem. Can someone specify more precisely what the problem. I am new to this and help would be much appreciated, thanks!

[2020-08-13 12:32] mathewvarghesemanu commented on #4908
Hi, I'd love to work on this. Did you mean to put default arguments to initialize function? Can you please elaborate on the issue?

[2020-08-13 13:35] coder-mtv commented on #4878
@taalexander , @siddharthdangwal  Hey can you help me out, in specifying the error. Is it because the value for shots is entered as a string and an error message should be displayed for that?

[2020-08-13 14:47] taalexander commented on #4878
@coder-mtv, I would start by trying the example @siddharthdangwal posted above and seeing where the error is raised. I think a proper error should be added somewhere around here https://github.com/Qiskit/qiskit-terra/blob/995ac92376cfa632b124e171023c779bd2f3119b/qiskit/compiler/assemble.py#L216.

[2020-08-13 15:04] Cryoris opened #4927 "Latex drawer cannot handle Barrier instruction"
### Information

- **Qiskit Terra version**: 0.15.0
- **Python version**: 3.7.5
- **Operating system**: macOS Catalina 10.15.1

### What is the current behavior?

[code]
yields
[code]

### Steps to reproduce the problem

Run the above code

### What is the expected behavior?

Plot the barrier

### Suggested solutions

Check how the barrier instruction is correctly plotted with the `Qcircuit` packa

[2020-08-13 15:18] mtreinish commented on #4927
This is already solved and was added in #764 Your local qcircuit latex package is just too old. That's what the latex error is telling you above, the latex drawer emitted a `\barrier` directive in the output latex but `pdflatex` on your system doesn't understand that control sequence. You need to upgrade to the latest version (which is 2 years old at this point) 2.6.0: https://ctan.org/tex-archive

[2020-08-13 15:18] #4927 closed

[2020-08-13 20:23] jkelso662 commented on #4339
Hi there, is this issue still valid? And if so can you give more details as to what is required? Thanks.

[2020-08-13 20:48] coder-mtv commented on #4878
Hey @taalexander , I have fixed the issue, I believe. I will upload it shortly. If there is still an error, could you please reassign it to me?

[2020-08-13 21:00] coder-mtv commented on #4878
I will be uploading the fix around 10 hours later. It would be great, if you could merge by the 14th itself!

[2020-08-13 22:34] #4798 closed

[2020-08-14 04:19] menehune23 commented on #3599
@taalexander Hello, I'd be interested in looking into this if it's gone stale. I don't see an assignee currently. Let me know!

[2020-08-14 04:41] arunraja-hub commented on #3599
Hi @menehune23 I am still working on this. Will let you know if I hit a dead-end

[2020-08-14 05:50] menehune23 commented on #3599
No problem @arunraja-hub. Don't wanna step on your toes. I've got a solution and corresponding test if you'd like any hints. Cheers :)

[2020-08-14 07:02] arunraja-hub commented on #3599
Thanks @menehune23
I changed the specification in the json file as follows since we converted the values to GHz:
_"description": "Variables in the h_str in Hz"}_

[2020-08-14 07:45] georgios-ts commented on #4911
I think the most appropriate way to handle this issue is to skip the `OptimizeSwapBeforeMeasure` transpiler pass if the circuit does not contain any measurements. After all, the name of the pass suggests that there should be a measurement. It's a simple check and , if you agree, i can add this.

[2020-08-14 12:03] modmatic commented on #3599
@arunraja-hub Recall that the backend will return values in GHz, so the JSON schema should reflect that.

[2020-08-14 12:07] menehune23 commented on #3599
@arunraja-hub Recall though that the backend returns values in GHz, and that JSON schema is for the backend.

[2020-08-14 12:14] menehune23 commented on #3599
Sorry @arunraja-hub, I didn’t mean for my solution branch to pop up here and give you my answer directly. I was simply saving my work. TIL that this happens even across forks ;)

[2020-08-14 12:22] menehune23 commented on #3599
Also, if I read the contribution guidelines correctly, you’ll want to add a release note. I’m assuming this is user-facing, though I’m not 100% sure yet

[2020-08-14 12:36] menehune23 commented on #3923
@srijithprabhu If you’re not still looking at this, I’d be interested in taking a look

[2020-08-14 12:45] taalexander commented on #3923
Given there's been little movement on this I'm good to reassign to you @menehune23. Thanks for taking this on.

The follow up if interested after is #3384 which would be a very valuable feature, essentially turning Schedules into functions and opening up the door to reusable code representations.

[2020-08-14 12:48] taalexander commented on #3599
Good point @menehune23 this will be a userfacing change with potentially breaking impacts for the Aer pulse simulator

[2020-08-14 12:52] menehune23 commented on #3599
Good to know @taalexander! If you file an issue over over on aer (and deem it a good first issue), I’d be happy to take a look. I just got started with these repos yesterday.

[2020-08-14 12:56] menehune23 commented on #3923
Sure @taalexander, I’d love to take them both on :)

[2020-08-14 12:59] taalexander commented on #3599
Sure, created an issue here https://github.com/Qiskit/qiskit-aer/issues/891.

[2020-08-14 13:17] taalexander commented on #4878
Hello, @coder-mtv it seems like @siddharthdangwal had made a PR #4880 and we missed this.

[2020-08-14 13:32] taalexander commented on #3923
If you have questions that need quicker answers you can always feel free to find me on our Slack.

[2020-08-14 13:58] coder-mtv commented on #4878
Ok, I can still work on this, right?

[2020-08-14 13:59] coder-mtv commented on #4878
Hey @taalexander , so is the issue fixed, or can I still do it? I didn't it properly

[2020-08-14 14:09] taalexander commented on #4878
I'm sorry @coder-mtv, it seems like there is already a solution that is mostly done. I don't think it would be a good use of time to continue on this, I am sorry for causing you to waste your time. Would you like me to to help find another good issue to work on?

[2020-08-14 14:10] taalexander commented on #4878
You could also help review #4880 and compare it with your solution.

[2020-08-14 14:12] coder-mtv commented on #4878
@taalexander but I encountered the error that was referred to in this issue, so is it fixed yet actually?

[2020-08-14 14:13] coder-mtv commented on #4878
@taalexander Is there any way, I could do this issue, as I'm applying for the advocates program and a contribution would help!

[2020-08-14 14:51] clarebirch commented on #4635
Would it be a good idea to modify so that it only returns the warning once, or so that the default is to have the warning off?

[2020-08-14 14:56] nonhermitian commented on #4635
Just set this to false:

https://github.com/Qiskit/qiskit-aer/blob/c1ee3e266a862cf5ffcb4132809a6fa353d0d376/qiskit/providers/aer/noise/noise_model.py#L183

[2020-08-14 15:02] clarebirch commented on #4635
Yeah, sure, but is that what we want to do? Seems like it'd be best to have the warnings upfront (e.g. for researchers' sake). Surely once a device model is reporting gate errors once, it'll be reporting them repeatedly, though, which would be unnecessary + annoying. We could add a bool to stop the prints after the first?

[2020-08-14 15:12] frankharkins opened #4934 "Allow calculating inner products between Statevector objects"
### What is the expected enhancement?

It would be useful to be able to do something like:

[code]

At the moment this can be achieved through `np.dot(np.conj(s.data), w.data)`, but incorporating this directly into the `Statevector` object would be cool.

[2020-08-14 16:17] DavideFrr commented on #4934
Can I do it?

[2020-08-14 17:20] deeplokhande commented on #4886
@bettinaheim Sorry for the late response. The Issue in this case is not your code but its just how the print( ) function in python prints the circuit. The printing happens along the depth i.e. horizontal length instead of the vertical length/ width. So it prints out gates corresponding to each qubit , qubit line by qubit line, Hence although in functionality the circuit works exactly as expected,

[2020-08-14 17:58] VANRao-Stack commented on #4635
Yes please, do go ahead, sorry for the late reply, my exams are still going on. Cheers!

[2020-08-14 20:34] kdk commented on #3426
I believe this was covered by #4345 . Feel free to re-open if not.

[2020-08-14 20:34] #3426 closed

[2020-08-14 23:35] galeinston opened #4936 "Bug in text format of SabreSwap"
What is the file name(s) where you found the bug?
File name: SabreSwap
https://qiskit.org/documentation/apidoc/transpiler_passes.html#module-qiskit.transpiler.passes

What is the current text that needs to be fixed?
The mathematical expression for H_decay is overflown and out of the webpage margins. The absolute sign is missing?

The link for 'SabreSwap()'
https://qiskit.org/documentation/stubs/qi

[2020-08-15 01:16] deeplokhande commented on #4930
Can i fix this??

[2020-08-15 01:27] deeplokhande commented on #4930
https://github.com/Qiskit/qiskit/pull/1026 Created a pull request, on the source repository.

[2020-08-15 01:39] deeplokhande commented on #4936
It can be fixed by updating the rst file for this class. I can work on it if need be.

[2020-08-15 04:23] amirebrahimi commented on #4892
Thanks, @e-eight. I tried downgrading to 3.2.2 and it still produces the same output.

[2020-08-15 06:53] ajavadia commented on #4934
please see `from qiskit.quantum_info import state_fidelity`

[2020-08-15 07:11] DavideFrr commented on #4934
`state_fidelity` is just the squared absolute value of the inner product.

[2020-08-15 07:23] galeinston commented on #4936
@deeplokhande That's great! You can go ahead and update it

[2020-08-15 12:35] DavideFrr commented on #4923
Maybe we could force `LookaheadSwap` to restrict the search only on swaps that involves active qubits, using the `idle_wires()` method from `DAGCircuit`

[2020-08-15 13:04] #4894 closed

[2020-08-15 16:11] gitkarma commented on #4741
@deeplokhande  "max_parallel_threads" option is available in qasm_simulator  present in qiskt-aer module which is cpp implementation  with support of OpenMP and uses all the core by default .  But i am trying to parallelize the python implementation of qasm_simulator  that's available in qiskit-terra/qiskit/providers/basicaer/qasm_simulator.py
Any help or pointers in that directions are appreciate

[2020-08-15 20:18] taalexander commented on #3485
@pushpulldecoder, sorry about the delay in my response. I believe we need to add amplitude values only the y-axis like @ajavadia's second image shows

@coder-mtv - This is currently assigned to @pushpulldecoder. If for some reason they cannot undertake the issue I can reassign to you.

[2020-08-16 19:33] gonzaarcr commented on #4916
Oh, I was waiting for permission. Should I just add the fix next time?

[2020-08-16 20:04] DavideFrr commented on #4916
Actually, no, That's my bad. I was already working on another issue regarding `Statevector`, saw this thread, and thought to do both fixes in one branch. When I noticed you had already asked for permission it was too late. Sorry.

[2020-08-17 04:14] menehune23 commented on #3923
@taalexander I've got a bit of a concern, as it looks like `ParameterExpression`s represent real numbers (based on how they return `self` when conjugating), while the existing param type for `InstructionScheduleMap` seems to support complex numbers (`Union[int, float, complex]`). Are parameters here expected to be real always?

Also, is this going to be a breaking change for any downstream consume

[2020-08-17 13:54] bettinaheim commented on #4886
@deeplokhande
Thanks for the explanation! Feel free to do with this issue as you see fit - close it, migrate it, open a feature request. I am all set here; I just ran into this and wanted to file it since I wasn't sure whether you are aware of it.

[2020-08-17 14:34] enavarro51 opened #4938 "Add (complex) parameters to initialize box in the latex circuit drawer"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

The plus sign in front of the imaginary part of a complex number disappears in the latex_source output of a parameter.

### Steps to reproduce the problem

[code]
The call to pi_check returns this
[code]
The equation output from latex_source is
[cod

[2020-08-17 20:31] taalexander commented on #3923
For now if a `ParameterExpression` is passed to `get`/`pop` could we just pass it through to the underlying function? If passed to the very rough https://github.com/Qiskit/qiskit-terra/blob/f132cf7fc69920f393bc2055e98f20e8e7d6bce0/qiskit/pulse/schedule.py#L744
(was originally meant to be temporary and replaced by #3384).

This class could be modified to try and cast the `ParameterExpression` to a

[2020-08-17 21:24] 1ucian0 commented on #4936
Assigning @deeplokhande to this issue.

[2020-08-18 01:52] gonzaarcr commented on #4938
Correct me if I'm wrong, but angles can't be complex, right? And I don't think the draw function should check for correct circuits. Maybe some check on the gate?

[2020-08-18 03:54] menehune23 opened #4939 "unittest discover command in Makefile misconfigured"
### Information

- **Qiskit Terra version**: from `master` as of this writing
- **Python version**: 3.8.3
- **Operating system**: macOS 10.15.5

### What is the current behavior?

After running the tests on a clean clone, the following import error occurs, failing the tests:

[code]

### Steps to reproduce the problem

1. Create/activate a new Anaconda environment:
[code]
1. Follow steps from: htt

[2020-08-18 05:33] menehune23 commented on #3923
@taalexander Were you referring to casting from within `ParameterizedSchedule`? I could go with that approach, but since this issue pertains to params for schedule generator functions as well as `ParameterizedSchedule`s (for instance, this generator:  https://github.com/Qiskit/qiskit-terra/blob/master/test/python/pulse/test_instruction_schedule_map.py#L195), it might be less breaking to cast to a

[2020-08-18 06:15] menehune23 commented on #3923
I suppose if schedules will eventually support parameters (per #3384), I could see the argument for NOT converting to floats within the `InstructionScheduleMap`. I put up a PR (#4940), so feel free to discuss further there if appropriate.

[2020-08-18 08:33] aditya-giri commented on #4939
Just adding on - I'm able to repro this as well. But only if I run `make test`.
`tox` works fine for me - no errors.

[2020-08-18 10:28] frankharkins opened #4941 "Cannot plot single-qubit states using plot_bloch_multivector"
### Information

- **Qiskit Terra version**: `0.15.1`
- **Python version**: `3.7.7`
- **Operating system**: OSX Catalina `10.15.6`

### What is the current behavior?

`plot_bloch_multivector` fails if the state is a single-qubit state.

### Steps to reproduce the problem
[code]
Output:
[code]

### What is the expected behavior?

Correctly plotted Bloch sphere.

### Suggested solutions

[2020-08-18 10:57] Hirmay commented on #4941
It's weird as it worked for me
![image](https://user-images.githubusercontent.com/56473003/90505049-9ffd0480-e16f-11ea-9439-1c938448266f.png)

[2020-08-18 10:59] frankharkins commented on #4941
@Hirmay do you have terra 0.15.1 installed?

[2020-08-18 11:02] Hirmay commented on #4941
Oh my bad, I was just going to delete that as I realized that mine is older version.

[2020-08-18 11:34] frankharkins commented on #4941
That's okay. I am not part of the terra team though so I cannot assign.

[2020-08-18 11:36] Hirmay commented on #4941
Okay so @1ucian0 can you assign me this issue?

[2020-08-18 12:05] 1ucian0 commented on #4941
assinged!

[2020-08-18 13:32] enavarro51 commented on #4938
Thanks. You're right. I was just using U1's to test pi_check values and got a bit carried away. I thought it was probably in the regex you showed above.

[2020-08-18 13:36] Hirmay commented on #4941
Thank you @1ucian0

[2020-08-18 14:41] jwoehr commented on #4939
@menehune23 did you do `pip install -U tox` ... that's needed to `make test`

[2020-08-18 15:56] jwoehr commented on #4939
Anyway, @menehune23 I'm getting same failure. I guess @mtreinish has put his finger on the spot.

[2020-08-18 16:24] jwoehr commented on #4939
This works for me with the major component directories all under one DEV directory:
[code]
Should I submit this as a pull request or does it need a more sophisticated setup?

[2020-08-18 16:48] jwoehr commented on #4939
Oops, I see there's already a PR. "Never Mind" :)

[2020-08-18 21:45] kdk opened #4943 "Cannot load QASM circuits generated with MCX gates"
### Information

- **Qiskit Terra version**: master @ 251930a
- **Python version**: 3.5
- **Operating system**: osx

### What is the current behavior?

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-08-18 22:07] kdk opened #4944 "QuantumCircuit.unitary doesn't accept single integer qargs"
### Information

- **Qiskit Terra version**: master @ 251930a
- **Python version**: 3.5
- **Operating system**: osx

### What is the current behavior?

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-08-19 03:59] Hirmay commented on #4941
I have found what is causing the error but I need help to solve it @1ucian0

[2020-08-19 10:53] 1ucian0 commented on #4941
Great! Do you want to PR and we discuss there? Or do you prefer explain here first?

[2020-08-19 10:58] ljubabu opened #4947 "QuantumCircuit.diagonal does not provide global phase when it is used in a controlling circuit"
When it is used in a controlling circuit, QuantumCircuit.diagonal() decomposition does not provide global phase as a relative phase, but instead only provides a identity operator. I'm using the latest Qiskit release, i.e. Qiskit 0.20.0. The code example is:

[code]

The output statevector corresponds to the case where identity operator is used in `CIRCF_1.to_gate(label='DiagGate1') ` and `CIRCF_2.

[2020-08-19 11:16] Hirmay commented on #4941
Fixes #4941

[2020-08-19 11:34] Hirmay commented on #4941
I have created a PR you can check that out and we can hopefully fix the bug.

[2020-08-19 12:42] ljubabu opened #4949 "QuantumCircuit.diagonal does not provide global phase when it is used in a controlling circuit"
### Information

- **Qiskit Terra version**: Terra 0.15.1
- **Python version**: 3.7.3
- **Operating system**: WIN10

### What is the current behavior?
When it is used in a controlling circuit, QuantumCircuit.diagonal() decomposition does not provide global phase (as a relative phase), but instead only identity operator is used.

### Steps to reproduce the problem
The code example is:

[code]
The o

[2020-08-19 12:42] #4947 closed

[2020-08-19 19:27] RafeyIqbalRahman opened #4952 "Example in README.md raises BasicAerError"
### Information

- **Qiskit Terra version**: 0.15.1
- **Python version**: 3.6.7
- **Operating system**: Windows 10

### What is the current behavior?
The following code snippet, which is also available in the README.md file, is returning the error as mentioned in the title:

`from qiskit import *`
`qc = QuantumCircuit(2, 2)`
`qc.h(0)`
`qc.cx(0, 1)`
`qc.measure([0,1], [0,1])`
`backend_sim = BasicAe

[2020-08-19 20:02] enavarro51 commented on #4952
See discussions in #4625 and #4759.

[2020-08-19 20:12] RafeyIqbalRahman commented on #4952
Thanks for mentioning my issue there, @enavarro51. There seems to be a conflict of opinions regarding the resolution of this issue.

[2020-08-19 21:38] kdk opened #4953 "Inverse of MCX gates generated without qubits for ancillae"
### Information

- **Qiskit Terra version**: master @ 7d79ab0
- **Python version**: 3.5
- **Operating system**: osx

### What is the current behavior?

Inverting an mcx gate (with ancilla) falls back to `ControlledGate.inverse` which builds the definition of the inverse gate without ancilla. This leads to an error when transpiling because the inverse gate uses fewer qubits than the original.

###

[2020-08-19 21:50] kdk commented on #4952
I updated the title to cover updating the README so that the examples are all valid code. The issue of whether BasicAer should implement H can be discussed in #4625 .

[2020-08-19 22:22] kdk commented on #4912
Closing as resolved by #4929 .

[2020-08-19 22:22] #4912 closed

[2020-08-19 22:25] kdk commented on #4339
https://github.com/Qiskit/qiskit-terra/pull/4297#discussion_r416707783 has more context on the issue and the suggested fix.

[2020-08-19 22:32] #4952 closed

[2020-08-19 22:36] DavideFrr commented on #4934
I have not understood if there is something wrong with my commit or if I can proceed with a PR

[2020-08-20 12:07] YashawantParab opened #4956 "Inverse and Pseudo-Inverse of operator using Qiskit-terra operator class."
**Information about system**

•	Qiskit Version:- 0.20.0
•	Qiskit Terra version:- 0.15.1
•	Qiskit Terra API Reference:- Qiskit information
•	Python:- 3.7.6
•	Operating System:- Windows  10

**Issue Description:**

On solving some linear combinational problems using qiskit terra operators, I faced an issue while working on the inverse of a matrix.

Even though we can achieve an inverse using a mathe

[2020-08-20 12:30] #4857 closed

[2020-08-20 14:05] enavarro51 opened #4959 "Show pi in the text drawer as π"
### What is the expected enhancement?

Based on a discussion in #4931, there's interest in displaying pi in the text drawer as `π `instead of `pi`.
[code]
To do this on all platforms requires completion of #4900 and modifying pi_check and 24 tests.

[2020-08-20 14:48] taalexander opened #4960 "Add pulse builder "macro" decorator"
### What is the expected enhancement?
I have found a decorator of this form very useful for constructing pulse experiments from functions.

I suggest `macro` to represent a python function with an activated builder context that will be called and evaluated during program construction. I propose that we reserve `function` for support of pulse functions which will be analyzed and compiled as a funct

[2020-08-20 18:06] praveentn opened #4963 "TypeError: '>' not supported between instances of 'int' and 'NoneType'"
### Informations

- **Qiskit version**: 0.20.0
- **Python version**: 3.7.8
- **Operating system**: posix

### What is the current behavior?
`---------------------------------------------------------------------------`
`TypeError                                 Traceback (most recent call last)`
`<ipython-input-13-20ee4434b30d> in <module>`
`      5 array_to_latex(psi, pretext="|\\psi\\rangle =")`

[2020-08-20 19:38] kdk commented on #4963
Thanks for reporting @praveentn . This looks like a duplicate of #4941 . Feel free to re-open if not.

[2020-08-20 19:38] #4963 closed

[2020-08-20 20:45] kdk opened #4964 "Transpiler routing incorrectly updates conditional gate value"
### Information

- **Qiskit Terra version**: master @ b1c9a23
- **Python version**: 3.7
- **Operating system**: Linux

### What is the current behavior?

From https://travis-ci.com/github/Qiskit/qiskit-terra/jobs/375535972#L1673 :

[code]

### Steps to reproduce the problem

Input circuit
[code]

After transpile
[code]

Likely related to routing. If given an `initial_layout` that pre-routes the ci

[2020-08-20 21:26] kdk commented on #4908
I think @quantumjim is looking for behavior like exists for `Barrier`, where calling `qc.barrier()` without any qubit arguments implies adding a barrier across all qubits in the circuit (see https://github.com/Qiskit/qiskit-terra/blob/ed7a5e5/qiskit/circuit/quantumcircuit.py#L1915 ).

[2020-08-20 23:47] aeddins-ibm opened #4965 "Clarify type for "channels" argument in Schedule.draw()"
### Information

- **Qiskit Terra version**: 15.1

### What is the current behavior?
<img width="573" alt="image" src="https://user-images.githubusercontent.com/60495383/90835970-f2baf580-e302-11ea-9486-4baa0deee309.png">

In the docstring for Schedule.draw(), the description for the "channels" kwarg reads "A list of channel names to plot" suggesting the argument should be a list of strings (maybe

[2020-08-21 02:35] taalexander commented on #4965
It is just `Channel` objects that are supported.

[2020-08-21 02:49] taalexander commented on #3923
My apologies for the delay (I work a lot on the backend and often have to put my head down there). If you find me taking forever to respond, I'm typically pretty quick on Slack.

I think I agree with this. I view the `ParameterizedSchedule` as more of a constrained schedule generator function for calibration generation functions coming from the backend, eg., it expects a certain format and is cons

[2020-08-21 02:50] TanveshT commented on #4965
@taalexander So the docstring should be `channels: A list of Channels to plot.`

[2020-08-21 03:20] taalexander commented on #4878
@coder-mtv the fix is here https://github.com/Qiskit/qiskit-terra/pull/4880. If it is not updated by @siddharthdangwal in about a weeks time, I will reassign.

[2020-08-21 03:52] #4441 closed

[2020-08-21 04:16] menehune23 commented on #3923
@taalexander No problem at all. For myself, I don't get as much free time to work on Qiskit as I'd like due to my family and regular job, so I'm not in a big rush.

I've thought about this some more in the meantime. Given that `ParameterizedSchedule` is meant to be temporary, it might be good to cast to float before passing params to a schedule (again, to not break existing generator functions). I

[2020-08-21 04:53] #4965 closed

[2020-08-23 22:17] georgios-ts opened #4970 "QuantumCircuit.compose does not raise an error with invalid qubits argument"
### Information

- **Qiskit Terra version**: master @ b1c9a23
- **Python version**: 3.7.1
- **Operating system**: osx

### What is the current behavior?
`QuantumCircuit.compose` runs normally if `qubits` argument has duplicate values. If you try to compose two circuits after converting to dag, `DAGCircuit.compose` raises an error. Introduced after #4762 .

### Steps to reproduce the problem
[code]

[2020-08-24 01:04] BKGodd commented on #3995
Hello, I have wanted to implement some functionality similar to this myself, as well. I would love to be able to contribute to this if no one is opposed.

[2020-08-24 18:03] 1ucian0 commented on #4608
This is definitely a possible approach. Consider that the token swapper pass also needs to take a coupling map as an argument.

Let's move this conversation about `preserve_statevector` to https://github.com/Qiskit/qiskit-terra/issues/4911

[2020-08-24 19:05] 1ucian0 commented on #4911
@ajavadia says in https://github.com/Qiskit/qiskit-terra/issues/4608#issuecomment-678569404:

Probably the `preserve_statevector=<bool>` name is too confusing. Maybe `preserve_unitary=<bool>` is better?

The "always preserve statevector/unitary" approach has some negatives aspects:
 - Doing and undoing work: A routing pass add swap gates, the another pass "undoes" this swaps, then an `OptimizeSwap

[2020-08-24 20:49] enavarro51 commented on #4921
Shall I take this one?

[2020-08-24 20:57] enavarro51 commented on #4698
I can take this one.

[2020-08-25 03:50] 3yakuya opened #10672 "Advanced Circuits tutorial lacks explanations."
While other tutorials in Qiskit tend to lead the user through some story, explaining concepts and showing them in practice, Advanced Circuits starts with [Opaque Gates](https://quantum-computing.ibm.com/jupyter/tutorial/circuits_advanced/1_advanced_circuits.ipynb) without introducing any text about why they could be useful and in what context.

I tried to have a go at it myself, but the [Gate docu

[2020-08-25 06:55] vr6 opened #4975 "rz gate doesn't comply with RZGate"
### Information

- **Qiskit Terra version**:
{'qiskit-terra': '0.14.2',
 'qiskit-aer': '0.5.2',
 'qiskit-ignis': '0.3.3',
 'qiskit-ibmq-provider': '0.7.2',
 'qiskit-aqua': '0.7.3',
 'qiskit': '0.19.6'}
- **Python version**:
v3.8
- **Operating system**:
Mac OSX

### What is the current behavior?
rz gate should split the phase in half and apply phase on both components as per RZGate docs, not just o

[2020-08-25 09:13] frankharkins commented on #4941
@1ucian0 should I close this issue now a fix has been merged?

[2020-08-25 11:55] 1ucian0 commented on #4941
Closed via #4948

[2020-08-25 11:55] #4941 closed

[2020-08-25 17:52] ehchen opened #4978 "casting parametric parameters into int in addition to floats"
### Informations

- **Qiskit version**: 0.20.0
- **Python version**: 3.8.5
- **Operating system**: OSX

### What is the current behavior?

When trying to bind an integer for a circuit.Parameter() into a qiskit.pulse.library.Waveform(), the parameter needs to be casted into a float, then into an integer before it can be bound.

references:
https://qiskit.org/documentation/tutorials/pulse/6_pulse_sc

[2020-08-25 19:24] vr6 opened #4980 "crz gate is broken"
### Information

- **Qiskit Terra version**:
{'qiskit-terra': '0.14.2',
'qiskit-aer': '0.5.2',
'qiskit-ignis': '0.3.3',
'qiskit-ibmq-provider': '0.7.2',
'qiskit-aqua': '0.7.3',
'qiskit': '0.19.6'}

- **Python version**:
3.7.6
- **Operating system**:
Mac OSX
### What is the current behavior?
rz gate produces different states when the control and target qubit is switched. Symmetry is not preserved.

[2020-08-25 19:55] PaulMcElligott commented on #4959
Can I be assigned this issue please? I'd like to give it a shot, I actually think it might be a good first issue.

[2020-08-25 21:35] 1ucian0 opened #4981 "HoareOptimizer does not handle CZ correctly"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7.8
- **Operating system**: MacOS

### What is the current behavior?

Consider the following program, where `circuit_in` is optimized by `HoareOptimizer` pass as `circuit_out` :
[code]
[code]

The optimization fully removes the `H-CZ-H` sequence wrongly, breaking the semantics equivalence of the transformation.

### What i

[2020-08-25 22:09] enavarro51 commented on #4959
It's ok by me. @1ucian0 Ok by you?

[2020-08-25 22:23] 1ucian0 commented on #4959
Sure

[2020-08-26 04:15] menehune23 commented on #4978
@lcapelluto Is the problem here that if you bind a `ParameterExpression` to an int value, it currently can only be cast to a float? It seems like it'd be fairly simple to add an additional casting operator to `ParameterExpression` to support ints.

[2020-08-26 04:17] menehune23 commented on #4978
Actually, I may roll it into #4940

[2020-08-26 05:03] rajesh-asapanna opened #4982 "[Not working] Fix on _bloch_multivector_data (utils.py) when number of qubit is 1"
Even though issue has been resolved as on #4948 at https://github.com/Qiskit/qiskit-terra/pull/4948, I am getting the same error. Error is reproduced below --

Input:
[code]
 Error Output
[code]

### Information

- **Qiskit Terra version**:
[code]
- **Python version**:
[code]
- **Operating system**:
[code]

[2020-08-26 06:26] menehune23 commented on #4978
@ehchen Take a look at #4940

[2020-08-26 07:38] tgag17 commented on #4975
The Rphi gate is also called the Rz gate according to the textbook. But in the docs it is mentioned that it is infact the Rphi gate with an additional phase

[2020-08-26 09:28] frankharkins opened #4983 "Add Grover diffusion operator to circuit library"
### What is the expected behavior?

Since the diffuser is used in the same way for every Grover circuit, it would be useful if it could be loaded from the circuit library like we can the QFT. Since this would be useful for the textbook, I'm happy to make a start on this if appropriate.

[2020-08-26 11:58] mtreinish commented on #4982
The fix for this has been merged into the development branch and been backported to the stable branch for a future bug fix release. But it has not been released yet, the fix only merged two days ago. You will either have to wait for it to be released or install terra from source to get the fix. I'm going to close this as there is nothing to do here since this is a duplicate and the bug has already

[2020-08-26 11:58] #4982 closed

[2020-08-26 15:04] 1ucian0 opened #4984 "Exception or warning when a passmanager is being reused"
By design, passmanager instances cannot be reused. We don't have a mechanisms to "reset" the pass instances that are associated to the passmanager. As a consequence, running a passmanager twice might lead to unexpected results.

However, I noticed that many users write code like this, inadvertently getting wrong results:

[code]

The correct code should be this:

[code]

### What is the expected b

[2020-08-26 15:24] TanveshT commented on #4984
I can try it @1ucian0 Can you assign it to me?

[2020-08-26 16:07] jlapeyre opened #4985 "Should the keys in result.Counts be ordered ?"
### What is the expected enhancement?

[`result.Counts`](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/result/counts.py) would be more convenient if it were a subclass of `OrderedDict`.  The keys are bit strings, which have a natural order, so it would be useful to preserve the order. For example, currently, when displaying the counts interactively, the keys (bit strings) are not order

[2020-08-26 16:40] mtreinish commented on #4985
It was mostly done this way for compatibility with the `dict` that was there before see #4501 I didn't really think about it except to make the new Counts class subclass the same type as what was there before. That being said I don't think preserving insertion ordering is fine. But, I don't think we'll need to do anything here. After https://github.com/Qiskit/qiskit-terra/pull/4926 merges python w

[2020-08-26 17:29] 1ucian0 commented on #4984
Sure. Thanks!

[2020-08-26 17:37] jlapeyre commented on #4985
This makes sense since python dicts are now ordered.

But, in applications I am playing with now, under python 3.8, the strings are not ordered. Since insertion order is preserved, this tells me that the strings are not ordered when the source dict is created. They also don't appear to be inserted in the order in which the results are obtained (which should be random) because many strings with ver

[2020-08-26 17:58] mtreinish commented on #4985
Well we can look at sorting them before they're added to the `Counts` object here:

https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/result/result.py#L250

change that to be something like
[code]

but before we open a PR doing this we should benchmark it to see what the practical overhead of sorting is. If it's minimal lets go for it, but if it adds a noticeable amount of overhead I'd say

[2020-08-26 19:08] jlapeyre commented on #4985
[code]
Then
[code]

[code]

* almost all the extra time is due not to sorting, but to building the intermediate dict.
* adding a helper method would be the least disruptive in the sense that we are sure it would not affect existing code. But, it adds to the users' cognitive/documentation-digging burden. I can't imagine a situation in which a user would rather have the bitstrings in a random order

[2020-08-26 20:34] arpn opened #4986 "QFT wire ordering"
# Problem
It seems to me that the wire ordering of [QFT](https://qiskit.org/documentation/stubs/qiskit.circuit.library.QFT.html) is inconsistent with the Qiskit convention that the first wire corresponds to the least significant bit and the last wire to the most significant bit. According to its definition, QFT should perform the mapping
![image](https://user-images.githubusercontent.com/44575039/

[2020-08-27 02:27] 1ucian0 commented on #1073
In order to close this issue, we need to move the following tests to binder (see https://github.com/Qiskit/qiskit-terra/pull/4544):
[code]

[2020-08-27 02:35] 1ucian0 commented on #3304
This issues if fixed in current master. Probable via #4565

[2020-08-27 02:35] #3304 closed

[2020-08-27 02:42] 1ucian0 commented on #3476
I suspect that this is fixed after the big refactor in mpl circuit drawer. Please, reopen if that's not the case.

[2020-08-27 02:42] #3476 closed

[2020-08-27 03:00] 1ucian0 commented on #3092
_Originally posted by @ajavadia in https://github.com/Qiskit/qiskit-terra/pull/3488#issuecomment-624142093_

Im tagging this issue as `on hold` since this comment is from May and, I assume, Qiskit does not have scheduled circuits yet (not sure). https://github.com/Qiskit/rfcs/pull/18/files is closed and I could not track down the scheduled circuit current status.

[2020-08-27 08:40] frankharkins commented on #4986
I think #4849 will fix this.

[2020-08-27 18:20] levbishop commented on #4984
Agree that if there is no way to reset a passmanager then there should be a warning/error. BUT - my preference would be to find a way to do the resetting. Is there some reason why we can't make passmanagers reusable because the incorrect example code that luciano posted is much more natural (I have some code like that) and it would be good if we could make it work.

[2020-08-27 20:19] 1ucian0 opened #4990 "ZX calculus optimization pass"
@levbishop recently asked my about a the status [hackathon project to integrate ZX calculus](https://github.com/qiskit-community/qiskit-camp-europe-19/issues/51) in Qiskit Terra. From what I remember, it there was some coding challenges and their pass was doing `DAG->CIRCUIT->QASM->pyZX(with some modifications)->QASM->CIRCUIT->DAG`.

So... the question is if there is interest for a proper ZX calcu

[2020-08-27 23:31] alyabouzaid commented on #4941
How can I access the fixed code? Do I have to wait until the next release? I'm stuck in this error now and it would be great if I can know how manage this error now if possible.

[2020-08-28 00:49] 1ucian0 commented on #4984
The problem is not the passmanager itself, but the passes. Passes instances cannot me reused. We could have a reset method on them. However, the fact that there is no "reset instance" patter makes me think that there might be unattended consequences to that.

Ill think over it. In the meanwhile, the warning. What do you think?

[2020-08-28 00:53] 1ucian0 commented on #4941
The fix is tagged to be included in 0.15.2, to be released soon™.

If you need the fix right now, you can install the master branch code.

[2020-08-28 01:16] alyabouzaid commented on #4941
Sounds good, thank you!

[2020-08-28 07:01] #4986 closed

[2020-08-28 07:04] arpn commented on #4986
@frankharkins I think you are right, thanks for pointing this out.

[2020-08-28 15:00] levbishop commented on #4984
Maybe rather than have the warning at the PassManager level, have warnings for reusing each pass? This way, as passes get modified to allow reuse of instances, the warnings can get removed at the proper level of granularity?

Also, warning at the PassManager level wouldn't warn on the following, which also reuses pass instances:
[code]

[2020-08-28 17:22] Cryoris commented on #4983
#4828 implements this, feel free to check it out and leave a review!

[2020-08-28 18:08] georgios-ts commented on #4981
Same issue is caused if you use `CRZ` or `CU1`.

What's happening is that `HoareOptimizer` thinks these gates act trivially and removes them. Rephrasing lines [125-133](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/optimization/hoare_opt.py#L125), one of the above gates is considered  to act trivially if whenever the control qubits are in $$\inline | 1 \rangle$$ state

[2020-08-28 18:54] kdk commented on #4984
Agree that there's a deeper issue here. We already re-run pass instances regularly, even within a single call to `PassManager.run()` (e.g. during a `do_while` optimization loop like https://github.com/Qiskit/qiskit-terra/blob/779fa14/qiskit/transpiler/preset_passmanagers/level3.py#L192 ).

We've had for a while the best-practice that passes shouldn't store internal state (outside of what's directl

[2020-08-28 19:37] 1ucian0 commented on #4984
Yeap. `HoareOptimizer` has a similar issue.

[2020-08-28 19:54] jlapeyre opened #4993 "Creating a circuit from matrix representation of Pauli X gate gives incorrect matrix"
The exposition below is for the matrix representing the Pauli X gate, but the bug probably occurs for most matrices representing  1Q gates.

[code]
### Information

- **Qiskit Terra version**:
  7a24e3a6  Aug 27, 2020
- **Python version**:
 3.8

### Suggested solutions

The parameters for the unitary are computed here:

https://github.com/Qiskit/qiskit-terra/blob/ef57f7275212e0c4aa728c17a34903b80e

[2020-08-28 19:59] georgios-ts commented on #4981
Same issue is caused if you use `CRZ` or `CU1`.

What's happening is that `HoareOptimizer` thinks these gates act trivially and removes them. Rephrasing lines [127-133](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/optimization/hoare_opt.py#L127), one of the above gates is considered to act trivially if whenever the control qubits are in |1> state, the target qubit is

[2020-08-28 21:45] #4777 closed

[2020-08-28 23:37] 1ucian0 opened #4998 "CommutationAnalysis is not idempotent"
As @kdk explains in [this comment](https://github.com/Qiskit/qiskit-terra/issues/4984#issuecomment-683076229), the `CommutationAnalysis` pass is storing internal state and that (probably) creates invalid results when `run` is called more than once.

[2020-08-28 23:39] 1ucian0 opened #4999 "HoareOptimizer pass should not keep internal state"
The `HoareOptimizer` pass is storing internal state and that creates invalid results when run is called more than once.

[code]
[code]

Notice that the result for `circuit2` is incorrect. The expected result can be obtain with a fresh pass instance:
[code]
[code]

[2020-08-28 23:44] 1ucian0 commented on #4984
Closing this issue as invalid, because passmanagers should be able to be run more than once. The passes should be stateless. I submitted #4998 and #4999 for the two examples mentioned in this issue.

[2020-08-28 23:44] #4984 closed

[2020-08-29 00:36] #2616 closed

[2020-08-29 01:42] 1ucian0 commented on #4998
In a deeper look it seems safe to share `CommutationAnalysis.cache`. I will explore a bit longer.

`CommutationAnalysis.gates_on_wire` is not used and can be removed.

[2020-08-29 02:27] 1ucian0 commented on #4063
global phase was added, I think, in https://github.com/Qiskit/qiskit-terra/pull/4565. Therefore, removing `on hold`.

[2020-08-29 02:28] 1ucian0 commented on #1936
What's blocking this issue as `on hold` ?

[2020-08-29 02:44] #4170 closed

[2020-08-29 02:44] #4806 closed

[2020-08-29 15:58] metacubestormerxii12 commented on #4777
I'm sorry guys, my computer broke and I could only get its parts like a day ago. Thank you for taking this over!

[2020-08-29 16:23] 1ucian0 commented on #4922
I think https://github.com/Qiskit/qiskit-terra/pull/3896 addresses this.

[2020-08-30 16:21] Aniket049 commented on #4960
how can i contribute to this?

[2020-08-30 23:02] the-legend-of-lia commented on #2866
Hi @1ucian0,

Thank you for following up on this!  I recall a major reason PR #2867 was on the back burner for a few months is because there was discussion that by nature its unit tests are statistical, i.e. have a small but nonzero probability of not passing.  Now that I have finished my undergrad (woohoo!) and will be starting PhD research in quantum computing this fall, I am 100% on board to ma

[2020-08-31 10:25] #4993 closed

[2020-08-31 12:32] galeinston commented on #4936
@deeplokhande are you working on this issue? Please response asap.

[2020-08-31 14:53] tgag17 commented on #2307
Hey! Is the issue still open?

[2020-08-31 15:00] kdk commented on #4998
Agree, since the cache only records commutation relations which are globally true (and not specific to a particular DAG or call to `run`), this is okay.

[2020-08-31 15:28] 1ucian0 commented on #4906
I was not able to reproduce this issue on master, neither with matplotlib 3.2 or 3.3.

This issue seems like duplicated https://github.com/Qiskit/qiskit-terra/issues/4846 and it was probably solved via https://github.com/Qiskit/qiskit-terra/pull/4739.

Consider updating to qiskit-terra 0.15. If you think this is still an issue, please reopen!

[2020-08-31 15:28] #4906 closed

[2020-08-31 15:33] #4771 closed

[2020-08-31 15:35] 1ucian0 commented on #4981
Hmm.. you are right that this case is not the paper's trivial case. So the original papers removes gates only but cannot replace gates? Probably @ajavadia has an opinion here.

[2020-08-31 15:44] 1ucian0 commented on #4775
ping mx73 ?

[2020-08-31 15:45] 1ucian0 commented on #4775
ping @mx73 ?

[2020-08-31 17:23] taalexander commented on #4960
Hello @Aniket049, to get started you could add the macro decorator to `pulse.builder.py` and add some documentation/tests. We could iterate from there. Would you like to me to assign this to you?

[2020-08-31 17:24] Aniket049 commented on #4960
yes.please assigned this project to me.I will be greatful

On Mon, 31 Aug, 2020, 10:53 PM Thomas Alexander, <notifications@github.com>
wrote:

[2020-08-31 17:28] #4724 closed

[2020-08-31 17:43] 1ucian0 commented on #4936
Reassigning to @tgag17, since @deeplokhande is not responsive.

Let us know if you are in @tgag17 !

[2020-08-31 17:55] tgag17 commented on #4936
Thanks!

[2020-08-31 19:51] jlapeyre opened #5004 "Decompose.run discards global_phase"
[code]

A substitution is made using a gate obtained this way
https://github.com/Qiskit/qiskit-terra/blob/a0ee52400cb21139b509cdba5c14455c27150b01/qiskit/transpiler/passes/basis/decompose.py#L50

But, `node.op.definition.global_phase` is lost.

### Information

- **Qiskit Terra version**:
08a1f379

[2020-08-31 21:34] ewinston commented on #5004
I believe this should be resolved by pr #4915

[2020-09-01 00:15] ajavadia commented on #4911
Point 1: I would assume that doing/undoing swaps is pretty fast. Likewise cleaning up of swaps that are immediately followed by measurements (we should do this always anyway).

Point 3: If you add a `preserve_unitary=True`  flag, then I don't know how mapping can be done in general. When you embed the circuit onto some larger coupling map, the unitary is different (bigger).

I agree with Point 2,

[2020-09-01 03:49] #4775 closed

[2020-09-01 11:26] dtmcclure opened #5008 "Backend monitor displays incorrect information"
### Information

- master
- any
- any

### What is the current behavior?
Qubit anharmonicities, in GHz, appear in the Readout Properties column of the Backend Monitor generated by the code in https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/jupyter/backend_monitor.py. This is true at least for backends that are currently reporting anharmonicities, which may not be all of them yet, b

[2020-09-01 12:57] ajavadia commented on #2866
Hi @the-legend-of-lia - yes I think having the assertion work as a separate module on top of Qiskit would be the best way and if you could maintain it then we can include it the dashboard @1ucian0 talked about.

I was also pleased to see PyZX license compatibility recently. If you could add that as a transpiler pass in your fork (adding a dependency on PyZX) then I'd be interested in playing aroun

[2020-09-01 12:57] #2866 closed

[2020-09-01 13:13] jkelso662 commented on #4339
Thanks @kdk! I'll have a look at this now 👍

[2020-09-01 17:23] 1ucian0 opened #5011 "Should unitarily-defined gates be moved to quantum_info?"
_Originally posted by @ajavadia in https://github.com/Qiskit/qiskit-terra/pull/4469#issuecomment-629971691_

[2020-09-01 17:33] 1ucian0 commented on #4447
The fix suggested in https://github.com/Qiskit/qiskit-terra/pull/4469 changes the class hierarchy and that sparked a small discussion on the nature/location of Unitary gates. I created #5011 to follow that discussion there.

Is it possible to fix #4447 without changing the class hierarchy?

[2020-09-01 18:27] Cryoris commented on #5011
Gates defined via the unitary are the same as `quantum_info.Operator`s, right?

If so, is there another reason to keep `UnitaryGate` except additional methods like `control`? If no, is that sufficient evidence to keep it, or should the `Operator` get the additional methods and `UnitaryGate` be removed? The latter is nice because there would be just one object that is defined from a unitary matrix

[2020-09-01 18:47] Cryoris commented on #4063
I think almost all gates do have `to_matrix` now, only the multi-controlled ones don't have it. But since they should go to the circuit library anyways (right?) they won't have the `to_matrix` method.

[2020-09-01 18:47] #4063 closed

[2020-09-01 19:53] manoelmarques opened #5012 "Random crashes on TextProgressBar"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.7
- **Operating system**:  Ubuntu 18.04, but actually any OS VM with 1  processor core

### What is the current behavior?
Aqua uses TextProgressBar in several places and so it happens that sometimes the usage is reentrant. The problem is that the event infrastructure in Terra is global and sometimes we get crashes on the i

[2020-09-02 02:56] levbishop commented on #5012
I think tqdm progress bars can support this. Maybe we can consider using them instead of our home grown bars?

[2020-09-02 12:17] nonhermitian commented on #5012
This has nothing to do with the progress bars themselves. Rather it is the pubsub mechanism and how things listen to very general events that can easily conflict with others.

[2020-09-02 12:37] tgag17 commented on #4855
Hi! Is this issue open?

[2020-09-02 13:02] raulotaolea opened #5015 "QuantumCircuit __eq__ fails when comparing with None"
## Information
Qiskit Terra version: 0.15.1
Python version: 3.7.7
Operating system: MacOS v10.15.6

## What is the current behavior?
When two `QuantumCircuit` objects are compared with `==` and one of them is `None`, an error is thrown.

## Steps to reproduce the problem
[code]

## What is the expected behavior?
The `qc1 == qc2` comparison should always return `True` or `False`.

[2020-09-02 13:07] Cryoris commented on #5015
Probably `False` is the right behaviour here 👍  Do you want to fix this?

[2020-09-02 13:10] raulotaolea commented on #5015
Yep, I am creating a PR right now.

[2020-09-02 16:01] atskae opened #5017 "Count constructor crashes when data is empty"
### Information

- **Qiskit Terra version**: 0.15.1
- **Python version**: 3.7.3
- **Operating system**: Mac OS Catalina 10.15.6

### What is the current behavior?
I simply ran a circuit which does not perform any measurements. On the returned results, `get_counts()` crashes because an empty dictionary is passed into the `Count` constructor and the constructor tries to iterate on the empty dictiona

[2020-09-02 19:18] #4863 closed

[2020-09-02 21:53] #4978 closed

[2020-09-02 22:19] 1ucian0 commented on #5015
I think `False` is the expected answer. Similarly:
[code]

[2020-09-02 23:53] #5015 closed

[2020-09-03 01:07] #4936 closed

[2020-09-03 07:50] dhruvbhq opened #5021 "Support to plot multiple statevectors on the same Bloch sphere using plot_bloch_multivector"
### What is the expected enhancement?
Using plot_bloch_multivector , to be able to plot multiple statevectors on the same Bloch sphere for easy comparison of change in state.

[2020-09-03 13:36] #5017 closed

[2020-09-03 15:04] zachschoenfeld33 opened #5023 "Ability to remove passes from PassManager"
### What is the expected behavior?

We would like to be able to remove passes from a `PassManager`, analogous to how one can append passes.

For instance, suppose you want to use `optimization_level=1`, but don't want to use the pass `RemoveResetInZeroState`.

You get the passes from level 1 with
[code]

I would like, now to be able to do something like
[code]

[2020-09-03 15:06] zachschoenfeld33 commented on #5023
@1ucian0 see here.

[2020-09-03 16:53] 1ucian0 commented on #4013
Fixed via #4807

[2020-09-03 16:53] #4013 closed

[2020-09-03 16:59] 1ucian0 commented on #4769
Closed via #4616

[2020-09-03 16:59] #4769 closed

[2020-09-03 17:14] 1ucian0 commented on #5023
A workaround
[code]
![antes](https://user-images.githubusercontent.com/766693/92146128-42abb900-ede7-11ea-9d99-66a4c7be4ea6.png)

Check the index of the pass to remove, 1 in this case:
[code]
![despues](https://user-images.githubusercontent.com/766693/92146143-47706d00-ede7-11ea-82a1-13acd6f8a34f.png)

[2020-09-03 17:30] tgag17 commented on #4878
Hi! Is this problem still open?

[2020-09-03 21:03] 1ucian0 opened #5025 "circuit without gates cannot be drew on latex"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### Steps to reproduce the problem
[code]
[code]

### What is the expected behavior?

Same as other drawers:
[code]
[code]

[code]
![image](https://user-images.githubusercontent.com/766693/92166787-36375880-ee07-11ea-95ad-fef23f88e2fc.png)

[2020-09-03 21:07] #4939 closed

[2020-09-04 04:23] tengbian commented on #4993
Just encountered this problem. Thank you for fixing it!

[2020-09-04 06:41] mrcdr commented on #4688
Thank you for your comment (and sorry for my very late reply). Yes, it should be tested indeed.
For evaluation of mathematical expressions, `sym()` seems to be better to use as far as I
 tried (I still don't know why `real()` is defined, though).

I leave this post open so please close it at your convenience. Thank you again for your great quantum computing environment!

[2020-09-04 08:57] #4983 closed

[2020-09-04 12:17] mlarocca commented on #5025
@1ucian0 Maybe I can help with this, would that be ok?

[2020-09-04 12:18] 1ucian0 commented on #5025
Sure! Thanks!

[2020-09-04 13:37] #3801 closed

[2020-09-04 13:41] mlarocca commented on #5025
Perfect, I'll start taking a look later today.
Thanks!

[2020-09-04 14:10] mtreinish commented on #5025
Fwiw, this used to work fine. It looks this was a regression introduced in: https://github.com/Qiskit/qiskit-terra/pull/4410

[2020-09-04 16:08] #4953 closed

[2020-09-04 17:23] #4964 closed

[2020-09-04 20:10] #5023 closed

[2020-09-04 20:24] kdk opened #5031 "Flaky test_2q_random in test.randomized.test_synthesis.TestSynthesis"
### What is the expected enhancement?

From https://travis-ci.com/github/Qiskit/qiskit-terra/jobs/381258324#L923 :

[code]

[2020-09-04 23:53] 1ucian0 opened #5032 "Tweak colors to match new IQX colors"
From https://github.com/Qiskit/qiskit-terra/pull/3196#issue-324844793, @nonhermitian says:

The closed PR #3196 suggests a new set of colors the the MPL circuit drawer. However, the PR got out-of-sync.

Please, use PR #3196 as a reference to set the new colors and run binder (see https://github.com/Qiskit/qiskit-terra/pull/4544 as reference) to create the new reference images.

[2020-09-05 00:01] #4348 closed

[2020-09-05 03:15] galeinston commented on #5032
Hi @1ucian0, can you assign me this one?

[2020-09-05 03:17] renier commented on #5012
You can see this consistently when using the `UCCSD()` function in aqua under the following conditions:
* You enable the DEBUG log level
* `local_hardware_info()` sees only one CPU, or you export `QISKIT_IN_PARALLEL=TRUE` before running the program.

[code]

UCCSD instantiates progress bar subscriptions when in DEBUG log level. These functions can send an empty value list to `parallel_map()`. This

[2020-09-05 04:09] galeinston commented on #5032
Hi @1ucian0 can I work on this?

[2020-09-06 00:33] 1ucian0 commented on #5032
Feel free to port #3196 to current master (dont forget to keep the original authorship for credit). I assume the color scheme is coming from https://quantum-computing.ibm.com/
<img width="988" alt="Screen Shot 2020-09-05 at 8 29 35 PM" src="https://user-images.githubusercontent.com/766693/92315666-fdd67c80-efb6-11ea-9d66-47e74b357baa.png">

[2020-09-06 00:39] 1ucian0 commented on #4959
ping @PaulMcElligott ! Any news?

[2020-09-06 00:41] 1ucian0 commented on #2304
Removing `on hold`. The testing should be on binder, like in https://github.com/Qiskit/qiskit-terra/pull/4544

[2020-09-06 00:42] 1ucian0 commented on #2307
it is!

Removing `on hold`. The testing should be on binder, like in https://github.com/Qiskit/qiskit-terra/pull/4544x

[2020-09-06 00:44] 1ucian0 commented on #2310
Closing this issue, since after https://github.com/Qiskit/qiskit-terra/pull/4544 we are moving the mpl circuit drawer to binder and text still on the regular tests. Probably latex should be moved to the mpl circuit drawer test too.

[2020-09-06 00:44] #2310 closed

[2020-09-06 17:48] mlarocca commented on #5025
Yeah, the issue seems to be that "self.ops" is empty, but it's first element is checked in `if self.cregbundle and self.ops[0][0].name == "measure"`
https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/visualization/latex.py#L302

Now, if I have understood correctly, self.ops is the list of layers in the circuit: @1ucian0 is it supposed to be empty for a QuantumCircuit?
I noticed in text.py i

[2020-09-06 17:55] 1ucian0 commented on #5025
Sounds good to me. Let's discuss it in a PR 😊

[2020-09-07 04:29] special-kay opened #5036 "Qasm parsing error for custom gates."
### Information

- **Qiskit Terra version**: 0.15.1
- **Python version**: 3.8.5
- **Operating system**: Mac OS Darwin

### What is the current behavior?
Parsing a qasm string including a custom gate definiton - as given by Gate.qasm() -  using QuantumCircuit.from_qasm_str() returns QasmError: "Cannot find gate definition for 'test', line 6 file ".

This issue was reported in #3066, which was close

[2020-09-07 13:03] 1ucian0 commented on #5036
Custom gates should be `opaque`.

[2020-09-07 20:52] abhobe commented on #5032
@1ucian0 I managed to change the colors for the gate backgrounds. It works fine but in the IQX(White Theme) the classical gates have a white font color whereas all the other gates seem to have a black font. I am not exactly sure how to do this for `QuantumCircuit()`. I can however do the dark theme of IQX since it only has one font color.

[2020-09-07 22:02] abhobe commented on #5032
Update So Far:
![Screen Shot 2020-09-07 at 3 01 41 PM](https://user-images.githubusercontent.com/29938963/92418201-211a3c80-f11b-11ea-855b-6ce814301071.png)

[2020-09-07 22:09] abhobe commented on #5032
https://github.com/abhobe/qiskit-terra/blob/fixissue5032/qiskit/visualization/qcstyle.py

[2020-09-07 22:43] abhobe commented on #5032
https://github.com/abhobe/qiskit-terra/blob/fixissue5032/qiskit/visualization/qcstyle.py

[2020-09-07 23:28] galeinston commented on #5032
Thank you for the update @abhobe.

I've been working on this after @1ucian0 assigned it to me. There's another thing I wanna ask is if we also need to add letter 'z' to the measurement symbol? Not just changing colors, correct?

[2020-09-07 23:30] 1ucian0 commented on #5032
Just colors

[2020-09-08 00:14] special-kay commented on #5036
So does the functionality to create a circuit with custom gates from a qasm string exist?

[2020-09-08 10:21] willsimmons1465 opened #5037 "Cannot use `execute` with a `PassManager`"
### Information

- **Qiskit Terra version**: 0.15.1
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Providing any `PassManager` to the `execute` method will throw an exception as it fails the `_check_conflicting_arguments` call - this method fails if a backend (a _required_ argument) is provided.

### Steps to reproduce the problem

[code]

[cod

[2020-09-08 11:01] mlarocca commented on #5037
Can I help with this?

[2020-09-08 11:02] Cryoris opened #5038 "circuit.extend produces empty circuit.qubits"
### Information

- **Qiskit Terra version**: master@9e78907d2
- **Python version**: 3.7.7
- **Operating system**: macOS

### What is the current behavior?

The `QuantumCircuit.extend` operation extends an existing circuit with another circuit. If the second circuit contains registers that are not in the first one, the register is added to the first. This operation can therefore add quantum registe

[2020-09-08 13:51] #5038 closed

[2020-09-08 14:26] mtreinish commented on #5012
So I agree with the problem here it looks like the previous subscriber when aqua calls `parallel_map([], ...)` doesn't exit out. I think the fix for comparing the subscribers object ids is a good way to handle this. It does feel like there is an aqua bug here (which is what I mentioned in #3634) but this is simple enough to fix. The other thing which I tried was to force the text progress bar subs

[2020-09-08 15:13] strongrex2001 opened #5042 "ParameterExpression is killing the Performance of Parameter.bind"
### What is the expected enhancement?
I am doing a problem where parameters would be assigned very frequently, and the performance is not quite satisfactory. After profiling I found that `subs` (from `sympy`) counts for 1.84s out of 2.09s in `QuantumCircuit._bind_parameter` during my profiled session. It even takes more time than the simulation itself (0.13s), which is not acceptable.
In most case

[2020-09-08 15:20] 1ucian0 opened #5043 "qc.qasm() does not create valid QASM when "qreg" or "creg" are register names"
### Information

- **Qiskit Terra version**:  master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

If you set the name of circuit register as `qreg` or `creg` in your QASM, then the parser fails.

### Steps to reproduce the problem

In general, ny name is allow for registers
[code]
[code]
However, the parse seems not supporting `qreg` or `creg` as name

[2020-09-08 15:37] levbishop opened #5045 "Warning for deprecated makefile targets?"
Following from #4942 #4939 :

Since `make test` is deprecated and not everyone checks CONTRIBUTING.MD for updates, perhaps the makefile target should emit a deprecation message? Are there other deprecated targets?

[2020-09-08 15:59] mtreinish opened #5046 "Running transpile synthesis translation method and basis ['r'] doesn't work"
### Information

- **Qiskit Terra version**: 0.20.0
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

When running a transpilation with the `translation_method='synthesis'` raises an error

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

This works

### Suggested solutions

Fix it

[2020-09-08 16:34] #5012 closed

[2020-09-08 16:46] 1ucian0 commented on #4922
This issue was attempted to be fixed by https://github.com/Qiskit/qiskit-terra/pull/3896, but the PR got stalled.

[2020-09-08 20:27] #5025 closed

[2020-09-08 21:14] 1ucian0 commented on #4388
The PR https://github.com/Qiskit/qiskit-terra/pull/4427 was an attempt to address this issue, but got stalled. If you want to work on this, consider updating  #4427 (respecting the authorship) instead of asking from zero.

[2020-09-09 01:16] 1ucian0 commented on #5045
Is `make test` deprecated?

[2020-09-09 08:21] mlarocca commented on #5043
Can I help with this one?

[2020-09-09 12:36] levbishop commented on #5045
Actually 'deprecated' is too strong a term since we don't have plans to remove it as far as I know, but if tox is the preferred route for testing (for the reasons explained in CONTRIBUTING) we could emit a message to that effect. (I don't have a very strong opinion about it in case people think it's not a good idea)