[2022-07-12 13:39] mtreinish opened #8329 "Backend specific transpiler stages"
### What should we add?

Now that we have the `StagedPassManager` class this gives us flexibility in how we can compose and hook into the transpilation pipeline at specific points. The first piece of this is transpiler stage plugins which is being done in #8305 the other piece which is needed is a way for backends to add additional backend specific passes to the compilation pipeline. The idea bein

[2022-07-12 17:11] #8063 closed

[2022-07-12 18:09] aprew commented on #5098
Will do thank you! :)

[2022-07-12 18:35] zuxfoucault opened #8332 "HHL results mismatch with the runtime and textbook"
![image](https://user-images.githubusercontent.com/3050531/178568848-0f02280b-182a-4d6a-8f9d-b9257486cdad.png)
This is a snapshot from the textbook.

![image](https://user-images.githubusercontent.com/3050531/178568952-23e7bcbb-77bf-4d00-8329-90934b148d08.png)
This is from runtime.

The same code shows different circuit in the textbook and execution time. Not sure what’s wrong with this? https://l

[2022-07-13 08:45] dariomaio opened #8334 "HHL solver example: running errors"
### Environment

- **Qiskit Terra version**:  0.20.1
- **Python version**:  3.7
- **Operating system**: Windows 10

### What is happening?

1) full naive solution vector: [1.14135909 0.32179095]
   full tridi solution vector: [-1.17282534 -0.17530181]
   classical state: [1.125 0.375]

 So the statement "It should not come as a surprise that naive_hhl_solution is exact because all the default meth

[2022-07-13 12:23] alexanderivrii commented on #8294
After a brief discussion with @ShellyGarion: even though the current PR only optimizes entanglement="full" with CX-gates, there could be more optimization opportunities considering the variety of different entanglement strategies ("full", "linear", "circular", "sca", "pairwise") and different entanglement layers: https://github.com/Qiskit/qiskit-terra/blob/81abc384e4d9a655775e9b794227dab35a3042d4/

[2022-07-13 15:00] Cryoris commented on #8294
Yeah a new option sounds good! In the end I still think it would probably still be more elegant to have a transpiler pass do all this work, but if it is more efficient this way then I'm good 👍🏻

[2022-07-13 17:37] nonhermitian opened #8337 "HHL example code fails when statevector simulator is explicitly passed"
### Environment

- **Qiskit Terra version**:  latest
- **Python version**:
- **Operating system**:

### What is happening?

The example code for HHL from the docs

[code]

 works if a backend (`quantum_instance`) is not passed to`HHL()`.  It says explicitly that a statevector simulation is done in this case:

                done.

However if one passes a statevector simulator `sim = Aer.get_backe

[2022-07-13 17:39] levbishop opened #8338 "test issue - ignore"
testing integrations

[2022-07-13 17:41] #8338 closed

[2022-07-13 18:18] #7097 closed

[2022-07-13 22:36] chriseclectic commented on #7993
I have a version of this working now with equivalence library, which requires a single-qubit Pauli gate that you use to register different decompositions, and then an n-qubit gate with a definition in terms of the single-qubit pauli gates, that works with symbolic gates going through transpiler optimizations, and non-symbolic gates going to regular Pauli gates for stabilizer simulation. I'm not pl

[2022-07-14 07:53] dlasecki opened #8342 "Implement quantum time evolution via Taylor expansion (classically) in Evolvers Framework"
It will serve as one of reference algorithms for quantum time evolution algorithms.

[2022-07-14 07:55] ShellyGarion commented on #8294
I think that we need to decide on the API first (before making too many changes in the documentation, tests etc.).

Note that if we add a new parameter, say `optimized_synthesis`, to the `NLocal` class then we have to add it to all the classes that inherit from `NLocal` and may use this parameter: `TwoLocal, RealAmplitudes, EfficientSU2` etc.

Currently, I don't see immediate optimizations in othe

[2022-07-14 09:43] ShellyGarion commented on #8290
I think that we do not have such an encoding in the circuit library yet.
However, you can encode your data (after normalizing it) as a quantum state using the [StatePreparation](https://qiskit.org/documentation/stubs/qiskit.circuit.library.StatePreparation.html#qiskit.circuit.library.StatePreparation) class.
See this code for example:

[code]

[2022-07-14 20:32] mtreinish commented on #5936
So this is no longer relevant.The faulty qubit functionality isn't part of the `BackendV2` interface and providers will need to do any faulty qubit filtering themselves. But also more of the transpiler is noise aware now (vf2 layout passes, dense layout passes, etc) so we can't avoid loading the backend properties. Especially with `BackendV2`/`Target` this is all integrated into what we pass to th

[2022-07-14 20:32] #5936 closed

[2022-07-14 22:09] israelferrazaraujo commented on #3647
Hi @ajavadia.
The open-source library qclib (https://github.com/qclib/qclib) has a state preparation (called _Low-Rank Quantum State Preparation_ or LRSP) that is sensitive to the degree of state entanglement, so it does not use CNOTs for the initialization of a product state.

[code]
![lowrank](https://user-images.githubusercontent.com/33506768/179094863-b7110663-5edb-4f66-8d5e-146583c0a9d9.png)

[2022-07-15 10:14] BurgerAndreas opened #8356 "PauliTrotterEvolution doesn't work with 'qdrift'"
### Informations

- **Qiskit version**: 0.37.0
- **Python version**: 3.10
- **Operating system**: Mac OS Big Sur 11.6.7

### What is the current behavior?

PauliTrotterEvolution doesn't work with 'qdrift', only with 'trotter' and 'suzuki'

Error message:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

PauliTrotterEvolution should work with qdrift, as stated

[2022-07-15 11:47] Cryoris opened #8347 "Extend `qiskit.algorithms.eval_observables` to allow returning a callable"
### What should we add?

If we want to evaluate a set of expectation values for the same observables and circuits, but with different circuit parameters, we can cache the whole transpilation and basis transformation processes. Qiskit's opflow easily allows this and to leverage this it would be nice if we extended the `eval_observables` to allow returning a callable that takes as input circuit para

[2022-07-15 14:41] SimoneGasperini commented on #8290
Ok thank you @ShellyGarion!
So the [StatePreparation](https://qiskit.org/documentation/stubs/qiskit.circuit.library.StatePreparation.html#qiskit.circuit.library.StatePreparation) class is actually implementing "amplitude encoding", right? I run that circuit by using the _qasm_simulator_ backend and the final measurements on the 3-qubits-system are the following:
![hist](https://user-images.githubu

[2022-07-15 23:44] Firepanda415 opened #8357 "How `CircuitSampler` works when computing the expectation of a `ComposedOp` object consists of `EvolvedOp`s"
## Description of the question
I am trying to compute the expectation $\langle 0^{\otimes n} |e^{iA} H e^{-iB}|0^{\otimes n} \rangle$, where matrix $A$ and $B$ are different, as following.

[code]
The code works fine but I notice that the `CircuitSampler` only cache 1 circuit by checking `sampler._circuit_ops_cache.values()`, which is the circuit for `init_state`
![image](https://user-images.githu

[2022-07-16 17:02] jay-tau commented on #8169
Hello, I'd love to work on this! Can you assign me to it, please? Thank you!

[2022-07-16 17:14] diegoaichele commented on #8169
@jay-tau I think this issue is being resolved in pull #8273

[2022-07-16 17:30] rishacha commented on #8169
Try looking at #8317. That's a follow up

[2022-07-17 02:32] zuxfoucault commented on #8332
For the naive solution, is the circuit should be 4 qubits or 5? Thanks!

[2022-07-17 04:02] zuxfoucault commented on #8332
Update: I actually change the extracting vector index:
"""
naive_full_vector = np.array([naive_sv[16], naive_sv[17] ])
tridi_full_vector = np.array([tridi_sv[16], tridi_sv[17] ])
"""
Now, I can get the exact solution same as classical:
full naive solution vector: [1.125 0.375]
full tridi solution vector: [1.125 0.375]
classical state: [1.125 0.375]

But if I try another example i.e., `matrix = np.

[2022-07-17 08:30] ShellyGarion commented on #8294
I think that the name `"full"` for such an entanglement may be misleading (an explanation for choosing these methods is mentioned here: #8219).

If we print the linear matrix `mat` corresponding to the linear sub-circuit `qc` given above (using `print (np.array(mat, dtype=int))` ) we get the matrix:
[code]
implying that the linear function is given by:
`(x_0,x_1,x_2,x_3,x_4) --> (x_0,x_0 + x_1,x_1

[2022-07-18 00:04] zuxfoucault commented on #8332
Is this where the bug from:
https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/linear_solvers/hhl.py#L384

In [1]: neg_vals
Out[1]: True

In [2]: max(nb + 1, int(np.ceil(np.log2(kappa + 1))))
Out[2]: 2

In [3]: max(nb + 1, int(np.ceil(np.log2(kappa + 1)))) + neg_vals
Out[3]: 3

[2022-07-18 05:23] ajavadia opened #8360 "loading V2 backend is very slow"
### Environment

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is happening?

Something seems broken in V2 backends, in that making a Target out of them takes an extremely long time.

[code]

### How can we reproduce the issue?

code above

### What should happen?

Killing this process shows that loading backend defaults (presumably lots of pulse shapes

[2022-07-18 08:27] Cryoris commented on #8294
Yeah it seems these names were chosen by how they visually look like on the circuit, not by their effect. But at the moment I think these names are mostly just an identifier, without any rigour behind them. If you other suggestions I think we can change them 🙂

[2022-07-18 14:51] ajavadia commented on #8360
Ok yeah seems similar. I searched for an issue but couldn't find. Feel free to close it if it's being tracked elsewhere.

[2022-07-18 15:57] kevinsung opened #8363 "Specifying gates to decompose fails"
### Environment

- **Qiskit Terra version**: e4e4646f18d6e7d5dae0bc5308bcb5f5c9aa206d
- **Python version**: 3.9.7
- **Operating system**: RHEL 8.6

### What is happening?

See title.

### How can we reproduce the issue?

[code]
Output:
[code]

### What should happen?

The specified gates should be decomposed.

### Any suggestions?

_No response_

[2022-07-19 10:01] Guillermo-Mijares-Vilarino opened #8368 "Gates that can be added with their own QuantumCircuit method don't have a link to it in their Circuit Library pages"
The gates that can be added with their own `QuantumCircuit` method, don't have any link to it in their [Circuit Library](https://qiskit.org/documentation/apidoc/circuit_library.html) page. For example, in the `UGate` [library page](https://qiskit.org/documentation/stubs/qiskit.circuit.library.UGate.html#qiskit.circuit.library.UGate) there is no reference to the `QuantumCircuit.u` [page](https://qi

[2022-07-19 10:27] HuangJunye opened #8369 "UGate: add link from circuit library to QuantumCircuit method"

[2022-07-19 13:15] xlelephant opened #8374 "Draw a circuit with parallel CZ gates, or more general two qubit Gates running simultaneously"
### What should we add?

Maybe we want show a optimized circuit in which the CZ gates run simultaneously.
Below shows two CZ gates that run in parallel, which means they occur at the same time.
![image](https://user-images.githubusercontent.com/50734064/179757569-64a2ea7f-5f97-4937-96ee-55abd04c79ca.png)

But current default draw() function can not display similar case correctly:
![image](https://

[2022-07-19 14:06] jakecminihan opened #8375 "Qiskit version reporting 'None'"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**:  Python 3.10.4 on Jupyter Notebook 6.4.12
- **Operating system**: Ubuntu 22.04 but SSH'ing using Windows 10 Pro

### What is happening?

I've been unable to get latex output from ```qc.draw()``` (apparently pyenclatex isn't installed even though I've explicitly installed it via pip) but when trying to solve that, I've found

[2022-07-19 17:36] #8363 closed

[2022-07-19 18:56] poig opened #8379 "circuit draw in a depth way"
### What should we add?

so I get this idea from optimizing cnot structure, I think it will be good for visualize if we can print with depth layer.
![image](https://qiskit.org/documentation/locale/ja_JP/_images/depth.gif)

[2022-07-20 09:04] Cryoris commented on #8369
It looks like this is included in #8368, so I'll close it -- feel free to reopen if I missed something!

[2022-07-20 09:04] #8369 closed

[2022-07-20 12:42] alexanderivrii commented on #8379
Thanks @poig, the animation looks fantastic. But one clarification: is this PR about computing gate layers or about drawing them?

Please take a look at the `QuantumCircuit.depth()` function which internally computes the level for every gate in the circuit. (Maybe there are other Qiskit functions that do this as well).

[2022-07-20 12:44] poig commented on #8379
The animation is from https://qiskit.org/documentation/apidoc/circuit.html#supplementary-information

[2022-07-20 13:26] poig commented on #8379
That only work in a limited scenario with a small circuit.

[2022-07-20 15:08] israelferrazaraujo commented on #4159
qiskit.exceptions.QiskitError: 'TwoQubitWeylDecomposition: failed to diagonalize M2. Please report this at https://github.com/Qiskit/qiskit-terra/issues/4159. Input: [[(-0.3812064266367201+0.38120642663672005j), (-0.08953682318096808+0.08953682318096806j), (-0.5214184531408846+0.5214184531408846j), (-0.27347323579354943+0.2734732357935494j)], [(0.11105398348218393-0.11105398348218391j), (0.1454302

[2022-07-20 18:59] Cryoris commented on #8357
These are good questions @Firepanda415! First, to their answers:

Yes 🙂

the cache sampler._circuit_ops_cache.values() will contain 4 circuits

This is more a coincidence than the general case, since Qiskit recognizes it can directly replace `exp(-iB)` by a `Ry` gate on the first qubit 🙂

While you wrote down a valid mathematical expression, this is not quite how `qiskit.opflow` behaves. The `Paul

[2022-07-20 19:26] #6682 closed

[2022-07-20 20:40] Firepanda415 commented on #8357
@Cryoris Thanks for your confirmation and detailed answer! Your explanation is exactly what I need and I believe I understand what is going on here.  I will close this issue.

[2022-07-20 20:40] #8357 closed

[2022-07-21 08:38] #8025 closed

[2022-07-21 09:04] JMuff22 opened #8387 "Flipping of gate direction in Transpiler for CZ gate"
### What should we add?

The current version of the transpiler raises the following error when attempting to set the basis gate of a backend as `cz`

` 'Flipping of gate direction is only supported for CX, ECR, and RZX at this time, not cz.' `

As far as I'm aware and through my own testing flipping of a CZ should be easy to implement as it's "flip" produces the same unitary operator. There is no

[2022-07-21 09:12] Cryoris commented on #8153
This is an interesting observation @JoelHBierman!

So the reason the expectation value calculation is so fast in your code, and why it takes the same time for the full Hamiltonian as a single Pauli, I'm pretty sure is that you're using `AerPauliExpectation` and a statevector backend. In this case, Qiskit doesn't need to do any basis transformations but can just compute the Hamiltonian matrix and m

[2022-07-21 11:08] alexanderivrii commented on #8387
@JMuff22, you are correct, CZ is symmetric. Could you please provide a code snippet that results in the above error?

[2022-07-21 11:50] JMuff22 commented on #8387
Here is the code snippet. It is essentially the same as Qiskit Tenerife currently but with the change in the basis_gates.
[code]

This is called for example via

[code]

Also, forgot to mention it is probably important to note that I am **deliberately** running an older version of Qiskit due to vendor software being behind a bit. Hence the use of the now deprecated `from qiskit.test.mock.fake_back

[2022-07-21 12:22] ShellyGarion commented on #8294
We have agreed upon the following API:

- the new method will be called `reverse_linear`

- the previous method will be called `full`

- the documentation will say that for a `TwoLocal` circuit, if `entanglement_blocks='cx'` then `full` and `reverse_linear` actually provide the same circuit

- for `RealAmplitudes` and `EfficientSU2` circuits, where always `entanglement_blocks='cx'`, the default va

[2022-07-21 16:54] jmcelroy01 opened #8542 "QuantumCircuit.draw() invalid cross-device link error on linux"
### Informations

- **Qiskit version**:
qiskit-terra | 0.21.0
qiskit-aer | 0.10.4
qiskit-ibmq-provider | 0.19.2
qiskit | 0.37.0
qiskit-nature | 0.4.1
qiskit-finance | 0.3.3
qiskit-optimization | 0.4.0
qiskit-machine-learning | 0.4.0

- **Python version**:
Python version | 3.10.5
Python compiler | GCC

- **Operating system**:
Linux, OpenSUSE Tumbleweed

### What is the current behavior?

When runni

[2022-07-21 17:47] JoelHBierman commented on #8153
I see, thank you! This sufficiently answers my question. I'll close this issue for now.

[2022-07-21 17:47] #8153 closed

[2022-07-22 07:43] pollyshaw commented on #7078
@nkanazawa1989 Thanks for approving this! Is there anything else I need to do now? I don't seem to have a 'merge' button so perhaps a contributor needs to merge it.

[2022-07-22 10:48] nonhermitian opened #8389 "getting qubit and gate information from backend.properties should have arguments in the same order"
### What should we add?

You can get qubit and gate info from `props = backend.properties()` via

[code]
and
[code]

However the order of the inputs is reversed in these methods.  For gate property it is `name, qubits` where as for qubit property it is `qubit, name`. This is less than ideal, and the interface unified.

[2022-07-22 11:48] Guillermo-Mijares-Vilarino opened #8390 "Add code examples for each gate in Circuit Library"
None of the gates in the [Circuit Library](https://qiskit.org/documentation/apidoc/circuit_library.html) have any code examples that show how to add them to a circuit and that the matrix is the one advertised. I believe adding these examples could help users get a better understanding of how to deal with gates.

For example, for the `XGate` [page](https://qiskit.org/documentation/stubs/qiskit.circ

[2022-07-22 11:57] Cryoris commented on #8390
Personally I think this is fairly obvious since now we have a sentence in each gate documentation that says "this can be added with `QuantumCircuit.some_method`" 😄 However if the circuit library code example that you linked first doesn't show any example, we certainly should add one!

[2022-07-22 12:05] Guillermo-Mijares-Vilarino commented on #8390
However not all gates have specific methods like the `C3XGate`. And there aren't any examples in the method pages either.

[2022-07-22 12:13] Cryoris commented on #8390
How to generally add a gate is explained in the circuit library docs, isn't it? 🙂

![image](https://user-images.githubusercontent.com/5978796/180436310-18df232b-4fdc-4987-97d4-675ed2c8577b.png)

I'm worried the pages are a bit crowded and that's not such an essential information -- hopefully users can rely that Qiskit implements gates correctly (that's what we have the unittests for, right?) 😉 If

[2022-07-22 18:53] dryicecube commented on #8389
Hello @nonhermitian , I was just going through the source code for backendproperties [here](https://qiskit.org/documentation/_modules/qiskit/providers/models/backendproperties.html#BackendProperties.gate_property) and saw that,

`def qubit_property(self, qubit: int, name: str = None) -> Tuple[Any, datetime.datetime]:`
and
`def gate_property(self, gate: str, qubits: Union[int, Iterable[int]] = None

[2022-07-22 19:15] nonhermitian commented on #8389
Look at the order in the signatures.  The first is `int, str` where as the second is `str, union[int, iterable[int]`. That is the issue

[2022-07-22 20:12] nssensalo commented on #7802
@Cryoris, Well I'd love to give it a try. I'm dying to start my first open source contribution. May I be assigned?

If not using array, can the parameters of "assign_parameters" be in a dictionary or boolean format?
Am I going down the right rabbit hole?

This snippiet is from the qiskit docs:

![image](https://user-images.githubusercontent.com/85596471/180519652-3d8fd269-583e-4ca3-b666-b47d5c87e6

[2022-07-23 11:55] Anthony-Gandon commented on #8295
A good point raised by @Cryoris offline is that this could become a standalone method very close to the `eval_observables` of the `aux_ops_estimator`. This way it would also be usable for VQD.
I also wanted to add that this feature is also currently under work for the excited-state solvers in qiskit-nature.

[2022-07-23 20:40] akshayp2003 commented on #6994
Hi @1ucian0  I would like to work on this issue. Can you please assign it to me?

[2022-07-23 20:54] 1ucian0 commented on #6994
Sure! Assigned!

[2022-07-23 22:59] israelferrazaraujo commented on #4159
QiskitError: 'TwoQubitWeylDecomposition: failed to diagonalize M2. Please report this at https://github.com/Qiskit/qiskit-terra/issues/4159. Input: [[(0.4402772595428174+0.16674564937013872j), (-0.5138795577094725-0.48318958124789j), (-0.3740257577372414+0.35464062885690584j), (0.02721088754228169+0.1200074014368489j)], [(-0.4552626070355557-0.11993387965705486j), (-0.6002049158068373-0.3705380281

[2022-07-24 06:51] rajaschari commented on #8317
Hey, can I try working on this? Looks like issue still persists.

[2022-07-25 07:59] Cryoris commented on #7802
Hi @nssensalo, of course you can work on this, I'll assign you 🙂

For opflow we don't allow `inplace` right now, so the input to `assign_parameters` would only be one argument that is either a dictionary of parameter values (like right now) or an array of values (this would be new!).

[2022-07-25 15:12] #8283 closed

[2022-07-26 12:34] Guillermo-Mijares-Vilarino opened #8401 "Docstring from __init__ method is placed just after class method docstring in Circuit Library and looks strange."
For all classes in the [Circuit Library](https://qiskit.org/documentation/apidoc/circuit_library.html) the docstring from the `__init__` method is placed just after the `Class` one but they don't always mesh well together.

For example in the [XGate page](https://qiskit.org/documentation/stubs/qiskit.circuit.library.XGate.html#qiskit.circuit.library.XGate) you are given a full explanation of the g

[2022-07-26 13:19] Cryoris commented on #8401
Agreed this looks weird. In many places we already omit this first sentence in the docstring of the initializer to avoid this setting you show here.

[2022-07-26 15:15] Yelissal opened #8402 "Duplicate Declaration"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

The qasm generated has multiple gates named the same thing. The parser can't handle because it doesn't know which one is valid.

### How can we reproduce the issue?

[code]

"Running this will give you the error"
QuantumCircuit.from_qasm_file("qpe.qasm")

### What should happen?

The

[2022-07-26 16:46] nkanazawa1989 commented on #7078
I'll merge if other people are happy with the changes. @wshanks @taalexander ?

[2022-07-27 01:57] #7078 closed

[2022-07-27 02:01] nkanazawa1989 commented on #7078
congrats @pollyshaw ! Thanks for your contribution :)

[2022-07-27 16:54] tjstavenger-pnnl opened #8408 "QuantumCircuit.initialize() no longer accepts single instance of Qubit"
### Environment

Used to work in Qiskit v0.34.2, tested to not work in v0.37. Appears to have been broken by commit https://github.com/Qiskit/qiskit-terra/commit/3591fa635db75e3d7f1afea19359acb2fb3a6740

### What is happening?

We used to be able to `circuit.initialize([0,1], qr[0])` but now that raises an error `TypeError: 'Qubit' object is not iterable`

Changing to `circuit.initialize([0,1], [q

[2022-07-27 17:52] rajaschari commented on #8317
Hey @rishacha @1ucian0 ,

Is this issue still open? I'd like to try my hand at it.

[2022-07-27 21:39] rishacha commented on #8317
@rajaschari - I'm waiting for a response from @1ucian0. Can you try pinging him on Slack?

[2022-07-28 12:08] jmcelroy01 opened #8413 "plot_state_city axis labels outside figure boundaries"
### Environment

- **Qiskit Terra version**: 0.21.0

Qiskit Software | Version
-- | --
qiskit-terra | 0.21.0
qiskit-aer | 0.10.4
qiskit-ibmq-provider | 0.19.2
qiskit | 0.37.0
qiskit-nature | 0.4.1
qiskit-finance | 0.3.3
qiskit-optimization | 0.4.0
qiskit-machine-learning | 0.4.0

- **Python version**:

Python version | 3.10.5
Python compiler | GCC

- **Operating system**:

Linux, OpenSUSE Tumblewe

[2022-07-28 15:40] tjstavenger-pnnl opened #8417 "ParameterExpression.is_real() inconsistent between Linux/MacOS and Windows"
### Environment

- **Qiskit version**: v0.34.2
- **Python version**: v3.8.7 (Windows), v3.8.10 (Ubuntu)
- **Operating system**: Windows 10, Ubuntu 20.04

### What is happening?

ParameterExpression.is_real() reports inconsistent results between Windows and Linux/MacOS for the same code values.

We're developing custom gates (not included in this bug report) that use some float and some complex par

[2022-07-28 21:37] #8313 closed

[2022-07-29 11:34] 1ucian0 commented on #8317
Assigning to both, as it probably will require more than one PR. Thanks!

[2022-07-29 13:46] wshanks opened #8422 ""acquire" misspelled in `Target` class"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

The `acquire_alignment` configuration from the backend is being stored in the `aquire_alignment` property of `Target`

### How can we reproduce the issue?

Since this is just a misspelling, there is nothing to reproduce.

### What should happen?

`aquire_alignment` should be renamed

[2022-07-29 20:43] enavarro51 opened #8424 "SciPy update causing CI error"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

A recent SciPy update is causing this error in CI
[code]
and 13 other similar failures.

### How can we reproduce the issue?

Run CI Test suite.

### What should happen?

No errors.

### Any suggestions?

Update opflow code for ScyPy changes or suppress deprecation warning.

[2022-07-29 21:06] akshayp2003 commented on #6994
I tried the way suggested by @jakelishman and found that the issue gets resolved if we do this:
[code]
I have done typecasting on parts (numpy int) and created iparts (python int) so that the condition_int value is in int. This ensures that condition_int has no upper limit like Numpy int.

We can see that for num_qubits > 63 (80 in my case) we get no error and the issue is fixed

![image](https://

[2022-07-30 14:49] subrahmanyam-77 commented on #8379
@poig so do you want to draw a barrier of sorts when a layer ends or do you want all the gates to be printed on top of each other?

[2022-07-30 14:56] poig commented on #8379
I think it will be good if can make it optional.

[2022-07-31 16:21] #8424 closed

[2022-07-31 16:45] subrahmanyam-77 commented on #8379
I like to work on this issue, I can implement the functionality of printing a barrier at the end of each layer, please assign it to me. Any suggestions on how to proceed is also appreciated.

[2022-07-31 17:18] poig commented on #8379
that's an easy method, but when it comes to a huge number of qubits will be messy. it is also good to add labels to the barrier, like QuantumCircuit.control().

[2022-07-31 18:14] poig opened #8428 "adding label to barrier"
### What should we add?

the idea is from #8379
it maybe should look something like this:
[code]

[2022-08-01 03:42] ajavadia opened #8429 "collect_2q_runs ignores non-Gates"
The DAGCircuit.collect_2q_runs() method only collects nodes that are of type `Gate`.
https://github.com/Qiskit/qiskit-terra/blob/f65f08848fda5b301c83f4148dd2be4e8bd13eff/qiskit/dagcircuit/dagcircuit.py#L1672

I think this does not generally apply to things like a subcircuit which is attached with `circuit.append(subcircuit)` or other higher order operations which we do not represent as Gate, such

[2022-08-01 08:38] AbhirMehrotra commented on #7802
@Cryoris Hello, my friend and I wanted to work on this issue if it is still open. This is our first project but we are interested and are happy to work on it.

[2022-08-01 08:38] GaneshH0571 commented on #7802
@Cryoris Hello, my friend and I would like to work on this issue, This is our first project but we are interested and happy to work on it

[2022-08-01 14:59] javabster commented on #5472
@rickyzcode sorry for the slow response, I've assigned to you now 😄

Let us know if you have any questions, and if you're new to open source I recommend taking a look at the following resources as well:
- [Contributing Guidelines](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md)
- [GitHub / CI tips for Qiskit Contributors](https://www.youtube.com/watch?v=-eLeOeF_-5o)

[2022-08-01 15:09] javabster commented on #7883
hey @Eriken79 thanks for jumping on this, I've assigned to you!

As for the preferred implementation, Jake is on leave at the moment, perhaps @mtreinish could weigh in?

[2022-08-01 15:19] javabster commented on #7802
hi @GaneshH0571 @AbhirMehrotra this issue has already been assigned to @nssensalo, there are many other open good first issues that haven't been assigned yet if you would like to take a look at those!

for @nssensalo if you're new to open source and contributing to qiskit I recommend taking a look at these resources:
- [Contributing Guidelines](https://github.com/Qiskit/qiskit-terra/blob/main/CONT

[2022-08-01 16:52] HuangJunye commented on #8274
The "Contributing to Documentation" section was removed in https://qiskit.org/documentation/contributing_to_qiskit.html#contributing-to-documentation I would like to suggest to add it back and improve it with clearer instructions on installing the dependencies.

[2022-08-02 03:04] ewinston opened #8433 "ControlFlow context manager places "composed" elements outside scope"
### Environment

- **Qiskit Terra version**: 0.21.0rc1-45
- **Python version**: 3.10
- **Operating system**: Linux

### What is happening?

When using the `compose` method within a ControlFlow context builder the composed element is inserted at the top level scope.

### How can we reproduce the issue?

[code]

yields,

[code]

### What should happen?

The composed circuit should appear inside the

[2022-08-02 11:03] yaelbh opened #8435 "Fail gracefully for large jobs and define constraints on jobs"
### Environment

- **Qiskit Terra version**:  0.21.0
- **Python version**: 3.9.5
- **Operating system**: Linux

### What is happening?

When a job consists of large circuits, job submission can fail.

### How can we reproduce the issue?

Code:
[code]
Output on my machine is:
[code]
[code]

[2022-08-02 13:13] Cryoris opened #8437 "Use `dataclass` for `AlgorithmResult`"
### What should we add?

Now that the Python 3.6 support is dropped we can use `dataclasses` in Qiskit. Since our `AlgorithmResult` was essentially a dictionary replacement we implemented ourselves, should we switch to simply using `dataclass` as an algorithm result?

That would have advantages like
* _much_ less overhead in writing algorithm results since no getters/setters are required (the docs

[2022-08-02 14:58] BramDo commented on #8402
In the function CPhase(angle, exponent) a quantumcircuit is defind with one qubit. If you add a  line with for qc with 4 qubits it will give you the qasm file.

import math
from qiskit import QuantumCircuit, ClassicalRegister, QuantumRegister

**qc = QuantumCircuit(4, name="U")**

def CPhase(angle, exponent):

    qc = QuantumCircuit(1, name=f"U^{exponent}")
    qc.p(angle*exponent, 0)
    phase_g

[2022-08-02 15:10] lironmo commented on #7399
it's seems that i am getting similar error, i am using the following version  (latest):
qiskit==0.37.1
qiskit-aer==0.10.4
qiskit-ibmq-provider==0.19.2
qiskit-terra==0.21.1

i simple create 4 random circuit and add control for all of them:

`
random.seed(102030)
np.random.seed(102030)

def create_circuit_list(num_circuits, circuit_num_qubits, max_depth):
    """Generate random array of circuits of

[2022-08-02 15:48] chriseclectic opened #8438 "`PauliList.evolve` raises exception when evolving certain Clifford circuits."
### Environment

- **Qiskit Terra version**:  0.21.1
- **Python version**: 3.9
- **Operating system**: MacOS 11.6.7

### What is happening?

There is a bug in the `BasePauli/PauliList/Pauli` classes where the phase vector is sometimes set as dtype `uint8` instead of `int64` leading to errors when calling the `evolve` function for circuits containing gates that modify the pauli phase vector.

Wheth

[2022-08-02 15:58] chriseclectic commented on #8438
I suspect the bug might be due to this line in the `_count_y` function: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/quantum_info/operators/symplectic/base_pauli.py#L692

[code]

[2022-08-02 16:07] BramDo commented on #8433
If you just want the decomposed CCX gate 3 times, you can can use a for loop like so:

from qiskit.circuit.library.standard_gates.x import CCXGate
from qiskit import *
qreg = QuantumRegister(3)
creg = ClassicalRegister(3)
circ = QuantumCircuit(qreg, creg)
for i in (range(3)):
    circ.x(qreg)
    circ.compose(CCXGate().definition, inplace=True)
print(circ)

[2022-08-02 16:32] #8294 closed

[2022-08-02 19:27] BramDo commented on #8438
I tried :
if dtype is None:
        dtype = np.int64(x.shape[axis])

No errors with this solution and the result of the print(pauli.evolve) shows ZI. So this is a solution but casting could also create bug in itself. In any cast I will start an PR and run all the tests to be sure.

[2022-08-03 23:41] wyqian1027 opened #8446 "plot_state_hinton axis is misplaced."
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.9.6
- **Operating system**: Windows 11 Pro

### What is happening?

The imaginary plot has a shifted axis label.

### How can we reproduce the issue?

Simply follow its qiskit [tutorial ](https://qiskit.org/documentation/stubs/qiskit.visualization.plot_state_hinton.html)
[code]
### What should happen?

1) The axis should b

[2022-08-04 08:14] HuangJunye commented on #8446
@wyqian1027 Thanks for reporting this issue! Would you like to open a PR to fix this bug? Please let us know if you need any help.

[2022-08-04 08:18] HuangJunye commented on #8422
Thank you for reporting this bug. We are aware of this but we have decided not to correct it because of the overhead of handling the deprecation cycle. https://github.com/Qiskit/qiskit-terra/pull/7734#issuecomment-1059088313

@mtreinish What do you think about this?

[2022-08-04 08:50] wyqian1027 commented on #8446
Thanks. I just did the PR and hopefully it works.

[2022-08-04 09:32] lironmo commented on #7399
@jakelishman this issue seems to be closed but i am using the latest package and get the same error.

do you have a workaround?

[2022-08-04 12:39] akshayp2003 commented on #6994
According to a suggestion by @mtreinish, I included number of qubits in the code so that the code is not hard coded to generate a random integer:
[code]
Here, for any number of qubits this code generates a random number with maximum value of 2**num_qubits - 1. For example, if num_qubits is 70, then the loop runs 4 times generating a random number upto 2^64 and then that number is shifted bitwise b

[2022-08-04 16:17] Cryoris commented on #8417
The root of this might be in symengine, see https://github.com/symengine/symengine.py/issues/414.

[2022-08-04 21:28] levbishop opened #8459 "Use of general eigenvalues solver in weyl_coordinates sometimes throws convergence error"
It looks like the optimizations in #6896 can sometimes cause problems with convergence. @albertzhu01 found several cases that triggered this problem, although there seems to be some environment-dependence that makes it hard to reproduce across machines - the resulting almost-identity-matrix up to 1.E-16 scale deviations can cause error in lapack geev.

Any thoughts @jakelishman ?

---- from qiskit

[2022-08-04 22:10] ryanhill1 opened #8460 "`_state_to_latex_ket` missing prefix kwarg"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.8.13
- **Operating system**: Ubuntu 18.04.6 LTS (Bionic Beaver)

### What is happening?

Statevector draw function with latex output raises error for kets when passed prefix kwarg

### How can we reproduce the issue?

Run cell 3 of the "Purse States" section of [The Density Matrix and Mixed States](https://learn.qiskit.org

[2022-08-04 22:20] ryanhill1 commented on #8460
Prompted by [QCSE question](https://quantumcomputing.stackexchange.com/questions/27611/jupyter-notebook-not-rendering-latex-code)

[2022-08-04 22:50] #8417 closed

[2022-08-05 05:04] jlapeyre commented on #8459
A crude hack is: trap the exception and check if the code returned (`info`) satisfies `info>0`. If so, add normally distributed random numbers with standard deviation `1e-20` to the matrix and try to compute the eigenvalues again. That hack works in this case.

It could be that it's not just that the matrix is almost the identity. The degeneracy in the eigenvalues, or the diagonal, is necessary to

[2022-08-05 15:00] levbishop commented on #8459
The changes in #6896 were intended to avoid the random algorithm in `TwoQubitWeylDecomposition`, which after a lot of battle-hardening seems finally 🤞 immune to such pathologies. I guess rather than trapping the error and  ad-hoc randomizing, I'd rather trap the error and fall back to the `TwoQubitWeylDecomposition` alogorithm. Although having two paths like this worries me, and if the general eig

[2022-08-05 15:09] nonhermitian opened #8465 "There should be an easy way to compute expectation values for operators"
### What should we add?

Currently there is no way good way to compute expectation values in Qiskit.  The `StateVector` and `DensityMatrix` objects in `quantum_info` have `expectation_value` methods, but there is no general way to do this.

In general expectation values are defined with respect to the operator in question and not the state.  To quote Sakurai:

So it makes sense to have the operato

[2022-08-05 15:09] nonhermitian commented on #7822
Closing in favor of #8465 8465

[2022-08-05 15:09] #7822 closed

[2022-08-05 15:45] wyqian1027 commented on #8465
In my opinion, the opflow module is quite useful. You define your operator and then sampler of any QuantumInstance (statevector, QASM, noise, etc), then you get your measurement results.

[2022-08-05 19:23] epelaaez commented on #8408
I've created a pull request that fixes this issue, please let me know if this works and if something else should be done.

[2022-08-05 20:27] jlapeyre commented on #8459
I think the use of randomization is quite different. And pretty small in terms of code and complexity. But, I understand that introducing another piece of randomness might result in a series of tweaks as failing cases trickle in under general use.

If there are understandable characteristics of offending matrices, we could make some kind of test suite in order to be more confident (if not perfectl

[2022-08-05 22:29] jlapeyre commented on #8459
Apropos environment-specific features: The example above succeeds when using MKL (on my machine). I'm not 100% sure because I used Julia (I didnt look up yet how to use mkl with scipy.linalg).  But, it looks like python and julia are calling the same lapack routines. Furthermore, with openblas, Julia fails with the same error as numpy.

[2022-08-06 16:16] neelmodi14 commented on #4159
QiskitError: 'TwoQubitWeylDecomposition: failed to diagonalize M2. Please report this at https://github.com/Qiskit/qiskit-terra/issues/4159. Input: [[(0.6666666666573151-1.231488602740744e-18j), (0.33333333332865756+0.33333333332865756j), (0.5659164583920617-1.0453795029345096e-18j), (-0.08084520834886597-0.08084520834886597j)], [(0.33333333332865756-0.33333333332865756j), (-0.33333333332865756+6.

[2022-08-07 04:25] jlapeyre commented on #8465
It's certainly true that referring to the expectation value of an observable (often without reference to the state) is common. But, I don't agree that it's the only useful way to discuss the average value of the measurement of a particular observable on a system in a particular state.

In their book, Nielsen and Chuang do not use the term *expectation value*. They use "average" or "expected value"

[2022-08-07 10:30] nonhermitian commented on #8465
@jlapeyre  Hmm, I think expectation value and average mean the same thing here.  I guess your advocating for less physics orientated terminology?  Even the Mike and Ike quote above does talk about the "average value" as corresponding to the operators and not of the states.  This is to be expected as the operator is the thing that tells you what you are measuring (assuming a Hermitian operator) and

[2022-08-07 22:37] jlapeyre commented on #8465
@nonhermitian, I suppose I do favor the less physics-y terminology for QI and QC. Sakurai and other texts of that period made a conscious break with earlier presentations, such as omitting a long section on the development of QM. I think Mike and Ike did a good job of adapting the presentation of the material to a new context. But, I'm not advocating purifying the Qiskit documentation to use only

[2022-08-07 23:27] wyqian1027 commented on #8465
@jlapeyre I think I understand what you mean now and this is also what I prefer to think, expectation as a method that works together with state and operator. In practice, I usually go by using CircuitSampler to convert an expectation operator to expectation values, where the expectation operator is built by composing the initial state and the ansatz. So, in a way, the workflow is similar to what

[2022-08-08 02:36] epelaaez commented on #8328
If no one has taken this, I'd love to work on this.

I've already created a [small demo](https://github.com/epelaaez/QuantumLibrary/blob/master/papers/Alternating%20Layered%20Ansatz.ipynb) of these two ansatzes (Alternating Layered Ansatz and Tensor Product Ansatz), which basically produces circuits that look as follows:

**Alternating layered ansatz**
<img width="596" alt="Screen Shot 2022-08-07

[2022-08-08 04:36] Yucheng-He opened #8468 "Circuit contains invalid instructions {"gates": {sx}} for "extended_stabilizer" method"
### Environment

- **Qiskit Terra version**: 0.21.1
- **Python version**:  3.8.11
- **Operating system**: MacOS m1

### What is happening?

When Running Clifford circuit, use extended_stabilizer.
Simulation failed and returned the following error message:
ERROR:  [Experiment 0] Circuit contains invalid instructions {"gates": {sx}} for "extended_stabilizer" method.

When I try to place a barrier be

[2022-08-08 08:15] JMuff22 commented on #8387
Any update on this?

[2022-08-08 08:27] dlasecki opened #8469 "Rewrite algorithms with primitives."
The goal of this epic is to rewrite code in Qiskit Terra Algorithms using primitives - Sampler and Estimator.

[2022-08-08 08:51] dlasecki opened #8470 "Rewrite Minimum Eigensolvers with primitives."

[2022-08-08 08:52] dlasecki opened #8471 "Rewrite VQE with primitives."

[2022-08-08 08:52] dlasecki opened #8472 "Rewrite QAOA with primitives."

[2022-08-08 08:52] dlasecki opened #8473 "Rewrite AdaptVQE with primitives."

[2022-08-08 08:53] dlasecki opened #8474 "Rewrite Phase Estimators with primitives."

[2022-08-08 08:53] dlasecki opened #8475 "Rewrite Quantum Phase Estimator with primitives."

[2022-08-08 08:53] dlasecki opened #8476 "Rewrite Hamiltonian Quantum Phase Estimator with primitives."

[2022-08-08 08:54] dlasecki opened #8477 "Rewrite Iterative Quantum Phase Estimator with primitives."

[2022-08-08 08:54] dlasecki opened #8478 "Rewrite Amplitude Estimators with primitives."

[2022-08-08 08:55] dlasecki opened #8479 "Rewrite Quantum Amplitude Estimator with primitives."

[2022-08-08 08:55] dlasecki opened #8480 "Rewrite Maximum Likelihood Amplitude Estimator with primitives."

[2022-08-08 08:56] dlasecki opened #8481 "Rewrite Iterative Quantum Amplitude Estimator with primitives."

[2022-08-08 08:57] dlasecki opened #8482 "Rewrite Faster Amplitude Estimator with primitives."

[2022-08-08 08:57] dlasecki opened #8483 "Rewrite Evolvers with primitives."

[2022-08-08 08:58] dlasecki opened #8484 "Rewrite TrotterQRTE with primitives."

[2022-08-08 08:58] dlasecki opened #8485 "Rewrite VarQTE with primitives."

[2022-08-08 08:58] dlasecki opened #8486 "Rewrite QN-SPSA with primitives."

[2022-08-08 09:00] dlasecki opened #8487 "Rewrite Amplitude Amplifiers with primitives."

[2022-08-08 09:00] dlasecki opened #8488 "Rewrite Grover with primitives."

[2022-08-08 09:02] dlasecki opened #8489 "Rewrite PVQD with primitives."

[2022-08-08 11:30] ShellyGarion commented on #8468
I have checked your code without the barrier and it seems to work.
Here is the printout of the transpiled circuit `tc`:
![image](https://user-images.githubusercontent.com/46566946/183408069-345d8829-4912-457c-8728-4021e2f7c3d7.png)
Perhaps you should upgrade `qiskit-aer`?

[2022-08-08 11:31] ShellyGarion commented on #8468
BTW, for running Clifford circuits you can use the `stabilizer` simulator, and don't need to use the `extended_stabilizer` simulator.

[2022-08-08 11:42] alexanderivrii commented on #8387
@JMuff22, seems that no one picked up on this. Sure, modifying the code in `gate_direction.py` would work.

Alternatively, there was some earlier discussion in https://github.com/Qiskit/qiskit-terra/pull/7875#pullrequestreview-936996092 to annotate a gate type or instance as being "qarg_symmetric", which seems like a more general solution.

@1ucian0, @ajavadia, @kdk, what do you think is the best

[2022-08-08 11:58] JMuff22 commented on #8387
I could submit a PR myself, something like:

[code]
And

[code]

I am not that well versed is Qiskit's own style guide or even sure if the code above is too complicated to resolve the issue. Maybe just a flag before the `else` statement in `gate_direction.py` to catch symmetric gates and pass them along?

[2022-08-08 12:38] dlasecki commented on #8471
- Separate classes EstimatorVQE/SamplerVQE or estimator/sampler in one class? Prepare design options.

[2022-08-08 12:54] dlasecki opened #8490 "Implement gradient algorithms with primitives."

[2022-08-08 12:54] dlasecki commented on #8475
- Just using Sampler for 1 circuit.
- Applications do not depend on it.
- Lower priority.

[2022-08-08 12:56] dlasecki commented on #8479
- Used in examples in Finance.

[2022-08-08 12:59] dlasecki commented on #8486
- Moving to Evolvers.

[2022-08-08 13:06] dlasecki commented on #8488
- Need to update circuits.

[2022-08-08 13:08] dlasecki opened #8491 "Rewrite Eigensolvers with primitives."

[2022-08-08 13:09] dlasecki opened #8492 "Rewrite Variational Quantum Deflation with primitives."

[2022-08-08 13:10] a-matsuo commented on #8488
I can take of this issue.

[2022-08-08 13:12] a-matsuo commented on #8490
I can take care of this issue.

[2022-08-08 13:13] dlasecki opened #8493 "Implement fidelity algorithms with primitives."

[2022-08-08 13:13] adekusar-drl commented on #8493
Assign to me

[2022-08-08 13:25] dlasecki opened #8494 "Rewrite SPSA gradient with primitives."

[2022-08-08 13:25] dlasecki opened #8495 "Rewrite efficient classical gradients with primitives."

[2022-08-08 13:26] dlasecki opened #8496 "Rewrite Finite Difference/Parameter Shift/Linear Comb. of Unitaries gradients with primitives."

[2022-08-08 13:28] a-matsuo commented on #8496
I can take care of this issue.

[2022-08-08 13:59] nonhermitian commented on #8465
I do not think the operator and the state are on the same footing exactly.  Namely it is the operator that determines much of the physical properties of the expectation value.  The most obvious of course is the Hermitian structure, or lack thereof, determines whether the expectation value corresponds to a physical observable or not.  The state has no such bearing on that.

From a programmatic view

[2022-08-08 14:00] nonhermitian commented on #8465
I am also not a big fan of the `expectation(op, state)` way of doing things as it is a very Matlab way of doing things and does not leverage the OO nature of Python.

[2022-08-08 14:22] jsmallz333 commented on #8297
This may be akin to issue #7847 wherein the serializer has an issue with a non-standard gate. Fixing this would require specifying the StatePreparation() here:

https://github.com/Qiskit/qiskit-terra/blob/2bab09c1aae84e5bf38ba52fa3a272667c1887cc/qiskit/qpy/binary_io/circuits.py#L272

[2022-08-08 14:30] ikkoham commented on #8465
I believe that Estimator in Primitives provides the unified interface. But we can have another approach for quantum_info.

First, Operator class cannot have `expval` methods because it introduces cyclic dependency. (Many deprecations of methods in states are necessary...)
States and observables are the **dual** concept. There are no priority. so I vote `expectation` function John proposed.
(Either

[2022-08-08 19:17] yurivict opened #8498 "No test requirements are listed in setup.py"
### Environment

- **Qiskit Terra version**: 2bab09c1a
- **Python version**: 3,9
- **Operating system**:  FreeBSD 13.1

For example, ```ddt``` is required by tests but isn't listed.

### What is happening?

[code]

### How can we reproduce the issue?

n/a

### What should happen?

n/a

### Any suggestions?

Add test requirements.

[2022-08-08 19:22] Cryoris commented on #8498
We split the package requirements in what you need to run Qiskit as "user" and as "developer". If you only want to use Qiskit but don't need to change anything or don't want to contribute, the `requirements.txt` lists all the requirements. Once you start to develop code you'll need some extra packages and have to install `requirements-dev.txt`. Since we assume you only run tests as developer, thes

[2022-08-08 19:25] yurivict commented on #8498
But most of items in requirements-dev.txt aren't required for tests.
I need to list test dependencies as TEST_DEPENDS in the port and it wouldn't make sense to list packages not needed for tests. pip isn't involved.

[2022-08-08 19:29] yurivict opened #8500 "Tests fail to find qiskit._accelerate when run through PyTest"
### Environment

- **Qiskit Terra version**: 2bab09c1a
- **Python version**: 3.9
- **Operating system**: FreeBSD 13.1

### What is happening?

[code]

### How can we reproduce the issue?

Run through PyTest.

### What should happen?

n/a

### Any suggestions?

Same test .py files run fine separately.

[2022-08-08 20:14] Cryoris commented on #8498
Yes that's right, the `requirements-dev.txt` also contains required packages for the other checks like pylint or black, the docs build, and all the packages for optional tests (if I forgot something @mtreinish certainly knows all of them). I don't think we currently have a file that lists the requirements solely to run the tests 🤔

[2022-08-08 21:10] mtreinish commented on #8498
Right, the development requirements including test requirements are part of the `requirements-dev.txt`. These are for anything a developer would need to locally install on top of what qiskit itself requires for doing any development activity. We have no need to separate out a list of specific dependencies which are required solely for running unit tests. The extra requirements in that on top of te

[2022-08-08 21:10] #8498 closed

[2022-08-09 00:18] ikkoham commented on #8465
I thought the purpose was to calculate the expectation value in this issue (but I found it was wrong...). Also, in discussion there are two types of expectation values. (we are confusing.) One is the quantum expectation $<\psi |A \psi>$ that John and I are talking about, and the other is the Z-diagonal expectation (in a sense, the classical expectation) that is calculated from the probability dist

[2022-08-09 00:22] ikkoham commented on #8465
We are considering adding a `DiagonalOperator` class to quantum_info for the next release. For classical expectation, I think it is sufficient to support `SparsePauliOp` and `DiagonalOperator`. Other operator classes can be easily converted to them.

[2022-08-09 02:22] jlapeyre commented on #8465
@ikkoham , I'm not sure that @nonhermitian was only concerned with computing expectations of things like `Counts`, although that was emphasized as a pain point. I was reading this as arguing first that the operators are the natural place to put a method for expected value. And an important case is when the state is `Counts`, etc.

I don't see a large distinction between what you call classical and

[2022-08-09 08:14] dlasecki opened #8502 "Deprecate HHL algorithm."
- not used by any application and if we'll ever be able to apply it at scale, it would require a complete re-write
- might be migrated to Qiskit Research

[2022-08-09 08:15] dlasecki opened #8503 "Deprecate Shor's algorithm."
- not used by any application and if we'll ever be able to apply it at scale, it would require a complete re-write
- might be migrated to Qiskit Textbook

[2022-08-09 08:16] dlasecki opened #8504 "Revisit the implementation of the Time Dependent Variational Principle for VarQTE."
- Check if phase fix is necessary.
- Check if imaginary parts are handled correctly.

[2022-08-09 08:27] dlasecki opened #8505 "Rewrite aux_ops_evaluator with primitives."

[2022-08-09 10:10] Guillermo-Mijares-Vilarino opened #8506 "Data parameter from Operator class does not show properly in API reference"
### Environment

- **Qiskit Terra version**: N/A
- **Python version**: N/A
- **Operating system**: N/A

### What is happening?

The part of the `Operator` class [API reference page](https://qiskit.org/documentation/stubs/qiskit.quantum_info.Operator.html) from `qiskit.quantum_info` in which the parameters are listed does not show properly. In particular, where the data argument is supposed to be t

[2022-08-09 12:09] Cryoris commented on #8296
The problem seems to be that the `QFT` circuit, which is called "QFT", already contains a gate called "QFT". So once you call `append` on the circuit, it is again converted to a gate and you end up with a gate called "QFT" that contains a gate called "QFT", which the qasm exporter currently doesn't handle.

Another solution than calling `decompose` would be to avoid wrapping the QFT circuit into a

[2022-08-09 16:58] HuangJunye commented on #8324
The second part of this issue (The size of the square of the elements are not equal for the imaginary plot) will be fixed by https://github.com/Qiskit/qiskit-terra/pull/8447.

I am investigating in the first part of the issue. The hinton plot currently plots the matrix transversely. I am not sure if this is the expected behavior.

[code]

produces

<img width="581" alt="image" src="https://user-im

[2022-08-09 17:25] miamico opened #8507 "Symbolic pulse raise `TypeError`"
### Environment

- **Qiskit Terra version**: 0.21.1
- **Python version**: 3.9.12
- **Operating system**: macOS Monterey 12.4

### What is happening?

When trying to instantiate a `SymbolicPulse` as follows:

[code]

I get the following error:

[code]

### How can we reproduce the issue?

[code]

### What should happen?

A GaussianSquare pulse object should be instantiated

### Any suggestions?

_N

[2022-08-10 02:06] kharazity commented on #4159
Is there any workout for those who have numerical representations of the system? I have real-valued element of SU(4) that fails `TwoQubitWeylDecomposition` and I wonder if it's for similar reasons...
``` Input: [[(-0.6269523815065876+0j), (-0.1993407004790224+0j), (-0.6329122615209094+0j), (-0.4081863209808854+0j)], [(-0.6269523715065877+0j), (-0.4274160410270951+0j), (0.6121486914710139+0j), (0.2

[2022-08-10 06:51] yaelbh opened #8509 "Fake backends ignore errors related to basis gates or number of qubits"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.9.5
- **Operating system**: Linux

### What is happening?

Fake backends' behavior is sometimes different from their corresponding real devices.

Concretely, a device won't run a circuit that contains gates that do not belong to the set of basis gates. The fake backend will run the circuit.

Similarly, the device won't run

[2022-08-10 08:05] dimple12M commented on #8324
The first part of the issue I think its related with the elements displayed on the hinton plot
As seen from the density matrix, the elements of the  real part is displayed as shown :

[code]

![Screenshot 2022-08-10 at 3 55 35 PM](https://user-images.githubusercontent.com/65215560/183846678-31c4ab31-3a20-4423-bce2-5b47ad7106d5.png)

[2022-08-10 08:14] dimple12M commented on #8324
This the second example specific : elements related to real as well as imaginary section.
I think, how are the elements are displaced is confusing . Still will look into it. Maybe we have can small description for the same.

[code]

[2022-08-10 10:59] Cryoris commented on #8328
I think both of these should be easy to construct with the `NLocal` ansatz. Is that also the one that you used in your code @epelaaez? 🙂

[2022-08-10 11:45] ikkoham commented on #8506
Thank you for finding the bug!

[2022-08-10 12:19] adjs commented on #5872
Hi Luciano,

Can I work on this?

[2022-08-10 13:23] jyu00 commented on #8465
`Estimator` was specifically created to return expectation values. If the concern is it doesn't give you the distribution, can't we just add that to the estimator result?

[2022-08-10 13:29] 1ucian0 commented on #5872
Sounds good! @mtreinish should a synthesis interface be used for this?

[2022-08-10 13:36] levbishop commented on #4159
Does applying `closest_unitary(U00)` from https://github.com/Qiskit/qiskit-terra/issues/7120#issuecomment-940768863 solve your problem?

[2022-08-10 16:02] kharazity commented on #4159
Ya, thanks for letting me know! Even though the system is small, it still kind of stinks to have to do an SVD before hand. Could something like this be implemented? https://journals.aps.org/pra/abstract/10.1103/PhysRevA.69.010301

[2022-08-10 18:50] kharazity opened #8515 "DAG circuit error"
### Environment

- **Qiskit Terra version**: 0.21.1
- **Python version**: 3.10.4
- **Operating system**: Ubuntu 22.04 LTS

### What is happening?

I have compiled a circuit from a list of dictionaries of one and two-qubit unitary matrices. Each list corresponds to a "layer", and each element of the layer is either a one or two-qubit unitary. Each one and two qubit unitary are compiled to a gateset

[2022-08-10 18:59] kharazity commented on #8515
Also, it would be really nice, if one could also control how the unitary layers get "black boxed" when printing the circuit diagram. For example, the current output for a 4 layer 4 qubit circuit is:
![b613071f-9d31-4fc2-b5fe-110d654bc92a](https://user-images.githubusercontent.com/38536085/183994995-77d5d8c9-beab-47ac-ad64-ec02f99ac826.png)
 But each one of those 4 qubit layers are built of one and

[2022-08-10 19:01] levbishop commented on #4159
The `TwoQubitBasisDecomposer` is a generalization of that Vidal/Dawson CNOT decomposer (it works any supercontrolled basis  h=(pi/4, b, 0), not only the CNOT-equivalent special case (pi/4, 0, 0) basis). There are other generalizations `TwoQubitControlledUDecomposer` for {(a, 0, 0) for all 0<=a<=pi/4} and `XXDecomposer` for some finite set of {(a_i, 0, 0)}.

All of these need to do the decompositio

[2022-08-10 20:50] jlapeyre opened #8516 "Example in "Overview of Estimator" is missing an import statement"
### Environment

- **Qiskit Terra version**: 0.37.1

Cutting and pasting the example given in "Overview of Estimator" almost works. But, `Estimator` is not imported.
This is the [API doc for Primitives](https://qiskit.org/documentation/apidoc/primitives.html), not in the docstring for the `Estimator` class.

Adding
[code]

to this list

https://github.com/Qiskit/qiskit-terra/blob/c318725d679b0eb3a

[2022-08-10 21:55] alexanderivrii commented on #8515
Hi @kharazity. I have taken a brief look at your code, without really trying to understand what it does.

Each `layer_circ`, created by `layer_circ = build_layer(layer_dict, Nq)`, is a subcircuit with 4 quantum and 4 classical registers. The total circuit `total_circ` is also a quantum circuit with 4 quantum and 4 classical registers. So you want to change the `build_circuit` to something like thi

[2022-08-10 22:11] jlapeyre opened #8517 "Documentation for inputs to an Estimator instance disagree with implementation"
### Environment

- **Qiskit Terra version**:  0.37.1

### What is happening?

The documentation in [BaseEstimator](https://github.com/Qiskit/qiskit-terra/blob/c318725d679b0eb3aa8874fb9755fa0567c5e94b/qiskit/primitives/base_estimator.py#L114) says that when calling an instance four arguments are supplied. The third and fourth are parameters and parameter values.

But the implementation and the exam

[2022-08-10 22:13] alexanderivrii commented on #8515
I also did not understand why you call decompose on layer circuits, especially in view of your second question. Try this:

[code]

[2022-08-10 22:17] alexanderivrii commented on #8515
Hmm, also appending transpiled subcircuits seems strange (as transpilation may change the order of the wires), so you probably also want to call transpile only on the final circuit.

[2022-08-10 22:45] kharazity commented on #8515
Hey @alexanderivrii thanks so much! I'm a bit of a qiskit newbie, these were very helpful suggestions and now the program outputs as desired.

Follow up question, is there any advantage to "local" circuit optimization prior to "global" circuit optimization? I.e. is it worth attempting to perform a qubit order preserving transformation on each layer to simplify the layer before then running a full

[2022-08-11 02:15] jlapeyre commented on #8465
If I understand what's asked for here, I think `Estimator` is probably not the right tool. The documentation and implementation require that the observables be represented by lists of circuits and those circuits are required to have parameters. (They don't really require parameters, but in this case you are required to pass an empty list of values when calling). `Estimator` looks convenient for wr

[2022-08-11 05:43] epelaaez commented on #8328
Hi @Cryoris! Yes, this is easily done with `NLocal`, as I did in #8518. At the moment I've only done the tensor product ansatz, but the other one should follow the same basics.

[2022-08-11 08:51] ShellyGarion opened #8519 "Improve LinearFunction synthesis"
### What should we add?

Improving [LinearFunction](https://qiskit.org/documentation/stubs/qiskit.circuit.library.LinearFunction.html#qiskit.circuit.library.LinearFunction) synthesis.

Currently, it may happen that after the synthesis one gets a circuit with more CX gates than before the synthesis.
Here is an example:

[code]

outputs:
[code]

Here are the suggestions to handle this problem and im

[2022-08-11 09:11] ShellyGarion opened #8520 "Add CCZ and CS gates to the circuit library and CNOTDihedral class"
### What should we add?

The `CCZ` gate is locally equivalent (up to 1-qubit gates) to the [CCXGate](https://qiskit.org/documentation/stubs/qiskit.circuit.library.CCXGate.html#qiskit.circuit.library.CCXGate) (Toffoli gate).

The `CS` gate is locally equivalent (up to 1-qubit gates) to the [CSXGate](https://qiskit.org/documentation/stubs/qiskit.circuit.library.CSXGate.html#qiskit.circuit.library.CS

[2022-08-11 10:29] nonhermitian commented on #8465
I would also say that Qiskit is about more than the Runtime.  Other hardware vendors might not implement the Runtime interfaces, and anyway the base implementations are statevector only.  Thus one still needs the expectation values from counts functionality somewhere if the reference implementations are modified to work with counts.

The `Estimator` could return counts, but then one could ask why

[2022-08-11 11:03] yaelbh opened #8523 "Exception specification for Job.result()"
`Job.result()` is defined as https://github.com/Qiskit/qiskit-terra/blob/19fdd32affd37afb58774f40bcf509b16480fe63/qiskit/providers/job.py#L130-L133

We've noticed that `IBMQJob.result()` raises an exception for jobs that failed when they were executed, whereas `AerJob.result()` does not fail but returns a valid value (https://github.com/Qiskit/qiskit-aer/issues/1567).

In my opinion, types of retu

[2022-08-11 12:19] alexanderivrii commented on #8519
@ShellyGarion , @mtreinish, how would [LinearFunctionsSynthesis](https://qiskit.org/documentation/stubs/qiskit.transpiler.passes.LinearFunctionsSynthesis.html#qiskit.transpiler.passes.LinearFunctionsSynthesis) know if it's supposed to improve gate-count or depth? I might be wrong, but I don't recall seeing the optimization criteria as part of the options to `transpile`.

[2022-08-11 12:55] jyu00 commented on #8465
My point was can't we improve qiskit-terra's implementation of `Estimator` to be the "simple, uniform interface" that we want? Qiskit is about more than Runtime, but the primitive interfaces live in qiskit-terra. And the primitives are advertised as ways to perform foundational tasks such as calculating expectation values. If there is a presumably better method for doing that, then why do we need

[2022-08-11 13:40] alexanderivrii commented on #8515
@kharazity, I don't think there is any advantage doing "local" optimizations first.

[2022-08-11 14:21] nonhermitian commented on #8465
So yeah when improving the `Estimator` your going to end up writing something like `counts.expectation_value` and then the request of this Issue is fulfilled, and others outside of Runtime can use it as well.  But perhaps expanding the Runtime base implementations is the motivation for doing so.

[2022-08-11 16:08] jlapeyre commented on #8465
I don't think so. Not in the sense that I meant. By itself, the phrase I used: "simple, uniform interface" is not precise enough to understand what I meant. Here is a bit more detail...

I was not involved in the design of the primitives. But, looking at `Estimator`, it seems to be a high-level, generic tool for handling complexity in implementing high-level (not just one circuit) algorithms. In p

[2022-08-11 16:48] wshanks opened #8527 "Dealing with `timing_constraints` is awkward with `BackendV2`"
In `BackendV1`, there is a dictionary of settings in `BackendV1.configuration().timing_constraints`. `transpile` accepts a `timing_constraints` option that works with this dictionary. With `BackendV2`, the entries that were in `timing_constraints` are in `BackendV2.target` as attributes. With `BackendV1`, to change a timing constraint, code would get  `BackendV1.configuration().timing_constraints`

[2022-08-11 19:45] jlapeyre commented on #8465
I pushed a [branch implementing (some) methods for expectation_value](https://github.com/jlapeyre/qiskit-terra/blob/MD-expval/qiskit/quantum_info/operations.py) using multiple dispatch.

Following is an example script that calls these methods:
[code]

In addition to aiding in designing a uniform API, the complexity and repetition in the code can be reduced with MD.
As an example the benefit of usi

[2022-08-11 20:48] wshanks commented on #8422
Hmm, #7734 was an immediate switch to the new spelling. In #8423 I provided backwards compatibility. Personally, I am more interested in being able to use the correct spelling than in forcing other users to stop using the incorrect spelling. We could possibly leave the misspelled alias indefinitely. On the other hand, I don't think BackendV2 adoption has spread that much yet, so there is still tim

[2022-08-11 22:32] pat-phattharaporn commented on #8212
After exporting qasm3 using `qiskit.qasm3.dumps(circ)`, I'm wondering how to creating a quantum circuit from that qasm3 back into QuantumCircuit object? Or if it is possible?

[2022-08-12 01:19] nkanazawa1989 commented on #8527
I agree with this. Timing constraints comes from how the hardware microarchitecture controls pulse sequence, thus an end user should not be able to modify. Current code is a temporal hack at the time when we first introduced this mechanism and provider code was not sync with it. Regarding the format, I think provider can tell custom constraints and we don't restrict format. For example, backend ca

[2022-08-12 07:50] alexanderivrii commented on #8515
Since this is not a bug, we can close this issue. @kharazity, please do not hesitate to ask more questions.

[2022-08-12 07:50] #8515 closed

[2022-08-12 11:44] wshanks commented on #8527
Thanks, @nkanazawa1989, I will close this then with the thought that a provider-specific transpile pass is the ultimate solution (and in the short term the user should not need to deal with these settings any more).

[2022-08-12 11:44] #8527 closed

[2022-08-12 12:24] quantumjim opened #8529 "Archiving `job` and `results` objects"
### What should we add?

As mentioned in #6978, it should be possible to serialize `job` and `results` objects. The reasons being:

#### Convenience
An internet connection cannot always be taken for granted. By allowing users to make a local copy of their job (and associated results) they can work on it more conveniently. It is easy to save certain things individually. But when one is stuck withou

[2022-08-12 20:33] mberna opened #8531 "FakeProviderForBackendV2.get_backend raises an error when filtering by name"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.10.4
- **Operating system**: macOS Monterey

### What is happening?

I'm getting a TypeError when trying to get a backend by name using `FakeProviderForBackendV2.get_backend`

`TypeError: 'str' object is not callable`

### How can we reproduce the issue?

Code:
[code]

Output:
`TypeError: 'str' object is not callable`

###

[2022-08-13 22:34] pollyshaw commented on #8086
I have a fix for this which is just to include RZX as an atomic gate in qelib1.inc. Is this a suitable approach?

[2022-08-14 06:50] jlapeyre opened #8535 "Use a more performant algorithm for `StateVector.sample_counts`"
Sampling shot "counts" from `Statevector` (and maybe other classes) should sample directly from the distribution of the number of counts for each index rather than sampling from the distribution of indices and then building a count map.

Currently, to build a count map of `N` samples of measuring the state vector we:
1. Compute the probabilities $p(i) = |c_i|^2$ of each computational basis state f

[2022-08-15 12:07] kevinsung opened #8538 "Preset pass manager fails when passed multiple circuits"
### Environment

- **Qiskit Terra version**: 82c85d859be00659b0ab0214bee89456a9cee195
- **Python version**: 3.9.7
- **Operating system**: RHEL 8.6

### What is happening?

Preset pass manager with optimization level 3 fails when passed multiple circuits.

### How can we reproduce the issue?

[code]
[code]

### What should happen?

It should work.

### Any suggestions?

Passing circuits individuall

[2022-08-15 12:49] jakelishman commented on #8310
The documentation says that the output statevector is the result of applying the instruction or circuit (which is like a list of instructions) to the $\lvert00\dotsc0\rangle$ statevector.  I don't think there's any more information to add here - the terminology used seems clear and is standard quantum-physics terminology.  Evolving a state $\lvert\psi\rangle$ by an operator $\hat A$ produces a new

[2022-08-15 12:49] #8310 closed

[2022-08-15 13:00] jakelishman commented on #8290
This issue seems to have been resolved, as far as I can see?  I'll close it now, but please feel free to re-open, or make a new issue if there's more to discuss.

[2022-08-15 13:00] #8290 closed

[2022-08-15 13:02] jakelishman commented on #8360
Duplicate of #7914.

[2022-08-15 13:02] #8360 closed

[2022-08-15 14:58] jakelishman commented on #8325
`save_statevector` is actually supported, it's just that `statevector_simulator` is a legacy backend that automatically inserts a `save_statevector` instruction at the end of the circuit to be executed.  When you manually add an extra `save_statevector` it duplicates things, and that causes the error.

Erroring out on unsupported instructions / circuits at runtime would be the domain of the backen

[2022-08-15 14:58] #8325 closed

[2022-08-15 15:45] jakelishman commented on #8374
I'm not entirely sure how we'd go about clearly showing these overlapping gates - if we collapsed them down to be like the first example, it'd be impossible to tell what was happening.  That said, your premise is also slightly flawed: without scheduling and routing information, there's not actually any guarantee that the gates you've shown run at the same time on a given hardware backend.

You can

[2022-08-15 15:48] kevinsung opened #8541 "preset pass manager doesn't work with backend from Runtime"
### Environment

- **Qiskit Terra version**: 0.21.1
- **Python version**: 3.9.13
- **Operating system**: Arch Linux

### What is happening?

preset pass manager doesn't work with backend from Runtime

### How can we reproduce the issue?

[code]
[code]

### What should happen?

It should work.

### Any suggestions?

Using a backend from IBMQ, like below, works.
[code]

[2022-08-15 16:07] jakelishman commented on #8542
If possible, could you try a development version of Qiskit Terra and change this line: https://github.com/Qiskit/qiskit-terra/blob/eaf55816470fd64c934b36b7684a02e133dfbc5f/qiskit/visualization/circuit_visualization.py#L491

to

[code]

You're working on a system where the `/tmp` directory is mounted on a different file-system to your working directory, and I don't have easy access to a system like

[2022-08-15 16:51] jakelishman commented on #8429
The same is true here of `collect_1q_runs`.  `collect_1q_runs` didn't originally have the `Gate` logic, but it was added in #5570.  `collect_2q_runs` inherited the whole condition from `Collect2qBlocks` when it was added in #6680.  I believe both of these conditions stem from a desire to re-synthesise gates with matrix definitions, but the functions they're in are given too general names, which is

[2022-08-15 16:56] jakelishman commented on #7883
Hi @Eriken79, sorry for the delay: for simple things like `int`, it's better to directly write `Union[None, int, List[int]]` in the `transpile` docstring, because then a user can quickly read off the type.  The alias form is never really necessary, but if there are any arguments that have really complicated types that would make them difficult to read if they're duplicated, the alias form _could_

[2022-08-15 16:58] dhruvbhq opened #8543 "(Query): Simulating quantum circuit with statevector_simulator does not collapse the state?"
- **Qiskit Terra version**: 0.21.1

Hi, I am trying to measure and simulate a circuit multiple times via `statevector_simulator` backend. I expect the first measurement to collapse the state, and subsequent measurement results should always return the same state. However, I see random outcomes.

- **Code example**: I expect the value of `a_snapshot` to be the same in all three prints. However, exe

[2022-08-15 17:06] mtreinish commented on #8429
I think the easiest solution is probably to just make the filter_fn an optional parameter so that pqsses can specify exactly what kind of operations they want to include in the collected  block

[2022-08-15 17:10] jakelishman commented on #8402
Hi @Yelissal, thanks for the report.  This happens unfortunately because our QASM 2 exporter really can't handle parametrised gates very well (see #7335), and `ControlledGate` (which appears when you use the `.control()` method) has a lot of problems converting itself to OpenQASM code.  Right now, the only real work-around is to use `qiskit.transpile` with a `basis_gates` argument to re-synthesise

[2022-08-15 17:17] jakelishman commented on #8543
This is expected - every time you run the circuit again, it starts from the beginning with a new random seed, so the measurement can collapse the state in different ways.  If you want multiple measurements in your circuit, you need to put them all in place before running the circuit for the first time.

[2022-08-15 17:29] jakelishman commented on #8433
Thanks for the report, Erick.  The issue is that `QuantumCircuit.compose` manipulates `.data` directly, or calls `QuantumCircuit._append` without doing the requisite checks on the control-flow scoping (noted in its docstring).  It certainly needs a fix - I'll have a look when I've finished combing through my backlog.

[2022-08-15 17:49] jakelishman commented on #8438
@chriseclectic: I think the phase vector should always be representable in a `u8` right?  It's only 2 bits of data.  The `_count_y` dtype handling there looks correct for what the function does, so I suspect the more correct solution is to ensure that whatever's calling that is passing `np.uint8` as the dtype when it's going to bind the result to a `uint8` context.  `uint` arithmetic is guaranteed

[2022-08-15 18:25] jakelishman commented on #7399
We don't have a fix yet, sorry, this issue is just closed because it's a duplicate of #4010.  It's not at all ideal, but in your use case, you could either modify your `random_circuit` function so it never produces `IGate` instances, or you could write a wrapper function that looks something like this:
[code]

That just uses the output of `random_circuit`, and throws away any `id` gates in it.

[2022-08-15 18:32] kevinsung opened #8546 "generating preset pass manager for simulators fails"
### Environment

- **Qiskit Terra version**: 0.21.1
- **Python version**: 3.9.13
- **Operating system**: Arch Linux

### What is happening?

generating preset pass manager for ibmq_qasm_simulator fails

### How can we reproduce the issue?

[code]
[code]

### What should happen?

It shouldn't throw an error.

### Any suggestions?

_No response_

[2022-08-15 18:33] lironmo commented on #7399
Thanks for the detailed response!
(Pretty much what I did.)

Side question, it seems that the qiskit implementation of the control is very inefficient with depth increasing exponentially in the number of controls

[2022-08-15 18:42] jlapeyre commented on #8535
TL;DR There is a single numpy function that does what we want.

A discrete distribution defined by density $(p_1, \ldots, p_n)$ is sometimes called a *categorical distribution*. According to wikipedia it is also called a *generalized Bernouli distribution* or *multinoulli* distribution, which I like because they are descriptive.
Poking around online, including [wikipedia](https://en.wikipedia.org/

[2022-08-15 19:33] mtreinish commented on #8541
This is a bug in the generation of the `Backend` object in the ibm runtime provider package. If you look at the stack trace the `generate_preset_pass_manager` is calling the properties of the backend object in the runtime provider. It is trying to access the `T2` of a qubit that's not set for whatever reason. This is causing the ibm runtime provider to fail. This error isn't unique to the `generat

[2022-08-15 20:25] Eriken79 commented on #7883
@jakelishman thank you for the response, sorry I'm a bit confused still. So am I just updating the type hinting or are there also changes I should be making to the docstring?

As far as my current understanding goes, I should be updating the type hints so seed transpiler changes from
`seed_transpiler: Optional[int] = None`
to
`seed_transpiler: Optional[Union[None, int, List[int]]] = None`
and type

[2022-08-15 23:29] richrines1 opened #8549 "qpy changes names of `ControlledGate`s with non-default `ctrl_state`"
### Environment

- **Qiskit Terra version**: 0.22.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 22.04.1

### What is happening?

qpy appends an extra `"_o{ctrl_state}"` to the name of `qiskit.circuit.ControlledGate` instances with non-default values for `ctrl_state` (so after one serialization+deserialization round the `gate.name` becomes `"{name}_o{ctrl_state}_o{ctrl_state}"`, and af

[2022-08-16 00:29] jakelishman commented on #7864
The last five failures (while I was away on leave), numbered from oldest to newest:

1. Some sort of unlucky hang:
[code]
  This was only in Windows on Python 3.10, which is also tested in the PR CI and passed. We might want to keep an eye on that, in case it happens again.

2. Oversubscribed VM.

3. A stochastic failure on the Windows Python 3.7 job:
[code]

4. Strange build/install failures with

[2022-08-16 00:35] mtreinish commented on #7864
1. When that happens it means that the test runner worker process stopped for some reason that python doesn't know about so didn't report a result status to stestr. The normal cause of this is a segfault or a similar class of errors. These can be tricky to debug in CI because we typically need extra debug information like kernel logs or a core dump which we don't typically collect.

[2022-08-16 04:58] kkyusuke opened #8550 "Transpilation failed when a qubit has no gate"
### Environment
* Qiskit Terra version: 0.37.0
* Python version: 3.8.12
* Operating system: Debian 11

### What is happening?
Transpiler generates a wrong circuit when an original circuit has a qubit that has no gate.
Ancilla bit is added, and the number of qubits increases.

### How can we reproduce the issue?
[code]
[code]

[2022-08-16 05:14] kkyusuke commented on #8550
I think the bug is due to VF2 transpiler-pass related to 62670dadcb29dacd52d5a0621e0f7794918be872.

When there are qubits without gates, and there is a missing gap in the placement to the real bits (e.g. 0,3,4 are assigned and 1,2 are not assigned), an ancilla bit will be added on its own.

There seems to be two ways to fix it.
* Fix [transpiler/layout.py: add()](https://github.com/Qiskit/qiskit-t

[2022-08-16 07:45] alexanderivrii commented on #8429
I believe a part of @ajavadia's suggestion is to collect 2q runs taking gate commutation into account, for instance based on `DagDependency` data structure. However, at the moment I don't see how to do this both reliable and efficiently. Suggestions are welcome!

[2022-08-16 07:51] HuangJunye commented on #8531
Thanks for reporting this bug. @mberna Would you like to submit a PR to fix the issue?

This issue is caused by this line

https://github.com/Qiskit/qiskit-terra/blob/f37dcf9d9c879867140b3072483a3dbd36cb5c1f/qiskit/providers/fake_provider/fake_provider.py#L146

`backend.name` is no longer a method for `BackendV2`. Removing the `()` after `backend.name` should fix the issue.

[2022-08-16 08:05] HuangJunye commented on #6346
Based on the discussions above and https://github.com/Qiskit/qiskit-terra/pull/8359#issuecomment-1215727052, it sounds like this is not something we should fix in Terra. Should we close this issue as "Won't fix"? @jakelishman

[2022-08-16 08:20] HuangJunye commented on #6346
Reading a bit more carefully, the suggested solution is to fix the docstrings https://github.com/Qiskit/qiskit-terra/issues/6346#issuecomment-832596935

I think this should apply to `set_*` instruction functions as well. This is an related issue on that: https://github.com/Qiskit/qiskit/issues/1578

[2022-08-16 10:10] jakelishman commented on #6346
We can leave this open to refer to until we're got the documentation fix in Aer, but yeah, this is something that wants fixing there, not in Terra.

[2022-08-16 14:11] kevinsung commented on #8546
Same issue with AerSimulator backend. I think that the code should be able to handle being passed a simulator. Of course optimization is not as important with a simulator, but just having it be handled would be a nice convenience.

[2022-08-16 14:12] jakelishman opened #8553 "Internal transpiler error in `CommutativeCancellation`"
### Environment

- **Qiskit Terra version**: main @ f37dcf9
- **Python version**: 3.9
- **Operating system**: macOS

### What is happening?

Randomised testing has detected a reliable reproducer for transpiler failures in the commutative cancellation pass, showing `TranspilerError("internal error")`.  I imagine it's related to the instruction-level condition, but I don't know entirely.

I bisected

[2022-08-16 14:17] jakelishman commented on #2645
Since my last comment, the first few failures seem to be in `LookaheadSwap` or `NoiseAdaptiveLayout`, but not sure what exactly.  The most recent four are caused by #8184 (see #8553), and the one before those was issues with setuptools 64.

[2022-08-16 14:42] kevinsung commented on #8546
With BasicAer you still get an error, but it's different.
[code]
[code]

[2022-08-16 15:15] kevinsung opened #8554 "Support repeated dynamical decoupling sequences"
### What should we add?

Currently, the PadDynamicalDecoupling pass only supports inserting a single sequence per idle period. Sometimes it's better to add more sequences during longer idle times. @georgezhou20 contributed [an implementation](https://github.com/qiskit-research/qiskit-research/blob/main/qiskit_research/utils/periodic_dynamical_decoupling.py) to the qiskit-research repository, and t

[2022-08-16 16:07] #8408 closed

[2022-08-16 16:26] lironmo opened #8555 "Add conjugate support for QuantumCircuit"
### What should we add?

Is it possible to add the conjugate option for QuantumCircuit?

Relatively simple feature, first implementaion gate conjugate for each gate(some gates are symmetric simpley  inverse), then expose conjugate  through the class of the QuantumCircuit(similar to the inverse)

[2022-08-16 16:32] alexanderivrii commented on #8553
Sorry for breaking this, submitted a fix.

[2022-08-16 17:00] HuangJunye commented on #8422
@wshanks We had a discussion in the Terra meeting and the the consensus was that we can correct the typo. I have assigned myself to review your PR. I will try to review it this week. Thanks!

[2022-08-16 17:03] HuangJunye commented on #6346
We had an offline discussion about this. This issue should be fixed after qiskit-aer [move to its own namespace](https://github.com/Qiskit/qiskit-aer/pull/1526).

[2022-08-16 17:29] jakelishman commented on #8553
No worries, it's not a problem - that's why we have the randomised testing!

[2022-08-16 17:51] #8468 closed

[2022-08-16 18:00] edyounis opened #8558 "Gate declarations using previous declarations cause qasm parsing/writing to fail"
### Environment

- **Qiskit Terra version**:  0.21.1
- **Python version**: 3.10.5
- **Operating system**: Linux

### What is happening?

A qasm file with a gate declaration using a previously defined gate multiple times can lead to the qasm file being incorrectly parsed.

### How can we reproduce the issue?

The following code fails with an error:

[code]

The error:
```qiskit.qasm.exceptions.Qasm

[2022-08-16 18:42] jakelishman commented on #8555
There's been some previous discussion on this here: #7701.  I would say that it's actually quite a bit of work, because all `Instruction` (or at least `Gate`) instances in the circuit library would need to gain `conjugate` methods, which might be tricky for opaque gates.

In the interests of keeping discussion in one place I'll close this as a duplicate, but please feel free to comment on #7701.

[2022-08-16 18:43] jakelishman commented on #8555
Duplicate of #7701

[2022-08-16 18:43] #8555 closed

[2022-08-16 19:39] sebastian-mair commented on #8516
Hi there! Thank you for the detailed description, this is my first contrib. I started off fixing this and updated the class descriptions + example usages to match the non-depricated parts of the code.

[2022-08-16 23:37] jakelishman commented on #8086
For linking purposes, I gave the reason we can't add rzx to `qelib1.inc` here https://github.com/Qiskit/qiskit-terra/pull/8534#pullrequestreview-1074567054.

[2022-08-17 08:22] lironmo commented on #8555
+1

[2022-08-17 09:07] HuangJunye commented on #7965
@Guillermo-Mijares-Vilarino is going to convert one of the tutorial in qiskit-tutorials to a how-to guide in Terra.

[2022-08-17 09:28] HuangJunye opened #8567 "Add common usage explanations and code examples to qiskit.visualization module level API reference page."
### What should we add?

As part of the new Qiskit Documentation content restructuring, we are deprecating [Qiskit Visualizations tutorial](https://qiskit.org/documentation/tutorials/circuits/2_plotting_data_in_qiskit.html) and moving the content to API reference: https://github.com/Qiskit/qiskit/issues/1521

@Guillermo-Mijares-Vilarino have improved the code examples and explanations for a few pl

[2022-08-17 09:36] HuangJunye opened #10653 "Deprecate Qiskit Visualizations tutorial"
As part of the Qiskit Documentation content restructuring efforts, [Qiskit Visualizations tutorial](https://qiskit.org/documentation/tutorials/circuits/2_plotting_data_in_qiskit.html) is moving to the content to API reference and will be deprecated. Related issue: https://github.com/Qiskit/qiskit-tutorials/issues/1436

We should

- [ ] replace the current tutorial notebook with a deprecation warni

[2022-08-17 13:31] jakelishman commented on #8212
We don't have an importer for Qiskit from OpenQASM 3 yet, but it is on our radar as a feature to add.

[2022-08-17 17:49] jakelishman commented on #8549
Thanks for the report - the problem, as with a lot of parts of `ControlledGate`, is that various things are calculated dynamically rather than stored, so QPY was storing the data with the dynamic additions, rather than the base data.  #8571 should hopefully fix your issues.

[2022-08-17 19:40] #8553 closed

[2022-08-17 21:00] epelaaez commented on #8520
Hi! If possible, I'd like to work on this issue :)

[2022-08-18 02:13] jlapeyre opened #8573 "Implement method `one` for multipicative identity for classes representing operators"
### What

I suggest implementing a method `one` meaning multiplicative identity for `Pauli`, `SparsePauliOp`, `Clifford`. Also possibly `SuperOp`. In fact I would add this method to any type that naturally supports the notion of multiplicative identity unless there is a reason not to.

For example
[code]
### Why

This is chance to introduce a useful abstraction that reduces complexity and improves

[2022-08-18 05:07] ShellyGarion commented on #8520
thanks @epelaaez - I've assigned you to this issue :)

[2022-08-18 08:57] HuangJunye opened #8574 "Add how-to guides to Terra"
### What should we add?

As part of the Qiskit documentation content restructuring efforts, we are going add how-to guides to Terra. This issue serves as a discussion thread for the content that needs to be added.

[2022-08-18 08:59] HuangJunye commented on #8574
This is the initial draft. Most of the content will be converted from existing tutorials in qiskit-tutorials repo

- build quantum circuits (section)
    - create a quantum circuits (how-to guide, one file)
        - QuantumCircuit(3,3)
        - QuantumRegister, ClassicalRegister
    - add gates to quantum circuits
    - add operators to quantum circuits
    - composing quantum circuits
        -

[2022-08-18 09:01] HuangJunye commented on #8574
Any comments for existing topics and suggestions for new topics are welcome!

[2022-08-18 09:05] HuangJunye commented on #7965
To add the how-to guide example, we will need to add a how-to guide section in the sidebar.

[2022-08-18 09:49] Anthony-Gandon opened #8575 "Callback function in VQD is defined but never used"
### What should we add?

The Variational Quantum Deflation algorithm has an attribute `self._callback` which is never used in `vqd.solve()`.
Inspired by the code for the VQE algorithm, the callback should be called in the `energy_evaluation()` call.
It also seems interesting that the callback also informs the user of the current step (VQD runs k steps of VQE).

Currently, the test `test_callback`

[2022-08-18 10:08] HuangJunye commented on #8139
@poig Have you submitted additional PR to address `repeat gates_to_decompose` in your to-do list? If so, can we consider this issue to be closed?

[2022-08-18 10:14] poig commented on #8139
haven't started the PR, but I think I will keep the ideas for others or start the PR when I am free.

[2022-08-18 10:15] HuangJunye commented on #5381
@Osmanilge Hey, just want to check in to see if you are still working on this issue. Please let us know if you need help!

[2022-08-18 10:17] HuangJunye commented on #6616
@stoicodin Hey, just want to check in to see if you are still working on this issue. Please let us know if you need any help!

[2022-08-18 10:17] HuangJunye commented on #5711
@ocareyde Hey, just want to check in to see if you are still working on this issue. Please let us know if you need any help!

[2022-08-18 10:18] HuangJunye commented on #3485
@vishalg2235 Hey, just want to check in to see if you are still working on this issue. Please let us know if you need any help!

[2022-08-18 10:18] HuangJunye commented on #5927
@Aku-Silvenius Hey, just want to check in to see if you are still working on this issue. Please let us know if you need any help!

[2022-08-18 11:01] jakelishman commented on #8139
I explained in the other PR - I don't see a need for any modification to `gates_to_decompose` here, and I think adding it would confuse the interface of a generally simple function. I'll close the re-opened part of this issue (as it's effectively a feature request) as "won't fix", but thanks for the initial PR!

[2022-08-18 11:01] #8139 closed

[2022-08-18 11:05] jakelishman commented on #7864
This most recent failure is the same as point 3 in my previous comment, and I've seen it in several PR CI runs as well, so we definitely need a fix.

[2022-08-18 12:26] jakelishman opened #8577 "Stochastic CI failure in TestSineIntegral"
### Environment

- **Qiskit Terra version**: main @ a2ae2ed
- **Python version**: observed on 3.7 and 3.10
- **Operating system**: Windows

### What is happening?

CI fails stochastically - as rough estimate, maybe around 1 in 5 CI runs that make it to the second stage - on Windows in an amplitude estimator test (`TestSineIntegral.test_confidence_intervals`).  The traceback from CI is:

[code]

No

[2022-08-18 12:34] #8549 closed

[2022-08-18 13:55] #8433 closed

[2022-08-18 14:05] mtreinish commented on #8577
I'm testing this now on my windows VM to see if I can recreate it. TBH though I'm not sure how much value that assertion adds to the test. I'm not sure how asserting the quantum instance storing that it measured a non-zero time for execution validates anything about the integration operation being tested, especially because as you pointed out it is dependent on the local environment to measure tim

[2022-08-18 14:12] mtreinish commented on #8577
Ok,yeah I can reliably reproduce this locally on my vm, running the test in isolation pretty much hits this locally every time. I'm thinking your guess about windows missing the precision or is rounding a small time causing it to return 0. I'm inclined to just remove that assertion from all those tests.

[2022-08-18 14:20] cpossel opened #8580 "Bug using SNOBFIT in combination with UCCSD (VQE) / misleading function signature of optimizer SNOBFIT"
When running a VQE algorithm with ansatz UCCSD the following error message shows up:
[code]

In case of ansatz `EfficientSU2` the code runs fine, only with `UCCSD` I get the error.

I tracked down the error to be caused by missing parameter bounds. The function [signature](https://github.com/Qiskit/qiskit-terra/blob/cbb64ed266b55525738de20a4e43419d5fef6e32/qiskit/algorithms/optimizers/snobfit.py#L

[2022-08-18 15:54] Zoufalc opened #8581 "Shadow Tomography"
### What should we add?

It would be great if we had a shadow tomography module - which enables the extraction of particular information about a quantum state with less measurements than full state tomography.

References:
[Shadow Tomography of Quantum States](https://arxiv.org/abs/1711.01053)

[2022-08-18 17:51] ShellyGarion commented on #8581
I agree that shadow tomography would be a great contribution to Qiskit. The main question is where does it belong?

Currently, the tomography experiments belong to Qiskit Experiments: https://qiskit.org/documentation/experiments/
including:
- [StateTomography](https://qiskit.org/documentation/experiments/stubs/qiskit_experiments.library.tomography.StateTomography.html#qiskit_experiments.library.to

[2022-08-18 18:00] MarcoBarroca commented on #8315
I'm also having this issue. I can run measurement error mitigation without any issues using either the VQEClient and QiskitRuntimeService on open systems like manilla and nairobi, but if I try any of the closed ones I get this error.

[2022-08-18 19:52] MarcoBarroca commented on #8315
Not sure how but a job with measurements error mitigation on Montreal completed without any issues.

[Here](https://github.com/Qiskit/qiskit-terra/files/9377150/log.txt) is the log for the job.

[2022-08-19 07:03] BramDo commented on #8438
I did not realize that the phase vector is only 2 bits of data. I c programming you could manipulate these bits with shift and other operations. But we don't need that because the problem is not in the _count_y handling. It seems that there might be a mismatch with the calling software or even it could be there is not a problem at all. However if you run the realistic example you get the error, an

[2022-08-19 10:42] jakelishman commented on #8438
Each element of the phase vector is two bits of data, but Paulis on multiple qubits use a vector of these values. The issue with your PR wasn't that the output result wasn't mathematically correct, it's that it changed the data type of the phase vector from what it logically should be (u8) to something much wider (i64). That means more data is used all the time, and it was masking the real bug, wh

[2022-08-19 14:13] jakelishman commented on #7883
The docstring looks fine as it is to me - the comment at the top addresses that all options are also allowed to be a list of values, and there's no explicit types given elsewhere in it.  The type hints just need to include the `List` option as well.

`Optional[x]` is exactly the same as `Union[x, None]`, so you don't need `Optional` if the `Union` already contains `None` (or you can omit the `None

[2022-08-19 15:49] #1298 closed

[2022-08-19 15:49] #8428 closed

[2022-08-20 02:02] poig opened #8587 "RZXCalibrationBuilder QiskitError message and other related weird bugs"
### Environment

- **Qiskit Terra version**: 0.21.1
- **Python version**: 3.10.4
- **Operating system**: ubuntu 20.04.4 LTS and windows 11

### What is happening?

https://github.com/Qiskit/qiskit-terra/blob/36c91add58a6649fd0788c2abc7a5a236e2e6098/qiskit/transpiler/passes/calibration/rzx_builder.py?plain=#L82-L83

- so the QiskitError message will let people misunderstand the issue if implemented

[2022-08-20 19:53] Eriken79 commented on #7883
Thanks @jakelishman, sorry I have a few more question and I should be able to square this issue away.

Should type hints like `basis_gates` that start with a `List[str]` be expanded to be `Union[List[str], None, List[List[str]]]` or `Union[str, None, List[str]]`? I'm unsure whether or not I should assume the `List[str]` to be the "singleton" element or not.

Also, with type hints that have multipl

[2022-08-21 11:06] Anthony-Gandon opened #8589 "Add a two-step tapering option"
### What should we add?

Currently, the :meth:`taper` of the z2symmetry class does the following (I only kept the relevant parts)
[code]
For the QEOM algorithm in qiskit-nature, we encounter the problem of tapering products of operators. In that case, the first step is multiplicative while the second step is not : STEP1(A @ B) = STEP1(A) @ STEP1(B) but STEP2(A @ B) != STEP2(A) @ STEP2(B). This mul

[2022-08-21 16:35] nathanieltornow opened #8591 "Wrong decomposition rule when decomposing into a single-qubit instruction"
### Environment

- **Qiskit Terra version**: 0.21.1
- **Python version**: 3.9.13
- **Operating system**: macOS Monterey

### What is happening?

I use placeholder instructions with one or more qubits and clbits to create circuits in different configurations.
The placeholders are created with the maximum amount of qubits and clbits needed, which might be more than needed for some specific configura

[2022-08-22 10:05] BramDo commented on #8438
As already discussed it is not necessary to modify the _count_y because dtype handling there looks correct for what the function does. The more correct solution is to ensure that whatever's calling that is passing np.uint8 as the dtype when it's going to bind the result to a uint8 context, or it manually cast. The caller can be found in the exception handling of the example:

`~/anaconda3/envs/qis

[2022-08-22 14:32] kevinsung opened #8594 "Add good __repr__ methods to all public classes"
### What should we add?

Informative `repr`s are very helpful, especially for debugging purposes. Ideally, `repr(obj)` should yield executable code that reconstructs `obj`, and we could test this. Good `repr`s are defined inconsistently across the library. For example,
[code]
[code]

The following classes require attention:

- [ ] QuantumCircuit
- [ ] Sampler

[2022-08-22 14:44] jakelishman commented on #8594
There's a limit on how much we can do for `QuantumCircuit`, because we can't _really_ output something that can `eval` back to the input, but we could definitely do better than the pyobj pointer.  Perhaps it could move to
[code]
or something?  `QuantumCircuit.draw` is really the debug view, but that's not really suitable for a repr.

I don't know anything about `Sampler` to offer an opinion on tha

[2022-08-22 15:18] chriseclectic commented on #8581
Shadow tomography is just partial linear inversion state tomography in the Pauli basis with randomly sampled basis measurements. The only difference is you don't reconstruct the density matrix first, but just store the "state" as a list of measurement probs and corresponding stabilizer basis states that were measured. Hence basically everything exists already in qiskit experiments to do this excep

[2022-08-22 18:15] kevinsung commented on #8594
@jakelishman could you elaborate on this point? What are the obstacles to defining a `repr` for QuantumCircuit that can `eval` back to the input?

[2022-08-22 19:02] mtreinish commented on #8594
The `repr()` function (and by extension the return from `__repr__`) is expected to return a string representation that can be passed to `eval()` which python will execute and create an object with the same value. That's basically the difference between `__str__` and `__repr__` is that `__repr__` has this other expectation. See: https://docs.python.org/3/library/functions.html#repr

So for somethin

[2022-08-22 19:10] #8577 closed

[2022-08-22 19:16] kevinsung commented on #8594
@mtreinish could you elaborate on this point? Why is it not realistic to define a `repr` for QuantumCircuit that can `eval` back to the input?

[2022-08-22 19:32] jakelishman commented on #8594
The design means that there's no overload of the constructor that allows a single-statement reconstruction, which is what's needed for `eval`, while looking like a single object. You have to make an object `qc` and then call a bunch of methods on it.

We could potentially add an overload to `QuantumCircuit` that takes a `data` array (that's a different design decision), but even with that, I think

[2022-08-22 21:49] jakelishman commented on #8594
I've tagged this "good first issue", though we wouldn't want one PR to add `repr`s to every class - that would be too much work, and a good `repr` needs a little bit of thought, so it's not an entirely mechanical process.  Instead, a good first community PR would be to add a `__repr__` method to `QuantumCircuit` that returns a string like
[code]

[2022-08-23 04:05] rht commented on #7103
Note that the transpilation/decomposition is already taking a long time, even with smaller circuits.

I benchmarked the elapsed time for transpilation and run for a circuit containing a controlled `RealAmplitudes(nqubits, reps=4, entanglement="linear")` and compare with the same implementation in Cirq. The result is that Cirq is much faster (I don't know how to separate transpilation and run in Ci

[2022-08-23 07:41] HuangJunye commented on #7832
Close by #8444

[2022-08-23 07:42] #7832 closed

[2022-08-23 07:47] HuangJunye commented on #8594
@jakelishman @mtreinish Thanks for the useful comments here. @kevinsung suggested this as a [QAMP project](https://github.com/qiskit-advocate/qamp-fall-22/issues/37) so the contributions will be guided by Kevin.

[2022-08-23 13:23] jakelishman opened #8601 "Transpiler pass for converting `c_if` to `if_test`"
### What should we add?

As developers, we want to transition away from `Instruction.condition` (via the `Instruction{,Set}.c_if` methods) to remove unnecessary state from `Instruction` subclasses.  Part of the backwards compatibility for this support can be a transpiler pass that converts instructions with non-`None` conditions to instances `IfElseBlock`.

This has two main benefits as a temporar

[2022-08-23 15:55] #7639 closed

[2022-08-23 15:55] #7577 closed

[2022-08-23 15:55] #7649 closed

[2022-08-23 15:55] #6912 closed

[2022-08-23 15:55] #6913 closed

[2022-08-23 15:55] #7621 closed

[2022-08-23 15:55] #6914 closed

[2022-08-23 15:55] #6915 closed

[2022-08-23 15:55] #6916 closed

[2022-08-23 15:55] #6931 closed

[2022-08-23 15:55] #7268 closed

[2022-08-23 15:55] #7070 closed

[2022-08-23 15:55] #7143 closed

[2022-08-23 16:22] dhruvbhq commented on #8543
Thanks for your response. For my particular use case, I was able to use it by passing the same simulator_seed for multiple simulator calls for the same circuit.

[2022-08-23 16:22] #8543 closed

[2022-08-24 01:58] chriseclectic opened #8607 "QuasiDistribution/ProbDistribution key change methods behave differently to Counts"
### Environment

- **Qiskit Terra version**: 0.22
- **Python version**: 3.9
- **Operating system**: MacOS

### What is happening?

The `binary_probabilities` `hex_probabilities` methods of `QuasiDistribution` and `ProbDistribution` return a regular dictionary instance rather than the same original such as is done with `Counts` when converting key types.

### How can we reproduce the issue?

Call `

[2022-08-24 15:48] chriseclectic opened #8611 "Compatibility classes for converting BackendV1 to BackendV2 to facilitate migration"
### What should we add?

For package developers trying to transition to new backends it would be very convenient if terra had wrapper backend classes/functions that can make a backend V1 into a backend V2 and vice versa.

Something to this effect was [recently added to qiskit-experiments](https://github.com/Qiskit/qiskit-experiments/blob/main/qiskit_experiments/framework/backend_data.py#L23) to he

[2022-08-24 16:25] jakelishman commented on #8611
From a typing perspective I don't like your proposed interfaces haha (`target_cls` implies `wrapped_backend` lives in a dependent type system, and are the unions in `WrappedBackend` meant to keep expanding with every new spec?), but the conversion functionality seems like a sensible addition to help migration.  I'm not convinced that we can make a sensible `BackendV2 -> BackendV1` converter, becau

[2022-08-24 16:51] mtreinish commented on #8611
As for the specific details of building this most of the code already exists in the fake providers already. The majority of such a compatibility interface would be converting `BackendConfiguration`, `BackendProperties`, and `PulseDefaults` into a `Target` and assorted other instance attributes. The fake providers (plus qiskit-ibm-provider and qiskit-ibm-runtime) took some draft code I wrote for th

[2022-08-24 20:29] #8575 closed

[2022-08-25 09:41] Cryoris commented on #8580
Thanks for reporting this!

If SNOBFIT requires bounds then I think the optimizer should raise an error if they are not passed. The interface is dictated by the `Optimizer` class so we can't really change that, and adding default bounds is very restrictive (e.g. [0,2pi] is not valid as soon as the circuit contains e.g. a gate like `Ry(0.0001 * theta)`).

[2022-08-25 13:40] woodsp-ibm commented on #8315
The behavior is noted in an issue here #5730

[2022-08-25 14:54] #8591 closed

[2022-08-26 04:08] jlapeyre opened #8618 "What is the best method for sampling shots?"
PR #8547 wants to change the method for sampling in `quantum_info`. But the original method is sometimes better. So the PR has to be modified. I opened this issue to determine and document when one or the other method is better. At the bottom of this comment is a plot that may have the answer.

 ### Sampling problem

We want to collect $n$ samples from the probability distribution $p(i), i=1,\ldot

[2022-08-26 05:16] ikkoham opened #8619 "Parameter is_real seems not correct"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

`Parameter.is_real()` seems not correct.

### How can we reproduce the issue?

[code]

### What should happen?

Both should return `False` since we don't know whether `a` is real or not.

### Any suggestions?

_No response_

[2022-08-26 11:58] eendebakpt opened #8622 "Transformation pass discards layout information"
### Environment

- **Qiskit Terra version**:  0.21.2
- **Python version**:  3.10
- **Operating system**:  Windows

### What is happening?

Applying a transformation pass discards information about the layout of a quantum circuit.

### How can we reproduce the issue?

A minimal example is:
[code]
Output:
[code]

### What should happen?

I want to apply a series of passes (including passes that deal

[2022-08-26 12:16] jlapeyre commented on #8619
Didn't we already discuss whether to use three-level logic here ? @Cryoris

[2022-08-26 17:00] jlapeyre opened #8623 "`Counts` could use housekeeping in documentation and validation"
The documentation and/or the behavior could be cleaned up.

The doc string says
https://github.com/Qiskit/qiskit-terra/blob/9f5f8fba5145cdfb521a0ed650e2273b8830b158/qiskit/result/counts.py#L39-L48

This might be better:

#### Recommendations
I make the recommendations first and give examples of problems later. I'll mention one main issue, however: A *stored* key `100010` may be generated from eith

[2022-08-26 19:22] eendebakpt commented on #8387
@JMuff22 I encountered the same issue and took the liberty to create a PR based on your code.

[2022-08-26 22:15] JMuff22 commented on #8387
Great thanks for that! Hopefully it gets merged!

[2022-08-27 20:51] BramDo commented on #8594
# Repr Qamp project
To help the advocate  [QAMP project](https://github.com/qiskit-advocate/qamp-fall-22/issues/37) forward, we would like to have a overview of the classes who can benefit from repr methode. This classlist will be work in progress and we can sort them by perceived importance.

1. QuantumCircuit
    <QuantumCircuit '<name>' with <x> qubits, <y> clbits and <z> instructions>
2. Sampl

[2022-08-29 08:18] Cryoris commented on #8619
Yeah, we did 🙂 The plan was to do the same as sympy and symengine: return `None` while the expression is not bound, otherwise `True` or `False` accordingly

[2022-08-29 10:34] jmcelroy01 commented on #8542
That did it! It was just on line 445 for me for some reason.

[2022-08-29 12:26] jakelishman commented on #8542
That's great!  Would you be interested in making a PR to apply that change? (No pressure.)

The line-number difference isn't important - it'll just be that we've made some changes to the file I linked to between Terra 0.21.0 (which you have installed) and the current development version, which I linked to.

[2022-08-29 12:58] jmcelroy01 commented on #8542
Done. Let me know if there's something more I can do in terms of the tests/documentation contributing steps, as I'm not familiar with tox.

[2022-08-29 15:25] ewinston opened #8630 "Track adding control flow passes for optimization level 1"
### What should we add?

This issue is to track the target set of passes to enable control flow handling for transpiler `optimization_level`=1.

   - [X] SetLayout (no change)
   - [X] TrivialLayout (no change)
   - [x] DenseLayout (#8742)
   - [x] EnlargeWithAncilla (no change)
   - [x] FullAncillaAllocation (no change)
   - [x] ApplyLayout (no change)
   - [x] VF2Layout (#8804)
   - [x] VF2PostL

[2022-08-29 15:45] mtreinish commented on #8630
Should we add `SabreLayout` and `SabreSwap` to this list because of: #8552 ?

[2022-08-29 15:55] jakelishman commented on #8630
We can put it in the list.  I don't think there's any chance of us supporting Sabre for 0.22 when there's control flow.  Part of this is working out what (if any) chances to the preset pass-manager logic we need for the initial support, when there's control-flow in the circuit.  The general idea being that we can have tweaked preset pass-manager logic if there's control flow or not, while we're bu

[2022-08-29 16:31] ewinston commented on #8630
For the timeline of 0.22 it might be better to prioritize a set of non-redundant passes. Since BasicSwap and StochasticSwap have already been started it may be faster to get some other items on the list complete before coming back to implement alternative (even if soon to be default) routing passes.

[2022-08-29 17:00] jakelishman commented on #8542
Fixed by #8629.

[2022-08-29 17:00] #8542 closed

[2022-08-29 20:13] kevinsung opened #8633 "Serialization should support custom gates"
### What should we add?

Defining and using custom gates is common practice when using Qiskit. Unfortunately, QPY serialization does not support this use case. For example, there is no way to tell QPY how to preserve custom gate attributes:
[code]
[code]

This issue can be addressed by adopting [the JSON serialization framework from Qiskit Experiments](https://github.com/Qiskit/qiskit-experiments/

[2022-08-29 21:44] mtreinish commented on #8633
First I think it's important to level set here. QPY (and qiskit itself) is not a general python object serialization library. QPY was explicitly defined not to support arbitrary object serialization as it's a huge security issue to import arbitrary code during deserialization. This is one of the many reasons pickle isn't a viable solution for the places QPY is typically used. There isn't a path to

[2022-08-29 21:44] #8633 closed

[2022-08-30 00:49] kevinsung commented on #8633
I believe that the dunder methods do in fact solve this problem in practice.

The first issue you raised is that deserializing arbitrary objects is a security risk. I don't think this is a significant issue in practice because the typical user will be deserializing objects that they trust. In the example I gave above, the user is defining their own custom gate, so the code is trusted. I understand

[2022-08-30 10:43] jakelishman commented on #7864
Oversubscribed VM.

[2022-08-30 10:57] jakelishman opened #8635 "PyO3 panic during SabreLayout"
### Environment

- **Qiskit Terra version**: main @ bab9d45
- **Python version**: 3.10/macOS (me) or 3.8/Linux (CI)
- **Operating system**:

### What is happening?

Randomised testing found a case where PyO3 is panicking and reporting "Graph::add_edge: node indices out of bounds" during SabreSwap (triggered by SabreLayout).

### How can we reproduce the issue?

[code]

this produces (exception sho

[2022-08-30 13:32] kdk opened #8637 "BasisTranslator takes 500ms when there's no basis change during optimization loop"
### Environment

- **Qiskit Terra version**: main @ 14a0aaf8
- **Python version**: 3.7
- **Operating system**: osx. 11.6

### What is happening?

Transpiling larger circuits at optimization levels >= 1 has a ~500ms per optimization loop overhead from the `BasisTranslator`, even when the circuit is already in the target basis. It seems like there's an early exit condition we're might be missing som

[2022-08-30 13:53] cpossel commented on #8580
@Cryoris Based on your comment I added a more concise error message in #8638
This resolves the problem at hand in the SNOBFIT code but actually there is still an open question: When I use ansatz EfficientSU2, all parameter bounds are set to `(-pi, pi)` allowing proper usage of optimizer SNOBFIT. On the other hand with ansatz UCCSD all parameter bounds are set to `(None, None)`.
So, maybe someone w

[2022-08-30 14:09] #8635 closed

[2022-08-30 14:09] jakelishman commented on #8637
There are 3q unitaries in your circuit, so the BasisTranslator is definitely having to do some work there.

[2022-08-30 14:11] jakelishman commented on #8637
To be less terse: I threw a breakpoint in the middle of the translator, and by the time we were hitting it (after `Unroll3q` and `UnrollCustomDefinitions`), the source basis the translator needed to modify is:
[code]
(compared to a target basis `{'cx', 'x', 'sx', 'rz'}`)

[2022-08-30 16:17] aabennak opened #8641 "Got this bug"
### Environment

- **0.18.1**:
- **3.8.11**:
- **Windows 11**:

### What is happening?

[code]

### How can we reproduce the issue?

I have no idea, I'm trying to implement a satisfiability problem

### What should happen?

dunno lol

### Any suggestions?

_No response_

[2022-08-30 16:37] kdk opened #8642 "Transpiler handles `approximation_degree=0.0` as `approximation_degree=None`"
I think saying something like "`approximation_degree` is being disabled" should be sufficient. (For what it's worth, `approximation_degree` is defined, albeit loosely, here

https://github.com/Qiskit/qiskit-terra/blob/367ed4e34a3d662ef8ed8f2b91e8823bba1b8ca8/qiskit/compiler/transpiler.py#L178

There's a bug in handling `approximation_degree` IIRC in the `TwoQubitBasisComposer` (by this point, `bas

[2022-08-30 16:46] kdk commented on #8630
@ewinston Can you call out in the list above which passes are easily implementable as recursion over the blocks of each `ControlFlowOp`, and those which need some custom handling?

[2022-08-30 17:22] jakelishman commented on #8641
You're using a pretty old version of Terra - your issue says you're on 0.18.1, but the current release is 0.21.2.  If you're able to upgrade your version of Terra, you should see the error go away - see #7224, for example.

[2022-08-30 17:23] #8641 closed

[2022-08-30 17:28] mtreinish commented on #8637
I think https://github.com/Qiskit/qiskit-terra/pull/6940 is the PR you were thinking of. I can take a look at reviving it since it should be an `O(1)`  lookup to check if the dag is in the global basis list case. For `Target` based compilation it will be `O(n)` (where n is number of instructions) since it needs to check that every instruction's qargs are available on the device.

[2022-08-30 19:55] mtreinish commented on #8637
Besides #6940 the other thought we probably want to update the `EquivalenceLibrary` to build the equivalence graph internally instead of on demand in the pass. This is low hanging fruit and should reduce the overhead of the basis translator when running it without any transformations being needed.

[2022-08-31 03:38] #8589 closed

[2022-08-31 12:46] #6838 closed

[2022-08-31 13:42] #8502 closed

[2022-08-31 13:42] #8503 closed

[2022-08-31 13:48] declanmillar commented on #8471
Hey @dlasecki, I'm currently working on this issue. Hopefully you can assign me now.

[2022-08-31 15:24] tjstavenger-pnnl commented on #8408
Should this be in qiskit-terra 0.21.2 and Qiskit 0.37.2? By the commit dates and release dates I thought it might be, but it isn't in the release notes and I still see the error. I'm guessing I should wait for the next release?

[2022-08-31 16:56] mtreinish commented on #8637
I reran your recreate script with #6940 applied and the output log was:

[code]

The `GatesInBasis` pass is taking ~0.02 sec and the basis translator is skipped.

[2022-08-31 16:59] mtreinish commented on #8637
Switching to the backendV2 `SydneyV2` gates in basis is signficantly slower as expected (because it needs to verify each individual instruction to test the full `Target` is satisfied). But it is still faster than the 500ms for basis translator (although I don't know how my local times for an empty basis translator compare):
[code]

[2022-08-31 17:31] tjstavenger-pnnl commented on #8408
That makes sense. We can wait for the October release. Thank you!

[2022-08-31 18:51] jlapeyre commented on #8623
Looking at the logic in the constructor, it seems that an input format of bitstrings with no leading `0b` and no spaces is intended to be supported.

[2022-08-31 19:39] kevinsung opened #8654 "Transpiler pass to remove gates with negligible effects"
### What should we add?

This pass would be very useful to ensure that negligible gates are not needlessly applied. In Cirq, whether a gate is negligible is determined by its implementation of the trace distance bound protocol: see https://github.com/quantumlib/Cirq/blob/3e3d6f7d9368badeafd0f2ca3ee0929ab0fdaa25/cirq-core/cirq/transformers/drop_negligible_operations.py. I'm not sure yet what would

[2022-08-31 19:46] mtreinish commented on #8654
A new transformation pass as that runs as part of the optimization stage is probably the best approach. I'm not sure exactly what interface we'd want for this though. Or how you define the boundary between what is negligible impact or not.

The only knob we really have for something like this is `approximation_degree` which is just a a rough knob that has a value between 0.0 and 1.0 to specify how

[2022-08-31 19:52] kevinsung commented on #8654
What do you think of adopting Cirq's approach? That is, defining a TraceDistanceBound Protocol that gates can implement. The optimization pass would take the requested tolerance as input (with a reasonable default) and a gate would be considered negligible if its trace distance bound were smaller than the specified tolerance.

[2022-08-31 21:07] mtreinish commented on #8654
That seems like a reasonable approach me, but I'd be curious what @ajavadia @levbishop and @kdk think.

If we go that way I think we'll probably just want to start with computing it just from the unitary for `Gate` instances that have their matrix defined and we'll need to add a similar trace distance function to `quantum_info`.

[2022-08-31 21:27] kevinsung commented on #8654
In general it's not practical to compute the bound from the gate's unitary since this can be an exponentially large matrix. Even if all the gates act on at most a few qubits, constructing the matrices explicitly may lead to a large overhead. These are the reasons to rely on the protocol.

[2022-09-01 09:36] ikkoham commented on #8045
#8065 supports this.

[2022-09-01 09:36] #8045 closed

[2022-09-01 10:09] t-imamichi commented on #7326
@jakelishman Parameter binding to cu does not look working. Is it related to this issue?

[code]

output
[code]

[2022-09-01 10:39] jakelishman commented on #7326
Yeah, it's the same issue - `assign_parameters` / `bind_parameter` tries to mutate indices in the `CUGate.params` field, but the gate has a getter that produces a new list, not the actual array.  Julien at one point had a PR that added `assign_parameter` to `Instruction` instances so it could be overridden, but I don't know what happened to that.

[2022-09-01 11:49] Cryoris commented on #7326
It stalled since it introduce a small performance hit 😅 --> #7487

[2022-09-01 12:32] t-imamichi commented on #7326
Thank you for the information!

[2022-09-01 16:03] #7717 closed

[2022-09-01 17:57] BramDo commented on #8642
expected_fidelities gives an strange value in the case approximation_degree = 0.0, it gives an result of 1 instead of a small value.
[qiskit-terra/qiskit/quantum_info/synthesis/two_qubit_decompose.py
line 1092](https://github.com/Qiskit/qiskit-terra/blob/dbc81a8dcdae9e9294b9058babf5883258daaa5d/qiskit/quantum_info/synthesis/two_qubit_decompose.py#L1087)

[code]

Test code

` ``
ap_list = [0.0, 0.1

[2022-09-01 18:59] jlapeyre commented on #1179
Here is one specific problem with pylint. It could be avoided by disabling the particular rule. Or disabling the rule locally (which would be almost every instance that it is flag). Or use something other than pylint. (Or petition pylint to change)

pylint flags false positives (a lot of them) for `missing-raises-doc`.

1. The `Raises` section of a docstring should not document exceptions raised w

[2022-09-01 19:25] jlapeyre commented on #1179
Here is a partial audit. "wrong" means an entry in `Raises` is incorrect (but required by pylint)

* `result/counts.py` 3 wrong, 1 mariginal (wrong in numpy style for sure)
* `models.py`

[2022-09-02 01:43] jakelishman commented on #8622
There's a few "magic" properties on `QuantumCircuit` that are written out from similarly magic properties in the property sets of running pass managers.  The layout is one of them.

It's not immediately clear to me if there are significant problematic implications around `RunningPassManager.run` propagating these magic properties from an input circuit to an output circuit (if they don't appear in

[2022-09-02 12:33] #6677 closed

[2022-09-02 12:51] kevinsung opened #8660 "Sampler result does not populate QuadiDistribution attributes"
### Environment

- **Qiskit Terra version**: 8a3e760ffaf6dcd06c0a0e04f13612fdefd9ab3c
- **Python version**: 3.9.13
- **Operating system**: Arch Linux

### What is happening?

For example, `shots` and `stddev_upper_bound` are both set to `None`.

### How can we reproduce the issue?

[code]

### What should happen?

The code above should raise AssertionError. The attributes should be set to their co

[2022-09-02 12:52] jakelishman commented on #8637
Are we considering this fixed by #6940?

(Also, in my above comment, I see now that I'd just looked at the first pass, not the instances in the optimisation loop, so I was just chatting nonsense.)

[2022-09-02 12:52] mtreinish opened #8661 "Extract remaining preset pass manager stages into plugins"
### What should we add?

In https://github.com/Qiskit/qiskit-terra/pull/8305 we added a new plugin interface for transpiler stages in the preset passmanagers. As part of that PR we migrated the built in routing stage options to be plugins. As a follow up we should continue to expand our internal use of the plugin interface to run the other transpiler stages. This will simplify the maintenance and

[2022-09-02 13:02] mtreinish opened #8662 "Convert `BIPMaping` transpiler pass into an external plugin"
### What should we add?

The [`BIPMapping` transpiler pass](https://qiskit.org/documentation/stubs/qiskit.transpiler.passes.BIPMapping.html) has been in a weird state since it's introduction. It is a standalone transpiler pass that is used for both the layout and routing stage but we never integrated it into `transpile` because it has an external dependency on `cplex` which is a proprietary softwa

[2022-09-02 13:10] mtreinish commented on #8637
I think we can, but it'd be good to confirm with @kdk that his performance issue is addressed. I still want to try and reduce the overhead of `BasisTranslator` and `EquivalenceLibrary` in cases where there is no transformation to perform but we can do that in more targeted issues.

[2022-09-02 13:21] mtreinish opened #8664 "Refactor `EquivalenceLibrary` to internally be a graph"
### What should we add?

In #7211 we refactored the search algorithm in the `BasisTranslator` transpiler pass to perform a dijkstra search using retworkx. To accomplish this the pass had to generate a retworkx graph object from the `EquivalenceLibrary` on demand and then perform the dijkstra search over that graph. However, it would be better if the equivalence library itself just internally wrapp

[2022-09-02 16:43] wshanks opened #8667 "VF2Layout transpiler pass inserts extra qubits (more than are in the device)"
### Environment

- **Qiskit Terra version**: 0.21.2
- **Python version**: 3.10.5
- **Operating system**: Linux

Here are more qiskit related versions:

qiskit-ibm-runtime==0.6.2
qiskit-ibmq-provider==0.19.2

### What is happening?

When using `ibmq_guadalupe` as a backend (num_qubits == 16), I see that for a circuit with 16 qubits initially that after transpile num_qubits is more than 16.

### How

[2022-09-02 21:52] #6876 closed

[2022-09-02 22:15] kdk commented on #8637
Thanks @mtreinish and @jakelishman , checked that this was resolved by #6940 so I think we're good to close this.

[2022-09-02 22:15] #8637 closed

[2022-09-02 22:24] aeddins-ibm opened #8670 "plot_coupling_map appears to incorrectly plot in docs example"
### Environment

the qiskit.org website

### What is happening?

The map does not look like what is expected based on the input:
![image](https://user-images.githubusercontent.com/60495383/188241999-0a2b4b69-d7c0-457b-8b0d-d360943263d4.png)

### How can we reproduce the issue?

view the doc page here: https://qiskit.org/documentation/stubs/qiskit.visualization.plot_coupling_map.html

### What shou

[2022-09-03 09:12] johannesgreiner commented on #8554
@nkanazawa1989 might be interested?

[2022-09-03 13:30] dalin27 commented on #8670
Hi there. It seems like the "qubit_coordinates" and "coupling_map" inputs were simply inverted.

Here you go:

<img width="568" alt="image" src="https://user-images.githubusercontent.com/77298980/188272505-38cbf764-8b7b-4a2a-92af-9b2e146c8782.png">

[2022-09-03 14:00] jakelishman commented on #8670
Thanks @dalin27! Would you be interested making a PR to fix the documentation? The lines that need changing are here: https://github.com/Qiskit/qiskit-terra/blob/aca01eb9867ccc08a49efc5a27fd60c2e28b5db3/qiskit/visualization/gate_map.py#L592-L600

[2022-09-04 07:55] dalin27 commented on #8506
As a follow up, could there be an issue with how the docstring is formatted? I am not very familiar with how the docstring is parsed using Napoleon (a Sphinx extension), but maybe the colon should be on the same line as `data`!? Maybe something like this:
[code]

Note also that due to some recent update in the operator.py file, the correct line that should appear in the API reference page is

That

[2022-09-04 09:26] ShellyGarion commented on #8520
This is also useful for CNOT-Dihedral Randomized Benchmarking:
https://journals.aps.org/prresearch/abstract/10.1103/PhysRevResearch.3.013204

[2022-09-04 21:08] enavarro51 commented on #8664
I'd be interested in working on this.

[2022-09-04 22:39] jakelishman commented on #8664
Thanks Edwin, let me assign you.  Matthew's not at work this week, so he might be slower to respond than usual.

[2022-09-04 22:58] jakelishman commented on #8506
@dalin27: yeah, I would expect that Sphinx's parser is probably choking because it's not finding the colon.  Putting it on one line should help out.

The online documentation still says `Instruction` because the online documentation is for Terra 0.21.2, and the `Operation` interface is only on the main branch, and planned to be released in Terra 0.22.  We're not planning to release a 0.21.3 patch

[2022-09-05 00:08] BOBO1997 opened #8674 ""QuantumCircuit.save_density_matrix()" method does not work unless the aer library is imported."
### Environment

- **Qiskit Terra version**: please see the picture below
- **Python version**: please see the picture below
- **Operating system**: macOS Monterey version 12.2.1
<img width="329" alt="Screen Shot 2022-09-05 at 0 37 57" src="https://user-images.githubusercontent.com/28642796/188337907-bd4f70fe-bc94-4511-a8fe-0cb01d068d20.png">

### What is happening?

The default method `QuantumCir

[2022-09-05 01:26] jakelishman commented on #8674
The method appears in the documentation like that (as opposed to Aer-specific documentation) as an unfortunate consequence of how Aer monkey-patches methods onto `QuantumCircuit`, and how the docs build happens.  These methods will start being documented in Aer's standalone documentation soon (_maybe_ with Aer 0.11 but probably the version after), to help avoid this confusion a bit.

You can see s

[2022-09-05 01:26] jakelishman commented on #8674
Duplicate of #6346

[2022-09-05 01:26] #8674 closed

[2022-09-05 01:34] BOBO1997 commented on #8674
Thank you so much for your quick response, I am happy to hear this family of issues would be fixed in the near future.
I will also follow issue #6346.

[2022-09-05 02:02] #8670 closed

[2022-09-05 02:33] jakelishman opened #8675 "SabreSwap can reorder or throw away operations near conditions"
### Environment

- **Qiskit Terra version**: main @ a4cf148
- **Python version**: 3.10
- **Operating system**: macOS

### What is happening?

Randomised testing turned up a case in `SabreSwap` (since the merge of #8388) where it appeared to throw away a measurement gate: see https://github.com/Qiskit/qiskit-terra/issues/2645#issuecomment-1236260208.  Tweaking the qubits and conditionals there resu

[2022-09-05 02:47] jwoehr opened #8676 "Qiskit Terra install fails in meson build on Ubuntu 20.04 LinuxONE"
### Environment

- **Qiskit Terra version**:  current from PyPi
- **Python version**:  Python 3.8.10
- **Operating system**:
[code]

### What is happening?

`pip install qiskit` fails in meson build

### How can we reproduce the issue?

On LinuxONE Ubuntu 20.04 use the script [here](https://github.com/jwoehr/Quantum-Computing/blob/main/platforms/linuxone_ubuntu/install_qiskit_linuxone_ubuntu_20.04

[2022-09-05 02:51] jwoehr commented on #8676
w/r/t message;

[code]
libopenblas is indeed installed.
[code]

[2022-09-05 03:28] jwoehr opened #8677 "Qiskit Terra install fails in meson build on RHEL 8.6 LinuxOne"
### Environment

- **Qiskit Terra version**: PyPi current
- **Python version**: 3.9
- **Operating system**:
[code]

### What is happening?

Similar failure to #8676
[code]

### How can we reproduce the issue?

Using [this script](https://github.com/jwoehr/Quantum-Computing/blob/main/platforms/linuxone_redhat/install_qiskit_linuxone_redhat_8.4.sh) attempt `pip install qiskit-terra` on a fresh Linux

[2022-09-05 03:47] jwoehr commented on #8677
[code]

[2022-09-05 07:48] hckim012 opened #8680 "PauliOp matmul gives incorrect result with iI"
### Environment

- **Qiskit Terra version**:  0.21.2
- **Python version**:  3.9
- **Operating system**: WSL Ubuntu 18.04

### What is happening?

In opflow.PauliOp,  @ gives incorrect result with iI. Actual problem can be seen with only X, Y, Zs.

### How can we reproduce the issue?

[code]

### What should happen?

Output should be iZ, iX respectively.

### Any suggestions?

I think the following

[2022-09-05 10:57] jakelishman commented on #8676
Looks to me like it's the scipy build that's failing, not Terra - it's trying to build it from source because presumably scipy aren't supplying a wheel. I also noticed that it's failing to find `pkgconfig` - perhaps that's what it can't find the system BLAS?

[2022-09-05 12:05] #8496 closed

[2022-09-05 13:11] jwoehr commented on #8676
Yeah, you're right @jakelishman ... this was working before, wonder why it suddenly needs the install of an rpm.
Doing some testing right now, will probably close this soon.
Thanks for jumping in ..

[2022-09-05 13:13] jakelishman commented on #8676
(Matthew's out this week, so it might be a little while til you get a response from him if you're waiting!)

[2022-09-05 13:26] #8677 closed

[2022-09-05 13:28] jwoehr commented on #8676
Hmm, my comment was w/r/t the RHEL failure which is now fixed by installing python39-scipy via dnf.
Not sure why it changed.
Fiddling with scripts for the Ubuntu VM and trying to see what's wrong there (as I am installing the Python scipy)
Maybe wrong version.

[2022-09-05 14:18] jwoehr commented on #8676
Can't make Ubuntu do it. Was working before.
I have python3.9 installed and python3-scipy also.
Terra still tries to build scipy.
I guess Terra wants a later version of scipy than LinuxONE Ubuntu 20.04 s390x installs.

[2022-09-05 17:54] dryicecube commented on #4792
Hello, can I work on this issue?

[2022-09-06 00:21] ironfrown opened #8687 "UMDA optimizer incorrectly logs objective function values"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.8.13
- **Operating system**: Ubuntu 20.04.4 LTS

### What is happening?

I have noticed that results returned by UMDA optimizer via a callback wildly oscillate and yet the optimizer consistently and progressively finds the optimum value at the end.

Working with the source of UMDA class, I have noticed that the class uses

[2022-09-06 03:00] jwoehr commented on #8676
The problem I think is that Qiskit Terra wants scipy=>1.5 and s390x distros Ubuntu and SLSE don't package that yet.

[2022-09-06 07:27] Cryoris commented on #7836
I see the advantage of being explicit with the broadcasting: you're always aware of what's being calculated and maybe this points out an error if you have lists of differing lengths. However in the algorithms we very often have the setting where we have the same circuit (and observable) and them for different parameter values. Right now this forces us to write something like
[code]
which is a bit

[2022-09-06 16:43] jakelishman opened #8690 "QuantumCircuit.draw triggers warning with default arguments for single bits"
### Environment

- **Qiskit Terra version**: main @ 6927a8d
- **Python version**: any
- **Operating system**: any

### What is happening?

The text circuit visualiser raises a warning when using its default arguments if called on a circuit that has an opaque (to the drawer) instruction that operates on a single clbit out of a register.

### How can we reproduce the issue?

[code]
gives
[code]

###

[2022-09-06 17:08] tomohiro-soejima opened #8691 "`QuantumCircuit.compose` errors when `qubits` argument is `numpy.int64` instead of `int`."
### Environment

- `qiskit-terra: '0.21.0':
- `python: '3.9.12'`:
- Ubuntu-20.04 windows subsystem for Linux running on Windows 10:
- `numpy: 1.21.5`

### What is happening?

`QuantumCircuit.compose()` errors when `qubits` argument is a list of `numpy.int64` instead of `int`.

### How can we reproduce the issue?

[code]

Here is the error:
[code]

### What should happen?

`qc0.compose` should retu

[2022-09-06 17:18] jakelishman commented on #8691
Yeah, this isn't the first time `QuantumCircuit.compose` has got caught doing its own thing and ignoring the conversions / book-keeping done by other parts of the class.  I just flicked through it and I can see a bunch of places where it's liable to explode as well.  I'll overhaul it a little bit to fix some of these niggles.

[2022-09-06 19:00] chriseclectic opened #8692 "Routing is applied to 2-qubit custom gates that don't need routing"
### Environment

- **Qiskit Terra version**: 0.21
- **Python version**: 3.9
- **Operating system**:  MacOS

### What is happening?

When using custom gates which should transpile to separable single qubit gates, the transpiler is appling routing passes to these which results in the insertion of lots of swap/cx gates in a circuit that shouldn't be there.

### How can we reproduce the issue?

Here i

[2022-09-06 19:28] jakelishman commented on #8692
There's an advantage to doing the basis translation later, in that then the layout and routing passes have to do less work (because there's fewer gates in the circuit). Doing the basis translation too early may also get in the way of high-level synthesis routines.

Perhaps a sensible compromise is to replace the `Unroll3qOrMore` pass with one that also splits custom instructions (by an unrolling o

[2022-09-06 19:57] jiayu-shen opened #8693 "VQE optimization history has unexpected plateaus"
### Environment

- **Qiskit version**: 0.37.2
- **Qiskit Terra version**: 0.21.2
- **Qiskit Aer version**: 0.10.4
- **Python version**: 3.9.0
- **Operating system**: macOS Big Sur 11.6.4

### What is happening?

When using the statevector simulator, the ADAM optimizer, and a callback function in VQE, the energy stored by the callback function displays unexpected plateaus. In an example below, ever

[2022-09-06 20:23] jiayu-shen commented on #8693
The CG optimizer also yields a similar issue
![image](https://user-images.githubusercontent.com/87784121/188730787-b62f12a0-52a0-4715-89d6-feb3cfacabae.png)

The GradientDescent optimizer does not yield plateaus but also yields some repeated pattern
![image](https://user-images.githubusercontent.com/87784121/188731017-0f5e0f1c-dae5-4e07-b42c-f2dbcf5d2ab0.png)

[2022-09-06 20:32] woodsp-ibm commented on #8693
If you look at the plots in this tutorial https://qiskit.org/documentation/tutorials/algorithms/02_vqe_convergence.html you will see similar plateaus. These are where optimizers using gradients are computing say a finite diff gradient using the same objective function - the callback is from the objective function and cannot discriminate how the optimizer is using it. Since the delta around the poi

[2022-09-06 21:31] chriseclectic commented on #8692
I'll add that this bug directly applies to the build in `PauliGate` which is of this form (which is close to how I found the bug). The above example can be replaced with
[code]

[2022-09-06 21:39] jakelishman commented on #8692
Yeah, the mechanism is fairly clear from how our layout/routing passes work, I think - there's an assumption built in that any object that appears to operate on 2 qubits necessarily requires coupling between the two.  It's hard to untangle that right now, but a rework of the (role taken by the) `Unroll3qOrMore` pass like I was talking about above should hopefully get us around these problems in th

[2022-09-07 07:24] VicentePerezSoloviev commented on #8687
I will handle this issue

[2022-09-07 12:09] ElePT commented on #8492
I'm working on it as part of the eigensolvers rewriting: https://github.com/Qiskit/qiskit-terra/pull/8640/files

[2022-09-07 15:16] HwajungKang opened #8700 "QASM conversion fails when a gate is conditioned on a individual bit of a classical register"
### Environment

- **Qiskit Terra version**: 0.21.2
- **Python version**: 3.7.7
- **Operating system**: Mac

### What is happening?

A quantum circuit with a gate conditioned on a single bit value of a classical register cannot be converted to a QASM string.

### How can we reproduce the issue?

[code]

/opt/miniconda3/lib/python3.7/site-packages/qiskit/circuit/instruction.py in _qasmif(self, stri

[2022-09-07 15:21] jakelishman commented on #8700
The error message could be better here, but `QuantumCircuit.qasm` produces OpenQASM 2, and there's no way to represent single-bit conditions in OpenQASM 2.  This should work with the OpenQASM 3.0 exporter (in `qiskit.qasm3`), though OQ 3 support is still under active development, and isn't fully complete yet.

[2022-09-07 16:15] HwajungKang commented on #8700
I see. Thanks! @jakelishman

[2022-09-07 16:16] jakelishman commented on #8700
No worries!  I've just pushed #8701 that should improve the error message to better explain what's going on in this case.

[2022-09-08 00:44] jakelishman commented on #8676
Looking through the blame, that requirement was bumped in #6727 because of a problematic part of the scipy `lbfgsb` C extension in older scipys (see https://github.com/Qiskit/qiskit-terra/pull/6727#pullrequestreview-789370597).  For your purposes, would you be able to build Terra from source, and edit the requirements to allow the older scipy?  (Unless of course your purposes are just to check our

[2022-09-08 01:14] jwoehr commented on #8676
I'm really checking the builds because I'm presenting this.
For that purpose I'll play with building from source.
Thanks for the pointer to the relevant PR, @jakelishman

[2022-09-08 09:51] t-imamichi commented on #8607
I tried comparison and saw `Counts.hex_outcomes()` returns a regular `dict` too.

[code]
output
[code]

I'm likely to miss your point. Could you give me an example code?

[2022-09-08 12:22] #8567 closed

[2022-09-08 12:25] The-Real-Thisas opened #8716 "M1 install issue due to tweedledum"
### What is the expected behaviour?

[code]

Should install qiskit but instead currently fails while trying to build tweedledum.

I'm hoping there could maybe be a m1 wheel available that circumvents this issue.

[code]

[2022-09-08 12:44] patdenim commented on #8587
Identical error when using Pulse efficient transpilation on different backends (here below with auckland)
 Fails with error  "QiskitError: 'Calibrations can only be added to Pulse-enabled backends'"
 when `PassManager([RZXCalibrationBuilderNoEcho(backend)]` executes.
 Even though backend.configuration().open_pulse is `True`
fails when checking
[code]
instruction map and qubit channel mapping retur

[2022-09-08 13:55] kevinsung opened #8707 "Circuit.append should automatically add bits to the Circuit"
### What should we add?

Appending an operation to a circuit fails if the qubits aren't already contained in the circuit. This makes circuit construction needlessly complicated because it forces the user to always add qubits before operating on them, when in principle these could be done in a single step. I propose that instead, the qubits should automatically be added to the circuit.

[2022-09-08 15:24] christoph-riverlane commented on #8296
Thank you, the workaround bypasses the qasm problem with the QFTGate! The errors with StatePreparation however still remain when adding `.decompose()`.

[2022-09-08 15:26] kevinsung opened #8709 "Add a new QuantumCircuit constructor QuantumCircuit.from_instructions"
### What should we add?

Creating a QuantumCircuit and appending operations into it is a very common pattern. It would be very convenient to be able to create a QuantumCircuit by directly passing an iterator of operations, something like:
[code]
Currently this is not possible as written but it would be if my proposal https://github.com/Qiskit/qiskit-terra/issues/8707 were implemented.

[2022-09-08 15:27] kevinsung commented on #8594
An executable repr for QuantumCircuit could be made possible with https://github.com/Qiskit/qiskit-terra/issues/8709

[2022-09-08 15:37] jakelishman commented on #8707
I'm opposed to modifying `append` on the grounds of error checking: I think with the `append` interface, it's generally indicative of a programmer error to do this.  For example, if the circuit has 4 bits, and somebody does `qc.append(HGate(), [10], [])`, should we silently expand the circuit (which may make it invalid for their hardware), and if so, to 11 bits or to 5 bits that aren't sequentiall

[2022-09-08 15:40] jakelishman commented on #8594
Given that it's an alternate class method constructor, I'm still not sure it would be appropriate for a `repr` (and `Instruction`, `Qubit` and `Clbit` don't general have a `eval`able reprs either, which would be required).  The point of `repr` is to give a human-readable indication of what the object is, rather than to implement a complete serialisation to text - it's just that for small, simple o

[2022-09-08 15:42] jakelishman commented on #8709
(Just to add: the iterable should probably be of `CircuitInstruction`, not the legacy 3-tuple, since this is a new method with no backwards-compatibility concerns, but otherwise I'm fine with it.)

[2022-09-08 17:39] kevinsung commented on #8707
I hadn't thought about the case of passing integers instead of Qubits. In my opinion, that ideally would not even be allowed. If it must be allowed, I would say that your example should only add one qubit. As for the hardware mapping, typically hardware mapping is done at a later stage after the abstract circuit has been constructed, so I disagree that the behavior I advocate indicates a programme

[2022-09-08 18:11] kevinsung commented on #8709
@jakelishman so how should this be done? would you just do `circuit.add_bits(set(qubits) - set(circuit.qubits))` before every append?

[2022-09-08 18:35] jakelishman commented on #8709
Yeah, exactly.  It'd probably be good to do a shade more book-keeping just for efficiency and reproducibility reasons (ensure that bits get added in the order they appear in the operand sequences, make sure condition bits and cregs are respected, and track the sets of what we've already appended internally to avoid recalculation), but those are just minor implementation details.

Similarly, you pr

[2022-09-08 18:47] kevinsung commented on #8709
I'm not sure I'll have time, so don't let this block 0.22. Why does `Circuit.qubits` need to be ordered? For this specific purpose it would be better for it to be unordered.

[2022-09-08 18:52] jakelishman commented on #8709
It's not absolutely critical, it was just on my mind because we occasionally have issues testing the circuits produced with the control-flow builder interfaces because they have a non-deterministic ordering (admittedly limited to the arguments of the blocks) - hence the recent #8627.  I think you're probably right that it's not an issue here.

That's fine if you've not got time, no worries.  We ca

[2022-09-08 18:59] jakelishman commented on #8709
For a community member wanting to have a go at this, the rough interface would look like
[code]
`CircuitInstruction` always contains only `Qubit` and `Clbit` instances, so we'd need to track the bits used in a set, and append them to the circuit before appending the instruction if they're not already there.  We'd also need to take care to ensure that any bits or registers that appear in the `condi

[2022-09-08 19:10] kevinsung commented on #8709
@jakelishman I meant to ask about the `Circuit.qubits` attribute. It already exists, and it is a `list` and not a `set`. Why is that? Can  we make it a `set` instead?

[2022-09-08 19:13] jakelishman commented on #8709
It's important for it to be a sequence, because it defines the order that bits are applied to it when a circuit is used as an `Instruction` definition, for example - we associate `CircuitInstruction.qubits` with the `QuantumCircuit.qubits` by equal indices in the sequence.  We do actually have the set view already, it's just a private attribute - it's `QuantumCircuit._qubit_indices`, which is a di

[2022-09-08 20:58] kevinsung opened #8711 "Document naming of CircuitInstruction and related classes"
### What should we add?

I asked @jakelishman why CircuitInstruction is named that way when it is not an Instruction, and why it has an attribute named `operation` which is actually an Instruction. He replied:

This should be publicly documented somewhere to mitigate user confusion.

[2022-09-08 22:23] wshanks opened #8712 "Add a BackendV2 version of FakeOpenPulse2Q"
### What should we add?

Would it be reasonable to add a `BackendV2` version of `FakeOpenPulse2Q`? What would need to be added besides the class? There are not really tests for the V1 version, but it is used in several tests.

I made a hacked V2 version in https://github.com/Qiskit/qiskit-experiments/pull/900 for reference. Another option might be to wait for #8611. I am not sure about timing and

[2022-09-08 22:40] jakelishman commented on #8712
It seems useful to me, but I don't have the full details.  `FakeOpenPulse2Q` probably doesn't have tests because most of the fake backends were originally just testing mocks themselves (for old IBMQ backends).  We just promoted them recently to be a full part of the Terra interface, since they got such wide use in practice.

In that vein, having a V2 version of `FakeOpenPulse2Q` (or however-many-q

[2022-09-08 23:26] jakelishman opened #8713 "Documentation build drops a file in the working directory"
### Environment

- **Qiskit Terra version**: main @ 686ba34
- **Python version**: any
- **Operating system**: any

### What is happening?

Running the documentation build (such as by `tox -e docs`) causes a file `new_hist.png` to be dropped in the working directory.  This came from #8569, which added a `jupyter-execute` block to the `qiskit.visualization` documentation that leads a `savefig` comma

[2022-09-09 00:15] jakelishman commented on #8716
It's quite possible that the build requires having specific C compiler tooling and potentially various header files of C/Fortran libraries available on your system, which may be why you're struggling while other people haven't been.  There's also the chance that a recent update to macOS broke stuff - I saw you're on the macOS-12.3 SDK - as Apple have a very annoying tendency to remove stuff from t

[2022-09-09 00:25] jakelishman commented on #8587
@nkanazawa1989 or @wshanks: could you have a look at this?

[2022-09-09 02:44] aeddins-ibm opened #8717 "DAGCircuit.remove_ancestors_of() fails"
### Environment

- **Qiskit Terra version**:  dev (~0.22.0)
- **Python version**: 3.9
- **Operating system**: macos

### What is happening?

Trying to use `DAGCircuit.remove_ancestors_of(node)` fails with this error:

[code]

Line 1512 is passing the entire `node` to `rx.ancestors`, but it should be passing `node.nodeid` (hence the error about looking for an integer). So maybe we just need to add

[2022-09-09 03:16] aeddins-ibm commented on #8717
on playing with this a little more, maybe it's best to just call self.ancestors(...) inside of `remove_ancestors_of`. Otherwise you may anyway need to copy over the rest of the comprehension from `ancestors`, which is basically the whole function definition.  (Since currently it looks like `rx.ancestors` may not return objects of the expected node types).

[2022-09-09 08:00] gabrieleagl opened #8721 "Two small improvements for EstimationProblem"
### What should we add?

Hello,
I would like to suggest two small improvements:

- The [EstimationProblem](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/amplitude_estimators/estimation_problem.py), when not explicitely given a Grover oracle, automatically produces one. Unfortunately, this standard oracle uses the multi-controlled NOT with `'noancillas'` mode (lines 168 and 172

[2022-09-09 08:39] The-Real-Thisas commented on #8716
@jakelishman You reckon it might be feasible to change the requirements to use `tweedledum==1.1.0` specifically until the problem gets resolved on tweedledum's end. I assume that won't break anything for people on x86 and would mean new users on m1 can just use `pip install qiskit` without having to look up the issue. It's a bit of a hack but wondering if thats a possibility. If so I can start a p

[2022-09-09 09:29] nonhermitian commented on #8716
It is a fair question to ask why is it a requirement in the first place?

[2022-09-09 09:54] The-Real-Thisas commented on #8716
@nonhermitian I believe this may answer your question.

Source: https://github.com/Qiskit/qiskit-terra/commit/927fd0226bf7c7e4e4cd9434d612bd7bb4b05ecc

[2022-09-09 10:27] nonhermitian commented on #8716
Yeah I know the backstory, but disagree with that decision as I do not think that that functionality is used by many people at all.  I personally have never had to use it, but have run into similar issues as this previously with the builds of tweedledum.  There is no tutorial, and no demonstration of usage beyond a single code block in the documentation (the supp mat does not open for me).  So I p

[2022-09-09 13:57] woodsp-ibm commented on #8721
For the GroverOperator, since a custom version can already be supplied, one can already do something different. Yes, its a bit more work than potentially if the problem supported options for the default one. In places we have the type as a Union that includes str where we have string values to select different options where it can be a little higher level than having to deal with mcx modes.

As to

[2022-09-09 14:12] gabrieleagl commented on #8721
Regarding your second point @woodsp-ibm, I would have a different opinion. Define the function f be true when all qubits are 1 (this is the standard `is_good_state`), and the function g as not(f). Now, if you run IQAE with `is_good_state=f` and then you re-run it with `is_good_state=g`, you will get opposite results. On the contrary, if you run the two problems with QAE, `is_good_state` will be ig

[2022-09-09 14:20] wshanks commented on #8587
I can't reproduce the error in the example in the OP. It looks like it was addressed by @nkanazawa1989 in #8444.

@nkanazawa1989 also shifted RZXCalibrationBuilder code around recently in #8276, but from what I can tell passing it just a `backend` rather than an `instruction_schedule_map` and `qubit_channel_mapping` has not been correct syntax recently (@patdenim's example).

[2022-09-09 16:45] wshanks commented on #8712
No, `defaults()` is a method that returns a `PulseDefaults` object, like here:

https://github.com/Qiskit/qiskit-terra/blob/e8001f5448fa9de980858e490d045ca3535a8498/qiskit/providers/fake_provider/fake_pulse_backend.py#L24-L33

`defaults()` was not in V1 or V2 but was in the V1 pulse fake backends (and is in the real V1 and V2 IBM backends), so I was not sure if it was a V1 feature or a pulse featu

[2022-09-09 16:47] jakelishman commented on #8712
Let me leave this for @mtreinish when he's back next week - I'll probably just get more things mixed up and not help anything.

[2022-09-09 17:42] dalin27 opened #8723 "Unable to assign new parameters to controlled-U gates"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.9.2
- **Operating system**:  Windows

### What is happening?

The `assign_parameters` method of the `QuantumCircuit` class does not seem to work when the parameters to be substituted are part of a controlled-U gate.

### How can we reproduce the issue?

Input:
[code]

Output:
[code]

At this point, everything is fine. Here

[2022-09-09 19:22] aeddins-ibm opened #8724 "small improvement to DAGCircuit.replace_block_with_op()"
### What should we add?

Short version:
- Add the line `return new_node` to the end of `DAGCircuit.replace(block_with_op)`.

Details:
`DAGCircuit.replace_block_with_op(block, op, ...)` internally creates a `new_node` containing `op`, and replaces the `block` of DAG nodes by this `new_node`.

I think `replace_block_with_op()` should return `new_node`. (Currently there is no `return` statement). Thi

[2022-09-09 19:40] woodsp-ibm commented on #8693
As you gave a thumbs to my prior comment I will assume the question/matter is solved, so I am closing this.

I will finally however note that if you use a gradient with VQE then the gradient computation does not go through its objective function and the callback will reflect each iteration as you expected.

[2022-09-09 19:40] #8693 closed

[2022-09-09 20:01] jakelishman commented on #8724
This sounds very sensible to me. Would you be able to make the PR for it?

[2022-09-10 05:10] jiayu-shen commented on #8693
Thank you so much! Your explanation makes sense to me. Yes, the question was solved. I further checked the source code of ADAM and VQE. Without using the gradient argument in VQE, with the ADAM optimizer, the first evaluation is at the center, then consecutively at n_params points in all directions of the parameter space by eps. Each step's evaluation is passed into the VQE callback function. The

[2022-09-10 06:59] BramDo commented on #8594
Classes (with repr) list update

Quantumcircuits
- QuantumCircuit
[code]
- QuantumRegister
- Gate
- Controlled Gate

[code]
 Primitives
- Sampler
[code]
- EstimatorResult

DAGcircuit
- DAGCircuit

Quantuminformation
- Operator
- Pauli
- Pauli_list
- Paulitable
- Pauli_bases
- Statevector
- DensityMarix

Transpiler Target
- Target
- Instructionproperties

Transpiler Passmanager
- Passmanager
- Pass

[2022-09-10 07:38] #8700 closed

[2022-09-10 08:43] #8506 closed

[2022-09-10 11:53] woodsp-ibm commented on #8693
That last plot used to look like a curve - is there really a point in it. I noticed that it seemed empty and just assumed it did not plot for some reason. Hopefully it ran more than one point and stopped, then plotted that. The optimizer itself always works with the objective function for each iteration. There is also a callback on the scipy optimzers - you could also see what is happening using t

[2022-09-10 14:44] woodsp-ibm opened #8725 "Sampler fails to produce expected results when re-used"
### Environment

- **Qiskit Terra version**: Main branch
- **Python version**: 3.9
- **Operating system**: Linux

### What is happening?

Sampler produces incorrect result when running multiple ccts. When converting Amplitude Estimator FAE to primitives the problem was noticed. FAE runs different non-parameterized ccts in an interative loop.

### How can we reproduce the issue?

The sample code sh

[2022-09-10 19:55] jiayu-shen commented on #8693
Thank you. There is actually a single point on that last plot. The plot does not set the marker, so it may not display. The center of the energy axis of the "empty" plot is at that final energy value.

I will raise another issue with more details.

[2022-09-10 20:24] jiayu-shen opened #8726 "VQE callback with gradient in some cases only records a single iteration"
### Environment

- **Qiskit version**: 0.37.2
- **Qiskit Terra version**: 0.21.2
- **Qiskit Aer version**: 0.10.4
- **Python version**: 3.9.0
- **Operating system**: macOS Big Sur 11.6.4

### What is happening?

When gradient is passed into VQE, with some combinations of grad_method and the optimizer, only a single iteration is passed into the callback function of VQE.

### How can we reproduce th

[2022-09-11 04:15] poig commented on #8587
It works with no error pops up with qiskit-terra 0.21.2, I guess the bug is already fixed in the latest version already, thank you.

[2022-09-11 04:28] #8587 closed

[2022-09-11 18:13] #8713 closed

[2022-09-12 03:25] t-imamichi commented on #8725
Thank you for the report. It occurs because quantum circuits with different parameters may have the same id. Here is more simple example to show circuit id collision. It means that id is not sufficient distinguish circuits. We need better way immediately, @ikkoham.

[code]

output (python 3.9.14 on macOS 12.5.1)
[code]

output (python 3.10.6, macOS 12.5.1)
[code]

[2022-09-12 03:32] t-imamichi commented on #8725
#8604 resolves this issue

[2022-09-12 13:24] patdenim commented on #8587
The error with PassManager([RZXCalibrationBuilderNoEcho(backend)] is still present to me
I'm using version {'qiskit-terra': '0.21.2', 'qiskit-aer': '0.10.4', 'qiskit-ignis': None, 'qiskit-ibmq-provider': '0.19.2', 'qiskit': '0.37.2', 'qiskit-nature': '0.4.4', 'qiskit-finance': '0.3.4', 'qiskit-optimization': '0.4.0', 'qiskit-machine-learning': '0.4.0'}
same error message using auckland ("Calibrati

[2022-09-12 14:00] wshanks commented on #8587
@patdenim Your example is not a valid use of `RZXCalibrationBuilder` because it requires an `InstructionScheduleMap`:

https://github.com/Qiskit/qiskit-terra/blob/fdb62bea1eac6822b96e8dcd2fe19e7aee10027e/qiskit/transpiler/passes/calibration/builders.py#L105-L127

I think the error message is misleading, though maybe it is helpful in a larger flow where those arguments can not be supplied.

The cod

[2022-09-12 14:28] patdenim commented on #8587
@wshanks Ouch, my mistake. Was using a bad code RZXCalibrationBuilderNoEcho(backend) instead of RZXCalibrationBuilderNoEcho(instruction_schedule_map=inst_map, qubit_channel_mapping=channel_map)
Sorry again.  Thks

[2022-09-12 14:44] enavarro51 opened #8728 "Deprecate `qiskit.visualization.pulse` and move `pulse_v2` to `pulse`"
### What should we add?

Currently the `qiskit.visualization` directory contains `pulse` and `pulse_v2` subdirectories. `pulse` is the legacy pulse drawer and was superseded by `pulse_v2` a couple of years ago. Since `pulse` is no longer needed, it makes sense to remove the current `pulse` files and change `pulse_v2` to `pulse`. The open question is how to do this. The `pulse` directory has 3 modu

[2022-09-12 15:23] mtreinish commented on #8676
I think this fundamentally an issue with scipy 1.9.x which changed their build system. It was trivial to build scipy <1.9 from source without the meson build system, I haven't tested what's involved to build it from source using newer versions. My guess is you can try doing something like `pip install scipy<1.9.0` and see if that build succeeds as that just worked out of the box (albeit a bit slow

[2022-09-12 15:46] jwoehr commented on #8676
Thanks for the tip, @mtreinish ... I'll try that later this week.

[2022-09-12 16:37] ewoutvandenberg opened #8729 "Qubit stop time"
### Environment

Latest Qiskit Terra version (v.0.21.2)

### What is happening?

In the  qubit_stop_time function, the maximum stop time is returned when all qubits are flagged as completed (current line 4971). If one of the provided qubits only has delays on it, this condition is never satisfied and zero will be returned at the end of the function. The stop time of two qubits, one with gates and

[2022-09-12 16:40] jakelishman commented on #8729
Please can you provide a minimal code example that shows this function not working as you expect, and what output you would expect to receive from it?

[2022-09-12 17:11] ewoutvandenberg commented on #8729
import qiskit

circuit = qiskit.QuantumCircuit(2)
circuit.x(0)

durations = qiskit.transpiler.InstructionDurations([('x',(0,), 80, 'dt')])
transpiled = qiskit.transpile(circuit,
                              initial_layout=[0,1],
                              basis_gates=['x'],
                              optimization_level=0,
                              scheduling_method='asap',

[2022-09-12 18:01] nkanazawa1989 commented on #8712
[Here](https://github.com/Qiskit/qiskit-ibm-provider/blob/06490ab5ccfabc1ceae79bc3e8ba3f8bb82296fa/qiskit_ibm_provider/ibm_backend.py#L714-L735) the real IBM V2 backend reports `.defaults()` object. Indeed, this is a bug/missing feature in terra's fake provider because these backends are basically the mirror of IBM backends, not a generic V2 backend -- I'm fine with not reporting `.defaults` in [p

[2022-09-12 18:21] mtreinish commented on #8712
Right, `.defaults()` is explicitly not part of the v2 api and we shouldn't be adding it to v2 backends. The reason the IBM provider implementation has it is primarily for backwards compatibility, to provide user code a migration path from v1 to v2, from the ibm provider perspective a user was using their backend objects with v1 in an older release and migrating to v2 if those methods didn't exist

[2022-09-12 18:39] taalexander opened #8730 "Conditional Measurement is not conditional when exported to OpenQASM 3"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.9
- **Operating system**:  OSX

### What is happening?

When exporting a circuit with a conditional measurement to OpenQASM 3 the measurement is not conditional.

### How can we reproduce the issue?

[code]

Gives

[code]

### What should happen?

Should give

[code]

[2022-09-12 18:59] BramDo commented on #8709
@jakelishman @kevinsung I used the proposed interface for the instruction to circuit class. It has now a fixed 2 qubit size.

[code]

I tested this function with CircuitInstructions, but these instructions are a bit long for a user. So I should make a more user friendly interface and use add.qubit function?
[code]

[2022-09-12 19:31] ewinston commented on #8630
@kdk Just saw this comment. Here's which passes might require special handling of blocks,

 *** SetLayout
    no
*** UnitarySynthesis
    no
*** Unroll3qOrMore
    no
*** TrivialLayout
    no
*** Layout2qDistance
    weight 2q distance for loop?
*** VF2Layout
    possibly
*** DenseLayout
    yes, for _build_error_matrix at least
*** FullAncillaAllocation
    perhaps since controlflow ops may appea

[2022-09-12 20:12] jakelishman commented on #8630
I'll handle all the trivial passes in a PR that I'll post tomorrow.

Just a note: `BarrierBeforeFinalMeasure` doesn't need to recurse in, because any measurements in a control-flow block can't be final measurements by the original definition.

[2022-09-12 20:28] jakelishman commented on #8730
This applies to all OpenQASM 3 built-ins.  Should be fixed by #8731.

[2022-09-13 01:35] jlapeyre commented on #8516
Thank you @sebastian-mair !

[2022-09-13 02:02] #8520 closed

[2022-09-13 07:02] nkanazawa1989 commented on #8712
This is what I misunderstood and this approach is sensible. One the other hand, in Qiskit Experiments, we need to write unittests with these fake provider's backends, and we must expect the same code works for the real backends from the IBM provider. So the change we will make locally should immediately propagate to IBM backends, and the updated model should be still architecture agnostic (note th

[2022-09-13 12:00] ahehn-nv opened #8735 "HHL.solve() doesn't use specified quantum_instance."
### Environment

- **Qiskit Terra version**: 0.21.2
- **Python version**: all
- **Operating system**: Linux

### What is happening?

`HHL.solve()` in qiskit/algorithms/linear_solvers/hhl.py constructs a quantum circuit qc, stores it in solution.state and calls `HHL._calculate_norm(self, qc)`.
This function performs an evaluation of the quantum circuit "qc" using qiskit's built-in StateVector simul

[2022-09-13 16:12] HuangJunye commented on #8574
@mtreinish volunteered to write the how-to guides for transpilers section

[2022-09-13 17:18] #8730 closed

[2022-09-13 17:41] woodsp-ibm commented on #8735
@anedumla Any comment on this one.

@ahehn-nv I will note that as from the upcoming release of Terra, in early October, HHL will be deprecated and later removed from Terra https://github.com/Qiskit/qiskit-terra/blob/bcec9a314c68d9412a89904701d45491a68a12c0/qiskit/algorithms/linear_solvers/hhl.py#L112-L114 The tutorial will have to be amended accordingly too.

[2022-09-13 18:59] jakelishman commented on #8716
From a Terra dev meeting today: we made the decision to move tweedledum to being an optional dependency. Terra 0.22, which will release in about a month, will still have it as a core requirement because we need to issue deprecation warnings, but it will be removed in 0.23.

In the mean time, I'll see if we can do anything about getting a macOS ARM wheel for tweedledum 1.1.1, and if not, I might be

[2022-09-13 21:54] mtreinish commented on #8716
FWIW, my normal suggestion in this case is to do something like `pip install --prefer-binary tweedledum qiskit-terra` which should install tweedledum from a precompiled binary along with terra.

@jakelishman environment markers are gonna be a bit tricky here, the easiest way would probably to have 2 entries in the requirements list something like:
[code]

[2022-09-14 00:06] taalexander opened #8739 "Drawing a circuit with idle_wires=False causes the circuit to break in future draw/qpy events"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.9.1
- **Operating system**: OSX

### What is happening?

When drawing a circuit with `circuit.draw(idle_wires=False)` the circuit is somehow mutated to fail on future drawing or qpy serialization events.

### How can we reproduce the issue?

Using the circuit below. Message for QPY file.

[code]

### What should happen?

Cir

[2022-09-14 00:17] jakelishman commented on #8739
The immediate cause of this is the circuit drawer doing `qubits = circuit.qubits` and then mutating its `qubits` list when deciding what to display.  The _root_ cause is that `QuantumCircuit` exposes its _private, mutable_ data store (`_qubits: List[Qubit]`) directly via the `qubits` property, which is what allows this kind of error to occur.

As a simpler example that's effectively the same behav

[2022-09-14 00:19] nonhermitian opened #8740 "Terra master causes kernel crash on M1 Mac, likely due to Rust components"
### Environment

- **Qiskit Terra version**: master
- **Python version**: 3.10
- **Operating system**: OSX 12.6 (rustc 1.64.0-beta.6 (25912c097 2022-09-09))

I had to rebuild the Rust components to include the recent rust-based Sabre mapper.  After doing so the Python kernel immediately crashes upon import `zsh: killed     ipython`.

I am assuming it is a Rust issue and/or the fact that there was

[2022-09-14 02:16] #8739 closed

[2022-09-14 05:05] The-Real-Thisas commented on #8716
Thanks @jakelishman , do let me know how I could help.

[2022-09-14 06:40] anedumla commented on #8735
@woodsp-ibm it must be a leftover from an older version of HHL and the part with the quantum instance was not updated - my bad.

I think one of the reasons I did not notice is that we are not really using it on real hardware, which is the reason it is being deprecated. At the moment I am working on moving it to the research repo - is there something else that needs to be amended in the tutorial ot

[2022-09-14 08:18] nonhermitian commented on #8740
It is likely not the toolchain update as an Intel mac works fine.

[2022-09-14 08:22] nonhermitian opened #8743 "Transpiler: Invalid plugin name for simple case"
### Environment

- **Qiskit Terra version**: master
- **Python version**: 3.10
- **Operating system**: osx

### What is happening?

[code]

gives:

`TranspilerError: 'Invalid plugin name stochastic for stage routing'`

### How can we reproduce the issue?

Run above

### What should happen?

This is a simple case that should give no errors

### Any suggestions?

_No response_

[2022-09-14 08:32] nonhermitian opened #8744 "QuasiDistribution and ProbDistrobution return integer keys"
### Environment

- **Qiskit Terra version**: master
- **Python version**: 3.10
- **Operating system**: OSX

### What is happening?

The keys for `Counts` are bit-strings corresponding to observed measurement values.  However `QuasiDistribution` and `ProbDistribution` are returning int keys.

### How can we reproduce the issue?

[code]

gives

[code]

### What should happen?

The keys should be bit

[2022-09-14 08:43] nonhermitian opened #8745 "Remove ProbDistribution"
### What should we add?

`QuasiDistribution` and `ProbDistribution` are from M3 and the latter was made so that it is explicit to users that one found the closest true probability distribution from a `QuasiDistribution`, a process for which it is hard to evaluate error bounds.  However, in the Runtime everything is a `QuasiDistribution` and thus it really makes no sense to have `ProbDistribution`

[2022-09-14 09:44] t-imamichi commented on #8744
I like the idea to store keys as bitstrings. We can then handle bitstrings with blank spaces. `QuasiDistribution` currently raises an error with bitstrings with blank spaces.

[code]

output
[code]

[2022-09-14 09:45] nonhermitian opened #8747 "Cannot run tox tests locally due to circular import error"
### Environment

- **Qiskit Terra version**: master
- **Python version**: 3.10
- **Operating system**: OSX

### What is happening?

Trying to run `tox -epy310 -- -n test.python.quantum_info` gives me:

 from qiskit.test.utils import generate_cases
  File "/Users/paul/Desktop/GitHub/qiskit-terra/qiskit/__init__.py", line 27, in <module>
    sys.modules["qiskit._accelerate.stochastic_swap"] = qiskit

[2022-09-14 10:02] nonhermitian opened #8749 "CI is failing with circular import error"
### Environment

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is happening?

In CI:

ImportError: cannot import name 'QuantumCircuit' from partially initialized module 'qiskit' (most likely due to a circular import) (/home/runner/work/qiskit-terra/qiskit-terra/qiskit/__init__.py)

### How can we reproduce the issue?

Run CI

### What should happen?

CI

[2022-09-14 11:13] jakelishman commented on #8749
I don't see any CI failures out of the expected?  The only CI failures in the last 6 hours have been in lint, except on your PR.

[2022-09-14 11:17] nonhermitian commented on #8749
Ehh this is my code.  For some reason #8748 leads to a circular, just didn't see it.  Sorry.

[2022-09-14 11:17] #8749 closed

[2022-09-14 11:17] nonhermitian commented on #8747
This is me again.  Sorry

[2022-09-14 11:17] #8747 closed

[2022-09-14 11:17] jakelishman commented on #8747
Your tox environment is probably slightly old after the Rust-ification.  If you add the `-r` flag to tox, it'll manually trigger an environment rebuild.  If you get problems around "no name in module", you might need to specify the environment variable `SETUPTOOLS_ENABLE_FEATURES=legacy-editable` while `tox` is rebuilding the environment (just set it in your own environment - tox will propagate it

[2022-09-14 11:23] jakelishman commented on #8740
As a brief check, does it work with a non-beta `rustc`?  If you installed from `rustup`, I think you can run `rustup override set stable` in the Terra repo root, and it should pull 1.63-stable instead.

(Given our Rust code is pretty simple and works on other platforms, it seems odd that it'd be our code, but who knows.  There's surface area for it to sneak it in the Python/Rust binding layer as w

[2022-09-14 11:49] nonhermitian commented on #8740
Many thanks for the pointer. That does indeed solve it. I guess I was on a beta channel from early M1 days. Funny that 1.62 beta failed, 1.64 failed, but 1.63 is good. The Goldilocks effect I guess.

[2022-09-14 11:49] #8740 closed

[2022-09-14 11:59] mtreinish commented on #8743
Yeah, this is a case of your local editable install having stale package metadata. When we added new entry points for transpiler plugins (in #8305) that added required metadata to the package. If you're using an old editable/development install when you pull the latest version the code expects the package metadata which isn't installed. As @alexanderivrii suggested you can just run `pip install` o

[2022-09-14 11:59] #8743 closed

[2022-09-14 12:08] nonhermitian commented on #8743
Just to be clear, I pull from main, update the rust inplace, and just work in the local dir. Is that not a valid way to work with Qiskit anymore?

[2022-09-14 12:25] jakelishman commented on #8743
In this case, there were more setuptools entry points added in Python space, so it needed a Python-space re-install as well.  Entry points are handled by the package metadata, and editable installs won't pick up changes to those - it's similar to the dependencies changes.

In general, yeah, just pulling changes should be sufficient if you've got an editable install.  If there's Rust changes, build

[2022-09-14 13:12] #8089 closed

[2022-09-14 13:38] nonhermitian commented on #8743
Ok this magically worked itself out somehow so no worries anymore.

[2022-09-14 14:40] nonhermitian commented on #8744
So I talked with @mtreinish a bit about this and it is really a design decision at the end of the day.  The data is really only useful in bit-strings, but the most efficient representation is as `int`.  As the systems get larger this will become more and more important.

Because we use `QuasiDistribution` as a generic object for both real- and true quasi-distributions one just needs to make sure t

[2022-09-14 14:45] nonhermitian commented on #8744
I am curious how we could still enable multiple register output from int storage though.  That seems to be nice to have for parity with `Counts`

[2022-09-14 15:03] woodsp-ibm commented on #8735
I did not know that the algorithm would be moved over - as you see from the deprecation notice we are referring to the textbook. But that uses this algo as part of it so maybe that will be updated to use what you are putting on qiskit-research and the deprecation  message can stay referring to the textbook via which people will see it on qiskit-research?

Are you also updating the HHL to use primi

[2022-09-14 15:26] woodsp-ibm opened #8754 "Sampler primitive and shots (number of samples) handling"
### What should we add?

In using the Sampler in algorithms some observations have been made around access to the number of samples (shots) which some want to control and/or read/use as part of their function.

At present algorithms are accessing `shots` (or trying to since it may not be there) from the `run_options` when provided with a BaseSampler instance. If a user has not configured shots int

[2022-09-14 15:46] jakelishman commented on #7883
Hi @Eriken79, sorry, I didn't see this at the time.

- `basis_gates` is a collection of strings in the singleton case
- for `initial_layout`, that's the sort of thing where I was suggesting using an alias above (e.g. `INITIAL_LAYOUT_TYPE = Union[Layout, Mapping[...], List[...]]`, and then the actual hint is `Union[None, INITIAL_LAYOUT_TYPE, List[INITIAL_LAYOUT_TYPE]]` - though you'd need to check

[2022-09-14 15:48] nonhermitian opened #8756 "plot_histogram should return counts not probs for y-value"
### What should we add?

`plot_histogram` is returning a plot of probability vs. bit-string.  However, this is not a true histogram that should be returning the discrete counts binned to the bit-string value.  It would be nice to have `plot_histogram` return an actual histogram.

This also comes into play when thinking about `Quasidistribution` objects that are actual distributions and may contain

[2022-09-14 19:06] taalexander opened #8758 "Transpiler is unable to map circuit with delay with V2 backend"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.9.1
- **Operating system**: OSX

### What is happening?

Attempting to transpile a circuit with a delay fails

### How can we reproduce the issue?

[code]

Gives `"Unable to map source basis {('delay', 1)} to target basis {'snapshot', 'x12', 'barrier', 'xprs', 'x', 'id', 'cx', 'sx', 'measure', 'rz', 'reset'} over library <qi

[2022-09-14 19:29] mtreinish commented on #8758
`delay` isn't in your `Target` for that backend. The transpiler is unable to convert a delay to anything since it's intrinsic operation so if the backend doesn't say it supports delay the transpiler will error because it has an instruction in the circuit it can't convert via an equivalence rule and the backend doesn't support. The backend implementation needs to add delay to the target for this to

[2022-09-14 19:30] mtreinish commented on #8758
This is how we fixed this in qiskit-ibm-provider: https://github.com/Qiskit/qiskit-ibm-provider/blob/bd9ec5180be8db51dc08d8314446e89d2c5f4cfa/qiskit_ibm_provider/utils/backend_converter.py#L135-L138 I assume qiskit-ibm-runtime is missing this

[2022-09-14 20:07] #8580 closed

[2022-09-15 04:19] #8725 closed

[2022-09-15 07:28] anedumla commented on #8735
Actually turns out that there is some pendant discussion as to which repo it should be moved, so will have to wait for that decision before updating the textbook.

Regarding the primitives - I was not aware QuantumInstace was going to be deprecated too, thanks for the notice. Will update that too once we decide where to put it.

[2022-09-15 20:01] #8505 closed

[2022-09-16 01:03] #8675 closed

[2022-09-16 09:44] san-gh commented on #8076
Hi @HuangJunye , if it's okay, may I work on this?

[2022-09-16 16:50] #7359 closed

[2022-09-16 18:06] dalin27 commented on #8723
I will provide a (hopefully) quick update.

The method `assign_parameters` receives a dictionary, and within that method, each pair (key, value) in the dictionary is treated separately by the method `_assign_parameters` (i.e. the parameter objects are assigned to their value one at a time). Here are the first few lines of the method `_assign_parameters`:

https://github.com/Qiskit/qiskit-terra/blo

[2022-09-16 22:02] mtreinish commented on #8667
https://github.com/Qiskit/qiskit-terra/pull/8767 should fix this. TBH, I'm kind of impressed the bug was there for as long as it was. The logic there was clearly wrong, both from what I assume the logic of the code was intended to be (and what I changed it to be) or from what the docstring says. From what I can tell that method has been there since for a very long time (since before I started work

[2022-09-18 03:50] mforbes opened #8768 "Bloch sphere representation does not correspond to underlying axes."
### Environment

- **Qiskit Terra version**: 0.21.2
- **Python version**: 3.9.13 (but issue is version agnostic).
- **Operating system**: Mac OS X (but issue is platform agnostic).

### What is happening?

The code in [`visualization.bloch.py`](https://github.com/Qiskit/qiskit-terra/blob/cdfd66ef2ea575d8c88606eaf4580714fba84d18/qiskit/visualization/bloch.py) hard-codes a rotation in the x-y plane

[2022-09-19 07:00] Aerylia opened #8769 "Add architecture aware re-synthesis transpilation passes"
It has been shown that, under certain conditions, it is more efficient to resynthesis parts of a circuit rather than attempting to route the circuit using SWAPs (https://arxiv.org/abs/1904.00633). It would be nice if the Qiskit transpiler contained one or more passes that do such a thing.

In particular, I would like to implement the PermRowCol algorithm (https://www.qplconference.org/proceedings2

[2022-09-19 08:40] 1ucian0 commented on #8594
A it late to the party. However, I strongly agree with @jakelishman and @mtreinish . A `QuantumCircuit__repr__` that can be `eval`ed is not practical.

[2022-09-19 08:44] 1ucian0 commented on #8769
Hello Arianne! This seems like a good way to pilot the [new transpiler plugin interface](https://github.com/Qiskit/qiskit-terra/pull/8305) and write an external plugin that can be added to the [qiskit ecosystem](https://qiskit.org/ecosystem/).

What do you think?

[2022-09-19 09:58] nonhermitian commented on #8594
I believe we went through this discussion before and the people in favor of following Python code styles won.  I advocated for much the same at that time because the scientific Python ecosystem is full of similar functionality.  Eg. NumPy:

[code]
SciPy,

[code]

that makes things useful to understand at the expense of making the PEP gods upset.  For circuits, I think something like @jakelishman p

[2022-09-19 10:40] nonhermitian commented on #8594
Demanding that a repr be evaled can also lead to unwanted large outputs.  Eg. the `Result`  repr easily blows up.  Try:

[code]

[2022-09-19 14:17] Aerylia commented on #8769
Hi Luciano! Yeah, that sounds like a great idea. I hadn't heard about the transpiler plugins yet.

Looking a bit closer at the existing code, the project would provide an alternative to `LinearFunctionsSynthesis` that takes a given topology into account and performs the synthesis up to permutation.
I have a few bachelor students working on implementing this as a software engineering project. So I

[2022-09-19 14:47] mtreinish commented on #8769
There is ongoing work on adding a new plugin interface for more general synthesizing higher level objects like linear functions as a dual of the unitary synthesis plugin interface. You can see that in progress here: https://github.com/Qiskit/qiskit-terra/pull/8548

If you have any thoughts on what that interface should look like please feel free to review the pull request and leave comments.

[2022-09-19 15:17] alexanderivrii commented on #8769
It would indeed be great to have additional linear and linear+phase resynthesis methods in Qiskit or in Qiskit ecosystem. As @mtreinish pointed out, the plugin interface from #8548 should in theory enable easy integration of such methods in Qiskit, but it probably misses some key features at the current stage such as `coupling_map`.

There is also a transpiler pass that collects blocks of CX and S

[2022-09-19 15:58] kdk opened #8771 "Add `scheduling_method='none'` option to disable scheduling stage"
### What should we add?

Similar to `routing_method='none'` from #5274 , there are cases where a user might want to ensure the transpiler's scheduling stage is _not_ invoked. While `scheduling_method` is generally opt-in, there are scenarios where the transpiler will implicitly trigger or require scheduling, for example when including a `Delay` instruction targeting a backend with non-unity `timin

[2022-09-19 17:04] wshanks commented on #8667
The example code I gave was a shortened version of something another user was having an unrelated issue with in Qiskit Slack. I asked to see the circuit and they shared it in QASM form so I converted back with `from_qasm_str`. Maybe the usual `QuantumCircuit` initialization (like just passing an int) sets up all the qubits and this issue is only encountered when doing something more complicated (l

[2022-09-19 18:29] mtreinish commented on #8667
Well you could trigger it with any circuit given the right conditions which depends on having a register that has a number of unused qubits and given the previous allocation where it add qubits loops from `len(layout)` (ie used circuit qubits). I'm guessing it's probably not come up because it needed people to have over allocated registers. But I'm not sure, either way it should be fixed in 0.22 a

[2022-09-19 18:32] BramDo commented on #8594
The repr function implementation as it is now being developed is of the style that  @jakelishman proposed like so:
[code]

However there are already classes that have a repr function. So I try to have for all the classes the same sort of setup.

[2022-09-19 23:40] chetmurthy opened #8772 "Speedup sparse matrix construction in SparsePauliOp"
### What should we add?

Just putting this at the top: link to qrusty: https://github.com/chetmurthy/qrusty

When constructing sparse matrixes from SparsePauliOp, the current code constructs a sparse matrix from each BasePauli (which is a string of form 'IIIXYZIZYIII') and then combines then in linear combination with complex coefficients.  This is inefficient and space-wasting on many levels:

1.

[2022-09-20 09:22] nonhermitian commented on #8772
While this is probably going to speed things up, it is likely not an ideal solution; you still have big matrices.  Rather, it is easy to directly compute matrix elements given a row and column index and a list of Paulis.  Thus you can do things like matrix-vector operations without constructing a matrix at all.  Generally these are known as "matrix-free methods"

[2022-09-20 09:35] chetmurthy commented on #8772
Two thoughts:
1. true enough, but you're suggesting a larger change in the way people write codes in this domain, where this issue is just trying to accelerate the codes as-is.
2. In  the case I mention with 24 qubits and 20k Pauli strings, computing the value of any particular matrix cell means computing whether each of those 20k Pauli strings contributes a nonzero value: while sure, you can do t

[2022-09-20 10:47] nonhermitian commented on #8772
It depends really.  But agreed that it is more work than modifying the current operators.

[2022-09-20 11:12] chetmurthy commented on #8772
I *am* curious how one might apply matrix-free methods to computing sparse-matrix x dense-vector product.  Musing on it, it seems like, you want to compute each row sparsely, which means executing the per-row algorithm I described in the issue text.  So you compute the 20k nonzero positions in the 2^24-length row, multiply by the value in the dense-vector for each one.  But in the instance, the 24

[2022-09-20 13:03] nonhermitian commented on #8772
So the basic idea follows Eq.4 from here: https://journals.aps.org/prxquantum/abstract/10.1103/PRXQuantum.2.040326

Namely given a `row` and `col` expressed as integers, you can convert them to their bit-string values and use those values to index the elements of each 1Q operator in the operator string.

Now ideally you would not do this for `I` because those do not matter.  In addition, one can u

[2022-09-20 15:09] ikkoham commented on #8772
In general, we would welcome the speedup with Rust as long as there are no API changes.

The bottleneck of the `SparsePauliOp.to_matrix()` method is the following line:
https://github.com/Qiskit/qiskit-terra/blob/5c19a1f34935cc0a230878fc67539af59cc0ab2a/qiskit/quantum_info/operators/symplectic/base_pauli.py#L434
I think it is easiest and most acceptable to rustify this line.

`SparsePauliOp`'s con

[2022-09-20 17:35] #8667 closed

[2022-09-20 21:42] mtreinish opened #8774 "Investigate porting unitary synthesis to rust"
### What should we add?

For level 3 compilation now, the unitary synthesis as part of the 2q block optimization ~becomes a large bottleneck~ (this was mostly supposition on my part looking at the profile we spend more time in consolidate blocks than synthesis) since we've moved layout and routing mostly to multithreaded rust code. To look at further speeding this up we should look at whether we c

[2022-09-21 03:14] chetmurthy commented on #8772
Hamamura-san,

1. Indeed, I first rustified that line, and it was worth a speedup.  But you still construct massive matrices for each Pauli string, only to "add them up" to get your matrix for the SparsePauliOp.

2. The next step is to observe that the "add them up" is a kind of insertion-sort (viewing each row of the matrix as a list of col/value pairs, adding two rows as vectors is like merging

[2022-09-21 03:27] chetmurthy commented on #8772
I'd like to continue to try to understand your proposal.  I'm going to describe what I think is the situation and hopefully I get it right.  I'm not saying you're wrong,  but rather, that I don't quite understand how to do this efficiently at the sizes we're contemplating.  I'm going to describe the ramifications of your observation/proposal, and if you think I've got it right, then I'll off and c

[2022-09-21 09:56] nonhermitian commented on #8772
Yeah, I forgot that the restriction to Paulis simplifies things a bit.

It is easy to compute each row given the form of the Pauli operator.  Expressing your row index in as a bit-string you can get the corresponding column value by flipping the bits that correspond to non-diagonal Paulis.  Computing the element value itself is linear in the number of qubits.

So then yeah, is it better to form a

[2022-09-21 11:10] mtreinish commented on #8774
One thought I did have is that we could do some of the work in parallel if we allow the synthesis function to take a list of unitaries as an input we can process them in parallel and then just loop over the results to build the circuits. Even if the evaluation doesn't get much faster by moving to rust doing multiple things in parallel can still provide a good speedup.

[2022-09-21 11:19] nonhermitian commented on #8774
The internals have quite a bit of intermediate numpy array creation and numerical operations. There is likely gains to be had by removing those. Not sure how big that is in the grand scheme of things though

[2022-09-21 16:32] chetmurthy commented on #8772
Ah,  well.  I was hoping for a little (ahem) hunting trip thru the land of code.  Oh, well.  Thank you for the sightseeing though!

[2022-09-22 08:32] rht opened #8778 "Float digits in QASM 2 and QASM 3 are not consistent"
### Environment

- **Qiskit Terra version**: latest main https://github.com/Qiskit/qiskit-terra/commit/007cc25bc44ad39955ff5ea8bfb988dff38c044b
- **Python version**: 3.10
- **Operating system**: Linux

### What is happening?

An example QASM 2 output of the `QuantumVolume` circuit with 3 qubits:
[code]

The same circuit but in QASM 3
[code]

Notice that the QASM 3 version has only 5 digits. This i

[2022-09-22 08:32] rht commented on #8778
I have confirmed that setting the `ndigits` to 8 in the QASM 3 exporter fixes the probability distribution discrepancy.

[2022-09-22 11:32] mtreinish opened #8779 "Speed up ConsolidateBlocks pass"
### What should we add?

When running a large `transpile()` (with 1k circuit qubits) with optimization level 3 a substantial amount of time, ~32%, of the compilation is spent in the `ConsolidateBlocks` pass. For something that's supposed to take a block of gates on 2 qubit and replace it with an equivalent `UnitaryGate` this is a larger portion of time than would normally be expected. Looking at t

[2022-09-22 11:38] jakelishman commented on #8779
A slight alternative of course is to speed up the `Operator` constructor path.  There's no real reason that we should be calling `QuantumCircuit.to_instruction` to handle circuits (which I'm pretty sure involves a deepcopy), and then unwrapping the instructions back down to its definition again.

That said, the extra overhead the `Operator` class has (in things like qargs construction, and so usin

[2022-09-22 17:55] Aerylia commented on #8769
Sorry it took a bit to get back to you.

Considering all the on-going projects, from which branch can we best start implementing this feature?

[2022-09-22 19:06] #8489 closed

[2022-09-22 23:44] #8488 closed

[2022-09-23 10:57] Sudeep09 opened #8782 "qiskit.algorithms.linear_solvers.hhl generates different euclidean_norm on different systems"
### Environment

Qiskit Software | Version
qiskit-terra | 0.18.1
qiskit-aer | 0.8.2
qiskit-ignis | 0.6.0
qiskit-ibmq-provider | 0.16.0
qiskit-aqua | 0.9.4
qiskit | 0.29.0
qiskit-machine-learning | 0.2.0

Python | 3.7.10
CPUs | 2
Memory (Gb) | 16.0

### What is happening?

The euclidean_norm calculated using the above environment yield different results on different operating systems and instances.

[2022-09-23 11:43] kevinsung opened #8783 "transpilation-related commands take extremely long time in Jupyter notebook"
### Environment

- **Qiskit Terra version**: 8a3e760ffaf6dcd06c0a0e04f13612fdefd9ab3c
- **Python version**: 3.9.13
- **Operating system**: Arch Linux

### What is happening?

In a Jupyter notebook, the following code cell sometimes takes a very long time (about one minute):
[code]

### How can we reproduce the issue?

The most consistent way I have found to reproduce this issue is to first execute

[2022-09-23 13:56] jlapeyre commented on #8783
I run your example on the command line (ipython): 1) the code that produces an error 2) The code that runs slow in Jupyter

The code does not run slow. It finishes in about 100 ms.  I am using Python 3.10.5 . Did you try the command line ?

[2022-09-23 14:05] kevinsung commented on #8783
No, I did not. Are you able to reproduce the issue in a Jupyter notebook?

[2022-09-23 14:14] jlapeyre commented on #8783
I'll try. I'm installing terra in a python 3.9 venv so I can test that.

[2022-09-23 14:20] jlapeyre commented on #8783
I do *not* see the slowdown in Jupyter. Still 100ms to execute the example after first running the code that errors.
* Python 3.10.
* Fedora Linux

[2022-09-23 14:56] jlapeyre commented on #8783
I **do** see the slowdown with the following

* Python 3.9.14
* Terra 8a3e760f
* Arch linux
* ipython 8.5.0, command line

If I change only the Python version to 3.10.5, I do **not** see the slowdown.

[2022-09-23 16:48] #8169 closed

[2022-09-23 16:48] #7513 closed

[2022-09-23 16:48] #8073 closed

[2022-09-23 18:35] kevinsung commented on #8783
This is very interesting. Thanks for the investigation @jlapeyre !

[2022-09-23 22:07] #8475 closed

[2022-09-23 22:07] #8481 closed

[2022-09-23 22:07] #8476 closed

[2022-09-24 00:24] #8479 closed

[2022-09-24 00:24] #8480 closed

[2022-09-24 00:24] #8482 closed

[2022-09-25 03:26] ajrazander opened #8786 "More realistic noise models for Fake Backends"
### Environment

- **Qiskit Terra version**:  0.21.2
- **Python version**: 3.8.8
- **Operating system**: Mac Darwin

### What is happening?

The simulated backends under qiskit.providers.fake_provider can have dramatically less noisy output than the actual backends. It can rather misleading at times.

### How can we reproduce the issue?

See the jupyter notebook in this PR: https://github.com/qisk

[2022-09-25 21:45] AGaliciaMartinez opened #8788 "Transpiler return instructions with different parameter types."
### Environment

- **Qiskit Terra version**: 0.21.2
- **Python version**: 3.10.4
- **Operating system**: Linux

### What is happening?

When using the `transpile` function, different gates get transpiled into Instructions with different parameter types. I am not sure if this is a bug or intended.

### How can we reproduce the issue?

Some gates, such as Hadamard gate, transpile into an instruction