[2022-04-10 13:17] stoicodin commented on #6616
I would like to work on it.

[2022-04-10 13:49] m-malinowski opened #7915 "DAGs imported from networkx cannot be drawn"

[2022-04-11 06:51] hamdav opened #7916 "SparsePauliOp does not yield correct results"
### Environment

- **Qiskit Terra version**:0.20.0
- **Python version**: 3.10.4
- **Operating system**: MacOS

### What is happening?

Two Z gates on the same qubit make the identity, not a single Z gate

### How can we reproduce the issue?

[code]

### What should happen?

Ideally, it should return
[code]

### Any suggestions?

_No response_

[2022-04-11 13:46] TakisAngelides opened #7976 "Eigenstate in result from compute_minimum_eigenvalue of a VQE object"
### Informations

- **Qiskit version**: 0.35.0
- **Python version**: 3.8.6
- **Operating system**: Windows 10

### What is the current behavior?
The eigenstate in the result object of compute_minimum_eigenvalue of a VQE object using statevector_simulator is given as an array which makes it impossible to know which basis state corresponds to which value especially since the length of the array for

[2022-04-11 14:15] jakelishman commented on #7916
Thanks for the report - it's good to know the limitations.

This isn't a supported operation as part of this convenience initialiser - we don't perform operator compositions as part of the object creation.  It would be slower for normal uses if we added checks for this, so I don't think it's something we'll want to support.

[2022-04-11 17:21] xiang-yu commented on #6880
Hi everyone,

When I tried to reproduce the Qiskit HHL tutorial (qiskit-terra  0.19.2) with A a 8 by 8 matrix, I got very different HHL solutions compared to the classical one.
https://qiskit.org/textbook/ch-applications/hhl_tutorial.html
Is this a bug?

Using the 8** matrix from the Qiskit HHl tutorial,
HHL solution= [-3.63250174e-04-0.00087696j -7.13722578e-05-0.00017231j
 -1.37749833e-04-0.0003

[2022-04-11 17:34] xiang-yu commented on #6880
Hi everyone,

When I tried to reproduce the Qiskit HHL tutorial (qiskit-terra  0.19.2) with A the 8 by 8 matrix, I got very different HHL solutions compared to the classical one.
[(https://qiskit.org/textbook/ch-applications/hhl_tutorial.html)]
**Is this a bug?**

Using the 8 by 8 matrix from the Qiskit HHl tutorial,
HHL solution= [-3.63250174e-04-0.00087696j -7.13722578e-05-0.00017231j
 -1.377498

[2022-04-12 04:44] #7659 closed

[2022-04-12 08:37] JaEhr opened #7920 "Transpilation of multiple circuits broken"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**:  3.9.5

### What is happening?

When multiple circuits are submitted to the transpile command, the following error appears:
[code]

### How can we reproduce the issue?

I used the following code:

[code]

### What should happen?

The transpiler should transpile each circuit and return a list of transpiled circuits.

### Any

[2022-04-12 09:12] anedumla commented on #6880
It seems it has to do with the default Hamiltonian simulation from qiskit. If you use instead

[code]

It returns the right solution:
[code]

The difference between calling HHL with TridiagonalToeplitz or an array is that the former implements an efficient circuit and the latter calls qiskit's unitary circuit, i.e.:
[code]

So it seems there is a bug somewhere - you could open an issue. Thanks for

[2022-04-12 09:33] JaEhr opened #7921 "Incomplete modification of configuration for mock backends"
### Environment

- **Qiskit Terra version**:  0.20.0
- **Python version**: 3.9.5

### What is happening?

The configuration of the Fakebackends is missing the "pulse_alignment" information needed for the new way of dynamical decoupling.
[code]

### How can we reproduce the issue?

[code]

### What should happen?

The dictionary entry should be returned

### Any suggestions?

_No response_

[2022-04-12 11:38] jakelishman commented on #7920
This error is strange - it looks very like an error we've previously fixed. Please could you show us the version of `symengine` you have installed?

[2022-04-12 11:49] JaEhr commented on #7920
I have symengine version 0.8.1 installed. I just saw that there is a new version released about two months ago. I will try to update and then rerun the transpilation

[2022-04-12 12:38] mtreinish commented on #7920
Yeah, this error is caused by running with symengine < 0.9.0. We raised the minimum requirement on symengine in 0.20.0 to `symengine >= 0.9`. If for some reason pip isn't handling that and upgrading symengine for you you'll face an error like this with an older version of symengine.

[2022-04-12 12:45] mtreinish commented on #7921
I expect this is because the data snapshot for `FakeLima` was made before `pulse_alignment` and any timing constraints were being returned by the ibm quantum api. The only way to fix this is to update the snapshot JSON in repo for the device. You can do that with the https://github.com/Qiskit/qiskit-terra/blob/main/tools/update_fake_backends.py script and open a pr to update the snapshot.

[2022-04-12 13:49] mtreinish commented on #7915
Honestly, I'm thinking it's time that we deprecate and prepare to remove the networkx converters for the dagcircuit. We originally had them when we first switched to use retworkx because the api functionality was more limited. But, I'm not sure there is much value in having them anymore as retworkx can do a lot more than 2 years ago and we can quickly add any functionality its missing. Is there a

[2022-04-12 13:54] JaEhr commented on #7921
I may try next week to do this due to easter vacation - if noone else has done it by then

[2022-04-12 15:51] xiang-yu opened #7926 "HHL algorithm returns incorrect answer with matrix >= 8*8"
### Environment

- **Qiskit Terra version**: 0.19.2 (or 0.20)
- **Python version**: 3.9.6
- **Operating system**: MacOS Catalina 10.15.7

### What is happening?

When I tried to reproduce the Qiskit HHL tutorial [(HHL)](https://qiskit.org/textbook/ch-applications/hhl_tutorial.html) with A the 8 by 8 matrix, I got very different HHL solutions compared to the classical one.

Here is the result,
Usin

[2022-04-12 16:00] xiang-yu commented on #6880
Many thanks for your reply @anedumla. I have now opened an issue on HHL. I have done many tests with random Hermitian matrix with different sizes (4*4, 8*8, 16*16, 32*32) and they all returned incorrect answers. Could you @anedumla please point to the code (e.g., qc.unitary) where I can try to fix it?

[2022-04-13 07:43] anedumla commented on #7926
I will reply directly here your question from #6880 . In the HHL class the call happens in line 367
[code]
This calls `qiskit.algorithms.linear_solvers.matrices.numpy_matrix`, and then the call happens in line 216:
[code]

That calls the class `qiskit.extensions.unitary`. Let me know if you have more questions!

[2022-04-13 13:26] nkanazawa1989 opened #7932 "Pulse `limit_amplitude` is confusing"
### What should we add?

The class variable `limit_amplitude` in `Pulse` base class controls validation of max pulse amplitude. According to how test is written, likely this is designed as a global variable.

https://github.com/Qiskit/qiskit-terra/blob/a735680f69f7a2e2757dddbedf09f6d7c6a5e692/test/python/pulse/test_pulse_lib.py#L85-L93

However, the every pulse subclass constructor takes `limit_am

[2022-04-13 13:35] nkanazawa1989 commented on #7932
Likely we have this configuration class. I'm not sure if this mechanism can update values at run time, especially with unit tests where multiple workers may run different tests with different `limit_amplitude`.
https://github.com/Qiskit/qiskit-terra/blob/a735680f69f7a2e2757dddbedf09f6d7c6a5e692/qiskit/user_config.py#L24-L35

[2022-04-14 11:43] m-malinowski commented on #7915
Hi. Yeah, I see where it's coming from. In my view, networkx is a handy tool for interacting with DAGs flexibly. I'm playing around with some custom transpilation methods, and as a beginner, using networkx means I can find a lot of examples / tutorials / discussion online. But I see where you're coming from, and you might not want to support this kind of usecases.

From my perspective, it would be

[2022-04-14 14:16] jakelishman commented on #7932
I don't have opinions on this, but I remember being confused about it too when I came across it.  That said, I think it is both a class variable _and_ and instance variable; if `limit_amplitude` is passed to a constructor then it's set as an instance attribute, which overrides the class-level attribute on lookup, but doesn't actually change the value:
[code]

[2022-04-14 14:44] omarshehab opened #7937 "ValueError: Duplicate key "statevector" in save instruction."
### Environment

- **Qiskit Terra version**: 0.18.1
- **Python version**: 3.9.5 (default, May 18 2021, 12:31:01) [Clang 10.0.0 ]
- **Operating system**: Darwin

### What is happening?

When I try to run SWAP test, I see the `ValueError: Duplicate key "statevector" in save instruction` error.

### How can we reproduce the issue?

Run the following code.

[code]

You will see the following error:

[

[2022-04-14 16:14] nonhermitian commented on #7714
I am going to close this as there is probably too much friction to change this, and I have worked around it.

[2022-04-14 16:14] #7714 closed

[2022-04-14 16:15] nonhermitian commented on #5923
Closing as stale

[2022-04-14 16:15] #5923 closed

[2022-04-14 16:15] nonhermitian commented on #5924
closing as stale

[2022-04-14 16:15] #5924 closed

[2022-04-14 16:16] nonhermitian commented on #6408
I think this is fixed with the VF2 mapper layout finder.

[2022-04-14 16:16] #6408 closed

[2022-04-14 16:20] mtreinish commented on #6408
It does fix it for level 1, but we don't enable `VF2Layout` on `optimization_level=0` because the typical expectation for that is you just want the trivial layout (it doesn't even use `DenseLayout` by default).

[2022-04-14 16:28] Slavikmew opened #7939 "HHL - linear system solver - doesn't work for particular matrix"
### Environment

- **Qiskit Terra version**: '0.19.2'
- **Python version**: 3.7.6
- **Operating system**: Windows 10   21H2  19044.1586

### What is happening?

When I run HHL algo for Toeplitz 3-diagonal matrix, I get wrong solution vector norm and AbsoluteAverage observable value

Matrix parameters:
num_state_qubits = 2 (i.e. 4x4 matrix)
main_diag = 1.5
off_diag = 2.5

HHL values:
(careful - use

[2022-04-14 18:38] woodsp-ibm commented on #7939
@anedumla Any comment here?

[2022-04-14 18:54] #7847 closed

[2022-04-14 22:58] jakelishman commented on #7937
It looks like you're using a pretty old version of Terra (and probably Aer) from your information at the top - the latest version of Terra is 0.20.  Could you see if the error is reproducible on more recent versions?

On my side, I couldn't reproduce the error with Terra 0.20.0 and Aer 0.10.4, though I did need to insert a `transpile(swap_test_circuit, backend)` because the chosen simulator doesn'

[2022-04-15 00:07] jakelishman commented on #7903
Thanks for the report - there's plenty of places where the OQ3 exporter fails right now, but it's a shame that the error message here wasn't more helpful.

I've made #7942 that actually adds support for exporting delays to the built-in OQ3 statement.

[2022-04-15 00:42] #2959 closed

[2022-04-15 11:01] Slavikmew commented on #7939
I guess I came up with an explanation.

lambda_min is used for delta constant definition, which in turn is used as a scaling factor in ExactReciprocal function.
In current example lambda_min is much bigger than it should be in correct implementation, that's why scaling factor in ExactReciprocal is bigger too. It means that for all eigenvalues which absolute values are smaller than lambda_min we ge

[2022-04-15 13:35] woodsp-ibm commented on #7939
If this issue is sorted for you then feel to close this and raise it it a new issue if its not directly related.

[2022-04-18 17:02] nkanazawa1989 commented on #7932
Ah, that's good point. I changed the constructor in #7821 so that it always interact with class variable (otherwise serialization logic becomes terrible). But I think this is still not enough. I'll add deprecation warning in this release.

[2022-04-18 17:15] javabster commented on #7629
Hi @saktar-unr I believe Lauren explained in the description that:

so if there are tests that use LORange and LOConfig you can probably replace with that. Also if you remove the classes then you can also remove the tests for those classes 😄

[2022-04-18 17:18] javabster commented on #6616
Assigned to you @stoicodin, let us know if you have any questions and remember to co-author if you use the code in #6648  😄

[2022-04-18 17:22] javabster commented on #2306
reassigned to @smturro2 due to no response from @abzsd 😄 Let us know if you need any assistance @smturro2! You can review the snapshot testing instructions in the [contributing guidelines](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md#snapshot-testing-for-visualizations) for guidance on mpl testing

[2022-04-18 20:45] xiang-yu commented on #7926
Thanks a lot for pointing me to the problem @anedumla . I have looked at the code but couldn't come up with a solution right away. It would be very helpful if your @anedumla  or other Qiskit experts could have a look this issue.

[2022-04-18 20:46] pranavm1502 opened #7961 "Transpiled circuit with optimization level 3 is not equivalent to the original circuit"
### Informations

- **Qiskit version**:
{'qiskit-terra': '0.19.2', 'qiskit-aer': '0.10.3', 'qiskit-ignis': '0.7.0', 'qiskit-ibmq-provider': '0.18.3', 'qiskit-aqua': None, 'qiskit': '0.34.2', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}

- **Python version**:
Python 3.10

- **Operating system**:
Mac OS Monterey 12.3.1

### What is the

[2022-04-18 22:59] #7667 closed

[2022-04-18 23:50] jakelishman opened #7950 "`SabreSwap` can reorder operations that depend on the same classical bit"
### Environment

- **Qiskit Terra version**: main @ ef997f9
- **Python version**: any
- **Operating system**: any

### What is happening?

`SabreSwap` can re-order measurement operations (and probably classically conditioned gates) that write to the same classical bits.  This affects optimisation level 3 by default, since it uses sabre to route if nothing else is provided.

I am 95% sure this is t

[2022-04-19 00:26] jakelishman commented on #2645
I believe the above failure is related to #7950 and potentially fixed by #7952.  I think this is the same failure that I was seeing above (https://github.com/Qiskit/qiskit-terra/issues/2645#issuecomment-1041876128) too.

[2022-04-19 01:39] #7500 closed

[2022-04-19 01:39] #7911 closed

[2022-04-19 10:10] JaEhr commented on #7920
I just found out that there was a symengine package installed incorrectly which was not updated with the main qiskit code, thus leading to the error. now everything works fine. Thanks for your support.

[2022-04-19 10:10] #7920 closed

[2022-04-19 13:53] mtreinish commented on #7950
I think you're correct here. The other routing passes work over the dag in topological order directly (well typically they either use `dag.layers()` or `dag.serial_layers()` which the first step is to do a topological sort and iterate over that) which will respect classical wire edges in the dag. Since sabre does the layer generation as it iterates over the dag we should be looking at successor no

[2022-04-19 19:57] #7950 closed

[2022-04-20 00:51] jakelishman commented on #7961
Thanks for the report!

This particular case is the exact same behaviour that causes #7341, where discussion seems to have stalled a little bit.  The trick is that the synthesis routines in the transpiler have some approximations turned on by default (whether or not they should be doing that is another question...).  You can work around the issue by setting `approximation_degree=0` in the call to

[2022-04-20 01:50] pranavm1502 commented on #7961
Thanks Jake! Setting the `approximation_degree=0` indeed solves the problem.

I would suggest that by default it should always be set to zero until the issue is resolved. Incorrect transpilation on a 5 CNOT 2Q circuit sounds like a bad default setting.

[2022-04-20 04:32] jakelishman commented on #7707
This might not be the _only_ case of an infinite loop in the algorithm, but I'm confident that I understand how it happens here, and I've produced a minimal circuit for which `SabreSwap` _immediately_ enters an infinite loop from which it can provably never escape no matter how the pass is seeded:
[code]
The relevant coupling map is a line in the same order the qubits are displayed in the drawing.

[2022-04-20 04:35] jakelishman commented on #7707
I have several modifications to the heuristics that would always allow it to progress eventually, but with the extra parameters in `looping_circuit` above, I can make all of them either take factorial (I think) amounts of memory to detect or require exponential time to make progress.

[2022-04-20 04:42] jakelishman commented on #2645
These two test failures are showing something going wrong with the simulation method - looks like somehow or another we're passing gates to Aer that it doesn't support.  It's likely surfacing now because #7945 removed an extra transpilation step (via `execute`) that will have ensured the basis gates were correct for the simulator.

[2022-04-20 04:55] jakelishman commented on #7707
Oh, I'm actually slightly wrong in the docstring of `looping_circuit` above - it's not _a priori_ stable against the weighted of the extended set heuristic additions, but with a suitably large `additional_local_minimum_gates` you can make it stable against a weighting that becomes arbitrarily close to zero.

The requirement to have _four_ outer gates right now is because of our particular choice o

[2022-04-20 09:52] roman-shap opened #7964 "qasm3 exporter wrong placement of `input` declaration"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.8.13
- **Operating system**: macOS Monterey 12.3.1

### What is happening?

When exporting parametrized `QuantumCircuit`s with custom gates to a QASM3 string, the exporter wrongly places the circuit's `input` declaration after the `gate` declarations, which is not according to the OpenQASM3.0 grammar - IO declarations shou

[2022-04-20 10:29] y4izus opened #7965 "Create a how-to guide example on terra"
On Qiskit docs 2.0 we would like to divide documentation in different types using the [diataxis framework](https://diataxis.fr/). For that, we are creating how-to guides in each Qiskit repo.

[2022-04-20 12:25] jakelishman commented on #7864
Oversubscribed VM, nothing to worry about for us.

[2022-04-20 14:07] HuangJunye commented on #7838
@mtreinish What would you suggest to replace the old `FakeBackendV2` class? Should I choose one of the fake IBM Quantum systems to replace it, e.g. `FakeMumbaiV2`? And use a `FakeBelemV2` to replace the usage of `FakeBackend5QV2`?

[2022-04-20 14:34] HuangJunye commented on #7838
I decided to use `FakeManilaV2` which has 5Q qubits to replace `FakeBackendV2`, `FakeBackend5QV2` and `FakeBackendSimple`. One thing I am not sure is how to deal with `FakeBackendV2LegacyQubitProps`.

https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/test/mock/fake_backend_v2.py#L103-L109

[2022-04-20 14:37] Slavikmew commented on #7939
So, to solve this issue I added a PR https://github.com/Qiskit/qiskit-terra/pull/7968

[2022-04-20 19:11] smturro2 commented on #2306
Hi @javabster thanks for assigning the issue. There seems to be tests in the snapshot testing for many of the functions in state_visualization. Was there specific tests in mind?

[2022-04-20 20:29] kevinsung opened #7969 "Backend configuration coupling map should be compatible with methods that take a coupling map"
### What should we add?

Retrieving the coupling map from a backend returns a list instead of a CouplingMap. This means it cannot be passed to some methods that accept a coupling map, which is very surprising. See example below.

[code]
[code]

[2022-04-20 20:41] mtreinish commented on #7969
The passes explicitly take a `CouplingMap` object as an input which is the connectivity graph object for the transpiler. The object  is also how most passes which look at the connectivity graph need as it's actually a retworkx graph object underneath. That being said this is already fixed in `BackendV2` which is the current version of the backend interface, it doesn't do the list attribute from th

[2022-04-21 11:09] nonhermitian commented on #7707
I know there is a fix already, but I am curious if this is fixed by perturbing the coupling map weights like Stochastic swap does?  The circuit above has degenerecies due to the symmetry that might be making it hard to decide where to go next.

[2022-04-21 14:46] jakelishman commented on #7707
If you re-perturb the coupling map at every iteration of the swap algorithm, I think you could overcome the infinite loop like this (if the perturbations are sufficiently large), but if it's done only once at the beginning of the run, I think you'd probably still get stuck in the same manner.

The reason it gets stuck is that the "lookahead" heuristics that `SabreSwap` uses to improve its output c

[2022-04-21 16:00] #7707 closed

[2022-04-21 17:39] jakelishman commented on #7964
Thanks for the report!  I'll fix this in the Terra exporter, though we've just missed the window to get it into Terra 0.20.1 that should release later today.  I'll target it for 0.20.2 in 2-3 weeks' time.

It's a bit questionable why the current reference grammar forbids this ordering of `input` and `gate` statements (I'm not sure any actual implementations have the same restriction), but it's a b

[2022-04-21 19:06] #7903 closed

[2022-04-21 23:01] danperazzo opened #7975 "MCRZ gate does not alllow to bind parameters"
### Environment

- **Qiskit Terra version**:  0.19.2
- **Python version**:  3.8
- **Operating system**:  Windows 10/Ubuntu 20.04

### What is happening?

If I use the multi-controlled Z gate rotation I cannot use parameter binds to run a circuit. It fails to create the QOBJ.

### How can we reproduce the issue?

[code]

### What should happen?

If we ran the code, the exped result would be the cou

[2022-04-22 00:56] #7502 closed

[2022-04-22 09:54] HuangJunye commented on #7838
@mtreinish Having a deeper look at the different classes of these fake backends.

`FakeBackendSimple` is only used in https://github.com/Qiskit/qiskit-terra/blob/main/test/python/algorithms/test_backendv2.py and https://github.com/Qiskit/qiskit-terra/blob/6aacabd99122be2c2d59ef29655217db6ab33f0f/test/python/providers/test_backend_v2.py#L68-L71 so I can probably replace it with a fake V2 IBM Quantu

[2022-04-22 10:15] roman-shap commented on #7964
Thanks for the quick reply and fix!
Indeed I don't know why the current grammar cares about the ordering.
In any case, the openqasm3 [parser](https://github.com/Qiskit/openqasm/blob/main/source/openqasm/openqasm3/parser.py) also conforms to the current grammar, namely it expects the IO declarations to come before the gate declarations.

[2022-04-22 14:29] #7939 closed

[2022-04-22 14:55] woodsp-ibm commented on #7939
Ah ok, I guess I missed that the PR was not set to auto close this. The reference to the issue needs to include one of the recognized keywords - so just for reference in case its of help https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2022-04-22 16:38] aniken04 commented on #7883
Hi @nonhermitian, just checking to see how this is going, I would like to try my hand with this issue if thats fine with you?

[2022-04-22 17:59] ajavadia commented on #7296
if you do `transpile(circuit, basis_gates=['h', 'cx'])` then the circuit gets simplified.

most of the passes are based on synthesis and synthesis over swap is not supported (since it's not entangling). But if you give any other basis it will work. (cx or cz or whatever)

[2022-04-22 19:07] jakelishman commented on #7883
@aniken04: the current actionable part of this issue is to update all the type hints in the manner I'd described in my comment above.  The other discussion here is more about design choices that we can't immediately change without breaking compatibility for users, but that's separate to the original issue.  If you'd like to work on the type hints, let me know and I'll assign you.

(On the subject

[2022-04-22 21:43] jakelishman commented on #2645
#7980 should fix the issues mentioned in my last comment, which are the same as the most recent failure.

[2022-04-23 02:07] aniken04 commented on #7883
Hey @jakelishman, I'd love to work on the type hints if that's fine!

[2022-04-23 03:44] jakelishman commented on #7883
Thanks, I've assigned you, and let us know if you've got questions!

[2022-04-23 05:41] dtmcclure commented on #6230
I arrived here after spending an embarrassing amount of time trying to figure out why my code using `marginal_counts` wasn't working as expected. Like @nonhermitian, I had assumed that it would respect the ordering I passed in `indices`, especially since the [documentation](https://qiskit.org/documentation/stubs/qiskit.result.marginal_counts.html) still indicates that it expects a list, not a set,

[2022-04-23 22:14] code-review-doctor opened #7981 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/Qiskit/qiskit-terra/blob/6aacabd99122be2c2d59ef29655217db6ab33f0f/qiskit/algorithms/optimizers/spsa.py#L620
https://github.com/Qiskit/qiskit-terra/blob/6aacabd99122be2c2d59ef29655217db6ab33f0f/qiskit/transpiler/passes/scheduling/alignments/pulse_gate

[2022-04-24 09:05] ravidalon opened #7983 "Avoid parameter assignment in `circuit_to_instruction` when there are no parameters"
### What is the expected enhancement?

The [`circuit_to_instruction`](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/converters/circuit_to_instruction.py#L86) function calls the method [`QuantumCircuit.assign_parameters`](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/quantumcircuit.py#L2382) with the explicit argument `inplace=False`. This is the expected behavior, since

[2022-04-24 14:01] ajavadia commented on #6230
Yeah this sounds good to me @dtmcclure

[2022-04-24 17:30] #7964 closed

[2022-04-25 11:27] jakelishman commented on #7981
This bot leaves no "unsubscribe" link. We don't appreciate automated bots being set on our repository without our consent or control. Please do not do this.

[2022-04-25 11:27] #7981 closed

[2022-04-25 13:19] jakelishman commented on #7983
This is a good point, thanks.  I wonder if we'd actually be better inverting the order of the whole `circuit_to_instruction` function - build up the definition first, and then call `QuantumCircuit.assign_parameters(instruction.definition, inplace=True)`. I think that ought to involve fewer allocations in both cases, without needing the extra login in `circuit_to_instruction` to skip `assign_parame

[2022-04-25 13:30] jakelishman commented on #2645
The most recent two failures seem to be flaky timings.  My initial suspicion is that it's something to do with #7912, which made building some properties of the backends lazy and pushed the timings into the actual run methods, but only on the first run.  We still care about the timings not taking _too_ long on the whole, so perhaps the best solution is to ensure the tests warm up the code paths fi

[2022-04-25 17:21] JeanPaulLatyrFaye opened #7985 "an efficiency bug in synthesis."
### Environment

{'qiskit-terra': '0.18.0', 'qiskit-aer': '0.8.2', 'qiskit-ignis': '0.6.0', 'qiskit-ibmq-provider': '0.15.0', 'qiskit-aqua': '0.9.4', 'qiskit': '0.28.0', 'qiskit-nature': None, 'qiskit-finance': '0.3.1', 'qiskit-optimization': '0.3.1', 'qiskit-machine-learning': '0.3.1'}

### What is happening?

/home/jean.paul/anaconda3/envs/qiskit_env/lib/python3.9/site-packages/qiskit/transpiler

[2022-04-25 17:28] jakelishman commented on #7985
Hi there - thanks for reporting this!

In this case, you're running quite an old version of Terra (0.18.0, but the current release version is 0.20.1).  This particular issue looks like something we fixed in either 0.19, so hopefully just upgrading your version of Terra should be enough to fix this.

[2022-04-25 18:03] JeanPaulLatyrFaye commented on #7985
Hi,Thank you that solve the problem!
----------------- Jean Paul

    Le lundi 25 avril 2022, 13:28:41 UTC−4, Jake Lishman ***@***.***> a écrit :

Hi there - thanks for reporting this!

In this case, you're running quite an old version of Terra (0.18.0, but the current release version is 0.20.1). This particular issue looks like something we fixed in either 0.19, so hopefully just upgrading your v

[2022-04-25 18:05] #7985 closed

[2022-04-26 02:17] taalexander commented on #6943
I can confirm that this is still an issue.

[2022-04-26 12:24] Cryoris commented on #7976
We currently have the statevector since that's the most general result type if using a statevector. Converting that into a dictionary would lose information since we convert amplitudes into probabilities. However it's true that currently you get different result types depending on the type of simulator, which might be unexpected...

If you want to obtain probabilities from the statevector you coul

[2022-04-26 12:30] Cryoris commented on #7916
Hmm this is definitely not great though. In case the composition check is too expensive we could maybe check if an index is repeated and raise a warning.

[2022-04-26 12:33] jakelishman commented on #7916
That's essentially the same thing, and I'm not sure it's something we should support - it costs too much for non-bug use-cases because we also need to build up a set to check index uniqueness.  I'd just document "the qubit indices must be unique" and leave it at that.

[2022-04-26 13:18] hamdav commented on #7916
Ah, okay... warning on `[("ZZ", [0,0], 1)]` is just a single if statement, but warning on `[("Z", [0], 1), ("Z", [0], 1)]` would require building a set. Still though, it's only linear in the number of qubits, and I would guess that both the string manipulations and the `PauliList` are more computationally expensive

[2022-04-26 13:26] jakelishman commented on #7916
In your first case, it's not just a single if; we'd need to keep track of which indices we'd seen before to distinguish `("IZ", [0, 0])` from `("Z", [0])` - we can't just use `"I"` as a test for "no value", because it's a valid value of itself.  If we were to use a single if, we'd have to add another iteration through the list of components to replace the missing-value sentinel with `"I"` before b

[2022-04-26 13:58] hamdav commented on #7916
We can kinda ignore it though because `("IZ", [0, 0])` would actually give the right result anyway, so there is no need to warn. But I see your point about a thousand papercuts.

Ah yes, my mistake. Then it really is fixable by adding a single if statement, if you agree with my comment above.

[2022-04-26 14:30] ajavadia opened #7986 "rethink unitary synthesis plugin"
### What should we add?

Currently there is a `unitary_synthesis_method` argument to `transpile()` which switches the decomposition method when unitaries are encountered in the circuit.

But I think we need to split 1q vs. 2q vs. generic unitary synthesis. This may lead to too many args. So I'm fine dropping the arg and allowing alternative way to specify desired methods, as I explain below.

But

[2022-04-26 14:40] ajavadia commented on #6943
let's just remove the `RemoveResetInZeroState` pass. It's kind of pointless I think. I think what it's doing is valid but don't see much use for it.

[2022-04-26 14:43] srulre opened #7987 "Explicitly state that coupling map forms a directed graph"

[2022-04-26 14:56] derhagen commented on #7631
One more workaround I found was this one:

[code]

[2022-04-26 15:01] jakelishman commented on #7916
That's a good point that it doesn't actually affect the outcome.

My personal view is that the best course of action is to document the behaviour as "repeated indices within a single item overwrite previous occurrences" and not to do the test. I'm generally in favour of setting up the interface to avoid needing additional checks that affect speed for correct usage.  I think if we made it "warning

[2022-04-26 17:21] #7181 closed, assigned to nobody

[2022-04-26 21:22] kdk commented on #7812
As a first proof of concept, maybe we can look at supporting a layout/routing algorithm like the one described in https://arxiv.org/pdf/2102.08451.pdf , which unrolls to three qubit Toffoli gates prior to layout and routing, and then tries to choose the best Toffoli decomposition available for the given placement. That should help us surface anywhere in the transpiler we're assuming two-or-fewer q

[2022-04-27 08:26] #5729 closed

[2022-04-27 08:26] #7043 closed

[2022-04-27 09:05] #7617 closed

[2022-04-27 11:31] dlasecki opened #7988 "Trotterization - evaluate observables at intermediate time steps."
In the current version of Trotterization, if the user provides observables/auxiliary operators to be evaluated on a quantum state, it only happens at the end of the evolution. It was suggested by @Cryoris to also have an optional setting to evaluate them at intermediate time steps.

[2022-04-28 01:55] aeddins-ibm opened #7993 "parameterize PauliGate()"
### What should we add?

Would be useful to be able to initialize `PauliGate()` with a `Parameter`, which can later be bound to specify whether the `PauliGate` is `I`, `X`, `Z`, or `Y`. Multiqubit Paulis could be nice too.

For example, a parameterized `PauliGate` would facilitate building circuits with random/variable Paulis where one may need to generate a large number of circuit instances that

[2022-04-28 12:57] nonhermitian opened #7998 "changes to coupling map from backend change the instance attribute as well"

[2022-04-28 16:13] kevinsung opened #7994 "Pulse durations are calculated incorrectly due to floating point error"
### Environment

- **Qiskit Terra version**: 04807a13a7ba53d97c37bb092324e419296e3fba
- **Python version**: 3.9.12
- **Operating system**: Arch Linux

### What is happening?

Pulse durations sometimes get computed incorrectly due to floating point error.

### How can we reproduce the issue?

The exact pulse calibrations that have this issue seem to vary with time. However, I have found that at lea

[2022-04-28 18:36] aeddins-ibm commented on #5518
Just to add motivation to this old issue, I think I'm hitting the same problem when trying to simulate a noisy circuit by adding a multiqubit quantum channel to a circuit. For my use case this is simpler than building the error into a `NoiseModel`.

I'm using Aer's `pauli_error()` to define a 3+ qubit error instruction, and including that in a circuit, and later want to transpile the circuit. But

[2022-04-28 19:11] #7998 closed

[2022-04-28 20:20] nkanazawa1989 commented on #5518
Thanks for finding this. Indeed current design of pass manager is against the spirit of backend agnostic. Perhaps analyzing basis gates and conditionally inserting the unroll3Q pass is reasonable solution?

[2022-04-28 20:25] mtreinish commented on #5518
Yeah unroll3q or more should be basis and target aware. We shouldn't be unrolling gates in the target even if they're > 2q. The caveat here is we'll have to make sure that layout and routing can handle a 3q gate in the circuit. The reason that pass runs first by default is because layout and routing only works with 1q and 2q operations. This connects with https://github.com/Qiskit/qiskit-terra/iss

[2022-04-29 16:36] richrines1 opened #7999 "QPY fails to deserialize some `ControlledGate`s"
### Environment

- **Qiskit Terra version**: 0.20.1
- **Python version**: 3.8.12
- **Operating system**: Ubuntu 20.04.4

### What is happening?

QPY successfully serializes circuits containing instances of `ControlledGate`, but deserialization fails when `ControlledGate.__init__(...)` is called in `_read_instruction` with e.g.:
[code]

### How can we reproduce the issue?

[code]

### What should h

[2022-05-01 08:23] 1ucian0 commented on #5236
With a lot of help from @mrossinek , here is the way to reproduce this issue with `'qiskit-terra': '0.21.0.dev0+ce4f94d', 'qiskit-aer': '0.10.4',  'qiskit-nature': '0.3.2'`. Thanks!

[code]
[code]

[2022-05-01 08:33] #7631 closed

[2022-05-01 08:33] 1ucian0 commented on #7631
Issue moved to [Qiskit/qiskit-aer #1516](https://github.com/Qiskit/qiskit-aer/issues/1516) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-01 14:59] daiki0623 opened #8006 "Enable operator scalar multiplication from left side in quantum_info"
### What should we add?

Implement `__mul__` method for class `qiskit.quantum_info.operators.MultiplyMixin`.

Operator class can't execute left scalar multiplication.
For example,  operators class should be able to execute both `-1j * Op` and `Op * -1j`, but it cannot the latter now.

So in order to calculate `Op * -1j`, `__mul__` method need to be used.

[2022-05-02 14:46] javabster commented on #2306
ah yes I see what you mean @smturro2! By checking the link to the coverage report I can see there are still quite a few lines (highlighted in red) that don't have test coverage. Some of these could be covered by more snapshot tests (e.g. adding another snapshot test with different arguments) and others could be covered by regular unit tests (e.g. I see a lot of the lines that raise errors are unco

[2022-05-02 21:11] rishacha opened #8014 "Get Hadamard Basis as output in the draw function?"
### What should we add?

Is it possible to visualize the latex state in the Hadamard Basis instead of the normal Computational Basis. In the state_vector.draw(output='latex'), can a basis param be added to visualize it in Hadamard basis instead of computational.

Please excuse if this is already implemented. Is there already a workaround present for this? I want to deal with Dirac notation and the

[2022-05-03 06:02] Snuag opened #8015 "Use of .to_gate() function"
![image](https://user-images.githubusercontent.com/100287263/166410288-a5213260-df1a-46ef-97d4-7da5b30244bd.png)

I am new to this field. I have seen using .to_gate()  function in Deutsch Dozsa Algorithm and searched for it but haven't really understood the exact use after googling. Can anyone help me out

[2022-05-03 09:02] jakelishman commented on #8015
This is an instance method on the `QuantumCircuit` class.  It lets you build up a custom gate by constructing a circuit, and then turn the resulting circuit into a `Gate` object, which you can add to a larger circuit with `QuantumCircuit.append`.  For example:
[code]

In general, you're better asking this sort of question [in our public Slack channels](https://ibm.co/joinqiskitslack) - this is a b

[2022-05-03 09:02] #8015 closed

[2022-05-03 09:16] jakelishman commented on #8014
We don't currently support this, and there isn't a particular workaround as things stand because the drawers all just use the internal memory of the statevector, which is stored in the computational basis, and generate the ket labels for the indices of each data element.

I'm somewhat hesitant about this feature, because it would be quite specific to this one drawer and might have a messy interfac

[2022-05-03 09:44] jakelishman opened #8017 "Non-deterministic test failures in CI `test_layout_tokyo`"
### Environment

- **Qiskit Terra version**: main @ a3188f5
- **Python version**: any
- **Operating system**: any

### What is happening?

I've seen the same test failure on CI for Windows with Python 3.7 on two different PRs now: #7902 and #7995.  The CI logs look like:
[code]

### How can we reproduce the issue?

Run CI, but it seems to be non-deterministic.  I've seen the same test case go thro

[2022-05-03 09:51] jakelishman commented on #2306
I don't think we actually catch the snapshot tests in the coverage report - all the snapshots are in `test/ipynb`, but the coverage report just runs `stestr run`, which only looks in `test/python`.  So we actually probably have slightly better coverage than it looks like we do, but we're not detecting it.

That said, we're definitely under-testing the visualisation modules, so any further efforts

[2022-05-03 10:33] mtreinish commented on #8017
I'm wondering if this is related to #7862, that added a new heuristic scoring to adjust the layout after routing and I could see the score having some we floating point precision sensitivity (which I always think of when I see windows failures like this).

[2022-05-03 10:40] jakelishman commented on #8006
For context: this was originally a design choice when the operations were first added in #5617, because at the time `*` was overloaded twice, once with `dot`.  Since #7291, that's no longer an issue, and similar to #7502, we're now in a position to allow this re-definition.

[2022-05-03 15:24] HuangJunye opened #8018 "`dtm` in `FakeBackendV2` should be in seconds not nanoseconds"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

The configuration file stores `dtm` in nanoseconds while `BackendV2` interfaces defines `dtm` in seconds.

https://github.com/Qiskit/qiskit-terra/blob/d692bb74a660d21b1fa8019d0b0efcce3c7f31d7/qiskit/test/mock/fake_backend.py#L170-L177

Related to a similar issue for `dt`: https://git

[2022-05-03 16:00] mtreinish commented on #7914
Taking a quick look at this most of the time is being spent dealing with pulse defaults. Importing `test.python.providers.test_fake_backends`:

![Screenshot_2022-05-03_11-56-38](https://user-images.githubusercontent.com/2447371/166490291-7631bb5f-3655-464c-bc24-b34f3032503b.png)

is spending most of the time constructing the pulse objects for the default calibrations in the `Target`. We either nee

[2022-05-03 16:02] 1ucian0 opened #8020 "CommutationAnalysis needs to be refactored"
in 2018, #1500 introduced `CommutationAnalysis` pass. The pass does the trick while working with `CommutativeCancellation`. However, there are some aspects that are not very well covered and I think it is time to sit again with it and think it over again. Here there are a list of the problems:

## property `commutation_set` is a messy dict

The property `property_set['commutation_set']` is a non-u

[2022-05-03 16:08] jakelishman commented on #7914
Probably we need to solve it more at the source, otherwise we're going to make life more difficult for downstream providers as well - they'll be forced into a design model where they (at least) construct their `Backend` instances lazily when requested through `get_backend`, rather than letting them build a cache on `Provider` instantiation.  Probably that's not _so_ huge, but it's an annoyance in

[2022-05-03 16:40] sanketsharma commented on #2429
This created another issue.
[code]

Thus when I am trying to bind parameters, it complains.

[code]

[2022-05-03 16:55] jakelishman commented on #2429
This is a very old issue, and the new report isn't caused by this.

In this case, this is a deliberate design choice, as mentioned above.  Parameters are not _meant_ to be equal if they have the same name, in part to prevent accidental issues when multiple circuits happen to use parameters with the same name.  You should use the same parameter instance:
[code]
rather than constructing it new each

[2022-05-03 16:59] jakelishman commented on #8017
This isn't just limited to Windows - #7995 has had the same failure on the macOS Python 3.10 run.

[2022-05-03 17:07] jakelishman commented on #7993
We can't realistically support this as the problem is stated, sorry, and definitely not through the `Parameter` model of computation.  `Parameter` stands in for a floating-point value (sometimes it's complex, but even those cases are buggy), and trying to fit in an integer-like parameter or some other discrete form would play havoc in handling it across the project.

I also don't entirely see how

[2022-05-03 17:48] #7634 closed

[2022-05-03 20:00] aeddins-ibm commented on #7993
Thanks for the explanation. Sounds like my suggestion is probably not the way to go then, and the use-case is eventually on the road map, so I'll close this issue for now.

I didn’t totally understand your comment that the Pauli couldn’t remain parameterized during the transpile (probably because I’m ignorant of how Parameters work under the hood). In case I missed anything, or if it’s of any use

[2022-05-04 11:21] jakelishman commented on #7993
To explain a little more with the current state: there are a few parts of the transpilation process, and while "unknown Pauli gate" will work with one or two early stages, it will quickly fail after that.  The rough pipeline is:

1. synthesise many-qubit gates down to 1q or 2q
2. lay out problem onto physical qubits
3. route gates onto physical qubits
4. translate all gates to machine basis
5. opt

[2022-05-04 13:45] #5518 closed

[2022-05-04 13:57] mtreinish commented on #8017
So this is definitely being caused by the `VF2PostLayout` pass looking at the azure test analytics the first failure occured during devlopment in #7862 and it's only failed since that merged. Talking this over with @jakelishman I think the source of the failure is the `time_limit` parameter on the pass. If we get a particularly slow CI node the test is likely hitting the time limit before the pass

[2022-05-04 16:35] HuangJunye commented on #8017
I am seeing the same failure for macOS as well for #8019

https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=36226&view=logs&j=998b1daf-b09e-5b0a-40b3-d5ad4c922884&t=28418b6d-5c6b-55e9-3c92-2f6f10cd0d9a&l=16697

[2022-05-04 18:10] #8017 closed

[2022-05-04 21:05] #8018 closed

[2022-05-05 14:08] kevinsung opened #8025 "Error converting EvolvedOp to instruction"
### Environment

- **Qiskit Terra version**: cffbb849344a501be624a75e64dcf757a41a6921
- **Python version**: 3.9.6
- **Operating system**: RHEL 8.5

### What is happening?

Attempting to convert an EvolvedOp to an instruction raises `ExtensionError: 'Input matrix is not unitary.'`

### How can we reproduce the issue?

[code]
[code]

### What should happen?

It should work.

### Any suggestions?

Ap

[2022-05-05 21:38] mtreinish commented on #6230
@dtmcclure I hope you don't mind, but I just pushed up #8026 to do this, I was looking at speeding up the function generally anyway and it was easy to do fix this at the same time. For backwards compatibility reasons I opted to make the version that respects the index order a separate function because changing that in place would be a breaking api change that could disrupt existing users (it break

[2022-05-05 22:11] aeddins-ibm opened #8027 "X gate expressed as U gate cannot transpile to stabilizer basis"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.8
- **Operating system**: MacOS

### What is happening?

Transpiler fails to compile circuit to stabilizer basis unless nominally unrelated gates (`rz` and `sx`) are in basis.

### How can we reproduce the issue?

[code]
<img width="604" alt="image" src="https://user-images.githubusercontent.com/60495383/167032971-17a3fd52

[2022-05-05 22:50] aeddins-ibm commented on #8027
similarly feels like transpiling `rz(pi)` to `z` should be possible without defining custom basis translation rules?
<img width="606" alt="image" src="https://user-images.githubusercontent.com/60495383/167037568-8e2fddf9-4970-40f9-87b9-cff933fdc98e.png">

[2022-05-06 03:09] Snuag commented on #8015
Thank you.Sure,  I will post such questions on slack from next time!

[2022-05-06 09:39] rishacha commented on #8014
I want to help implement this but I don't know where to start. Can I take some time and try this out from my side?

[2022-05-06 09:44] jakelishman commented on #8014
Yeah, absolutely - I'll assign you so others know you're working on it, but don't feel any time pressure.  Please ask questions if you have them, and one of the community team or I will help out.

[2022-05-06 14:54] CatPleb opened #8028 "quantumCircuit.draw( ) unable to compile latex in jupyter notebook"
### Environment

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.9.5
- **Operating system**: Windows 10 Version 1607
- Jupyter Notebook: Jupyter-core 4.7.1, ipykernel 5.3.4

### What is happening?

The circuit drawer does not compile the latex code but instead throws an error using Jupyter Notebook:

WARNING Unable to compile latex...
...
CalledProcessError: Command '['pdflatex', '-halt

[2022-05-06 15:09] jakelishman commented on #8028
This sounds likely to be some issue related to your LaTeX installation - for what it's worth, my local install can compile the original LaTeX code fine.  Are you able to share more of the LaTeX error you see?

[2022-05-06 17:02] Cryoris commented on #8025
The `EvolvedOp` is only representing an object which still needs to be evolved. So you'll have to convert it using an `EvolutionBase` before you can ask for the circuit/convert it to an instruction. For example
[code]
So this behavior is actually expected, but we definitely should improve documentation if it differs from the behavior you expected 🙂

[2022-05-06 18:18] kevinsung commented on #8025
The following code works, and returns a matrix representation of the exponentiated operator:
[code]
According to [the documentation](https://qiskit.org/documentation/stubs/qiskit.opflow.evolutions.EvolvedOp.html), `to_matrix_op` and `to_instruction` are both supposed to return an object "equivalent to this Operator":
![image](https://user-images.githubusercontent.com/4296166/167194382-4fe4a7a9-185

[2022-05-06 18:35] rtindru commented on #1237
None of these links are working anymore :(

[2022-05-07 09:13] weucode opened #8036 "Circuit is failed to visualize or execute when adding a cx gate with `label`=1"
### Informations

- **Qiskit version**:0.36.1
- **Python version**:3.7.4
- **Operating system**:Windows

### What is the current behavior?
Assigning an Integer value `1` to the argument `label` of `cx` gate will cause abnormal behavior.

### Steps to reproduce the problem
If I assign an Integer value `1` to the argument `label`, Qiskit fails to draw the circuit and throws an `AttributeError`. It c

[2022-05-09 02:06] ikkoham commented on #7916
Initialization with the same index should not be allowed and should be explicitly compose (@).
The issue is whether to check for errors (/warning) or just document it.

Since this is a difficult behavior for users to find wrong cases, I think it would be better to make it Error. I don't think it would be that so costly to check if it is already assigned (i.e., not I) [here](https://github.com/Qisk

[2022-05-09 07:43] jakelishman commented on #8006
Closed by #8007.

[2022-05-09 07:43] #8006 closed

[2022-05-09 13:06] AlbertJP opened #8030 "CircuitSampler error for TensoredOp measurement"
### Environment

- **Qiskit Terra version**: 0.20.1
- **Python version**: 3.8.10
- **Operating system**: Ubuntu 20.04.3 in WSL2 (Windows 10 21H2)

### What is happening?

I am trying to sample a circuit containing two tensored measurements on a state: a circuit measurement (containing just an isometry) and a PauliSumOp measurement.

See below for the script. This is a print of the state function i

[2022-05-09 21:12] taketakeyyy opened #8032 "Excercises no working, and suggestions to Statevector class."
### Environment

- **Qiskit Terra version**: 0.20.1
- **Python version**: 3.10.4
- **Operating system**: Windows 10

- Others
  - qiskit-aer: 0.10.4
  - qiskit-ignis: 0.7.0
  - qiskit-ibmq-provider: 0.19.1
  - qiskit: 0.36.1

### What is happening?

Exercises not working due to Statevector class not accepting slices.

### How can we reproduce the issue?

Go to https://qiskit.org/textbook/ch-algori

[2022-05-09 21:36] chargen opened #8033 "High density sample vectors in binary (raw statistical entropy)"
### What should we add?

**High density sample vectors in binary**

I released these sample files are derived from a generator that derives high statistical entropy.

``
                                                           _ ,/""',Y''''
                                                      ,_ _\\'   _Y|
                                       __,___,. _/-/"    __.__  /'

[2022-05-10 09:25] AlbertJP commented on #8030
FWIW: making a SummedOp (instead of TensoredOp) of a CircuitMeasurement and an OperatorMeasurement is not a problem.

[2022-05-10 14:25] #8036 closed

[2022-05-10 16:38] Cryoris commented on #8030
Thanks for the report! Is there a reason you want to tensor the measurements instead of creating a measurement operator of the tensored operators (i.e. what you suggested in your second comment)?

[2022-05-10 16:50] Cryoris commented on #7916
I agree raising an error would be good. For performance we could also add a `do_checks` flag or so that is `True` per default but can be turned off if you know that you're strings are valid? 😄

[2022-05-10 16:52] Cryoris commented on #8032
We'd have to adjust the docs too but I think supporting slices is a nice feature! However @chriseclectic or @ikkoham might have an opinion as they know quantum info well 🙂

[2022-05-10 17:50] Kwasniok opened #8039 "violation of iterator protocol for Statevector"
### Environment

- **Qiskit Terra version**: 0.20.1
- **Python version**:  3.10.4
- **Operating system**:  Linux version 5.17.5

### What is happening?

When iterating over a Statevector in a foor loop, data is attempted to be accessed after the last element.

### How can we reproduce the issue?

[code]
Leads to
[code]

### What should happen?

EITHER:
- disallow `iter` resp .remove `__iter__` (i.

[2022-05-10 17:50] jakelishman opened #8040 "`SabreSwap` can throw away classically conditioned gates and all successors"
### Environment

- **Qiskit Terra version**: main @ 7726d4704
- **Python version**: any
- **Operating system**: any

### What is happening?

The `SabreSwap` transpiler pass can sometimes remove classically conditioned gates from the circuit, and all their successors, whether or not the successors have classical conditions.

This is (I believe) the cause of the current failures in the randomised te

[2022-05-10 18:06] jakelishman commented on #2645
The failures between my last comment and this comment are, I think, caused by #8040 and should be fixed by #8041.

[2022-05-10 18:17] jakelishman commented on #8039
Removing `__iter__` actually doesn't disable iteration, which is where the bug really comes from: `Statevector` already doesn't define `__iter__`, and wasn't originally intended to be used in iterable contexts.  The problem is that Python "helpfully" tries to make any class that supports `__getitem__` into an iterator by just trying successive integers in its `__getitem__` until that method raises

[2022-05-10 19:14] Kwasniok commented on #8039
Thank you @jakelishman! I did not know about this implicit rule. It explains the surprising behavior very well.

[2022-05-11 00:05] nonhermitian opened #8043 "Approximation degree should be zero by default"
### What should we add?

There have been several instances where having the transpiler `approximation_degree` nonzero by default has caused trouble. eg see #7961 and #7341.  This has once again become a problem as it took me a long time to understand why my circuits were not the same across several backends even though all the seeds in the transpiler were set.  As a consequence I was getting odd r

[2022-05-11 00:42] taalexander opened #8044 "marginal_counts cannot marginalize over previously Result object in main branch"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.9
- **Operating system**:  OSX

### What is happening?

The `marginal_counts` function is failing with error `ValueError: invalid literal for int() with base 2: ''`

### How can we reproduce the issue?

Execute

[code]

### What should happen?

Code should execute successfully and marginalize the counts.

### Any suggestions

[2022-05-11 03:11] rathishcholarajan opened #8045 "Deprecate circuit_indices and observable_indices and replace with circuits and observables"
### What should we add?

Deprecate `circuit_indices` and `observable_indices` in the primitive base classes and reference implementation and replace them with actual `circuits` and `observables`.

Both indices and actual circuits and observables should be supported.
`circuits=[0, 1, 2]` or `circuits=[qc]*3`
`observables=[0, 1, 2]` or `observables=[H1]*3`

https://github.com/Qiskit/qiskit-terra/tre

[2022-05-11 03:34] nrhawkins commented on #7987
I am looking for a first issue.  Could I work on this?

[2022-05-11 08:05] AlbertJP commented on #8030
Do you mean something like `StateFn(op_1 ^ op_2, is_measurement=True)`?

[2022-05-11 09:47] AlbertJP commented on #8030
This doesn't work either. If I replace line 20 by this:

```state_fn = StateFn(StateFn(x0_circ) ^ StateFn(op), is_measurement=True) @ StateFn(state)```

the same error appears.

[2022-05-11 09:51] nonhermitian commented on #8043
To see why this is a mess, consider the following graph that shows heavy outputs from a single QV32 circuit that has been transpiled at O3 100 times:

![image](https://user-images.githubusercontent.com/1249193/167817022-d42b556d-a335-4492-a835-76eaae1026ec.png)

One sees that the best results (just worry about blue dots here) are at the largest number of CX gates.  This is quite counter intuitive,

[2022-05-11 10:38] t-imamichi commented on #8045
FYI: Hamamura-san is developing a PoC of a decorator approach to allow objects as indices. #8035

[2022-05-11 11:07] jakelishman commented on #8044
The issue is with the marginalisation of the memory - for some reason, we're doing everything on strings rather than `int`, and for non-zero indices, the representation of 0 was becoming `""` instead of `"0"`, causing a later conversion (via `int` again!) to fail.  Should be a pretty trivial fix - done in #8047.

[2022-05-11 13:23] weucode commented on #8036
Thanks for your reply!I still have no idea about why it failed in simulation step,can you give me some advice?

[2022-05-11 13:27] jakelishman commented on #8036
The simulation likely succeeded, except you asked for the counts and there's no `measure` instructions in your circuit.  There's only counts if you measure something into the classical bits.  If you do something like
[code]
and then do your transpilation and `simulator.run` call, I think you'll get back what you expect.

[2022-05-11 13:38] weucode opened #8048 "A translation about `initialize` from qiskit in OpenQASM cannot translate back into qiskit"
### Environment

- **Qiskit Terra version**: 0.36.1
- **Python version**: 3.7.4
- **Operating system**: Windows

### What is happening?

After got the OpenQASM code about `initialize` operator, it will fail to use `from_qasm_file/from_qasm_str` to translate it back into qiskit code.
Part of error message is shown below:

### How can we reproduce the issue?

from qiskit import QuantumCircuit

circu

[2022-05-11 13:51] weucode opened #8050 "An interesting behavior when use `initialize` operator with different `optimization_level`"
### Environment

- **Qiskit Terra version**: 0.36.1
- **Python version**: 3.7.4
- **Operating system**: Windows

### What is happening?

When initialize the qubits in a circuit as follows,it will fail to simulate with `optimization_level=0,1`,and fail to transpile with `optimization_level=2`,and run successfully with `optimization_level=3`.The reasons are as follows.

When `optimization_level=0,1`

[2022-05-11 16:12] alejomonbar opened #8052 "tox is not working properly in MacBook pro chip M1"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: Python 3.9
- **Operating system**: MacOS Monterey Version 12.3.1 Chip:M1

### What is happening?

When trying to contribute I couldn't execute the command 'tox' to test the changes of a new pull request. They only work on some CPUs.

### How can we reproduce the issue?

executing on MacBook with M1 Chip.
on terminal run tox

[2022-05-11 16:27] mtreinish commented on #8052
I'm fine with adding markers to the requirements-dev.txt list for jax and jaxlib to avoid it getting installed on platforms where it doesn't work. We already do that for windows because jaxlib doesn't have precompiled binaries for it.

That being said I just checked the jaxlib page on pypi and there are arm64 wheels available: https://pypi.org/project/jaxlib/0.3.10/#files so I'm not sure what the

[2022-05-11 18:50] jakelishman commented on #7987
Absolutely, thanks!  I'll assign you so others know you're working on it.  Feel free to ask questions here, and one of the community team will help you.

[2022-05-12 09:54] jakelishman commented on #8028
It's odd that the existing form doesn't work for you, but if removing the redundant line breaks fixes things, I feel like that's something we could teach Terra's visualisation modules to do.

I wonder if your failures are related to your version of `qcircuit.sty` or `xypic.sty` in your TeXLive installation - I see you've got TeXLive 2017, but my version of `qcircuit.sty` is dated 2018-04.  Perhaps

[2022-05-12 14:01] weucode commented on #8036
I'm very sorry that I gave the wrong program,the real program that will cause `QiskitError` is as follows:

[code]

[2022-05-12 15:50] kevinsung opened #8057 "bad type annotation"
### What should we add?

I don't know what is the correct annotation but this is not a valid annotation

https://github.com/Qiskit/qiskit-terra/blob/b2f0964f2c43b7f6104db9e28191210cc6a71bd4/qiskit/transpiler/passes/calibration/builders.py#L330

[2022-05-12 18:35] #8040 closed

[2022-05-13 01:20] ikkoham commented on #8032
I wonder why this was broken in the first place. Maybe it was the introduction of `__get_item__` that made it impossible to use `__array__`. I think `__get_item__` is a very complicated interface and probably unnecessary, but I need to look into it a bit more.

(Workaround) If you want a slice of `numpy.ndarray`, you can use `Statevector.data` on the user side to explicitly take out the ndarray an

[2022-05-13 02:11] ajavadia opened #8060 "Creating Layout from a list of [int] or a map of {int: int}"
### What should we add?

A Layout object can only be instantiated from the `Qubit`s of a particular circuit. i.e. if the intention is to lay the i'th qubit of the circuit on the j'th qubit of a coupling_map, this would be written as `qr[i] -> j`

However the qubits in a circuit are completely ordered (regardless of how many registers there are). So the Layout should not necessarily depend on the Q

[2022-05-13 07:49] jakelishman commented on #8060
I completely agree that `Layout` should be constructed like this, and the times we now use Rust in layout and routing passes e.g. `StochasticSwap`, the Rust struct we use is two arrays of integers.  We need to change the API a little to have this work right, though - currently `Layout.__getitem__` (and a host of other methods) infer whether you passed a virtual or physical qubit based on the input

[2022-05-13 09:28] 1ucian0 commented on #8060
I agree this is something to fix. It seems to me that `SetLayout` should only be called only when `initial_layout` is provided to the level. That should make the PassManager independent, right?

[2022-05-13 09:42] 1ucian0 commented on #8057
ping @taalexander @nkanazawa1989

side note, not sure if relevant: In https://github.com/Qiskit/qiskit-terra/pull/6759 it changed from `Union["Schedule", Instruction]` to `Union["Schedule", PulseInst]`.

[2022-05-13 09:45] 1ucian0 commented on #7961
Since this is already tacked by https://github.com/Qiskit/qiskit-terra/issues/8043, closing. Thanks @pranavm1502 !

[2022-05-13 09:45] #7961 closed

[2022-05-13 10:15] Randl commented on #8020
In continuation of  https://github.com/Qiskit/qiskit-terra/pull/8056, the following test currently fails due to unsound optimization:
[code]
due to transitivity assumption.

The following test is an example of missed optimization in case of naive fix:
[code]

[2022-05-13 11:01] jakelishman commented on #8043
Just to let you know what's happening here: while I personally would vote for the same behaviour of `approximation_degree` you're suggesting, I think the full question is a philosophical one about the goal of the `transpile` operation, and neither option is _a priori_ the correct one.  Lev and Kevin in #7341 both came down on the other side, that they see the goal as being to produce the best fide

[2022-05-13 12:24] ajavadia commented on #8043
can you plot this for `approximation_degree=0`? i'm not sure HOP is perfectly correlated with CX counts, but maybe better. I just want to get a sense.

I tend to generally agree with the issue, but not for quite the same reason you state. To me, when you give a backend, you are not just giving a coupling map -- you are giving backend properties too which means the compiler should take it into acco

[2022-05-13 13:41] nonhermitian commented on #8043
Here is with `approximation_degree=0`

![image](https://user-images.githubusercontent.com/1249193/168295618-70dddb31-81d3-41fd-a970-efd92ab38c7e.png)

These are the same circuits and seeded transpiler.  Note that the spread of number of CX is greatly reduced because there are no longer approximations being performed.   Also the results are more inline with expectations.

[2022-05-14 11:15] Randl commented on #4653
I can try to work on this.

I was thinking on adding an (internal) function, which, given timeslot, splits all the `Delay`s of the schedule on this timeslot: e.g., if there is a `Delay` (0,100) and timeslot [(10,20), (40,50)], we'll replace the former with a set of `Delay`s [(0,10), (20,40), (50,100)]. Applying this function to each of the schedules with the timeslot of the other one, we'll preven

[2022-05-15 07:27] 1ucian0 opened #8063 "arbitrary order in circuit drawers"
### What should we add?

Circuit drawers currently have `reverse_bits`, as an option to modify the order in which wires are represented. @ajavadia suggests a generalized version of that feature: `wire_order`. This parameter might define the order of the wires `draw(..., wire_order=[3,0,2,1])` and can eventually replace `reverse_bits` with `draw(..., wire_order='reverse'`.

[2022-05-16 01:49] ikkoham commented on #8039
Personally, in relation to #8032, I'm against adding the explicit `__iter__` method and I think we should explicitly use the `data` attribute. Including `__getitem__`, they can cause bugs and I don't like implicit conversions.

(@jakelishman Perhaps this is my preference, and we had a similar discussion at Fermion...)

[2022-05-16 09:03] jakelishman commented on #8039
Ikko: I completely agree with you if we didn't already have `__getitem__` - I don't like this type of "implicit" reinterpretation of the data as something else, either.  Since we've already got `__getitem__`, and we don't want to annoy people with removals, I think to fulfill the spirit properly we have to do `__iter__` as well.  It's not my preferred design style, but I'd rather have some code I

[2022-05-16 09:58] jakelishman commented on #2645
Of the last four failures, the first two were the same Sabre bug fixed by #8041 (it just hadn't merged yet), and the most recent two seem to be some failure related to `LookaheadSwap` that we haven't seen before.

[2022-05-16 10:35] jakelishman commented on #4923
I'll close this issue as stale now - these particular reproducers don't give the same result any more, though that might just be due to internal changes in the randomisation.  It's possible the problem still persists, but equally there have been improvements to our unitary synthesis since this issue was created, and dead-code elimination is better now.

If anybody is still having problems with thi

[2022-05-16 10:35] #4923 closed

[2022-05-16 11:44] Cryoris commented on #8030
I mean first construct the tensored operator and then convert it into a measurement by wrapping it with `StateFn(..., is_measurement=True)`. So in your case this would be
[code]
🙂

[2022-05-16 13:54] jakelishman commented on #4653
Thanks for the interest!  Since the issue is rather old, and I don't know about the pulse module, I'll assign @nkanazawa1989 to it to have a look over and see if it's still in need of solving, and if your proposed approach makes sense.

[2022-05-16 14:40] Slavikmew opened #8069 "HHL algo has an inaccurate precision"
### Environment

- **Qiskit Terra version**: 0.19.2
- **Python version**: 3.7.6
- **Operating system**: Windows 10 21H2 19044.1586

### What is happening?

HHL algorithm takes epsilon parameter, which is the precision of solution vector, but in some cases the returned solution violates this error boundary.

### How can we reproduce the issue?

[code]

In the following charts 'theoretical precision

[2022-05-16 15:18] woodsp-ibm commented on #8069
@anedumla Any thoughts/comment?

[2022-05-16 15:58] jakelishman commented on #8073
Hi @NilsG-S: sorry this fell through the cracks a little.  I've transferred it to Terra, which is the package that is actually causing the bug.

The error is almost certainly in the file `qiskit/visualization/state_visualization.py`, probably in the LaTeX conversion routines (somewhere in `_state_to_latex_ket`).  Looks like all the kets that have `None` in front of them should be zero, so shouldn'

[2022-05-16 16:51] jakelishman commented on #8048
Sorry for the slow reply!  This is very related to #7351 and the reasons in https://github.com/Qiskit/qiskit-terra/issues/7750#issuecomment-1062405591.  The gist is that `initialize` is a non-unitary instruction (it includes a `reset`), and so we can't actually write it as a valid OpenQASM 2 `gate`.  It's a bug that the exporter here puts a `reset` instruction within a gate - it should probably ju

[2022-05-16 18:19] aeddins-ibm commented on #8027
Thanks jakelishman and mtreinish for explaining the issue with basis completeness, and also pointing out the `synthesis` method!

Sorry I don't have implementation ideas, but just to share here are my thoughts on use case:

As experiments start to routinely use too many qubits for statevector simulations, it seems like stabilizer sims could be an increasingly important tool for testing experiment

[2022-05-16 21:32] #6230 closed

[2022-05-16 22:27] hristog commented on #7235
Hi @1ucian0 - I've been reading the discussion here, but I've been unable to reproduce your [test results](https://github.com/Qiskit/qiskit-terra/issues/7235#issuecomment-1023390156). I ran the same test 1500 times and it produced no failures.

Initially, I was wondering whether the class variable `limit_amplitude` could've introduced some flakyness, due to it being modified in different tests, an

[2022-05-16 22:39] #8039 closed

[2022-05-17 01:01] garrison opened #8076 "Barrier API documentation is not informative"
### What should we add?

A Google search for "[qiskit barrier](https://google.com/search?q=qiskit+barrier)" leads one to [its entry in the API reference](https://qiskit.org/documentation/stubs/qiskit.circuit.library.Barrier.html) as the first hit.  Unfortunately, this page contains only a circular definition, and does not even explain what a barrier does:

There is a much more useful description b

[2022-05-17 05:27] nkanazawa1989 commented on #4653
We are kind of discouraging creating `Schedule` directly, since evaluation of time slot is performance bottleneck as shown in #8029 . Current primary interface of pulse module is the builder context. The above example is

[code]
If user explicitly adds delay in d0 channel in above example, `sched` will become
[code]
rather than raising an error.

[2022-05-17 12:26] alexanderivrii commented on #8020
A few questions.
1. The caching mechanism of [qiskit.transpiler.passes.optimization.commutation_analysis._commute](https://github.com/Qiskit/qiskit-terra/blob/3763e61f16f97598cb0fa317277ad85fa15db738/qiskit/transpiler/passes/optimization/commutation_analysis.py#L117) seems extremely useful. However (if I am not mistaken) the cached information that `x(1)` and `cx(0, 1)` commute would not help to d

[2022-05-17 15:11] #7415 closed

[2022-05-17 15:56] rishacha commented on #8014
I am looking at this particular function.

The basic idea is to modify the `**drawer_args`  to include a `ket_basis` argument for this particular drawer.
It's always an `np.log2` size for `List[complex]`

I can therefore make sure that I modifying a copy of the `data` variable to change the indices and the data to get the right ket basis

For example -

[alpha beta delta gamma] to [1/2 (a + b + g

[2022-05-17 16:04] jakelishman commented on #1237
Is https://ibm.co/joinqiskitslack working again?  I believe @lerongil just refreshed its sign-up limit a few days ago.

(There's an unfortunate limit from Slack itself that causes the link to die after some number of registrations have occurred through it, and we have to generate a new invitation.)

[2022-05-17 17:07] kdk commented on #6905
It looks like this may have been resolved, or depend on python version. I still see this crash with python 3.7.12 and mypy 0.950, but I know @levbishop was able to get results with the same mypy python 3.9.12.

[2022-05-17 17:27] jakelishman commented on #6905
I think it's because Lev used some super relaxed options, that result in the mypy bug I linked above not getting triggered.  Probably `--no-strict-optionals` or `--allow-redefinitions` was enough to get through that bug; as best I remember from before I stopped procrastinating on my thesis, it's only triggered when mypy's in a "complete typing" mode.

With no options, I can still reproduce the err

[2022-05-17 21:22] chetmurthy commented on #5511
Has this already been resolved ?  From https://github.com/Qiskit/qiskit-terra/blob/b898359192946912bbe827bdf08bb0d1ffc9a4cf/qiskit/algorithms/eigen_solvers/numpy_eigen_solver.py#L135 it seem like yes?

[2022-05-17 21:24] chetmurthy commented on #6430
The referenced pr https://github.com/Qiskit/qiskit-terra/pull/6486 appears to be closed (b/c no further work done) ?  Should someone pick up this PR and finish it?

[2022-05-17 22:50] enavarro51 commented on #8063
I previously had worked on a version of the circuit drawers that used `QuantumCircuit.reverse_bits` prior to `get_layered_instructions` and removed the `reverse_bits` code from the drawers as discussed above. This code produces this in the mpl drawer for this somewhat convoluted circuit,
[code]
![image](https://user-images.githubusercontent.com/16268251/168924547-1eb8c1b6-25c8-4c54-88fc-31623819b3

[2022-05-18 11:43] AlbertJP commented on #8030
Yes, that works. Thanks for the CircuitOp suggestion, that makes the difference here, it allows me to tensor both operators before creating the StateFn. Nevertheless, is it a bug that two measurements cannot be tensored or is this by design?

[2022-05-18 11:43] AlbertJP commented on #8030
^ hit the wrong button by mistake, apologies

[2022-05-18 12:12] ju619 commented on #1237
Perfect thanks it's working now, i'm in!

[2022-05-18 12:41] Cryoris commented on #8030
It seems to be a bug, because `TensoredOp.eval` first calls `self.to_matrix_op`, which will produce a `TensoredOp` of matrices, and then calls `eval` again. But since the type is still a `TensoredOp` we call `self.to_matrix_op` again and then `eval` again.... and that results in the infinite recursion you see above.

[2022-05-18 22:34] kdk commented on #8043
Thanks for raising this @nonhermitian . We discussed this at yesterday's Terra meeting, and I spent a bit of time thinking about the issues here, in #7961 and #7341 . I think there are a couple of factors and more than one bug at play which complicate the issue, but you are spot on that this is an area where it's easy for the transpiler to currently do something other than what the user expects. I

[2022-05-19 10:24] nonhermitian commented on #8043
@kdk thanks for taking a look!  The first plot is indeed the exact same initial circuit with the same heavy outputs from which to assign a HOP value.  The spread of CX values is indeed from Sabre, but also from the default approximation being turned on.  The second plot shows the range of CX with no approximation, and there each "bar" differs by 3 CX; a SWAP.

The issue is not with the high HOP va

[2022-05-19 10:41] HuangJunye commented on #7738
@jakelishman Can I work on this one?

[2022-05-19 11:02] jakelishman commented on #7738
Yes, please!

[2022-05-19 12:02] weucode opened #8086 "qasm() mistranslate the operator QuantumCircuit.ecr"
### Environment

- **Qiskit Terra version**: 0.36.1
- **Python version**: 3.7.4
- **Operating system**: Windows

### What is happening?

The circuit shown below can be translated into OpenQASM successfully,but there exists two `rzx` gates.The one and only difference between two `rzx` gates is the parameter of `rz` gate,one is -pi/4,and another is pi/4.

Here is the error message.

[code]

[code]

[2022-05-19 13:06] weucode opened #8087 "The unitary matrixes of quantum circuit are different with different values of optimization_level"
### Environment

- **Qiskit Terra version**: 0.36.1
- **Python version**: 3.7.4
- **Operating system**: Windows

### What is happening?

When running the following program,we can get different unitary matrixes with different values of `optimization_level`.The representation of unitary matrixes are equal when `optimization_level`=0,1,2,but it behave strangely when `optimization_level`=3.

Here is t

[2022-05-19 15:29] pedrorrivero opened #8089 "Number of experiments in primitive results"
### What should we add?

In the current specification of `SamplerResult` and `EstimatorResult` there is no unified way of retrieving the the total number of experiments that are comprised within one result object. It would be great to add a property `result.num_experiments` that would retrieve it.

Additionally, when one of these objects is instantiated, no checks are performed to verify that the

[2022-05-19 17:36] vtomole opened #8090 "Qiskit's `circuit_to_qasm_string` functionality can't handle `qiskit.circuit.library.GR` circuit"
### Environment

- **Qiskit Terra version**:  0.18.3
- **Python version**: Python 3.8.10
- **Operating system**: Ubuntu 20.04.4 LTS

### What is happening?

Converting `qiskit.circuit.library.GR` capitalizes the GR instruction (`GR`) when it should be `gr`. `GR` is not valid QASM. It also defines the GR gate in int parameters instead of ID.

### How can we reproduce the issue?

[code]

Converting

[2022-05-19 22:34] vtomole commented on #7866
We've run into this issue as well:

[code]

[2022-05-20 15:54] we-taper opened #8095 "Unexpected Pauli composition result (sign reversed)"
Compose of two Pauli operators gives unexpected sign:

[code]
gives:
[code]
when we naively expects, for example XY = iZ. This is also confirmed by:

[code]

Is this reverse of sign intentionally? It seems difficult for me to find a documentation mentioning this as well.

Thanks!

[2022-05-20 16:06] jakelishman commented on #8095
Yes, that's how we define difference between "compose" and "dot" - compose (`&`) means "apply the left one, then apply the right one", whereas dot (`@`) is the mathematical matrix multiplication.

You're right though that the documentation isn't necessarily easy to find - you'd need to know that `&` is the syntactic sugar we decided to use for [`Operator.compose`](https://qiskit.org/documentation/

[2022-05-20 18:23] ajavadia commented on #8063
I think `QuantumCircuit.reverse_bits()` and `QuantumCircuit.draw(reverse_bits=True)` are slightly different, no? Because the former actually changes the circuit (an H that was done on q_0 is now done on q_N), whereas the latter just draws differently (q0 at the top or qN at the top).

BTW I'm fine adding an option to QuantumCircuit to permute wires. Perhaps permute_bits is a better name. So we can

[2022-05-20 18:54] nkanazawa1989 opened #8096 "Higher priority for matrix multiplication"
### What should we add?

In current implementation the priority of matrix multiplication `&` is lower than (or perhaps equal to) `+` which is really confusing. For example, we often write following code to represent an interaction Hamiltonian of two subspaces, e.g. Jaynes-Cummings

[code]

where Ci and Ai are creation and annihilation operator of subspace i. However, this sometimes results in non

[2022-05-20 19:52] jakelishman commented on #8096
It's not possible to change this with the infix operators unfortunately - their precedence is set by Python's order.  I know the opflow documention has a big call out of this on its pages.  The `quantum_info` module also now defines `@` for `dot` (as opposed to `&` for `compose`) for its operators, which does have the precedence you want.

[2022-05-20 19:53] jakelishman commented on #8063
The drawers don't necessarily need to be concerned with reordering things, though - you can always do `qc.permute_bits([...]).draw()`.

[2022-05-20 20:20] jakelishman commented on #8087
This isn't a mistake, it's because the transpiler is free to reorder which hardware qubits each logical qubit is encoded in, and this mapping can change over the course of the circuit.  `swap` at the end of the circuit is done for free, because we can just swap the "logical" qubit mapping without actually doing anything.  If you put measurements after the swaps, you should be able to see this in t

[2022-05-20 20:20] nonhermitian opened #8097 "Primitives do not allow for async usage"
### What should we add?

The primitives return a result object immediately when called that blocks further execution.  This means that one can no longer execute multiple jobs at a time when using the primitives.  This is useful for jobs where the number of circuits is larger than the HW limit and I want to get them all in queue at the same time, or I want to vary shots (which is not allowed in a s

[2022-05-21 02:16] weucode commented on #8087
Thanks!That's really something I didn't consider.

[2022-05-21 08:26] rishacha commented on #8014
@jakelishman - Is there someone who can help me out with this?

[2022-05-21 08:29] 1ucian0 commented on #2304
unassigning to return the isssue to the pool of bugs for new comers.

[2022-05-21 13:34] ajavadia commented on #8063
But what I'm saying is that `QuantumCircuit.reverse_bits()` is not just a change in visualization, it actually changes the circuit. So I think we need both the circuit option and the visualization option.

[code]

[2022-05-21 19:58] 1ucian0 commented on #5745
I think this is closed via  #7681

[2022-05-21 19:58] #5745 closed

[2022-05-21 20:03] 1ucian0 commented on #6430
yes please @chetmurthy ! Remember to respect the @rithikaadiga's authorship in branch off their code. Shall I assign you?

[2022-05-21 20:27] 1ucian0 commented on #6901
Hmm... I think @towynlin has a point.

@wmurphy-collabstar , do you mind having a another look?

[2022-05-21 21:22] chetmurthy commented on #6430
Luciano, I'm new to the org, and to QC.  But this seems sufficiently "just a software problem" that, yes, I think I should have a go at it.  You can put me down for working on it.

[2022-05-23 09:21] jakelishman commented on #8014
Sorry about that, I missed the comment somehow.

- Yeah, applying the relevant operators to a copy of the `Statevector` (`Operator(HGate()) @ sv` or something) is a fine way to go.  You can use the regular machinery in `Operator` to handle all the gates/tensor-product ordering for you.
- It's fine to add a comment or two if it's confusing how/why something works - it wasn't a conscious choice _not

[2022-05-23 09:22] #8087 closed

[2022-05-23 09:43] jakelishman commented on #8063
Copying over a comment I had from our internal discussion:

[2022-05-23 10:22] jakelishman commented on #8086
Thanks for the report.  Sorry this is a bit bugged out - we have some problems with the OQ 2 exporter when dealing with gates that can take arbitrary parameters but are only used with exact angles, as you've seen.

I unfortunately can't promise that this will be a top priority for the internal team because we're busy with a lot of new features for OpenQASM 3.0 support, but we'd be happy to accept

[2022-05-23 10:24] jakelishman commented on #7866
Thanks for bringing this up again.  This one particular case should hopefully be able to be handled by a simple "escape name" type of function in the exporter, as opposed to the OpenQASM 3.0 exporter's symbol-table version.  I'm happy to accept/help with PRs to fix this, though.

[2022-05-23 10:38] pedrorrivero opened #8100 "Upgrade primitive result dataclasses"
### What should we add?

In the context of `EstimatorResult`:
- Rename `values` field, for `expvals`. The former is not only too generic but also misleading (i.e. reminds of key-value pairs), whereas the latter is specific to statistics and directly relatable to quantum mechanics.
- Add a `variances` field, pulling it out of metadata. Since the result that we provide is statistical in nature, vari

[2022-05-23 11:51] #3842 closed

[2022-05-23 12:50] jakelishman commented on #8090
Thanks for the report!  Please could you try this on a more recent version of Terra?  I believe this should be fixed by #7157, which was released in Terra 0.19.  I think the bug came because the `GR` gate used to say its "name" was `GR(0.1, 0.2)` and that it had _zero_ parameters - the QASM 2 exporter used to just take the name verbatim (which was clearly incorrect), so here it ends up outputting

[2022-05-23 13:37] wmurphy-collabstar commented on #6901
I made a mistake in my last comment. Knowing that the parameter should be in microseconds, I think the way the documentation is written is fine. I'll now close this issue. Thanks for the help everyone!

[2022-05-23 13:37] #6901 closed

[2022-05-23 15:30] jakelishman commented on #7975
Thanks for the report!  It's pretty arcane, but this is actually caused by `CUGate` rather than the multi-controlled rz - it's to do with misalignments of expectations between how `CUGate.params` works, and how other parts of Terra expect to be able to mutate those lists.  There's more information in #7326 - we don't have a work-around yet unfortunately, but it is a bug we need to squash.

[2022-05-23 15:39] jakelishman commented on #7908
Hello, sorry for the slow reply.  Please could you provide more details, for example the actual code you have run, and the full Python error message and traceback you see?

Your image link hasn't uploaded correctly, but images aren't a good way to show us code - it's much easier for us to help debug if you can write a [minimal reproducing example](https://stackoverflow.com/help/minimal-reproducibl

[2022-05-23 15:41] vtomole commented on #8090
Yup, this is fixed by terra version 0.19. Thanks!

[2022-05-23 15:41] #8090 closed

[2022-05-23 15:47] vtomole commented on #7866
What's an "escape name"? Is it basically a way to tell the exporter to write `_measure` (with underscore) instead of the existing `measure`?

[2022-05-23 16:00] jakelishman commented on #7866
Yeah, essentially.  We already do some of this, if a gate claims its name is something like `BLAH!£%&` - that's not a valid OQ 2 identifier because of the leading capital letter and the symbols, so we "escape" it to `gate_BLAH____`.  That same function just needs a bit more logic to ensure it recognises that the OQ 2 reserved keywords are also invalid identifiers.

[2022-05-23 16:50] nonhermitian commented on #8097
Looking at the code a bit more, I think this might be better suited to the IBM Runtime package where it is easier to implement as well.  I cannot transfer the issue myself, so any help doing so is much appreciated.

[2022-05-23 17:07] jakelishman commented on #8097
I think we need somebody with write access on both IBM Runtime and Terra - probably @mtreinish can do it.

[2022-05-23 17:58] kharazity opened #8102 "Can't compile HHL Circuit for 16x16 matrix"
### Environment

- **Qiskit Terra version**: 0.20.1
- **Python version**: 3.9.7
- **Operating system**: Ubuntu 21

### What is happening?

I am trying to analyze the circuit for HHL for a set of matrix inversion problems. I am currently trying to compile the circuit for solving this system: ``` K =
[ 5.22789207+0.j -0.11283807+0.j  2.33642806+0.j  2.30860064+0.j
  1.95833333+0.j  1.64526399+0.j  0

[2022-05-23 18:35] jakelishman commented on #8076
For reference, [this is Chris's answer on stackexchange](https://quantumcomputing.stackexchange.com/a/8371/18472).  The relevant docstrings that need updating are the `QuantumCircuit.barrier` method and the `Barrier` class.

[2022-05-23 18:57] pradkrish commented on #7802
Hello, is this issue still open? I am new to this project, happy to work on this with some guidance.

[2022-05-23 19:43] garrison opened #8103 "Type returned by `get_counts` is different when the circuit list has one element"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.9
- **Operating system**: Linux

### What is happening?

`QuantumInstance.execute` can be passed either a circuit or a list of circuits.  If passed a circuit, calling `get_counts()` on the result returns a `dict`.  If passed a list of circuits, it returns a `list` of `dict`s -- that is _unless_ the list contains just a singl

[2022-05-23 20:46] woodsp-ibm commented on #8102
@anedumla Any comment/thought?

[2022-05-23 22:42] kharazity commented on #8102
I also wanted to add some relevant details, the condition number of the above matrix is ~46 and the norm of f_vec ~2. Epsilon, 1e-1. The number of qubits is certainly >4, because of the encoding qubits used to store the values for the controlled rotations. I've been using the log(kappa^2) as a rule of thumb for estimating the number of encoding qubits, so in this case ~4 encoding qubits, 1 ancilla

[2022-05-24 09:56] jakelishman commented on #7802
Sure, thanks!  I'll assign you now, so others know you're working on it.  Feel free to ask questions here - @Cryoris knows rather more about opflow than I do, so he's the best person to ask.

[2022-05-24 13:52] 1ucian0 commented on #6956
Hi @snsunx, are you still working on this? I noticed you have been working on a branch that was never PRed. Let me know if I can help you!

[2022-05-24 18:35] rishacha commented on #8014
@jakelishman  - Any idea on how to get this fix in place?

* Do I need to downgrade setuptools for this to work?

Command to reproduce  - `pip install .`

[code]

[2022-05-25 02:37] ikkoham commented on #8096
Perhaps the design philosophy is that `&` is intended for quantum circuit composition, so it is not intended to be used at the same time with `+`. It is better to write it with `@` and `+` as Jake said.

[2022-05-25 08:47] Cryoris commented on #8100
Adding variances is a good idea 👍🏻

About renaming `values` to `expvals`: I think we're not really using abbreviations anywhere in the user-facing interfaces but typically tend write the full word, so `expvals` is not really fitting this scheme. I personally think `values` is clear enough since it's an attribute on the estimator. But if you think it's not clear enough maybe we can use `expectation

[2022-05-25 10:41] 1ucian0 commented on #6502
Hi @anonymousr007
The assigned contributor is unresponsive are you interested in taking over?

[2022-05-25 10:48] 1ucian0 commented on #5927
Hi @Aku-Silvenius , Are you still working on this?

[2022-05-25 11:04] HuangJunye commented on #7738
To do
- [ ] all our internal uses point to the new names
- [ ] add deprecation warnings

[2022-05-25 11:06] HuangJunye commented on #7738
@jakelishman I am starting to look at this issue. Should we move the files inside `qiskit.test.mock` to `qiskit.providers.fake_provider` (and add the imports in `qiskit.test.mock.__init__.py` like the "inverse" of what is done [here](https://github.com/Qiskit/qiskit-terra/pull/7437/files#diff-e67a4ecdcf81ada87b6cff9b14cdfe079d032d4ad516ae7c9db69b0fc088e7a2)) as part of the PR to address this issue

[2022-05-25 11:25] HuangJunye commented on #7738
I probably shouldn't redirect the codes in the release notes right, should I?

[2022-05-25 12:13] jakelishman commented on #7738
Yeah, the import structure you mentioned is exactly right.  You can also add the deprecation warnings inside `qiskit.test.mock` as well.  We should leave that possible path in place for quite a long time, because the fake backends are already commonly used, and we want to give people lots of time to respond.

For the release notes: yeah, no need to change any of those references.  If there are any

[2022-05-25 14:28] pedrorrivero commented on #8100
Yes, I was first considering `expectation_values`, and also thought it was kind of long.

My main issue with `values` is that it is kind of vague. In statistics there are estimators for the variance (e.g. Bessel's), so just using the word "value" does not feel specific enough. What value? On top of that, but certainly less important, it can cause confusion with key-value pairs in a dictionary.

Ma

[2022-05-25 16:42] jakelishman commented on #8014
Ah glad to hear it!  I'm guessing it was to do with your Python install being from your package manager, and some of the core machinery (`setuptools`, `pkg_resources` and things like that) being a bit out of date.

Just in case you didn't know: we usually suggest working in virtual environments, so you can install everything you need without affecting your system's Python installation.  We have [a

[2022-05-25 21:48] javabster commented on #2695
Hi @upsideon sorry this issue fell off the radar, are you still interested n working on this?

[2022-05-26 07:26] 1ucian0 commented on #7235
I can still reproduce [this issue](https://github.com/Qiskit/qiskit-terra/issues/7235#issuecomment-1023390156). Here is my env:
 * Python 3.9.12
 * `qiskit.__version__ = '0.21.0.dev0+4982c69' `
 * `numpy.__version__ = '1.22.4`

[2022-05-26 08:13] hristog commented on #7235
@1ucian0, thanks a lot for the further details!
I confirm I haven't attempted with Python 3.9.12. I'll try to reproduce with your env versions when I get a chance and confirm here what my associated thoughts are (if I have any that I feel may contribute constructively to the discussion).

[2022-05-26 17:03] MubasharK commented on #7495
Hello Harkins,

Hope you are well.

The issue  (#7516 <https://github.com/Qiskit/qiskit-terra/issues/7516>) is
still open and I am unable to retrieve all the entries using the
command  state.draw('latex',
max_size=2**7). Is there any progress about this?

Best,
Mubashar

On Tue, 11 Jan 2022 at 17:46, Frank Harkins ***@***.***>
wrote:

[2022-05-26 17:15] javabster commented on #2695
great, assigned to you! Let us know if you have any questions, and you can take a look at the following resources as well:

- [Contributing Guidelines](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md)
- [GitHub / CI tips for Qiskit Contributors](https://www.youtube.com/watch?v=-eLeOeF_-5o)

[2022-05-26 18:33] jakelishman commented on #6994
Hi, I'm so sorry this fell through.  Probably the best solution here is to not generate an integer directly - we'll always hit an upper limit in Numpy if we try this, either at 31, 63 or 127 qubits.  Instead, let's assume that we can safely generate 16-bit integers (Windows sometimes defaults to 32-bit rather than 64-bit), then we can calculate how many bits we need total, and generate enough inte

[2022-05-26 18:54] javabster commented on #8063
My 2 cents:

- I think we should use different names for the `QuantumCiruit.permute_bits([....])` and `QuantumCircuit.draw(permute_bits=[...])` as they seem to be doing different things (and i don't think their `reverse_bits` predecessors should have been named the same thing in the first place tbh)

- we aren't removing `reverse_bits()` or `reverse_bits=` in this issue right? I think it's still u

[2022-05-26 19:20] #7726 closed

[2022-05-26 21:10] pradkrish commented on #7802
Hello, thanks. I spent some time getting familiar with opflow and the scope of this issue. One thing that can be helpful for me to get started is if you can provide me with an example, that is, a working example illustrating exactly what you described above

[code]

I hope it's not too much of a bother.

[2022-05-27 06:49] pradkrish commented on #7802
I made an attempt to construct a circuit with parameters like this

[code]
Is this a good working example for this issue where instead of passing `param_dict`, we would like to be able to pass `my_values` to `bind_parameters`?

[2022-05-28 05:29] epelofske-LANL opened #8111 "QuantumCircuit.draw() method throwing KeyError"
### Environment

- **Qiskit Terra version**: 0.20.2
- **Python version**: Python 3.9.7
- **Operating system**: macOS

### What is happening?

Drawing a particular circuit is throwing a KeyError:

[code]

### How can we reproduce the issue?

[code]

[example.txt](https://github.com/Qiskit/qiskit-terra/files/8790543/example.txt)

### What should happen?

[code]

### Any suggestions?

_No response_

[2022-05-28 05:58] ikanago opened #8112 "T2 of `ConfigurableFakeBackend` is not properly set"
### Environment

- **Qiskit Terra version**: 0.20.2
- **Python version**: 3.7.13
- **Operating system**: Linux

### What is happening?

When `ConfigurableFakeBackend` is initialized with `qubit_t2`, an actual T2 value of the device is set based on `qubit_t1`.

### How can we reproduce the issue?

[code]

### What should happen?

The T2 value of the backend initialized like above should be generate

[2022-05-28 07:36] faraimazh commented on #8076
How is it going with this issue? I am interested to learn more and contributing.

[2022-05-28 08:38] pradkrish commented on #8103
If this issue is still open, I would love to give it a go

[2022-05-28 15:43] enavarro51 commented on #8063
Some questions.
- The `permute_bits `is defined using integers only? As in [3, 1, 0, 4]. As opposed to using qubits and registers in the way these are passed to `QuantumCircuit`.
- The `permute_bits `is qubits only? If includes clbits, there would need to be 2 `permute_bits `lists, since qubits and clbits are currently numbered separately. Could combine them, but might get confusing for users. Als

[2022-05-29 21:03] pradkrish commented on #8112
I am working on this.

[2022-05-30 08:15] HuangJunye commented on #8112
@pradkrish Would you like to be assigned for the issue? Please let me know if you need help!

[2022-05-30 08:17] HuangJunye commented on #8076
@faraimazh Do you want to work on this issue? I can assign you.

[2022-05-30 09:38] HuangJunye opened #8116 "Divide release note into seperate pages"
### What should we add?

The [release note page](https://qiskit.org/documentation/release_notes.html) is getting very long. Would it make sense to divide it into separate pages for each release?

[2022-05-30 11:09] jakelishman commented on #8111
I can't reproduce this with either Terra 0.20.2 or main-branch Terra, also on Python 3.9 and macOS.  Does the error happen every time for you, or is it sporadic?  If possible, could you provide the full error traceback as well?

[2022-05-30 12:13] nikosavola opened #8119 "Misleading drawing format description in QuantumCircuit"
I find that the `matplotlib` in the possible output parameters for drawing a circuit is a bit misleading, see https://qiskit.org/documentation/stubs/qiskit.circuit.QuantumCircuit.draw.html.

https://github.com/Qiskit/qiskit-terra/blob/56b0de6822dec3fe1d97c05f4a5ddf3c3f4d4174/qiskit/circuit/quantumcircuit.py#L1739

The actual argument for output is `mpl`. Following the docstring, a new user most li

[2022-05-30 14:54] #8119 closed

[2022-05-31 03:25] enavarro51 commented on #8111
I could not recreate this either. This is a snippet of output from prints during a run of your circuit.
[code]
The top part is some of the printout of `_wire_map` and the bottom part is the iteration over some of the `qargs` in the circuit. The bottom section comes from the barrier `qargs`. Clearly `Qubit` 20 appears in both places, so not sure what's happening in your case.

[2022-05-31 11:07] 1ucian0 commented on #8063
I agree. I suggest `QuantumCircuit.draw(wire_order=[...])`.

We are not. We are defining a generalization of `QuantumCircuit.draw(reverse_bits=[...])`. Internally, `reverse_bits` might use this new parameter.

I would say so. Many of the questions are under the umbrella "how smart this parameter should be?". I lean towards a dumb parameter and let the caller to have that smartness, as the paramete

[2022-05-31 13:48] cometta commented on #5275
Hello @ajavadia
can you explain more by giving an example how we should move clifford in temples/clifford folder into the root folder of qisikit.circuit please ?

[2022-05-31 15:27] Cryoris commented on #7802
Hi @pradkrish, for the `QuantumCircuit` we're already able to pass `my_values`. But here's a slightly modified example where we are currently _not_ able to pass an array but would like to
[code]

[2022-05-31 15:29] enavarro51 commented on #8063
All sounds good. For this first PR, we just address the drawers and leave `QuantumCircuit.permute_bits` for later.

The `reorder_bits` was just a suggested name for the option. `wire_order` works fine.

[2022-06-01 21:05] snsunx commented on #6956
Hi @1ucian0, sorry I got busy with some other stuff and haven't been working on this. I unassigned myself and please feel free to assign this issue to others.

[2022-06-02 01:36] ajrazander opened #8126 "Wrong time value in Trotterized unitary"
### Environment

- **Qiskit Terra version**: 0.36.0
- **Python version**: 3.8.8
- **Operating system**: Mac 11.6.5

### What is happening?

Computing a suzuki decomposition of a Hamiltonian for a given time t. If t is a float, everything works fine. If t is a Parameter object the value gets squared when it is bound.

### How can we reproduce the issue?

[code]

which outputs on my device
[code]

#

[2022-06-02 04:08] ikkoham commented on #8126
I think we need to add
[code]
after getting coeff.
https://github.com/Qiskit/qiskit-terra/blob/2eee56616d50a9e26756f855ef4aa0135920ad78/qiskit/opflow/evolutions/trotterizations/suzuki.py#L62

[2022-06-02 04:35] anedumla commented on #8102
The problem seems to be QPE with the unitary returned by `QuantumCircuit.unitary(exp(k))`, if instead of your K you create some 16x16 `TridiagonalToeplitz` matrix the circuit gets constructed very fast.

[2022-06-02 08:17] Cryoris commented on #8126
Thanks for reporting this @ajrazander!

You can also use the `PauliEvolutionGate` instead, which we will shift to in the future 🙂

[code]

[2022-06-02 08:18] Fation2070 commented on #1237
@lerongil can you help me?

[2022-06-02 10:17] fvelazquez-X commented on #1237
In the Qiskit Advocate 2022 form they provide a link to have an slack but is dead. Can somebody help a bit on this?

[2022-06-02 10:18] NCLI opened #8127 "Qiskit visualization tests fail when building locally"
### Environment

- **Qiskit Terra version**: 0.17.0
- **Python version**: 3.8.13
- **Operating system**: NixOS 22.05

### What is happening?

When trying to compile qiskit, six tests fail with the following messsage: "AssertionError: False is not true : The images are different by 10.226851851851848% which is more than the allowed 10.0%"

### How can we reproduce the issue?

Try to install Qiskit

[2022-06-02 10:44] #8127 closed

[2022-06-02 11:17] poig opened #8128 "Yeah I would agree. We should probably exchange all the `qc.decompose()` occurances to transpilations since e.g. the final decomposition of the Toffoli also doesn't use the actual basis gates of the device. Using the decomposition method is outdated (and far from optimal!) now that we don't have U1/2/3 as basis gates anymore."
Yeah I would agree. We should probably exchange all the `qc.decompose()` occurances to transpilations since e.g. the final decomposition of the Toffoli also doesn't use the actual basis gates of the device. Using the decomposition method is outdated (and far from optimal!) now that we don't have U1/2/3 as basis gates anymore.

_Originally posted by @Cryoris in https://github.com/Qiskit/qiskit-terr

[2022-06-02 11:17] #8128 closed

[2022-06-02 11:22] poig commented on #8128
sry typo

[2022-06-02 16:51] kharazity commented on #8102
I see. That won't really work for what I'm doing, but thank you for letting me know!

[2022-06-02 18:34] aeddins-ibm opened #8130 "backend.run(parameter_binds=...) fails for real backend (at least some cases)"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.8.12
- **Operating system**: MacOS

### What is happening?

`backend.run(...)` fails to parse the `parameter_binds` argument (at least for the case of using a `ParameterVector`). The same code runs OK when `backend` is an `AerSimulator`.

The `parameter_binds` argument of `backend.run()` can give a nice speed up of simulat

[2022-06-02 20:28] divshacker commented on #5275
I can also give it a try, but I need some guidance regrading how to arrange and classify all the circuits at once.

[2022-06-02 20:52] pedrorrivero opened #8132 "QuantumCircuit `.clear()` and `.copy_empty_like()` functionality"
### What should we add?

Sometimes it can be useful to erase all instructions in a QuantumCircuit. This request is for:
1. [Clear functionality](https://github.com/pedrorrivero/qiskit-terra/blob/794db4792e97adca4a78eb4f3411c04e50665df7/qiskit/circuit/quantumcircuit.py#L2311-L2313) to erase all instructions from a QuantumCircuit → `.clear()`.
We not only need to clear all data, but (at least) also

[2022-06-02 20:52] pedrorrivero commented on #8132
@mtreinish

[2022-06-03 00:54] Over-TheRainbow opened #8133 "Instead of transpiling the circuit, transpiling with lookahead routing method sometimes throws exception 'Lookahead failed to find a swap which mapped gates or improved layout score.'"
### Environment

- **Qiskit Terra version**: 0.36.1, 0.36.2
- **Python version**: 3.9.12, 3.8.13
- **Operating system**: Ubuntu 20.04, Windows 10

### What is happening?

Running qiskit.compiler.transpile with routing_method='lookahead' sometimes throws qiskit.transpiler.exceptions.TranspilerError: 'Lookahead failed to find a swap which mapped gates or improved layout score.'

I would expect that

[2022-06-03 06:26] Cryoris commented on #8132
Sounds like these could be useful, do you need this for e.g. copying attached calibrations or what's the usecase you have in mind? 🙂

[2022-06-03 15:56] pedrorrivero commented on #8132
@Cryoris my particular use case is building new circuits based on an original one. For instance to duplicate instructions:
[code]
As you can see, it is important to retain the same quantum and classical registers, but also all relevant metadata as you mention. The easiest way forward is to create a cleared copy of the circuit.

I would therefore aim for `qc.copy_empty_like()` to be logically equiv

[2022-06-03 19:03] Rcuz8 opened #8135 "Install Error (Editable mode, Py 3.7)"
### Environment

- **Qiskit Terra version**: 0.20.2
- **Python version**: 3.7.13
- **Operating system**: macOS 12.0.1
- **PIp version***: pip 22.1.2

### What is happening?

There is an error installing the requirements in editable mode.

### How can we reproduce the issue?

[code]

[code]

Terminal session permalink: https://app.warp.dev/block/8tDR0kwXIxGM446zCJf9Gk

### What should happen?

Requ

[2022-06-03 20:53] mtreinish commented on #8135
The underlying error is not actually coming from installing qiskit, it never gets that far along as it's starting by processing the dependencies. The errors you're hitting are trying to build scipy from source because pip doesn't think that any of the versions it can find are compatible with your python 3.7 environment. This normally points to a local python environment issue. As such I'm going to

[2022-06-03 20:53] #8135 closed

[2022-06-04 14:48] padraignix opened #10678 "Fraction formatting throughout 3_summary_of_quantum_operations is not uniform"
While addressing Issue Qiskit/qiskit-tutorials#1333 noticed that fractional formatting in notebook is mixed.

Some instances use:

\theta/2

While others use:

\frac{\theta}{2}

Raising issue to suggest bringing notebook formatting to a single, unified approach of \frac{}{} and \tfrac{}{}

_Originally posted by @padraignix in https://github.com/Qiskit/qiskit-tutorials/issues/1330#issuecomment-1146

[2022-06-04 20:54] hristog commented on #7235
Hi again, @1ucian0  - I'm still unable to reproduce (even with the most recent env you've conveniently [specified](https://github.com/Qiskit/qiskit-terra/issues/7235#issuecomment-1138247909)).

Just to clarify - I'm attempting to reproduce [this issue](https://github.com/Qiskit/qiskit-terra/issues/7235#issuecomment-1023390156) via
[code]
as per the linked comment.

[2022-06-05 16:24] enavarro51 commented on #8063
A couple of more questions,

If a user uses both `reverse_bits` and `wire_order`, do we
- raise
- prioritize one or the other
- do `wire_order` and then reverse it

If the the `wire_order` list is not the right length or does not have a unique integer for each bit, do we
- raise using the same error message for each
- raise with separate explanations
- warn and continue without using `wire_order`

[2022-06-05 16:52] BramDo commented on #8126
I tried coeff = 1 instead of operator.coeff = 1. This solution works in my local qiskit terra. I will try to make with this solution my first attribution.

[2022-06-06 12:42] 1ucian0 commented on #5275
The goal of this issue is to create a `TemplateLibrary` class, similar to `EquivalenceLibrary`, that can be extended with
`TemplateLibrary.append`.

[2022-06-06 12:44] jakelishman commented on #1237
The links should have been refreshed again.  We're still unfortunately limited by Slack, which deactivates a link once 100 people have used it to sign up.  Please keep commenting here if the links die again, and we'll get them refreshed.

[2022-06-06 12:56] jakelishman commented on #7235
It's possible it's related to version of BLAS in use by Numpy, or by the particular CPU instructions available (SIMD vs non-SIMD) since it looks like we're about 1 ULP away from tolerance.  If so, it's possibly not going to be reproducible for you, @hristog.

For what it's worth, I've got a Mac with Python 3.9, Numpy 1.22.3 and the following BLAS/CPU instructions:
[code]
and I can also reproduce t

[2022-06-06 13:01] 1ucian0 commented on #8063
I think raise is reasonable. It is probably a user mistake to set both.

raise with separate explanations

[2022-06-06 13:40] alexanderivrii commented on #5275
fyi: @ShellyGarion

If I remember correctly, some of the clifford templates are only "up to the global phase", for instance the template `S * H * S * H * S * H = Id`.

I am wondering if this needs to be taken into account when reorganizing the templates.

We also have [code that verifies templates](https://github.com/Qiskit/qiskit-terra/blob/main/test/python/circuit/test_templates.py); and again p

[2022-06-06 13:41] poig opened #8139 "decompose() new parameters provide decompose multiple time, or till the end"
### What should we add?

example:
`circuit.decompose().decompose().decompose().decompose().decompose()    `

can be something like:
[code]
why:
I found it useful when decompose initialize state, and see how gate change each decompose

- [x] repeat decompose #8142
- [ ] repeat gates_to_decompose

[2022-06-06 14:58] #8112 closed

[2022-06-06 15:19] 1ucian0 commented on #7235
In this script, I tried to add the minimum to reproduce the nondeterminism behaviour this in my system:
[code]
[code]
[bug_7235.zip](https://github.com/Qiskit/qiskit-terra/files/8845460/bug_7235.zip)

I have[ the same openblas conf](https://github.com/Qiskit/qiskit-terra/issues/7235#issuecomment-1147416651) than @jakelishman

[2022-06-06 15:36] jakelishman commented on #7516
I think the solution will be very slightly different to what Frank originally suggested, because the options to `array_to_latex` and `_state_to_latex_ket` are different, so we'll need to only pass the right options to each of those, but in principle that's the only change needed.

I'll just ping @frankharkins to check if you've got time to work on it?  If not, I'll return it to the pool of good fi

[2022-06-06 15:55] 1ucian0 commented on #7235
The problem seems to be in `np.abs`, when dealing with complex numbers.

[bug_7235.zip](https://github.com/Qiskit/qiskit-terra/files/8845695/bug_7235.zip)
[code]
[code]

[2022-06-06 16:32] jakelishman commented on #7235
It's hard to say it's necessarily a bug in Numpy without more study.  Certainly the exactly floating-point bit output of Python's built-in `abs` and Numpy's ufunc `absolute` are returning values that differ by up to 2 ULP (for this particular input), which definitely isn't ideal, but there's a good chance they're both being accurate to their own specs.  I'm not 100% sure how each propose to handle

[2022-06-06 17:17] jakelishman commented on #7235
There's a logical square root after the `real * real + imag * imag` operation in an `abs` calculation, but `sqrt(1 + x) == 1 + 0.5 * x` if `x <= 2 * float_epsilon` (there are extra non-zero terms if it differs by more), so I would guess that the sqrt isn't affecting things (if anything, it possibly helps more than hurts).

[2022-06-06 17:57] tommasopeduzzi opened #8140 "c_if with a list of classical bits/a segment of a classical register or chaining of c_if statements"
### What should we add?

Currently, only a whole register or single bits can be passed to `c_if`. It would be helpful if one could do something like this:
`qc.x(0).c_if(classical_bits[1:3], 3)`
The slice could be handled as a separate register. I don't know if this is even supported by the OpenQASM specification.

An alternative might be to allow chaining of `c_if` statements. Currently only the l

[2022-06-06 18:02] jakelishman commented on #8140
We can't do either of these within the OpenQASM 2 specification (the only thing that's allowed is equality comparisons between registers and integer literals), but we're currently in the process of _massively_ expanding our dynamic-circuit support, which will include far more general conditions.  I don't know when exactly we'll have all this support out, but we are working on it.

By the way, the

[2022-06-06 18:09] #8140 closed

[2022-06-06 18:12] Over-TheRainbow commented on #8133
Yes, ```sabre``` does work for me. I can use that as a workaround for now, thanks for the advice and the update on the situation!

[2022-06-06 18:20] levbishop commented on #7235
I suspect some kind of manifestation of GCC bug 323 behavior (FPU excess precision not stored).

[2022-06-06 21:31] prakharb10 opened #8141 "Error: Cannot unroll the circuit to the given basis"
### Environment

- **Qiskit Terra version**: 0.36.2
- **Python version**: 3.8
- **Operating system**: Ubuntu 20.04

### What is happening?

Getting the following error when trying to run the circuit.

[code]

### How can we reproduce the issue?

A simple circuit with Hadamard gates.
[code]
The error was raised on any of the available real quantum systems.

### What should happen?

This worked fine

[2022-06-07 00:31] HM0880 commented on #7705
@mtreinish

Have you thought about using Mckay's `nauty` [1] to produce a canonical labeling for the isomorphism problem?

[1] https://users.cecs.anu.edu.au/~bdm/nauty/

[2022-06-07 02:05] ajrazander commented on #8126
Excellent. Thank you everyone! Glad to see the fix as well as an example of what functions to use in the future :) I'll let someone else close the issue

[2022-06-07 03:05] balewski opened #8180 "circ.qubit_duration() - qubit_stop_time undefined"

[2022-06-07 06:16] dryicecube commented on #8139
Hello, if it's still open, I would like to work on this

[2022-06-07 06:35] dryicecube opened #8143 "Incomplete information for system config at IBMQ website"
### Environment

- **Qiskit Terra version**: '0.19.2
- **Python version**:  3.6.9
- **Operating system**: Ubuntu 18.04

### What is happening?

While going through the view system configuration [here](https://quantum-computing.ibm.com/lab/docs/iql/manage/systems/configuration), in the 'View System Configuration in Qiskit' using the graphical method, "backend" is not defined.

### How can we reprod

[2022-06-07 07:51] ShellyGarion commented on #5275
Clifford group elements and templates are defined up to a global phase, e.g. the template `S * H * S * H * S * H = Id` is valid only up to a global phase.
Perhaps it's worth to add a filed to the templates indicating whether they are equal to `id` or equivalent up to a global phase?

[2022-06-07 07:52] HuangJunye commented on #8139
@dryicecube Thank you! But it looks like @poig has created a PR #8142 for this issue. You can find other `first good issue` to contribute https://github.com/Qiskit/qiskit-terra/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22 Let us know if you need help.

[2022-06-07 08:26] hristog commented on #7235
For comparison and completeness purposes, my GCC version is `gcc (Debian 8.3.0-6) 8.3.0`.

[2022-06-07 09:25] IFWork commented on #7516
Oh and in case it isn't the same bug in the code, the same issue occurs with .draw(output="latex_source")

[2022-06-07 09:48] jakelishman commented on #8143
The name `backend` isn't defined in that code example, it's called `system` instead.  If you display `system` instead (i.e. put it alone as the last line of the cell), you should get the printout you expect.

The documentation is hosted on internal IBM repos, and I've filed the bug with them, so it should be updated shortly.  Thanks!

[2022-06-07 09:48] #8143 closed

[2022-06-07 10:48] jakelishman commented on #7235
It's definitely not the tests that would need changing, it'd be in the method you've highlighted, yeah.  I think we need to ensure that if `to_clip` triggers, then the absolute values of samples are strictly capped to `1.0`, which might mean doing `np.clip(np.abs(clipped_samples), 0.0, 1.0)`.

It would be good to open up a separate issue about this - the potential test failure is different to the

[2022-06-07 11:30] #6430 closed

[2022-06-07 11:34] stfnmangini opened #8145 "Bug when implementing Controlled Arbitrary Unitary operations when num_qubits > 3"

[2022-06-07 11:52] 1ucian0 commented on #5395
This issue was on its way to be fixed by https://github.com/Qiskit/qiskit-terra/pull/5399 If you want to build on top of that partial fix, please request to be assigned and don't forget add the original author as a co-author.

[2022-06-07 11:59] 1ucian0 commented on #5155
This issue was on its way to be fixed by #5186 If you want to build on top of that partial fix, please request to be assigned and don't forget add the original author as a co-author.

[2022-06-07 13:09] #6692 closed

[2022-06-07 13:09] #7461 closed

[2022-06-07 15:32] prakharb10 commented on #8141
Hey @Cryoris
Here's the snippet for the backend selection:
[code]
And job execution:
[code]
Then I extract the counts and perform further processing.

Let me know if you need anything else! 😄

[2022-06-07 15:51] frankharkins commented on #7516
Sorry I completely forgot about this, I'll have a look this week

[2022-06-07 15:55] jakelishman commented on #8141
Could you show the output of `qiskit.__version__`?  The file names and line numbers in your original traceback don't line up with any recent version of Terra - I think something might have gone wrong with your Python environment, and you're not loading up the version you think you are.  It looks to me like you're using something from the Terra 0.16 series (originally released in late 2020), wherea

[2022-06-07 16:59] jakelishman commented on #7400
A little update: I brought up dynamical decoupling again in an open Terra meeting today, essentially asking for comments on your needs and how we can / if we should implement them.  We agreed to move further discussion here.

[2022-06-07 17:34] prakharb10 commented on #8141
Hey @jakelishman
You were right. The issue had something to do with the `venv` environments. For some reason, the program was referring to the base installation despite activating the venv.
Upgrading the version in the home environment fixed the issue. Apologies for the false alarm.

Closing the issue.

[2022-06-07 21:08] nbronn opened #8148 "floats in circuit drawer are not rounded"
### Environment

- **Qiskit Terra version**: 0.20.2
- **Python version**: 3.9.7
- **Operating system**: Darwin

### What is happening?

The numeric value of floats is not rounded off, as it should be by the following line: [`param = get_param_str(op, "mpl", ndigits=3)`](https://github.com/Qiskit/qiskit-terra/blob/b8cb9573b5f013d0e8abc2b41db72ab27a3e8f37/qiskit/visualization/matplotlib.py#L452). Th

[2022-06-07 22:37] aeddins-ibm opened #8149 "Doc request: Alphabetical sorting of parameters in QuantumCircuit"
### Environment

qiskit-terra: 0.20.0

### What is happening?

`QuantumCircuit` objects sort their list of parameters alphabetically by the parameter names, and AFAICT this is not documented. I think it would help to point it out on the `assign_parameters` and `bind_parameters` documentation, and maybe on the `QuantumCircuit` page.

### How can we reproduce the issue?

https://qiskit.org/documenta

[2022-06-08 11:07] Cryoris commented on #8149
That's a very good idea! We should also add it in `QuantumCircuit.parameters` while at it 🙂

[2022-06-08 12:56] #2695 closed

[2022-06-08 13:58] mtreinish commented on #7741
While I was investigating adding the same approach from #7789 to the parallel dispatch in `passmanager.run()` I realized that using shared memory explicitly there doesn't seem to have any benefit. I'm guess the overhead we're seeing in transpiler is partially for serializing a long list of different arguments instead of a single pass manager instance. The tl;dr is if you replace your code example

[2022-06-08 22:21] prakharb10 commented on #8063
Hi, is @enavarro51 or someone else working on this?

[2022-06-08 23:35] JoelHBierman opened #8153 "Question: Does there exist functionality in Qiskit to compute expectation values of ListOps as efficiently as PauliSumOps?"
This could possibly be classified as a feature request, but that depends entirely on whether or not what I am looking for 1. Already exists and I just don't know it. and 2. Whether or not it is even possible. (Because I am unsure of this, for now I have simply classified it as a question.)

My observations:

If you want to evaluate the expectation value of a sum of a large number of Pauli operator

[2022-06-08 23:47] enavarro51 commented on #8063
Yeah, I'm currently working on it.

[2022-06-08 23:51] prakharb10 commented on #8063
Okay, cool. 👍🏻

[2022-06-08 23:58] prakharb10 commented on #6905
Hi, I think work on this is blocked by https://github.com/python/mypy/pull/12943?

[2022-06-09 00:01] poig commented on #5275
Is anyone working on this?

[2022-06-09 06:34] alejomonbar commented on #7670
In the end, the most important function used by a circuit execution using the BasicAer backend is [run_experiment](https://qiskit.org/documentation/stubs/qiskit.providers.basicaer.QasmSimulatorPy.run_experiment.html). A state vector attribute will be updated depending on the set of experiment instructions, which can be unitary, SINGLE_QUBIT_GATES, id or u0, CX, reset, barrier, measure, and bfunc .

[2022-06-09 11:23] kevinsung opened #8154 "DynamicalDecoupling and PadDynamicalDecoupling have identical docstrings"
### What should we add?

[DynamicalDecoupling](https://qiskit.org/documentation/stubs/qiskit.transpiler.passes.DynamicalDecoupling.html) and [PadDynamicalDecoupling](https://qiskit.org/documentation/stubs/qiskit.transpiler.passes.PadDynamicalDecoupling.html) have identical docstrings. This makes it difficult to understand the difference between the two classes by reading the documentation. I think

[2022-06-09 12:51] jakelishman commented on #6905
It's not necessarily _blocked_, but it'll definitely be harder to do while mypy crashes on Terra. The code mypy currently crashes on is something that could be worked around with more complete typing - if all partial types are resolved at the end of `BlueprintCircuit.__init__` and `QuantumCircuit.__init__` (which can be done with type hinting), I think mypy will probably make it through.

[2022-06-09 14:44] #6725 closed

[2022-06-10 07:31] 1ucian0 commented on #5275
Hi @poig, it seems to me there were some attempts to approach the issues, but no PR open yet. This issue is [part of the unitary hack initiative](https://unitaryhack.dev/projects/qiskit/) so I think it is fine if more than one person works on this.  So feel free to jump in :)

[2022-06-10 07:39] 1ucian0 commented on #8063
@prakharb10, since this issue is [part of the unitary hack initiative](https://unitaryhack.dev/projects/qiskit/), I think it is fine if more than one person works on it in parallel or in teams. So feel free to jump in :) Consider that this particular issue might be a bit advance as a first contribution. There is a [`good first issue`](https://github.com/Qiskit/qiskit-terra/issues?q=is%3Aissue+is%3

[2022-06-10 08:20] poig commented on #5974
@wmurphy-collabstar @1ucian0  just fix it, because I am working on Decompose.

[2022-06-10 08:36] 1ucian0 commented on #5974
You mean this issues should be marked as solved by https://github.com/Qiskit/qiskit-terra/pull/8129 ?

[2022-06-10 11:25] jakelishman commented on #7864
Oversubscribed VM again.

[2022-06-10 11:47] jakelishman opened #8159 "QASM 3 exporter does not respect non-standard basis gates"
### Environment

- **Qiskit Terra version**: 0.20.2
- **Python version**: any
- **Operating system**: any

### What is happening?

The OpenQASM 3 exporter is not correctly handling non-standard (user-defined) gates put in `basis_gates`.  This is useful when the backend supplies some gates that Terra does not have decompositions for; one should be able to add the gate as an opaque gate, and use the

[2022-06-10 12:39] poig commented on #5974
@1ucian0 I make the suggested change on #8142 , but haven't merged yet.

[2022-06-11 21:00] hristog opened #8163 "Waveform initialization incorrectly fails due to floating-point errors originating in np.abs"
### Environment

- **Qiskit Terra version**: 0.21.0.dev0+4982c69
- **Python version**: 3.9 (Numpy 1.22.3)
- **Operating system**: macOS
- **BLAS/CPU instructions** (courtesy of @jakelishman):
[code]

### What is happening?

Due to floating-point errors, resulting from the application of `np.abs`, `Waveform` - upon initialization - may throw a `PulseError`, incorrectly suggesting that there is at l

[2022-06-12 10:02] pollyshaw commented on #7078
Please could I be assigned to this? I have put in a PR.

[2022-06-13 10:13] jakelishman commented on #5974
This isn't actually a bug.  The `transpile` call given doesn't have any basis gates, so `initialize` is treated as a basis gate, which means it does not necessarily contain a reset (for example, a simulator will directly jump the state to the correct thing).  `transpile` doesn't fail to remove the `reset` because there's no `reset` to remove until the call to `decompose`.  If the `basis_gates` arg

[2022-06-13 10:13] #5974 closed

[2022-06-13 12:34] rishacha opened #8169 "Statevector drawer - `state_to_latex` latex output contains `\rangleNone`"
### Environment

- **Qiskit Terra version**: `0.20.2`
- **Python version**:  `Python 3.10.5 (main, Jun 11 2022, 16:53:24) [GCC 9.4.0] on linux`
- **Operating system**: `Linux - Elementary OS`

### What is happening?

When I try to render the following state -

[code]

using  `sv.draw('latex')`

I get the following latext output containing - `\rangleNone` which is **not the intended behaviour**

![

[2022-06-13 12:39] #7882 closed

[2022-06-13 12:47] Cryoris commented on #6381
I'm closing this since all items from the design doc concerning the VQE have been addressed. Also steppable optimizers are tackled in #8150.

[2022-06-13 12:47] #6381 closed

[2022-06-13 12:53] Cryoris commented on #5953
I don't think there are any left, so I'll close this issue 🙂

[2022-06-13 12:53] #5953 closed

[2022-06-13 14:26] lia-approves commented on #4990
I worked with Emma Dasgupta and @ewinston on this in 2019 when Emma and I interned at IBM Q as undergrads.
At the time, PyZX was GPL license and Qiskit is Apache 2.0, so their licenses weren't compatible and so we couldn't integrate the code bases to add a PyZX transpiler pass to Qiskit.  Since then PyZX has changed to Apache 2.0, so without that legal obstacle a PyZX transpiler pass in Qiskit sho

[2022-06-13 14:51] lia-approves commented on #4990
A writeup summarizing our 2019 PyZX transpiler pass in Qiskit is at https://src.acm.org/binaries/content/assets/src/2020/lia-yeh.pdf
The code structure was kept simple so it builds on top of Qiskit and PyZX, rather than changing the existing code and potentially breaking backwards compatibility.

In PyZX, we added two files to the folder at https://github.com/lia-approves/pyzx/tree/master/pyzx/cir

[2022-06-13 15:15] 1ucian0 commented on #5974
closing as `wontfix`. Thanks!

[2022-06-13 15:32] 1ucian0 commented on #6994
Hi @deeksha-singh030, did @jakelishman answered your question?

[2022-06-13 15:40] 1ucian0 commented on #4792
There was an attempt to fix this issue via #4861. If you want have a shoot at it, maybe makes sense to look at the #4861 code first. If you reuse code from there, dont forget to add @rochisha0 as a coauthor!

[2022-06-13 17:30] prakharb10 commented on #7796
Hi, did #8129 fix this or is there still work to be done?

[2022-06-13 17:34] #7796 closed

[2022-06-13 20:21] mtreinish commented on #4990
In general if you're going to propose adding a transpiler pass directly to terra to leverage pyzx I think that you'll need to remove the intermediate qasm representation. There shouldn't be any requirement on going through qasm as if you take the topological ordering of the `DAGCircuit` input to `pass.run()` you'll have basically a superset of the information available in a qasm representation. So

[2022-06-14 07:12] merav-aharoni opened #8175 "Qiskit crashes when attempting to translate an 'rz' gate to 'u'"
### Environment

- **Qiskit Terra version**: main
- **Python version**: 3.8.10
- **Operating system**: Linux

### What is happening?

I build a short circuit with only 2 `rz` gates, and try to check if it is equivalent to `Id`. Qiskit crashes because it attempts to translate the `rz` gates to `u`.

### How can we reproduce the issue?

[code]

### What should happen?

No crash.

### Any suggestions

[2022-06-14 07:45] ShellyGarion commented on #8175
The reason that this code fails is since it calls `Clifford(circuit)` where `circuit` contains non-clifford gates (`rz` or `u`).

According to the following documentation of the Clifford class (see: https://qiskit.org/documentation/stubs/qiskit.quantum_info.Clifford.html)

If you want to check that this circuit is equivalent to identity, you can call `Operator(circuit)` to get its unitary matrix,

[2022-06-14 07:47] merav-aharoni commented on #8175
Thanks, will try that.

[2022-06-14 08:44] hristog commented on #7235
I've created https://github.com/Qiskit/qiskit-terra/issues/8163 for the latter.
It's unclear to me where the non-determinism of test failures - given repeated executions of the same test originate (assuming no other tests are run at all, as part of each test run).

[2022-06-14 08:45] HuangJunye commented on #7078
@pollyshaw Sure, I have assigned you. Thanks for making the contribution!

[2022-06-14 09:13] #8175 closed

[2022-06-14 10:31] anupamaray opened #8176 "Entangling capacity as an Ansatz quality metric for all variational Quantum circuits"
### What should we add?

In the paper https://arxiv.org/pdf/1905.10876.pdf three metrics were proposed to represent Ansatz quality of variational circuits were proposed: Expressibility, Entangling capacity and circuit cost. However, to the best of our knowledge these metrics are not available in Qiskit nor in any of these issues in progress.

We have implemented these metrics and matched our numbe

[2022-06-14 10:58] #7916 closed

[2022-06-14 13:49] #8159 closed

[2022-06-14 16:30] ajavadia opened #8177 "pauli.evolve() needs a major speedup"
### What should we add?

@aeddins-ibm found that `pauli.evolve()` can be quite slow, and we can get substantial performance improvement from using private methods for special cases.

Since `pauli.evolve()` is the main entry-point / user-interface, it should be fast. There are probably some simple things that can be done to dramatically speed it up. But it needs some profiling to see what's causing

[2022-06-14 17:07] ajavadia commented on #8177
@chriseclectic observed that we should do `pauli.evolve(qc)` and not `pauli.evolve(cliff)`, which will be just as fast as calling the private method.
I'm still wondering if evolution by clifford can be sped up when the clifford is made up of lots of CX or CZ which are easy to invert.

[2022-06-14 18:27] wshanks commented on #7078
@taalexander @nkanazawa1989 Isn't the problem really that here:

[code]

`MemorySlot(0)` is being reported as a channel even though it is not one? Do you think anything is using the fact that the `MemorySlot` is getting reported in the acquire channels or can `Acquire.channels` be changed to only report the acquire channel?

[2022-06-14 19:47] InfamousPlatypus opened #8179 "Decompose creates multiple new gates if custom gates are nested, could those be removed?"
### What should we add?

Decompose creates multiple new gates if custom gates are nested, could those be removed?
As I'm working through improving my circuits I have been using decompose to observe what I'm trying to make against the reference. When I nest gates like so
`gate a ....{ gate b.... ....}
gate b ... { ... }
`
when I decompose this circuit, my gate declarations turn into where I have an

[2022-06-14 21:03] nkanazawa1989 commented on #7078
Oh, you're right! This should appear in Qiskit programs and thus memory slot and register slot are actually scheduled. Probably we need to update this method to return only acquire channel? Since these slots are always sync with the acquire channel and thus even not visualized. I don't think removing them breaks code execution.
https://github.com/Qiskit/qiskit-terra/blob/8061cfe04e33cc2827120b3aa1

[2022-06-14 23:10] pollyshaw commented on #7078
OK it sounds like I should revert these changes and instead change the implementation of Acquire.channels(). Will do so tomorrow.

[2022-06-15 08:24] ShellyGarion commented on #8177
Here is an updated code with some additions:

[code]
outputs:
[code]

[2022-06-15 08:30] ShellyGarion commented on #8177
In this case, the adjoint calculation is not much of a bottleneck since there is only one clifford (and 100 paulis), so the calculation is only done once, hence there is not much difference between the options `h` and `s`.

The main problem is that `_evolve_clifford` has two nested `for` loops (and I'm not sure how these can be avoided).
https://github.com/Qiskit/qiskit-terra/blob/a0b9a846f93a1e58

[2022-06-15 16:02] ajavadia commented on #8177
Nested for loops are known to be slow in python. To make matters worse, this implementation starts with `pauli_list = []` and keeps growing it, which requires repeated memory allocations.

It will be faster to allocate the full array size first. Also it will be faster to use vectorized numpy operations rather than for loops.

Also the initializaiton of identity paulis as `Pauli('I' * n)` will be s

[2022-06-15 16:56] mtreinish commented on #7705
Sorry I wasn't clear in my offline comment, the `call_limit` parameter is the number of internal state limits that retworkx performs before it gives up. Right now we have this value hard coded in the preset pass managers as something roughly approximating a fixed time. Although I just benchmarked a random run locally and this obviously will vary based on the graphs and the local system. The values

[2022-06-15 19:33] kevinsung opened #8182 "Add swap network"
### What should we add?

Arbitrary pairwise interactions between qubits can be simulated in linear depth and linear connectivity using a "swap network" as explained in https://arxiv.org/abs/1711.04789. This is a generally useful algorithmic primitive. I need it for https://github.com/Qiskit/qiskit-nature/issues/654 but since it's not specific to quantum simulation I think it belongs in Terra. I ca

[2022-06-15 20:53] kevinsung commented on #8182
Thanks @alexanderivrii . Figure 2 of the paper is explaining the Givens rotation decomposition of a unitary matrix, used to implement a single-particle basis change. After the publication of that paper, it was noticed that there is a better decomposition described in https://arxiv.org/abs/1603.08788. This is the decomposition we use in practice for the general basis change, and it is implemented a

[2022-06-15 21:32] mtreinish commented on #6923
This isn't closed yet, #7300 is needed before this is done.

[2022-06-16 00:01] prakharb10 commented on #7097
Hi, I just tried to run the tests @jakelishman mentioned earlier - ` tox -epy38 -- -n test.python.opflow.test_gradients.TestGradients.test_natural_gradient` and I'm getting a different error altogether.
[code]

[2022-06-16 00:21] prakharb10 commented on #7097
Hi, there is a difference between the deprecated `normalize` parameter and the `StandardScaler` outlined [here](https://stackoverflow.com/a/70093848) Will that be of any concern, maybe in the tests?

[2022-06-16 01:34] itoko opened #8185 "Transpiler needs capability to enforce physical qubits to use"
### What should we add?

Transpiler needs to provide some means to enforce physical qubit subset to use.

An option would be the upgrade of `CouplingMap`. The current `CouplingMap` cannot handle partial coupling graph perfectly. If it could, we could enforce physical qubits to use by just setting the partial graph to `coupling_map` option.

Some experiments such as Randmized Benchmarking (RB) requ

[2022-06-16 08:56] itoko commented on #8180
HI @balewski .`qubit_duration` only work with "scheduled circuit". So you first need to schedule the circuit. That can be done by specifying `scheduling_method` option in `transpile`. Please change your code like
[code]
and you can get the duration even before running the circuit.

[2022-06-16 10:07] jakelishman commented on #8177
I think the PR you may be thinking of was to do with `Clifford.compose`?  That's #7483.  We didn't merge that at the time because of #7269 heavily modifying the `Clifford` class, but it seems like we ended up not doing anything with `StabilizerTable` any time soon.  We could merge #7483 for Terra 0.21, potentially.  That said, #7483 doesn't touch `Pauli.evolve`, so that PR won't change this one, b

[2022-06-16 11:55] mtreinish commented on #7717
The `dag_drawer()` function has been updated in #8162 to close this issue we still need to update the coupling map drawer, pass manager drawer, and the equivalence library drawer.

[2022-06-16 15:27] aeddins-ibm commented on #8177
What do we think about this? Tried to draw inspiration from the multiplication table in #7483. I'm not sure how bad the memory cost of the `einsum` call is though.

[code]

[2022-06-16 15:58] aeddins-ibm commented on #8177
Sorry about the error above, I think this is correct. The bug was that I was confused how boolean types were handled inside matrix multiplication. Now it converts the arrays to integers first as a dumb fix, which has some cost (perhaps it can be avoided somehow). There is also some memory cost of the `einsum` call.

Assuming it's correct, does this seem like an appropriate replacement for the for

[2022-06-16 16:11] ewinston commented on #4990
I briefly looked at benchmarking this again in Nov 2021 using small circuits from QASMBench. I compared the depth compression ratio of pyzx against optimization_level=3 in qiskit.
![image](https://user-images.githubusercontent.com/25756217/174112230-751f6340-4275-4e87-b393-366520355c2e.png)

I also looked at ratio of non-local gates,
![image](https://user-images.githubusercontent.com/25756217/1741

[2022-06-16 16:28] ajavadia commented on #8177
@jakelishman thanks - you are right that doesn't look too bad.

@aeddins-ibm did you test the above for your example? how is performance?

[2022-06-16 16:39] ajavadia commented on #8185
The way to do this is via a 2-step transpilation:

[code]

[2022-06-16 16:56] balewski commented on #8180
thank you!
I got it to work. Can you help me with few follow-up questions?

Q1: I see 2 scheduling option: ASAP & ALAP.
If I run on the actual HW, say Jakarta, will my choice be honored?
If yes, I'm expecting to obtain different results, regardless of different shots statistics,  because the overlay between pulses driving different qubits will be different, hence the crosstalk will change. Is this

[2022-06-16 17:14] #8182 closed

[2022-06-16 18:12] aeddins-ibm commented on #8177
Have to apologize again as there is still an error with the phase (this is a learning exercise for me). I think it's because I did not yet account for the extra phase from commuting the X gates in the input Pauli object (self) past the Z gates from the stabilizer table (also need to add self.phase at the end but that's easier).

Regarding timing, as written above it was ballpark ~100 times faster

[2022-06-16 18:34] jakelishman commented on #7097
@Cryoris, @woodsp-ibm: perhaps you know the answer to this question?

[2022-06-16 19:01] kharazity commented on #8102
I started just playing with the ToeplitzTridiagonal for HHL as well. I wanted to compile it to qasm, but get the following error:

[code]

Here's the code:

[code]

[2022-06-16 19:53] ajavadia opened #8192 "better single-qubit gate optimization workflow"
### What should we add?

There has been some work recently in https://github.com/Qiskit/qiskit-terra/pull/7579 and https://github.com/Qiskit/qiskit-terra/pull/8178 to enable optimization of chains of single-qubit gates when they contain parameters. Previously qiskit only did this optimization for numeric values.

While useful, the current procedure is still a bit ad-hoc. It enables optimizing:
- a

[2022-06-16 20:19] mtreinish commented on #8192
I agree the single qubit gate chain path should be unified and improved and doing things on an ad-hoc basis just leads to us missing things. For the specific steps:

1. I'm fine with this, but we've been reluctant to deprecate transpiler passes in general though even if they've been superseded by something better. This came up recently again with `CSPLayout` vs `VF2Layout` and we decided to just k

[2022-06-16 22:31] HM0880 commented on #7705
Oh, now I understand how &ldquo;3e7&rdquo; corresponds to ~60 seconds of run time; thanks. Hopefully, the text below answers your question.

Yes.

In Figure 1 from yesterday, the running times start to saturate when |G| is 20x20, so it is reasonable to treat |G| = 100x100 as a limiting size. I tried fitting the exponential curve `time = a*10^(b*|H|)` to the times for 100x100 (see Figure 4). The fi

[2022-06-16 22:35] Randl commented on #6905
Relatively frequent errors that I'm unsure how to fix
1. Incompatible `np.floating` and `float`. Possible fix is to use [typing.SupportsFloat](https://stackoverflow.com/questions/69334475/how-to-hint-at-number-types-i-e-subclasses-of-number-not-numbers-themselv)
2. `ParameterExpression` type appearing in operations on numbers
3. Union of `List` for different types (e.g. `qubit` and `clbit`). Ideal

[2022-06-16 22:53] mtreinish commented on #7705
Well it depends on how you want to return it. The easiest way would probably be to just print it with `println!("{}", self._counter)` which will print to stdout (but a separate buffer than python's). But if you want to return the value, to interact with probably the easiest way is to change the return type of `next()` there to `PyResult<(usize, Option<NodeMap>)>` and then update all the callers an

[2022-06-16 23:10] #8132 closed

[2022-06-17 00:36] prakharb10 opened #8194 "Fix documentation referring to `StatePreparation`"
### Environment

- **Qiskit Terra version**: 0.36.2
- **Python version**: 3.8
- **Operating system**: Linux

### What is happening?

#7666 introduced the `StatePreparation` class. However, a couple of places in the documentation have erroneous references to the class, namely:

- https://github.com/Qiskit/qiskit-terra/blob/f47cd45e29c8f4e30040e8039bc28465bd1bd1ef/qiskit/extensions/quantum_initializ

[2022-06-17 01:08] prakharb10 commented on #7717
The other drawers identified by @mtreinish specifically are:

- https://github.com/Qiskit/qiskit-terra/blob/f47cd45e29c8f4e30040e8039bc28465bd1bd1ef/qiskit/transpiler/coupling.py#L410
- https://github.com/Qiskit/qiskit-terra/blob/f47cd45e29c8f4e30040e8039bc28465bd1bd1ef/qiskit/visualization/pass_manager_visualization.py#L31
- https://github.com/Qiskit/qiskit-terra/blob/f47cd45e29c8f4e30040e8039bc2

[2022-06-17 06:50] itoko commented on #8185
@ajavadia Oh, I didn't think of it. That's a good workaround. Thank you for your comment.

I though the workaround resolves this issue perfectly at first but I had a second thought. I see it works correctly, however, it has a minor performance issue.
If we use a noise-adaptive layout in the first pass, it would not work as intended. The pass should use the cost of qubit 1, 2, 3 but it would use th

[2022-06-17 08:14] IFWork commented on #7516
Has there been any luck at all?

[2022-06-17 11:51] jakelishman commented on #6905
Some potential answers:

1. I don't know where exactly you're thinking, but `typing.SupportsFloat` may well be fine.  I suspect the type checker will be a little too accepting with that annotation (e.g. `fractions.Fraction` would match that, but I expect a decent amount of our floating-point code would blow up if passed one), but that's not a big deal.
2. Cases where `ParameterExpression` is also

[2022-06-17 12:37] Randl commented on #6905
1. numpy returns type incompatible with `float` as scalar, e.g.
[code]
2. For example
[code]
3. ok, I'll take a look
4. I noted that some are already ignored by pylint, I'll see how much aren't

[2022-06-17 13:23] rafal-pracht commented on #8192
Maybe we can change in the Quaternion class (qiskit.quantum_info.synthesis.quaternion) to support symbols. In that case, we can convert any gate to u3, and then using Euler angles we can merge gates. The final u3 can be in easy way decomposed into base gates.

[2022-06-17 13:52] nonhermitian commented on #8192
So yeah one could do that, but then you would really need to have a way of symbolically having a function `vec3 = f(vec2, vec1)` that can be expressed in string form and using vectors that are passed around.  Otherwise you couldn't lazy eval the expression at the end.  If this is used generically then the only symbolics one needs is the parameter names to bind to.  Other than that, the insertion o

[2022-06-17 14:24] frankharkins commented on #7516
Yes, sorry- I've fixed and am just writing a test now.

[2022-06-17 17:00] aeddins-ibm commented on #8177
OK, understood the difference between `phase` and `_phase` at the last second, so here's updated code after all. It could probably be simplified (maybe avoid the `astype(int)` calls) and definitely needs updating to support `qargs` but hopefully that's not too bad.

Here's the updated code:
[code]

Here's the test showing it gives correct results for random inputs, with speed improvement of ~100x

[2022-06-17 18:08] aeddins-ibm commented on #8177
This version also handles `qargs`. I will try to make a PR with this in place of the for-loop-based _evolve_clifford method; pasting it here first in case I can't figure out how to do that.
[code]

[2022-06-17 18:49] ajavadia commented on #8177
nice work @aeddins-ibm !

[2022-06-17 22:38] Harrison-Z1000 commented on #1237
This link worked for me. Thank you!!

[2022-06-17 23:50] #7999 closed

[2022-06-19 01:14] poig opened #8202 "visualize bloch sphere with linestyle"
### What should we add?

The idea is from https://quantumcomputing.stackexchange.com/a/26950/20884

### something look like this when linestyle="dashed"
![image](https://user-images.githubusercontent.com/43441314/174461797-d2f8ab21-a4c8-4a38-aa58-b552cb00aadb.png)

[2022-06-19 04:19] balewski opened #8212 "qc.delay() crashes qc.qasm()"
### Informations

- **Qiskit version**:
- $ pip list | grep qiskit
qiskit                 0.36.2
qiskit-aer             0.10.4
qiskit-aqua            0.9.2
qiskit-experiments     0.3.1
qiskit-ibmq-provider   0.19.1
qiskit-ignis           0.7.1
qiskit-terra           0.20.2

- **Python version**:
- Python 3.9.2
- **Operating system**:
Ubuntu
### What is the current behavior?

Adding qc.delay() to a

[2022-06-19 13:39] pollyshaw commented on #7078
I have made the change to only return the channel from an Acquire channel, and made a minor modification to lowering.py as it used Acquire.channels to retrieve the memory slot index. I think the alternative way of finding it does the same thing.

There is still one failing test which is the reason for my delayed update of this PR. It is in test_schedule.py:

[code]
The reason this fails is because

[2022-06-19 18:02] gines-carrascal commented on #7809
Your code works only changing "tqc" -> "var_form" at the VQE instantiation. You can see the job created:

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/11366772/174494276-3956d741-02c5-49b7-8a84-84135823474b.png">

The queue is taking long (more than 20 minutes):
<img width="854" alt="image" src="https://user-images.githubusercontent.com/11366772/174494359-0d3d7500-8

[2022-06-20 02:29] nkanazawa1989 commented on #7078
Thanks for updating the PR! I understand the problem. Sounds like it depends how backend controller handles this situation. If it allows simultaneous access to the same buffer memory then it should be okey to remove this test with release note. Otherwise we should not remove memory slots from instruction channels. In this case, perhaps we can add validation to each instruction constructor so that

[2022-06-20 14:44] prakharb10 opened #8204 "Minor documentation errors in `execute`"
true @prakharb10 , also m and n could already be written in the same math environment upon definition. wanna open a new issue/PR since this one is already merged?

_Originally posted by @johannesgreiner in https://github.com/Qiskit/qiskit-terra/issues/8181#issuecomment-1160522309_

[2022-06-20 15:21] wshanks commented on #7078
In the backend code, I see that currently only a single measurement per channel is supported for pulse jobs or for circuits with pulse gates with acquire instructions in them. Also, across channels, all the acquire instructions need to begin at the same time. These  constraints are somewhat due to the implementation (developer time for implementing multiple measurements with pulse gates has not be

[2022-06-20 17:06] HM0880 commented on #7705
Here are `call_limit` counts as a function of |H|.

I ended up using a combination of `println` in retworkx, Bash redirects, and log files to get the counts.  `self._counter` was printed every 1000 counts, which means that the `call_limit` counts are rounded down to nearest 1000, but since vf2 reaches ~1 million counts for |H|=26, we do not need to look at every single count.  There is only one tr

[2022-06-20 18:03] anupamaray opened #8205 "Expressibility as a Metric for Ansatz Quality for any variational Quantum algorithm"
### What should we add?

In the paper https://arxiv.org/pdf/1905.10876.pdf three metrics were proposed to represent Ansatz quality of variational circuits were proposed: Expressibility, Entangling capacity and circuit cost. However, to the best of our knowledge these metrics are not available in Qiskit nor in any of these issues in progress.

We have implemented these metrics and matched our numbe

[2022-06-20 18:35] jakelishman commented on #8204
Yeah thanks, the intended LaTeX symbol is presumably `\times`.

[2022-06-20 19:25] jakelishman commented on #8179
Please could you provide a complete but minimal code example that produces the behaviour you're seeing?

[2022-06-20 19:42] InfamousPlatypus commented on #8179
Sure!
This has four gates that decompose to eight. It could be shown with just two but some of the structure is harder to see.
`qasm='''
OPENQASM 2.0;
include "qelib1.inc";

qreg q[4];
creg c[4];

gate ec2() a ,b {
  h a;
  h b;
  cx a, b;
  z a;
  swap a, b;
}

gate meh2() a ,b {
  h a;
  h b;
  cx a, b;
  z a;
  swap a, b;
}

gate ec4() a,b,c,d {
  meh2 a,c;
  ec2 b,d;
  ec2 a, b;
  meh2 c,d;

[2022-06-20 19:51] poig opened #8206 "visualize_transition with custom start up position"
### What should we add?

allowing initialize state before `visualize_transition`.

[2022-06-20 20:17] aeddins-ibm commented on #8177
Modified the code to be simpler. Basically the new code eliminated for loops, but seemed to be scaling worse b/c of building an N x N matrix, so I reverted to the old nested-for code (which did not need that matrix), but replaced one of the two for loops with a PauliList operation (below for reference). This seems to roughly match or else outperform the nested-for code for all cases, including the

[2022-06-20 21:01] kris524 commented on #8205
Hi, I would love to help but I'm new to qiskit. Could we break this down perhaps and maybe make a good-first-issue? How can I help (with research/code/etc.)?

[2022-06-20 21:02] nkanazawa1989 commented on #7078
According to @taalexander 's comment [here](https://github.com/Qiskit/qiskit-terra/pull/8166#issuecomment-1155127401), the first option seems reasonable to me. We can remove memory slots and reg slots from acquire instruction `.channels`, and instead we implicitly expose them to the schedule timeslots. We also remove these slots from here because `Schedule.channels` is generated based on the key o

[2022-06-20 21:28] taalexander commented on #7078
@wshanks

Personally, I would like to avoid major changes to classical IO behaviour right now. The reason being that the advent of control-flow in hardware is going to have an impact on the timing and memory semantics we currently expose and I don't think we yet know what changes to make.

I do think that to a degree it will look like representing memoryslots as channels but I also think the probl

[2022-06-20 21:43] wshanks commented on #7078
@taalexander just to clarify -- you are saying you don't want memory slots promoted to pulse channels? Does the other suggestion of removing `MemorySlot` from `Acquire.channels` but still tracking it internally in `Schedule` seem okay? I wasn't sure what counted as a major change for you.

[2022-06-20 22:00] artem-phys commented on #708
Is there something for local run, not for Jupyter?

[2022-06-21 04:33] poig commented on #8206
look something like this

![image](https://user-images.githubusercontent.com/43441314/174716689-658cc7c5-0fb0-40bf-8d15-0794f0787d4c.png)
![image](https://user-images.githubusercontent.com/43441314/174716700-33511eaa-240d-43dd-abb0-0e4a17b729f5.png)
![image](https://user-images.githubusercontent.com/43441314/174716651-38dd447a-e3cb-479b-8cd1-386b51ae6044.png)

[2022-06-21 06:14] poig commented on #8148
is this also a bug?
[code]
returns
[code]

[2022-06-21 10:29] HuangJunye commented on #7661
I was trying to use doctest in https://github.com/Qiskit/qiskit-terra/pull/8121 but I couldn't get it to actually test the code. Probably I should investigate it further but I see a lot of advantages of using jupyter-execute. It's really simple to use and the behavior of executing is exactly the same as jupyter notebook which is the major usage environment for our users. And it can display rich ou

[2022-06-21 11:52] HuangJunye commented on #7661
I did modify `conf.py` to include `sphinx.ext.doctest` extention but it didn't work for some reasons. But you are right, I should not try to use doctest in #8121 to complicate things. I use jupyter-execute instead.

[2022-06-21 11:58] HuangJunye opened #8213 "Migrat `sphinx-panels` to `sphinx-design` extension in documentation"
### What should we add?

`sphinx-panels` extension is not actively maintained and the maintainer recommends migrating to `sphinx-design` extension: https://github.com/executablebooks/sphinx-panels#sphinx-panels A migration guide can be found here: https://sphinx-design.readthedocs.io/en/latest/get_started.html#migrating-from-sphinx-panels

See related discussions here: https://github.com/Qiskit/qi

[2022-06-21 13:30] Cryoris commented on #8148
The text drawer doesn't support latex, that only works for the matplotlib drawer. Try for example
[code]

[2022-06-21 13:53] jakelishman commented on #8148
I think the bigger thing here is that `bind_parameters` creates a new circuit.  It's not in place.  But the issue is getting a bit distracted from Nick's original point.

The bug is probably that bound parameters are still `Parameter` instances, just with no symbols present.  It probably gets treated by the symbolic printer, rather than getting converted to a float and passed to the float printer.

[2022-06-21 14:46] jakelishman opened #8214 "Add release notes for transpiler passes with control-flow support"
As part of our larger move towards more dynamic circuits, Erick (@ewinston) has been upgrading various transpiler passes to support the control-flow operations `IfElseBlock`, `ForLoopOp` and `WhileLoopOp`.  These features aren't completely or stable yet, so we're not publicising them in the release notes in 0.21.  This issue is a tracking issue for the next milestone, to remind us to write and pub

[2022-06-21 14:56] miamico opened #8215 "`Parameter` support for more math function"
### What should we add?

The `Parameter` class ([here](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/parameter.py)) currently supports some function that operate on `Parameters`, for example we can add or take trig functions of parameters. However some are missing. An example is the square root of a `Parameter`. Is it possible to add other common math functions?

[2022-06-21 16:17] #7516 closed

[2022-06-21 17:53] nonhermitian opened #8217 "Faster U3 composition"
### What should we add?

Recently dealing with circuits with large numbers of U / U3 gates has become important.  When looking into the composition of U3 gates Optimize1qGates it was noted that (if you use U over U3 due to overheads in the latter) that `Optimize1qGates.compose_u3`, and in particular calls to `Quaternion` become the bottleneck.  It would be nice to push this bit of code down into R

[2022-06-21 18:57] #5978 closed

[2022-06-21 20:53] #7781 closed

[2022-06-22 04:25] poig opened #8219 "Two local entanglement strategies reference"
question from https://quantumcomputing.stackexchange.com/q/26994/20884

- I am using 'Two local' form of QISKIT as a waveform ansatz in VQE to compute ground state. [QISKIT documentation](https://qiskit.org/documentation/stubs/qiskit.circuit.library.TwoLocal.html) does not provide references to all the entangling options. Is there any other place where I can find references for different entanglin

[2022-06-22 13:49] woodsp-ibm commented on #8219
'sca' has a reference article since it added based on the work from that paper. Full (all to all), linear (to nearest neighbor) and circular (liner with the wrap back to the start) have been there since the earliest days with the ansatzes. These were simple general patterns we came up with when first doing the ansatzes with VQE to allow the user to easily alter entanglement for experiments. They c

[2022-06-22 16:39] MattePalte opened #8222 "QASM exporter error with `CSwapGate` and `CCXGate`: `Cannot find gate definition for 'unitary...'`"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

Using the `CSwapGate` and `CCXGate` in a subcircuit and converting it to qasm leads to an incorrect qasm file, where a unitary is never defined. Note that this happens only with optimization level 3 and not with others.

### How can we reproduce the issu

[2022-06-22 18:04] masaduzz1 commented on #8219
Thanks Poig for creating the issue, and thanks woodsp-ibm for responding. I realized that it's customizable. I can use different ansatz in a straightforward manner. I guess I can easily find out the references for specific cases by searching in the web. For example, it seems to me 'linear' option is inspired from  Hardware Efficient Approximation (HEA) used in this [paper](https://www-nature-com.l

[2022-06-22 18:10] #8219 closed

[2022-06-22 18:47] jakelishman commented on #8217
Thanks Paul - this is definitely a good candidate for moving into Rust.  I don't know if anybody external to Terra is using the `Quaternion` class. Perhaps we could move that entire thing into Rust, and everyone can have the speed-ups if so.

@HM0880: you mentioned you were interested in getting started on some Rust bits and bobs.  This might be another good choice for you, if you'd like.  No pres

[2022-06-22 21:57] MattePalte opened #8224 "Qasm exporter fails with `CXGate` and `CU1Gate` generates an empty unitary: `QasmError: "Expected an ID, received '{'"`"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04.6 LTS

### What is happening?

The qasm exporter creates a unitary gate with empty definition.

### How can we reproduce the issue?

Run the code:
[code]
Output:
[code]

Run this code to read back the exported qasm:
[code]
But it gives an error because the qasm is incorrect, since it

[2022-06-22 22:14] #6434 closed

[2022-06-23 00:25] #6923 closed

[2022-06-23 02:10] #5436 closed

[2022-06-23 02:11] hhorii commented on #6432
Primitive will resolve this issue.

[2022-06-23 02:11] #6432 closed

[2022-06-23 02:28] #7738 closed

[2022-06-23 07:35] anupamaray commented on #8205
Hi Kris, thanks for offering help. We have already completed the code and submitting the PR today.

[2022-06-24 05:11] r-taeja commented on #1237
Hey again! This link is working now. Thank you so much!

[2022-06-24 10:10] jakelishman opened #8233 "Transient test failure in `TestQuantumShannonDecomposer`"
### Environment

- **Qiskit Terra version**: main (post-0.21rc1) @ f3877a2
- **Python version**: 3.9
- **Operating system**: Linux

### What is happening?

There was a test failure in the nightly cron job which looks like it was for the quantum Shannon decomposer added in #7907.  This seems transient / rarely flaky, since most tests in the same job didn't fail, and I don't remember having seen thi

[2022-06-24 12:07] jakelishman commented on #8222
This is likely because `UnitaryGate` has some pretty questionable special handling to turn itself into OQ 2, including statefully producing a custom definition (the only gate in the circuit library to do so).  Probably this false definition is getting copied into an object that it should be in, or some other confusion like this, but neither the OQ 2 exporter nor `UnitaryGate` behave well and predi

[2022-06-24 12:19] jakelishman commented on #8224
The empty definition is clearly correct here - transpilation at level 3 does full unitary re-synthesis, and discovers that the single-qubit unitary is a simple identity, and so it doesn't need to do anything.  Lower optimisation levels don't do the same level of resynthesis (because it's expensive), and since there's no `basis_gates` supplied, they don't need to do _any_ synthesis.  The bug compon

[2022-06-24 13:52] kevinsung opened #8236 "Global phase gate"
### What should we add?

A gate that intruduces a global phase.

[2022-06-24 15:09] jakelishman commented on #8179
Perhaps this is a little bit of an A/B problem - the extra re-definitions are actually only added by the OpenQASM 2 exporter, as a safety mechanism because of problems with how parameterised gates are handled in it, and the rest of Qiskit Terra.  We can't really remove that without causing more serious problems elsewhere in the exporter right now (though we do hope to change that in the near futur

[2022-06-24 15:23] prakharb10 commented on #8194
Oh! I wrote that initially then changed it to the full path later 😅. Thanks for the explanation.
The search functionality seems great and better as it would prevent changing docstrings on future refactors (I think?).

[2022-06-24 16:19] #8204 closed

[2022-06-24 17:24] pedrorrivero opened #8239 "PassManager passes should be a property"
### What should we add?

`PassManager.passes` should be defined as a `@property` instead of as a callable/method.

[2022-06-24 18:57] eddygta17 commented on #4159
[code]

[2022-06-24 19:20] #8224 closed

[2022-06-25 06:27] r-taeja opened #8244 "Incorrect Display of an Error Message"
### Environment

- **Qiskit Terra version**:  0.20.2
- **Python version**:  3.9.12
- **Operating system**: macOS Monterey 12.4

### What is happening?

An error message related to the unitary simulator gets printed out incorrectly. It doesn't show the proper strings.

### How can we reproduce the issue?

[code]

This shows the following error :

[code]

### What should happen?

Instead of the erro

[2022-06-25 06:28] r-taeja commented on #8244
This is a very simple fix. I'd like to start to contribute to Qiskit, and would love to get this fixed. Shall I work on it?

[2022-06-26 23:27] poig opened #8245 "DAGCircuitError: 'expected 4 wires, got 3' when try to run if_else circuit"
### Environment

- **Qiskit Terra version**: 0.21.0.dev0+a18df14
- **Python version**: 3.9.12
- **Operating system**: windows 10

### What is happening?

I try to run the if_else circuit with AerSimulator, but it gives me this error but works with if_test with the same logic.

### How can we reproduce the issue?

[code]
output:
[code]

### What should happen?

the third method
[code]

### Any sugg

[2022-06-27 05:16] poig commented on #8245
sry, I solve it, without placing the classical bit.
[code]

[2022-06-27 05:17] #8245 closed

[2022-06-27 08:24] jakelishman commented on #8245
To avoid this sort of problem, it's best to use the builder interface:
[code]
gives
[code]

[2022-06-27 22:21] #8213 closed

[2022-06-27 23:13] jakelishman commented on #8244
Hi @r-taeja: yes, please do!  I'll assign you (no pressure, it's just a tracking tool so others can see you're on it).  Feel free to ask questions if you need a hand anywhere.

[2022-06-27 23:19] jakelishman commented on #8050
I know @1ucian0 and @alexanderivrii have been looking a bit at unifying some logic in `CommutativeAnalysis` and a couple of other places in Qiskit, so this might be something they can sensible wrap up into that work.  That said, I have a feeling that the issues with simulation at low optimisation levels might be a bug in Aer that was fixed in Qiskit/qiskit-aer#1519 - unfortunately you'll either ne

[2022-06-27 23:32] jakelishman commented on #7166
Sorry this fell through the cracks.  I'm ok with accepting a PR that changes `eps` to be tighter here, if that helps people.

[2022-06-28 01:01] #6816 closed

[2022-06-28 09:18] OxBrdgRbtx commented on #888
Is there a Backus–Naur form for the parser?

[2022-06-28 09:35] jakelishman commented on #888
@OxBrdgRbtx: I guess you mean the grammar more than the parser.  If so, [the original paper describing OpenQASM 2](https://arxiv.org/abs/1707.03429) has a BNF grammar in Appendix A.  If you're interested, the latest version of the OpenQASM specification (3.0) is under active development, and we have a reference LL(*) parser written using ANTLR which uses [a grammar-description file that looks rath

[2022-06-28 09:35] #888 closed

[2022-06-28 10:40] burgholzer commented on #7166
No worries. Would you also be willing to change `ndigits` from `8` to `17` in order to get `double` precision instead of `float` precision?

[2022-06-28 12:36] wyqian1027 opened #8251 "L_BFGS_B maxiter and maxfun defaults should be swapped"
### Environment

Generic implementation bug, not about environment

### What is happening?

Note that in qiskit.algorithms.optimizers.l_bfgs_b, we have the following defaults:

[code]

This is problematic since if maxfun is less than maxiter, the optimization will always get terminated by maxfun, since maxfun is always larger than maxiter (as calling from scipy library). Typically, one would get s

[2022-06-28 15:59] ewinston commented on #8236
This idea was brought up at least once before,

https://github.com/Qiskit/qiskit-terra/pull/1810

It would mean a significant change to how global phase is tracked which I'm not sure has a good justification over updating the global phase on the circuit.

[2022-06-28 17:30] nkanazawa1989 opened #8261 "Remove symbolic pulse subclasses"
### What should we add?

### Background

We have four parametric pulse subclass in pulse library, namely, `Gaussian`, `GaussianSquare`, `Drag`, `Constant`.
[code]
This returns a class instance dedicated to each waveform kind.

In #7821 , we replaced the base class of them from `ParametricPulse` to `SymbolicPulse`. In contrast to parametric pulse, symbolic pulse can uniquely determine waveform with

[2022-06-28 18:04] InfamousPlatypus commented on #8179
Ok, thank you.
I have been working with the drawing and the Qasm together.

[2022-06-28 18:04] #8179 closed

[2022-06-28 18:09] kevinsung commented on #8236
The use case I have in mind is for writing subroutines that yield gates without having the circuit around. Something like
[code]
If you appended these operations into a circuit, it's true that any global phase gates wouldn't have an observable effect. But if you then wanted to create a controlled version of that circuit, the global phase gates would matter.

[2022-06-28 18:21] #8177 closed

[2022-06-29 04:04] rickyzcode commented on #5472
@1ucian0 Hi, I am new to open source. But I am interested in this issue, can you please assign this to me? Thank you.

[2022-06-29 07:45] 1ucian0 commented on #3090
Thanks everyone for the heads up!

Indeed, this is already checked by snapshot testing. The next step is to add the snapshot tests as part of the CI/coverage, in the https://github.com/Qiskit/qiskit-terra/pull/6427 direction.

[2022-06-29 10:21] jakelishman commented on #8236
I think since the issue Erick mentioned, there has been a significant change to how we handle global phase.  The idea of a simple "global phase" gate that can be used in compound gate definitions sounds fairly convenient to me, for the reasons Kevin mentions above - when you control the gate onto a subset of the qubits, it's no longer a "global" phase, and it is convenient to be able to affect it

[2022-06-29 12:42] prakharb10 commented on #343
Pipfile does not seem to be actively maintained anymore. I suggest using something like [poetry](https://github.com/pypa/pipfile) that is well maintained, documented, and widely adopted. It can help in managing packages and environments in development better.

[2022-06-29 16:22] HuangJunye opened #8274 "Add instructions for building documentation locally for documentation related contributions"
### What should we add?

I can't find instructions for building documentation locally for qiskit-terra in https://qiskit.org/documentation/contributing_to_qiskit.html#contributing-to-documentation nor https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md I think it would to add something similar to https://github.com/Qiskit/qiskit-machine-learning/issues/413 for qiskit-terra so that com

[2022-06-29 16:27] jakelishman commented on #8274
It's here, right now: https://qiskit.org/documentation/contributing_to_qiskit.html#documenting-your-code.  It could be made more prominent, such as in Terra's `contributing.md`, though.

[2022-06-29 20:37] MattePalte commented on #7770
To further check that the two circuits are far from each other, I got their unitary:

Setup A:
[code]
Output:
[code]

Setup B:
[code]
Output B:
[code]

And by checking the difference, they are far as per numpy standard threshold:
[code]

[2022-06-29 20:44] MattePalte commented on #7770
Looking for help, I tag some of those who introduced the FIXME according to git blame, feel free to involve the specific code owners if you are not responsible, Thanks in advance to everybody.
@levbishop @georgios-ts @mtreinish

[2022-06-29 20:52] ewinston commented on #8236
If it's "tracked" how it is currently done through instruction definition that seems fine. Currently `QuantumCircuit.global_phase` represents the global phase of the circuit as represented. If any of the individual instructions in the circuit are transformed to another set of instructions, with a possible relative phase, that gets reflected up to the containing circuit at that time. In this case I

[2022-06-29 21:59] aeddins-ibm commented on #8217
I have some interest in this improvement and could potentially try porting to Rust (at least the Cython snippet, not sure about all of `Quaternion`). Just to check first:
- @HM0880 Would you like to work on this as @jakelishman suggested above? It's great if you'd like to, but if not I'm also happy to try.
- @ajavadia / @nonhermitian  Does it still make sense to move this code to Rust given other

[2022-06-30 11:13] nonhermitian commented on #8217
I think there are two different workstreams.  One is to do symbolic manipulation for special cases where it is possibly faster to do so.  The second is basically this issue here, where faster numerical manipulation is desired.  As such, I think it is fine to go head with this.

Moving the whole class to Rust seems like something interesting to try.  That would give performance somewhere between do

[2022-06-30 11:42] nonhermitian commented on #8217
As was mentioned by @mtreinish , this particular piece of code is not used in the preset passmanagers.  Those rather use `Optimize1qGatesDecomposition`.  Unlike here, where the form of the matrix is defined by the `U` angles, `Optimize1qGatesDecomposition` works on arbitrary gates by first expressing their matrix representation and then performing multiplication.  This is more difficult to speed u

[2022-06-30 12:04] prakharb10 commented on #7097
Hi, following up on this if there's any updates?

[2022-06-30 12:39] Red2Je opened #8279 "ParameterVector for the alpha arg in PauliFeatureMap"
### What should we add?

Reading this paper : [Here](https://arxiv.org/pdf/2012.07725.pdf) ,
I noticed that the equation for the PauliFeatureMap (equation 3) featured an alpha parameter (which is not present in the equation of this page of the documentation [here](https://qiskit.org/documentation/stubs/qiskit.circuit.library.PauliFeatureMap.html), but that's another problem).
In the said equation,

[2022-06-30 13:43] Zoufalc commented on #7097
Since the `normalize` argument is only used in an empirical regularization method, i.e., `Ridge`, it should be perfectly fine to implement minor changes such as changing to `StandardScaler`.

[2022-06-30 13:48] jakelishman commented on #7097
Thanks, Christa.  @prakharb10: the comment above is from the person who originally wrote the code, so we can go ahead with that.  Since it _may_ affect the exact results achieved from a given seed / set of initial points, we should include a one-line "upgrade" release note with the change mentioning that, but it should be sufficiently internal that we don't need any deprecation cycles, I think.

[2022-06-30 13:54] sgeaney-oqc opened #8280 "QuantumCircuit.draw(output='mpl') does not show circuit plots if called in a loop in Jupyter notebook"
### Informations

- **Qiskit version:**: 0.34.2
- **Qiskit Aer version:**: 0.10.3
- **Python version**: Python 3.8.0
- **Operating system**: Windows 10, 64-bit

### What is the current behaviour?
Generate some simple circuits in qiskit, put these circuits into a list and then in a for loop, try to draw each circuit. Snippet below:
`    circ_inputs = [qc1, qc2, qc3, qc4]`
`    for i, circuit in enu

[2022-06-30 16:25] prakharb10 commented on #8274
Adding to this, `tox` is used for running tests, building docs, etc. However, `tox` itself is not listed in `requirements-dev.txt`. I feel that after installing the packages listed in `requirements-dev.txt`, my environment should be ready to work on development.
Should we consider adding it to the list?

[2022-06-30 16:36] mtreinish commented on #8274
`tox` is independent of the `requirements-dev.txt` as it's a tool for manage your development virtual environments, package installation, and execution of test commands. Tox builds a virtualenv with a development install of the package and any additional testing tools. If you insist developers need to install requirements-dev first to install tox you end up duplicating the install of everything in

[2022-06-30 16:55] prakharb10 commented on #8274
I think I understand your point, @mtreinish. However, this does make me wonder whether my current setup is "optimal". Should we use the venv that tox creates for development? (as the python interpreter for the project)

[2022-06-30 17:12] levbishop commented on #7770
Thanks @MattePalte for reporting and diving into the details. I'll try to figure out what's going on here.

[2022-06-30 17:26] nonhermitian opened #8282 "Divide by zero in det warnings"
### Environment

- **Qiskit Terra version**: 0.21
- **Python version**: 3.9
- **Operating system**:  OSX (tested with NumPy 1.22 and 1.23)

### What is happening?

I get a divide by zero warning (usually but not always) in the determinant computed by NumPy for the following test:

[code]

[code]
### How can we reproduce the issue?

above

### What should happen?

No divide by zeros

### Any sugges

[2022-06-30 17:41] mtreinish commented on #8282
I tried running this on my local environment with numpy 1.23.0 from PyPI on x86_64 linux with Python 3.10 and I wasn't able to get any warnings when running the script (I even tried setting PYTHONWARNINGS=always to force it to emit everything). I'm thinking this might be a local environment issue with the numpy builds in your environment. I don't have a mac handy to test different numpy packages t

[2022-06-30 17:49] nonhermitian commented on #8282
Yeah, I have tried it on 2 other machines and cannot reproduce.  It looks to be isolated to M1 mac builds of NumPy.  Closing assuming that that is what it is.

[2022-06-30 17:49] #8282 closed

[2022-06-30 18:59] levbishop commented on #7770
There's a couple things going on here. First, the reason your `mat_a` and `mat_b` count as different to `np.allclose` is just the rounding for display in the parameters `3.1389` etc. Those matrices are within 1.E-5 of each other and would be even closer if not for that rounding. A separate problem is that the decompositions look different because there is a kind o f "gimbal lock" for decomposing a

[2022-06-30 20:28] enavarro51 commented on #8280
At least on the jupyter backend I use, you can wrap the `draw` command with the jupyter `display` command to see all 4 outputs. This works whether using 'mpl', 'text', or 'latex'.
[code]

[2022-06-30 22:36] sgeaney-oqc commented on #8280
Yep, that seems to solve the issue. Thanks, @enavarro51!

[2022-06-30 22:36] #8280 closed

[2022-07-01 00:27] nonhermitian commented on #8282
Just for the record, it is both pip and conda builds of NumPy for OSX ARM that raise these warnings.

[2022-07-01 00:45] nonhermitian opened #8283 "marginal_distribution raises for NumPy array indices"
### Environment

- **Qiskit Terra version**: 0.21
- **Python version**: 3.10
- **Operating system**: osx

### What is happening?

`marginal_distribution` raises error when passes a NumPy array of indices:

[code]

--> 225 if indices is not None and (not indices or not set(indices).issubset(range(num_clbits))):
    226     raise QiskitError(f"indices must be in range [0, {num_clbits - 1}].")
    22

[2022-07-01 04:15] levbishop commented on #8217
It would require a pretty major reorg of the circuit data structures, but if we moved the parameters out of the gate instances and into a numpy tensor. Ie the circuit has a (n1,2,2) tensor for all the 1q gates, a (n2,4,4) tensor for all the 2q gates, etc, and the gate instances have indices into the corresponding tensor. If we had that then the unroll-all-the-1q-gates-in-a-circuit type cases could

[2022-07-01 08:37] 1ucian0 opened #8284 "plugin interface for Clifford synthesis"
### What should we add?

With the inclusion of [Cliffords to QuantumCircuits as Operations (#7966)](https://github.com/Qiskit/qiskit-terra/pull/7966), it would be great to have a plugin interface for its synthesis, similarly to unitary synthesis (added in https://github.com/Qiskit/qiskit-terra/pull/6124).

This is blocked by #7966

[2022-07-01 12:15] prakharb10 opened #8286 "`jupyter-execute` displayed in docs"
The `.. jupyter-execute` command is erroneously displayed in the [docs](https://qiskit.org/documentation/stubs/qiskit.circuit.QuantumCircuit.initialize.html?highlight=initialize#qiskit.circuit.QuantumCircuit.initialize).

![image](https://user-images.githubusercontent.com/42675093/176892071-283ba9cd-5aee-47f9-b800-76afdb0067ef.png)

**Source Code**

https://github.com/Qiskit/qiskit-terra/blob/fe8a

[2022-07-01 15:28] mtreinish commented on #8283
This should be easy to fix and backport for 0.21.1, we just need to change the is empty check on the input validation there to something that works with lists and numpy arrays. I'm pretty sure the python->rust boundary will work fine as is if it gets a numpy array (although it won't be as efficient as declaring an input type as a numpy array, which is easy to add support for in addition to a gener

[2022-07-01 15:41] poig commented on #6560
actually you can add `%matplotlib nbagg` to make it draggable

[2022-07-01 18:50] levbishop opened #8287 "Remaining non-uniqueness of certain special cases of TwoQubitDecomposition"
...A separate problem is that the decompositions look different because there is a kind o f "gimbal lock" for decomposing a CNOT gate - the specializations to `TwoQubitControlledEquiv` etc. were supposed to make decompositions unique, and I covered a lot of the special cases, but this shows I did miss one or two. In particular for this case it can decompose an XX-equivalent gate into:
[code]
which

[2022-07-01 18:55] levbishop commented on #7770
I pulled out the non-uniqueness of the decomposition into a different issue. I can't reproduce the original problem here on my machines. I agree that the generated QASM in the failing case looks wrong, in particular
[code]

[2022-07-02 19:07] kibrahim757 commented on #1237
Hi , it seems that the link is down again , can you refresh it ? @jakelishman , @lerongil , Thanks

[2022-07-03 14:23] SimoneGasperini opened #8290 "Qiskit function to encode Python list of integers into quantum state"
Suppose I am given the following Python list as an example:

`arr = [2, 1, 2, 0, 0, 1, 3, 2]`

To encode this data into a quantum state I can use the "bit-string basis encoding" technique, writing both the integer indices and the integer elements of `arr` as binary strings $s \in \\{ 0,1 \\}^\*$ and then transforming them into a quantum state on the computational basis. In this case, I would need

[2022-07-03 17:19] alexanderivrii commented on #8050
The problem persists even without simulator, that is the following code
[code]
still produces the same error.

BTW, does it make sense that when transpiling with `optimization_level` = 0 or 1, the `Initialize` gate still remains in the circuit? Don't we want it to be expanded into the basic gates?

[2022-07-03 20:09] MazenAli opened #8291 "Transpiler bug for circuits with no cnots"
### Environment

- **0.21.0**:
- **3.9.7**:
- **CentOS Linux 7**:

### What is happening?

When transpiling circuits for a real backend and circuit contain no cnots, transpiler gets stuck (does not return to caller).
Does not happen when circuit contains cnots or cz gates.
Does not happen with qiskit 0.36.2 (qiskit-terra 0.20.2)

### How can we reproduce the issue?

[code]

[2022-07-04 08:57] #8251 closed

[2022-07-04 09:56] Cryoris commented on #8290
1. I'm not an expert on which would be the most efficient way of synthesizing this network (@ShellyGarion or @alexanderivrii would certainly know more!) but conceptually this looks correct to me. In general there are different techniques to encode numbers into quantum states, here you mention basis encoding but there's also amplitude encoding, phase encoding, angle encoding... depending on your us

[2022-07-04 11:56] jakelishman commented on #8050
Your call doesn't specify any basis gates there, so there's nothing to expand to. The errors with Aer I was talkig about were for the cases in the original post where the transpilation succeeded, but simulation then failed.

[2022-07-04 13:14] Cryoris commented on #7809
@andrea2020liuyy does the above reply help? It seems indeed that `tqc` hasn't been defined. If not, do you mind posting the error that you're getting? That would help us understand what the issue might be 🙂

[2022-07-04 16:04] jakelishman commented on #8286
Thanks!  This just needs an extra blank line putting in above the `.. jupyter-execute::` line to get it rendered correctly.

[2022-07-04 16:17] OrenScheer opened #8293 "QPY serialization does not preserve Delay time unit"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.10.4
- **Operating system**: Windows 11

### What is happening?

Creating a circuit with a Delay instruction with any time unit (for example, "us"), serializing the circuit to a QPY file, then deserializing the circuit results in the deserialized circuit's Delay having a time unit of "dt".

### How can we reproduce the iss

[2022-07-05 05:47] kibrahim757 commented on #1237
it is working now , thanks

[2022-07-05 06:05] aeddins-ibm commented on #8217
interesting idea, though that's a bigger project than I'm personally up for at the moment. 😅

Since it sounds useful at least in the short term, here's a first draft of a Rust port of the Cython snippet above. It agreed with Cython on a set of random imports (further below). I have not looked at timing yet.

[code]

I ran the Cython code on 1000 random pairs of input u3 angles:
[code]
and found th

[2022-07-05 06:19] ShellyGarion opened #8294 "Improve TwoLocal and RealAmplitudes synthesis when entanglement='full'"
### What should we add?

When choosing a `TwoLocal` or `RealAmplitude` or `EfficientSU2` gate with `entanglement=full` on n-qubits (for VQE ansatz),
then we get a circuit with a CX sub-circuit that contains `n*(n-1)/2` CX gates.
However, we can re-write this circuit with only `n-1` CX gates with a linear connectivity (see a code example below).

[code]

outputs:
[code]

It will be good to update e

[2022-07-05 06:28] ShellyGarion commented on #8294
It seems that `LinearFunctionsSynthesis` transpiler pass actually does this optimization (see a code example below),
but it is better to do it directly when generating the circuits, and not wait for the transpiler to discover such an elementary improvement.

Another reason is that for other options `entanglement='full'` or `'linear'` or `'sca'`, this transpiler pass actually increases the number o

[2022-07-05 11:20] Anthony-Gandon opened #8295 "Add transition amplitude calculations on NumpyEigensolver"
### What should we add?

Currently, the NumpyEigensolver implements a `_eval_aux_operators` which evaluates the auxiliary operators on the excited states.
Without much effort and using an equality in the form of Eq. 13 in https://doi.org/10.1103%2Fphysrevresearch.3.023244, we can extend it to evaluate transition amplitudes for the same auxiliary operators between two eigenstates of the Hamiltonian

[2022-07-05 12:36] Cryoris commented on #8294
Maybe we can keep the old behavior for reproducibility and education purposes under another name like `"full_explicit"` or something like that. Also we should check for which types on entangling gates this holds so we can add a switch at the `NLocal` base class to handle `"full"` entanglement optimally.

[2022-07-05 12:38] Cryoris commented on #8295
If we add such a functionality to the class it would be nice if all `Eigensolver`s can do that. Is this something we could also do for other excited states calculators in Terra or is it based on the fact that you have access to the statevectors?

[2022-07-05 13:21] mtreinish commented on #8217
That looks like a good start it should be pretty performant there are no obvious performance red flags to me. To integrate it into qiskit it's pretty easy, you just leverage the `#[pyfunction]` macro from pyo3 to have it generate the python c api interface function and then add that to a module (either a new one or as part of an existing one). https://github.com/Qiskit/qiskit-terra/blob/main/src/s

[2022-07-05 13:29] yaelbh commented on #8294
In my opinion, any education should actually contain the information that a full entanglement ansatz with cx gates is equivalent to the one described here

[2022-07-05 14:15] christoph-riverlane opened #8296 "qasm import fails for circuit exported with Qiskit"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.8.9
- **Operating system**: macOS (M1)
- Qiskit version 0.37.0

### What is happening?

The import of a qasm into Qiskit fails. The qasm has been exported with Qiskit from a simple circuit. Gates triggering the errors are QFT and StatePreparation. See below for minimal examples with error messages.

### How can we reproduc

[2022-07-05 14:19] christoph-riverlane opened #8297 "qpy import of circuit with StatePreparation fails"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.8.9
- **Operating system**: macOS (M1)
- Qiskit version 0.37.0

### What is happening?

When reimporting a simple circuit containing a StatePreparation with `qiskit.qpy`, one gets the error `qiskit.exceptions.QiskitError: 'The num_qubits parameter to StatePreparation should only be used when params is an integer'`.

### Ho

[2022-07-05 14:21] t-imamichi commented on #7836
#8065 removed the optional behavior.

[2022-07-05 15:27] Cryoris commented on #8294
Yeah it should definitely be explained in the docstring, but maybe some users want to keep the precise old circuit so we might want to keep some way of reconstructing it 😄

[2022-07-05 15:32] ShellyGarion commented on #8294
Is this needed for backward compatibility? or is there another reason to keep an equivalent circuit which is inefficient?

[2022-07-05 19:15] #8286 closed

[2022-07-05 20:22] ejwilson3 opened #8301 "QAOA fails if mixer includes parameterized mcrz"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Qiskit Optimization version**: 0.4.0
- **Python version**: 3.8.9
- **Operating system**: MacOS Big Sur 11.6.6

### What is happening?

Submitting a QAOA with a custom mixer which includes a mcrz gate with a parameter (even if it's only controlled by a single qubit) it throws `CircuitError: 'Cannot bind parameters(t[1]) not present in the circ

[2022-07-06 07:19] Cryoris commented on #7802
Hi @pradkrish any news on this? 🙂

[2022-07-06 09:04] aeddins-ibm commented on #8217
Thanks, hopefully I have it configured correctly now. Seeing 20-40x speedup (may depend on the random angles chosen). I guess I'll just remove the original function definition and make a PR.

<img width="765" alt="image" src="https://user-images.githubusercontent.com/60495383/177511635-ce7b06c4-8509-4622-aa72-24d956d200d3.png">

[2022-07-06 11:48] alexanderivrii commented on #5775
I would be willing to give this a try.

[2022-07-06 13:15] jakelishman commented on #7993
The parameterised U gate only works with the basis translator, and we can only define rules for the basis translator for fixed number of parameters (so you can't add a general rule that will work with _all_ parameterisations).  It's technically possible using a similar strategy to what Chris did above, which I hadn't thought of before.  I still don't think that using `Parameter` with discrete (inc

[2022-07-06 13:16] nonhermitian commented on #8217
The original Cython code gave around 60x, so seems about right.

[2022-07-07 14:43] DRA-chaos opened #8310 "Issue with understanding the physicsin documenting qiskit.quantum_info.Statevector.from_instruction"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

The documentation of qiskit.quantum_info.Statevector.from_instruction mentions that the initialized state is 'evolved by the input circuit or instruction'. From the point of view of Quantum State Tomography (where this function has been used to generate the expected state_vector), I

[2022-07-08 13:41] rht opened #8312 "Implementing Powering lemma"
Note: I tried to join the Qiskit Slack to ask the question of this issue, but the invite link (https://ibm.co/joinqiskitslack) has expired.

I am trying to implement the Powering lemma (lemma 2.1) described in the [paper](https://royalsocietypublishing.org/doi/pdf/10.1098/rspa.2015.0301) by Montanaro ("Quantum speedup of Monte
Carlo methods"), page 7:

estimate some quantity μ, and whose output μ˜

[2022-07-08 14:23] rht commented on #8312
I'm closing this issue because it is more of a forum question, and so I should have asked in https://quantumcomputing.stackexchange.com/ with `[qiskit]` tag.

That said, it would be great if the Slack invite link is renewed again.

[2022-07-08 14:23] #8312 closed

[2022-07-08 14:32] #8217 closed

[2022-07-08 17:33] nonhermitian opened #8313 "mpl circ drawer fails with `idle_wires=False`"
### Environment

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is happening?

[code]

gives

Traceback (most recent call last):
  Input In [9] in <cell line: 2>
    trans_qc.draw('mpl', idle_wires=False)
  File /opt/miniconda3/envs/qiskit/lib/python3.10/site-packages/qiskit/circuit/quantumcircuit.py:1907 in draw
    return circuit_drawer(
  File /opt/mi

[2022-07-09 14:21] nonhermitian opened #8314 "Dag In/Out nodes should have op and/or names"
### What should we add?

Currently `DAGOutNode` and `DAGInNode` have no `op` or `name` attributes.  This makes looking for specific operations more difficult than it has to be, and one must always do a type check first.  For example:

https://github.com/Qiskit/qiskit-terra/blob/16169de38ba858747e796a2acb5c96f8f37cb3b9/qiskit/dagcircuit/dagcircuit.py#L1404

It would be nice if they could be set as

[2022-07-09 14:43] aprew commented on #5098
Considering this seems abandoned would I be able to try fixing this instead?

[2022-07-11 06:54] alexanderivrii commented on #5775
Here are a few thoughts on the _block collection_ part of this; I will open a draft PR later today.

I agree with @levbishop's [comment](https://github.com/Qiskit/qiskit-terra/issues/5775#issuecomment-777523637) that collecting is generally not unique and that we should concentrate on lightweight heuristic approaches. So a reasonably simple and useful strategy seems something like this: "starting

[2022-07-11 10:06] LenaPer opened #8315 "Error when using measurement error mitigation with VQE runtime"
### Environment

- **Qiskit Terra version**:  0.21.0
- **Python version**: 3.9.12
- **Operating system**: macOS Big Sur 11.6.6

### What is happening?

When I use VQE via on some backends with measurement_error_mitigation=True (when set to false it runs without issues) and try to solve on a huge qubit operator (around 500 terms), it throws me this error :
`2022-07-11T09:56:28.803438232Z qiskit.exc

[2022-07-11 11:52] Cryoris commented on #8315
This is something we also encountered with @eggerdj with the QAOA runtime and seems to be related to the error mitigation. We're looking into it 🙂

[2022-07-11 11:57] Cryoris commented on #8294
Not backward compatibility per se, since we would change what happens with the mode "full". But I think users should be able to reproduce the exact same old behavior, at least for the beginning. Especially because the circuit library is a toolbox that users can use to build structured circuits for their needs 😄

We could also include a code snippet that shows how to create the "full" entanglement

[2022-07-11 12:41] rishacha opened #8317 "Fix latex output to match qiskit-texbook norms"
### Environment

- **Qiskit Terra version**: 0.20.2
- **Python version**: Python 3.10.5 (main, Jun 11 2022, 16:53:24) [GCC 9.4.0] on linux
- **Operating system**: Linux - Elementary OS

### What is happening?

Currently, the latex output has multiple aesthetic issues that would be really helpful if fixed. I am listing the issues as follows -

1.A leading space is prefixed with the latex output str

[2022-07-11 13:34] Cryoris commented on #8315
@nathanschnitzerNNL the one that @eggerdj posted or the one from @LenaPer?

[2022-07-11 13:57] nathanschnitzerNNL commented on #8315
I am referring to the one from @LenaPer . Here is the log error output that I got from my latest job cb620trshjg0cvokdsb0 (Auckland). Sorry for the formatting...
[code]

[2022-07-11 14:26] jakelishman commented on #8313
A self-contained reproducer for assisting debugging:

[code]

[2022-07-11 15:51] enavarro51 commented on #8313
It has to do with `barrier` and `idle_wires`. This simple circuit fails as well. Fix is forthcoming.
[code]

[2022-07-12 03:15] dimple12M opened #8324 "Plot_hinton imaginary section displays incorrect elements"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.7.9
- **Operating system**: ios

![Screenshot 2022-07-12 at 11 09 39 AM](https://user-images.githubusercontent.com/65215560/178400511-31621abb-5fba-470a-a892-09491c30f29b.png)

### What is happening?

In the Visualization section: plot_hinton
It displays 2 plots : one for real and one for imaginary
There are 2 issues:

1.

[2022-07-12 05:54] rht opened #8325 "doing qc.save_statevector when the backend is statevector_simulator fails with "Failed to load qobj: Duplicate key "statevector" in save instruction""
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: 3.10.5
- **Operating system**: NixOS 22.11 (Raccoon)

### What is happening?

Doing qc.save_statevector when the backend is statevector_simulator fails with "Failed to load qobj: Duplicate key "statevector" in save instruction".

### How can we reproduce the issue?

If I do this
[code]
it causes an error
[code]
The error dis

[2022-07-12 06:56] pafloxy commented on #2429
Hello I am facing a similar problem. After using ```qc.bind_paramters()``` for a particular time the paramters become inaccesible, also ```qc.paramters``` returns a empty ```ParamterView``` object indicating the paramters have been removed. But for my purpose I need to pass in different numeric values to the parameters through out the preocess. Is there any workaround to this ?

[2022-07-12 08:25] ShellyGarion opened #8326 "Move the EvolvedOperatorAnsatz to N_local circuits directory"
### Environment

- **Qiskit Terra version**: 0.21.0
- **Python version**: all
- **Operating system**: all

### What is happening?

This issue is regarding the organization of the circuit library, and in particular of the N-local circuits:
https://qiskit.org/documentation/apidoc/circuit_library.html#n-local-circuits

[EvolvedOperatorAnsatz](https://qiskit.org/documentation/stubs/qiskit.circuit.libr

[2022-07-12 11:08] jakelishman commented on #7864
Oversubscribed VM - nothing to worry about.

[2022-07-12 11:10] jakelishman commented on #2429
`bind_parameters` and `assign_parameters` return new circuits, so you can use the old circuit to bind/assign new parameters.

[2022-07-12 12:44] wyqian1027 opened #8328 "Adding improved ansatzes such as ALT, TEN, for quantum variational/machine learning approaches"
### What should we add?

To counter the known issue of barren plateaus/vanishing gradients (https://www.nature.com/articles/s41467-018-07090-4.pdf), people have been proposing new ansatzes other than hardware efficient ansatz in variational approach or quantum machine learning, with mathematically-proven improved performance.

This feature could be also added to qiskit library, such as Alternating