[2019-12-12 07:40] gremlin97 commented on #2712
Link is not working :(

[2019-12-12 14:15] kdk commented on #3605
Hi @weiT1993 , thanks for reporting. I'm not currently able to replicate this. Can you post the full traceback along with your
[code]

[2019-12-12 14:18] ajavadia commented on #3605
qiskit 0.8.2 is a bit old, i'd try updating. though i don't recall this failing at that version either.

[2019-12-12 14:18] mtreinish commented on #3605
This is an issue caused by networkx 2.4 on qiskit-terra <0.11.0 (caused by https://github.com/chebee7i/nxpd/issues/14). There are 2 ways to fix it either downgrade networkx to 2.3 or upgrade qiskit-terra to 0.11.0. I'm going to close this since it's already been fixed on the latest version of terra (by #3280), but please feel free to reopen if I'm missing something

[2019-12-12 14:18] #3605 closed

[2019-12-13 03:38] ajavadia opened #3607 "drawing `unitary` gates in mpl messed up"
There are huge gaps when drawing "unitary" gates. Also the box should say "unitary" (which is the `gate.name`), exactly like what latex and text drawers do.

The fix should be patched on stable.

[code]
![image](https://user-images.githubusercontent.com/8622381/70767542-bb398980-1d2f-11ea-8aae-b79296aeb2e1.png)

[2019-12-13 11:31] eembees commented on #3598
Hi! I have some downtime the next couple of weeks and would like to try working on this, but I'm quite the newbie - would you mind giving a bit of guidance on where to start? :)

I also suppose this also would relate to #3599 , or am I mistaken?

[2019-12-13 13:42] taalexander commented on #3598
That would be great @eembees, this contribution would be a huge help! Currently, the `rep_times` is reported in the schema as an integer, this should likely be a float, see [here](https://github.com/Qiskit/qiskit-terra/blob/2b29f32d40e9155552326f8288e6fba87c3faa0b/qiskit/providers/models/backendconfiguration.py#L119).  It is also used in several [places](https://github.com/Qiskit/qiskit-terra/sear

[2019-12-13 13:51] taalexander opened #3609 "args in ParameterizedScedule do no obey input ordering"
### Information

- **Qiskit Terra version**:v0.12
- **Python version**:3.7
- **Operating system**:Mojave

### What is the current behavior?
If passing a callable to a Parameterized schedule with signature arguments f(b, a) where the arguments are not ordered alphabetically, calling `parameterize_schedule(b_inst,a_inst) will result in `f(a_inst,b_inst)` being called.

The current implementation of

[2019-12-13 13:51] taalexander commented on #3609
@nkanazawa1989 do you think you could have a look and see if this is trivial or requires a bit more work?

[2019-12-13 14:00] taalexander opened #3610 "Supported meas_levels should be validated on client-side at assembly"
### What is the expected enhancement?
The new `ibmq_armonk` device only supports `meas_levels=[1,2]`. An optional validation error should be raised if a user tries to submit a `meas_level=1` job. This is related to #3606.

[2019-12-13 15:32] eembees commented on #3598
Superb.
One question, should I be changing the values in the tests as well?

[2019-12-13 16:41] chriseclectic opened #3611 "Change Statevector `to_counts` method to `probabilities`"
### What is the expected enhancement?

PR #3514 added a method called `to_counts` to `Statevector` and `DensityMatrix`. I think this method is miss-named since it is returning probabilities (in dict form), not counts. Furthermore, these classes allow non-qubit subsystems which this does not support.

My suggestion is that function def should be renamed to `probabilities(qargs)`, where `qargs` spec

[2019-12-13 16:47] chriseclectic commented on #3611
There should probably also be another method that returns probabilities as a dense vector rather than sparse ket-form (dict).

[2019-12-13 18:37] nkanazawa1989 commented on #3609
I found the reason and I'll fix.

[2019-12-13 18:39] kdk opened #3613 "try import Aer/IBMQ except ImportError can mask ImportErrors"
When `import qiskit` is run, we auto-import Aer and the IBMQ provider if they are installed ( https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/__init__.py#L50 ).

As came up today, this can mask ImportErrors which arise when developers are working in Aer or the IBMQ provider.

This could be replaced with something like:
[code]

[2019-12-14 00:45] taalexander opened #3615 "Schedule.filter should accept scalar values as well as iterables"
### What is the expected enhancement?
`Schedule.filter` currently expects its input arguments to be a list. This should be extended to also accept a scalar value.

[code]

[2019-12-15 00:08] georgesbarron opened #3617 "`schedule_circuit` fails when circuit contains measurement"
### Information

- **Qiskit Terra version**: 0.11.0
- **Python version**: 3.7.3
- **Operating system**: macOS mojave

### What is the current behavior?

`schedule_circuit` fails to produce a `Schedule` when providing a (based on my understanding) valid `QuantumCircuit` including measurement.

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

I should be able t

[2019-12-15 18:41] taalexander commented on #3617
At a quick glance, your meas map is structured incorrectly. It should be `meas_map = [[0]]` as there is only a single qubit and its always measured on its own 😄. After changing this the code above works.

Feel free to reopen if this does not fix your issue.

[2019-12-15 18:41] #3617 closed

[2019-12-16 15:25] antalszava opened #3619 "The initialize() method fails on the unitary_simulator backend"
### Information

- **Qiskit Terra version**: 0.11.0
- **Python version**: Python 3.7.4
- **Operating system**: Ubuntu 18.04.3 LTS

The release notes for version ``0.14.0`` do not suggest that this would be intended behavior.

### What is the current behavior?
The [``initialize()``](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/extensions/quantum_initializer/initializer.py) method from

[2019-12-16 19:28] ajavadia commented on #3611
I'm fine with that. `counts` should be what you get from finite `shots`, and `probabilities` the limit at infinite shots. Should it be `.probabilities` or `.to_probabilities`?

[2019-12-17 16:53] 1ucian0 commented on #3562
There is no need to change the backend end. The provider layer is there for exactly this situation: to transform the backend into qiskit.

[2019-12-17 21:44] NuoWenLei commented on #3615
Hi, I just started to get into Qiskit. I was wondering if you would give me a shot at this?

[2019-12-18 04:29] taalexander commented on #3615
Welcome to Qiskit @NuoWenLei! This is an excellent issue to cut your teeth on. I have assigned it to you, feel free to ask for any pointers on how to go about this.

[2019-12-18 06:02] ajavadia opened #3626 "expand `BackendProperties` in `PassManagerConfig`"
As @taalexander astutely pointed out, it makes more sense for the transpiler to accept individual properties rather than a monolithic `BackendProperties`. For example `readout_errors`, `cx_errors`, `gate_durations`, etc, etc. This would be in the same vain as how it currently accepts `basis_gates` and `coupling_map`, rather than `BackendConfiguration`.

Of course `transpile(circuit, backend)` woul

[2019-12-18 09:49] nkanazawa1989 opened #3627 "Default value of `meas_return` should be `single`."
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently default values of `meas_level` and `meas_return` are respectively set to `2` and `avg`.
https://github.com/Qiskit/qiskit-terra/blob/fa09a7f6d2c6d6b35f8b221221264f7a437a5b17/qiskit/compiler/assemble.py#L30-L39

However `meas_level=2` and `meas_return='avg'` are inv

[2019-12-18 10:00] eembees commented on #3610
Hi @taalexander , I would like to have a look at this.
Should I (just) add a validation error to this, similar to #3606?
I see that #3606 also includes a test, but I don't know if that's necessary for this?

[2019-12-18 13:34] blakejohnson commented on #3530
Splitting this out into `SetPhase` and `ShiftPhase` makes sense to me.

[2019-12-18 14:05] taalexander commented on #3530
Yup. I like both.

[2019-12-18 14:11] NuoWenLei commented on #3615
Ok thank you!

[2019-12-18 14:37] taalexander commented on #3610
Thank you @eembees! I think you have the right idea @eembees. A test would be nice to verify this is working you could just use an empty schedule `pulse.Schedule()` and add it to `test.python.compiler.test_assembler`.

[2019-12-18 15:08] taalexander commented on #3627
Are you sure this is failing in the provider? I have run tests on internal and external devices and it went through. My stance is that `meas_return` should be ignored for `meas_level=2`.

[2019-12-18 20:34] kdk opened #3629 "pylint/asteroid versions should be consistent across elements"
For developers working across elements, we should support a consistent development environment, including standard versions of pylint/astroid.

Terra currently uses pylint 2.3, aqua uses 2.4, and ignis doesn't specify a pylint version.

According to @cryoris , running pylint 2.4 against current master (after globally disabling `import-outside-toplevel`) yields:
[code]

[2019-12-19 08:43] nkanazawa1989 commented on #3627
I'm using `qiskit-ibmq-provider 0.3.3` and got some error raised by the qobj validator (actually there was no error before). Anyway, the invalid combination as default values should be updated.

[2019-12-19 09:25] Cryoris commented on #3629
For sake of completion, that's the exact version of pylint yielding the above complaints:
[code]

[2019-12-19 10:27] Cryoris opened #3633 "Consistent naming of controlled gates"
As discussed with @ewinston, the names of the controlled gates are inconsistent. For instance, the controlled version of `HGate` is called `CHGate` but `YGate` becomes `CyGate`. This applies to many others too. We should name them all consistently.

Possible choices would be:

1. Only the first letter of the gate name is upper case, i.e.
[code]

2. The gate names are full uppercase, i.e.
[code]

3

[2019-12-19 13:34] taalexander commented on #3627
Can you provide a minimal test case to replicate the problem? Because I
have been unable to replicate. Please also post both provider and Terra
versions.

Like I said, I don't think this should be considered invalid input, the
meas_return should be ignored in this case, single is no more valid than
avg.

On Thu, Dec 19, 2019, 3:43 AM nkanazawa <notifications@github.com> wrote:

[2019-12-19 14:18] 1ucian0 commented on #3629
A possible starting way would be to globally ignore them and create issues to gradually remove the global ignore as we introduce the fixes. Seems like `good first issues`.

[2019-12-19 15:01] 1ucian0 commented on #1434
Assuming that @ajavadia is okey with it, closing. Feel free to repoen.

[2019-12-19 15:01] #1434 closed

[2019-12-19 15:12] 1ucian0 commented on #1827
@jaygambetta any update?

[2019-12-19 15:16] 1ucian0 commented on #2059
This issue seems fixed already in Terra 0.11.

[code]
[code]

Feel free to repoen if that's not the case.

[2019-12-19 15:16] #2059 closed

[2019-12-19 15:22] 1ucian0 commented on #1714
Currently, `qiskit/execute.py:execute` does not  have `noise_model` argument. Is this issue still valid?

[2019-12-19 15:26] nonhermitian commented on #1714
This is related to the `run_config` issue where backends do not ignore elements of `run_config` that they do not use.

[2019-12-19 15:31] NuoWenLei commented on #3615
Hi, I noticed that inputs for schedule.filter() usually come in pairs, such as DriveChannel + AcquireChannel. Should it be better to change only the instruction_types or change all inputs to accept scalar values?

[2019-12-19 15:41] taalexander commented on #3615
I would recommend letting all accept both a scalar and a list.

[2019-12-19 15:42] mtreinish commented on #3629
All those failures is why we pin versions in the constraints version, every pylint and astroid version introduces new failures (either because of behavior changes or new default-on rules), also behavior across python versions is not consistent (see #1179 and a bunch of other linked issues related to this). When 2.4 was released there was a fire drill on some of the elements when the release broke

[2019-12-19 15:58] NuoWenLei commented on #3615
Ok that sounds good

[2019-12-19 16:24] manoelmarques opened #3634 "Division by Zero Error on Progress Bar"
### Information

- **Qiskit Terra version**: 0.11.0
- **Python version**: 3.7.4
- **Operating system**: MacOS Catalina

### What is the current behavior?
The problem doesn't seem to happen on github master, I couldn't recreate it. It is happening with code from Pypi:

Getting division by zero error on progress bar routine:

[code]

### Steps to reproduce the problem
Created the simple test case I

[2019-12-19 19:08] nonhermitian commented on #3634
So I am not sure what is going on here.  `update` should be called once you have completed a task, and thus `self.iter` should be non-zero.

[2019-12-19 20:18] 1ucian0 opened #3637 "TwoQubitWeylDecomposition: failed to diagonalize M2 -- lack of normalization?"
While writing [random test for 3586](https://github.com/Qiskit/qiskit-terra/pull/3586/files#diff-4dd440b6693c3194f4667ac2cdb99094), I noticed that a set this range wrongly (see https://github.com/Qiskit/qiskit-terra/pull/3586/commits/6e2b2709d8ffe702df8bce9a04089d8a9fb55245). However it seem that the previous range discover some crashes in `weyl_coordinates`.

### Steps to reproduce the problem

C

[2019-12-19 20:47] ajavadia commented on #3637
these failures occur on master now too, or only after #3586 ?

[2019-12-19 20:54] ajavadia commented on #3565
Yeah let's return a controlled gate with no definition, num_control_qubits=1, base_gate=g.
I agree it cannot be decomposed.

[2019-12-19 21:01] Cryoris opened #3639 "Complete the integration of multi-controlled qubit gates"
After migrating to Terra from Aqua, the multi-controlled qubit gates are missing tests. Since tests for these gates still exist in Aqua, they could simply be migrated as well.
Is there a reason why they have not yet been imported to Terra?

Also, they are not yet gate objects. Once they are, we can also use these to override the `control` of the Toffoli and rotation gates to return these, more eff

[2019-12-19 21:03] ajavadia commented on #3562
There was a decision made long ago (by Jay) that a device is N qubits if there's a path to connect all qubits. This was the reason melbourne was called a 14 qubit device (and not 16). So `backend.configuration().coupling_map.size()` is always equal to `backend.configuration().num_qubits`, at least for IBM devices.

[2019-12-19 21:13] 1ucian0 commented on #3637
Current master.

[2019-12-19 21:23] ewinston commented on #3639
The ControlledGate implementation uses these gates for the rotation and Toffoli gates so it should be as effecient. Perhaps if these gates were converted to proper gates, however, it would simplify the code in `add_control` further. Additionally there are tests for multicontrolled gates although perhaps not everything that is tested in aqua so that could be good to add.

Something else which could

[2019-12-19 21:42] ajavadia commented on #3633
Yes this has been bothering me for some time too.

I'm just casting a vote here, but since each letter has a meaning I think they should all be capitalized (`C`=Control, `R`=Rotation, `X`=X axis):

According to PEP8:

Should we also change `CnotGate -> CXGate` (with a deprecation warning)?
What about `ToffoliGate -> CCXGate` and `FredkinGate -> CSwapGate`?
These class names differ from the filenam

[2019-12-19 22:15] nonhermitian opened #3640 "Circuit drawers do not handle complex values"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
[code]
same for MPL

<img width="221" alt="Screen Shot 2019-12-19 at 5 15 36 PM" src="https://user-images.githubusercontent.com/1249193/71214390-2da3ef80-2283-11ea-945f-6c8bc5786e96.png">

### Steps to reproduce the problem

### What is the expected behavior?

### Su

[2019-12-20 05:02] TharrmashasthaPV commented on #3607
Hi @ajavadia . Do you think this is will do?
![corrected](https://user-images.githubusercontent.com/51048173/71231439-f7fb1700-2313-11ea-9e5d-39efed4bd87d.png)

[2019-12-20 05:50] TharrmashasthaPV commented on #3570
Hi @nonhermitian . As of the latest branch, the pi/1 does not get plotted despite proving pi/1 as an arguent to u3 in latex drawer.  I am just getting te below when I try to replicate the problem.
![replicate](https://user-images.githubusercontent.com/51048173/71233144-aace7380-231a-11ea-99ae-b45f50f76b96.png)

[2019-12-20 08:00] nonhermitian commented on #3570
Ok great

[2019-12-20 08:00] #3570 closed

[2019-12-20 08:20] Cryoris commented on #3535
This issue can be closed, #3600 implemented the `CrxGate`.

[2019-12-20 08:28] Cryoris commented on #3633
I agree that changing the name of the 'named' gates to functional names, i.e. `ToffoliGate -> CCXGate`, especially since the functional names the names of the circuit methods. Defining these gates via their names we only introduce more terms.

An argument for `Ry`/`CRy` over `RY`/`CRY` would be that the first corresponds more to the mathematical way of writing it as $R_y$.

@ajavadia actually #353

[2019-12-20 11:38] TharrmashasthaPV opened #3641 "Drawing initialize disordered in mpl drawer"
### Information

- **Qiskit Terra version**: 0.12.0.dev0+6b6170a
- **Python version**: 3.6
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
The box of 'initialize' is disordered. It gets outside of the circuit and overlaps with other gates.

![initialize-error](https://user-images.githubusercontent.com/51048173/71252473-1f210b00-234b-11ea-9746-6933f0acf3c7.png)

### Steps to

[2019-12-20 12:45] 1ucian0 commented on #3570
If you create a circuit with `qc.u3(..., -pi/1,...)` is python who reduce that expression. That why is key to see how OP managed to create the original drawing.

[2019-12-20 14:02] ajavadia commented on #3607
Yes this looks good

[2019-12-20 14:24] #3535 closed

[2019-12-20 15:08] 1ucian0 commented on #2195
Shall we close this issue @maddy-tod

[2019-12-20 21:54] 1ucian0 commented on #3251
Fixed via https://github.com/Qiskit/qiskit-terra/pull/3528

[2019-12-20 21:54] #3251 closed

[2019-12-21 03:47] nkanazawa1989 commented on #3627
I was using old master branch but the problem doesn't happen now (I'm not sure the commit id causing problem), but I don't think it is _ignored_.

[code]

then `qobj.config` says
[code]
the combination of `meas_level=2` and `meas_return='avg'` may be ignored in our backend, but this is not true for other providers. is it is ignored, we should remove this from qobj.

[2019-12-21 15:34] taalexander commented on #3627
This is a problem with the schemas. Both are required for the schemas to
pass validation even in measurement level 2. The schemas would have to be
updated to be conditional if this was to be fixed properly.

On Fri, Dec 20, 2019, 10:47 PM nkanazawa <notifications@github.com> wrote:

[2019-12-22 13:45] NuoWenLei commented on #3641
I'd like to give a shot at this, would that be okay to you?

[2019-12-22 16:28] TharrmashasthaPV commented on #3641
Hi @NuoWenLei . Yeah sure. That would be very nice.

[2019-12-22 16:37] TharrmashasthaPV commented on #2369
Hi @1ucian0 . I think this issue is resolved and so should be closed.

[2019-12-22 21:47] ajavadia commented on #3633
Sure i'm good with `Ry`/`CRy` too.

[2019-12-22 22:50] ajavadia opened #3647 "product state is synthesized using CNOTs"
Qiskit's isometry synthesis algorithm can be used to synthesize state preparation circuits.

However for some product states it it not able to find a 0-CNOT circuit.

Example:
[code]
Yields:
![image](https://user-images.githubusercontent.com/8622381/71328272-92a95080-24e2-11ea-8dc7-d493b8999b13.png)

However this state is synthesizable using only single-qubit gates:
[code]

Note: the actual synthe

[2019-12-23 01:03] NuoWenLei commented on #3641
Ok, thank you. Would you mind assigning the issue to me?

[2019-12-23 01:51] 1ucian0 commented on #2369
Could it be that is still an issue for `measure`? The example code raises:
`CircuitError: 'carg is not a Clbit'`

[2019-12-23 03:04] TharrmashasthaPV commented on #2369
Hi @1ucian0 . Maybe that is because there is a small error in the example code. In
[code]
the second argument should be a classical register I suppose? It works fine if we have
[code]
instead of the first.

[2019-12-23 07:59] eembees commented on #3610
I implemented a basic fix, but I have some clarifying questions I want to have cleared up pre-PR:
1. I assume it should raise a ValidationError when `meas_levels = 0`, not 1?
2. I don't exactly know how to make the validation optional.
 I suppose we could add a keyword `validate=T/F` but I don't see exactly where this should be located - should it be in `backendconfiguration`? Or should we put it

[2019-12-23 12:11] NuoWenLei commented on #3641
I was able to locate the problem within mathplotlib.py`
  # if custom gate with a longer than standard name determine
                # width
                elif op.name not in ['barrier', 'snapshot', 'load', 'save',
                                     'noise', 'cswap', 'swap', 'measure'] and len(
                                         op.name) >= 4:
                    box_width = math.ceil(l

[2019-12-23 13:43] TharrmashasthaPV commented on #3641
That looks good. But, if possible, check if the width of the 'initialize' box can be reduced so as to eliminate the extra spaces inside the box.

[2019-12-23 14:32] #3533 closed

[2019-12-23 15:49] 1ucian0 commented on #3562
Not for 1Q, where `backend.configuration().coupling_map == None` and `backend.configuration().num_qubits == 1`. I think the provider should be in charge of adapting things to the terra meaning and terra should be backend agnostic (so we dont have to change things when the backends change).

[2019-12-23 16:35] kdk opened #3649 "Imports of optional dependencies should happen at runtime"
Across terra, there are several imports of optional dependencies (packages other than those in requirements.txt), which happen at top-level (not within another function definition.) When a user hits an error message about a missing optional dependency, just running `pip install foo` won't be sufficient to use the package, they'll need to restart their kernel. With a runtime, import, the package wo

[2019-12-24 00:06] NuoWenLei commented on #3641
Cool

[2019-12-24 06:34] ereastman commented on #3601
Confirmed the problem is in Result.data() - removing the to_dict() call improves the performance of get_statevector immensely (will likely improve `get_unitary(...)` even more, and `get_counts/memory(...)` equivalently but I haven't tested).

Removing the to_dict() from data(...) and updating the rest of the Result module to account for the change should fix the performance issues of the `get_stat

[2019-12-24 19:47] #3607 closed

[2019-12-25 02:24] 1ucian0 opened #3654 "Optional module dependencies are requirements-dev?"
It seems that we don't have a clear policy on how to handle requirements for "optional" modules.

For example #3532 introduced a pass that requieres `z3-solver` an that was added as a  *requirements-dev* https://github.com/Qiskit/qiskit-terra/pull/3532/files#diff-f4c265073ea4274a80eca85440875e56, while #3043 also introduced a pass with an extra dependency (`python-constraint` in this case) but did

[2019-12-25 07:20] haggaila commented on #2712
Hi, I couldn't find an active link to join the open qiskit channel.

[2019-12-25 11:50] 1ucian0 commented on #2712
Indeed, try this one https://join.slack.com/t/qiskit/shared_invite/enQtODQ2NTIyOTgwMTQ3LTI0NzM2NzkzZjJhNDgzZjY5MTQzNDY3MGNiZGQzNTNkZTE4Nzg1MjMwMmFjY2UwZTgyNDlmYWQwYmZjMjE1ZTM

[2019-12-25 12:06] haggaila commented on #2712
It worked, thanks!

[2019-12-25 17:31] AsavGandhi commented on #3649
Hello! I am looking to contribute as I have some free time during this holiday season, any starting points on where to begin on this issue?

[2019-12-26 17:00] kdk commented on #3633
I agree it'd be good to have consistency here, especially if we can find a pattern that would cover the the full standard gate set.

My vote would be to move to full uppercase gate names (in line with option 2, and @ajavadia 's suggestion above) only for simplicity. e.g. For someone not from a mathematical background, would it be clear why when a `YGate` is controlled, it becomes `CYGate` but when

[2019-12-26 17:01] kdk commented on #3649
Hi @AsavGandhi , great! A good starting point would be searching over terra for `except ImportError` to find cases like the example above (where we try to import a package that's not in `requirements.txt` while not inside a function definition). Once we have that list, we can move toward finding where those imports are used, and making them at runtime.

[2019-12-26 20:32] willhbang commented on #3238
Hello! I'm just getting started with Qiskit and looking to make my first contribution. Do you mind if I give this one a shot?
Looks like we just have to add to the docstring for the Bit constructor?
https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/bit.py#L25

[2019-12-26 22:11] kdk commented on #3238
Hi @willhbang , feel free! The `Bit` class isn't expected to be visible to users, that's why its omitted from the generated sphinx docs. The properties could be added to the class doc string on Bit (and then inherited by Clbit and Qubit) or added to the child classes directly.

Instructions for building the docs to test can be found here: https://qiskit.org/documentation/contributing_to_qiskit.htm

[2019-12-27 11:36] Cryoris commented on #3633
Okay, from that perspective upper case is more sensible. That's fine for me too.

Thanks for the overview. What should we do with the dagger naming? All uppercase (`*DG`) wouldn't be that sensible since every uppercase letter stands for some concept, so `DG` would mean two concepts. Both `*Dg` and `*dg` would be possible.

[2019-12-28 07:07] AsavGandhi commented on #3649
Thanks! @kdk, I will look into it shortly and will keep you updated!

[2019-12-30 04:13] ajavadia commented on #3443
seems resolved via #3526

[2019-12-30 04:13] #3443 closed

[2019-12-30 14:38] ajavadia commented on #3194
@giovanniamedeocirillo  great let me know if you'd like to work on it.

Aer injects noise, so you don't have to do anything. You just have to use a `basic_device_noise_model` and make the `backend.run()` method of these fake backends use that. See the tutorial here: https://github.com/Qiskit/qiskit-iqx-tutorials/blob/master/qiskit/advanced/aer/2_device_noise_simulation.ipynb

All of these are alre

[2019-12-30 18:04] 1ucian0 commented on #2845
Under the assumption that `DenseLayout` is always better than `TrivialLayout` (is that true?), the PR https://github.com/Qiskit/qiskit-terra/pull/3657 is a simpler approach (if `TriviaLayout` does not return a perfect scoring, then it uses `DenseLayout`).

[2019-12-30 18:51] ajavadia commented on #3433
I think the desired behavior is to have the CXs cancelled *and* the Rz removed.
`CX.RZ(theta).CX` is equal to `RZZ(theta)` which for tiny angles should just be identity.
So I would say the commutation detection is correct, we just do not have a mechanism to remove tiny rotations from the circuit yet. I can work on this as part of #3658

[2019-12-30 20:49] 1ucian0 commented on #3462
what about `q[0] -> 0`, so it's clear the physical ones are integers, like in the coupling map?

[2019-12-30 20:57] nonhermitian commented on #3462
That works.

[2019-12-30 22:49] ismaelfaro opened #3661 "Qiskit installation error: cvxopt"
When you install Qiskit in a Mac with Conda from scratch, the installation crash with this message:

    src/C/umfpack.c:23:10: fatal error: 'umfpack.h' file not found
    #include "umfpack.h"
             ^~~~~~~~~~~
    1 error generated.
    error: command 'gcc' failed with exit status 1

### Information

- **Qiskit Terra version**:  qiskit-0.14.0
- **Python version**: Python 3.8.0
- **Operatin

[2019-12-30 23:05] schwarmco commented on #3661
I ran into the same issue, when i tried to upgrade to Python 3.8 - it looks like cvxopt doesn't provide a pre-built wheel for 3.8 (yet?).

[2019-12-30 23:37] willhbang commented on #3238
I'm having trouble generating the docs locally with `tox -edocs` (I'm running Python 3.7 on Windows)... might be an issue with my installation of tox, because the whole test suite isn't working for me either.
Testing with `help()` seems to have the expected changes, so for now I'll try opening the PR so I can check the Sphinx docs from the CI job.

[2019-12-31 02:18] 1ucian0 commented on #3462
Implemented in #3663

[2019-12-31 02:38] 1ucian0 commented on #3136
Try `qc1.draw(output='mpl', with_layout=True).show()`.

[2019-12-31 02:43] 1ucian0 commented on #3661
I'm not sure if qiskit can catch an installation-time error. Maybe add the problem/solution to the qiskit documentation?

[2019-12-31 16:02] #3136 closed

[2019-12-31 16:06] 1ucian0 commented on #3397
I'm closing this issue because inactivity. Please reopen if still valid!

[2019-12-31 16:06] #3397 closed

[2019-12-31 16:23] 1ucian0 commented on #1070
This issue seems outdated (last update was more than a year ago) to our current vision:
 - DAG construction at circuit construction time: https://github.com/Qiskit/qiskit-terra/issues/1163
 - Backend validation as part of the transpilation process: https://github.com/Qiskit/qiskit-terra/pull/3604

So I'm closing it. But feel free to reopen it (or create a new issue referencing to this one) if ther

[2019-12-31 16:23] #1070 closed

[2019-12-31 16:56] 1ucian0 commented on #1708
We are not shipping notebooks with terra anymore. Closing this issue.

[2019-12-31 16:56] #1708 closed

[2019-12-31 16:59] 1ucian0 commented on #1220
I think this was fixed by https://github.com/Qiskit/qiskit-terra/pull/2119

Feel free to reopen otherwise!

[2019-12-31 16:59] #1220 closed

[2019-12-31 17:03] 1ucian0 commented on #1852
Is this something still relevant? It seems like it is outdated from our current view of terra. Can it be closed?

[2019-12-31 17:15] nonhermitian commented on #1708
Notebooks were just an example, hence the e.g.  The point of this was to have a way to be able to report which versions of Qiskit are still compatible with the IQX api. However if this can be accomplished some other way then I can cool with that.

[2019-12-31 17:23] 1ucian0 commented on #1708
Should that be something that the IQX api might check with each release?

[2019-12-31 17:24] 1ucian0 commented on #1708
oh.. I made my comment before seeing https://github.com/Qiskit/qiskit/issues/757

[2019-12-31 17:29] chriseclectic commented on #3633
I like the idea of all upper case. The identity case is a pet peeve of mine. It's a Pauli so it should be `IGate` like in other objects that use Pauli labels . However gate is `IdGate` and circ extension is `iden`.

I would also like to see a gate namespace that has aliases for the lower case circuit extensions to the gate objects. Eg something like `gates.cx => CXGate`. Here you could also add ad

[2020-01-01 06:25] sumitpuri commented on #3640
I would like to take this up. Basically I would be looking into .../qiskit/visualization/tools/pi_check.py

[2020-01-01 11:28] giovanniamedeocirillo commented on #3194
@ajavadia I am still interested in working on it, thank you.

[2020-01-01 16:53] sumitpuri commented on #3640
If ket is not sent as np.array then complex value shows fine. Going to debug further.

![image](https://user-images.githubusercontent.com/6925028/71643881-dccdc700-2c84-11ea-9a9d-e5991b66c0fa.png)

[2020-01-01 17:06] sumitpuri commented on #3640
I will be fixing this warning in pi_check.py

![image](https://user-images.githubusercontent.com/6925028/71643984-bdd03480-2c86-11ea-8471-ef649fc44ae6.png)

[2020-01-01 21:46] 1ucian0 commented on #3461
I think is still a valid problem.

[2020-01-01 21:48] 1ucian0 commented on #3461
Indeed, fixed by #3484)

[2020-01-01 21:48] #3461 closed

[2020-01-01 21:51] 1ucian0 commented on #2788
@nonhermitian, is PR #3168 a fix for this issue?

[2020-01-01 21:55] 1ucian0 commented on #2369
You are right! This is fixed by #3490!

(just to let you know, issues can be closed automatically when a PR is merged if you write "Fixes #<issue-number>" in the body of the PR text [instead of "Fixes issue #<issue-number>"](https://github.com/Qiskit/qiskit-terra/pull/3490#issue-342402048))

[2020-01-01 21:55] #2369 closed

[2020-01-01 22:12] 1ucian0 commented on #2793
I cannot reproduce this issue in my current setting and, since this seems like an openblas/numpy issue, I'm closing it.

For the record, my current setting is:
 - MacOS 10.15.1
 - Python 3.7.2
 - SciPy 1.4.1
 - NumPy 1.18.0
 - OpenBlas 0.3.6_1

If somebody else has this issue with a current env, please reopen.

[2020-01-01 22:12] #2793 closed

[2020-01-02 05:21] sumitpuri commented on #3400
I will be taking this up and provide some examples in docstrings for `QuantumCircuit` methods located in qiskit/extensions/standard/* folder.

[2020-01-02 06:15] IceKhan13 commented on #2294
@taalexander looks like @lcapelluto deprecated CmdDef here https://github.com/Qiskit/qiskit-terra/commit/1f9fb32bfe570a38bd0c415befbe4ea45091e6c9 and `from_defaults` method moved to `PulseDefaults` class constructor.
Do we still need disassembler?

[2020-01-02 10:26] maddy-tod commented on #2195
I think this problem needs to be addressed, but we can open a separate issue for it if that makes more sense.

[2020-01-02 14:59] #3462 closed

[2020-01-02 14:59] #3520 closed

[2020-01-02 15:47] mtreinish commented on #343
So I'm definitely a fan of the pipfile/pipenv approach (except for the use of toml which is unfortunate) more than the current setup.py model. It basically adopts what rust did for cargo (which is one of the biggest reasons I enjoy using rust) for python. But, while it is the future direction from the pypa, it is not currently ready for primetime use. This is made quite clear on the pipfile spec r

[2020-01-02 16:15] mtreinish commented on #3654
One thing I think we need to ensure is that we have these optional requirements installed in CI for testing. An issue that is very easy to envision is that we end up skipping all the tests for optional requirements because they're not present. Then we never test things anywhere. I felt that putting the optional requirements in requirements-dev.txt and having the tests unconditionally run felt like

[2020-01-02 17:09] ajavadia opened #3669 "need phase-correct synthesis"
Current synthesis algorithms do not respect global phase, which can lead to unexpected errors when the synthesis result is processed further (e.g. controlled).

Example:

[code]

[2020-01-02 19:25] chriseclectic opened #3671 "Operator.transpose fails for rectangular operators"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

`Operator.transpose` doesn't swap input and output operator dimensions, which causes a failure for non-square operators.

### Steps to reproduce the problem

[code]

[2020-01-02 19:36] 1ucian0 commented on #3654
Good point. Would having a `requirements-optional.txt` (with comments about which module needs each dependency) too overkilling?

[2020-01-02 19:40] drewrisinger opened #3673 "Reading QASM strings with Ion-Trap Gates broken"
### Information

- **Qiskit Terra version**: 0.11.0
- **Python version**: 3.7.5
- **Operating system**: Windows

### What is the current behavior?

Cannot construct a quantum Circuit object for non-superconducting gates, even though ion trap gates (RXX, MS, etc) are somewhat supported.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Qiskit should be able to generat

[2020-01-02 19:40] 1ucian0 commented on #343
Tagging this one as `on hold` until "pipfile" gets more stable.

[2020-01-02 20:49] #3238 closed

[2020-01-03 05:48] willhbang commented on #3346
Is this still an issue? I wasn't able to reproduce:

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: Windows 10

![plot](https://user-images.githubusercontent.com/4934854/71708824-c2e5ce80-2dc1-11ea-888f-19068210d872.png)

[2020-01-03 06:27] TharrmashasthaPV commented on #2369
Thanks for the information @1ucian0 .

[2020-01-03 09:37] Cryoris commented on #3633
Using inverse instead of dagger'ed is a good idea, I believe. Especially since we're (likely) stepping away from the "math" way of writing `Ry` in favour `RY`.

Maybe we should use `Inv` with a leading capital letter, as all our concepts begin with leading capital letters: `R`otations, `C`ontrolled, and hence `Inv`erse. (Ruling out `I` for inverse here, as that collides with a possible naming for

[2020-01-03 12:46] tareqdandachi commented on #3673
Can I have a go at it?

I am new to this, so please correct me if I am wrong at any point. I believe we would need to add the rxx gate (and any other gates defined in qiskit/extensions for full support) in qelib1.inc

[2020-01-03 15:00] taalexander commented on #3467
Yes, I agree with this. Frequency should only reference the LO of a given drive channel.

[2020-01-03 15:40] lcapelluto opened #3676 "[EPIC] OpenPulse Documentation"
Each item in the checklist needs its own issue, and that issue needs to be linked here before starting.

## Documentation for OpenPulse should cover:

### Terra

 - [x] getting started
 - [ ] creating instructions - IP
    - [ ] What are channels?
    - [ ] building pulses
        - [ ] using the `pulse_lib` or using `numpy`
        - [ ] using parametric pulses (this method should be encouraged)

[2020-01-03 19:31] Matt-Stypulkoski commented on #3416
I've been looking into this one. For the original code you posted, I currently have it returning
[code]

This is how it returns other types of circuits:
- When the composite circuit includes a `ClassicalRegister`
[code]

- When the composite circuit includes a nested composite circuit
[code]

I think I can improve the code I used for these, but just wanted to make sure what I was going for seemed

[2020-01-03 19:47] #3671 closed

[2020-01-03 22:19] #3420 closed

[2020-01-04 20:16] taalexander opened #3678 "Scheduling mutates the input quantum circuit"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The qiskit scheduler mutates the input circuit, [see here](https://github.com/Qiskit/qiskit-terra/blob/21beac232cf83e6ecc737f6b6755762c3a7de7c6/qiskit/scheduler/methods/basic.py#L96)

### Steps to reproduce the problem

### What is the expected behavior?
The qiskit schedule

[2020-01-05 14:17] #3640 closed

[2020-01-05 22:07] willhbang commented on #2753
Anyone working on this? If not, i'll give it a shot.

Based on the discussion, it sounds like the correct fix (for now?) is to follow the auto name generation behavior of other Qiskit modules.
There's the open question for whether we need to define separate names throughout Qiskit to distinguish between an ID/reference and display names. Should we consider that outside the scope of this issue?

[2020-01-05 22:53] sumitpuri opened #3684 "MPL drawer CU1 gate is inconsistent with other drawers"
### Information

- **Qiskit Terra version**: 0.11.0
- **Python version**: 3.7
- **Operating system**: Mac OS 10.15.1

### What is the current behavior?
[code]
Output-
[code]
However, mpl shows fine-
![image](https://user-images.githubusercontent.com/6925028/71787125-8a204200-2fd9-11ea-9a9a-2826e2fafbf4.png)

### Steps to reproduce the problem
Paste the above code in Jupyter notebook and run.

###

[2020-01-06 15:06] taalexander commented on #2753
I do not believe anyone is working on this and we welcome the help! I think you have the right approach to a fix, and I agree that this issue of ID/reference is out of scope here but does need to be addressed.

[2020-01-06 16:10] lcapelluto opened #3688 "Registration decorator for parametric pulse shapes"
### What is the expected behavior?
From @eggerdj on PR #3463 which introduces Parametric Pulses:

[code]

The goal of this feature is to replace manually entering new parametric pulses into the mapper in assemble.

[2020-01-06 16:43] Matt-Stypulkoski opened #3689 "Different results between original and transpiled circuits"
### Information

- **Qiskit Terra version**:  0.11.0
- **Python version**: 3.7.5
- **Operating system**: MacOS Mojave 10.14.6

### What is the current behavior?
Pulled from this stack exchange question: https://quantumcomputing.stackexchange.com/questions/9375/cannot-replicate-results-in-article-on-pricing-financial-derivatives-on-ibm-q

The original circuit is built in this way:
[code]
drawn as s

[2020-01-06 17:05] mtreinish commented on #3689
How were you running the original circuit without transpiling it? The gates need to be unrolled to the basis set at least to run on aer (I'm testing it locally not using the online version but they should be the same). Running the input circuit with optimization level 0 (which will just unroll no other optimizations)

![level_0](https://user-images.githubusercontent.com/2447371/71834187-9b6e5a80-3

[2020-01-06 17:13] #3595 closed

[2020-01-06 17:15] Matt-Stypulkoski commented on #3689
I ran the circuit by using `execute()`, so it would've transpiled the circuit at `optimiation_level=1` if I understood it correctly. The measurement probability I was seeing for the original circuit before transpilation was what I saw through the IBM Q Experience Circuit Composer:
<img width="1611" alt="Screen Shot 2020-01-03 at 2 40 43 PM" src="https://user-images.githubusercontent.com/50181769/7

[2020-01-06 19:20] lcapelluto commented on #3610
1. Yes, I think that is what he meant. Rather than hardcoding, you should check if `meas_level` given by the user is not in the list `backend.configuration().meas_levels`
2. I think it would be an argument to `assemble`. However, since Matt is likely to do the same work for #3606, I'd ignore that requirement for now, and copy/rebase off his work to avoid redundant work and conflicts.
3. Meas level

[2020-01-06 21:12] QacoBot opened #3690 "Branch `stable/0.11` is failing"
Trying to build `stable/0.11` at commit 49d59b74d1a7eb25b14f121cc85e6df406f6aa76 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/272852892

[2020-01-06 22:00] mtreinish commented on #3690
This is caused by the nbformat 5.0.0 release, it should be fixed by https://github.com/Qiskit/qiskit-terra/pull/3691 (when it gets backported to `stable/0.11`)

[2020-01-06 22:12] mbuchberger1967 opened #3692 "plot_gate_map and plot_circuit_layout don't work for backend 'ibmq_16_melbourne'"
the visualization functions plot_gate_map  and plot_circuit_layout do not draw an image if you select 'ibmq_16_melbourne' as the backend. They work correctly for other backends.

`from qiskit.visualization import plot_histogram, plot_gate_map, plot_circuit_layout`
`from qiskit.tools.monitor import job_monitor`
`import matplotlib.pyplot as plt`
`%matplotlib inline`
`backend = provider.get_backend('

[2020-01-06 22:19] mtreinish commented on #3692
This is a known issue caused by a recent change in the coupling map of melbourne (adding a 15th qubit). It has been fixed on master with https://github.com/Qiskit/qiskit-terra/pull/3677 and has been backported to `stable/0.11` (see https://github.com/Qiskit/qiskit-terra/pull/3679) and will be included in a 0.11.1 bugfix release.

I'm going to close this issue since it has already been fixed. If I'

[2020-01-06 22:19] #3692 closed

[2020-01-06 22:20] mbuchberger1967 commented on #3692
I just wanted to add my version info
{'qiskit-terra': '0.11.0',
 'qiskit-aer': '0.3.4',
 'qiskit-ignis': '0.2.0',
 'qiskit-ibmq-provider': '0.4.4',
 'qiskit-aqua': '0.6.1',
 'qiskit': '0.14.0'}

thank you. I'll wait for the fix.

[2020-01-07 04:14] ajavadia commented on #3633
Yes please I have been wanting to move these gates out of `qiskit.extensions` for 2 years. Moving them to `qiskit.circuit.gates` sounds good, and exposing a `qiskit.gates` namespace so that one can do:
[code]

@Cryoris can you start with the gate name standardization/deprecations first and then we do this in steps? Seems everyone is good with uppercase. `IGate` and `qc.i` seem fine to me.

[2020-01-07 04:16] ajavadia commented on #3633
@kdk there are some gates under `qiskit.extensions.quantum_initializer` that should be next to where all the other gates are. Like diagonal and uniformly-controlled gates. Can you update your summary above with those?

[2020-01-07 05:24] ajavadia commented on #3684
Thanks for bringing up the inconsistency. This was supposed to have been fixed via https://github.com/Qiskit/qiskit-terra/issues/1957. Seems like a regression.

However note that the text drawer is correct here. CU1 is a symmetric gate and thus a typical notation to signify this is to draw control/target the same. So mpl drawer should be fixed.

[2020-01-07 05:34] ajavadia commented on #3689
I think all of those gates are in the Aer simulator basis so no unrolling will be done.

I'm guessing a phase issue with CU3, @chriseclectic can you check the definition of CU3 in terra and aer match? (related to https://github.com/Qiskit/qiskit-terra/pull/2755/files)

[2020-01-07 09:04] krutik2966 commented on #3346
We can expand the figure by adding width and height in it.
![Screenshot (108)](https://user-images.githubusercontent.com/45783923/71882453-836d0880-315a-11ea-9121-5eef5d5ca837.png)

[2020-01-07 13:56] sumitpuri commented on #3684
Got it, I will fix the MPL Drawer.

[2020-01-07 14:02] mtreinish commented on #3689
In my local testing it needed to unroll Ry and Rz. With those in the circuit passed to Aer it raised an internal error caused by https://github.com/Qiskit/qiskit-aer/blob/master/src/simulators/densitymatrix/densitymatrix_state.hpp#L570-L573 (they're also not listed in the basis set: https://github.com/Qiskit/qiskit-aer/blob/master/qiskit/providers/aer/backends/qasm_simulator.py#L212-L217).

But, I

[2020-01-07 14:06] kdk commented on #3633
Updated.

[2020-01-07 14:09] Cryoris commented on #3633
I opened #3695 as a work-in-progess PR to fix the naming. The names are using the uppercase convention now and the identity gate has been renamed to `IGate` / `qc.i`.

I haven't yet changed the name of the dagger'ed/inverted gates, but with the current uppercase naming a suffix `inv` as proposed by @chriseclectic seems reasonable.

[2020-01-07 14:23] Cryoris commented on #3633
Concerning the gates in `qiskit/extensions/quantum_initializer`:

The uniformly controlled gates in `quantum_initializer` are currently named `UCX/Y/Z` for uniformly controlled rotations. They should be named `UCRX/Y/Z`, since they are rotations. Possibly `UCRot` should become `UCPauliRotation` to avoid being associated with the `RGate`.

The generic uniformly controlled gate is called `UCG`. Sinc

[2020-01-07 15:04] ajavadia commented on #3633
I agree with all the above

[2020-01-07 15:49] #3690 closed

[2020-01-07 17:21] #3629 closed

[2020-01-07 23:18] taalexander commented on #2294
I think it would still be very much appreciated! The `CmdDef` was deprecated in favour of the `InstructionScheduleMap` (May being renamed see #3593 to track) and the `defaults.cmd_def and `defaults.pulse_library` were replaced by an instance of `InstructionScheduleMap`, `defaults.circuit_instruction_map` (also may being renamed).

[2020-01-07 23:21] taalexander commented on #3627
Closing as this is not an issue as we do not plan to implement conditional JSON schemas. Extra parameters are fine to be ignored.

[2020-01-07 23:21] #3627 closed

[2020-01-07 23:23] taalexander commented on #3427
@faraimazh do you still plan to work on this? Otherwise, I will reassign.

[2020-01-07 23:24] taalexander commented on #3480
Any update on this @SooluThomas?

[2020-01-07 23:26] taalexander commented on #3475
Is this a bug occurring somewhere? Could you please give a minimal example replicating?

[2020-01-07 23:27] taalexander commented on #3392
This should be easy to do with the formats added in docstrings of #3463.

[2020-01-07 23:27] taalexander commented on #3392
Could this be part of #3676 @lcapelluto?

[2020-01-07 23:29] taalexander commented on #3312
Hello @IceKhan13, any update on this?

[2020-01-07 23:30] taalexander commented on #3175
I believe this should be either a method on `Schedule` or a separate rescheduling pass once this is implemented.

[2020-01-07 23:32] taalexander commented on #2541
I'm considering this stale, as we will likely replace explicitly timed instructions with relatively timed instructions removing the need for tuples in the first place. Feel free to reopen if you disagree.

[2020-01-07 23:32] #2541 closed

[2020-01-07 23:32] taalexander commented on #1932
Closing as the need for this is no longer clear.

[2020-01-07 23:32] #1932 closed

[2020-01-08 00:22] IceKhan13 commented on #3312
@taalexander finishing https://github.com/Qiskit/qiskit-terra/pull/3574 and will jump on https://github.com/Qiskit/qiskit-terra/issues/2294

[2020-01-08 00:50] dcmckayibm commented on #3475
I think the example would be if you want to plot the CR schedule without the framechanes at the beginning and just the pulse. There's no time you can pick which makes that possible.

[2020-01-08 04:23] taalexander commented on #3475
Would turning off framechange only channels with the `show_framechange_channels` flag satisfy these requirements?

[2020-01-08 04:23] taalexander commented on #3312
Awesome, thanks a lot!

[2020-01-08 05:18] dcmckayibm commented on #3475
I would probably just change the filter so that if a framechange is at the edge of the filter criteria is isn't returned

[2020-01-08 05:19] dcmckayibm commented on #3475
eg. a frame change at t=0 is not include in a filter t=[0,10], but is in t=[-0.0001,10]

[2020-01-08 06:11] faraimazh commented on #3427
Sure, no problem. If I make progress I will let you know.

On Wed., 8 Jan. 2020, 01:23 Thomas Alexander, <notifications@github.com>
wrote:

[2020-01-08 20:11] lcapelluto opened #3700 "Easy measurements on schedules"
## What is the expected behavior?

It would be nice not to have to build a measurement schedule up every time. It's usually the same thing every time: measure some qubits, or measure all qubits. This requires a backend with pulse enabled.

### How it is currently done
Measuring only a couple qubits, building the pulses
[code]
or measuring all of them, with info from backend defaults
[code]

### AP

[2020-01-08 20:24] taalexander commented on #3475
This would have implications for all types of instructions as the check is based on timeslot intersections. This is really the difference between inclusive and exclusive domains and the only edge-case is the frame-change. Is it really wrong of the behavior of filter to include it at the beginning as it is instantaneous and truly does happen there?

[2020-01-08 21:05] taalexander commented on #3700
I do not think this should be a part of the `Schedule` as this is a utility method making assumptions such as the mapping to channels. I would prefer to keep the `Schedule` class as close as possible to a data structure for a pulse program and am open to providing a builder interface on top of it.

[2020-01-09 00:03] dcmckayibm commented on #3475
It's up to you, I'm only pointing out that if there's a framechange happening at the beginning of the pulse it's impossible to remove only the framechange using the time filter.

[2020-01-09 10:33] eembees commented on #3599
Is this still open or will it be solved by #3597 ?

[2020-01-09 12:22] sumitpuri commented on #3684
@ajavadia Does this look right?

Also, I am already working on a different bug and have a PR open. Whenever I push my changes for this bug, the changes get tied to that already opened PR. How can I push so that it creates a new PR related to this bug?

![image](https://user-images.githubusercontent.com/6925028/72067335-123b6b80-32a8-11ea-9c9b-35dd94178826.png)

[2020-01-09 13:35] eembees commented on #3327
I can have a look at this over the weekend, if it's still open?
1. This looks relatively straightforward, unless there are some special issues I should take into account?
2. This looks a bit more complex - @taalexander or @ajavadia, if either of you could give any guidance on this, that'd be much appreciated!

[2020-01-09 14:53] #3673 closed

[2020-01-09 16:49] #3610 closed

[2020-01-09 19:01] #3613 closed

[2020-01-09 19:08] tareqdandachi commented on #3364
Does something like this fix the issue? If so I will work on replicating something similar for all the other LatexSource tests. Also, would it be better if I defined the expected content in an external file rather than a variable in every test, or is this fine?

[code]

[2020-01-09 21:49] yesodharan1892 commented on #3201
hi,
i think i have the solution for that , can you assign it to me so that i can look into it.

[2020-01-09 22:13] yesodharan1892 commented on #3202
please assign this issue so that i can look into it

[2020-01-10 12:24] Cryoris opened #3705 "Gate docstrings and type hints"
### What is the expected enhancement?

The standard gates could have a better documentation. They're missing type information on the input and only a few explain what their action on the qubits actually is. This forces users to go look either in the code (which some might not do) or elsewhere (books/internet). Since the qubit ordering is different in Qiskit compared to many other places, I believe

[2020-01-10 12:39] Cryoris opened #3706 "UnitaryGate naming seems redundant, Gate is already unitary per definition"
### What is the expected enhancement?

Terra provides the `Instruction` type to maintain quantum instructions. These instructions don't have to be unitary, i.e. measurements can be included. For unitary instructions, the `Gate` class is derived from `Instruction`, which doesn't allow non-unitary operations. Since the `Gate` class is unitary per definition it seems redundant (and confusing) to have

[2020-01-10 16:30] kdk opened #3707 "Job watcher cancel button shows as '...' in chrome"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.5, ipywidgets-7.4.2
- **Operating system**: mac

### What is the current behavior?

For notebooks run both from IQX and local jupyter instance:

In Chrome:
<img width="741" alt="image" src="https://user-images.githubusercontent.com/2241698/72166111-a552cf00-3396-11ea-9783-a653ae96efb7.png">

In Firefox:
<img width="741" al

[2020-01-10 19:01] 1ucian0 commented on #3416
That output would solve thins problem! Are you planning a PR?

I dont think that QASM supports that.

Similarly here, I think nested definitions is not a QASM thing...

[2020-01-10 20:05] Matt-Stypulkoski commented on #3416
Which part is not supported? I can edit it so that it only includes syntax supported by QASM. I can also remove the nested definition handling as well.

I will open a PR, but will not be able to until Jan 21st, as I am unavailable until then.

[2020-01-10 20:26] 1ucian0 commented on #3416
The [QASM specification](https://arxiv.org/pdf/1707.03429.pdf) does not allow classical bits as arguments. I think. Check out if you can parse them back.

Great! We can wait until  then.. no worries.

[2020-01-11 02:37] 1ucian0 commented on #3684
The results looks correct!

About the git issue, I think the problem is that you have to put different fixes in different branches (all from master). You can create different PRs from them.

[2020-01-11 23:45] mtreinish opened #3710 "plot_gate_map and plot_error_map are missing qubit circles in savefig() ouptut with dpi set"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Linux

### What is the current behavior?

When running `savefig()` on the output Figure object from `plot_gate_map()` and `plot_error_map()` when the `dpi` kwarg is set, the background circles used for qubit are missing form the output saved. For example:

![error_map](https://user-images.githubus

[2020-01-12 06:05] willhbang commented on #3540
I can make these changes if no one's started already

[2020-01-12 10:37] nonhermitian commented on #3710
I am seeing the same thing.

[2020-01-12 15:44] dime10 commented on #3540
Sounds good, I don't know of anyone who has.

[2020-01-13 01:56] taalexander commented on #3599
This is still open. Are you interested in taking it on?

[2020-01-13 14:47] kdk commented on #3639
When the tests are migrated, we should include https://github.com/Qiskit/qiskit-aqua/blob/master/qiskit/aqua/circuits/gates/boolean_logical_gates.py and their tests so they can be removed from aqua.

[2020-01-13 18:54] jwoehr commented on #3333
Answering my own question above with another question :)

Is `backend.configuration().simulator` guaranteed for any kind of simulator? Local and/or remote?

[2020-01-13 18:56] lcapelluto commented on #3700
@taalexander okay, sounds good. This suggestion was for keeping the interface close to `circuit.measure` but I also didn't like depending on the backend. Also, looks like I've opened a duplicate issue, which you and @eggerdj have also made versions of! Good thing Soolu is working on it!

[2020-01-13 18:57] lcapelluto commented on #3700
duplicates #3480  and #3572

[2020-01-13 18:58] lcapelluto commented on #3572
I'm going to merge this issue and #3700 into the discussion for #3480, since they will all be done together

[2020-01-13 18:59] lcapelluto commented on #3480
from #3572 :
@taalexander

[2020-01-13 18:59] #3572 closed

[2020-01-13 19:01] lcapelluto commented on #3480
From #3700 (me):

## What is the expected behavior?

It would be nice not to have to build a measurement schedule up every time. It's usually the same thing every time: measure some qubits, or measure all qubits. This requires a backend with pulse enabled.

### How it is currently done
Measuring only a couple qubits, building the pulses
[code]
or measuring all of them, with info from backend defau

[2020-01-13 19:01] #3700 closed

[2020-01-13 19:14] SooluThomas commented on #3480
I am starting to work on this.

[2020-01-13 20:06] kdk commented on #3333
That's how it's defined in the qobj spec, and that's how Aer/BasicAer/IBMQ simulators all report  currently.

[2020-01-14 03:43] taalexander commented on #3327
This is still open if you want to take it on. These could be done in two separate PR to separate the complexity.
1. This is straightforward
2. I think has been solved for `sech` but not for the gaussian derivative component of drag. `zeroed_width` is the parameter name for the continuous pulse `zeroed_ends` for the discrete pulse. The Gaussian derivative component of the pulse should be zeroed abo

[2020-01-14 13:01] eembees commented on #3327
Yes, I'll try my best - updating you when I have something more!

[2020-01-14 13:03] eembees commented on #3599
I'll get to work and update you when I have something to show :)

[2020-01-14 14:54] taalexander commented on #3599
Thank you very much!

[2020-01-14 15:15] #3707 closed

[2020-01-14 20:23] kdk commented on #3540
FYI, #3631 partially addresses this problem (at least for the standard gates). Implementation on this may want to wait until that merges.

[2020-01-16 06:39] ajavadia opened #3718 "wrong number of controls drawn in text_drawer"
The following is a two-qubit gate, controlled by one qubit.
But it gets drawn as a one-qubit gate, controlled by two qubits.

[code]

[code]

[2020-01-16 10:01] eembees commented on #3327
Quick question @taalexander - Should we allow `square` , `sawtooth` and `triangle` to still take `period` as an argument, with a `DeprecationWarning`, or only allow `freq` as argument?

[2020-01-16 13:11] ajavadia commented on #3201
@yesodharan1892 can you draw instances of `ControlledGate` in matplotlib's circuit visualizer? This is kind of high priority. Currently this is only doable in the text drawer (https://github.com/Qiskit/qiskit-terra/pull/3442)

[2020-01-16 14:04] yesodharan1892 commented on #3201
from qiskit.circuit import Gate, Parameter
qr = QuantumRegister(2, 'q')
cr = ClassicalRegister(2, 'c')
inst = QuantumCircuit(qr, cr, name='instruction').to_instruction()
%matplotlib inline

circuit = QuantumCircuit(qr, cr)
circuit.append(inst, qr, cr)
circuit.draw(output='mpl')

with these instructions the mpl representation looks like this
![1123](https://user-images.githubusercontent.com/5772615

[2020-01-16 14:40] yesodharan1892 commented on #3201
hi @ajavadia i have made some changes in the code given above and the mpl visualization is what as is expected, but when i look at the latex visualization it seems to be wrong.

from qiskit import *
from qiskit.circuit import Gate, Parameter
qr = QuantumRegister(2, 'q')
cr = ClassicalRegister(2, 'c')
inst = QuantumCircuit(qr, cr, name='instruction').to_instruction()
%matplotlib inline
circuit = Qu

[2020-01-16 15:28] yesodharan1892 commented on #3202
hi @kdk ,
i have commented regarding the same issue for #3201

[2020-01-16 15:31] nonhermitian opened #3720 "QuantumCircuit.draw() does not draw circuit in terminal"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

Currently returns a `<qiskit.visualization.text.TextDrawing>`.  However, it should print to the terminal because it is an explicit command to draw the circuit.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-01-16 16:22] Tininfin96 opened #3721 "How to deal with Qubit does not exist error while specifying initial layout"
<img width="925" alt="Screenshot 2020-01-16 at 9 44 37 PM" src="https://user-images.githubusercontent.com/56279716/72542432-2683f780-38aa-11ea-88ad-28a2c76a7ee0.png">
This is the layout I am trying to implement for the Ibmq burlington machine.
<img width="317" alt="Screenshot 2020-01-16 at 9 51 21 PM" src="https://user-images.githubusercontent.com/56279716/72542579-62b75800-38aa-11ea-87e8-1829a069

[2020-01-16 17:47] yesodharan1892 commented on #3720
hi, can you share the code to replicate the problem , i would like to look into it if you are okay with it

[2020-01-16 18:03] nonhermitian commented on #3720
Anything really:
[code]

[2020-01-16 18:10] michelle4654 commented on #3678
Hi!

Sorry, I'm just beginning to contribute to Qiskit. I was wondering -- can this fix be as simple as deleting the barrier method line? It seems unnecessary (not in the 'as_soon_as_possible' method). If so, I can take care of it :)

[2020-01-16 18:31] taalexander commented on #3678
I believe it is necessary to align the ending of the circuit. It may be as simple as taking the input circuit and copying it and then appending the barrier. Maybe @lcapelluto could provide more information?

[2020-01-16 19:13] yesodharan1892 commented on #3721
hi, @Tininfin96 please share the complete code so that i can look into it , if you are okay with it.

[2020-01-16 20:44] yesodharan1892 commented on #3720
i just checked in my jupyter lab, its perfectly working, may i recommend updating qiskit through pip

![Untitled](https://user-images.githubusercontent.com/57726155/72561347-0450a080-38cf-11ea-8ade-944c4d060a76.png)

[2020-01-16 20:52] nonhermitian commented on #3720
From the terminal, not Jupyter:

<img width="574" alt="Screen Shot 2020-01-16 at 3 51 31 PM" src="https://user-images.githubusercontent.com/1249193/72561870-23701380-3878-11ea-92d0-f468e839721c.png">

[2020-01-17 04:50] Tininfin96 commented on #3721
Hey, yeah. The code is as follows:

qub=QuantumRegister(5)
clreg=ClassicalRegister(2)
c=QuantumCircuit(qub,clreg)
c.x(qub[0])#initialize(init_st,qub[0])
c.x(qub[1])
c.cx(qub[0],qub[1])
c.measure(qub[:2],clreg)

backend=provider.get_backend('ibmq_burlington')
layout=Layout({qub[0]:3,qub[1]:4,qub[2]:0,qub[3]:1,qub[4]:2})#,2:c[2],3:c[3],4:c[4]}
job = qiskit.execute(transpile(c,backend), backend, init

[2020-01-17 10:54] mohfaz commented on #3720
Try:
print(qc.draw(output='text'))

[2020-01-17 11:29] 1ucian0 commented on #3720
Hi @mohfaz, you are right, the possibility is there. However, the issue is about the representation of the object in the terminal. Basically, implementing your work around as the `__repr__`.

I just PRed a possible fix to this issue.

[2020-01-17 14:46] kdk commented on #3721
Hi @Tininfin96 , what version of qiskit are you using? I wasn't able to reproduce this particular error on master.

Can you try replacing your last line with the following:
`qiskit.execute(c, backend, initial_layout=layout, shots=2048)`?
`execute` will internally call `transpile` with the provided `initial_layout`, so you don't need to call it separately.

(I'd guess that the layout stage is faili

[2020-01-17 16:09] taalexander commented on #3327
I'm not certain as these pulses are not often used and to allow this we would have to change the order of arguments as we would have to allow `None` for both `freq` and `period`. I've asked for input on my review from @lcapelluto as she is better versed in graceful deprecations.

[2020-01-17 21:42] 1ucian0 commented on #3201
you mean "text visualizer"?

[2020-01-17 22:22] yesodharan1892 commented on #3720
hi @mohfaz , your method does work on the terminal , however i believe adding the __repr__ function to the source text should avoid any further issues without using commands like print and directly calling circuit.draw.
thanks

[2020-01-18 08:39] yesodharan1892 commented on #3201
yes exactly..

[2020-01-19 07:34] Tininfin96 commented on #3721
@kdk Hey! Thank you so much, you are right. I am now passing the layout in the transpile function itself. That has taken care of the issue.

[2020-01-19 07:35] #3721 closed

[2020-01-19 18:36] 1ucian0 opened #3724 "[python 3.5] level 3 does not respect initial_layout"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.5
- **Operating system**: MacOS

### What is the current behavior?

The [following test](https://github.com/Qiskit/qiskit-terra/pull/3725/files#diff-3f3ce83fa10acb33e6f5f3590213bb1f) fails when run with python 3.5:
[code]

It works with other optimization levels.

[2020-01-19 18:59] 1ucian0 commented on #3724
opened by mistake. Sorry.

[2020-01-19 18:59] #3724 closed

[2020-01-19 20:27] michelle4654 commented on #3649
Hi @AsavGandhi @kdk ! Did progress get made on this I attached a list of Terra files that have an "except ImportError". The ones that have stars are irrelevant, I think (mostly just talking about providers, or whether a circuit has a Z3 gate). Next to the relevant ones, I made a list of the packages that need importing.

qiskit/tools/jupyter/: ipywidgets
qiskit/qasm/node/: pylatexenc
qiskit/transp

[2020-01-20 07:35] ajavadia opened #3726 "open controlled gate"
An API for `gate.control()` to allow some control lines to be open, e.g.

<img width="55" alt="image" src="https://user-images.githubusercontent.com/8622381/72706999-6870a000-3b2d-11ea-986d-2a3297d88b64.png">
<img width="49" alt="image" src="https://user-images.githubusercontent.com/8622381/72707014-76262580-3b2d-11ea-8faa-581778ab15e7.png">

Also its visualizations.

- [x] add ability to specify

[2020-01-20 07:45] eembees commented on #3327
For part 2:
The simplest way would be to make a new function, `_fix_gaussian_deriv_width()` that subtracts the value of `gaussian_deriv` at `zeroed_width/2`, from the absolute value of the `gaussian_deriv`.

This will introduce a discontinuity in the pulse at the center of the pulse, where the derivative of the gaussian crosses 0. I assume that is inconvenient.

An alternative route would be to ta

[2020-01-20 13:06] haggaila opened #3956 "Adding a Delay Command to a Schedule fails"
### Informations

- **Qiskit Aer version**: PulseSimulator
- **Python version**: 3.7
- **Operating system**: Windows

### What is the current behavior?
Calling
`        schedule = pulse.Schedule(name='3Q_constant')`
`        schedule += Delay(total_samples)`
raises an exception in `Schedule.append()` as Delay has no `channels` and this attribute is accessed.

### Steps to reproduce the problem

##

[2020-01-20 17:17] ewinston commented on #3726
Perhaps `gate.control()` could contain an optional keyword argument, e.g. `pattern`, with either a bit string or integer value.

[2020-01-20 17:31] ajavadia commented on #3726
That sounds good. Left bit should be higher index

[2020-01-20 18:08] michelle4654 commented on #3678
Cool. Well, if it's safer I'll just make a copy of the circuit and add a barrier to that.  Working on the update now but got a little worried about an error message when I was installing ibmq-providers from the source code ("spyder 3.3.6 requires pyqt5<5.13: python_version >=3 which is not installed.") However, I ran the install again and didn't get the error so I'll try to keep moving forward wit

[2020-01-20 19:34] kdk opened #3728 "Instruction.params updates not reflected in definition (if definition already called)"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.5
- **Operating system**: osx 10.14

### What is the current behavior?

`.params` values are fixed in gate definitions the first time `._define` is called, and not updated, even if `Instruction.params` changes.

[code]

[2020-01-20 19:53] kdk commented on #3728
A possible solution would be to, at the end of the `Instruction.params` setter, call `self._define` (or reset `self._definition` to `None`).

[2020-01-20 21:51] kdk commented on #3649
Awesome, thanks @michelle4654 ! This list looks good. I think
qiskit/transpiler/passes/optimization/crosstalk_adaptive_schedule.py: z3 can be added (z3 here refers to an external python package) and setup.py can be removed (as its unlikely to be run in the context of an interactive session.)

[2020-01-21 09:00] nonhermitian opened #3733 "result.get_counts() should return all counts if called with no arg"
### What is the expected enhancement?
`job.result().get_counts()` should return a list of all the counts available when there are multiple circuits in a job.

This allows, for example, doing:
[code]
verses having to explicitly write out the counts indexing by hand, or in a loop using `len(job.result().results)` and appending to a new list.

[2020-01-21 15:37] brandhsn opened #3735 "Incorrect Properties in FakeBackends"
### Information

- **Qiskit Terra version**: 0.11.1
- **Python version**: 3.6
- **Operating system**: Windows 10

### What is the current behavior?

All u2 and u3 gates in FakeYorktown have an error rate of 1.0 or 2.0. This leads to a complete depolarizing channel when used in basic_device_noise_model.

FakeTokyo has error rates for some cx gate, that are not defined in the coupling map (and vice

[2020-01-21 17:15] #2845 closed

[2020-01-21 19:51] Matt-Stypulkoski commented on #3416
If the classical bits and nested composite circuits are not allowed, what should be done in the case where the composite circuit includes a one of these? Should I implement a check to make sure these are not included, or should I assume these will not be included?

[2020-01-22 12:06] Megapiro commented on #3733
Hello, I am quite new to qiskit but I wanted to face this issue. May you be more precise on how to reproduce the problem ?

If i understood correctly you execute a job with multiple circuits and then you wanted to plot the results of all the circuits with the single method plot_histogram.

I looked into __result.py__ and I think that trying to do:
`plot_histogram(job.result().get_counts())`
would

[2020-01-22 12:09] nonhermitian commented on #3733
The enhancement is that result.get_counts() should return a list of dict containing counts for all the experiments in the result. You are correct that it currently errors.

[2020-01-22 13:36] nonhermitian commented on #3733
The single circuit case should not change

[2020-01-22 17:08] taalexander commented on #3733
This would be much simpler if a result had an attribute `counts` and then instead of:
- `result.get_counts()` we have `result.counts`
- `result.get_counts(i)` we have `result.counts[i]`

[2020-01-22 17:18] Megapiro commented on #3733
But isn't a method needed also to possibly specify the experiment?

The method in fact is defined as:

`get_counts(self, experiment=None)`

[2020-01-22 17:51] taalexander commented on #3733
That is a good point, the method is doing several things.

On Wed, Jan 22, 2020, 12:18 PM Francesco Piro <notifications@github.com>
wrote:

[2020-01-22 19:01] Megapiro commented on #3733
You are right, for this reason I was thinking that maybe it is better to keep it.

I did a pull request #3737 that fixes this issue, if you could check, it would be great as the enhancement will be achieved!

[2020-01-23 15:37] lcapelluto opened #3741 "Acquiring channel multiple times within one instruction should error"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

I can acquire the same channel within the same instruction:

Acquire(5)([AcquireChannel(0), AcquireChannel(0)], [MemorySlot(0), MemorySlot(1)])

### Steps to reproduce the problem

### What is the expected behavior?

This should raise an error

### Suggested solutions

Cou

[2020-01-23 15:41] taalexander commented on #3741
This should be resolved by #3574.

[2020-01-23 16:03] taalexander opened #3742 "Created Zeroed Pulse shapes"
### What is the expected enhancement?
Currently, several pulses are implicitly zeroing the ends of the pulses to removed initial and final discontinuities for pulses that are settable with the flag `zero_ends` which is True. Naively reading the pulse name this would be unexpected behavior. This flag should be removed and the functionality should be split into two different pulses,eg.,  `ZeroedGaus

[2020-01-23 19:51] taalexander commented on #3327
I believe first of all we should introduce a new set of pulse functions, `ZeroedGaussian`, `ZeroedGaussianSquare`, `ZeroedDRAG` and there associated parametric pulses so that it is absolutely clear that the pulse shapes are being zeroed. I have created issue #3742 for this.

I believe the solution for the gaussian derivative and generally any antisymettric component is to subtract `g(-1)` for (t <

[2020-01-23 20:55] ereastman opened #3746 "from_dict() should be able to handle complex numbers"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

.from_dict() will error out if (actual) complex numbers are present where complex numbers should be present. It's requiring that complex numbers be specified as lists when it should instead allow them to be specified as lists but also allow them to be complex numbers

###

[2020-01-23 22:06] taalexander opened #10573 "Pulse benchmarks"
### What is the expected behavior?
The circuit, transpilation and circuit assembly modules are well benchmarked. There should be associated benchmarks for the pulse path and an associated integration benchmark from the construction of a relatively sophisticated quantum circuit, default backend transpilation and scheduling.

Benchmarks:
- [ ] Schedule construction
     - with parameters being the:

[2020-01-24 06:58] eembees commented on #3327
I think it's a good approach for generalization, but it doesn't solve the discontinuity issue when `g(t)=0` which in this case is at `t = width`.

Either way, I guess we can move this discussion to #3742, and close this issue? I don't see any reason to double the work on this if we'll remove it in a future PR.

[2020-01-24 14:30] taalexander commented on #3678
Perhaps rather than a direct deepcopy, create a quantum circuit with a barrier and then `combine` it with the input quantum circuit. That way we can let the Qiskit implementation choose how to do the copying.

[2020-01-24 14:36] taalexander commented on #3327
Ok, let's move the discussion over there 😄.

[2020-01-24 14:36] #3327 closed

[2020-01-24 14:51] taalexander commented on #3742
My apologies for not grasping this problem earlier, you are correct. I don't have much of an excuse other than not doing my due diligence 😦 . We should not touch the derivative component as the zeroing is a constant normalization term and taking the derivative of this term will result in no contribution to the derivative component. See equations (5) and (10) in the [original DRAG paper](https://ar

[2020-01-24 14:53] taalexander commented on #3742
@eembees are you interested in this issue?

[2020-01-24 15:18] eembees commented on #3742
Yes, I'll start working over the weekend.

The only way I see us being able to zero the edges of the derivative would be to multiply it by the `gaussian_square` pulse (also zeroed). I think that would be the best (if not only) way to keep it continuous without touching the inflection point in the center.

[2020-01-24 15:44] taalexander commented on #3742
My worry is that this transformation would ruin (or at least unpredictably modify) the assumptions that the DRAG pulse was derived under. I think to do it right we would have to undertake an analytical/numerical on the impacts.

[2020-01-24 16:03] taalexander opened #3749 "Pulse instructions should be scheduled with delays"
### What is the expected enhancement?
Currently, all `pulse.Instructions` are stored in a `Schedule` with a two-tuple containing the `(start_time, Instruction)`. While this makes it clear the explicit starting time of every pulse it leads to convoluted internal data structures such as `TimeslotCollection` for tracking the time of all instructions.

It also encourages inefficient operations such as

[2020-01-24 16:42] #2182 closed

[2020-01-24 16:47] taalexander commented on #3742
I should add that I am still uncertain about splitting the pulses into `Gaussian` and `ZeroedGaussian`. I worry that people will default to `Gaussian` or `DRAG` when `ZeroedDRAG` and `ZeroedGaussian` would almost always be better.

Any thoughts @lcapelluto, @eggerdj, @ajavadia, @dcmckayibm?

[2020-01-24 16:58] taalexander opened #3750 "Unify pulse Commands and Instructions"
### What is the expected enhancement?
Pulse `Command`s were initially created to allow the pulse to be only defined once as a `SamplePulse` and then have its usage tracked based on the pulse instance. Every `Instruction` instance was then defined as containing a `Command` and its `Channel` operands that the command is applied to.

This change may result in some breaking changes, but I have a coupl

[2020-01-24 17:31] michelle4654 commented on #3649
Great! So the goal is to add these imports at runtime? Does that mean the file needs to probably import pip as well so that it can automatically install the package?

[2020-01-24 17:31] michelle4654 commented on #3678
ok! I can do that

[2020-01-24 18:31] jyu00 commented on #3733
How about the case wherein some of the experiments failed? Does `result.get_counts()` raise or does it still return a dictionary with failed experiment value be `None`? Like `{'0': 123, '1': None}`.

[2020-01-24 18:53] nonhermitian commented on #3733
I would say raise as it is essentially replacing a loop over all experiments that would also raise an exception in this case.

[2020-01-24 19:47] ajavadia commented on #3742
Can’t it be an option of the pulse builder to zero or not

[2020-01-24 20:12] #3746 closed

[2020-01-24 20:49] lcapelluto opened #3752 "Draw schedule name"
### What is the expected enhancement?

It would be nice if `Schedule.draw()` would display the Schedule's name as a title.

[2020-01-24 21:16] ajavadia commented on #3416
A related issue that has been open for a year:
https://github.com/Qiskit/qiskit-terra/issues/1566

It is the inverse of this issue. Seems there is an open PR for it but does fully work.

[2020-01-24 22:10] taalexander commented on #3742
It currently is an option for the pulses. We do not want to support optional parameters in `ParametricPulse`.

[2020-01-25 08:35] Megapiro commented on #3733
Yes if it raises in that case I'd say raise too, but if you could give me an example of a failing circuit I can try to test it.

Moreover Do you think it would be better to raise or return the counts with  None for the failing experiment?

[2020-01-25 15:09] AdithyaSireesh commented on #3752
I am new to qiskit, but could work on it if you don't mind. :)

[2020-01-25 22:44] willhbang commented on #3263
Do we just need to expand IdGate to be multi-qubit? Or should we just stop treating the identity as a special case when decomposing?

[2020-01-26 20:33] taalexander opened #3753 "Rename ControlChannel to InteractionChannel"
### What is the expected enhancement?
Currently, in Qiskit-Pulse arbitrary pulse channels are of type `ControlChannel`. Typically these are used for two-qubit _interactions_ so the name `InteractionChannel` is hopefully more descriptive.

Thoughts @ajavadia @lcapelluto?

[2020-01-27 14:30] taalexander commented on #3752
That would be amazing @AdithyaSireesh! Welcome to Qiskit 🎆 .

[2020-01-27 14:35] kdk commented on #3263
One solution would be to have `Isometry` include an `IdGate` per unused qubit, which would bring it into line with the definitions of other gates (as would including a custom multi-qubit identity instruction.) I wouldn't necessarily want to make `IdGate` directly multi-qubit (to solve this problem), as there are already ways to generate multi-qubit Paulis.

[2020-01-27 22:45] michelle4654 commented on #3678
Hi! I submitted a change but I ended up using a copy instead of combining circuits. If combining would definitely be better, I can replace the code -- somehow the way I was combining must've screwed up the circuit because I had a lot of trouble passing the tests.

Thank you!!

[2020-01-28 15:08] lcapelluto commented on #3676
user case misconception: framechange can be used to rotate around y axis

[2020-01-28 15:28] lcapelluto commented on #3676
@DanPuzzuoli tracking your tutorial contributions here :D

[2020-01-28 16:18] lcapelluto commented on #3676
Moved here: https://github.com/Qiskit/qiskit-iqx-tutorials/issues/869

[2020-01-28 16:18] #3676 closed

[2020-01-28 16:23] ajavadia commented on #2262
fixed

[2020-01-28 16:23] #2262 closed

[2020-01-28 16:45] ajavadia commented on #1870
@dcmckayibm what do you think still needs to be done here?

[2020-01-28 17:00] #2731 closed

[2020-01-28 17:02] ajavadia commented on #1870
As i commented above, I think the gray shaded area should be modified to be exactly the same as where the dotted line is. I changed the issue title to relfect this.

[2020-01-28 18:11] lcapelluto commented on #3463
This is done

[2020-01-28 18:11] #3463 closed

[2020-01-28 18:20] lcapelluto commented on #3753
I had discussed the name at length with @dcmckayibm once (can't say if he is still of the same opinion now, though), and we had thought "derived channel" was a good name for them, since there is that `u_channel_lo` list which gives the control channels their definition in terms of drive channel frequencies. Is this feature of the control channel going to be removed?

I also have to bring up that d

[2020-01-28 18:23] taalexander commented on #3753
I really do not like the name derived channel as it is possible someday we will want to disconnect certain properties (say the frequency) of these channels dynamically.

[2020-01-28 18:24] lcapelluto commented on #3753
so, the `ControlChannel` is really just a second `DriveChannel`. I don't think we will be able to come up with a good name if there's nothing distinguishing about it

[2020-01-28 18:28] lcapelluto commented on #3753
`MultiQubitDriveChannel` 🤷‍♀ :(

[2020-01-28 18:33] SooluThomas commented on #3741
Looks like this has bug has been fixed.
[code]
raises a PulseError (`PulseError: 'Overlap on channel AcquireChannel(0) over time range [0, 5]'`)

[2020-01-28 18:34] #3741 closed

[2020-01-28 18:40] lcapelluto commented on #3475
If there is a framechange at t=0, and the filter time_range is [(0, 10)], the resulting schedule should include the framechange. It sounds like that is the behavior that is seen. What is the bug?

[2020-01-28 18:45] lcapelluto commented on #3392
I can take this on during our docathon :)

[2020-01-28 18:49] lcapelluto commented on #3602
The options should definitely `scheduling_method`, but should probably include all the arguments to `qiskit.compiler.schedule`. The input circuits will have to be scheduled with those options, and then continue with whatever the regular execution path for is for schedules.

[2020-01-29 00:32] dcmckayibm commented on #3753
The problem is the channel could represent anything that changes a term in the Hamiltonian, so it could have nothing to do with multiple qubits or interactions (e.g. a fast flux control knob).

[2020-01-29 06:28] itoko commented on #3475
I guess the minimal example @dcmckayibm showed was:
[code]
[code]

I think this is a good use case for `exclude()`.
[code]

Am I missing something?

[2020-01-29 14:33] taalexander commented on #3475
I think what @itoko proposes makes sense.

[2020-01-29 14:34] taalexander commented on #3753
Ok, so we shall remain with `ControlChannel` until the right name smacks us in the head 😄.

[2020-01-29 14:34] #3753 closed

[2020-01-29 15:21] #3598 closed

[2020-01-29 15:37] 1ucian0 commented on #2286
It seems like this is the way to go.

[2020-01-29 17:19] #2286 closed

[2020-01-29 20:00] 1ucian0 opened #3763 "MPL drawer does not support controlled gates"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

The matplotlib drawer does not print controlled gates correctly.

### Steps to reproduce the problem

[code]
![image](https://user-images.githubusercontent.com/766693/73392493-f2480800-42a7-11ea-896b-9b934819924d.png)

### What is the expected behavior?

S

[2020-01-29 20:02] 1ucian0 opened #3764 "Latex drawer does not support controlled gates"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

The latex drawer does not print controlled gates correctly.

### Steps to reproduce the problem

[code]
![image](https://user-images.githubusercontent.com/766693/73392692-4bb03700-42a8-11ea-9509-597296b11c64.png)

### What is the expected behavior?

Someth

[2020-01-29 20:51] 1ucian0 opened #3765 "Latex drawer should prioritize instruction label over name"
# Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

When an instruction has a label, the label should be used. If a no-boxing instruction has a label, a box should be used.

### Steps to reproduce the problem
[code]
![image](https://user-images.githubusercontent.com/766693/73396177-db58e400-42ae-11ea-891d-196

[2020-01-29 20:53] 1ucian0 opened #3766 "MPL drawer should prioritize instruction label over name"
# Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

When an instruction has a label, the label should be used. If a no-boxing instruction has a label, a box should be used.

### Steps to reproduce the problem
[code]
![image](https://user-images.githubusercontent.com/766693/73396404-4c989700-42af-11ea-9fec-17f

[2020-01-30 03:35] chriseclectic commented on #1143
As of #3758 everything in this module is deprecated, so it can be deleted in future release in 3+ months time.

[2020-01-30 10:37] ghicheon commented on #3766
"Unitary" can be fixed by using op.op.label  in matplotlib.py
I'm trying to find a better way...

    def _draw_ops(self, verbose=False):
....
                elif op.name == 'unitary':
                    # TODO(mtreinish): Look into adding the unitary to the
                    # subtext
                    if op.op.label:     # has label?
                        self._custom_multiqubit_gate(q_x

[2020-01-30 12:10] ajavadia opened #3769 "dag.extend_back() not general and dag.compose_back() hard to use"
`DAGCircuit.extend_back()` was created as a wrapper around `DAGCircuit.compose_back()`, making the wiring requirements more relaxed (allows partial wiring). But it is not general and only works on physically-embedded circuits (see https://github.com/Qiskit/qiskit-terra/pull/3762#pullrequestreview-350581230). I think we should just remove this method and make `compose_back()` also work with partial

[2020-01-30 12:10] ajavadia commented on #3769
I'll see if I can fix this.

[2020-01-30 14:52] kdk opened #3770 "Add estimated job start/compltion time to job watcher"
### What is the expected enhancement?

https://github.com/Qiskit/qiskit-ibmq-provider/pull/467 added estimated job start and completion time to the job objects returned by the IBMQ provider.  It would be useful to have these included in the fields shown in the job watcher, when available.

[2020-01-30 18:38] nonhermitian commented on #3770
I agree with this.  The one issue is that this est time need not hold in all cases in the future, so it will need a bit of logic in it at some point.  Also the times should be expressed in local time, not UTC.  There is also a more advanced version of the job watcher here: https://github.com/nonhermitian/theia

An additional point is that this tools is IBMQ only.  It may be worth thinking about st

[2020-01-30 22:05] #3480 closed

[2020-01-31 02:38] nkanazawa1989 opened #6097 "Pulse amplitude representation in pulse library"
### What is the expected behavior?
From a calibration point of view, pulse amplitude is better to be represented in (`float` |amp|, `float` phase) rather than `complex` amp. Usually I tune pulse amplitude by amplitude sweep followed by error amplification, and then calibrate the phase separately. I often write wrapper function of one in the pulse library to convert (amp, phase) into complex value

[2020-01-31 16:18] lcapelluto commented on #1937
Kerneling is blocked on having available devices which return raw data

[2020-01-31 16:19] #2294 closed

[2020-01-31 16:20] lcapelluto commented on #2294
We are closing this since we anticipate that the provider will be responsible for this

[2020-01-31 16:21] lcapelluto commented on #2753
Hello @willhbang! Any update on this?

[2020-01-31 16:26] lcapelluto commented on #2832
We can close this. The `SetFrequency` command will allow us to deprecate these `assemble` arguments altogether. (#3468)

[2020-01-31 16:26] #2832 closed

[2020-01-31 16:29] lcapelluto commented on #3427
Hi @faraimazh, how is this going?

[2020-01-31 16:34] lcapelluto commented on #3475
Thank you @itoko! I will close this as the `exclude` method is already implemented.

[2020-01-31 16:34] #3475 closed

[2020-01-31 16:35] lcapelluto commented on #3592
We fixed this

[2020-01-31 16:35] #3592 closed

[2020-01-31 18:39] lcapelluto commented on #3312
If you follow the nice format in: `qiskit-terra/qiskit/test/mock/backends/fake_almaden.py`, then the requirement for this issue would be to create 4 files:

 - `test/mock/backends/fake_100q.py`
 -`conf_100q.json`
 - `props_100q.json`
 - `defs_100q.json`

[2020-01-31 22:44] #3546 closed

[2020-01-31 23:05] yriyat commented on #1098
Hi guys - I think I am having a similar issue, and I can't tell from what is written above whether or not this was finally resolved. This is my code:

`from qiskit import IBMQ
IBMQ.save_account('0b...')
provider = IBMQ.load_account()`

And here is the error:
`Credentials already present. Set overwrite=True to overwrite.
---------------------------------------------------------------------------
HT

[2020-01-31 23:12] yriyat commented on #1098
I read up on #1295. Am I supposed to add 'overwrite=true' as code somewhere? I was not clear on how to add that parameter. Thank you.

[2020-01-31 23:33] balewski commented on #1098
yes, do this once (comment out for the 2nd and later executions of the same script):
IBMQ.save_account(myToken,overwrite=True)
where myToken is this long authorization string
Jan

[2020-01-31 23:54] mtreinish commented on #3765
Should the label replace the gate text or should it be used as a second line like parameters? I was thinking we'd do this as a second line not replacing the gate text

[2020-02-02 20:01] willhbang commented on #2753
@lcapelluto waiting on review in my PR, i'll bump it

[2020-02-02 22:32] faraimazh commented on #3427
@lcapelluto thanks for checking. I am only starting to follow now. I had to read a bit on terra and OpenPulse. I am not there yet but ready to get my hands dirty. Excuse my noob-ness, where do I find the drawing function or visualization files?

[2020-02-03 00:04] nkanazawa1989 commented on #3427
the files are here.
https://github.com/Qiskit/qiskit-terra/tree/master/qiskit/visualization/pulse

and interpolation code is here.
https://github.com/Qiskit/qiskit-terra/blob/ff6b94120520b5c27d6316088eafc90338a97914/qiskit/visualization/pulse/interpolation.py#L26-L49

good luck and I'm happy to help :)

[2020-02-03 02:41] nkanazawa1989 commented on #3312
I'm bit worried about data size of those files. Since mock backends are placed under `qiskit.test.mock`, adding them may increase the time to import qiskit. Can we think about transfering them under `test` if those json files are very large?

[2020-02-03 02:45] nkanazawa1989 commented on #3752
This is just fyi. The function to create axis object is placed here.
https://github.com/Qiskit/qiskit-terra/blob/ff6b94120520b5c27d6316088eafc90338a97914/qiskit/visualization/pulse/matplotlib.py#L572-L576

[2020-02-03 06:35] drholmie commented on #2784
Hi there! I'm interested in helping out although I have a few questions,
1. While yes `control` is repeated in the `apply_operation_back` call, but isn't it because `instruction.copy()` already has the information too, is this really a clash between `condition` and `control` ?
2. What does making one authoritative mean? Is it ignoring `condition` if `control` is present? Or is it to take what `con

[2020-02-03 09:39] rraymondhp opened #3780 "About `job.result().get_memory(QuantumCircuit)` and `job.result().get_counts(QuantumCircuit)`"
### What is the expected enhancement?
It appears that `get_memory()` and `get_counts()` methods take QuantumCircuit object as argument, but it does not utilize the hash function of the QuantumCircuit objects. This can result in confusion as usually one may deep copy quantum circuit and run multiple of them in a job. For such cases, the result of `get_memory()` and `get_counts()` will just the same

[2020-02-03 12:01] ghicheon commented on #3766
When the text is long, it comes out of the box.
In order to fix it elegantly, some more knowledge seems to be needed.  I think I need to study more about qiskit code.
I hope somebody can fix this issue.

[2020-02-03 14:19] kdk commented on #2784
Hi @drholmie ,

(N.B. after this issue was opened, `Gate.control` was renamed `Gate.condition`)

1.  The issue for `apply_operation_back` is that the `condition` kwargs ignores and can conflict with `op.condition`. So for example, if I have `op.condition == (cr0, 0)` and I `apply_operation_back(op, [qr0[0]], condition=(cr0,1))`, I'll generate a `DAGNode` with `node.condition == (cr0,1)` but `node.

[2020-02-03 15:18] lcapelluto commented on #3312
I could be wrong, but I don't think mocks have to be imported by default. I doubt that including these files will have too much of an effect at import time. This would be up to @ajavadia

[2020-02-03 17:25] faraimazh commented on #3427
Thanks. I am on it.

[2020-02-03 21:07] #3215 closed

[2020-02-04 00:59] AdithyaSireesh commented on #3752
Cheers @nkanazawa1989, was not used to Pulse yet, so didn't know where to start. Thank you very much

[2020-02-04 05:48] drholmie commented on #2784
Thank you for clearing things up :)
If I've understood correctly a solution could also be to change the definition of `apply_operation_back` from
`def apply_operation_back(self, op, qargs=None, cargs=None, condition=None): `
to
`def apply_operation_back(self, op, qargs=None, cargs=None):`
and then appropriately change mentions of `condition` to `op.condition`.
Although this would need to also chan

[2020-02-04 16:19] #3021 closed

[2020-02-04 18:11] tphungibm opened #3789 "set tolerance on isometry conversion"
### What is the expected enhancement?

Can the tolerance made to be user definable for setting the tolerance in the isometry to circuit conversion in
https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/extensions/quantum_initializer/isometry.py

Right now the tolerance is hard-coded to be 1e-10, but it would be useful for the user to be able to adjust this tolerance.

[2020-02-04 21:01] nonhermitian opened #3793 "Deepcopy of a job results in model validation error"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
yields:
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-02-04 21:22] yeralin commented on #805
No need for future here. How about storing an entire JS file content (or maybe its trimmed version) in the codebase?

Then inject it instead of trying to pull it from the internet.

[2020-02-04 21:27] nonhermitian commented on #805
Or, we could just move everything to `plotly` that has all of this taken care of for us.  This has started with #3786

[2020-02-05 05:04] monica1131 opened #3796 "QuantumCircuit.decompose()"
what would be the syntax if I specifically want to decompose the circuit into x,y,z, Rx, Ry or Rz gates?

[2020-02-05 05:18] faraimazh commented on #3427
After setting up my environment and all, when I run the code to reproduce the problem here is the error I get.
![2020-02-04 (2)](https://user-images.githubusercontent.com/35575882/73813107-adf8c280-47e7-11ea-84c5-70dd6131b990.png)
![2020-02-04](https://user-images.githubusercontent.com/35575882/73813108-ae915900-47e7-11ea-8181-7050289ba166.png)
![2020-02-04 (1)](https://user-images.githubuserconte

[2020-02-05 08:53] faraimazh commented on #3427
Issue resolved. I had two folders for qiskit-terra and in one of them there was a corrupt file.

[2020-02-05 12:09] JordanovSJ commented on #3425
@mkiffner I had the exact same problem, using python.multiprocessing in a combination with Aer and BasicAer. After a sleepless night trying different solutions, I resolved the problem by using [python.ray ](https://ray.readthedocs.io/en/latest/) instead.

[2020-02-05 18:32] ewinston commented on #3796
I think the nature of this issue is generally covered by #3086 and #3146. Perhaps this could be discussed there?

[2020-02-05 18:32] #3796 closed

[2020-02-05 18:58] 1ucian0 opened #3799 "DAGCircuit.substitute_node_with_dag shuffles wires with custom controlled gate"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

Consider the following circuit:
[code]
If a pass wants to remove the "control", it needs `substitute_node_with_dag` to replace the controlled node with a temporary 4-qubit DAG (the base gate and an idle qubit):
[code]

However, the results is the following

[2020-02-05 20:00] kdk commented on #3799
Agree the behavior here is confusing, and should be documented more clearly. `substitute_node_with_dag` (unlike `extend_back`/`compose_back`) expects the input dag to be indexed relative to the qargs/cargs/conditions of the *node to be replaced* (and not the dag which contains it).

To get the behavior you're looking for, you could do
[code]

[2020-02-05 22:21] 1ucian0 commented on #3799
Thanks a lot for you clarification @kdk I fixed it with `dag.qubits()[node.op.num_ctrl_qubits:]`. Closing.

[2020-02-05 22:21] #3799 closed

[2020-02-05 23:10] #3763 closed

[2020-02-05 23:49] #3764 closed

[2020-02-06 00:28] #3399 closed

[2020-02-06 07:35] ajavadia opened #3800 "circuit deepcopy too slow: singleton gates"
It is currently very slow to copy a circuit. Among other things, one reason is that circuits are defined over gate instances. So a circuit with 2000 H gates and 5000 CX gates will go through that many copy operations, clearly a waste. Can we modify the datastructures to optimize this?

Along the same lines, there are currently other kinds of information in a gate instance that should be static and

[2020-02-06 10:38] JamesSeaward commented on #3789
I would be happy to take this issue :)

[2020-02-06 12:49] #3720 closed

[2020-02-06 16:28] ajavadia opened #3801 "redundant params in base gate and controlled gate"
In parameterized `ControlledGate`s like CU1, there are separate parameters associated with the ControlledGate and its base_gate. These should be references to each other, otherwise can lead to inconsistencies.

[code]

[2020-02-06 16:49] #3400 closed

[2020-02-06 16:55] ewinston commented on #3801
This may depend on whether #3773 is reverted in which case params are used sometimes to create an instance of the base gate class, although maybe that didn't work for custom gates.

[2020-02-06 20:05] #2482 closed

[2020-02-07 06:48] mx73 opened #3804 "Extracting values from Parameter"
Is there a way for me to extract the value of the `Parameter` of the current running circuit? For example, without `Parameter`, I can:

[code]
and for example change the number of shots depend on the parameter theta. But with the way it's now:

[code]
I can't change it. I tried `t`, `t_val`, `t_val for t_val in t_range` etc. into the ???? but it didn't work. Is there any way I can do it?

[2020-02-07 15:02] kdk commented on #3804
Normally, to have an `execute` argument vary with the value of your `Parameter`, you can do:
[code]

However, `shots` is not a parameter that can change within a job. The first approach you mentioned would still work with `Parameter`s, but will still require multiple jobs.

[2020-02-07 16:21] #3602 closed

[2020-02-07 16:21] kdk opened #3805 "Add runtime logging for execute"
### What is the expected enhancement?

Similar to as was added for the transpiler's `PassManager` in #2782, `qiskit.execute` should log progress and runtimes. Possible logging locations: total transpile time, parameter binding, qobj assembly, scheduling (post-#3792), backend job submission.

[2020-02-07 16:29] kdk opened #3806 "QuantumCircuit constructor fails if n_qubits is np.int64"
### What is the expected enhancement?

[code]

Similar to as was added for `Register`s in #2288, the `QuantumCircuit` constructor should test if a provided argument can be cast to an int before it raises an error.

For reference, here is where `Register` does the check:
https://github.com/Qiskit/qiskit-terra/blob/2ee7a3a/qiskit/circuit/register.py#L39

and where `QuantumCircuit` makes new `Registe

[2020-02-07 16:53] francabrera commented on #1566
this issue is also affecting the IBM Quantum Experience composer users (some have complained on the Slack channel) since the transpiling process using Qiskit fails when running a OpenQASM with "subroutines" (custom gates) in any of the cloud backends.

[2020-02-07 20:55] lcapelluto commented on #3530
This can be part of #3750 since there will be renaming happening there

[2020-02-08 00:24] frankharkins opened #3807 "MPL cannot deal with multiple underscores in qreg/creg name"
### Information

- **Qiskit Terra version**: 0.11.1
- **Python version**: 3.7.4
- **Operating system**: OSX Catalina (10.15.3)
(Using Jupyter Notebook)

### What is the current behavior?
If a qubit or cbit has two underscores in the name, matplotlib gives an exception. This is especially problematic as `RepetitionCode` outputs circuits with multiple underscores.

### Steps to reproduce the problem

[2020-02-08 01:08] frankharkins opened #3808 "Drawing some circuits with MPL means they cannot be transpiled in parallel later"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.4
- **Operating system**: OSX Catalina
(Jupyter Notebook)

### What is the current behavior?
Passing `execute()` a list of circuits gives `BrokenProcessPool` error if the circuit has been drawn with mpl _and_ has a reset in it.

### Steps to reproduce the problem
Create list of circuits with resets:
[code]
Draw one using

[2020-02-08 01:35] mtreinish commented on #3808
I just tried this locally on linux (mostly out of curiosity) and was not able to reproduce this failure. This makes me think that this is related to https://github.com/Qiskit/qiskit-terra/pull/3491 which was a change for only macos in 0.12.0 as part of the 3.8 entablement. The one thing I'm still not sure about is how the reset gate is the trigger for the parallel execution to fail. Do you have th

[2020-02-08 02:45] frankharkins commented on #3808
I agree it seems quite strange, but if I remove the resets or the mpl drawing the error disappears.

[code]
Sorry it's a large one

[2020-02-11 12:17] Cryoris opened #3811 "Cannot += the same circuit twice"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.5
- **Operating system**: macOS Catalina 10.15.2

### What is the current behavior?

The snippet
[code]
never terminates.
This problem doesn't occur if different circuit instances are added together, only as soon as the same one is added twice the code seems to be stuck.

### Steps to reproduce the problem

Run the above

[2020-02-11 13:59] JamesSeaward commented on #3807
I have just had a look at fixing this here:
`https://github.com/JamesSeaward/qiskit-terra/tree/3807`

with the following helper function in `/qiskit/visualization/matplotlib.py` just before the q and c registers are labelled.
[code]

In my tests this avoids an exception by replacing underscores in words with the escaped version '\_' that isn't read as a subscript instruction.

Not sure what the in

[2020-02-11 14:43] frankharkins commented on #3807
I'm probably about as far from an expert on this kind of thing you could find on github, but I think that seems like a reasonable solution. I think underscores are the main offender since they're used so much in names, but avoiding other future problems would be idea.

[2020-02-11 16:57] JamesSeaward commented on #3807
From a very quick look at the [matplotlib source](https://github.com/matplotlib/matplotlib/blob/0358ab8ea1dd613e9ce233d97d832f41d74563a9/lib/matplotlib/mathtext.py#L2947), it does look like it's only `_` and `^` we'd have to worry about.

I am new to the qiskit repo, does/should this sort of change require new tests?

[2020-02-11 18:46] faraimazh commented on #3811
I could help if you are still open to assistance.

[2020-02-11 21:39] javabster commented on #3806
@1ucian0 have you made progress on this? I'd like to give it a go if not (I'm new to qiskit and open source and this looks like a nice first issue to try out!)

[2020-02-11 21:43] 1ucian0 commented on #3806
Sure! Go ahead!

[2020-02-11 21:54] javabster commented on #3806
Yay great I'll get cracking! Is there a corresponding test file that needs updating as well?

[2020-02-11 21:59] 1ucian0 commented on #3806
Yes, tests should be added (maybe in the files we already have?). You can use the code from OP for that.

[2020-02-12 15:26] kdk commented on #3811
Thanks @faraimazh , I think @Cryoris already has a branch to fix this.

[2020-02-12 17:55] #3576 closed

[2020-02-13 13:08] Cryoris opened #3828 "Complex parameters and mixed binding"
### What is the expected enhancement?

Fix requirements for Aqua development:
* Allow binding complex values to circuit parameters, since it is currently not possible to set a `Parameter` object to a complex value.

Enhance the flexibility in binding the circuit parameters:
* Allow binding `Parameter` objects and `float` in `bind_parameters`. This is technically not an issue, but for some reason t

[2020-02-13 13:08] Cryoris commented on #3828
@kdk

[2020-02-13 13:23] Cryoris opened #3829 "Allow to implement gates up to relative phase"
### What is the expected enhancement?

In several applications we have a `compute -> operation -> uncompute` flow: we apply a certain series of gates, do some operation, and then apply the daggered series of gates. The gates that are uncomputed can be implemented up to multiplication with a diagonal unitary (a.k.a. up to relative phase). The relative phase version of the gates can have shorter, mo

[2020-02-13 13:41] JamesSeaward commented on #3808
I have just tried to reproduce on a Windows machine and also cannot reproduce it.

[2020-02-13 14:22] AzizNgoueya opened #3830 "Transform a circuit into a schedule adds a barrier to the end"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.8.1
- **Operating system**: Windows

### What is the current behavior?
When transforming a circuit to schedule, the original circuit has a barrier at the end. It's not really a bug but if i send the quantum circuit to the backend an error occurs

### Steps to reproduce the problem
[code]

### What is the expected behavior?

[2020-02-13 14:44] ajavadia commented on #3830
This issue exists and a fix is under way: https://github.com/Qiskit/qiskit-terra/pull/3757

[2020-02-13 14:44] #3830 closed

[2020-02-13 15:29] nkanazawa1989 opened #3831 "pulse `align_measures` doesn't enforce minimum wait time"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
`align_measures` shifts timing of measurement and acquire instructions but doesn't shift timing of other instructions. it says _Minimum measurement wait time is enforced_.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
We ne

[2020-02-13 15:40] kdk commented on #3509
Fixed by #3729 .

[2020-02-13 15:40] #3509 closed

[2020-02-13 16:04] ajavadia opened #3832 "Enhance single qubit visualization"
Two nice-to-have enhancements to #3561 (by @welien):

1- Instead of having an explicit `jupyter=True` arg, you can probably just infer the environment. This is already done in some visualization tools in Qiskit: https://github.com/Qiskit/qiskit-terra/blob/97895e7002d873af1eadc71f327a1ac36a327b32/qiskit/visualization/dag_visualization.py#L122

2- For the trace option I think it would be nice to do

[2020-02-13 16:19] kdk commented on #3649
Warning users with instructions on how to install any needed packages should be sufficient. Auto-installing could be confusing in some cases (e.g. if the install fails).

[2020-02-14 02:34] hhyap opened #3842 "DiagonalGate does not raise when diagonal entries do not have modulus 1"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.6.9
- **Operating system**: Linux

### What is the current behavior?

`diag_gate` allows entries whose modulus are not one.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

An error should be raised.

### Suggested solutions
Line 59 in https://github.com/Qiskit/qiskit-terra/blob/master/qiski

[2020-02-14 10:56] jj-curious commented on #3425
@mkiffner , @mtreinish ,
I'm not too sure if this is related to Aer, but I had the issues with using multiprocessing and BasicAer together. Since everything worked fine on Mac but not on Linux, I simply changed the line 51 in https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/providers/basicaer/basicaerjob.py
from
`if sys.platform in ['darwin', 'win32']:`
to
`if sys.platform in ['darwin', '

[2020-02-14 12:01] JamesSeaward commented on #3832
I would like to work on this issue if it's still free.

[2020-02-14 16:59] DanPuzzuoli commented on #3742
I was just working on the docs for `discrete.py` and came across this issue (@lcapelluto pointed me to the _literal_ github issue). Let me know if this discussion has been taken further outside of these comments @eembees and @taalexander (and perhaps my comments are obsolete).

I think that whatever the functionality is, it should be consistent. Currently, e.g.:
- the `drag` function is inconsiste

[2020-02-14 17:08] ajavadia commented on #3832
@JamesSeaward sure, thanks!

[2020-02-14 18:08] 1ucian0 commented on #3710
`priority: medium` because is a heavily used functionality in demos. Reassess if disagree.

[2020-02-14 18:10] 1ucian0 commented on #3728
`priority: medium` because bug is obscure and might hide misbehavior. Reassess if disagree.

[2020-02-14 18:11] #3811 closed

[2020-02-14 18:14] 1ucian0 commented on #3735
How do you image this? Something like `FakeBackendMay2019`? In a different attribute?

[2020-02-14 18:16] 1ucian0 commented on #3765
No strong opinion there... If does not look too cluttered, why not...

[2020-02-14 18:18] 1ucian0 commented on #3766
I think @mtreinish had somes ideas about how to dynamically adjust the box

[2020-02-14 18:25] monica1131 opened #3847 "decomposition of arbitrary gates using given matrix in two_qubit_kak"
If I have a matrix of say
 ([
    [1.5, 0, 0, 0],
    [0, 0, 0, 1.6],
    [0, 0, 1, 0],
    [0, 1, 0, 0] ]), how do I decompose it?

[2020-02-14 18:54] nonhermitian commented on #3710
I have found a solution.

[2020-02-14 18:58] ajavadia commented on #3832
Actually it seems #3561 already did this...

[2020-02-14 18:58] #3832 closed

[2020-02-14 19:31] ajavadia commented on #3780
The reason for this is that results are primarily deserialized from a remote execution. In this case the circuit object/hash does not exist, but rather the circuit name exists. So `get_result(circuit)` is purely a convenience around `get_result(circuit.name)`.

I agree this should be more clear. I'm not sure, however, how to support looking up by actual circuit objects in this serialization/deseri

[2020-02-14 20:04] 1ucian0 commented on #3793
I could not reproduce this issue. I probably missing some specifics...

The following test passes.
[code]

[2020-02-14 20:32] kdk commented on #3847
Hi @monica1131 , for a given unitary matrix, `qiskit.quantum_info.synthesis.two_qubit_cnot_decompose` will generate the KAK decomposition (in your example though, the provided matrix is not unitary).

The Qiskit slack (linked from the bottom of https://qiskit.org ) or the quantum computing stack exchange ( https://quantumcomputing.stackexchange.com/ ) are the best venues for questions (and will ge

[2020-02-14 20:32] #3847 closed

[2020-02-14 21:06] #3392 closed

[2020-02-14 21:59] revilooliver opened #3851 "initial_layout or circuit._layout bug"
### Information

- **Qiskit Terra version**:  'qiskit-terra': '0.11.1',
- **Python version**: Python 3.7.3
- **Operating system**: Windows 10

### What is the current behavior?
I tried to transpile the same circuit without and with initial_layout but the transpiler is returning an error message:
KeyError: "The item Qubit(QuantumRegister(20, 'q'), 0) does not exist in the Layout"

### Steps to repr

[2020-02-14 22:17] 1ucian0 commented on #3851
`trans_qc` in the second `transpile` is an "embed" circuit.  If what you want is to transpile the same circuit without and with initial_layout, you should run `transpile(qc, backend=device, initial_layout = ini_layout)`, or am I missing something?

[2020-02-14 22:44] JiahanBro commented on #3842
Hey guys! I would like to give it a try. Just to be sure I understood it correctly, the second entry of the list which is 0 seems to be the problem right? Maybe the if case in Line 59 only checks the first entry, therefore no error is raised?

[2020-02-15 03:36] jwoehr commented on #1742
@eddieschoute wrote:

I've already done that in my [nuqasm2](https://github.com/jwoehr/nuqasm2) project, though I made up the AST myself out of ignorance :) It's a little brittle, it doesn't recognize some syntax, e.g., it knows `measure q[`_n_`] -> c[`_m_`]` but not `measure q -> c` but I could fix that if there was any interest. And it makes the circuit, I use nuqasm2 as an optional assembler (i

[2020-02-15 04:17] jwoehr commented on #1566
My [nuqasm2](https://github.com/jwoehr/nuqasm2) compiles any subroutine to circuit by simply unrolling it on the spot as it attempts to make a circuit. They could toss that in the backend, even if the team doesn't want to use it in mainline Qiskit.

[2020-02-15 04:43] eddieschoute commented on #1742
Cool! Do you have benchmarks for this parser? Say on the example file in #1168 ? I'm interested to see how it performs memory-wise as illustrated in https://github.com/Qiskit/qiskit-terra/issues/1168#issuecomment-530949341.

[2020-02-15 05:34] jwoehr commented on #1742
It profiles itself, it's one of the command-line args. Give it a try.

[2020-02-15 05:49] jwoehr commented on #1742
Hmm, this is horribly inefficient because when I wrote `nuqasm2` driver as a demo, it was designed to print out the AST .. I'll have to add a switch to the demo so it just compiles the circuit and doesn't spew the AST.

[2020-02-15 17:06] jwoehr commented on #1742
![image](https://user-images.githubusercontent.com/4604036/74592058-c7b1bb00-4fda-11ea-90b9-226ab27bda39.png)

[2020-02-15 20:04] jlatone commented on #3634
I ran into this with the latest release installed via `pip install qiskit` on macOS 10.15.2 (see version below). I could not replicate it using the above snippet, but I attached a program that does. In any case, the right thing to do here is protect against div-by-0 regardless, because nobody wants a progress bar exception to halt their quantum program, and if `self.iter` should indeed not be 0 at

[2020-02-16 02:09] willhbang commented on #3596
Looks like this was fixed by https://github.com/Qiskit/qiskit-terra/pull/3597? Should it be closed?

[2020-02-17 13:03] brandhsn commented on #3735
I was thinking about something similar to https://github.com/luisg5/qiskit-ibmq-provider/blob/4e85e660ed3fb869b08242cc803bb5c7d4e10910/qiskit/providers/ibmq/api_v2/rest/backend.py#L40 where a datetime object can be passed to the properties function to filter the returned property data.

I see two options how this can be implemented for fake backends:
- A pair of {calibration date : backend propert

[2020-02-17 13:43] revilooliver commented on #3851
Let me clarify it here. I wanted to test whether the transpiled circuit "trans_qc" changes if I transpile it again with the same initial_layout.

I derived the initial layout from the transpiled circuit "trans_qc"
ini_layout = trans_qc._layout.get_virtual_bits()

And transpiled it again:
transpile(trans_qc, backend=device, initial_layout = ini_layout)

But this will raise an error.
Is that because

[2020-02-17 14:43] 1ucian0 commented on #3851
An "embed circuit" does not have a layout. I think you can reach your goal by running `trans_qc2 = transpile(trans_qc, backend=device)` without `initial_layout`. If you print the circuits after each transpilation, you will see the physical layout allocation.

This questions raises many thoughts:
 - All the layout selection part should be skipped for embed circuits.
 - Should we have to "types" of

[2020-02-17 15:05] revilooliver commented on #3851
I see. Is there any function/method that I can use to get the physical layout allocation rather than reading the printed circuits? It is difficult to manually check the figures. I thought trans_qc._layout should return the physical layout, but the result doesn't match with the printed circuit.

[2020-02-17 15:16] 1ucian0 commented on #3851
The property `trans_qc._layout`returns something like the following:
[code]

That means that the original `qr = QuantumRegister(3)` created a quantum register called `q3` and `qr[0]` is being allocated in the physical qubit 5. The `ancilla` entries were added by the transpiling process, because the backend I used has 20 qubits.

[2020-02-17 17:29] revilooliver commented on #3851
Thanks for @1ucian0 's explanation. There are two things that confused me:
1. Based on the naming, trans_qc._layout should be the layout for the transpiled circuit. However, the quantum registers in trans_qc._layout are actually the quantum registers in the original circuit.
If we call `trans_qc.qregs` we will get `[QuantumRegister(20, 'q')]`.
But the `trans_qc._layout` returns:
`Layout({
5: Qubit

[2020-02-17 17:29] #3851 closed

[2020-02-17 18:10] 1ucian0 opened #3855 "transpiled circuit layout refers to original circuit"
A [recent issue](https://github.com/Qiskit/qiskit-terra/issues/3851#issuecomment-587094919) raised the problem of how confusing a transpiled circuit layout is. In other words, the result of transpiling `circuit` gives you a `result_circuit` in which `result_circuit._layout` is in the domain of `circuit`.

Should the transpiled circuit make the change to the flat register `q` or be kept in the orig

[2020-02-17 18:18] 1ucian0 opened #3856 "Is there a need for a physical register/qubit/circuit?"
The notation `q` for referring to physical flat register might be confusing to user with access to a layout. For example: https://github.com/Qiskit/qiskit-terra/issues/3851#issuecomment-587094919

Would it be easier to add a physical register as an array of numbers for embed/physical circuits? Do we need an embed/physical circuit type?

Having an embed/physical circuit type might help the transpil

[2020-02-18 09:18] Cryoris opened #3857 "Change the definition of the RXX gate"
### Summary

When computing gradients of a circuit, the cost is proportional to the number of parameterized gates in the circuit. The current implementation of `RXXGate(theta)` uses the parameter `theta` in three gates in its definition, however we can reduce this to one.
This other implementation changes the global phase of the RXX, but: the existing implementation also contains a global phase.

[2020-02-18 14:07] chriseclectic commented on #3857
I verified in Mathematica and new def looks good to me. I would make one additional change:

* Swap `U1Gate(theta)` with `RzGate(theta)`

Then the final matrix would be correct including phase if the Rz matrix was used (ignoring Rz unrolling to U1 with incorrect phase which will be fixed eventually)

[2020-02-18 14:08] Cryoris commented on #3857
Agreed, also it makes the circuit diagram more intuitive seeing `Rz` instead of `U1`. I'll open a PR.

[2020-02-18 14:15] chriseclectic commented on #3857
In the same PR you could also change the def of the RZZ gate to use Rz instead of U1 for the same reason. it should be:
[code]

[2020-02-18 15:30] kdk opened #3858 "Appending an `Instruction` class instead of an instance gives an unhelpful error message"
### What is the expected enhancement?

If a user forgets the `()` for their gate, they'll see the following error message:
[code]

because `instruction` will be an `Instruction` subclass, and not an instance. (`broadcast_arguments` will be called as a static method on the class, instead of an instance method so `self` will be missing. Thus the `TypeError` for missing `cargs`)

In `QuantumCircuit.a

[2020-02-18 16:27] lcapelluto opened #3859 "Documentation for the Pulse module: `Command` linking"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Locally, `Command` API cross references are not working.

With the Azure docs artifact, neither Channels nor Commands works, but Channels works for me locally! :(

### Steps to reproduce the problem

Build this locally https://github.com/Qiskit/qiskit-terra/pull/3849

###

[2020-02-18 16:29] lcapelluto commented on #3859
@SooluThomas has been helping me with this

[2020-02-18 17:14] #3406 closed

[2020-02-18 18:26] SooluThomas commented on #3859
The code (in #3849) is correct but the corresponding `.rst` files aren't generated in the `stubs/` folder during the build, which is why `Channels` and `command` are not hyperlinked when the html is generated. I'll look into the details and will open a PR if I find a solution.

[2020-02-18 20:52] lcapelluto commented on #3859
Thank you @SooluThomas !!! <3

[2020-02-19 05:30] willhbang commented on #3728
I can grab this one if no one's started. Looks like the fix and test cases have already been spelled out.

I had a question though, because I'm a python newbie:
The case in the issue description, `g.params[0] = 0.2`, bypasses the `params` setter invocation, so resetting `self._definition` there wouldn't work. Is mutating instance attributes like that a common pattern that we have to anticipate?
In

[2020-02-19 05:39] willhbang commented on #3346
@krutik2966 I think this issue is in reference to the bitstring labels on the X axis, rather than the frequency labels in the plot

[2020-02-19 05:40] willhbang commented on #3346
I'm unable to reproduce on Ubuntu 18.04.4 either

[2020-02-19 10:55] nonhermitian opened #3863 "Terra tests fail if Aqua installed."
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
We have seen this before, but I thought it was fixed.

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-02-19 11:59] Cryoris commented on #3863
This is due to the multicontrolled gates being in both elements. I'll open a PR to remove them.

[2020-02-19 16:26] ewinston opened #3864 "add visualization of open controlled gates [text drawer]"
In PR #3739, open controlled gates were implemented. With that PR a new keyword argument was added to specify the control state,

`XGate().control(3, ctrl_state=6)`

This creates a 4 qubit gate where the first three qubits are controls and the fourth qubit is the target where the x-gate may be applied. A `ctrl_state` may alternatively be expressed as an integer string,

`XGate().control(3, ctrl_st

[2020-02-19 16:45] 1ucian0 commented on #3864
Is this the expected result?
[code]
[code]

[2020-02-19 18:08] ewinston commented on #3864
q_0 should be open and q_2 and q_3 closed.

[2020-02-19 19:02] SooluThomas commented on #3859
`:mod:foo.x` will only add a hyperlink, if the file exists. Currently, the stub files for the modules aren't generated during the build, which is why the hyperlink isn't working.

The stub files for the modules `qiskit.pulse.channels` and `qiskit.pulse.commands.command` can be created during the build by adding
[code]
to the end of the docstrings so that the stub files will be generated and that p

[2020-02-19 19:51] 1ucian0 commented on #3864
Gotcha
[code]

[2020-02-19 20:07] ajavadia commented on #3864
yeah left-most bit corresponds to lowest line in the drawing.

[2020-02-20 04:02] taalexander commented on #3596
You're right, thanks for catching this.

Closed via #3597.

[2020-02-20 04:02] #3596 closed

[2020-02-20 15:37] #3684 closed

[2020-02-20 20:40] 1ucian0 opened #3868 "pi_check does not seems to be running over the values in bind_parameters"
After #2808, the visualizations represent fractions of `pi` very nicely.

[code]
[code]

However, there are some corner cases missing. Like this one:
[code]
[code]
## What is expected?
The last example should look like this:
[code]

[2020-02-20 21:04] lcapelluto commented on #3749
RFC started (only a draft now). RFC link added to description. https://github.com/Qiskit/rfcs/pull/16

[2020-02-21 15:29] SooluThomas commented on #3859
**Update**: Paul agrees to the proposed idea. I'll be opening a PR for this 🎉 :

[2020-02-21 16:14] chriseclectic opened #3872 "Add ability to compose operators on subsystems using binary operators"
### What is the expected enhancement?

The binary operator for compose `@` and dot `*` can currently only be used if operators have the same total dimensions. This feature is to add the ability to compose/dot operators on subsystems as if using the `qargs` kwarg for the `compose` and `dot` methods. Eg:

[code]

[2020-02-21 16:45] JamesSeaward commented on #3868
There is a separate but related behaviour here where fractions and ratios of `pi` are printed differently.

There is a `1` check to avoid printing `1pi`, but no such thing for `pi/1`.

It is possible for a number to not satisfy the default `eps` tolerance to be found as a ratio of `pi`, but when the equation is flipped it _**is**_ found to be a fraction, and therefore prints out `pi/1` which seems

[2020-02-21 16:56] #3859 closed

[2020-02-21 22:03] chriseclectic opened #3877 "Add ability to add and subtract operators on subsystems"
### What is the expected enhancement?

Add a `qargs` kwarg to `BaseOperator` `add` method so that a smaller operator can be added to larger one assuming identities on other subsystems (same as qargs for compose).

As with issue #3872, also add support so that this can be done using the standard `+` `-` binary operators:

[code]

[2020-02-22 20:47] michelle4654 commented on #3649
That sounds good. In qiskit/tools/jupyter/backend_monitor.py, there's a comment that says #pylint:  disable=import-error.

Does that mean this shouldn't read as an error?

[2020-02-22 22:31] michelle4654 commented on #3649
also this isn't exactly the place to ask about this, but I saw in qiskit/visualization/matplotlib.py, there's a note about removing self.__style.field after deprecation. Should this be made an issue?

[2020-02-24 15:08] kdk commented on #3649
That's right. Pylint will normally raise an error when checking code that tries to import a module that doesn't exist (unless you're doing so within a `try` block). This is a bit of a special case because this code is only loaded by our jupyter magics in `qiskit/tools/jupyter/__init__.py` where there's already a matplotlib and ipython check, so we don't need pylint to run this check here.

[2020-02-24 15:47] Matt-Stypulkoski commented on #3611
I've been looking into this issue a bit, and I had a few questions.
- You mention that `Statevector` and `DensityMatrix` allow non-qubit subsystems. What would be an example of a non-qubit subsystem?
- What is a dit-string? Is this a decimal digit string? For example: '101' being displayed as '3'?
- How would this method work for subsystems? You mention that this method would be very similar to `S

[2020-02-24 19:52] javabster commented on #3805
I'd like to give this one a go :)

[2020-02-24 20:57] EnriqueL8 commented on #3858
@1ucian0 could I try and implement this one? I am new to Qiskit, and this looks like a good first issue!

[2020-02-24 22:09] 1ucian0 commented on #3858
Go for it! Let me know if you need any assistance!

[2020-02-25 09:37] nonhermitian commented on #3793
It is deep copy of a Job, not Qobj:

[code]

[2020-02-25 11:51] Cryoris commented on #3633
Achieved via #3695 🚀

[2020-02-25 11:51] #3633 closed

[2020-02-25 13:55] #3770 closed

[2020-02-25 15:36] taalexander commented on #3678
Closed by #3795

[2020-02-25 15:36] #3678 closed

[2020-02-25 15:37] taalexander commented on #3530
This will be closed by #3750, closing as now a duplicate.

[2020-02-25 15:37] #3530 closed

[2020-02-25 15:56] taalexander commented on #3742
@DanPuzzuoli

The derivative of the zeroed gaussian is the same as the nonzeroed gaussian since it is a constant offset. The amplitude is also being rescaled for the gaussian derivative component properly see https://github.com/Qiskit/qiskit-terra/blob/0e2102057ad0d56eea50de132d69030c603df20a/qiskit/pulse/pulse_lib/continuous.py#L135 and https://github.com/Qiskit/qiskit-terra/blob/0e2102057ad0d56e

[2020-02-25 16:53] taalexander opened #3885 "Pulse visualizations should support ability to provide a matplotlib ax"
### What is the expected enhancement?
The pulse figures should support the ability for an `ax` to be provided on which the figure will be drawn. See [Seaborn](https://seaborn.pydata.org/generated/seaborn.heatmap.html) for an example.

[2020-02-25 18:15] DanPuzzuoli commented on #3742
@taalexander

Yes sorry my bad, I thought I had been very careful before posting the comment, but you are totally correct.

What I meant by the 1, 2, 3 cases has 2 as what is currently being done when `zero_ends == True`: it is enforced that the output gaussian starts and ends at 0, but the derivative can have non-zero starting/ending points.

Case 3 corresponds to what we just discussed in person

[2020-02-26 03:03] taalexander opened #3891 "Rescheduling pass to compress identical pulses into a single pulse instance"
### What is the expected enhancement?
Currently, if a pulse is defined identically multiple times and used in a job it will be stored multiple times in the Qobj and then loaded into device memory for each instance of the pulse. In this case, waveform memory will be used for each pulse. An optimization pass to replace identical instances of a pulse in a pulse schedule would improve the usage of wav

[2020-02-26 14:52] taalexander opened #3892 "Testing of mock backends"
### What is the expected enhancement?
As noted here https://github.com/Qiskit/qiskit-terra/pull/3866#pullrequestreview-363101880, we should have some way of validating that our mock backends are configured in a somewhat correct manner. I propose we create a generic test for our mock backends that looks something like:

1. Creating a new test package in `test.mock`
2. Create a new test module test.

[2020-02-26 16:37] taalexander commented on #3742
Another option would be to add the parameter `B` which would be the offset of a gaussian, this could be 0 by default and then set by the `drag` pulse function to appropriately zero the pulse if desired.

[2020-02-26 16:57] #2753 closed

[2020-02-26 20:20] dennis-liu-1 opened #3895 "plot_range in schedule.draw truncates visualization size when starting point is not 0"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.6
- **Operating system**: Mac

### What is the current behavior?

plot_range behaves as expected for values that start at 0.

<img width="736" alt="Screen Shot 2020-02-26 at 3 14 45 PM" src="https://user-images.githubusercontent.com/54714046/75383664-c457e280-58aa-11ea-832f-33a5084d79f6.png">

However when we don't start

[2020-02-26 20:24] dennis-liu-1 commented on #3895
@nathanearnestnoble

[2020-02-27 03:09] chriseclectic opened #3898 "Aer CI failing due to error in BaseJob documentation."
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**:

### What is the current behavior?

CI test are failing in Aer due sphinx errors in the inherited doc string from `BaseJob` in #3731

Since doc build warnings aren't treated as fatal in Terra this can lead to problems in other repos (like Aer) which have stricter CI checks on documentation. This w

[2020-02-27 06:05] nkanazawa1989 opened #3899 "Pulse assember overwrite pulse from another schedule"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

When we have two different pulses with the same name in different schedules, assembler combines those pulses.

### Steps to reproduce the problem

[code]
this outputs
[code]
you can see two `my_gaussian` pulses with different samples are combined.

### What is the expected

[2020-02-27 11:31] mtreinish commented on #3898
Right, the real fix here is to set -W in the docs builds for terra. Terra just has a ton of warnings right now so it gets lost in the noise. I'm about to push a PR to fix this one instance (just testing it locally), but then I'll try to find some time to fix this in the next couple of days to just force my way through all the terra warnings to prevent this kind of issue in the future

[2020-02-27 14:14] 1ucian0 commented on #2793
I managed to reproduce the issue just to confirm that https://github.com/Qiskit/qiskit-terra/pull/3884 fixes it. Thanks @nonhermitian !

[2020-02-27 14:20] #3898 closed

[2020-02-27 15:52] kdk commented on #3434
Closing as I'm no longer able to replicate this after #3884. Please reopen if you still see the issue.

[2020-02-27 15:52] #3434 closed

[2020-02-27 19:38] #3386 closed

[2020-02-28 04:06] SooluThomas commented on #3311
As a first step to tackle this issue, adding `qubit_channel_map` _(List[List[]] containing qubit, control channel and measure channel info in each inner list)_ to the backend configuration schema seems like an option. I'm open to suggestions for the name - `qubit_channel_map`.

[2020-02-28 14:16] kdk opened #3905 "Relocate mock backends from qiskit.test.mock to qiskit.mock or similar"
### What is the expected enhancement?

From https://github.com/Qiskit/qiskit-terra/pull/3890#issuecomment-591655403 : now that the fake backends are useful beyond testing, they should be moved somewhere more visible and  their usage should be documented.

[2020-02-28 14:34] #3194 closed

[2020-02-28 20:53] nonhermitian opened #3906 "Chained execution of circuit methods in circuit library objects"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior
It looks like sub-classing `QuantumCircuit`, as done in the circuit library, causes jupyter execute to re-execute each circuit method, e.g. cx, cy, again as it thinks it is something new.  This causes the docs builds to be very slow.  For example:
[code]

### Steps to

[2020-02-28 21:54] #3806 closed

[2020-02-29 17:26] javabster commented on #3805
Hi @kdk I've started working on this, so far I have added runtime logs for transpile, assemble and schedule. I'm a bit unsure about what other logs would be appropriate (as I'm still not super experienced with the codebase). Could you please provide a bit more guidance on this, maybe an example or 2? Thanks in advance :)

[2020-03-01 11:49] nonhermitian opened #3907 "Docs no longer build"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The index file in docs is pointing to `apidocs/terra` that does not exist, so the main docs do not get built.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-03-01 12:08] mtreinish commented on #3907
This should be addressed by: https://github.com/Qiskit/qiskit-terra/pull/3902

[2020-03-01 16:56] 1ucian0 opened #3908 "Parameter does not support ufunc à la QASM"
### What is the current behavior?

In order to emulate the following QASM, `Parameter` needs to apply along with trigonometry.
[code]
A possible way, it would be using `sympy`
[code]
but this raises `CircuitError: 'invalid param type cos in instruction u1'`. Other libraries like `math` and `numpy` require a float-castable parameter. Same applies to the rest of the "QASM ufunc".

### Suggested solu

[2020-03-02 15:31] kdk commented on #3805
What you have is great. The other place I would add timing is around job submission (the line `backend.run(qobj, **run_config)` in execute.py).

[2020-03-02 16:17] Cryoris commented on #3863
This should be fixed, @nonhermitian do you mind testing if the issue is resolved for you as well?

[2020-03-03 17:22] kdk commented on #3908
From today's discussion, consensus was that its better for this to look something like
[code]

[2020-03-03 17:54] nonhermitian opened #3920 "backend.configuration.to_dict() gives wrong rep_times"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Doing `backend.configuration().to_dict()` gives backend `rep_times` as `[0]` when the actual values are `[0.001]`.

### Steps to reproduce the problem
Do `backend.configuration().to_dict()` on a pulse-enabled backend.

### What is the expected behavior?

### Suggested solut

[2020-03-03 17:55] #3872 closed

[2020-03-03 18:25] taalexander commented on #3920
This is likely something to do with the internal casting to Si. The schemas then grab the Si value when `to_dict` is called and cast it to an int.

[2020-03-03 22:36] taalexander opened #3923 "InstructionScheduleMap parameters should be ParameterExpressions"
### What is the expected enhancement?
The input parameters into the InstructionScheduleMap should be expected to be `ParameterExpression`s. Types and tests should be updated accordingly. This is a follow on to #3385.

[2020-03-04 00:50] ToJen commented on #3599
Is this still open and what are some suggested modules to look at in order to fix this?

[2020-03-04 00:52] ToJen commented on #3426
Is this still open and what are some suggested modules to look at in order to fix this?

[2020-03-04 07:28] itoko opened #3925 "transpile() hung up when running with multiple circuits and custom pass manager"
### What is the current behavior?
On Mac OS machine, `transpile()` hung up in `parallel_map` when it runs with multiple circuits and custom pass manager.

### Steps to reproduce the problem
[code]
Note: No problem in the single circuit case `transpile(qc, backend=backend, pass_manager=pm)` or when specifying the same preset pass manager via optimization_level `transpile([qc, qc], backend=backend,

[2020-03-04 09:25] nonhermitian commented on #3925
Are you importing matplotlib anywhere when this happens?  That is a known mpl issue.

[2020-03-04 15:36] kdk commented on #3925
I got the following warnings prior to the hang when I tried to replicate this from master with python 3.5 on osx 10.14.
[code]

[2020-03-04 15:58] mtreinish commented on #3925
This looks like it could be related to: https://github.com/Qiskit/qiskit-terra/issues/3808

[2020-03-04 16:19] bjader opened #3929 "Using a numpy integer type as an index for a QuantumRegister fails"
### Information

- **Qiskit Terra version**: 0.11.1
- **Python version**:  3.7.6
- **Operating system**: Ubuntu 18.04.4 LTS

### What is the current behavior?

An error is raised:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Since numpy is used extensively in scientific programming, the type checking should not be as strict.

### Suggested solutions

Cha

[2020-03-04 16:24] mtreinish commented on #3929
@bjader I agree, please feel free to push a PR with your suggested change (probably with a unit test covering passing a numpy int in), it'll be an easy approval :)

[2020-03-04 16:27] chris-n-self commented on #3793
I think it is maybe the backend stored in job that is the issue. I get this same error just from trying to deep copy the backend object.

[2020-03-04 16:28] bjader commented on #3929
Great, I'll get round to it over the next few days! Looking forward to my first PR

[2020-03-04 16:50] nonhermitian commented on #3929
Why not use the Python `numbers` library here?

[2020-03-04 16:52] nonhermitian commented on #3808
This is an issue with Matplotlib that they have said they would fix in version 3.3.

[2020-03-04 16:54] nonhermitian commented on #3925
I think this is a bit different.  It seems that `choose_layout_condition` can simply not be pickled.  The other is the mpl issue that is to be resolved in v3.3

[2020-03-04 16:55] bjader commented on #3929
@nonhermitian In what way? Does the `numbers` library have a common type between python ints and numpy ints?

[2020-03-04 16:57] nonhermitian commented on #3929
Everything should be a numbers.Number

[2020-03-04 17:20] 1ucian0 commented on #3925
callables and parallelization not always play well together. Let me have a look...

[2020-03-05 14:58] 1ucian0 commented on #3929
But floats and complex are also numbers.

I think the approach should be trying casting to int before the type check. My 2 cents.

[2020-03-05 15:07] 1ucian0 commented on #3925
The problem with the pickled callable from @kdk in https://github.com/Qiskit/qiskit-terra/issues/3925#issuecomment-594607628 is because Python 3.5 (do we still support it?) In Python 3.7 the hanging up from @itoko is reproducible.

[2020-03-05 15:11] kdk commented on #3929
`isinstance(foo, numbers.Integral) and 0 <= foo < len(self)` should cover those cases.

Agree, in general, try/catch is more pythonic (and would simplify implementation), but would leave gaps for users who are new to python. e.g. `int(3.5) == 3`.

[2020-03-05 15:47] 1ucian0 commented on #3925
hold on.. sometimes in python 3.7 I'm also getting the unpickleble issue...

[2020-03-05 15:58] #3907 closed

[2020-03-06 11:05] Cryoris commented on #3857
Closed by #3913.

[2020-03-06 11:05] #3857 closed

[2020-03-06 15:16] Cryoris opened #3937 "Transpiler pushes gates behind measurements"
### Information

- **Qiskit Terra version**: 0.13.0
- **Python version**: 3.7.5
- **Operating system**: MacOS Catalina

### What is the current behavior?

If circuits with measurements are run on real hardware they must be the last operation on the wire/qubit. If the measurement is specified as last operation, but no prior global barrier is added the transpiler might move gates behind these measur

[2020-03-07 15:45] eembees commented on #3599
Yes, this is still open @ToJen - It fell a bit out of focus for me, so I don't have anything complete yet. You're very welcome to take this over, if you want to!
I think the modules you should start by looking at are the `qiskit.providers.models.backendconfiguration`, specifically the `PulseHamiltonianSchema` class.

[2020-03-07 15:47] eembees commented on #3742
And then add a flag on whether that should propagate onto the derivative?  Or do you still think we should add a separate set of classes for DRAG pulses? I'm a bit confused on exactly what direction this should go ATM.

[2020-03-08 10:24] ShellyGarion commented on #1195
#3938

[2020-03-09 14:59] 1ucian0 commented on #3937
I think the root of the problem is that `BarrierBeforeFinalMeasurements` should be over all the qubits, not just those with measure. @kdk has more experience here, what do think?

[2020-03-09 15:13] QacoBot opened #3943 "Branch `master` is failing"
Trying to build `master` at commit 1996bc25401d5060e23dbc23f851fd980c8cdaaf failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/296076679

[2020-03-09 16:35] #1566 closed

[2020-03-09 16:50] 1ucian0 opened #3945 "circuit_with_custom_gates.qasm() does not print the definition of the custom gate"
_Originally posted by @1ucian0 in https://github.com/Qiskit/qiskit-terra/pull/3393#issuecomment-592720851_

[2020-03-10 00:37] taalexander commented on #3895
@nkanazawa1989 any ideas?

[2020-03-10 07:50] nkanazawa1989 commented on #3895
This is due to channel aliases. The text position should be updated properly. Please assign me if no one volunteered.

[2020-03-10 14:07] taalexander commented on #3895
Assigned 😄

[2020-03-10 20:27] atilag commented on #3856
I found myself trying to decode what this code really means (`StochasticSwap::run()`):
[code]
.... and I got very confused until Luciano drove me to the real meaning.
I do agree with Luciano, differentiating the physical qubits that we map after applying the layout using a type instead of differentiating via naming, would make things easier to understand.

Code like that could be refactored to:
[c

[2020-03-10 20:45] taalexander opened #3951 "Cache hashes for Pulse objects"
### What is the expected enhancement?
As a follow on to #3940, pulse objects are often hashed for comparison. Instructions/Channels are considered immutable and may also have performance improvements by caching these hashes.

[2020-03-11 14:45] #3899 closed

[2020-03-11 15:14] taalexander commented on #3742
It might look something like
[code]
[code]
I'm not really certain currently. Perhaps we should close this and reopen at a later date when it is no longer a hypothetical problem?

[2020-03-11 15:16] taalexander commented on #3599
Thanks for letting us know @eembees, I've unassigned you and this issue is now open for someone else to take on.

[2020-03-11 20:02] taalexander commented on #3956
You haven't specified where the delay should go
[code]

[2020-03-11 20:02] #3956 closed

[2020-03-11 22:00] 1ucian0 commented on #3864
I find very confusing that
[code]

[2020-03-11 22:17] 1ucian0 opened #3957 "add visualization of open controlled gates [mpl drawer]"
@ewinston says in https://github.com/Qiskit/qiskit-terra/issues/3864:

As a reference https://github.com/Qiskit/qiskit-terra/pull/3867 implements open controlled gates for the text visualizer like this:
[code]
[code]
The current output for `circuit.draw('mpl')` is:
![image](https://user-images.githubusercontent.com/766693/76469326-72dc4700-63c4-11ea-896c-32f28a70d362.png)

[2020-03-11 22:19] 1ucian0 opened #3958 "add visualization of open controlled gates [latex drawer]"
@ewinston says in https://github.com/Qiskit/qiskit-terra/issues/3864:

As a reference https://github.com/Qiskit/qiskit-terra/pull/3867 implements open controlled gates for the text visualizer like this:
[code]
[code]
The current output for `circuit.draw('latex')` is:
![image](https://user-images.githubusercontent.com/766693/76469532-d36b8400-63c4-11ea-8530-c53750daacc0.png)

[2020-03-12 16:36] #3877 closed

[2020-03-13 11:24] quantumjim opened #3967 "Add x and y measurements"
### What is the expected behavior?

Qiskit natively supports z measurements using `measure`, but x and y basis measurements need to be done with a quick hack (reflecting how the hardware works).

However:
* We may want to support hardware that can directly perform these measurements
* It could help in the textbook and other educational materials to be able to talk about these measurements without

[2020-03-13 14:57] 1ucian0 commented on #3726
I thinks this was closed by #3739. Feel free to reopen if I'm mistaken.

[2020-03-13 14:57] #3726 closed

[2020-03-13 15:02] 1ucian0 opened #3968 "ccz drawing inconsistency"
A cz gate is being draw like this:
[code]
[code]

![image](https://user-images.githubusercontent.com/766693/76632131-15a5da00-6519-11ea-8794-55f1b26bdbaa.png)

![image](https://user-images.githubusercontent.com/766693/76632458-a4b2f200-6519-11ea-88a5-db932e93d465.png)

A ccz gate is being draw like this:
[code]
[code]
![image](https://user-images.githubusercontent.com/766693/76632604-d75cea80-6519

[2020-03-13 16:41] 1ucian0 opened #3970 "level 0 and 1 convert CX into U2s, even when not in the basis"
When exploring other unrolling issues I noticed that the following test only fails for levels 0 and 1.

[code]
[code]

[2020-03-13 17:11] kdk commented on #3970
At a guess, what's going on here is that `CXDirection` is inserting Hadamards, which can't be unrolled to U1 gates (only U2 or U3). Levels 2 and 3 are maybe finding a layout where q[2] and q[4] are adjacent.

So there is an issue here in that if the circuit can't be expressed in terms of the requested basis, we should raise an error instead of returning a circuit in the wrong basis.

[2020-03-13 17:39] kdk commented on #3943
This was a travis bug, I think. See #3944 .

[2020-03-13 17:39] #3943 closed

[2020-03-13 18:21] 1ucian0 commented on #3970
Good point. Probably that's the thing going on here. Ill confirm and update
this issue to "error if basis cannot be satisfied" if so.

On Fri, Mar 13, 2020, 1:12 PM Kevin Krsulich <notifications@github.com>
wrote:

[2020-03-13 20:20] 1ucian0 opened #3972 "CXDirection pass should not generate gates outside basis_gates"
@kdk [noticed that](https://github.com/Qiskit/qiskit-terra/issues/3970#issuecomment-598826238) `transpile` might return a circuit that is not in the given basis:

Here an example:
[code]
[code]

[2020-03-13 20:21] 1ucian0 commented on #3970
Closing this in favor of https://github.com/Qiskit/qiskit-terra/issues/3972. Thanks @kdk !

[2020-03-13 20:21] #3970 closed

[2020-03-13 20:23] mtreinish commented on #3972
I wonder if this is something we could fit in under https://github.com/Qiskit/qiskit-terra/pull/3604

[2020-03-13 21:20] 1ucian0 commented on #3972
I think so...

[2020-03-16 07:28] #3864 closed

[2020-03-16 14:16] kdk commented on #3937
Think this was caused I think by a change in stochastic swap, but making `BarrierBeforeFinalMeasurements` across all qubits should fix it, and will correspond more closely to the actual device constraint.

[2020-03-16 22:56] #3895 closed

[2020-03-17 13:25] Hrishik-Shrestha commented on #3958
Hi @ewinston, just checking how this is going. I want to try out this, but wanted to check with you before proceeding!

[2020-03-17 13:35] 1ucian0 commented on #3958
I think you can jump in directly, @Hrishik-Shrestha ! Let me know if you have any question.

[2020-03-17 14:00] #3733 closed

[2020-03-17 14:11] JayantiSingh commented on #3957
Hi @ewinston , I am new to qiskit, but I would like to work on it if you don't mind.

[2020-03-17 16:53] #3467 closed

[2020-03-17 22:57] #3968 closed

[2020-03-18 09:36] eggerdj opened #3988 "Extend SetFrequency in OpenPulse"
### What is the expected enhancement?
The `SetFrequency` in the pulse module allows the user to change the frequency of a channel. The frequency of a pulse may be changed either by setting the frequency of the RF source or the modulation of the AWG (note that not all backends work in such a way). Currently it is up to the backend to decide how to implement `SetFrequency`.

We could expose the dist

[2020-03-18 13:10] taalexander commented on #3988
I think we should avoid extending the semantics of the `SetFrequency` instruction into configuration space. There are two timescales at play here
1. Fast real-time instructions that will be compiled to a hardware ISA
2. Slow pre/post-experiment instructions (configuration) that we want to fix before the execution of the real-time program segment.

I believe setting an RF source solidly falls into

[2020-03-19 00:30] ajavadia opened #3990 "text drawer should capitalize gate names"
The text drawer currently changes gate name capitalizations to capitalize the first letter. I think it should just rely on the gate name and not intervene.

[2020-03-19 00:42] 1ucian0 commented on #3990
The name of `HGate` is "h". Is that fine?

[2020-03-19 02:42] ajavadia commented on #3990
Hm. How about we capitalize all then?
`X, Y, Z, S, T, RX, RY, RZ, RXX, RYY, RZZ, MS, ...`
I think that looks nicer than just the first letter capitalized, and is consistent with the recent class name upgrades (https://github.com/Qiskit/qiskit-terra/pull/3695)

[2020-03-19 11:10] ewinston commented on #3988
It seems like it would be useful for the backend to communicate what instructions it supports and when it supports them. In that context, a `SetFrequency` command could be supported both in the fast and slow specifications to keep the command set simple, however it also may be necessary to have different range limits in both contexts which detracts from that simplicity.

[2020-03-19 14:13] 1ucian0 commented on #3990
so.. all the names in all capital?

I agree that, if there is `label`, it should be as it is.

[2020-03-19 15:03] Cryoris opened #3995 "Filter qubits from the circuit and a mutable circuit width"
### What is the expected behavior?

Add a feature to change the number of qubits after the circuit construction. If the number of qubits increases, add more qubits -- as already possible by adding registers. If the number of qubits decreases remove the bottom qubits and all operations associated with it. This could be generalized to a filter method removing specific qubits from the circuit and ope

[2020-03-19 15:34] eggerdj commented on #3988
@taalexander That is a good point. I am also wondering how this would work out on non-superconducting qubit setups? @ewinston Indeed, having different range limits for different options increases the complexity.

Can we somehow introduce a channel initialization mechanism per schedule? To my understanding we are implicitly assuming in the current implementation that all schedules in a QObj will be

[2020-03-19 19:20] ajavadia commented on #3990
Ok then what if we assign default `label` to all those standard gates?
`RZGate.name = 'rz'` and `RZGate.label = 'RZ'`
and so on...

Witht the understanding that "label" is how i want my gates displayed, and name is what backends (or QASM) expect. Then we can capitalize as we wish. For example I want to display "iSWAP" not ISWAP or iswap or iSwap or ISwap (#3992)

[2020-03-19 19:33] chriseclectic commented on #3990
This will break aer noise models unless you build it using the new labels instead of gate names.

In particular this will break the device noise models which only have the names stored in their backend configuration

[2020-03-19 19:34] ajavadia commented on #3990
ok then nevermind. can we just capitalize everything then in the drawers?

[2020-03-20 05:02] ThePrez opened #3998 "Request to retain networkx implementation"
### What is the expected enhancement?
As I can see documented [here](https://github.com/Qiskit/qiskit-terra/blob/95328adbabfce8826b15fd8bbde773ba0a28d804/releasenotes/notes/retworkx-ccd3019aae7cfb7d.yaml) (and other places), there is a plan to fully replace networkx with retworkx. The `retworkx` package imposes extra platform limitations, as it requires a rust compiler. I am particularly intereste

[2020-03-20 08:39] TharrmashasthaPV opened #4000 "Using more than 2 control qubits in U2Gate and U3Gate raises error"
### Information

- **Qiskit Terra version**: 0.13.0.dev0+e5adc70
- **Python version**: 3.6.9
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

The U2Gate and U3Gate of qiskit.extensions raise error of 'Insufficient number of ancillary qubits' if the number of control qubits exceed 2. Besides, there is no provision to provide ancilla qubits in the gate definitions.

### Steps

[2020-03-20 13:18] 1ucian0 commented on #3998
I think a fallback is a very reasonable strategy.

[2020-03-20 14:06] mtreinish commented on #3998
I honestly disagree with this. Fallbacks as we've seen constantly every time we used them in the past are a constant source of problems. (the simplest example of this is the visualization backends, but there are other examples) When a user files a bug which path got triggered, why did it get triggered, etc. We used to have a lot of those in terra and luckily we've moved to a much more explicit and

[2020-03-20 15:01] mtreinish commented on #1743
@nonhermitian do you think it's worth reviving this with #3916 having merged and dag operations are no longer the limiting factor?

[2020-03-20 15:33] kdk commented on #4000
I'm not able to reproduce this from 0.13.0.dev0+a4120d7 on python 3.5 :
[code]

[2020-03-20 15:36] nonhermitian commented on #1743
From the last timing info you showed it does seem like time to investigate this.

[2020-03-20 15:36] jwoehr commented on #3998
If we do anything to support PASE I'm available to test. @ThePrez and I work together on this.

[2020-03-20 15:46] mtreinish commented on #1743
Ok cool, then I'll reopen this

[2020-03-20 16:28] chriseclectic opened #4001 "Add prelude on quantum_info for 0.13 release notes"
### What is the expected behavior?

This issue is to remind me to write a prelude section for the 0.13 release notes summarizing the new classes and many upgrades in the quantum_info module.

[2020-03-20 16:44] ewinston commented on #4000
I couldn't reproduce this with the same terra version, 0.13.0.dev0+e5adc70, but python 3.7.3. It's a little surprising the error you mention would show up for this code snippet. Can you provide a stack trace?

[2020-03-20 16:46] mtreinish commented on #4001
When you do write something we'll have to make sure to integrate it into the broader prelude for the release. The prelude section of reno is the one piece that doesn't do well to have multiple entries since you can't really have more than one prelude providing a high level description of the same release.

[2020-03-20 17:12] TharrmashasthaPV commented on #4000
Thanks @kdk. Looks like the error I obtained was a result of missing Aqua installation. The error got resolved once I installed Aqua. I think I will close this issue now.

[2020-03-20 17:12] #4000 closed

[2020-03-21 08:35] namandoctor commented on #3720
I got this error:
C:\Users\naman\Anaconda3\envs\qiskit_programming\lib\site-packages\qiskit\visualization\circuit_visualization.py:263: UserWarning: Matplotlib is currently using module://ipykernel.pylab.backend_inline, which is a non-GUI backend, so cannot show the figure.
  image.show()

I am using Atom Editor, so temporarily I was able to solve the problem by installing the hydrogen extension,

[2020-03-22 17:24] javabster commented on #3951
I'd like to give this one a go :)

[2020-03-22 21:06] taalexander commented on #3951
Awesome! I've assigned to you. Please see #3940 for an idea of how to go about this.

[2020-03-23 03:26] ymarathe commented on #3908
I'd like to give this one a go if you don't mind :-)

[2020-03-23 16:45] eggerdj opened #4007 "Plotting pulse schedules crashes"
### Information

- **Qiskit Terra version**:
On branch master: e9079c305d3b3d44b971b496efc59c9b251460f4
- **Python version**:
3.7.3
- **Operating system**:
Linux

### What is the current behavior?
Plotting pulse schedules crashes. `ShiftPhase` has been changed to an instruction and therefore no longer has a `command`. However, the schedule visualization routines still expect instructions to have a

[2020-03-23 21:01] kdk commented on #3720
Hi @namandoctor , this looks like a different issue. Can you raise this on the qiskit slack or stack exchange? (Also, did you run `%matplotlib inline` in this notebook?)

[2020-03-23 21:56] kdk commented on #3908
Hi @ymarathe , that sounds good. Since this is more involved than a typical first contribution, can you write up a short plan of how you'd expect to implement this? That way we can find any questions early in the process.

[2020-03-24 13:07] kdk commented on #3587
Closing from #3942 .

[2020-03-24 13:07] #3587 closed

[2020-03-24 14:19] ljubabu opened #4010 "Gate.control() method rasies the error 'Cannot make controlled gate with id instruction'"
### Information

- **Qiskit Terra version**:
0.12.0
- **Python version**:
Python 3.7.3
- **Operating system**:
WIN10

### What is the current behavior?
Converting circuit into gate using the `QuantumCircuit.to_gate` property, and then applying the `Gate.control` method raises the error 'Cannot make controlled gate with id instruction'. This actually means that you cannot create a control gate if y

[2020-03-24 15:20] Cryoris opened #4011 "Cannot call to_gate() if circuit contains (unitary) Instruction instance"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.5
- **Operating system**: macOS catalina

### What is the current behavior?

If a circuit contains an `Instruction` instance it cannot be converted to a `Gate` even if all instructions are unitary. This is important to also enable e.g. `control()` or `power()` on a circuit, which are currently only supported for `Gate` t

[2020-03-24 18:00] pedrorrivero opened #4012 "Inconsistent coloring in controlled Hadamard"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.6
- **Operating system**: MacOS Catalina 10.15.3

### What is the current behavior?

When drawing  a circuit containing a controlled Hadamard gate (output='mpl'), the coloring it displays is blue for the box and purple for the control line.

### Steps to reproduce the problem

Draw a circuit containing a controlled Hadam

[2020-03-24 18:13] pedrorrivero opened #4013 "MPL drawer displaying pi in decimal format if operated with a parameter"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.6
- **Operating system**: MacOS Catalina 10.15.3

### What is the current behavior?

When drawing a circuit containing a gate such as `qcircuit.u3(theta, eta-pi/2, pi/2, q[0])`, the second variable is displayed as in latex `$\eta-1.5707$` instead of `$\eta-\pi/2$`.

### Steps to reproduce the problem

Plot a circuit cont

[2020-03-24 18:23] pedrorrivero opened #4014 "Add a command for two and three open controlled not gates"
### What is the expected enhancement?

In the lines of #3739 add a command for open CX and CCX gates. This could be called `ocx` for open CX or `ncx` for negated CX.

[2020-03-24 18:39] ewinston commented on #4014
You can currently do this with `XGate().control(1, ctrl_state=0` and XGate().control(2, ctrl_state=0)` using the general interface. The biggest difference I see is perhaps not having to `append` the created gate. Are there other reasons?

[2020-03-24 19:48] pedrorrivero commented on #4014
That is it essentially.

It is purely an enhancement for convenience. They seem to be well used gates to have their own simple commands —even if redundant with more general methods.

[2020-03-24 21:48] 1ucian0 commented on #4013
It seems like a https://github.com/Qiskit/qiskit-terra/pull/3666 needs to get deeper. What to have a look @sumitpuri?

[2020-03-25 02:11] ymarathe commented on #3908
Thanks @kdk.

Sure, here's what I have figured out so far:

- In parameter.py, extend Parameter class with trigonometric ufuncs (cos, sin)
- __init__ function in this class takes Parameter variable (param) as input, and calls super.__init__ () [from the Parameter class] with name "cos(" + param.__str() + ")"
- With this, we will be able to do
`circuit.u1(cos(phi/2), 0)` in the example above
- Upon

[2020-03-25 15:02] #3925 closed

[2020-03-25 15:08] QacoBot opened #4020 "Branch `master` is failing"
Trying to build `master` at commit e3199ed032b6fae9d784edaef0e5162dd5a74c48 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/302633721

[2020-03-25 15:08] QacoBot opened #4021 "Branch `master` is failing"
Trying to build `master` at commit e3199ed032b6fae9d784edaef0e5162dd5a74c48 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/302633720

[2020-03-25 16:25] kdk commented on #4021
The CI's IQX provider had a misconfigured backend.

[2020-03-25 16:25] #4021 closed

[2020-03-25 16:26] kdk commented on #4020
The CI's IQX provider had a misconfigured backend.

[2020-03-25 16:26] #4020 closed

[2020-03-25 16:46] nonhermitian opened #4022 ""M" in measure is cutoff for MPL circuits"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
When using `circuit.measure_all()` the "M" in measure is partially cutoff in the figure when using MPL drawer

<img width="618" alt="Screen Shot 2020-03-25 at 12 44 26 PM" src="https://user-images.githubusercontent.com/1249193/77562612-9d370580-6e96-11ea-947c-d83c79d

[2020-03-25 19:01] #3735 closed

[2020-03-25 19:53] sumitpuri commented on #4013
Sure @1ucian0 is there a bug again?

[2020-03-25 21:33] sumitpuri commented on #4013
@pedrorrivero Can you paste the code and your result.

[2020-03-26 01:02] chriseclectic commented on #3967
You should just be able to define a composite instruction for these. Eg

[code]

[2020-03-26 10:59] nonhermitian opened #4023 "circ.measure_all gives a creg the name "measure" that is a reserved qasm word."
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
`circ.measure_all()` attaches a creg with the name 'measure'.  However this is a reserved keyword in qasm, and causes conflicts

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-03-26 13:12] cognitivecomp commented on #4022
Hi @nonhermitian , I'd like to have a look at this, if possible? It's my first issue. Thanks.

[2020-03-26 21:13] #3906 closed

[2020-03-26 23:53] 1ucian0 opened #4031 "The equality check in ControlledGate is not strong enough"
The equality check in ControlledGate may not be strong enough for this test. For instance it doesn't check that ctrl_state matches (bug) and doesn't check that the definitions match.

_Originally posted by @ewinston in https://github.com/Qiskit/qiskit-terra/pull/4025_

Notice, for example:
[code]
[code]
The expected result is `False`.

[2020-03-27 00:21] 1ucian0 opened #4032 "Some controlled gates unroll to very long circuits when ctrl_state"
#What is the expected enhancement?

Unrolling a controlled gate constructed via `.control` method with the parameter `ctrl_state` might result in very long circuits. Take the following example:
[code]
[code]
Let unroll it:
[code]
[code]

The expected result is the same as when `ctrl_state` is implicit:
[code]
[code]

[2020-03-28 05:15] #3611 closed

[2020-03-28 09:28] frankharkins commented on #3641
Not sure if this falls under the same issue, but the gate created by `.gates_to_uncompute()` also has drawing problems:

<img width="375" alt="Screenshot 2020-03-28 at 09 25 40" src="https://user-images.githubusercontent.com/36071638/77819888-46b80a00-70d6-11ea-9365-8b9972db2807.png">

[code]

[2020-03-28 15:50] javabster commented on #3951
@taalexander I've started working on this but am a bit lost when it comes to testing (am generally not very experienced with python testing or the Pulse codebase). I couldn't find any examples of the initial hashing being tested for any of the pulse files, and I'm struggling to apply the testing examples in #3940 in the context of Pulse objects. Could you please give me an example of how to test t

[2020-03-29 01:23] TharrmashasthaPV commented on #3958
Hi @Hrishik-Shrestha . Any update on the issue?

[2020-03-29 15:07] nonhermitian opened #4039 "Multiple bugs in mct"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
The `mct` gate has several issues:

1) For one or two controls, the function calls `cx` or `ccx` respectively but still requires `q_ancilla` to be set.  This should default to `None`.

2) For more than two controls the inputs are not consistent with the rest of Qiski

[2020-03-29 22:47] #4012 closed

[2020-03-30 10:07] willsimmons1465 opened #4044 "Unrolling `circ.to_instruction()` removes conditions"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.6.10
- **Operating system**: macOS Mojave 10.14.6

### What is the current behavior?

Building a gate definition that incorporates conditional gates, adding to a circuit and transpiling removes the conditions, changing the outcome

### Steps to reproduce the problem

[code]

Output:

[code]

### What is the expected behavi

[2020-03-30 12:34] HTransistor opened #4046 "Draw labels the qubits wrong, when registers are used in QuantumCircuit()"
### Information

- **qiskit-terra 0.12.0**:
- **Python 3.8.2 64-bit**:
- **5.4.28-1-Manjaro**:

### What is the current behavior?
Using Registers in QuantumCircuit(), all qubit labels in the plot done with draw() get the exection number (how many times draw was run) inside the label.
![register_bug_minimal_example](https://user-images.githubusercontent.com/43704364/77912372-ba067b00-7292-11ea-8f19

[2020-03-30 12:37] DanPuzzuoli opened #4047 "Add id field for unique identification of Instructions and PulseLibraryItem in pulse"
### What is the expected enhancement?

As suggested by @lcapelluto : Add some form of generated unique identifier `id` field for `SamplePulse`/`Instruction`/`PulseLibraryItem`/`...` in pulse, so that they can be identified using this instead of the `name` field.

### Purpose

As far as I am aware, the only way to identify a `SamplePulse`/`Instruction`/`PulseLibraryItem`/`...` in pulse is through t

[2020-03-30 12:50] #4031 closed

[2020-03-30 13:17] mtreinish opened #4048 "pygments requirement min version is too old"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.6
- **Operating system**: linux

### What is the current behavior?

When pip installing having pygments 2.3.1 installed which satisfies the requirements set of >=2.2 trying to import `qiskit.compiler.assemble` results in this stack trace:

[code]

### Steps to reproduce the problem

Build an environemnt with pygments 2.3.1

[2020-03-30 13:57] kdk commented on #4046
Hi @HTransistor , this looks like the expected behavior. Both `QuantumRegister ` and `ClassicalRegister` accept a  `size` and an optional `name`. If the name is empty, it will default to `qN` or `cN` where `N` is an increasing integer (so if you re-build a register, the name will change each time).

To get consistent register names, you can use e.g. `qr = QuantumRegister(2, 'q')`. This doesn't pre

[2020-03-30 14:11] mtreinish commented on #4048
Testing locally 2.4 works. I've got a PR in progress bumping the minimum and also making pygments optional since it's a visualization requirement (albeit a text visualization) and we typically do not make that a hard requirement for users.

[2020-03-30 14:45] kdk commented on #4044
This looks like a case of #2784 . In https://github.com/Qiskit/qiskit-terra/blob/4dd47cf/qiskit/transpiler/passes/basis/decompose.py#L66 , `inst.condition` is set correctly, but `apply_operation_back` only respects the `condition` keyword argument.

[2020-03-30 14:47] kdk commented on #2784
@drholmie Sorry for the delay, that sounds like the right plan. (A bug was reported this morning that was caused by this issue, #4044 .)

[2020-03-30 14:56] drholmie commented on #2784
No worries :) I'll also look into the bug and begin working on this. Thanks for getting back @kdk !

[2020-03-30 15:13] kdk commented on #3908
The best place for these would be in the `ParameterExpression` class (though having them as separate functions in the parameter module would also make sense, since that's how we're planning for users to use them ref: https://github.com/Qiskit/qiskit-terra/issues/3908#issuecomment-594068143 ).

Check the `ParameterExpression` class and how it handles the currently supported operations. In short, it

[2020-03-30 16:35] scottkelso commented on #3206
I'd like to work on this if that is ok? :)

[2020-03-30 17:03] TharrmashasthaPV opened #4052 "Error in text drawing of open controlled CX and CCX gates"
### Information

- **Qiskit Terra version**: 0.13.0.dev0+6002304
- **Python version**: 3.7
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

The control bullets are drawn closed irrespective of the provided control state in CX and CCX gates in text drawer. The same error is observed in CY gate. Other controlled and multi-controlled gates are drawn fine. See below for an inst

[2020-03-30 17:31] #3769 closed

[2020-03-30 17:45] kdk opened #4053 "Add transpile option to disable routing"
### What is the expected enhancement?

In some contexts, users want to manually route their circuits. If a circuit is already routed, the default transpile levels will skip running the router, but a) this is not publicly documented and b) if a user makes a mistake in their routing, the routing stage will still run (and the user will likely not immediately notice their error).

#3999 added `routing

[2020-03-30 19:06] #4047 closed

[2020-03-30 19:54] adjs commented on #3083
PR #4036 fix this issue. @ajavadia, I just saw PR #3658 after finishing the fix.

[2020-03-30 20:50] ewinston commented on #4010
I believe this should be resolved by pr #3950.

[2020-03-30 21:17] kdk commented on #3728
In general, yes and you're right that this wouldn't trigger the `params` setter. It is possible to work around this (e.g. what's done with `QuantumCircuit.data` and the `QuantumCircuitData` class in #2838 ), but it's not necessarily trivial.

[2020-03-31 12:52] #3937 closed

[2020-03-31 19:05] #4048 closed

[2020-03-31 22:56] scottwn commented on #3920
PR for this issue https://github.com/Qiskit/qiskit-terra/pull/4059

[2020-04-01 04:18] ajavadia commented on #4053
I gave an example in #3999, which you rightly pointed out won't work.

`transpile(circuit, backend, coupling_map=None)`

Instead, I think the correct way to this is actually:

`transpile(circuit, backend, coupling_map=CouplingMap.from_full(backend.num_qubits+1))`

This means assume all the characteristics of that device, just override its coupling map to be fully connected.

[2020-04-01 11:53] frankharkins commented on #3639
@Cryoris will the multi-qubit toffolis have the behaviour:

`qc.mcrz(math.pi, [0,1,2], 3)`

(take integers as well as / instead of `Qubit` objects)? It would be good to have this to be consistent with the other `QuantumCircuit` methods such as `qc.x(0)`.

[2020-04-01 15:39] kdk commented on #4053
Why `backend.num_qubits+1`? Would this remove our ability to run `CXDirection`, or raise early if a user mis-routes their circuit?

[2020-04-01 15:48] 1ucian0 commented on #4053
I like `routing_method='none'`.

[2020-04-01 17:02] ajavadia commented on #4053
Sorry just meant backend.num_qubits

How does raising early work with routing_method=‘none’? Seems like by choosing that option you are assuming responsibility, and don’t want errors.

[2020-04-01 18:07] kdk commented on #4053
If a user selects routing_method='none', we still have a coupling map so we can still run the equivalent of `CheckMap` as a constraint check or validation pass.

[2020-04-01 20:01] Cryoris commented on #3639
Yes, they will 🙂

[2020-04-02 03:32] willhbang commented on #3728
Oh interesting, so this is a recurring issue in a way. That is, we need to execute additional logic when updating certain properties of a circuit component (or the circuit itself, in the case of QuantumCircuit.data), while maintaining the list interface of that property.
Maybe it's worth generalizing that? E.g. have a new class like `ComponentData` that sits between `QuantumCircuit.data`/`Instruct

[2020-04-02 09:26] Cryoris opened #4063 "Support to_matrix for all gates"
### What is the expected behavior?

At the moment, we can only call `to_matrix` on gates that have the method implemented and the matrix representation hardcoded. However we are able to return the matrix representation for any gate. We even have the functionality for controlled gates implemented in `qiskit.extensions.unitary._compute_control_matrix`. This would also support setting the state of th

[2020-04-02 09:27] Cryoris commented on #3705
This is partially addressed by #4017 but it would probably still be useful for IDE and linter purposes to have type hints and type documentation in the docstring.

[2020-04-02 10:14] hay-k opened #4064 "Improve an error message in qiskit.converters.circuit_to_gate()"
### What is the expected enhancement?

Let's assume we have `QuantumCircuit` object called `qc`, and one tries to convert it into a `Gate` object using `qiskit.converters.circuit_to_gate()`. If `qc` contains some instructions which cannot be converted into `Gate`, the following exception is raised
[code]
My suggestion is to improve this error message and add some info about the particular instruct

[2020-04-02 13:12] ajavadia commented on #4063
This is the same as #3469. We can do it after adding phase to gates/circuits (#3930). Otherwise there will be discrepancy between "definition" and "to_matrix"

[2020-04-02 13:25] Cryoris commented on #4063
True, the matrix representation should be exact. Let's wait for the global phase PR, then 👍

[2020-04-02 13:44] hay-k opened #4066 "Exception in draw() when drawing appended circuits with both quantum and classical bits"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.4
- **Operating system**: Windows 10

### What is the current behavior?

Let's take a look at two `QuantumCircuit` objects `qc1` and `qc2`, such that both of them have quantum and classical registers. If we append `qc2` to `qc1` and afterwards try to draw `qc1` in `output=text` mode, the following exception may occur
[co

[2020-04-02 13:44] hay-k commented on #4066
I have already examined the source code, and can fix this, and create a pull request.

[2020-04-02 14:37] bjader opened #4067 "Binding parameterised circuit a second time remembers previous bound values"
### Information

- **Qiskit Terra version**: 0.12.0
- **Python version**: 3.7.7
- **Operating system**: macOS Mojave 10.14.6

### What is the current behavior?

Suppose we have a circuit made up of two sub-circuits, one of which contains parameterised gates. To be efficient, we want to reuse this general circuit many times with differently bound parameters. The first time, there are no problems. T

[2020-04-02 15:17] kdk commented on #4067
Hi @bjader, thanks for reporting this! This is indeed a bug, and you rightly identified that the deepcopy we preform during `bind_parameters` was missing some state, resulting in errors on subsequent bindings. Transpiling prior to binding is one workaround, but there is an additional fix for this issue on the master branch (by I think a combination of #3729 and #3874) which will be included in the

[2020-04-02 15:17] #4067 closed

[2020-04-02 22:28] #3750 closed

[2020-04-03 15:29] taalexander opened #4073 "Rename ConstantPulse to Square or Constant"
### What is the expected enhancement?
All other pulses in `parametric_pulses` do not include the terminator word `Pulse` but `ConstantPulse` does.

[2020-04-03 15:31] taalexander opened #4074 "Pulse, ParametricPulse and SamplePulse types should not live in pulse_lib"
### What is the expected enhancement?
These are all types within our IR and should not live within an implementation library (they currently are in `pulse_lib`). They probably should live in a module `qiskit.pulse.types`

[2020-04-03 23:26] SooluThomas commented on #3460
Fixed in #3902

[2020-04-03 23:26] #3460 closed

[2020-04-04 03:15] enavarro51 commented on #4064
@hay-k and @kdk, I'm new to qiskit and would like to give this a try.

[2020-04-04 04:58] nkanazawa1989 opened #4078 "pulse delay instruction cause error when np.int is given"
### What is the expected enhancement?

T1 experiment for example:
[code]

This program will cause an error:
[code]

np.int should be allowed for the `duration` of Delay instruction.

[2020-04-04 15:18] enavarro51 commented on #4064
@hay-k. I got a different error from the code snippet above. 'Circuit with classical bits cannot be converted to gate.' This is trapped above the other one and is because there's a cbit. I used qc.barrier() and that caught the error you had. My plan is to just add the name of the first instruction that fails and let the user iteratively fix things if there are multiple such instructions.
Something

[2020-04-04 16:38] hay-k commented on #4064
@enavarro51 yes it sounds good. It is basically what I had in mind mind!

[2020-04-04 18:09] taalexander commented on #4078
This is a bug introduced by #3750 and the accompanying support for backward compatibility.

[2020-04-04 23:15] #4023 closed

[2020-04-05 23:53] enavarro51 commented on #4078
@taalexander Is this as simple as casting `duration` in `class Delay` to an int, or are there deeper ramifications? If it's not too deep, I can take this on.

[2020-04-06 14:06] taalexander commented on #4078
Other than adding a test to go along with your fix, I think its that simple 😄 .

[2020-04-06 14:57] taalexander commented on #3951
Hello @javabster, looks like you're off to a great start. If you could create a WIP (or draft) PR it will make taking a look and recommending an approach easier. For testing of hashes, I would simply verify that if you create two objects they are equal and that the hashing approach works for pulse objects that inherit from the base object.

[2020-04-06 14:59] taalexander opened #4084 "Merge pulse instructions package into a single module"
### What is the expected enhancement?
The `pulse.instructions` is current a package, with a module for every instruction. It would make the codebase simpler if there was a single module `pulse/instructions.py` for all instructions.

[2020-04-06 15:06] enavarro51 commented on #4078
One thing is that this would convert 3.5 to 3. Don't know if that's acceptable or not. The test for isinstance takes place in Instruction. I noticed that in the module Command that it imports numpy and uses isinstance(duration, (int, np.integer)). Is it acceptable to import numpy into Instruction and use this form of isinstance? Seems cleaner and more consistent to me.

[2020-04-06 15:19] taalexander commented on #4078
This seems fine to me.

[2020-04-06 15:33] enavarro51 commented on #4078
Thanks. Then I'm on it.

[2020-04-06 17:00] #4064 closed

[2020-04-06 17:30] QacoBot opened #4089 "Branch `master` is failing"
Trying to build `master` at commit 2545db162b2e764567c46b748d824d01c69327b1 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/315437977

[2020-04-06 17:30] QacoBot opened #4090 "Branch `master` is failing"
Trying to build `master` at commit 2545db162b2e764567c46b748d824d01c69327b1 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/315437976

[2020-04-06 17:40] QacoBot opened #4092 "Branch `master` is failing"
Trying to build `master` at commit 2545db162b2e764567c46b748d824d01c69327b1 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/315437976

[2020-04-06 18:23] QacoBot opened #4093 "Branch `master` is failing"
Trying to build `master` at commit 2545db162b2e764567c46b748d824d01c69327b1 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/315437976

[2020-04-06 18:57] #4078 closed

[2020-04-06 19:57] javabster commented on #3951
Just opened a draft pull request: https://github.com/Qiskit/qiskit-terra/pull/4091

[2020-04-07 02:41] ajavadia opened #4094 "StochasticSwap pass does not get strictly better with increased trials"
@mtreinish reported a case where increasing the number of trials in the StochasticSwap pass resulted in longer circuits. This should not happen with a fixed seed, because the trials should just pick the best one. Unless there is something going on with how individual layers get better with increased trials, but those layer choices combine to make the overall circuit worse. I would like to understa

[2020-04-07 10:49] mtreinish commented on #4094
I meant to open an issue about this, thanks for doing it. The two cases where this happens are in QV benchmarks (there might be other cases but that was the most obvious). With a 50x20 model circuit and a level 1 transpile the depth increased on the commit changing the number of trials from 20 to 50: https://qiskit.github.io/qiskit/#transpiler_levels.TranspilerLevelBenchmarks.track_depth_quantum_v

[2020-04-07 11:06] nonhermitian commented on #4094
It would also be good to get an aggregate view of this on multiple instances to see if the statement is true on average.

[2020-04-07 11:08] mtreinish commented on #4094
My only thought here besides a bug in stochastic swap is that the depth measurements in those benchmarks are not isolated to stochastic swap, it's a full transpile with the preset pass managers. Maybe the stochastic swap output is finding a case slightly more efficient but it moves things around in a way that later optimizations in the pipeline aren't able to improve things as much.  I'm gonna try

[2020-04-07 12:22] cognitivecomp commented on #4022
@nonhermitian @maddy-tod  Given this other PR which changed "measure" to "meas", I think we can close this issue and associated PR as there is enough horizontal space again. What do you think? It might still be worth thinking about the horizontal spacing and if/how we want to tweak it, as I described in this PR: https://github.com/Qiskit/qiskit-terra/pull/4087

[2020-04-07 12:23] mtreinish commented on #4094
I just ran a  sweep of 100x 50x20 quantum volume model circuits (without a seed set) with the level 1 transpiler and stochastic swap at 20 and 50 trials. It was pretty evenly split 48 of the circuits had a smaller depth with 20 trials and 52 of the circuits had a smaller depth with 50 trials.

The script I ran is:

[code]
I also had to modify the `PassManagerConfig` class and `level_1_pass_manager

[2020-04-07 13:03] mtreinish commented on #4094
I also just reran that script but replaced `build_model_circuit(50, 20)` with `qiskit.circuit.random.random_circuit(53, 10, 3, True, True, seed=seed)` and got: `{'20_trials': 39, '50_trials': 61, 'equal': 0}` for the shorter depth from running it 100 times. It's definitely not isolated to just QV.

[2020-04-07 13:13] kdk commented on #4094
Can you try with a passmanager like:
[code]
Also, do you have an idea of the size of the differences (maybe a quick histogram)?

[2020-04-07 13:14] #4089 closed

[2020-04-07 13:14] #4090 closed

[2020-04-07 13:14] #4092 closed

[2020-04-07 13:15] kdk commented on #4093
API outage for network tests.

[2020-04-07 13:15] #4093 closed

[2020-04-07 13:38] mtreinish commented on #4094
@kdk Running with that pass manager with trials set to 20 and 50 instead of the full level 1 yielded: `{'20_trials': 50, '50_trials': 48, 'equal': 2}`

As for the size differences I'll modify the script to build some graphs. But looking at bits of the output they're no consistent trend. Some are really close like within 1 or 2 other times they can vary by much larger numbers like in the most recen

[2020-04-07 13:53] nonhermitian commented on #4094
It could be a bug, but I am wondering if greedy optimization by layer, what is currently being done, does not correlate well with global circuit swap optimization.

[2020-04-07 23:02] jaygambetta commented on #2319
@1ucian0 this is fixed now and should be closed but we do need to make a new issue for the other drawers

[2020-04-07 23:02] #2319 closed

[2020-04-07 23:08] jaygambetta opened #4104 "Fix text and latex drawer to remove |0>"
### What is the expected enhancement?
Follow on from #2319 the output of

`circuit.draw(output="text")`

and

`circuit.draw(output="latex")`

still sets the input to the qubit to the zero state for both latex and text drawer.

[code]

[code]

<img width="250" alt="Screen Shot 2020-04-07 at 7 09 36 PM" src="https://user-images.githubusercontent.com/15731369/78727684-553ac880-7903-11ea-9313-d5ce8b59

[2020-04-07 23:29] 1ucian0 commented on #4104
I think this was fixed in errorhttps://
github.com/Qiskit/qiskit-terra/pull/4068

On Tue, Apr 7, 2020, 7:08 PM Jay Gambetta <notifications@github.com> wrote:

[2020-04-07 23:31] jaygambetta commented on #4104
great - in my version i did not see.

[2020-04-07 23:31] #4104 closed

[2020-04-08 00:02] jaygambetta opened #4105 "Qiskit Services API"
With the introduction of more IQX services, such as transpiler-as-a-service, we are moving towards a model where there are local and remote executions of the same task (e.g. simulation, transpilation), and additionally remote executions can be low- or high- latency (e.g. simulator vs. device run).

In order to make it easy for users to switch between different types of executions, we would like to

[2020-04-08 00:04] jaygambetta commented on #1057
closing with #4105

[2020-04-08 00:04] #1057 closed

[2020-04-08 00:05] jaygambetta commented on #1632
closing with #4105 and circuits being the more default object now

[2020-04-08 00:05] #1632 closed

[2020-04-08 00:06] jaygambetta commented on #1631
removing with #4105

[2020-04-08 00:06] #1631 closed

[2020-04-08 00:39] jaygambetta opened #4106 "Gates clean up (Remove U1, U2, and U3)"
### What is the expected enhancement?

Now that we have the transpiler working there is no need to have a confusing set of gate.
1. U1  should be removed (as we have rz(theta)) or renamed p(theta) or phase(theta).

The motivation for the keeping is p.control() is different to rz.control()

2. U2 should be removed. There is no need we have this gate now the transpiler working. This really needs to

[2020-04-08 00:41] mtreinish commented on #4105
This proposal has a lot of overlap with what we've been working on in Qiskit/rfcs#2 which is the current working proposal (I've been meaning to update it for a couple of weeks now) for reworking the interface between terra and providers. I think we should move the discussion there so we're all on the same page for the new interface.

[2020-04-08 01:59] jaygambetta commented on #4105
I'm ok but can you edit your rfc and then let me know as it does not go far enough yet (as well as name). I want the terra interface to be more like this for the extra services being made.

[2020-04-08 03:08] enavarro51 commented on #3957
@1ucian0, I played around with this a bit and think I know how to make the changes. I'm not sure if @JayantiSingh is still interested, but if not, I can take it on.

[2020-04-08 03:24] 1ucian0 commented on #3957
Let's give Jayanti Singh <https://github.com/JayantiSingh> two or three
days for a ping. If silence, go ahead!

On Tue, Apr 7, 2020, 11:08 PM enavarro51 <notifications@github.com> wrote:

[2020-04-08 03:31] nkanazawa1989 opened #4107 "Pulse schedule utils use old pulse syntax"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
`pad` module still use old syntax for delay and cause deprecation warning.
https://github.com/Qiskit/qiskit-terra/blob/4eeb7da5adc3ff0e04ef5d143ee11724f93d790f/qiskit/pulse/reschedule.py#L170-L172

### Steps to reproduce the problem

### What is the expected behavior?

###

[2020-04-08 04:44] nkanazawa1989 opened #4108 "Add metadata for assembled pulse"
### What is the expected enhancement?
In the latest master the pulse library qobj is generated with the hash of pulse samples instead of conventional pulse `name`. I like this change because we can use tex syntax for pulse name, which will be nicely shown in the visualizer.

However, once job fails and want to investigate the qobj, it is almost impossible to find my pulse because the name is now o

[2020-04-08 14:17] enavarro51 commented on #4074
@taalexander Just to clarify.
- pulse_lib should remain, but would just contain the sampler subdir and continuous.py and discrete.py
- parametric_pulses.py, pulse.py, and sample_pulse.py would move to a new dir, pulse/types
- Any imports of those 3 modules in the code would have to be updated
- I don't see the need for any new tests, just updating the imports in the test files
- Are there document

[2020-04-08 15:35] ajavadia opened #4109 "pulse namespaces"
the namespace `pulse.pulse_lib.pulse` is a bit confusing and if you're not careful, you might collide the outer pulse with inner pulse. is there a better name for that inner one?

[2020-04-08 15:47] taalexander commented on #4109
Closed as duplicate of #4074.

[2020-04-08 15:47] #4109 closed

[2020-04-08 15:50] taalexander commented on #4108
One option would be to enforce that pulses have a unique name at inception.

[2020-04-08 21:03] taalexander commented on #4074
👍

Any imports of those 3 modules in the code would have to be updated

Just the classes `ParametricPulse`, `Pulse` and `SamplePulse` would have to move and should live in a new module `types`. The implementations could continue to live in `pulse_lib`.

👍

I think we should add a reno noting they have been moved. Please look at the documentation in `pulse_lib` to see if there are any links to thes

[2020-04-08 22:43] #2762 closed

[2020-04-09 00:56] #2171 closed

[2020-04-09 12:38] qanto commented on #4073
could I try to help you with this issue?

[2020-04-09 13:19] eggerdj commented on #3637
I have been running into QiskitError: 'TwoQubitWeylDecomposition: failed to diagonalize M2 quite often when running a QAOA type application. What do we need to do to fix this?

[2020-04-09 13:36] enavarro51 commented on #4074
Ok, so instead of a types dir, there would be a new types module in pulse that would now contain the 3 classes.
When you say the implementations could stay in pulse_lib, are you saying that for example, the class Gaussian and others would stay in parametric_pulses.py in pulse_lib. But pulse.py and sample_pulse.py would go away since they only contain the base classes?
If there's agreement on struc

[2020-04-09 14:16] enavarro51 commented on #4074
One other thing - when I looked at the docs for ParametricPulse and clicked on the Source link, at the top it showed it in pulse.commands.parametric_pulses.py. There is still a file in commands and also a sample_pulse.py, both which have deprecation warnings. Should these be removed now, and are you suggesting we leave the 3 source files in pulse_lib with these style deprecation warnings?

[2020-04-09 14:33] mtreinish commented on #4001
This has been handled by: https://github.com/Qiskit/qiskit-terra/pull/4057 so going to mark this as closed

[2020-04-09 14:33] #4001 closed

[2020-04-09 14:33] #2162 closed

[2020-04-09 14:59] kdk opened #4116 "HamiltonianGate drawing and qasm support"
### What is the expected enhancement?

Follow on to #4071:
- Support for drawing HamiltonianGate without displaying the full matrix parameter
- Support for outputting HamiltonianGate to valid QASM

Both of these can follow the approaches taken for UnitaryGate.

[2020-04-09 16:25] taalexander commented on #4073
Hello @qanto, @IceKhan13 has already submitted a PR for this #4077 and I had forgotten to assign this. If you would like to contribute please take a look at other open issues labelled with "good first issue" or feel free to ask me to provide some suggestions 😄.

[2020-04-09 16:31] taalexander commented on #4074
If there's agreement on structure, I can get started on this and then dig into the docs to see what changes are needed there.

I think ignore what I said. The user-facing import is still in `qiskit.pulse` so we shouldn't have to be worried about gracefully deprecating changing the locations of these classes in the internal namespace of qiskit.pulse.

[2020-04-09 16:31] taalexander commented on #4074
Yes I think we can remove these after the release of 0.13 which is happening today.

[2020-04-09 18:57] enavarro51 commented on #4074
Ok. Then to summarize,
- Create a new file, types.py in pulse and place the 3 classes in it.
- Delete sample_pulse.py and pulse.py from pulse_lib.
- Remove ParametricPulse from parametric_pulses.py, but leave Gaussian and all the other classes.
- Find all the places these 3 classes are imported and change the imports to the new location.
- Remove from the command directory, parametric_pulses.py an

[2020-04-09 23:53] ajavadia commented on #1299
this is pretty much done

[2020-04-09 23:53] #1299 closed

[2020-04-10 00:08] ajavadia commented on #2091
this is done

[2020-04-10 00:08] #2091 closed

[2020-04-10 00:09] ajavadia commented on #1729
closing as covered by #3800

[2020-04-10 00:09] #1729 closed

[2020-04-10 00:14] ajavadia commented on #2921
@mtreinish do we still need this? or is it covered by travis?

[2020-04-10 01:41] lcapelluto commented on #4007
fixed

[2020-04-10 01:41] #4007 closed

[2020-04-10 01:41] lcapelluto commented on #3609
can be closed

[2020-04-10 01:41] #3609 closed

[2020-04-10 02:13] lcapelluto opened #4120 "`exclude` and `filter` probably shouldn't rename my Schedule"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

If I use the `exclude` or `filter` methods on a schedule, it modifies the name. This doesn't follow the behavior we've selected elsewhere, such as scheduling a circuit should keep the same name, or rescheduling a schedule should keep the same name, or appending, inserting

[2020-04-10 15:32] enavarro51 commented on #4074
A few more things.
- I noticed there's a channels dir that has no source files, but does have files in its __pychache__. Does this have a purpose?
- I also found a pulse tutorial that imports SamplePulse, which I assume would need a change.
- In looking at the __init__.py for pulse dir, only certain classes and functions are imported. Is there a rationale for what imports are included in that __in

[2020-04-10 15:33] enavarro51 commented on #3957
Haven't heard any pinging. Shall I proceed?

[2020-04-10 19:25] 1ucian0 commented on #3957
Sure! Let me know if you need any pointers!

On Fri, Apr 10, 2020, 11:33 AM Edwin Navarro <notifications@github.com>
wrote: