[2020-04-10 21:14] enavarro51 commented on #3957
Thanks, Luciano. I'd already started working on it, and this is what I have done. Given this code,
[code]
![image](https://user-images.githubusercontent.com/16268251/79022726-784bbf00-7b33-11ea-8c49-6546a67478c4.png)
Is this what you are looking for? I also have a couple of questions.
- Most of this was pretty straightforward, but the layer_width for these ControlledGates was not working correctly

[2020-04-10 22:36] mtreinish opened #4126 "TestRandomClifford tests fail periodically in CI"
### Information

- **Qiskit Terra version**: Master
- **Python version**: any
- **Operating system**:

### What is the current behavior?

Periodically we're seeing the TestRandomClifford tests fail in CI. For example:

[code]

https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=11465&view=logs&j=fad9ef03-8420-5838-ffca-3d1ed444ccc0&t=d9e59364-d4fc-590a-5492-b5319aadd598&l=4274

###

[2020-04-10 22:49] #3958 closed

[2020-04-11 05:35] nkanazawa1989 opened #4127 "Update pulse drawer to be more user friendly"
### What is the expected enhancement?
Currently pulse drawer outputs channels in the order of _qubit_ index [d0, c0, m0, a0, d1, c1, m1, a1, ...], however, the control channel index and qubit index doesn't need to be identical. This may confuse users. The order should be [ (drive channels) d0, d1, ...], [(control channels) c0, c1, ...], [(measure channels) m0, m1, ...], [(acquire channels) a0, a1,

[2020-04-11 11:50] akshat-suwalka commented on #4048
2 days before I just do:
pip install qiskit
import qiskit
in my colab
and it works well!
But now from 2 days it is always showing me AssertionError: wrong color format 'ansibrightred'

Please help me!

[2020-04-12 00:49] nonhermitian opened #4132 "Need to remove max_credits"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The credit system has not been used for several months now so `max_credits` should be removed from `execute`, `QasmQobjConfig`, `PulseQobjConfig`, `RunConfig`, `QobjConfigSchema`, and `FakeQobj`

### Steps to reproduce the problem

### What is the expected behavior?

[2020-04-12 00:56] nonhermitian opened #4133 "U3 extension docs list U2"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
https://github.com/Qiskit/qiskit-terra/blob/3b3536bcdb83124d49723dd205573f169c82ea9c/qiskit/extensions/standard/u3.py#L34

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-04-12 05:15] ramyasuresh123456 commented on #3599
Is this still open? I can take it on if so.

[2020-04-12 14:55] drholmie commented on #4044
Thanks @kdk for pointing this out! Resolving #2784 does fix this issue, and the circuits match! Opened a PR for it :)

[2020-04-12 15:31] enavarro51 commented on #4052
@TharrmashasthaPV. I worked on #3957 for a similar problem for the mpl drawer. I mostly followed the code from the text drawer, and now realize the mpl I submitted has this problem as well. I made a minor change to the mpl and now get
![image](https://user-images.githubusercontent.com/16268251/79072389-a0533380-7c95-11ea-9cfc-1c4dd4e42720.png)
I'm going to go ahead and submit this change for #3957

[2020-04-12 16:00] TharrmashasthaPV commented on #4052
@enavarro51 Yeah, sure. Please go ahead.

[2020-04-12 19:08] jul1u5 commented on #4048
Solved by running `pip install qiskit-terra[visualization]` and restarting the runtime.

[2020-04-12 20:30] jwoehr commented on #2616
Is the appveyor code somewhere in the public part of the tree?

[2020-04-12 21:31] atilag commented on #4105
There are many proposals here, but I'm going to focus only on two of them: `async/sync` and `Result`.

### Async / Sync
 Async interfaces are becoming an standard in almost every interface design which has
some significant computational tasks. I'd say that this is the majority of our use
cases, but it's true that there are experiments run locally that can be pretty fast
and a simpler design is des

[2020-04-12 22:21] nonhermitian commented on #4105
Actually, the `Result` class is fairly pointless.  The use case is always `job.result()`.  So the result just needs to be part of the job, not the other way around.

[2020-04-13 03:42] akshat-suwalka commented on #4048
Thank you so much @jul1u5 .
Its working!

[2020-04-13 03:49] akshat-suwalka commented on #4048
@jul1u5
![Annotation 2020-04-13 034732](https://user-images.githubusercontent.com/35618437/79090611-dfea5000-7d67-11ea-8ffb-1b218232d41f.jpg)
![Annotation 2020-04-13 034842](https://user-images.githubusercontent.com/35618437/79090619-e5e03100-7d67-11ea-99fc-4db7add12d5b.jpg)

Please have a look!

[2020-04-13 06:47] TharrmashasthaPV opened #4138 "Error while implementing RZGate with single open control"
### Information

- **Qiskit Terra version**: 0.14.0.dev0+09240bb
- **Python version**: 3.6
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Receiving CircuitError: "Register size must be positive (int '0' was provided)" error while trying to append RZGate to a quantum circuit with a single open control.

### Steps to reproduce the problem

[code]

### What is the expected b

[2020-04-13 06:49] TharrmashasthaPV commented on #4138
The Traceback is as below:

[code]

[2020-04-13 11:15] jul1u5 commented on #4048
Sorry, I have just started learning Qiskit and Quantum Computing. You should post an issue in the repo with which you are having problems (probably qml-mooc).

As far as I can tell the notebook can't find an executable called qvm. Perhaps you didn't install it.

[2020-04-13 15:04] lcapelluto commented on #3752
Fixed by https://github.com/Qiskit/qiskit-terra/pull/4122

[2020-04-13 15:04] #3752 closed

[2020-04-13 15:42] jaygambetta commented on #4105
I am ok with the results (or job) but it needs to be a class per service and sub-service (simulator vs real backend)

[2020-04-13 15:43] 1ucian0 commented on #3637
Another example. Consider this minimal example:
[code]
[code]
The passes should not fail.
[code]
[code]
I think having a fallback for `ConsolidateBlocks`  when `TwoQubitWeylDecomposition` raises is a good starting.

[2020-04-13 15:45] 1ucian0 commented on #3637
because affects the default level 3, `priority: high`

[2020-04-13 15:54] nonhermitian commented on #3637
Does mapping those phase values to be within 2pi work?  I am guessing that is the issue.

[2020-04-13 16:19] vvilpas opened #4139 "Provide `@property` style class attributes `atol` and `rtol` for Operators and States"
### What is the expected enhancement?

When using BaseOperator or QuantumState derived classes, you can read `atol` and `rtol` values using those names in an instance of a class, but not in the class:
[code]
To set these values you need to call `set_atol` or `set_rtol` class methods. It can be misleading and it is easy to mistakenly do `ScalarOp.atol = 3e-4` or `so.atol = 3e-4`, which will create

[2020-04-13 16:20] 1ucian0 commented on #3637
Yeap.. I'm having the same guess. That's what I meant with "lack of normalization"...

This works:
[code]

[2020-04-13 16:39] ewinston commented on #4138
This will be resolved by #4076.

[2020-04-13 16:48] nonhermitian commented on #3637
Yeah. But since all phases can be mapped to within 2pi, or -pi to pi if so desired, this should be done internally anyway.

[2020-04-13 17:40] nonhermitian opened #4144 "U1 gets decomposed into U3"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
U1 gates are decomposed into U3:

[code]
gives

[code]

This is an issue because U1 is free whereas U3 is not.

It seems that U1 is being mapping to U3 here: https://github.com/Qiskit/qiskit-terra/blob/09240bb25b8117474b0d15467093126ac8115814/qiskit/extensions/standa

[2020-04-13 17:48] ajavadia commented on #4144
what is your intention with `decompose()` here? this is how all gates are defined currently - they all build from U3 and CX as their base. This is due to openqasm's hierarchy, and so all gates fundamentally translate to that universal gate set. `decompose()` should not be treated as an optimizer.
For optimization you should use `transpile()`, and say that your backend supports u1 so that the trans

[2020-04-13 17:55] nonhermitian commented on #4144
ok, I guess it is my misunderstanding.

[2020-04-13 17:55] #4144 closed

[2020-04-13 20:49] kdk commented on #2645
Aer raises here because after transpilation and assembly, the compiled qobj has 53 qubits (50 of which are idle):

[code]

[2020-04-13 22:12] chriseclectic opened #4146 "PR #3185 causes CI failure on other Qiskit elements."
### Information

- **Qiskit Terra version**:
- **Python version**: 3.5
- **Operating system**:

### What is the current behavior?

PR #3185 has broken CI in other qiskit elements for Python 3.5. It fails with import error for z3 package.

### Steps to reproduce the problem

Make a PR to any other qiskit repos

### What is the expected behavior?

Other repos can run their tests

### Suggested solut

[2020-04-13 23:48] #4120 closed

[2020-04-14 03:07] jaygambetta opened #4148 "Circuit marplot lib register and measurement on-top of each other"
### What is the expected enhancement?
If the circuit goes over two frames the second frame if it is a measurement the register and the value are on top of each other -- see figure.

![image](https://user-images.githubusercontent.com/15731369/79181843-58d6bf80-7ddb-11ea-934e-9f4cea88aaa2.png)

[2020-04-14 03:20] jaygambetta opened #4149 "Need to work out a measurement all symbol in the draw methods or get smarter."
### What is the expected enhancement?

For these larger circuits see #4148 we need to have a simplified output. I would suggest if we get rid of the double line from the measurement and put the classical register number below the measurement box or in it and then on the classical register implement a black dot or arrow
to say that that a measurement has been assigned to this bit (or register). See

[2020-04-14 09:17] Cryoris commented on #4039
With the recent merge of #4082 two of your points have been addressed, namely `q_ancilla` defaults to none and one can use integers as indices. However there's still no check on the ancilla input, if no ancilla is required (if one is required, checks are implicitly done on appending the gate). I'll open a PR to fix this.

[2020-04-14 12:59] kdk commented on #4146
Closed by #4143 .

[2020-04-14 12:59] #4146 closed

[2020-04-14 13:59] frankharkins opened #4151 "Runtime error with complex numpy arrays and Aer simulators"
### Information

- **Qiskit Terra version**: 18.0
- **Python version**: 3.7.6
- **Operating system**: OSX Catalina

### What is the current behavior?
When executing a quantum circuit with an initialize gate, if the gate is given a complex numpy array, python crashes upon calling result().

### Steps to reproduce the problem

[code]
Outputs:

[code]
Replacing Aer with BasicAer fixes this.

### What

[2020-04-14 17:04] TharrmashasthaPV commented on #4133
A similar error also in matrix representation of U2.

https://github.com/Qiskit/qiskit-terra/blob/3b3536bcdb83124d49723dd205573f169c82ea9c/qiskit/extensions/standard/u2.py#L48

It should be -e^{i\lambda} instead of e^{-i\lambda}.

[2020-04-14 19:24] sportwagon opened #4155 "Upgrading from qiskit 0.16 to 0.18 causes pygments issue"
### Information

- **Qiskit Terra version**: 0.12 to 0.13 upgrade
- **Python version**: 3.6.3.
- **Operating system**: Windows Ubuntu shell

### What is the current behavior?
When upgrading qiskit with `pip install --upgrade qiskit` from qiskit 0.16 to 0.18 the new
installation failed with the same problem as documented in #4048 and listed as closed two
weeks ago.  Following the instructions that

[2020-04-14 20:35] #4151 closed

[2020-04-14 20:41] sportwagon opened #4158 "Add measure_all(..., new_creg=False) to avoid creating new clbits in the circuit"
### Information

- **Qiskit Terra version**: 0.13
- **Python version**: 3.6.3
- **Operating system**: Windows Ubuntu shell

### What is the current behavior?
If you use `measure_all` rather than `measure` the count values returned by `get_counts` have
extra data in the key values. This seems to be directly related to `measure_all` inserting a
barrier before the measurement, as this is the only dif

[2020-04-14 20:59] 1ucian0 opened #4159 "TwoQubitWeylDecomposition: failed to diagonalize M2"
This issue accumulates `TwoQubitWeylDecomposition: failed to diagonalize M2` errors found by users .

To reproduce:
[code]

[2020-04-14 21:02] 1ucian0 commented on #4159
[code]

[2020-04-14 23:51] enavarro51 commented on #4052
@TharrmashasthaPV I started working on this and the change you mentioned is pretty straightforward, but in the process, I discovered a bug in the ctrl_state code and finally tracked it down today, but haven't finalized a solution yet. The failure is for this gate
`ct.append(XGate().control(3, ctrl_state='101'), [qr[0], qr[3], qr[1], qr[2]])`
which returns
q_0: ──■──
       │
q_1: ──o──
     ┌─┴─┐

[2020-04-15 00:21] taalexander commented on #4074
-

Yes this sounds excellent 😄

[2020-04-15 00:23] taalexander commented on #4074
This package has since been condensed into a single module, the `__pycache__` in your repository is likely just a remnant of this.

If this import is from `pulse_lib` this should be changed as well.

What was included here was what has been intended to be exposed to users at the top-level of `pulse` for common use.

No, thank you 😄.

[2020-04-15 00:30] taalexander commented on #4127
Could you please split this into an epic with subtasks? I think everything here proposed here are excellent features for users.

[2020-04-15 01:18] enavarro51 commented on #4074
Do you want me to remove the channels dir? I'll get started on this. Working on 2 other issues right now, so may be a few days. I'll give you a progress report when I have something.

[2020-04-15 02:31] taalexander commented on #4074
I don't think its tracked in the git repository.

[2020-04-15 03:19] enavarro51 commented on #4074
Ok. I'll try removing it and see if it affects anything. Like to keep things neat..

[2020-04-15 03:39] #4039 closed

[2020-04-15 15:15] atilag commented on #4105
The way I see this, `Result` is a transversal concept to all the use-cases: we always want a result from an execution. `job` however is a consequence of the async model we choose (there are others that know nothing about jobs), only applicable to the case of cloud computation as local doesn't really need it.
That's why I'd move `job` into `Result`, so code like this is more expressive:
[code]
 Oth

[2020-04-15 15:28] jaygambetta commented on #4105
I prefer results over the job as well. We can have a method result.job_id() or results.job_status to give the feeling that there are jobs running. But I do like that we are all agreeing that there is not the need for two classes.

[2020-04-15 15:28] jaygambetta commented on #4105
@atilag also good if you edit my original with your proposal.

[2020-04-15 16:02] atilag commented on #4105
Will do.
This is a major change in the API, so I'd love to have more consensus with the rest of the team.
Summoning @kdk @ajavadia @1ucian0 to get some more feedback.

[2020-04-15 16:25] nonhermitian commented on #4105
Again, the job has everything we need already built in. One can supplement the job with things like having the call statement give the results, but moving in the direction that every is a result is not a great idea. Especially given that the cloud usage is the long term direction over local execution. I honest thought this was decided months ago by @jaygambetta @ajavadia and myself.

[2020-04-15 16:32] we-taper opened #4161 "Parameter __new__() got an unexpected keyword argument 'name'"
`Parameter` instantiation does not support using keyword arguments which could be annoying and confusing since its constructor `__init__` accepts the parameter `name`. The issue is related to this line where a `_` parameter name is used in `__new__`.

https://github.com/Qiskit/qiskit-terra/blob/b2209c7238cd52bca215df794a1496a87f076ee9/qiskit/circuit/parameter.py#L26

### Information

- **Qiskit Te

[2020-04-15 17:28] jaygambetta commented on #4105
I think we are saying the same thing call job or results somehting_cool   we want something_cool to come back from service.run() or service.run_async() I don't have strong view on the name but it should not be two objects. From looking at the code I would prefer results but I'm happy with job.

[2020-04-15 19:36] jyu00 opened #4162 "Unable to load pulse defaults due to amp being a list"
### Information

- **Qiskit Terra version**: 0.13.0
- **Python version**:
- **Operating system**:

### What is the current behavior?
`PulseDefaults.from_dict()` would fail if the pulse defaults contain parametric pulse:

[code]

### Steps to reproduce the problem
Call `PulseDefaults.from_dict(defaults_dict)` where `defaults_dict` contains a parametric pulse. For example
[code]

Existing pulse defa

[2020-04-15 19:37] jyu00 commented on #4162
FYI @taalexander @mtreinish @zachschoenfeld33

[2020-04-15 21:08] zachschoenfeld33 commented on #4162
@jyu00 Is there also an issue to update this for the new version without marshmallow?

[2020-04-15 21:14] jyu00 commented on #4162
@zachschoenfeld33 Yes there is a general issue open for marshmallow removal that I'm slowly chipping away: https://github.com/Qiskit/qiskit-ibmq-provider/issues/553

[2020-04-15 21:56] #3311 closed

[2020-04-16 02:00] Farquhar13 opened #4206 "Typo in Ry Class Doc"
## Did you find a doc bug or broken link that needs to be fixed?
Yes.
- What is the file name(s) where you found the bug?
qiskit-terra/qiskit/extensions/standard/ry.py
- What is the current text that needs to be fixed or removed? (You can copy and paste)
RX(\theta) = exp(-i \th Y)
- What should the documentation say instead?
RY(\theta) = exp(-i \th Y)
- Are there other related issues or pull reque

[2020-04-16 02:20] nonhermitian opened #4163 "Backends with pulse parameters but pulse=False do not format dt and dtm correctly"
Some IBM Q devices have pulse parameters in their config files but `pulse=False`.  This causes `dt` and `dtm` to be formatted differently depending on if pulse is on for that provider.  Namely because the conversion is done here only: https://github.com/Qiskit/qiskit-terra/blob/f38b617748d855e98f682d259b7cf597ef16b2a8/qiskit/providers/models/backendconfiguration.py#L461

and not for the `QasmBacke

[2020-04-16 02:28] nonhermitian opened #4164 "Running a schedule in execute gives warning about transpiler"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The docs (https://qiskit.org/documentation/tutorials/advanced/terra/pulse/getting_started_with_pulse.html) say that I can use the `execute` function for a schedule the same as a circuit.  However when I do I get the warning:

[code]
but the job gets sent to the devic

[2020-04-16 03:37] 1ucian0 commented on #4164
https://github.com/Qiskit/qiskit-terra/pull/4100 is a possible solution

[2020-04-16 03:50] nkanazawa1989 commented on #4127
Sure. I'll try to think of the new framework based on some existing drawing libraries and split it into several subtasks. thanks for the advice.

[2020-04-16 14:11] FranckChevallier commented on #4133
Hello, this one looks perfect for me as a first try.
Do you think you could assign it to me?

[2020-04-16 14:53] nonhermitian commented on #4133
Go for it!

[2020-04-16 14:55] taalexander commented on #4163
This is a result of user-facing objects also being a representation of the transport object. @mtreinish v2.0 provider should hopefully help fix this?

[2020-04-16 15:01] FranckChevallier commented on #4133
Thanks @nonhermitian !
I have a question: can I fix the two issues mentioned here (for U3 and U2) or do we have to open a new issue for U2?
It may look like a stupid a question, but it is my first time I am contributing to a project.

[2020-04-16 15:04] nonhermitian commented on #4133
I think you can fix both in one go. Just make sure to mention that in the follow up PR. Thanks again!

[2020-04-16 15:08] nonhermitian commented on #4163
Can it just be patched in the meantime?

[2020-04-16 15:14] taalexander commented on #4163
One other thing is I don't understand why a backend with `open_pulse=False` has dt? Which one is showing this?

[2020-04-16 15:15] nonhermitian commented on #4163
Because pulse may be on for other providers that an user is not a part of.

[2020-04-16 15:17] taalexander commented on #4163
Then this parameter shouldn't make it to the user? This may be a cloud issue.

[2020-04-16 17:00] DavitKhach commented on #4133
Hi all. @nonhermitian and @FranckChevallier,

also:
https://github.com/Qiskit/qiskit-terra/blob/3b3536bcdb83124d49723dd205573f169c82ea9c/qiskit/extensions/standard/u2.py#L56

It should be `U2(0, \pi) = H`, instead of `U2(\pi, 0) = H`. Am I right?

[2020-04-16 17:06] TharrmashasthaPV commented on #4133
Yeah, that looks right.

[2020-04-16 17:12] FranckChevallier commented on #4133
Oops sorry @DavitKhach and @TharrmashasthaPV  I've just pulled a request before noting your comments.
How to fix it? Should we create a new issue?

[2020-04-16 17:16] TharrmashasthaPV commented on #4133
You could push another PR for this issue with the above correction made.

[2020-04-16 17:28] FranckChevallier commented on #4133
And do I need to push it with the previous fixes inside? Or can I consider that the previous fixes will be already included?

[2020-04-16 17:35] TharrmashasthaPV commented on #4133
The PR needs to have your previous corrections too.

[2020-04-16 17:44] lcapelluto opened #4167 "Rename `SamplePulse` to `Waveform`"
### What is the expected enhancement?

Let's deprecate the name `SamplePulse` and rename it as `Waveform`.

[2020-04-16 17:48] lcapelluto opened #4168 "Rename `pulse_lib` to `library`"
### What is the expected enhancement?

Let's deprecate the `pulse_lib` path and move everything to `library` instead.

This 1) matches the circuit style (`circuits.library` and `pulse.library`) and 2) looks nice, and less redundant by using the namespacing (`pulse.pulse_lib` vs `pulse.library`)

If a user imports from `pulse.pulse_lib`, the code should still work, but a `DeprecationWarning` should

[2020-04-16 19:22] Cryoris opened #4170 "Visualize pi-values as pi in parameter expressions"
### What is the expected enhancement?

If the rotation angles are close to pi, `pi` will be displayed instead of the numeric value. This should also be the case for more complex `ParameterExpression`s. The `pi_check` function in `qiskit.visualization.tools` already recognizes if the angle is a `ParameterExpression` and calls the `__str__` method of this class. We probably can update this method to

[2020-04-16 21:10] enavarro51 commented on #4074
@taalexander From `pulse/commands/__init__.py`
[code]
I assume this means that the entire commands dir can be removed also. There seem to be other
implementations of all the classes referenced here that are not in the deprecated list above, except for Command, which has a deprecation warning in `pulse/instructions/instruction.py`.

Just out of curiosity, when deprecation messages are inserted like

[2020-04-16 21:41] enavarro51 commented on #4074
In parametric_pulse.py, this is part of the doc string at the top.
`The new pulse must then be registered by the assembler in
'qiskit/qobj/converters/pulse_instruction.py:ParametricPulseShapes'
by following the existing pattern:`

    class ParametricPulseShapes(Enum):
        gaussian = commands.Gaussian
        ...
        new_supported_pulse_name = commands.YourPulseCommandClass`
Are the refere

[2020-04-16 22:06] chriseclectic commented on #4126
I think this is due `np.linalg.inv` failing because of limited compute power on CI instance. You could fix by removing the larger qubit tests for random Clifford in the `@combine(num_qubits=[])` list.

[2020-04-16 22:08] enavarro51 commented on #4074
I'm a bit confused about continuous.py and discrete.py in pulse_lib. There seem to be many duplicately named functions in these. In parametric_pulses.py there is a line, `from .continuous import continuous`, but there is no continuous function in continuous.py. Also in the `__init__.py` in pulse_lib, only functions from discrete.py are imported. Is continuous.py still in use, and if so, how should

[2020-04-16 22:35] enavarro51 commented on #4074
Actually I see now that Drag uses continuous.drag. That seems to be the only reference. I assume a user could create there own functions using ParmetricPulses and importing continuous or discrete? Anyway I guess these references stay as is.

[2020-04-16 22:55] enavarro51 commented on #4074
It appears that FrameChange, FrameChangeInstruction, PersistentValue, and
PersistentValueInstruction are used in the code even though it says these are deprecated in the message above. Other than the test files, which I can change, the only other modules that reference them directly using pulse.commands, are matplotlib.py in visualizations/pulse and qiskit/qobj/converters/pulse_instruction.py.
Soo

[2020-04-16 23:00] enavarro51 commented on #4074
Actually on previous comment, it seems that moving frame_change.py and persistent_value.py into pulse and updating the imports in the 2 files that reference them. Then the commands dir can be removed. Assuming these really do need to be kept.

[2020-04-17 02:33] ljeanette15 commented on #4170
Mind if I try this one? I haven't contributed to the project yet and it seems like I could handle this. Any suggestions/tips while I look around and get started?

[2020-04-17 06:07] FranckChevallier commented on #4133
Thanks @TharrmashasthaPV !
So I've tried, hopefully it ill be good :-)

[2020-04-17 06:40] DavitKhach commented on #4133
@FranckChevallier I noticed that in the first [commit](https://github.com/Qiskit/qiskit-terra/pull/4165/commits/65ff83bdaed88dfe9ec22096114a9272eca6cd88) there is the following line:

`U3(\theta, \phi, \lambda) =
            RZ(\phi+3\pi) RX(\frac{\pi}{2}) RZ(\theta + \pi) RX(\frac{\pi}{2}) RZ(\lambda)`

Isn't this more preferable:
`U3(\theta, \phi, \lambda) = RZ(\phi + \pi/2) RX(\theta) RZ(\lambd

[2020-04-17 08:32] Cryoris commented on #4170
Sure!

The visualizers check if the parameter values to go inside the box are close to `pi` using the `qiskit.visualization.tools.pi_check`. There we have the line
https://github.com/Qiskit/qiskit-terra/blob/f38b617748d855e98f682d259b7cf597ef16b2a8/qiskit/visualization/tools/pi_check.py#L47
which means that, if the value is a `ParameterExpression` the `__str__` method of this object is used. This

[2020-04-17 12:59] taalexander opened #4171 "Pulse Schedule should have a __len__ attribute which returns its number of instructions"
### What is the expected enhancement?
The pulse schedule should have a length attribute and return the number of instructions contained in the schedule. This will enable checking if a Schedule is empty and statements such as.
[code]

A test should be included for this feature.

[2020-04-17 13:05] 1ucian0 commented on #4170
I think this might be a duplicate with https://github.com/Qiskit/qiskit-terra/issues/3868 with a pending
PR https://github.com/Qiskit/qiskit-terra/pull/3876

Please, @ljeanette15 and @Cryoris redirect your efforts on that way (if it is true that is a duplicated, otherwise repoen)

[2020-04-17 13:22] Cryoris commented on #4170
That only checks if the whole `ParameterExpression` is close to pi, not if elements of it are close to pi. I double checked by checking out the PR branch, and the problem persisted, so I'll reopen 🙂

[2020-04-17 15:03] enavarro51 commented on #4074
@taalexander This is where things are as of today.
- Pulse, SamplePulse and ParametricPulses moved to pulse/types.py
- Removed channels dir with no adverse affect
- All `__init__.py` files updated to the new reality
- All files under pulse updated to handle new structure
- Left pulse/commands dir in place
- Have clean lint and tests

The next step is to remove the commands dir and clean up any ref

[2020-04-17 15:18] 1ucian0 commented on #4170
Let me push up #3876 in my priority list so we can merge it soon and start working on this one. Thanks for checking!

[2020-04-17 20:16] #3957 closed

[2020-04-18 01:19] taalexander commented on #3951
Closed by #4091.

[2020-04-18 01:19] #3951 closed

[2020-04-18 04:29] FranckChevallier commented on #4133
Hi @DavitKhach,
To be honest you know better than me about it.
But you are challenging my capabilities with git :-)
I don't think committing a new version of the U3.py will be very clean. I guess I have to cancel my previous commits and PR to redo it properly.
Any idea of how to to do it? I have found some rebase command line, but I am not sure about it.

[2020-04-18 09:12] DavitKhach commented on #4133
Hi @FranckChevallier,
Sorry, I don't have much experience with PRs. Maybe it will be better to ask someone from IBM or someone who did PRs in Qiskit.

[2020-04-18 11:22] #3427 closed

[2020-04-18 14:28] taalexander commented on #4074
Hello, @enavarro51. Please leave the commands directory in place, we have an internal deprecation schedule for which we need to update the codebase to include.

[2020-04-18 14:30] taalexander commented on #4074
Could you please make a WIP PR so I can see what you have done so far?

[2020-04-18 14:43] enavarro51 commented on #4074
Ok, got it. And since this is my first WIP, all I do is put [WIP] in front of the description? I'll get this out today.

[2020-04-18 14:55] taalexander commented on #4074
Yes, or you can use the new Github feature and mark it as a draft. Thank you very much!

[2020-04-18 15:06] Oxoron opened #4175 "XGate().control() sample from the Release Notes documentation causes an error"
### Information

- **Qiskit Terra version**: 0.13.0
- **Python version**: 3.7.4 (default, Aug 13 2019, 20:35:49) [GCC 7.3.0]
- **Operating system**: Linux

### What is the current behavior?
The code from ReleaseNotes causes an error
AquaError: 'Insufficient number of ancillary qubits.'

### Steps to reproduce the problem
Run a cell in the Jupyter Notebook
[code]
See the error (full log is in the a

[2020-04-18 16:06] Cryoris commented on #4175
If you update Aqua to the latest version your error should be resolved.

As you mentioned already, this error comes from Aqua
[code]
but this file does not exist anymore, since the multi-controlled X/Toffoli was moved to Terra. If you have a previous version of Aqua installed where this file still exists, the "new" version will be overwritten with the "old" since Aqua is loaded after Terra.

Could

[2020-04-18 16:14] Cryoris commented on #4106
Agreed 👍 In many places we currently still use things such as `U2(0, pi)` instead of `H` or `U1` instead of `RZ`, this will force us to replace U* by a the better readable, universally used gates.

Regarding point 1: Renaming the U1 gate to Phase is probably better than removing it, because it differs from RZ by a global phase. At the moment they are still the same but hopefully we'll have the glo

[2020-04-18 16:19] Cryoris commented on #3929
Actually, `numbers.Integral` evaluates to False if passed a complex. So using `Integral` should be fine I think.

[2020-04-18 16:20] Cryoris commented on #3863
Closing this as it seems to be resolved.

[2020-04-18 16:20] #3863 closed

[2020-04-18 16:21] Cryoris commented on #3828
Implemented by #4037.

[2020-04-18 16:21] #3828 closed

[2020-04-18 16:25] Oxoron commented on #4175
Hi @Cryoris ,

qiskit update doesn't allow to update qiskit.aqua
When I call pip install -U qiskit it drop qiskit.aqua from 0.6.6 to 0.6.5
![image](https://user-images.githubusercontent.com/6274989/79642944-ff8ad980-81a8-11ea-88e3-32f0735097f1.png)

If I update till Aqua 0.6.6 the original code still throws an error (see log attached)
[Log_aqua_066.log](https://github.com/Qiskit/qiskit-terra/files

[2020-04-18 16:30] Cryoris commented on #4175
I see, the gates still exist in the current stable version. Then you need to install it from source, this is explained here: https://qiskit.org/documentation/contributing_to_qiskit.html#installing-aqua-from-source. If you follow the steps there you should install version 0.7.0 🙂

[2020-04-18 16:52] enavarro51 commented on #4074
@taalexander Uploaded the WIP. #4176

[2020-04-18 17:49] Cryoris opened #4177 "Registers copied by reference"
### Information

- **Qiskit Terra version**: 0.13.0
- **Python version**: 3.7.5
- **Operating system**: MacOS Catalina

### What is the current behavior?

The registers in the circuit are copied via reference. Modifying the registers in the copied circuit changes the original circuit.

Note that this causes Aqua algorithms such as the VQE to fail, if passed a quantum circuit and run on the QASM si

[2020-04-18 19:14] #3868 closed

[2020-04-18 20:47] 1ucian0 commented on #4170
#3876 merged!

[2020-04-18 21:20] neonipun commented on #4171
Hello, this looks very doable to me as my first issue for Qiskit! Can I be assigned to this?!
If so let me know what kind of additional help and prerequisites are needed from me

[2020-04-18 21:54] ajavadia opened #4179 "mpl circuit drawer does not scale properly"
The `scale` kwarg to `circuit.draw()` does not work well for the mpl drawer, because it does not scale the text font size.

[code]

Default scaling is fine:

![image](https://user-images.githubusercontent.com/8622381/79672133-5c809280-819d-11ea-9ac5-6278a5dfca91.png)

Scale up:

[code]

![image](https://user-images.githubusercontent.com/8622381/79672142-6f936280-819d-11ea-8bdb-0135034eab28.png)

S

[2020-04-18 21:56] ajavadia commented on #3766
This should be fixed for all gates not just unitary. When `op.op.label` exists, it should always take precedence over `op.name`. And the box width should be adjusted accordingly.

[2020-04-18 23:37] 1ucian0 commented on #4171
Hi Nipun! Great to see around here! Assigned to you. Let me know if I can help.

[2020-04-19 10:22] Oxoron commented on #4175
@Cryoris : Aqua 0.7.0 has been installed, everything is awesome now. Ty for your help!

Should I create a bug like "Incorrect versions binding", or it will be fixed during the next release anyway?

[2020-04-19 10:47] Oxoron opened #4180 "Controlled Gate .draw() error: method draws incorrect gate if amount of control qubits < 3"
### Information

- **Qiskit Terra version**: 0.18.0
- **Python version**: 3.7.4 (default, Aug 13 2019, 20:35:49) [GCC 7.3.0]
- **Operating system**: Linux
- *Qiskit Aqua version**: 0.7.0
That's not a "standard" versions set, expected Aqua version is 0.6.5.
Unfortunately, Controlled gates don't work at all with the standard Qiskit 0.18.0 setup.
See details at the [4175](https://github.com/Qiskit/qi

[2020-04-19 12:05] Cryoris commented on #4180
Interesting, I can confirm this issue, but decomposing the circuit yields the correct result -- both in the diagram and the simulation. Maybe this comes from the fact that the open-control gate is called `'cx'` which is a default name used in the simulator and not further decomposed.

[code]

[2020-04-19 13:08] 1ucian0 commented on #3282
Reopening, since #3668 was reverted in https://github.com/Qiskit/qiskit-terra/pull/4117

[2020-04-19 14:59] hykavitha commented on #4168
@lcapelluto : I would like to take this has my "good first issue", I want to do qiskit community contributions. Could somebody assign it to me please?

In this issues, its more of an aesthetic issue.  What you are saying is instead of name the module name,  `pulse_lib` it should be named as `library`, so when one imports `pulse_lib` &/ `library` it points to the same.

[2020-04-19 15:30] adjs opened #4182 "Initializer should use at most 2^(n+1)-2n cnots"
### What is the expected enhancement?

Initializer should use at most 2^(n+1)-2n cnots (arXiv:quant-ph/0406176).

Cost to initialize a 4 qubits state uses
Number of cnots (optimization_level=0):  44
Number of cnots (optimization_level=3):  26
max number of cnots:  24

[code]

[2020-04-19 16:34] Cryoris commented on #4182
There's another implementation for arbitrary `m x n` isometries which can also be used for state preparation, which should be more efficient. In your example you can test it by using
[code]
When I'm running this I'm getting 11 CX gates, for both, optimization level 0 as well as 3. 🙂 We probably should make `initialize` use the isometry per default, if there's no other advantage to the `initialize`

[2020-04-19 16:37] Cryoris commented on #4175
This will be fixed in the next release of Qiskit Aqua, since it is already in the master branch. Feel free to open an issue in Qiskit Aqua, then we can discuss if we should fix this before the release.

[2020-04-19 16:37] #4175 closed

[2020-04-19 17:02] 1ucian0 commented on #4180
It is indeed a bug in the text drawer. Fixed in https://github.com/Qiskit/qiskit-terra/pull/4184

[2020-04-19 17:06] hykavitha commented on #4168
@lcapelluto  : I have fixed it in my local. On assigning to me,  I can push the code.

[2020-04-19 17:18] hykavitha commented on #4167
@lcapelluto : Can someone assign this to me. In my local, I'm working on rename issues. this one and https://github.com/Qiskit/qiskit-terra/issues/4168
They both come in the same modules.

[2020-04-19 17:29] taalexander commented on #4168
Thank you @hykavitha, I have assigned to you 😄.

[2020-04-19 17:29] taalexander commented on #4167
Thank you @hykavitha, I have assigned to you as well 😄

[2020-04-19 18:06] adjs commented on #4182
@Cryoris, thanks for the reference. I'll take a look on arXiv:1501.06911 .

I tested using the isometry method and got a different result.

1. I added a seed in the first line `np.random.seed(1)`
2. changed the vector.

[code]

With this configuration initialize (in PR #4183) outputs the desired vector with 22 cnots
`[ 0.        +0.j         -0.12734211-0.03392127j  0.28892154+0.20784746j
  0.1142

[2020-04-20 01:55] 1ucian0 commented on #4044
duplicated #2784

[2020-04-20 01:55] #4044 closed

[2020-04-20 01:56] 1ucian0 commented on #3998
Would be a reasonable solution to continue the IBM i  demos with previous version of Qiskit?

[2020-04-20 01:58] 1ucian0 commented on #4046
Closing this as `expected behavior`. Feel free to reopen if disagree to continue the discussion here.

[2020-04-20 01:58] #4046 closed

[2020-04-20 02:04] 1ucian0 commented on #4014
We are trying to move away from monkey patching (see #4035)...

I'm tagging this as `wontfix`.

[2020-04-20 02:52] jwoehr commented on #3998
At this point I think it's moot. For those of us so engaged (@ThePrez and myself, exclusively, AFAIK), the task of keeping Qiskit Terra alone running on IBM i has grown beyond the cost/benefits ratio. Unless support for Qiskit on IBM i becomes a priority within IBM (which I am neither recommending nor discouraging, it's a business and resources decision) it's not going to happen. For my COMMON pre

[2020-04-20 03:00] jwoehr commented on #3998
But if I may allow myself to express a thought: It might be a good idea to coordinate company-wide IBM's efforts to make sure that strategic open source packages run on all supported Power platforms, in order to close the gaps and avoid duplicated effort.

[2020-04-20 03:34] mamadpierre commented on #1148
Hi all, I'm just a qiskit beginner,

it is strange to me that the order of the qubits are reversed of the typical orders in the literature.

[code]

One can possibly change the CX matrix as following:

[code]
But in the literature this matrix is used when you want to have CNOT with second qubit as the control one.

Anyhow I believe this is not the most straight forward way of ordering the qubits.

[2020-04-20 12:47] jaygambetta commented on #4106
I agree this is why i want to continue to keep it. I will make and issue soon (if not already there) about how global phase of a circuit should be tracked. This way if I want to control that circuit I can. I am thinking just another variable that goes along with the circuit and keeps the global phase.

[2020-04-20 14:10] QacoBot opened #4191 "Branch `master` is failing"
Trying to build `master` at commit d9c885494b69e8d7ac495d5804451b8db82c7e70 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/321195764

[2020-04-20 14:29] ajavadia commented on #4106
There is work started on the phase property here: https://github.com/Qiskit/qiskit-terra/pull/3930

[2020-04-20 14:45] nonhermitian commented on #4106
Note that we cannot just remove the U gates. Otherwise grabbing circuits from old jobs will break. We need to have the U gates in Qiskit but expressed in the new basis.

[2020-04-20 15:09] jaygambetta commented on #4106
I would rather put this in the provider if we can. But this and the link @ajavadia have lots of issues so we should make a RFC for moving to standard gates. I suggest we close this and same with #3930 and make this document. @Cryoris do you think you can start this. From my understanding most things in @chriseclectic issue #3930 are done except transpiler and global phase property being added.

1.

[2020-04-20 15:25] #4177 closed

[2020-04-20 16:33] 1ucian0 commented on #4126
Im also getting some fails regularly in my local computer. I will try to capture when that happens.

[2020-04-20 17:14] 1ucian0 commented on #4126
Confirmed that is not related to the CI limited power.

Since `test.python.quantum_info.operators.test_random.TestRandomClifford` is not deterministic, I will move this test out to the random suite. In the meanwhile, maybe I can find a problematic seed.

[2020-04-20 17:41] 1ucian0 commented on #4126
Found a failing seed!
[code]

[2020-04-20 18:01] 1ucian0 opened #4194 "random_clifford(150, 1587404017) fails"
_Originally posted by @1ucian0 in https://github.com/Qiskit/qiskit-terra/issues/4126#issuecomment-616708036_

Found a failing seed!
[code]

[2020-04-20 18:02] 1ucian0 opened #4195 "Found a failing seed!"
Found a failing seed! Moving this issue to https://github.com/Qiskit/qiskit-terra/issues/4194
[code]

_Originally posted by @1ucian0 in https://github.com/Qiskit/qiskit-terra/issues/4126#issuecomment-616708036_

[2020-04-20 18:02] #4195 closed

[2020-04-20 18:04] 1ucian0 commented on #4195
Sorry. I submitted by accident while creating #4194

[2020-04-21 01:42] #4066 closed

[2020-04-21 08:13] hykavitha commented on #4168
for Deprecated warnings, what class to use? @taalexander : you know?

[2020-04-21 10:58] QacoBot opened #4202 "Branch `master` is failing"
Trying to build `master` at commit 7fbd9d5abdc1a44ba9dd2687e3dca5164d2e43c6 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/321584463

[2020-04-21 12:12] mtreinish commented on #4105
I started a WIP on this last week: https://github.com/mtreinish/qiskit-core/commit/dd25e46becd37c153d4c077ba744e2f78ea36d6d. My biggest concerns here are around the backwards compatibility of the user facing api mainly making `run()` sync instead of async and changing the return type. The issue is that returning something other than a Job from run() will basically break anyone who has written code

[2020-04-21 14:52] nonhermitian commented on #4105
I do not see why we need change anything about a job being returned.  We just need to modify a few things about the job.  There are use cases where one actually does want to run simulators async (noise modelling on large or many circuits.)  We no longer need `BasicAer` with the `quantum_info` module features, so that should not be holding us back, i.e. we need not worry about jobs there.

[2020-04-21 16:20] neonipun commented on #4171
Hey @taalexander and @1ucian0!
I think I am done with the code but need help to decide on a few things, which are:
- I found two ways to make ```__len__``` work, which I think are right but correct me if I am wrong. Also, one of those two is a bit efficient since self.instructions gives back a sorted list while self._children is a property that just gives back the tuple that self.instructions uses

[2020-04-21 22:15] #4073 closed

[2020-04-22 04:10] #4052 closed

[2020-04-22 04:10] #4180 closed

[2020-04-22 09:07] QacoBot opened #4210 "Branch `master` is failing"
Trying to build `master` at commit 20b77c8e8b5176ecaff53726f039667a3e9247f1 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/322000696

[2020-04-22 09:44] #4210 closed

[2020-04-22 10:05] AzizNgoueya opened #5720 "Ability to stop job if it fails with 9999 error code"
### What is the expected enhancement?

At this moment, large circuits generated by Aqua(IQAE for example) exceeding the limit of a real backend is resubmitted. Unless you kill the process locally, the backend is flooded . It would be really beneficial to have a way to avoid this.

[2020-04-22 15:43] #4191 closed

[2020-04-22 15:44] kdk commented on #4158
This is because `measure_all`/`measure_active` add a new `creg` to the circuit, so the returned results are over 4 cbits instead of the expected 2. This is documented in the docstrings, but even still may be unexpected behavior.

What would the expected behavior be here? If no creg is present? If a creg exists? But its size is larger/smaller than num_qubits/num_active_qubits?

[2020-04-22 15:46] kdk commented on #4202
Resolved by #4193 .

[2020-04-22 15:46] #4202 closed

[2020-04-22 16:05] #4164 closed

[2020-04-22 16:11] QacoBot opened #4215 "Branch `master` is failing"
Trying to build `master` at commit 26b622846f7d75f22962cc939aaf243c6880665f failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/322175299

[2020-04-22 16:12] QacoBot opened #4216 "Branch `master` is failing"
Trying to build `master` at commit 26b622846f7d75f22962cc939aaf243c6880665f failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/322175298

[2020-04-22 16:53] 1ucian0 opened #4217 "controlled gates remove gate labels"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

The controlled gate code seems to ignore labeling at all.

### Steps to reproduce the problem

[code]
[code]
### What is the expected behavior?
The output should be:
[code]

### Suggested solutions

Something like this https://github.com/Qiskit/qiskit-terr

[2020-04-22 17:20] taalexander opened #4219 "Pulse Schedules can be shifted by non-integer values."
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
A pulse schedule will accept a shift by a non-integer value. Also shifting and unshifting a schedule will raise an error.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
This should raise an exception.

### Suggested solutions

[2020-04-22 17:24] drholmie opened #4220 "test_compose.py should cover setting condition"
Currently `test_compose.py` doesn't cover setting `condition` to a circuit (a consequence of which can be seen here https://github.com/Qiskit/qiskit-terra/pull/4135#discussion_r412502132). It does have a variable `self.condition` but it isn't used in any test.

The expected solution should add a test to cover setting `condition` and using `compose`.

[2020-04-22 19:18] #4126 closed

[2020-04-22 19:36] hykavitha commented on #4168
@taalexander  : I have renamed the module pulse_lib to library, Also, ran make test when removed
pulse_lib import at pulse/__init__.py, so I can rename the pulse_lib imported statements to be library qiskit/pulse/__init__.py
make test is pretty good with pulse_lib imported or that part commented out in this file.

[code]

but make lint is showing re-imported, what should I do?

:143:0: W0404: Reim

[2020-04-23 07:43] frankharkins opened #4228 "Add Latex Formatting for Arrays"
It has been requested that I add the `array_to_latex` tool from the textbook package to qiskit. I will need some assistance with how / where is best to add this, as well as bringing to code up to qiskit's standard before I make a pull request.

[Here is a link to the tool in its current form.](https://github.com/Qiskit/qiskit-textbook/blob/536835ee1e355bb8e9cb9fff00722e968bc6dc79/qiskit-textbook-s

[2020-04-23 13:45] chriseclectic opened #4231 "Transpiling 3+ qubit `UnitaryGate` circuits should work automatically"
### What is the expected enhancement?

3+ qubit unitary matrices can be transpiled to basis gates using the `isometry` instruction, however this is not used automatically if a circuit contains unitary gate instructions --- circuits with unitary gate instructions can currently only be transpiled if they are 1 or 2 qubits.

The definition of the `UnitaryGate` class should be updated to unroll using

[2020-04-23 20:12] michaelnitsenko opened #4235 "to_instruction() call throws error on parametrized inverted circuit"
### Informations

- **Qiskit version**: 0.18.2
- **Python version**:  3.7.6
- **Operating system**: macOS Catalina 10.15.4

### What is the current behavior?
.../env/lib/python3.7/site-packages/qiskit/circuit/quantumcircuit.py in <listcomp>(.0)
   1165         cpy._parameter_table._table = {
   1166             param: [(instr_copies[id(instr)], param_index)
-> 1167                     for instr, p

[2020-04-23 20:27] dongreenberg opened #4237 "Whitelist Objects which can be appended to Circuits."
https://github.com/Qiskit/qiskit-terra/pull/4234 is a temporary fix to `QuantumCircuit`'s append to accept a few objects which previously could be appended because they had a `to_instruction` but are not `OperatorBase`s. We should fix this permanently to have a clear contract about what can be appended into `QuantumCircuits`. So far, `Pauli` and Aer's `QuantumError` do not seem to fall into any of

[2020-04-23 20:28] dongreenberg commented on #4237
@ajavadia @chriseclectic

[2020-04-24 00:24] nonhermitian opened #4239 "pass_manager_drawer requires filename to render"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The `pass_manager_drawer` requires a filename in order to run.  However this is not really a requirement of the code itself.  Indeed, this works fine:
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-04-24 00:59] #4138 closed

[2020-04-24 02:36] nonhermitian opened #4240 "Running pulse schedule smaller than device gives full device width bitstrings."
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Running the following on a 20Q device:
[code]

gives 20bit outputs instead of 5bits like  if the circuit were run directly, e.g.

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-04-24 02:37] nonhermitian opened #4241 "Large number of depreciation warnings"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Simply calling `transpiled_circ = transpile(qc, backend)` gives me:

[code]

[2020-04-24 10:05] hykavitha opened #4242 "import errors - Modules are missing in qiskit requirements"
### What is the expected enhancement?
some more python modules to be added to requirements.txt

After we fork, git clone, create conda environment in our local & install pip install -r requirements.txt. I would imagine I should not be installing any more packages or not expecting any import errors. And without any code change, if I run make style / make test, its causing missing modules.
I have be

[2020-04-24 10:09] hykavitha commented on #4242
@lcapelluto : if you can assign it to me, I can take care of this issue.

[2020-04-24 10:22] mtreinish commented on #4242
This isn't actually a bug, those dependencies are not for qiskitt-terra (which is what lives in the requirements.txt file) those are development only dependencies which are listed in requirements-dev.txt file. Those packages are only needed for running tests or linting checks, we don't want users to have to install them when they install terra (which is the pupose of the requirements.txt list). If

[2020-04-24 10:22] #4242 closed

[2020-04-24 11:22] mtreinish commented on #4241
Yeah, I've noticed this now too we should fix this prior to the 0.14.0 release. Either remove the deprecation or update the usage in terra to not use the deprecated input for `compose()` in any of the passes

[2020-04-24 15:55] QacoBot opened #4247 "Branch `master` is failing"
Trying to build `master` at commit d0a487bcacdafbc76cd4f1f43a3f6f6a71614095 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323064915

[2020-04-24 16:06] taalexander commented on #4240
This is not a bug and is the expected behavior of the device given Qiskit's current interpretation of the `meas_map`. Future device updates will relax this requirement.

[2020-04-24 16:08] nonhermitian commented on #4240
Is this mentioned anywhere in the docs?

[2020-04-24 16:25] TharrmashasthaPV opened #4248 "Some open-controlled gates incorrectly drawn in mpl drawer"
### Information

- **Qiskit Terra version**: 0.14.0.dev0+d0a487b
- **Python version**: 3.6
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Visualization open controlled gates was added in #4131 . But a few gates were missed out. In the circuit below, all were implemented as open-controlled gates but were drawn as below:

![err_circuit](https://user-images.githubusercontent

[2020-04-24 16:32] taalexander commented on #4240
Yes in this [notebook doc](https://github.com/lcapelluto/qiskit/blob/708f83a94e97a5655a9f3c4e6fdf7a6145f9fa3e/docs/tutorials/advanced/terra/pulse/adding_measurements.ipynb)

[2020-04-24 16:37] taalexander commented on #4168
We use `DeprecationWarning`

[2020-04-24 16:37] taalexander commented on #4168
You would need to update the `__init__` file to not import all from `pulse_lib`.

[2020-04-24 16:57] chriseclectic opened #4249 "`plot_state_hinton` doesn't plot all real matrix components"
### Information

- **Qiskit Terra version**: 0.13
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

`plot_state_hinton` isn't plotting all matrix components for computational basis states.

### Steps to reproduce the problem

Plot a computational basis state on any number of qubits

[code]
returns

![hinton_broken](https://user-images.githubusercontent.com

[2020-04-24 18:23] lcapelluto opened #4250 "add_implicit_acquires hasn't been migrated"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

This works correctly for Acquires which take a list of acquire channels and memory slots, but this has been deprecated since the function was written. Now, every acquire takes only one channel and a memory slot or register slot.

### Steps to reproduce the problem

Try to

[2020-04-24 18:30] ewinston commented on #4248
@enavarro51 @TharrmashasthaPV do either of you want to have a look at this?

[2020-04-24 18:34] enavarro51 commented on #4248
Actually I am working on a fix right now. matplotlib.py needed a lot of updating to match text.py so it has taken me a bit. Should have a pull request by tomorrow, and I'll include this.

[2020-04-24 20:43] kdk opened #4252 "QuantumCircuit.append(custom_gate, label='foo') overwrites earlier labels"
### Steps to reproduce the problem

[code]

### What is the expected behavior?

### Suggested solutions

[2020-04-24 21:49] enavarro51 commented on #4248
Question @ewinston. I'm doing a deep dive in the mpl drawer bringing it even with text drawer. I noticed that snapshot shows as a custom multiqubit box in text and a barrier in mpl. The reason it's a box in text is that a label is required for snapshot and code above the snapshot display code tests for a label and sends it to the box code. This seems like a bug to me. Should both drawers display a

[2020-04-24 22:28] #4219 closed

[2020-04-25 01:57] nonhermitian opened #4257 "Initialize tutorial example fails to draw"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

gives

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-04-25 02:58] ajavadia opened #4258 "improve hoare optimizer"
The following 3 circuits are all equivalent:

1)
![image](https://user-images.githubusercontent.com/8622381/80269476-15533f80-867e-11ea-9a25-cb05d4edeb7e.png)

2)
![image](https://user-images.githubusercontent.com/8622381/80269488-2ac86980-867e-11ea-805e-5f8f943c41d7.png)

3)
![image](https://user-images.githubusercontent.com/8622381/80269516-5d726200-867e-11ea-8733-10a7198abb51.png)

When startin

[2020-04-25 05:33] FranckChevallier commented on #4133
Thanks David.

Hi @1ucian0, do you know how could I cancel my previous commits and PR to redo it properly?

[2020-04-25 07:43] HimanshuBansal112 opened #4260 "qiskit isn't importing from qiskit_textbook.tools"
The command given in jupyter notebook using qiskit not working, while it works in qiskit notebook.

[recreated and expected.zip](https://github.com/Qiskit/qiskit-terra/files/4532566/recreated.and.expected.zip)

[2020-04-25 13:11] enavarro51 commented on #4257
I’ll have a fix for this in a pull request later today, as part of some other updates to the mpl drawer.

[2020-04-25 13:23] nonhermitian commented on #4257
But this looks like an error in initialize not the drawer

[2020-04-26 10:44] rumschuettel opened #4281 "Unnecessary performance bottleneck in Statevector.evolve"
### Informations

- **Qiskit Aer version**: 0.5.0
- **Python version**: 3.8
- **Operating system**: linux (ubuntu 18.04)

### What is the current behavior?

Statevector.evolve is slow, because it recreates Statevector objects, which itself is a slow operation.

### Steps to reproduce the problem

Throw a line profiler on a code segment that calls Statevector.evolve repeatedly.

### What is the exp

[2020-04-26 13:25] 1ucian0 commented on #3239
Is this already fixed? The current (master) output for the OP's example is:
[code]

[2020-04-26 15:50] ChenSenrui opened #4271 "random_clifford(n) fails to sample the whole Clifford group"
### Information

- **Qiskit Terra version**: 0.13.0
- **Python version**: 3.8.2
- **Operating system**: Windows 10

### What is the current behavior?
`random_clifford` fails to generate some elements from the whole Clifford group. For example, `random_clifford(1)` only generates Cliffords with stabilizer `+Z`, `-Z`, `+Y`, or `-Y`, and `random_clifford(2)` never samples Clifford with stabilizer `[+

[2020-04-26 15:55] nonhermitian opened #4272 "Qasm output should look for numbers close to fractions of pi"
### What is the expected enhancement?
`circuit.qasm()` outputs long float values for many parameters even though many are close to fractions of pi that can be checked with `pi_check`.  Also, the number of digits returned is excessive, and should be truncated to a reasonable precision.

[2020-04-26 16:01] nonhermitian opened #4273 "Move to more recent numpy random generator"
### What is the expected enhancement?
We make use of a lot of `np.random.RandomState` generators, however these are now legacy code.  It has been replaced with `np.random.default_rng` that generates different values.  We should move to this new generator. Ideally before the circuit library comes out because the seed values, and the offset, can be (should be) used to uniquely identify the circuits.

[2020-04-26 18:55] #3990 closed

[2020-04-26 19:39] #4231 closed

[2020-04-27 04:24] #3017 closed

[2020-04-27 09:22] frankharkins commented on #4260
@HimanshuBansal112 the `qiskit_textbook` package is separate from qiskit. You can install it by downloading this folder: https://github.com/Qiskit/qiskit-textbook/tree/master/qiskit-textbook-src and running: `pip install -e ./qiskit-textbook-src` from the directory you downloaded the folder to.

[2020-04-27 10:42] HimanshuBansal112 commented on #4260
@frankharkins Thank you.

[2020-04-27 10:42] #4260 closed

[2020-04-27 11:13] QacoBot opened #4278 "Branch `qasm_print` is failing"
Trying to build `qasm_print` at commit f9f6e654503c59567bacd4d8ef3ccc1e1b1bcc7e failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323776392

[2020-04-27 11:13] QacoBot opened #4279 "Branch `qasm_print` is failing"
Trying to build `qasm_print` at commit f9f6e654503c59567bacd4d8ef3ccc1e1b1bcc7e failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323776391

[2020-04-27 13:06] chahatagarwal opened #4280 "Can I generate qasm string from QASMQObj structure?"
### What is the expected behavior?
Can we generate QASM String from QASMQObj instead of generating from QuantumCircuit Object? (Reference: https://arxiv.org/pdf/1809.03452.pdf)

[2020-04-27 14:03] kdk commented on #3239
Looks like this is still an issue (but some changes to the default levels have made it harder to replicate). Most likely, the changes to the level 3 layout selection pass in #3999 mean that for level 3, we now find a perfect layout for the example circuit, so the routing stage is skipped and `BarrierBeforeFinalMeasurements` is never run.

I'm able to still reproduce the issue by specifying an `ini

[2020-04-27 14:15] QacoBot opened #4282 "Branch `master` is failing"
Trying to build `master` at commit 183d10bb68ea4998eb9eaa08bb823cea1f6fdb8d failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323843289

[2020-04-27 15:03] QacoBot opened #4283 "Branch `qasm_print` is failing"
Trying to build `qasm_print` at commit f9f6e654503c59567bacd4d8ef3ccc1e1b1bcc7e failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323869057

[2020-04-27 15:04] QacoBot opened #4284 "Branch `qasm_print` is failing"
Trying to build `qasm_print` at commit f9f6e654503c59567bacd4d8ef3ccc1e1b1bcc7e failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323869056

[2020-04-27 15:04] QacoBot opened #4285 "Branch `qasm_print` is failing"
Trying to build `qasm_print` at commit b808cec6f90de21a58b7d432f7e4b08f008fd84c failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323869378

[2020-04-27 15:30] #4282 closed

[2020-04-27 15:30] #4283 closed

[2020-04-27 15:30] #4284 closed

[2020-04-27 15:30] #4285 closed

[2020-04-27 15:47] kdk commented on #4280
Hi @chahatagarwal , at the moment there is no direct Qobj -> QASM conversion without first creating a QuantumCircuit instance, but the path through QuantumCircuit should work in most cases. Is there an issue with the Qobj->Circuit->QASM path?

[2020-04-27 15:47] QacoBot opened #4286 "Branch `qasm_print` is failing"
Trying to build `qasm_print` at commit b808cec6f90de21a58b7d432f7e4b08f008fd84c failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323869378

[2020-04-27 15:59] #3637 closed

[2020-04-27 16:07] QacoBot opened #4288 "Branch `master` is failing"
Trying to build `master` at commit 3c5f86d5df706d2d01a70f27d1c22b28fe423f74 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/323896854

[2020-04-27 16:43] chahatagarwal commented on #4280
Is there a path from QASMQObj to QuantumCircuit Instance ? I think maybe through disassemble we can achieve. Anyways, I am trying to figure it out. But, yes from QuantumCircuit Instance, we can retrieve QASM String through QuantumCircuit.qasm()

[2020-04-27 17:00] 1ucian0 opened #4290 "MPL drawer should expose cregbundle as a parameter"
In the spirit of https://github.com/Qiskit/qiskit-terra/issues/2797, PR https://github.com/Qiskit/qiskit-terra/pull/4274 exposes `cregbundle` as a parameter for circuit drawing.

MPL should use that parameter and deprecate the style dict key.

[2020-04-27 17:41] #4272 closed

[2020-04-27 17:48] chriseclectic commented on #4281
Nice find. Yes it seems like initializing the rng seed using `numpy.random.RandomState` in the base `QuantumState` class is the culprit and has huge overhead.

Changing it to just use `np.random` unless you user changes it with a fixed seed later I got timings:

[code]

I'll add this fix to #4223

[2020-04-27 18:24] #4278 closed

[2020-04-27 18:24] #4279 closed

[2020-04-27 19:13] 1ucian0 opened #4291 "latex drawer support for cregbundle"
In the spirit of https://github.com/Qiskit/qiskit-terra/issues/2797 it would be great if latex drawer add support for `cregbundle`.

Take the following example:
[code]
<img width="427" alt="Screen Shot 2020-04-27 at 3 10 31 PM" src="https://user-images.githubusercontent.com/766693/80410889-43f93200-8899-11ea-9bed-558804fa26c6.png">

I suggest something like this:
[code]
<img width="451" alt="Scree

[2020-04-27 19:18] 1ucian0 opened #4292 "initial_state=False is not honored by latex drawer in the classical wires"
When latex drawer is called with `initial_state=False` the initial state of the classical wires is still there at it should be removed, as the other drawers.
[code]
![image](https://user-images.githubusercontent.com/766693/80411417-2e383c80-889a-11ea-97a2-f0ae8edd6dd7.png)

The expected result would be
<img width="427" alt="Screen Shot 2020-04-27 at 3 10 31 PM" src="https://user-images.githubuserc

[2020-04-27 19:36] 1ucian0 opened #4293 "initial_state=True is not honored by mpl drawer"
When mpl drawer is called with `initial_state=True` the initial values are not there:
[code]
![image](https://user-images.githubusercontent.com/766693/80411947-0b5a5800-889b-11ea-97a0-4659b8072443.png)

The output should be something like this:

![circuit](https://user-images.githubusercontent.com/766693/80413054-cdf6ca00-889c-11ea-9cc6-df594ec28b09.png)

[2020-04-27 19:52] 1ucian0 commented on #4215
[code]

[2020-04-27 19:52] enavarro51 commented on #4290
@1ucian0, I can do this for mpl. It would help if #4264 was reviewed and merged if appropriate, so to use that as a base.

[2020-04-27 19:53] 1ucian0 commented on #4216
[code]

[2020-04-27 19:53] enavarro51 commented on #4293
@1ucian0 I can take this also.

[2020-04-27 19:54] 1ucian0 commented on #4247
[code]

[2020-04-27 19:56] 1ucian0 commented on #4247
It seems like a time out in the server and can be ignored.

[2020-04-27 19:56] #4247 closed

[2020-04-27 19:59] #4271 closed

[2020-04-27 19:59] 1ucian0 commented on #4216
Duplicated #4215

[2020-04-27 19:59] #4216 closed

[2020-04-27 20:53] 1ucian0 commented on #4288
[code]

[2020-04-27 22:14] mtreinish commented on #4288
This can be closed it's being caused by an ibm cloud outage right now which is causing unreliable connections to the ibmq api. Moving forward this will be addressed by removing any dependency on the ibmq api from the unittests in: https://github.com/Qiskit/qiskit-terra/pull/4296

[2020-04-27 22:21] #4217 closed

[2020-04-27 23:16] QacoBot opened #4298 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit 2d9723adc51ba9b71dec5f6987a775d5fe8998d8 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324055819

[2020-04-27 23:18] QacoBot opened #4299 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit 2d9723adc51ba9b71dec5f6987a775d5fe8998d8 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324055820

[2020-04-27 23:21] QacoBot opened #4300 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit 0d0bd54da0e39de1fe583fc078c7ed5b8e37f50e failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324057426

[2020-04-27 23:21] QacoBot opened #4301 "Branch `master` is failing"
Trying to build `master` at commit 9e5ab877d03ab10f1451d1c8215d4214840f8cd6 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324057834

[2020-04-27 23:21] QacoBot opened #4302 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit 0d0bd54da0e39de1fe583fc078c7ed5b8e37f50e failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324057425

[2020-04-27 23:22] QacoBot opened #4303 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit ad54055e9a4d0c6ffb7ef5f5d6cd8e0950183fef failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324057802

[2020-04-27 23:22] QacoBot opened #4304 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit ad54055e9a4d0c6ffb7ef5f5d6cd8e0950183fef failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324057799

[2020-04-27 23:22] QacoBot opened #4305 "Branch `master` is failing"
Trying to build `master` at commit 9e5ab877d03ab10f1451d1c8215d4214840f8cd6 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324057833

[2020-04-27 23:24] QacoBot opened #4306 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit 5f1f347331fcd8a2f990f181e21d452c5eb3fdcd failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324058472

[2020-04-27 23:24] QacoBot opened #4307 "Branch `update_rng` is failing"
Trying to build `update_rng` at commit 5f1f347331fcd8a2f990f181e21d452c5eb3fdcd failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324058471

[2020-04-27 23:25] QacoBot opened #4308 "Branch `master` is failing"
Trying to build `master` at commit d69b6c3494f1525157ab4a56df48929261834925 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324058486

[2020-04-27 23:26] QacoBot opened #4309 "Branch `master` is failing"
Trying to build `master` at commit d69b6c3494f1525157ab4a56df48929261834925 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324058485

[2020-04-28 02:17] #4298 closed

[2020-04-28 02:17] #4299 closed

[2020-04-28 02:17] #4300 closed

[2020-04-28 02:17] #4301 closed

[2020-04-28 02:17] #4302 closed

[2020-04-28 02:17] #4303 closed

[2020-04-28 02:17] #4304 closed

[2020-04-28 02:17] #4305 closed

[2020-04-28 02:17] #4306 closed

[2020-04-28 02:17] #4307 closed

[2020-04-28 02:17] #4308 closed

[2020-04-28 02:17] #4309 closed

[2020-04-28 02:34] #3891 closed

[2020-04-28 03:45] ajavadia opened #4310 "Boolean function parser"
We need a way to express Boolean functions compactly (e.g. f(x1,x2) = x1^x2), without resorting to exponential descriptions. Right now we only do things like truth table descriptions using exponential arrays (in synthesis algorithms like graysynth and libraries like FourierChecking).

Some tools for this exist as opensource like RevKit and the Tweedledum library.

Then we can also have synthesis a

[2020-04-28 03:50] ajavadia opened #4311 "Synthesis algorithms for Operators"
We need a general category of synthesis algorithms for things that have exponential descriptions. This basically means things defined by Operator or Statevector. A start of this is under `qiskit.quantum_info.synthesis`, but a bunch of the algorithms are scattered under `qiskit.extensions.quantum_initializer`.

Then I think instead of defining these operators as circuit libraries (they are really n

[2020-04-28 04:10] #4206 closed

[2020-04-28 04:23] ajavadia opened #4312 "new qasm library"
The original OpenQASM2.0 library was called `qelib1.inc` and contained a certain number of gates.

Qiskit now has more gates, and we have (inconsistently) added some of them to that library. I think `qelib1.inc` should stay how it was defined in the OpenQASM paper. We should have a new one `stdgates.inc` that has QASM definitions for all of Qiskit's standard gates.

[2020-04-28 04:23] jaygambetta opened #4313 "what is a circuit, circuit library and blueprint circuit and blueprint libraries -- continues"
This is a follow on from PR #4211. There is still something that we need to redefine after the release (not before I will go in an approve this pr that I have read it 50 times @Cryoris). Also your PR is good.

We have made lots of progress with the difference of circuits and circuit libraries but to me PR #4211 goes too far and is not a library anymore.

circuit vs circuit libraries vs circuit blu

[2020-04-28 04:28] ajavadia opened #4314 "circuit method aliases?"
This was raised in the review of #4035 by @jaygambetta

We have a bunch of aliases right now:

[code]

There might be a danger of proliferating circuit methods (which are already a lot). Can we decide on a canonical Qiskit name for each gate and then document somewhere other aliases in the literature? Otherwise there is no clear policy and someone might feel there should be an alias like `circuit.

[2020-04-28 04:31] ajavadia opened #4315 "R gate needs better name"
The name for the R gate is not the best. The ion-trap community uses R(θ, φ) to mean Rotation θ around the cos(φ)x + sin(φ)y axis.

Can we call it `RXYPlane` and deprecate the old one? The serialization for ion-trap backends like AQT needs to serialize this as `r`.

[2020-04-28 04:39] ajavadia opened #4316 "Enhance qiskit.circuit.library.generalized_gates"
These gates should all move to the new qiskit.circuit.library.generalized_gates folder:

MCRX, MRCY, MCRZ, MCU1, MCX
UCRX, UCRY, UCRZ, UCPauliRotGate, UCGate

I think @Cryoris has them on radar just wanted to open a tracking issues.

[2020-04-28 04:42] jaygambetta commented on #4316
MCU1 should also be MCPhase as well.

[2020-04-28 04:42] jaygambetta commented on #4314
my vote is not to aliases and just teach circuits to be made with a set we choose. I dont see any real reason other than people like them and its very subjective.

If we are going to then we should go all the way.

[code]
hmm maybe it is only 6 that I can think off so maybe it is not as bad as I was thinking.

[2020-04-28 04:54] #2797 closed

[2020-04-28 05:06] ajavadia commented on #4313
actually we went with standard gates living next to generalized gates now and all accessible from qiskit.circuit.library:
[code]

[code]

[2020-04-28 05:16] ajavadia commented on #4314
There can be more like uniformly-controlled (uc) vs. multiplexer..
And when we start adding square-root(X) and square-root(CX) I think we will call them `sx` and `scx` but some people call these `v` and `cv`.

[2020-04-28 05:55] chahatagarwal commented on #4280
File` "/home/usr/anaconda3/lib/python3.7/site-packages/qiskit/assembler/disassemble.py", line 141, in disassemble
circuits = _experiments_to_circuits(qobj)
File "/home/usr/anaconda3/lib/python3.7/site-packages/qiskit/assembler/disassemble.py", line 83, in _experiments_to_circuits
    _inst = instr_method(*params, *qubits, *clbits)
TypeError: h() missing 1 required positional argument: 'q'

QASMQob

[2020-04-28 05:57] nkanazawa1989 opened #4317 "Parametric GaussianSquare requires zero ends"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently GaussianSquare in ParametricPulse set `zero_ends` disabled, but when I tried to fit the backend calibrated CR pulse with this analytic function I couldn't get good fit result without `zero_ends`. I guess it is required parameter.

### Steps to reproduce the proble

[2020-04-28 07:12] ajavadia commented on #4281
is this fixed by https://github.com/Qiskit/qiskit-terra/pull/4297?

[2020-04-28 08:22] nkanazawa1989 commented on #4317
If backend analytical function plans to apply zero_ends, there is discrepancy between actual pulse shape and one we get from pulse drawer (because drawer internally call get_sample_pulse method to visualize). In this case we just need to make `zero_ends` to True in the frontend.

I think this indicates potential problem of pulse validation across platform. Can backend provide a set of input parame

[2020-04-28 08:46] Cryoris commented on #4314
Also `circuit.iden` is still a alias for `circuit.i`, and `circuit.mct - circuit.mcx`.

About
[code]
didn't we want to change `u1` to `p` for "phase gate"?

Not sure if `s` is a good prefix for sqrt, since the `s` gate already exists. Couldn't we spell it out? `circuit.sqrtx`? That would be pretty clear and is also not too long. Also, why are the sqrt gates referred to as `v` sometimes?

[2020-04-28 13:03] Cryoris commented on #4316
The current implementation we have for `mcrx` and `mcrz` are equivalent to using `RXGate(theta).control(n)`. Should we still wrap this into a library objects to have a complete set of the multi-controlled operations? If we do this, then we can also extend these default implementation with more efficient ones. E.g. `mcry` has one implementation using ancillas.

[2020-04-28 13:28] #4281 closed

[2020-04-28 13:40] artemiyburov commented on #4292
I'll try and take a shot at this (this is my first issue)

[2020-04-28 13:58] taalexander commented on #4317
I agree with you (and always have). I think we need to convince @lcapelluto and @eggerdj that this is necessary. While the behavior will be consistent for any parametric pulse sent from the backend and returned to the backend as it interprets its own samples if at any point the pulse is converted to samples this will lead to discrepancies in performance. I believe we should design this system with

[2020-04-28 14:28] 1ucian0 commented on #4313
circuit factory? It has some similarities to the [factory pattern](https://realpython.com/factory-method-python/).

[2020-04-28 14:39] #591 closed

[2020-04-28 14:42] 1ucian0 commented on #4312
I can imagine that the `1` at the end of `qelib1.inc` was the version number. But I'm not sure.

[2020-04-28 14:49] 1ucian0 opened #4320 "text drawer cregbundle bug when instructions with classical wires"
[code]
[code]
but
[code]
[code]

[2020-04-28 15:19] #1195 closed

[2020-04-28 15:20] jaygambetta commented on #4313
i like this very much -> so we could call the blueprintcircuit factorycircuit and then make a folder that has patterns - so the factorycircuit would live in the main circuits module and then we can have circuit.pattern.blah for these pattern libraries.

so than
library -> immutable circuit families
pattern -> mutable circuit families

[2020-04-28 15:23] chriseclectic commented on #1143
Updating: it's been 3 months, so these functions can be removed in 0.15

[2020-04-28 15:39] chriseclectic commented on #4252
Rather than adding label to the circuit methods, can we add a property to `Instruction` or `Gate` that can return a shallow copy of the objet with a label set.

One suggestion would be to do this in the call method (along with adding qargs/cargs to the call method). The qi operator classes use call for `qargs`.

Eg in Instruction:
[code]

Then you could use this as:
[code]

[2020-04-28 16:20] jaygambetta commented on #4313
thinking about this more and more I like it.

https://stackoverflow.com/questions/19256753/what-is-the-difference-between-design-patterns-and-libraries

A software library is a suite of data and programming code that is used to develop software programs and applications. It is designed to assist both the programmer and the programming language compiler in building and executing software - From Tec

[2020-04-28 17:17] Cryoris commented on #4313
Isn't a pattern more meta-code than code? I.e. a pattern in our context could be `QuantumCircuit`, `PatternCircuit/BlueprintCircuit` and `LibraryCircuit`. Because TwoLocal or RYAnsatz are also used to develop larger circuits, just like QFT. Also, both have mutable options, I think these need to go to the same place (because you mentioned QFT as example above).

I agree to separating `qiskit.circui

[2020-04-28 17:30] jaygambetta commented on #4313
I dont see QFT as a pattern. Maybe there is meta QFT for different versions but to start i would put it in the lib. We can have both and aqua calls the mutable version which depending on the method flag it calls the library where it is defined.

I also agree to do it under the hood. I was thinking only option 2 for two_local.

[2020-04-28 17:44] 1ucian0 commented on #4252
Currently, something like this works:
[code]
[code]

Maybe add a `label` parameter to `to_gate` would add the desired convinance? @ajavadia @kdk

That would look like this :
[code]

[2020-04-28 21:34] #4288 closed

[2020-04-28 21:36] 1ucian0 commented on #4158
ping @sportwagon

[2020-04-28 22:01] taalexander opened #4334 "Bug in Timeslot Ordering"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
A bug in the ordering of timeslots has led to a problem with `ch_stop_time` this was not caught as timeslot tests were deleted with the old implementation and the `Schedule` method didn't have any `ch_stop_time` tests directly.

### Steps to reproduce the problem
[code]

##

[2020-04-29 06:50] ajavadia opened #4339 "faster rng"
follow up to #4297

<img width="680" alt="image" src="https://user-images.githubusercontent.com/8622381/80568004-2f658880-89c4-11ea-8bd1-c31362a83bc2.png">

[2020-04-29 07:06] QacoBot opened #4340 "Branch `fix_backend_config_obj` is failing"
Trying to build `fix_backend_config_obj` at commit ef2d63d202d1605c951ea6e2ea29572d98ecdb54 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/324787624

[2020-04-29 15:08] #4163 closed

[2020-04-29 17:08] nkanazawa1989 commented on #4249
I have fix for this in my old PR (not reviewed for long time)
https://github.com/Qiskit/qiskit-terra/pull/3375

[2020-04-29 19:36] 1ucian0 opened #4348 "circuit.library.fourier_checking needs testing"
The object `FourierChecking` (in `qiskit/circuit/library/fourier_checking.py`) needs testing.  [No line is currently coveraged](https://coveralls.io/builds/30439931/source?filename=qiskit/circuit/library/fourier_checking.py).

[2020-04-29 19:39] 1ucian0 opened #4349 "circuit.library.graph_state needs testing"
The object `GraphState` (in `qiskit/circuit/library/graph_state.py`) needs testing.  [No line is currently coveraged](https://coveralls.io/builds/30439931/source?filename=qiskit/circuit/library/graph_state.py).

[2020-04-29 19:42] 1ucian0 opened #4350 "circuit.library.hidden_linear_function needs testing"
The object `HiddenLinearFunction` (in `qiskit/circuit/library/hidden_linear_function.py`) needs testing.  [No line is currently coveraged](https://coveralls.io/builds/30439931/source?filename=qiskit/circuit/library/hidden_linear_function.py).

[2020-04-29 20:32] 1ucian0 opened #4352 "MPL drawer breaks with Isometry"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

When trying to MPL graph an isometry gate, I'm getting a lot of funny outputs, depending on the isometry size.

### What is the current behavior?

considering the following code:
[code]
[code]
![image](https://user-images.githubusercontent.com/766693/80643499-30cf9900-8a36-11ea-8412-4436ca2

[2020-04-29 20:53] #4235 closed

[2020-04-29 21:04] #4292 closed

[2020-04-29 21:30] kdk opened #4353 "Remove ParameterTable import From QFT.inverse"
### What is the expected enhancement?

Following https://github.com/Qiskit/qiskit-terra/pull/4319#discussion_r417599735 :

@kdk
kdk 1 hour ago Author Member

@Cryoris
Cryoris 44 minutes ago •
Member

[2020-04-29 21:50] Dozzco commented on #4350
Hi, this looks like a great first issue for me to do, please may I be assigned to this?

[2020-04-29 21:53] Dozzco commented on #4348
Hi I would like to work on this issue, please may I be assigned?

[2020-04-29 21:56] #4239 closed

[2020-04-29 22:08] enavarro51 commented on #4352
@1ucian0. In #4264, I addressed some of these issues, but it's part of a much bigger issue in the mpl drawer. In that PR, I treated hamiltonian and unitary as special cases, but that's not a long-term solution.

When I first added mulit-control gates in #4131, some of the gates jumped to very large layer_width's, since the code for layering was assuming anything with an op.name of 4 chars or more

[2020-04-30 08:13] saswati-qiskit commented on #4161
Hi @1ucian0 , I am preparing for the qiskit advocate certification and want to contribute to the qiskit community. Could you please assign this issue to me?

[2020-04-30 08:23] chahatagarwal commented on #4280
@kdk any suggestions ?

[2020-04-30 10:35] #4273 closed

[2020-04-30 12:19] #4241 closed

[2020-04-30 12:21] #4340 closed

[2020-04-30 13:36] Cryoris opened #4357 "Missing (Py)Graphviz dependency for docs"
### Summary

Building the docs using Sphinx requires the `pygraphviz` package to be installed, otherwise a (not very descriptive) error somewhat like
[code]
is raised.

We should add `pygraphviz` to the `requirements-dev.txt`. This also requires the graphviz software to be installed, do we need to add this too or will pip install the dependecy automatically?

[2020-04-30 13:52] #4334 closed

[2020-04-30 13:59] mtreinish commented on #4357
That neato error comes from pydot itself we could try to wrap it with a qiskit error with a more descriptive message. But we'd have to probably put all the graphviz based drawers (dag, pass maanger, coupling map, and soon to be equivalence lib) behind try except blocks and check the error message text to figure out why it's raising an error.

[2020-04-30 15:36] Cryoris commented on #4357
Wrapping it seems like a lot of effort, I don't know if a lot of people run the docs locally so this effort would be justified.

Ah, I was afraid that would be the case. Is it possible to update the tox build to check for graphviz or catch the error and raise a more descriptive one? Or should we maybe just put it in the contributor guidelines/install guide?

[2020-04-30 16:03] 1ucian0 commented on #4161
Assigned! Let me know if I can help

[2020-04-30 16:31] 1ucian0 commented on #4348
Assigned! Let me know if you need any help.

[2020-04-30 16:53] kdk commented on #4235
Thanks for reporting this @michaelnitsenko . This should be resolved in the upcoming release.

[2020-04-30 17:04] 1ucian0 opened #4361 "[text drawer] controlled gates with labels"
@ewinston raises the question on how to handle controlled gates with labels in https://github.com/Qiskit/qiskit-terra/pull/4262#pullrequestreview-402277795.

Considering this case:
[code]

This is the current output:
[code]

Possible solutions:
[code]
[code]

[2020-04-30 18:44] #4257 closed

[2020-04-30 21:22] mtreinish opened #4365 "Old classes are not accessible via qiskit.extensions"
### Information

- **Qiskit Terra version**: 0.14.0
- **Python version**: All
- **Operating system**: Any

### What is the current behavior?

Running
[code]
Raises an `ImportError`

[code]

as do other classes which were deprecated as part of the 0.13.0 release cleanup. It worked fine on qiskit-terra 0.13.0 (also without a deprecation warning, which I thought it would raise). This is a big breakag

[2020-04-30 23:20] #4365 closed

[2020-05-01 01:27] nonhermitian opened #4369 "Isometry fails to decompose 16x16 unitary"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The following fails:

[code]

[code]

### Steps to reproduce the problem
Run above.

### What is the expected behavior?
`U.is_unitary()` gives true so I would assume it works.  It does work on `random_unitary(16)`.

### Suggested solutions

[2020-05-01 02:04] 1ucian0 commented on #4369
Not sure if I'm using it correctly, but this seems to work:
[code]

[2020-05-01 02:49] nonhermitian commented on #4369
The above does not work for me:

[code]

[2020-05-01 04:43] ewinston commented on #4369
I get the error as well. It appears like a floating point rounding error;

np.abs(z) - 1 = [ 6.22008223e-10,  1.15420784e-10, -2.46884735e-11, -4.08109102e-11,
        1.12878595e-11, -2.20169438e-11, -2.15460205e-10, -2.65099054e-11,
        2.75784728e-10, -3.44324902e-10, -1.11241016e-10,  8.13875634e-11,
       -2.29364527e-10, -2.33918440e-11,  1.75683690e-10, -2.84255397e-10]
and _EPS is 1e-

[2020-05-01 09:30] Cryoris opened #4437 "Open CX not simulated correctly"
### Informations

- **Qiskit Aer version**: 0.6.0
- **Python version**: 3.7.5
- **Operating system**: macOS Catalina , 10.15.4

### What is the current behavior?

The CX gate with an open-control does not get simulated correctly. This is a follow-up on Qiskit/qiskit-terra#4180 where this has first been discovered.

The output state of
[code]
should be `|10>` (in Qiskit endianess) but the QASM and

[2020-05-01 11:05] 1ucian0 commented on #4369
Indeed, it's a rounding error.

[2020-05-01 11:57] nonhermitian commented on #4369
So then we have an issue where is_unitary says its good, but it is in fact not good enough.

[2020-05-01 12:25] nonhermitian commented on #4369
I forgot to mention that this is from may 4 challenge. So are we saying that that matrix is not unitary from floating point viewpoint as we (and is_unitary) claim?

[2020-05-01 12:59] #1870 closed

[2020-05-01 13:10] nonhermitian opened #4370 "PauliFeatureMap docs not formatted correctly"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

<img width="803" alt="Screen Shot 2020-05-01 at 09 08 00" src="https://user-images.githubusercontent.com/1249193/80807526-6d60d900-8b8b-11ea-9d29-83cb814f2000.png">

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-05-01 13:12] nonhermitian opened #4371 "CRYGate malformed docs"
11ea-8fc6-1dbc1d91e022.png">

### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

<img width="583" alt="Screen Shot 2020-05-01 at 09 12 13" src="https://user-images.githubusercontent.com/1249193/80807694-dba59b80-8b8b-11ea-96f5-e5a414b73e94.png">

### Steps to reproduce the problem

### What is the expected behavior?

[2020-05-01 13:15] nonhermitian opened #4372 "All circuit examples in library should use MPL drawer"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
As agreed to by @ajavadia and @jaygambetta, all the circuit drawings in the docs should use MPL drawer.  This would also prevent issues like #4371.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-05-01 13:47] nonhermitian opened #4373 "Always get depreciation warning at start up"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

<img width="1084" alt="Screen Shot 2020-05-01 at 09 46 44" src="https://user-images.githubusercontent.com/1249193/80809939-c0895a80-8b90-11ea-9926-a1680a6a6934.png">

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-05-01 13:51] mtreinish commented on #4373
This is actually an issue with aqua. Based on the warning `pauli_op.py` in aqua is importing the gates from `qiskit.extensions` which is the deprecated path

[2020-05-01 14:18] 1ucian0 commented on #4369
For that challenge, it seems that the matrix is randomly generated for each user. It does work with "my" `U`.

[2020-05-01 16:21] 1ucian0 opened #4374 "diagonal gate "qasm" is not valid qasm"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOs

### What is the current behavior?
[code]
[code]
The line `diagonal(1,1) q[0];` is not valid OPENQASM 2.0.

### Steps to reproduce the problem

[code]
[code]
### What is the expected behavior?

Qiskit should generate QASM that can be consumed by Qiskit.

### Suggested solutions

Not sure. Is

[2020-05-01 16:29] 1ucian0 commented on #4293
Assigned! Let me know if I can help.

[2020-05-01 17:03] enavarro51 commented on #4293
Ok. I'm on it.

[2020-05-01 17:21] ewinston commented on #4369
@nonhermitian `Operator.is_unitary` is implemented with `numpy.all_close` which allows setting an absolute and relative tolerance which it sets to 1e-8 and 1e-5 respectively. I think we should probably change diag to do the same, perhaps directly referencing the same tolerances.

[2020-05-01 17:45] nonhermitian commented on #4369
That seems like a reasonable solution to me.

[2020-05-01 20:31] enavarro51 commented on #4293
2 questions.
- In circuit_visualization, text_circuit_drawer and TextDrawing both have initial_state=True, but the original calling function, circuit_drawer has it set to False, which means it defaults to False on a call to circuit.draw(). Is there any reason it's set to True on those functions? Just want to do similar on calls to mpl.
- The q regs are printed at 1.25x the fontsize and the c regs

[2020-05-01 21:10] Dozzco commented on #4348
Thanks, I'll get on it now!

[2020-05-02 02:12] 1ucian0 commented on #4293
The reason for `text_circuit_drawer` to have a different default than `draw` is to avoid rewriting all the tests. Since we are not running tests for mpl, I dont think there is a need for that inconsistency in this case.

Probably a mistake. Everything to 1.25x seems reasonable to me.

[2020-05-02 02:30] enavarro51 commented on #4293
Ok. I made the mpl the same as the text for defaults. Also went ahead and did the 1.25x for both. So that's what's in the PR. Thanks.

[2020-05-02 08:55] rao107 commented on #4291
Hello! I haven't contributed to any open-source software but I want to try my hand at this.

[2020-05-02 12:31] aditya-giri opened #4379 "Incorrect docs for the U2 Gate"
![Capture](https://user-images.githubusercontent.com/30208735/80864184-ab9aed00-8c9e-11ea-8331-1c776a42e61c.PNG)

The last entry in row 1 of the matrix is incorrect and should be  `-e^(i*lambda)`, not `e^(-i*lambda)`.

Also, `U2(0,pi)` is H, and not `U2(pi,0)` as given in the docs.

[2020-05-02 12:59] 1ucian0 commented on #4291
Sure! Go ahead. Let me know if I can help!

[2020-05-02 13:39] aditya-giri commented on #4379
@1ucian0 shall I go ahead and take this? I just need to change the docstring at https://github.com/Qiskit/qiskit-terra/blob/4bd91fef2865c60a41de5c078994f027d38b536f/qiskit/circuit/library/standard_gates/u2.py#L23, right?

[2020-05-02 14:07] 1ucian0 commented on #4379
Indeed! Go ahead a fix it. Thanks 😊

[2020-05-02 16:01] artemiyburov commented on #4374
I'll try this, will write back this weekend if there is any progress

[2020-05-02 18:35] aditya-giri commented on #4379
Cool, will do 👍
Thanks!

[2020-05-02 19:14] 1ucian0 commented on #4374
Great! let us know!

[2020-05-02 19:27] 1ucian0 commented on #4379
oh! I think this is a duplicate with https://github.com/Qiskit/qiskit-terra/issues/4133 (PR https://github.com/Qiskit/qiskit-terra/pull/4165). @FranckChevallier is already working on this.

Sorry.

[2020-05-02 19:27] #4379 closed

[2020-05-02 19:30] 1ucian0 commented on #4133
@FranckChevallier sorry for the delay. There is no need to "cancel your previous PRs". You just can modify it in a following commit. In the master code, the history will be squashed, so no worries.

Sorry for the delay in the answer. Your message slipped through the cracks.

[2020-05-02 20:11] 1ucian0 commented on #4372
MPL drawer is not been tested and it's very hard to move forward with the amount of pending PR affecting it. We need to to prioritize testing on MPL asap.

[2020-05-02 22:02] neonipun commented on #4171
Hey @1ucian0 @taalexander! Any comments/Updates? Should I move forward with a PR of just ```len(self.instructions)``` in the ```Schedule``` class?

[2020-05-03 00:27] 1ucian0 commented on #4374
I think one possible approach is to make `DiagonalGate` a subclass of `UnitaryGate`. So `qasm` method can be inherited.

[2020-05-03 00:50] 1ucian0 commented on #4290
#4264 includes many things and some of them need some discussion. It would be great if fixing this issues is an independent PR. If possible, of course.

[2020-05-03 01:06] enavarro51 commented on #4290
Agreed. Since bundle on is the default here, I think it's only a few lines of code to move from the style dict to a kwarg for this. I can do this if you'd like. I assume we maintain bundle on as default in this drawer, even though I think I read elsewhere that you wanted it off for the text drawer.

[2020-05-03 01:47] 1ucian0 commented on #4290
But keep it in the style dict with a deprecation warning. We need to give some time to users to move the option to the parameter. Therefore, if defined in the style dict, raise a warning and override the parameter.

I'm not super worried about the default in the drawer because users do not use the drawer directly (probably the only users are the testsuite). So keep it as `cregbundle=True`, which i

[2020-05-03 03:13] delapuente opened #4381 "Function `disassemble` is failing on a circuit with an `iso` gate."
### Information

- **Qiskit Terra version**: 0.13
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

The following code:

[code]

Fails with:

[code]

### Steps to reproduce the problem

Run the following code:

[code]

### What is the expected behavior?

The function `disassemble` return a circuit equal to `qc`.

[2020-05-03 04:11] aditya-giri commented on #4379
Ah damn. Alright :)
I've got one pending PR over at qiskit-textbook, mind taking a look?

[2020-05-03 12:17] 1ucian0 commented on #4379
Keep an eye on #4133 and #4165. Just in case @FranckChevallier needs help or is unresponsive.

[2020-05-03 12:57] Dozzco commented on #4348
Testing it now, what should be the expected behavior for the FourierChecking object?

[2020-05-03 13:01] Dozzco commented on #4348
Hi, I'm sorry but as this is my first issue please could I get some help with this?

[2020-05-03 14:00] #3807 closed

[2020-05-03 14:56] FranckChevallier commented on #4133
Thanks @1ucian0 !

I am sorry to ask stupid question but since I've forked the project and commit my changes, other people have made some changes on the files I've worked on.
So I've merged my local master with the upstream/master.

Now I see three options, but I don't know which one is the best:
1. Create a new branch with the updates from the upstream and redo my changes (I am ok with that), But

[2020-05-03 16:14] 1ucian0 commented on #4133
Ping me on [Slack](https://qiskit.slack.com/) and can try to solve it together!

[2020-05-04 02:05] taalexander commented on #4171
Hi @neonipun, my apologies for the delay,
1. For now `__len__` should be based on `instructions`. I agree it is inefficient, however, there is an upcoming refactor that will mitigate this problem.
2. Testing with a method `test__len__` in `test/python/pulse/test_schedule.py` seems fine.
3. I do not think we need to add this to `ScheduleComponent` as this will be deprecated shortly.

[2020-05-04 02:53] HuangJunye commented on #1148
Google `qiskit qubit order` give this issue as the first result. We should add documentation to explain this convention. The best I've found in on the qiskit tutorials, terra/fundamentals/3_summary_of_quantum_operations.ipynb, Basis vector ordering in Qiskit section:

https://github.com/Qiskit/qiskit-tutorials/blob/d6fac46815c7fe6a132f0699526f999b55b76eeb/tutorials/terra/fundamentals/3_summary_of_

[2020-05-04 04:21] ajavadia opened #4383 "Allow `TransformationPass` to write to property set"
The property set is used to communicate information about the transpilation process "out-of-band" from one pass to the next. We originally disallowed `TransformationPass`es from writing it, with the idea that `AnalysisPass`es would exclusively collect information and `TransformationPass`es would exclusively modify circuits.

I think the latter assumption is hard to maintain going forward. For exam

[2020-05-04 05:27] aditya-giri commented on #4133
@FranckChevallier I don't see a merge conflict on the PR, so I think it should be enough to just make the change on your fork on the same branch that serves as the source for PR #4165 - that should automatically update the pull request.

[2020-05-04 05:27] aditya-giri commented on #4379
Will do, thanks

[2020-05-04 06:06] saswati-qiskit commented on #4161
Thanks @1ucian0 for assigning it to me...Working on this..Will give u an update tomorrow.

[2020-05-04 09:10] chahatagarwal commented on #4280
Thanks for Suggesting an alternate way. I got the logic of Disassembler and thus it follows a strict schema structure! If it accepts a generic and basic form of QObj then it would be much better. (like .run() for Simulation)

[2020-05-04 09:10] #4280 closed

[2020-05-04 12:59] #4370 closed

[2020-05-04 12:59] #4371 closed

[2020-05-04 16:14] enavarro51 commented on #4290
@1ucian0 further question on default value. Since the default is set at the draw() level and then is passed down through circuit_drawer(), matplotlib_circuit_drawer(), and on to MatplotlibDrawer, it seems the default for draw() will have to be the default for mpl. By the time it gets to mpl, it's unknown whether it's default or user set. Right now draw() is setting cregbundle to False and mpl shou

[2020-05-04 17:39] enavarro51 commented on #4290
Also I didn't see a reno for this feature. I assume there should be one with features and deprecations sections. And to confirm, it's only applicable to text and mpl drawers?

[2020-05-04 19:54] Dozzco commented on #4348
Sorry I'm taking so long, have had a lot of stuff going on, Testing the FourierChecking object now

[2020-05-04 21:18] taalexander opened #4388 "Don't draw pulse Schedule name by default when plotting"
### What is the expected enhancement?
Pulse schedule names are currently being drawn by default. Most names are useless as they are automatically generated. Names should be drawn as an optional flag.

[2020-05-04 23:41] enavarro51 commented on #4290
Also just discovered that some of the tests for mpl require the default cregbundle to be True.

[2020-05-05 01:25] 1ucian0 commented on #4290
We can set the default to true in draw and circui_drawer.

On Mon, May 4, 2020, 7:41 PM Edwin Navarro <notifications@github.com> wrote:

[2020-05-05 03:00] ajavadia opened #4391 "`circuit.draw(idle_wires=False)` should ignore barrier"
There is an option to the circuit drawers for not plotting qubits that are idle - this is useful for visualizing small circuits that happen to be embedded on large devices. However a barrier on a qubit is seen as a sign of non-idleness. I think barriers should just be ignored as they are not operations. And barriers on all device qubits gets inserted by the transpiler, so it makes this option usel

[2020-05-05 13:26] ajrazander opened #4395 "Simple Latex typo in u3 gate matrix definition"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Under the u3 gate definition, the 2nd row of the matrix is written (line 48 of u3.py):
                e^{i\phi}\sin(\th) & e^{i(\phi+\lambda)\cos(\th)}
Notice the code(\th) is in the exponent.

### Steps to reproduce the problem

The cos(\th) term should be taken out of t

[2020-05-05 14:40] FranckChevallier commented on #4133
Hi @1ucian0 , @aditya-giri ,
Thanks for your support.

The u2.py and u3.py have been moved to a new folder in the master branch: [qiskit/circuit/library/standard_gates/](https://github.com/Qiskit/qiskit-terra/tree/master/qiskit/circuit/library/standard_gates)

So I gonna update the files in this new folder from my previous branch, commit and do the PR.
Is that ok for you?

@1ucian0 to contact you

[2020-05-05 14:43] 1ucian0 commented on #4133
It's in the README: https://github.com/Qiskit/qiskit-terra#contribution-guidelines

[2020-05-05 14:56] 1ucian0 commented on #4290
You can delay the default decision by setting the style to `None`, so you will now if the user was explicit or not.

[2020-05-05 15:27] enavarro51 commented on #4290
Right. I thought about using None, but if we're ok with default True, that's how I'll leave it. Running last tests right now and will do PR shortly.

[2020-05-05 16:37] aditya-giri commented on #4133
@FranckChevallier can you also correct the U3 matrix definition, similar to what you did for U2?
 https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/library/standard_gates/u3.py#L47?

[2020-05-05 17:00] 1ucian0 commented on #4133
@aditya-giri do you mind doing this in a following PR?

[2020-05-06 02:38] 1ucian0 commented on #4395
this is addressed by https://github.com/Qiskit/qiskit-terra/pull/4165

[2020-05-06 06:17] tinjinkin opened #4397 "qiskit plots not showing up in spyder console"
### Information

- **0.17.0**:
- **3.7.7**:
- **Windows 10 home x64**:

### What is the current behavior?
I am using spyder 4.1.1 on Anaconda and any time I try to plot data it does not show up. The code runs with no errors but the plot it self does not appear anywhere.

### Steps to reproduce the problem
Running the code listed below which is from the IBMQ website:

[code]

### What is the expect

[2020-05-06 13:32] aditya-giri commented on #4133
I'd be happy to! I could finally make my first contribution here!

[2020-05-06 15:56] saswati-qiskit commented on #4161
Hi @1ucian0 , I did initial commit - https://github.com/saswati-qiskit/qiskit-terra/commit/52c899ae20aaef5e8b6f3081bfe6790ddbef72fb. I am yet to run the tests and style check.
After the change p = Parameter(name='1') returns - Parameter(1) and print(p.parameters) returns
{Parameter(1)}. Let me know if it looks ok to you.

[2020-05-06 18:19] enavarro51 commented on #4381
I think I have a fix for this. I've also added a test for disassembling isometry. Will do a PR later today.

[2020-05-06 19:49] hykavitha commented on #4391
@ajavadia : i would like to pick up this issue. can you elaborate how to achieve this?

[2020-05-06 19:57] nonhermitian opened #4401 "parallel map gives BrokenProcessPool error on OSX in Py38"
### Information

- **Qiskit Terra version**: master
- **Python version**: Py3.8.2
- **Operating system**: OSX

### What is the current behavior?

[code]

[code]

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-05-06 21:04] jb77777 commented on #1599
I had the same issue while installing qiskit, __init__.py was missing with several other. I used the workaround and it fixed the issue. thanks for sharing.

[2020-05-06 23:57] SeifMostafa commented on #4228
Checked code & it works for me, Any help? reviewing or something can do to release such a feature?

[2020-05-07 02:28] SeifMostafa commented on #4388
any hints guide me through?

[2020-05-07 06:46] t-imamichi opened #4406 "Manual for TGate is missing"
## Did you find a doc bug or broken link that needs to be fixed?

- What is the file name(s) where you found the bug?

https://qiskit.org/documentation/apidoc/circuit_library.html#standard-gates

- What is the current text that needs to be fixed or removed? (You can copy and paste)

There is no page for TGate, while SGate and TdgGate are available.

- What should the documentation say instead?

TG

[2020-05-07 18:04] 1ucian0 commented on #4171
Fixed via #4394

[2020-05-07 18:04] #4171 closed

[2020-05-07 23:16] taalexander opened #4413 "The pulse drawer should not override Matplotlib RCparams"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The pulse drawer inherits its styling [from](https://qiskit.org/documentation/stubs/qiskit.visualization.pulse.qcstyle.html). This overrides the default [Matplotlib rcparams](https://matplotlib.org/tutorials/introductory/customizing.html) which should determine the default

[2020-05-08 00:12] #4383 closed

[2020-05-08 08:55] t-imamichi opened #4414 "Memory leak of qiskit.quantum_info.Operator"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.7.7
- **Operating system**: Ubuntu 20.04

### What is the current behavior?

`qiskit.quantum_info.Operator(QuantumCircuit)` seems to have a memory leak.
`qiskit.quantum_info.Operator(ndarray)` does not have this issue.

### Steps to reproduce the problem

I ran the following code and saw that RSS and DATA increase.

Code:

[2020-05-08 13:08] mtreinish commented on #4155
This was fixed in qiskit-terra 0.14.0 with https://github.com/Qiskit/qiskit-terra/pull/4229

[2020-05-08 13:08] #4155 closed

[2020-05-08 14:01] kdk commented on #4414
This is caused by https://github.com/Qiskit/qiskit-terra/blob/1abc489/qiskit/converters/circuit_to_instruction.py#L94 , which automatically registers converted circuits in the equivalence library. I've got a branch that makes this behavior opt-in (because it causes other problems) that will resolve this.

[2020-05-08 14:34] taalexander commented on #4388
This is the code you should modify https://github.com/Qiskit/qiskit-terra/blob/9f2d61a9a8baf2bb773095576c96afa4a7048361/qiskit/visualization/pulse/matplotlib.py#L865. It will also require adding a new argument to the functions https://github.com/Qiskit/qiskit-terra/blob/9f2d61a9a8baf2bb773095576c96afa4a7048361/qiskit/pulse/schedule.py#L441 and https://github.com/Qiskit/qiskit-terra/blob/9f2d61a9a8

[2020-05-08 14:34] nonhermitian opened #4417 "ExcitationPreserving circuit docs should use jupyter-execute"
### What is the expected enhancement?

ExcitationPreserving circuit docs

https://qiskit.org/documentation/stubs/qiskit.circuit.library.ExcitationPreserving.html#qiskit.circuit.library.ExcitationPreserving

should use jupyter-execute

[2020-05-08 14:37] nonhermitian opened #4418 "PauliFeatureMap circuit should use jupyter-execute"
### What is the expected enhancement?

https://qiskit.org/documentation/stubs/qiskit.circuit.library.PauliFeatureMap.html#qiskit.circuit.library.PauliFeatureMap

[2020-05-08 17:42] nonhermitian commented on #1996
I think we good bow.

[2020-05-08 17:42] #1996 closed

[2020-05-08 20:37] conorp854 commented on #4349
Hi, I'd be interested in contributing if this issue is still available. This would be my first issue so I'm not completely sure where to start!

[2020-05-09 02:23] ajavadia commented on #2645
This is routinely failing `test.python.randomized.test_clifford`. @chriseclectic

[2020-05-09 10:57] TharrmashasthaPV opened #4421 "Error in drawing classical controlled custom instructions in latex drawer"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Classical controlled custom instructions which act on two or three qubits are improperly drawn by latex drawer as below:

![test_1](https://user-images.githubusercontent.com/51048173/81471877-e4dcdb00-9211-11ea-881e-a8e922d95846.png)

### Steps to reproduce the problem

[c

[2020-05-09 14:09] stfnmangini commented on #4228
I'd like to contribute to Qiskit's development (I owe you!). Since this would be the first time doing that, I feel this issue to be simple enough for starting. So, may I help with this in any way?

[2020-05-09 20:40] frankharkins commented on #4228
Thank you! First of all, where is most appropriate to put the function? In `qiskit.visualization`? It was suggested I also add it to the latex_repr of the `Statevector` class. I assume the function should live somewhere else though.

[2020-05-09 22:48] ardroc92 commented on #1148
Just leaving my opinion about the ordering convention. I found it very unnatural that the classical output bits are ordered in reverse compared to the qubits.

In my opinion, particularly when writing QuantumCircuit.measure([0,1,2], [0,1,2]), the only natural way to represent the output bits is in the same order as the qubits.

I am writing some content aimed at high school students, and I suspect

[2020-05-10 00:33] nonhermitian commented on #1148
@ardroc92 If it helps, the right most bit is the least significant bit. This is the bit at is multiplied by 2^0 when converting a bitstring to integer. The next bit multiplied by 2^1 and so on. So the exponent corresponds to the qubit number in the circuit.

[2020-05-10 00:43] ardroc92 commented on #1148
Thanks. I understand binary notation, but I don't see why it would be desirable here.

It seems very unnatural to specify the qubits to measure as [0,1,2] and representing the outcome bits in the order [2,1,0]. I doubt any quantum computing theorist would ever write outcomes strings on paper in this order. I'd be happy to be convinced that it helps in the programming enough to offset the inconveni

[2020-05-10 10:44] nonhermitian opened #4423 "Test failure in mock/test_fake_backends"
### Information

- **Qiskit Terra version**: master (Aer master and 0.5.1)
- **Python version**: 3.8
- **Operating system**: OSX

### What is the current behavior?
There is a pulse simulator mock backend test failure in `FakeBackendsTest.test_transpile_schedule_and_assemble`:
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-05-10 13:12] mtreinish commented on #4423
This looks like a bug in aer. Specifically after https://github.com/Qiskit/qiskit-aer/pull/695 the `calculate_channel_frequencies` is still using dict based access despite not using a dict anymore. L220 in pulse system model module should be updated from `if u_lo_idx['q'] < len(qubit_lo_freq):` to `if u_lo_idx.q < len(qubit_lo_freq):`

[2020-05-10 14:05] stfnmangini commented on #4228
Hi Frank, thank you for the chance! Let me dive into the docs, and see what I can find

[2020-05-11 02:34] SeifMostafa commented on #4388
Thanks for hints, am working on, max delivery weekend.

[2020-05-11 09:27] hykavitha commented on #4084
@taalexander :pl assign it to me.
I understand from your comments, all those instructions should be inside one file and that is pulse/isntructions.py.
correct?

[2020-05-11 10:18] bjader commented on #3929
If another user wants to make the change / pull request please feel free. Unfortunately, I've become swamped since the pandemic.

[2020-05-11 11:41] #4406 closed

[2020-05-11 14:03] FranckChevallier commented on #4133
Sorry @aditya-giri
I didn't notice it was the changes you wanted to do.
BTW I pushed the changes but now I don't know if any other action is required on my side.

[2020-05-11 14:07] aditya-giri commented on #4133
No problem @FranckChevallier, as long as someone fixes it 😃

[2020-05-11 16:26] taalexander commented on #4084
Yes, sounds good. Thank you @hykavitha

[2020-05-11 16:27] taalexander commented on #4074
In light of #4225 and #4204 do you have new thoughts here @lcapelluto?

[2020-05-12 14:04] lcapelluto opened #4436 "Add reset to circuits with transpiler"
### What is the expected enhancement?

The `reset` instruction will be a more optimal way to initialize circuits in the ground state than the default. Qubits which are active in a circuit, and which do not already have a reset instruction, should have a reset added to them by the transpiler, unless the optimization level is 0.

[2020-05-12 14:08] nonhermitian commented on #4436
I believe support for this is backend specific. That is unless they are ignored by those that do not support them.

[2020-05-12 15:46] chriseclectic commented on #4437
This is changing the qobj spec for "cx" which is not a parameterized gate. If you transpile and assemble for a backend that only supposed "cx" this is the resulting qobj from your example:

[code]

An open-controlled-X gate should be compiled to `x q0; cx q0, q1; x q0` for correct execution on a backend.

[2020-05-12 16:44] #4194 closed

[2020-05-12 19:58] chowington opened #4439 "AttributeError when drawing circuit using Matplotlib"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.7.6
- **Operating system**: Ubuntu 16.04

### What is the current behavior?

When trying to draw a `QuantumCircuit` object using `.draw(output='mpl')`, I'm getting `AttributeError: 'Instruction' object has no attribute 'label'` in `qiskit/visualization/matplotlib.py`. The circuit draws fine using the default text drawer.

[2020-05-12 20:21] mtreinish commented on #4439
There is already a fix in progress for this issue: https://github.com/Qiskit/qiskit-terra/pull/4389 It's caused by certain gates (or circuit library elements that were converted to gates or instructions) missing a label attribute which the mpl drawer incorrectly assumes is always present.

[2020-05-12 23:57] TharrmashasthaPV commented on #1160
Hi @1ucian0 , @ajavadia . I need some clarification. For reference look at:

https://github.com/Qiskit/qiskit-terra/blob/c74f87f47cb91192e77bfb3d123740157f5cc55c/qiskit/circuit/instruction.py#L265

I think if a cbit is given as input to c_if, for the given instruction we could set self.condition as the tuple containing the register corresponding to the cbit and the adjusted control value. What do

[2020-05-13 02:50] ajavadia opened #4440 "`Operator()` does not respect tensor order convention"
Qiskit uses little-endian convention for representing qubit order: q2 ⊗ q1 ⊗ q0

When doing unitary simulation corresponding to a gate/circuit (i.e. to obtain "the gate matrix") you have to make an implicit assumption about how the gate is applied. In my opinion the gate alone does not have a matrix, only when applied does it make sense to describe it via a matrix. For example, in the little-endia

[2020-05-13 03:14] ajavadia opened #4441 "align_center() DSL directive"
This is a follow up to #4174 to add another directive for aligning the pulses that appear within a block at their center. I think this is not that different from the other alignments (left, right). You would just find the longest pulse within that block and reserve a slot of that size. Mark the center point as `c`. Then all other pulses will last from `c-duration/2 - c+duration/2`.

Example:

[cod

[2020-05-13 09:35] MGLetsoalo commented on #3892
The construction of a worldline can be used as an initialization technique where the worldline represents a set of all states in our quantum system of interest. To say that the wavefunction can be anywhere on our worldline is to say that the no cloning theorem applies here. we can construct a chain of 10 C atoms as our mock qubits for an instance and thus computation involves the use of quantum pr

[2020-05-13 16:14] ajavadia opened #4443 "Rename BasicAer as a test provider"
BasicAer is not needed anymore now that the `quantum_info` module can be used to simulate circuits. `quantum_info` has a more flexible workflow as you are not tied to the job/result interface and is nice for small circuit calculations. It is also faster as it bypasses serialization.

`Operator(qc)` (unitary) or `zero.evolve(qc)` (statevector) or `zero.evolve(qc).probabilities_dict()` (counts)

The

[2020-05-13 16:23] #4414 closed

[2020-05-13 20:32] taalexander opened #4445 "Bug in scheduler if circuit is empty"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
A bug was found in the scheduler if the circuit is empty. The fix is here in my pulse builder PR. This should be fixed, and tests in master and a backport made.

https://github.com/Qiskit/qiskit-terra/blob/40fe25df33f89432e2829a8fdb37f968c602106f/qiskit/scheduler/methods/ba

[2020-05-14 06:28] Zhuravlev-A-E opened #4447 "qasm() don't work with gate added by squ()"
In my program (see below) I use squ() to add unitary gate into my circuit, print this circuit, run it and print result.
Then I want to print this circuit as qasm-code by using qasm() but an error is occurred, see below...
Please help me to fix this error
[code]

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.8
- **Operating system**: linux mint 19.3

### What is the current behavior?
[

[2020-05-14 07:47] hykavitha commented on #4074
Hi @taalexander  & @lcapelluto :  #4225  #4204 are work in progress from me. Maybe I can handle this as another issue, but how please direct me?

[2020-05-14 10:38] quantumjim opened #4461 "`initialize` and `Statevector` don't play nicely"
### Informations

- **Qiskit Aer version**: 0.5.1
- **Python version**: 3.7.3
- **Operating system**: OSX

### What is the current behavior?

Using `initialize` in a circuit and then running with `Statevector` results in the error "Cannot apply Instruction: reset"

### Steps to reproduce the problem

[code]

[2020-05-14 10:59] nonhermitian opened #4448 "qc.to_gate().to_matrix() should use Operator"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
This works:
[code]

This does not:

[code]
`
CircuitError: "to_matrix not defined for this <class 'qiskit.circuit.gate.Gate'>"`

### Steps to reproduce the problem

### What is the expected behavior?
I would assume that the `to_matrix()` method could call the `Operat

[2020-05-14 11:00] nonhermitian commented on #4448
Also the type hints are incorrect as a NumPy array can never be returned from a method that always raises.

[2020-05-14 13:20] nonhermitian opened #4449 "MPL drawer leaves lots of white space to left of transpiled circuits"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Original:
<img width="707" alt="Screen Shot 2020-05-14 at 09 18 24" src="https://user-images.githubusercontent.com/1249193/81939191-01876300-95c4-11ea-9973-27d135848400.png">

Transpiled:

<img width="996" alt="Screen Shot 2020-05-14 at 09 18 38" src="https://user-im

[2020-05-14 14:30] enavarro51 commented on #4220
@1ucian0 I can pick this one up if you'd like.

[2020-05-14 16:38] Cryoris opened #4451 "How should multi-controlled gates be added?"
Multi-controlled gates are currently partially objects (`MCX MCU1`) and partially functions monkey-patched to the circuit (`mcr*`).  Some, as the `MCX` are moving to the circuit library, some are already, as the `GMS`. In principle library objects can be added to the circuit using `compose`, but all multi-controlled gates right now are accessible as circuit methods.

This raises two questions:
1.

[2020-05-14 20:32] ajavadia commented on #4448
the "bug" label isn't appropriate for these things they are enhancements

[2020-05-14 21:44] 1ucian0 commented on #4443
I think there is some value in keeping `BasicAer` API as a backend included in terra, using the `quantum_info` module under. It makes terra battery-included and allow us to test `quantum_info` as yet another backend.

I dont feel super strong about this, but just my two cents.

[2020-05-14 22:36] kdk commented on #2645
Reopening issue so the bot can add future failures here.

[2020-05-14 22:48] taalexander commented on #4441
What is unclear to me is the desired behavior when there are multiple pulses on a given channel in a block? Do we wish to squeeze them together in the center like so?

[code]
If so this should be straightforward to implement.

[2020-05-15 00:18] ajavadia commented on #4441
Yeah I think that would be a fine behavior.

[2020-05-15 01:28] taalexander commented on #4441
Ok, excellent we will tackle this in a follow-up feature PR.

[2020-05-15 09:47] TharrmashasthaPV commented on #4352
Hi @1ucian0 . This problem is primarily seen in the parametrized operations. This is due to very large parameter descriptions since the size of the parameter is used to compute the layer width for each layer of gates. As for isometry, the parameter is the matrix I suppose. So I think if we use the size of parameter to compute the layer width only if the length of the parameter is below an upper bo

[2020-05-15 11:51] QacoBot opened #4455 "Branch `stable/0.14` is failing"
Trying to build `stable/0.14` at commit 99f97b00269624b57203685437fb951af4b4e103 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334531237

[2020-05-15 11:52] QacoBot opened #4456 "Branch `mergify/bp/stable/0.14/pr-4409` is failing"
Trying to build `mergify/bp/stable/0.14/pr-4409` at commit fb92fec108e4f1ca1d264ac4ca7e2e0fa2f7e366 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334531404

[2020-05-15 11:52] QacoBot opened #4457 "Branch `stable/0.14` is failing"
Trying to build `stable/0.14` at commit 99f97b00269624b57203685437fb951af4b4e103 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334531236

[2020-05-15 11:53] QacoBot opened #4458 "Branch `mergify/bp/stable/0.14/pr-4409` is failing"
Trying to build `mergify/bp/stable/0.14/pr-4409` at commit fb92fec108e4f1ca1d264ac4ca7e2e0fa2f7e366 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334531403

[2020-05-15 12:09] chriseclectic commented on #4448
I thought this had been discussed and decided against before. The point of doing it as `Operator(qc)` is because you are intentionally doing a unitary simulation, while with `qc.to_gate.to_matrix()` it is not obvious this is a simulation . The original point of the `to_matrix` method for gates was to return the canonical matrix description of standard library gates.

[2020-05-15 12:28] chriseclectic commented on #4443
I agree with removing for a separate reason: I think the main reason for it existing was due to C++ build issues with early version of Qiskit Aer, which are a lot better now.

If we do decide to keep BasicAer, we should only keep the QasmSimulator and remove the Unitary and Statevector simulators since as mentioned they provide nothing over the `Operator` and `Statevector` classes other than a les

[2020-05-15 12:33] QacoBot opened #4459 "Branch `stable/0.14` is failing"
Trying to build `stable/0.14` at commit 286d199393e652e4705505e1922c2a23417bb17d failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334547025

[2020-05-15 12:34] QacoBot opened #4460 "Branch `stable/0.14` is failing"
Trying to build `stable/0.14` at commit 286d199393e652e4705505e1922c2a23417bb17d failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334547024

[2020-05-15 13:51] nonhermitian commented on #4461
That is not just the initial state of the qubits?  That is what used to be there.  It is hard to tell the difference here.  So that means that initialize is no longer a unitary operation like it was before?  I guess I missed that as well.

[2020-05-15 13:52] chriseclectic commented on #4461
A reset method was added to the Statevector class last release, so the simulator could be updated to work with initialize via adding support of reset to the the from_instruction method.

[2020-05-15 13:53] chriseclectic commented on #4461
@nonhermitian I think this was changed recently in the draw function. Now circuits are drawn without any initial states, so any time you see them they refer to reset instructions.

[2020-05-15 14:00] nonhermitian commented on #4461
Yeah, it is just that the original text drawing is very close to the reset instructions so it is hard for the user to understand.

[2020-05-15 14:07] nonhermitian commented on #4448
Then I fail to see why this method is there?  Indeed, it just raises.  It is also confusing because things in here: `qiskit.circuit.library.standard_gates` are gates, but are not instances of `Gate` (at least not `CCXGate`).  So we currently have at least two types of "gates" that have the same method `to_matrix()`, but only one works.  The `Gate` class also has a `power` method that uses `Operato

[2020-05-15 16:02] QacoBot opened #4462 "Branch `master` is failing"
Trying to build `master` at commit 6dbf9dd06b52e4530747bae0af69d728f011f431 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334663037

[2020-05-15 16:03] QacoBot opened #4463 "Branch `master` is failing"
Trying to build `master` at commit 6dbf9dd06b52e4530747bae0af69d728f011f431 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/334663036

[2020-05-15 16:08] chriseclectic commented on #4461
In principle I could also add support for `Measure` instructions in the `from_instruction`, but this would just simulate measurement sampling and collapse, you wouldn't actually get the measurement outcome value. Is this preferable to raising an exception or is it better to leave it as raising an exception if measurements are in the circuit? (@ajavadia @jaygambetta )

[2020-05-15 19:10] QacoBot opened #4466 "Branch `master` is failing"
Trying to build `master` at commit d4bbaf605c985d66467fbc5460ba17bf6f7cdcbe failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/335356668

[2020-05-15 19:11] QacoBot opened #4467 "Branch `master` is failing"
Trying to build `master` at commit d4bbaf605c985d66467fbc5460ba17bf6f7cdcbe failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/335356667

[2020-05-15 20:22] drewrisinger commented on #3688
As an end-user looking at doing exactly this, I'd be interested in this functionality. If there is no registration decorator, where would we need to plug into/overwrite this functionality? ``qiskit.qobj.converters.pulse_instruction.ParametricPulseShapes``, AFAICT? https://github.com/Qiskit/qiskit-terra/blob/6dbf9dd06b52e4530747bae0af69d728f011f431/qiskit/qobj/converters/pulse_instruction.py#L31-L4

[2020-05-15 21:13] taalexander commented on #3688
Yes, I think you have the right idea. This would likely need to be modified into a registry, that registers standard pulses.

[2020-05-15 22:48] drewrisinger commented on #3688
Hacky and haven't fully tested it, but looks like the following also temporarily does the job (not as good as registering)
[code]

[2020-05-15 22:50] scottwn commented on #4447
Hey, I'll take a crack at this this weekend

[2020-05-15 23:58] scottwn commented on #4447
@Zhuravlev-A-E does this output look right to you?
[code]

[2020-05-16 03:23] Zhuravlev-A-E commented on #4447
Hi Scott!

Thank you very much for the answer!

I think yes, it will look quite normal.

Best regards,
Zhuravlev-A-E

сб, 16 мая 2020 г. в 07:58, Scott Wyman Neagle <notifications@github.com>:

[2020-05-16 13:55] Zhuravlev-A-E commented on #4447
I checked the new squ.py - it issued the qasm-code and worked without errors!
Thank you very much!!!

[2020-05-16 16:13] taalexander commented on #3688
This does seem like a good temporary solution 👍.

[2020-05-16 21:32] obarbier commented on #4374
any update on this. I am new here and looking to get started with some issue and getting to know the code base

[2020-05-16 22:53] artemiyburov commented on #4374
It seems the issue is a bit complicated. The problem plagues the rest of the classes in quantum_initializer as well:
`from qiskit import QuantumCircuit

qc = QuantumCircuit(2)
qc.ucrz([0,0], [0],[1])
qasm = qc.qasm()
QuantumCircuit.from_qasm_str(qasm)`

I tried making `DiagonalGate` a subclass of `UnitaryGate` as @1ucian0 suggested, but the issue there is that `DiagonalGate` constructor builds wit

[2020-05-16 23:04] artemiyburov commented on #4374
The course of action would be as follows in my current understanding: either make everything a subclass of `UnitaryGate` and use its qasm constructor. Or (I prefer this option personally) make a qasm constructor for every class in `quantum_initializer`. This involves translating the multiplexed gates into gates that qasm understands.

Also I think it would be good to leave the spirit of the code a

[2020-05-17 11:13] Kalpeshcodes commented on #4170
If the issue has not been resolved then i would like to give a try on it. This will be my first issue

[2020-05-17 11:31] Kalpeshcodes commented on #4170
The issue seems to be still not resolved (checked by the running the code on my system). I would like to give it a try if it is still not done.

[2020-05-17 11:53] Cryoris commented on #4170
Yes, it's still open! Let us know if you want to discuss something or could use some help 👍

[2020-05-17 11:55] Kalpeshcodes commented on #4170
For sure @Cryoris

[2020-05-17 18:15] stfnmangini commented on #4228
I think qiskit.visualization is the best place to put the `array_to_latex` function, as this is indeed a visualization feature. However, I cannot find the `latex_repr` of the `Statevector` class you mentioned. Isn't it enough to put this new (and very nice) feature in the `qiskit.visualization`?

[2020-05-17 19:23] juicedatom commented on #4413
@taalexander you mind if I take this one?

[2020-05-18 04:02] metacubestormerxii12 commented on #4391
Is it ok if I try this issue?

[2020-05-18 07:01] #4461 closed

[2020-05-18 08:29] ajavadia commented on #4391
Yes thank you :)

[2020-05-18 11:19] mtreinish commented on #4467
Fixed by: https://github.com/Qiskit/qiskit-terra/pull/4296

[2020-05-18 11:19] #4467 closed

[2020-05-18 11:19] mtreinish commented on #4466
Fixed by: https://github.com/Qiskit/qiskit-terra/pull/4296

[2020-05-18 11:19] #4466 closed

[2020-05-18 11:20] mtreinish commented on #4463
Fixed by: https://github.com/Qiskit/qiskit-terra/pull/4296

[2020-05-18 11:20] #4463 closed

[2020-05-18 11:20] mtreinish commented on #4462
Fixed by: https://github.com/Qiskit/qiskit-terra/pull/4296

[2020-05-18 11:20] #4462 closed

[2020-05-18 12:33] Kalpeshcodes commented on #4170
I am trying to install qiskit-terra from source
when I do
pip install -e .
It give me this error
I have install visual c++ from the link in error
I did not check and box during its installation

 ERROR: Command errored out with exit status 1:
     command: 'C:\Users\Bhatnagar\Anaconda3\envs\IssueFixingenv\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Bhatnagar\\qi

[2020-05-18 12:37] Kalpeshcodes commented on #4170
I downloaded visual c++ compiler from this link
https://visualstudio.microsoft.com/visual-cpp-build-tools/

[2020-05-18 12:51] Cryoris commented on #4170
Did you install `cython`? If you follow all steps on https://qiskit.org/documentation/contributing_to_qiskit.html#installing-terra-from-source (choose the Windows Tab) you should be able to install Terra from source.

[2020-05-18 12:54] jaygambetta commented on #4443
I agree it is time for basis aer to go as aer works  and the quant-info  should  replace it

[2020-05-18 12:55] Kalpeshcodes commented on #4170
Yes I did. I followed all the steps on the documentation link.

[2020-05-18 13:11] #4381 closed

[2020-05-18 13:13] Kalpeshcodes commented on #4170
I forked qiskit-terra to my account
so rather then doing

git clone https://github.com/Qiskit/qiskit-terra.git

I used my link to clone could that be a reason for the error?

[2020-05-18 13:29] Cryoris commented on #4170
No that should not matter. It seems like pip cannot find Microsoft Visual C++, maybe try re-installing it or browsing similar issues in stackoverflow, such as https://stackoverflow.com/questions/49610212/pip-error-even-microsoft-visual-c-14-0-is-installed.

[2020-05-18 13:34] nonhermitian commented on #4170
Another option would be to try:

python setup.py build_ext —inplace

To see if it can build the modules that way. That works for me.

[2020-05-18 15:23] Kalpeshcodes commented on #4170
Thanks @Cryoris and @nonhermitian it worked for me. I am starting to resolve the issue.

[2020-05-18 15:44] kdk commented on #4374
Hi @artemiyburov , thanks for looking into this. I agree with adding a modified qasm method to the needed classes. I think the best path forward is to abstract the qasm method from `UnitaryGate` into either a role or a class decorator which can be reused for any gates that have to be synthesized before exporting to qasm.

[2020-05-18 15:50] 1ucian0 commented on #4291
It seems there is a small bug:
[code]
with `circuit.draw('latex', cregbundle=False)`:
![image](https://user-images.githubusercontent.com/766693/82233088-74167c80-98fd-11ea-9e9a-5fbffb4b1dab.png)

with `circuit.draw('latex', cregbundle=True)`:
![image](https://user-images.githubusercontent.com/766693/82233149-8a243d00-98fd-11ea-8fd0-445d458fc652.png)

The expected result is to have two registers in

[2020-05-18 20:04] ajavadia commented on #1148
@ardroc92

Not sure what you mean by this. One of the nice things about this convention is precisely that qubits and classical bits have the same order (little endian). This means q1 is more significant than q0, and c1 is more significant than c0. So if you prepare a quantum state `|10>` and measure `q1->c1` and `q0->c0`, you will read out `10`. And this converts to decimal nicely too: `|2>` -> `2

[2020-05-18 20:21] ardroc92 commented on #1148
@ajavadia Thanks for the detailed reply!

The part that I find unnatural is the fact that if you write qc.measure([0,1], [0,1]), then as in your example, the outcome is {'10': 1024}. I would have expected it to be '01'.

What I am not a fan of is that when I draw the circuit qc using qc.draw the qubits are represented with the |0> qubit at the top and |1> qubit at the bottom. The typical conventio

[2020-05-18 20:58] ajavadia commented on #1148
Ok I think in your case the confusion comes from this syntax `qc.measure([0,1], [0,1])`.
This just means `qc.measure(qubits=[0,1], clbits=[0,1])`. And it measures q0 to c0 and q1 to c1. It would be exactly the same if you wrote `qc.measure([1,0], [1,0])`.
If this shorthand one-liner is confusing, expand it to multiple lines:
[code]

As for drawing, yes as you see in the origin of this issue I was

[2020-05-18 22:07] ardroc92 commented on #1148
Thanks for the patience. I was clear about the sintax of qc.measure, and I understand that everything can be fixed with a "reverse" somewhere. Maybe one way to precisely frame my "complaint" is:

the choice of default ordering for the representation of the outcome string is inconsistent with the choice of default ordering for qubits in a drawn circuit.

And, I have to admit, even if the "reverse_b

[2020-05-19 01:09] metacubestormerxii12 commented on #4391
By the way, could you show an example of what you mean by this? I think I have replicated this issue but not 100% sure

[2020-05-19 01:12] metacubestormerxii12 commented on #4391
Ok I think I understand now actually.

[2020-05-19 02:11] jaygambetta commented on #4440
i totally agree.

[2020-05-19 09:55] rao107 commented on #4291
Oh wow, I never realized that multiple classical registers could be in the same circuit! That's pretty interesting. I'm working on squashing that bug now.

Relating to the side note: I'll certainly try my best to fix the formatting and avoid moving the gates to the right but, even from a brief look, the problem looks more complicated than I can handle. It's not going to stop me from trying though!

[2020-05-19 13:19] taalexander commented on #4413
That would be excellent, thank you very much 👍 .

[2020-05-19 13:46] Kalpeshcodes commented on #4170
I am trying to debug.
This issue persists with matplotlib and ASKII circuit.draw()
it does not go away even with pi = np.pi (using numpy)
any idea where can the issue be which can lead to this issue persisting in all the above cases?

[2020-05-19 13:48] drewrisinger commented on #3688
follow-up. The above ^^ method doesn't work b/c of the enum lookup in ``qiskit.assembler.assemble_schedules::_assemble_instructions()``: https://github.com/Qiskit/qiskit-terra/blob/ff5fede2dadf338e7ba36a3efcbf4df6b0e651aa/qiskit/assembler/assemble_schedules.py#L179-L180
Per https://docs.python.org/3/library/enum.html#programmatic-access-to-enumeration-members-and-their-attributes, looking up an en

[2020-05-19 14:37] drewrisinger commented on #3688
Found a better solution than above. Unfortunately it involves an extra python library, but it's a one-line solution, so...

It uses https://pypi.org/project/aenum/
[code]

[2020-05-19 15:03] #4133 closed

[2020-05-19 15:03] #4395 closed

[2020-05-19 17:34] #4361 closed

[2020-05-19 18:18] #4445 closed

[2020-05-19 22:07] 1ucian0 commented on #4460
Moved to https://github.com/Qiskit/qiskit-ibmq-provider/issues/673

[2020-05-19 22:07] #4460 closed

[2020-05-19 22:09] 1ucian0 commented on #4459
Moved to https://github.com/Qiskit/qiskit-ibmq-provider/issues/673

[2020-05-19 22:09] #4459 closed

[2020-05-19 22:10] 1ucian0 commented on #4458
Moved to https://github.com/Qiskit/qiskit-ibmq-provider/issues/673

[2020-05-19 22:10] #4458 closed

[2020-05-19 22:45] 1ucian0 commented on #4457
Moved to https://github.com/Qiskit/qiskit-ibmq-provider/issues/673

[2020-05-19 22:45] #4457 closed

[2020-05-19 22:47] 1ucian0 commented on #4456
Moved to https://github.com/Qiskit/qiskit-ibmq-provider/issues/673

[2020-05-19 22:47] #4456 closed

[2020-05-19 22:48] 1ucian0 commented on #4455
Moved to https://github.com/Qiskit/qiskit-ibmq-provider/issues/673

[2020-05-19 22:48] #4455 closed

[2020-05-20 09:18] t-imamichi opened #5718 "How to deal with removal of BasicAer?"
### What is the expected enhancement?

The removal of BasicAer is under discussion.
https://github.com/Qiskit/qiskit-terra/issues/4443

There are some Aqua modules that use BasicAer, e.g., CircuitOp.
It would be good to discuss how to deal with the removal.

[2020-05-21 03:41] Zhuravlev-A-E commented on #4447
In addition:
Unfortunately, the same error occurs when qasm () is called for circuit with the addition of the iso() gate:
[code]
[code]

[2020-05-21 18:50] mtreinish opened #4484 "Transpile Performance Regression"
### Information

- **Qiskit Terra version**: >=0.14.0
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

https://github.com/Qiskit/qiskit-terra/commit/529a22b6 made some changes to how we reorder bits in stochastic swap and basic swap. These change slow down these passes about [2x slower for basic swap ](https://qiskit.github.io/qiskit/#mapping_passes.PassBen

[2020-05-22 06:37] MadhavJivrajani commented on #4350
Hey, I'd like to work on this :')

[2020-05-22 07:20] saswati-qiskit commented on #4161
Hi @1ucian0 , I have fixed the issue and the pull request is
https://github.com/Qiskit/qiskit-terra/pull/4486

[2020-05-22 13:54] Cryoris commented on #4170
It's a bit difficult to give comments without explicit information, what did you try to fix the issue? 🙂

[2020-05-22 16:39] srijithprabhu commented on #3923
Do you mind if I take this on?

[2020-05-23 08:54] ZuansiCai commented on #2822
hi @1ucian0 can i have a shot with this

[2020-05-23 11:38] 1ucian0 commented on #2822
This issue seems closed. Do you think it was wrongly closed @ZuansiCai  ?

[2020-05-23 22:13] metacubestormerxii12 commented on #4397
May I try to fix this bug?

[2020-05-24 03:30] metacubestormerxii12 commented on #4397
I'm pretty sure that only ascii based displays can be shown on the console window on  spyder. Just to make sure, I tried displaying a bloch sphere and it didn't show up either.

[2020-05-24 03:37] metacubestormerxii12 commented on #4179
May I take this issue?

[2020-05-24 16:35] mantcep commented on #4011
Hi, I would like to try solving this as my first contribution, would that be fine? And if I could pick this up, could you let me know what would be the best way to unroll the instructions and check whether they are unitary?

[2020-05-24 23:20] #1914 closed

[2020-05-25 01:22] ajavadia commented on #4440
@chriseclectic pointed out something and I thought some more, and I think what I'm proposing here is not feasible unfortunately. Otherwise we would get different results from:
[code]

 So in little-endian convention we cannot define `Operator(CXGate())` to be
[code]
because CXGate already implicitly defines an ordering of its wires. CX is a 2-qubit gate - 0th qubit must be control and 1st qubit mu

[2020-05-25 01:22] #4440 closed

[2020-05-25 08:11] MadhavJivrajani opened #4493 "Check for symmetry needed in hidden_linear_function.py for input matrix A"
### What is the expected enhancement?
The input adjacency matrix A for `HiddenLinearFunction` should be required to be a symmetric matrix. A check for the same seems to be missing in `qiskit/circuit/library/hidden_linear_function.py`

Please let me know if I'm missing something here.

[2020-05-25 12:18] Cryoris commented on #4493
No you're right, it should be symmetric. Do you want to add the check?

[2020-05-25 12:21] MadhavJivrajani commented on #4493
Surely! I'll send in a PR, thanks!

[2020-05-25 14:15] Cryoris commented on #4443
The one advantage BasicAer has, is that you can run circuits containing Barrier/Measure/Reset instructions. If we'll run algorithms from Aqua on quantum_info, we'll have to work around some of these (mostly to replace BasicAer's QASM simulator).

Alternatively, we could require Aer to be installed for any QASM simulations, but "Terra, batteries included" for both statevector and QASM seems nicer t

[2020-05-26 02:41] tinjinkin commented on #4397
Maybe, though it seems a bit odd given that it looks like it is based on matplotlib, which works fine usually with spyder but maybe something is different.

[2020-05-26 07:08] yaelbh opened #5744 "Unused measurement gates in VQE circuits"
### Information

- **Qiskit Aqua version**: master
- **Python version**: 3.8.1
- **Operating system**: Linux

### What is the current behavior?

Running VQE with Aer Pauli expectation, the circuit that's sent to the simulator measures all the qubits. While the measurement results are not used, they may affect performance.

Specifically, they are not so expensive for the statevector simulator: one

[2020-05-26 10:03] nonhermitian opened #4496 "Generic Gates have no color in MPL circuit drawer"
From [Qiskit Textbook 2.5](https://qiskit.org/textbook/ch-gates/more-circuit-identities.html):

[code]

![image](https://user-images.githubusercontent.com/1249193/82887804-83f21a00-9f16-11ea-8654-ccce9f785864.png)

### Suggested solutions

[2020-05-26 10:09] Cryoris commented on #4011
Hi @mantcep, great that you're interested!

I had a look at this issue during another project, my current solution tries to unroll the instructions in the circuit until only `Gate` types are left, or raises an error if an instruction cannot be further decomposed. It looks like this:
[code]
Is this something similar to what you had in mind?

My main concern here is performance though, I'm not sure

[2020-05-26 13:44] enavarro51 opened #4497 "mpl drawer should use text width instead of text len"
### What is the expected enhancement?
The mpl drawer uses the number of chars in a name, label, etc. in order to determine its width. This works fine for the text drawer, but since the mpl drawer uses a proportional font, this leads to inconsistent drawing. The text len is used to determine the box size for longer names and the layer width. It is also used to get the width of the params. For this

[2020-05-26 13:51] enavarro51 commented on #4496
For single qubit gates that do not have a color assigned for their name in qcstyle, the gate color is assigned the default, which is for some reason currently white. I assume the default should be the purple used for multi-gates.

[2020-05-26 16:38] #4291 closed

[2020-05-27 08:53] quantumjim opened #4500 "barrier counted as non-local gate"
### Information

- **Qiskit Terra version**: 14.1
- **Python version**:
- **Operating system**:

### What is the current behavior?

The `num_nonlocal_gates` method of the `QuantumCircuit` object counts mult-qubit barriers as non-local gates (since the `num_qubits` of the instruction is >1). I don't think users would expect this.

### Steps to reproduce the problem

[code]

### What is the expected

[2020-05-27 13:03] #4493 closed

[2020-05-27 14:30] assombrance opened #4502 "Cannot import the QFT QuantumCircuit module"
### Information

- **Qiskit Terra version**: 0.13.0
- **Python version**: 3.8.2
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

QFT import fails.
![image](https://user-images.githubusercontent.com/16243442/83033146-096ceb80-a037-11ea-893c-490aa15f0565.png)

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The same command in the IBM Quantum E

[2020-05-27 14:31] Cryoris commented on #4502
If you update your Qiskit version the import should work, the QFT came with Terra 0.14.

[2020-05-27 14:35] #4161 closed

[2020-05-27 15:00] assombrance commented on #4502
Oh, sorry, I checked the version on IBM's server and Terra version given in the "Start Coding with Qiskit" manual was 0.12.0. I didn't thought about rerunning the command. They are indeed in version 0.14.1.
Thanks !

[2020-05-27 18:05] haqenam786 opened #4504 "plot_histogram() is not displaying any plot"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-05-27 18:08] #4502 closed

[2020-05-27 18:41] mantcep commented on #4011
Hi @Cryoris!

To be honest, I am quite new to Qiskit, so I did not really have a solution in mind. I wanted to start contributing to Qiskit by fixing issues and this issue just seemed really interesting to me. I was hoping I could get some guidance or figure it out when going into the details. Could I still contribute to it in some way even with limited knowledge? Also, since you already worked on

[2020-05-27 20:50] maikatakita opened #4506 "circuit draw() does not show properly when you use output='mpl' and fold=-1"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.7.4
- **Operating system**: Darwin

### What is the current behavior?
For a quantum circuit, qc, when you run qc.draw(output='mpl', fold=-1) the circuit is drawn in one line but the horizontal lines and registers are gone. Works with output='text'.

### Steps to reproduce the problem
q = QuantumRegister(2, 'q')
c = Classic

[2020-05-28 02:20] metacubestormerxii12 commented on #4179
Does anyone know how to view images on the Azure pipeline logs? I keep getting errors stating that the drawings produced by the code does not match the reference images. This is especially intriguing as I have directly replaced the reference images with the drawing that is produced when running the test code. However, the similarity ratios for the outcomes of the tests once I run the tests are sti

[2020-05-28 07:26] #4350 closed

[2020-05-28 10:07] romilly opened #4510 "hello_quantum.py example fails because Armonk is a 1-qubit provider"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.7.5
- **Operating system**: Linux Mint 18.3

### What is the current behavior?

When I run the  hello_quantum.py example it fails  with `qiskit.transpiler.exceptions.TranspilerError: 'Number of qubits (2) in circuit8 is greater than maximum (1) in the coupling_map'`

 because IBM Armonk is in the list of available provider

[2020-05-28 13:34] mtreinish commented on #4510
Sure, please feel free to push a pull request to update the example. One suggestion I'd make on your example is to do some thing like:

[code]

instead of manually filtering in a separate function, just to keep the example simpler.

The ibmq provider uses https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/providers/providerutils.py#L22 which lets you pass a callable filter (in addition to f

[2020-05-28 13:53] romilly commented on #4510
Great, thanks. I should have spotted the filter :)

PR to follow shortly.

On Thu, 28 May 2020 at 14:34, Matthew Treinish <notifications@github.com>
wrote:

--
personal:@romillyc work:@rareblog skype:romilly.cocking web:
http://blog.rareschool.com/

[2020-05-28 14:24] Cryoris commented on #4011
You certainly can contribute! All issues labeled as [good first issue](https://github.com/Qiskit/qiskit-terra/labels/good%20first%20issue) are potential candidates if you want to start contributing. Your time is probably better invested in a new issue, than this one so we're not doing duplicate work 🙂
How about this one for example: https://github.com/Qiskit/qiskit-terra/issues/4349 ? I don't thin

[2020-05-28 14:58] challngr commented on #4484
Some more data points.  I apologize that some of the columns are missing as I have not been keeping full statistics on the variants until recently.

I have been watching transpiler performance for a while mostly to insure the QiskitC effort stays on track.  Attached is a spreadsheet with data showing the performance regression in the Python code.  The first three tables show performance with Basic

[2020-05-28 17:24] mantcep commented on #4011
Thank you very much for guidance and for pointing me to the other issue! I will pick that one up instead then 🙂

[2020-05-28 17:25] mantcep commented on #4349
Hi, I would like to work on this issue, would it be possible to assign this to me if it is not being worked on?

[2020-05-28 17:26] 1ucian0 opened #4512 "compare QuantumCircuit with open controlled gate raises RecursionError"
### Information

- **Qiskit Terra version**: Master and 0.14.1
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

[code]
[code]

### What is the expected behavior?

These circuits should comparable and equal.

[2020-05-28 17:42] #4510 closed

[2020-05-28 20:51] Cryoris commented on #4349
Hi!

Great that you want to contribute 🎉

So the task would be adding tests for the `GraphState` circuit. This concept is introduced in [this paper](https://arxiv.org/pdf/quant-ph/0307130.pdf) which you can look up for some context.
A test should make sure that the implementation in Qiskit works (i.e. it runs w/o errors) and is correct (i.e. the output is correct).

Ideally for such a circuit we w

[2020-05-28 21:42] mtreinish commented on #4443
I think it still provides value. Primarily it lets us exercise the entire execution path inside of terra itself. Personally it's been very useful for me was I've been implementing the v2 provider interface to be able to test using it directly in terra itself. It also serves as a decent example for implementing local simulator based providers because both Aer is much more complicated.

There are al

[2020-05-29 13:00] mantcep commented on #4349
Hi @Cryoris!

Thank you so much for going into such details and explaining this so clearly! Your description has provided more than enough background for me to work on this 🙂

I would like to make a check on a theoretical level, it seems quite straightforward to calculate the matrix by hand for a particular graph. Would it be fine if I pick a smaller graph that can be implemented by up to 4 qubits

[2020-05-29 15:26] woodsp-ibm opened #4524 "MCXVChain gate being incorrectly assembled as MCX gate"
### Informations

- **Qiskit Aer version**: 0.6.0
- **Python version**: 3.6.x
- **Operating system**: Linux

### What is the current behavior?

As reported on external Qiskit slack workspace, in aqua channel, Aqua's Grover is failing on a 4 qubit problem, but appears to work on a 3 qubit one.

In investigating I tried, 3 4 and 5 qubit problems.  When using BasicAer they all work, ie amplify the ex

[2020-05-29 20:11] lcapelluto opened #4523 "Executing a schedule with one instruction raises an error"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

If I make a schedule with only one instruction:
[code]
then when I `execute` it, it's type is `Instruction` and not `Schedule`, so `execute` wrongly sends it through the `transpiler`, thinking it's a `QuantumCircuit`. Since the transpiler is expecting a circuit, we end up

[2020-05-29 21:26] taalexander commented on #4523
This *is* just an instruction though. Should we allow executing a sole instruction?

[2020-05-29 22:50] 1ucian0 commented on #4391
I can assign myself to it. Thanks.

[2020-05-31 02:31] metacubestormerxii12 commented on #4391
Thank you!

[2020-05-31 20:10] mantcep commented on #4349
Hi again!

I just wanted to give a quick update about this issue. I have looked into testing the graph states a bit more and I have come up with a piece of code that creates the expected unitary for a given adjacency matrix. I thought this might be a relevant update, because my previous point from the above comment that I would be calculating the matrix by hand is not valid anymore. I think it mak

[2020-06-01 03:41] BlakeGerard commented on #4312
Hello, I am new to open source projects and am hoping to get started by learning how to work with Qiskit. Is this still an issue of concern that I may be able to work on?

[2020-06-01 08:02] Cryoris commented on #4349
Hi @mantcep,

sounds great that you found a way to compute the generic unitary transformation that creates the graph state. A fixed comparison would also be good, but if we can do it generically that's of course better.

It is easier to comment on the code if we can see it, so feel free to open a pull request already now and name it `[WIP] Your title` to show that it is still work in progress. Ins

[2020-06-01 13:35] shshnkvadali commented on #4170
Could we do something like the following in pi_check.py

` if isinstance(inpt, ParameterExpression):
        try:
            return pi_check(float(inpt), eps=eps, output=output, ndigits=ndigits)
        except (ValueError, TypeError) as e:
            pi_pattern = re.compile("3+\.+14159\d+")
            inpt = re.sub(pi_pattern, 'pi', str(inpt))
            return inpt
    elif isinstance(inpt, s

[2020-06-01 14:52] kdk commented on #4312
Hi @BlakeGerard and welcome! I'd recommend taking a look at the issues labeled [good first issue]( https://github.com/Qiskit/qiskit-terra/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22 ) as a good starting point for contributing.

[2020-06-01 15:57] Cryoris commented on #4524
I think the easiest (and therefore maybe the best) fix is to give the special decompositions of MCX  different names. E.g. rename `MCXVChain` from `mcx` to `mcx_chain` and `MCXRecursion` from `mcx` to `mcx_recursion`.

[2020-06-01 16:08] Cryoris opened #4526 "Enable controlled initialization: derive Initialize from Gate"
### What is the expected behavior?

`Initialize` is currently derived from `Instruction` as it contains resets. As such we cannot do controlled initialization or use any other `Gate` method. There should be an option to turn the resets off and obtain a `Gate` instance to create controlled initializations. Resetting the qubits accordingly is left to the user in that case.

[2020-06-01 20:41] mantcep commented on #4349
Hi @Cryoris,

I have created a pull request as suggested. I tried looking into a better way of getting the CZ gate, but I could not think of anything straightforward. Let me know what you think, I could put more time into vectorizing the loop over the identity matrix.

Thank you for your time! 🙂

[2020-06-02 04:04] souviksbhowmik commented on #4170
Hi,

I was going through the issue. Wanted to give a try. I found the the print is actually coming from _symbol_expr of parameterexpression and it is an instance of Sympy (sympy.core.add.Add) and might be using __str__ of Sympy, which I think is not part of Qiskit Terra. so may be in the __str__ of parameter expression, we do not use sympi and write something custom. Do you agree? Can i give a try

[2020-06-02 06:17] ajavadia opened #4531 "test_mappers deletes some test qasm files"
This is the code for regenerating ground truths for mapper tests:
[code]
However after https://github.com/Qiskit/qiskit-terra/pull/4226 doing this deletes a bunch of other files in the `test/python/qasm/` directory, like
`all_gates.qasm`, ...

[2020-06-02 08:41] toural opened #4532 "Quantum Experience Instruction Glossary U3 shows incorrectly the rotations"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Quantum Experience Instruction Glossary U3 gate shows incorrectly the rotations. It shows how u3(pi/2, pi/2, pi/2) moves the state vector from |0> to |+> however it should be from |0> to |i>

The animation induces to believe that the three parameter theta, phi, lambda, corr

[2020-06-02 14:24] ajavadia opened #4533 "reference circuit to check matplotlib changes"
There are many changes happening on the matplotlib drawer and we need better confidence in the changes (given that there are no automated tests). I think we just need one reference circuit with all gates (standard library, a unitary, a state prep, QFT, opaque, reset, measure). This can go in `tools`. And then every PR has to show how that image will look like after the changes.
This could be used

[2020-06-02 17:58] ruslan-ibm opened #4536 "Text circuit drawer does not draw CZ correctly"
### Information

- **Qiskit Terra version**:
[code]
- **Python version**:
`Python 3.6.10 :: Anaconda, Inc.`
- **Operating system**:
macOS Catalina 10.15.4 (19E287)

### What is the current behavior?

CZ gate is drawn with two bullets.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

CZ gate should be drawn using a box and a bullet, similar to CNOT gate:

[code]

###

[2020-06-02 18:06] 1ucian0 commented on #4536
This is expected as `CZ` is symmetric.

[2020-06-02 18:20] ruslan-ibm commented on #4536
I see. This does arguably make the circuit harder to read, as many sources from the first page of search results for "control z gate" use the boxed version:
1. https://arxiv.org/abs/1110.2998
2. https://www.cs.bham.ac.uk/internal/courses/intro-mqc/current/lecture05_handout.pdf
etc.

Some sources use both:
1. Wikipedia: https://en.wikipedia.org/wiki/Quantum_logic_gate#/media/File:Quantum_Logic_Gate

[2020-06-02 18:20] #4536 closed

[2020-06-03 03:21] souviksbhowmik commented on #2788
Hi,

I was trying to look into this issue. The draw function has a parameter, justify. However if I use Justify='left' or justify='right' I do not see any change. Please help me to understand.
<img width="347" alt="image" src="https://user-images.githubusercontent.com/29120460/83592175-60168000-a577-11ea-8606-ef2d6d190606.png">

[2020-06-03 12:39] toural commented on #4372
Could I work on this issue?

[2020-06-03 13:18] mantcep commented on #4348
Hi!

Would it be fine for me to pick this issue up if it is not being worked on at the moment? I am working on a similar issue (#4349) at the moment, so I think I would have enough background to pick this one up.

[2020-06-03 14:40] 1ucian0 commented on #4372
Sure. Make sure you check the results with `tox -edocs`

[2020-06-03 19:00] Cryoris commented on #4170
This is definitely not the expected behaviour, it seems this happened with the last SymPy update. Now that is actually much worse 🤔

Since the value of pi does not even show up anymore we cannot do a regex match, I think.

[2020-06-04 02:28] souviksbhowmik commented on #4228
Hi,
Is there anything I can contribute in it?
regards
Souvik Saha Bhowmik

[2020-06-04 03:54] souviksbhowmik commented on #4170
@shshnkvadali ,
Have you found a solution/approach for this? Otherwise can I collaborate on this?
regards
Souvik Saha Bhowmik

[2020-06-04 05:59] ajavadia opened #4541 "get_qubit_channels() does not work on Fake Backends"
Probably a bug in how fake backends are constructed.
[code]
is supposed to give the channels associated with qubit 0. It just errors. On the real backends this works fine.

[2020-06-04 09:28] nkanazawa1989 opened #4542 "Allow execution of circuit with opaque gate"
### What is the expected enhancement?
In the [Qiskit Pulse paper](https://arxiv.org/abs/2004.06755) we introduced new way of programming pulse schedules within the context of QuantumCircuit. For example, when we program a power Rabi sequence, we can write:

[code]

Later the `qc` can be converted into `Schedule` with `inst_map`. In this way we are also able to replace a part of QuantumCircuit by c

[2020-06-04 12:12] mtreinish commented on #2616
@jwoehr Appveyor was just the ci system we used to use for running windows tests (we have since moved away from using it). The issue was running these tests: https://github.com/Qiskit/qiskit-terra/blob/master/test/python/test_examples.py (which just execute the example python scripts) did not work on windows because the character encoding of the cmd shell wasn't utf8 and the text drawer was writin

[2020-06-04 13:05] jwoehr commented on #2616
@mtreinish thank you ... I am still interested in #3976 which lead to my interest in this problem. That qasm issue has sort of sat in jail for some months ... wondering if I should resume work and remove the tests for now so we can get on with it? @1ucian0 ?

[2020-06-04 17:37] ajavadia commented on #4541
was there a recent change in how `get_qubit_channels` works? the fake backends were updated very recently by @mtreinish (so I'm wondering whether the update scripts themselves need changing)

[2020-06-04 17:46] taalexander commented on #4541
Not how the method works, however, not all backends are updated to the latest deployment that provides this information.

[2020-06-04 18:19] mtreinish commented on #4541
Which fake backend are you using? From a quick grep (`grep --color -R '\"channels\"\:' qiskit/test/mock/backends/*/conf_*.json`) the only fakebackend conf snapshot that has the channels attribute set is `boeblingen`. If the problem is still there with boeblingen it points to a bug we can fix. But, the other json snapshots don't have the attribute. If more devices are returning it now we can rerun

[2020-06-04 18:42] taalexander commented on #4541
Yes, as updates continue to roll out to backends they will supply this information. I believe we throw an informative exception if the information is requested and is unavailable.

[2020-06-04 18:58] ajavadia commented on #4541
I used Johannesburg

[2020-06-04 19:21] taalexander commented on #4541
Probably needs to be update.

[2020-06-04 19:42] ewinston opened #4545 "Controlled UnitaryGate not displayed correctly."
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
This issue was brought up in the Qiskit Slack workspace.
https://qiskit.slack.com/archives/C7SJ0PJ5A/p1591208099333800?thread_ts=1591204734.332900&cid=C7SJ0PJ5A

### Steps to reproduce the problem
[code]

### What is the expected behavior?

### Suggested solutions

[2020-06-04 21:55] BlakeGerard commented on #3626
So essentially, the goal is to allow the direct passing of the parameters in BackendProperties __init__ method to the transpiler?

[2020-06-04 22:00] taalexander commented on #3626
I'm not positive I still agree with this earlier sentiment as the `Backend` has evolved to be a representation of a target machine for Qiskit (not the transport representation it once was). Perhaps this should be closed now @ajavadia?

[2020-06-04 22:03] BlakeGerard commented on #3626
Ah ok, I'm just looking around for good first issues.

[2020-06-05 03:03] souviksbhowmik commented on #4220
HI,
is this resolved? Can I collaborate?
This is the documentation of compose:
QuantumCircuit.compose(other, qubits=None, clbits=None, front=False, inplace=False)
I understand, front is not yet implemented and inplace is already tested. What is meant by condition?

[2020-06-05 03:15] souviksbhowmik commented on #4084
Is this issue closed or anyone working on it? Can I work on this?

[2020-06-05 08:28] frankharkins commented on #4228
@souviksbhowmik thanks for your help. Your comment reminded me to do this, you can add any feedback on the thread for #4546

[2020-06-05 08:44] aditya-giri commented on #4504
It's working fine for me, can you update the description with the qiskit version, and some steps to reproduce the issue?

[2020-06-05 09:37] haqenam786 commented on #4504
Thank you for your response Aditya.  The qiskit version is 0.19.2 as it is
shown below.

{'qiskit-terra': '0.14.1', 'qiskit-aer': '0.5.1', 'qiskit-ignis': '0.3.0',
'qiskit-ibmq-provider': '0.7.1', 'qiskit-aqua': '0.7.1', 'qiskit': '0.19.2'}

Also, I attach the snapshot of the code used from Qiskit textbook
wherein *plot_histogram(counts)
*is used to get the histogram*. *But it is not displayed.

[2020-06-05 10:35] aditya-giri commented on #4504
@haqenam786 have you imported `plot_histogram` from the qiskit library? You need to run this line of code `from qiskit.visualization import plot_histogram` if you're doing it locally.
If you're executing on the qiskit textbook website directly, you need to run the cell that contains that line of code before you can use plot_histogram.

[2020-06-05 12:20] haqenam786 commented on #4504
Yes that line is taken in the code. I think it is visible in the attached
file. I used it.

On Fri, Jun 5, 2020, 4:06 PM Aditya Giridharan <notifications@github.com>
wrote:

[2020-06-05 16:31] ajavadia commented on #4314
I'm not sure, I see your point. But we now use single-letter prefixes:
`r..` -> rotation
`c..` -> control
So I figured we can use the `s..` prefix to mean square-root.
`sx` is also used here: https://arxiv.org/pdf/2003.09382.pdf
But I can see confusion with S gate.

Nielsen and Chuang (probably based on earlier papers) have decompositions of U in terms of its square-root, which they call V.

[2020-06-05 18:09] enavarro51 commented on #4545
There are actually several issues here. The first most obvious is that the mpl drawer does not draw it properly. The text drawer, though, has this output.
[code]
The name is the base_gate name that is created by the QuantumCircuit call. The op name is c-unitary. I assume that should be used for the display, or the label.

The bigger problem is that the call to ControlledGate in the control() metho

[2020-06-05 18:17] enavarro51 opened #4549 "Control() method of UnitaryGate does not pass num_ctrl_bits and ctrl_state to ControlledGate"
### Information

- **Qiskit Terra version**: 0.13
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

In the control() method for UnitaryGate, the call to ControlledGate does not include the num_ctrl_bits or ctrl_state.

### Steps to reproduce the problem
[code]
produces this output.
[code]
### What is the expected behavior?
[code]
### Suggested solut

[2020-06-05 18:18] nonhermitian opened #4550 "Cannot copy a pulse enabled backend configuration"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Doing `copy.deepcopy(provider.backends.ibmq_almaden.configuration())` fails with the error:

TypeError: __init__() missing 10 required positional arguments: 'n_uchannels', 'u_channel_lo', 'meas_levels', 'qubit_lo_range', 'meas_lo_range', 'dt', 'dtm', 'rep_times', 'me

[2020-06-05 18:34] mtreinish commented on #4550
It looks like PulseBackendConfiguration is missing a `__reduce__` method so pickle is trying to call it with the function signature from QasmBackendConfiguration which isn't correct because there are more arguments for the pulse backend configuration's init.

One thing that is tricky to get with the pickling/deepcopy is extra non-named parameters. This is because these both subclass `SimpleNamespa

[2020-06-05 18:39] nonhermitian commented on #4550
It looks like the QASM fields are all there:

[code]

[2020-06-05 18:40] nonhermitian commented on #4550
I can get around it with a `config.to_dict()` and back to the object so not the end of the world but we had also just fixed this issue earlier.

[2020-06-05 22:06] #4391 closed

[2020-06-05 23:03] 1ucian0 commented on #4314
We change this rather often. It seems like aliasing is very subjective and context dependant, could it help to add a `.qiskit/notation.conf` file with something like this?
[code]
This would allow to have a minumun set of methods and, if this file exists, we extend the methods with these aliases.

Dunno, maybe this complicates the thing even more...

[2020-06-07 11:54] Captainkk75 commented on #1682
Hi @nonhermitian , just checking out how this is going, I wanted to give this a shot, but wanted to check with you before doing so.

[2020-06-07 11:56] nonhermitian commented on #1682
So the work around is to just allow passing axes instances to the plotting routines. This has already been implemented. If you think you have a better way than this we would love for you to take a shot at it.

[2020-06-07 20:08] enavarro51 opened #4554 "Latex drawer fails with conditional and cregbundle=True"
### Information
- **Qiskit Terra version**: Current master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04
### What is the current behavior?
The latex drawer fails on an index out of range when there is a conditional on the last creg and cregbundle=True. This was discovered in test_teleport in test_visualization.py when circuit_drawer sets the default cregbundle to True.
### Steps t

[2020-06-08 07:28] hykavitha commented on #4084
yes, me.

[2020-06-08 15:54] toural commented on #4372
There are three options for draw a circuit diagram object using matplotlib:

- add the %matplotlib inline magic to the beginning of the jupyter-execute:: code block and then simply: circuit.draw()
- select the output method 'mpl" to use for drawing the circuit: draw(output='mpl')
- use a simplified version of the previous call: draw('mpl')

Do we have any preferred option?

[2020-06-08 16:17] toural commented on #4372
There are situations in the source code where the circuit is not dynamically generated inside the jupyter-execute:: code block but  manually represented. For instance in QuantumCircuit.assign_parameters

Examples:

![image](https://user-images.githubusercontent.com/19472520/84053681-8fcbea80-a9b2-11ea-95dc-5019efe55d19.png)

...

How should them be treated? adding a jupyter-execute:: code block? l

[2020-06-08 16:49] toural commented on #4372
Finally the option is to use circuit.draw('mpl') and go through jupyter as much as possible

[2020-06-08 19:59] lcapelluto commented on #4523
yes

[2020-06-08 20:01] 1ucian0 commented on #4504
are you running on a jupyter notebook?

[2020-06-08 20:58] 1ucian0 commented on #4532
Thanks toural!

I let the documentation team know about the issue and they are working on it.

[2020-06-08 20:58] #4532 closed

[2020-06-09 04:18] haqenam786 commented on #4504
No, I run it over spyder. That was the problem. Now, I run it over Jupyter
notebook and I got it.

Thank you for your cooperation

On Tue, Jun 9, 2020 at 1:31 AM Luciano Bello <notifications@github.com>
wrote:

[2020-06-09 12:31] patdenim opened #5706 "general question related to AQT simulator and Qiskit. "Attribute error""
{'qiskit-terra': '0.14.1',
 'qiskit-aer': '0.5.1',
 'qiskit-ignis': '0.3.0',
 'qiskit-ibmq-provider': '0.7.1',
 'qiskit-aqua': '0.7.1',
 'qiskit': '0.19.2'}

### What is the current behavior?

Trying using  var_form 'TwoLocal' with VQE . getting errors whit ./qiskit/aqua/utils/run_circuit.py
AttributeError: 'BackendConfiguration' Object has no attribute 'max_experiments'
In this case,  AQT simulat

[2020-06-09 12:41] shshnkvadali commented on #4170
@souviksbhowmik
Sorry about the delay. I haven't found a conventional solution to this yet. Let me know if you have any ideas. We can definitely work on this together. Thanks

[2020-06-09 14:22] QacoBot opened #4557 "Branch `master` is failing"
Trying to build `master` at commit 2dad686009ea84247f43cbec05e02cf28d3d233a failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/346637920

[2020-06-09 14:27] ewinston commented on #4545
@1ucian0 This issue already exists #4549

[2020-06-09 14:36] #4557 closed

[2020-06-09 15:03] 1ucian0 commented on #4545
I agree with @enavarro51 that there are many issues together. I will close this one as duplicate following @ewinston advice once we break this issue.

[2020-06-09 15:04] #4484 closed

[2020-06-09 16:32] #4437 closed

[2020-06-09 21:52] enavarro51 commented on #4533
@ajavadia I thought I might try to take on creating the reference circuit you've described. It would help a lot in testing mpl drawer, especially in testing global changes, like layer widths and box widths.

I started by creating an import list, taking essentially everything from circuit.library and qiskit.extensions. I thought before I proceed further it would be good to get an approval on which

[2020-06-09 23:30] ajavadia commented on #4533
Thanks. I agree with you. I think we need all the standard gates. But not everything from the other parts of the library maybe 1 or 2 just to see how their parameters get rendered. We should also use isometry. The end result should not be so cluttered that it is hard to see anything so you might have to play around with it a bit.

[2020-06-10 00:16] 1ucian0 commented on #4533
If we follow the #4544 approach, I think would be better to do one test per each.

[2020-06-10 00:24] ajavadia commented on #4533
But that creates a 100 images to manually check? Also some issues might arise in bigger circuits not trivial ones like how different boxes are spaced next to each other. I don’t have a good answer and we probably have to refine over time.

[2020-06-10 14:54] ewinston opened #4562 "change base_gate to a required parameter for ControlledGate"
### What is the expected enhancement?
Currently `base_gate` is an optional parameter for ControlledGate. This was orginally due to `base_gate` referring to the base gate class in which case it would not be very useful information for composite gates of `Gate` class. Now that `base_gate` is an instance it makes sense to require ControlledGate to have a `base_gate` which is not `None`.

[2020-06-10 18:19] toural opened #4563 "Two qubit gates don't show the parameter when using matplotlib."
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Parametric two qubit gates don't show the parameter when using matplotlib however the parameter is shown when using ASCII representation of the circuit.
Parametric single qubit gates show the parameter properly.

For instance
RXX gate

### Steps to reproduce the problem

[

[2020-06-10 23:27] 1ucian0 commented on #4563
I'm not fully sure about the expected result. @ajavadia @nonhermitian ?

[2020-06-11 00:04] ajavadia commented on #4563
I think it should. It’s just one angle. In cases where the number of parameters are too many then I think it makes sense to just show the gate name.

[2020-06-11 02:39] ewinston commented on #4248
@enavarro51 Sorry, I missed this note. @1ucian0 may be more familiar with the visualization code than myself.

[2020-06-11 02:48] #4549 closed

[2020-06-11 15:32] enavarro51 commented on #4563
Except for the gates with matrices as parameters, all the gates that have parameters display them below the name of the gate in the mpl drawer. To be consistent with other gates, the name should be capital R with subscript xx. This goes for Ryy and Rzx as well.

[2020-06-11 15:51] metacubestormerxii12 commented on #4563
Yes I agree. One short param like that definitely should be displayed

[2020-06-11 19:26] nonhermitian commented on #4401
Closed as fixed by Py 3.8.3

[2020-06-11 19:26] #4401 closed

[2020-06-11 20:33] mtreinish commented on #4541
I just went ahead and did this because to update all the backends snapshot you need access to all the premium devices in addition to the public ones. For future reference if someone has access to all the devices you just need to run `tools/update_fake_backends.py` with your hub, group, and/or provider on the cli (see `--help` on it) and it will query all the backends and update the json. If you do

[2020-06-11 22:50] enavarro51 commented on #4361
@1ucian0 I was looking at how to add labels to the mpl drawer and I had a question about how they are implemented. Given these 3 statements,
[code]
It appears that in line 3, the label gets placed into op.label whereas in line 1, it's placed in op.base_gate.label. I noticed in the text drawer that line 1 produces 'My ch Gate' in the gate name and 'My ch Control' on the bullet, but in line 3, it cr

[2020-06-11 23:07] 1ucian0 commented on #4361
I agree it is inconsistent. Do you mind submitting an enhancement issue for that?

I dont have an opinion there. Maybe the best way to move forward is to submit an issue (tagged `discussion` with examples and options. In that way, we can hear other people's options.

What do you think?

[2020-06-11 23:13] enavarro51 commented on #4361
Thanks, @1ucian0. I'll go ahead and put my thoughts in an enhancement issue. I just wanted to check to see that there wasn't some big picture I was missing.

[2020-06-11 23:19] 1ucian0 commented on #4504
It seems related with #4397

[2020-06-12 16:44] #4524 closed

[2020-06-12 16:47] scottwn commented on #4361
@enavarro51 could you link the enhancement issue here when you open it?

[2020-06-12 17:26] enavarro51 commented on #4361
Will do.

[2020-06-13 07:04] ismaelfaro opened #4571 "Qiskit.Compiler Documentation is not generated"
### Information

In the web documentation about Qiskit Terra, the documentation related with Qiskit.Compiler, is not generated properly.

https://qiskit.org/documentation/apidoc/compiler.html?highlight=compiler#module-qiskit.compiler

### What is the current behavior?

The next sections don't show the code documentation
assemble(): https://qiskit.org/documentation/stubs/qiskit.compiler.assemble.ht

[2020-06-13 14:22] #4541 closed

[2020-06-13 15:33] rochisha0 commented on #4571
Can I take up this issue? It seems doable for a first-timer like me.

[2020-06-13 16:19] 1ucian0 opened #4573 "Open ControlledGates not marked equivalent"
I think #4444 broke circuit equivalence with controlled gates:
[code]
[code]

[2020-06-13 16:29] 1ucian0 commented on #4571
Assigned to you @rochisha0 !

[2020-06-13 22:43] a-kapila opened #4574 "Allow delays in an OpenQASM Qobj"
At the moment the only way to insert delays is to use `qiskit.pulse.Delay()` and add this to the `qiskit.Schedule()` object. This does not allow for mid-execution (or even post-execution, pre-measurement) delays in OpenQASM-only machines (which, at the time of writing, is all open source IBMQ devices except ibmq_armok). Crucially, ibmq_armok only has a single qubit.

Adding this functionality woul

[2020-06-13 22:43] a-kapila commented on #4574
First time issue ever submitted on GitHub so advice is welcome in this regard too

[2020-06-13 23:25] taalexander commented on #4574
Please have a look at this #4555 and see if this meets your needs.

[2020-06-14 05:51] akshat-suwalka opened #4575 "Help me to understand the quantum circuit"
Hi, I have a conceptual doubt and don't know where to ask so i tried to ask my doubt here.
![6](https://user-images.githubusercontent.com/35618437/84585722-3e977d00-ae30-11ea-81f2-21be9cb18c01.jpg)

The above is the quantum circuit and my doubt is how the matrix multiplication would be done after the Ry of second qubit , I mean to say that we know that CNOT is 4x4 matrix and if i start from the
 [

[2020-06-14 09:51] a-kapila commented on #4574
Thanks - had a detailed look and that looks perfect. Any idea on how long that will take to get merged? @itoko ?

[2020-06-14 13:11] ajavadia commented on #4575
Hi, I think you are trying to evolve the statevector of one qubit through the whole circuit. This is an entangling circuit so in general you can't do that. The statevector of the two qubits is not separable after this circuit is applied. So you need a 4 dimensional vector to describe the joint state of both qubits.

You can just get the statevector from Qiskit:
[code]

These kinds of questions mig

[2020-06-14 13:11] #4575 closed

[2020-06-14 13:48] rochisha0 commented on #4571
@1ucian0 I saw the source code of assemble schedule transpile. The only thing I found different was that there was no 'class'. Is this causing the bug?

[2020-06-14 14:39] 1ucian0 commented on #4571
You can always see the results by regenerating the docs with `tox - edocs`.

[2020-06-15 00:48] gousaiyang opened #4576 "When `num_ctrl_qubits=0`, creating controlled gates will produce an `AttributeError`"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.8
- **Operating system**: both Windows and Linux

### What is the current behavior?

When `num_ctrl_qubits=0`, creating controlled gates will produce an `AttributeError`.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Create a gate without control bits successfully.

### Suggested solution

[2020-06-15 01:10] gousaiyang opened #4577 "​Cannot unroll identity matrix of more than 2 qubits when coupling_map is set"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.8
- **Operating system**: both Windows and Linux

### What is the current behavior?

The `transpile` function fails to unroll an `UnitaryGate` containing an identity matrix of more than 2 qubits when the `backend` argument is set to be a remote quantum computer or the `coupling_map` argument is set.

### Steps to reproduce

[2020-06-15 13:44] mtreinish commented on #4571
This isn't a bug in terra, it's an issue with the docs building processes in `Qiskit/qiskit`. The builds for publishing run in travis which provides a hard 50 min job limit and given the size of the documentation for the combined qiskit project it typically takes 40-45min to build now. That leaves between 5-10min  to upload the docs to object storage for qiskit.org. However, it happens pretty regu

[2020-06-15 13:44] #4571 closed

[2020-06-15 13:58] enavarro51 opened #4580 "Labels should be added to mpl drawer"
### What is the expected enhancement?
Labels were added to text drawer in #4361, #4262, and #4420. Labels are user-supplied text that overwrites the names of gates and can be added to controls. This needs to be implemented for the mpl drawer. This issue is intended as a discussion to come to a consensus on design before we start coding.

![image](https://user-images.githubusercontent.com/16268251/

[2020-06-15 14:28] mtreinish commented on #4571
Just following up, the restarted doc publish job completed successfully, all the hosted docs are up to date now

[2020-06-15 15:25] kdk commented on #4573
This only affects open control gates. Their definitions just need to be built on the `'q'` register on https://github.com/Qiskit/qiskit-terra/blob/4f804108bba528aa95e46838235754778e0cb68c/qiskit/circuit/controlledgate.py#L117
[code]

[2020-06-15 15:54] PaulMcElligott commented on #4563
Hey @metacubestormerxii12 and @toural, This looks like a good first issue for me. Can I take a look? It's format is close to @aasfaw's Episode 7 https://tinyurl.com/y8yhvg5z.

[2020-06-15 15:55] kdk commented on #4512
Fixed by #4444.

[2020-06-15 15:55] #4512 closed

[2020-06-15 16:43] #4573 closed

[2020-06-15 19:48] rochisha0 commented on #4571
Yes saw this just now. I wasn't able to find a bug.

[2020-06-15 21:13] ewinston commented on #4576
Another option would be to raise an exception if num_ctrl_qubits=0. Then whenever `control` is called a `ControlledGate` is always returned. Letting num_ctrl_qubits=0 doesn't seem necessary to support since one could just use the original gate.

[2020-06-15 21:28] metacubestormerxii12 commented on #4563
I have already fixed this issue, it is just pending review from one of the code owners.

[2020-06-15 21:37] gousaiyang commented on #4576
Indeed a `ControlledGate` with 0 control bits does not seem to be necessary to be supported. However having such support would be a little bit more user-friendly. I discovered this bug when I try to implement "multiply amplitude by -1 when all `n` qubits are `|1>`" for arbitrary `n` with the following code:

[code]

The code fails when `n=1`, so I have to deal with this case separately.

[2020-06-15 22:11] metacubestormerxii12 commented on #4563
But yeah ur free to work on it if you would like.

[2020-06-16 09:38] ewinston commented on #4576
Since it seems the intention is to create a controlled gate then having n>=2 doesn't seem like an unreasonable assumption.

[2020-06-16 15:25] #3127 closed

[2020-06-17 02:23] robertloredo opened #4585 "Add 0CNOT gate to the Circuit Library"
There are algorithms where there is a need for a 0CNOT gate, in which the target is triggered by the control having a value of 0 rather than 1 (as in a CNOT).

Currently to do this will need to include an X gate before and after the control qubit. It would be nice to have a 0CNOT gate added to the Circuit Library.

### What is the expected behavior?
Same behavior as the CNOT gate, one it is trigge

[2020-06-17 06:37] Cryoris commented on #4585
That feature exists already, every controlled gate has a `ctrl_state` argument which can be used to specify whether the target gate get's triggered on open or closed controls.
For your example you can do
[code]

[2020-06-17 06:37] #4585 closed

[2020-06-17 08:34] #4349 closed

[2020-06-17 14:25] #3858 closed

[2020-06-18 02:50] ajavadia opened #4589 "basis translation method based on unitary synthesis"
As a follow-up to https://github.com/Qiskit/qiskit-terra/pull/4446, we should have another method for basis translation that relies on `OneQubitEulerDecomposer` and `TwoQubitBasisDecomposer`.

There are some advantages to this, the main one being that the decompositions are algorithmic and can cover a wider range of basis. For example if someone comes up with some esoteric two-qubit gate as the na

[2020-06-18 03:11] #4531 closed

[2020-06-18 04:12] ajavadia commented on #4182
@adjs Are those two states the same up to global phase?

If not this is a bug and should be filed.

[2020-06-18 05:20] ajavadia commented on #728
this is pretty old and all addressed as far as I can tell

[2020-06-18 05:20] #728 closed

[2020-06-18 05:22] ajavadia commented on #750
can be added later if needed. the PR was closed due to inactivity.

[2020-06-18 05:22] #750 closed

[2020-06-18 05:23] #2452 closed

[2020-06-18 05:37] ajavadia commented on #2410
i'll move this to the ibmqprovider repo

[2020-06-18 05:39] #2921 closed

[2020-06-18 05:41] #3312 closed

[2020-06-18 05:49] #3920 closed

[2020-06-18 05:53] #3808 closed

[2020-06-18 05:57] ajavadia commented on #3706
I agree. Can we put an `Operator` in the circuit directly? It would do the same thing.

[2020-06-18 06:43] ajavadia opened #4590 "Operator() cannot simualte circuits with barrier"
it should, as they are just compiler directives.

[2020-06-18 07:06] #4182 closed

[2020-06-18 09:00] arunraja-hub commented on #3929
Hi, I am keen to contribute to solving this as my first issue. Can I work on this?

[2020-06-18 09:30] Cryoris commented on #3706
Currently the `Operator` uses `UnitaryGate` to append itself to a circuit. With the structure we have right now anything inside a circuit is an instruction so we still need to wrap the content of the `Operator` inside one. We could allow other objects as circuit constituents (e.g. `Operator`s) and then the transpiler must synthesize/decompose them but that might be a larger objective on the road.

[2020-06-18 09:31] Cryoris commented on #3929
Yes that would be great! Do you know where to start or do you need a hand? 🙂

[2020-06-18 09:55] nonhermitian commented on #995
This exists as the job_watcher.

[2020-06-18 09:55] #995 closed

[2020-06-18 10:02] arunraja-hub commented on #3218
I am facing a similar issue now.
So I followed the exact same steps to start contributing to my first issue as mentioned here: https://youtu.be/QjZdvNgYl3s?list=PLOFEBzvs-Vvp2xg9-POLJhQwtVktlYGbY
When I ran `pip install -e .`
I get the following error:
`  Running setup.py develop for qiskit-terra
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\User\anaconda_spyder\envs\f

[2020-06-18 10:12] Cryoris commented on #3218
As it says in this line

you seem to be missing a/the correct C++ compiler.

[2020-06-18 13:52] arunraja-hub commented on #3218
Thanks, I downloaded the wrong version of Visual studio which caused the problem

[2020-06-18 15:23] arunraja-hub commented on #3929
Thank you!
I changed line 120/121 of register.py from:
[code]
to
[code]
as suggested above and it works:
![image](https://user-images.githubusercontent.com/43485111/85038032-b0692100-b1b8-11ea-87a2-8a769daf55ba.png)
Can I make a pull request?

[2020-06-18 15:43] arunraja-hub commented on #3599
@taalexander I am keen to contribute to solving this as one of my first issues. Can I work on this?
If possible could you share the steps to reproduce this error? Thank you

[2020-06-18 16:10] Cryoris commented on #3929
Can you use `numbers.Integral` instead, as it also covers other integer types? I.e.
[code]

[2020-06-18 16:20] arunraja-hub commented on #3929
Yes that works too

[2020-06-18 17:38] arunraja-hub commented on #3929
Thank you, just opened a PR!

[2020-06-18 19:57] arunraja-hub commented on #3793
@nonhermitian
I am keen to work on this as one of my first issues. I ran the exact code in your last comment which resulted in the following error for me:
[code]
May I know in which python version did you get the ModelValidationError?

[2020-06-18 20:15] nonhermitian commented on #3793
It was probably 3.7

[2020-06-18 20:31] arunraja-hub commented on #3793
Ok I used 3.7 but I am not getting ModelValidationError, I am only getting the TypeError
Could you help to run your code snippet above and see if you still get ModelValidationError?

[2020-06-18 21:35] ajavadia opened #4592 "`reverse_bits` method for Operator and State"
https://github.com/Qiskit/qiskit-terra/pull/4509 implements a circuit.reverse_bits method for circuits. This can change from little-endian to big-endian and vice-versa.
We should have this for `State` and `Operator` too. Then we should have:
`Operator(qc.reverse_bits()) == Operator(qc).reverse_bits()`.

I know these can be defined on qudits as well, so if the name is not appropriate then we I am o

[2020-06-18 23:55] taalexander commented on #3599
Hello @arunraja-hub, I believe this is still unassigned. To get started I would look at @eembees comment above. This would be similar to the approach taken with PulseDefaults. Basically make the supplied hamiltonian variables private and expose a property with the converted values.

[2020-06-19 00:22] ikkoham commented on #3706
related to #4528?

[2020-06-19 01:29] ajavadia commented on #3706
related to #4237

[2020-06-19 07:08] #4413 closed

[2020-06-19 10:54] mtreinish commented on #3793
`ModelValidationError` has been removed from qiskit-terra master when marshmallow was removed from all these objects so you won't see that as the error anymore. The problem back then was opened was likely that there was a mix of marshmallow and non-marshmallow objects mixing in an unexpected way on the reconstruction side of the deepcopy causing marshmallow to fail validation on construction of on

[2020-06-19 16:12] woodsp-ibm opened #5717 "Improve backend circuit execution"
Goal is to "modernise" QuantumInstance and run_circuits logic for execution of circuits on the backend given advances in capability of Terra and IBM Q Provider since some this aforementioned logic was written. This includes areas such as

1. Moving over to use of the ibm q job manager when the remote provider is IBM Q.
2. Ensuring we work with other remote providers correctly Qiskit/qiskit-terra#5

[2020-06-19 22:55] #4577 closed

[2020-06-20 19:11] arunraja-hub commented on #3793
Thank you @mtreinish. Could you give me some suggestions for me to get started solving this issue?

[2020-06-22 11:31] nonhermitian opened #4598 "A hundred or more pulse doc warnings being raised"
This are getting raised about a hundred or more times in the docs build:

[code]

[2020-06-22 17:34] #2968 closed

[2020-06-22 17:34] #4533 closed

[2020-06-22 17:41] QacoBot opened #4600 "Branch `master` is failing"
Trying to build `master` at commit 970496a1faa2c4c5198450a910377f94075f361a failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/352320809

[2020-06-22 17:42] QacoBot opened #4601 "Branch `master` is failing"
Trying to build `master` at commit 970496a1faa2c4c5198450a910377f94075f361a failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/352320808

[2020-06-22 18:59] kdk opened #4603 "Generalize basis gate for Collect2qBlocks and ConsolidateBlocks"
let's open an issue for removing these hardcoded gates and generalizing them (and also the ones that are hardcoded in level 3 KAK).

_Originally posted by @ajavadia in https://github.com/Qiskit/qiskit-terra/pull/4446_

[2020-06-23 07:01] toural opened #4605 "Bad representation of control rotation gates"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behaviour?

There are situations where matplotlib representation of the circuit fails

### Steps to reproduce the problem

In the following circuit example, crx gates and x gates are overlapped, wires are not shown so the entire circuit is not well represented by matplotlib however t

[2020-06-23 07:47] Cryoris commented on #4605
Confirmed, this seems to affect the entanglement gates CRX and CRY -- CRZ and all other work.

[2020-06-23 10:40] mtreinish opened #4606 "Terra Tests Fail with Numpy 1.19.0"
### Information

- **Qiskit Terra version**: Master
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Since the release of numpy 1.19.0 CI started failing on 2 tests:
`test_qasm_2q_unitary`
https://github.com/Qiskit/qiskit-terra/blob/master/test/python/circuit/test_unitary.py#L248-L271
and
`test_pulse_limits:
https://github.com/Qiskit/qiskit-terra/blob/maste

[2020-06-23 11:06] arunraja-hub commented on #3599
There is no `PulseHamiltonianSchema` class in qiskit/providers/models/backendconfiguration.py

[2020-06-23 13:21] taalexander commented on #3599
You're right. There was a relatively major change to providers since @eembees comment. Please see https://github.com/Qiskit/qiskit-terra/blob/fab61d21d105c40142e7d67a8ea7bab602dd4c12/qiskit/providers/models/backendconfiguration.py#L485 for the `hamiltonian` attribute. The `hamiltonian` parameter could be reformatted before setting the `hamiltonian` attribute. See https://github.com/Qiskit/qiskit-t

[2020-06-23 14:47] mlxd opened #4608 "Different results from circuit when transpiling with BasicSwap"
### Information

- **Qiskit Terra version**: 0.14.1
- **Python version**: 3.7.7
- **Operating system**: MacOS Catalina

### What is the current behavior?
The circuit as defined in `ncx.qasm` (below) produces different results after transpilation with the BasicSwap pass. Running the circuit without transpilation on the qasm_simulator backend produces an output of '100011111', and '110101011' with t

[2020-06-23 17:01] enavarro51 commented on #4580
**New mpl drawer version**

@1uciano @ajavadia Over the last several weeks (stuck in lockdown) I started going through the mpl drawer code and discovered there were a lot of redundancies, inefficiencies, and unused code. I decided to see how I might be able to restructure the code and also wanted to see if I could implement the text width calculations and gate and control labels.

After restructur

[2020-06-23 17:44] arunraja-hub commented on #3599
From my understanding, `hamiltonian` is currently defined in terms of GHz as seen in https://github.com/Qiskit/qiskit-terra/blob/fab61d21d105c40142e7d67a8ea7bab602dd4c12/qiskit/providers/models/backendconfiguration.py#L479
I will have to remove `1e9` to represent the `hamiltonian` in Hz , correct?

[2020-06-23 21:11] kdk commented on #4608
Hi @mlxd , thanks for reporting this.

Can you try appending the `measure` to `circ` prior to running the pass manager? `BasicSwap` (and the other routing passes) will in general permute the final layout of qubits during routing. If measurements are present when the routing pass is run, they will be updated so the measurement values in the output counts will be consistent with the input circuit.

[2020-06-24 00:51] ksriniv commented on #3615
Is this issue still open?

[2020-06-24 08:38] NuoWenLei commented on #3615
#3768 should fix this issue.

[2020-06-24 09:01] mlxd commented on #4608
H @kdk thanks for the suggestion. I can confirm that adding the measurement gates prior to the pass does fix the ordering. Though, the intended use for this circuit will be for feed into another stage, rather than a measurement at this point; the measurement here was more of a demonstration of the results we observed rather than full intended use.

Do you think it possible to obtain and indicate t

[2020-06-24 11:38] ajavadia opened #4609 "print(circuit.draw()) jumbled for text drawer"
[code]

[2020-06-24 11:39] #4609 closed