[2018-06-06 12:15] #226 closed

[2018-06-06 12:28] diego-plan9 commented on #425
@yaelbh I took the liberty of tweaking a bit the issue description, to help with coordinating and managing. At least for the sympy simulator, now that the repo is in place, it might be a good idea to make use of the issues and discussions there and keep using this one as a "high level overview" issue :+1:

[2018-06-06 12:29] tellison commented on #540
May I add a requirement here, described in #471, that the final mechanism is usable without having to modify any parts of the QISKit installation?

In scenarios such as Cloud or containers usage it my not be permitted to modify the installation location, so it must be possible to configure the library externally.  This might include an API call to define the source of the user configuration file,

[2018-06-06 12:52] diego-plan9 commented on #540
Absolutely - that would be one of the design goals, which is two-fold:
* for the most common use case (which assumes access to files, etc - can be roughly described as "an user interested in running circuits against an online backend from a regular machine"), to streamline the process and probably just have to invoke `register()` without extra parameters whenever access to the online resource is n

[2018-06-06 13:41] diego-plan9 opened #541 "Introduce and use QObj"
## Description

Implement the `QObj` in `qiskit-core` as the format used for communication with the backends. Please note that for the full implementation to be completed, we need changes outside the core (online backends, api, etc).

## Checklist

* [x] add the schemas to the codebase #434
* [x] introduce a `QObj` class, adjusting the existing codebase to use it (but keeping the original structur

[2018-06-06 13:47] diego-plan9 commented on #413
I have made an effort to move each individual checklist (the ones that still had open items) into single issues, labeled with `type: meta`:
https://github.com/QISKit/qiskit-core/issues?q=is%3Aopen+is%3Aissue+label%3A%22type%3A+meta%22

and set them for the next milestone:
https://github.com/QISKit/qiskit-core/milestone/2

I did not transfer all the items directly trying to reflect the current stat

[2018-06-06 13:47] #413 closed

[2018-06-06 13:50] tellison commented on #540
I hope so.  At the moment I have a container with QISKit and the project's Jupyter examples in a format suitable for use by a variety of users.

I have to modify the QISKit install to move the `Qconfig.py.template` to `Qconfig.py` (which is ok, but not ideal), and once that is done I can use the `IBMQE_API` env var to inject the user-specific access key into the library as the notebooks are run.

[2018-06-06 19:49] ajavadia commented on #541
@diego-plan9: seems like the "proposed implementation" section of this belongs to another issue and is included here by mistake.

[2018-06-06 20:03] diego-plan9 commented on #541
Yes, thanks :grin:

[2018-06-06 22:17] indisoluble opened #542 "C++ QASM Simulator as a Homebrew Package"
This issue is a continuation of the other one I created titled [C++ QASM Simulator as a Debian Package](https://github.com/QISKit/qiskit-core/issues/487). While the former was focused on Linux, this one focuses on macOS.

First, a brief introduction (just in case). [Homebrew](https://brew.sh/) is:

i.e. it is `apt-get` for macOS. And more importantly, it is a [provider used by Swift Package Manage

[2018-06-07 06:47] yaelbh commented on #425
Thanks @diego-plan9 , the issue is indeed very clear now :smiley:.  Could you please also open qiskit-addon-projectq, and let me be its admin?

[2018-06-07 09:05] diego-plan9 commented on #425
Great, @yaelbh ! You can start using https://github.com/QISKit/qiskit-addon-projectq now :)

[2018-06-07 11:48] nelimee opened #544 "Implement the q_if method in the Gate hierarchy"
For the moment, the `q_if` method only raise a `QISKitError` saying that the method is not implemented.

The method is straightforward to implement in some cases (controlled-X are already implemented for example) and generic algorithms exist for the implementation of multi-controlled gates (https://arxiv.org/abs/0708.3274v1 for example).

[2018-06-07 12:22] eendebakpt opened #545 "spacing in circuit_drawer"
Is there a method to add space in the circuit diagram generated with `circuit_drawer`. For example by adding dummy gates? In this way different sections is a quantum algorithm can be grouped together.

[2018-06-07 12:54] diego-plan9 commented on #477
@alfrisch - we have just merged #543, which I believe should fix the issue. Feel free to reopen otherwise!

[2018-06-07 12:54] #477 closed

[2018-06-07 15:15] nelimee opened #546 "cu3 simulated matrix false on unitary simulator"
**Informations**

- **QISKit (Python SDK) version**: 0.5.3
- **Operating system**: Fedora 26
- **Python version**: 3.6.5

**What is the current behavior?**

The `cu3` gate simulated with the `local_unitary_simulator` does not produce the expected matrix for a `cu3` gate.

**Steps to reproduce the problem**

Execute the script:
[code]

Output on my machine:
[code]

**What is the expected behavior?*

[2018-06-07 17:08] delapuente commented on #542
I think for having just one formula it is not worth but if we are thinking of splitting QISKit into different components or perhaps we can foresee adding other things rather than (but related to) `qiskit`, then it makes perfect sense.

[2018-06-07 19:28] chriseclectic commented on #546
It appears there that the definition of `cu3` in the standard header is actually implementing the a controlled-U where `U = exp( -1j * (phi + lam)/2) * U3(theta, phi, lam)`.  So there is a local phase which wouldn't matter for a single `u3` (in this case it would be a global phase), but is important when implementing the controlled gate.

(Less important but you swapped the target and control qubi

[2018-06-07 19:36] jaygambetta commented on #546
This is in the tutorial and i have not decided what we should do.

https://github.com/QISKit/qiskit-tutorial/blob/master/reference/tools/quantum_gates_and_linear_algebra.ipynb

i am leaning towards deleting this gate and making a new one that we call cU which is a four parameter gate. I would also like to change the name of cU1(theta) to cphase(theta)

[2018-06-07 19:59] chriseclectic commented on #537
This is because the simulator checks if the `U_error` matrix is unitary and (should) raise an error if it isn't. In your example `z = 0.995004165 + 1j * 0.099833417`, and `abs(z) = 0.99999999975862153`, not `1`.

If I change the noise params in your code to the following it runs:
[code]

[2018-06-07 20:45] indisoluble commented on #542
Hi @delapuente,

I am already working with @1ucian0 & @diego-plan9 on a [debian package](https://salsa.debian.org/science-team/qiskit) that, for the moment, only includes the simulator but the idea is that, later on, we will add more components. I think the same thing applies in this case ... probably :)

Anyway, now that I think about it, I think I should have prepared the formula first and then

[2018-06-08 03:50] rraymondhp commented on #546
I wrote a note emphasizing the importance of global phase in control-U and its difference with just U. But that part is now missing.

[2018-06-08 11:47] diego-plan9 commented on #542
Thanks @indisoluble ! In a similar spirit to the discussions for the Debian package, and as hinted by @delapuente (as I'm not familiar with the homebrew conventions and procedures): could you check how "a package that is split in other subpackages" is handled, and prepare the formula accordingly? Specifically,  if the plan is to distribute only the simulator, would it be possible to avoid using  `

[2018-06-08 11:48] t-imamichi opened #551 "load_qasm_{file, string} converts `t` gate inappropriately"
### Informations

- **QISKit (Python SDK) version**: 0.5.3
- **Python version**: 3.6.5
- **Operating system**: macOS 10.13.5

### What is the current behavior?

`load_qasm_file` and `load_qasm_string` converts `t` gate into `tdg`.

### Steps to reproduce the problem

Run the following script.
[code]

The result is as follows.
[code]

### What is the expected behavior?

Do not change `t` gate.

###

[2018-06-08 20:48] chunfuchen commented on #537
okay, I do not double check whether or not the `U_error` is a unitary matrix, I just copy and paste the example in the README.

Thanks.

[2018-06-09 13:49] indisoluble commented on #542
On renaming a formula, this is the information I could find: [Renaming a Formula](https://docs.brew.sh/Rename-A-Formula).

About splitting a package in multiple sub-packages, if what you mean by that is if it is possible to install multiple apps/libraries/components with one formula, the answer is yes. Let's take as an example [xz](https://tukaani.org/xz/). The [formula](https://github.com/Homebre

[2018-06-10 11:27] indisoluble commented on #542
Hi all,

I deployed a formula for the QASM simulator in the following tap: https://github.com/indisoluble/homebrew-qiskit

Things to know:
* Based on upstream version `0.5.3`
* Depends on `cmake` to compile the simulator
* Provides an option to add **OpenMP** support: `brew install qasm_simulator_cpp --with-openmp`
* The formula patches the upstream. This patch is identical to the [patches](https:

[2018-06-11 06:09] ajavadia commented on #239
Here are 2 tiny tests that trigger this error.
[code]
[code]
In both cases, the error occurs during compilation (specifically during `yzy_to_zyz`). To trigger it:
[code]

[2018-06-11 10:31] #551 closed

[2018-06-13 12:15] jaygambetta commented on #546
cU3 is ambiguous and i agree we need to make it clearer. A real cU should have 4 variables not 3. The tensor order has been described in many places (see the tutorials) and it will be clearer in the documentation when we redo it.

[2018-06-13 22:51] indisoluble commented on #542
I still have to double check this but the message:
[code]

Was probably due to the fact that I did not execute: `xcode-select --install` before installing `gcc` so instead of installing the pre-compiled bottle and built it from source which ends up causing this warning.

[2018-06-14 00:29] chunfuchen opened #567 "Program crashes when using multiprocesses with qasm simulators"
### Informations
When using multiprocessing in python3, the program crashed.

- **QISKit (Python SDK) version**: 0.5.4 (master branch)
- **Python version**: 3.5.2
- **Operating system**: Ubuntu 16.04

### What is the current behavior?
When using multiprocess to launch multiple jobs on local_qasm_simulator, the program crashed. (for both c++ and python simulator, and c++ simulator is built from sou

[2018-06-14 00:49] nonhermitian commented on #567
https://www.google.com/url?q=https://stackoverflow.com/questions/35879096/pickle-unpicklingerror-could-not-find-mark&sa=U&ved=0ahUKEwi6msKW99HbAhWWyIMKHfkdBBMQFggLMAA&usg=AOvVaw01-vcJEg8gJcPZIF8ycWVK

[2018-06-14 01:40] chunfuchen commented on #567
@ajavadia Is there any manual way to lookup if I install through pip? like I should get a binary in the installed qiskit? I use the API `available_backends()` to check it, but only python simulators there.

[2018-06-14 01:50] chunfuchen commented on #567
@nonhermitian but my codes did not do anything about pickles, right? I do believe underly qasm_simulator uses concurrent processes. Furthermore, if I commented on the `execute` and `get results` from qojb, everything works fine (actually, it does nothing)

Or is it a wrong way to launch multiple qasm simualtor?  I know that I can submit a bunch of circuits through `execute` but this is a simplifie

[2018-06-14 02:03] nonhermitian commented on #567
Well the issue appears to be with the pickling of stuff that gets passed to the new processes.  Indeed, I have tested it on my mac, and it works just fine.  That suggests some other issue.  Looking at the error, it appears you are running Py35.  What version of Py35?  What happens if you try it in Py36?

[2018-06-14 02:48] nonhermitian commented on #567
I have tried this on Ubuntu 18.04 and saw a similar output once, out of a handful of runs, but most of the time the whole process just hangs. The system monitor shows that nothing is actually running, and your left with a bunch of zombie processes at the end.

My guess is that using futures to call an async running process is problematic.  I have seen similar issues when doing an async run on a fu

[2018-06-14 13:38] nonhermitian commented on #567
I thought about this some more, and I do not understand why you need to use the `ProcessPoolExecutor` at all.  When you spawn a new async job it is already running concurrently / parallel, whatever you want to call it.  Why not just spawn a bunch, and check their status, and then do get results when all done.  Like this:

[code]

Setting the shots to be large, and looking at an activity monitor wi

[2018-06-14 13:40] chunfuchen commented on #567
@nonhermitian I was using Python 3.5.2 (built-in from Ubuntu 16.04), and I just tested on Ubuntu 16.04 with Python 3.6.5. I observed the same issue you mentioned.

@ajavadia If I am on Ubuntu 16.04 with Python 3.6.5, the c++ simulator is available. I notice that there is no compliled binary file in my installed qiskit package when I use Python 3.5.2
Here is the filelist for both installations (bot

[2018-06-14 13:40] nonhermitian commented on #567
@chunfuchen, try my above example and see how it works.

[2018-06-14 14:05] chunfuchen commented on #567
@nonhermitian Thanks. The above example works.

The reason I would like to have a ProcessPoolExecutor because my real subroutine is much complicated than the example above, here is my real problem. https://github.com/QISKit/qiskit-acqua-tutorials/blob/master/chemistry/h2_iqpe.ipynb

Each subroutine has 2 major stages:
1. Extract information from a molecule with given setting, and then build the qu

[2018-06-14 14:11] nonhermitian commented on #567
@chunfuchen, looking at your notebook, I think it can be refactored to work in a similar manner as what I suggested.  The point is your jobs are already in parallel when dispatching multiple async jobs.

[2018-06-14 15:23] chunfuchen commented on #567
@nonhermitian maybe I do not express my problem well. Let me express the problem in general.

I have a hybrid algorithm (classical + quantum), and it is an iterative process where two parts (classical + quantum) are dependent on each other. That is, the classical part needs results from the quantum part to update parameters and vice versa. The computation flow of this hybrid algorithm could be `C-

[2018-06-14 15:31] nonhermitian commented on #567
Why not do the classical parts in parallel, then spawn multiple async processes for the quantum parts, then do parallel classical and so on.  Maybe not as efficient as doing it the other way for processes where the runtimes are significantly different, but my guess is a solution to the original issue posted here is something non-trivial to understand.  It might be worth sending to stack exchange t

[2018-06-14 16:08] chunfuchen commented on #567
@nonhermitian Then, we need to split the algorithm into the small parts in order to execute them in parallel.

People usually first develop their algorithm in a sequential manner and then since there is no dependency for each instantiation of the algorithm, they just use multiprocess to parallelize them at the level of an entire algorithm rather than go into the algorithm and split them for parall

[2018-06-14 16:36] nonhermitian commented on #567
I think the answer to this is to have the ability to run a job without doing an async run.  In your case, you need to wait for the results before the next classical step.  As such, you do not need the async features.  @ewinston is it possible to call a job / backend without going through the futures module?

[2018-06-14 16:36] ewinston commented on #567
This is just a guess but does it work to use the same executor that the backend is using to do your async? That is use local_qasm_simulator._executor.

[2018-06-14 16:39] ewinston commented on #567
@nonhermitian Yes it is possible to run a job non-async although it is backend independent; Instead of calling `backend.run(q_job)` call `backend._run_job(q_job)`.

[2018-06-14 16:50] nonhermitian commented on #567
@ewinston Nice.  I am willing to bet that that is what is needed in this case.

[2018-06-14 18:05] ewinston commented on #567
When checking job.status['status'] it may be better to compare to use the enumerated type, JobStatus, rather than it's description string since the later is more likely to change.

[2018-06-14 22:13] indisoluble commented on #542
After a few more runs, the warning mentioned above no longer appears when I install the compiler. I updated the [README](https://github.com/indisoluble/homebrew-qiskit/blob/master/README.md) in the tap I have prepared with a comment about this issue, in case someone faces the same problem.

@delapuente & @diego-plan9, having reached this point, would you consider adding [this tap](https://github.c

[2018-06-15 10:00] delapuente commented on #542
@indisoluble what did you do to avoid the message?

I think Diego is out until next Monday. I don't have the expertise to recommend moving this to the QISKit organization so let's wait until he comes back.

[2018-06-15 16:23] cbjuan opened #570 "Undefined variable in documentation when getting results from real chips (backends)"
### Informations

- **QISKit (Python SDK) version**: 0.5.4
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?
In the documentation related to [Quantum chips](https://www.qiskit.org/documentation/quickstart.html#quantum-chips), there is an error in the variable used to get the results achieved using a real (or an online) backend. That variable has not been defi

[2018-06-15 21:30] rraymondhp opened #572 "Bug in circuit addition"
### Informations

- **QISKit (Python SDK) version**: 0.5.4
- **Python version**: 3.6.5
- **Operating system**: MacOSX

### What is the current behavior?
Circuit addition involving the inverse of circuit/composite gate does not work.

### Steps to reproduce the problem
`circuit_drawer(circs["PROTOZOAN"])`
![image](https://user-images.githubusercontent.com/15240898/41490313-6db50706-712e-11e8-94eb-8

[2018-06-16 01:30] ajavadia commented on #572
@rraymondhp I can't reproduce this issue from circuit pictures. Can you paste the code to generate those circuits? I think they were generated with the `initialize` command.

[2018-06-16 13:47] indisoluble commented on #542
Hi @delapuente,

Long story short, I finally realised I had not installed all required dependencies in my computer as specified in the [README for the QASM simulator](https://github.com/QISKit/qiskit-core/blob/master/src/qasm-simulator-cpp/README.md), which are also the [requirements for Homebrew](https://docs.brew.sh/Installation). This is to run `xcode-select --install` on advance in order to in

[2018-06-16 16:11] ajavadia commented on #572
@rraymondhp thanks. I found the issue. I will put in a fix.

[2018-06-17 02:54] ajavadia commented on #570
Fixed by #571.
Thanks @cbjuan for both reporting and fixing.

[2018-06-17 02:54] #570 closed

[2018-06-17 02:58] ajavadia commented on #537
So it seems like:
a) the README should be updated to include the normalization.
b) the error raised by the simulator should be passed through to the result and available to the user.

[2018-06-17 03:41] ajavadia commented on #507
`QuantumCircuit`s are not in general reversible (could contain measure or reset). `CompositeGate`s are reversible, and a simple call to `inverse()` on any CompositeGate should do the trick. Initialize is just one example of a CompositeGate.

As for tests, they are added in #573. I agree we should have more examples for the CompositeGate and make it easier to use (see #316), but I think this curren

[2018-06-17 03:41] #507 closed

[2018-06-18 12:59] delapuente commented on #539
AFAIK, cancelling jobs is [already implemented](https://github.com/QISKit/qiskit-core/blob/master/qiskit/backends/ibmq/ibmqjob.py#L72-L95). Are we waiting for something else?

[2018-06-18 13:05] nonhermitian opened #576 "Add note in docs about spawning processes on Windows"
### What is the expected enhancement?
Switching to async calls from futures entails spawning new processes that can cause an error to be generated on Windows if the function that spawns the process is called at the top level of a Python script.  We should mention this is the docs, and show a simple work around.

I will do this.

[2018-06-18 21:19] ewinston commented on #539
@delapuente currently cancelling jobs only works with hubs.

[2018-06-19 13:41] atilag opened #581 "One single source of version information"
### What is the expected enhancement?
Currently, there are three places where we maintain Version number information:
* CMakeFiles.txt
* qiskit/\_\_init\_\_.py
* setup.py.in

Every time we have to release a new version, we have to change `CMakeFiles.txt` and `qiskit/__init__.py` files, and make sure both of them have the same number. The CMake system will update the last one: `setup.py.in`. So the

[2018-06-19 14:30] atilag commented on #567
Ok, I think this must be related to the fact that we are using an internal ProcessPoolExecutor for local jobs, and the code is creating another ProcessPoolExecutor on top of it, so there must be something that the Python interpreter doesn't like here, indeed, I know it uses Pickeling/Unpickeling to pass parameters between different processes.
@chunfuchen as we are already handling every execution

[2018-06-19 18:11] ewinston commented on #529
Some methods of interfacing with new providers,

[code]

Method 2
[code]

Method 3
[code]

[2018-06-19 18:38] ewinston commented on #529
What I was suggesting is that the backend name, perhaps just at the wrapper level, can be composed of a part which the backend defines, e.g. 'qasm_simulator_cpp', plus a name defined for the provider, e.g. 'newpro'. Then in response to `qiskit.available_backends()` you get `newpro_qasm_simulator_cpp`.

[2018-06-20 13:07] #572 closed

[2018-06-20 14:03] chrisculver commented on #581
I just finished this and am submitting a pull request.

Is there a way to assign myself to issues in the future?

[2018-06-20 20:05] eddieschoute commented on #316
I was wondering if a design has already been proposed for this since it would be useful for a project that I'm working on.
How can one define something akin to a subroutine in qiskit?

[2018-06-20 20:18] eddieschoute commented on #343
An example of duplicated dependency specification is in the current `requirements.txt` and the `setup.py.in`, they both have a duplicated list of dependencies. In #370 you can see an example pipfile that gets rid of that. Note that the required (non-dev) dependencies are copied over from the `setup.py` file.

There is definitely a lot of talk about how you should use the Pipfile and how you should

[2018-06-20 23:54] mathophilic opened #586 "Visualizing Circuits error: `Poppler` installation"
I have just started using Qiskit Tutorials> Getting Started With Qiskit > Write and run your first quantum program ([HERE](https://github.com/QISKit/qiskit-tutorial/blob/master/reference/tools/getting_started.ipynb)).

I have been able to connect to my IBM Q experience (using token), but I got stock in the "Visualize Circuit" part. The error is:

"WARNING:qiskit.tools.visualization:WARNING: Unable

[2018-06-21 00:10] attp commented on #586
As described in the [tutorial install](https://github.com/QISKit/qiskit-tutorial/blob/master/INSTALL.md), as well as installing `poppler`, you need to add it to your `PATH` (I'm assuming you are working on a Windows machine):

- Install [MiKTeX](https://miktex.org/download).
- Install Poppler:
    - Download the [latest binary](http://blog.alivate.com.au/wp-content/uploads/2017/01/poppler-0.51_x86

[2018-06-21 00:44] mathophilic commented on #586
Thanks (and yes, I'm using Windows). I did that, and that error is fixed now. But now, it shows the following error:

"WARNING:qiskit.tools.visualization:WARNING: Unable to compile latex. Is `pdflatex` installed? Skipping circuit drawing..."

(I'm sorry if my question seems naive but I'm a beginner.)

[2018-06-21 01:55] ajavadia commented on #586
@mathophilic can you follow the instructions in section 5 here:
https://github.com/QISKit/qiskit-tutorial/blob/master/INSTALL.md

also what OS do you have?

We will soon have another method for circuit visualization which doesn't require Latex/Poppler (#579).

[2018-06-21 02:46] ajavadia commented on #207
closing this and opening issue in its own repository.
https://github.com/QISKit/qiskit-addon-projectq/issues/7

[2018-06-21 02:46] #207 closed

[2018-06-21 10:08] delapuente opened #588 "Distinguish between `ERROR` and `TIMEOUT` states for job results."
Retrieving the results from a job can timeout without that meaning the job is failing. However, in this case, the job status will become `ERROR` which could make the user think the complete job failed.

[2018-06-21 13:47] mathophilic commented on #586
@ajavadia, Thanks. My OS is Windows 10 Home. I did follow those instructions on section 5 as @attp also mentioned, and it solved the first error which was for poppler. However, now it seemingly does not compile latex, which is weird since I use latex all the time on my computer for my papers etc. (I mean I have MikTex installed but it still doesn't work fine on Jupyter notebook.)

[2018-06-21 14:22] ewinston commented on #588
Since the ERROR state is meant to capture all errors, such as those raised by python exceptions, and TimeoutError is a builtin exception, it would be consistent. If the user wants to understand the nature of the error they should currently be able to get it from job.status['status_msg'] which is typically `str(Exception)` for exceptions. In addition if there is an exception than the exception is a

[2018-06-21 14:38] mathophilic commented on #586
Is it a possibility that the problem is that MikTex is installed in AppData directory rather than program files?

[2018-06-21 15:42] delapuente commented on #588
But `TIMEOUT` is not an error, even if it is modelled as an exception. It is also not a final state. I can send a job, expect the results will be in 5 min. and if not, do other things and re-check after another 5 min.

A different thing is that the job itself times out.

[2018-06-21 15:57] delapuente opened #590 "Trying to cancel a job just after initialization raises"
### Steps to reproduce the problem
1. Create an `IBMQJob` by running a `qobj` in a backend.
2. Immediately after, call the `cancel()` method of the `IBMQJob` instance.

### What is the expected behaviour?
Not throwing or, at least, not raising a gave exception but prevent the cancellation.

### What is the current behaviour?
The method `cancel()` raises.

### Suggested solutions
Detect if the job

[2018-06-21 18:10] ewinston commented on #590
I'm not sure I understand when you are suggesting to reject `cancel()`? It makes since to me that we allow cancellation up until it can't be cancelled on the server anymore. This time point is different for hubs and non-hubs.

If you are referring to not raising if an error message comes back from the server, I think I may agree. Maybe instead should do, ```self._status = JobStatus.ERROR
self._sta

[2018-06-21 19:06] ewinston commented on #588
Ok I see how you view timeout now. The original intent of the timeout was to be like the timeout used for HPC job schedulers where after the timeout is reached the job gets cancelled. For your usage I think it would be equivalent to check `job.done` and do other things right away without waiting for any timeout.

[2018-06-21 20:07] ajavadia commented on #316
Yes, this is a good time to pick up this discussion again, after the recent updates in qiskit.

On the two points that @eddieschoute raised:
1- I agree monkey-patching (dynamic extension of class methods) is bad. It has been raised many times before and we need to do something about it.
In order to keep this thread about CompositeGate, though, I will open a new issue about this. Sounds like mixins

[2018-06-21 20:34] ajavadia opened #591 "Avoid monkey-patching of gates on to QuantumCircuit"
### What is the expected enhancement?
Currently, QISKit gates are dynamically added as methods to the QuantumCircuit. This is bad for several reasons:
1- Can break some IDE linters.
2- Methods may not be discoverable through usual inspection methods.
3- The code can be ugly (have to add lines for this dynamic appending to every gate).

Although this is not on QISKit's critical path, it would be go

[2018-06-21 20:42] indisoluble commented on #542
So, @diego-plan9 what do you think??

[2018-06-22 11:32] nelimeee opened #593 "compile fails randomly with "TypeError: can't convert complex to float""
### Informations

- **QISKit (Python SDK) version**: qiskit==0.5.4
- **Python version**: Python 3.6.5
- **Operating system**: Fedora 26

### What is the current behavior?

The `compile` method randomly fails to compile and throw a `TypeError` exception.
Here is the full stack-trace obtained from the [QISKit_issue_593.py](https://gist.github.com/nelimeee/0bc39528bfa2c5da4692785e1d3ec153) file:

[co

[2018-06-22 13:51] ajavadia commented on #593
Possibly the same issue as #239.

[2018-06-22 13:57] ajavadia commented on #586
I am not sure. Tagging @alfrisch here since he is the only Windows user that I know who successfully got this to work.

[2018-06-22 15:29] rraymondhp commented on #586
Not a solution, but you may want to consider using Binder:
https://mybinder.org/v2/gh/QISKit/qiskit-tutorial/master?filepath=index.ipynb

[2018-06-23 18:43] mathophilic commented on #586
Thanks everybody for the help. My professor found one way out. Maybe not the best. I'm putting it here for if someone had the same issue in future:
_Explanation_:  pdflatex in MikTex converts the code to pdf and pdftocairo.exe which is in the poppler file is the program that converts pdf to image, and this image is the one shown on the screen. Clearly, the problem was from the function circuit_dra

[2018-06-23 18:57] ajavadia commented on #586
@mathophilic can you please tell me what version of QISKit you are using?
If you used pip, you can check it by: `pip show qiskit`

[2018-06-23 19:17] mathophilic commented on #586
Sure @ajavadia. Version 0.5.3

[2018-06-23 22:19] ajavadia commented on #586
@mathophilic oh, this was fixed in 0.5.4. Please upgrade.

Sorry, for some reason i thought you have the latest version. Should have suggested that first.

[2018-06-25 16:54] delapuente opened #594 "Replace the standard translation pipeline with a set of transpiler passes for the new pass manager"
### What is the expected enhancement?
Once merged #538, we'll need to replace each DAG transformation with a transpiler pass.

- [ ] Swap mapper pass (#757)

[2018-06-25 16:54] eddieschoute opened #595 "Factor out visualisation code"
### Current issue
I am trying to install qiskit with pypy (v.6.0.0) but it fails on the matplotlib dependency. I don't need matplotlib in my project as a runtime dependency since I am only generating dataframes (from `pandas`). Later, I use these dataframes in a python notebook to do visualisation.

### What is the expected enhancement?
Currently, qiskit-sdk depends on two visualisation libraries:

[2018-06-27 02:11] mathophilic opened #596 "Finding the result of the action of the identity operator on |0>"
My QISKit version is 0.5.4 (the latest I believe), and I have python 3.7 on Windows 10 OS.

I wanted to find the output of the action of identity operator on the qubit |0> as a baby test. I was expecting the output to be again |0>, while the output was indeed:  `{'statevector': array([7.07106781e-01+0.j , 4.32978028e-17+0.70710678j])}` . I used the following sets of commands: `q = QuantumRegister(

[2018-06-27 02:51] ajavadia commented on #596
The commands you have written are for an empty circuit. You need to add at least one gate.
You can add the identity gate as `iden`.
The code below works:
[code]

[2018-06-27 02:51] #596 closed

[2018-06-27 03:05] ajavadia commented on #586
So this seems resolved. I am closing, feel free to open if you continue having problems.

[2018-06-27 03:05] #586 closed

[2018-06-27 03:06] ajavadia commented on #581
Closed in #581. Thanks @chrisculver !

[2018-06-27 03:06] #581 closed

[2018-06-27 05:28] rraymondhp opened #597 "Error that should not happen, happened when running on real-device backends"
### Informations

- **QISKit (Python SDK) version**: 0.5.4
- **Python version**: 3.6.x
- **Operating system**: MacOSX

### What is the current behavior?
The circuits run fine with simulators but cannot be run on real-device backends like `ibmqx5` or `ibmqx4`. The error messages are as below:
[code]

### Steps to reproduce the problem
The notebook that reproduces the error is here:
https://github.c

[2018-06-27 18:33] eddieschoute commented on #316
I think CompositeGate is a bit of a misnomer, since some gates are already composite. But in general I think we need something that represents a subroutine, like that is present in OpenQASM (where it is a custom gate def). Because I want to represent some subcircuit that I execute `x` many times as a subroutine/gate. Think for example of the QFT that is recursively expressed in smaller and smaller

[2018-06-27 18:49] eddieschoute commented on #595
A end-user of qiskit could, for example, install the `qiskit-visualazation` package that would depend on `qiskit-core` and thus bring in all dependencies. I don't think users that use qiskit as tool would notice much of a difference.

I did not suggest getting rid of C bindings.

[2018-06-27 20:08] ajavadia commented on #595
Ok. This sounds good, to reduce dependencies of Qiskit on external libraries and make it leaner.

[2018-06-27 20:14] eddieschoute commented on #595
Yes, I think qiskit could function both as a library and an application. But the library should have minimal dependencies.

[2018-06-27 20:28] nonhermitian commented on #595
How about keeping the core package useful, and just have the visualization
module dependencies optional, and only loaded if the visualization
functions are called?

On Wed, Jun 27, 2018, 22:14 Eddie Schoute <notifications@github.com> wrote:

[2018-06-27 20:45] delapuente opened #599 "Change backend status from AVAILABLE to OPERATIONAL"
### What is the expected enhancement?
The new name is more accurate.

[2018-06-27 21:09] eddieschoute commented on #595
I don't see how a qiskit-core without matplotlib would be "useless"?

[2018-06-27 21:14] jaygambetta commented on #595
@eddieschoute it is our plan to make the visualizations a plugin but its not the top of the priority. Everything in the tools directory will be elements of qiskit over time. Acqua started with removing the optimization.

[2018-06-27 21:18] nonhermitian commented on #595
Visualization of circuits is kind of a key thing to have in a package that people use for building quantum circuits/algorithms.  I use it nearly every day.  The visualization tools and/or matplotlib are used in nearly every tutorial notebook QISKit has.  The vast majority of people find it useful.  I don't see why features need to be stripped when simple alternatives such as import at function cal

[2018-06-27 21:27] eddieschoute commented on #595
They shouldn't be stripped. But moved to a separate package with appropriate dependencies so that dependencies remain consistent and predictable. Runtime errors are very annoying.

[2018-06-27 21:29] jaygambetta commented on #595
yes paul but its not going to be factored out of pip install qiskit. As i said i want to change qiskit-core to qiskit-terra and for eddie clearly he only wants to install terra for most users they use all of qiskit

[2018-06-28 16:15] delapuente opened #601 "Improve ERROR hierarchy"
### What is the expected enhancement?
Improve the QISKITError hierarchy so specific errors are:
* More semantic by also inheriting from Python exceptions when needed.
* Meaningful by polishing and clarifying the messages.
* Easier to use by providing more suitable constructors.
* More complete by adding missing exception cases.
* More compact by removing unused, non-meaningful or duplicated

[2018-06-28 16:18] delapuente commented on #601
This is assigned to @cayla-hamann, who is taking a look at all of this.

[2018-06-28 18:01] jaygambetta commented on #595
This i leaving on hold until we have time to think about it more.

[2018-06-28 20:41] jaygambetta opened #604 "removing tools/apps"
### What is the expected enhancement?
I am going to try the issues first approach :-)

I will work on a pull request to remove the openquantumcompiler and the tools/apps. This is low priority and is not in the main updates for next release so we dont need to track

I will do these as two seperate pull requests.

[2018-06-28 20:42] jaygambetta opened #605 "renaming qiskit-terra"
### What is the expected enhancement?
I want to get the name qiskit terra before we have too many references to qiskit-core.

[2018-06-28 20:52] jaygambetta opened #607 "mapping from Euler angles to quaternions in mapper"
### What is the expected enhancement?
To fix some of the mapper i going to change the 1q optimization from euler angles to quaternions and it should fix the mapper issues that keep getting brought up.

This is a low priority as most times it works but the correct way to do it is quaternions.

[2018-06-28 20:53] jaygambetta commented on #597
linking to #607 and closing

[2018-06-28 20:53] #597 closed

[2018-06-28 21:01] jaygambetta commented on #239
This should be fixed by #607.

[2018-06-28 21:02] ajavadia commented on #239
Closing, for the updated issue of #607. Moving some examples there.

[2018-06-28 21:02] #239 closed

[2018-06-28 21:05] ajavadia commented on #607
Here are 2 tiny tests that trigger this error.
[code]
[code]
In both cases, the error occurs during compilation (specifically during `yzy_to_zyz`). To trigger it:
[code]

[2018-06-28 21:25] physicsnerd opened #608 "concurrent.futures.process.BrokenProcessPool error when running example program"
### Informations

- **QISKit (Python SDK) version**: most recent edition as of 6/28/2018
- **Python version**: 3.6.5
- **OS**: Windows

### What is the current behavior?

Run the program given below; I get the results

[code]

### Steps to reproduce the problem

Run the example program given on the main page:

[code]

### What is the expected behavior?

It should print the simulation results.

###

[2018-06-28 23:04] jaygambetta commented on #608
can you try this

[code]

[2018-06-28 23:04] jaygambetta commented on #608
if it works i put a pr in to fix it as i dont have windows to check

[2018-06-28 23:07] jaygambetta commented on #593
This is the same issue as what #607 will fix.

[2018-06-28 23:18] jaygambetta commented on #188
@delapuente @atilag maybe it would be good for you to think about this. The work flow is that due to limits we have with the number of the circuits we need to split the circuits into batches that are able to run. Then to process the data for saving or feeding to other tools @chriseclectic added a sum function for the results. I dont think we want to keep this but it is going to break tools above :

[2018-06-28 23:24] jaygambetta commented on #39
@QCmonk and @chriseclectic i am going to close this as it is not part of the qiskit-core. @QCmonk we will make a repo for qcvv soon and i suggest if you are interested that you add to that.

Thanks and sorry it took long to get back to this as we needed to work out how it would fit.

[2018-06-28 23:24] #39 closed

[2018-06-28 23:39] ajavadia commented on #432
Closing since this is being worked on at API level. Qobj will also reduce backend size quite a bit by removing the qasm.

[2018-06-28 23:39] #432 closed

[2018-06-29 00:53] jaygambetta commented on #608
yeah for on windows :-(.

[2018-06-29 11:19] #599 closed

[2018-06-29 16:53] qcomputer11 opened #611 "Possible Issue with eval_hamiltonian?"
### Informations

- **QISKit (Python SDK) version**:  0.5
- **Python version**: 3.6.5
- **Operating system**: Windows 7

### What is the current behavior?
I am trying to do a test calculation using the variational method and the tools in the optimization.py module. First, I calculate the exact value for the lowest eigenvalue of my matrix using numpy. Then, I use the SPSA optimization to find it us

[2018-06-29 17:36] jaygambetta commented on #611
we are actually removing this in the near future and putting it into qiskit-acqua. @pistoia and @antoniomezzacapo could you please take this up in acqua.

Thanks

[2018-06-29 17:36] #611 closed

[2018-06-29 19:01] eddieschoute commented on #605
Why qiskit-terra by the way? I think core conveys the meaning much better? And I think it is more commonly used.

[2018-06-29 19:06] eddieschoute commented on #591
The mixins work by defining gates as superclasses of the QuantumCircuit, since that is the object we wish to modify with additional methods (per requirement 1).
I've posted example code before at https://gist.github.com/eddieschoute/9586c4a4734764e35492602cf1c3f030

Figuring out where gate definitions were coming from took me some time too (certainly more than a few minutes) so I definitely agree

[2018-06-29 20:41] 1ucian0 commented on #234
After some face-to-face discussion, we decided to solve this issue with a local REST server. Possible candidates:
 - http://www.mock-server.com/
 - http://wiremock.org/
 - https://github.com/typicode/json-server

[2018-06-30 15:23] delapuente opened #612 "Polish visualization tools"
### What is the expected enhancement?
Provide a consistent API, enough granularity and proper code structure to the visualization tools.

[2018-07-01 09:30] nonhermitian commented on #424
A possible fix for this is in #613.

[2018-07-01 17:17] diego-plan9 opened #615 "Revise support for Python 3.7"
### What is the expected enhancement?

At 2018-06-27 [Python 3.7](https://www.python.org/downloads/release/python-370/) was released, and it is expected that it will trickle to the end users imminently. We should ensure that we fully support it :
* [ ] check that `qiskit-terra` itself is Python 3.7 compatible
* [ ] add passes for 3.7 in the CIs
* [ ] check that all the dependencies are compatible

[2018-07-01 17:50] diego-plan9 commented on #311
As mentioned in private and hinted in slack, unfortunately the licensing issues could not be solved satisfactorily - and at the same time another effort for implementing the circuit drawer in pure Python has emerged at #579 that, while visually very similar, is more aligned with our goals in the legal aspects (and also in some finer implementation details), so we are integrating it in the codebase

[2018-07-01 18:17] #311 closed

[2018-07-01 18:30] ajavadia commented on #612
Several things need to be revised:
1- In `_circuit_visualization.py`, we check explicitly if `%matplotlib inline` has been set in a Jupyter notebook. This is bad practice, as there are other ways that figures can be inlined in Jupyter. For example using `%matplotlib notebook`. It also does not separate QISKit's API from Jupyter use case. In short, we need a cleaner way to do this.

2- Other files

[2018-07-01 18:36] delapuente commented on #615
`cmake` dependency seems not to be compatible with `pip` >= 10 according to:
https://gitlab.kitware.com/cmake/cmake/issues/17950

[2018-07-02 00:38] jaygambetta commented on #605
because we are trying to make a unified naming for all the elements of qiskit that we are going to release. So far we have release two elements: Aqua which is the element for the algorithms and circuits for quantum applications and Terra which is the element  that transpiles, executes and retrieves results asynchronously. We will release aer and ignis soon.

[2018-07-02 10:34] yaelbh opened #621 "Refactor C++ and Python statevector simulators"
The cpp and py statevector simulators are almost identical. They both set a snapshot at the end of the circuit, run the corresponding qasm simulator, then extract information from the last snapshot. This code duplication repeats now that we add a projectq statevector simulator. Therefore it's time to refactor the code, as follows.

### Current design

There is an abstract class named BaseBackend (

[2018-07-02 10:35] yaelbh commented on #621
@ajavadia comments: There are some details that must be considererd. For example, it is hard to distinguish a "DeviceBackend" from an online "SimulatorBackend", as they are all behind an API.

[2018-07-02 12:44] #605 closed

[2018-07-02 14:16] diego-plan9 commented on #529
It seems this was fixed in 0.5.5, in particular at #584  and #602 - please reopen if it is not the case.

[2018-07-02 14:16] #529 closed

[2018-07-02 15:15] eddieschoute commented on #316
I just realized that #389 does something very close to what I'd need to define subroutines. The only thing missing is to be able to wire registers manually. E.g. `q4` gets wired to `q0` and `q5` gets wires to `q1`, where the second is a register in the subroutine. Currently, this is implicit in the `combine` and `extend` code (`q0` gets wires to `q0`).
It strikes me as odd that this is not possibl

[2018-07-02 16:57] ajavadia commented on #316
Yeah I think composing circuits themselves is the way to emulate "subroutines".
As for wire remapping, how would this work, for example if you were writing QASM code?

[2018-07-02 20:18] eddieschoute commented on #316
From the OpenQASM spec:
[code]
If you were to write `q[x]` and `q[y]` for some x and y, you'd have to compose the wires in some way.
You could imagine trying to define a unitary and using it on some subset of the wires.

[2018-07-03 13:31] #424 closed

[2018-07-03 13:31] #608 closed

[2018-07-03 14:40] delapuente commented on #234
To summarize the motivation, since these are integration tests, we want to test the maximum surface at the same time we enable the possibility of testing without network access. So the idea is to record the answers from the real servers and use them during offline.

[2018-07-03 23:57] QCmonk commented on #39
@jaygambetta No worries. I shall await news of qcvv and contribute to that when the time comes. Thanks for letting me know.

[2018-07-04 00:48] LionSR opened #623 "Can one set the parameters for noise during simulation?"
### What is the expected behavior?

I take a close look at the documentation, and can't find how. But from the c++ code, it seems possible.

Can one set the parameters(like how large amplitude damping is) for noise during simulation?

[2018-07-04 04:00] ajavadia commented on #623
Yes, you can do this:

[code]

See here for how to set the `noise_params` with different noise models:
https://github.com/QISKit/qiskit-terra/tree/master/src/qasm-simulator-cpp#noise-parameters

Please reopen the issue if your problem persists.

[2018-07-04 04:00] #623 closed

[2018-07-04 14:17] LionSR commented on #623
Thanks for the answer! Could you please elaborate on how to simulate amplitude damping error?

[2018-07-04 14:28] jaygambetta commented on #623
At the moment it is not real amplitude damping. We are working on this and we want to start a convention of "types" of noise. The current simulator (and yes its undocumented as we are still deciding on how the general user will interact with it) only does type 1 noise. This is noise where gates can be randomly added to make a noisy quantum circuit. For cases where you have both t1 and t2 then it i

[2018-07-04 14:33] jaygambetta commented on #604
the opencompiler is remove.

New is to remove the tools/apps does anyone see any problem in removing them and if comments come up we suggest they use acqua.

[2018-07-04 15:06] diego-plan9 commented on #604
Chopping unused and redundant parts is always welcome, thanks Jay! Perhaps it would make sense to aim for the removal of `tools/apps` along with 0.6? I think the tutorials might be their main visible users, and this way we can include the change in a major version in a clean-ish way.

[2018-07-04 15:41] LionSR commented on #623
look forward to Kraus operators!

@chriseclectic It would be great if you could give some explanations on how to simulate amplitude damping channel using random gates!

[2018-07-04 17:31] jaygambetta commented on #604
Sure I agree that this should not be part of 0.5.6

[2018-07-05 11:28] delapuente opened #625 "Add support for new IBMQJob states VALIDATING and ERROR_VALIDATING_JOB"
### What is the expected behaviour?
Jobs should not fail when the backend returns `VALIDATING` and `ERROR_VALIDATING_JOB`.

[2018-07-05 19:33] #520 closed

[2018-07-05 19:33] #607 closed

[2018-07-05 20:00] jaygambetta commented on #593
@ajavadia can we check if this can be closed now.

[2018-07-05 20:10] nonhermitian commented on #593
Should be.  Same as #520.  Becuase rotations not valid, so small complex term.

[2018-07-05 20:22] ajavadia commented on #593
Yes, I just confirmed that this is also fixed by #626.

[2018-07-05 20:22] #593 closed

[2018-07-05 21:09] #615 closed

[2018-07-06 12:00] delapuente commented on #612
Right. My idea is to separate the plotting procedure into two stages:
1. Parsing. Convert a `QuantumCircuit` into something suitable for creating the diagram.
2. Rendering. Convert the output data structure from the previous phase to an in-memory diagram representation.

This in-memory representation, namely `CircuitPlot`, allows the user to `save()` or `show()` the actual image.

Now, using the `

[2018-07-06 16:23] awcross1 opened #630 "Problem passing simulator noise configuration"
### Informations

Say I pass a configuration like this into QISKit, i.e. `qiskit.execute(circuit, 'local_qasm_simulator', shots=shots, config=simulator_config)`:

[code]

The C++ QASM simulator understands what these parameters mean, but QISKit doesn't successfully encode the "data" field.

- **QISKit (Python SDK) version**: master
- **Python version**: 3.6
- **Operating system**: Mac

### What is

[2018-07-09 09:57] diego-plan9 commented on #528
Can we go for both a `version` field and for making use of the URIs? When the schemas are hosted and have a URI, the documents can use the [`$schema` keyword](http://json-schema.org/latest/json-schema-core.html#rfc.section.7) for uniquely identify which json schema they should be validated against ... but in the meantime, just a `version` field at the root structure would be a practical way to sup

[2018-07-10 15:22] delapuente opened #638 "Allow cancelling regular jobs"
### What is the expected enhancement?
Trying to cancel jobs, even if not cancellable, should result in `cancel()` method swallowing the error and returning `False` indicating cancellation was not possible. The user should inspect `exception` for further details.

[2018-07-11 13:28] #625 closed

[2018-07-11 15:00] delapuente opened #643 "Try to simplify appveyor builds"
### What is the expected enhancement?
Appveyor relies on Miniconda for installing some dependencies. Let's try to remove this dependency, relying on Python if possible.

[2018-07-11 15:03] delapuente opened #644 "Fix OSX Travis builds"
### What is the current behaviour?
Travis builds are failing when trying to install `gcc@6` dependency from `brew`.

### Steps to reproduce the problem
Uncomment OSX builds in the `.travis.yaml` file and make a PR to see it failing.

### What is the expected behaviour?
Run with no errors.

### Suggested solutions
Remove the `gcc@6` dependency or find a workaround.

[2018-07-11 16:26] delapuente opened #645 "New Quantum Experience API `get_job_status` is incorrectly implemented"
### Informations
#641 introduces a regression since the `ERROR` state does not exist.

### What is the current behaviour?
`IBMQJob` misses requesting the complete status when the status is `ERROR_VALIDATING_JOB`, `ERROR_CREATING_JOB` and `ERROR_RUNNING_JOB`.

### Steps to reproduce the problem

### What is the expected behaviour?
`IBMQJob` should ask for status details when hitting one of the fina

[2018-07-12 10:13] delapuente opened #647 "Update the codebase for using the `Qobj` schema"
### What is the expected enhancement?
Prepare the codebase to implement `Qobj` data structure according to the standard schemas.

[2018-07-12 10:17] delapuente opened #648 "Provide a converter that outputs the old schema, for the transition"
### What is the expected enhancement?
Currently, IBM-Q backends consume a proprietary version of `Qobj`. Make it compatible with the proper `Qobj` implementation by providing a translator in a separated component. Remove when the backends fully support the `Qobj` format.

[2018-07-12 10:23] delapuente opened #649 "Update all the backends for using the `QObj` and `Result` classes and schemas except device"
### What is the expected enhancement?
Adapt backends to consume the new `QObj` format and produce the new `Result` format.

- [x] test device understand and run qobj
- [x] test device return new format of result (according to result schema)
- [x] don't send qasm anymore just qobj, don't treat old result anymore (#754 -it's being addressed in #713 and must be on hold until completing all tasks abov

[2018-07-12 10:43] delapuente opened #650 "Update the tests so the `Qobj`s built into them are not created from a dictionary"
### What is the expected enhancement?
The tests are use-cases and they should show the proper way of instancing the objects. Furthermore, creating `Qobj`s from dictionaries was used as a transition and should be deprecated.

[2018-07-12 10:47] delapuente opened #651 "Introduce validation against the schemas"
### What is the expected enhancement?
According to the [robustness principle](https://en.wikipedia.org/wiki/Robustness_principle), Qiskit should validate that the `Qobj` emitted complies with the schemas.

If doing this is something that should be done upon a new request or during testing, is open for debate.

[2018-07-12 10:49] delapuente opened #652 "Revise the `from_dict` and `as_dict` methods, as they are currently mostly a convenience for the transition"
### What is the expected enhancement?
These methods should be removed so creating new `Qobj` instances enforces a semantically-rich syntax.

[2018-07-12 11:36] delapuente opened #653 "Add more tests about the `QObj` themselves"
### What is the expected enhancement?
Test the `Qobj` class itself if some crucial logic is implemented there.

[2018-07-12 11:39] delapuente opened #654 "Streamline and make qobj classes more friendly"
### What is the expected enhancement?
Extending the format should not be hard to implement using the current mechanisms. Now, [some boilerplate is required such as `REQUIRED_ARGS`](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qobj/_qobj.py#L104-L106). Removing this need without harming an effective introspection of the class would be nice.

In the long term, it should be possible to r

[2018-07-13 16:10] diego-plan9 commented on #654
Changed the tile to give a bit more context - keeping the original goals of:
* Reduce the amount of verbosity when creating subclasses
* Ideally preserving facilities for static analysis
* Ideally improve clarity for the user

[2018-07-13 16:11] diego-plan9 commented on #651
Some overlap might be expected with #653

[2018-07-13 16:28] #643 closed

[2018-07-17 08:56] atilag opened #657 "Simplify Job interface"
### What is the expected enhancement?
Right now, `Job` class interface mimics, in a way, python's `Future` interface, and I think we can make developers life easier by simplifying this interface. My suggestions are:
1. Change error handling: Only `def result(self, timeout, wait)` should throw exceptions, there's no need to have `def exception(self)` property. If there's an error in the function ha

[2018-07-17 14:32] diego-plan9 commented on #645
Fixed via #646

[2018-07-17 14:32] #645 closed

[2018-07-18 11:29] diego-plan9 opened #662 "Add a decorator for the tests for checking c++ simulator availability"
### What is the expected enhancement?

In a number of test files in the `test/python/` folder, there is a check at the top of the file for the existence of the C++ simulator: if it is not present, some tests are skipped. In order to avoid duplication and for consistency, it would be nice to have a  _decorator_ in `test/python/common.py` that we can reuse!

### Good first contribution

This would a

[2018-07-18 13:51] #647 closed

[2018-07-18 13:51] #648 closed

[2018-07-18 15:11] ewinston commented on #657
1. sounds like a this could be a reasonable simplification
2. great
3. sounds good!
4. Sounds fine. Actually this was a departure from futures which uses methods. Probably should do the same for backends for consistency.

[2018-07-19 10:20] diego-plan9 opened #663 "Update local Python simulators to use Qobj internally"
### What is the expected enhancement?

After #655, the local Python simulators accept a `Qobj` instance (with the new schema) during `.run()`, but internally they still use the old schema (for example, in `.run_circuit()`). Ideally they should also make use of the new schema and the instances directly instead of performing that conversion.

[2018-07-19 10:22] diego-plan9 opened #664 "Update local C++ simulators to use Qobj internally"
### What is the expected enhancement?

After #655, the local C++ simulators accept a `Qobj` instance (with the new schema) during the Python stub's `.run()`, but internally they still use the old schema (when passing it to the executable during the module's `run()`). Ideally they should also make use of the new schema and the instances directly instead of performing that conversion.

[2018-07-19 10:33] diego-plan9 commented on #541
Updated the issue with two new sub-taks (#664 , #663 ).

[2018-07-19 14:55] Mystery8226 opened #665 "3-qubit Grover's Algorithm Results"
### Informations

- **Qiskit (Python SDK) version**: 0.5.7
- **Python version**: 3.6.6
- **Operating system**: Windows 10 Enterprise

### What is the current behavior?
I ran a 3-qubit Grover's Algorithm searching for '111' on the ibmqx5 backend and did not get even remotely similar results to the simulated runs.

My code:
![image](https://user-images.githubusercontent.com/10801224/42950333-c47f31b

[2018-07-19 15:29] chriseclectic opened #666 "Compile should move measurements to end of circuit when backend is a simulator"
### Informations

- **Qiskit (Python SDK) version**:  0.5.5

### What is the current behavior?

When compiling a circuit measurements are by default moved as close to the front of the circuit as possible. This is good for running on physical hardware but not optimal for simulations which can sample measurement outcomes for multiple shots if all the measurements are at the end of a circuit.

Since

[2018-07-19 15:58] chriseclectic commented on #665
The grovers circuit is not going to run well on current hardware as it has 4 Toffoli (ccx) gates in it. Since this is not a native gate for the hardware, each of these gates is implemented on the device as 6 CNOT (cx) gates and single qubit rotations. You can see the equivalent circuits here:

[code]

is implemented as

[code]

To see why this would cause such a high error rate we can look at the

[2018-07-19 16:16] Mystery8226 commented on #665
Are there any workarounds to this? I want to be able to run the 3-qubit Grover's Algorithm without such high errors.

[2018-07-19 19:08] chriseclectic commented on #665
You could see if you can find an equivalent circuit with fewer 2-qubit gates to implement the algorithm, and also try running it on a the Tenerife (ibmqx4) device since it has lower error rates

[2018-07-19 20:17] dcmckayibm commented on #528
Addressed with https://github.com/Qiskit/qiskit-terra/pull/668

I think this can be closed.

[2018-07-20 10:15] delapuente opened #669 "Avoid production code depending on tests"
### What is the expected enhancement?
Find a better way of resolving this:
https://github.com/Qiskit/qiskit-terra/pull/547/files#diff-c3448a8c2134a492e0f08f2131d5552dR248

[2018-07-20 10:36] diego-plan9 commented on #669
Can you edit the issue and elaborate a bit? I _believe_ you actually want to refer mostly to the [tearDown()](https://github.com/Qiskit/qiskit-terra/blob/0.5.7/test/python/common.py#L61) method, which was introduced due to the implications of `import qiskit` bringing the wrappers' `_DEFAULT_PROVIDER` as it is a module variable, and ends up being initialized only once per test suite.

[2018-07-20 12:43] #644 closed

[2018-07-21 15:40] #665 closed

[2018-07-23 01:30] ajavadia opened #671 "result.get_ran_qasm() not working"
### What is the current behavior?
`Result.get_ran_qasm()` seem to be broken due to PR #501. That's because the Result datastructure no longer has a copy of the qobj json inside it. We should see how/if this can be fixed with the recent introduction of Qobj class.

### Steps to reproduce the problem
[code]

[2018-07-23 03:38] ajavadia commented on #666
Should this be the responsibility of the simulator or the compiler to figure out that measurements can be pushed to the end?

Since we are talking about an optimization implemented by the simulator, it seems to me that the simulator should try to discover whether the optimization is applicable or not.

Another reason is that, conceptually, the `compile()` should not know what "kind" of backend it

[2018-07-23 09:32] #540 closed

[2018-07-23 09:51] delapuente commented on #669
You're right but I don't know for sure. That's part of the issue, I think. When I gain more insight, I will elaborate on the description.

[2018-07-23 10:21] nonhermitian opened #674 "Swap Mapper Uses Qubits After Measurement"
### Informations

- **Qiskit (Python SDK) version**: Latest
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?
The Qobj / QASM generated after doing the swap mapping can be invalid due to the use of already measured qubits by the swap mapper.  In addition, the measured qubits can be swapped in such a way that measuring multiple qubits gets mapped onto multiple

[2018-07-23 10:33] delapuente commented on #539
This should automatically work when the backend implements the functionality.

[2018-07-23 10:33] #539 closed

[2018-07-23 14:38] chriseclectic commented on #666
@ajavadia the compiler is already deciding to move them forwards, which is an optimisation specific for hardware, it could also presumably move them backwards using the same transpiler pass (or not move them at all).  To me seems better to do this in the one location then leave it up to every simulator to include its own mini-compiler.

[2018-07-24 01:35] srujanm commented on #662
Hi @diego-plan9, I would like to work on this issue. As you suggested, implementing it along the lines of the existing [`slow_test()`](https://github.com/Qiskit/qiskit-terra/blob/badebbc96634f098c3207d0eb61e281a1af0d83a/test/python/common.py#L204) decorator in `test/python/common.py` seems like the most straightforward way to do this.

A string search in `test/python` showed me seven files in whic

[2018-07-24 03:23] chunfuchen opened #675 "Can not combine or extend a circuit which is built with CompositeGate"
### Informations
Can not use `+` operator to combine or extend a circuit.
- **Qiskit (Python SDK) version**: 0.5.7
- **Python version**: 3.6.5
- **Operating system**: macOS 10.13

### What is the current behavior?
Program crash
[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

qc2 is the copy of qc1

### Suggested solutions

add `reapply` method in the Composi

[2018-07-24 08:28] delapuente opened #676 "Polish Qobj implementation"
### What is the expected enhancement?
After the merge of #589 and #655, there are some "internal cleanup" tasks to be performed:

- [ ] reduce the amount of verbosity when creating subclasses (long term, it should be possible to recreate them from the .json specs themselves), ideally preserving facilities for static analysis and clarity for the user #654
- [x] update the tests so the `QObj`s built

[2018-07-24 11:23] diego-plan9 commented on #662
Wonderful, @srujanm !

Yes, the number of files to be changed (~7) seems about right - we can double check during the review of the PR, as outlined in the [contribution guidelines](https://github.com/Qiskit/qiskit-terra/blob/master/.github/CONTRIBUTING.rst#pull-requests). Looking forward to the upcoming PR, and thanks for tackling this issue - don't hesitate on commenting on this issue or on the P

[2018-07-24 14:09] #663 closed

[2018-07-24 14:35] nonhermitian opened #678 "DAG depth does not give correct circuit depth"
### Informations

- **Qiskit (Python SDK) version**: Latest
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?
The depth of the circuit as returned by the DAG is incorrect.

### Steps to reproduce the problem
[code]
![depth_test](https://user-images.githubusercontent.com/1249193/43144717-c8b52f76-8f2b-11e8-897e-a03add2375db.png)

As the circuit shows, the dept

[2018-07-24 15:13] awcross1 commented on #678
Some of the gates in this example occur in parallel so the circuit depth is less than 22.

[2018-07-24 17:17] nonhermitian commented on #678
Ok, I can not seem to reproduce the error I say a month or so ago.  Will close unless I can see it again.

[2018-07-24 17:17] #678 closed

[2018-07-24 17:37] nonhermitian opened #680 "compiled_circuit_qasm in Qobj is invalid"
### Informations

- **Qiskit (Python SDK) version**: 0.6
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?
The `compiled_circuit_qasm` in Qobj does not return the qasm compiled for the backend.  Running execute immediately gives a failing `job.status`.

### Steps to reproduce the problem

#### Circuit

[code]

#### In 0.6
[code]

![qiskit_06](https://user-ima

[2018-07-24 17:47] nonhermitian opened #681 "Passing seed to compile does not fix output circuit"
### Informations

- **Qiskit (Python SDK) version**: 0.5.4
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?
Passing a seed to the compiler should result in the same circuit being generated.  Currently this is not the case.  This is what happens in `0.5.4`.  I am assuming it happens in `0.6` as well, however #680 blocks me from verifying that.

### Steps to r

[2018-07-24 18:51] diego-plan9 commented on #681
Could it just be a misconception about what the `seed` parameter for the `compile()` method represents? In your example:
[code]

this `seed`, per the docstring (and the code), is actually
[code]

And if memory serves it has always been the case since introduced (~0.5?) - could you trace back the point in time where we had a configurable seed for _the compilation_? The closest seems to be #482, but

[2018-07-24 18:51] ajavadia commented on #678
Yeah the behavior seems to be correct. The longest dependency path (i.e. circuit depth) in this picture is 13.

![image](https://user-images.githubusercontent.com/8622381/43159692-0a47444a-8f51-11e8-95bb-f152168ac044.png)

[2018-07-24 19:04] nonhermitian commented on #681
It turns out that it was an issue in `0.5.4` where the `seed` was not passed to `compile_circuit` by `compile`.  Since `0.6` moves to the transpiler, this bug was removed in the process.

[2018-07-24 19:04] #681 closed

[2018-07-24 19:12] nonhermitian commented on #678
Ohh, nice plot!

[2018-07-24 19:48] ajavadia commented on #528
Closing after David's merge PR #668.

[2018-07-24 19:48] #528 closed

[2018-07-25 09:58] jonremy opened #682 "Gate cswap does not behave as expected"
### Informations

- **Qiskit (Python SDK) version**:  0.5.6
- **Python version**: 3.6.5
- **Operating system**: Docker container based on Ubuntu 18.04, host Fedora 28 (Linux 4.17.4)

### What is the current behavior?

The CSWAP gate behave as a CCX gate

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The output states of that code snippet should be `010` and `101`.

[2018-07-25 14:19] nonhermitian opened #683 "Warn users if compiled circuit is longer than noise timescales of device"
### What is the expected enhancement?
We have had many instances of people saying that the output of their circuit, when run on the devices, does not agree with what they think it should be.  Usually, this is because the depth of their circuit is well beyond the noise timescales of the device (usually as a result of decomposing many Toffoli gates or many swap gates inserted) and the output consist

[2018-07-25 15:56] ajavadia commented on #682
Thanks @jonremy for the bug report! It will be fixed.

[2018-07-25 16:41] srujanm commented on #662
Hi @diego-plan9, I am almost done with this decorator implementation. There is just one error I am running into that is independent of the decorator.

When I run `test/python/test_extensions_simulator.py`, the [`test_noise`](https://github.com/Qiskit/qiskit-terra/blob/909728c61d094eaf33a706d513e9a84a53370a5a/test/python/test_extensions_simulator.py#L78) function fails with the C++ simulator crashi

[2018-07-26 03:43] jaygambetta commented on #671
When we move to qobj why do we still want this option. This should be the output of the transpiler before qobj. Or are you thinking we make a qobj to qasm file

[2018-07-26 09:29] delapuente opened #687 "Add an integration test for checking cancellation of regular jobs"

[2018-07-26 09:34] diego-plan9 commented on #662
Hmm, can you specify if you are running into the error in `master`, or in the branch that contains your upcoming changes for the PR?

If it is the first case, please do temporarily ignore it in your local tests, as it should be something to be handled in issue #537 (although that test seems to be passing both for linux and for osx https://travis-ci.org/Qiskit/qiskit-terra/jobs/408399777#L971 at le

[2018-07-26 14:37] delapuente commented on #671
Well, while implementing I realize two cases:

If you use the wrapper shortcut `execute()`, you receive a `BaseJob` instance which does not expose the compiled QASM. The solution would be exposing the `Qobj` as a read-only property. Thoughts?

Is it guaranteed that the backend will always execute the QASM sent in the Qobj? If not, you need the backend to return the actual QASM it ran.

[2018-07-26 14:54] nonhermitian commented on #671
This seems related to #680, where running `compile` returns a `Qobj` with an incorrect qasm string, and then fails to run on the device.

[2018-07-26 17:57] ajavadia commented on #671
@delapuente I raised this bug mainly because the method is exposed in our API, but not working correctly at the moment.

Going forward, QASM will not be included in Qobj at all (it is only included now because devices run QASM, and can't run Qobj directly).

But even after we work with pure Qobj, it will still be very useful to see what Qobj was run after the run finished. For this, I think there

[2018-07-26 19:46] srujanm commented on #662
Hey @diego-plan9,

I saw the error on the `master` branch.

I switched to linux though, and confirmed that both `master` and the branch for my PR pass that test. Also just put up the PR :)

[2018-07-27 11:30] delapuente commented on #671
Agree. I would simplify the method name, say `get_qobj()` or a `qobj` property but that's all.

[2018-07-29 00:01] qruzar opened #693 "increase spacing of parameters in latex drawer"
QISKit's visualization module is not properly drawing the **cu1** gate. With the following code,

[code]

The obtained image is,

![test](https://user-images.githubusercontent.com/14854311/43361593-84621eb8-92ca-11e8-8300-91680d2489ce.png)

Which is clearly corrupt.

### Informations

- **Qiskit (Python SDK) version**: 0.5.7
- **Python version**: 3.6.6
- **Operating system**: Ubuntu 18.04.1 LTS

[2018-07-29 00:20] jaygambetta commented on #693
This is correct but it needs more space before the measurement.

[2018-07-29 00:49] cruzpmmq commented on #693
It also happens without the measurement.

[2018-07-29 01:06] jaygambetta commented on #693
Hi @cruzpmmq

I am not sure what you think is incorrect. The number is the phase that is added if both qubits are in the 1 state. I agree that in the picture you uploaded it is too far away and looks like it is part of the measurement.

[2018-07-29 01:34] cruzpmmq commented on #693
Hi @jaygambetta

I was expecting the usual boxed notation for controlled operations. Also, the following snippet implements the fourier transform on three qubits and the figure representation doesn't look so nice...

[code]

![test2](https://user-images.githubusercontent.com/14854311/43362017-d3fe2086-92d7-11e8-90b2-b35dff9adc2e.png)

[2018-07-29 13:58] ajavadia commented on #693
@cruzpmmq the CU1 gate is symmetric. So this is the correct notation. A boxed notation would imply that control and target are different.

I agree the angles should be spaced out better. It is due to latex's column layout where the label of one column runs into the other column. I'll try to adjust it.

[2018-07-29 15:17] cruzpmmq commented on #693
@ajavadia

Ok, I understand. I was just mentioning that because this operation is sometimes represented with a boxed notation (e.g. Fig.5.1 Nielsen & Chuang), and also because cu1() has ctl and tgt parameters. Thanks for looking into it.

By the way, on another subject: One very helpful feature to add to this drawing methods would be to include a parameter for the user to choose if the numbering o

[2018-07-30 02:21] rraymondhp commented on #693
You may consider to use `matplotlib_circuit_drawer`.

[code]

![image](https://user-images.githubusercontent.com/15240898/43374436-a90683f0-93ea-11e8-9800-36797ebc5125.png)

[2018-07-30 02:41] rraymondhp commented on #693
It allows you to write the box-ed control.

[code]

![image](https://user-images.githubusercontent.com/15240898/43375002-73d21c82-93ed-11e8-898b-5da94db0fc57.png)

[2018-07-30 09:30] #674 closed

[2018-07-30 18:19] ajavadia opened #695 "__add__ and __iadd__ methods for Qobj"
### What is the expected behavior?
Currently we can append `QuantumCircuit`s, which appends/extends those circuits.

It has been pointed out that we may want to do this for compiled circuits, i.e. `Qobj`s, too.

An example use case is when many circuits are created by adding small number of gates to a base circuit: `[base + c1, base + c2, base + c3, ..., base + cn]`. It would be more efficient (th

[2018-07-30 18:28] ajavadia opened #696 "Modifier methods for Qobj"
### What is the expected behavior?
A typical scenario in variational algorithms is that many circuits get compiled, which have the same skeleton and only differ in some rotation angles. These should not independently go through the compilation process. It would be much faster to compile the 1st circuit into a `Qobj`, then modify that `Qobj` in-place to create other `Qobj`s for circuits 2 .. 1000.

[2018-07-31 06:43] nelimee commented on #683
The exact time could be easily computed if #498 is solved.
I am not sure about what represents the `gateTime` in the backend `parameters`, but informations on pulses may be required also (?).

[2018-07-31 08:25] delapuente commented on #696
How would be the API of this? Do we want to make it explicitly, auto-detected?

[2018-07-31 08:57] atilag commented on #657
Ok, I'm updating the issue to track the changes that are going to finally be merged.
1. I have removed  `def exception(self):` property but all these methods could throw exceptions:
    - `result()`
    - `status()`
    - `id()`
    The main reason for these methods to throw, is that there are inconsistencies in the state of the Job, for example, you cannot call `result()` or `id()` if you haven't

[2018-07-31 09:18] delapuente commented on #695
I think this should not be part of the `Qobj` API but I completely understand and value the utility of this feature. `Qobj` is a container format, I would not extend it to support operations but I would try to figure out how to enhance the compilation pipeline. It might be interesting to support some kind of module definition at the `QuantumCircuit` API level.

[2018-07-31 09:32] delapuente commented on #188
Right, that is how it should be done. This complexity of splitting the job into several ones, then reconcile the results, should be hidden from the user.

@ewinston can you specify the steps to reproduce or link the original issue?

[2018-07-31 09:37] delapuente commented on #205
@1ucian0, does this overlap somehow with your efforts on #697? I mention it because we've discussed several times that the tests attacking the mock servers should be as deterministic as possible.

As a side note, avoiding the `random` module is a solution but finding a way of fixing the seed of the random functions could be another and it might require fewer changes.

[2018-07-31 09:59] delapuente commented on #263
Jobs have landed successfully and cancellation will be possible in 0.6 (#638 and #687) so I think this is a good time to re-evaluate this. In my opinion, timeouts are a way of limiting client execution and should not automatically remove a job from a server queue. That does not mean we can have other ways of limiting that time too (probably also called "timeout").

[2018-07-31 10:15] delapuente commented on #268
Part of this is already done. It is still confusing to me that `src` is the entry point for the CPP simulator instead of the Python code. I would find a way of renaming the `src` folder, if possible.

Regarding the structure of the tests, I agree with @atilag in that unit tests should be close to the functionality they are testing.

Finally, the majority of the tests we have are actually integrati

[2018-07-31 10:25] delapuente commented on #289
@eddieschoute, providing some use-cases supporting the feature request would be super-useful.

[2018-07-31 10:53] delapuente commented on #316
@atilag @diego-plan9 can you take a look at this issue and throw your thoughts from an architectural perspective?

[2018-07-31 10:59] delapuente commented on #325
Just saw this bug. @ajavadia the Quantum Collective Knowledge sounds super-interesting. I don't know if we published a post about it but we should.

Anyway, I think @ewinston was suggesting a benchmark infrastructure for Qiskit itself that would help us to detect regressions while developing.

[2018-07-31 11:01] delapuente commented on #328
@1ucian0 @afu1 what do you think about this?

[2018-07-31 11:08] delapuente commented on #337
Labelling this as a bug since we should explicitly say we are not currently supporting `opaque` gates instead of failing with non-clear error messages.

[2018-07-31 11:11] delapuente commented on #340
This seems to have been addressed. @eddieschoute, re-open if you feel something is missing yet.

[2018-07-31 11:11] #340 closed

[2018-07-31 11:17] delapuente commented on #356
@ajavadia how is it possible the names of the registers would affect on this?

[2018-07-31 11:19] delapuente commented on #381
@ajavadia @ewinston can you confirm this is a bug and not the expected behavior?

[2018-07-31 11:24] delapuente commented on #476
A better way of doing this is being discussed in #316.

[2018-07-31 11:24] #476 closed

[2018-07-31 11:28] delapuente commented on #498
Pinging @jaygambetta, @dcmckayibm and @ajavadia. Are there plans to include this kind of information?

[2018-07-31 11:29] delapuente commented on #519
If this is addressable by improving the documentation, let's do it as soon as possible. Is this the case?

[2018-07-31 11:34] delapuente commented on #542
@indisoluble is the package ready?

[2018-07-31 11:38] delapuente commented on #544
@ajavadia how important do you think is this?

[2018-07-31 11:39] jaygambetta commented on #498
Yes but it goes in the properties that comes from the api. It will not happen until come Maine calibrations and parameters and get a new command in api

[2018-07-31 11:40] jaygambetta commented on #519
No it needs to write a new algorithm. Its simple but I need to find some time

[2018-07-31 11:44] jaygambetta commented on #544
It should be done. We don’t need more information. It’s known and an addition that we should have. Let me think about it my feeling is it’s and extension like the initializer

[2018-07-31 12:42] yaelbh commented on #425
@delapuente I'm closing this issue. Anything that's remained to be done is documented in other issues in the other repositories.

[2018-07-31 12:42] #425 closed

[2018-07-31 12:59] psyhtest commented on #325
Many thanks @delapuente! This would be awesome.

Speaking of the project internal benchmarking needs, we do develop various [Collective Knowledge](http://cknowledge.org/) plugins for micro- and macro-level benchmarking and optimization (although it would probably be atom-level for quantum benchmarking :)).

For example, in collaboration with [Arm](http://arm.com) we have developed and released [CK

[2018-07-31 14:09] delapuente commented on #591
@atilag @diego-plan9 in a similar way as in #316, would you mind to take a look at this issue and add your opinion from an architectural perspective?

[2018-07-31 14:34] ewinston commented on #649
Version 1.0.0 of qobj was run directly on a backend and appears to return results. Still to do is to more testing with a range of qobj input, complete setup of a queue on a test device, connect queue to front end.

[2018-07-31 14:39] diego-plan9 opened #699 "Sympy and ProjectQ simulators re-integration"
Continuing from the now closed #425, this is an issue to keep track of the status of the Sympy and ProjectQ simulators - even if work is most likely needed to be implemented in their repositories, this is a meta issue for keeping track of the effort:

Remaining items:
* [x] Sympy: update for supporting Qobj
~Sympy: create the pip package~
* [x] ProjectQ: update for supporting Qobj
~ProjectQ: creat

[2018-07-31 15:03] nonhermitian commented on #576
This is no longer needed.

[2018-07-31 15:03] #576 closed

[2018-07-31 15:09] ajavadia commented on #356
This should be fixed once we stop sending QASM as part of Qobj.

[2018-07-31 15:43] Mystery8226 opened #700 "IBM Q Simulator Allows Gates After Measure"
### Informations

- **Qiskit (Python SDK) version**: 0.5.7
- **Python version**: 3.6.6
- **Operating system**: Windows 10

### What is the current behavior?
I noticed that IBM Q's ibmq_qasm_simulator allows for gates after a measure while IBM Q's actual quantum computers do not. I think that maybe if the simulator had a code so that it blocked this, the simulator could be more realistic.

### Step

[2018-07-31 16:09] ajavadia commented on #696
After in-person discussions, I am closing this issue. We agreed that Qobj should be the container that we send to backends, and is final. We want to do most of the modifications in `QuantumCircuit`, and in cases of requiring finer control (e.g. for speed in this case), we can make modifications in `DAGCircuit`.

[2018-07-31 16:09] #696 closed

[2018-07-31 16:13] ajavadia commented on #695
Similar to #696, closing this after in-person discussions. We are going to push any modifications to the `QuantumCircuit` to `DAGCircuit`. The additions described here can be done on the dag.

[2018-07-31 16:13] #695 closed

[2018-07-31 17:01] TiBaloo opened #702 "compiling multiple circuits on a real device backend"
### Informations

- **Qiskit (Python SDK) version**: 0.5.6
- **Python version**: 3.6.2
- **Operating system**: Windows 10

### What is the current behavior?
When using the transpiler "compile" function, with multiple circuits (a circuit array), on a real device (such as "ibmq_16_rueschlikon"), the following error is returned:
`MapperError: 'initial_layout qubit q0[0] not in input DAGCircuit'`

Thi

[2018-07-31 17:02] nonhermitian commented on #700
Gates after a measurement is allowed in openQASM.  However, it is not really a good thing to do on the current hardware, so it is disabled.  Future hardware will allow this.

[2018-07-31 20:12] jaygambetta commented on #700
We want the simulator to add for the future directions.

[2018-07-31 20:12] #700 closed

[2018-07-31 22:49] indisoluble commented on #542
Hi @delapuente, the [tap](https://github.com/indisoluble/homebrew-qiskit) is ready and I just updated it to use Qiskit Terra v0.5.7. I was waiting for an answer from @diego-plan9 before doing anything else, if we close this issue, where should we continue the conversation?

[2018-08-01 00:01] ikkoham commented on #519
How about using scipy.stats.unitary_group?

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.unitary_group.html

[2018-08-01 02:58] jaygambetta opened #704 "Refactoring the compilation flow"
### What is the expected enhancement?

Subtasks to clean up the compilation flow, make it more modular, parallelize it, etc.

 - [x] Separate Circuits from DAGs from Qobj, only work with dags in the transpile (PR #705).
 - [x] Make sure dag has all the fields that circuits have so circuits don't need to be passed around (PR #705).
 - [x] Improve the pass-based transpiler to support advanced functi

[2018-08-01 05:31] rraymondhp commented on #693
@diego-plan9  the latex drawer requires latex installation (several GBs) and the installation can be technically difficult for various environment. I suggest we close this issue by making the matplotlib drawer as the default drawer.

[2018-08-01 08:34] atilag commented on #542
We are transitioning to another simulator architecture that would probably render this proposal useless. I'm closing this issue while the transition finishes. We may want to come back to this idea afterwards, but a lot of things are going to change so I'm going to recommend opening a new issue by then and have the discussion there. Thanks a lot for the effort @indisoluble !

[2018-08-01 08:34] #542 closed

[2018-08-01 08:35] diego-plan9 commented on #693
Hmm, currently if using `circuit_drawer()`, the latex drawer [is tried first, but falls back to the matplotlib one](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/_circuit_visualization.py#L76); and the user can chose which one to use by calling the function invidually (`latex_circuit_drawer()` or `matplotlib_circuit_drawer()`.

Which I think covers the case you ment

[2018-08-01 10:01] delapuente commented on #621
@yaelbh is this an effort you already started? What is your estimation for completing this task?

[2018-08-01 10:02] atilag opened #706 "Parallel circuit compilation"
### What is the expected enhancement?
In order to improve compilation times, parallelize circuit compilation would be a great addition.
I wanted to open this issue to discuss ideas and ways of implementing it in our current architecture.

The goal is to land an implementation for 0.6.

[2018-08-01 10:08] delapuente commented on #630
@awcross1 can you paste the exception you observe, please? Your solution seems correct, I would love to see it in context? Why don't you try opening a pull request?

[2018-08-01 10:09] delapuente commented on #650
@ewinston what's the status of this issue?

[2018-08-01 10:14] delapuente commented on #651
Adding to the milestone 0.6 since it is one of the main subtasks of #541.

[2018-08-01 10:22] atilag opened #707 "[EPIC] Introduce Jupyer notebook tools"
### What is the expected enhancement?
One of the most demanded use-case in Qiskit is programming Jupyter notebooks, so it would be great to start thinking about including tools that can be exploited by our users to enhance their notebook programming experience.
If you want to propose a new feature, please create a comment in this very issue and once is accepted it will be added to the list below:

[2018-08-01 10:25] delapuente commented on #669
I did not realize this is not product-code but part of the testing infrastructure. My bad, sorry.

[2018-08-01 10:25] #669 closed

[2018-08-01 10:32] atilag opened #708 "[Jupyter notebook tools] Implement a progress bar for tracking compilation progress."
### What is the expected behavior?
Circuit compilation could take a lot of time to finish, so in order to make sure that the user/developer of the notebook is aware that nothing has crashed while compiling and, additionally, give them some insights about how long it would take to finish, we could implement some kind of progress bar.

[2018-08-01 12:49] jaygambetta commented on #702
I think this is related to some of the errors in the complie that I posted as #704. Ie I think we are using the layout from first circuit and in later ones the gates are not supported on the layout.  Thanks for pointing this out it’s a good test and we try to fix it with the other errors in #704

[2018-08-01 13:25] nonhermitian commented on #702
I believe that if you explicitly name your quantum register, e.g. `name='q'`, the same for all circuits, then it should work.

[2018-08-01 13:32] jaygambetta commented on #702
Yes @nonhermitian is correct.  I thought the cX was changing by one each time. Which also would fail

[2018-08-01 13:38] yaelbh commented on #621
@delapuente I didn't start it.

[2018-08-01 14:00] TiBaloo commented on #702
Indeed, explicitly naming all circuits quantum registers with `name = 'q'`, and specifying an initial_layout seems to work. Thank you very much for your help!

[2018-08-01 14:02] jaygambetta commented on #702
Great.  This will be fixed in the next update.

[2018-08-01 14:04] jaygambetta commented on #702
@nonhermitian can you move the example into my #704 so we track it and use it as a test with the transpiler work and I think we can close this now that @tibaloo has a solution.

[2018-08-01 14:53] jaygambetta commented on #621
This we should close as it is part of qiskit aer and the discussion can happen in slack until we release

[2018-08-01 14:53] #621 closed

[2018-08-01 15:13] jaygambetta commented on #544
Let’s group this together with #591 and discuss after 0.6. As well with how composite gates work.  I want to put the focus on both the user of a quantum circuit and making sure the dagcircuit is clear.

[2018-08-01 15:15] jaygambetta commented on #519
This gives you the unitary but in general it’s hard to decompose it into gates.

The more I think about this let’s just change the name of the function.

[2018-08-01 15:17] jaygambetta commented on #519
@ikkoham i agree. Can you just submit a Pr and then we can close this issue.  I would put a test with it as well.

[2018-08-01 16:55] Mystery8226 commented on #700
May I ask why this isn't a good thing to do on current hardware? Is it because a measurement would collapse the superposition and thus is irreversible?

[2018-08-01 18:04] nonhermitian commented on #700
It takes some time for the current hardware to reset after a measurement.  The other gates would have to wait for this to happen, and thus we wish to avoid this for now.

[2018-08-01 18:04] jaygambetta commented on #700
Because if you entangle before the measurement allows you to learn a bit about the state without fully collapsing the wave function.  The qubit measured will be in a classical state but the entangled ones will still have some information left in them.

[2018-08-02 09:01] t-imamichi commented on #708
How about using `tqdm`?
https://github.com/tqdm/tqdm

[2018-08-02 14:26] nonhermitian opened #716 "Are test/qobj files valid?"
### Informations

- **Qiskit Terra version**: 0.6
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?
I am trying to clean up depreciation warnings from the tests but have run into errors where by I cannot get results from running the qobj in `test/qobj`

### Steps to reproduce the problem

[code]

[code]
### What is the expected behavior?
Should be able to get

[2018-08-02 14:49] diego-plan9 commented on #716
No, I don't really think we can assume the files in `test/python/qobj` are 100% valid at the moment. They should be only "valid according to the usage that is made of them in `test/python/test_qasm_simulator_cpp.py`", since it is the only place they were used, and have been briefly touched in the successive updates to the schema (#709 , #655, etc) but _only_ for making the tests pass.

It might be

[2018-08-02 14:55] #675 closed

[2018-08-02 14:57] nonhermitian commented on #716
Ok.  Currently the test example in question gives a depreciation warning, and switching to the statevector simulator results in an error.

[2018-08-02 15:08] delapuente commented on #716
@nonhermitian @diego-plan9 is this a bug?

[2018-08-02 15:14] nonhermitian commented on #716
I would say yes.  If a depreciation warning says use another backend, but the backend fails due to an invalid qobj then I would say we have an issue.

[2018-08-02 16:12] diego-plan9 opened #718 "New interactive visualizations"
### What is the expected behavior?

Include a new set of visualizations that enrich the existing visualizations in `_state_visualization.py` and allow for a more informative experience for the users.

### Details

As per @ismaelfaro , while this feature was initially marked as one of the defining features of 0.7, seems like we will be able to include it in 0.6.

[2018-08-02 17:15] delapuente opened #720 "Consider providing a `DAGUnroller` backend to return a `QobjExperiment` instead of a plain dictionary"
### What is the expected enhancement?
Avoid using `QobjExperiment#from_dict` method. This method was intended to ease the transition to `Qobj` and will be removed (#652).

[2018-08-02 17:29] delapuente opened #721 "Provide methods to serialize and deserialize Qobj into JSON"
### What is the expected behaviour?
JSON is the natural underlying format for Qobj so it makes sense to provide the mechanisms for serializing and deserializing in JSON.

[2018-08-02 17:41] delapuente commented on #652
These are my findings:

**`from_dict`** is still needed because of two legit uses: one for loading [JSON-persisted objects](https://github.com/Qiskit/qiskit-terra/blob/master/test/python/test_qasm_simulator_cpp.py#L128) and another for transforming the output of the [`DAGUnroller` into `QobjExperiment`](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/_transpiler.py#L159).

How

[2018-08-02 17:58] delapuente commented on #289
I was referring to this:

[2018-08-02 17:59] delapuente commented on #498
Putting "on hold" until the feature in the API is ready.

[2018-08-02 18:02] ajavadia commented on #381
Yes the basis elements should be updated when unrolling occurs. It is a bug but low priority as it doesn't affect user code much.

[2018-08-02 18:03] delapuente commented on #356
It seems to be related to the total length of the payload accepted by the backend. Keeping the names short make the final payload shorter and so, it works.

[2018-08-02 18:06] eddieschoute commented on #289
Right, let me give an explicit example then. Here I apply an operation as given by the multigraph in the DAG. Then, since I have applied the operation, I wish to remove it from the DAG. (Alternatively, I could manage pointers to the current location in the DAG, but have decided against it because of code complexity.)

[code]

where remove successor does
[code]

[2018-08-02 19:29] delapuente commented on #662
Fixed by #689

[2018-08-02 19:29] #662 closed

[2018-08-02 20:06] ewinston commented on #650
@delapuente working on this now. Is this independent of the `from_dict` method referenced in #652?

[2018-08-03 00:54] ikkoham commented on #519
Thanks. OK, I will submit a PR.

[2018-08-03 05:48] ajavadia opened #725 "Clean up test suite, deprecated code, FIXMEs"
In preparation for the 0.6 release, some housekeeping items:

- [x] Fix places where running tests give warnings (PRs #719, #722, #723 )
- [x] Remove quantum program and its tests (PR #724)
- [ ] Update API to match Qiskit
   - [ ] `available` -> `operational` in `backend.status`
   - [ ] Remove lots of `FIXME` hacks in `ibmqbackend.py` (related to backend names, configuration, etc.)

These are no

[2018-08-03 07:30] delapuente commented on #650
Yeah, actually, I think this is the same as #652 and we could close it. There is one legit use in the test cases and we should remove it by fixing #721.

[2018-08-03 08:25] delapuente commented on #680
@nonhermitian I need some help. I'm not getting an error when running `execute` on your quantum program sample and I'm getting almost the same QASM program from the compilation as I'm getting from the backend. It is missing the `OPENQASM 2.0;` line but that's the only difference:

[code]

[code]

[code]

[code]

[2018-08-03 08:49] delapuente commented on #680
Just to ease the revision, [`get_ran_qasm()`](https://github.com/Qiskit/qiskit-terra/blob/1254135e84743474a399e6bdb7be25a3ff24274a/qiskit/_result.py#L131) is looking into the `compiled_circuit_qasm` which [is copied from the `qasm` field of the API result](https://github.com/Qiskit/qiskit-terra/blob/52f500aff629acf3aaf3053da37feb985c11c9b5/qiskit/backends/ibmq/ibmqjob.py#L487).

[2018-08-03 09:49] nonhermitian commented on #680
Yes, it seems that the failure to run was likely due to an older version of the API that I had (as pointed out by @atilag).

However, if indeed the ran qasm result is correct, and the exact same as the input, that would mean that the compiled circuit needed no additional swap gates, and all the cnots happen to be in the right direction; A not very likely scenario.  In addition, the results from 0.

[2018-08-03 10:00] nonhermitian commented on #680
Actually I see what is going on.  It actually does match the coupling map exactly!  The change was the `_matches_coupling_map` routine that @ajavadia added to the `transpiler` to check for such things.  It verified the circuit, which caused `initial_layout=None` to be passed. That is how I caught it.

[2018-08-03 10:00] #680 closed

[2018-08-03 10:35] nonhermitian commented on #708
I would also add that the job could use a progress bar for the queue position.

[2018-08-03 12:15] #687 closed

[2018-08-04 15:14] #671 closed

[2018-08-06 07:29] delapuente commented on #289
The last comment also evidences a flaw in the `DAGCircuit` API: the consumer needs to go down into the multigraph API supporting the DAG in order to perform circuit-level operations. That reveals encapsulation/abstraction issues.

[2018-08-06 12:49] 1ucian0 commented on #328
I can drop this in my pipeline (assigning to me). Tagging as low, but feel free to re-prioritize if needed.

[2018-08-06 13:50] eddieschoute commented on #289
I have lost count how often I needed to access the multi-graph directly. It's basically the only way I know of actually using the DAG part of `DAGCircuit`!

[2018-08-06 13:51] eddieschoute commented on #289
I have also simplified the above code to

[code]

[2018-08-06 15:26] delapuente opened #728 "Review the API of the `DAGCircuit`"
### What is the expected enhancement?
It seems a lot of DAG manipulation [requires accessing the underlying multigraph](https://github.com/Qiskit/qiskit-terra/issues/289#issuecomment-410714542). Common operations should be supported at the `DAGCircuit` level.

[2018-08-06 15:26] delapuente commented on #289
I've opened #728 to try to come up with a better understanding of what operations the DAG should support and provide direct methods for it.

[2018-08-06 15:29] delapuente opened #729 "Tweak the linter to recognise `assert*` names in camelCase"
### What is the expected enhancement?
`assert*` names are common in tests and should be accepted since they follow the naming conventions for tests. The bug can serve to review other patterns we have detected in the code.

[2018-08-06 15:41] eddieschoute commented on #728
Let's see if I can list some uses of DAGCircuit that should be supported:

1. Constructing a DAGCircuit is still quite hairy. You need to manually add bases and gates, especially the later is very obscure. (Qiskit internally also has a list of hardcoded "gate data" to set this up).
2. To Better support (1), I wrote my own method to construct an empty DAGCircuit from an existing circuit that just c

[2018-08-06 16:22] mtreinish opened #730 "Switch to parallel test runner for python unit tests"
### What is the expected enhancement?

We currently are using the default stdlib test runner for running our python unit tests. While this works and will execute the tests correctly it's quite limited in what it can do. The biggest limitations are that it can only serial execute tests and that it doesn't enable any results tracking.

I propose that we switch the test runner to stestr: https://gith

[2018-08-06 16:36] diego-plan9 commented on #730
Hi @mtreinish ,

and thanks for the suggestion - the topic of replacing the standard unit test runner with something a bit more powerful comes up every now and them (mostly in informal conversations). There are a couple of forces that explain why we still use the standard lib one by default: one of them is mostly for compatibility and allowing contributors to choose the test runner of their choice

[2018-08-06 17:27] mtreinish commented on #730
The reasons you outlined for sticking with the stdlib runner are actually a big part of the reason I suggested using stestr. It builds off the upstream stdlib unittest constructs (so it uses the same discovery, etc.) so if it runs with stestr it will work with any runner. So if we did switch to stestr it would be basically the soft recommendation approach you mentioned, and just switching what we

[2018-08-06 19:43] ajavadia opened #731 "Draw barrier in `latex_drawer`"
### What is the current behavior?
Right now the barriers are not drawn with latex. We want them to be drawn for `barrier`, `noise`, `save`, `load`, and `snapshot` instructions at that depth.

[2018-08-06 19:45] ajavadia opened #732 "Using simulator instructions breaks latex circuit drawer"
### What is the current behavior?
Using circuit simulator instructions (such as [`snapshot`](https://qiskit.org/documentation/_autodoc/qiskit._quantumcircuit.html?highlight=snapshot#qiskit._quantumcircuit.QuantumCircuit.snapshot)) cause those instructions to be added to the basis of the DAG, which in turn cause the circuit drawer to raise:

[code]
### Steps to reproduce the problem

[code]

### Ex

[2018-08-06 20:15] jaygambetta commented on #732
Also for the experiment.

[2018-08-07 04:36] rraymondhp opened #733 "QuantumCircuit supporting inverse()"
### What is the expected behavior?
Many quantum algorithms, such as amplitude amplification, require the use of inverse of quantum circuits. Inverting a circuit should be possible as the method `initialize()`, a quantum circuit, already supports this.

[2018-08-07 09:44] nonhermitian commented on #708
The work on this has been started in PR #734.

[2018-08-07 13:44] delapuente commented on #733
Can be related to #728

[2018-08-07 13:45] delapuente commented on #733
@rraymondhp could you propose a code sample for this in a hypothetical use case?

[2018-08-07 13:46] delapuente commented on #732
@ajavadia can you provide the steps to reproduce and the expected behavior, please?

[2018-08-07 13:51] jaygambetta commented on #732
Since is in my bug I will. But it is pretty clear from the description.

# Quantum and Classical Registers
q = QuantumRegister(1)
c = ClassicalRegister(1)
qc = QuantumCircuit(q, c)
qc.h(q)
qc.snapshot('0')
qc.measure(q, c)
circuit_drawer(qc)

[2018-08-07 13:56] delapuente opened #735 "Let initial_layout be a list"
### What is the expected enhancement?
Lets the user pass a list of numbers as an `initial_layout` to the `compile` function that maps the circuit from top to bottom in the quantum registers.

[2018-08-07 14:04] delapuente commented on #706
I made #701 fixes this issue and it seems the conversation is happening there.

[2018-08-07 14:11] delapuente commented on #732
@jaygambetta this is the output I'm getting, since I and other contributors could not be used to quantum circuits representation, what's the expected behaviour?
![captura de pantalla 2018-08-07 a las 16 09 28](https://user-images.githubusercontent.com/757942/43781098-6bf81c1c-9a5c-11e8-9891-a5ea3ed569fe.png)

[2018-08-07 14:30] nonhermitian opened #736 "Use new URL format for Q network registration"
### What is the expected enhancement?

The registration for the Q network needs to use the new URL format.

[2018-08-07 14:55] ajavadia commented on #699
@yaelbh do you think this is doable within a week or two to make it for the 0.6 release?

[2018-08-07 17:05] jaygambetta commented on #732
hmm no, it crashes. but I think I know why. In your corrections to my code could you add

[code]

and it should give you ther error
I think your code is just ignoring the snapshot.

[2018-08-07 17:06] jaygambetta commented on #732
QasmError: "Cannot find gate definition for 'snapshot', line 6 file "

[2018-08-07 18:48] yaelbh commented on #699
@ajavadia Yes. The main work is to finish and merge @diego-plan9's pull requests about 0.6 (https://github.com/Qiskit/qiskit-addon-sympy/pull/28 and https://github.com/Qiskit/qiskit-addon-projectq/pull/11). The merge by the way will probably be able to be carried out only after 0.6 is launched, because addons Travis will fail until then.

I'd like not to take a central role in this effort because

[2018-08-07 19:39] yehuda-naveh commented on #699
@ajavadia  @jaygambetta  are we going to release/announce JKU addon as part of 0.6? from code/wrappers/pip/benchmarking point of view I think we are all done (not including Windows which JKU don't support). If we are going to release, i'd like to first ask/inform our JKU partners so no surprises

[2018-08-07 19:58] ewinston commented on #650
Ok, I did some updating of the tests to use 0.6 methods as described in the issue description. If those look good maybe we can close this PR with that? Beyond the from_dict methods, which seemed mostly reasonable, there didn't appear to be any dictionary defined qobj.

[2018-08-07 22:15] rraymondhp commented on #733
I wonder if it is as simple as this:
[code]

For one of the use cases, see this notebook:
https://github.com/Qiskit/qiskit-tutorial/blob/694d3be81df04e26afbc52be0f4bd48fd805aee2/hello_world/string_comparison.ipynb
The inverse of a circuit can be used to compute how close are two quantum states.

We can easily compute inverse QFT, and much more.
https://quantumexperience.ng.bluemix.net/qx/community

[2018-08-08 06:44] delapuente commented on #733
Thank you very much for your detailed explanation @rraymondhp. In the meantime, someone could use [`CompositeGate`](https://www.qiskit.org/documentation/_autodoc/qiskit._compositegate.html?highlight=inverse#qiskit._compositegate.CompositeGate) which has a [`reverse`](https://www.qiskit.org/documentation/_autodoc/qiskit._compositegate.html?highlight=inverse#qiskit._compositegate.CompositeGate.inver

[2018-08-08 06:47] delapuente commented on #650
Are those changes in a PR yet?

[2018-08-08 06:52] delapuente commented on #732
Thank you, Jay, for fixing the steps to reproduce. With all the information in place, I'm completing the summary and assigning to myself.

[2018-08-08 06:59] delapuente commented on #732
@ajavadia what's the expected behaviour? It is "not crashing and displaying [the circuit](https://github.com/Qiskit/qiskit-terra/issues/732#issuecomment-411070422)" or should the snapshot be displayed in some way?

[2018-08-08 07:22] delapuente opened #742 "Provide a Jupyter magic function to get the status of running jobs"
### What is the expected enhancement?
Get a way of inspecting the state of executed jobs by using a Jupyter magic function.

[2018-08-08 07:29] delapuente opened #743 "Remove snapshot schema"
### What is the expected enhancement?
Since snapshots are only for simulators, Chris will issue a document with the specifics of the snapshot command. In the core schema just put enough to have the outline of the snapshot command.

[2018-08-08 07:50] delapuente opened #744 "String formatting issue when `CouplingError` exception is raised"
### What is the current behavior?

There is a minor bug when `CouplingError` exceptions are raised in `qiskit/mapper/_coupling.py: distance`.

### Suggested solutions

The descriptions of qubits are tuple (e.g. `('q',0)`) that are not automatically convereted to strings when `"%s not in coupling graph" % q1`, a `TypeError: not all arguments converted during string formatting` raises.

[2018-08-08 07:59] delapuente opened #745 "Improve efficiency of creating Pauli matrices in `Pauli` class"
### What is the expected enhancement?
Improve performance in the creation of the `Pauli` matrices.

[2018-08-08 08:06] delapuente opened #746 "Retire QuantumProgram"
### What is the expected enhancement?
`QuantumProgram` exists for keeping backwards compatibility but it is deprecated.

[2018-08-08 08:17] delapuente opened #747 "Skip on QE tests if QE is not configured"
@mtreinish reported:

### What is the expected enhancement?

When running the test suite locally if you do not have a QE
configuration setup you'll encounter ~40 failures during a run by
default that require this configuration. Instead of failing we should
just skip these tests if there is no config present because it can't be
expected that everyone has the QE configuration setup locally.
While th

[2018-08-08 08:26] delapuente opened #748 "Remove shots from statevector simulators"
@yaelbh reported:

### What is the expected enhancement?
Stop statevector simulators from requiring that the user provides the number of shots.

[2018-08-08 08:38] delapuente opened #749 "Improve performance of `DAGCircuit#layers` method"
### What is the expected enhancement?
See the excellent @eddieschoute [analysis of the issue](https://github.com/Qiskit/qiskit-terra/pull/378#issue-178640893).

[2018-08-08 08:41] delapuente opened #750 "Add A*-based mapper"
@azulehner reports:

### What is the expected behavior?

Adds a new mapper based on A* (a_star_mapper) to the quantum compiler. Details of this mapper are described in the paper entitled "Efficient Mapping of Quantum Circuits to the IBM QX Architectures." by Alwin Zulehner, Alexandru Paler, and Robert Wille (available at https://arxiv.org/abs/1712.04722). The old mapper (call of swap_mapper and di

[2018-08-08 11:09] mtreinish commented on #731
So I did a little digging and the Qcircuit latex package doesn't support drawing barriers, which is probably why it's not implemented in latex_circuit_drawer(). I'll look into seeing if we can draw a vertical dotted line on top of the xypic that the Qcircuit package generates. But alignment will be tricky doing it that way, it would be better to teach the Qcircuit package how to draw it, because t

[2018-08-08 13:03] rraymondhp commented on #731
FYI, the matplotlib drawer in qiskit supports barrier, and much more ...
https://nbviewer.jupyter.org/github/Qiskit/qiskit-tutorial/blob/master/reference/tools/matplotlib_circuit_drawer.ipynb#Show-Barriers

[2018-08-08 13:31] ajavadia commented on #731
@mtreinish indeed that's why we did not have barriers originally (Qcircuit doesn't have it). I agree with you about the 2 possible solutions.

@rraymondhp yes we are aware of that. This issue is about the latex drawer. We continue to support both drawers in Qiskit. Latex produces higher quality pictures (no one uses matplotlib to draw quantum circuits in publications). But matplotlib has fewer sof

[2018-08-08 13:35] ajavadia commented on #732
@delapuente the expected behavior is that it should not crash. The reason for the crash seems to be that these simulator instructions get added to the basis of DAGCircuit, but not recognized by the drawer or the device experiment.
Displaying the snapshot/barrier/etc. is tracked in a separate PR #731.

[2018-08-08 13:46] 1ucian0 opened #751 "String formating bug in Coupling"
The descriptions of qubits are tuple (e.g. `('q',0)`) that are not automatically converted to strings when `"%s not in coupling graph" % q1`, a `TypeError: not all arguments converted during string formatting` raises.

### Informations

- **Qiskit Terra version**: 0.6.0
- **Python version**: 3.6.1
- **Operating system**: MacOS

### What is the current behavior?
[code]

### What is the expected beh

[2018-08-08 14:24] chunfuchen opened #752 "Speed up of converting from pauli to matrix"
### What is the expected enhancement?
Speed up the conversion from pauli to matrix

As stated in #717, scipy tends to use `coo` matrix to build matrix for either `bmat` or `kronecker`.
Furthermore, since we know all matrix form for all paulis rather than the random matrix, we can use the simple way to build the matrix rather than general Kronecker product.
E.g. use `bmat` method to build block mat

[2018-08-08 14:26] 1ucian0 commented on #744
Duplicated with #751 .

[2018-08-08 14:26] #744 closed

[2018-08-08 14:27] rraymondhp commented on #731
@ajavadia  Thanks! I see. Sorry for this. I agree LaTeX give a better circuit for papers. It will be great to have barriers and others on LaTeX drawer.

[2018-08-08 14:29] t-imamichi commented on #731
Hi @ajavadia. What kind of figures are you planning for `barrier`, `noise`, `save`, `load`, and `snapshot`? We can implement them to matplotlib_circuit_drawer.

[2018-08-08 14:35] ajavadia commented on #731
@t-imamichi for barrier the dotted line that you have is great. All the others also behave like barriers, in the sense that they prevent reordering of operations. Perhaps we can label the top of dotted line to indicate the type of simulator instruction this is.

[2018-08-08 14:37] t-imamichi commented on #731
Thanks! We will implement a prototype with matplotlib_circuit_drawer.

[2018-08-08 15:41] Max-Reuter opened #753 "`Qobj` `from_dict` method generalizes inner members to `QobjItem`"
### Informations
Calling `from_dict` on any `Qobj` or `Qobj` derived classes causes its inner `Qobj` members to be generalized to `QobjItem` instances instead of retaining its derived class.

### What is the current behavior?
[code]

### Steps to reproduce the problem
In an interactive session, follow these steps:
[code]

### What is the expected behavior?
[code]

### Suggested solutions
Update `_

[2018-08-08 16:43] delapuente opened #754 "Stop sending QASM code in the Qobj"
### What is the expected enhancement?
The string with the QASM code should not be sent to the backends once they accept the Qobj format.

[2018-08-08 16:45] delapuente opened #755 "Local simulators should generate results according to the result schema"
### What is the expected enhancement?
In order to transition to using common standards, local simulators should report results following the proper schemas.

[2018-08-08 16:47] delapuente opened #756 "Adapt the`Result` API to the new backend result format after the introduction of Qobj."
### What is the expected enhancement?

The format of the results is going to need some changes due to the introduction of `Qobj` in 0.6. The `Result` class needs to be updated to be able to cope with the changes - actually, it will need to understand both the new format and the old format during the transition.

[2018-08-08 16:50] t-imamichi commented on #612
Ali discussed more instructions to draw: `barrier` (for latex), `noise`, `save`, `load`, `snapshot` (for both latex and matplotlib)
https://github.com/Qiskit/qiskit-terra/issues/731

[2018-08-08 17:16] Travis-S commented on #731
Hi all  -

If you do teach Qcircuit how to draw barriers, those of us maintaining the [package]((https://github.com/CQuIC/qcircuit)) would be happy to accept a PR adding that functionality.

[2018-08-08 17:30] diego-plan9 commented on #756
Self-assigned and expanded a bit the description. The slightly trick part is going to be being able for both formats to coexist during this phase, as the `Result` class is too tightly coupled with the old format - I'll take the chance to decouple it a bit, while keeping the public API of that class intact (hopefully :crossed_fingers: ).

[2018-08-08 17:56] delapuente commented on #755
Not sure if the original commentary wanted to say this should be high-priority or it was just pressing for moving to a separate issue as soon as possible. @ajavadia can you confirm this?

![captura de pantalla 2018-08-08 a las 19 36 45](https://user-images.githubusercontent.com/757942/43855193-24cf8a34-9b45-11e8-8309-22a1b3d930b5.png)

[2018-08-08 17:58] delapuente commented on #649
Since this is no longer tracking remote backends only, let's change the title to be more accurate.

[2018-08-08 18:11] mtreinish commented on #731
@Travis-S yep, that was my plan. The patch I pushed up earlier was just me saving my work from playing around. I just pushed https://github.com/CQuIC/qcircuit/pull/33 which adds a new barrier command to Qcircuit.

[2018-08-08 19:56] jiosue opened #758 "Take algorithm as list of strings and run it"
### What is the expected enhancement?

It would be awesome to be able to take something like
[code]
and run it with
[code]
where `d` becomes the dictionary mapping states to their measured probabilities.

So, for examples, `run(["h(0)", "cx(0, 1)"], num_qubits=2, shots=5000, backend="ibmqx4")` would return `{"00": a, "01": b, "10": c, "11": d}`, where, if the quantum computer was perfect, `b = c =

[2018-08-09 01:51] ajavadia opened #759 "too many types of errors"
### What is the expected enhancement?
Right now we have separate error types for different components: `MapperError`, `DAGCircuitError`, `QASMError`, `ExtensionError`, `TranspilerError`, `CouplingError`. Why do we need these? Can't we make every error just be a `QiskitError`?

If there is truly a benefit, then we should be consistent. For example add a `QobjError` as well. But I don't think this i

[2018-08-09 07:39] delapuente commented on #759
I'm closing this issue in favour of #601. Ali, if you don't mind, move the conversation there.

[2018-08-09 07:39] #759 closed

[2018-08-09 07:41] delapuente commented on #601
In #759, Ali makes his point saying:

@diego-plan9 @atilag this is something we discussed in the past, and I know you have a formed opinion on it.

[2018-08-09 08:28] delapuente commented on #752
Method 2 represents a 40% of speedup over baseline which seems like a great local improvement. Can you profile real uses of this function and tell the fraction of the time it is used?

[2018-08-09 08:46] #736 closed

[2018-08-09 08:51] #745 closed

[2018-08-09 09:52] delapuente opened #761 "Provide equivalence checkers"
According to @liupibm:

### The goal of the quivalence checker
Given two circuits, check whether their final amplitude vectors V1 and V2 are equivalent: they differ only in the global phase, i.e., the equation V1*E^(I*x)=V2 has a solution.

This is useful for debugging transpiler passes also.

[2018-08-09 12:54] jaygambetta commented on #704
@ajavadia can you post the standard we are going to have for the intital_layout here so that we have a reference.

[2018-08-09 15:16] #653 closed

[2018-08-09 17:49] mtreinish opened #763 "Use an external library for latex generation"
### What is the expected enhancement?

The actual latex generation code that is part of the latex_drawer is tricky to maintain right now. It basically does everything by looping over the circuit and manually writing out all contents of the latex file. This includes code to track the whitespace positioning in the file (tabs, newlines etc.) and because of this the class doing the generation is quite

[2018-08-09 20:17] ajavadia commented on #594
Tracking this in #704.

[2018-08-09 20:17] #594 closed

[2018-08-09 20:29] ajavadia commented on #704
We decided to alter the format of the `initial_layout` to something like this:
[code]
where each tuple specifies one *circuit* qubit, and each position in the list corresponds to a physical qubit on the chip (in this case 5 qubits). The physical qubits are assumed to be ordered (Qobj has this assumption too).

This will hopefull have the flexibility of the current dictionary approach, but much eas

[2018-08-09 20:29] ajavadia commented on #735
We decided to alter the format of the `initial_layout` to something like this:
[code]
where each tuple specifies one *circuit* qubit, and each position in the list corresponds to a physical qubit on the chip (in this case 5 qubits). The physical qubits are assumed to be ordered (Qobj has this assumption too).

This will hopefull have the flexibility of the current dictionary approach, but much eas

[2018-08-09 20:44] jaygambetta commented on #704
Great i want to make sure this is taken all the way though.

[2018-08-09 21:35] mtreinish commented on #268
I personally prefer that we keep only the python code under `qiskit`  directory because it is the namespace of the python package. While it's simple enough in the setup.py to map a namespace to a different directory I've always found that more confusing that just making it the same thing. Then we keep the non-python parts of the codebase under another directory. We could use `src` (and then have s

[2018-08-09 21:37] ajavadia commented on #758
Hi @jiosue,

This seems more like a script, and not really suitable for including in Qiskit. The aim of Qiskit is to provide the API and interfaces that users can use to build their own tools. Building a circuit and executing it in Qiskit is straightforward (refer to the examples directory).

The main advantage of what you are describing is to basically start from a string, and not build a `Quantu

[2018-08-09 21:37] #758 closed

[2018-08-10 08:53] #729 closed

[2018-08-10 09:48] delapuente opened #767 "Add option to reverse qubit order when drawing circuits"
### What is the expected behavior?
Currently, qubits registers are displayed with their lower bits in the top; the flag would allow the order to be reversed.

[2018-08-10 10:04] delapuente opened #768 "Control wires are not correctly displayed"
@nkanazawa1989 noted:

### Summary
- Bug fix for conditional gate when multiple classical registers are included.
- Modify the appearance of classical-bit related gates to one in `latex_circuit_drawer`.

### Steps to reproduce
The bug reported in Slack:
e.g.
[code]

### Expected behaviour

The conditional only involves the classical register named `c1`.

### Current behaviour

![index_bug](https:/

[2018-08-10 11:05] diego-plan9 opened #769 "Usage of `hpc` parameters clarification"
### What is the current behavior?

It seems that the `hpc` parameters received by [`transpiler.compile(..., hpc=..., ...)`](https://github.com/Qiskit/qiskit-terra/blob/7269b6cc7b9fba7cf1ce28c46779244cc3c6e33b/qiskit/transpiler/_transpiler.py#L33) are not really added to the resulting `Qobj` - they are [checked](https://github.com/Qiskit/qiskit-terra/blob/7269b6cc7b9fba7cf1ce28c46779244cc3c6e33b/qi

[2018-08-10 11:45] 1ucian0 opened #770 "qiskit/mapper/_coupling.py needs more testing"
### What is the expected enhancement?

The coupling graph structure in `qiskit/mapper/_coupling.py` is currently not very well tested. Please, add more tests.

[2018-08-10 11:54] delapuente commented on #666
I would say that hardware-specific passes in the compiler make sense (@atilag what do you think?). That said, for this specific case, what about doing nothing by default and optimize for (our) physical devices instead of optimizing for simulators?

[2018-08-10 12:20] mtreinish opened #771 "Add coveralls coverage collection to CI"
### What is the expected enhancement?

Right now there is no centralized coverage collection and people have to generate coverage reports manually. It would be good to setup coveralls (or a similar service) to collect coverage data locally so we just have a central location to check the current status of test coverage.

We don't need to turn on coveralls commenting or add a coverage badge to the R

[2018-08-10 13:33] nonhermitian commented on #666
We have a solution to this issue (see the last comment in #691), but it is most likely best to wait for aer to implement as it involves modifying the way terra talks to the`local_qasm_simulator`, and it is not really a bug per say.

As a side note, the transpiler must have hardware specific passes otherwise we can not map circuits to hardware with limited connectivity.

[2018-08-10 13:55] 1ucian0 commented on #205
This issue is about test files that call `random` as part of the test. The list of file is outdated tho. I can have a new look to it to see if this is still relevant.

[2018-08-10 14:26] jaygambetta commented on #769
I would like to remove all hpc and that if it is needed it goes into a config.py as getting designed by @chriseclectic for qiskit aer

[2018-08-10 14:27] jaygambetta commented on #761
As in the last one this goes on hold until we are ready to scientifically discuss this. Can you put this back on hold or make it in a roadmap for qiskit 0.8. We will have an equivalence checker but after the transpiler is complete.

[2018-08-10 14:28] jaygambetta commented on #750
this should be linked #704

[2018-08-10 14:31] liupibm opened #772 "Localjob is not process safe and leads to hang"
Users cannot run multiple processes, each of which submits some jobs.

As a user, I want to run multiple processes to submit the jobs in parallel. However, they will hang in mac.

You can argue that (#567) the user would better assembly multiple circuits and send them in one job, then the qiskit will internally use the `PoolExecutor` to handle them.

However, as a general tool, qiskit should not i

[2018-08-10 14:42] ajavadia commented on #769
Added to #704's Transpiler epic.
This is legacy and we should remove it. I think the hpc backend should do the optimizations by default. If there is really a use case for users turning off those parallelization optimizations, then it should be done via the config as Jay mentioned.

[2018-08-10 20:26] chunfuchen commented on #752
For a 12 qubit system, LiH molecule.

The conversion from paulis to matrix takes 85.6% of time with the master branch. (wall time: 13.1509 seconds)
After using method 2, the portion for conversion reduces to  80.4% (wall time: 7.94011 seconds)

the reduction in wall time is about 2x.

[2018-08-11 01:28] jaygambetta commented on #704
updated the top. We have decided that in batch mode coupling_map, basis_gates, initial_layout (maybe we change name to desired_layout) will not be customizable in compile. We will write an using qiskit to show how using transpiler.

[2018-08-13 08:27] atilag opened #775 "Remove possible race conditions on test_ibmqjob_states.py flow."
### Informations

- **Qiskit Terra version**: > 0.5
- **Python version**:  > 3.5
- **Operating system**: All supported

### What is the current behavior?
Tests on test_ibmqjob_states are meant to test state flow on jobs. As these jobs have asynchronous behavior, we need a way to avoid possible race conditions. There's some sort of `sleep()` mechanism to sync operations that is not very reliable.

[2018-08-13 10:12] rraymondhp opened #776 "controlled-U gate optimization"
### What is the expected behavior?
I wonder if we can have controlled-u gate optimization similar to the 1-qubit gate optimization with quaternion. If two consecutive controlled-U gates share control-target qubits, they can be combined into a single controlled-U gate with the same logic as the 1-qubit gate optimization with quaternion.

There is already a PR for 1-qubit gate optimization:
https://

[2018-08-13 10:55] delapuente commented on #752
Well, 1.66x actually. It seems like a good improvement to me. It is a 34% faster which means a near 1:1 ratio according to the local speed-up. @nonhermitian do you want to add something more? @chunfuchen can you provide another example and summarize times in a table for posterity, please? I'm happy with implementing this. :)

[2018-08-13 11:02] delapuente commented on #772
@liupibm would it be possible to implement the changes without modifying the public API?

[2018-08-13 11:04] delapuente commented on #769
This affects #657, it should be safe to remove passing the `hpc` parameters.

[2018-08-13 11:11] delapuente commented on #205
As far as I know, all the random functions depend on the same random generator so if we get some way of [restoring the seed](https://docs.python.org/3.7/library/random.html#random.seed) before each test, we won't remove the randomness but we can ensure it is deterministic from run to run.

[2018-08-13 11:16] delapuente commented on #666
Thank you, @nonhermitian! @ajavadia if you agree we should move this to Aer, we can mark the bug as "wont fix" and close it.

[2018-08-13 11:29] yaelbh commented on #205
We should not fix the random seed in tests that rely on asserts. Namely tests that pass for any random seed, as long as the code is correct. The random seed should be fixed in the testsuite only for tests that fail otherwise.

[2018-08-13 11:48] delapuente opened #777 "Improve performance of `two_qubits_kak`"
As per noted by @nonhermitian at #774
### What is the expected enhancement?
A reduction in the number of matrix operations can speed up the overall running time of the functions. It would be also better to verify the function in a test rather than always it is invoked.

[2018-08-13 13:04] 1ucian0 commented on #205
A reminder, we are talking about random inserted just for testing, not about the intrinsic random used by Terra.

@delapuente: Using only constant-seeded generators is equivalent of using constants directly.

@yaelbh I disagree. Making sure that the tests pass with a big variety of inputs it's the job of a fuzzer, not the test suite. If I write code and the test suite fails, I want to make sure it

[2018-08-13 13:34] #768 closed

[2018-08-13 16:55] liupibm commented on #772
@delapuente for mac, the above change of LocalJob is enough and it does not modify the public API.
I only care about mac in my problem settings.

[2018-08-13 18:39] nonhermitian commented on #772
@ewinston and I talked about this some. The temp solution is all jobs use Threadpool. However, the real fix is likely a qiskit wide gobal executor pool. However, we really need to have a discussion with the aqua team to see how to best address what they need.

[2018-08-14 08:13] delapuente commented on #772
I think @atilag was also thinking about a possible fix.

[2018-08-14 13:36] #657 closed

[2018-08-14 14:44] liupibm commented on #772
@nonhermitian @delapuente
thanks, the temp solution looks good to me, at least much better than the original one since it leads to hang in mac.  For this reason, can we temporarily apply the patch to terra?
With this patch, I already observed at least 2X speedup of the optimizer by using multiple job-submitting processes (i am part of aqua team).

Moreover, for the general users (rather than aqua)

[2018-08-14 15:03] ajavadia opened #778 "Create `backend.properties` method in API and Terra"
### What is the expected enhancement?
- [ ] Update methods in API `backend.parameters`, `backend.calibration` -> `backend.properties`
- [ ] Update these methods accordingly in Terra.

[2018-08-14 15:19] ajavadia commented on #664
Removed from 0.6 milestone since the c++ simulator is being reworked for Aer. For now Terra can translate new qobj to old qobj.

[2018-08-14 15:19] 1ucian0 commented on #205
I just updated the list. I'm moving the previous list here for archiving porpouses.

This list is old (Dic 2017):
[code]

[2018-08-14 16:28] ewinston commented on #772
@liupibm The way to test using the same executor as terra would be to submit to the one contained in LocalJob. So you would do something like

from  qiskit.backends.local.localjob import LocalJob
executor = LocalJob._executor

 Currently, for linux, this gives you the ProcessPoolExecutor. Because that depends on python's `multiprocessing` module this has the restriction that submitted jobs must be

[2018-08-15 00:54] liupibm commented on #772
@ewinston the pool has the serious limitations that the jobs must be pickable.
For this reason, I did not use the pool in my code.

Instead, I used the multiprocessing module which does not suffer from this restriction.
besides, I balance the workload among the multiprocesses to simulate the pool behavior.

[2018-08-15 09:40] delapuente opened #780 "Master is failing"
### Informations
Due to a [recent change in the IBMQuantumExperience library](https://github.com/Qiskit/qiskit-api-py/commit/d1bd8b7870cd50e4e5167b515009d8a6047e620b), we are experiencing failing tests.

For a list of failing tests, see this Travis report:
https://travis-ci.org/Qiskit/qiskit-terra/jobs/415922713

[2018-08-15 10:26] delapuente commented on #772
Just to confirm, @liupibm, do you mean forcing all jobs to use the `ThreadPoolExecutor`? @nonhermitian @atilag are we good on that?

[2018-08-15 10:31] delapuente commented on #649
Changing the name since the scope of the issue has broadened to include adaptation to the new `Result` schema.

[2018-08-15 10:36] delapuente commented on #649
Removing "update the local C++ simulators for fully using `Qobj` (#664)" since it has been moved out of 0.6.

[2018-08-15 13:46] atilag commented on #772
I was thinking about implementing our own Threadpool natively, so we can bypass GIL restrictions. Qiskit will use some sort of queue to send whatever we need to run concurrently (jobs, compilations, etc). Of course, this will be a global shared queue for everything Qiskit. I'd create an issue so we can have a discussion there about possible implementations.

[2018-08-15 13:55] liupibm commented on #772
@delapuente I am speaking only as a Mac user.
currently, in mac, terra already uses threadpoolexecutor.
     if sys.platform in ['darwin', 'win32']:
        _executor = futures.ThreadPoolExecutor()
    else:
        _executor = futures.ProcessPoolExecutor()

What I proposed is to make the executors private to each job-submitting process, rather than shared between all processes.

[2018-08-15 14:00] liupibm commented on #772
@atilag this sounds like a nice idea.
I wrote a fake pool using the multiprocess mainly for workload balancing, as attached.
However, it does not allow the jobs to be submitted on the fly.

[multiprocess_pool_with_pickle.py.txt](https://github.com/Qiskit/qiskit-terra/files/2290434/multiprocess_pool_with_pickle.py.txt)

[2018-08-15 20:01] atilag commented on #772
@liupibm as far as your code doesn't break any of our supported platforms (Linux, Mac, Win64), I'm ok about merging your temporary fix. Once we have discussed our concurrency strategy, we will code a proper implementation and this patch will be removed. @ewinston @nonhermitian any thoughts?

[2018-08-15 20:13] liupibm commented on #772
@atilag sounds good,
what command should I use the run the tests?
I can test them on linux/mac/win64.

[2018-08-15 20:13] ewinston commented on #772
Sounds fine to me.

[2018-08-15 20:15] liupibm commented on #772
@ewinston I tried the dill and pathos and ran out of luck. maybe because our object is a bit complex.

[2018-08-15 20:16] ewinston commented on #772
@liupibm When you run the tests it should already get submitted to all the platforms. It would be good if you could add a small parallel test code which requires this change to work.

[2018-08-16 07:43] #780 closed

[2018-08-16 08:32] #777 closed

[2018-08-16 09:19] #767 closed

[2018-08-16 10:55] delapuente commented on #732
What happens is that the QASM DAG parser cannot verify that `snapshot` is a gate because it is not in the global symbol table. The QASM the parser is trying to parse is:

[code]

Which is, indeed, incorrect since `snapshot` is not defined. The correct one would be:

[code]

[2018-08-16 12:59] ajavadia opened #782 "Allow slicing of QuantumRegister and ClassicalRegister"
### What is the expected behavior?
It would be useful to be able to do the following:

[code]

[2018-08-16 15:03] gautierronan opened #783 "Specifying the 'U_error' noise parameter runs into an error"
### Informations

- **Qiskit Terra version**: 0.5.6
- **Python version**: 3.6.2
- **Operating system**: Windows 10

### What is the current behavior?
The following program runs into the error `QISKitError: 'No counts for circuit "None"`:
[code]

**Two additional questions:** is there a way to specify simulator noise parameters for each qubit? Which config noise parameter does "Gate error" correspo

[2018-08-16 18:02] chriseclectic commented on #783
I expect the simulation isn't running because your `U_error` matrix is not unitary (`U.U^dagger[1,1] = 0.996008 !=1` ).  If you change your unitary to use a phase angle like this it should work (and you can also enter the unitary as a complex numpy array)

[code]

For your other questions there is no way currently to specify noise parameters for each qubit. This is something to look forward to whe

[2018-08-16 23:29] rraymondhp commented on #782
Yes, I find it very useful to have this capability to write multi-controlled NOT gates and others.

[2018-08-17 02:03] #770 closed

[2018-08-17 02:37] ajavadia commented on #783
@gautierronan see here:
https://github.com/Qiskit/qiskit-backend-information/tree/master/backends/tenerife/V1

At the bottom of the page it says how the error rates are calculated:

I'm closing this since the original issue seems to be resolved. Thanks @chriseclectic.

[2018-08-17 10:46] gautierronan commented on #783
The solution provided by @chriseclectic seemed to work at first. But I am actually running into a very strange phenomenon.

When running the code provided in my first post, using the config provided by @chriseclectic, I will sometimes get the right result, and sometimes run into an error.
So, for instance, if I run the exact same code 10 times in a row, it will work as expected about 5 times (retu

[2018-08-17 10:52] gautierronan commented on #783
Just to add to this issue. I am running into the same phenomenon with the following config file (only specifying 'p_depol'):
[code]
So the issue does not come from the U_error matrix I believe.

[2018-08-17 11:14] ajavadia commented on #783
Ok reopening the issue.

I actually cannot reproduce the error. I run on MacOS. Tried with Qiskit 0.5.6, 0.5.7, and master. They all run successfully, with both of the configs you provided.

Might be a Windows issue. Can someone with Windows please try this code? Tagging @nonhermitian @atilag

[2018-08-17 13:26] chriseclectic commented on #783
@gautierronan can you find the life `qiskit/backends/local/qasm_simulator_cpp.py` and in the `run` function add a print statement for the raw simulator output (around line 221) and tell us what you see when you get the error.

Change:

[code]

to something like

[code]

[2018-08-17 13:55] gautierronan commented on #783
If the code runs into the error, I am getting this:
[code]

If the code doesn't run into an error, I am getting this:
[code]

[2018-08-17 14:14] chriseclectic commented on #783
Sounds like somethings up with the windows BLAS library, @atilag @nonhermitian do you have any ideas?

[2018-08-17 15:18] taalexander opened #787 "OpenPulse backend configuration schema missing fields"
### Informations

- **Qiskit Terra version**:0.6

- **Python version**:3.6.5
- **Operating system**: macOS 10.13.4

### What is the current behaviour?
The Hamiltonian property of `backend_configuration_schema.json` does not have properties defined for `vars` or `osc` as described in the specification.
[code]
Instead, these fields appear in `backend_configuration_openpulse_example.json`.

[code]

#

[2018-08-17 18:27] 1ucian0 opened #791 "Remove the test `test_simulator_online_size`, since it is not testing Qiskit but the backend capabilities"
The test `test_simulator_online_size` checks that a timeout error is triggered for big programs when `q_program.execute` is run. Currently, the test takes 1 minute to run, because that's the default of `_wait_for_job` (in `qiskit/backends/ibmq/ibmqjob.py`). This creates a request every 5 seconds, checking if for the status. This creates a lot of load in the backend and some time waste during testi

[2018-08-17 22:51] Scinawa opened #792 "Detail more latex error messages when plotting circuit."
### What is the expected enhancement?
I would expect to have more debug information for errors in the generation of circuits plotted by qiskit.
For instance, I would like to know that the name i gave to a register contain unallowed character, instead of guessing.
Instead I received a generic "is Qcircuit library installed?" error.

[2018-08-18 10:12] cruzpmmq commented on #783
You can you try installing [OpenBlas](http://www.openblas.net/) and check if it fixes the problem.

[2018-08-18 11:36] nonhermitian commented on #783
It seems like this is an issue with spawning openmp threads at the same time that blas wants to create threads. I would try specifying a single openmp thread only for the solver and see if it works.

On Windows the solver is currentlybuilt against openblas, and there are some openblas solutions to this problem:

https://github.com/xianyi/OpenBLAS/wiki/faq#allocmorebuffers

[2018-08-20 04:40] nkanazawa1989 commented on #767
I found a bug in `latex_circuit_drawer` when conditional gate is drawn with `reversebits` option.

How to reproduce the problem:
[code]
The results:
[code]

Index of registers is not correctly handled in `latex_circuit_drawer' when bit order is reversed.

[2018-08-20 07:06] delapuente commented on #792
Related to #601

[2018-08-20 08:48] gautierronan commented on #783
Thank you for your answer. Could you elaborate on how to achieve this?

[2018-08-20 11:17] delapuente commented on #791
After talking to @atilag we agreed on removing this test. It is not only unnecessary big, it is also stressing the simulator backend unnecessarily, possibly consuming huge amounts of bandwidth and it is not actually testing Qiskit but the backend. @1ucian0 do you mind to get rid of it? I'm changing the title of this issue to reflect what we are doing.

[2018-08-20 11:37] atilag commented on #791
I totally agree. Let's remove this test.

[2018-08-20 11:42] ajavadia opened #793 "`backend.jobs()` does not show jobs from that particular backend"
### Informations

- **Qiskit Terra version**: 0.5.7
- **Python version**: 3.7
- **Operating system**: MacOS

### Steps to reproduce the problem

[code]

Both print the same set of jobs.

### What is the expected behavior?
Different backends should report different jobs.

[2018-08-20 11:52] delapuente commented on #772
@liupibm, before merging, let me clarify what's happening: our code for Mac currently uses a `ThreadPoolExecutor` for submitting jobs. But it crashes when you use `execute()` with the following code (as in #567 but in Mac):

[code]

You argue that it is crashing because the `ThreadExecutor` embedded in the `LocalJob` class is being shared among threads AND processes, so Python is not able to join

[2018-08-20 12:39] ajavadia commented on #783
@gautierronan try this in your command line interface:
`set OMP_NUM_THREADS=1`

[2018-08-20 13:25] gautierronan commented on #783
I have tried running the command `set OMP_NUM_THREADS=1` in my cmd before opening Jupyter with the command `jupyter notebook`, and it doesn't seem to make any difference.

I have also tried setting this parameter directly in python with `os.environ["OMP_NUM_THREADS"] = "1"`, both before importing and after importing, but it doesn't work either.

[2018-08-20 14:34] #791 closed

[2018-08-20 14:42] nonhermitian commented on #783
@chriseclectic can correct me if I am wrong but adding `"max_threads_shot": 1` to the config should do the trick.

[2018-08-20 14:53] chriseclectic commented on #783
@gautierronan as @nonhermitian said, you need to set it in the config. Try adding `"max_threads_shot": 1,  "max_threads_gate": 1` to the config and let us know how that goes.

If this turns out to be the problem we should figure out how to limit the BLAS operations to use a single thread rather than limit OpenMP. The BLAS operations are only used small matrix multiplications for combining noise op

[2018-08-20 14:57] gautierronan commented on #783
Thank you for your answers. Unfortunately, this does not seem to solve the problem though.

Here is the code and config I am currently using, which still works sometimes and runs into errors sometimes:
[code]

It may be worth noting that if I specify `'shots'=1` instead of `'shots' = 1024`, I do not seem to be running into errors anymore.

[2018-08-20 15:54] ewinston commented on #772
@nonhermitian Actually that's not quite what I had in mind. Rather that other people trying to do something parallel simply try to use the same LocalJob._executor instance for their executor. However @liupibm said he tried this and it didn't work for him.

Doesn't using Liu's suggestion (temporarily perhaps) mean that some people will be able to take advantage of ProcessPoolExecutor which may matt

[2018-08-20 16:44] ewinston commented on #793
possible fix in #795

[2018-08-20 17:17] liupibm commented on #772
@delapuente @ewinston Let me clarify a little bit.
#567 is a crash related to the pickling errors. The pickling errors occur when you use the ProcessPoolExecutor  or ThreadPoolExecutor modules, but won't occur when you use the multiprocessing module. I do not know the reason, but this stackoverflow post seems to give the answer: https://stackoverflow.com/questions/27318290/why-can-i-pass-an-instan

[2018-08-20 18:42] #234 closed

[2018-08-20 18:45] delapuente opened #796 "Test options table in `dev_introduction.rst` is incorrectly displayed."
### Informations

[Test options table in `doc/dev_introduction.rst` is broken](https://github.com/Qiskit/qiskit-terra/blob/master/doc/dev_introduction.rst#testing-options).

[2018-08-20 20:31] 1ucian0 opened #798 "Testing option "" unknown, when no option is set"
When envar `QISKIT_TESTS` does not exist or is empty, there is a warning poping about option unknown:
[code]

### What is the expected behavior?
[code]

### Suggested solutions
#799

[2018-08-20 21:46] ajavadia opened #800 "Make API calls consistent"
### What is the expected enhancement?

After #686, job properties were changed to methods (`job.id()` and `job.status()` instead of `job.id` and `job.status`).

But for backends, the user still has to write `backend.status`, etc.

These should be made consistent to avoid confusion.

[2018-08-21 07:00] dcmckayibm opened #801 "Schemas behind spec"
Need to update the schemas due to changes in the spec

[2018-08-21 07:12] #796 closed

[2018-08-21 07:37] #798 closed

[2018-08-21 07:53] delapuente commented on #767
@nkanazawa1989 could you please file a new bug, please?

[2018-08-21 08:24] delapuente opened #803 "Assess recordings reliability by monitoring CI tasks agains mocked responses"
### What is the expected enhancement?
Following #697, we should asses how reliable are the recorded sessions, correlating the number of updates and fidelity with the changes in the code-base or backends.

A possibility is to add a task to the CIs, launching the tests against the mocked responses. The result of these tasks would not affect passing or failing the build but will be sent to someplace

[2018-08-21 08:24] delapuente opened #804 "Reduce CI traffic by using recorded network sessions."
### What is the expected enhancement?
Now #697 is merged, we should take advantage of it. My proposal is as follows:

1. Pass online tests on master for one platform (say Windows), and one version (say Python 3.5) only.
2. Record network interactions. If the test run is successful and interactions changed since the last run, zip and upload them to a known location.
3. For each remaining task (plat

[2018-08-21 08:25] #787 closed

[2018-08-21 08:25] atilag commented on #800
I would vote for removing properties that could potentially throw and I see that every property in `backend` could potentially throw. Not sure how this breaking change would impact users code, though.

[2018-08-21 08:34] delapuente commented on #800
I would not convert `job.id()` and `job.status()` into properties again since they can throw and properties are like instance members for the user, and they must not throw.

That said, consistency is a great argument for changing an API, and I'm inclined towards converting `backend.status` into a method but we should also evaluate how many users would be affected by this change. If we think a big

[2018-08-21 14:37] #718 closed

[2018-08-21 15:10] nonhermitian opened #805 "Interactive visualizations require internet connection"
### Informations

- **Qiskit Terra version**: 0.6
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?

The new interactive visualizations, introduced in #765 , require having an internet connection:

[code]
when it should be possible to have the required js reside locally.  @filemaster and @tansito, is there any overriding issue that prevents having the require

[2018-08-21 15:14] ajavadia opened #806 "Make interactive visualizations default for Jupyter"
### What is the expected enhancement?
The interactive visualizations contributed in PR #765 are much better than the static ones, and should be default when the environment is a Jupyter notebook. This is related to Epic #707 for providing better jupyter tools.

Several issues must be solved first:
- These visualizations need internet connection. Can we eliminate that?
- The interface of the static

[2018-08-21 17:30] mtreinish commented on #792
@delapuente I actually would say this isn't really related to #601.

 The fundamental issue here is that when we subprocess out to call pdflatex here: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/_circuit_visualization.py#L282-L291 we don't do anything with the actual output from the pdflatex command. Instead we just assume that the error is because pdflatex isn't

[2018-08-21 17:50] 1ucian0 commented on #300
Good point, I'm updating the title to reflect the change. Mocking external libs is definitely an option.

[2018-08-21 17:52] ajavadia commented on #792
@mtreinish Right, I agree that logging the error is the way to go. Then we can probably simplify the current error catching hierarchy which tries to catch known errors.

@Scinawa it would be helpful if you could provide a code example to reproduce the error (for example what disallowed characters did you use?)

[2018-08-22 01:40] #792 closed

[2018-08-22 01:41] ajavadia commented on #801
Closed via #802

[2018-08-22 01:41] #801 closed

[2018-08-22 02:00] #751 closed

[2018-08-22 23:59] ajavadia opened #811 "Redundant test files"
Two test files were recently added that are testing the same things. They should be combined.
`test/python/test_mapper__coupling.py` and `test/python/test_coupling.py`

[2018-08-23 00:01] ajavadia commented on #800
I agree I think we should change `backend.status`. As it is a breaking change, we should make sure it is part of the 0.6 release. It is used fairly often I would say, so a Warning would be nice.

[2018-08-23 02:27] nkanazawa1989 opened #812 "Reverse bit order in latex_circuit_drawer with conditional"
### What is the current behavior?

I found a bug in `latex_circuit_drawer` when conditional gate is drawn with `reversebits` option.
Index of registers is not correctly handled in `latex_circuit_drawer` when bit order is reversed.

### Steps to reproduce the problem

[code]
The results:
[code]

[2018-08-23 05:24] daniv234 opened #813 "Where can I find key for qiskit quantum gates?"
the only gates I saw in youtube are Hadamart and CNOT
when:
q = QuantumRegister(2)
c = ClassicalRegister(2)
qc = QuantumCircuit(q,c)
#hadamart
qc.h(q[0])
#CNOT
qc.cx(q[0],q[1])

I want to know how to write the gate U3=U3(theta,lambada,gama) in qiskit language
but I only find it on the Internet in Qasm language as: u3(theta,lambada,gama) iv`e tried it on qiskit but there is always error messege whe

[2018-08-23 12:39] ajavadia commented on #813
These are the standard set of gates known to Qiskit:
https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qasm/libs/qelib1.inc

Please provide more information about your program so we can diagnose the source of failure.
It should be as simple as:
[code]
![image](https://user-images.githubusercontent.com/8622381/44525756-fe419a80-a6af-11e8-9afe-74be3880c98f.png)

[2018-08-23 14:07] delapuente commented on #800
Correct me if I'm wrong but we can not add deprecation warnings since this is a change of syntax (no way of distinguishing when the user is using `backend.status` or backend.status()`), should we keep some deprecation warnings during `0.6` and switch to methods by `0.7`. What do you think?

[2018-08-23 14:21] ewinston opened #814 "example in result schema for counts incorrect"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The example within the schema shows states counts in binary format but the spec actually calls for hex.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions
correct false example

[2018-08-23 15:11] ewinston opened #815 "hidden exception during job submission"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
If the API encounters an exception during job submission before a job is actually submitted to the server IBMQJob._future.result() returns None but self._future_captured_exception is not raised. Instead 'error' is checked for in None which raises a different exception and

[2018-08-24 09:13] filemaster commented on #805
To use a JS library locally installed, implies the user have to modify the Jupyter installation manually. We think the installation process is not easy enough to force the user to modify the Jupyter installation for visual library usage.

[2018-08-24 09:28] filemaster commented on #806
1. Commented on #805, the visual library must be online due Jupyter limitations.
2. All visualizations (except histogram) are working in the same way than the static visualizations.
3. Next week a new version of the JS library will be released (it will require less CPU/GPU usage).

[2018-08-24 12:04] bellafrak opened #817 "Remote job is running forever"
### Informations

- **Qiskit Terra version**: 0.5.7
- **Python version**: 3.6

### What is the current behavior?

There's something I don't understand and I didn't find a better way to report. I'm trying to run some experiments remotely on ibmqx4 and sometimes I can but other times they get stuck on the "running" status forever. That was strange enough, but then I closed my terminal, went away and

[2018-08-24 15:46] delapuente opened #819 "Tests relying on previous executions are failing in master"
The tests about [filtering sent jobs](https://github.com/Qiskit/qiskit-terra/blob/master/test/python/test_ibmqjob.py#L282-L327), which rely on previous executions are hanging CI and making builds to fail in master.

[2018-08-24 16:08] ajavadia commented on #817
@bellafrak thank you for reporting this. What you are seeing as `RUNNING` should actually be `QUEUED`. We are aware of this and trying to fix it in the remote backends. Your job eventually finished right?

It could be that your queue position increases as some higher priority (e.g. admin) jobs are sent to the device. This is hopefully not a frequent occurrence.

[2018-08-24 16:19] bellafrak commented on #817
Thank you. It didn't finish yet! If what I'm seeing as `RUNNING` should be `QUEUED` I wonder why the "final position in the queue" (i.e. running) takes so long to finish. The queue position is steadily going down but then when it's my turn I see my job as "running" forever...

[2018-08-24 16:26] bellafrak commented on #817
'5b8025aec0a7db00419ef380'

[2018-08-24 16:57] delapuente commented on #819
Solved for unfathomable reasons.

[2018-08-24 16:57] #819 closed

[2018-08-24 17:12] delapuente opened #822 "Tests should not rely on previous executions"
Some [tests rely on previous executions](https://github.com/Qiskit/qiskit-terra/blob/master/test/python/test_ibmqjob.py#L282-L327) introducing non-deterministic failures from time to time.

These three tests need QE access to gain access to the backends and then filter the jobs there without preparation (without sending a deterministic set of jobs in advance). They rely on the jobs sent by previou

[2018-08-24 18:14] #814 closed

[2018-08-24 20:25] ajavadia opened #823 "Need a Qobj2Circuits method"
### What is the expected behavior?
There is a need to be able to reconstruct a QuantumCircuit (or list of QuantumCircuits) from a compiled Qobj. This is to be able to inspect the circuit after it has been compiled. We need a wrapper method for this.

Currently this is doable by this long nested call:
[code]

[2018-08-24 20:30] ajavadia commented on #817
Thanks. We are localizing the source of the error in the backend. Seems to be a miscommunication at the API level. The device does not hang, only some particular jobs do not get the signal that their result is ready and thus keep thinking that they are RUNNING.

[2018-08-24 22:30] bellafrak commented on #817
Thank you! Do you have any other hint of what it could be or how I could solve this? The problem persists on my side...

[2018-08-27 10:46] delapuente commented on #800
Because it is a `version` issue, it should be scheduled for `0.6`.

[2018-08-27 13:32] ajavadia commented on #813
I hope the above answer resolved your question. If not, feel free to reopen.

As a side note, for this types of questions that are about using Qiskit, we prefer [Slack](https://join.slack.com/t/qiskit/shared_invite/enQtMzYyMjY5Nzg2ODk4LTNkMWNmMjc3N2E0ZTdlNzg1Mzk4MDY4YjFlNWZmNTdmZTFkMDFmMjVjZTIxZThjMTlhMjA2MmQxYTViMzhiNzE).
Github is mainly used for tracking bugs, feature requests, etc.

[2018-08-27 13:32] #813 closed

[2018-08-27 14:37] #793 closed

[2018-08-27 15:18] delapuente opened #825 "Improve the pass-based transpiler to support advanced functionality"
@1ucian0 noted in PR #824 some of the flaws of the current transpiler implementation. The notes now are in `qiskit/transpiler/README.md` of this branch.

## Use cases
### A simple chain with dependencies:
The `CxCancellation` requires and preserves `ToffoliDecompose`. Same for `RotationMerge`. The pass `Mapper` requires extra information for running (the `coupling_map`, in this case).

[code]

The

[2018-08-27 17:36] diego-plan9 commented on #747
Closed after #603.

[2018-08-27 17:36] #747 closed

[2018-08-27 19:46] #746 closed

[2018-08-28 00:52] Tiagoblima commented on #385
How to deal if this erro? I am trying to register, but I simply cannot
Traceback (most recent call last):
  File "C:\Users\famil\Anaconda3\lib\site-packages\qiskit\wrapper\_wrapper.py", line 52, in register
    provider = provider_class(*args, **kwargs)
TypeError: __init__() missing 1 required positional argument: 'token'

During handling of the above exception, another exception occurred:

Traceb

[2018-08-28 00:52] Tiagoblima commented on #385
Thank you any help

[2018-08-28 01:34] nonhermitian commented on #385
For this to work, you need to be using the Master branch of `qiskit-terra`.  If this is the case, you need to follow the instructions in the readme:

https://github.com/Qiskit/qiskit-terra/blob/master/README.md#executing-your-code-on-a-real-quantum-chip

If these do not work, then please open a new issue.

[2018-08-28 02:11] ajavadia commented on #769
Fixed via #724.

[2018-08-28 08:10] diego-plan9 opened #827 "License header for qiskit/tools/apps/optimization.py"
### Informations

After merging #724, the license header for `qiskit/tools/apps/optimization.py` has been reverted to "old" one - was this on purpose? @ajavadia , @nonhermitian can you comment and take action if appropiate?

[2018-08-28 08:17] diego-plan9 commented on #769
Reopening as it seems that #724 does not solve the issue and `hpc` is still present in a number of places of `qiskit/transpiler/_transpiler.py` - Ali, can you check if you were referring to other issue instead?

[2018-08-28 08:47] delapuente commented on #827
Labelling as a bug, even if the change is intended, the date should be updated to include 2018.

[2018-08-28 09:01] delapuente opened #828 "Unnecessary invalid-name linting directives on tests"
The merge of #724 has reintroduced the `pylint: disable=invalid-name` directive removed in #739

[2018-08-28 09:33] nonhermitian commented on #827
Yes, the old license was added accidentally it seems.

[2018-08-28 09:45] diego-plan9 opened #829 "scipy minimal required version does not have unitary_group"
### Informations

The changes included in #760 require a `scipy` version that provides `scipy.stats.unitary_group`, which is not available in the minimal version currently required for scipy:

[code]

We should look for the minimal version of `scipy` that includes that function (seems to be 1.0) and update the dependencies accordingly - otherwise we risk installations with broken `qiskit.tools.qi.

[2018-08-28 10:13] nonhermitian commented on #806
I am closing this Issue as it seems there is no way to run the interactive visualizations offline, thus making it impossible to have them as default.

[2018-08-28 10:14] delapuente commented on #188
We are about to merge #773. The functionality there is still the same but this is a good moment to revisit this bug. @chriseclectic @sarah-sheldon could you review the bug description and explain what's would it be the expected behviour?

[2018-08-28 10:19] nonhermitian commented on #805
Closing this, as it appears there is no way around this without making an `nbextension`.

[2018-08-28 10:25] delapuente opened #830 "Review qiskit.Result API"
### What is the expected enhancement?
After merging #773, review the `qiskit.Result` API to ensure it offers all the necessary now there is a new, more-powerful result format.

[2018-08-28 10:29] diego-plan9 commented on #805
Actually, can you leave it open, even if the solution is not trivial and might not be short-term? It would serve as a reminder that we *do* want the visualizations not to require internet connection and we can track the status of future updates (a module for jupyter-related functionality that includes it based on `nbextension` is not that far-fetched if demand and functionality grows, and other al

[2018-08-28 10:39] nonhermitian commented on #805
Installing an nbextension via qiskit install would be a bit of a hack, requiring installing via jupyter in the commandline behind the scenes. It could be done, but ideally would be a different install altogether, as are other nbextensions.

[2018-08-28 10:43] diego-plan9 commented on #805
Yes, I was thinking of an eventual splitting and providing a jupyter-specific package, in the same spirit other suites do (as otherwise can become rather messy) - but mostly long-term and reevaluating in the future depending of how things evolve.

[2018-08-28 15:23] ajavadia opened #831 "Need to verify remote simulator support Qobj and new Result"
### What is the expected enhancement?
Test it in staging.

[2018-08-28 15:26] ajavadia opened #832 "API must check validity of Qobj"
### What is the expected behavior?
Follow up and make sure this is done.

[2018-08-28 15:45] ajavadia opened #833 "Make sure the Tomography notebook tutorial still runs"
### What is the expected enhancement?
After #724 and #773:

Check it against my branch.. it will not go on Tutorials master before Terra 0.6

[2018-08-28 16:16] delapuente opened #834 "Schema test `test_schemas.py` is not a test"
Schema validation tests `tests/schemas/test_schemas.py` should be a test to be run with all the regular tests.

[2018-08-28 17:04] diego-plan9 opened #835 "Create 0.6 release notes"
### What is the expected behavior?

As this is a "major" release, we should prepare some release notes for 0.6, ideally starting working in them sooner rather than later for the benefit of early adopters and similar cases. 0.5 was the first release where we included the release notes - the plan is that they include:
*  a summary of the noteworthy changes (keeping in mind that the full changelog wi

[2018-08-29 05:11] ajavadia commented on #833
I am assigning this to myself as it is easy to check for me.

[2018-08-29 05:17] ajavadia opened #837 "`set_qiskit_logger()` is hard to use"
### What is the expected enhancement?
A utility method `[set_qiskit_logger()]`(https://github.com/Qiskit/qiskit-terra/blob/cac7c6a2631d76ef3e811a5c943a2b9101fed240/qiskit/_logging.py#L48) exists to log qiskit-terra's execution flow.

It has room for improvement, namely:
- It turns on logging everywhere, thus generating a lot of noise. One should be able to specify a certain file to or module to lo

[2018-08-29 05:26] ajavadia commented on #828
This happened because #739 did not touch `test_quantumprogram`, assuming it will entirely go away.

However, #724 took some of the useful tests from `test_quantumprogram` and reworked them into other tests. Those tests had "invalid-names".

I will issue a PR to fix these names as well.

[2018-08-29 08:16] diego-plan9 commented on #837
Yes! Actually, with the removal of `QuantumProgram`, it might be worth just assume that the user will use the facilities provided by Python for dealing with logger levels directly (for example, the case that you mention of only turning logging on for a specific module would be possible - most IDEs, etc will have facilities for those as well) instead of providing the functions. These have always be

[2018-08-29 09:48] #827 closed

[2018-08-29 12:45] chrisculver commented on #733
It would also be nice if you could call inverse on a subset of gates - say inverse(i,j).  An example case of this is in the HHL algorithm for linear systems.  You have to perform a phase estimation on some qubits, do some other controlled rotations, then invert just the phase estimation part of the circuit.

[2018-08-29 13:10] taalexander commented on #834
@delapuente I can take this issue and put together a PR after the merge of #807.

[2018-08-29 13:34] delapuente commented on #834
Great, @taalexander! Thank you.

[2018-08-29 16:06] diego-plan9 opened #840 "Tests need to be fixed: printing to stdout, docstrings, dict"
### Information

Running the tests currently results in an extra line being printed directly to stdout using `print()`:

[code]

and additionally the first element of the dict looks a bit suspicious (`'': True`).

@1ucian0, can you take a look at it, removing the `print()` statement or changing it to a log entry, in order to preserve the output of the testing tools as verbatim as possible? Additio

[2018-08-29 16:12] delapuente commented on #840
The `'': True` is a bug I think. The `print()` was useful to remind the user which options are enabled. I'm happy to change it to a log (which is also included per test-suite, I think), but it turns out that controlling the general log-level for printing to the standard output is not as easy as I expected.

[2018-08-29 16:56] dcmckayibm opened #841 "Schema list of gates is too broad"
We currently define a number of allowed gates in the core schema that we should restrict and allow backends to define new gates that are allowed.

Fix once we've merged a few of the schema PRs

### What is the expected enhancement?

[2018-08-30 10:01] diego-plan9 commented on #840
We really should avoid modifying the default `stdout` output if possible, as by doing so it becomes impossible to separate between the output of the tools vs. what output we chose to generate in most testing flows - if using logging, `stderr` will instead be used along with usual the fine-grain benefits, which is a more flexible approach. That is part of the reason why we did a removal of `print()

[2018-08-30 11:43] delapuente commented on #840
I'm fine with this particular change as soon as we have a standard way of inspecting log messages but I will raise my concerns in a different issue.

[2018-08-30 14:13] 1ucian0 commented on #840
Shall I create a log handler just for this?

[2018-08-30 15:53] dcmckayibm commented on #841
One idea would be to make the core schema allow every gate that is defined in https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qasm/libs/qelib1.inc

[2018-08-30 15:56] ajavadia commented on #841
@dcmckayibm Yes let's do that ^. Assigned to you.

[2018-08-30 16:10] diego-plan9 commented on #841
Yes, that sounds like a good compromise for the release - probably related to (and likely a very similar solution to the `transitional_qobj_schema.json` at https://github.com/Qiskit/qiskit-terra/pull/807). Looking forward to see the schemas for 0.6 finalized, as we need to update the other teams as well :tada:

[2018-08-30 20:37] delapuente commented on #825
## Risky points
The goal of this section is not to critic the current implementation but in the absence of a proper discussion about the architectural implications of this new development, be aware of the risks and technical debt we are taking if going ahead with this proposal.

### TL; DR
Main problems are:
* The absence of a design document enumerating realistic use cases hides the design goals

[2018-08-31 10:48] filemaster opened #844 "Interactive Qsphere shows black vectors"
### What is the current behavior?
The Qsphere vectors can be black becuse phase angle is negative

### What is the expected behavior?
All vectors must be on a range of colors according next image:
![image](https://user-images.githubusercontent.com/1753426/44908490-f28f4d00-ad1b-11e8-9173-73a3ab25290f.png)

### Suggested solutions
Modify phase formula to get (always) positive angles.

[2018-08-31 14:43] #840 closed

[2018-08-31 15:11] nonhermitian opened #846 "No queue status for jobs on Q network"
### Information

- **Qiskit Terra version**: 0.6
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?

When running multiple jobs on Q network devices, there is no queue, all jobs have status that is either currently running or successfully ran.

### Steps to reproduce the problem

Spawn multiple jobs on a Q network backend and check their status.

### What is t

[2018-08-31 15:30] #844 closed

[2018-08-31 15:40] liupibm commented on #772
my fix cannot not pass some of the tests.
closed.

[2018-08-31 15:40] #772 closed

[2018-08-31 16:19] 1ucian0 commented on #825
The design was the result of conversations in-person with the researchers. I'm summarizing the conversations in `qiskit/transpiler/README.md` and adding use cases.

The use case for this scenario is unrolling. See f31c571.

[2018-08-31 16:28] 1ucian0 commented on #825
The suggestion in the **Control structures** paragraph is interesting. However, the condition needs to be parametrized by the property set, since scheduling decisions are based on this (eg, repeat until fixed point, or do not do this pass if the DAG is already mapped). Maybe you can go deeper into how that would look?

[2018-08-31 16:55] #846 closed

[2018-08-31 16:56] 1ucian0 commented on #825
If I understand correctly the @delapuente comment in **Property set helpers**, the idea is to have a way to register new property set helpers (such as `fixed_point`). I'm not fully sure if I follow the example with `on_change(utility)`...

[2018-08-31 17:59] 1ucian0 commented on #825
The `ignore_preserves` and `ignore_requires` was added with the goal of giving to the pass manager developer flexibility in the use of passes. I see it can be "dangerous", probably good documentation is needed there. Any comment @ajavadia ?

[2018-08-31 18:03] 1ucian0 commented on #825
About the **Idempotence** point, I agree. Probably the problem is that *idempotence* is a bad name. We want passes to be very loosely coupled and assume very little about in which order are they run or if they are run without repetition. Idempotence a condition for that, but not enough. Any ideas?

[2018-08-31 18:07] 1ucian0 commented on #825
About **Dependencies**, it's true that circular dependencies are not detected. I might have seen to add some monitoring to avoid that. But I'm not fully sure that is urgent since I'm not imagining very complicated passes where that can happen accidentally. About the order, is connected with my comment in https://github.com/Qiskit/qiskit-terra/issues/825#issuecomment-417745509.

[2018-09-01 01:52] dtmcclure opened #847 "plot_bloch_vector (and others) no longer directly importable from qiskit.tools.visualization"
### Informations

- **Qiskit Terra version**: 0.5.7
- **Python version**: 3.6.5
- **Operating system**: Windows 7

### What is the current behavior?
The command **from qiskit.tools.visualization import plot_bloch_vector** no longer works now that this function is defined in the file _state_visualization.py in the visualization folder, rather than in the file visualization.py. Perhaps this is inten

[2018-09-03 04:02] #731 closed

[2018-09-03 04:34] ajavadia commented on #841
closed via #843

[2018-09-03 04:34] #841 closed

[2018-09-03 08:31] delapuente opened #848 "Test `test_multi_register_reordering` is failing intermitently"
### Informations

- **Qiskit Terra version**: prior to 0.5.7

### What is the current behaviour?
The test is failing intermittently.

### Steps to reproduce the problem
Pass the test several times. In master:
[code]

In released versions:
[code]

### What is the expected behaviour?
Test pass always.

### Suggested solutions
The reorder functionality should be tested in isolation, without requiring

[2018-09-03 08:40] #756 closed

[2018-09-03 10:07] #828 closed

[2018-09-03 12:41] jonremy opened #850 "C++ simulator gives wrong results when a barrier is used"
### Informations

- **Qiskit Terra version**: 0.5.7
- **Python version**: 3.6.5
- **Operating system**: Ubuntu 18.04 LTS

### What is the current behavior?

With the circuit below (code linked), the results given by the simulator `local_qasm_simulator_cpp` are clearly different whether or not a barrier statement is used (`circuit.barrier(q)`). In particular the count of `000` states differ: around

[2018-09-03 14:33] delapuente commented on #841
I think we should not close this bug. The list continues being too broad, now more than before and after #807 they will include all the simulator instructions which are extensions to Qobj but not part of Qobj itself. Does it make sense?

[2018-09-03 14:36] diego-plan9 commented on #848
Fixed via #849, I believe - feel free to reopen otherwise.

[2018-09-03 14:36] #848 closed

[2018-09-03 15:06] #651 closed

[2018-09-03 15:35] delapuente opened #851 "Complete transition to schema-conformat Qobj"
Adding validation against the Qobj schema (#651) to the JSON payloads submitted to the backends revealed that Qiskit is producing non-conformant Qobj instances. In particular, Qiskit still does not use the `bfunc` instruction for boolean conditions and does not implement any extension mechanism. To fully use Qobj, Qiskit should:

- [ ] Provide a Qobj backend to produce schema-conformant outputs. (

[2018-09-03 15:43] delapuente opened #852 "Provide a Qobj Unroller backend to produce schema-conformant outputs"
### What is the expected enhancement?
Current `JSONBackend` instances do not produce valid Qobj. In particular, they don't use the new `bfunc` to create conditionals and they emit a dict and not a valid `Qobj` instance. A `QobjBackend` is needed to support the generation of schema-conformant `Qobj` instances.

[2018-09-03 15:56] delapuente opened #854 "Modify the qobj schema to: rigorously specify standard gates, but also allow non-standard gates to pass."
### What is the expected enhancement?
Backends can support extensions to the instruction set. For instance, simulators offer `noise`, `snapshot`, `wait`, `save` and `load` instructions. These should not live inside the base `Qobj` schema. The base schema should allow these to pass, and it will be the responsibility of a backend to allow or prevent them from passing the backend-specific schema.

Th

[2018-09-03 15:58] delapuente opened #855 "Make Qiskit validate against the extended schema"
### What is the expected enhancement?
Remove the extensions to Qobj schema and make Qiskit validate against "Qobj base schema" + "backend-specific schema"

[2018-09-04 04:58] ajavadia commented on #850
Thanks @jonremy for the detailed report. This seems like a simulator bug. The two circuits are indeed identical, except for a barrier:

![image](https://user-images.githubusercontent.com/8622381/45010315-d0772280-afda-11e8-80d8-c4187e7c9547.png)

![image](https://user-images.githubusercontent.com/8622381/45010319-d66d0380-afda-11e8-8482-c672c2d4da4a.png)

@chriseclectic can you please take a look?

[2018-09-04 10:13] nonhermitian commented on #850
This may be related to #698.

[2018-09-04 10:41] diego-plan9 commented on #847
Nice catch @dtmcclure ! I'm actually unsure about the best solution: perhaps the best way is to update the [`ibmqx-user-guides` file](https://github.com/Qiskit/ibmqx-user-guides/blob/master/qiskit/python/quantum_phase_bloch.py#L5), but instead of modifying the import, use `plot_state(rho, method='bloch')` instead?

The reason would be that `plot_state` acts as a "dispatcher" function of sorts - an

[2018-09-04 11:17] jaygambetta commented on #847
We want the plot_bloch_vector as a function.

[2018-09-04 12:59] #811 closed

[2018-09-04 13:41] #742 closed

[2018-09-04 14:41] chriseclectic commented on #850
@jonremy @ajavadia
As @nonhermitian said this is the issue that was fixed in #698. It doesn't look like the fix has made its way to the stable branch though.

Executing a circuit from the above script on the master built simulator I get that results that look to be equivalent (within sampling statistics). For example (doing 10000 shots):

[code]

[2018-09-04 15:34] ajavadia commented on #833
Done.

[2018-09-04 15:34] #833 closed

[2018-09-04 16:59] ajavadia commented on #850
Right, this is fixed in the new simulator. this will be in the 0.6 release, coming up in 1-2 weeks. Thanks @chriseclectic.

[2018-09-04 16:59] #850 closed

[2018-09-04 17:43] jonremy commented on #850
Great, thanks everyone!

[2018-09-04 19:17] mtreinish opened #859 "qobj_schema.json not included in sdist"
### Informations

Current master
- **Qiskit Terra version**: Master with #807 merged
- **Python version**: 3.7 (but it's not dependent on version)
- **Operating system**: Linux

### What is the current behavior?

When running on current master when running anything that calls the `validate_qobj_against_schema()` function will fail if installing the code outside of the repo. This is because the jso

[2018-09-05 01:45] ajavadia commented on #847
This was done to give users one unified interface for plotting density matrices:
[code]
where `method` can be "bloch", "city", "qsphere" or "paulivec". The idea is that these all plot the same thing, in different ways.

So I would also vote for keeping that the "public" interface, and the underlying methods as private.

[2018-09-05 02:00] jaygambetta commented on #847
yeah, I agree but the point is you can plot a Bloch sphere with much less information than a state as it is not informationally complete. I am fine with the others not being accessed unless using state but this one I think should be special. I can believe i'm defending the Bloch sphere when I think this is the worst thing physicists ever got used to helping explain quantum computing.

[2018-09-05 02:04] ajavadia commented on #806
Reopening this to rethink for 0.6 release:
1. Can we default to interactive visualizations if the environment is Jupyter AND there is internet connection?
2. We have to rework the static histogram plot to show multiple histograms in one graph. This way we can make its signature consistent with the interactive one.

[2018-09-05 07:47] delapuente commented on #825
I've copied the use cases from the PR to the description of the issue to allow discussion here.

[2018-09-05 07:56] diego-plan9 commented on #725
Actually, we have a couple of  methods in the wrapper (`local_backends` and `remote_backends`) that are [marked for deprecation](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/wrapper/_wrapper.py#L194). Can we check if this is a good time to fully remove them?

[2018-09-05 08:09] delapuente opened #861 "Make local and online simulator accept the new `bfunc` instruction"
### What is the expected enhancement?
The new Qobj format changes the way in which conditionals are treated. Before, a `conditional` object was embedded inside the gate instruction, in the form:

[code]

Now, you use the `bfunc` instruction to set a classical register (referred by its index in the `register` property) and then refer that register in the instruction gate to make it depends on it:

[2018-09-05 08:10] delapuente commented on #851
See the status of #861 before sending `bfunc` instructions to backends.

[2018-09-05 10:42] delapuente commented on #825
Well, clarified the use cases, here is my second review:

### TL; DR
* Rely on Python identity and equality system as much as possible.
* Remove "ignore preserves" and "ignore requires" due to the lack of a clear user-case.
* Remove the concept of idempotence from the passes since it is wrongly used and irrelevant right now.
* Use a more decoupled architecture in these cases:
  - Extending control

[2018-09-05 13:55] 1ucian0 commented on #825
Because `preserves=[Pass()]` needs to match `requieres=[Pass()]`. We can doing it differently in the implementation.

These options are disable by default and attemps to increse the flexibility.

I'm all in for this one. But I'm falling to adapt the use cases.

Sure. Again, use cases need to be adapted.

Sure. I agree that it's too much for property set. The  DAG strcture is/will be more complicat

[2018-09-05 14:28] #800 closed

[2018-09-05 15:13] delapuente commented on #825
Should I understand you will try a different approach for some of the problems discussed here? I would love to hear the input of other members in the team.

[2018-09-05 17:29] ajavadia commented on #847
Thanks for the clarification. I made a PR to make the `plot_bloch_vector` method public, but the rest remain accessible through `plot_state`.

[2018-09-05 17:52] ajavadia opened #864 "Make plot_histogram & iplot_histogram similar"
### What is the expected enhancement?
1- Make the function signature the same for both functions
2- Make the `iplot_histogram` default when using jupyter and connected to internet.

### How to do this?
In order to easily switch between the `plot_histogram` and `iplot_histogram` functions, both need some changes.
1- The `plot_histogram` function must be able to plot multiple histograms in one figur

[2018-09-05 19:11] nonhermitian opened #865 "Pauli operators in qiskit.tools.qi.pauli do not give correct results for qiskit |up>=|1>, |down>=|0> convention"
### Informations

- **Qiskit Terra version**: 0.6
- **Python version**: 3.6
- **Operating system**: OSX

### What is the current behavior?
The Pauli operators from `qiskit.tools.qi.pauli` are the canonical Pauli matrices, but qiskit uses the convention |up> = |1> = [0, 1],  |down>=|0>=[1, 0]:

[code]
which gives incorrect results since the standard gate set is defined for the basis |up>=|0>=[1,0],

[2018-09-05 19:42] 1ucian0 commented on #825
Here is a status on each issue and its further actions:
 - **Remove the use of wrapt**: I have no strong feeling and can be removed. I would like to keep the restriction to guide the pass developer into the creation of better passes. But I don't care much about the specifics. *Code is welcomed here.*
 - **Rely on Python identity and equality system as much as possible**: I agree with the general p

[2018-09-05 22:58] jaygambetta commented on #829
@diego-plan9 can you just update the dependencies as we don't want to write this function.

[2018-09-05 23:37] jaygambetta commented on #847
@ajavadia we can close this correct?

[2018-09-06 00:03] jaygambetta commented on #666
I agree this should be closed.

[2018-09-06 00:12] jaygambetta commented on #498
Closing as this is really part of the API and when the API changes this information will update as such.

[2018-09-06 00:12] #498 closed

[2018-09-06 06:59] #847 closed

[2018-09-06 07:29] delapuente commented on #825
I think you're covering all the points, but it would be great if can get more eyes her.e

[2018-09-06 07:30] delapuente commented on #829
This is on its way to be fixed via #713

[2018-09-06 08:28] #299 closed

[2018-09-06 15:04] nonhermitian commented on #865
Closing as off topic.

[2018-09-06 15:04] #865 closed

[2018-09-06 18:34] ajavadia commented on #832
closing, followed up offline.

[2018-09-06 18:34] #832 closed

[2018-09-06 18:43] ajavadia commented on #822
Can you clarify a bit? I don't see the reliance on previous executions from that example.

[2018-09-06 18:47] ajavadia commented on #783
Not sure if a fix is available for this, or if anyone is thinking about it? @chriseclectic if you feel this can be resolved through other methods, please jump in. otherwise i think we should close the issue.

[2018-09-06 19:44] mtreinish commented on #823
@ajavadia I'm assuming here you mean construct a QuantumCircuit object from a Qobj but not using the qasm embedded in the header right? Since that's not guaranteed to be there.

[2018-09-06 19:57] ajavadia commented on #732
@delapuente let's not change `qelib1.inc`.

I don't quite understand how the first solution would work. Why is this a qasm problem. There should be no qasm text generated, just circuit and dag.

Any gate not in the standard `qelib1.inc` should be dynamically added to the dag basis when the dag is created. The source of error here is that it is not found in the dag basis. Then I think we should tea

[2018-09-06 20:00] ajavadia commented on #823
@mtreinish Yes, you are right. But I wouldn't mind creating this function in the easy way now (using `compiled_circuit_qasm`), then refining it later to not rely on that. All Qobjs we currently create have this field right?
The function should probably go in the wrapper.

[2018-09-07 04:58] ajavadia commented on #725
@delapuente yes looks good.
@diego-plan9 yes good time to remove those too. I'll do those in a PR i'm submitting.

[2018-09-07 05:13] ajavadia commented on #725
Closing as this is basically done from the Qiskit side, now we have to wait for the API to update. Then we can go in and remove all the FIXMEs in `ibmqbackend.py`.

[2018-09-07 05:13] #725 closed

[2018-09-07 05:54] delapuente commented on #822
Clarified in the description.

[2018-09-07 06:57] #864 closed

[2018-09-07 07:31] ajavadia commented on #854
After a few discussions with @dcmckayibm @levbishop @jaygambetta @delapuente , the plan is to do the reverse of this. The backends, instead of expanding the base qobj schema, will restrict it. Essentially they act as a second filter, and any Qobj sent to them must pass the backend-specific schema as well as the base schema. To do this, the base schema will be loosened up so that it accepts any ope

[2018-09-07 07:36] ajavadia commented on #854
(I updated the title and description to match my comment).

[2018-09-07 08:00] delapuente commented on #732
I think there is a misunderstanding on how circuit visualization run right now. DAGs are never used in the current implementation of visualizations. They use the JSON representation of the circuits but, instead of getting here through the DAG, they use the QASM AST:

https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/tools/visualization/_circuit_visualization.py#L349-L355

Anyway @ajavadia,

[2018-09-07 08:03] ajavadia commented on #825
This overall looks good to me. I'll comment on some of the points raised:

**Idempotence**:
This is an important point, and I thought about it a bit more. I think there is a decision to be made here, and feedback is welcome.
I will give an example: imagine a simple circuit like the one below.
![image](https://user-images.githubusercontent.com/8622381/45182831-6041ea00-b1f0-11e8-9ee5-ed811c0c4b2c.p

[2018-09-07 08:34] ajavadia commented on #732
Yeah that's a bad code, it's dumping qasm text, then reparsing it. Should use the DagUnroller.

[2018-09-07 11:37] delapuente commented on #854
I'm going to open a different issue for implementing the double check. This issue is now about implementing the correct schema but we need to implement the double check mechanism tool.

[2018-09-07 11:40] delapuente opened #871 "Implement Qobj double validation against general Qobj schema and backend-specific schema."
### What is the expected enhancement?
According to #854, qobj emitted in Qiskit has to validate twice. One validation goes against the general Qobj schema. The second validation will go against a backend-specific one.

[2018-09-07 13:10] taalexander commented on #854
So if I understand correctly you wish to:
1. Breakout the hardcoded list of accepted QASM instructions.
2. Create a standard QASM instruction schema based on `qelib1.inc`.
3. Allow the user to specify their own instruction schema.

Questions I have are:
1. Do we wish to validate against the union of 2 and 3? Or does 3 supersede 2?
2. Do we wish to allow the same behaviour for OpenPulse commands?

[2018-09-07 13:39] 1ucian0 commented on #825
It seems to me that the idempotency problem can be generalized to passes operating on a different set of wires. Cnot cancelation is idempotent when operating on a specific set of wires, as any other peephole non-unary operation. Does it make sense to consider `CnotCancelation(q_0,q_2)` a different pass than `CnotCancelation(q_1,q_2)` (where `q_n` are physical wires, not variable names)?

[2018-09-07 14:46] ewinston commented on #854
My understanding was implementing validation against all schemas e.g. something like;
[code]

[2018-09-07 15:28] dcmckayibm commented on #871
I think the idea here is validate against the general qobj schema, pull the backend schema using `backend.schema()` and validate against that.

[2018-09-07 16:02] ajavadia commented on #871
^ @dcmckayibm yes.

[2018-09-07 16:29] 1ucian0 opened #875 "A QuantumCircuit object should not include "qelib1.inc" by default"
### Informations

- **Qiskit Terra version**: 5.7.0
- **Python version**: 3.6.1
- **Operating system**: MacOS

### What is the current behavior?
The following code prints `['u3', 'u2', ..]`
[code]

### What is the expected behavior?
The only definition was `id`, `circuit.definitions` should only have `[id]`.

### Suggested solutions
The Unroller uses a "default QuantumCircuit" (qiskit/unroll/_circ

[2018-09-07 18:46] ajavadia commented on #825
@1ucian0 that would make writing passes extremely complicated. Essentially the pass works on 2 wires at a time, and so requiring something like `cxcancellation` becomes tedious as you have to require many instances of it based on how many circuit wires there are.

[2018-09-07 18:50] ajavadia commented on #825
I think I would prefer idempotent passes, but let's not do anything about enforcing that at the moment. If someone writes a non-idempotent pass, it still can be counted as valid transformer of DAG, but its property must be taken into account during pass scheduling.

[2018-09-07 19:01] 1ucian0 opened #876 "QuantumCircuit.definitions should not be a collection of AST nodes"
Giving the following situation:

[code]
The type of the last is `qiskit.extensions.standard.iden.IdGate` (see `circuit.data[0].__class__`) while the content in the definitions collection where `id` is defined is an AST node `qiskit.qasm._node._gatebody.GateBody` (see `circuit.definitions['id']['body'].__class__`).

I find this inconsistent.

[2018-09-07 19:02] ajavadia commented on #825
One note about fixed point: we need a way to specify an iteration limit, otherwise some loops of passes may never converge.

[2018-09-08 01:46] nonhermitian opened #878 "OSX Travis builds Python not as a Framework"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Travis OSX builds fails when functions requiring matplotlib are imported (see #874 for example) because the default matplotlib backend does not work if Python is not built as a Framework.

### Steps to reproduce the problem

### What is the expected behavior?
PR's should n

[2018-09-08 02:37] ajavadia commented on #730
I have no experience with any other test runner but parallel execution of tests sounds very nice.

[2018-09-08 12:17] 1ucian0 opened #880 "Custom unitary gates fail in ast_to_dag.py"
The unroller is too conscious of how/where the gates are declared:

Example 1:

[code]
Output 1:
[code]

Example 2:
[code]

Output 2:
[code]

It shouldn't matter if the gate definition is done in the body or in the library. Or please, CMV.

[2018-09-09 01:10] taalexander opened #881 "Replace QbjValidation Error with SchemaValidationError"
### What is the expected enhancement?
When validating Qobj schemas the `https://github.com/Qiskit/qiskit-terra/pull/807#discussion_r214656260` is raised. In general, there are many cases where we will validate schemas. [As suggested](`https://github.com/Qiskit/qiskit-terra/pull/807#discussion_r214656260`) `QobjValidationError` should be replaced with a more generic `SchemaValidationError`.

[2018-09-09 03:29] taalexander opened #882 "Generalize QObj schema validation functions to be used for all schemas"
### What is the expected enhancement?
There are many JSON schemas that (will) require validation. Schema validation for Qobjs is currently provided in `qiskit/qobj`. The current schema loading and validation methods should be made available for other schemas.

[2018-09-09 19:42] #823 closed

[2018-09-10 05:52] t-imamichi opened #883 "Rename `compile` because it is used as a built-in function of Python"
### What is the expected enhancement?

Rename `compile` because it is used as a built-in function of Python. Qiskit hides the built-in function.

- Python's `compile`: https://docs.python.org/3.6/library/functions.html#compile
- Qiskit `compile`: https://github.com/Qiskit/qiskit-terra/blob/d2188d54af44ce7325a60ede5d95d6999b41fd2d/qiskit/wrapper/_wrapper.py#L259

[2018-09-10 09:57] ajavadia opened #884 "Wrong schema level for `clbit_labels` and `qubit_labels`"
### Informations

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The `clbit_labels` and `qubit_labels` are currently specified in the qobj-level schema. They actually belong to experiment-level schemas as they vary from circuit to circuit.

[2018-09-10 13:38] delapuente commented on #880
Do you mean you expect the output for the first listing would be something like:

[code]

I mean, do you think it should not expand the `my_swap` gate?

[2018-09-10 13:44] delapuente commented on #876
What do you think it should be the expected behaviour?

[2018-09-10 14:03] ajavadia commented on #880
The `load_qasm_string()` function that you use by default unrolls to
[code]
so it is expected that it does not keep `my_swap` in the output (not a bug).

The question is: can we get the unroller to unroll to a new basis? how do we specify that basis.

[2018-09-10 14:32] ajavadia commented on #883
Hi @t-imamichi, yes this name collides with the one from Python's standard library. However changing it is not easy as it is one of the most widely used functions of qiskit. Have you recently been in a situation where you wanted to use both?

[2018-09-10 14:38] t-imamichi commented on #883
No. I am not in such a situation. I just hope it will be fixed in the future version.

[2018-09-10 17:00] 1ucian0 commented on #880
I would expect the output to be
[code]

[2018-09-10 17:50] 1ucian0 commented on #825
About the iteration limit, that's true for any kind of loop. It's easy to add.

[2018-09-10 17:53] 1ucian0 commented on #825
They way that idempotence was implemented is by adding the pass X in the `preserves` set once X was run. Maybe *idempotence* is not the best name for the property. What about *self-preserves*?

[2018-09-11 01:02] jaygambetta commented on #883
please think about it. @diego-plan9 and I discuss and could not think of an example where it would come up. For this reason, we decided to use compile.

I am going to close this issue and if you think of a use case please open again.

[2018-09-11 01:02] #883 closed

[2018-09-11 06:41] delapuente commented on #825
Before changing the implementation of `fixed_point`, @1ucian0 @ajavadia is the design decision about it being embedded in the property set final? Don't you prefer a more extensible approach such as an observer pattern?

[2018-09-11 07:11] delapuente commented on #825
@ajavadia I think I understand why you do need to passes with the same arguments, nevertheless, there would be other strategies to do the same while relying on Pythons identity. One is to provide factory functions which can return the same object when invoked with the same parameters.

[code]

(This is an example, there are more ergonomic ways to do it.)

In addition, I think it is important to le

[2018-09-11 07:17] delapuente commented on #825
Regarding idempotence, @ajavadia @1ucian0, we can reintroduce the concept as a promise, not having an effect on scheduling the passes.

Note my comment on idempotence in https://github.com/Qiskit/qiskit-terra/issues/825#issuecomment-417458935 was not about the utility of the term but about it being used in the wrong way, assuming `f(x) == f(f(x))` implied `f(x) == f(g(f(x)))`, which is false.

[2018-09-11 14:10] 1ucian0 commented on #825
I don't care much about the name *idempotence*. I used  [this meaning (first bullet)](https://en.wikipedia.org/wiki/Idempotence#Computer_science_meaning), but I understand that can be confused in the context of * requires* and *preserves*. In your example `f(x) == f(f(x))` implied `f(x) == f(g(f(x)))` if `g` *preserves* `f`. In other words, the implication is true if `g` behaives as the identity f

[2018-09-11 14:18] 1ucian0 commented on #825
I will draft the observer pattern in the code today or tomorrow, so we can talk about something more concrete.

[2018-09-11 15:45] #835 closed

[2018-09-11 17:27] delapuente commented on #825
You're right: if we also add that "`g` preserves `f`", then, having the promise of an idempotent `f` can save some execution time by not repeating further passes. The implementation should follow `preserve` chains but conceptually, this is OK.

[2018-09-11 18:42] 1ucian0 opened #888 "The parser should care less about the semantics and focus exclusively on the syntaxis"
Consider the following examples:

### Example 1:

[code]

This code raises:
[code]

### Example 2:

[code]

This code raises:
[code]

### Example 3:

[code]

This code raises:
[code]

### The expected output

I would expect all these examples to work. A parser should not care if variables had been declared or not. The AST nodes should agnostic of the variable names. The only part is relevant is th

[2018-09-12 11:46] diego-plan9 opened #889 "Spurious `Error: cannot import name 'load_qasm_file`"
### Informations

When importing qiskit from current master, an error is printed, even if the function can actually be imported and used correctly.

- **Qiskit Terra version**: master 83085edb374a3e26175bfc408ea293fdfb76aeb4
- **Python version**:
- **Operating system**:

### What is the current behavior?

[code]

### Suggested solutions

This seems to be related to the order of imports in `qiskit/

[2018-09-12 15:31] ajavadia commented on #721
@delapuente have we done this? I think JSON serialization should come out of the API and into Terra.

[2018-09-12 20:01] #889 closed

[2018-09-12 20:06] 1ucian0 commented on #825
I implemented the items **extending control structures** and **property set helpers**. Let me know your thoughts @delapuente .

[2018-09-13 00:38] 1ucian0 commented on #825
I removed the `wrapt` dependency in d6c13a8. Maybe too hacky? Alternatives are welcomed.

[2018-09-13 05:34] delapuente opened #894 "Speedup python local_unitary_simulator"
@chriseclectic noted in #893

### What is the expected enhancement?
An important speedup by using Einstein summation for enlarging one and two qubit operations.

An example of runtime for a random circuit of 100 gates on my laptop (Macbook pro 3.1 GHz i7, 16 GB Ram):

Timing results for new implementation are:

[code]

Timing results for old implementation are

[code]
(I wasn't patient enough for