[2020-09-09 14:40] mlarocca commented on #5043
@1ucian0  Where is it possible to check specs for QASM? Can I do it myself?

Meanwhile, I ran a few checks:

Failing:
- `cr = ClassicalRegister(1,'creg')`
- `qr = QuantumRegister(1,'qreg')`
- qr = QuantumRegister(1,'qreg 1')

**Not Failing**
- `qr = QuantumRegister(1,'qreg1')`

So I suppose it's maybe a regex on the whole word?

Also, running in debug mode:

[code]

[2020-09-09 14:55] mtreinish commented on #5043
They're reserved words in the spec: https://github.com/Qiskit/openqasm/blob/master/spec-human/qasm2.pdf (see Table 1). But I don't see what's wrong here (besides maybe a better error message). The terra `QuantumCircuit` class doesn't have a 1:1 mapping with qasm, there are things you can do with a QuantumCircuit not expressible in qasm. I don't think allowing `qreg` as the name in a `QuantumCircui

[2020-09-09 15:37] 1ucian0 commented on #5043
I tend to agree with this. It seems the issue is that `.qasm` does not generate valid QASM. Renaming the issue.

On the other hand, Qiskit does a check about "valid names" using the OpenQASM specification.
https://github.com/Qiskit/qiskit-terra/blob/3dec07aaccf3254432a93ed6b5990be27b47016d/qiskit/circuit/register.py#L59-L61

I think this is a good opportunity to move this check into the new `.qasm

[2020-09-09 15:44] 1ucian0 commented on #5043
About failing at `.qasm`-time when a reserved word is used. I think is better to do warning-and-rename instead. For example rename `<reservedword>` to `<reservedword>_` in the QASM dump.

[2020-09-09 18:01] 1ucian0 commented on #4625
In the [suggested PR adding `H` to BasicAer](https://github.com/Qiskit/qiskit-terra/pull/4759), @ajavadia said:

[2020-09-09 18:03] 1ucian0 commented on #4625
Removing `bug`, since README was updated in #4954. This is a `discussion` issue now.

[2020-09-09 18:43] #3282 closed

[2020-09-09 20:00] kdk commented on #5036
In QASM, you can declare a custom opaque gate using the `opaque` statement, like
[code]
or a non-opaque gate using the `gate` statement like
[code]

In your example, you are defining a python `Gate` object in qiskit,  but the definition for that gate is not included the qasm string passed to `QuantumCircuit.from_qasm_str`, leading to the error.

I did find a related bug in that user-defined `Gate`

[2020-09-09 21:16] 1ucian0 commented on #2786
We dont use reference images any more, so I think it can be closed. Please reopen if you disagree.

[2020-09-09 21:16] #2786 closed

[2020-09-09 21:21] 1ucian0 commented on #4022
I think this issue is already fixed after #4079. Reopen if disagree!

[2020-09-09 21:21] #4022 closed

[2020-09-09 21:22] 1ucian0 commented on #4563
Closing as solved! Thanks

[2020-09-09 21:22] #4563 closed

[2020-09-09 21:54] PaulMcElligott commented on #4959
Still working on it.
Have been busy. I'll have more time tomorrow morning.

[2020-09-09 22:03] #4845 closed

[2020-09-09 23:19] special-kay commented on #5036
Yes that's the issue I'm having Kevin - thanks.

[2020-09-09 23:59] 1ucian0 commented on #5037
I think it is, indeed, a bug. I will remove `backend` as conflicting.

I'm curious. Why?

[2020-09-10 01:58] #5031 closed

[2020-09-10 07:33] willsimmons1465 commented on #5037
Only because of this bug preventing any attempt to use the `pass_manager` option

[2020-09-10 13:58] czachow opened #5052 "CSPLayout should be noise-aware"
### What is the expected behavior?

When observing the time evolution of simple spin chains, I encountered an issue with the CSPLayout. In case a circuit is mapped to a device that allows for multiple exact (non swap introducing) mappings of this circuit, the CSPLayout method does not always choose the best solution. It chooses the one which occurs first in its solution process. In such a case it

[2020-09-10 22:09] mlarocca commented on #4388
@1ucian0 I can take care of updating #4427 to make it ready for being merged, if you'd like.
What's the best way to proceed, in full respect of the work already done?
I could maybe pull the old branch, but start a new PR?

We can also wait for the weekend to see if @SeifMostafa has time to pick it up, what do you think?

[2020-09-10 22:24] 1ucian0 commented on #4388
Sure. Let's wait.

[2020-09-10 22:57] #5037 closed

[2020-09-11 00:40] 1ucian0 commented on #5037
In that case, fixed!

[2020-09-11 02:34] abhobe commented on #2788
@1ucian0 @nonhermitian Is this still open?  If yes, can I have a go at this?

[2020-09-11 07:13] special-kay opened #5055 "Instruction parameters in bound, parameterized circuit are returned incorrectly"
### Information

- **Qiskit Terra version**: 0.20.0
- **Python version**: 0.15.1
- **Operating system**: Mac OS Darwin

### What is the current behavior?
I create a circuit with a parameterized gate and bind the parameters to numerical values - 1, 2 and 3, say. Then I try to acquire these parameters from the circuit data, and I get `[ParameterExpression(1),ParameterExpression(2),ParameterExpressio

[2020-09-11 08:31] raulotaolea opened #5056 "qc.qasm() does not include params of composited gates"
### Information

- **Qiskit Terra version**: 0.15.2
- **Python version**:  3.7.7
- **Operating system**: macOS 10.15.6

### What is the current behavior?
When you create a `QuantumCircuit` from a qasm string including composited gates,

[code]

the circuit is correctly created. But if you get qasm from the already created circuit

[code]
[code]

the composited gates params are not present, so the

[2020-09-11 09:32] adekusar-drl opened #5058 "Aqua build fails: `No module named 'qiskit.circuit.library.template_circuits'`"
### Information

- **Qiskit Terra version**: Latest sources after https://github.com/Qiskit/qiskit-terra/commit/1c89cc59c8ec45311748e3f4c37e843068155d51
- **Python version**: any
- **Operating system**: any

### What is the current behavior?
1. `from qiskit.circuit.library import NLocal` fails.

2. The aqua build fails:
[code]

### Steps to reproduce the problem
Logs from the aqua build: https://g

[2020-09-11 12:41] mtreinish commented on #1389
This was discussed among @Qiskit/terra-core and the current feeling is that this results in too much code churn weighed against the benefit of being able to run `qiskit.test()` since the only way this could work is if we moved `test/` into the `qiskit` namespace.  I'm going to close this issue since there isn't a consensus on the direction, please feel free to reopen though if I'm missing  somethi

[2020-09-11 12:41] #1389 closed

[2020-09-11 13:05] kdk commented on #5055
Can you include an example of the failing code? I believe the scheduler should be able to handle `ParameterExpressions`.
[code]

[2020-09-11 15:08] #5058 closed

[2020-09-11 18:07] 1ucian0 commented on #2788
I think @enavarro51 has some ideas about how to handle this.

Do you have bandwidth to work on this @enavarro51 or @abhobe can jump in?

[2020-09-11 19:45] 1ucian0 commented on #5052
I would suggest to create a new `CSPLayoutNoise` pass instead of modifying `CSPLayout`.  `CSPLayout` is simple and fast. It can be useful in some situations.

[2020-09-11 19:49] 1ucian0 commented on #4374
ping @artemiyburov  ? Are you still working on this?

[2020-09-11 20:40] enavarro51 commented on #2788
@1ucian0 The issue here has to do with what to do when the circuit folds as in my comment above. The solution I had suggested earlier (4 below) turned out to be more complicated than I thought.  I see 4 options.
1 - Do nothing. It's only really noticeable on small circuits, but it is noticeable.
2 - Just move the first row gates to the left. The first row will be out of alignment with the folded r

[2020-09-11 20:51] abhobe commented on #2788
Thanks!

[2020-09-11 20:53] 1ucian0 commented on #2788
Option 3 sounds good!

[2020-09-11 22:00] #2718 closed

[2020-09-12 09:29] pierrepocreau commented on #4374
Hey, In case @artemiyburov is no longer working on the issue, I'd be happy to try and solve it.

[2020-09-13 02:31] special-kay commented on #5055
I see - so perhaps the problem is how the `InstructionScheduleMap` or `ParameterizedSchedule` is handling `ParameterExpressions`.

Anyway, my failing code is quite long and it looks like the issue is being discussed at length in thread https://github.com/Qiskit/qiskit-terra/pull/4940. So I will close this issue and follow along there.

[2020-09-13 02:31] #5055 closed

[2020-09-13 03:56] abhobe commented on #2788
![image](https://user-images.githubusercontent.com/29938963/93009838-67680500-f53a-11ea-9b3f-fc10bf120295.png)
@nonhermitian Is this what is wanted?

[2020-09-13 04:29] nonhermitian commented on #2788
Yes, that looks nice.

[2020-09-13 05:55] abhobe commented on #2788
Ok, Here is what I did, changed line ``687`` from
``self._line([self.x_offset + 0.2, y], [self._cond['xmax'], y],
                       zorder=PORDER_REGLINE)``
to
``self._line([self.x_offset + 1, y], [self._cond['xmax'], y],
                       zorder=PORDER_REGLINE)``
This will solve the case only for one set of rows for the circuit. More sets will break the folds in the next lines.
I would

[2020-09-13 09:51] artemiyburov commented on #4374
I'm not working on this at the moment

[2020-09-13 15:42] enavarro51 commented on #2788
@abhobe Are you on Slack? I think we can pick this discussion up over there. I have some ideas how to fix this.

[2020-09-13 16:03] abhobe commented on #2788
@enavarro51 Yes I am in slack. My slack handle also @abhobe

[2020-09-13 21:21] abhobe commented on #5032
@galeinston I know you have been assigned to this issue, but I couldn't help but try to solve this myself (Since I have never contributed before) . I am not going to create a PR but wanted to let you know that I have managed to get colors and font colors to work and match IQX.

[2020-09-13 22:12] galeinston commented on #5032
@abhobe It's too bad that today is the day I'm finalizing the PR. My apologies :(

[2020-09-13 22:50] abhobe commented on #5032
@galeinston
If it is okay with you, can I create a PR. If not , that's fine with me. I understand :)

[2020-09-13 23:26] abhobe commented on #2788
@enavarro51 and I had a discussion on slack on what the final result should be. So here is what we plan to make it look like.
![Download](https://user-images.githubusercontent.com/29938963/93031178-a602cb80-f5dd-11ea-8b85-cae0df2e9192.png)

- on the first set of qubits I removed the initial gate wire

We just need to find a way to seperate the first set of qubits from the next sets.

Note: The cod

[2020-09-13 23:38] 1ucian0 commented on #2788
Looks good!

[2020-09-14 01:07] abhobe commented on #2788
@1ucian0 I am pretty new to the qiskit source, could you point me to some functions which manage the length of the circuit wire length?

[2020-09-14 02:05] 1ucian0 commented on #2788
@enavarro51 can help. He knows the drawer very well.

[2020-09-14 05:02] galeinston commented on #5032
@abhobe My PR is waiting for a review. If there is something wrong with my PR that I can't fix it, you are more than welcome make one.

[2020-09-14 11:49] mlarocca commented on #2304
@1ucian0 do you think I could help with this one?

[2020-09-14 15:45] #1186 closed

[2020-09-14 20:45] enavarro51 commented on #5032
I'm not sure what the rationale for this is. When I started working on the mpl drawer, we had a clear definition for colors, Pauli-green, Clifford-blue, U-gates-red, measure/reset-black, and all else purple. I feel like purple could be split into a 2 or 3 colors, but other than that, this fits functionality with color.

For the IQX colors, first off the only spec we seem to have is the IBM page sh

[2020-09-15 07:13] czachow commented on #5052
Okay, I will do so. Do you have any suggestions on how to place and name the wrapper of the BacktrackingSolver? I would like to put it into a separate file as its needed by both CSPLayout and CSPLayoutNoise. Thanks!

[2020-09-15 09:12] mlarocca commented on #3568
@taalexander if you still would like some help on this, I'd like to work on it.

[2020-09-15 12:38] taalexander commented on #1936
I believe we can close this now.

[2020-09-15 12:38] #1936 closed

[2020-09-15 12:40] taalexander commented on #3568
The need for this has been removed with @nkanazawa1989 #4643. Thank you for your interest though.

[2020-09-15 12:40] #3568 closed

[2020-09-15 13:18] mlarocca commented on #3568
Got it, my pleasure.
Yeah, I have been going through the list of "good first issues"... is there any other open issue you'd recommend, where I could help? Maybe a high priority one?

[2020-09-15 13:42] mtreinish commented on #5032
@enavarro51 I tend to agree with you, the current color scheme makes more sense to me and is clearly defined. If we're going to change the color map again, we should define the rules for it so it can be applied consistently to all the gates. IMO it's not an issue if the IQX composer and the `mpl` drawer backend use a different colormap. I could see it being important for iqx to have a consistent c

[2020-09-15 14:09] kdk opened #5067 "Performance regression on circuit construction and conversion"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

The benchmarks flagged a 5-40% regression across the circuit construction, assembly/disassembly, and converter benchmarks following #4392 :

https://qiskit.github.io/qiskit/#regressions?sort=1&dir=desc

One example:

https://qiskit.github.io/qiskit/#circuit_construction.Ci

[2020-09-15 14:10] kdk commented on #2983
Benchmarks in CI have been removed.

[2020-09-15 14:10] #2983 closed

[2020-09-15 14:29] kdk opened #5069 "Add PassManager ability to remove passes by name or label"
### What is the expected enhancement?

As a follow on to #5024 , it would be helpful to be able to remove a particular pass (or set of passes) by their name or python class, so that one wouldn't have to first inspect the `PassManager` to find the index to remove. This would also allow for removals to be stable across changes in the ordering of the pass manager.

This could look something like
[cod

[2020-09-15 14:57] enavarro51 commented on #5032
@mtreinish @1ucian0  @nonhermitian I like the idea of style sheets. We can have a default color map we supply, but then users can modify it in a way that groups the gates any way they like. Something like the dicts in qcstyle could be a good starting point.

In regards to this PR, do we want to proceed with changing the colors as they were being done in #3196, keeping the current mpl drawer Pauli,

[2020-09-15 15:11] galeinston commented on #5032
I'm also on board with the style sheet.

 Quick question in regard to 'cu1' in the current official version, was it intentional to  have the text oddly appeared as indicated in the following picture? (the gate with the text 'u1 pi/2' next to a vertical line)

[2020-09-15 15:45] #3923 closed

[2020-09-15 17:27] taalexander commented on #4960
Hi @Aniket049, have you made any progress here?

[2020-09-15 17:28] taalexander commented on #3805
Closing as #3922 has merged.

[2020-09-15 17:28] #3805 closed

[2020-09-15 17:29] taalexander commented on #4084
Closing as it seems no progress has been made on the implementation and this may be unnecessary. Feel free to reopen if you disagree.

[2020-09-15 17:29] #4084 closed

[2020-09-15 17:31] taalexander commented on #3485
@coder-mtv, it seems little progress has been made by @pushpulldecoder. I can reassign to you if you would like?

[2020-09-15 17:32] taalexander commented on #3568
This one may be a good first issue and is a high-priority to me https://github.com/Qiskit/qiskit-terra/issues/4872.

[2020-09-15 17:34] Aniket049 commented on #4960
Yes Thomas.I have build the code and will be ready after couple of tests.I
will post it with a pull request within a week.

On Tue, 15 Sep, 2020, 10:57 PM Thomas Alexander, <notifications@github.com>
wrote:

[2020-09-15 17:36] enavarro51 commented on #5032
Yes, that's the correct way for cu1 and rzz gates.

[2020-09-15 17:38] mlarocca commented on #3568
Sounds good to me, I can take care of it!

[2020-09-15 17:39] mlarocca commented on #4872
Hi again! I'd like to help on this one. I'll start taking a look at it later tonight, if that's ok with you.
Thanks :-)

[2020-09-15 17:47] taalexander commented on #4872
Awesome, assigned 😄 .

[2020-09-16 00:24] abhobe commented on #2788
![Desing](https://user-images.githubusercontent.com/29938963/93277585-0b3df480-f777-11ea-95d1-72607329812a.png)

I think this is the best way to this. I am not sure about the proper terms but here is my idea.
We have a function `draw()` which takes in a param `length` (Again I do not completely understand the functions and what params they have but would like to know!). So the draw process would w

[2020-09-16 01:16] enavarro51 commented on #2788
There's really no need for the first row to be a different len. What you have above is just fine. You've significantly reduced the space already. We'll pick this up on Slack.

[2020-09-16 11:26] taalexander opened #5076 "Remove ScheduleComponent class"
### What is the expected enhancement?
Now that the object model has developed more clearly for pulse it is clear that the `ScheduleComponent` class is no longer necessary. We should remove this and settle on having both a `Schedule` and `Instruction` as distinct entities. A type may be defined `ScheduleComponent = Union[Schedule, Instruction]` if it is useful.

[2020-09-16 13:33] #4666 closed

[2020-09-16 20:42] wahaj commented on #5076
Hi taalexander,
Can I get on this issue? I would love to contribute and have been looking for a good first issue for some time now.
I've been looking at the `ScheduleComponent` class and `Instruction` class and am unsure as to what the `ScheduleComponent` purpose is in it.

[2020-09-16 22:51] 1ucian0 commented on #4823
We decided to initiate a transition to move all the QASM related code out of Terra. Therefore, I'm tagging this issue `on hold` until the new repo with the QASM related code is created.

[2020-09-16 22:55] 1ucian0 commented on #4878
@siddharthdangwal got unresponsive. Do you want to work on this @coder-mtv ?

Feel free to continue the code in #4880. If you do, make sure you respect the original authorship as co-author. Otherwise, you can restart a new PR.

If @coder-mtv is not responding in the coming week. Is @tgag17 interested?

[2020-09-17 11:02] ewinston commented on #5067
Here is the result of profiling before and after the commit sorted by the functions observing the biggest time difference;

[code]

[2020-09-17 12:50] blakejohnson commented on #4106
What do we need to do to finish this?

[2020-09-17 14:07] coder-mtv commented on #4878
I will work on it @taalexander

[2020-09-17 14:10] coder-mtv commented on #3485
That would be great! @taalexander

[2020-09-17 16:14] raulotaolea opened #5082 "qc.qasm() generate as many gate definitions as a custom gates is used"
### Information

- **Qiskit Terra version**: 0.15.2
- **Python version**: 3.7
- **Operating system**: macOS

### What is the current behavior?
When I create a `QuantumCircuit` from a qasm string:

[code]
<img width="167" alt="Captura de pantalla 2020-09-17 a las 18 04 32" src="https://user-images.githubusercontent.com/27988486/93497048-44f63300-f910-11ea-8ee9-b485492f0a6b.png">

It works correctly

[2020-09-17 17:07] taalexander opened #5084 "Add dt/dtm to the circuit config"
### What is the expected enhancement?
- [ ] dt/dtm should be added as optional parameters to the https://github.com/Qiskit/qiskit-terra/blob/f6f60f02227dd18e196a11c4e592631a8f379d50/qiskit/providers/models/backendconfiguration.py#L184, but kept as required variables for https://github.com/Qiskit/qiskit-terra/blob/f6f60f02227dd18e196a11c4e592631a8f379d50/qiskit/providers/models/backendconfiguration

[2020-09-17 17:47] taalexander commented on #5076
Sure @wahaj, assigning 😄 .

The `ScheduleComponent` purpose was to provide a unified base class for all components initially in pulse. However it was made too restrictive so I think we should remove.

[2020-09-17 19:18] 1ucian0 commented on #3615
Fixed via #3646

[2020-09-17 19:18] #3615 closed

[2020-09-17 19:26] 1ucian0 commented on #4374
It was decided by the core team that all the QASM-related code will be removed out of the terra component. I'm putting this issue `on hold` until the new repo is set.

[2020-09-17 23:48] #2788 closed

[2020-09-18 01:43] ajavadia commented on #4106
Translation to P/SX/U works, so if a backend reports those, qiskit can target it (that's pending)
PR from @Cryoris in progress for deprecation so users know to start using the new gates.

[2020-09-18 01:51] blakejohnson commented on #4106
If we have backends start reporting `['rz', 'sx', 'u', 'cx']` as the basis gate set, there are some older versions of qiskit that won't be able to target those backends. I think that is okay. Do you agree?

[2020-09-18 09:50] scottkelso commented on #5084
Hi @taalexander. Happy to look into this. Will come back if I have any questions.

[2020-09-18 13:42] taalexander commented on #5084
Awesome, thank you! Assigned!

[2020-09-18 16:17] blakejohnson commented on #4106
It turns out that you need at least qiskit 0.20 for the new basis gate set to work. So, I think we do need to think again about a more graceful transition.

[2020-09-18 23:38] YashawantParab opened #5090 "Inverse and Pseudo-Inverse of operator using Qiskit-terra operator class."
### What is the expected enhancement?

Information about system

• Qiskit Version:- 0.20.0
• Qiskit Terra version:- 0.15.1
• Qiskit Terra API Reference:- Qiskit information
• Python:- 3.7.6
• Operating System:- Windows 10

Issue Description:

On solving some linear combinational problems using qiskit terra operators, I faced an issue while working on the inverse of a matrix.

Even though we can ac

[2020-09-19 06:46] Cryoris commented on #5090
I'm not sure I understand the problem, since the operators are unitary the inverse equals the adjoint of the operator, which is available with the `Operator.adjoint` method. Did you use this method?

[2020-09-19 07:15] Cryoris commented on #4970
I'm a little hesitant to adding checks in the `compose` method because it might slow down the usage and this use-case is obviously a wrong input, so that users won't be surprised if it doesn't work. But if the DAGCircuitError is too cryptic, we could improve it there? This would not give us additional overhead when users use `compose` correctly but would still give a proper error message.

[2020-09-19 07:21] Cryoris commented on #4844
@edwinagnew yes, the `mcmt` method of the circuit is being deprecated. We're trying to clean up the circuit class (there are hundreds of methods you could add to it but that wouldn't be a very elegant design 🙂) and separate the circuit class, which is used for gate manipulation, and pre-defined circuits, such as the GHZ state, the MCMT, etc. Therefore the your function should not be a method but a

[2020-09-19 09:40] wahaj commented on #5076
Thanks taalexander,

I have removed it as the base class for both `Schedule` and `Instruction` I have been trying to implement the `ScheduleComponent` as a `Union` of `Schedule` and `Instruction`, but where should I define this type? As defining it in `interfaces.py` results in cyclic dependencies.

Or should I try to do away with the `SceduleComponent` altogether and not use any generalization?

[2020-09-19 11:30] mlarocca commented on #4872
Hey, sorry for the delay!
I tried to understand usage of the deprecated constructor, and track it out as much as possible.
I had a few questions, and I thought discussing them on a PR was easier, so I added my tentative changes, and opened one.

Cheers! :-)

[2020-09-20 17:53] diemilio opened #5095 "visualize_transition() uses angle in degrees rather than radians"
### Information

- **Qiskit Terra version**: 0.15.2
- **Qiskit version**: 0.21.0
- **Python version**: 3.7.6
- **Operating system**: Mac OSX

### What is the current behavior?
In Qiskit, standard rotation gates (such as 'rx', 'ry', 'rz') take the angle `theta` in radians rather than in degrees. However, the visualization `visualize_transition()` seems to assume that angles should be specified in d

[2020-09-21 05:39] tgag17 commented on #5095
Hi! Can I work on this issue?

[2020-09-21 09:28] nelimee opened #5097 "Simplify IBMQ hardware characteristics access"
### Issue with the current API
Currently, when one wants to access the hardware characteristics, a lot of boilerplate code is needed.
As an example, here is the code needed to retrieve all `CX` error rates:
[code]
It becomes even more cumbersome if only one error rate is needed:
[code]
The same kind of code is needed for any hardware data (qubit frequency, T1, T2, gate length, gate error rates, me

[2020-09-21 10:08] paniash commented on #5095
I'm interested! Can I work on this?

[2020-09-21 11:31] scottkelso commented on #5084
Hi @taalexander. I've added the parameters but noticed that on 'to_dict()' these parameters are being [multiplied by `1e-9` a second time](https://github.com/Qiskit/qiskit-terra/blob/f6f60f02227dd18e196a11c4e592631a8f379d50/qiskit/providers/models/backendconfiguration.py#L378) ([first time is on initialisation of the class](https://github.com/Qiskit/qiskit-terra/blob/f6f60f02227dd18e196a11c4e59263

[2020-09-21 12:32] taalexander commented on #5084
Hello @scottkelso, this is a bug. They should be multiplied by `1e9` so as to correct the scaling factor that is added when deserializing. Would you mind fixing this?

[2020-09-21 13:52] blakejohnson commented on #4106
We're going to handle the backend basis gate transition from the API side.

[2020-09-21 14:37] scottkelso commented on #5084
Ah, I see now. Sure thing @taalexander.

I've also added dt/dtm to [`backend_configuration_openqasm_example`](https://github.com/Qiskit/qiskit-terra/blob/f6f60f02227dd18e196a11c4e592631a8f379d50/qiskit/schemas/examples/backend_configuration_openqasm_example.json) and [`backend_configuration_openqasm_simulator_example`](https://github.com/Qiskit/qiskit-terra/blob/f6f60f02227dd18e196a11c4e592631a8f3

[2020-09-21 17:14] enavarro51 opened #5098 "Some QuantumCircuit methods do not pass label and ctrl_state for controlled gates"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
The following controlled-gate methods in QuantumCircuit do not accept label or ctrl_state as a param.
- ccx, toffoli, mcx, rccx, rcccx, fredkin, mcu1
### Steps to reproduce the problem
[code]
### What is the expected behavior?
All the above gates sho

[2020-09-21 20:42] mtreinish opened #5099 "Lots of incorrect deprecation warnings with unitary gates"
### Information

- **Qiskit Terra version**: master
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

Since #4181 we're raising a lot of deprecation warnings from terra code itself. Every time we create a controlled UnitaryGate is created a depercation warning like:

[code]

is raised. Not only should we not be raising warnings from internal operations in te

[2020-09-22 09:24] Zoufalc opened #5716 "CircuitSampler Parameter Binding"
### What is the expected enhancement?

Currently, the `CircuitSampler` requires a parameter binding dictionary in the following format
` {‘a’: [0]}`, i.e. it requires an iterable to be assigned to a parameter.
The following format ` {‘a’: 0}` is compatible with `operator.assign_parameters` but wouldn’t work with the` CircuitSampler`.

[2020-09-22 12:18] Cryoris commented on #5099
What's actually the reason for numpy arrays being deprecated?

[2020-09-22 12:29] mtreinish commented on #5099
They're not actually deprecated (hence the title of this issue, well one of them anyway) from my reading of #4181 the issue is that it's not explicitly defining a method for valid parameter type in the leaf class, so when we create a controlled unitary gate it goes to the base gate class where it's an unknown type which raises the deprecation warning.

Honestly, I think reverting might be the corr

[2020-09-22 12:34] drewrisinger opened #5100 "Imports: Speed improvement for importing subpackages"
### What is the expected enhancement?

#### IMPORT SPEED of top-level ``qiskit/__init__.py``

Inspired by @mtreinish in #4958 .

Currently, it takes on the order of seconds to import just the base ``qiskit`` package, and that doesn't improve if you only import subpackages (e.g. ``qiskit.pulse``) due to the top-level import of heavy packages in [``./qiskit/__init__.py``](https://github.com/Qiskit/q

[2020-09-22 12:55] mtreinish commented on #5100
This a good direction, I've done similar analysis in the past and agree we can do better. For your proposed steps:

1. Lets just do this asap, it's straightforward and will be good to get in before 0.16.0. It's a good catch.
2. This actually will just shift the path, networkx gets used in the coupling map which is a core construct. The equivalence library drawer is just being imported first in you

[2020-09-22 14:18] Anantha-Rao12 commented on #4930
Hey! This seems like an interesting first issue that I could tackle. Can I work on this ?

[2020-09-22 15:03] kdk opened #5103 "Integrate TemplateOptimization into preset pass manager levels"
### What is the expected enhancement?

Follow on to #4552 , add `TemplateOptimization` to preset pass manager levels.

[2020-09-22 15:40] chriseclectic commented on #4805
Qobj global phase support was added to Aer in https://github.com/Qiskit/qiskit-aer/pull/931

[2020-09-22 15:43] 1ucian0 commented on #5099
Let me have a look, I think is easy to fix. Otherwise, we can reverse #4181

[2020-09-22 16:04] #4698 closed

[2020-09-22 17:07] levbishop opened #5104 "Feature: Single-qubit R(v) gate"
It would be good to have a single-qubit gate parametrized as:
[code]

Explicitly if `|v| = sqrt(vx^2+vy^2+vz^2)`:
[code]

[2020-09-22 18:33] 1ucian0 commented on #5099
The root problem here is because the inverse of `Isometry` is a `Gate`. I think that's a bug:
[code]
[code]
That gate is created with a matrix parameter and that's, indeed, deprecated. The solution is to have a proper inverse for `Isometry` object.

[2020-09-22 18:52] drewrisinger commented on #5100
This isn't a top priority, but I found another leaf import that could potentially be removed/delayed. ``scipy.stats`` seems to only be used once in the repository
https://github.com/Qiskit/qiskit-terra/blob/19bf1a7b8d75616bd587f927a71f9b2eb8041dd4/qiskit/quantum_info/operators/random.py#L19
, and takes >= 0.1s of the import time (~8%). This could be solved with a similar approach as in #5102.

[2020-09-22 20:46] godspeed5 commented on #3885
Is this issue still open? Can I work on it if it is?

[2020-09-22 21:05] michelle4654 commented on #3885
@godspeed5 Hi! If you can take over this issue, that would be great. I don't quite have the bandwidth now, plus I think all the changes I made originally are now in conflict with the updated version of Qiskit :/ I'm so sorry!

[2020-09-23 02:14] ajavadia opened #5109 "per-qubit duration in a scheduled circuit"
ability to inquire the start_time and stop_time of **each qubit** in a circuit that has been scheduled. This is doable in pulse schedules (per channel) and is very useful when trying to find critical paths.

[2020-09-23 12:43] taalexander commented on #3885
@nkanazawa1989 will this still be required in light of #5101?

[2020-09-23 12:47] taalexander commented on #5076
Would `ScheduleComponent` be required for use anywhere? If not I don't think we require it. In the future I would like to create a simple base class, `NamedValue` for both Schedule and Instruction to inherit from.

[2020-09-23 12:55] #3092 closed

[2020-09-23 12:55] #4574 closed

[2020-09-23 13:48] #3599 closed

[2020-09-23 15:25] nonhermitian opened #5111 "FakeTokyo properties does not match coupling map"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
The properties for `FakeTokyo` does not match the coupling map; there are 2Q gates in the properties that are not in the coupling_map, e.,g.

[code]

I believe some valid ones are also missing.

This is blocking #5105.

### Steps to reproduce the problem

### What is

[2020-09-23 15:42] omarshehab opened #5112 "Modified aqua_globals.num_processes value cached in Jupyter notebook"
### Information

- **Qiskit Terra version**:0.15.1
- **Python version**:3.8
- **Operating system**:MacOS 10.15.6 (19G2021)

### What is the current behavior?
If I interrupt and rerun a Jupyter notebook after assigning a new value to `aqua_globals.num_processes`, it seems to retain that in the next execution session. Is this caching is an expected behavior?

### Steps to reproduce the problem
Step

[2020-09-23 16:13] nonhermitian opened #5113 "Faulty qubits produces inconsistant coupling maps and properties"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

blocks #5105

### What is the current behavior?
The faulty qubit tests fail in #5105 because the internal routines do not modify the coupling map and properties in a consistent manner.  For example using the `FakeOurenseFaultyCX01` from the test suite, one gets a modified coupling map (from `_parse_c

[2020-09-23 16:17] nonhermitian opened #5115 "Backends with faulty qubits have inconstant behavior in transpilation"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

blocks #5105

### What is the current behavior?
Writing a 5Q circuit for use on `FakeOurenseFaultyCX01` from the test suite yields the following exception upon transpilation:

[code]

However querying the backend directly gives `backend.num_qubits=5` and the coupling_map:

[code]

### Steps to reprod

[2020-09-23 16:24] mtreinish commented on #5111
Looking at the git log for the snapshot of the properties: https://github.com/Qiskit/qiskit-terra/commits/master/qiskit/test/mock/backends/tokyo/props_tokyo.json it hasn't been updated in a while. I assume this is because the device isn't online anymore. We've periodically run updates of the snapshots to get new parameters and updated data (for example: https://github.com/Qiskit/qiskit-terra/pull/

[2020-09-23 18:36] godspeed5 commented on #3885
If I'm not wrong @nkanazawa1989 has resolved this already?

[2020-09-23 19:28] taalexander commented on #3885
Looking at https://github.com/Qiskit/qiskit-terra/blob/e784e743018676a7d497ec7ab9b8b1265b65fa5a/qiskit/pulse/schedule.py#L641 it does not yet seem possible.

[2020-09-23 23:03] #5111 closed

[2020-09-23 23:55] 1ucian0 commented on #5115
Would a warning that you are using a backend with temporary disabled qubit/gates help?

[2020-09-24 00:07] 1ucian0 commented on #5113
I tend to agree that defective qubits/gates should expose a sub-coupling map. If so, there are two possibilities here:
 - We fully remap the coupling map to start in zero and have consecutive qubits. This needs to add a level of redireccion for all the backend properties and the layout selection.
 - We just remove the faulty qubits/gates. This will go against the assumption that coupling map start

[2020-09-24 00:32] nonhermitian commented on #5115
Well I think everything should be consistent. I think that requires modifying the backend config and props at runtime, and outside of transpile. I personally think the introduction of the faulty qubit logic is the incorrect way to go, but if going down this path things should be as explicit as possible and self-consistent.

[2020-09-24 00:35] nonhermitian commented on #5113
I think option one is the way to go, and the way it currently works as far as I can tell. It just seems the gates modifications are not in line with the ones to the coupling map. Perhaps not being renumbered correctly?

[2020-09-24 05:40] #3669 closed

[2020-09-24 05:40] #4805 closed

[2020-09-24 05:40] #5004 closed

[2020-09-24 14:50] chriseclectic opened #5125 "Incorrect global phase added to qobj header"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: MacOS

### What is the current behavior?

I think #4915 introduced some bugs in how the the global phase header is calculated which is causing some Aer tests to fail. It appears certain unitary gate instructions are causing a non-zero phase to be added during assemble, even though the unitary matr

[2020-09-24 15:02] #4339 closed

[2020-09-24 15:11] mtreinish commented on #5125
Is this just an issue with Qobj assembly or is global phase incorrect in the circuit attribute too?

[2020-09-24 16:33] chriseclectic commented on #5125
This just appears to be due to `assemble`. It also applies to standard (non-unitary) gates with phases when they are unrolled. For example:

[code]

Will have a qobj with an "rz" instruction in it and a global phase of -theta/2. But the global phase should only be added if rz is unrolled to u1, if the qobj has the "rz" instruction the global phase should be 0

[2020-09-24 19:16] 1ucian0 commented on #5082
Internally, these custom gates are independent instances. I dont think that we currently support a way to know they are the same.

[2020-09-24 19:39] mtreinish commented on #5099
I'm not sure this is fixed for real yet: https://github.com/Qiskit/qiskit-aer/pull/945/checks?check_run_id=1162125597#step:9:191 its happening a lot in the aer tests logs

[2020-09-24 20:01] zachschoenfeld33 opened #5127 "Reset optimization in the transpiler"
### What is the expected enhancement?

Modification of the behavior of the `reset` instruction in the transpiler.

There is a standard transpiler pass `RemoveResetInZeroState`, which understandably deletes a `reset` when the qubit is already in the ground state. According to documentation, this should be applied for `optimization_level >= 1`.

However, it does not always act as expected. Consider

[2020-09-24 20:01] #3384 closed

[2020-09-24 20:02] zachschoenfeld33 commented on #5127
@andrewwack if you have any suggestions you'd like to add based on your experience feel free...

[2020-09-24 20:07] zachschoenfeld33 commented on #5127
@mtreinish

[2020-09-24 20:33] mtreinish commented on #5127
So I think what this comes down to is we have a `init_qubits` flag on assemble which is basically a way of saying for any backends that support it don't implicitly initialize the qubits for us, let us the user handle it. I'm thinking we probably should bubble that construct up to the `QuantumCircuit` class level. Right now we're kind of in a weird place where we don't draw a circuit as being at `|

[2020-09-24 21:30] 1ucian0 commented on #5045
Do you think `make test` should run tox?

[2020-09-25 00:05] 1ucian0 commented on #5099
These might be correct messages.

Aer seems to use `Gate` incorrectly (capture this was the point of #4181) sometimes. For example:

https://github.com/Qiskit/qiskit-aer/blob/ebe967154b6d6119d738e7b73e22707d7023ae87/test/terra/utils/multiplexer.py#L9

This line should (probably) use `UCGate` instead.

[2020-09-25 03:10] jlapeyre opened #5732 "`StateFn` makes `OperatorStateFn` out of `PauliOp` or `ListOp` containing anything"
`StateFn` is meant to construct something representing a quantum state, pure or mixed.
`OperatorStateFn` is meant to represent a density operator. But, for some objects, such as a `PauliOp` or a `ListOp` containing anything, `StateFn` constructs a `OperatorStateFn`, which does not agree with these semantics.

[code]

This behavior is more or less relied on in the test suite. For example here https

[2020-09-25 14:22] kdk commented on #5125
Resolved by #5126 .

[2020-09-25 14:22] #5125 closed

[2020-09-25 14:23] zachschoenfeld33 commented on #5127
I like this approach in the `QuantumCircuit` class. However, the pass I assume also applies to `reset`'s at other points in the circuit, so perhaps the flag should be something like `opt_resets`? Just don't want to be specific to initialization (but the `init_qubits` flag should stay because users should be able to control initialization).

[2020-09-25 15:16] mtreinish commented on #5099
Ok, well where is this change documented, with instructions on how to update it? I don't see any release notes from #4181 it was clear to myself or @chriseclectic on what changed or how we were supposed to update aer to fix this. For something like this where we're changing an api that results in new deprecation warnings we need a release note that documents the change, why it was made, and how us

[2020-09-25 15:18] mtreinish commented on #5099
Also the deprecation message doesn't seem to have the correct stacklevel set because it is identifying `self.params = params` as the line using the deprecated behavior. Even though that's not a user actionable line, it's in the `__init__` for `Gate`.

[2020-09-25 15:26] mtreinish commented on #5127
Well, I'm thinking if it's a `QuantumCircuit` flag it should be about initialization. Something like `opt_resets` feels more like a transpiler flag than a circuit attribute because it's basically just saying to the `transpile()` function don't run the `RemoveResetInZero` pass. I was thinking we want to have the attribute on `QuantumCircuit` because it can inform how the circuit is expected to be e

[2020-09-25 18:16] zachschoenfeld33 commented on #5127
Sure, that makes sense. In that case, I think we'd need a second option so that it doesn't occur anywhere else in the circuit.

It would also be nice if the `reset` didn't get replaced w/ swap operations in the transpiler so they maintained the order input into the `qobj`. Is that something that would be a possibility?

[2020-09-25 19:56] #5056 closed

[2020-09-25 20:30] lcapelluto opened #5130 "Support for `Parameter`s with complex values"
### What is the expected enhancement?

Parameters are now used in schedules. Schedules have pulses which may have complex amplitudes. I'd like to be able to do this:

[code]

[2020-09-25 21:15] QacoBot opened #5132 "Branch `master` is failing"
Trying to build `master` at commit cafab07c5acc54abb9d5471648498e22dcadb2d1 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/391172609

[2020-09-26 00:45] #4770 closed

[2020-09-26 00:45] #4905 closed

[2020-09-26 03:29] #4784 closed

[2020-09-26 09:35] paniash commented on #5130
Hey! I'd like to work on this.

[2020-09-26 10:14] 1ucian0 opened #5134 "shouldn't single-qubit initialization decomposition result in single-qubit instructions?"
Not sure if an issue, so tagging as `question` for now. If I'm saying nonsense, an explanation would be enough to close this issue (even if I don't understand it).

When creating an initializer with single-qubit states, I would expect that the decomposition turns into single qubits gates/instructions. In this case<sup>1</sup> I want to initialize two qubits in `|1>`:
[code]
The result of decomposi

[2020-09-26 13:06] taalexander commented on #3485
Awesome, assigned!

[2020-09-26 13:09] taalexander commented on #5130
Excellent, @paniash! I've assigned. Please feel free to ask about any questions you may have 😄 .

[2020-09-26 13:57] paniash commented on #5130
Thanks a lot! Will do! :)

[2020-09-27 03:22] #4802 closed

[2020-09-27 09:16] pierrepocreau commented on #4999
Hey, I'd like to try and solve this issue.

[2020-09-28 00:37] Vismai-Khanderao commented on #5021
I would assume this would require a change to `plot_bloch_vector` (which `plot_bloch_multivector` calls) to have support for multiple vectors instead of a single one. Should be a simple change in parameters to accept a list[list[double]], and a parameter in `plot_bloch_multivector` to run a separate piece of code and pass all `bloch_data` to `plot_bloch_vector`.

Though a concern is how to differe

[2020-09-28 09:05] SeifMostafa commented on #4388
Hello,
Thanks to feedback me after review please
@1ucian0

[2020-09-28 13:51] scottwn commented on #5011
I took a quick look through these classes and found the following methods that seem to be unique to `UnitaryGate`.
[code]
The QASM issue is what was originally identified in #4447. It seems like QASM hasn't been implemented in `quantum_info` so that should be a consideration if we remove `UnitaryGate`. Generally I agree with @Cryoris, probably better to have a single class for unitary matrices.

[2020-09-28 14:21] paniash commented on #5130
Just wanted to clarify something. Currently pulse supports parameters but only real ones. The enhancement is supposed to introduce complex amplitudes as well. Am I right?

[2020-09-28 14:37] paniash commented on #5130
@taalexander Just wanted to clarify something. In the current master branch, pulse supports `pulse.Schedule.assign_parameters()` but only real amplitudes. The enhancement is to include complex amplitudes as well. Am I right?

[2020-09-28 16:11] 1ucian0 opened #5140 "BlueprintCircuit should build whenever data is required"
Coming from https://quantumcomputing.stackexchange.com/questions/13937/why-is-circuit-inverse-not-working-for-efficientsu2 I think users expect that `BlueprintCircuit` are automatically built when internal `_data` is required. This happens in same situation (like with `print`) but not always (like with `inverse`):

This works:
[code]

This raises `TypeError`:
[code]

It seems like a reasonable exp

[2020-09-28 17:00] 1ucian0 commented on #4959
another ping @PaulMcElligott?

[2020-09-28 17:13] gabriellm1 commented on #2306
Is this still workable?

[2020-09-28 18:23] georgios-ts commented on #5140
Going through `QuantumCircuit` methods i only see `compose` and `inverse` using `_data` without `BlueprintCircuit` asserting a previous call on `_build`.

[2020-09-28 20:17] PaulMcElligott commented on #4959
Hi @1ucian0. I have managed to recreate the issue, but I'm having difficulty recreating it in a new environment. I have been following @aasfaw's episode closely. I am new to using git & anaconda.

### Method to reproduce
[code]
mpl (below) subtext uses the greek letter '&pi;' instead of the latinized 'pi'
![image](https://user-images.githubusercontent.com/25926103/94480571-67206880-01ce-11eb-8267-

[2020-09-28 23:06] drewrisinger opened #5143 "Qiskit Transpiler doesn't handle negative physical qubit indices"
### Information

- **Qiskit Terra version**: 0.15.1
- **Python version**: 3.7.6
- **Operating system**: Linux (via WSL)

### What is the current behavior?

Qiskit transpiler doesn't handle negative physical qubit indices. This is relevant because some systems might want to use different numbering schemes than ``(0, num_qubits)`` due to their platform, like ions.

Error message:
[code]

### Steps t

[2020-09-29 09:46] nonhermitian opened #5145 "passing dt to schedule.draw() gives jumbled x-axis labels"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

<img width="1120" alt="Screen Shot 2020-09-29 at 05 45 44" src="https://user-images.githubusercontent.com/1249193/94542705-1e40d200-0217-11eb-8a72-a3690935c28d.png">

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-09-29 12:08] shifubear commented on #2712
Hi @1ucian0,
Seems like the link isn't working again... Is there a new link?

[2020-09-29 12:12] 1ucian0 commented on #2712
https://ibm.co/joinqiskitslack should always be updated.

[2020-09-29 12:16] shifubear commented on #2712
Thanks @1ucian0! It worked perfectly :)

[2020-09-29 12:26] Exoyds commented on #4374
There's also a similar issue with multiple controlled Z gates.

c8z as generated in QASM is not recognized when imported back.

[2020-09-29 13:40] #4944 closed

[2020-09-29 13:52] taalexander opened #5148 "Instructions SetFrequency/ShiftFrequency do not accumulate phase"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
When using `SetFrequency`/`ShiftFrequency` the phase of the channel does not accumulate when shifting from `f_1` to `f_2` for a period `n*dt`, and then back to `f_1`. This is a known issue with the backend and will be corrected on the backends shortly. This issue is to trac

[2020-09-29 14:56] moroses commented on #5148
Thanks for the issue report!

[2020-09-29 15:13] tgag17 commented on #5145
Hi! Can I work on this issue?

[2020-09-29 15:24] #4786 closed

[2020-09-29 15:24] taalexander commented on #5145
Sure! Assigning 😄

[2020-09-30 00:29] 1ucian0 commented on #4959
You might be overthinking this one.

Either `inpt` in `pi_check` can take the `self.encoding` as input, or you replace `pi`  by `π` after that (if the encoding allows it).

[2020-09-30 00:31] 1ucian0 commented on #2304
Yes! Probably following the same style than in https://github.com/Qiskit/qiskit-terra/pull/4544

[2020-09-30 00:31] 1ucian0 commented on #4388
Is #5139 replacing this one?

[2020-09-30 01:28] 1ucian0 commented on #4855
I think the pending PR is close to be merged.

[2020-09-30 02:45] jlapeyre opened #5150 "Error "'PyDAG' object is not subscriptable" when calling decompose() method on circuit"
I run the following

[code]

This raises an error:
[code]

Is this really a bug; am I missing something ? I surprised it doesn't break many things.

### Information

Terra 18ad8fc
Earliest commit with bug: 8f164f8
python 3.8.3
linux

[2020-09-30 03:05] mtreinish commented on #5150
You need to upgrade your retworkx version, the minimum version was increased to 0.5.0 in #4992. 0.5.0 also added python mapping protocol support which is part of what #5088 updated.

[2020-09-30 03:38] jlapeyre commented on #5150
Of course. It's in the commit message.

... never mind

[2020-09-30 03:38] #5150 closed

[2020-09-30 06:50] mlarocca commented on #2304
Sounds good, thanks! I'll give it a try

[2020-09-30 09:25] francabrera opened #5151 "Error converting QASM with a phase gate on it"
### Information

- **Qiskit Terra version**: 0.15.2
- **Python version**: 3.7.8
- **Operating system**: Linux 4.15.0-117-generic (IQX Quantum Lab)

### What is the current behavior?

When converting a QASM circuit using `QuantumCircuit.from_qasm_str`, if the QASM contains a [phase gate](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/qasm/libs/qelib1.inc#L24) it fails during the ast to d

[2020-09-30 09:55] frankharkins opened #5152 "Consider replacing problematic language"
I noticed in the release notes that two new classes, `AncillaRegister` and `AncillaQubit` have been added. There was some discussion with the community a while back that 'ancilla' is potentially problematic as [it comes from 'maid, slave-girl'](https://en.wiktionary.org/wiki/ancilla).

Although 'ancilla' is a very common term in quantum computing (and I imagine most users will not be aware of its

[2020-09-30 13:16] itoko opened #5154 "ALAP scheduling fails when a circuit with custom instruction is supplied"
### What is the current behavior?
Transpiling with `scheduling_method="alap"` but without `backend` fails when a circuit with custom instructions is supplied.
This is due to the instruction name mismatch. It occurs when `ALAPSchedule` pass calls `reverse_ops()`, which changes the instruction name. (So this error does not happen if we use ASAP scheduler.)

### Steps to reproduce the problem
[code]

[2020-09-30 13:28] peachnuts opened #5155 "Change distance matrix for layout mapping"
This new feature is used for layout method in Qiskit (also called "qubit mapping problem").
### Ideas
1. Build a distance matrix that takes not only hardware topology, but also calibration data (cnot error rate and cnot execution time) into consideration.
2. Decide whether to insert a Swap gate or Bridge gate based on the score calculated by distance matrix.

These two ideas are proposed in [1].

[2020-09-30 13:46] nonhermitian commented on #5155
See #5105

[2020-09-30 13:57] peachnuts commented on #5155
In 5105, it seems that you use cx error rate as the edge weights. I propose to normalize the shortest distance matrix, cx error rate matrix and cx execution time matrix to make the three matrices in the same order. Then add them using different weight parameters to create a new distance matrix. Use that new distance matrix as the edge weights.

[2020-09-30 15:26] nonhermitian commented on #5155
Yeah I understand that but it does not quite make sense to me.  The execution time already places a role in the CX error rate so not sure why I would weight that again.  And the distance is the cx error rate in #5105, which is kind of the whole point.  Also it is unclear what the weights should be.  Indeed, the paper you highlight chose that as a heuristic metric as opposed to something more forma

[2020-09-30 16:11] #4820 closed

[2020-09-30 17:50] aeddins-ibm opened #5158 "Ancilla qubits added by transpiler are not AncillaQubit's ?"
### Information

- **Qiskit Terra version**: 0.15.2
- **Python version**: 3.7.x
- **Operating system**: Mac

### What is the current behavior?

What works:
Transpiling a `QuantumCircuit` using a coupling_map returns a `QuantumCircuit` (call it `qc`) in which idle qubits have been added to fill all spots in the coupling map. Calling `qc.draw()` outputs a graphic in which each qubit line is labeled

[2020-09-30 19:26] 1ucian0 commented on #5140
This used to work, therefore tagging as `bug`

[2020-09-30 19:41] nonhermitian opened #5160 "Circuit global phase not bounded in [0, 2pi)"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
<img width="725" alt="Screen Shot 2020-09-30 at 15 40 42" src="https://user-images.githubusercontent.com/1249193/94731767-4f162980-0333-11eb-82fd-40634ff7cdef.png">

### Steps to reproduce the problem

### What is the expected behavior?
The phase is bounded in [0, 2p

[2020-09-30 20:21] #4310 closed

[2020-09-30 22:26] godspeed5 commented on #3885
I think the ax are being set differently here (Here's where the main stuff seems to be happening for the function you mentioned)
https://github.com/Qiskit/qiskit-terra/blob/b9c60d95a39a07b789454a634c5a45931bd25fc0/qiskit/visualization/pulse/matplotlib.py#L303

[2020-09-30 22:47] shashwat-1234 commented on #5160
Hi @nonhermitian  can I give a try on this. I would like to work on this.

[2020-09-30 22:49] nonhermitian commented on #5160
Sure, go for it.

[2020-09-30 23:30] #5151 closed

[2020-10-01 04:06] ewinston opened #5163 "trim controlled gate tests"
### What is the expected enhancement?
Currently controlled gates tests take a significant proportion of testing time. Some of the tests may be very similar and could be removed without significantly changing scope of the testing.

[2020-10-01 04:31] #5154 closed

[2020-10-01 05:18] Arijit02 commented on #5130
Hey! Is this issue open? Can I check this out?

[2020-10-01 05:22] paniash commented on #5130
@Arijit02 Hey! Thanks for your interest but I'm currently working on it. :)

[2020-10-01 05:42] Arijit02 commented on #5130
Okay, fine.

[2020-10-01 06:01] Arijit02 commented on #4999
Hey! Can I check out this issue?

[2020-10-01 06:32] Arijit02 commented on #4878
Hey, is this issue still open? Can I work on it?

[2020-10-01 07:15] peachnuts commented on #5155
I see and thanks for telling me that execution time already impacts the CX error rate! I was wondering if the Bridge gate has already been integrated in Qiskit. I also saw a similar issue in https://github.com/Qiskit/qiskit-terra/pull/1803#issue-252563551..

[2020-10-01 08:11] Arijit02 commented on #4878
@taalexander could you please assign this issue to me? I want to try this out.

[2020-10-01 08:18] tgag17 commented on #4878
I am interested if the issue is still open

[2020-10-01 08:57] Arijit02 commented on #4878
@taalexander I think I have solved this issue.

[2020-10-01 10:36] Arijit02 commented on #5143
Hey! Can I work on this issue?

[2020-10-01 11:02] nonhermitian commented on #5143
I don't think we actually want to do this. Namely it would also require having registers be negatively indexed and that is not supported anywhere in Qiskit or OpenQASM. If you do not make all these changes then you still need to map indicies when going to the device, which is equivalent to just not supporting it in the first place.

[2020-10-01 11:07] Arijit02 commented on #5143
Okay, I get it.

[2020-10-01 11:11] Arijit02 commented on #5095
Hey! Can I work on this issue

[2020-10-01 11:44] Arijit02 commented on #5095
@diemilio  I guess I have solved this issue.

[2020-10-01 11:57] tgag17 commented on #5145
@nonhermitian Can you specify the steps to produce the above mentioned pulse schedule for testing

[2020-10-01 12:33] 1ucian0 commented on #4999
Closed via #5138

[2020-10-01 12:33] #4999 closed

[2020-10-01 13:47] Arijit02 commented on #4908
Hey! Can I work on this issue?

[2020-10-01 13:54] quantumjim commented on #4908
I didn't see @kdk 's comment at the time, but it is exactly correct.

[2020-10-01 14:34] diemilio commented on #5095
@Arijit02. OK. I was waiting for someone from IBM to comment on how they wanted to proceed since I wasn’t sure if having the phase in degrees was done by design.

[2020-10-01 14:36] Arijit02 commented on #4848
@ajavadia Can I work on the issue?

[2020-10-01 15:08] Arijit02 commented on #5095
Okay, I get it.

[2020-10-01 16:08] peachnuts commented on #5155
Even if the CX execution time has already impacted CX error rate, we still cannot optimise the CX execution time just by reducing the CX error rate, can we? I think it's better to give the user more options and the CX execution time is useful..
Moreover, I think at least it's better to combine  CX error rate matrix and shortest distance matrix together rather than only use CX error rate as the wei

[2020-10-01 17:08] nonhermitian commented on #5155
No you cannot find the shortest time circuit just from the cx error rates.  There are many more elements that go into those numbers.  Don't let me stop you from writing a PR for what you propose, I am just a bit confused about the implementation, and how one automates setting the weighting criteria.

[2020-10-01 17:09] sagarpahwa commented on #5158
Okay I got this one. The qubits are just idle qubits.  Hence changing the prefix to idle_q will solve the issue.

[2020-10-01 17:25] nonhermitian opened #5167 "Q-sphere phase colors does not match IQX phase colors"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

As pointed out by @HwajungKang, it is a bit tricky to figure out that the color wheels are more or less rotated by pi.  It is even harder to decode due to the implicit phase re-normalization in the Qiskit Q-sphere that is not mentioned anywhere:

https://github.com/

[2020-10-01 17:50] peachnuts commented on #5155
Thanks for your reply! I thought that I can write a PR only if I get the "permission" from here :)
I will do it asap!

[2020-10-01 18:12] enavarro51 opened #5169 "Make mpl colors and other styles fully configurable by users with a json load"
### What is the expected enhancement?

In #5063, the IQX color scheme was added as an option to the mpl drawer. The style dict entry, 'displaycolor' was expanded to include new gates and to allow for entering both gate and text color for each gate type. This expands color choices to include dark gate colors with light text. This first phase was done by creating 3 classes in qcstyle.py.

In this ne

[2020-10-01 19:00] 1ucian0 commented on #5158
I understand this is unexpected. However, I failed to imagine a context when that distinction is relevent. What's your use-case?

[2020-10-01 19:12] 1ucian0 commented on #3364
I think I (kinda accidentally) closed this one with #5062.

[2020-10-01 19:12] #3364 closed

[2020-10-01 19:51] aeddins-ibm commented on #5158
Not much of a use case frankly, just seemed like maybe it was unintentional to have qubits called ancillas not live in qc.ancillas. I'm still learning norms as to when it's helpful to raise an issue to point out unexpected behavior vs just letting it lie, so apologies if this is frivolous.

For context, I came across this while trying to write a general-ish function to combine a list of circuits a

[2020-10-01 20:06] 1ucian0 commented on #4736
I'm not sure if this feature worths the effort and the complicated API that might create. What's the problem/use-case to solve?

Creating circuits/gates is kinda easy... editing existing circuits/gates seems like it might create a lot of methods with complex parameters...

[2020-10-01 20:14] sagarpahwa commented on #5158
Okay. So what should be the ideal behavior?

Having free qubits in quantum register with non ancilla prefix or having separate ancilla register for free qubits.

Or want to keep it as is and close the issue

[2020-10-01 20:26] 1ucian0 commented on #5095
Maybe @nonhermitian can comment here?

[2020-10-01 20:34] Vismai-Khanderao commented on #4736
@1ucian0 I agree, I did eventually get it to work with 3+ qubit gates and did simple testing but it's needlessly complicated and since some gates have different internal attributes, e.g barriers, it's difficult to test a robust general solution to all gates. I'll be closing my WIP PR #4809 . It seems easier in most cases to build a new circuit, especially when it's not too large.

[2020-10-01 20:35] 1ucian0 commented on #4635
@coder-mtv Want to be assigned?

[2020-10-01 20:47] 1ucian0 commented on #5169
Why not? It could be possible to give priority the entries to `displaycolor` over the one on `name`:
[code]

[2020-10-01 20:51] enavarro51 commented on #5169
'displaycolor': {'u1': ('#FFFFFF', '#000000')}

This would still be fine. Changes can still be made at runtime. I'm just referring here to the json files that will contain the standard 3 styles.

[2020-10-01 20:52] lcapelluto commented on #5130
@paniash, the changes will mostly be in `circuit/parameterexpression.py`. There will likely be a couple changes required in `pulse/` once complex values are supported, but that can be done separately. If you run the short snippet from the description, I believe the error is raised in `_raise_if_passed_non_real_value` in `ParameterExpression`

[2020-10-01 21:05] ajavadia commented on #4848
Yes please go ahead, thanks

[2020-10-01 21:31] 1ucian0 commented on #4736
@knsmith?

[2020-10-02 00:09] 1ucian0 commented on #5143
What's the specific thing about ions that needs this? Maybe it can be done at level of backend module.

[2020-10-02 02:20] abhobe commented on #5167
@nonhermitian Can I have a go at this? I am still pretty new and would to try out some smaller issues.

[2020-10-02 03:12] Arijit02 commented on #4848
I went through the code base and found that there have been certain tests written in test_schedule.py for sched.ch_duration(). I have to modify them also right?

[2020-10-02 04:12] Arijit02 commented on #5008
@dtmcclure  Can I try this?

[2020-10-02 07:04] Arijit02 commented on #4908
Okay, I understood. Can I work on this?

[2020-10-02 07:28] quantumjim commented on #4908
@Arijit02 I can't confirm that the terra team will merge this new feature, but it would certainly be great if you could make a working version.

[2020-10-02 07:39] Arijit02 commented on #4908
It's okay. I would love to try it.

[2020-10-02 08:00] peachnuts commented on #5155
It's the first time that I try to contribute to Qiskit and I'm not familiar with the process.. I just clone the repository and I didn't find your code about https://github.com/Qiskit/qiskit-terra/pull/5105. But I saw your PR has already been merged.. I think it would be easier for me to implement based on your code.. Otherwise, I need to re-implement the same thing as you did.. Could you tell me w

[2020-10-02 08:31] Arijit02 commented on #4908
![Uploading Screenshot from 2020-10-02 13-57-52.png…]()

[2020-10-02 08:33] sagarpahwa commented on #4635
Hi @1ucian0, can I try this one?

[2020-10-02 08:56] Arijit02 commented on #4908
x-special/nautilus-clipboard
copy
file:///home/arijit/Pictures/sample.png

[2020-10-02 08:59] Arijit02 commented on #4908
So what is desired is that:

`qc = QuantumCircuit(6)
qc.initialize([1/np.sqrt(2), 1/np.sqrt(2)])
qc.draw('mpl')`

will initialize all qubits with the state [1/np.sqrt(2), 1/np.sqrt(2)]. Right?

[2020-10-02 09:00] Arijit02 commented on #4908
I am a beginner. Please correct me if I am wrong.

[2020-10-02 11:58] nonhermitian commented on #5155
So you could fork my branch and go from there, but the downside is my changes could get pulled into yours if not careful. Also my changes work for all swap mappers where as I believe you are proposing more in depth changes to the Sabre mapper. If so, it might be best to just start anew.

[2020-10-02 12:04] nonhermitian commented on #5155
Also my PR is not merged. Indeed, changes to the mappers have an uphill climb to be accepted due to their importance.

[2020-10-02 12:05] 1ucian0 commented on #4635
If @coder-mtv does not answer in the next 8 hours, you can take it @sagarpahwa

[2020-10-02 12:07] Arijit02 commented on #4705
Hey! Can I give this issue a try?

[2020-10-02 12:39] peachnuts commented on #5155
OK! Thanks for your advice!

[2020-10-02 14:35] quantumjim commented on #4908
My intention was that for `qc = QuantumCircuit(6)`, the argument to `qc.initialize()` should be a statevector of 2^6 elements. So more like

[code]

[2020-10-02 14:37] quantumjim commented on #4908
So `qc.initialize(state)` should do exactly the same as `qc.initialize(state,qc.qregs[0])` for any `qc` that has just one quantum register.

[2020-10-02 14:48] 1ucian0 commented on #2046
closed via PR #4915

https://github.com/Qiskit/qiskit-terra/pull/4915/files#diff-feb434f18758792899804d6e18c57707

[2020-10-02 14:48] 1ucian0 commented on #2046
closed via PR #4915

https://github.com/Qiskit/qiskit-terra/pull/4915/files#diff-feb434f18758792899804d6e18c57707

[2020-10-02 14:49] 1ucian0 commented on #2046
closed via PR #4915

https://github.com/Qiskit/qiskit-terra/pull/4915/files#diff-feb434f18758792899804d6e18c57707

[2020-10-02 14:49] #2046 closed

[2020-10-02 16:01] kdk commented on #4705
@Arijit02 thanks for your interest. There are a few open questions to address here first.

@Cryoris Does aqua use resizable registers? The current implementation definitely has problems, but at least shrinking registers would appear to have worked in some cases.

[2020-10-02 16:14] kdk commented on #5008
@Arijit02 all yours. Feel free to reach out with any questions.

[2020-10-02 16:20] Arijit02 commented on #5008
Yes, sure. I would love to.

[2020-10-02 16:24] Arijit02 commented on #4908
@quantumjim  I guess that will be `state = [ 1/np.sqrt(2**n) for _ in range(2**n) ]`. Am I right?

[2020-10-02 17:11] nonhermitian opened #5174 "Bind paramaters should be able to be done in place"
### What is the expected enhancement?
As highlighted here: https://github.com/Qiskit/qiskit-tutorials/pull/1036 , (and found by @mtreinish) the copying of circuits

https://github.com/Qiskit/qiskit-terra/blob/dc3a2a667b8dc22512ca409ecae347d8dbdd944c/qiskit/circuit/quantumcircuit.py#L1900

is the primary bottleneck in algorithms that make repeated use of `bind_parameters`.  To overcome this, there

[2020-10-02 17:12] nonhermitian commented on #5167
@abhobe sure.

[2020-10-02 17:31] mtreinish commented on #5174
My thinking on this was actually to defer the binding outside of the circuit. So instead of calling `QuantumCircuit.bind_parameters()` we have an argument for `transpile()` and/or `Backend.run()` (after #5086 merges) that takes in the parameter table.

For `transpile` we'd do what you were suggesting but directly in the dag after transpile runs `circuit_to_dag()`. It basically would make transpile

[2020-10-02 17:45] nonhermitian commented on #5174
For the transpile part I do not see how one gets around transpiling multiple times if the parameters are not a priori given.  For the latter, I think I am usually given an array of values that correspond to parameters in a circuit object (or perhaps the QASM rep?) and I need to feed those in.  So at some point it needs to be in-place inserted into a circuit somewhere, or perhaps a lower level repr

[2020-10-02 18:36] mtreinish commented on #5174
For adding a argument to `transpile()` it definitely would be transpiling the circuit multiple times, once per parameter value.  I don't think there is a way to avoid that. But, you could do the bind in place as a modification of the dag node after the parameterized circuit is initially converted to a dag basically as an outer loop (or over `parallel_map`) around the passmanager.  My thinking was

[2020-10-03 01:07] abhobe commented on #5167
@nonhermitian The color scheme for IQX gate color scheme is not enabled by default and the original scheme is kept when looking at #5063. Do want to the same structure as #5063 or just keep IQX as default.

[2020-10-03 01:36] abhobe commented on #5167
And do you have the official hex colors?

[2020-10-03 14:49] 1ucian0 commented on #5143
Tagging as `wontfix` for now. Keeping it open, maybe @drewrisinger can make a case.

[2020-10-03 15:58] #4635 closed

[2020-10-03 18:00] sagarpahwa commented on #5158
@1ucian0 , @aeddins-ibm  - Should I look at the other way round for the solution? i.e. making the qubits actual ancilla qubits or are we thinking to leave it as is and close the issue ?

[2020-10-03 18:01] sagarpahwa commented on #5160
@shashwat-1234 - Just in case you are not working on this one, can I pick it up?

[2020-10-03 18:05] shashwat-1234 commented on #5160
@nonhermitian
This issue has already been addressed, I checked the files global_phase has already been done equal to **phase % 2*np.pi** and I am getting the correct results for all values of global_phase given as an input.

[2020-10-04 20:07] SouvikDcoder commented on #1751
Same error here as well, I have Python 3.7.4 and I am using Jupyter notebook to execute Qiskit. However, I am getting the same error :
[code]
I have done the ```pip install qiskit``` and ```pip install qiskit[visualization]``` commands both.
I have added the path to qiskit folder that is created under Python3, which strangely has only 1 file inside it to the path variables as well.
Any insight as

[2020-10-05 00:00] 1ucian0 commented on #4504
duplicated #4387

[2020-10-05 00:00] #4504 closed

[2020-10-05 00:03] 1ucian0 commented on #4397
Does this help https://stackoverflow.com/questions/40929166/spyder-console-turn-off-interactive-matplotlib-plotting ?

[2020-10-05 00:16] 1ucian0 commented on #4938
The original example cannot be reproduced because we improved the parameter validation. In which setting complex numbers are printed?

[2020-10-05 00:26] 1ucian0 commented on #4642
Is this issue still valid?

[2020-10-05 00:29] 1ucian0 commented on #4623
@rochisha0 is not responsive. Do you mid PRing your solution @faisaldebouni ?

[2020-10-05 00:44] ajavadia commented on #4934
Is there a particular need you have which is not covered by state_fidelity? state_fidelity is also more general and not just for pure states.

[2020-10-05 02:55] enavarro51 commented on #4938
If the Latex drawer displayed params on initialize (which it probably should since the other 2 drawers do), that would be a place where complex numbers might be displayed. The regex above grabs the + and in the call to _truncate_float it gets cast to a float, so the + gets lost.

[2020-10-05 09:52] frankharkins commented on #4934
It would be nice for teaching. The example I had in mind was calculating the angle between two vectors for Grover search / quantum counting. It's not essential as it can be acheived by `np.dot(np.conj(s.data), w.data)`, but I was hoping for a neater way to do it.

[2020-10-05 13:18] challngr commented on #4705
As long as the register is not used in any structure that relies on the hash the current code works fine.  But if you're building a complex circuit where you want to put registers into a map (dict), for example, changing size or name invalidates that structure.  Shrinking registers will still cause this.

I would suggest that either registers need to read-only, or we document that they cannot safe

[2020-10-05 13:28] challngr commented on #4705
BTW this holds for Q/Cbits as well because their hashes are a function of their containing register's hashes.

[2020-10-05 14:22] faisaldebouni commented on #4623
Sure, I will work on this right away.

[2020-10-05 16:21] mlarocca commented on #4872
@taalexander I was thinking, what about if, while the decision is being taken about this change, I create a short PR just for those bugs I had found, and the tests added?

[2020-10-05 17:21] 1ucian0 commented on #4938
`initialize`! Thanks! Renaming to get more specific...

[code]
[code]
![image](https://user-images.githubusercontent.com/766693/95110844-a25df280-070c-11eb-9493-067c3411de9f.png)

[2020-10-05 19:40] 1ucian0 commented on #3998
Closing this as `wont fix`. Feel free to open it back if there is still pending discussion...

[2020-10-05 19:40] #3998 closed

[2020-10-06 01:02] 1ucian0 commented on #4908
I see `initialize` fundamentally different from `barrier`, because the size of the statevector really defines in the amount of qubits in which it can be applied. Being explicit is better. You really do not save much and it just makes the situation more complicated. `qc.initialize(state, range(n))` is explicit. We do not allow `qc.h()` neither. `barrier` is more like the exception than the rule...

[2020-10-06 05:04] tinjinkin commented on #4397
Actually was able to solve it using this https://stackoverflow.com/questions/61568297/qiskit-plots-not-showing-up-in-spyder-console/62319001#62319001
Though I may have to try what you said if this does not work.

[2020-10-06 05:04] #4397 closed

[2020-10-06 08:42] nonhermitian opened #5184 "DensityMatrix does not support power"
### What is the expected enhancement?
It is nice to look at things like the purity Tr(rho^2) that require computing powers of the density matrix but this is not supported.  It should be a simple call to the same functionality in the underlying NumPy array in `dm.data`

[2020-10-06 08:55] nonhermitian commented on #5184
Nevermind, I ran into the purity method.

[2020-10-06 08:55] #5184 closed

[2020-10-06 10:01] Zoufalc opened #5185 "Looping through list of QuantumCircuits to get result from individual circuits"
### Information

- **Qiskit Terra version**:  0.16.0
- **Python version**: Python 3.7.3
- **Operating system**: Mac OS X
                                       ProductVersion: 10.15.1
                                       BuildVersion: 19B88

### What is the current behavior?
Given a results object that comes from the execution of a list of quantum circuits, the retrieval of the results for the d

[2020-10-06 14:08] kdk commented on #5185
This issue arises from `assign_parameters` returning `QuantumCircuit` instances with the same `name`. There is an open (but stalled) PR with a possible fix https://github.com/Qiskit/qiskit-terra/pull/3775 .

[2020-10-06 15:48] Zoufalc commented on #5185
Thanks I see.

[2020-10-06 16:23] Cryoris opened #5188 "Add QuantumCircuit.tensor"
### What is the expected behavior?

Blocks #4208.

To deprecate `circuit.combine/extend` we need to add another way to "stack" circuits -- which is not possible with `compose`. This functionality exists as `tensor` in the quantum info module, so this could be added to the circuit.

Considering two circuits:
[code]

Extend/combine (or `+=`) act as
[code]

To be consistent with the qubit ordering, t

[2020-10-06 16:53] 1ucian0 commented on #4736
Alternative, a gate can be set as placeholder and be replaced by concrete instances.

 I'm closing this as `wont fix`. If a use-case is not covered by these approaches and you can make a stronger case to justify increasing the API complexity then please reopen.

[2020-10-06 16:53] #4736 closed

[2020-10-06 16:57] #5140 closed

[2020-10-06 17:08] kdk commented on #4908
Closing based on @1ucian0 's comment. Feel free to re-open or continue discussion if people feel strongly otherwise.

[2020-10-06 17:08] #4908 closed

[2020-10-06 17:18] kdk commented on #5158
Marking as 'on hold'. Agree this can be confusing. There are some details around how ancillas are going to be used in the circuit and transpiler that will be worked out over the coming months, and this will be discussed then.

[2020-10-06 17:42] faisaldebouni commented on #4623
I need some guidance with this. I see many problems with how qasm is being generated in general. Directly fixing this issue will **not** give the correct qasm code.

Mainly, generating qasm definition for circuits with custom gates is not done recursively.
ex:
[code]
will give:
[code]
However, `print(qc2.qasm())` will give the correct qasm code.

UnitaryGate definition is pretty flat, so the gate

[2020-10-06 17:50] faisaldebouni commented on #4623
This is mock implementation that  adopts how qasm generation currently works regardless.
[mock branch](https://github.com/Qiskit/qiskit-terra/compare/master...faisaldebouni:issue4623_2)
By simply moving `qasm()` from `Unitary` to `Gate`

[2020-10-06 20:15] alejomonbar commented on #4959
@PaulMcElligott are you still in it? can I try this one? @1ucian0

[2020-10-06 23:10] 1ucian0 commented on #4959
Sure! Go ahead @alejomonbar

[2020-10-07 00:56] ajavadia commented on #4848
yes the tests will have to change to reflect the new behavior. also a release note is required to document the change.

[2020-10-07 05:40] mariuskava commented on #5100
Did you consider using lazy imports? Sometimes it can make troubleshooting more tricky. But the behaviour could be controlled by env variable.

[2020-10-07 06:12] taalexander commented on #4848
Just FYI, changing this functionality may break existing code. Tests should
highlight breakages.

On Tue, Oct 6, 2020, 9:56 PM Ali Javadi-Abhari <notifications@github.com>
wrote:

[2020-10-07 06:58] georgios-ts commented on #5188
For circuits with the same registers, what is the desired behavior?
For example, this will be the case if the circuits are initialized like
[code]
or after adding measurements like
[code]
I can see three possibilities
- Raise an error (like `combine` and `extend`).
- Rename of the registers of B in the new circuit.
- Change the registers of A and B. Maybe create one big register. But i don't know

[2020-10-07 08:29] Cryoris commented on #5188
In the case of anonymous registers like you described above I think it should be possible to tensor circuits together. However it's true that after calling `measure_all` the classical registers have the same name `'meas'` and that could be a problem.

I think this method should not care about registers (as we should move towards registerless circuits) and just rename or resize the registers if the

[2020-10-07 10:31] eggerdj commented on #5130
This will also allow us to do things like this
[code]
correct?

[2020-10-07 10:42] eggerdj opened #5191 "Support multiplication of `Parameter` with complex values"
### What is the expected enhancement?
I would like to be able to do this:
[code]
This may be related to issue #5130 and PR #5178

[2020-10-07 12:28] Cryoris commented on #5130
I actually implemented this before for personal use but never opened a PR because I couldn't find a use-case for it. @paniash looking at the early stage of your PR it might be best if I open one and you can help contribute if there's something left, what do you think? 😄
Complex parameters should also include some validation to not end up with expressions such as `RY(0.2j)` which will crash the exe

[2020-10-07 13:15] paniash commented on #5130
@Cryoris I'd be glad! Given my knowledge of python, I don't want to be a bottleneck to merge this PR, so by all means, I'd be willing to contribute to your PR.

P.S. Should I close my PR then? Maybe @lcapelluto could confirm.

[2020-10-07 14:45] #5109 closed

[2020-10-08 16:26] nonhermitian opened #5197 "Sabre swap mapper dominated by data copy"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Running Sabre on a QV circuit over 20 qubits shows that data copying is the current bottleneck:

Abbreviated profile:
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-10-08 16:40] mtreinish commented on #5197
It actually depends on how large you scale things. For ~100 qubits or more it's typically calls to `bfs_successors` that takes the most time, at 1k qubits (because I had the profile flame graph handy  ) it gets bogged down in the coupling map (which is why I opened #5183 ) `distance()`. There's a lot in the sabre passes that needs to be tuned it's not really performance optimized and scales pretty

[2020-10-08 16:50] nonhermitian opened #5198 "Lookahead swap mapper has excessive runtime for larger width circuits"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Using the `lookahead` swap mapper on a 20q QV circuit does not complete on my machine within at least 30min.  The others take 2-4 seconds.

### Steps to reproduce the problem
Try to use `routing_method='lookahead'` on a 20q QV circuit.

### What is the expected behav

[2020-10-08 16:54] nonhermitian commented on #5197
Humm BFS should be linear runtime if done right.  Also the distance calculation should probably be done only for those qubits which actually need evaluating at some point; most distances are not usually needed and a dense million+ element array is getting a bit hefty.

[2020-10-08 17:26] mtreinish commented on #5197
IIRC, the bfs_successors one was because of a retworkx limitation right now it computes the entire list of nodes and then returns that as a python list (there is an issue open on this https://github.com/Qiskit/retworkx/issues/71 but its blocked on the python binding lib) which for modest sized graphs is still an order of magnitude faster, but as the graph grows sufficiently large it can become a b

[2020-10-08 17:29] nonhermitian commented on #5198
I gave up waiting, but here is timings at smaller widths:
<img width="481" alt="Screen Shot 2020-10-08 at 13 28 27" src="https://user-images.githubusercontent.com/1249193/95493224-2d87f400-096a-11eb-927a-d24e8ffa51e0.png">

[2020-10-08 18:30] nonhermitian commented on #5197
Yes, this would be good.  Also another reason to avoid going to the faulty qubits model in Qiskit.  This should be possible already I think.

The ability to give the parallel cutoff heuristic that you have there is also quite cool.

The `bfs` code also looks to be the usual one that scales well, so that not the issue.

[2020-10-08 20:52] enavarro51 commented on #5169
In working on the style dictionary for the 'mpl' drawer I've come upon several historic bits of code and docs that need to be cleaned up.
- When the 'mpl'  and 'latex' drawers were split up (#1111) , I believe the intention was for the 2 drawers to share the 'qcstyle.py' style information. At the top of the 'latex' code, the BWStyle is loaded from qcstyle, but is never referenced in the drawer aft

[2020-10-09 03:37] ajavadia commented on #4790
@deeplokhande sorry i just saw this. This issue means re-writing a circuit in terms of a gate that is custom (i.e. your favorite 2-qubit gate). We are working on this one though, so hopefully we'll have something soon.

[2020-10-09 03:41] ajavadia commented on #4751
@georgios-ts @a-kapila sorry for the late response. this is still a good issue if you are interested to work on it. I was hoping we could make the Operator more flexible to consume unbound parameters (i.e. sympy values). But I haven't dug into much. @chriseclectic thoughts?

[2020-10-09 08:51] t-imamichi opened #5200 "NLocal raises UnboundLocalError if reps==0"
### Information

- **Qiskit Terra version**: 0.15.2
- **Python version**: 3.7.9
- **Operating system**: macOS 10.15.7

### What is the current behavior?

NLocal raises UnboundLocalError if reps==0.

### Steps to reproduce the problem

[code]

output
[code]

### What is the expected behavior?

Display a comprehensive message to ask users to set `reps >= 1`.

### Suggested solutions

Check `reps >=

[2020-10-09 14:04] Zoufalc opened #5731 "Enable max_evals_grouped for custom gradient functions"
### What is the expected behavior?

Right now the max_evals_grouped argument used by the optimisers is only compatible with an integrated finite difference gradient implementation.
It would be great if this would work for arbitrary gradient functions.

[2020-10-09 14:58] smiling-monkeys commented on #4938
Hi, I've been reviewing the code and would like to give it a try.
This is what I progressed so far:
![index](https://user-images.githubusercontent.com/64563268/95598630-887f2100-0a26-11eb-9342-4c1a8a665357.png)

[2020-10-09 15:03] smiling-monkeys commented on #4938
It seems that there is no special case for "initialize" to display parameters within QCircuitImage._build_latex_array

[2020-10-09 15:10] alejomonbar commented on #5167
@abhobe are you still working on this? can I try this one? @1ucian0

[2020-10-09 15:20] abhobe commented on #5167
@alejomonbar Sure I will try to work on this, but If you find a solution feel free to create a PR. We can work on this together if you would like to.

[2020-10-09 19:24] 1ucian0 opened #5202 "Integrate QFAST"
Integrate QFAST (Quantum Fast Approximate Synthesis Tool) into qiskit for unitary synthesis. @edyounis is QFAST author.

Check out these resources:
- https://pypi.org/project/qfast/
- https://github.com/BQSKit/qfast

[2020-10-09 20:01] #4921 closed

[2020-10-09 20:07] mtreinish opened #5203 "Synthesis translation_method doesn't always respect basis_set"
### Information

- **Qiskit Terra version**: Master
- **Python version**: 3.8
- **Operating system**: Any

### What is the current behavior?

Transpiling a circuit with an XYX basis and setting the basis translation method to synthesis doesn't actually change the basis.

### Steps to reproduce the problem
[code]

will return
[code]

### What is the expected behavior?

The hadamard gates get transl

[2020-10-09 20:11] 1ucian0 opened #5204 "conditional wires in text circuit drawer should be classical wires"
Currently:
[code]
[code]

Expected output:
[code]

[2020-10-09 21:31] alejomonbar commented on #5167
Sure @abhobe. I was looking at the code. It's supposed to be a new input argument as style or something for the qsphere as style = 'iqx' and display the colormap for "iqx"? @1ucian0

[2020-10-09 22:21] #4697 closed

[2020-10-09 22:30] 1ucian0 commented on #5204
Let's wrap https://github.com/Qiskit/qiskit-terra/pull/5199 first :-)

[2020-10-09 22:42] georgios-ts commented on #4751
@ajavadia Yes, still interested. Though i think it's possible only after #4854 and #5192 merge, since they are necessary to express, for example, the entries of a rotation matrix with unbound parameters.

[2020-10-09 23:19] abhobe commented on #5167
@alejomonbar I am not sure about that in the exact terms of how the code needs to execute. But that can easily be fixed in the end. The function that needs to be changed would be in the `qiskit.visualization.state_visualization.py` module. The exact function, I will leave to you to figure it out. If you have any other questions, feel free to contact me in slack under the handle @abhobe

[2020-10-10 07:43] shashwat-1234 commented on #5160
@nonhermitian
I think is issue is sorted already.

[2020-10-10 13:05] georgios-ts commented on #5203
This is expected since `UnitarySynthesis` only decompose `UnitaryGates` to the target basis, see lines [85](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/synthesis/unitary_synthesis.py#L85) and [96](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/synthesis/unitary_synthesis.py#L96). Should run over all `op_nodes` ?

[2020-10-10 16:11] nonhermitian commented on #5160
Ok then will close. Thanks.

[2020-10-10 16:11] #5160 closed

[2020-10-10 16:13] nonhermitian commented on #5167
I think simply rotating the colorwheel by pi is good enough. The exact color match is probably not needed. But having phase match colorwise is probably a good thing to have.

[2020-10-10 17:39] sclang16 commented on #4158
I observed similar behavior in a 2 `qreg`, 2 `creg` circuit using the circuit below:

[code]
Output when run on `qasm_simulator`:
[code]
If this circuit is declared without a `creg` and relies on the one in `measure_all`, it behaves no differently than if it were explicitly measured.
[code]
Both versions' outputs when run on `qasm_simulator`:
[code]
As stated earlier, the discrepancy is definitely

[2020-10-10 17:49] sclang16 commented on #4158
If a `QuantumCircuit` is declared with a `creg` size not equal to `num_active_qubits`, the behavior of `measure_all` does not change. It continues to add a `creg` of the correct size and outputs measurements larger than expected.
[code]
Output on `qasm_simulator`:
[code]
I think a possible solution is to give measure_all an option to include the extra creg, but exclude it by default if one is alre

[2020-10-10 18:00] Vismai-Khanderao commented on #5204
I can have a go at this @1ucian0

[2020-10-10 18:49] nonhermitian commented on #4158
Measure_all adds its own classical register, so you should not define one in QuantumCircuit.

[2020-10-10 19:18] sclang16 commented on #4158
Am aware, but there ought to be error checking for those who aren't.

[2020-10-11 12:51] mtreinish commented on #5203
I think the issue is actually earlier in the pass manager. With the translation method set to `synthesis` it is running collect2q blocks and consolidate blocks to generate the unitary gates which then unitary synthesis can decompose into the target basis set. But, because this circuit is all 1q it's not collecting any blocks and not creating the unitary gates for unitary synthesis to decompose.

[2020-10-11 14:11] 1ucian0 commented on #5204
While trying to assess if this was a `good first issue`, I fixed it. Happend to be non-obvilustly trivial. Sorry :(

[2020-10-11 14:18] Vismai-Khanderao commented on #5204
yea haha it's alright, I realised that it should be a simple fix too after looking at the code

[2020-10-11 17:24] georgios-ts commented on #5203
Oh, i see. Thanks for clarifying it.
So after some "investigation", i found out that this problem arises even with 2q gates if they are in a block with length 1. For example, transpiling the following circuit doesn't replace  the `cz` gate. Probably, line [114](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/optimization/consolidate_blocks.py#L114) is the root.
[code]
F

[2020-10-11 17:38] g-ebbs opened #5207 "Error in Documentation of CHGate"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.8.1
- **Operating system**: Windows 10

Original Issue Post:
https://github.com/Qiskit/qiskit/issues/1053

### What is the current behavior?
The note on the documentation page for the CHGate displays an equation where a 1/sqrt(2) is incorrectly factored out the final matrix representation.

### Steps to reproduce the probl

[2020-10-11 23:44] 1ucian0 opened #5208 "Backend configuration should include max_parallel_threads and max_parallel_experiments"
From https://quantumcomputing.stackexchange.com/questions/14082/how-to-set-max-parallel-threads-max-parallel-experiments-for-backend-option#comment19173_14083

[2020-10-12 00:49] g-ebbs opened #5210 "Typo in U3Gate Documentation Example"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.8.1
- **Operating system**: Windows 10

Originally mentioned in https://github.com/Qiskit/qiskit/issues/1055

### What is the current behavior?
An instance of pi is not defined correctly in the code under the examples section of the U3Gate documentation.

![image](https://user-images.githubusercontent.com/59269494/95695601

[2020-10-12 01:53] g-ebbs commented on #5210
I have fixed this issue and will have a pull request for the updated code ready soon.

[2020-10-12 12:29] mtreinish commented on #5208
This should not be part of backend configuration. `BackendConfiguration`  is for the immutable properties of a device, both `max_parallel_threads` and `max_parallel_experiments` are user options (think like shots) for a running a circuit on qiskit-aer. These do not belong in backend configuration. It looks like the original post it is because these are exposed as top level kwargs in Aqua's quantum

[2020-10-12 12:29] #5208 closed

[2020-10-12 13:59] mtreinish commented on #5202
What advantages does this provide on top of the KAK decomposition we have in terra already? Is it faster, more deterministic, etc? I could see it easily being an improvement over the existing decomposition code, but I think we should make those advantages clear before working on integrating this.

Although, before we can include a dependency like this we have to make sure it's under a compatible l

[2020-10-12 16:19] edwinagnew opened #5715 "Grover's algorithm error correction"
I have found a way to conditionally measure a circuit if and only if its output will be the desired result according to a single oracle call and n+1 ancilla qubits. I would like some help integrating this into Grover's algorithm.

Typically, measuring a uniform superposition on 3 qubits gives:
![image](https://user-images.githubusercontent.com/42814611/95767791-2c79fe00-0cad-11eb-804c-92509829e662

[2020-10-12 18:34] lcapelluto opened #5213 "Draw schedules with parameters"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Drawing `Schedule`s which utilize `Parameter`s raises an error.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Nice output, such as would be shown for quantum circuits with parameters.

### Suggested solutions

[2020-10-12 19:21] chriseclectic commented on #4751
As @gerogios-ts says you can't just swap the numpy array for sympy as many things will break. I think it would be better to make a new parameterized operator class that matches the Operator API but can also be initialized from sympy array or parameterized quantum circuit and has extra methods for setting parameter values and converting to numeric operator.

[2020-10-12 19:36] jlatone opened #5214 "print full SHA1 revision number in release+revision number in version.py"
### What is the expected enhancement?
When printing the (not-yet-released) version number of qiskit components, i.e., the release+revision number, please print the full SHA1 of the revision so that it's unambiguous/easy to recreate a specific mid-release build (e.g., remove the :7 below)

[code]

[2020-10-12 19:46] chriseclectic commented on #4751
One issue I would like to point out is whether it is if it is even worth doing something like this symbolically in the first place. One you try and convert a parameterized circuit to a symbolic matrix the expressions are going to blow up very fast.

To take the circuit from the example and evaluating it symbolically in Mathematica, the U[0, 0] entry is:
[code]

[2020-10-12 19:51] mtreinish commented on #5214
I'm not sure I understand the need for this, using the the short sha1 is a pretty standard pattern for dev package versions and git can understand it natively (you can use the short sha1 for any git commit that wants a sha1 and it will work fine). The full sha1 is 40 characters long and that seems excessive to include in a version string.

Are you hitting an issue using the short sha1?

[2020-10-12 20:05] georgios-ts commented on #4751
@chriseclectic Good point. I think it's only valuable in circuits with a small number of qubits and parameters. For example, it's annoying when i have a 2q-circuit with a single unbound parameter and cannot inspect the unitary.

[2020-10-12 22:10] kdk opened #5217 "Flaky test failure in circuit library TestNLocal.test_add_nlocal_1__5__3_"
### What is the expected enhancement?

From https://github.com/Qiskit/qiskit-terra/pull/5211:
https://dev.azure.com/qiskit-ci/qiskit-terra/_build/results?buildId=20124&view=logs&j=cd283863-fb6a-5830-043c-9c2ff8e5eadb&t=2cfcf938-699c-5ca1-acca-22b32300fd1d&l=8487

[code]

[2020-10-12 22:24] #5210 closed

[2020-10-12 23:09] nonhermitian commented on #5202
Was about to say the sane thing about the license. "Contact the Berkeley IP office" is not a good omen.

[2020-10-13 08:24] nonhermitian opened #5220 "Autocomplete lists Qiskit modules twice"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
This only occurs for Qiskit modules:

<img width="380" alt="Screen Shot 2020-10-13 at 04 21 04" src="https://user-images.githubusercontent.com/1249193/95835069-c375a300-0d0b-11eb-9683-8d48d106e6e2.png">

<img width="282" alt="Screen Shot 2020-10-13 at 04 22 11" src="

[2020-10-13 12:05] #5207 closed

[2020-10-13 13:34] kdk opened #5221 "quantum_info doc rendering bugs"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

<img width="1029" alt="image" src="https://user-images.githubusercontent.com/2241698/95862726-4f4df600-0d31-11eb-909b-8864237d562a.png">

<img width="610" alt="image" src="https://user-images.githubusercontent.com/2241698/95862784-64c32000-0d31-11eb-91a0-704b28fb7cde.png">

[2020-10-13 13:41] kdk commented on #5203
For the two qubit bug found by @georgios-ts , I agree L114 should be extended to check `basis_gates`. For the consolidation of 1q gates, #5216 seems the right approach.

[2020-10-13 15:43] nelimee opened #5763 "Implement the Variational Quantum Linear Solver (VQLS)"
The VQLS algorithm [Variational Quantum Linear Solver] aims at solving linear systems of equations using a variational approach.

I think adding VQLS to Qiskit would be beneficial as it would enrich the library with another variational algorithm. Moreover, linear systems of equations are a fundamental problem in a lot of areas and having such an algorithm implemented in Qiskit might attract some n

[2020-10-13 15:59] ajavadia commented on #5095
The degree should not be in degrees. It should be radians for consistency with the rest of Qiskit. It must have been a mistake.

[2020-10-13 18:15] #5095 closed

[2020-10-13 18:39] mtreinish commented on #5220
I assume jupyter (well actually more likely ipython) is using jedi for tab completion. Which version of jedi do you have installed? Although there hasn't been a recent release of jedi in a while so it might not be that.

I'm thinking this might be an issue with jupyter. At least for me locally with jedi-vim and ipython I'm not able to reproduce this:

![Screenshot_2020-10-13_14-34-47](https://user

[2020-10-13 20:46] miamico opened #5226 "Gaussian square parametric pulse documentation"
<img width="561" alt="Screen Shot 2020-10-12 at 2 17 46 PM" src="https://user-images.githubusercontent.com/31739486/95913668-75878c00-0d59-11eb-84c9-070fa7108e88.png">

### What is the current behavior?

The formula above does not seem to implement a Gaussian square pulse

### Steps to reproduce the problem
After logging into the IBM Q experience account and selecting the 'ibmq_rome' backend, run

[2020-10-13 20:47] nonhermitian commented on #5220
Yeah I have the latest Jedi. There is a definite level of compatibility with jedi. Ipython great, notebooks good, lab iffy.

[2020-10-14 00:01] ajavadia opened #5228 "UnitarySynthesis pass escapes basis"
`UnitarySynthesis(basis_gates)` pass is supposed to synthesize unitaries over the given basis. However for 3+-qubit unitaries it can generate circuits that are outside the basis. This can be a problem if this pass is used in optimization after basis translation. I think we either restrict this pass to only treat 1-qubit and 2-qubit unitaries, or modify it to ensure the emitted circuit is within th

[2020-10-14 02:18] 1ucian0 commented on #5134
From some in-webex discussions, it seem the way to go will be `Initialize('11')`. Implemented in #5229

[2020-10-14 03:47] jlapeyre opened #5230 "Initialize instruction does not preserve global phase"
I create an `Initialize` instruction and pass it to the Aer statevector_simulator. But, the resulting amplitudes differ by a phase from the expected result. For example

EDIT (08APR2021): A closer to minimal example is given in the comment following this one.
EDIT (07APR2021): one line in this example has been edited to remove the dependence on aqua (which is deprecated)
[code]

`state_array_out`

[2020-10-14 09:52] scottkelso commented on #5221
Hi @kdk

I'm happy to look into this. Should be an easy fix if I can get some local format validation working.
And I'll see what I can find R.E. docstring linter or warning.

[2020-10-14 10:06] HuangJunye commented on #4943
I want to help solve this issue. How can I get started?

[2020-10-14 12:49] taalexander commented on #4960
Hi @Aniket049, any update here? 😄

[2020-10-14 13:19] mtreinish commented on #5046
So I think the hard failure will probably be fixed in #5216. Looking at the full traceback the error is coming from optimize 1q:

[code]
This is coming from the fact the input circuit I'm using here has a u3 in it. It would probably not fail (but also not work correctly) if the input circuit was more than 1qubit or had gates that weren't u3, u2, or u1 in it.

That being said I think even after #52

[2020-10-14 14:38] scottkelso commented on #5221
I believe I've fixed the formatting issues. However, I haven't been able to find a linter that is able to detect these small syntax issues in docstrings. If you have any suggestions please let me know.

[2020-10-14 15:29] eggerdj opened #5232 "Quantum cost of template substitution"
### What is the expected enhancement?
Template substitution allows users to identify sub-circuits in a quantum circuit and replace them with equivalent quantum circuits with a lower implementation cost. For example `CNOT(0,1) CNOT(0,1)` is equivalent to the identity `I`. Since the implementation cost of `I` is lower than two CNOT gates this replacement makes sense.

Currently, the implementation c

[2020-10-14 18:01] #3207 closed

[2020-10-14 18:48] kdk commented on #5221
Awesome, feel free to open a PR. Automated detection can be left for another issue :) .

[2020-10-14 19:08] lcapelluto commented on #4871
Closing as a duplicate of #5076

[2020-10-14 19:08] #4871 closed

[2020-10-14 19:26] lcapelluto opened #5233 "ParameterVector support for Schedules"
### What is the expected enhancement?

Currently, `QuantumCircuit`s support `assign_parameters` with `ParameterVector` input. The task is to add support similarly for `Schedule`s, which now support parameter assignment as well.

[2020-10-14 19:38] #4959 closed

[2020-10-14 19:46] alejomonbar commented on #5233
can I try this one?

[2020-10-14 22:24] lcapelluto commented on #5233
Yes, please! Let me know if you need help. I would start by looking in `circuit/quantumcircuit.py` and expect to make changes in `pulse/schedule.py`. (Plus a reno note and tests)

[2020-10-15 08:23] scottkelso commented on #5221
https://github.com/Qiskit/qiskit-terra/pull/5231

[2020-10-15 13:40] akshaykale17 commented on #5200
Hello,
I am new to open source contribution and I think this should be a good first issue to work on.
If this is available please can I work on it ?
Thank You!

[2020-10-15 13:58] oneTimePad opened #5235 "Incorrect relative phase added for controlled Pauli-X from quantum_info.operators"
### Information

- **Qiskit Terra version**: 0.15.2
- **Python version**: 3.6.9
- **Operating system**: Ubuntu 18.04.5 LTS

### What is the current behavior?
Most of the info and explanation is described in this post : https://quantumcomputing.stackexchange.com/questions/14147/odd-behavior-with-qiskit-pauli-operators

To summarize the issue, when adding a control qubit to a `qiskit.quantum_info.op

[2020-10-15 14:00] yaelbh opened #5236 "Transpilation of Evolutions with linear connectivity"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7.4
- **Operating system**: Linux

### What is the current behavior?

Not sure if this issue belongs here or in Aqua.

While working on VQE, I encountered a circuit that looked large, after transpilation with linear connectivity.

The circuit contains Evolution components. It turns out that if we first perform a full conne

[2020-10-15 15:49] g-ebbs commented on #5235
Are you currently working on a solution? I'd like to take a look at this issue if that's alright.

[2020-10-15 15:57] #5221 closed

[2020-10-15 16:18] chriseclectic opened #5237 "Allow free form metadata for QuantumCircuits"
### What is the expected behavior?

For many experiments and applications it is necessary to store arbitrary metadata with a QuantumCircuit for later processing of results after execution. Currently this must all be done locally and requires separate management of this additional data. I would like to request a way to add custom metadata to a QuantumCircuit object that can survive transpilation an

[2020-10-15 16:29] EliasCombarro opened #5428 "The "get_statevector" and "get_unitary" methods of the result objects of statevector and unitary simulators seem to ignore the "decimals" parameter"
### Informations

- **Qiskit version**: 0.20.1
- **Python version**: The one on the Jupyter server of the IBM Q Experience
- **Operating system**: The one on the Jupyter server of the IBM Q Experience

### What is the current behavior?

The "get_statevector" and "get_unitary" methods of the result objects of statevector and unitary simulators seem to ignore the "decimals" parameter

### Steps to r

[2020-10-15 16:38] chriseclectic commented on #5237
I should also emphasize that this metadata field should not be used to contain any data used in the execution on a backend (such as configuration params like shots). Hence it could always be discarded without issue and return the exact same result data (without the metadata).

[2020-10-15 20:22] aeddins-ibm opened #5241 "speed up marginal counts (code included)"
### What is the expected enhancement?
`qiskit.result.utils.marginal_counts` was one bottleneck for my qiskit project, so I tried to optimize it. The new code below for the subroutine `_marginalize` avoids regex (seemed like overkill since all it was used for was to drop characters at certain indices from strings), is shorter / easier to read, and for my use-case was ~10-20x faster. My minimal test

[2020-10-15 20:59] mtreinish commented on #5241
This looks good, just from a quick glance that definitely will be faster, I haven't really thought about edge cases though, there might be some. The one called out here with the return type, we probably should cast it to an dict for the return. While `Counter` is a dict subclass it probably would be better to leave the type as it was before. (although it might be a `qiskit.results.Counts` object I

[2020-10-16 10:21] Cryoris commented on #4681
Hm, maybe this worked earlier, now it doesn't give zero amplitudes but breaks. I think this is a know bug with the quantum info due to nested quantum registers.
[code]

[2020-10-16 10:22] special-kay opened #5244 "Extend initial_layout mapping to QasmSimulator"
### What is the expected enhancement?
`initial_layout` can be passed to the `transpile` and `execute` methods to map the virtual qubits of the relevant `QuantumCircuit` objects to physical qubits of the specified real backend. However this functionality does not work if `backend = QasmSimulator`. The mapping of virtual to physical qubits is important when simulating with noise which varies from qu

[2020-10-16 12:08] mtreinish opened #5247 "Performance regression from #5083"
### Information

- **Qiskit Terra version**: 0.16.0/master
- **Python version**: 3.6
- **Operating system**: Linux

### What is the current behavior?

The nightly benchmark machine flagged three classes of performance regressions from #5083

The first is an across the board jump in the baseline memory consumption. For example:

https://qiskit.github.io/qiskit/#passes.PassBenchmarks.peakmem_merge_a

[2020-10-16 13:09] Cryoris commented on #5235
Hm, the issue comes likely from the the workflow:

1. The Pauli gate is converted to a matrix when put into `Operator`
2. If the `Operator` is appended a generic synthesis algorithm is used that implements the operation up to a global phase
3. Upon controlling, the global phase becomes a relativ phase

If the operator would be synthesized w/o global phase that error would likely be resolved. Howev

[2020-10-16 13:10] Cryoris commented on #5200
Feel free to work on it! This is a good first issue indeed.

[2020-10-16 13:14] Cryoris commented on #5174
For sake of completeness: The ``assign_parameters`` method allows in-place assignment: ``circuit.assign_parameters(param_dict, inplace=True)``.

But if this is about performance of binding different parameters many times, this is of course no alternative.

[2020-10-16 13:18] Cryoris commented on #4975
I think this is fixed by now
[code]
feel free to re-open if I'm missing something.

[2020-10-16 13:18] #4975 closed

[2020-10-16 13:27] Cryoris commented on #4980
Correct me if I'm wrong but, CRZ is not symmetric under swapping control and target, right? The applied phase on the states `|01>` and `|10>` is different:
[code]
but if we swap the role of control and target
[code]
Feel free to re-open if I'm missing something

[2020-10-16 13:27] #4980 closed

[2020-10-16 14:17] akshaykale17 commented on #5200
I was thinking to check in the _init_ class constructor if reps<=0 I would raise a TypeError.
Something Like this on line 138 in n_local.py
if reps <= 0:
     raise TypeError('reps should be larger than or equal to 1')

also, add the information of new raised error in comment line 116 in n_local.py

Please let me know if there are any simple alternative approaches that I might have missed?

[2020-10-16 14:46] georgios-ts commented on #5235
@Cryoris In this case, the synthesis algorithm tracks the global phase
[code]
but `control()` fails to do so.

[2020-10-16 16:08] Cryoris opened #5723 "Gradients docstring overhaul"
### What is the expected enhancement?

The class docstrings in the framework should contain examples to show how they are used and references to a paper where these techniques are introduced.

[2020-10-16 17:11] nkanazawa1989 opened #5249 "Framechanges cannot be parametrized"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

Frame change parametrization is not supported.

### Steps to reproduce the problem

[code]

### What is the expected behavior?
This should return ShiftPhase instruction with parameter `phase`.

### Suggested solutions

[2020-10-16 17:14] nkanazawa1989 commented on #5249
This is not a bug, I just used wrong command.
[code]

[2020-10-16 17:14] #5249 closed

[2020-10-16 20:24] drewrisinger opened #5252 "FM/PM Gates in OpenPulse"
### What is the expected behavior?
Currently, OpenPulse (and Qiskit Pulse's implementation https://arxiv.org/pdf/2004.06755.pdf) only supports playback of AM (amplitude modulation) waveforms on a given Channel. It does allow for e.g. ``SetFrequency/ShiftPhase/etc.`` instructions, but that only allows for discrete frequency and phase modulation, not continuous.

There has been significant theoretic

[2020-10-17 23:17] SeifMostafa commented on #5236
Hello, Could I step into this?

[2020-10-17 23:20] SeifMostafa commented on #5203
Hello, Could I step into this?

[2020-10-18 08:10] ShellyGarion opened #5254 "Transfer the CNOTDihedral Operator class from ignis to Terra quantum_info/Operators"
### What is the expected behavior?
Transfer the `CNOTDihedral` Operator class from Ignis to Terra quantum_info/Operators,
so that it can be useful not only to Randomized Benchmarking, but also to other applications.

The code is currently located in:
https://github.com/Qiskit/qiskit-ignis/blob/master/qiskit/ignis/verification/randomized_benchmarking/dihedral.py
And the `CNOTDihedral` class already

[2020-10-18 13:05] akshaykale17 commented on #5200
Is the approach I mentioned earlier fine ?
Thank You!

[2020-10-18 19:02] taalexander commented on #5252
I think this is a great idea for an extension platform-independent capabilities of OpenPulse. As you note if added to Qiskit our hardware would only support the instruction if we added support for it, however, that should not limit what Qiskit is capable of support.

Schedule Drawing. Some way of showing how frequency & phase vary over time (not just amplitude) would be needed.

This is the blocke

[2020-10-19 08:10] nelimee commented on #5097
Seems like it has been solved several months ago in #3131.

[2020-10-19 08:10] #5097 closed

[2020-10-19 12:22] taalexander commented on #5145
@tgag17, I would try passing in a variety of values for `dt` into `Schedule.draw` for a schedule of different lengths. I think what is happening is that the x-axis values are being displayed with too much precision causing them to overlap if there is a long decimal component to the value.

[2020-10-19 12:29] taalexander commented on #3885
I see here the Figure is being created https://github.com/Qiskit/qiskit-terra/blob/b9c60d95a39a07b789454a634c5a45931bd25fc0/qiskit/visualization/pulse/matplotlib.py#L796, if an `ax` could be supplied would it be possible to use this instead? Looking at this the problem may be that the `_draw_table` adds it's own subplots so maybe this is not possible and this issue should be closed?

[2020-10-19 14:10] hay-k opened #5733 "PauliTrotterEvolution fails on certain combinations of pauli operators"
### Information

- **Qiskit Aqua version**: 0.8.0
- **Python version**: 3.7.4

### What is the current behavior?

`PauliTrotterEvolution` exits with error when asked to convert operators of certain structure. Here is the error message

[code]

### Steps to reproduce the problem

The following code snippet will reproduce the error message above

[code]

### What is the expected behavior?
The code s

[2020-10-19 14:32] #4388 closed

[2020-10-19 14:42] drewrisinger commented on #5252
@taalexander thanks for the response. I wasn't sure if this belonged here or in https://github.com/qiskit/rfcs and wanted to gauge interest first.

For context, my interest in this is because I have a hardware waveform generator that has individual & continuous control of the AM, FM, and PM channels, so describing waveforms in OpenPulse as essentially AM-only reduces its capabilities.

Personally,

[2020-10-19 16:21] alejomonbar commented on #5167
@nonhermitian what do you think about the solution https://github.com/Qiskit/qiskit-terra/pull/5212?

[2020-10-19 17:22] taalexander commented on #4960
Hello @Aniket049, I've reassigned to myself as I needed this functionality. I hope this isn't too much of an inconvenience.

[2020-10-19 17:57] aeddins-ibm opened #5709 "VQE: more shots on last iteration; stop iteration on-demand"
### What is the expected behavior?
Two independent but related VQE feature requests important for experiments on quantum hardware:

1) **More shots on final cost-function evaluation**
There should be an option to increase the number of shots for the final evaluation of the cost function in VQE. For example, in this modern IBM experiment: https://arxiv.org/pdf/1805.04492.pdf, they set the number of

[2020-10-19 18:37] mtreinish commented on #5100
@drewrisinger yeah, `scipy.stats` was a good call. I pushed a PR to make that change in: https://github.com/Qiskit/qiskit-terra/pull/5258

I really want to push one to move matplotlib to be a lazy runtime import too. It'll probably meaning breaking anyone who is relying on `qiskit.visualization.HAS_MATPLOTLIB` today. Which might be a fair tradeoff, but after we drop python3.6 support (which the pr

[2020-10-19 18:38] mtreinish commented on #5100
Also, we should be able to remove networkx from the import path (which is surprisingly not cheap either) after #5183 merges which will speed things up a bit more

[2020-10-19 18:44] wmurphy-collabstar opened #5260 "transpile() always returns a circuit not in a list whether or not the input is a circuit in a list"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
When you run transpile function with a circuit list of only one circuit, then the output is the circuit, not the circuit in a list.

### Steps to reproduce the problem
from qiskit import *
new_qc = transpile([qc], backend) #for some circuit qc and backend
new_qc

### What i

[2020-10-19 20:11] Cryoris commented on #5200
It is! However I think raising a `ValueError` would be more appropriate.

[2020-10-19 21:35] kdk commented on #5247
Just to add a data point, 46397dba was also flagged as an across the board (smaller) memory regression, though the diff looks similarly innocuous.

I ran `transpiler_levels.TranspilerLevelBenchmarks.peakmem_transpile_from_large_qasm(0)` locally (picked a random benchmark that was shown as regressing on both  20c5e15 and 46397dba ) and got the following
[code]

This was on osx (python 3.6).

[2020-10-19 21:40] kdk commented on #5241
Can you first add a benchmark to https://github.com/Qiskit/qiskit/tree/master/test/benchmarks so we can track performance/scaling and catch any future regressions?

[2020-10-20 16:30] Cryoris opened #5714 "Use the ``classical_function`` compiler instead of Oracle components"
### What is the expected enhancement?

In the last release of Terra, the classical function compiler has been added which uses the `tweedledum` library to compile a classical function to a circuit. This compiler yields much more efficient circuits than the Oracle components `LogicalExpressionOracle` and `TruthTableOracle`.

Oracle for the logical expression `not a or (b and c)`:
[code]
yields
[cod

[2020-10-20 17:04] akshaykale17 commented on #5200
Okay will do the code and submit a pull request!

[2020-10-20 19:58] kdk opened #5264 "Performance regression in ConsolidateBlocks (optimization_level=3)"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

https://qiskit.github.io/qiskit/#ripple_adder.RippleAdderTranspile.time_transpile_simulator_ripple_adder?p-size=10&p-size=20&p-level=0&p-level=1&p-level=2&p-level=3&commits=2bd49408

Introduced in #4763 , likely at https://github.com/Qiskit/qiskit-terra/blob/ee854fb/qiskit

[2020-10-20 19:59] 1ucian0 commented on #5202
They recently added [a license](https://github.com/BQSKit/qfast/blob/master/LICENSE.txt): BSD-3-Clause-LBNL

From what I understand, it is compatible.

[2020-10-20 21:35] kdk commented on #5174
Looking at the reported ctimes, the performance issue from https://github.com/Qiskit/qiskit-tutorials/pull/1036 looks to be more of an issue with the basis translator than with bind_parameters, probably here:

https://github.com/Qiskit/qiskit-terra/blob/cb81c02/qiskit/transpiler/passes/basis/basis_translator.py#L151

so maybe the issue is that DAGCircuit doesn't have a bind_parameters. I started a

[2020-10-20 21:46] kdk commented on #5244
Thanks for reporting this @special-kay . Right now the preset pass managers only run `_given_layout` if a `coupling_map` is provided, which is not the case for the simulators. (ref: https://github.com/Qiskit/qiskit-terra/blob/9b03b54/qiskit/transpiler/preset_passmanagers/level1.py#L197 ).

If you are running a simulation with noise, is there a reason not to provide a `coupling_map`? (Its could be

[2020-10-20 22:59] special-kay commented on #5244
Right - thanks for bringing that to my attention. Yes, the transpilation works properly if a `coupling_map` is provided.

[2020-10-20 22:59] #5244 closed

[2020-10-21 15:52] Cryoris opened #5271 "Should there be a parameterized initialize instruction?"
Should we allow something like
[code]

A possible use case would be using this circuit in machine learning algorithms as a reference kernel that doesn't do any quantum operations on the input data:
[code]
this is what the `qiskit.aqua.components.feature_maps.RawFeatureVector` does right now.

Though I'm not sure if such a feature should be contained to the machine learning applications or if we wa

[2020-10-21 16:24] #5134 closed

[2020-10-21 20:13] drewrisinger commented on #5143
On certain ion platforms, it makes sense to index relative to the center ion, so that center ion = 0, and ions to the right are positive, and to the left are negative. This is useful for keeping a consistent qubit number addressing a single ion, instead of changing numbering as the number of ions increases.
E.g.
|          | Left = 0   | Center = 0     |
|----------|------------|----------------|

[2020-10-21 22:55] 1ucian0 commented on #5260
It seems to me the current behavior is intentional:
https://github.com/Qiskit/qiskit-terra/blob/397320a8faff018cc9e338aed98d2d73e33a5b54/qiskit/compiler/transpile.py#L200-L206

However, I agree with you that it is counterintuitive. Fixing it is kind of trivial. But maybe we should try to understand deeper why it is currently like this. @ajavadia @kdk ?

[2020-10-22 00:41] ajavadia opened #5275 "template library organization"
The template circuits used in the template optimization pass are currently stored in a directory under `qiskit.circuit.library.templates`. It would be better to store them in a proper library structure like the EquivalenceLibrary, where each entry in the library can be verified for correctness.

[2020-10-22 08:45] eggerdj opened #5276 "Min, max, ceil, floor in ParameterExpression"
### What is the expected enhancement?
Support functions `min`, `max`, `ceiling`, and `floor` in `ParameterExpression`.

#### Discussion points
`min` and `max` are not well defined for complex numbers (`ceiling` and `floor` do not have this characteristic). A possible implementation could use `Sympy` and allow `Sympy` to raise errors. For example:

[code]

[2020-10-22 19:03] SeifMostafa commented on #3175
Hello,
Could I step into?

[2020-10-22 20:52] #3908 closed

[2020-10-23 17:44] nonhermitian opened #5282 "Statevector.from_instruction fails for custom controlled gates"
### Information

- **Qiskit Terra version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]
gives

Traceback (most recent call last):
  File "<ipython-input-127-b464b6ab1295>", line 1, in <module>
    Statevector.from_instruction(qc)
  File "/opt/miniconda3/envs/qiskit/lib/python3.7/site-packages/qiskit/quantum_info/states/statevector.py", line 529,

[2020-10-23 18:26] lcapelluto commented on #3175
Hey @SeifMostafa! This has actually been completed. Sorry about that -- we forgot to update!

[2020-10-23 18:26] #3175 closed

[2020-10-23 19:06] vputz opened #5283 "Super easy fix: backend_version should be backend_name, Result.__repr__"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.8
- **Operating system**: Linux

### What is the current behavior?

When initializing a Result object with argument `(backend_name='backend_name', backend_version="0.0.0"...)` the repr prints backend_name as "0.0.0" (whatever the version is)

### Steps to reproduce the problem

Initialize a Result object with a backend_nam

[2020-10-23 19:35] firewall2142 commented on #5283
Can I try this? This will be my first issue

[2020-10-23 19:46] 1ucian0 commented on #3202
There was an attempt to close this issue in https://github.com/Qiskit/qiskit-terra/pull/4426 but OP got unresponsive.

If you are thing about working on this issue, have a look to #4426 before. Maybe you can use some of the work there. Don't forget to respect the authorship of the original contributor.

I also assume that @yesodharan1892 is not working on this, so clearing assignees.

[2020-10-23 19:46] 1ucian0 commented on #4421
There was an attempt to close this issue in https://github.com/Qiskit/qiskit-terra/pull/4426 but OP got unresponsive.

If you are thing about working on this issue, have a look to #4426 before. Maybe you can use some of the work there. Don't forget to respect the authorship of the original contributor.

[2020-10-23 21:07] 1ucian0 opened #5285 "Raise at construction time when CouplingMap or Layout are built with negative or invalid numbers"
From more info, check https://github.com/Qiskit/qiskit-terra/issues/5143

[2020-10-23 21:08] 1ucian0 commented on #5143
From Qiskit perspective, adding qubits means a new backend. Is it useful to know the distance to the center ion? Is that info not capture by some other property of the backend?

Fair point. https://github.com/Qiskit/qiskit-terra/issues/5285

[2020-10-23 23:50] 1ucian0 commented on #5045
Can this one be closed @levbishop @mtreinish ?

[2020-10-24 20:25] 1ucian0 commented on #4985
I can imagine situation where a user wants the counts ordered by value instead, as she might be interested in the most statistically significant results only...

[2020-10-24 22:26] godspeed5 commented on #3885
Could you give an example code snippet that would utilize the ax input?

[2020-10-25 16:54] maxkeller321 opened #5287 "Qiskit transpile different basis gate set"
### Informations
- **Qiskit version**:
{'qiskit-terra': '0.16.0',
'qiskit-aer': '0.7.0',
'qiskit-ignis': '0.5.0',
 'qiskit-ibmq-provider': '0.11.0',
 'qiskit-aqua': '0.8.0',
'qiskit': '0.23.0'}
- **Python version**: Python 3.8.1
- **Operating system**: macOs

### What is the current behavior?

Currently, the output from the qiskit transpile function for my random gate set (random gates) with the b

[2020-10-26 00:23] born-2learn commented on #5232
Can I give this a try, @eggerdj ?

[2020-10-26 13:55] Cryoris commented on #5287
That's right, we're working on that! 👍

[2020-10-26 15:27] mtreinish commented on #5045
I would be in favor of adding a warning or something, but I don't think the makefile will be going away. I've been trying to get people to use tox more for a long time because it solves the dependency and install problems and sets up isolated envs for testing (basically everything I outlined in the PRs and the contributing guide). But, there are some active contributors who prefer using the Makefi

[2020-10-26 15:40] mtreinish commented on #5287
So I dug into the `Rx(0)` in the output circuit. The source of this is coming from the level 3 optimization pass `CollectBlocks` and then `UnitarySynthesis`. The two qubit decomposer is adding the rx(0) to the circuit when decomposing the unitary matrix, which happens before we run `Optimize1qGatesDecomposition`. This then gets skipped over inside `Optimize1qGatesDecomposition` because it skips si

[2020-10-26 15:54] kdk commented on #5260
From #2166, it looks like the intent was to support both
[code]
and
[code]
so I think returning a length-1 list for a length-1 list input is consistent.

[2020-10-26 16:09] 1ucian0 commented on #5260
I think the problem is that `transpiled_qc = transpile([qc], backend)` instead of `[transpiled_qc] = transpile([qc], backend)`

[2020-10-26 16:29] 1ucian0 commented on #5045
Something like #5290 ?

[2020-10-26 16:54] nonhermitian commented on #5045
I only use the `make` file.

[2020-10-26 17:50] kerberos5 opened #5291 "enable connect datadog agent on kubernetes."
HI,
i use minikube cluster :
`docker@ubuntu:~/Container/kubernates/dd-agent/dd-corso$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", G

[2020-10-26 18:08] mtreinish commented on #5291
This doesn't seem to be an issue related to qiskit-terra, I'm assuming this was a mistake and intended for a different repo. So I'm going to close this.

[2020-10-26 18:08] #5291 closed

[2020-10-26 19:31] Vansh-Sethi commented on #5283
Hey @firewall2142 are you still working on this? I see that your pull request has not been approved yet.

[2020-10-26 19:31] Vansh-Sethi commented on #5283
I would love to give it a try!

[2020-10-26 20:09] mtreinish commented on #5287
I just pushed up https://github.com/Qiskit/qiskit-terra/pull/5292 which should fix the rx(0) case mentioned above (I marked it as fixing the issue, but can change that if there is more to do here). I'm not able to reproduce the exact case anymore because of other changes made to the two qubit unitary decomposition on master since the last release (I was able to reproduce it on 0.16.0 though). So I

[2020-10-26 21:08] 1ucian0 commented on #4158
Would this solution be acceptable?

If same size:
[code]
[code]

If smaller size (or maybe just error?):
[code]
[code]

If larger size (or maybe just error?):
[code]
[code]

Default is `new_creg=True` to keep current behavior.

[2020-10-26 21:11] 1ucian0 commented on #5214
hi @akshaykale17 , let wait for the @jlatone answer before fixing this, so we are sure what are we fixing :)

[2020-10-27 03:41] born-2learn commented on #5275
I would like to give this a try, @ajavadia.

[2020-10-27 16:19] akshaykale17 commented on #5214
Sure !!!!

[2020-10-27 18:31] nonhermitian opened #5296 "Missing ibmq_casablanca layout data"
### What is the expected enhancement?
The `ibmq_casablanca` device topology can be plotted.

[2020-10-27 18:34] nonhermitian opened #5297 "Try loading device topologies from external json"
### What is the expected enhancement?
Related to #5296.

Every time a device with new qubit count comes out it is not supported by Qiskit for some time.  Since it has been two+ years since I originally asked for this data to be returned by the systems, I don't think that is going to happen.

Instead, Qiskit should be able to query an online JSON file for the backend physical qubit layouts, e.g.

h

[2020-10-27 19:00] mtreinish commented on #5297
So I like having that self contained and queryable, my concern though is tying a function in terra to an external hard coded url. Things on the internet (even github urls maintained by one of us) aren't around forever. This was an issue we had with the interactive visualizations which was pulling in the actual code for visualization from a hard coded url from a web server that was taken down. So w

[2020-10-27 19:10] nonhermitian commented on #5297
I personally have it so that it loads the external json first and if not there fall back to the local copy. One has to keep two files in sync but it does not seem like the end of the world. Of course, if there is a more stable url then great.

[2020-10-27 19:11] nonhermitian commented on #5297
Perhaps a doi?

[2020-10-28 09:11] itoko commented on #5197
Regarding `bfs_successors`, as you may know, SabrePass (`_obtain_extended_set`) can be implemented without `bfs_successors`.

I learnt that while I implemented FlexlayerPass, which is almost the same pass as SabrePass (https://github.com/Qiskit/qiskit-terra/pull/1803#issuecomment-649290653), so it is about discarded. In the FlexlayerPass PR, similar logic to `_obtain_extended_set` is implemented w

[2020-10-28 10:30] PabloAMC opened #5300 "Casablanca backend: UnboundLocalError: local variable 'grid_data' referenced before assignment"
### Information

- **Qiskit Terra version**: 'qiskit-terra': '0.16.0'
- **Python version**: 3.7.8
- **Operating system**: IBM Q experience

### What is the current behavior?
When one assigns the ibmq_Casablanca backend and calls the instruction `backend` to take a look at the properties, in the error map tab one gets

[code]

### Steps to reproduce the problem
In an IBM Q jupyter notebook execute

[2020-10-28 10:32] PabloAMC commented on #5300
Actually, I'm quite sure this might be related to [this other issue](https://github.com/Qiskit/qiskit-terra/issues/5296), marked as an enhancement.

[2020-10-28 12:58] tareqdandachi commented on #5043
What's the status on this issue? If no one is working on it, I can probably implement what @1ucian0 described.

[2020-10-28 13:39] maxkeller321 commented on #5287
Hi,

thanks for the quick fix of the rx(0) issue. With the single qubit decomposition into two rotations I was of course wrong. Thanks for the correction here.

@mtreinish:  When it comes to optimization passes I have a lack of knowledge here and I don't know what suits best for our 'XYX' basis. For this I would need to dive deeper into the literature of optimizers. Can you recommend some papers?

[2020-10-28 16:29] mtreinish commented on #5197
For `bfs_successors` I just pushed up Qiskit/retworkx#185 which improves things for that potential bottleneck. When I was looking at the profile of a QV 150x10 model circuit with sabre I realized that most of the slowdown for bfs_success was actually the rust -> python type conversion because the conversion of the `list((object, list(object))` is expensive. So I implemented a custom return class t

[2020-10-28 16:30] 1ucian0 commented on #5043
We are factoring the QASM-related code out of Qiskit: https://github.com/1ucian0/qiskit-openqasm2

At same point we need to freeze the QASM-related changes in Qiskit and, given the low priority of this issue, probably not worthy to work on it on this code base. You are welcome in `qiskit-openqasm2` to see how to fix it there.

[2020-10-28 16:35] lcapelluto opened #5303 "Parameterized schedule durations"
### What is the expected enhancement?

I should be able to parameterize the duration of instructions.

[code]

From Daniel Egger:

Say I have time slots [(0, ϴ)] so far so good. Now say I want to insert another pulse starting at 100 that lasts 20, so time slots should be [(0, ϴ), (100, 120)] this is valid as long as ϴ is smaller than 100. Looking at this it seems we need to augment Parameter so to

[2020-10-28 16:46] lcapelluto opened #5304 "Schedule circuit with parameters into schedule with parameters"
### What is the expected enhancement?

[code]

Here, the output should be the same as `gate_cal`.

The changes should be made in `qiskit/scheduler/lowering.py`. The above currently fails on `schedule = gate_cals[(tuple(inst_qubits), tuple(float(p) for p in inst.params))]` because `float(p)` doesn't work if the parameter hasn't been bound. It may be as simple as only calling `float(p)` when `p.para

[2020-10-28 17:49] 1ucian0 commented on #5143
ping @drewrisinger ?

[2020-10-29 00:55] alejomonbar commented on #5304
can I try this one?

[2020-10-29 01:10] nonhermitian opened #5309 "Inefficient representation when doing custom controlled gates verses native implimentations"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Consider a CCZ gate made by controlling a Z gate:

[code]

This has a decomposition of

[code]
<img width="864" alt="Screen Shot 2020-10-28 at 21 01 40" src="https://user-images.githubusercontent.com/1249193/97512790-c8b82c00-1960-11eb-9aae-80c902bb773d.png">

that u

[2020-10-29 02:05] #5283 closed

[2020-10-29 13:58] QacoBot opened #5313 "Branch `stable/0.16` is failing"
Trying to build `stable/0.16` at commit bb42a582224c179481f766226d01a69ffdd4fb28 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/418807087

[2020-10-29 14:42] kdk commented on #5313
Duplicate of #5217 .

[2020-10-29 14:42] #5313 closed

[2020-10-29 16:47] quantumjim opened #5323 "10 second overhead for batch jobs"
### Informations

- **Qiskit Aer version**: 0.7.0
- **Python version**: 3.8.5
- **Operating system**: OSX Catalina

### What is the current behavior?

A single call to `execute` with a list of circuits takes around 10s longer than calling it for each circuit sequentially.

### Steps to reproduce the problem

Example code

[code]

Similar results are found for different numbers

### What is the exp

[2020-10-29 16:55] mtreinish commented on #5197
I pushed up #5316 which is tagged as fixing this issue. I did that because it fixes the copy bottleneck for small numbers of qubits outlined in this issue. But even with that there are still significant bottlenecks with sabre_swap especially as things scale up. I've started to address those in #5294, #5183, Qiskit/retworkx#185 I'll need to evaluate where things are after all of those are applied a

[2020-10-29 18:01] coruscating opened #5317 "Add custom meas_level support to qasm jobs"
### What is the expected enhancement?

Currently, only `meas_level=2` is supported on QASM jobs, but we would like to add level 1 support. @lcapelluto has added level 1 support on the backend, and now the results object needs to be updated so it is fully working

[2020-10-29 22:26] #5169 closed

[2020-10-30 09:55] ankprd opened #5320 "Weighted Adder unused ancilla for mct"
### Information

- **Qiskit Terra version**: 0.23.0
- **Python version**: 3
- **Operating system**: Ubuntu

### What is the current behavior?
WeightedAdder implementation uses mct with default mode 'no-ancilla' but allocates an ancilla qubit for it
(similar to https://github.com/Qiskit/qiskit-terra/issues/4786)

### Steps to reproduce the problem

### What is the expected behavior?
Either use mct(

[2020-10-30 10:21] ankprd opened #5321 "Wrong argument to mcrz and mcrx in Polynomial Pauli Rotation (and unused ancillas)"
### Information

- **Qiskit Terra version**: 0.23.0
- **Python version**:3
- **Operating system**: Ubuntu

### What is the current behavior?
The implementation of PolynomialPauliRotation passes ancillas to mcrx and mcrz, but those two functions expect none. (No error is thrown, as these ancillas take the spot of a boolean argument not used here). In https://github.com/Qiskit/qiskit-terra/blob/mast

[2020-10-30 10:29] divya-mohan0209 commented on #5304
@lcapelluto : I'd like to take a stab at this, if that's okay?

[2020-10-30 10:54] ankprd opened #5322 "Inefficient allocation of ancilla qubits in PiecewiseLinearRotation and PolynomialLinearRotation"
### What is the expected enhancement?
In PiecewiseLinearRotation, only `num_state_qubits - 1 + 1` ancillas are ever used at the same time (instead of `num_ancillas = num_state_qubits - 1 + len(self.breakpoints)`).
For each breakpoint, the exact same ancillas could be reused, instead of changing each time which ancilla are used (by using the i_compare index) (or another way to say it.: everything w

[2020-10-30 15:20] lcapelluto opened #5325 "Unified stylesheet for qiskit visualization"
### What is the expected enhancement?

[2020-10-30 15:21] lcapelluto opened #5326 "Add interactive drawer"
### What is the expected enhancement?

add interactive drawing backend for pulse. there is MVP based on Bokeh.

[2020-10-30 15:30] taalexander commented on #5317
When the circuit model compiles a `QuantumCircuit` to a `QObj` it includes a `header` for each circuit which maps the circuit's `classical register index` to a respective `memory_slot`. This is then used upon postprocessing in Qiskit to map the location of the counts to the appropriate classical register. See https://github.com/Qiskit/qiskit-terra/blob/668e57d1d9b624dd08810d2da0d156c41215818d/qisk

[2020-10-30 16:39] #5076 closed

[2020-11-01 19:29] shahzebanwar commented on #1237
Do we have an active link to join the channel?

[2020-11-01 23:29] 1ucian0 commented on #1237
This one should be always updated
https://ibm.co/joinqiskitslack

[2020-11-02 00:27] nkanazawa1989 opened #5329 "Remove ParametrizedSchedule"
### What is the expected enhancement?

Now `ParameterizedSchedule` can be unified to `Schedule` because `Schedule` supports parameter object input.
Logic of `InstructionScheduleMap` should be updated accordingly.

[2020-11-02 01:58] nkanazawa1989 opened #5330 "Allow float type pulse duration"
### What is the expected enhancement?

Pulse duration accepts only integer values. The type check at constructor is too strict and always requires special care about dtype, i.e. parameter scan `durations = np.asarray(16 * np.linspace(10, 20), dtype=int)`. This is very cumbersome and should be avoided. One approach is checking the number after decimal point and round the value with warning when rou

[2020-11-02 10:23] Cryoris commented on #5322
Nice catches! I tried to address all the cases you described (in the 3 issues) in #5332, feel free to check it out!

[2020-11-02 10:33] ankprd commented on #5322
Thanks! Your fixes look good.
(However, because mcrx/mcrz do not accept ancillas whereas mcry does, polynomial pauli rotation will have really different gate counts depending on the rotation basis. But maybe that's not really a problem)

[2020-11-02 10:38] Cryoris commented on #5322
True, there's space for enhancement for sure. The ancilla-based decomposition could also be implemented for MCRX/MCRZ in future (and likely also for many other gates).

Also feel free to leave a proper review/accept/request changes on the PR! 🙂

[2020-11-02 13:02] frankharkins commented on #1682
Not sure if this needs another workaround, but in Jupyter Notebook you can use `display()` instead of `plt.show()`:

[code]

which shows a figure in my environment and should work with loops.

[2020-11-02 14:09] lcapelluto opened #5333 "Remove `ParameterizedSchedule` usage in parsing backend defaults"
### What is the expected enhancement?

Right now, cmd_defs are disassembled using ParameterizedSchedules. We should follow the circuit workflow for handling parameters, and use Schedules with ParameterExpressions instead.

This requires:

1. Changing how the qobj to pulse instruction converter creates the schedules which populate the PulseDefaults' InstructionScheduleMap
2. Changing the way schedu

[2020-11-02 14:10] lcapelluto commented on #5329
Changed "Remove" to "Deprecate".

[2020-11-02 14:11] lcapelluto commented on #5329
This is blocked on https://github.com/Qiskit/qiskit-terra/issues/5333

[2020-11-02 15:59] #5197 closed

[2020-11-03 20:07] 1ucian0 commented on #2306
@gabriellm1 it is! Probably following the https://github.com/Qiskit/qiskit-terra/pull/4544 style.

[2020-11-03 21:46] #5282 closed

[2020-11-04 00:43] #5323 closed

[2020-11-04 16:50] #5235 closed

[2020-11-04 21:10] 1ucian0 opened #5345 "transpile(..., initial_layout=...) is ignored if there is no coupling map"
### Information

- **Qiskit Terra version**: master
- **Python version**: all
- **Operating system**: all

### What is the current behavior?

[code]
[code]

Notice that, when a coupling map is provided, the output is:
[code]
[code]
### What is the expected behavior?

`transpile` should apply the layout, even when there is no coupling map.

[2020-11-05 12:52] eggerdj commented on #5232
@born-2learn sure

[2020-11-05 18:43] septembrr commented on #2906
I'm looking for first issues to contribute to and would love to tackle this one!

[2020-11-05 20:31] 1ucian0 commented on #2906
Assigning you @septembrr !

[2020-11-05 21:08] lcapelluto opened #5348 "Add circuit calibrations to disassembler"
### What is the expected enhancement?

Right now, pulse gates are not parsed by the disassembler. To fix this, `qobj.config.calibrations` would have to be parsed per job, and every `qobj.experiment` would have to be checked for `config.calibrations` as well. Each circuit would need every job cal, and its own experiment cals. Experiment cals overwrite job cals. Pulse instructions in each calibratio

[2020-11-05 22:17] 1ucian0 opened #5349 "substitute_node_with_dag needs refactor to avoid logic duplication"
The transpiler needs, as expected, to replace DAG nodes in several parts of the workflow. However, a pattern repeats:
 - Check if the domain is a single node, if so `qiskit.dagcircuit.dagcircuit.DAGCircuit.substitute_node`.
 - Otherwise, `qiskit.dagcircuit.dagcircuit.DAGCircuit.substitute_node_with_dag`

At the same time, it's error prune because there is global phase and parameter handling all ar

[2020-11-06 02:45] yourball opened #5350 "Extracting permutation of classical registers from Quantum Circuit"
Hi,

during routing/mapping passes input quantum registers could be permuted, the permutation logical -> physical qregs is saved in `quantum_circuit._layout` property and could be easily accessed by a user.

Similarly, classical cregs also become permuted after routing/mapping: physical cregs->logical cregs. This permutation can be extracted when applying measure gates `quantum_circuit.measure_all

[2020-11-06 03:12] edcohen08 commented on #5348
Hi, I would like to try this. Is the goal to return a list of circuits similar to _experiments_to_circuits or something else?

[2020-11-06 15:26] mtreinish opened #5351 "Stop using travis CI for coverage and randomized testing"
### What is the expected enhancement?

With travis's recent billing changes that went into effect this month: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing we're rapidly approach the qiskit project quota for the free trial accounts. This is problematic as both retworkx (for non-x86 jobs) and ibmq provider (for networking reasons) both rely on travis for their CI. We don't want to hit

[2020-11-06 15:36] chriseclectic commented on #5345
It's worse when the layout is to map the circuit to specific qubits which would be one of the main uses in many Ignis experiments

[code]
[code]

[code]
[code]

[2020-11-06 19:21] kdk commented on #4642
For now, this is the right structure. The definitions in `standard_gates\rz.py` are a subset of those in `standard_gates\equivalence_library.py` but are still needed for tools like the unroller/decomposer. (At this point, both versions should keep the correct global phase). Feel free to re-open if there are other questions/discussion here.

[2020-11-06 19:21] #4642 closed

[2020-11-06 21:18] kdk commented on #4943
Hi @HuangJunye , that's great. The issue here is that, because `mcx_gray` is not in `qelib1.inc`, the definition for the gate needs to be written to as a custom gate definition to the output QASM string.

This could be done by adding an `MCXGrayCode.qasm` method (similar to the approach taken for e.g. `UnitaryGate`s from #3069 ) but, there should be code in `QuantumCircuit.qasm` that automatically

[2020-11-06 21:22] kdk commented on #5046
Closing as the error is resolved by #5216 , and final basis issue is a duplicate of #5203 .

[2020-11-06 21:22] #5046 closed

[2020-11-06 21:42] 1ucian0 commented on #5345
How that `5` (in `range(5)`) can be inferred from the first example?

[2020-11-06 21:51] kdk commented on #4681
Closing as resolved by #5286 .

[2020-11-06 21:51] #4681 closed

[2020-11-07 03:48] t-imamichi opened #5727 "Deprecates `PauliOp.commutes`"
### What is the expected enhancement?

Only `PauliOp` has `commutes` method among all `OperatorBase`.
I notice that there are some problems with `PauliOp.commutes` thanks to Qiskit/qiskit-aqua#1415.

1. `PauliOp.commutes`  checks *qubit-wise* commutation because it was originally introduced for `AbelianGrouper`. The method name looks misleading. Note that `AbelianGrouper` does not use it anymore a

[2020-11-08 07:08] paniash opened #5359 "Inconsistency in gate names with matplotlib and text drawer backends"
### Information

- **Qiskit Terra version**: 0.23.0
- **Python version**: 3.8.6
- **Operating system**: Artix Linux

### What is the current behavior?
When drawing the complete circuit with a user-defined name, say "gate", then when drawing with the `text` backend, the circuit renders the name "gate" on the relevant portion of the circuit. However, when drawing with `matplotlib`, the particular po

[2020-11-08 07:09] paniash commented on #5359
I'm willing to work on this issue.

[2020-11-09 06:46] ajavadia opened #5361 "timeline_drawer measurement bugs"
There are some bugs drawing measurements in the circuit timeline drawer. Taking a simple circuit and a backend to schedule on:

[code]

The following scenarios have various errors...

1- One measurement with show_clbits=False
[code]
`KeyError: Clbit(ClassicalRegister(2, 'c'), 0)`

2- One measurement with show_clbits=True
[code]

The clbit measure seems off and starts earlier than the qubit measure

[2020-11-09 06:58] born-2learn commented on #5232
To add/remove/modify elements of the `cost_dict` which is currently present in `template_substitution.py.`'s `_quantum_cost`, `cost_dict` should be made a parameter of the `TemplateSubstitution` class.

Here are the changes that I am proposing:
1. Adding `cost_dict` to the `__init__` constructor method of the `TemplateSubstitution` class, so that it can be altered with a simple object call, for ex

[2020-11-09 14:05] nkanazawa1989 commented on #5361
Thanks for reporting this. I was aware of this issue 2 but the clbits are bit problematic because they are not transpiled with t0 nor delay (thus it always starts at t=0). In principle the program parser of the drawer parses the program for each bit and we need to update this logic to infer correct t0 of measurement instruction on clbits.

I need to investigate `show_clbits` bugs, but if there any

[2020-11-09 14:12] nkanazawa1989 opened #5363 "Return parametric pulse names"
### What is the expected enhancement?
In pusle command definition with parametric pulses, the name of pulse becomes `parametric_pulse` and we cannot infer what is being played, ie pulse drawer.

The QobjInstruction of `y90p` pulse looks like
[code]
but it is hard to know original pulse name from this information. To tell Qiskit what the pulse entry is, we need to add `label` to Schema so that back

[2020-11-09 14:16] ajavadia commented on #5361
Ok the clbits may be a bit harder so if we could at least fix the case where we just plot the qubits (issue 1 and 3) then that will at least allow us to plot basic circuit timelines (we set `show_clbits=False` by default)

[2020-11-10 16:18] lcapelluto opened #5372 "Delay gate bug"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

It seems that the scheduler in the transpiler adds delays on idle qubits for the duration of the entire program. In particular, an idle qubit (e.g. `q2`, below) will have a delay from the start of the program until the end of the measurement on active qubits (e.g. `q0` bel

[2020-11-10 18:30] mtreinish opened #5373 "Improve default selection for parallel macOS"
### What is the expected enhancement?

As a follow up to #5324 we need to improve the default selection for parallel_map on OSX. In that PR we changed it to default to not be enabled for all macOS users, however this was probably a bit too conservative. We should improve the logic to find the problematic OS and Python version combinations and disable it by default on those platforms (and likely wa

[2020-11-11 00:05] pedrorrivero opened #5376 "Calling execute over a list of circuits duplicates the main running process x9"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.8.6
- **Operating system**: macOS Catalina v10.15.7

### What is the current behavior?

When calling `execute` on a list of quantum circuits of length greater than one, the `__main__` running process gets duplicated x9.

### Steps to reproduce the problem

Run the following script:

[code]
This will print *Job successfully

[2020-11-11 07:29] nkanazawa1989 opened #5378 "ParametricPulse hash generates random numbers"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

[code]
returns
[code]

### Steps to reproduce the problem

See above

### What is the expected behavior?

Return unique value

### Suggested solutions

This bug is caused because it generates hash based on python generator. Generator should be converted into tuple before h

[2020-11-11 08:44] #5287 closed

[2020-11-11 13:55] #5378 closed

[2020-11-11 14:10] mtreinish commented on #5376
My assumption is that is another instance of Python 3.8 multiprocessing on macOS switching the default method for launching processes to spawn from fork. In general python multiprocessing with macOS >=10.14 (especially on 10.15) has proven to be quite problematic. My guess is here that your script not having `if __name__ == '__main__'` in it is getting rerun on each worker spawn as part of `transp

[2020-11-11 15:32] lcapelluto opened #5381 "Implement functional schedule equivalence"
### What is the expected enhancement?

Right now, the schedules are only "equal" if their instructions are the same. This means that schedules are "not equal" if one has an extra `ShiftPhase(0, chan)` or an extra `Delay()` anywhere.

The task is to fix this issue.

In particular, with Itoko's new scheduled circuit, the transpile + sequence path yields programs that are functionally equivalent to d

[2020-11-11 15:36] lcapelluto commented on #5372
Removed the milestone. We thought we had found it, but the fix didn't work. Looks like it may not be a terra issue afterall.

[2020-11-11 16:16] pedrorrivero commented on #5376
That solves it, yes. And I confirm that python3.7 does not reproduce the issue.

[2020-11-11 16:42] woodsp-ibm opened #5712 "PauliSumOp for opflow based on SparsePauliOp"
Add a dedicated SummedPauliOp class to opflow, for efficiency and functionality, based on quantum_info SparsePauliOp.

The new operator class should be part of opflow and respect the pratice, design of opflow etc. Have operator math, and other operations commensurate with the rest of opflow.

In order to allow legacy operators to be deprecated and internal logic moved fully over to opflow addition

[2020-11-12 00:15] nonhermitian opened #5387 "Circuit drawers do not respect classical conditional ordering"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**:
- **Operating system**:

### What is the current behavior?
Having gates conditioned on measurements performed earlier are moved before the measurements in the circuit drawing

eg

[code]
[code]

<img width="467" alt="Screen Shot 2020-11-11 at 19 14 01" src="https://user-images.githubusercontent.com/1249193/98878880-1305d680-

[2020-11-12 14:49] jwoehr opened #9334 "ClassicalFunction compiler (qiskit.circuit.classicalfunction) Overview Sentence trails off without completion"
### Where is the problem?
https://qiskit.org/documentation/apidoc/classicalfunction.html
### What is the problem?
Sentence in Overview trails off without completion:

... and that's it.
### What would you expect?
Finish the thought!

[2020-11-12 16:21] kdk commented on #3972
Following up on some offline discussion, there is still an issue here (though the original example currently raises from `Optimize1qGates` at `optimization_level`s other than zero, and both the BasisTranslator and Unroller should raise if asked to translate to a basis they can't reach).

The remaining issue is that `CXDirection` runs _after_ unrolling/translation and inserts `U2Gate`s instead of H

[2020-11-12 16:25] enavarro51 commented on #5387
This is interesting. I believe the problem is in `_get_layered_instructions` which builds the list of layers for the drawers to use. There are apparently several problems here. Using simplified circuits, I get these different results. So I'm working on it.
![image](https://user-images.githubusercontent.com/16268251/98965695-33b84580-24bf-11eb-9eaa-13bc1c62815f.png)
![image](https://user-images.git

[2020-11-12 16:26] nkanazawa1989 opened #5392 "Replace pulse drawer with v2"
### What is the expected enhancement?

Pulse drawer v2 is merged with #5101, and now we can replace the default pulse drawer with new program. Before that, we need to do sufficient usability test. This drawer has backward compatibility and thus it is easy to deprecate current drawer.

New drawer can be called with
[code]

[2020-11-12 16:39] #5188 closed

[2020-11-12 16:51] jonathanortega2023 commented on #5381
Just to confirm, under no circumstances should Delay() affect equality?

[2020-11-12 23:10] #5204 closed

[2020-11-13 03:31] #5260 closed

[2020-11-13 08:17] paniash opened #5393 "Chipped figure in matplotlib for a plain quantum circuit"
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.8.6
- **Operating system**: Artix Linux

### What is the current behavior?
When drawing a plain quantum circuit (just initializing the quantum and classical registers without implementing any gates), the figure rendered in matplotlib renders chipped text. Testing this with a previous release of terra (I used 0.15.1), the t

[2020-11-13 08:18] paniash commented on #5393
I'm willing to work on this issue.

[2020-11-13 08:18] eggerdj opened #5394 "QuantumCircuit compose is throwing away calibrations"
### Information

- **Qiskit Terra version**: master on commit 5be00b6626eb6ef902603b91e429bebd8563f3ae
- **Python version**: 3.7.3
- **Operating system**: Ubuntu

### What is the current behavior?

In quantum circuit compose we have `dest._calibrations.update(other.calibrations)`.
A calibration looks like this:

[code]
Therefore, if we have multiple calibration for `x` each one for a different qub

[2020-11-13 09:18] prakashmurali opened #5395 "CrosstalkAdaptiveSchedule does not parse backend properties correctly for U1,U2,U3 gates"
### Information

- **Qiskit Terra version**: master
- **Python version**: not applicable
- **Operating system**: not applicable

### What is the current behavior?
Indexing for single qubit error rates is wrong in parse_backend_properties.
The U1/U2/U3 error dicts are populated with a single floating point number instead of the error rate map (line 155, 160, 165).
(CX error rates are parsed correct

[2020-11-13 12:16] dgiannelli opened #5721 "Not expected ordering of parameters in energy evaluation call"
### Information

- **Qiskit Aqua version**: 0.7.*, 0.8.* up to latest 0.8.1

### What is the current behavior?
Using VQE class with a parametrized quantum circuit (i.e. efficientsu2), the energy evaluation function is called with parameters in alphabetical order, and not in numerical order as it happens with method assign_parameters of parametrized quantum circuit.

This leads, for example, to par

[2020-11-13 19:28] enavarro51 commented on #5387
@nonhermitian, I found the bug that was causing the inconsistency in the placement of the Z with condition in my circuits 1 and 3 above. I am now working on your original issue.

Given this circuit,
[code]
I assume that since the bit that the Z is conditioned on is not affected by the measures, that the Z can shift to the left under the H gates.

But if we replace the Z line with `qc.z(2).c_if(cr,

[2020-11-13 21:12] nonhermitian commented on #5387
Yes that is correct. You cannot be conditioned on a measurement value and displayed before that measurement occurs

[2020-11-13 21:53] enavarro51 commented on #5387
Thanks.

[2020-11-13 22:31] 1ucian0 commented on #5387
Maybe an issue in the DAG topological order?

[2020-11-13 23:01] 1ucian0 commented on #5393
In your example, current looks better. Are the images in the right order?

[2020-11-14 00:22] enavarro51 commented on #5387
The `circuit_to_dag `call in `_get_layered_instructions` puts the nodes in the right order. The problem comes in the `slide_from_left` call. There are no checks for `node.condition` which means a node with condition behaves the same as one without.

My idea is to create a `measure_map` with an entry for each clbit. Then for each measure, the appropriate clbit entry would record the layer number of

[2020-11-14 00:41] 1ucian0 commented on #5393
Assigning it to you in that case. Thanks.

[2020-11-14 00:42] 1ucian0 commented on #5143
closing as stalled

[2020-11-14 00:42] #5143 closed

[2020-11-14 20:10] elmandouh commented on #5304
@lcapelluto Seems that by only calling float when `p.parameters` is empty leaves us with an empty tuple in the example above. I get this error "Operation 'pulse_gate' on qubit(s) [0] not supported by the backend command definition. Did you remember to transpile your input circuit for the same backend?".

[2020-11-15 00:53] enavarro51 commented on #5393
This is an outgrowth of #5074. I think you should somehow treat the empty circuit as a special case, rather than trying to undo any of the changes from that PR.

[2020-11-16 16:11] nonhermitian opened #5400 "circuit.initialize has no documentation"
### What is the expected enhancement?
Have more than this:
[code]

[2020-11-16 17:52] nonhermitian opened #5401 "Should be able to initialize from an integer"
### What is the expected enhancement?

Should be able to do:

[code]
and have it add x gates where the bit values are one.

[2020-11-17 15:26] yaelbh opened #5405 "Slow transpilation of ExcitationPreserving"
Transpilation of `ExcitationPreserving` to basis gates `u1, u2, u3, cx` is extremely slow, so much that it just can't be used.

Here is code to demonstrate it:
[code]

Output on my machine:
[code]

[2020-11-17 15:39] kdk commented on #5405
Looking quickly, `BasisTranslator` is the slowest pass, with most of its time replacing the translated instructions. On my machine, the `num_qubits=16` example with `logging.basicConfig(level='INFO')`:
[code]
This is likely the same issue as described in https://github.com/Qiskit/qiskit-terra/issues/5174#issuecomment-713153710 , but seems exceptional in this case.

[2020-11-17 23:29] wjy99-c opened #5491 "Optimization level 3 gives more complex circuits"
### Informations

- **Qiskit version**:
Qiskit 0.21.0
- **Python version**:
Python 3.8.3
- **Operating system**:
MacOS 10.15.7
### What is the current behavior?
Optimization_level=3 gives a more complex circuit than Optimization_level=1

### Steps to reproduce the problem
When I follow the tutorial on https://qiskit.org/documentation/tutorials/circuits_advanced/04_transpiler_passes_and_passmanager

[2020-11-18 04:55] ikkoham opened #5408 "SparsePauliOp.__getitem__ causes a problematic behavior with numpy’s __mul__"
### Information

- **Qiskit Terra version**:master (b5d5a3b)
- **Python version**: 3.8.5
- **Operating system**: macOS

### What is the current behavior?

SparsePauliOp does not support a multiplication with np.int64, np.float64, and...

### Steps to reproduce the problem

For example,
[code]
outputs
[code]

### What is the expected behavior?

### Suggested solutions

There are many solutions.
One

[2020-11-18 08:33] sudhakarsingh27 opened #5409 "Transpiler doesn't produce differing circuit layouts when backend.properties object is updated with custom calibration data (cnot and readout)"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.7.4
- **Operating system**: Windows, conda env

### What is the current behavior?
After manually measuring the CNOT and Readout error measurements and updating these values in the backend.properties() object, the transpiler fails to produce differing circuit layouts in the following qiskit version:
`{'qiskit-terra': '0.16.

[2020-11-18 14:18] mtreinish commented on #5409
#5146 should not have changed any behavior in the noise adaptive layout pass, all it did was cache the neighbors list for nodes in the internal graph for performance.

I actually think what is going on is that you're not using the noise adaptive layout pass anymore. In qiskit-terra 0.13.0 (metapackage 0.18.0) the default layout pass for optimization level 3 was changed to [CSPLayout](https://qiski

[2020-11-18 17:35] taalexander commented on #5300
Can confirm this is also an issue for me.

[2020-11-18 21:26] aeddins-ibm opened #5708 "SPSA: occasionally evaluate at unperturbed parameters"
### What is the expected behavior?
SPSA is an efficient optimizer that approximates the gradient each iteration using only two evaluations of the cost-function `f(theta)`. These evaluations occur at `f(theta+delta)` and `f(theta-delta)`, where `delta` is a perturbation along a chosen axis in parameter space.

Notably, the cost function at the unperturbed parameters, `f(theta)`, is not evaluated un

[2020-11-19 03:25] nkanazawa1989 opened #5413 "Pulse builder equispace context doesn't work with multiple channels."
### What is the current behavior?

Equispaced context of pulse builder doesn't work as expected. This is reported by @ajavadia .

### Steps to reproduce the problem

[code]

returns

![image](https://user-images.githubusercontent.com/39517270/99616087-f542fd80-2a5f-11eb-8749-e1d7e63af13d.png)

We specified 800dt as the duration of context, however the total duration becomes 1100.
This is caused by

[2020-11-19 18:05] enavarro51 commented on #5401
@nonhermitian, I've been playing around with this and came up with this so far,
[code]
[code]
or
[code]

[code]
One question is, if the number of bits in the integer exceeds the num_qubits, should we raise or just strip the leading bits off and use num_qubits bits?

[2020-11-19 20:10] pedrorrivero opened #5415 "Result.get_memory() not working"
### Information

- **Qiskit Terra version**: 0.16.1
- **Python version**: 3.9.0
- **Operating system**: macOS Catalina v10.15.7

### What is the current behavior?

An exception is raised when calling `get_memory()`:

[code]

This has been tested on:
- ibmq_athens
- ibmq_valencia

### Steps to reproduce the problem

Run the following code:

[code]

### What is the expected behavior?

Should return

[2020-11-19 23:29] chriseclectic commented on #5408
It looks like numpy ufunc `np.multiply(val, op)` is getting called before the `op.__rmul__(val)`, because somehow it thinks it can treat SparePauliOp as an array.

I don't really understand how numpy ufuncts interact with the getitem method, but one fix is telling numpy dispatch to use the correct method by adding this to the SparsePauliOp class:

[code]

Separately it might be good to make getite

[2020-11-20 06:07] msuwama commented on #5413
@nkanazawa1989 Can I work on this? Also for the expected behaviour, should it be like the future extension (i.e. have them equispaced for each channel separately) or should it be staggered so that in the example, the first pulse starts at 0, but the second pulse ends at 800. If it is the latter, I am not exactly sure what the spacing should be in general though.

[2020-11-20 09:17] #5104 closed

[2020-11-20 09:32] Cryoris commented on #5401
You can already to something pretty much like that using the `Statevector.from_int` classmethod. Right now you'd have to do
[code]
but I think if we simplify this marginally we could have
[code]
This would require to (1) allow passing `Statevector`s into initialize, already in progress in #5190, and (2) to omit the `dims` argument in `from_int`.

With that I don't think `initialize(int)` would sti

[2020-11-20 12:34] nonhermitian commented on #5401
Statecector method is horribly inefficient as it literally puts a big array into the circuit. For example, try to init from the int 60000.

What is done here is good. I would raise if not enough qubits in circuit.

[2020-11-20 12:37] nonhermitian commented on #5387
I would also just make sure that a conditional is not moved if the user makes a mistake and puts it before a measurement; the drawing is faithful to the circuit instructions even if wrong.

[2020-11-20 14:29] ikkoham commented on #5408
I didn't know `__array_ufunc__`, so I learned it via this issue.
I hope you consider the other issue (return a tuple). Thank you.

[2020-11-20 15:38] enavarro51 commented on #5387
Yes, that's how #5397 is implemented. It follows the DAG, so unless a measure is seen first on a particular register, it will not change where to put a subsequent conditional on that register.

[2020-11-20 16:01] enavarro51 commented on #5401
My feeling is that since we already implemented a more efficient `from_label `in `instruction`, it makes sense to complete that with a more efficient `from_int`. `initialize(60000)` is less than a second on my machine.

I'll go ahead and add the raise and submit a PR and if there's more discussion we can do it there.

[2020-11-20 17:23] nonhermitian commented on #5401
I should clarify my comment. Try transpiling a circuit with an init using Statevector.from_int verses just a collection of X gates.

[2020-11-20 19:42] #5408 closed

[2020-11-21 07:06] sudhakarsingh27 commented on #5409
@mtreinish Thanks, I tried your suggestion but the behavior is still the same. Setting `layout_method='noise_adaptive'` in `transpile` call didn't seem to help.

Sure, can I share the files with you here? Also, I have the error data from `ibmq_boeblingen`, is that fine?

[2020-11-22 13:00] Doofenshmirtz7 commented on #5350
The `plot_gate_map()` from  **_qiskit.visualization_**  can be used to view the original layout. And transpiled circuit can be viewed via `plot_circuit_layout()` which also belongs to **_qiskit.visualization_**.
In this way, 2 plots will be displayed and both will have to be compared.
It's doable,but I'm open to a simpler solution if it exists.

[2020-11-22 13:54] yaelbh commented on #5405
Note that this probably affects any user who wishes to run VQE on a device, with ExcitationPreserving variational form.

[2020-11-22 18:33] paniash commented on #5393
@enavarro51 Hi! Isn't it possible to fix this truncation without reverting any of the changes made in #5074? I have made a PR for this which fixes the truncation of a plain circuit. However, drawing the circuit with gates renders extended lines for some reason. I would appreciate some pointers.

[2020-11-22 19:21] enavarro51 commented on #5393
Right. That was the point of my comment. You need to first determine if the circuit is empty and only if so, change the increment that's added to xmax. You can do that by checking if self._ops is empty. Also, .2 seemed a bit long, maybe .4.

[2020-11-22 20:28] paniash commented on #5393
@enavarro51 Ok, so I made some changes as per your suggestion:

[code]

But the issue gets introduced both ways i.e. without gates, the circuit is truncated and with gates, the circuit lines are disproportionately extended.

[2020-11-22 20:47] paniash commented on #5393
@enavarro51 Never mind, I realized my mistake.

[2020-11-23 05:55] paniash commented on #5393
@enavarro51 I've added the condition to check if `self._ops` is empty as per your suggestion. It works with the cases I've tried. Let me know if it's alright.

[2020-11-23 22:25] kdk opened #5423 "`ParameterExpression.__eq__` to accept comparing a bound expression to a fixed value"
It would be good to update `ParameterExpression.__eq__` to accept comparing a bound expression to a fixed value, but this can be a separate issue.

_Originally posted by @kdk in https://github.com/Qiskit/qiskit-terra/pull/5192#discussion_r520670469_

[2020-11-23 22:27] kdk commented on #5271
I think this is a good idea, given that there's a solid use case for it and we already have gates that accept `ParameterExpressions` and can't be unrolled until fully bound (e.g. `HamiltonianGate`).

[2020-11-23 22:51] kdk commented on #5309
I believe this could be fixed by adding `'z'` to the `basis` list https://github.com/Qiskit/qiskit-terra/blob/2d11db2/qiskit/circuit/add_control.py#L114 and a corresponding rule below for the case where `gate.name == 'z'`.

[2020-11-23 23:59] kdk opened #5424 "Result.utils.marginal_counts returns inconsistent creg structure for multiple cregs"
### Information

- **Qiskit Terra version**: master @ d26f273d
- **Python version**: 3.6
- **Operating system**: osx

### Steps to reproduce the problem

[code]
![image](https://user-images.githubusercontent.com/766693/101812675-aaaa2380-3ae9-11eb-9d8a-cfe8c0afc6d1.png)

[code]
[code]

[code]
[code]
### What is the expected behavior?

### Suggested solutions

[2020-11-24 04:43] nkanazawa1989 opened #5426 "Need mock backend defaults update"
### What is the expected enhancement?
Recently we have been making many changes to backend default object (i.e. command def with `ParametricPulse`s, introduction of channel-qubit mapping, etc...), however some of mock backends in terra have not been updated. This outdated some unittests with mock backend, and sometime this makes development (sanity check) harder because of the mismatch of current

[2020-11-24 10:15] #5130 closed

[2020-11-24 10:15] #5191 closed

[2020-11-24 11:59] taalexander commented on #5415
Please execute with:
[code]

[2020-11-24 11:59] #5415 closed

[2020-11-24 13:05] mtreinish commented on #5426
Updating the fake backends is simple, just run: https://github.com/Qiskit/qiskit-terra/blob/master/tools/update_fake_backends.py (you'll have to use your credentials to update premium devices) and it will update the json snapshots in the repo for the backends.

That being said that is explicitly decoupled from anything in terra, it just saves whatever iqx returns on the wire for the different back

[2020-11-24 15:52] kdk commented on #5428
All yours @sajidanis . Feel free to reach out if there are any questions.

[2020-11-24 16:27] ajavadia commented on #5372
I think we determined this is not actually a bug and the bug is elsewhere, so closing..

[2020-11-24 16:27] #5372 closed

[2020-11-24 16:37] pedrorrivero commented on #5415
Thanks,
Could this requisite be added to the documentation? I did not read about it in the `get_memory` method description, and should probably be included there.

[2020-11-24 17:01] enavarro51 commented on #5424
@kdk Just to confirm. The right answer should be `{'111': 1024}` and if the indices are changed
 to `[0, 1, 2, 3]`, it would be `{'0 111': 1024}` and `[0, 2, 4]` would be `{'011': 1024}` or `{'0 11': 1024}`?

[2020-11-24 17:28] vishalg2235 commented on #3485
Hi @coder-mtv are you still working on this? I want to give it a try!

I have tried to gain some knowledge from online resource regarding Pulse Programming Model, Pulse Schedule and Instructions. I don't think I understood them completely but if someone can tell me how(code) to replicate this issue. Then I think I can further use my Python knowledge to debug it.
@taalexander @ajavadia

[2020-11-24 18:06] chriseclectic opened #5430 "Replace `to_instruction` methods with `__qiskit_instruction__` magic method"
### What is the expected enhancement?

When appending an object to a circuit there is a `hasattr` check for `to_instruction` to allow custom classes to define conversion to `Instruction` objects. This is used by many quantum_info operators for example.

This method doesn't need to be part of the public API for classes and could be replaced with a magic method such as `__qiskit_instruction__` like

[2020-11-24 19:02] kdk commented on #5424
The first two examples are consistent with what I'd expect. For the last, I'd expect `0 11`.

[2020-11-24 19:22] enavarro51 commented on #5424
Thanks. I think I've found where the problem is, and right now I'm working on finding a reasonable solution. It's weird, there are about a dozen tests for marginal counts, but none of them seem to set memory_slots to less than the number of cregs.

[2020-11-24 20:10] taalexander commented on #3485
Hello @vishalg2235, I have assigned.

Something like:

[code]

Should allow you to generate the plot with an axis and for without an axis add:

[code]

[2020-11-25 02:56] vishalg2235 commented on #3485
Thanks @taalexander

[2020-11-25 03:26] nonhermitian opened #5434 "Gate parameter types depend on transpiler"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
Consider the following circuit:

[code]

Upon transpiling it gives some parameters that are of type `ParameterExpression`, e.g.

[code]

However, taking this transpiled circuit, converting it to a QASM string, and then making a new circuit yields a standard float typ

[2020-11-25 04:50] vishalg2235 commented on #3485
Hi @taalexander I found the line of code responsible for the issue [here](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/visualization/pulse/matplotlib.py#L857)
After commenting out that line I found following plot. Have a look at the yellow circled zone where labels overlap each other.

![Screenshot 2020-11-25 at 10 17 34 AM](https://user-images.githubusercontent.com/17894780/100184452

[2020-11-25 06:01] ikkoham commented on #343
I think it's better to use `pyproject.toml` instead of Pipfile.
https://www.python.org/dev/peps/pep-0517/
https://www.python.org/dev/peps/pep-0518/

[2020-11-25 06:11] ikkoham opened #5435 "Upgrade pylint"
### What is the expected enhancement?

Upgrade Pylint.

Switching from pylint to flake8 are discussed another issue #1179.

[2020-11-25 06:45] hhorii opened #5436 "Enable one-qubit optimization for UCCSD"
### What is the expected enhancement?

0.23.1 transpiles a UCCSD circuit without one-qubit optimization though 0.22.0 does with it. Probably deprecating U1, U2, and U3 is a reason.

0.22.0:
[code]
0.23.0
[code]

Related PRs: #5429, #5431

[2020-11-25 06:51] vishalg2235 commented on #3485
When I removed X-axis limit then it somewhat adjusts itself to display without overlap.
![Screenshot 2020-11-25 at 12 19 35 PM](https://user-images.githubusercontent.com/17894780/100192858-b5c15900-2f18-11eb-89b6-cde94cfe2ad8.png)

[2020-11-25 07:27] nkanazawa1989 commented on #5426
Thanks. It works!

[2020-11-25 18:49] #5426 closed

[2020-11-25 19:17] vishalg2235 commented on #3485
@taalexander in multiple channels the Y-axis labels can be misleading/wrong as you can see in pic below that for 'd0' channel labeled amplitude is correct but for channel 'd1' its wrong:

![Screenshot 2020-11-26 at 12 42 33 AM](https://user-images.githubusercontent.com/17894780/100272135-a118ab80-2f80-11eb-835a-d5add4f58e8c.png)

[2020-11-25 22:59] kdk commented on #5350
Hi @yourball, cregs will not be modified by the routing or layout process. Can you provide an example of the behavior you're seeing and the behavior you'd expect?

[2020-11-26 00:54] #5345 closed

[2020-11-26 02:28] #5045 closed

[2020-11-26 03:03] nkanazawa1989 commented on #5413
Thanks @msuwama for taking this issue! :) For now we should have them equispaced in parallel otherwise we cannot infer starting time of each pulse. In this specific example, total duration becomes 900 > `duration=800` so input schedule block is returned just as it is. If we specify `duration=1000` the first pulse starts at t=0 and second pulse starts at t=700. This is correct behavior of equispace

[2020-11-26 07:48] Cryoris commented on #5436
Since #5429 is merged, is this problem resolved? 🙂

[2020-11-26 08:51] nkanazawa1989 opened #5441 "Assigning parameter to parameter doesn't propagate through the schedule instructions"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

We can assign parameter object to another object in Schedule, however, if we assign common parameters to multiple parameters in the schedule, assigned value only applied to the first instruction. See below for details.

### Steps to reproduce the problem

[code]

This retu

[2020-11-26 09:48] nkanazawa1989 commented on #5441
If I remove this `set` instruction parameter value is applied to both instruction. Because in above example two instructions are just difference from t0, thus they are reduced to single instruction by this line.
https://github.com/Qiskit/qiskit-terra/blob/9e6a016dbd44fdeedf27241b9e02fbd8d4a617c8/qiskit/pulse/schedule.py#L692

Is there any issue to remove this `set`? @lcapelluto

[2020-11-26 10:45] yonizim opened #5443 "QASM version of a controlled gate"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.8.5
- **Operating system**: MacOS 10.15.7

### What is the current behavior?

Consider the following code snippet. Both gates have the same qasm representation.

[code]

[code]

### Steps to reproduce the problem

### What is the expected behavior?
A controlled gate, with control state equals to 0 will be represented with

[2020-11-26 13:06] mtreinish commented on #5436
Not quite yet. That was only part of the issue UCCSD with aer exposes. It would have been sufficient without https://github.com/Qiskit/qiskit-aqua/commit/4cca284cd4cf134137d4a5c8246008d197e39888 and everything was still in U. But, with that aqua change that and aer's overcomplete basis set we need to merge #5436 too, and also adjust the selection logic in preset pass managers. For example: https:/

[2020-11-26 14:41] arkarc commented on #5393
I printed a quantum teleportation circuit using draw() function without 'mpl' parameter, as I was getting error. The Measurement box and Hadamard boxes are overlapping.
![image](https://user-images.githubusercontent.com/8359235/100363513-daa1f300-3022-11eb-8639-7584c2404014.png)

[2020-11-27 07:44] paniash commented on #5393
@arkarc What error are you getting with the 'mpl' backend? Also, please open up a separate issue for this, since this does not pertain to this issue thread. Thanks!

[2020-11-27 18:51] vishalg2235 commented on #5430
Hi @chriseclectic I would like to work on this issue.

I just did a basic text search in "qiskit-terra" and found total 100+ 'to_instruction' occurrences. So we have to deprecate "to_instruction"?

[2020-11-28 04:40] rtvuser1 commented on #1160
Any news on the ability to do condition on a single bit of a multi-bit classical register ?
as in ...
      h(q[0]).c_if(c[0], 1)  # condition on a bit

Having the make a separate classical one-quibit reg for every simple condition is quite a limitation,
and prevents easy auto-generation of code (need to make the preamble where regs are defined depend on
the contents of the circuit ... yechh !)

I

[2020-11-28 16:16] danielecuomo opened #5445 "Getting Choi-matrix of a subsystem"
I opened an issue at [quantumcomputing.stackexchange.com/posts/14865/edit](url) and an user suggested I ask here.
Below, my problem:
for a given `QuantumCircuit` object, you can computed its Choi-matrix via the corresponding `Choi` object, for example:

    myCircuit = QuantumCircuit(q1,q2)
    myChoi = Choi(myCircuit)

My problem is, that code gives the Choi-matrix describing the whole system, bu

[2020-11-29 19:35] Drinion commented on #5423
Hi! I'm new to the community and would like to give it a shot. May I?

[2020-11-30 11:02] hay-k opened #5447 "Explicitly construct C3X and C4X in MCXGrayCode"
### Information

- **Qiskit Terra version**: latest GitHub code
- **Python version**: N/A
- **Operating system**: N/A

### What is the current behavior?
The docstring of the `MCXGate` constructor says "creates an explicit CX, CCX, C3X or C4X instance or a generic MCX gate", however it explicitly creates CX and CCX only.

### Steps to reproduce the problem
N/A

### What is the expected behavior?
Cr

[2020-11-30 12:33] roberCO opened #5502 "Transpilation segmentation fault with large circuit"
### Informations

- **Qiskit Aer version**: 0.23.1
- **Qiskit version**: 0.7.1
- **Python version**: 3.7.4
- **Operating system**: Linux Ubuntu 20.04 64 bits (x_86)

### What is the current behavior?

The simulator gets an segmentation fault during the statevector calculation with the Aer simulator. The ram consumption is around 7 GB out of 32 GB available (it doesn't run out of RAM). The virtual

[2020-11-30 15:42] #5413 closed

[2020-12-01 00:19] #5363 closed

[2020-12-01 09:06] Cryoris commented on #5447
We have different implementations for MCX gates depending on the number of additional qubits available, namely based on gray-code (no additional qubits), recursion (one additional qubit) or a v-chain (several additional qubits). If we have one or two controls then all these methods generate a CX and CCX gate. However starting from three controls, the implementations start to differ in depth and wi

[2020-12-01 12:11] ljubabu opened #5453 "Control of the diagonal gate not working properly"
### Information

- **Qiskit Terra 0.16.1**:
- **Python version 3.7.3**:
- **Win 10**:

### What is the current behavior?
Converting the attached diagonal gate to a circuit and then applying the control method does not produce expected result.

### Steps to reproduce the problem
The code example is given in form of 3 separate version of the same problem. First two, i.e. VER-I ands VER-II, are givin

[2020-12-01 16:32] chriseclectic commented on #5430
On second thought im not sure this is suitable for this case since other python magic methods are usually used in place of initializing an object (eg `obj.__cls__()` is equivalent to `cls(obj)`). `Instruction` however doesn't have this behavior from its `__init__` method.

[2020-12-01 16:32] #5430 closed

[2020-12-01 20:34] Bhargavishnu commented on #1179
How about using Black https://pypi.org/project/black/#:~:text=Black%20is%20the%20uncompromising%20Python,energy%20for%20more%20important%20matters.

[2020-12-02 05:44] ikkoham commented on #1179
Hello @Bhargavishnu . Black is a very nice formarter. But it's not a linter.

By the way, Pylint 2.6 is more compatible with Black.
http://pylint.pycqa.org/en/latest/whatsnew/2.6.html

[2020-12-02 05:57] #5401 closed

[2020-12-02 10:30] Cryoris opened #5553 "Improve handling of ``params`` argument in ``Gradient.convert``"
### What is the expected enhancement?

The `convert` method of the gradients takes a `params` argument specifying for which parameters the gradient should be computed. The error messages and supported input types of that argument vary between `Gradient`, `NaturalGradient`, `QFI` etc. For instance, `Gradient.convert` supports `ParameterVector`s but for the others the parameter vector must explicitl

[2020-12-02 11:13] Cryoris commented on #5453
How are `CIRC_1A` and `CIRC_1B` initialized? Are they empty circuits? Could you maybe post a smaller minimal-working example, then it would be a little easier to understand where exactly things are going wrong 🙂

[2020-12-02 16:00] VicentePerezSoloviev opened #5456 "FakeRueschlikon has wrong backend properties"
### Information

- **Qiskit Terra version**: 0.16.0
- **Python version**: 3.7
- **Operating system**: Windows

### What is the current behavior?
When using FakeRueschlikon fake simulator, exploring the simulator properties cannot find any type of noise. I have looked for the decoherence time, the cx, u1, u2, u3 error and nothing was found. I have done the same for other fake simulators, and I have

[2020-12-02 17:51] sudhakarsingh27 commented on #5409
@mtreinish Were there any updates to this thread?

[2020-12-02 18:40] enavarro51 commented on #5424
This is meant as the start of a discussion about `marginal_counts()` which grows out of this issue.

The problem with a solution for the case above is that the final output, say [0, 2, 4] giving you `'0 11'` is that it is not unique. [0, 1, 4], [1, 2, 3], etc. will give you the same `'0 11'`. If this is passed to another function, all the original indices info is lost.

As an alternative, first co

[2020-12-02 18:56] eggerdj opened #5457 "Parameter assignment has a bug"
### Information

- **Qiskit Terra version**: commit c06f50c028638161153909e10fcefe7c4f2eef06 of master.
- **Python version**: 3.7.3
- **Operating system**: Ubuntu

### What is the current behavior?
Assigning a parameter to another parameter in the circuit overwrites the `_parameter_table` when there already is an entry.

### Steps to reproduce the problem
The following code illustrates the problem

[2020-12-02 19:03] enavarro51 commented on #5241
@aeddins-ibm I'm working on a marginal_counts issue, #5424, and left a comment there about some possible design changes. As a marginal_counts user, I thought you might have some insight about the issue.

[2020-12-02 20:40] Bhargavishnu commented on #5304
Fixed [here](https://github.com/Qiskit/qiskit-terra/pull/5455)

[2020-12-03 09:14] #5457 closed

[2020-12-03 10:12] avartak opened #5461 "name setter of Register class should check if assigned name is valid"
### What is the expected enhancement?

Currently, the constructor of the Register class checks if the name string passed as an argument is valid as per the OPENQASM requirement. If this check fails, an exception is raised.

https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/circuit/register.py#L65-L66

However, no such check is performed in the setter method of the _name attribute

https://

[2020-12-03 10:48] ljubabu commented on #5453
Thanks for the help. I simplified the test code in which only identity as diagonal gate is applied. Even for this simple case controlled method of the diagonal gate produces wrong results.

[2020-12-03 17:34] chriseclectic commented on #4592
I think for operators and states this should be called `reverse_qargs()` and has the property of reversing the order of input and output subsystems

[2020-12-03 20:05] #4249 closed

[2020-12-03 20:36] taalexander commented on #3485
I believe the values for the y-axis would need to be manually added. I see the problem now, @nkanazawa1989 may know how to better resolve this.

[2020-12-03 22:39] kdk commented on #4448
Closing from https://github.com/Qiskit/qiskit-terra/pull/4453#issuecomment-738390379 .

[2020-12-03 22:39] #4448 closed

[2020-12-03 23:13] kdk opened #5466 "Make Optimize1qDecompositons noise aware"
As a future enhancement, we could use the expected fidelity from the gate properties, when they're available.

_Originally posted by @kdk in https://github.com/Qiskit/qiskit-terra/pull/5431#discussion_r535488391_

[2020-12-03 23:40] kdk opened #5467 "ParameterVectors aren't unrolled by `execute(..., parameter_binds=[...])`"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

[code]

### What is the expected behavior?

### Suggested solutions

[2020-12-03 23:44] kdk opened #5468 "Update OneQubitEulerDecomposer to simplify U3 to U2/U1"
### What is the expected enhancement?

From https://github.com/Qiskit/qiskit-terra/pull/5429#pullrequestreview-538905936 , the `OneQubitEulerDecomposer` should simplify `U3` gates to `U2`/`U1` gates where possible (if `simplify=True`). With this, we can remove `Optimize1qGates` in favor of `Optimize1qDecompositions` in the preset pass managers.

[2020-12-04 02:25] #5320 closed

[2020-12-04 02:25] #5321 closed

[2020-12-04 02:25] #5322 closed

[2020-12-04 05:24] #4878 closed

[2020-12-04 16:36] #5400 closed

[2020-12-04 17:31] mtreinish opened #5470 "Migrate ApproximateTokenSwapper to retworkx"
### What is the expected enhancement?

Right now the `ApproximateTokenSwapper` class https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/passes/routing/algorithms/token_swapper.py is currently built using a combination of retworkx and networkx graphs. However, the networkx usage shouldn't be necessary anymore as retworkx has all the required features and should be significantly fa

[2020-12-04 18:42] #5394 closed

[2020-12-06 04:04] nkanazawa1989 opened #5472 "Pulse align_measures implicitly assumes u3 gate."
### What is the current behavior?

`align_measures` function can take arbitrary `cal_gate` to decide minimum alignment time, but actually we can only take `u3` due to its implementation.

https://github.com/Qiskit/qiskit-terra/blob/fe458633cfc969a4ac4b5073396a30160b5cdaa8/qiskit/pulse/transforms.py#L30-L36

This is nested function to get the gate duration of input `cal_gate`. As you can see this t

[2020-12-06 06:55] vishalg2235 commented on #3485
Ok meanwhile I'm also getting an idea of filling Yaxis values based on number of pulses and make a list of them and finally using that list in the graph. I will show it here once done with it.

[2020-12-07 00:42] georgios-ts commented on #5453
@ljubabu If you look carefully, the two statevectors are equivalent up to a global phase `pi / 4`.  So there must be a global phase that is not tracked somewhere in the transpilation process. My guess is that if you execute your circuit with `optimization_level=0` or `basis_gates=['u', 'cx']` the vectors will be the same.

[2020-12-07 12:16] nkanazawa1989 opened #5473 "Transpiler is crashed when transpiling 2q gates on non-connected qubit pairs"
### Information

- **Qiskit Terra version**: master
- **Python version**: 3.7
- **Operating system**: 18.04.3 LTS

### What is the current behavior?

Transpiler cannot handle coupling map correctly.

### Steps to reproduce the problem

[code]

[code]

### What is the expected behavior?

### Suggested solutions

[2020-12-07 12:17] nkanazawa1989 commented on #5473
perhaps we need to update unittest too

[2020-12-07 12:23] nkanazawa1989 commented on #5473
sorry I solved this by myself. I just pulled the master but actually needed to compile cython again.

[2020-12-07 12:23] #5473 closed

[2020-12-07 12:31] mtreinish commented on #5473
Yeah, #5183 updated the cython code (it was necessary because the distance matrix is now returned directly from retworkx but is read only because it lives in the rust heap and not python's so the matrix parameter in cython is `const` now), if you have a local build from source whenever the cython source changes you'll have to rebuild it. Fortunately the cython code doesn't generally change to freq

[2020-12-07 13:51] mtreinish opened #5475 "Remove legacy operators in opflow"
### What is the expected enhancement?

In #5460 we migrated the opflow module from qiskit-aqua into terra as part of the migration it included a legacy submodule. This was left intact for ease of migration since there are still some dependencies on it. Before we release 0.17 we should remove this legacy operators.

[2020-12-07 13:55] mtreinish opened #5476 "Rename or remove aquaerror exception class"
### What is the expected enhancement?

The aqua error exception class was included as part of #5422  which was a migration of common utils from aqua to terra (in support of future migration, mainly opflow and algorithms). As part of that migration an aqua error exception class was migrated which was used as a common base exception class for exceptions raised from aqua. This no longer applies since

[2020-12-07 14:02] manoelmarques commented on #5476
@mtreinish I intended to replace it everywhere with QiskitError since Terra doesn't have different exceptions per modules. Do you think having exceptions for opflow and algorithms is a better option ?

[2020-12-07 14:07] mtreinish commented on #5476
Ok cool, sure that's fine. I just wanted to make sure this wasn't lost. FWIW, there are a couple of modules that do subclass exception types: https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/visualization/exceptions.py and https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/transpiler/exceptions.py so we can defer to whatever you think is best.

[2020-12-07 14:20] taalexander commented on #5472
Another option would be to create a circuit that applies an `x` across all qubits and schedule. From that `x` extract the duration.

Due to the way the imports are structured in the `compiler` module, this can lead to circular dependencies between `circuit -> compiler -> pulse -> compiler` but it is possible to negotiate as shown in `pulse.builder`.

[2020-12-07 21:17] #5470 closed

[2020-12-08 03:51] #5304 closed

[2020-12-08 08:28] ikkoham commented on #5475
I am doing this issue https://github.com/Qiskit/qiskit-aqua/issues/1427. I will deprecate the legacy WeightedPauliOperator after Z2 is finished.

[2020-12-08 15:37] mtreinish commented on #5100
After #5471 and #5485 the import performance here is a lot better. The only 2 things after #5485 is finished and merges that will be good to do is remove the fastjsonschema import time compilation (which is deprecated and is just a matter of time) and then something for `__qiskit_version__`. `__qiskit_version__` is a bit more involved to do lazily because it's defined as a module attribute that's

[2020-12-08 16:37] #5393 closed

[2020-12-08 16:54] QacoBot opened #5487 "Branch `master` is failing"
Trying to build `master` at commit afdf57ded79deaa05cb2d05185882fb7b7fb1798 failed.
More info at: https://travis-ci.com/Qiskit/qiskit-terra/jobs/456119796

[2020-12-08 17:29] kdk commented on #5487
From #5217 .

[2020-12-08 17:29] #5487 closed

[2020-12-08 18:25] paniash commented on #5472
Can I take this up? I'm quite new but would love to contribute and would appreciate some pointers.

[2020-12-08 23:07] kdk commented on #5409
Currently, setting `layout_method='noise_adaptive'` will not prevent `CSPLayout` from running (and setting a layout if it finds one which does not require routing). This is noted in the `transpile` docstring, but might not be obvious behavior and might be worth changing. Thoughts @1ucian0 ?

@sudhakarsingh27 Feel free to post your code for building and transpiling your circuit here.

(Also, FYI, C

[2020-12-09 05:18] t-imamichi opened #5493 "Migration guide of Qiskit Aqua"
### What is the expected enhancement?

The core module of Qiskit Aqua is migrating to Qiskit Terra now.
https://github.com/Qiskit/qiskit-terra/pull/5422
https://github.com/Qiskit/qiskit-terra/pull/5460
https://github.com/Qiskit/qiskit-terra/pull/5479
https://github.com/Qiskit/qiskit-terra/pull/5477

Because it is a big change for developers, we need a migration guide for developers, e.g., how to r

[2020-12-09 06:44] #5461 closed

[2020-12-09 10:10] 1ucian0 commented on #5409
I'm back and forward about this. rn, I think the transpiler should always honor `layout_method` and skip `CSPLayout`. Let me try to write a short PR to test if that flies.

[2020-12-09 12:13] mtreinish commented on #5493
We probably should wait until things are more finalized before we start writing a migration guide in the documentation. Those PRs are just the initial migration of the code with history form aqua into terra. There is still a bunch of refactors that need to happen. When we've finalized the API of what's been migrated then I think we can write a guide. I was planning to do this as part of the standa

[2020-12-09 13:07] #5476 closed

[2020-12-09 13:38] t-imamichi commented on #5493
I agree. It's no problem if we have the migration guide when we finalize the API and release the next version.

[2020-12-09 15:58] #4053 closed

[2020-12-09 15:58] #4756 closed

[2020-12-09 17:08] sudhakarsingh27 commented on #5409
Attaching here the experiment.
[experiment.zip](https://github.com/Qiskit/qiskit-terra/files/5667376/experiment.zip)

@kdk Our experiments rely on the `noise-adaptive` capabilities of the transpiler and without that, the experiments fail in the newest qiskit (0.23) version.
Also, if `layout_method` isn't able to enforce the characteristic then perhaps it's misleading for the user.

Will it sill pr

[2020-12-09 23:41] kdk commented on #5409
There might be something else at play here. This behavior (CSPLayout always runs for optimization levels 2 and 3) has been in place since CSPLayout was added in qiskit 0.18.

Agree, see PR https://github.com/Qiskit/qiskit-terra/pull/5495 .

You can look for more detail at the implementation in #5075, but my understanding is that it will find, of the available layouts which satisfy the csp constrai

[2020-12-10 01:01] #5296 closed

[2020-12-10 01:01] #5300 closed

[2020-12-10 03:32] nkanazawa1989 commented on #5472
Yes, thank you for taking this issue. I like the scheduling approach because it seems to be robust to the backend change so basically you can take that approach :) You need to create circuit that applies x gate to all measured qubits without measurement and feed that circuit to the transpiler and scheduler then you can get the system's minimum alignment time. Or you can use scheduled circuit, i.e.

[2020-12-10 06:34] #5237 closed

[2020-12-10 15:10] mtreinish commented on #5502
The recreate script posted doesn't work because I don't have the input json. I was able to recreate the segfault locally with:

[code]
It looks like the segfault is coming from retworkx because on my system the kernel log:
[code]
My guess is it's a bug in the python binding lib that retworkx uses somewhere. When you were able to make it work on `0.19.6`
 what version of retworkx were you using?