[2021-11-04 12:37] #7223 closed

[2021-11-04 12:44] EliasCombarro commented on #7223
Thank you

[2021-11-04 13:11] #7176 closed

[2021-11-04 14:17] yjt98765 commented on #7172
The problem I mentioned above, i.e., not using parameters in a gate's body, is the same as this [example](https://github.com/Qiskit/qiskit-terra/blob/main/test/python/circuit/test_circuit_qasm3.py#L492-L506):
[code]
Therefore, the authors should be aware of this problem. There are probably some documents, issues, pull requests, or code comments that explain the reason or the difficulties leading t

[2021-11-04 17:02] jlapeyre commented on #7224
@epelofske-LANL Thanks for reporting this!

[2021-11-04 17:14] jlapeyre commented on #7147
Thanks @epelaaez . It is important that you documented this issue to begin a discussion of how and when it can be addressed. (And of course, PRs are welcome! ;)  )

[2021-11-04 17:16] levbishop commented on #7224
Thanks for the report. In this particular case you pasted above the warning is overzealous and is safe to ignore. Z.SX.Z is indeed a longer sequence in terms of gate count, but nevertheless actually preferable over SX.X in terms of fidelity (Z gates do not cause infidelity for common hardware platforms). We changed this message to a DEBUG level log message in #7124 Since the warning can still in c

[2021-11-04 17:16] #7224 closed

[2021-11-04 17:30] wahaj commented on #7209
Well, maybe the problem isn't in the `C3SXGate` class, because it is defined using the decomposition that is theoretically correct. Since the `C4XGate` also works fine using it as a base, maybe the problem isn't in the `C3SXGate` class, but rather there may be something funky going on in the `control` method of the `SXGate` class, with problems popping up with more than 2 units of control. Since t

[2021-11-04 18:00] jlapeyre commented on #6684
See also #4985

[2021-11-04 18:15] jakelishman commented on #7209
The control method is fine - it just defers to the standard `Gate.control` decomposition, and you can just see in the tensor-product structure of the output matrix that it's correct in this simple case.  If you construct the controlled gate matrix with `np.kron`, it's clear:
[code]

The problem is that `C3SXGate` is giving exactly the same matrix as `SXdgGate` with 3 controls, not `SXGate`.  This

[2021-11-05 01:48] wahaj commented on #7209
Well because it is defined according to the method described in [ Barenco et al., 1995.](https://arxiv.org/pdf/quant-ph/9503016.pdf) in

But looking closer, the decomposition is supposed to start and end with a _positive_ phase in the paper as opposed to starting and ending with the _negative_ phase (**pi/8**) I guess but you can have a look

[2021-11-05 07:26] Cryoris commented on #7209
I think @wahaj is right, the decomposition in Qiskit has the wrong sign. The decomposition uses
<img width="746" alt="image" src="https://user-images.githubusercontent.com/5978796/140473391-5c0a0be9-be97-41e8-a207-66fca52b43d2.png">

where `V` should be `H P(pi/8) H`, since then `V^4` equals the square root of X. Instead in the code it uses `P(-pi/8)`.

If we fix that, we can also directly remove

[2021-11-05 11:39] epelaaez commented on #7164
Sorry for the delay, but I've created a draft pull request adding the gate, feel free to leave any comments.

@Cryoris I am not sure about the way I implemented the default value for beta in `QuantumCircuit.xy` and in `XYGate`, could you check that out and tell me if I should make any changes? Also, what tests should I create/modify for the new gate?

[2021-11-05 11:48] jakelishman commented on #7209
I actually found this as part of trying to remove the `angle` keyword!  Still, though - if we remove the `angle` keyword, we won't have an efficient representation for `C3SXGate().inverse()` any more (though we can always just put in a `C3SdgXGate` in theory).

I think we're actually on the same page here - flipping the angles is the same as the replacement for `V` that you're talking about, and t

[2021-11-05 12:01] Cryoris commented on #7209
Good question for the inverse but maybe the default inverse is actually good enough since that should just invert every gate which should do nothing but inverting the angle.

[2021-11-05 12:09] jakelishman commented on #7209
We'll need to redefine its `inverse` method to dodge `ControlledGate`'s `inverse` which will mess everything up, but otherwise, yeah, it should work.  I suppose it'll invert the order of the gates as well, but that's no big deal.

[2021-11-05 12:28] alanbrilliant commented on #3425
I'm experiencing the same problem, in that I'm trying to parallelize Aer, only for all of my calls running the circuit to hang. None of the solutions suggested here have fixed my issue. Is there any update to this?

[2021-11-07 20:20] Cryoris opened #7233 "Should we replace ``BlueprintCircuit``s by gate with compile-time synthesis?"
### What is the expected enhancement?

The `BlueprintCircuit` is a circuit template stores all the specifications it needs to build the circuit and is then constructed once it’s needed, i.e. once `.data` is accessed. For example, the `RealAmplitudes` circuit needs to know the number of qubits to be constructed and has some optional attributes like the entanglement structure or the number of times

[2021-11-08 03:06] dbiersach opened #7234 "Inconsistent output in array_to_latex()"
### Information

- **Qiskit Terra version**: Qiskit Terra 0.18.3
- **Python version**: Python 3.9.7
- **Operating system**: Windows 10 (x64)

### What is the current behavior?
**array_to_latex()** does not emit consistent latex depending on the sign of a numpy array element
For example: -5.664 gets emitted as the fraction -708/125 while 5.664 is not converted to a fraction

### Steps to reproduce

[2021-11-08 10:16] jakelishman commented on #7234
This seems like an oversight, thanks for the report!

[2021-11-08 11:08] jakelishman opened #7235 "Spurious coverage changes reported on PRs"
### Information

- **Qiskit Terra version**: main
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

Coveralls will often indicate spurious changes in coverage, due to randomness, or protective code not needing to run.  For example, [this comment](https://github.com/Qiskit/qiskit-terra/pull/6551#issuecomment-958537718) indicates a change in `qiskit/pulse/libr

[2021-11-08 11:29] nonhermitian commented on #4451
This is actually quite nice to have, and saves writing a for-loop just to add gates where you know they are going to go.  Useful for cluster states, GHZ states etc.

[2021-11-08 15:03] jakelishman commented on #7235
Just collecting other times when I see spurious coverage changes, to try and make sure we're seeing all files:
- https://coveralls.io/builds/44092315

Mercurial files:
- qiskit/extensions/quantum_initializer/uc.py
- qiskit/pulse/library/waveform.py

[2021-11-08 16:50] ChrisRoch commented on #6734
@1ucian0 I got exactly the same problem like QubitDaddy, when number of variables in the CNF file is greater or equal 10.

Qiskit version = 0.31.0
tweedledum = 1.1.1
Python version = 3.8.5
Operating system = macOS Big Sur 11.2

[2021-11-08 17:27] 1ucian0 commented on #6734
Reopening. Let's have another look

[2021-11-08 17:27] 1ucian0 commented on #6734
Reopening. Let's have another look

[2021-11-09 01:40] ajavadia opened #7238 "define LinearFunction class and collect blocks of gates that make a LinearFunction"
A generalization of #7236: collect all blocks of gates consisting of CX and SWAP ~(and multi-controlled X)~. Then this n-qubit block can efficiently be represented by an `nxn` matrix, which encodes a "linear function". There are then known ways of synthesizing this linear function (one of them is in qiskit under the patel-markov-hayes algorithm).
(See fig 2 here and the matrix A above it for an ex

[2021-11-09 02:05] ajavadia commented on #4451
@nonhermitian you are right but I think an internal poll indicated that most people expected this to create a multi-controlled gate.

[2021-11-09 09:36] epelofske-LANL opened #7239 "malloc error in simulators"
### Information

- **Qiskit Terra version**: `qiskit-terra==0.18.3`
- **Qiskit version**: `qiskit==0.31.0`
- **Python version**: 3.9
- **Operating system**: macOS

### What is the current behavior?

When executing noise simulations on *some* circuits, I get this error:
[code]

### Steps to reproduce the problem

I do not know all of the conditions that cause this problem. The problem seems to occu

[2021-11-09 14:28] #7209 closed

[2021-11-09 14:44] adrianor commented on #7210
Yep, actually I found the problems you mention and indeed posted the solution in the body of my answer. I guess we can close the topic now, but it would be would not to delete this post for further reference.

[2021-11-09 14:47] jakelishman commented on #7210
Ok, glad you solved it!  Python environments can be a bit of a nuisance.

I'll close the issue now - we never delete issues, they just hang around on GitHub forever.

[2021-11-09 14:47] #7210 closed

[2021-11-09 16:00] chriseclectic opened #7242 "Add `StabilizerState` support to `state_fidelity`"
### What is the expected enhancement?

Currently the `StabilizerState` class is not supported by the `state_fidelity` function which can only handle Statevector and DensityMatrix states.

This function should be extended to have an efficient form of computing the state fidelity between two stabilizer states, and a (probably inefficient) version for computing the fidelity between a stabilizer state

[2021-11-10 11:58] ShellyGarion commented on #7238
Can this issue replace #6038 ?

[2021-11-10 12:28] jakelishman opened #7246 "`Clbit` indexing in `c_if` inconsistent with circuit indexing"
### Information

- **Qiskit Terra version**: main
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

If two classical registers have a non-empty intersection of clbits, it's possible to have `InstructionSet.c_if` resolve an integer index to a different value than the original `QuantumCircuit` would.

### Steps to reproduce the problem

[code]

### What is the

[2021-11-10 12:39] jakelishman opened #7247 "Chained calls to `c_if` overwrite previous `condition`"
### Information

- **Qiskit Terra version**: main
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

`Instruction.c_if` overwrites the previous condition, regardless of whether or not a condition existed.  This means that chained calls do not produce nested `if` statements, but instead replace the call.

### Steps to reproduce the problem

[code]

### What is

[2021-11-10 12:54] jakelishman opened #7248 "`QuantumCircuit.draw` fails on a condition with a registerless `Clbit`"
### Information

- **Qiskit Terra version**: main
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

The circuit drawers (certainly the text one, prob fail if there is a condition on a `Clbit` that is not in any registers.

### Steps to reproduce the problem

[code]

This happens with `output="mpl"` and `output="latex"` as well.

### What is the expected beha

[2021-11-10 13:03] jakelishman opened #7249 "Each `c_if` call linear in number of circuit `Clbit`s"
### Information

- **Qiskit Terra version**: main
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

Any call to `Instruction.c_if` is linear in the number of `Clbit` references in classical registers in the circuit.  This is because of some lines in `InstructionSet` that unroll all registers on every call: https://github.com/Qiskit/qiskit-terra/blob/49110f9c

[2021-11-10 13:06] jakelishman opened #7250 "`c_if` fails when using indexing if there are no classical registers in the circuit"
### Information

- **Qiskit Terra version**: main
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

All `c_if` statements immediately fail if there are no classical registers defined in the circuit, only loose bits, and one tries to specify the condition with an index.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

There sho

[2021-11-10 14:10] #7214 closed

[2021-11-10 16:58] divshacker opened #7253 "Update issue templates to latest one"
GitHub has rolled out new issue forms for public repository.
https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/
Please check this out.
I recently got to know about this Feature. It will be good if we implement this in this repository.

### What is the expected behavior?

[2021-11-10 22:29] enavarro51 commented on #7248
@jakelishman I can take a look at this for all 3 drawers. Just doing a quick change on 'mpl' I got this. Not sure what a label should look like for this, but I guess `_0` is reasonable.
![image](https://user-images.githubusercontent.com/16268251/141204097-bfbb0cfc-6d45-482e-bd93-8e47ea561276.png)

[2021-11-10 22:32] jakelishman commented on #7248
Honestly, I have no opinion on the drawers, and I'm generally prepared to go with whatever label you suggest seems sensible. I guess as long as it in some way matches the wire's label on the very left edge I'm happy. Thanks for taking it!

[2021-11-11 00:53] zohimchandani opened #7256 "Valid coupling map not accepted"
### Information

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-11-11 09:03] ikkoham commented on #7242
The efficient method to calculate an inner product between two stabilizer states is described in the last of Sec. Ⅲ https://arxiv.org/abs/quant-ph/0406196.

[2021-11-11 11:19] ShellyGarion commented on #7242
Does this depend on #7245 being merged?

[2021-11-11 11:22] jakelishman commented on #7097
Hi @st4eve, how's it going?  Do you need any help on getting this working?

[2021-11-11 15:32] Matt-Stypulkoski opened #7259 "%qiskit_backend_overview returns ZeroDivisionError"
### Information

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.8.10
- **Operating system**: macOS Big Sur Version 11.6 (Though running in Quantum Lab also produces this error)

### What is the current behavior?
Running the following code results in a `ZeroDivisionError`:
[code]

This is the full stack trace returned:
[code]

### Steps to reproduce the problem
Run the code snippet abov

[2021-11-11 16:05] deeksha-singh030 commented on #7234
Can I work on this issue?

[2021-11-11 16:12] jakelishman commented on #7234
Sure, I'll assign you.  Let us know if you've got any questions.

[2021-11-11 17:27] jakelishman commented on #7259
Thanks for the report.  Hopefully this should be fixed by #7260 - if you're able to test that out, it'd be great, because by default I don't have access to any of the problematic machines, and our testing infrastructure is a bit lacking in that area.

---

By the way (and this has no impact on the bug you're reporting), you may want to check your Jupyter environment is what you expect - you said y

[2021-11-11 17:54] st4eve commented on #7097
Thanks for following up with me. I am new to contributing and I was having trouble getting the tox test file to run properly. I am on a windows machine and for some reason the test file always throws:

ERROR:   py38: InvocationError for command 'C:\Users\coshc\qiskit-terra\.tox\py38\Scripts\pip.EXE' install '-cC:\Users\coshc\qiskit-terra/constraints.txt' -U --exists-action w -e . (exited with code

[2021-11-11 21:43] #7259 closed

[2021-11-12 15:39] #6038 closed

[2021-11-13 17:40] sg495 opened #7263 "Better use for the `figsize` argument of `plot_bloch_multivector`"
### What is the expected enhancement?

The `figsize` argument of `plot_bloch_multivector` is currently not used by the visualisation, so it is impossible to change its size (e.g. to shrink it for single-qubit states). The following tiny change to its code would use `figsize` as a hint for individual bloch ball sizes, enhancing the usability of this visualization:

[code]

Comparison of a single-qu

[2021-11-13 17:54] sg495 commented on #7197
@jakelishman That was (obviously) a typo: the middle gate is an RX.

[2021-11-13 20:23] 1ucian0 commented on #7263
Hi @sg495 ! Do you think you can turn this issue into a PR?

[2021-11-13 20:36] 1ucian0 commented on #7253
Thanks for the headsup! #7258 is on its way.

[2021-11-13 21:11] 1ucian0 commented on #7256
The problem is that your coupling map misses nodes 8 and 9. However, the `CouplingMap` on works only on contiguous nodes, creating a disconnected coupling map of size 18:
[code]
Nodes 8 and 9 are loose. If you rename your nodes, that will make it. The full faulty-qubit infrastructure creates a "proxy" coupling map that maps the biggest connected sub-coupling map into a continues one and back. I'm

[2021-11-13 22:14] sg495 commented on #7263
Sure thing, I'll do that tonight 👍

[2021-11-15 10:42] jakelishman commented on #7097
We would probably need to see the full logs that those commands allude to, but most likely the problem is that you don't have a correctly working C compiler on your system.  There's a little intro to the "building Terra from source" section on the website that says:

Have you got those installed?  In particular, since that link seems to be slightly out of date now, you want the thing that's now ma

[2021-11-15 11:37] brandhsn commented on #6974
I had a look at finding sub-maximal matches if there is an inconsistent parameter set and the particular template match in this issue can be fixed by replacing https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/passes/optimization/template_matching/template_substitution.py#L326 with
[code]
This works well if the expression leading to a set of inconsistent parameters is at the end o

[2021-11-15 13:30] dlasecki opened #7268 "Ensure efficient use of samplers in VarQte."

[2021-11-15 13:33] javabster commented on #7235
the coveralls github action generates coverage reports by running `tox -ecoverage` so we should edit our `coverage3` configs for this. I don't think we have a dedicated coverage config file with any existing ignore lists, so would probably need to add it in `tox.ini`. Having a quick look at the [coverage.py docs](https://coverage.readthedocs.io/en/coverage-4.3.3/excluding.html) it seems we could a

[2021-11-15 18:28] Cryoris commented on #6812
I think that comment is to avoid the following: assume you construct a circuit with some parameters and it just happens that these cancel out (like two Rx rotation angles with opposite sign), if SymPy would remove this parameter, binding it would fail since it doesn't exist anymore. But the user might be unaware that is was optimized away so that's weird 😄

[2021-11-15 18:32] jakelishman commented on #6812
In general this is a full reference-counting problem here; it's not enough to say "if this expression loses parameters, remove them from the symbol table", because there might be _other_ expressions that also use the parameter.  I _think_ here it shouldn't be too bad to implement a basic ref-counter for the parameters in `ParameterTable` because there's no such thing as a cyclical reference when y

[2021-11-15 19:32] levbishop commented on #7235
I think more likely the main problem with the fluctuations is residual randomness in the tests. We've been gradually adding explicit seeds to the worst-offending tests outside of `randomized/` subdirectory but I'm sure there's plenty that were missed.

Adding exclude_lines and pragmas I think would be separately useful for getting to 100% coverage by avoiding "false positives" - for example there'

[2021-11-15 21:47] #7253 closed

[2021-11-16 07:16] ewinston opened #7271 "Hoare optimizer fails for some circuits"
### Environment

- **Qiskit Terra version**:  0.19.0.dev0+a603740
- **Python version**:  3.8.5
- **Operating system**: Linux

### What is happening?

Certain simple circuits fail raising a ValueError in `_multigate_opt` when trying to remove a node from its self.gatecache.

I came across this when running random circuits through the pass and failures seem to occur when there are repeated gates at

[2021-11-16 10:30] javabster commented on #7097
I'd also recommend double checking you've followed all the steps in the [Installing terra from source](https://qiskit.org/documentation/contributing_to_qiskit.html#installing-terra-from-source), including the final `pip install -e .` step 😄

[2021-11-16 11:12] jakelishman opened #7272 "Terra incompatible with `matplotlib==3.5.0`"
### Environment

- **Qiskit Terra version**:  0.19.0.dev @ 7e118e8
- **Python version**: 3.7+
- **Operating system**: any

### What is happening?

CI is currently failing on all docs and Linux 3.7 builds (only this one because the image tests are in it).

The docs failure is:
[code]

and the Linux py3.7 failure is:
[code]

### How can we reproduce the issue?

Check a recent CI run.

### What shoul

[2021-11-16 11:29] jakelishman commented on #7272
The py3.7 failure is related to [this message in the MPL deprecations](https://matplotlib.org/devdocs/api/prev_api_changes/api_changes_3.4.0.html#renderer-argument-of-do-3d-projection-method-for-collection3d-patch3d), though that's from 3.4, so not certain why it's just appearing now.

[2021-11-16 13:40] jakelishman commented on #7235
Yeah, the type hinting stubs thing isn't really the same thing as the other spurious coverage changes, but that repo Lev's linked looks good for it.  I don't know if we need the other things in that plugin though, so we could just copy over their defaults into our `pyproject.toml` rather than adding another dependency.

It's probably going to be impossible to eliminate _all_ randomness from tests

[2021-11-16 15:37] mtreinish commented on #7272
I'm tagging this as 0.19.0 because we should try to come up with a fix for this before we release. Shipping packages with upper caps on requirements (even optional ones) is potentially problematic for users

[2021-11-16 16:40] mtreinish commented on #6188
Just updating the name of this issue to reflect the underlying thing that's going wrong. It's not actually hanging unit tests anymore since #6524 we disabled multiprocessing by default on python 3.9

[2021-11-16 19:56] #7246 closed

[2021-11-16 19:56] #7247 closed

[2021-11-16 19:56] #7249 closed

[2021-11-16 19:56] #7250 closed

[2021-11-17 05:01] yjt98765 commented on #7271
@ewinston I found the problem. Basically, the H gate in the middle is deleted twice. See my PR for more details.

There could be multiple solutions. I have chosen an obvious one, by recording the deleted gates during the iteration. Alternatively, the function should check whether the node still exists in the `DAGCircuit`. This way does not need to add an additional set (like I did), but I did not

[2021-11-17 14:00] jakelishman opened #7280 "Parameters are not tracked from within ControlFlowOp blocks"
### Environment

- **Qiskit Terra version**: 0.19.0dev @ 271a82f
- **Python version**: any
- **Operating system**: any

### What is happening?

When adding a `ControlFlowOp` to `QuantumCircuit`, the parameter table is not updated with any of the parameters that occur in the bodies of the control-flow operators.

### How can we reproduce the issue?

[code]

### What should happen?

The inner parame

[2021-11-17 18:52] ajavadia opened #7283 "add circuit diagrams to source code when some claim about a circuit is made"
### What is the expected enhancement?

when reading source code that is related to some circuits, it is often useful to be able to see the circuit.

examples are transpiler tests (which claim two pre-/post-transpile circuits are equivalent), and circuit equivalence libraries.

Examples of files that have this already:
https://github.com/Qiskit/qiskit-terra/blob/main/test/python/transpiler/test_dyn

[2021-11-17 19:23] enavarro51 opened #7284 "Circuit drawers fail with bits as conditions"
### Environment

- **Qiskit Terra version**: Current main
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is happening?

The method `_get_layered_instructions` in `qiskit.visualization.utils.py` makes the assumption when placing gates into layers for display that all conditions and all measures are on registers only. Using bits will crash all 3 drawers as shown in the circuit be

[2021-11-18 09:33] anedumla opened #7286 "SuzukiTrotter class should not accept odd orders"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:
It applies to all environments.

### What is happening?

The SuzukiTrotter class in `qiskit.synthesis.evolution` currently accepts any integer as input for the order. However the formula is not defined for odd orders (see definition below) and even though the code works on such input, the results do not make

[2021-11-18 09:36] Cryoris commented on #7286
An order of 1 would still make sense I think as that's just the Lie-Trotter formula 🙂 Do you have an example of why the results are weird for other odd higher orders?

[2021-11-18 09:47] anedumla commented on #7286
At the moment an order `1` would only give the right answer if `time=1`, because the coefficients in `pauli_list` are never multiplied by time.
[code]
These formulas are symmetric, which means that they do not have odd order errors. I could add an example where it does not converge as you increase the number of Trotter steps but intuitively the formulas are defined so that you cancel these odd err

[2021-11-18 10:54] yaelbh opened #7287 "An unrelated warning when transpiling an empty set of circuits"
### Environment

- **Qiskit Terra version**: a60374091
- **Python version**: 3.9.5
- **Operating system**: Linux

### What is happening?

Transpilation of an empty set of circuits issues a warning about schedule transpilation.

### How can we reproduce the issue?

[code]
Output:
[code]

### What should happen?

No warning

### Any suggestions?

Just write
[code]
Write before the line
[code]

[2021-11-18 11:25] jakelishman commented on #7287
Sounds sensible - we only enter that block as a side-effect of `all([])` being defined as `True`.  Fix in #7288.

[2021-11-18 11:54] jakelishman commented on #7284
Yeah, this seems like it's another manifestation of the old assumptions that registers were the primitive, and bits were purely an element of a register.  That's the case in all the drawers for the purposes of picking labels as well:
[code]

I think we probably need to make sure we're all on the same page that registers are now just "a handle to some bits", and then perhaps look at the drawers (an

[2021-11-18 13:20] #5148 closed

[2021-11-18 13:20] taalexander commented on #1931
This is no longer necessary as part of the transpiler.

[2021-11-18 13:20] #1931 closed

[2021-11-18 13:20] taalexander commented on #3749
This has long since merged. Closing.

[2021-11-18 13:20] #3749 closed

[2021-11-18 13:21] taalexander commented on #3885
This is now supported.

[2021-11-18 13:21] #3885 closed

[2021-11-18 14:37] enavarro51 commented on #7284
Yeah, I feel like a lot of this transition has been a bit ad hoc. A high-level overview of this would be helpful with some clear guidance on how we want to present it qiskit-wide. #6761 is the next level that may not work in some hidden places.

Can you assign this one to me?

[2021-11-18 14:38] jakelishman commented on #7284
Sure thing, thanks for all the work on this stuff!

[2021-11-18 20:12] kdk opened #7290 "Investigate performance of `Layout.__getitem__` and similar"
As for the deprecation I think that probably makes sense, but we maybe should do that in a follow up because I don't know how widely used it is

_Originally posted by @mtreinish in https://github.com/Qiskit/qiskit-terra/pull/7036#discussion_r742291355_

[2021-11-18 21:16] #7287 closed

[2021-11-19 01:42] yjt98765 commented on #7283
Can you assign me to this task? I am still new to this project. This seems like a great way to browse the source code while doing some useful work!

[2021-11-19 10:24] anedumla commented on #7222
Yes you are right but I'm not sure why the classes don't appear in the docs or how to fix it.

[2021-11-19 11:33] jakelishman commented on #7222
@anedumla: the algorithms documentation is built by cascading from `.. autosummary::` directives in the module docstring of `qiskit.algorithms`.  If you look in `qiskit/algorithms/__init__.py`, the module-level docstring corresponds to [this page on the documentation website](https://qiskit.org/documentation/apidoc/algorithms.html).  Each of the `.. autosummary::` directives produces one of those

[2021-11-19 12:41] anedumla commented on #7222
@jakelishman thanks a lot, I was not aware of that - I will add the missing classes and polish a bit the documentation page for the linear solvers.

[2021-11-19 14:10] kdk opened #7293 "Support control flow ops in QASM3 exporter"
### What is the expected enhancement?

The QASM3 exporter is presently unaware of any of the op types in `qiskit.circuit.controlflow`, and will attempt to export them as opaque gates. It should be able to recognize them, and export the matching QASM3 control flow statements.

[2021-11-19 23:08] #7035 closed

[2021-11-20 15:45] 1ucian0 opened #7296 "double swap is not being optimized out when followed by a gate"
### What is the expected enhancement?

Consider the following situation:
[code]
![image](https://user-images.githubusercontent.com/766693/142732387-d67e4793-1ecb-4d9e-8fad-4a1e333b010b.png)

When transpiled at level 3, the swap gates are optimized out
[code]

![image](https://user-images.githubusercontent.com/766693/142732379-d41e15b7-cec7-486b-8d4a-0c23ddc140b8.png)

Let's add a gate at the end:

[2021-11-20 17:15] georgios-ts commented on #7296
In the first example, the swap gates are actually optimized by [`OptimizeSwapBeforeMeasure`](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/transpiler/passes/optimization/optimize_swap_before_measure.py) (hint: try with just one swap, it'll still be removed) while in the second example, placing an `HGate` at the end, prevents the transpiler from applying this optimization.

Notice though

[2021-11-20 18:16] 1ucian0 commented on #7296
I think swap should be like cnot and h.

On Sat, Nov 20, 2021, 7:15 PM georgios-ts ***@***.***> wrote:

[2021-11-22 06:58] HGmin1159 opened #7298 "qiskit.QuantumCircuit.initialize()"
### What is the expected enhancement?

I found that when I built custom data encoding methods in parameterized quantum circuit, we cannot use parameter instance(;qiskit.circuit.Parameter) at the qiskit.QuantumCircuit.initialize() function. It returned error according to follow code in qiskit.QuantumCircuit.initialize line 74~75 because the contemporary parameter instance cannot works with numpy.ab

[2021-11-22 21:24] Cryoris commented on #7298
If you want to define a parameterized initialize instruction you can use the [`RawFeatureVector`](https://github.com/Qiskit/qiskit-machine-learning/blob/main/qiskit_machine_learning/circuit/library/raw_feature_vector.py) of Qiskit ML:

[code]

[2021-11-22 23:58] HGmin1159 commented on #7298
Oh, I didn't know that. Thank you sir.
Maybe I need to check all of the relevant qiskit functions and organize them.

Thank you again.

[2021-11-23 07:35] ShellyGarion commented on #7238
minor correction: multi-controlled X should be excluded it’s not linear. Just CX gates.

[2021-11-23 07:51] Cryoris commented on #7298
If we want to have this feature in Terra we can just port it from Qiskit Machine Learning 🙂 I think we actually wanted to do this some time ago but never got around to doing it 😄

[2021-11-23 08:39] javabster commented on #7283
Assigned to you @yjt98765! Remember to read the [Contributing Guidelines](https://github.com/Qiskit/qiskit-terra/blob/main/CONTRIBUTING.md), and let us know if you need any help 😄

[2021-11-23 08:52] yjt98765 commented on #7283
Thank you

[2021-11-23 16:52] enavarro51 opened #7303 "Circuit drawer reverse_bits does not reverse registerless bits"
### Environment

- **Qiskit Terra version**: Current main
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is happening?

When using classical registers only with `reverse_bits`, the registers and the bits in the registers are reversed before display. However, bits without registers are reversed in terms of usage, but are not reversed when displayed.

[code]
![image](https://user

[2021-11-23 16:56] jakelishman commented on #7303
Assigned, thanks!

[2021-11-23 17:59] dani-guijo commented on #4158
I like the proposed solution by @1ucian0 and I'd be willing to fix this bug if it's possible. Can I get assigned to it?

[2021-11-23 18:07] jakelishman commented on #4158
Thanks!  I've assigned you (after a false start...).

Given that the last discussion didn't seem to finish completely, I'd suggest that it might be best just to implement the behaviour of `new_creg=False` be to work if the number of clbits in the circuit is exactly equal to the number of qubits, and raise `CircuitError` if not, at least at the beginning.  If others further respond in this issue or

[2021-11-23 19:54] #7272 closed

[2021-11-24 08:25] HuangJunye opened #7306 "No error is returned when `num_qubits` is `None` when instantiating circuits in the circuit libray"
### Environment

- **Qiskit Terra version**: 0.18.3
- **Python version**: 3.8.10
- **Operating system**: Linux (IBM Quantum Lab)

### What is happening?

No error is returned when `num_qubits` is `None` when instantiating circuits in the circuit library.

### How can we reproduce the issue?

[code]
returns an empty list indicating that qc is an empty circuit.

### What should happen?

I think ther

[2021-11-24 08:28] HuangJunye commented on #7306
This applies to many circuits in the circuit libray: `TwoLocal`, `NLocal`, `EfficientSU2`, etc. where `num_qubits` is an optional parameter. Is this behavior intended?

[2021-11-24 09:49] patdenim commented on #7242
Can this function be extended to compute the state fidelity between two` superposition` of `stabilizer states` too?  not only between 2 Stabilizer states.....   This is a request from Keio university.

[2021-11-24 10:37] jakelishman opened #7307 "Tests do not respect `unittest.expectedFailure`"
### Environment

- **Qiskit Terra version**: 0.19.0.dev0 @ f6ab3a9
- **Python version**: any
- **Operating system**: any

### What is happening?

If you use the `unittest.expectedFailure` decorator on a test in a `QiskitTestCase` class, the test just reports a regular failure rather than a correct xfail.

### How can we reproduce the issue?

This is a sample test file `test_failures.py`:
[code]

T

[2021-11-24 10:42] jakelishman opened #7308 "Tests do not respect `unittest.subTest`"
### Environment

- **Qiskit Terra version**: 0.19.0dev0 @ f6ab3a9
- **Python version**: any
- **Operating system**: any

### What is happening?

Tests do not run subsequent `unittest.subTest` blocks if one fails, and do not report the parameterisations in use at the time of the failure.

### How can we reproduce the issue?

An example test file, called `test_subtests.py`:

[code]

and run with eit

[2021-11-24 14:07] TakahitoMotoki commented on #6633
Can I tackle this problem ?
It is the first time to contribute to Qiskit, but I would be happy if I could try.

[2021-11-24 16:21] #7307 closed

[2021-11-24 17:58] andrenmelo opened #7312 "Subclasses of TwoQubitWeylDecomposition are not dill-serialisable"
### Environment

- **Qiskit Terra version**: e42e90bbe13c1fe0673d63654fe0682f31ff8acf
- **Python version**: 3.9.1
- **Operating system**: Mac OS Big Sur 11.3.1

### What is happening?

Any subclasses of `TwoQubitWeylDecomposition` are not serialisable.

### How can we reproduce the issue?

[code]

will result in

[code]

This becomes an issue when defining custom pass managers, e.g.

[code]

This

[2021-11-24 19:05] mtreinish commented on #7312
Yeah, looking at the code the way the `PassManager` class is doing the parallel dispatch it's incorrect and could never work unless we were guaranteeing all Passes are pickleable which we traditionally haven't enforced. This was never caught because the `transpile()` path does it's own parallelism: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/compiler/transpiler.py#L321-L322 where it in

[2021-11-24 19:41] mtreinish commented on #7308
I believe this is a bug in testtools result handler (especially after #7311) that we use primarily so we can get attachments of stdout, stderr, and pylogging when running in parallel with stestr (without this they just print all at the same time making it hard to debug). We'll have to investigate and report upstream I think to try and fix this.

[2021-11-25 00:22] levbishop commented on #7312
I'll fix the `TwoQubitWeylDecomposition` pickle piece since its easy. Agree that there is a larger issue to discuss around parallelism

[2021-11-25 03:02] HuangJunye commented on #7306
After some thoughts, this might be an intended behavior. For example, we might want to specify only the general structures of the ansatz and pass to VQE. And then it’s up to the VQE algorithm to decide how many qubits are needed depending on the molecule and mapper.

Any comments? @ajavadia @Cryoris

[2021-11-25 08:07] Cryoris commented on #7306
As you said it's intended that you can define the circuit without num qubits so that it can be set later in the algo flow. However it's weird that it just builds an empty circuit if asked for it, I agree. We can add a check in the `check_configuration` method that ensures a number of qubits is given before the circuit is built.

[2021-11-25 13:39] #5982 closed

[2021-11-25 14:18] 1ucian0 opened #7314 "Parameters needs examples in the documentation"
### What is the expected enhancement?

Many users land in https://qiskit.org/documentation/stubs/qiskit.circuit.Parameter.html  when search on how to parametrize circuits. @Cryoris did a good jobs at explaining them in https://quantumcomputing.stackexchange.com/questions/13558/how-to-add-several-parameters-in-qiskit-circuit . I think the Parameter docstring needs a short example.

[2021-11-25 15:04] 1ucian0 commented on #7206
I think `qiskit/extensions/unitary.py` docstring is a good place for a short example:
[code]

[2021-11-25 16:18] jakelishman commented on #7308
It's more than just the results handler - the tests actually fail out and stop running on the first failure.  I made a simple test that leaked its run state out by touching some files:
[code]
and the result is that `t2.txt` isn't created.  I've opened testing-cabal/testtools#317 to track.

[2021-11-26 08:23] 1ucian0 commented on #7298
Would it be fair to rename this issue to `QuantumCircuit.initialize() does not support parameters`?

[2021-11-26 08:28] HGmin1159 commented on #7298
Done it. Thank you Sir.
I've never used github issue before ,so I didn't know there is a name in issue lol.

[2021-11-26 10:25] HuangJunye commented on #7306
Sounds good to me!

The error was found by many participants during the quantum challenge. The reason is that I included the following code for setting `initial_point` before passing to VQE algorithm. (similar to this tutorial: https://qiskit.org/documentation/nature/tutorials/07_leveraging_qiskit_runtime.html#VQE)

[code]

If is very common to set initial point for VQE? In that case we lose the b

[2021-11-26 13:31] eggerdj opened #7315 "Instruction duration is parameter agnostic"
### What is the expected enhancement?

## Summary

The class `InstructionDurations` in `qiskit.transpiler.instruction_durations.py` is agnostic to parameter values. This poses problems for gates that have a parameter-dependent duration.

## Details

Instruction durations are created using e.g. the following code:
[code]
Here, for each tuple, the first argument is the name of the instruction, the s

[2021-11-26 14:57] jakelishman opened #7316 "Tests use random data without seeding"
### Environment

- **Qiskit Terra version**: 0.19.dev @ b74089e26
- **Python version**: any
- **Operating system**: any

### What is happening?

We have quite a few tests that generate randomised data, without fixing a seed first.  This means very occasionally, the test suite can fail on unrelated PRs, if we get unlucky with tolerances.

### How can we reproduce the issue?

For example, [this rece

[2021-11-26 18:17] jakelishman commented on #6583
The drawer issue will be fixed by #7285.

[2021-11-26 18:40] #7271 closed

[2021-11-26 20:03] #7089 closed

[2021-11-26 20:15] stfnmangini commented on #5603
Hi everyone 👋
Is there any update on this issue? As for now, the problem persists and you incur in loosing signs depending on how you implement the composition (`*` or `&`) of Paulis, and if you use `SparsePauliOp` or just `Pauli`.

For example, all the following commands should yield the same result , but they don't:
[code]

<h3 style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quo

[2021-11-26 21:42] #7248 closed

[2021-11-26 21:42] #7284 closed

[2021-11-26 22:55] #4158 closed

[2021-11-27 03:16] riddhisw opened #7317 "Transpiler error during execution of circuits with dynamical decoupling on real backends"
### Environment

'qiskit-terra': '0.18.3', 'qiskit-aer': '0.9.1', 'qiskit-ignis': '0.6.0', 'qiskit-ibmq-provider': '0.18.1', 'qiskit-aqua': '0.9.5', 'qiskit': '0.32.1', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}

### What is happening?

A Transpiler Error occurs when executing circuits with dynamical coupling on real backends:

`Tra

[2021-11-27 13:20] stuckmar opened #7318 "PulseDefaults from_dict() method doesn't work with parameterized amplitudes."
**Information**

    Qiskit Terra version: 0.18.3

This issue is closely realted to issue "Unable to load pulse defaults due to amp being a list #4162".

**What is the current behavior?**
PulseDefaults from_dict() method fails if a Parameter variable is chosen as amplitude parameter in a command sequence.
[code]

**Steps to reproduce the problem**

Call the ```PulseDefaults.from_dict()``` method w

[2021-11-28 03:52] geegatomar commented on #7314
Hi, Can I please take this up?

[2021-11-28 06:51] alexanderivrii commented on #4699
Hi, may I please work on this issue together with Shelly (@ShellyGarion)? Thanks.

[2021-11-28 17:25] Faridelnik opened #7322 "Utility to decompose a hermitian matrix into a linear combination of Pauli operators"
### What should we add?

A utility to decompose a Hermitian matrix A into a linear combination of Pauli operators [I, X, Y, Z] is required for several algorithms (VQLS for example).

### **Expected behaviour**
[code]
[code]
[code]
[code]
[code]

P.S. If I have the working function, can I submit a pull-request to qiskit-terra.qiskit.utils?

[2021-11-28 20:38] levbishop commented on #7316
This will also help with #7235

[2021-11-29 02:48] yjt98765 commented on #7283
I found a line is missing below [line 652](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/library/standard_gates/equivalence_library.py#L652) in qiskit/circuit/library/standard_gates/equivalence_library.py.
[code]
 But after I add it, the test [test.python.circuit.test_gate_definitions.TestGateEquivalenceEqual.test_equivalence_phase](https://github.com/Qiskit/qiskit-terra/blob/mai

[2021-11-29 07:24] ikkoham commented on #5603
Thank you for checking this. I think this is resolved in main branch (dev-version).
(By the way, `*` operator has been deprecated and will be removed in Terra 0.19.0.)
So closable

[2021-11-29 09:31] javabster commented on #6633
Sure thing, assigned to you @TakahitoMotoki! Ler us know if you need any help 😄

[2021-11-29 09:50] 1ucian0 commented on #7155
In the original example, CCX does not have a possible layout in the coupling map `0 - > 1 -> 2`. No solution should be found or raise.

[2021-11-29 10:31] jakelishman commented on #7283
This is kind of a bug in the definition of `CUGate.params`; it creates an array of parameters when it returns the properties, so when `QuantumCircuit.assign_parameters` attempts to bind the new parameters, it doesn't actually update the underlying gate.  (This is just one more reason why I really dislike implicit `@property` getter methods doing actual work.)  It's an unrelated bug, so best just l

[2021-11-29 11:18] jakelishman commented on #7322
You're quite welcome to submit a PR, thanks.  The most natural place for this (for me) feels like as a classmethod constructor of `SparsePauliOp`, rather than a separate utility function - `SparsePauliOp` can represent this efficiently as a single object, and then its `coeffs` and `list` attributes would give you direct access to the two variables you're returning here.

[2021-11-29 11:36] jakelishman commented on #5603
Fixed by #6826.

I wrote a test case `_bisect.py`:
[code]
which exits with code `0` if the bug is fixed and `1` if it's there.  Then:
[code]
is the commit that fixed things.

[2021-11-29 11:36] #5603 closed

[2021-11-29 12:06] Cryoris commented on #7322
That feature already exists in the `SparsePauliOp`:
[code]

[2021-11-29 12:15] Cryoris commented on #7306
We mainly need the feature of setting the number of qubits later in the application workflow. There, the initial point is usually also determined by the application, so it's not going to be set by the user.

[2021-11-29 12:15] jakelishman commented on #7322
That's what I get for not checking if it actually exists!  But glad to see that the existing API is the same one I suggested.  I'll close this as "fixed" now, then.

[2021-11-29 13:24] TakahitoMotoki commented on #6633
Thank you very much ,@javabster !

[2021-11-29 14:50] taalexander commented on #7318
The Qobj is being deprecated as an IBM-specific API in favour of the new #5885 backend interface. Is there a particular reason you need to use the Qobj rather than add a parameterized schedule to the `backend.defaults().instruction_schedule_map` directly?

[2021-11-29 18:28] mtreinish commented on #7317
The issue here is in your code, specifically the use of `execute()` (which combines `transpile(qc, backend)` and `backend.run(qc)` into a single function call). What is happening is that you're scheduling your circuit with your custom pass manager first but not adjusting it to the timing constraints on the backend. Then when you call `execute()` again that's the equivalent of running `transpile(ci

[2021-11-29 18:31] riddhisw commented on #7317
Thanks so much that worked!

[2021-11-29 18:36] mtreinish commented on #7317
Ok, then I'll close this issue. But please feel free to reopen it if there is more to discuss on this.

[2021-11-29 20:46] kdk commented on #7303
I'm not very familiar with the visualization code, but is there benefit to having `reverse_bits` implemented separately between `circuit_drawer(reverse_bits=True)` and `QuantumCircuit.reverse_bits` (I think the former predated the latter)?

[2021-11-29 22:36] enavarro51 commented on #7303
Oh, yeah. This looks problematic.
[code]
![image](https://user-images.githubusercontent.com/16268251/143952690-010f3644-d009-4fa8-9152-cbd075d88393.png)
or
[code]
IndexError                                Traceback (most recent call last)
<ipython-input-15-1261ab1cf193> in <module>
      5 circuit.x(0).c_if(crx[1], True)
      6 circuit.measure(0, cr[1])
----> 7 circuit = circuit.reverse_bits()

[2021-11-30 03:15] mohitd commented on #7314
@1ucian0 I can write up a small example in the docstring

[2021-11-30 06:12] nkanazawa1989 opened #7324 "Calibration of pulse gate with logical index"
### What is the expected enhancement?

In the context of calibration we often write a template circuit, and then attach pulse gate to it.

[code]

This looks bit awkward because `circ` indicates the logical circuit but attached schedule references to the physical qubit index (index '3' doesn't exist in `circ_q3`). Transpiler should check mapping of logical-physical index in `.calibrations` so that

[2021-11-30 06:27] nkanazawa1989 commented on #7318
We are going to support qpy format also for schedule #7300 Probably this is good replacement of current Qobj.

[2021-11-30 07:29] yiiyama opened #7325 "Consistency between RZXCalibrationBuilder and the GaussianSquare implementation"
### Environment

- **Qiskit Terra version**: 0.19
- **Python version**: any
- **Operating system**: any

### What is happening?

The `rescale_cr_inst` method in `qiskit.transpiler.passes.calibration.builders.RZXCalibrationBuilder` says the area of the Gaussian part of the input GaussianSquare pulse is
<img src="https://render.githubusercontent.com/render/math?math=|A|\sigma\sqrt{2\pi}\mathrm{erf}(

[2021-11-30 08:10] yjt98765 opened #7326 "CUGate's params getter does not comply with circuit's assign_parameters"
### Environment

- **Qiskit Terra version**: 0a10008
- **Python version**: 3.8.10 64-bit
- **Operating system**: windows 10 64-bit

### What is happening?

This issue is proposed based on the discussion under #7283, especially the [insight](https://github.com/Qiskit/qiskit-terra/issues/7283#issuecomment-981504394) of @jakelishman.

`CUGate` is the controlled version of `UGate`, a generic single-qu

[2021-11-30 08:50] Cryoris commented on #7326
We added the `gamma` parameter to the `CUGate` so that it represents a general 2 qubit gate, as discussed in https://github.com/Qiskit/qiskit-terra/issues/4106 🙂 Maybe another solution would be to just return the `params` stored in `CUGate` insted of going via the base gate which doesn't have the `gamma` parameter.

[2021-11-30 08:56] jakelishman commented on #7326
Perhaps calling it "global" phase is a bit misleading here (it's the phase of the controlled gate), but yeah, the gamma parameter needs to stay for now.  The main issue is [again :(] that we don't have a contract for what `Instruction.params` should contain, and how it should behave with respect to mutability.  `QuantumCircuit` assumes that it's a "true" attribute, and tries to write to it as if i

[2021-11-30 12:11] jakelishman commented on #7324
I don't have any opinions on this change, but just to say: you can do this sort of behavioural change safely within the deprecation policy, it just takes quite a long time.  The gist is that we add a keyword argument to choose the behaviour to all relevant function, and global option (to make it easier), make people select the new behaviour, then change the default, then remove the argument again.

[2021-11-30 12:22] stuckmar commented on #7318
I just tested the ```instruction_schedule_map.add()``` function and even ```ScheduleBlock``` objects with parameterised durations are possible, which is great. I never noticed that and was working with ```Commands``` to define the ```PulseDefaults``` of a ```Backend```, which does not allow for parameterised durations. According to the API [documentation ](https://qiskit.org/documentation/stubs/qi

[2021-11-30 13:36] taalexander commented on #7318
That is the rough idea. In the new interface you will instantiate the backend as a provider and add the `instruction_schedule_map` to the `Target` at construction time.

Yes, the plan is to deprecate this from official recommended workflow. However, it will still be available in `qiskit` for the near term and will be then ported to the https://github.com/Qiskit/qiskit-ibmq-provider. You should alw

[2021-11-30 19:03] #7156 closed

[2021-11-30 20:38] mtreinish commented on #7113
I'm changing the target here to 0.20.0, because while the first piece of adding the target to the `PassManagerConfig` is done in #7227 and the basis translator will have initial support for working with a Target we still need to update all the other passes and start us down the path to making the target used everywhere which will be a work item for 0.20.0

[2021-12-01 00:11] sagnikb opened #7330 "Implement complementary_channel method in the Kraus class"
### What is the expected behavior?

Given a set of Kraus operators for a channel, the method should return the set of Kraus operators for the [complementary channel](https://quantumcomputing.stackexchange.com/questions/5794/what-is-a-complementary-map).

### Usefulness

This channel is needed to compute the quantum mutual information and the coherent information of a given channel, for example in

[2021-12-01 12:23] jakelishman commented on #2645
This failure looks like bad luck - seems like a base LAPACK driver (`geev`) failed to converge, which is a general-purpose eigenvalue solver.  There's probably not too much we can do about that, but if it happens a bit more frequently we can check that we're not doing anything to exacerbate the problem.

[2021-12-01 13:09] Cryoris commented on #7326
Yep agreed, after #7087 we can hopefully start introducing more structure and determine which gates share which properties (-> e.g. standard gates that have free parameters).

[2021-12-01 14:25] #5894 closed

[2021-12-01 15:51] Cryoris opened #7332 "Add translation to RX(X) basis to equivalence library"
### What is the expected enhancement?

Allow using `RX` and `RXX` as basis gates by adding appropriate entries to the equivalence library:

* `RZ = H RX H` (and `RZZ = HH RXX HH`)
* `RY = Sdg RX S` (and equivalently for 2 qubits)

Currently this translation is not supported:

[code]

[2021-12-01 20:39] #7293 closed

[2021-12-01 22:18] jakelishman opened #7335 "QASM 2 and 3 exporters do not handle parameterised gates correctly"
### Environment

- **Qiskit Terra version**: 0.19.dev @ 2c402dd5c
- **Python version**: any
- **Operating system**: any

### What is happening?

The QASM3 exporter (and the QASM2 exporter) does not handle arbitrary parameterised gates correctly.  It emits a gate definition which includes parameters in the signature, but hardcodes them in the body to the first instance of the gate it found.  This i

[2021-12-02 02:58] t-imamichi opened #7337 "Performance regression with two-step transpilation #7217"
### What is the expected enhancement?

#7217 causes significant performance regression on VQE. We should fix the performance regression.

[code]

fe0abaa7
[code]

01967546
[code]

[2021-12-02 09:39] #7337 closed

[2021-12-02 10:17] Cryoris opened #7340 "``PauliSumOp`` stores primitive via reference"
### Environment

- **Qiskit Terra version**: 0.18
- **Python version**: 3.7
- **Operating system**: macOS

### What is happening?

Opflow objects are immutable by design, however the `PauliSumOp` stores it's primitive by reference and when the original object is modified the `PauliSumOp` is affected.

### How can we reproduce the issue?

[code]

### What should happen?

### Any suggestions?

If th

[2021-12-02 10:23] anedumla opened #7341 "Optimization level 3 in transpile gives the wrong circuit when increasing the depth"
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: 3.9.4
- **Operating system**: Windows 10 Enterprise 64-bit

### What is happening?

Using `optimization_level=3` within the `transpile` method yields a circuit with different outcomes that the one produced either from setting `optimization_level=2` or evaluating the non transpiled circuit with `Statevector`.

The wrong behav

[2021-12-02 10:37] mtreinish commented on #7335
I've changed the milestone here to 0.20.0 as the workaround for 0.19.0 has merged and the proper fix will be for the next release.

[2021-12-02 12:32] nonhermitian opened #7342 "Cannot import fake backends"
### Environment

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is happening?

Traceback (most recent call last):
  File "<ipython-input-9-1aab7f40480e>", line 2, in <module>
    backend = FakeMumbai()
  File "/Users/paul/Desktop/GitHub/qiskit-terra/qiskit/test/mock/fake_qasm_backend.py", line 41, in __init__
    super().__init__(configuration)
  File "/

[2021-12-02 12:34] nonhermitian commented on #7342
Ahh, an unexpected dependence on Aer.

[2021-12-02 12:34] #7342 closed

[2021-12-02 12:37] nonhermitian opened #7343 "Calls to transpile fail"
### Environment

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is happening?

Attempting to look at #7341

File "/Users/paul/Desktop/GitHub/qiskit-terra/qiskit/transpiler/passes/synthesis/unitary_synthesis.py", line 208, in run
    raise TranspilerError("Specified method: %s not found in plugin list" % self.method)
TranspilerError: 'Specified method: de

[2021-12-02 12:38] jakelishman commented on #7343
You likely need to reinstall with `pip install -e .` to trigger the setuptools entry points to register the unitary synthesis plugins.

[2021-12-02 12:39] mtreinish commented on #7342
Just to clarify it's an optional dependency on aer. If you don't have aer installed it will fall back to use basic aer without issue. But if you do have aer installed you need at least aer 0.8.0 installed (which is the release which introduced the use of `BackendV1).

[2021-12-02 12:41] nonhermitian commented on #7342
I had 0.7.6 which caused it to throw the error.

[2021-12-02 12:41] nonhermitian commented on #7343
I cannot just work in the dir anymore?

[2021-12-02 12:43] jakelishman commented on #7343
You can once you've re-run `pip install -e .` once - the new unitary synthesis method registers an entry point for plugins, and the default plugin (and the AQC) needs to register itself with that.  That only needs to happen when a new plugin is added, and after that you'll be able to work as before.

[2021-12-02 12:46] nonhermitian commented on #7343
Ahh cool. Thanks for the info.

[2021-12-02 12:55] #7343 closed

[2021-12-02 13:06] nonhermitian commented on #7341
Yes.  Optimization level 3 gives (for 15 steps):
[code]

where as 2 gives something much longer, a small snippet of which is:

[code]

[2021-12-02 13:08] nonhermitian commented on #7341
It is independent of the routing method, so something else is breaking.

[2021-12-02 13:27] anedumla commented on #7218
I think this issue should be closed.

[2021-12-02 13:34] jakelishman commented on #7218
Yes, thanks - closed by #7281.

[2021-12-02 13:34] #7218 closed

[2021-12-02 14:47] anedumla opened #7344 "CircuitOp(PauliGateEvolution(...)).adjoint() only applies the complex conjugate"
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: 3.9.4
- **Operating system**: Windows 10 Enterprise 64-bit

### What is happening?

The adjoint operator corresponds to taking the transpose of the complex conjugate of an operator. However `CircuitOp(PauliGateEvolution(...)).adjoint()` only applies the complex conjugate.

### How can we reproduce the issue?

[code]

Printin

[2021-12-02 14:52] kdk commented on #7341
Do we know yet if this is due to changes in `optimization_level=3` after 0.18.3? I wasn't able to directly replicate the example on 0.18.3 because it use e.g. `PauliEvolutionGate` which is new with 0.19.

[2021-12-02 14:53] jakelishman commented on #7344
Also, totally minor, but the label in the drawer needs some more brackets!

[2021-12-02 15:40] nonhermitian commented on #7341
Here is the raw circuit:

[circ.qpy.zip](https://github.com/Qiskit/qiskit-terra/files/7643193/circ.qpy.zip)

[2021-12-02 15:54] kdk opened #7346 "BasisTranslator to search once per unique target basis"
This can be left for a follow up issue, but there may be some value here in consolidating the distinct `incomplete_source_basis` and performing the `basis_search` once per each, rather than once per non-global edge. That is, if a device has two types of links, one which can perform a `cx`, and one which can perform an `iswap`, it'd be good to perform the `basis_search` twice instead of `num_edges`

[2021-12-02 16:06] tyrolize commented on #7330
I will give it a shot and report back during the week

[2021-12-02 16:26] levbishop commented on #7341
`Collect2qBlocks`/`ConsolidateBlocks`/`UnitarySynthesis` is greatly simplifying these circuits here.
[code]
Going from 268 `cx`  to 31 `unitary` to 0 entangling gates....

[code]

[2021-12-02 17:06] #7280 closed

[2021-12-02 18:22] levbishop commented on #7341
I think the problem here is the basic interaction of small-step Trotterization (which makes the interaction-per-step become small) with approximate unitary synthesis (which avoids emitting 2q gates when the interaction becomes small enough). The solution is to use fewer Trotter steps or to turn off approximate synthesis.

[2021-12-02 18:44] nonhermitian commented on #7341
It appears that this happens only with the default `approximation_degree=None`.  Setting `1` (min approx) or `0` (max approx) both yield the same circuit.

[2021-12-02 20:01] jakelishman commented on #7340
In general with this sort of thing, you can have your cake and eat it by having a default `copy=True` parameter in the initialisers.  All library code will construct the primitives internally, so can safely pass `copy=False`, because know they're providing the only reference to an object, and so you get the same speed you had before.  However, if a user doesn't specify it, then they get the slight

[2021-12-02 20:42] kdk commented on #7341
#7348 takes the approach of disabling approximate synthesis entirely (since this is more or less a rollback to the behavior of 0.18.3).

![image](https://user-images.githubusercontent.com/2241698/144498518-87af2ecb-c037-47b6-b2a7-364546143169.png)

Thinking about this a bit more though, could it be the case that this is a sound optimization to make (in the interest of best approximating the given

[2021-12-02 20:54] levbishop commented on #7341
This is the intention, that you do the best you can given available gate fidelities. It may end up far from the intended, but better than not approximating. Of course the decision is heuristic and local, so may not always succeed - something like trotterization where the repeated trotter steps are intended to add coherently would be an example where the heuristic based on assuming a depolarizing c

[2021-12-02 21:07] kdk commented on #7341
In that case, I'd lean toward the transpiler behavior being not a bug. It may be a bug though that users can compile based on a set of `backend_properties` and simulate without them without seeing a warning. Does that make sense to you @anedumla @nonhermitian @levbishop ?

[2021-12-02 21:07] sagnikb commented on #7330
I wrote a quick and dirty implementation of the algorithm at [this link](https://quantumcomputing.stackexchange.com/questions/5794/what-is-a-complementary-map) in [this file](https://github.com/sagnikb/quantum-blahut-arimoto/blob/main/quantum_blahut_arimoto.py) (look at the complementary_channel property in the class Channel). Will need to be improved a lot, at least for readability and maintainab

[2021-12-02 21:13] woodsp-ibm commented on #7340
I think it was expected that expressions using opflow would be normal and hence there is a lot of implicit construction that goes on then which would all be under default behavior. Maybe some global flag could do in its stead to cover these cases too. I know the goal opflow was to keep the operations/behavior lightweight until things were finally needed. FYI the behavior is noted here https://qisk

[2021-12-02 21:44] nonhermitian commented on #7341
As an user I am actually surprised that this was enabled by default.  To me at least, it seems to be implicitly breaking the idea that the transpiler faithfully performs the unitary in question (up to certain permutations, transformations etc.).  To me this feels akin to the `fast-math` compiler option that breaks IEEE 754 floating-point rules to gain performance, but occasionally really messes th

[2021-12-03 04:36] ShellyGarion commented on #6484
closing since #6485 is merged.
we will open separate PRs to handle:
- The tests framework
- Incorporating the M3 method into Qiskit

[2021-12-03 04:36] #6484 closed

[2021-12-03 07:39] Cryoris commented on #7340
I'm good with storing the reference I was only worried that this was not intentional, as pretty much all operations are out-of-place and I thought opflow was designed to have immutable objects. But if that's intentional I'm fine and this issue reduces to only the bug that `PauliSumOp.permute` modifies the original object, as discussed in #7339.

[2021-12-03 07:39] #7340 closed

[2021-12-03 09:34] anedumla commented on #7341
I agree with @nonhermitian. Personally, I would not expect that the circuit returned is an approximation and would prefer to explicitly activate an option to approximate the unitary given the hardware characteristics.

[2021-12-03 11:50] 1ucian0 opened #7351 "qasm2 exporter allows for custom instruction, resulting in invalid qasm2 code"
### Environment

- **Qiskit Terra version**: master

### What is happening?

@omarcostahamido noticed that it is possible to create a custom instruction in a circuit and then export it as QASM2 code. The result is non-valid QASM2.

### How can we reproduce the issue?

This is the example provided by @omarcostahamido [in Slack](https://qiskit.slack.com/archives/CG8JSE0UB/p1638470791036300):
[code]

[2021-12-03 12:39] omarcostahamido commented on #7351
Thank you for creating the issue @1ucian0 😄

[2021-12-03 15:26] 1ucian0 commented on #7296
I agree that this issue might get fixed if `InverseCancellation` gets into the preset passmanagers (did not test it tho).

[2021-12-03 16:30] anormanhogan opened #7352 "Efficiency Bug"
### Environment

- **Qiskit Terra version**:  0.18.3
- **Python version**:  3.8
- **Operating system**:  Mac OS Monterey 12.0.1

### What is happening?

My quantum circuit's gates are inefficiently transpiling, causing my x sx gates to become rz sx rz gates. This brings my gates from 2->3 introducing noise
![image](https://user-images.githubusercontent.com/94230896/144637361-23433162-8934-465d-822

[2021-12-03 17:26] levbishop commented on #7352
Thanks for the report. In this case the warning was overzealous and we muted it with #7124
For most hardware (eg IBM platforms) rz.sx.rz is actually preferable to x.sx because rz is an instantaneous frame-update (which introduces no error) as opposed to x and sx which actually cause drive pulses to be emitted and these do introduce error.
There ongoing work to more properly handle tolerances and n

[2021-12-05 07:37] TakahitoMotoki commented on #6633
I have one question about a code test.

According to CONTRIBUTING.md, I need to run "tox -epy310" and "tox -elint" to check soundness and style of the modified code.

However, it seems that I cannot run tox command since my laptop is Macbook Pro with ARM processor.
Though I am trying to figure out the solution, is there any alternative way to test the code?

[2021-12-05 10:35] tyrolize commented on #7330
sure, let me know if I can help you with something.
otherwise it looks like you already have some good progress, I'll start working on other issues

[2021-12-06 09:34] javabster commented on #6633
Hi @TakahitoMotoki I'm not aware that ARM processors cause issues with tox. As we currently don't yet support 3.10 I'd recommend trying `tox -epy39` instead. Also for linting `tox -eblack` should work quicker than `tox -elint` and automatically fixes most linting errors. If you're still facing issues could you share the error message you're getting so we can help more.

Also might be worth making

[2021-12-06 12:57] TakahitoMotoki commented on #6633
@javabster
Thank you for your kind support!
I switched python from 3.10 to 3.9, then "tox -eblack" successfully worked on my PC.

However, I still got an error when executing "tox -epy39".
I tried to build jaxlib from source, but it didn't work. (https://jax.readthedocs.io/en/latest/developer.html)

Followings are error messages.
Thank you again for your kind support.

----------------------------

[2021-12-06 15:33] jakelishman opened #7355 "Statevector drawer in LaTeX/"ket" mode does not work for non-qubit states"
### Environment

- **Qiskit Terra version**: 0.19.0dev @ efd8b13
- **Python version**: any
- **Operating system**: any

### What is happening?

The statevector drawer in LaTeX mode with `convention="ket"` (the current default on `main`) silently reverts to `"vector"` (the default as of 0.18) if the `dims` is not a qubit.

### How can we reproduce the issue?

[code]

For example (note that `convent

[2021-12-06 15:40] Alex-259 opened #7356 "Tilde above parameter in circuit required"
Hey,
only a small stylistic question.
For reporting some results, i want to create some circuits like
![tmp4](https://user-images.githubusercontent.com/60505803/144874772-7ffff4f0-7e7b-4695-a153-08360840ea56.png)

However, I need a theta with a tilde above instead of theta itself.

Is it possible to do that directly for the parameter or do i have to fix it manually afterwards?

So far, I tested th

[2021-12-06 15:47] jakelishman commented on #7356
Either of
[code]
should work for you.  There are two problems: the first is correct LaTeX formatting (in LaTeX, you want something equivalent to `$\tilde\theta_i$`, and your unicode theta may work as well), and the second is a Python one.  You need to remember to escape backslashes `\` in Python strings like in my first line, or use a "raw string" (put an `r` before the first quote) like my second

[2021-12-06 19:52] kdk commented on #6301
This should be resolved by https://github.com/Qiskit/qiskit-terra/pull/6621 . Please feel free to re-open if not.

[2021-12-06 19:52] #6301 closed

[2021-12-06 21:26] jlapeyre opened #7359 "Error printing empty `PauliList`"
### Environment

- **Qiskit Terra version**:
  tag v0.19.0
- **Python version**:
 3.9
- **Operating system**:
 Linux

### What is happening?

[code]
prints
[code]

Part of the stack trace:
[code]

### How can we reproduce the issue?

Enter the code above

### What should happen?

No error should be thrown.

### Any suggestions?

check before dividing by zero

[2021-12-07 06:08] Alex-259 commented on #7356
Thanks a lot @jakelishman for the answer.
This works :+1:

[2021-12-07 06:08] #7356 closed

[2021-12-07 10:57] cahalibor opened #7360 "Initialization of QuantumCircuit with 0 classical registers should not raise exception."
### What is the expected enhancement?

`QuantumCircuit(2,0)` raise exception below. Expected behaviour same as `QuantumCircuit(2)`.

[code]

[2021-12-07 13:11] rum-yasuhiro opened #7362 "QuantumCircuit.compose() doesn't work properly when the arguments are qubit=None, clbit=None"
### Informations

- **Qiskit version**:
    - qiskit==0.32.1
    - qiskit-aer==0.9.1
    - qiskit-aqua==0.9.5
    - qiskit-ignis== 0.6.0
    - qiskit-terra==0.18.3
    - qiskit-ibmq-provider==0.18.0
- **Python version**:
    - 3.8.5
****
- **Operating system**:
    - macOS Catalina Version 10.15.7 (Darwin Kernel Version 19.6.0)

### What is the current behavior?
qiskit/circuit/quantumcircuit.py
[c

[2021-12-07 13:34] jakelishman commented on #7362
I'm not certain what bug you're talking about here - I don't get any error when I run your code sample on Terra 0.18.3, and the circuit produces what I expect:
[code]

[2021-12-07 14:50] jond01 commented on #6435
See also the implmentation in `cirq`:
https://github.com/quantumlib/Cirq/blob/782c14e0cc821794d21e82f30df8e6998f4b9992/cirq-core/cirq/circuits/qasm_output.py#L75-L81
It matches the true definition:
![image](https://user-images.githubusercontent.com/36337649/126565311-34c202a9-2ac0-43d8-9039-18def165ee4e.png)

Rather than the wrong one from [`qiskit`](https://qiskit.org/documentation/stubs/qiskit.c

[2021-12-07 15:16] kdk commented on #5896
Is this complete as of the 0.19 terra/0.33 qiskit release? If not, do we know what remains here?

[2021-12-07 15:23] kdk commented on #5897
I believe this was completed (other than the deprecation of `execute`, which I don't think has yet been decided) as part of #5086.  If there's other remaining work here, please re-open.

[2021-12-07 15:23] #5897 closed

[2021-12-07 15:34] jakelishman commented on #5896
I guess `pip install qiskit` is still the metapackage rather than specifically being Terra only.  If we still want to change it so `pip install qiskit` _only_ installs Terra now, we'll have some weird versioning problems, since the metapackage's versioning is far ahead of Terra.

[2021-12-07 15:39] mtreinish commented on #5896
@jakelishman yeah, it's not viable to do that for the reason you've said and also the upgrade path is non-existent to do that in python packaging. This issue is just incorrect in what it's asserting. This really should be about slimming down the metapackage to not have aqua, ignis, or the ibmq provider by default. This is the wrong place to track this and also its well underway as @kdk pointed out

[2021-12-07 15:39] #5896 closed

[2021-12-07 15:47] jakelishman opened #7364 "`QuantumCircuit.to_instruction` and `to_gate` fail with registerless bits, or bits with overlapping registers"
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: any
- **Operating system**: any

### What is happening?

The circuit methods `QuantumCircuit.to_instruction` and `.to_gate`, via their converters `circuit_to_instruction` and `circuit_to_gate`, fail any bit is not in exactly one register.

### How can we reproduce the issue?

There are many possibilities for the exact error,

[2021-12-07 16:07] frankharkins opened #7366 "MaximumLikelihoodAmplitudeEstimation returning wrong answer from PhaseOracle"
### Environment

- **Qiskit Terra version**: `0.18.3`
- **Python version**: `3.9.8`
- **Operating system**: OSX

### What is happening?

For some reason, the `MaximumLikelihoodAmplitudeEstimation` is giving a wrong answer when the problem uses a `PhaseOracle` created from a DIMACS file. Seems to work correctly when using a similar, hand-made`QuantumCircuit` as an oracle.

### How can we reproduce

[2021-12-07 16:23] jakelishman opened #7367 "Control-flow "parameter" circuits cannot be copied"
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: any
- **Operating system**: any

### What is happening?

When creating a control-flow instruction with the new builder interface, the `QuantumCircuit` bodies used in the `params` cannot be copied with `QuantumCircuit.copy`.  This is because the builders interally store the `qargs` and `cargs` as `tuple` (since they _should_

[2021-12-07 17:30] #7364 closed

[2021-12-07 20:55] Harrison-Tsai opened #7370 "ImportError on Google Colab"
### Informations

- **Qiskit version**: newest version
- **Python version**: 3.7
- **Operating system**:
- Platform: Google Colab

### What is the current behavior?
After the update, the following pops up

/usr/local/lib/python3.7/dist-packages/pennylane_qiskit/qiskit_device.py in <module>()
25 from qiskit import ClassicalRegister, QuantumCircuit, QuantumRegister
26 from qiskit import extensions a

[2021-12-07 21:14] jakelishman commented on #7370
This looks like `pennylane_qiskit` is importing a function that was never meant to be public ik that location in the first place - the old function `qiskit.circuit.measure.measure` should actually have been accessed by the name `QuantumCircuit.measure`.

Regardless, we shouldn't have removed that without first issuing a deprecation warning (I'm pretty sure I'm the culprit here), so we can add the

[2021-12-07 21:20] #7367 closed

[2021-12-07 22:13] Harrison-Tsai commented on #7370
Ok I see. Thank you for your prompt reply!

[2021-12-07 23:06] calebj15 opened #7372 "qpy_serialization causes some QuantumCircuit objects to have their parameters re-ordered"
### Environment

- **qiskit-terra 0.18 or 0.19**:
- **Python 3.9**:
- **MacOS**:

### What is happening?

QuantumCircuits with parameters associated with ParameterVectors generally have their parameters re-ordered upon serialization/deserialization. This is because qpy_serialization interprets the elements of ParameterVectors as Parameters, rather than ParameterVectorElements, which leads to the

[2021-12-08 04:20] riddhisw commented on #7317
With the following code:

[code]

I get 9999 internal error on mumbai.

[code]
I can change mumbai for other backends and I still get an error.

[2021-12-08 04:27] riddhisw commented on #7317
The following code

[code]

produces the errors on IBM mumbai:
[code]

Other backends also yield the same error.

[2021-12-08 10:05] nonhermitian commented on #7317
The error coming back is

`Exception: Delays must be a multiple of 16 samples`

due to the delay of `712dt` on q0

![image](https://user-images.githubusercontent.com/1249193/145189136-c3177dc4-1ca8-4cb5-bc7a-acd0c4e5e640.png)

[2021-12-08 13:10] TakahitoMotoki commented on #6633
@javabster
Thank you!

[2021-12-08 13:28] boschmitt opened #7378 "InverseCancellation cannot deal with inverse gates with different names"
The implementation of `InverseCancellation` make a strong assumption that
pairs of inverse gates will at least share the same name.  This does is not a
problem when gates are self-inverse, or rotation gates that only differ on
their rotation angle, e.g., `PhaseGate(np.pi / 4)` and `PhaseGate(-np.pi / 4)`.
However, one exception to this assumption is the pair `TGate` and `TdgGate`.

The following t

[2021-12-08 15:32] ShellyGarion commented on #7378
Regarding your comment about the equivalent ways to express a Toffoli gate (as `MCXGate(3)`, `CCXGate`, or `XGate().control(3)`), perhaps a possible solution is to add them to the equivalence library?
https://github.com/Qiskit/qiskit-terra/blob/a34644f109e0940a3cb6b8e50cc9cd604ad28cae/qiskit/circuit/library/standard_gates/equivalence_library.py#L731

[2021-12-08 16:06] ShellyGarion commented on #7378
In addition, in the equivalence library there are the following equivalences for the T and Tdg gates:
https://github.com/Qiskit/qiskit-terra/blob/a34644f109e0940a3cb6b8e50cc9cd604ad28cae/qiskit/circuit/library/standard_gates/equivalence_library.py#L499-#L511
so perhaps you should add a basis translator pass before InverseCancellation?
https://qiskit.org/documentation/stubs/qiskit.transpiler.passes

[2021-12-08 16:36] hhorii opened #7379 "`DAGCircuitError` when `if_test` is called in `for_loop` scope."
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: any
- **Operating system**: any

### What is happening?

Encounter `DAGCircuitError` when `if_test` is called in `for_loop` scope.

### How can we reproduce the issue?

[code]

[code]

### What should happen?

No error.

### Any suggestions?

None

[2021-12-08 16:41] jakelishman commented on #7379
The issue here is that the control-flow builder blocks don't track the registers that are used, only the bits, so they don't define any necessary registers in their body blocks.  We need to add tracking of these to `ControlFlowBuilderBlock`, and add them when the circuits are created to fix this.

It's a `DAGCircuitError` because the drawer tries to convert the circuit into a DAG first to get the

[2021-12-08 17:11] #7370 closed

[2021-12-08 17:24] boschmitt commented on #7378
I would advise against these options. It might be wrong, but I always thought about the equivalence library as a lookup table (database) used by passes that lower the level of abstraction. For example, translating a Toffoli instruction into a sequence of Clifford+T. Therefore, I would not add equivalences within the "same abstraction level".

Equivalence and canonicity serve different purposes. Th

[2021-12-08 22:35] kdk commented on #7378
For sake of the correctness, I added this approach in #7383 , though I agree this still leaves open the question of how this pass should best be integrated into a compilation pipeline. Can you open an enhancement issue around having a canonical representation prior to optimization?

[2021-12-08 23:51] #7378 closed

[2021-12-09 00:07] adamb56789 opened #7385 "NumPyEigensolver and NumPyMinimumEigensolver Segmentation fault"
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: 3.7.10
- **Operating system**: Ubuntu 20.04.3 running as WSL 2

### What is happening?

Using the NumPyEigensolver for calculating ground state energies causes segmentation fault. The problem occurred with my own problem, as well as when running the example code here https://github.com/Qiskit/qiskit-nature/blob/main/docs/tut

[2021-12-09 03:08] nkanazawa1989 commented on #7317
Note that you cannot change timing constraints on your side. This is constraints from the control electronics. If your backend says `pulse_alignment: 16` currently you cannot use DD pass. So far in all IBM systems this constraint has been 1 meaning you can place your instruction at arbitrary starting time. On the other hand, if this is not 1, the electronics will ask you to start every instruction

[2021-12-09 03:10] nkanazawa1989 commented on #7317
The best (or temporarily) solution would be ask DD pass to check the constraints and insert delays that conform to the pulse alignment constraints. @ajavadia

[2021-12-09 04:54] ajavadia opened #7386 "better convergence criteria in preset passmanagers"
### What is the expected enhancement?

The following circuit:
[code]

when optimized with level 2, returns:
[code]

i.e. it does not perform an obvious CX cancellation. The reason is that it internally repeats the optimization loop until circuit depth stays constant. However it should care about circuit size too.

To reproduce the circuit:

[code]

[2021-12-09 05:05] ajavadia opened #7387 "parallelization / depth reduction pass"
### What is the expected enhancement?

The following circuit has depth 10:
[code]
[code]

However by commuting one of the CNOTs to the left, the depth can be reduced to 9. I don't think there's a pass that currently does this.

[code]

[code]

[2021-12-09 05:14] ajavadia commented on #7332
`basis_gates=["rx", "rz"]` works.

So I agree that it should be enough to add the equivalence relations you have highlighted.

[2021-12-09 05:54] ajavadia commented on #7317
Yeah I think the DD pass should be enhanced to take into account pulse constraints, if a backend reports them. Right now it is agnostic to that, so it can produce delays which violate the control electronics' constraints.

[2021-12-09 10:29] jakelishman commented on #7385
Please could you show the output of
[code]
for this one?

[2021-12-09 10:38] adamb56789 commented on #7385
[code]

[2021-12-09 12:47] mtreinish opened #7388 "Store global parameter table for each circuit in QPY Format version 4"
### What is the expected enhancement?

In QPY currently we serialize a unique instance of a Parameter or ParameterVector as we encounter them in the circuit. This leads to both duplicate data in the qpy output and potentially an incomplete representation. As was pointed out in review of #7381 https://github.com/Qiskit/qiskit-terra/pull/7381#discussion_r765310061 we aren't guaranteed to fully seria

[2021-12-09 13:51] ogrisel commented on #6973
@PetarJurcevic could you please try again on a recent Python version (e.g. 3.9 or 3.10)? `concurrent.futures.ProcessPoolExecutor` should be much more robust to this family of issues.

If it's still there, please provide a reproducible code snippet to allow us to investigate the cause of the problem.

[2021-12-09 14:32] sg495 commented on #7263
@1ucian0 any update on this/anything I can do?

[2021-12-09 19:18] #7372 closed

[2021-12-09 19:35] mtreinish opened #7391 "Add BackendV2 mocked backends"
### What is the expected enhancement?

The mock backends in `qiskit/test/mock/backends` are built using snapshots of IBM Quantum's devices. Right now they're built using `BackendV1` (and `BaseBackend` for the legacy backend classes). To start fully testing the `BackendV2` interface we should add variants of these fake backend classes using `BackendV2`. We shouldn't replace the `BackendV1` objects

[2021-12-09 23:57] #7379 closed

[2021-12-10 05:21] hhorii opened #7394 "`to_instruction()` of a loop-body circuit fails if the loop-body has `if_test` with `clbit` condition."
### Environment

- **Qiskit Terra version**: main (f85cd87247be95572d28f038ac19b2bab7636346)
- **Python version**: Any
- **Operating system**: Any

### What is happening?

`UnboundLocalError` is thrown when a loop-body circuit calls `to_instruction()`.

[code]

The loop-body has `if_test` and its test expression is a tuple of `Clbit` and a value.
If the tuple consists of `ClassicalRegister` and a

[2021-12-10 09:27] jakelishman commented on #7394
This isn't an issue with the control-flow builders particularly, more just with `circuit_to_instruction` with registerless bits:
[code]
will reproduce the same error.

[2021-12-10 15:13] Cryoris opened #7397 "Convenient construction of the pulse-efficient RZX (and related) rotations"
### What should we add?

As a follow up to #6403, we should add a function to generate a pass manager for the pulse-efficient decomposition of 2q Pauli rotations. Currently, this pass manager has to be created manually as
[code]
but all these passes can be inferred from the backend, so we could add a function
[code]
that takes care of the construction.

[2021-12-10 16:28] anedumla opened #7398 "DynamicalDecoupling creates sequences of delays not multiple of 16"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**:
- **Operating system**:

### What is happening?

When running `PassManager` with `DynamicalDecoupling` the sequence of delays returned are not always multiple of 16 and the resulting circuit cannot be run on real hardware.

### How can we reproduce the issue?

[code]

Printing the values of the DynamicalDecoupling class give

[2021-12-10 18:42] JoelHBierman opened #7399 "Generating controlled gate from QuantumCircuit results in AttributeError when circuit contains at least one explicit identity operator"
### Environment

- **Qiskit Terra version**: 0.19.1 (Also tested this in 0.18.0 with same outcome)
- **Python version**: 3.9.7
- **Operating system**: CentOS (Also tested this on MacOS 12.0.1 with same outcome)

### What is happening?

When you take a `QuantumCircuit` where one of its constituent gates is explicitly the identity and you attempt to generate a controlled gate from this unitary using

[2021-12-10 18:52] jakelishman commented on #7399
This is because `IGate`, which we use to describe the explicit identity operation, doesn't have a `_define` method.  The fix is _probably_ just to define in `qiskit/circuit/library/standard_gates/i.py`:
[code]
but I wouldn't like to swear that won't have a couple of knock-on issues in the transpiler, or affect performance.

[2021-12-10 19:32] JoelHBierman commented on #7399
I see. Thank you!

[2021-12-10 19:50] nbronn opened #7400 "DynamicalDecoupling does not support non-basis gates"
### Environment

- **Qiskit Terra version**: 0.20.0.dev0+309bfb1
- **Python version**: 3.9.4
- **Operating system**: Darwin

### What is happening?

When generalizing [this tutorial](https://qiskit.org/documentation/stubs/qiskit.transpiler.passes.DynamicalDecoupling.html]) on using the `DynamicalDecoupling` transpiler pass, including other sequences involving gates that are not native to the backe

[2021-12-10 20:15] JoelHBierman commented on #7399
I can confirm that this seems to remove the AttributeError. Of course, I haven't done any testing to see if it breaks something else or if it results in reduced performance.

[2021-12-13 14:52] mrvee-qC commented on #3315
# Update for Santa - QGoGP
:white_check_mark: Issue still reproducible as per original author. Any plot with positive and negative columns should reproduce the issue. Example code to reproduce first image:

[code]
![Screenshot_83](https://user-images.githubusercontent.com/61380731/145828983-585b02d7-58b8-45b0-93a3-4d67bbfaae7f.png)

Not sure if the right section but it seems to completely mess up

[2021-12-13 15:24] jwoehr commented on #4688
`#ghosts_of_github_past`

This issue is really a question for Slack and should be closed as "moot".

[2021-12-13 15:39] dlasecki opened #7404 "Design Gibbs state preparation feature."
Gibbs state preparation will be used by Quantum Boltzmann Machines for example. It should include a variational variant using the variational quantum time evolution but also non-variational approaches.

[2021-12-13 16:07] mrvee-qC commented on #4149
# Update for Santa:elf:- QGoGP
:information_source: The behaviour in the screenshot is reproducible. I didnt quite understand the part where we need to add a second arrow when the second measurement must occur after the first so I just added the code and screenshot to make life easier :> Maybe this can be reassigned to another elf? :>

#### Screenshot 1 -

[code]

![Screenshot_85](https://user-ima

[2021-12-13 16:32] anedumla opened #7405 "PauliEvolutionGate with time-dependent Hamiltonians"
### What is the expected enhancement?

At the moment `PauliEvolutionGate` takes a time independent Hamiltonian and returns its evolution in the form of some product formula. However, general system Hamiltonians are time-dependent, so it would be nice to be able to do something along the lines:

[code]
Below are some references for the different approaches to simulate the evolution of time-dependen

[2021-12-13 16:43] mrvee-qC commented on #4010
# Update for Santa:elf:- QGoGP
:no_entry_sign: I am not sure what isometry "B2" refers to but I tried out an arbitary isometry and it seems that the issue is fixed. Have attached the code I used and screenshots for the same! :>

#### Screenshot 1 -

[code]
![Screenshot_87](https://user-images.githubusercontent.com/61380731/145852809-45731455-2d00-4a29-9451-0e6dc6597426.png)

Will update comment/ad

[2021-12-13 16:50] Avhijit-codeboy commented on #3408
1) File [https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/quantum_info/states/measures.py](url) needs inline code examples that demonstrate how to use the functions described in `measures.py` in Qiskit code
2) File [https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/quantum_info/states/random.py](url) needs inline code examples that demonstrate how to use the functions of `random.py` i

[2021-12-13 17:07] jakelishman commented on #4010
Funnily enough, this one is essentially the same issue as #7399.

[2021-12-13 17:22] 1ucian0 commented on #4010
Nice! I just confirmed that #7403 fixes this issue.

[2021-12-13 17:32] mrvee-qC commented on #4742
# Update for Santa:elf:- QGoGP
:no_entry_sign:  We can now run qasm_simulator for values above 24 qubits if the system allows! :)

[code]

![Screenshot_89](https://user-images.githubusercontent.com/61380731/145860086-76bc3017-9e45-4d73-b0ba-ce9987ea6ede.png)

Will update comment/add more comments if cause is found/fixed!

[2021-12-13 17:38] jakelishman commented on #4742
Technically the original issue is still present, because BasicAer is still limited to 26 qubits, but really the solution to this is to install the full version of Qiskit Aer, so this can be closed.

[2021-12-13 17:38] #4742 closed

[2021-12-13 18:08] fs1132429 commented on #4892
### Update for GoGP
The code used :
`n = 4
qc = QuantumCircuit(n)
qc.h(range(n))
qubit = Statevector([1, 0])
qsv = qubit
for i in range(n-1):
    qsv = qsv.tensor(qubit)
qubits = qsv

qsv = qubits.evolve(qc)

fig, axs = plt.subplots(ncols=n, nrows=1, figsize=(4,4), sharey=True, constrained_layout=False)
for i in range(n):
    qc = QuantumCircuit(n)
    qc.h(range(n))
    qc.append(YGate().power(0.

[2021-12-13 18:47] fs1132429 commented on #3164
### Update for GoGP
✅ Issue still reproducible as per the original author.
The Code:
[code]
<img width="186" alt="Screenshot 2021-12-14 at 12 14 31 AM" src="https://user-images.githubusercontent.com/28627285/145870077-591c93a0-0f5e-4657-ae5f-35da43616f58.png">

[code]
<img width="162" alt="Screenshot 2021-12-14 at 12 14 29 AM" src="https://user-images.githubusercontent.com/28627285/145870111-05458

[2021-12-13 18:52] mrvee-qC commented on #4970
# Update for Santa:elf:- QGoGP
✅ Error reproducible! Has the same 'duplicates in wire map' DAGCircuitError raised as mentioned by OP

[code]
#### Screenshot

![Screenshot_90](https://user-images.githubusercontent.com/61380731/145870680-618973e3-15f4-4783-bf43-f19dd8d8ba46.png)

Will update comment/add more comments if cause is found/fixed!

[2021-12-13 19:03] mrvee-qC commented on #4817
# Update for Santa:elf:- QGoGP
:question: I did not know the correct approach for this so I just ran the code in a loop to observe the outputs. With default settings on FakeMelbourne as backend, it resulted in mostly results favoring the |0> case (which is the actual expected outcome) with a few other states with lower counts.

Here is the code and here is the output in txt format:

[code]

[Issue

[2021-12-13 19:45] amirebrahimi commented on #4892
@fs1132429, I'm not sure what GoGP is, but I tried with latest qiskit and it is still an issue. Although, one thing I noticed is that the aspect ratio is rendering correctly now.

[2021-12-13 20:14] 1ucian0 commented on #5042
Probably fixed via #6270 . Please reopen if the problem is still there.

[2021-12-13 20:20] #7394 closed

[2021-12-13 20:36] mrvee-qC commented on #5276
# Update for Santa:elf:- QGoGP
:white_check_mark: PR #5278 Fixes this and is awaiting approval for being merged!

Will update comment/add more comments if cause is found/fixed!

[2021-12-13 22:14] mrvee-qC commented on #4418
# Update for Santa:elf:- QGoGP

:white_check_mark: PR #4614 Seems to be stalled which has also stalled this issue. I am not sure if this was ever implemented in any of the other PRs.

Will update comment/add more comments if cause is found/fixed!

[2021-12-13 22:32] mrvee-qC commented on #5082
# Update for Santa:elf:- QGoGP
✅ Issue reproducible in the latest version of terra!

[code]
#### Output -

include "qelib1.inc";
gate nG0 q0 { h q0; }
gate `nG0_1923100198512` q0 { h q0; }
qreg q[3];
creg c[3];
nG0 q[0];
`nG0_1923100198512 q[1];`

Will update comment/add more comments if cause is found/fixed!

[2021-12-14 05:26] fs1132429 commented on #2195
### Update for GoGP
✅ Issue reproducible in the latest version of terra!
[code]
Output:

/var/folders/6q/5vy060nd70n18078bjnxwpjr0000gn/T/ipykernel_11605/1172236089.py in <module>
      8 qc.snapshot('1')
      9
---> 10 qcc = QuantumCircuit.from_qasm_str(qc.qasm())
<br/><br/>
~/opt/anaconda3/envs/QiskitDevenv/lib/python3.9/site-packages/qiskit/circuit/quantumcircuit.py in qasm(self, formatted, fi

[2021-12-14 06:02] fs1132429 commented on #3374
### Update for QoQP
✅ PR #3375 Seems to be stalled which has also stalled this issue.

[2021-12-14 06:11] fs1132429 commented on #3995
### Update for GoGP
This issue may be fixed by PR #5033 which is pending review.

[2021-12-14 06:54] Nisha-Banerjee commented on #4922
# Update for gosts_of_github_past
The duplicated files are still there in Qiskit 0.33 in the following links:
1. https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/tools/monitor/job_monitor.py
2. https://github.com/Qiskit/qiskit-ibmq-provider/blob/master/qiskit/providers/ibmq/job/job_monitor.py

[2021-12-14 07:53] Nisha-Banerjee commented on #3565
# Update for gosts_of_github_past
This issue may be solved by PR #3950 which is pending for review.

[2021-12-14 08:53] iuliazidaru commented on #4132
I'm working on this.

[2021-12-14 09:10] 1ucian0 commented on #4886
Closing this. Thanks!

[2021-12-14 09:10] #4886 closed

[2021-12-14 09:30] 1ucian0 commented on #4741
The basicaer simulators is... well... basic. It's full point of existence is to provide _some_ simulation capabilities included in terra. For any slightly serious work, qiskit-aer is the way to go.

I'm closing this as `wont fix`, but feel free to reopen if you think you might have a use-case for basicaer that aer does not cover.

(also, would it make sense to raise a warning if you try to use bas

[2021-12-14 09:30] #4741 closed

[2021-12-14 11:22] Nisha-Banerjee commented on #5395
# Update for gosts_of_github_past
This issue may be solved by PR #5399 which is pending for review.

[2021-12-14 11:42] 1ucian0 commented on #5275
hi @born-2learn ! Sorry this felt between the cracks. Are you still interested?

[2021-12-14 12:05] Nisha-Banerjee commented on #5155
# Update for gosts_of_github_past
This issue may be solved by PR #5186 which is pending as work in progress or draft.

[2021-12-14 12:07] mrvee-qC commented on #4369
# Update for Santa- QGoGP
✅ Issue still reproducible! PR #4375 addresses the tolerance issue but has a few checks failing!

Will update comment/add more comments if cause is found/fixed!

[2021-12-14 12:41] ShellyGarion commented on #5275
In addition, currently the picture of the circuit of the template appears as a comment in the code, but not in the documentation.
I would suggest to move it in a way that it will appear as part of the documentation.

[2021-12-14 12:42] Nisha-Banerjee commented on #3967
# Update for gosts_of_github_past
This issue may be solved by PR #5311 which is pending for review.

[2021-12-14 12:55] Avhijit-codeboy commented on #2948
Need clarification on this discussion. Is it already addressed in #6812 as mentioned by @Cryoris. if not , more information is required.

[2021-12-14 13:04] mrvee-qC commented on #4314
# Update for Santa- QGoGP
✅ qauntumcircuit.py has all the aliases mentioned by santa @jakelishman above!

Extensions has the following alias as far as I checked out!
`iso` -> `isometry`

Will update comment/add more comments if cause is found/fixed!

[2021-12-14 13:42] jwoehr commented on #5036
@kdk 's example:
[code]
does not work because `QuantumCircuit._add_sub_instruction_to_existing_composite_circuits()` raises on the empty instruction list.

[2021-12-14 13:42] mrvee-qC commented on #1298
# Update for Santa- QGoGP
✅ Circuit text drawer still has no differentiation!

#### Example circuit -
[code]

#### Output - Same elements for the above mentioned functions by OP
[code]

Will update comment/add more comments if cause is found/fixed!

[2021-12-14 13:59] Avhijit-codeboy commented on #3647
How does this algorithm fundamentally work? Can you point me to some resources @ajavadia ? Also, has there been any progress in this project so far?

[2021-12-14 14:17] edaruizgu opened #7410 "Problem extracting Statevector when using a binded parametric controlled gate"
### Environment

- **Qiskit Terra version**:
'qiskit-terra': '0.19.1'
'qiskit': '0.33.1'
- **Python version**:
3.9.7
- **Operating system**:
Windows 10 Pro

### What is happening?

I'm trying to implement a Parametric Hadamard Test.

I have already my parametric evolution gate exp(−iθH) where θ is the parameter.

When I defined the controlled-gate with Gate.control(1) and add it to the main circui

[2021-12-14 14:36] 1ucian0 commented on #3407
In https://github.com/Qiskit/qiskit-terra/pull/3325 , the module got the toc for its components. But it was merged the same day as this issue was submitted. So I assume that @nonhermitian refers to module level documentation beyond just the index. Like an actual  explanation of the module, with examples and text.

are you still interested @abhik-99 ?

[2021-12-14 14:38] jakelishman commented on #7410
Please can you provide a complete reproducible example, including all imports and custom functions, which we can run to reproduce the error?  Ideally this should be as little code as you're able to get it to.  I can't run your example because of the missing `tr_g` function - I tried to make something like your description, but this doesn't have any errors:
[code]

[2021-12-14 14:55] mrvee-qC commented on #1794
# Update for Santa:elf:- QGoGP

✅ Passes all tests with seed value 999 for `test_congestion` and seed value 19 for  `test_overoptimization_case`. Fails for the seed values shown below. Hypothesis of OP having the test success heavily dependent on the seed of the random number generated holds true. Issue reproducible!

Functions `test_overoptimization_case` and  `test_congestion` present in --> tes

[2021-12-14 14:58] 1ucian0 commented on #5036
Indeed. Renaming the issue.

@kdk says:

[2021-12-14 15:28] Nisha-Banerjee commented on #3360
# Update for gosts_of_github_past
This issue may be solved by PR #3658 which is pending for review and few checks of that PR were not successful.

[2021-12-14 15:44] edaruizgu commented on #7410
Thanks for the reply. Here there is a reproducible example with all the functions.

My original custom gate **tr_g** has crx gates. When I change it to cp gates, the problem does not appear.
( it's possible to see this if one uncomments the line  #qc_c.cp(dt, 1, 0) and comment  qc_c.crx(dt, 1, 0)  )

The circuits **qc** and **transpiled** are printed in order to notice that when crx gates are used

[2021-12-14 17:11] jakelishman commented on #6980
I'm closing this now, because I think that if there was a bug, it was fixed, and the other issues were due to problems with the usage.  Please feel free to re-open this or another issue if that's not the case.

[2021-12-14 17:11] #6980 closed

[2021-12-14 17:47] jakelishman commented on #7410
Thanks, that's great.  The problem here is that the parameter binding isn't getting passed into the defined gate's definition through the `control`:
[code]

Terra typically over-relies on us storing the same instruction object in many different places, and only updating a parameter in one place to change them all.  Here, I would expect that somewhere the instruction is being copied when the inner

[2021-12-14 18:12] mrvee-qC commented on #2854
# Update for Santa:elf:- QGoGP

❓ quantumcircuit.py's `append` has now been changed to append multiple instructions since OP's issue posting. `_append` seems to function as per OP's definition of `__append` (_appends does not check for broadcasting or scoping and is unsafe to use). PR #4169 introduces changes in _append and discusses the overhead expected. PR #7134 Improves scaling performance of

[2021-12-14 18:15] jakelishman commented on #5220
This seems to be specifically when tab completing modules in import statements, such as `from qiskit.<tab>` - I can't reproduce with `qiskit.compiler.<tab>`, and similarly to Matthew, it only happens in Jupyter.

[2021-12-14 20:07] 1ucian0 commented on #3404
This module [needs documentation beyond the toc](https://qiskit.org/documentation/apidoc/dagcircuit.html), similar to the [`qiskit.circuit` module](https://qiskit.org/documentation/apidoc/dagcircuit.html). That documentations goes into the file `qiskit/dagcircuit/__init__.py`.

[2021-12-14 20:15] jwoehr commented on #5456
Appears to have been superseded by #6286

[2021-12-14 20:31] jwoehr commented on #5456
I take it back, this still returns zeroes for all noise values.

[2021-12-14 20:34] 1ucian0 commented on #3360
This seems related to https://github.com/Qiskit/qiskit-terra/issues/6576 and https://github.com/Qiskit/qiskit-terra/issues/7016. I think `InverseCancellation` should just replace `CXCancellation` in level 1.

[2021-12-14 20:51] 1ucian0 opened #7413 "InverseCancellation does not work with `*dgGate`"
### What should we add?

If `*Gate..inverse != *dgGate`, then `InverseCancellation` raises. For example:
[code]
[code]

[2021-12-14 21:07] mrvee-qC commented on #2304
# Update for Santa:elf:- QGoGP

✅ bloch.py still lacks its own dedicated testing and has no-one assigned to it - Issue exists

As I understand, the functions of bloch.py are directly used in `plot_bloch_vector`,`plot_bloch_multivector`,`plot_state_qsphere` and `visualize_transition` including any functions that depend on any of these 4 functions

`plot_state_qsphere` and `plot_bloch_multivector` a

[2021-12-14 21:29] 1ucian0 commented on #2304
According with coverall, [the file is 49% covered](https://coveralls.io/builds/44969725/source?filename=qiskit%2Fvisualization%2Fbloch.py).  Still some testing is needed, but much better than the original situation.

[2021-12-14 21:58] kdk commented on #7413
The behavior here is I believe correct, though the documentation of the `gates_to_cancel` argument in the class docstring should be updated to explain this more clearly. `InverseCancellation` accepts a list of either a) single self-inverse gates, or b) 2-tuples of gates which are inverse of one another. If you are trying to run with one gate-inverse pair, the syntax would be `InverseCancellation([

[2021-12-14 22:40] mrvee-qC commented on #1963
# Update for Santa:elf:- QGoGP

❓ : As per PR #5324 and #5384 users can now specify the number of parallel processes to use with parallel_map with the 'QISKIT_NUM_PROCS' environment variable. The parallel functions fall back to `CPU_COUNT = local_hardware_info()['cpus']`
only if 'QISKIT_NUM_PROCS' is set to None. I believe what OP wishes can be achieved by setting 'QISKIT_NUM_PROCS'.

Will update

[2021-12-14 23:19] jwoehr commented on #5456
Made a diff and created a bogus `props_rueschlikon.json` and it seems to work.
I don't have access to `ibmq_rueschlikon` to make a better props file.

[code]

[2021-12-15 05:43] ikkoham commented on #7340
This is fine, because it's already closed, but the important point is that CircuitOp and other opflow classes also have references. In the first place, opflow is mutable, and hence not hashable.

[2021-12-15 08:13] mrvee-qC commented on #5198
# Update for Santa:elf:- QGoGP

:information_source: Could OP test out their code with the new qiskit-experiments module to see if the behavior still holds for the QuantumVolume class in ignis is now deprecated? Also an MWE would help a lot for the scenario OP is testing. I transpiled it for FakeManhattan for QV = 4 and confirm that setting `routing_method = lookahead` adds a significant delay

`r

[2021-12-15 09:07] iuliazidaru commented on #3099
[code]

[code]

I think the message is pretty clear now.

[2021-12-15 09:55] mrvee-qC commented on #3433
# Update for Santa:elf:- QGoGP

✅ Issue reproducible! Removes CX's and keeps the small angle when optimized with level 2 or 3 as mentioned by OP. Optimization level 1 has expected behavior and does not change the circuit significantly. PR #3658 has a few checks to be passed which proposes a fix for this.
#### OP's Code -

[code]
#### Original Circuit
[code]
#### Transpiled circuit (Level 2 and 3)

[2021-12-15 09:56] jwoehr commented on #5491
Still valid in current release of Qiskit.

[2021-12-15 10:30] 1ucian0 commented on #5456
Fakebackends and simulators are not the same thing. Simulators can take a noise model from a backend, if there is one. Fakebackends do not perform simulations per se.

@VicentePerezSoloviev , would it help if  you get a warning when a fake backend dont have a `props_*.json`? Something like "Warning: FakeRueschlikon does not provide noise information"

[2021-12-15 10:36] VicentePerezSoloviev commented on #5456
HIi @1ucian0 and @jwoehr. When I realised this, was when I was executing a quantum-inspired approach in different Fakebackends. Others, were able to emulate noise and different behaviour were obtained when changing the Fakebackend. However, when I executed the approach with FakeRueschlikon, the behaviour was the same as for the state-vector simulator. When I entered in the code, I realised that th

[2021-12-15 10:51] 1ucian0 commented on #3437
Fixed by https://github.com/Qiskit/qiskit-terra/pull/3839

[2021-12-15 10:51] #3437 closed

[2021-12-15 11:32] jakelishman commented on #5220
Actually, it's just a Jupyter Notebook issue as best as I can tell - I made a simple package with no content at all other than submodules called `a` and `b`, and was able to reproduce the duplication, but only in `jupyter notebook` and not in `jupyter lab`.  So this is an old notebook issue, and since Jupyter are generally moving towards deprecation of that in favour of JupyterLab, I'll close this

[2021-12-15 11:32] #5220 closed

[2021-12-15 13:52] 1ucian0 commented on #5456
I wont say no to somebody offering code :) that's my weakness :P

PRs are welcomed! Thanks Vicente!

[2021-12-15 15:34] enavarro51 opened #7415 "QuantumCircuit.reverse_bits does not work with some circuits with registerless bits"
### Environment

- **Qiskit Terra version**: Current main
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is happening?

The method `QuantumCircuit.reverse_bits` fails when using a circuit with registerless bits. Relates to discussion in #7303.

### How can we reproduce the issue?

[code]
produces
[code]
Also for a simple circuit, the circuit drawers do not reverse the bit label

[2021-12-15 15:50] VicentePerezSoloviev commented on #5456
It is done now. The intantiation of the class will raise a Warning remembering the user that this backend has no noise properties, as proposed by @1ucian0

[2021-12-15 16:02] VicentePerezSoloviev commented on #5456
It fails in the pull request for the Coverage report. What could be happening?

[2021-12-15 17:22] mrvee-qC commented on #2306
# Update for Santa:elf:- QGoGP
✅ state_visualization.py is now 56.84% covered! (improvement over the 6% at start but a dedicated test would be great!) https://coveralls.io/builds/44969725/source?filename=qiskit%2Fvisualization%2Fstate_visualization.py

Will update comment/add more comments if cause is found/fixed!

[2021-12-15 17:23] enavarro51 opened #7417 "Proper display of bits without registers in the circuit drawers"
### What is the expected enhancement?

This issue is meant as a discussion on how to proceed with changes to the circuit drawers to properly handle bits without registers. A number of bugs and issues have already been addressed but 3 issues have come up that need some design input.

1. Currently bits without registers are just labelled with a number and qubits and clbits are not distinguished exce

[2021-12-15 17:50] mrvee-qC commented on #5226
# Update for Santa:elf:- QGoGP
✅ Issue reproducible and has interesting results on different backends! Since `ibmq_rome` is retired, the next closest cousins I could find were `ibmq_manilla`

Updated fixed code with imports -
[code]
#### Plot achieved on `ibmq_manila` -

![5226](https://user-images.githubusercontent.com/61380731/146238649-9bc059bb-2424-449b-ad01-b7eed9e70ed8.png)

Will update comm

[2021-12-15 18:45] mrvee-qC commented on #3199
# Update for Santa:elf:- QGoGP
✅ Issue still reproducible! Instruction object currently doesn't have an explicit custom control method and conditional_if drawings are not implemented yet as discussed and voted in Issue #3073. Second comment seems to be fixed but original drawer layout as mentioned by OP not yet implemented.
[code]
#### Current Output -
[code]
#### Expected -
[code]

Will update co

[2021-12-15 18:59] kevinhartman commented on #5264
@kdk is this possibly fixed by #7185?

[2021-12-15 19:08] kevinhartman opened #7418 "Use `contract_nodes` from retworkx for ConsolidateBlocks pass"
### What is the expected enhancement?

For improved performance and cleaner code, we should use `PyDiGraph.contract_nodes` to replace a bulk of the logic in `DAGCircuit.replace_block_with_op`, once it becomes available in a future retworkx release.

Contract nodes PR: https://github.com/Qiskit/retworkx/pull/487

[2021-12-15 19:16] mrvee-qC commented on #3485
# Update for Santa- QGoGP
✅ Issue reproducible! Y-axis ticks are not implemented v2 version of pulse visualization and older issues of v1 still exist as discussed above!

Will update comment/add more comments if cause is found/fixed!

[2021-12-15 21:07] 1ucian0 commented on #3485
ping @vishalg2235 ?

[2021-12-15 22:42] jwoehr commented on #4623
Still valid

[2021-12-15 23:05] jwoehr commented on #3647
Updated 2nd part of the original example eliminating deprecated `u3`:
[code]
Furthermore, the first example transpiled generates U3 gates (deprecated)

[2021-12-15 23:35] mrvee-qC commented on #4751
# Update for Santa - QGoGP

:white_check_mark: Issue still valid! Statevector class and operators are not flexible enough to evolve parameterised operations. No PRs linked to this issue that have solved it completely as per OP's description. Issue is open to solve!

Will update comment/add more comments if cause is found/fixed!

[2021-12-15 23:41] jwoehr commented on #1876
Need example of  usage of `NcrxGate`.

Minor cleanup of @eddieschoute 's code above is:
[code]

[2021-12-16 02:23] Avhijit-codeboy commented on #3800
This milestone has already been achieved.

[2021-12-16 03:06] Avhijit-codeboy commented on #3425
Some fixes for this issue was suggested in #3425 and was added as "To Do" in [Backends, Qobj, and Result](https://github.com/Qiskit/qiskit-terra/projects/1#card-30789436). But people are still facing the problem, so this requires a thorough review. The issue is also being discussed in #6966.

[2021-12-16 03:14] Avhijit-codeboy commented on #2695
The issue is still in "To Do" stage. Needs more information.

[2021-12-16 03:28] Avhijit-codeboy commented on #5436
This issue has been resolved with the merging of #5429 and #5431.

[2021-12-16 03:41] Avhijit-codeboy commented on #4985
This issue was recently added in the "To Do" list of [Backends, Qobj, and Result](https://github.com/Qiskit/qiskit-terra/projects/1#card-48017255) . Requires more information on the status.

[2021-12-16 09:38] mrvee-qC commented on #5021
# Update for Santa - QGoGP

:white_check_mark: Issue reproducible! It would be a great learning and visualisation tool if something like this could be added! OP can correct me if this is wrong but here is what may be expected!

#### Screenshot 1 - Red initial state -> Green final state
![bloch_multi](https://user-images.githubusercontent.com/61380731/146345914-e6026769-ac2e-4afb-999d-355c3e6b3d23.

[2021-12-16 10:25] mrvee-qC opened #7420 "Alternate example for plot_bloch_multivector"
### Environment

- **Qiskit Terra version**: 0.19.1

### What is happening?

The example for the plot_bloch_multivector doc looks broken - https://qiskit.org/documentation/stubs/qiskit.visualization.plot_bloch_multivector.html#qiskit.visualization.plot_bloch_multivector

The example is trying to visualize a bell state and the entanglement isn't clearly visualizable with bloch sphere and hence ther

[2021-12-16 10:43] nonhermitian commented on #7420
Actually the entanglement is "visible" in that plot because it is tracing over qubits and giving the maximally mixed state which is just a point at the origin of the sphere.  That is to say it is showing what it is supposed to show in that example.

[2021-12-16 10:54] mrvee-qC commented on #7420
Totally agreed! :smile: It may not be something that would immediately strike as an example use case for new qiskitters referring to the example in my opinion. A state which has a clear visible plot could be much quicker for a viewer to get an idea as to what the function offers! :smile:

[2021-12-16 10:56] 1ucian0 commented on #3800
A series of merged PR probably fixed this issue. Closing it. Feel free to reopen it if more specific optimization can be done.

[2021-12-16 11:27] iuliazidaru commented on #4132
169 tests affected. It will take a while ...

[2021-12-16 14:07] jakelishman commented on #5456
Sorry, I didn't see this before: I don't think it's an appropriate solution to raise a warning when a user simply instantiates a fake backend.  If we're not actually supplying the full information for Rueschlikon, then the solution is more like "don't call it Rueschlikon" than to warn - there's nothing the user did wrong, so there shouldn't be a warning.  If we can't supply enough information to m

[2021-12-16 14:08] eddieschoute commented on #1876
It's been two years, but the intended use is to implement a multi-controlled rotation. So I suppose it would be something like `NcrxGate(q_target, q_control0, q_control1, q_control2,...)`

[2021-12-16 14:15] jakelishman commented on #1876
Sorry you got pinged after so long - we've been trying to go back through and clean up old GitHub issues at the end of the year, so everything's getting touched right now.

For this issue, I'm going to close it now as out-of-date - in #1816 the constructor of `Gate` was changed such that it no longer takes a list of `qargs`; that context is only known by the circuit now, so I suspect the issues he

[2021-12-16 14:15] #1876 closed

[2021-12-16 14:45] mrvee-qC commented on #5264
# Update for Santa- QGoGP
❓ PR https://github.com/Qiskit/qiskit/pull/1186 seems to have removed `time_transpile_simulator_ripple_adder` and all tests depending on BasicAer entirely. Original link posted by OP needs an update.

Closest equivalent benchmark -https://qiskit.github.io/qiskit/#ripple_adder.RippleAdderTranspile.time_transpile_square_grid_ripple_adder?p-level=3. For these tests, there ar

[2021-12-16 17:50] mrvee-qC commented on #5067
# Update for Santa:elf:- QGoGP
❓ ✅ PR #4392 does bring in lots of performance regression flags on asv (210 to be precise) Link - https://qiskit.github.io/qiskit/#regressions?sort=1&dir=desc and search for `9165f396 `

I am not sure how to classify this since the past data with the test system stops at Terra 0.18.1 with a change in python version and a newer system for the later tests (as I underst

[2021-12-16 18:04] Nisha-Banerjee commented on #3405
# Update for gosts_of_github_past
this issue still valid as in the following link for [ `DAGCircuit()`](https://qiskit.org/documentation/stubs/qiskit.dagcircuit.DAGCircuit.html#qiskit.dagcircuit.DAGCircuit)
and its methods has need more detailed docstrings and inline examples just like [`QuantumCircuit()`](https://qiskit.org/documentation/stubs/qiskit.circuit.QuantumCircuit.html#qiskit.circuit.Qua

[2021-12-16 18:20] mrvee-qC commented on #3626
# Update for Santa:elf:- QGoGP
✅ As mentioned above, there have been significant changes in the code structure as to what `Backend` signifies now! If OP does not have an update on the same, we can safely close this issue! 😄

Will update comment/add more comments if cause is found/fixed!

[2021-12-16 18:24] Nisha-Banerjee commented on #3403
# Update for gosts_of_github_past
this issue is still valid as more detailed examples on actual uasage in [`qiskit.providers.basicaer`](https://qiskit.org/documentation/apidoc/providers_basicaer.html) is required. The corresponding file is [`_init_.pyfile`](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/providers/basicaer/__init__.py#L13).

[2021-12-16 18:24] jakelishman commented on #3626
At the very least, this issue is somewhat superseded by work on `BackendV2`, and we have other trackers for how we want to handle transpilation with respect to those backends (the main one being #7113).  I'll close this in favour of #7113.

[2021-12-16 18:24] #3626 closed

[2021-12-16 20:10] mrvee-qC commented on #4316
# Update for Santa:elf:- QGoGP
❓ We now have MCMT class (PR #4028) and in the generalized_gates which can achieve all of the above functions OP mentioned . Unless there is any other function which OP intends to add in or provide an update on the same, we can close this! 😄

Will update comment/add more comments if cause is found/fixed!

[2021-12-16 20:20] 1ucian0 commented on #1963
Indeed, I thinks this was fixed by #5324 . Thanks @mrvee-qC !

@Qutrit  , feel free to reopen otherwise.

[2021-12-16 20:20] #1963 closed

[2021-12-16 20:44] 1ucian0 commented on #5067
Based on https://qiskit.github.io/qiskit/#circuit_construction.CircuitConstructionBench.time_circuit_construction?machine=dedicated-benchmarking-softlayer-baremetal&os=Linux%204.15.0-46-generic&ram=16GB&p-width=8&p-gates=32768&commits=9165f396, the performance from that before #4392 was not recovered yet (actually, now is even slightly worse than immediately after #4392). Therefore, I think the is

[2021-12-16 21:04] 1ucian0 commented on #4316
I agree this issue makes little sense in the current situation of main. Closing as it is. @ajavadia please, submit a new one if you think it is not fully addressed.

(there is still a `qiskit.circuit.library.standard_gates.u1.MCU1Gate`, should it be deprecated? New issue just for this in that case!)

[2021-12-16 21:04] #4316 closed

[2021-12-16 21:34] 1ucian0 commented on #2439
Let's take the `def _ipython_display_(*_): pass` direction until c_if gets deprecated.

Or close this one as `wontfix`.

I'm okey with any.

[2021-12-16 22:46] jakelishman commented on #2439
I'll close this for now - realistically, the only place we can suppress the output is in graphical Jupyter notebooks and JupyterLab, and even if we do, it's rather misleading if you're ever actually trying to work with the `InstructionSet` class.  I think in the time since the issue was opened, it's become more of a Jupyter idiom to suppress output with a semicolon, and more of a Qiskit idiom to s

[2021-12-16 22:46] #2439 closed

[2021-12-17 02:36] dimple12M commented on #3333
##Update:

- In this issue, It's related to the validation of the quantum circuit with classical register before its sent to the real backend.
- QiskitError: 'No counts for experiment " is displayed when counts are required to obtain.
- Basically this issue is related to pre-validation which can be done when we execute the circuit .

[2021-12-17 04:52] jwoehr commented on #4703
[`Instruction.duration`](https://qiskit.org/documentation/stubs/qiskit.circuit.Instruction.html ) seems to provide this. Should this issue be closed?

[2021-12-17 05:06] dimple12M commented on #3333
Below is an example for this issue:

[2021-12-17 05:11] dimple12M commented on #3333
``http://localhost:8888/tree/Desktop/qiskit%20IBM%20certification/sample%20test

[2021-12-17 05:13] dimple12M commented on #3333
`bell= QuantumCircuit(2)
bell.h(0)
bell.cx(0,1)

provider = IBMQ.get_provider(hub='ibm-q')
backends = provider.backends(filters=lambda x: x.configuration().n_qubits == 5,simulator=False, operational=True)
backend=backends[0]`

[2021-12-17 05:14] dimple12M commented on #3333
![Screenshot 2021-12-17 at 1 14 40 PM](https://user-images.githubusercontent.com/65215560/146492679-b9ce26f2-593f-4558-a466-da83b2c315a3.png)

[2021-12-17 05:24] jwoehr commented on #3728
Still valid. Here's a cleanup of the example:
[code]

[2021-12-17 05:28] jwoehr commented on #5174
@kdk did you get any further with this?

[2021-12-17 05:53] jwoehr commented on #3688
Did this requirement get subsumed in [Pulse Builde](https://qiskit.org/documentation/apidoc/pulse.html#pulse-builder)r?

[2021-12-17 09:05] javabster commented on #3099
thanks for checking if this is still valid @iuliazidaru! However I think the error is still not very user friendly and it would be good if we could catch it better in the `dag_drawer`

[2021-12-17 12:53] Cryoris commented on #3728
Personally, I'm not convinced `params` should be publically writeable at all. It might be both safer to users and easier for us to handle if gates define setters for mutable attributes. Parameterized gates, for instance, can be bound (or re-bound in future?) to certain values but covering the `bind_parameters` path _and_ a direct access seems overcomplicated. ]

[2021-12-17 12:59] Cryoris commented on #3800
I believe this issue is about making gates static and only copying the necessary information instead of the entire gate instances. Currently, we still do store 2000 X-gate instances if we have 2000 X gates in a circuit so I don't think this issue can be closed.

[2021-12-17 13:03] Cryoris commented on #4751
If we implement this we might add a very big warning about the performance of this (and the nasty results). If a user starts looking at the unitary of some variational circuit for instance, this feature might create more frustration than it is useful 😅

[2021-12-17 13:43] Cryoris commented on #2948
To go back to the title of this PR: if it _does_ exist I think we have to support
[code]
otherwise it would be better to raise an error saying we cannot compare parameterized circuits.

[2021-12-17 13:47] 1ucian0 commented on #3800
Reopening. The expected change is refactoring gates as singletons.

[2021-12-17 13:56] 1ucian0 commented on #3780
@ajavadia when you said "this should be more clear" would you consider a documentation clarification enough?

In any case, it seems to me this is intended behaviour and Ill close this as `wont fix`. If documentation (or other form of clarification) is needed, a new issue will help to track that.

[2021-12-17 13:56] #3780 closed

[2021-12-17 14:10] drewrisinger commented on #3688
@jwoehr, I don't think so. Pulse Builder still doesn't cover e.g. a linear ramp parametric pulse defined as e.g. ``y = m*t + b``. I've been using my [workaround](https://github.com/Qiskit/qiskit-terra/issues/3688#issuecomment-630862689) to add this functionality.

[2021-12-17 15:33] kevinhartman commented on #2948
I haven't really looked too deeply at `ParameterExpression` in Terra, but if it's anything like a typical expression tree, I would think that they should only be equal if they've got the same structure and nodes. The reason being that the semantics of operators like `*` and `/` aren't defined by the expression, but rather by a specific visitor / resolver.

If that's the case here as well, we shoul

[2021-12-17 16:18] jwoehr commented on #3688
Thank you, noting that.

[2021-12-17 18:45] jakelishman commented on #5264
Since #7185, `ConsolidateBlocks` is faster than it's ever been, so I'll close this as "almost certainly fixed".

[2021-12-17 18:45] #5264 closed

[2021-12-17 18:56] kazouini98 commented on #7206
Hello guys! I am new to qiskit, and I am watching the tutorial online!
Is it possible to train with this issue? If yes, I would love to try! cheers!

[2021-12-17 19:52] jakelishman commented on #7206
Yes, absolutely!  I'll assign you, so other people know you're working on it.  Please feel free to ask for help here if you need it.

[2021-12-17 20:33] kdk commented on #5174
We added bound DAG caching in GH-6187 to address a different performance concern (around sympy) and subsequently removed it in GH-6457 (when the sympy issue was resolved separately with symengine). The removal was flagged as a regression in `time_transpile_from_large_qasm` ( https://qiskit.github.io/qiskit/#transpiler_benchmarks.TranspilerBenchSuite.time_compile_from_large_qasm?cpu=Intel(R)%20Xeon

[2021-12-17 20:59] 1ucian0 commented on #4985
this use cases is covered with the `Count.most_frequent()` method.

[2021-12-17 21:02] 1ucian0 commented on #4985
@mtreinish, is the [performance analysis](https://github.com/Qiskit/qiskit-terra/issues/4985#issuecomment-681069253) done by @jlapeyre enough to make a decision about this issue?

[2021-12-17 21:08] 1ucian0 commented on #4985
To reproduce the issue, notice that the output of the following code result in an unsorted key:
[code]
[code]

[2021-12-17 21:15] 1ucian0 commented on #5811
Is https://github.com/Qiskit/qiskit-terra/issues/4313 superseded by this one?

[2021-12-17 21:16] 1ucian0 commented on #4313
I think the discussion in https://github.com/Qiskit/qiskit-terra/issues/5811 might include this one. Therefore, closing.

Feel free to reopen it otherwise.

[2021-12-17 21:16] #4313 closed

[2021-12-17 21:28] 1ucian0 commented on #4703
The instruction duration depends on the backend. The attribute `Instruction.duration` is for setting the duration of the instruction once the backend is known. I think @itoko is asking for a way to query the backend on the duration.

[2021-12-17 21:43] #4703 closed

[2021-12-18 10:12] 1ucian0 commented on #3529
This issue seems still valid:
[code]
[code]

[2021-12-18 15:58] enavarro51 commented on #7415
@jakelishman Can you assign this to me? Thanks.

[2021-12-18 15:59] enavarro51 commented on #7415
@kdk, @jakelishman Consider these circuits, all run with main. In the first case, when `reverse_bits()` is run, the bits are left in the same order and the qarg is changed.
[code]
This results in 2 identical circuits, which can't be distinguished from one another by the drawers.

In this second case, the registers (with their one bits each) are reversed and the qarg stays the same. This results in

[2021-12-18 22:35] 1ucian0 commented on #4436
Hi @lcapelluto , is there a way for a backend to signal that an initial reset is been added?

[2021-12-18 22:48] 1ucian0 commented on #1741
An example of the current (0.19) definition:
[code]
[code]

[2021-12-18 23:01] 1ucian0 commented on #2402
Currently, in 0.19:
[code]

[2021-12-19 09:57] jakelishman commented on #7415
@enavarro51 apologies: I assign this off my phone without checking the issue properly - looks like there's already a pending PR that needs review.  I'll unassign for now, and I need to start working through the post-release backlog when I'm back at work.

[2021-12-19 10:08] yjt98765 commented on #7415
Sorry that I created a PR for this issue without asking for an assignment. At first, I thought it was an easy problem, so I submitted the PR directly when no one was assigned. But the test failure made me realize that there could be different explanations regarding the semantics, and I changed the PR state to draft. After I fixed my code, I found that the issue has been assigned to @enavarro51.  I

[2021-12-19 14:36] enavarro51 commented on #7415
Oh, @yjt98765 I apologize as well. I'd missed the PR.

Also, thanks for your comments. For me, it just seems a bit odd when doing `reverse_bits` to display the bits within a register in ascending order top to bottom, and the registerless bits or registers displayed in descending order top to bottom.

[2021-12-19 15:28] ShellyGarion commented on #1741
Note that there are several equivalent definitions for `MCXGate`: `MCXGrayCode, MCXRecursive `and `MCXVChain`
If you put `n=2` they all provide the usual `CCXGate`.
We need to consolidate all these various definitions into a synthesis library, and then we can check what is the best definition also for a `CCXGate`.

Note that currently the equivalence library has a shorter definition for a `CCXGate

[2021-12-20 05:50] dimple12M commented on #3333
`import numpy as np
# Importing standard Qiskit libraries
from qiskit import *
from qiskit.tools.jupyter import *
from qiskit.visualization import *`

[2021-12-20 10:05] Cryoris opened #7429 "QPY serialization of empty gates yields ``None`` definitions"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.9
- **Operating system**: macOS

### What is happening?

Serializing + deserializing a circuit containing an empty gate (i.e. no operations) with QPY yields a gate where the definition is `None` instead of an empty circuit. If the definition is `None` the transpiler cannot decompose the gate, unless the gate is in the basi

[2021-12-20 10:17] jakelishman commented on #7429
This seems pretty fixable without a QPY format bump.  It's our old friend `bool` causing problems here: QPY decides if it needs to output a definition based on `bool(instruction.definition)`, but `bool(empty)` is `False` because `QuantumCircuit` defines `__len__` as a pass through to the number of operations, and `bool` essentially tries `len(x) != 0`.

Pretty sure I can fix this no problems, and

[2021-12-20 11:01] iuliazidaru commented on #7420
May I take this issue?

[2021-12-20 14:33] iuliazidaru commented on #3905
May I work on this issue?

[2021-12-20 14:37] jakelishman commented on #3905
Yes, by all means, thanks!  I'll assign you.

When we move something like this, we need to do it in a couple of stages: in the next Terra release, we should make all the names accessible from `qiskit.mock` _and_ `qiskit.test.mock` (without any warnings), then we'll add the warnings in the release after that.  We're just in the process of updating the deprecation policy to say that, but it'll be go

[2021-12-20 15:13] jakelishman commented on #7420
Sure, I'll assign this one to you so people know you're working on it.

[2021-12-20 15:48] #7429 closed

[2021-12-21 00:53] dbiersach commented on #7234
Hi @deeksha-singh030 - Any success yet on implementing this fix? I'm teaching a QIS course starting January 4th - was just wondering as I am creating the slides for the class using screen shots from Qiskit. Thanks!

[2021-12-21 10:52] #7286 closed

[2021-12-21 14:42] deeksha-singh030 commented on #7234
Hello @dbiersach - I'm sorry for being this late, I've had a medical emergency. I'm continuously trying to install qiskit-terra from source but while installing developer-requirements there is an error(exit status -1 while installing scikit-learn) occurring. I've tried to update everything and all versions as per qiskit are fine in my system but not able to install. Please help me with it.

[2021-12-21 19:13] Cryoris commented on #7385
This is probably not something on Qiskit's end but rather NumPy. Can you run `numpy.linalg.eigvals` for a matrix of the same size used in the tutorials; `2^(number of qubits in the hamiltonian`? If it's not that it might be the Hamiltonian to matrix conversion?

[2021-12-21 20:46] #7164 closed

[2021-12-22 06:34] Ryand1234 commented on #7136
Hi @1ucian0, Can I work on this?

[2021-12-22 10:05] Cryoris commented on #2948
Maybe it depends on what we want to check here. An expression-tree type check would possibly put more focus on how the parameters are constructed. On the other hand, if you want to check whether circuits are the same I would think we mainly care about whether they perform the same operation. I might construct my circuit as `circuit.rx(theta / 2, 0)` or `circuit(0.5 * theta, 0)` but I would think t

[2021-12-22 10:10] Cryoris commented on #7360
This has already been addressed in #6800 and works in Terra 0.19:
[code]
Are you using the most recent version of Terra @cahalibor? 🙂

[2021-12-22 11:57] iuliazidaru commented on #3905
@jakelishman I see this warning: "The BaseBackend abstract interface is deprecated as of the 0.18.0 release and will be removed in a future release. Instead you should build your backends using the BackendV1 abstract class (which is the current latest version of the backend interface)". I will ignore the legacy backends in this move. Ok?

[2021-12-22 12:28] jakelishman commented on #3905
For this first step, it might be easiest if you don't actually move anything, but just make a new module called `qiskit.mock`, which imports all the names we want to move.  That will mean that all the names are accessible from two places, without us duplicating any code.  The advantage to this is that it's easier for us to maintain _all_ the locations that the objects are currently accessible from

[2021-12-22 12:35] jakelishman commented on #7360
In fairness, Terra 0.19 was released only the day before this issue was made, so it's just one of those coincidences that we'd fixed it right as you made this issue.  No worries - I'll close this now as "already fixed", but feel free to open more if you're still having problems.

[2021-12-22 12:35] #7360 closed

[2021-12-22 12:39] iuliazidaru commented on #3905
Oh. Thank you for the details. I will add the module with the imports, you are right... there is no need to duplicate 100 files...

[2021-12-22 12:58] jakelishman commented on #2948
Whether two `ParameterExpression`s have the same structure and nodes is somewhat up to Sympy; it's not necessarily the same type of expression tree that you'd expect in a classical programming language, because it assumes the general mathematical rules of manipulation with infinite-precision complex numbers, not with floating point, and performs simple transformations into a canonical form on expr

[2021-12-22 14:02] TakahitoMotoki commented on #6633
@javabster I could solve the jax problem above (I could pass the tox test!) and finally created a pull request. I am really grateful for your help.

[2021-12-22 14:48] iuliazidaru commented on #3099
@javabster Please assign the issue to me.

[2021-12-22 14:55] cahalibor commented on #7360
Thanks.

[2021-12-23 06:54] iuliazidaru opened #7438 "Enable ignored test in test_fake_backends"
### What is the expected enhancement?

While working on #3905 I saw a test which is skipped until https://github.com/Qiskit/qiskit-aer/issues/741 is fixed. Maybe is should be checked again.
https://github.com/Qiskit/qiskit-terra/blob/main/test/python/mock/test_fake_backends.py
[code]

[2021-12-23 07:16] xenoicwyce opened #7439 "L_BFGS_B not updating parameters"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.10
- **Operating system**: Ubuntu OS

### What is happening?

I'm solving QAOA Max-cut using the L_BFGS_B optimizer provided in `qiskit.algorithms.optimizers` and then realized it doesn't update the QAOA parameters, and hence did not solve the problem. I've tried with both Aqua and the new `qiskit_optimization` package t

[2021-12-23 11:01] AlaricCheng opened #7441 "`Stabilizer.expectation_value()` does not give the correct result"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.9.5
- **Operating system**: Win 10

### What is happening?

I wrote a script for generating random Clifford circuit with respect to certain layout. Then I convert it to `StabilizerState` and compute the expectation value of its stabilizers with `StabilizerState.expectation_value()`, which should be one. The stabilizers are

[2021-12-23 11:09] frankharkins commented on #7234
@dbiersach without testing, I think bug is probably this line, should be `abs(num) + abs(denom)`. If you have a local fork, you could try changing it and see if that fixes your problem.

https://github.com/Qiskit/qiskit-terra/blob/8e54baaab15fb8d3217c931f9ffc24b619277dd9/qiskit/visualization/array.py#L77

[2021-12-23 11:14] frankharkins commented on #7234
@deeksha-singh030 sounds like a problem with scikit-learn, do you have more information?

[2021-12-23 12:11] deeksha-singh030 commented on #7234
@frankharkins error that I was getting:
ERROR: Command errored out with exit status 1:
     command: 'C:\Users\HP\anaconda3\envs\QiskitDevenv\python.exe' 'C:\Users\HP\anaconda3\envs\QiskitDevenv\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\HP\AppData\Local\Temp\tmp0260uiiy'
         cwd: C:\Users\HP\AppData\Local\Temp\pip-install-s9f3kx

[2021-12-23 15:00] ShellyGarion commented on #7441
I think that the bug is when the Pauli operator has a negative sign, continuing the above example:

[code]
gives:
[code]

[2021-12-23 16:20] garrison opened #10616 "Discourage search engines from indexing old documentation builds"
Often, outdated versions of the qiskit documentation rank higher in search engine results than current documentation.  This is especially noticable with Qiskit/qiskit-metapackage#1389, as many of these pages are broken links, currently.

### What is the expected behavior?

We should try to prevent outdated documentation from appearing in search results.  This can be improved by adding `<meta name=

[2021-12-23 17:22] jakelishman commented on #7136
Hi @Ryand1234! This might not be the best choice for an external contributor, sorry - this issue is mostly a tracker for the core team, because we'll be making fairly heavy changes to the QASM 3 processing in Terra over the next few release cycles, and these changes will be part of it.  The changes needed for this issue are very major to a core deliverable in Terra 0.20 which will have quite a lot

[2021-12-23 17:44] jakelishman commented on #7415
Sorry, I've been busy for the last while, and I read your PR before I actually read this comment!

There's a bit more complexity here than just considering single bits as 1-bit registers; multiple registers can contain the same bits now, so there can be a lot of overlap, and the ordering described in the docstring doesn't necessarily make sense for that now.  Also, in converting from little-endian

[2021-12-23 17:59] jakelishman commented on #5174
I think this might be an issue of conflicting views on what we mean by "binding" the parameters.  In some contexts, by binding we mean replacing the `ParameterExpression` with a numeric value.  If this happens, there's no way to re-bind the parameters to new values, so it wouldn't be useful to be able to do this in place for algorithms, presumably.

On the other hand, if we have binding be somethi

[2021-12-23 18:18] frankharkins commented on #7234
@deeksha-singh030 Sorry I'm not really sure what's causing that. You could try up/downgrading python version?

[2021-12-23 18:24] deeksha-singh030 commented on #7234
@frankharkins  I'm working with python 3.9.7.

[2021-12-23 18:32] jakelishman commented on #7234
Can you show the full install command for `scikit-learn`, or whatever you're installing right now?  It seems to indicate that you're trying to build `scikit-learn` from source, but that shouldn't be necessary at all - you should be able to install it by wheel.

[2021-12-23 19:00] jakelishman commented on #7400
I think it's expected that the code in "how can we reproduce the error" should fail; it explicitly tries to use a `YGate` on a backend that doesn't support it.  The general fix would be to make it easier to pass the dynamical decoupling sequence through the basis translator, but I'm not really sure that makes any physical sense; surely your choice of dynamical decoupling is going to _strongly_ dep

[2021-12-23 19:04] jakelishman commented on #7398
Is the number 16 particular to IBM hardware?  If so, we probably need to solve this in a slightly more general way, with a user- or backend-defined alignment.

[2021-12-23 19:15] deeksha-singh030 commented on #7234
@jakelishman I was installing qiskit-terra  from source as per the commands given the qiskit documentation.

[2021-12-23 20:49] #7314 closed

[2021-12-24 04:54] learn2flask opened #7445 "bottom.QuantumCircuit.tensor(top. inplace=True) doubles ancillas on modified bottom"
### Environment

- **Qiskit Terra version**:  0.19.1
- **Python version**: 3.8.5
- **Operating system**: Win11x64

### What is happening?

Given QuantumCircuits "bottom" and "top",
if "bottom" contains ancillas AND if performing bottom.tensor(top, inplace=True)
then the modified "bottom" QuantumCircuit will have the ancilla entries doubled (with same name, so they are not visible in draw) in botto

[2021-12-24 06:32] learn2flask opened #7446 "Register instantiation with Bit(s) does not detect duplicates"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.5
- **Operating system**: win11x64

### What is happening?

When instantiating a new register (Quantum, Classic or Ancilla) by supplying a list of Bit(s), it is possible to specify the same Bit(s) more than once, resulting in unintended behavior.

### How can we reproduce the issue?

[code]

![registers2](https://user-im

[2021-12-25 11:27] #7439 closed

[2021-12-26 22:26] peendebak opened #7448 "marginal_counts does not act on memory field"
### Environment

- **Qiskit Terra version**:  0.20
- **Python version**:  3.8
- **Operating system**:  Windows 10

### What is happening?

The `marginal_counts` method acts on a `Result` by marginalizing the counts in the `ExperimentResultData` object. It does act on the `counts` field, but not in the `memory` field.

### How can we reproduce the issue?

A minimal example:
[code]
The results in th

[2021-12-27 22:48] andrenmelo opened #7449 "QuantumInstance.execute mutates circuit list when performing measurement error mitigation"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.9.7

### What is happening?

When using a `QuantumInstance` with `CompleteMeasFitter`, the circuits passed to `execute` are mutated on [this](https://github.com/Qiskit/qiskit-terra/blob/2db16853bf6d890e0ccf87509c5b88d198c81838/qiskit/utils/quantum_instance.py#L562)  line

[code]

This becomes problematic when e.g. using `N

[2021-12-28 01:50] ucyang commented on #7446
It would seem that we can resolve this issue by adding the `bits` parameter duplicates check routine into the constructor of the `qiskit.circuit.register.Register` class.

https://github.com/Qiskit/qiskit-terra/blob/9cc9225f249d3a895d9f3944175ea7b681d248c0/qiskit/circuit/register.py#L40-L126

Could I take this one?

[2021-12-28 03:08] learn2flask commented on #7446
By all means, and thank you!

On Tue, Dec 28, 2021, 03:50 Unchun Yang ***@***.***> wrote:

[2021-12-28 23:20] maxdp opened #7472 "Qubit identities get swapped"
### Informations

- **Qiskit version**: v0.33.1
- **Python version**: v3.8
- **Operating system**: On IBM-Q's cloud, in Firefox 91.4.1 on macOS 10.15.7

### What is the current behavior?

Qubit identities get swapped at the end of a circuit, in the absence of measurements, due to the transpiler. See here: https://quantumcomputing.stackexchange.com/questions/23458/qubit-identities-get-swapped-in-ib

[2021-12-29 08:06] yjt98765 commented on #7445
@learn2flask I have reproduced the error, but I disagree that it does not happen for `inplace=False`. For that case, I use the following code:
[code]
Note that when `inplace=False`, the function returns a new circuit instead of modifying `c`. Therefore, although `c` seems fine (because it is not modified), the result is still wrong.

The cause of this issue is that when a new circuit is constructe

[2021-12-29 11:24] learn2flask commented on #7445
Hi, you fixed it? That's great!
Funny, I remember the returned circuit didn't have a problem, but I trust
you :)

Cheers

On Wed, Dec 29, 2021, 10:06 Jintao YU ***@***.***> wrote:

[2021-12-29 16:51] ryan-woo opened #7451 "UnboundLocalError: local variable 'grid_data' referenced before assignment"
### Environment

- **Qiskit Terra version**: Custom fork, but I do see this error is possible in the main branch
- **Python version**: 3.8
- **Operating system**: MacOS

### What is happening?

[code]

### How can we reproduce the issue?

This is using a staging IQX backend which is only available to me.

### What should happen?

If the backend is not reporting some information then maybe a more h

[2021-12-29 20:02] dmiracle opened #7452 "qasm method fails on QuantumCircuit with delay element"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.12
- **Operating system**: osx

### What is happening?

When trying to return the QASM string from a `QuantumCircuit` with a `delay` element using the `qasm` method, qiskit returns `TypeError: 'NoneType' object is not iterable`.  I have included a simple example here and a couple more examples of working and non-working

[2021-12-29 23:44] 3yakuya opened #7465 "QASM does not error when unrecognized version is provided"
### Informations

- **OpenQASM version**: 2.0
- **Python version**: 3.6
- **Operating system**: Q Experience

### What is the current behavior?
Trying to start code with inexistent version, like `OPENQASM 10.1;` does not throw an error and appears to default to `2.0`. This can be misleading if user expects, for example, `3.0` to be live.

### Steps to reproduce the problem
In Qiskit code, create Q

[2021-12-30 02:23] Slangevar opened #7453 "Instruction for_loop not found in equivalence library and no rule found to expand"
### Environment

- **Qiskit Terra version**:  0.19.1
- **Python version**:  3.8.8
- **Operating system**:  Windows 11

### What is happening?

When I was trying to transpile the circuit containing "for_loop" to do some experiment, qiskit raised the following error

QiskitError: "Cannot unroll the circuit to the given basis, ['ccx', 'cp', 'cswap', 'csx', 'cu', 'cu1', 'cu2', 'cu3', 'cx', 'cy', 'cz',

[2021-12-30 11:35] peendebak opened #7454 "QPY serialization fails for custom gates"
### Environment

- **Qiskit Terra version**: 0.20
- **Python version**:  3.8
- **Operating system**:  Windows 10

### What is happening?

To support string parameters in gates I subclassed the qiskit `Gate`. Using this in circuits works fine, but not with the QPY serialization. The serialization with QPY works, but deserialization results in an error `CircuitError: "Invalid param type <class 'str'

[2021-12-31 22:32] MozammilQ opened #7455 "'_' makes matplotlib to render the following character as subscript"
### Environment

- **Qiskit Terra version**:  0.19.1
- **Python version**:  3.9.9
- **Operating system**: Linux(Fedora 34)

### What is happening?

The '_' in the name of QuantumRegister forces the following character to be rendered as subscript
In this example see the 'r' is rendered as a subscript.

![issue_01012022](https://user-images.githubusercontent.com/54737489/147839273-e1afa3b0-4b36-4cf5

[2022-01-01 04:01] enavarro51 commented on #7455
Thanks for spotting this. Actually the second case is incorrect as well. It should be q_reg<sub>0</sub>.
@javabster Can you assign this to me? Thanks.

[2022-01-01 15:08] MozammilQ commented on #7455
@enavarro51 , actually I was working on this, now, since you have asked for the permission. You go ahead with this and I tell you my recent progress in this:

Go to qiskit/visualization/matplotlib.py#L456
I changed this:
 words = [word.replace("_", r"\_") if word.count("_") > 1 else word for word in words]
to this:
 words = [word.replace("_", r"\_") if word.count("_") >= 1 else word for word in wo

[2022-01-01 17:00] enavarro51 commented on #7455
Thanks, @MozammilQ. I believe this is a bit of a deeper problem with register naming. We'll probably need to get some input from the IBM side for this. OpenQASM 3.0 says this about names.

"Names of gates, variables, and constants — In OpenQASM 2, the names of registers
and gates must begin with a lower-case alphabetic ASCII character. This constraint is
relaxed in OpenQASM 3: identifiers may now

[2022-01-01 17:39] MozammilQ commented on #7455
Oh Nice! I didn't know that the problem could be this deep, @enavarro51 thanks for sharing the information, you do have a deeper understanding of the problem :)

[2022-01-01 19:53] 3yakuya opened #7457 "Seaborn dependency causes tests to fail"
### Environment

- **Qiskit Terra version**:  0.19.1
- **Python version**:  3.8, 3.7
- **Operating system**:  Azure pipelines

### What is happening?

Seaborn dependency on distutils causes tests to fail with `DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.`

### How can we reproduce the issue?

Any new PRs to the Terra repo have failed checks with the

[2022-01-01 21:53] enavarro51 opened #7458 "User-entered register names can create invalid OpenQASM"
### Environment

- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is happening?

There is a regex check for proper register names in register.py, but it uses match instead of fullmatch, which means it really only checks that the first char is a lower-case alpha. This means a user can enter invalid OpenQASM register names.

It can also cause seve

[2022-01-02 09:45] yjt98765 commented on #7457
I can confirm this. It is a shame that there is no newer release of Seaborn.

[2022-01-02 13:15] MaxMinerva123 commented on #7420
Hey so I think I found the issue. The only problem is I have no idea why it works.
So, apparently, if you interchange the position of the qubits in qc.cx, it works.

that is, instead of qc.cx(0,1)
you type, qc.cx(1,0)

from qiskit import QuantumCircuit

from qiskit.visualization import plot_bloch_multivector
%matplotlib inline

qc = QuantumCircuit(2)
qc.h(0)
qc.cx(1, 0)

state = Statevector.from_i

[2022-01-02 15:02] ShellyGarion commented on #7441
@AlaricCheng - thank you very much for finding this bug and opening an issue.
I fixed it in PR #7460 , and added a test based on your example above.

[2022-01-02 15:26] gadial opened #7461 "plot_histogram fails when given number_to_keep parameter"
### Environment

- **Qiskit Terra version**: 0.19
- **Python version**: 3.8
- **Operating system**: Windows

### What is happening?

A `ValueError` is thrown when attempting to use the `number_to_keep` parameter in `plot_histogram`

### How can we reproduce the issue?

[code]

### What should happen?

The histogram should be plotted as expected. The behavior of `number_to_keep` when more than one

[2022-01-02 23:49] pat-phattharaporn commented on #7317
I tried this on my VQE circuit but it still raised that error. Any suggestion please? (here `ansatz_ = pm_dd.run(my_compiled_ansatz))`
<img width="758" alt="Screen Shot 2022-01-02 at 3 45 48 PM" src="https://user-images.githubusercontent.com/71392951/147892484-7d3eea26-902d-4ec1-bc00-01fed54e8d17.png">
This is the error:
<img width="999" alt="Screen Shot 2022-01-02 at 3 46 02 PM" src="https://user

[2022-01-04 07:56] mfaizan9 opened #7464 "KeyError while printing COUNTS of particular qubit"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

I apply X-gate to qubit-0
Then I measured it.
I simulate it on qasm_simulator with shots=1024
I plotted the histogram.
I printed counts

So, when I print  counts( ["1"] ), it gave me 1024
BUT when I printed counts counts( ["0"] ), it gave me "KEYERROR" instead of 0.

Kindly resolve t

[2022-01-04 09:15] jakelishman commented on #7464
This is by design right now; storing explicit zeroes for all possible measurement outcomes scales exponentially in the number of qubits, and overriding `__getitem__` makes lookups linear in the number of qubits at best.  If you want to manually wrap the output, see https://github.com/Qiskit/qiskit-terra/issues/6937#issuecomment-904001950.  If we do merge new behaviour for the class, it will probab

[2022-01-04 11:44] jakelishman commented on #7446
@ucyang: I've assigned this issue to do, please let us know if you have any questions.

[2022-01-04 11:46] jakelishman commented on #7458
I don't think we should require register names to be valid OpenQASM 2 identifiers; QASM is a separate thing, and OpenQASM 3 will make many more identifiers valid anyway, by expanding into various parts of Unicode.  The solution in #7157 is still appropriate, though; we can just require the exporter to escape any names that it outputs.

[2022-01-04 11:49] #7457 closed

[2022-01-04 12:07] jakelishman commented on #7420
This works because `h(0); cx(1, 0)` maps `|00>` to `|01>`, whereas the previous way maps `|00>` to `(|00> + |11>)/sqrt(2)`; swapping the operands of `cx` doesn't create an entangled state, and the issue is that you can't visualise entangled states using separate Bloch spheres.

[2022-01-04 13:03] MaxMinerva123 commented on #7420
Oh I see. I'm really new to Qiskit and Quantum Computing in general but yeah I didn't know swapping the operands of cx doesn't create an entangled state
Thanks!

[2022-01-04 13:36] learn2flask commented on #7446
Great, thanks!

On Tue, Jan 4, 2022, 13:44 Jake Lishman ***@***.***> wrote:

[2022-01-04 13:52] ironfrown commented on #7272
I had a similar problem with Qiskit Terra version: 0.19.1, Python 3.8.1 and matplotlib 3.5.1, which resulted in Qiskit crashing in "plot_state_qsphere" (again in Arrow3D object). The issue was resolved by updating matplotlib-inline to version 0.1.3 (from version 0.1.2).

[2022-01-04 13:57] #7420 closed

[2022-01-04 14:09] taalexander commented on #2402
I think this is a result of sugar methods for building up schedules - such as https://github.com/Qiskit/qiskit-terra/blob/ed83c9b7ac470a3229f98f658216b783a7aa57e5/qiskit/pulse/instructions/instruction.py#L180. While these are no longer the recommended way to build schedules, there is much code that relies on this. The fix may be to either ignore this cycle or perform dynamic imports in the methods

[2022-01-04 15:51] kevinsung commented on #2284
@ajavadia What is the reasoning behind not exposing things at the top level?

[2022-01-04 17:19] Cryoris opened #7470 "Family of iSwap gates"
### What should we add?

It would be nice to add variable iSwap gates instead of the fixed one we have right now. These could be used as the two-qubit interaction within ``qiskit.circuit.library.ExcitationPreserving`` and Qiskit/qiskit-nature#462.

The current iSwap is defined as
[code]
so the natural choice for a parameterized version would be just to replace `pi / 4` by an angle and keep the int

[2022-01-04 18:15] jakelishman commented on #2402
I'd vote to close the issue as stale here - the original module-level imports are gone, and the sugar methods Thomas linked do use the dynamic method-level imports.  As long as we support `pulse.Instruction.insert` and friends, there is a logical circular import which we can't avoid without doing something even worse (like monkey-patching the classes after they've been defined).

If we wanted to a

[2022-01-04 18:31] jakelishman commented on #7452
`delay` isn't a known instruction in QASM 2, and it's not defined in `qelib1.inc`, so we can't really just add it to the known gates list.  In principle, we could have some mechanism for declaring instructions with no definition as `opaque` in the output QASM, but I think we'd need to have `QuantumCircuit.qasm` accept a list of names that it should declare like that; it also wouldn't be great if w

[2022-01-04 18:35] kevinsung opened #7473 "Support gate exponentiation by ``Gate ** x`` instead of only ``Gate.power(x)``"
### What is the expected enhancement?

Exponentiating a gate using `**` should work. It can just call `gate.power`. For example, it's surprising that the following code raises an error:
[code]
[code]

[2022-01-04 18:44] kevinsung commented on #7470
I just realized now that gate exponentiation is indeed supported by qiskit. It was hard to discover because `gate**x` doesn't work, but gates have a `power` method defined (see #7473). So the parameterized family of iSwap gates you mention is already accessible. I think the method of exponentiating basic gates to access different interactions is a good general approach.

[2022-01-04 19:00] jakelishman commented on #7470
Using arbitrary matrix powers isn't necessarily ideal; doing so creates a `UnitaryGate`, which is essentially just a wrapper around a dense matrix, so it requires exponentiating arbitrary matrices which is a bit slow.  The transpiler then has to perform fairly costly unitary synthesis to turn it back into useful basis gates as well.  If there is a reasonable decomposition available (and here I'm s

[2022-01-04 19:04] kevinsung commented on #7470
I agree that we should override `power` in cases where it is easily computed. The general representation of a gate can simply be the base gate along with the exponent. For example, the initialization of `iSwapGate` takes an `exponent` argument which defaults to `1.0`.

[2022-01-04 19:14] dmiracle commented on #7452
Ok, thanks for the info. Might be useful to have an error that says something for instructions that aren't qasm but makes sense as is also.

[2022-01-04 19:14] #7452 closed

[2022-01-04 19:16] enavarro51 commented on #7458
Actually I was following this from `register.py`. It doesn't really work since it uses `match` instead of `fullmatch`. As long as the first char is lower alpha, it matches, so the rest can be anything. If we don't want to restrict register names, then this code should probably be removed. We'd still need to address the issue with the drawers.
[code]

[2022-01-04 19:17] jakelishman commented on #7470
I think defining this on top of iSwapGate is the wrong way around, but the principle is the same.  By analogy to rotation gates, I'd think the more natural choice for the "base" of the exponent is `exp(i (XX + YY))` in this case (what Julien suggested at the top, though maybe we'd want a factor of `1/sqrt(2)` here?), and then `base ** (np.pi / 4)` would be equivalent to the current iSwapGate.  In

[2022-01-04 19:44] kevinsung commented on #7470
I disagree that iSwapGate should be recovered by `base ** (np.pi / 4)`. The "exponent" and "rotation angle" are distinct concepts which differ by a factor that involves pi, so it is confusing to define the base in a way that attempts to merge the concepts. While arbitrary powers of gates are not commonly referenced in the quantum computing literature, it is common to see references to the square r

[2022-01-04 19:46] taalexander commented on #2402
+1

[2022-01-04 19:47] #2402 closed

[2022-01-04 19:58] taalexander commented on #5226
I am able to recreate the waveform with
[code]

![image](https://user-images.githubusercontent.com/1553846/148115491-0035c4a0-333e-4470-bc89-e3c2bc57660a.png)

There are two problems with the current documentation.
1. There is a bug in `risefall/2` -> `risefall`, `(risefall+width)/2` -> `(risefall+width)`.
2. The `GaussianSquare` is really a lifted gaussian square function which removes initial pu

[2022-01-04 20:37] mrvee-qC commented on #5226
Please go ahead with the updates @taalexander! :)

[2022-01-04 21:44] taalexander commented on #5226
On inspecting the latest docs, problem 1. has already been corrected.

![Screen Shot 2022-01-04 at 5 44 31 PM](https://user-images.githubusercontent.com/1553846/148127876-48b69eaa-1812-4d30-be42-7255a4056f92.png)

I will add a note about the pulse being lifted.

[2022-01-05 10:18] iuliazidaru commented on #7461
May I work on this issue?

[2022-01-05 11:07] jakelishman commented on #7461
Sure, I'll assign you, @iuliazidaru, thanks!

[2022-01-05 14:39] dlasecki opened #7480 "Implement Gibbs state preparation feature"
Gibbs state preparation will be used by Quantum Boltzmann Machines for example. It should include a variational variant using the variational quantum time evolution but also non-variational approaches.

[2022-01-05 15:12] iuliazidaru commented on #6692
This issue is related to #7461. I considered the case in https://github.com/Qiskit/qiskit-terra/pull/7481. Will check this specific case again.

[2022-01-05 15:29] iuliazidaru commented on #6692
After PR#&481 we get a good alignment:
![figure_after_PR_7481](https://user-images.githubusercontent.com/2863414/148243460-0c597d32-c5db-458f-9d2a-769eccd5c26b.jpeg)

Most common 5 items in the sets above:
<img width="707" alt="Screenshot 2022-01-05 at 17 26 38" src="https://user-images.githubusercontent.com/2863414/148243546-f2e1f1de-db0e-4f7c-a5a6-68d2e225018f.png">

[2022-01-05 16:39] drewrisinger commented on #7461
Seems to be same cause/symptom as #6692

[2022-01-05 17:04] nbronn commented on #7400
I think the interesting thing here is that Qiskit knows that the `YGate()` used in the DD sequence here corresponds to the `'y'` instruction I added to the `instruction_schedule_map` (as also in the error received in "How we can reproduce the issue?").

Of course that's correct that your choice of DD sequence is going to depend on the available gate set, and I think making a transpiler pass that c

[2022-01-06 01:58] ewinston opened #7485 "BasisTranslator, Decompose, BarrierBeforeFinalMeasurements, DAGFixedPoint using a lot of memory"
### What is the expected enhancement?

Running some transpiler passes for growing number circuit sizes  scales reasonably however in some cases the absolute value seems rather large. The circuits in this case are random circuits of equal width and depth.

Python's `tracemalloc` is used to track peak memory usage during the pass. BasisTranslator, Decmpose, and DAGFixedPoint seem to use around 1 GB

[2022-01-06 04:26] scsourav opened #7488 "AttributeError: 'Arrow3D' object has no attribute '_path2d' while plotting bloch vector"
I wrote the simple code

from qiskit.visualization import plot_bloch_vector
%matplotlib inline

plot_bloch_vector([0,1,0], title="New Bloch Sphere") taken from
https://qiskit.org/documentation/stubs/qiskit.visualization.plot_bloch_vector.html

I keep getting  AttributeError: 'Arrow3D' object has no attribute '_path2d' in my jupyter notebook.

I have {'qiskit-terra': '0.19.1', 'qiskit-aer': '0.10.1

[2022-01-06 06:06] ikkoham opened #7486 "Bound parameters is back under certain conditions in QuantumCircuit."
### Environment

- **Qiskit Terra version**: qiskit-terra': '0.20.0'
- **Python version**: 3.8
- **Operating system**: macOS

### What is happening?

If you decompose the parameterized quantum circuit with control and inverse, the parameters will be back.

### How can we reproduce the issue?

[code]

### What should happen?

The parameters of both circuits should be `new`.

### Any suggestions?

_

[2022-01-06 08:13] Cryoris commented on #7486
I think the problem is that the `ControlledGate` object inside `controlled` uses the `ControlledGate.base_gate` to reconstruct the inverse, but we don't propagate the parameter update down to `ControlledGate.base_gate`.

[code]

Hence to fix this, we would have to bind parameters also in the `base_gate` if we hit a `ControlledGate` in the `QuantumCircuit._assign_parameter` method.

[2022-01-06 10:37] jakelishman commented on #7488
I'm not surprised there's some sort of bug with slightly older Matplotlib versions - it's quite hard to write 3D code that works with several concurrent MPL versions, and MPL 3.5 caused us quite a few issues, so this bug probably crept in there.  As a temporary workaround, upgrading to Matplotlib 3.5 _should_ make everything work.

That said, I can't seem to reproduce this failure with the Qiskit

[2022-01-06 17:44] tinyRickk opened #7491 "Pauli_op for I^Z or Z^I combination"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

`(Z^I).to_circuit().to_gate().control(3)` or `(I^Z).to_circuit().to_gate().control(3)`
produces an error :
QiskitError: "Error decomposing node of instruction 'id': 'NoneType' object has no attribute 'global_phase'. Unable to define instruction 'id' in the given basis."

whereas any

[2022-01-06 19:29] woodsp-ibm commented on #7486
Coincidentally I have been working with someone this week who had come across, what I think is the same issue, when using the machine learning SVC and QuantumKernel. They had created a controlled ZZfeatureMap and used that as the feature map for the kernel. That fails when running the SVC with a message about "par_y" not being found when binding. These happen to be the parameters of the inverse pa

[2022-01-06 19:33] ajavadia commented on #7470
I just remembered that we recently added the XYGate. This is basically the same thing. A rotation about the XX+YY axis is typically called an XY gate in the literature (see https://arxiv.org/pdf/1912.04424.pdf) - though I don't love the name.

But I think there is nothing else to be added here, right?

It would be nice to override the iSwapGate.power() method so that it gives an XY gate, rather th

[2022-01-07 01:46] maxdp commented on #7472
I think you've misunderstood:

This is exactly the bug I'm reporting! I am inputting a circuit equivalent to a permutation, but the transpiler is changing it to a single swap. The way it is doing this relies on measurements. In my first bug-free example it performs measurements out of order, which in combination with the gates is equivalent to a permutation. In my second buggy example no measureme

[2022-01-07 02:51] #7491 closed

[2022-01-07 07:13] MubasharK commented on #4228
Hello!
I want to ask two questions. First, what is a precision of an arrays representing a quantum state which has been evolved via quantum circuit in Qiskit. Second, the command array to latex does not output all entries of an array instead it displays few entries with ellipses in between them.  How can we get complete array with precision 10^{-14} (say)?

[2022-01-07 07:21] MubasharK opened #7495 "How to get all entries of an array via array to latex, in Qiskit, with precision upto 14 decimal places"
### What should we add?

I want to ask two questions as I could not find answer to them on this forum and elsewhere. First, what is a precision of an array representing a quantum state which has been evolved via quantum circuit in Qiskit. Second, the command array to latex does not output all entries of the array instead it displays few entries with ellipses in between them.  How can we get comple

[2022-01-07 11:19] frankharkins commented on #7495
@MubasharK
- To get 14 decimal places of precision, you can pass the argument `precision=14`
- To output more entries, you can set `max_size` to some value that's greater than, or equal to, your array size. If your array is a numpy array, you can set it to that array's `.shape`.
[code]
You can read about this and other features in the [docs](https://qiskit.org/documentation/stubs/qiskit.visualizat

[2022-01-07 11:21] frankharkins commented on #4228
@MubasharK good questions, I've responded in your issue [here](https://github.com/Qiskit/qiskit-terra/issues/7495).

[2022-01-07 14:46] MubasharK commented on #7495
Thank you Frank Harkins!
Please see the below file. The output of block 4 and 5 is my concern. With including precision=14 in the command array_to_latex one issue has been resolved. But, not all entries of the output array are explicitly listed. The state (array) is initialized using
from qiskit.quantum_info import Statevector
state = Statevector.from_int(0, 2**7)
state = state.evolve(qc)
#draw us

[2022-01-07 18:06] mtreinish opened #7498 "DEBUG log messages emitted on imports"
### Environment

- **Qiskit Terra version**: main (but previous release likely also have the issues
- **Python version**:  3.10
- **Operating system**:  Linux

### What is happening?

When importing some modules, including the root `qiskit` namespace, `DEBUG` log messages get emitted. For example

`import qiskit` emits:

[code]

and `import qiskit.test` emits:

[code]

### How can we reproduce the

[2022-01-07 18:46] evmckinney9 opened #7499 "ConfigurableFakeBackend needs support for FakeBackendV2"
### What is the expected enhancement?

The ConfigurableFakeBackend factory is a useful way to generate backends but should instantiate FakeBackendV2 now to be used with new target aware transpilation. I think it would be appropriate to add to /test/mock/utils a new file configurable_backend_v2.py that accomplishes this.

[2022-01-07 19:30] lfenster commented on #7488
Im also seeing this error just following the basic tutorials (https://github.com/Qiskit/qiskit-tutorials/blob/master/tutorials/circuits/2_plotting_data_in_qiskit.ipynb).  I can confirm that I am on matplotlib 3.4.3 and qiskit.terra 0.19.1.    Just running the code in the tutorial mentioned above returns the errors below when trying plot the bloch sphere or use the q sphere function (both provide s

[2022-01-07 19:40] lfenster commented on #7488
Just upgraded to matplotlib 3.5 and it now works!

[2022-01-07 21:32] mtreinish opened #7500 "Fake Backends don't pass options to underlying simulator"
### Environment

- **Qiskit Terra version**: 0.19.x (and main)
- **Python version**: 3.10
- **Operating system**: linux

### What is happening?

The options object from in the fake backends don't get passed down to the underlying simulator.
### How can we reproduce the issue?

[code]

### What should happen?

100 should print not 1024

### Any suggestions?

In the `run()` method defined in https:/

[2022-01-08 06:44] bopardikarsoham commented on #7500
I would like to work on this issue @mtreinish

[2022-01-08 13:21] pawmasz opened #7502 "Overloading `@` for `Operator` class"
### What should we add?

## Proposition

Overloading the `@` operator for class `qiskit.quantum_info.operators.Operator` ([documentation](https://qiskit.org/documentation/stubs/qiskit.quantum_info.Operator.html?highlight=operator#qiskit.quantum_info.Operator)) so it works the same as `Operator.compose()` method. The same behavior is done with class `qiskit.opflow.operator_base.OperatorBase` ([docu

[2022-01-08 17:28] jwoehr opened #7503 "Matplotlib plots of Grover broken locally and on IBM Q Experience"
### Environment

_On local machine__
- **Qiskit Terra version**:  {'qiskit-terra': '0.19.1', 'qiskit-aer': '0.9.1', 'qiskit-ignis': '0.7.0', 'qiskit-ibmq-provider': '0.18.2', 'qiskit-aqua': '0.9.5', 'qiskit': '0.33.1', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': None, 'qiskit-machine-learning': None}
- **Python version**:  3.9.7
- **Operating system**:  NAME="Pop!_OS"
VER

[2022-01-08 20:59] HatedFate opened #7504 "Unable to import qiskit.ml and other packages"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

I am trying to build a quantum support vector machine by going through qiskit machine learning tutorial. I came across several issues involving importing qiskit.ml and qiskit.aqua. I tried to do `pip3 install qiskit[all]` using the anaconda terminal within my environment. I opened up

[2022-01-09 07:58] bopardikarsoham commented on #7504
1) Try using the updated documentation of Qiskit.
2)  The command qiskit.ml.datasets has now changed to qiskit_machine_learning.datasets
3) Qiskit Aqua library has been deprecated now, use the Qiskit Machine Learning library now

[2022-01-09 08:06] bopardikarsoham commented on #7504
I see you found the Quantum Support Vector Machine tutorial here: https://qiskit.org/documentation/stable/0.24/tutorials/machine_learning/01_qsvm_classification.html. However, as you can see, this is the 0.24.1 Qiskit documentation, which is very old. Instead, use this: https://qiskit.org/documentation/machine-learning/tutorials/index.html, which is the most recent(0.34.1) Quantum Machine Learning

[2022-01-09 16:16] enavarro51 commented on #7503
I believe this is the result of #6634. You can get the detail back by doing
[code]

[2022-01-09 21:29] jwoehr commented on #7503
Thanks @enavarro51 ... I think IBM Q Experience does not have a public repo? So I wonder how to file an issue or PR to fix the slightly misleading tutorial.

[2022-01-09 22:33] jwoehr commented on #7503
@enavarro51 found the tutorials.
Sumbitted [this PR](https://github.com/Qiskit/qiskit-tutorials/pull/1259), thanks for your help.

[2022-01-10 01:00] HatedFate commented on #7504
Thanks for letting me know.

[2022-01-10 01:00] #7504 closed

[2022-01-10 02:11] kevinsung opened #7506 "transpiled circuit should store qubits actually used instead of all qubits"
### What is the expected enhancement?

Currently, if you call `qiskit.transpile(circuit, backend=backend)`, the returned circuit will have its `qubits` property set to all of the qubits of the backend. Instead, I think it should contain only the qubits actually being used. This is very useful information, but as far as I can tell (please correct me if I am mistaken) it is currently inaccessible. E

[2022-01-10 11:12] hu-milize commented on #7503
thank you both very much!

[2022-01-10 11:28] HuangJunye commented on #7023
Should this issue be closed since it's fixed by #7163?

[2022-01-10 11:32] HuangJunye commented on #7391
I am interested in working on this issue. @mtreinish Can you elaborate what's needed to be done here?

[2022-01-10 12:46] mtreinish commented on #7391
It's basically to add a new base class similar to the current 3 built with backendV1 (https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/test/mock/fake_backend.py#L47 https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/test/mock/fake_qasm_backend.py#L29 and https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/test/mock/fake_pulse_backend.py#L23) that is built using the backendv2 interf

[2022-01-10 13:58] HuangJunye commented on #7391
Thanks for the explanations. This sounds easy enough for me to tackle. If this is not too urgent, I can try get it done by the end of Jan. Please assign me to the issue.

[2022-01-10 14:08] jakelishman commented on #7472
Ok, I thought that was a mistake, because can't reproduce the behaviour you're describing using your code on either Santiago or Lima after 100,000 different seeds. I reliably always get both swaps if a barrier is there, and no operations at all if not (which is expected).  You said that it's seed-dependent - could you provide a seed which shows the behaviour in your link?

[2022-01-10 15:33] Cryoris opened #7507 "``qiskit.synthesis.MatrixExponential`` breaks if evolution time is a bound ``Parameter``"
### Environment

- **Qiskit Terra version**: 0.19.0
- **Python version**: 3.7.9
- **Operating system**: mac OS

### What is happening?

Using the `PauliEvolutionGate` with a parameterized time and the `MatrixExponential` as synthesis method breaks. The reason is that the evolution time, after being bound, is not cast to a float but remains a `ParameterExpression` with 0 free parameters. That type

[2022-01-10 17:40] nonhermitian opened #7509 "CouplingMap.from_heavy_hex fails for a distance=1"
### Environment

- **Qiskit Terra version**:  latest
- **Python version**:
- **Operating system**:

### What is happening?

[code]

gives

---------------------------------------------------------------------------
PanicException                            Traceback (most recent call last)
<ipython-input-16-9876ddfdb465> in <module>
----> 1 cmap = CouplingMap.from_heavy_hex(1, bidirectional=False)

[2022-01-10 17:46] edyounis commented on #5202
I can't speak for the Qiskit team, but I think the PR has been abandoned. QFAST has since been implemented inside of BQSKit, which is available on [GitHub](https://github.com/BQSKit/bqskit/). There is also a tutorial on how to use QFAST and other BQSKit synthesis and optimization tools [here](https://github.com/BQSKit/bqskit-qce-tutorial).

Qiskit has created a synthesis plugin mechanism, and @mtr

[2022-01-10 17:58] mtreinish commented on #7509
This is a bug in retworkx (I reported it here a few months ago: https://github.com/Qiskit/retworkx/issues/452 ). It's been fixed on main (with: https://github.com/Qiskit/retworkx/pull/453 ) but there hasn't been a retworkx release in a few months. We're preparing to get one out hopefully in the next week (https://github.com/Qiskit/retworkx/milestone/7 is tracking it). Once retworkx 0.11 goes out t

[2022-01-10 21:25] wagnersj opened #7511 "Error in documentation for QuantumCircuit.rz()"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.10
- **Operating system**: n/a

### What is happening?

Documentation description of `QuantumCircuit.rz()` says "Apply `RYGate`". Should be "Apply `RZGate`".

### How can we reproduce the issue?

n/a

### What should happen?

Change documentation to "Apply `RZGate`".

### Any suggestions?

_No response_

[2022-01-10 21:35] nonhermitian commented on #7509
Ahh, ok it looks like this is fairly well known then.  Will close as it fixed.  Thanks for the quick reply.

[2022-01-10 21:35] #7509 closed

[2022-01-10 22:49] maxdp commented on #7472
The problem is not the barrier. It's that absence of measurement creates an incorrect circuit. Have you tried not including a measurement before transpiling?

In my use case, I'd like to transpile a circuit without measurement, then repeat it, then measure at the end. This is often important to get the most gate-efficient circuit. But this sans-measurement bug makes this impossible.

Here's code t

[2022-01-11 01:03] learn2flask opened #7512 "Statevector.draw('qsphere') does not properly color phase"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**: 3.8.10
- **Operating system**: Win11x64 (running on IBM's JypyterLab using FireFox)

### What is happening?

At certain circumstances, Statevector.draw('qsphere') does not color the arrow-ball according to the resulting phase.
However, at other circumstances, it does.

### How can we reproduce the issue?

[code]
This wrongly

[2022-01-11 02:06] learn2flask opened #7513 "Statevector.draw('latex') can't handle near zero numbers"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**:  3.8.10
- **Operating system**: win11x64

### What is happening?

Performing Statevector.draw('latex') on a statevector that includes numbers which are near zero, results in bad output.

### How can we reproduce the issue?

A sample CSWAP-test circuit:

[code]

evolution of a sample input statevector according to the CSWAP-T

[2022-01-11 02:47] learn2flask opened #7514 "Consolidation of qiskit and Quantum Composer visualizations"
### What is the expected enhancement?

I'm not sure where this issue should go. If it's the wrong place to post it please direct me to the right one. Thanks!

Since both qiskit and Quantum Composer are stemming "from the same place", it would be nice to get a consolidation of visualizations/behavior. I currently see 2 issues:

1. qsphere phase color indication. The phase colors in both Statevector

[2022-01-11 07:53] #7511 closed

[2022-01-11 08:01] Cryoris commented on #7506
As the transpiler maps your logical circuit qubits to physical device qubit it contains all the qubits of the target device. If you want to know which qubits are not being used you can do the following:
[code]

[2022-01-11 11:44] jakelishman commented on #7506
In theory, the information is already in `QuantumCircuit` after transpilation, but it's in the internal `_layout` property.  You can see it if you use `QuantumCircuit.draw()` after transpilation - the extra qubits will be in a register called `ancilla`.  It's possible we could increase access to this information, without too much cost.

Changing the value of `QuantumCircuit.qubits` is a very large

[2022-01-11 11:50] HuangJunye commented on #5202
Thanks for the reply and providing the additional information. In this case, should we close the issue and the PR #5573?

[2022-01-11 11:51] jakelishman commented on #7512
The top image isn't _wrong_, per se, it's just fixed the global phase to 0 - it's showing the same state.  I'm not 100% sure why, but it was definitely a design choice: https://github.com/Qiskit/qiskit-terra/blob/5ea6e9557655b144228c29d7099375f5d2c91120/qiskit/visualization/state_visualization.py#L824-L827

[2022-01-11 11:52] #5202 closed

[2022-01-11 12:25] javabster commented on #2944
re-opened due to comment in #7192 indicating this issue may still be relevant 😄

[2022-01-11 12:25] sodoherty-ai commented on #7488
Using Python 3.8 and Matplotlib 3.5.1 on MBP M1 Max. I still get the error.

[2022-01-11 12:44] frankharkins opened #7516 "Ket convention statevector drawer ignores max_size"
### Environment

- **Qiskit Terra version**: 0.34.0
- **Python version**: 3.9.8
- **Operating system**: OSX

### What is happening?

Currently, `Statevector.draw('latex')` ignores the `max_size` parameter.

### How can we reproduce the issue?

[code]
<img width="906" alt="Screenshot 2022-01-11 at 12 41 42" src="https://user-images.githubusercontent.com/36071638/148944414-c982f2cc-eb9f-4ab9-a66a-98

[2022-01-11 12:46] frankharkins commented on #7495
Replace:
[code]
Looks like the ket convention drawer is ignoring max size, I've added a bug report for this (https://github.com/Qiskit/qiskit-terra/issues/7516). Once fixed, I think you should be able to do `state.draw('latex', max_size=2**7)` to get what you want.

[2022-01-11 13:02] frankharkins commented on #7234
@deeksha-singh030 are you still working on this?

[2022-01-11 13:03] frankharkins commented on #7513
Can you assign me please?

[2022-01-11 13:04] kevinsung commented on #7506
@Cryoris I want to know not only which qubits are used, but how they correspond to the original (logical) qubits. In my proposal, the ordering of the qubits on the transpiled circuit would match the ordering of the original qubits.

@jakelishman Thanks, but sometimes the `_layout` property is set to `None` (e.g. sometimes when no backend is specified) and it's not clear exactly when that happens,

[2022-01-11 13:04] frankharkins commented on #7516
Happy to look at this properly, can you assign me please?

[2022-01-11 13:10] jakelishman commented on #7506
`_layout` is set if you're transpiled the circuit to a backend with a layout, and it isn't set if not.  It should be invariably not `None` in any situation where logical qubits are mapped to physical ones.

If we do want to add it, I'd expect we'd add a public function to read the data from the internal `_layout`, rather than an attribute - it's better to have it computed on demand for those that

[2022-01-11 13:13] jakelishman commented on #7488
Thanks @lfenster: with the extra output, I can see why I was never able to reproduce the failures locally - I only develop in terminal IPython, but the issue actually comes in when Jupyter tries to cut out the whitespace around the issues.  A minimal reproducer of the bug:
[code]

@sodoherty-ai: what version of Qiskit Terra are you using?

[2022-01-11 13:53] learn2flask commented on #7513
Thank you!

[2022-01-11 14:25] oevers commented on #7488
When I try to upgrade matplotlib in my conda environment I get some inconsistencies:

[2022-01-11 15:24] sodoherty-ai commented on #7488
qiskit-0.34.1 qiskit-aer-0.10.2

[2022-01-11 15:30] jakelishman commented on #7488
@sodoherty-ai: I can't reproduce the error with Matplotlib 3.5 and those packages.  What exactly are you doing to get an error, and can you check what you get when you do
[code]

[2022-01-11 15:43] sodoherty-ai commented on #7488
`{'qiskit-terra': '0.19.1', 'qiskit-aer': '0.10.2', 'qiskit-ignis': '0.7.0', 'qiskit-ibmq-provider': '0.18.3', 'qiskit-aqua': None, 'qiskit': '0.34.1', 'qiskit-nature': None, 'qiskit-finance': None, 'qiskit-optimization': '0.3.0', 'qiskit-machine-learning': '0.3.0'}
`
To reproduce.

[code]

[2022-01-11 16:02] deeksha-singh030 commented on #7234
@frankharkins I've made the required changes as suggested by @dbiersach in the issue. Please take a look on it.
 Sorry for being so late. I was trying to do this after installing qiskit-terra from source and I'm still not able to do it from source.  It would be very helpful if you could help me how to work on issues from source.

[2022-01-11 16:54] TheGupta2012 commented on #7386
Hey @ajavadia, I was a bit new to Transpiler optimization but would love to work on this issue. Is there any good starting point to learn how CX cancellation works, before diving into the code?

[2022-01-11 17:02] learn2flask commented on #7512
Thanks for your reply and code verification Jake!
I think it's a weird choice (losing information...), especially when composer doesn't
(I guess I will add it to [here](https://github.com/Qiskit/qiskit-terra/issues/7514)).

In any case, how about adding a remove/keep global phase parameter with a default?
No harm done and more power gained.

[2022-01-11 19:14] sodoherty-ai commented on #7488
If it helps `_path2d` is set in the following methods.

`.. lib/python3.8/site-packages/mpl_toolkits/mplot3d/art3d.py`

* `Patch3D.do_3d_projection()`
* `PathPatch3D.do_3d_projection()`

Neither are hit in code above. Both have the following.

`@_api.delete_parameter('3.4', 'renderer')`

[2022-01-11 19:18] jakelishman commented on #7488
Can you provide the traceback of the error?

`do_3d_projection` _should_ be being hit if you're using MPL 3.5, but it won't be if you're in MPL 3.4 - it's used as part of some internal code that sorts the artists (for some reason).  The decorator you've mentioned doesn't affect things - if it's triggered, it'd just show you a warning.

[2022-01-11 19:19] sodoherty-ai commented on #7488
[code]

[2022-01-11 19:23] lfenster commented on #7488
thats similar to the stack i originally saw; however, i know that _path2d was not in art3d,py until i upgraded to MPL 3.5 (I looked for the same thing).  @sodoherty-ai , you restarted the kernel after upgrading MPL?

[2022-01-11 19:24] jakelishman commented on #7488
Yeah, I think something has gone slightly wrong with your Python environment - that traceback is consistent with anything in the Matplotlib 3.4 series, and inconsistent with the 3.5 series.

[2022-01-11 19:24] sodoherty-ai commented on #7488
So this is interesting. I did the following.

[code]

But if I do a upgrade it says requirements are already met and version is `3.5.1`.

[2022-01-11 19:28] sodoherty-ai commented on #7488
@jakelishman. Solved for me.

Somehow I had two versions of matplotlib installed at the same time. I did the following to fix.

[code]

First deleted the 3.5.1. The second deleted the 3.4.3.  The `--upgrade` is probably redundant.

[2022-01-11 19:28] lfenster commented on #7488
do you have multiple versions of python installed?  I do and I know I had to make sure I updated each version.  FWIW, I used `pip install -U matplotlib` to update (in case that helps)

[2022-01-11 21:54] #7488 closed

[2022-01-11 22:06] learn2flask commented on #7512
Jake, I went snooping into the code thinking I will just add a parameter. Seems the issue lies deeper...
If you remark those 3 lines of code the global phase will still be removed!
Apparently, the "state" which arrives to this function is already stripped of phase.
Going deeper into the call trace, I find that in line 766 the state is first converted into a density matrix:
[code]
which intrinsical

[2022-01-12 05:44] bopardikarsoham opened #7521 "Code Error in Release Notes 0.34.1"
### Environment

- **Qiskit Terra version**:
- **Python version**:
- **Operating system**:

### What is happening?

![FakeMumbaiErrorQiskit](https://user-images.githubusercontent.com/77266161/149069896-6717b780-08b6-4a05-bd47-fbb3f10c1ce7.jpg)

There is an error in line number 4 of this code block.

### How can we reproduce the issue?

Instead of `circuit= QuantumCircuit(2)` it should be `qc = Qua

[2022-01-12 09:43] eliarbel commented on #4700
@ajavadia I think that quantum circuit white listing should eventually be based on the `Operation` class, i.e. `QuantumCircuit` can only append objects of classes derived from `Operation`

[2022-01-12 15:21] Cryoris commented on #5713
I'm going ahead and close this since I don't think it exists anymore. @MariaSapova feel free to re-open if you still encounter it!

Below is a minimal example to check there are no automatic parameter bounds.
[code]

[2022-01-12 21:30] AshwinKul28 commented on #7473
HI @kevinsung,

In the above issue, you're trying to invoke `**` or exponential function directly on the NumPy array. It doesn't matter even if you pass int, float or bigint it will throw an error.

for example, Below snippet is also throwing an error.
<img width="968" alt="Screenshot 2022-01-13 at 2 58 38 AM" src="https://user-images.githubusercontent.com/19169648/149224129-33d8f87f-81e3-4f49-845

[2022-01-12 22:28] dmkunsman commented on #7473
Should this be closed?

[2022-01-12 23:25] kevinsung commented on #7473
This can be done by implementing the `__pow__` magic method. Ints should be supported too.

[2022-01-13 09:25] anedumla commented on #7398
I am not the right person to ask about this, maybe @eggerdj knows.

[2022-01-13 12:14] eggerdj commented on #7398
16 is indeed specific to IBM hardware. Other hardware may use different multiples. We should avoid hard-coding multiples of 16, instead this should come from a configuration.

[2022-01-13 12:51] jakelishman commented on #7498
For the record, I imported every single component of Terra, and this is the full set of log messages:
[code]
[code]

I think the `qiskit.compiler.assembler` messages are coming from outside Terra (they appear when the version table is loaded, which loads up the other modules), but I didn't check too deeply where.

[2022-01-13 17:34] #7455 closed

[2022-01-13 18:53] mtreinish commented on #7498
The test one is something we should just get rid of it's parsing a weird environment variable that sets key value pairs as a single string. Those aren't really used anywhere anymore (except for the caveats related to #862 and something else might be using it) except for the slow test execution piece.

The assembler calls are probably from aer on import. It runs some circuits to determine the capab

[2022-01-13 18:54] mtreinish commented on #7498
The synthesis log message is being caused by this global: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/quantum_info/synthesis/two_qubit_decompose.py#L1405 which gets used by most of the transpiler and is part of the default set of what gets pulled in on `import qiskit`.

[2022-01-13 20:57] mtreinish opened #7528 "Performance regression caused by #7087"
### Environment

- **Qiskit Terra version**: main (after https://github.com/Qiskit/qiskit-terra/commit/05b60a5e50ff0a6979f0a7bee1408bd32c9be23c )
- **Python version**: 3.8
- **Operating system**: linux

### What is happening?

The nightly benchmark runs have flagged several run time performance regressions after #7087 merged:

- https://qiskit.github.io/qiskit/#passes.MultiQBlockPassBenchmarks.tim

[2022-01-13 22:01] kevinsung commented on #7470
@ajavadia Thanks for telling me about XYGate. I have closed https://github.com/Qiskit/qiskit-nature/pull/462 because indeed, no new gate needs to be added.

We should still override the power method of iSwap gate (and others, for that matter) so that the resulting gate stays of the same type.

[2022-01-13 23:34] epelofske-LANL commented on #6996
This appears to be a problem with the order of the specified initial layout. My fix for this is to randomly shuffle the initial layout:
[code]
Eventually this method works after a few tries.

[2022-01-13 23:34] #6996 closed

[2022-01-14 00:17] born-2learn commented on #5275
I'll work on this, thanks!

[2022-01-14 11:37] #7234 closed

[2022-01-14 12:23] jakelishman commented on #7458
Oh, my mistake sorry - I didn't realise that we were already restricting the names on creation.  If it were up to me, I'd remove that provision entirely and have the QASM exporters handle escaping register names, but since we've got it for now, I think improving the verification would be better, rather than escaping the names.  If we escape the names, you'd get more confusing errors, where say `my

[2022-01-14 14:22] #7446 closed

[2022-01-14 15:39] enavarro51 commented on #7458
I think these are the issues.
- Register name restriction doesn't work as is.
- If we restrict names now, some existing circuits may not work. Can do deprecation.
- If we leave unrestricted, some names can crash the mpl and latex drawers, won't work for qasm, but will work otherwise.
- As far as escaping is concerned, I think that should be left to the exporter level.

So I think this just needs a

[2022-01-14 19:49] kevinsung commented on #7470
Should we make iSwapGate a subclass of XYGate?

[2022-01-14 23:45] #6830 closed

[2022-01-16 17:58] adamb56789 commented on #7385
I was able to fix this by updating numpy from 1.21.2 to the latest at the time, 1.21.5. I have no idea why that worked. Thanks for your suggestions.

[2022-01-16 17:58] #7385 closed

[2022-01-17 12:41] alexanderivrii commented on #7528
After a bit of experimenting with the first problematic testcase (`passes.MultiQBlockPassBenchmarks.time_collect_multiq_block`), we see the following (we = Shelly, Eli and myself):
* The slowdown seems to be due to inheriting Operation from ABC: `class Operation(ABC): ...`; changing this to `class Operation: ...` removes the slowdown.
* The above is due to many `__instancecheck__` calls within ABC

[2022-01-17 12:53] jakelishman commented on #7528
The `__instancecheck__` mechanism of `ABCMeta` is to allow a registration method for classes that don't actually inherit from the defined type, like the generic types in `typing` (`dict` appears to be an instance of `typing.MutableMapping`, for example, even though it doesn't inherit from it).  This is why `isinstance` is slowed on ABCs than other things.

We can't give up `isinstance`; it's the c

[2022-01-17 13:02] eliarbel commented on #7528
For topological ordering, can we eventually get rid of using `isinstance` to derive the ordering labels by relying on proper polymorphism instead ? i.e. if all circuit elements derive from `Operation`,  we can think of a polymorphic method that returns some ID info which can be leveraged by many algorithms. Though run-time type resolution is very common in Python for functional purposes (e.g. not

[2022-01-17 13:29] mtreinish commented on #7528
For topological sort we shouldn't be relying on isinstance anywhere. For the lexicographical topological sort we do the tie breaking string sort key is `str(qargs)` and the rest of the sort should be isolated to retworkx internals. The place where we use isinstance more is filtering over the sorted nodes to get only gates, which we need to do to find the ordered subset of operations in the circuit

[2022-01-17 13:32] jakelishman commented on #7528
The sort key here is specific to `CollectMultiQBlocks`; it's not the default sort key for `DAGCircuit.topological_sort`, which does use object polymorphism (sort of) by accessing `x.sort_key`.

[2022-01-17 14:07] eliarbel commented on #7528
So it seems we should live `ABC` as a base class for `Operation` and treat the performance degradation either in `collect_key`. @jakelishman what do you mean having a `Gate` interface instead of a `gate` Boolean, without using `isinstance` ?

[2022-01-17 14:21] jakelishman commented on #7528
I think you've misunderstood me here - I think the best way to treat the performance is to change the base class of `Operation` to use a metaclass that has the original versions of `__instancecheck__` and `__subclasscheck__` that avoids the `ABC.register` overhead checking.  I also think the usage of `isinstance(x, Gate)` is appropriate in this key function; it needs to find out if a particular ci

[2022-01-17 15:27] rootEnginear opened #7532 "Classical conditions misalign in both ASCII and MPL output"
### Environment

- **Qiskit Terra version**: 0.19.1
- **Python version**:  3.7.12
- **Operating system**: Ubuntu 18.04.5 LTS (Google Colab)

### What is happening?

I was testing my automatic code generation for Qiskit, and apparently the ~cphase~ controlled U1 gate with a classical condition will make the circuit misaligns in both of ASCII output and MPL output.

Screenshots:
[code]

![image](htt

[2022-01-17 15:49] jakelishman commented on #7532
There is special handling in each of the drawers for certain names in `ControlledGate`, so it's likely that the bug comes in there somewhere.  Notably, `u1` and `p` are handled specially, but `u2` is not; this seems to match with the output images up top.

For ease, a more minimal reproducer:
[code]
[code]

[2022-01-17 15:58] TheGupta2012 commented on #7454
Can I have a go at this issue?

[2022-01-18 01:32] ajavadia commented on #7470
I agree

I'm not sure, what is the advantage? Our gates don't currently have a lot of deep structure to them (i.e. RX/RZ/RY could all be UGate, but they are not).

[2022-01-18 12:48] IMPranshu commented on #7206
Hello @kazouini98. Are you still working on it? I will be happy to help you.

[2022-01-18 13:06] Cryoris commented on #7366
This is a strange behavior indeed! But it doesn't seem to be related to the `PhaseOracle` itself. Here is a more minimal example to recreate the same bug
[code]

[2022-01-18 13:17] jakelishman opened #7534 "Documentation build fails with Python 3.9"
### Environment

- **Qiskit Terra version**: 0.20.0.dev @ b66030e
- **Python version**: 3.9
- **Operating system**: mac

### What is happening?

The documentation build fails when run on Python 3.9, due to failed forward references caused when the imported type alias `pulse.schedule.ScheduleComponent` is imported into `assemble.assemble_schedules`.  `ScheduleComponent` forward references `Schedule

[2022-01-18 13:33] jakelishman commented on #7534
Note that while it only throws an error on Python 3.9, this is actually buggy behaviour in all versions: the current documentation has unresolved `ForwardRef` instances in the documentation of [`qiskit.assembler.assemble_schedules`](https://qiskit.org/documentation/stubs/qiskit.assembler.assemble_schedules.html):

<img width="708" alt="Screenshot 2022-01-18 at 13 32 45" src="https://user-images.gi

[2022-01-18 13:51] jakelishman commented on #7534
Imported forward references are actually just quite fragile.  The issue (if we can call it that) starts in the standard library, not `sphinx-autodoc-typehints`, although there's a chance the Sphinx extension could ameliorate the problem a little.  `typing.ForwardRef` has a field for its resolved form so each reference is only resolved once (`Union` promotes strings to `ForwardRef` on creation), bu